.head-img{width: 100%;height: auto;}
.head-img img{width: 100%;height: auto;}
article{background: #fff0e9;}
.limit-content{width:94%;height:4.85rem;margin: 0 auto;margin-top:0.1rem;box-shadow: 0 0 5px 0 #ccc;border-radius: 6px;background: #fffaf7; overflow: hidden;}
.get-voucher{width: 94%;height:1.91rem;margin:0 auto;margin-top:0.09rem;padding:0.25rem 0;border:2px solid #fce2d4;border-radius: 6px;box-sizing: border-box;background: #fff;}
.get-voucher p{text-align: center;}
.voucher-title{font-size: 0.23rem;line-height: 0.23rem;color: #e53d22;}
.voucher-requirement{font-size: 0.15rem;line-height: 0.15rem;margin-top: 0.125rem;color: #333;}
.voucher-btn{width: 1.94rem;height: 0.4rem;margin: 0.2rem auto;background: #e53d22;line-height: 0.4rem;font-size: 0.17rem;color: #fff;border-radius: 6px;}
.voucher-tip{font-size: 0.12rem;color: #333;line-height: 0.12rem;}
.zx-privilege{font-size: 0.17rem;line-height: 0.17rem;text-align: center;color: #e53d22;margin-top: 0.2rem;margin-bottom: 0.09rem;}
.zx-list-box{width: 94%;height: 2.54rem;margin: 0 auto;overflow: hidden;}
.zx-list-img{width: 3.55rem;height: 3rem;}
.zx-item-img{width: 1.38rem;float: left;padding-right: 0.06rem;padding-top: 0.06rem;}
.zx-item-img img{width: 100%;}
.limit-content1{width: 94%;height: 1.99rem;margin: 0.15rem auto;box-shadow: 0 0 5px 0 #ccc;border-radius: 6px;background: #fffaf7;text-align: center;overflow: hidden;}
.more-active{width: 94%;margin: 0 auto;overflow: hidden;}
.get-voucher-after{font-size: 0.17rem;line-height: 0.17rem;color: #e53d22;margin-top: 0.2rem;margin-bottom: 0.15rem;text-align: center;}
.active-box{width: 1.38rem;height: 0.88rem;border:1px solid #fce2d4;border-radius: 6px;
	float: left;box-sizing: border-box;font-size: 0.17rem;color: #e53d22;padding: 0.2rem 0.06rem;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.active-box:first-child{margin-right: 0.06rem;}
.active-box .red-block{
	width: 0.2rem;height: 0.1rem;
	background: #e53d22;position: absolute;
	right: -0.11rem;top: -0.02rem;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.active-tip{width:100%;font-size: 0.12rem;line-height: 0.13rem;margin-top: 0.15rem;overflow: hidden;}
.active-tip i{
	width: 5px;height: 5px;
	display: inline-block;
	background: #666;
	margin: 0 0.05rem;
	transform: rotate(45deg) translateY(-0.02rem);
	-webkit-transform: rotate(45deg) translateY(-0.02rem);
	-moz-transform: rotate(45deg) translateY(-0.02rem);
	-ms-transform: rotate(45deg) translateY(-0.02rem);
}
.limit-content2{
	width: 94%;height: 2.6rem;margin: 0.15rem auto;box-shadow: 0 0 5px 0 #ccc;border-radius: 6px;background: #fff;overflow: hidden;
}
.limit-content2 .more-active p{font-size: 0.13rem;line-height: 0.2rem;}
.voucher-mark{
	width: 100%;height: 100%;position: fixed;margin: auto;left: 0;top:0;right: 0;bottom: 0;
	background: rgba(0,0,0,.5);display: none;
}
.voucher-pop{width: 94%;height: 2.91rem;background: #fff;border-radius: 6px;position: fixed;margin: auto;left: 0;top:0;right: 0;bottom: 0;display: none;}
.voucher-pop-title{font-size: 0.2rem;color: #e53d22;text-align: center;line-height: 0.2rem;margin: 0.2rem auto;}
.voucher-form{margin-bottom: 0.1rem;}
.voucher-form{
	width: 94%;
	height: 0.44rem;
	margin: 0 auto;
	border: 1px solid #dedee0;
	box-sizing: border-box;
	outline: none;
	display: block;
	margin-bottom: 0.1rem;
}
.voucher-form,.voucher-form i{
	color: #333 !important;
}
.voucher-form i{margin:0 5px;}
.voucher-form input::-webkit-input-placeholder-style{color: #999;}
.voucher-form input{
	width: 99%;
	color: #333;border:0;
	outline: none;
	padding-left: 0.1rem;
	margin-top: 0.125rem;
	font-size: 14px;
	box-sizing: border-box;
}
.voucher-submit{text-align: center;line-height: 0.44rem;font-size: 0.15rem;color: #fff !important;background: #e53d22;border:0;}
.voucher-pop i.fa-close,.voucher-pop1 i.fa-close{
	font-size: 24px;
	position: absolute;
	right: 8px;
	top: 6px;
	-webkit-text-stroke: 2.5px #fff; 
	text-stroke: 2.5px #fff;
	color: #999;
}
.voucher-pop1{width: 94%;height: 2.15rem;background: #fff;border-radius: 6px;position: fixed;margin: auto;left: 0;top:0;right: 0;bottom: 0;display: none;}
.voucher-form-tip{width: 94%;margin: 0 auto;margin-top: -0.07rem;font-size: 0.11rem;}
.voucher-pop1 .voucher-submit{margin-top: 0.2rem;}
#footer{padding-bottom: 20px;}