<extend name="Main:baseTemplate"/>
<block name="style">
    <link rel="stylesheet" href="/assets/home/qcstat/css/phonebelong.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="title">
    <title>异常订单统计-手机号归属地与发单地不符</title>
</block>
<block name="content">
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <div class="heat_nav">
                    <ul class="navli">
                        <li class="first_ms">异常订单统计</li>
                        <li><a href="/qcstat/cityorderexception">城市订单异常</a></li>
                        <!--<li><a href="/qcstat/ipascription">IP归属地异常</a></li>-->
                        <!--<li><a href="/qcstat/ipplace">IP归属地与发单地不符</a></li>-->
                        <li class="active"><a href="/qcstat/phonebelong">手机号归属地与发单地不符</a></li>
                        <li><a href="/qcstat/qudaobranch">渠道分单率异常</a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="tjquery">条件查询</div>
                    <div class="timelayer">
                        <form method="get" action="/qcstat/phonebelong/">
                            <div class="zujian">
                                <span>日期：</span>
                                <input type="text" name="date" class="datepicker " placeholder="选择日期" value="{$Think.get.date|default=date('Y-m-d',strtotime('-1 day'))}">
                            </div>
                            <div class="zujian">
                                <span>手机号：</span>
                                <input type="text" name="mobile" placeholder="输入手机号" value="{$Think.get.mobile}">
                            </div>
                            <button class="btn searchcx">查询</button>
                        </form>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>手机号</th>
                        <th>归属地</th>
                        <th>发单地</th>
                        <th>手机号出现次数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="list.list" item="vo" key="k" >
                        <tr>
                            <td>{$vo.true_tel}</td>
                            <td>{$vo.city}</td>
                            <td>{$vo.cname}</td>
                            <td><a class="clickdetail" href="javascript:void(0)" data-src-title="{$vo.src}">{$vo.count}</a>
                                <div class="tanchaungwk">
                                    <div class="tabletitle">{$vo.true_tel}</div>
                                    <div class="closegb">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </div>
                                    <div class="tancdetail phone-content">
                                        <table class="table">
                                            <tr>
                                                <td class="leftborder topborder">订单编号</td>
                                            </tr>
                                            <foreach name="vo.order" item="vu" key="ke" >
                                                <tr>
                                                    <td class="leftborder"><a href="/qc/?id={$vu}&begin={:I('get.date',date('Y-m-d',strtotime('-1 day')))}&end={:I('get.date',date('Y-m-d',strtotime('-1 day')))}" target="_blank">{$vu}</a></td>
                                                </tr>
                                            </foreach>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                {$list.page}

            </div>
        </div>
    </section>

</block>

<block name="script">
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });

            $('.clickdetail').click(function () {
                $('.toumingdubj').fadeIn();
                $(this).next('div').show();
            });
            $(".tanchaungwk .closegb").click(function () {
                $('.tanchaungwk').hide();
                $('.toumingdubj').fadeOut();
            });
        });
    </script>

</block>