/*
* @Author: qz_dc
* @Date:   2018-05-07 17:25:17
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-05-16 11:43:34
*/
.m-wrap {
    background: #fff;
}
footer {
    padding-bottom: 50px;
    background: #fff;
}
.baojia-box {
    background: #fff;
    padding:0 0.1rem;
    padding-bottom: 0.1rem;
}
#showCityPicker2 {
    padding-left: 1em;
}
.triangle {
    border: 1px solid;
    border-width: 8px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 0.155rem;
    right: 0.15rem;
    /*z-index: 9;*/
}
.get-design-title {
    height: 0.13rem;
    border-bottom: 1px solid #ccc;
    margin-top: 0.15rem;
    font-size: 20px;
    width: 85%;
}
.get-design-title span {
    background: #fff;
}
.get-design-title span:nth-child(1) {
    font-weight: bold;
    color: #ff5353;
    /*margin-left: 5px;*/
    padding-left: 8px;
}
.get-design-title span:nth-child(2) {
    font-weight: bold;
    color: #000;
    margin-left: 0;
    padding-right: 8px;
}
.today-people {
    text-align: center;
    color: #666;
}
.today-people span {
    color: #ff5353;
}
.get-design-box li select {
    width: 100%;
    height: 100%;
    font-size: 0.13rem;
    padding: 0;
    background: none !important;
    border: none;
    outline: none;
    appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  text-indent:1em;
}
.get-design-box li input {
    padding-left: 0;
    text-indent: 1em;
}
.m-b-btn {
    border-radius: 5px;
}
.bg-color {
    width: 100%;
    height: 0.1rem;
    background:#eee;
    margin-top: 0.1rem;
}
.jubu-title {
    height: 0.13rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: "Microsoft YaHei";
    font-weight: bold;
    margin: 18px auto;
    margin-bottom: 22px;
    width: 65%;
}
.jubu-title span:nth-child(1) {
    font-weight: bold;
    color: rgb(255,83,83);
    /*margin-left: 5px;*/
    padding-left: 8px;
    background: #fff;
}
.jubu-title span:nth-child(2) {
    font-weight: bold;
    color: rgb(51,51,51);
    margin-left: 0;
    padding-right: 8px;
    background: #fff;
}
.company .jubu-title {
    width: 78%;
}
.company ul {
    padding: 0.1rem;
    padding-top: 0;
    color: #666;
}
.company ul li {
    height: 90px;
    border-bottom: 1px solid #eee;
}
.company ul li .icon {
    padding-top: 18px;
    padding-left: 0.2rem;
}
.company ul li:nth-child(2) .icon {
    padding-left: 0;
    padding-top: 18px;
    padding-right: 0.2rem;
}
.company ul li:nth-child(4) .icon {
    padding-left: 0;
    padding-top: 18px;
    padding-right: 0.2rem;
}
.company ul li  .info {
    height: 100%;
    padding-top: 18px;
    width: 67%;
    padding-left: 5%;
    padding-right: 5%;
}
.company ul li:nth-child(2) .info {
    padding-top: 15px;
}
.company ul li:nth-child(3) .info {
    padding-top: 15px;
}
.company ul li:nth-child(4) .info {
    padding-top: 15px;
}
.company ul li .icon img {
    width: 55px;
}
.company ul li  .info .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 9px;
    color: #000;
}
.company ul li  .info .you {
    text-align: right;
}
.company ul li  .info .text {
    font-size: 12px;
    text-align: justify;
    color: rgb(102,102,102);
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fuwu .jubu-title {
    margin-bottom: 6px;
}
.fuwu ul {
    padding: 20px;
    padding-bottom: 0;
}
.fuwu ul li {
    float: left;
    width: 31.33%;
    margin-right: 2%;
    position: relative;
}
.fuwu ul li:nth-child(3n) {
    margin-right: 0;
}
.fuwu ul li img {
    width: 100%;
}
.fuwu ul li .info {
    text-align: center;
    margin-bottom: 9px;
    margin-top: 10px;
    color: rgb(51,51,51);
    font-size:13px;
}
.fuwu ul li span {
    width: 45px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    top: 7px;
    left: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    line-height: 14px;
    padding-left: 2px;
    border-radius: 0 0.25rem 0.25rem 0;
    /*display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;*/
    line-height:normal;
    /*padding-top: 5px;*/
}
.swiper-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    line-height: 2.3rem;
}
.swiper-wrapper {
    width: 600%;
    height: 100%;
}
.swiper-slide {
    width: 284px;
    margin-right: 0.1rem;
    box-shadow: 0px 0px 8px #DEDEDE;
    margin-left: 0.1rem;
}
.jubu .swiper-slide {
    height: 177px;
}
.swiper-slide:nth-child(1) {
    margin-left: -2.35rem;
}
.swiper-slide a {
    display: block;
}
.swiper-slide a .info {
    text-align: left;
    padding-left: 0.05rem;
}
.swiper-slide .img {
    width: 100%;
}
.swiper-slide .img img {
    display: block;
    width: 100%;
}
.swiper-slide .info-title {
    text-align: left;
    margin-top: 4px;
    color: rgb(51,51,51);
    font-size: 13px;
}
.jubu .swiper-slide .info-title{
    height: 12px;
    line-height: 12px;
    margin-bottom:0;
    font-size: 13px;
}
.swiper-slide .info-company {
    border-right: 1px solid #ccc;
    padding-right: 0.05rem;
    color:  rgb(153,153,153);
    font-size: 12px;
}
.swiper-slide .info-type {
    border-right: 1px solid #ccc;
    padding-right: 0.05rem;
    color:  rgb(153,153,153);
    font-size: 12px;
}
.swiper-slide .info-money {
    color:  rgb(153,153,153);
    font-size: 12px;
}
.qsj {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #ff5353;
    color: #fff;
}
.qsj img {
    height: 0.2rem;
    width: 0.25rem;
    position: absolute;
    top: 10px;
    left: 60px;
}
.yezhu .jubu-title span:nth-child(1) {
    font-weight: bold;
    color: #000;
    margin-left: 0;
    background: #fff;
}
.yezhu .jubu-title span:nth-child(2) {
    font-weight: bold;
    color: #ff5353;
    background: #fff;
}
.about .jubu-title span:nth-child(1) {
    font-weight: bold;
    color: #000;
    margin-left: 0;
    background: #fff;
}
.about .jubu-title span:nth-child(2) {
    font-weight: bold;
    color: #ff5353;
    background: #fff;
}
.yezhu .swiper-container {
    height:2.4rem;
}
.yezhu .swiper-slide .img {
    height:1rem;
}
.yezhu .swiper-slide .img img {
    display: block;
    height: 100%;
}
.yezhu .swiper-slide a .info {
    text-align: center;
    padding-left: 0;
}
.yezhu .swiper-slide  .avator {
    position: relative;
    width: 100%;
}
.yezhu .swiper-slide .avator img {
    position: absolute;
    top: -0.3rem;
    left: 50%;
    transform:translate(-50%,0);
    display: block;
    width: 0.5rem;
}
.yezhu .swiper-slide .avator .user {
    padding-top: 0.23rem;
    color: rgb(51,51,51);
}
.yezhu .swiper-slide .info-title {
    margin-top: 0;
    text-align: center;
}
.yezhu .swiper-slide .info .info-company {
    color: rgb(102,102,102);
}
.yezhu .swiper-slide .info .info-type {
    color: rgb(102,102,102);
}
.yezhu .swiper-slide .info .info-money {
    color: rgb(102,102,102);
}
.yezhu .swiper-slide .introduce {
    font-size: 12px;
    text-align: justify;
    padding: 0.1rem;
    color: rgb(153,153,153);
}
.about .video {
    height: 100%;
    /*padding: 0.1rem;*/
    /*position: relative;*/
    z-index: 1;
}
#video {
    /*display: none;*/
    z-index: 1;
}
.about .video .start-play {
    display: block;
    width: 0.55rem;
    height: 0.55rem;
    background: url(/assets/mobile/jubu/img/play.png) no-repeat;
}
.about .video .controls .switch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about .video .controls .progress {
    height: 0.05rem;
    background: rgba(0,0,0,.2);
    display: none;
    margin: 0 0.067rem;
    position: absolute;
    top: 1.555rem;
    width: 89%;
}
.about .video .controls .progress .loaded {
    height: 100%;
    background: #81b61a;
}
.about .content {
    margin: 0.1rem;
    box-shadow: 0px 0px 8px #DEDEDE;
}
.about  .head-title {
    text-align: center;
    font-size: 18px;
    margin-top:22px;
    font-weight: 700;
    color: rgb(51,51,51);
}
#calculator3 {
    display: none;
}
.about  .qizuang {
    padding: 0.1rem;
    text-indent: 2em;
    color: rgb(102,102,102);
    text-align: justify;
    font-size: 12px;
    line-height: 18px;
}
.calculator-container .calculator-area {
    height: 3.2rem;
}

/*成功发单弹出样式*/
.tjsuccess {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 89.3%;
    height: 2.5rem;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
    display: none;
}
.tjsuccess .tjcgbt {
    font-size: 0.2rem;
    color: #2cce4a;
    text-align: center;
    margin-top: 0.3rem;
}
.tjsuccess .chengglogo {
    width: 0.22rem;
    height: 0.22rem;
    display: inline-block;
    background: url(/assets/mobile/company/img/successlogo.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 0.03rem;
}
.tjsuccess .tjcgbt2 {
    font-size: 0.09rem;
    color: #666;
    text-align: center;
    margin-top: 0.05rem;
}
.tjsuccess .erweima {
    width: 96%;
    height: 1.365rem;
    background: url(/assets/mobile/company/img/sucesserwm.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0.93rem;
}
  .guanbiniu {
    width: 0.3rem;
    height: 0.3rem;
    background: url(/assets/mobile/company/img/guanbianiu.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -0.55rem;
}
.tjsuccess .erweima .erweimatw {
    width: 0.875rem;
    height: 1.365rem;
    overflow: hidden;
    text-align: center;
    margin-left: 0.045rem;

}
.tjsuccess .erweima .erweimatw img{
    width:100%;
    margin-top: 0.18rem;

}
.tjsuccess .erweima .erweimatw span {
    font-size: 0.12rem;
    color: #ff5353;
    margin-top: 0.025rem;
}
.beijyiny {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    display: none;
}
#zxkf {
    z-index: 2;
}