/*
* @Author: qz_xsc
* @Date:   2017-10-23 09:47:17
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-10-23 16:29:33
*/
.search-title{font-size: 17px; margin-bottom: 8px; color:#333;}
.search-box{margin-right: 10px;}
/* .clearfix{overflow:hidden;} */
.clear-float{clear:both;}
.data-table{width:100%;  margin-top: 50px;}
.data-table th{font-size: 15px;text-align: center;}
.data-table td{font-size: 14px;text-align: center;padding:15px 0px; border-bottom: 1px solid #999999;}
.search-box input{height: 35px; width:170px;}
.search-box select{width:170px; height:35px;}
.del{color:#3C8DBC;}
.fenye{padding:20px;}
.item{padding-top: 15px;}
.item-title{font-size: 16px;color:#000;overflow: hidden;}
.item-body{ padding:10px 0px; width:75%;}

.small-label{background: #3C8DBC; padding:2px 6px; color:#fff; border-radius:5px; cursor: pointer;border:1px solid #A9AFB3; display: inline-block; margin-right: 10px;}
.small-label:hover{opacity: 0.9;}
.key-words{border:1px solid #333;padding:10px;}
.selection-btn{float: right; padding:2px 12px; background: #00C0EF; border:none; font-weight: normal; font-size: 13px; color:#fff; border-radius:3px; outline: none;}
.selection-btn:hover{background: #0DB2D8;}
.selection-btn:active{background:#126274;}
.data-box{width:100%;}
.data-box th{font-size: 16px;}
.data-box tr{height:30px;}
.data-box td{font-size: 16px; }
.data-box tr td:nth-child(2){color: #00A4FF;}
textarea{font-size: 16px;}
.set-box{width:300px;}
.set-box{font-size: 17px;}
.set-box tr{height:35px;}
.set-box td span{font-size: 20px; color:#3C8DBC;}
.zzc{width:100%; height:100%; background: rgba(0,0,0,0.8);position: fixed; left:0px;top:0px;  z-index: 99999; display: none;}
.win-box{width:98%; height:calc(100% - 40px); background: #fff; margin:20px auto;}
.win-head{overflow: hidden; border-bottom: 1px solid #DEDEDE; font-size:16px; padding:10px 0px; }
.win-head span{padding:3px 10px;display: inline-block; cursor: pointer;}
.win-body{padding:5px 10px; height:calc(100% - 105px); overflow: auto}
.chose-box{margin-bottom: 20px; display: none;}
/* .image-table{width:100%; }
.image-table th{height: 35px;}
.image-table tr{height: 40px;}
.image-table tr td{border-bottom: 1px solid #999999;} */


.tishi_box{
    width:calc(100% - 30px);
    max-height: 150px;
    border: 1px solid #DEDEDE;
    background: #fff;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 4px 1px #DEDEDE;
    overflow-y: auto;
}
.tishi_box ul{list-style: none;padding-left: 10px !important;}
.tishi_box ul li{list-style: none;text-align: left;line-height: 25px;}
.jvzhongxs .xuanzeop{width: 110px;height: 36px;vertical-align: middle;outline: none;margin-right: 10px;}
.jvzhongxs .xuanzeop2{width: 110px;height: 36px;vertical-align: middle;outline: none;margin-right: 10px;}
.jvzhongxs .qujiandg .qujian2{right: 16px;top: 8px;}
.jvzhongxs .qujiandg .dange2{left: 127px;top: 8px;}