
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
/*设计师信息*/
#m-dsg{
    width: 100%;
    font-family: "Microsoft YaHei";
    position: relative;
    background-color: #fff;
	overflow:hidden;
    margin:0 auto;
}
#m-dsg .m-dsg-img{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
    margin-top:18px;
}
.m-dsg-img img{
    width: 100%;
    height:100%;
}
#m-dsg .m-dsg-tit{
    width:94%;
    margin: 8px auto;
}
.dsg-idea{
    text-indent: 24px;
}

.m-dsg-tit p{
    width:100%;

    text-align: center;
}
.m-dsg-tit p.dsg-name{
    font-size: 20px;
}
.m-dsg-tit p.dsg-time{
    font-size: 14px;
}
.m-dsg-tit p.dsg-time span{
    margin:0 16px;
}
.m-dsg-msg{
    width: 94%;
    height: auto;
    margin: 0 auto;
}
.m-dsg-msg span{
    color:#efc698;
    font-size: 14px;
    margin-top:8px;
}
.m-dsg-msg p{
    color:#707070;
    font-size: 12px;
    margin-top:4px;
}
.m-dsg-msg p.dsg-personal{
    text-indent:2em;
}


/*设计师作品*/
#m-dsg .m-dsg-con{
    width: 94%;
    height: auto;
    margin: 0 auto;
    margin-top:5%;
    padding-top:5%;
    border-top: 1px solid #ddd;
}
#m-dsg .m-dsg-con ul.grid li{
    margin-bottom:5%;
}
.dsg-case{
    position: relative;
}
/*设计师详情页渐变*/
.dsg-case .bgchange{
    width: 100%;
    height: 2.2em;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.6) 90%);
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.6) 90%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.6) 90%);
    position: absolute;
    left:0;
    bottom: 0;
}
.dsg-case img{
    width: 100%;
    height: auto;
}
.dsg-case span{
    font-size: 12px;
}
.dsg-case .case-tit{
    position: absolute;
    bottom:3%;
    left: 3%;
    color: #fff;
}
.dsg-case .case-style{
    position: absolute;
    bottom:3%;
    right:3%;
    color: #fff;
}
