
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.fg-list-box{
    padding: 0 0.8em;
    background-color: #fff;
    margin: 0.4em 0;
}
.fg-list{
    padding: 0.3em 0;
}
.fg-list .fg-img{
    width: 34%;
    height: 5.4em;
    float: left;
    position: relative;
}
.fg-list .fg-img img{
    width: 100%;
    height: 100%;
}
.fg-send{
    float: left;
    width: 62%;
    height: 5.4em;
    margin-left: 0.7em;
    position: relative;
}
.fg-send h2{
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
}
.fg-send p{
    font-size: 0.6em;
    padding-top: 0.3em;
}
.fg-send .fg-yj{
    color: #959595;
    font-size: 0.7em;
    float: right;
    position: absolute;
    right: 0;
    bottom: 2px;
}


/*底部修改*/
.call-tel{
    margin-top: 0;
}