.zt-img{
    width: 100%;
    height: 9.6em;
    position: relative;
}
.zt-img img{
    width: 100%;
    height: 100%;
}
.zt-tle{
    width: 100%;
    height: 33px;
    box-shadow: 0px 1px 5px #ccc;
    background-color: #fff;
    margin-bottom: 0.8em;
    border-bottom: 1px solid #E1E1E1;
}
.zt-tle span{
    line-height: 34px;
    height: 34px;
    display: inline-block;
    border-left: 5px solid #FE5353;
    padding-left: 0.5em;
    float: left;
}
.zt-tle i{
    float: right;
    color: #CACACA;
    font-size: 2em;
    line-height: 34px;
    padding-right: 0.5em;
}
.zt-jie{
    margin-top: 0.1em;
    background-color: #EFEFEF;
    display: block;
}
.zt-jie p{
    font-size: 0.9em;
    font-family: "Microsoft Yahei";
    text-align: left;
    padding: 0.4em 0.8em;
}
.zt-hezi{
    background-color: #EFEFEF !important;
}
.num{
    position: absolute;
    display: block;
    border: none;
    bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 13px;
    background-image: -moz-linear-gradient(90deg,rgba(0,0,0,.6) 0%,rgba(200,200,200,0) 100%);
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,.6) 0%,rgba(200,200,200,0) 100%);
    padding-left: .5em;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding-top: 3px;
}
.num em{
    font-size: 0.6em;
    position: absolute;
    right: 0.4em;
}
.zt-sent h2{
    border-bottom: 1px dashed #DFDFDF;
    display: block !important;
    height: 1.7em;
}
.zt-sent p{
    color: #808080;
    border-bottom: 1px dashed #DFDFDF;
    height: 2.4em;
    line-height: 2.1em;
}

.zt-sent em{
    color: #959595;
    font-size: 0.7em;
    position: absolute;
    left: 0;
    bottom: 2px;
}
.assist{width:4.5em;height:1.5em;border-radius:0.8em;border:1px solid #ff565d;background:#fff;margin:0 auto;text-align:center;line-height:1.5em;margin-top:1em;margin-bottom:0.9em;}
.assist i{display:block;width:1.5em;height:1.5em;border-radius:50%;background:#ff565d;float:left;text-align:center;line-height:1.4em;color:#fff;}
.assist span{font-size:0.9em;color:#ff565d;}

.fg-send .fa-video-camera {
    float: right;
    font-size: 0.7em;
    position: absolute;
    bottom: 2px;
    right: 0;
    color: #959595;
}
.fg-send .fg-yj {
    right: 16px;
}