.h15{height: 15px;}
.red{color: #ff5659;}
.green{color: #5cb85c !important;}
.mr5{margin-right: 5px !important;}
.log-info{
    margin-right: 16px;
}
.cursor{cursor: pointer;}
.lh16{line-height: 16px;}
.ol-tab-wrap {
    width: 40%;
    height: 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-padding-start: 0px;
}




#tablelist tr td,#tablelist tr th {
    position: relative;
    text-align:left
}

#tablelist tr td a{
    margin-right: 3px;
}

#tablelist tr .fa{
    font-size: 18px;
}

#tablelist tr td:first-of-type a {
    top: 25%;
    right: 5px;
    cursor: pointer;
}

.repeat-order{
    color:#f00;
}

#tablelist tr td:nth-of-type(4) i {
    position: absolute;
    top: 25%;
    right: 5px;
    cursor: pointer;
}

.ol-check {
    margin: 0 auto;
    float: none !important;
    height: 30px;
    line-height: 30px;
}
.ol-tips{
    color: red;
    opacity: 0;
}

.btn {
    float: right;
    margin-right: 50px;
}

.set-mt16 {
    margin-top: 5px;
}
.set-mt70{
    margin-top: 70px;
}
.set-mr5{
    margin-right: 5px;
}

.manunal-info p{font-size: 14px;}
textarea {
    resize: none;
    width: 100%;
}

.select2-container .select2-selection--single{height: 34px;}

#repeatorder .modal-dialog,#recentorder .modal-dialog{
    width: 900px;
}

#repeatorder table,#recentorder table{
    min-width:670px !important;
}
.common-model .modal-dialog{
    width: auto;
    max-width: 1260px;
}
.common-model tr td,.common-model tr th {
    position: relative !important;
    text-align:left !important;
}

.my-dialog .modal-dialog{width: 1200px; }
.my-dialog .content{padding: 0; margin: -15px;}
.my-dialog  input, .my-dialog span,.my-dialog label,.my-dialog textarea,.my-dialog select{font-size: 12px !important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; display: inline-block; vertical-align: top;height: 20px; margin-top: 2px; color: #333;}
.my-dialog div{font-size: 12px;}
.my-dialog p{margin-bottom: 5px;}
.my-dialog label{margin-bottom: 0;}
.my-dialog textarea{border: 1px solid #ccc;}
.my-dialog .box{ border-top: 0;margin: 0 auto; width: 800px;}
.my-dialog .modal-header{padding: 5px ;}
.my-dialog .bootstrap-dialog-title{}

.my-dialog .border-r{border-right:1px dashed #ccc;}
.my-dialog .border-t{border-top:1px dashed #ccc;}
.my-dialog .padtop10{padding-top: 10px;}
.my-dialog .width_40{width: 40px;}
.my-dialog .width_50{width: 50px;}
.my-dialog .width_60{width: 60px;}
.my-dialog .width_70{width: 70px;}
.my-dialog .width_80{width: 80px;}
.my-dialog .width_90{width: 90px;}
.my-dialog .width_100{width: 100px;}
.my-dialog .width_150{width: 150px;}
.my-dialog .width_80{width: 80px;}
.my-dialog .width_60{width: 60px;}
.my-dialog .width_120{width:120px}
.my-dialog .text-height115{width:100%; height: 95px;margin-left: 6px;resize: none;outline: none;}
.my-dialog .text-height100{width: 80%;height: 100px;margin-left: 6px;resize: none;outline: none;}
.my-dialog .text-height110{height: 110px;margin-left: 6px;resize: none;outline: none;}
.my-dialog .text-height120{width:60%; height: 120px;margin-left: 6px;resize: none;outline: none;}
.my-dialog .text-height80{width: 80%;height: 80px;margin-left: 6px;resize: none;outline: none;}
.my-dialog .text-height60{width: 60%;height: 60px;margin-left: 6px;resize: none;outline: none; max-height: 60px; }

.my-dialog .mt3{margin-top: 3px;}
.my-dialog .mt10{margin-top: 10px;}
.my-dialog .mtb5{margin-top:3px;margin-bottom:3px;}
.my-dialog .ml132{margin-left: 132px;}
.my-dialog .padding10{padding:10px 10px;}
.my-dialog .padding5{padding:5px;}
.my-dialog .bgcolor{background: #ff5659;color: #fff;}
.my-dialog .red{color: #ff5659;}
.my-dialog .blue{background:blue;}
.my-dialog .blue108{color:#108EE9}
.my-dialog .width_size{width: 90px;text-align: right;display: inline-block; font-weight: 400;}
.my-dialog .datepicker{border: 1px solid #ccc; border-radius: 0;}
.my-dialog input{height: 22px; border:1px solid #ccc; line-height: 15px; text-indent: 3px;}

.my-dialog label{
    line-height: 12px;
    font-weight: normal;
    font-size: 12px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    margin-right: px;
    margin-top: 0px;
    height: 14px;
}
.my-dialog label .my-dialog input[type=checkbox]{
    float: left;
    height: auto;
    margin: 0;
}
.my-dialog select{border:1px solid #ccc;}
.my-dialog select option{font-size: 12px;}
.my-dialog label .my-dialog span{
    float: left;
    line-height: 12px;
}
.my-dialog .fa-calendar {
    position: absolute;
    left: 140px;
    line-height: 20px;
    font-size: 14px;
    border-left: 1px solid #ccc;
    padding-left: 5px;
    top: 2px;
}
.my-dialog .relation_icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(/assets/home/img/rel_icon.png) no-repeat;
}

.my-dialog .icon_baidu{background-position: 0 -64px;}
.my-dialog .icon_biying{background-position: 0 -16px;}
.my-dialog .icon_person{background-position: 0 -96px;}
.my-dialog .icon_headset{background-position: 0 -78px}
.my-dialog .icon_list{background-position: 0 -16px;}
.my-dialog .icon_email{background-position: 0 -130px;}
.my-dialog .icon_email_disabled{background-position: -16px -130px;}
.my-dialog .icon_email_open{background-position: -32px -130px;}
.my-dialog .icon_eye{background-position: 0 -156px;}
.my-dialog .icon_eye_disabled{background-position: -16px -156px;}
.my-dialog .icon_baidu{background-position: 0 -64px;}
.my-dialog .icon_360{background-position: 0 -183px;}
.my-dialog .icon_sogou {background-position: 0 -287px;}
.my-dialog .icon_sm {background-position: 0 -313px;}
.my-dialog .zhuandan{margin-left: 45%;padding-left: 40px;padding-right: 40px;}
.my-dialog .check_more{margin-left: 35%;padding-left: 40px;padding-right: 40px;margin-top: 10px;}
.my-dialog .hide_select{display: none;}

.call_pop,.show_callnum_pop{position: fixed;left:-3px;top:20%;overflow: hidden;z-index: 2000;background: #fff;border:1px solid #ccc;border-radius:5px;text-align: center;display: none;}
.call_pop{width: 100%}
.mask{width: 100%;height: 100%;background: rgba(0,0,0,.6);position: fixed;left: 0;top: 0;z-index: 1200;display: none;}
.pop_set{left: 50%;margin-left: -161px; }
.show_num_header{overflow:hidden;margin: 10px 0;text-align: center;}
.show_num_body{overflow: hidden;padding: 10px 40px;}
.show_num_body .show_num_item{overflow:hidden;margin-bottom: 10px;}
.show_num_body textarea{width: 150px;height: 100px;resize: none;outline: none;}
.show_num_footer{text-align: center;}
.show_num_footer .btn{margin:5px;}

.my-dialog .icon_weixin1{background-position: 0 -209px;}

.my-dialog .icon_qq{background-position: 0 -235px;}
.my-dialog .icon_weixin2{background-position: 0 -259px;}
.my-dialog .mr10{margin-right: 10px;}
.my-dialog .mt20{margin-top: 20px;}

.my-dialog .border-b{border-bottom: 1px solid #ccc}
.my-dialog .ml10{margin-left: 10px;}
.my-dialog .mt30{margin-top: 30px;}
.my-dialog .order-tool{visibility: hidden;}
.my-dialog .order-tool-open{visibility: inherit;}

.fenpei-model, .weixin-model, .fenpei-success{width: 400px; top:20%; left:50%;  margin-left:-180px;background: #fff;display: none;border: 1px solid #ccc;box-shadow: 0 0 5px 2px #ccc;position: fixed; z-index: 9999999;}
.fenpei-model-hd{height: 30px;background: #eee;line-height: 30px;}

.notice-to-owner, .notice-to-company{cursor: pointer;}
.weixin-model label span{color: #000;}
.fenpei-model .btn-ok, .weixin-model .btn-ok, .fenpei-success .btn-ok,.weixin-model .btn-close{margin: 10px; }
.my-dialog input[type="checkbox"]{margin-right: 1px !important; height: 12px;}

.

#changecity .select{
    width: 25%;
    float: left;
    margin-right: 10px;
}

.modal-error-wrap{
    color:#ff4201;
}
.my-dialog .orderyx{
    margin-right: 15px;
    padding-top: 8px;
}
.my-dialog .orderyx input{
    margin-top: -5px;
}

.order-remarks-list, .order-remarks-btn{
    border-radius: 0;
    margin-right: 5px;
    box-shadow: none;
    float: left;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.order-modify{
    width:100%;
    background: #d2d6de;
    height: 32px;
    padding:0 5px;
}
.order-modify li{
    float: left;
    line-height: 32px;
    margin-right: 10px;
    color: #333333;
}
.order-modify li.line{
    width: 1px;
    height: 16px;
    margin-top: 10px;
    background: #333333;
}
.order-modify .closeedit{
    float: right;
    margin-right: 5px;
    text-align: center;
}
.order-modify .closeedit a{
    display: inline-block;
    width: 32px;
    line-height: 32px;
    font-size: 18px;
    color: #a8abb2;
}

.order-footer{
    border-top:1px solid #e0e0e0;
    padding:5px 0 20px 0;
}

.my-dialog .order-beizhu{
    width: 120px;
    /*width: 100%;*/
    text-align: left;
}
.my-dialog .company{
    width: 100% ;
}
.my-dialog .order-mask{
    padding: 5px 5px 5px 0;
}
.my-dialog .mark-need{
    margin: 0;
}
.my-dialog .mark-need textarea{
    margin: 0;
}
.my-dialog .buyjjyx{
    text-align: left;
    margin-right: 30px;
}






