.modifyrizhi{
    background: #979797;
    color: #fff;
    border: 1px solid #868686;

}
.modifyrizhi:hover{
    color: #fff;
}
.modifyrizhi:focus{
    color: #fff;
}
.rizhitanchuan{
    width: 495px;
    height: auto;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    left: 3px;
    top: 46px;
    overflow-y: auto;
    z-index: 100000;
    box-sizing: border-box;

}
.rizhitanchuan-title{
    font-size: 14px;
    padding:8px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background: #fff;

}
.rizhitanchuan-title .rizhi-title{float: left;}
.rizhitanchuan-title .fa-close{float: right;cursor: pointer;font-size: 18px;color: #333;}

.rishitable,.rishitable tr th, .rishitable tr td { border:1px solid #ccc !important;background: #fff;padding: 5px 0;
    text-align: center;}
.rishitable tr td.riztablebck{background: #f2f2f2;}
.rishitable tr th{background: #f2f2f2;}
.rishitable {text-align: center; border-collapse: collapse;width: 98%;margin:0 auto;margin: 3px;}