.orderquery{
    padding:10px 0;
}
.chaxun{
    margin-bottom: 10px;
}
.subtitle{
    margin-bottom: 5px;
}

.orderbtn .search,.orderbtn .reset{
    margin-right: 20px;

}

 /*订单详情*/
.order-box{
    /*padding-bottom: 100px;*/
}
.orderdetail{
    padding: 10px 30px;
    font-size:0;
}
.ordertips{
}
.ordretip{
    display: inline-block;
    /*width: 125px;*/
    /*height: 34px;*/
    line-height: 34px;
    background: #c0c0c0;
    font-size: 13px;
    color: #fff;
    margin-right: 50px;
    text-align: center;
    padding:0 20px;
}
.ordretip span{
    display: inline-block;
    line-height: 34px ;
}
.ordernum{
    color: #FF0000;
    font-weight: 700;
    font-size: 14px;
}

.getorder span{
    display: inline-block;
    padding:10px 20px;
    font-size: 14px;
    border-radius: 5px;
    background: rgba(0, 153, 0, 1);
    color: #fff;
    cursor: pointer;
}
.ordertype{
    padding:0 30px;
}
.orderlist li{
    float: left;
    border:1px solid rgba(235, 235, 235, 1);
    background-color: rgba(243, 243, 243, 1);
    border-radius: 5px 5px 0 0px;
    text-align: center;
}
.orderlist li.active{
    background: #fff;
    border-bottom: none;
}

.orderlist li.active a{
    color: #108EE9;
}
.orderlist li a{
    color: #666666;
    font-size: 12px;
    line-height: 18px;
    display: block;
    line-height: 40px;
}
.orderbtn{
    float: right;
    margin-top: 10px;
    padding:0;
    width: 100px    ;
}
.box-body .orderxq tr:hover{
     background: none;
 }
.box-body .orderxq td{
    padding:10px 10px;
    text-align: center;
    vertical-align: middle;
    border:1px solid #e6e6e6;
}

.orderxq td p{
    margin-bottom:0;
}
.box .orderitem:hover{
    background: none;
}
.orderedit{
    color: #108EE9;
}
.hforder{
    color: #66CCFF;
}
.fporder{
    color: #FF33CC;
}
.wfporder{
    color: #FF9900;
}
.yfporder{
    color: #339900;
}
.ddorder{
    color: #0000FF;
}
.wxorder{
    color: #999999;
}

.pages{
    position: relative;
}
.pagelist{
    position: absolute;
    top: 50px;
    /*left: 50%;*/
    /*margin-left: -180px;*/
}
.canncel{
    color: #FF0000;
}
.itemnum{
    display: inline-block;
}
.orderitem .width-240{
    width: 240px;
}

/*编辑订单*/
.order-title-edit{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0;
}
.order-title-edit li{
    /*border-bottom: 1px solid #e0e0e0;*/
    margin-bottom: 0;
    list-style: none;
}
.order-title-mask{
    padding: 10px 0 0 20px;
    margin-bottom: 0;
    font-size: 20px;
    color: #333;
}

.order-title-edit li{
    border-right: 1px solid #e0e0e0;
}
.order-title-edit li:nth-of-type(1){
    text-align: right;
    /*padding-right: 60px;*/
}
.order-title-edit .closeedit{
    border:none;
    position: absolute;
    top: 10px;
    right: 50px;
}
.order-title-edit .closeedit a{
    display: inline-block;
    width: 32px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    color: #a8abb2;
}
.order-title-edit .closeedit a:after{
    content: '\2716';
    color: #333333;
}
.order-title-edit .closeedit a:hover{
    background: rgba(0,0,0,.1);
}




