/*
* @Author: qz_dc
* @Date:   2018-07-30 13:21:21
* @Last Modified by:   qz_chk
* @Last Modified time: 2018-07-31 17:19:27
*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.p0 {
    padding: 0;
}
.new-add {
    padding: 0;
}
.next-month {
    padding: 0;
}
.next-month button {
    float: left;
}
.log {
    padding: 0;
}
.log button{
    float: right;
}
.leading-in {
    padding: 0;
}
.leading-in button{
    float: right;
}
.table {
    width: 100%;
    margin-top: 10px;
}
.table th,td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}
.table>thead>tr>td {
    vertical-align: middle;
    border-top: 1px solid #ccc!important;
}
.table>tbody+tbody {
    border-top: 0;
}
.yellow {
    background: yellow;
}
.operate-log {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background: #fff;
    z-index: 20;
    border: 1px solid #ccc;
    display: none;
}
.bjyy {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    display: none;
}
.operate-log .o-title {
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}
.o-box {
    overflow-y: auto;
    height: 400px;
}
.o-table {
    width: 100%;
}
.o-table th {
    border: 1px solid #ccc;
    text-align: center;
    padding:5px;
}
.queding {
    position: absolute;
    bottom: 5px;
    margin-left: 240px;
}
.leading-box {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 170px;
    background: #fff;
    z-index: 20;
    border: 1px solid #ccc;
    display: none;
}
.leading-box .l-title {
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.shangchuan {
    margin-left: 20px;
    margin-bottom: 40px;
}
.q-r {
    margin-top: 20px;
    margin-left: 20px;
}
.l-btn {
    margin-left: 120px;
}
.nextmonth-box {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 170px;
    background: #fff;
    z-index: 20;
    border: 1px solid #ccc;
    display: none;
}
.nextmonth-box .n-title {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.nextmonth-box .n-q-r {
    width: 115px;
    margin: 0 auto;
}
.new-add-box {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background: #fff;
    z-index: 20;
    border: 1px solid #ccc;
    display: none;
}
.new-add-box .new-title {
    margin-bottom: 10px;
    margin-top: 10px;
}
.new-add-box .new-title span {
    margin-left: 10px;
}
.new-add-box .new-title button {
    border:none;
    background: #fff;
}
.new-add-box .inputgroup {
    line-height: 40px;
    height: 40px;
}
.new-add-box .inputgroup input {
    height: 28px;
}
.new-add-box .new-box {
    padding-top: 10px;
}
.new-add-box table {
    width: 350px;
}
.new-add-box table th {
    text-align: center;
    border: 1px solid #ccc;
}
.new-add-box .wancheng {
    position: absolute;
    bottom: 20px;
    left: 200px;
}
button {
    outline: none;
}
select {
    width: 100%;
}
.table>tbody>tr>td {
    padding: 3px;
}

.scroll{

}