<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>装修吉日_装修吉日查询-齐装网</title>
<meta name="mobile-agent" content="format=html5;url=http://m.qizuang.com/huangli/" />
<meta name="keywords" content="装修吉日，装修吉日查询，黄历装修吉日查询，黄历吉日查询{:date('Y')}" />
<meta name="description" content="齐装网装修黄历频道为业主提供装修吉日查询，选择合适的装修吉日，装修才会更顺利！更多黄道吉日详细信息，尽在齐装网装修吉日频道。" />
<include file="Index:resource" />

<link rel="stylesheet" href="{$static_host}/assets/home/huangli/hl.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/home/huangli/css/hl-month.css?v={:C('STATIC_VERSION')}" />

</head>
<body>
{$headerTmp}
<div class="wrap oflow">
	<div class="bread"><a href="/">首页</a> &gt; <a href="/huangli/">装修黄历</a> &gt; <a>{$today.y}年{$today.m}月</a></div>
  	<div class="top-star">
		<span>每月装修黄历</span>
	</div>
  <div class="left-sider">
    <div class="fs-rl">
      <script type="text/javascript" src='{$static_host}/assets/home/huangli/js/init.js'></script>
	  <div class="month-tab">
	    <ul>
	      <li class="tab_main" style="width:578px;">
	        <div class="tabclick bgcolor"><span>上旬</span></div>
	        <div class="tab_con">
	          	<ol>
					<volist name="monthList" id="v" >
						<if condition="$v['d'] egt 1 and $v['d'] elt 10">
							<li>
								<a style="" href="/huangli/{$v.y}-{$v.m}-{$v.d}.html">{$v.y}/{$v.m}/{$v.d}</a>
								<if condition="$v['yi'] NEQ ''">
					           		<span class="redcolor"><i>宜</i>：{$v.yi|mb_substr=0,14,'utf-8'}</span>
					           	</if>
					           	<if condition="$v['ji'] NEQ ''">
					           	<span><i>忌</i>：{$v.ji}</span>
					           	</if>
					        </li>
				    	</if>
					</volist>
	          </ol>
	        </div>
	      </li>
	      <li class="tab_main">
	        <div class="tabclick"><span>中旬</span></div>
	        <div class="tab_con">
	          	<ol>
	            	<volist name="monthList" id="v" >
						<if condition="$v['d'] egt 11 and $v['d'] elt 20">
							<li>
								<a style="" href="/huangli/{$v.y}-{$v.m}-{$v.d}.html">{$v.y}/{$v.m}/{$v.d}</a>
								<if condition="$v['yi'] NEQ ''">
					           		<span class="redcolor"><i>宜</i>：{$v.yi|mb_substr=0,14,'utf-8'}</span>
					           	</if>
					           	<if condition="$v['ji'] NEQ ''">
					           	<span><i>忌</i>：{$v.ji}</span>
					           	</if>
					        </li>
				    	</if>
					</volist>
	          	</ol>
	        </div>
	      </li>
	      <li class="tab_main">
	        <div class="tabclick"><span>下旬</span></div>
	        <div class="tab_con" style="border-right:1px solid #e5e5e5;width:505px;">
	          	<ol>
	            	<volist name="monthList" id="v" >
						<if condition="$v['d'] egt 21 and $v['d'] elt 31">
							<li>
								<a style="" href="/huangli/{$v.y}-{$v.m}-{$v.d}.html">{$v.y}/{$v.m}/{$v.d}</a>
								<if condition="$v['yi'] NEQ ''">
					           		<span class="redcolor"><i>宜</i>：{$v.yi|mb_substr=0,14,'utf-8'}</span>
					           	</if>
					           	<if condition="$v['ji'] NEQ ''">
					           	<span><i>忌</i>：{$v.ji}</span>
					           	</if>
					        </li>
				    	</if>
					</volist>
	          	</ol>
	        </div>
	      </li>
	    </ul>
	  </div>
<script type="text/javascript">
$(function(){
	$(".month-tab ul li").find(".tabclick").click(function(){
		var li_index=$(this).index();
		$(this).addClass('bgcolor');
		$(this).nextAll(".tab_con").css("display","block");
		$(this).parent().siblings().find('.tab_con').hide();
		$(this).parent().animate({width:578},300);
		$(this).parent().siblings().animate({width:71},300);
		$(this).parent().siblings().find('.tabclick').removeClass('bgcolor');
	});
})
</script>
      <div class="rl-hot-list">
        <h1>本月装修吉日</h1>
        <ul>
          	<volist name="jiriList" id="v">
                <li title="装修"><a href="/huangli/{$v.y}-{$v.m}-{$v.d}.html">{$v.y}年{$v.m}月{$v.d}日</a></li>
            </volist>
        </ul>
      </div>
      <div class="rl-hot-list">
        <h1>装修黄历</h1>
        <ul>
          	<volist name="thisYearList" id="v">
                <li title="{$v.text}装修黄历"><a href="/huangli/{$v.url}/">{$v.text}</a></li>
            </volist>
        </ul>
      </div>
    </div>
    <!--  -->
  </div>
</div>

<div class="wrap">
	<!-- 吉日声明 -->
	<div class="dec"><span>*友情提示：装修黄历资料均为网络收集，仅供参考，不代表齐装网任何立场。</span></div>
	<!-- 广告图 -->
	<div class="jr_ad"><a href="http://{:C('QZ_YUMINGWWW')}/zhaobiao/" target="_blank"><img src="{$static_host}/assets/home/huangli/images/jr_ad.jpg"></a></div>

	<!-- 装修风水问答开始 -->
	<div class="zxhl-ask-tit"><span>装修风水问答</span></div>
	<div class="zxhl-ask">
		<div class="ask-con">
			<ul>
				<volist name="link" id="vl">
				<li>
					<div class="ask_icon_tit"><i class="ask_icon"></i><a href="/wenda/x{$vl.id}.html" target="_blank">{$vl.title}</a></div>
					<div class="ask_icon_con"><i class="ask_icon"></i><p>{$vl.answer}</p></div>
				</li>
				</volist>
			</ul>
		</div>
	</div>
	<!-- 设计报价 -->
		{$orderTmp}
	<!-- 装修风水问答结束 -->
</div>
<include file="Index:footer" />
</body>
<script type="text/javascript">
	var shen = null,
	shi = null;
	shen = citys["shen"];
	shi = citys["shi"];
</script>
</html>