<extend name="Common:basic"/>
<block name="pageTitle">
   <div class="m-header-tit">装修案例</div>
</block>
<block name="link">
    <link rel="stylesheet" href="{$static_host}/assets/meitu/css/meitu_list.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{$static_host}/assets/case/css/index.css?v={:C('STATIC_VERSION')}">
    <link rel="canonical" href="{$global_yuming_m}/xgt">

</block>
<block name="content">
    <div class="box">
        <div class="form_control">
            <mip-form method="get" url="http://{:C('MIP_DONAMES')}/xgt">
                <input type="text" name="keyword" value="{$Think.get.keyword}" placeholder="请输入您想找的效果图" validatetarget="keyword" validatetype="must">
                <div target="keyword">关键词不能为空</div>
                <button type="submit"><i class="fa fa-search"></i></button>
           </mip-form>
        </div>
    </div>
    <div class="menu_list top_border">
        <ul class="pull_down_list">
           <mip-accordion sessions-key="mip_4" expaned-limit>
                <section>
                    <li class="parten_menu">{$info['selected']['fengge']['name']|default=风格} <i class="fa fa-angle-down"></i></li>
                    <div class="tab_container">
                        <volist name="info.fg" id="vo">
                            <if condition="$oldUrl EQ null">
                                <a <if condition="$_GET['fengge'] eq $vo['id']">class="now"</if>
                                data-type='mip' href="http://{:C('MIP_DONAMES')}/xgt?fengge={$vo.id}">{$vo.name}</a>
                                <else/>
                                <a <if condition="$_GET['fengge'] eq $vo['id']">class="now"</if>
                                data-type='mip'
                                href="http://{:C('MIP_DONAMES')}/xgt?{$oldUrl.fengge}&fengge={$vo.id}&v=<php>echo time()</php>">{$vo.name}</a>
                            </if>
                            </if>
                        </volist>
                    </div>
                    <div class="active_mask"></div>
                </section>
                <section>
                    <li class="parten_menu">{$info['selected']['huxing']['name']|default=户型}<i class="fa fa-angle-down"></i></li>

                    <div class="tab_container">
                        <volist name="info.hx" id="vo">
                            <if condition="$oldUrl EQ null">
                                <a <if condition="$_GET['hx'] eq $vo['id']">class="now"</if> data-type='mip' href="http://{:C('MIP_DONAMES')}/xgt?hx={$vo.id}">{$vo.name}</a>
                                <else/>
                                <a <if condition="$_GET['hx'] eq $vo['id']">class="now"</if> data-type='mip' href="http://{:C('MIP_DONAMES')}/xgt?{$oldUrl.hx}&hx={$vo.id}">{$vo.name}</a>
                            </if>
                        </volist>
                    </div>
                    <div class="active_mask"></div>
                </section>
                <section>
                    <li class="parten_menu">{$info['selected']['jiage']['name']|default=造价} <i class="fa fa-angle-down"></i></li>
                    <div class="tab_container">
                        <volist name="info.jg" id="vo">
                            <if condition="$oldUrl EQ null">
                                <a <if condition="$_GET['jg'] eq $vo['id']">class="now"</if> data-type='mip' href="http://{:C('MIP_DONAMES')}/xgt?jg={$vo.id}">{$vo.name}</a>
                                <else/>
                                <a <if condition="$_GET['jg'] eq $vo['id']">class="now"</if> data-type='mip' href="http://{:C('MIP_DONAMES')}/xgt?{$oldUrl.jg}&jg={$vo.id}">{$vo.name}</a>
                            </if>
                        </volist>
                    </div>
                    <div class="active_mask"></div>
                </section>
            </mip-accordion>
        </ul>
    </div>
    <div class="box-body meitu-list-body">
        <ul>
            <volist name="info.cases" id="vo">
            <li class="back-white">
                <a data-type='mip' href="http://{:C('MIP_DONAMES')}/caseinfo/{$vo.id}.shtml" class="imgs-box" rel="nofollow">
                    <if condition="$vo['img_host'] EQ 'qiniu'">
                        <mip-img src="http://{:C('QINIU_DOMAIN')}/{$vo.src}-w640.jpg" alt="{$vo.title}"></mip-img>
                        <else/>
                        <mip-img src="http://{:C('STATIC_HOST1')}{$vo.img_path}m_{$vo.img}" alt="{$vo.title}"></mip-img>
                    </if>
                </a>
                <div class="details">
                    <a data-type='mip' href="{$global_basehost}/meitu/p33764.html">
                        <p>{$vo.title}</p>
                    </a>
                    <div class="details-content">
                        <span>{$vo.writer}</span>
                        <span>|&nbsp;{$vo.zarea}㎡&nbsp;|</span>
                        <span>{$vo.zstyle}</span>
                        <div class="rightIcon" data-id="33764" data-on="0">
                            <span>{$vo.zcost}</span>
                        </div>
                    </div>
                </div>
            </li>
            </volist>
        </ul>
    </div>
    {$info.page}

</block>
<block name="script">
     <!--搜索框-->
    <script src="https://mipcache.bdstatic.com/static/v1/mip-form/mip-form.js"></script>
    <!--下拉菜单切换-->
    <script src="https://mipcache.bdstatic.com/static/v1/mip-lightbox/mip-lightbox.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-accordion/mip-accordion.js"></script>
</block>
