.ht-aticle-change{ margin-top:50px}
.ht-aticle-change li span{ font-size:14px; font-weight:bold; display:inline-block; width:90px; line-height:30px}
.ht-aticle-change li { margin-bottom:20px}
.ht-aticle-change li input[type=text]{padding-left: 5px; color: #666; border:1px solid #ccc; height:28px; line-height:30px; width:200px}
.ht-aticle-change li .chouse{ color: #666; border:1px solid #ccc; height:28px;width: 100px;}
.ht-aticle-change li .chouse option{padding-left: 3px;}
.ht-aticle-change li textarea{resize:none; color: #666; border: 1px solid #ccc; height: 100px; width: 205px; padding-left:5px; }
/************/
.ht-article-list{ width:100%; text-align:center}
.ht-article-list .ht-article-tit td{ height:50px; line-height:50px; background:#f7f7f7;font-size:14px; font-weight:bold}
.ht-article-list .main-list td{ height:50px; line-height:50px; border-bottom:1px solid #f7f7f7}.ht-article-list .main-list td a{ text-decoration:underline; margin:0 5px}


/********/
.ht-article-sub { margin-top:20px}
.ht-article-sub>li{line-height:30px; margin-bottom:20px}
.ht-article-sub ol{ margin-left:100px; display:inline; line-height:20px}
.ht-article-sub span{font-size:14px; font-weight:bold; display:inline-block; width:100px; line-height:30px;}
.ht-article-sub>li input[type=text],.ht-article-sub>li .checklist{ border:1px solid #ccc; height:28px; line-height:30px; width:200px}

.ht-yes a{display: inline-block;display: inline\9; *padding:15px 30px;padding:15px 30px\0; }
.ht-aticle-change li input[type=text].focus{border: 1px solid #F15858;}

.vtop{display: inline-block;display: inline\9; vertical-align: top;}






