.ht-sale{ width:100%; text-align:center;}

.ht-sale-tit td{ width:20%; line-height:50px; height:50px; font-size:14px; font-weight:bold; background:#f7f7f7}
.ht-sale-tit td.tit{ width:40%}
.ht-sale-list td{ line-height:50px; border-bottom:1px solid #f7f7f7;vertical-align: middle;}
.ht-sale-list td a{ text-decoration: underline; padding:0 5px}


/******************/
.sale-change{ margin-top:50px}
.sale-change dt{ line-height:30px; margin-bottom:20px}
.sale-change dt input[type=text]{ padding-left: 5px; height:30px; line-height: 30px\0;  *line-height: 30px width:200px; border:1px solid #ccc;color: #666;}
.sale-change span{ font-weight:bold; font-size:14px; display:inline-block; width:90px}
.sale-change ul{ display:inline-block}
.over{text-decoration: line-through;}
.ht-sale-list  em{display: block;height: 25px; line-height: 25px;}
.ht-yes{margin-top: 20px;}
.ht-yes a{display: inline-block; display: inline\9; *padding:15px 30px;padding:15px 30px\0; }
.laydate-icon{color: #666;}
.sale-change dt input[type=text].focus,.laydate-icon.focus,.sale-change dt textarea.focus{border: 1px solid #F15858;}
.vtop{display: inline-block;display: inline\9; vertical-align: top;}
.sale-change textarea{border: 1px solid #CCC; resize:none; width: 200px;padding-left: 5px; color: #666; height: 100px;}