<nav id="full-navbar" class="full-navbar">
    <ul>
        <li><a href="/"><i class="navbar-icon home-icon"></i><span>首页</span></a></li>
        <li><a href="/sheji/"><i class="navbar-icon huxing-icon"></i><span>户型设计</span></a></li>
        <li><a href="/baojia/"><i class="navbar-icon baojia-icon"></i><span>装修报价</span></a></li>
        <li><a href="/meitu/"><i class="navbar-icon meitu-icon"></i><span>装修效果图</span></a></li>
        <li><a href="/xgt/"><i class="navbar-icon anli-icon"></i><span>装修案例</span></a></li>
    </ul>
</nav>
<div class="contact-way" id="contact-way">
	<div class="contact-box">
		<div class="contact-box-container">
			<div class="online-zixun">
				<a rel="nofollow" href="{:OP('53kf_ty')}">
					<div class="online-icon"></div>
					<div>在线咨询</div>
				</a>
			</div>
			<div class="tit-huo">或</div>
			<div class="tel-zixun">
				<a href="tel:{:OP('QZ_CONTACT_TELNUM400')}" >
					<div class="tel-icon"></div>
					<div>电话咨询</div>
				</a>
			</div>
		</div>
	</div>
</div>