<nav id="full-nav" class="full-nav ">
    <div id="full-nav-shut"></div>
    <ul>
        <li>
            <empty name="cityInfo.bm">
                <a href="/"><img src="/assets/mobile/sub/img/home.png" width="103" height="103" alt="首页" />首页</a>
            <else />
                <a href="/{$cityInfo.bm}/"><img src="/assets/mobile/sub/img/home.png" width="103" height="103" alt="首页" />首页</a>
            </empty>
        </li>
        <li>
            <a href="/sheji/"><img src="/assets/mobile/sub/img/1huxing.png" width="103" height="103" alt="户型设计" />户型设计</a>
        </li>
        <li>
            <a href="/baojia/"><img src="/assets/mobile/sub/img/2zhineng.png" width="109" height="107" alt="装修报价" />装修报价</a>
        </li>
        <li>
            <a href="/meitu/"><img src="/assets/mobile/sub/img/3meitu.png" width="103" height="103" alt="装修效果图" />装修效果图</a>
        </li>
        <li>
            <empty name="cityInfo.bm">
                <a href="/xgt/"><img src="/assets/mobile/sub/img/4gongsi.png" width="103" height="103" alt="装修案例" />装修案例</a>
            <else />
                <a href="/{$cityInfo.bm}/xgt/"><img src="/assets/mobile/sub/img/4gongsi.png" width="103" height="103" alt="装修案例" />装修案例</a>
            </empty>
        </li>
        <li>
            <empty name="cityInfo.bm">
                <a href="/company/"><img src="/assets/mobile/sub/img/5gongsi.png" width="103" height="103" alt="装修公司" />装修公司</a>
            <else />
                <a href="/{$cityInfo.bm}/company/"><img src="/assets/mobile/sub/img/5gongsi.png" width="103" height="103" alt="装修公司" />装修公司</a>
            </empty>
        </li>
        <li>
            <a href="/gonglue/"><img src="/assets/mobile/sub/img/6gonglue.png" width="103" height="103" alt="装修攻略" />装修攻略</a>
        </li>
        <li>
            <a href="/riji/"><img src="/assets/mobile/sub/img/7riji.png" width="103" height="103" alt="装修日记" />装修日记</a>
        </li>
        <li>
            <a href="/wenda/"><img src="/assets/mobile/sub/img/8wenda.png" width="103" height="103" alt="装修问答" />装修问答</a>
        </li>
    </ul>
</nav>