.k1{ margin:0 auto; width:1210px; height: auto; min-height: 600px; margin-top:15px; overflow:hidden; font-size:14px}
.k1 .j-tab-nav{ float:left; width:300px}
.k1 .j-tab-nav a{ display:block; text-align:center; height:45px; font-size:18px;font-family:"Microsoft YaHei"; line-height:45px; background:#f1f1f1; color:#888; border-left:2px solid #f1f1f1;border-right:2px solid #f1f1f1}
.k1 .j-tab-con{ float:right; width:630px; line-height:30px; border-right:1px dotted #eee}
.k1 .j-tab-nav a:hover,.k1 .j-tab-nav a.current{ text-decoration:none; background:#f7f7f7; color:#555; border-left:2px solid #dc4146;border-right:2px solid #dc4146}
.k1 .righthot{ float:right; width:220px; margin-left:20px}
.k1 .righthot ul li .tu { width:220px; height:150px; position:relative}
.k1 .righthot ul li .tu .tips{ position:absolute; background:url(/assets/common/pic/hot1.png); width:30px; height:37px; top:-7px; left:5px}
.k1 .righthot ul li .tu img{ width:100%; height:100%}
.k1 .righthot ul li{ line-height:25px; font-size:12px; text-align:center; margin-top:20px}
.k1 .j-tab-con input{ border:1px solid #ccc; height:25px; line-height: 25px; color: #666; padding-left: 5px;}
.k1 .j-tab-con .bot1,.k1 .j-tab-con .bot2{ width:80px; cursor:pointer; color:#FFF; border-radius:2px; margin:20px 0; margin-right:20px; float:left; height:30px}
.k1 .j-tab-con .bot1{ border:1px solid #74a139; background:#84b248}
.k1 .j-tab-con .bot2{ background:#ccc}
.k1 .j-tab-con .tel{margin:20px 0; float:left; width:150px; border:1px solid #888; height:30px; margin-right:10px; color:#666; padding-left: 5px;}
.k1 .j-tab-con .telbot{ width:80px; text-align:center; display:block; float:left;margin:20px 0; margin-right:20px; width:150px; background:#84b248; font-size:12px; font-weight:bold; color:#fff; border:1px solid #74a139}
.bt span{ font-family:"Microsoft YaHei"; font-size:14px; color:#dd4247}
.sm{ color: #C00}
.an input{ background:color:#dd4247}
.tab-con-item{ display: none}
.err_msg{float:left; padding:20px 10px; color:#DD4247;}
.err_item{color:#DD4247;display: inline;}
.tab-con-item input[type=text]:focus{border: 1px solid #DD4247; }