.tool{margin-top: 20px !important;margin-bottom:24px !important;overflow: hidden}
.tool-menu{float: left;width: 240px;}
.tool-menu-title{width: 240px;height: 90px;background: #303033;text-align: center;line-height: 90px;font-size: 24px;color: #fff;margin-bottom: 2px;}
.tool-menu-list li{width: 100%;height: 60px;text-align: center; line-height: 60px;font-size: 16px;color: #666; background: #ebebeb;margin-bottom: 2px;}
.tool-menu-list li a{width: 100%;height: 60px;display:inline-block;color: #666;}
.tool-menu-list li:hover{background: #ff5353;color: #fff; cursor: pointer;}
.tool-menu-list li:hover a{ color: #fff;}
.tool-menu-list li.active{background: #ff5353;color: #fff;}
.tool-menu-list li.active a{ color: #fff;}
.tool-content{width: 970px;box-sizing: border-box;border: 1px solid #e6e6e6;float: right;overflow: hidden;display: none;}
.tool-content .input-info{margin-left: 50px;margin-top: 50px;float: left;}
.input-info .info-title{font-size: 18px;line-height: 18px;margin-bottom: 20px;margin-top: 30px;}
.input-info .info-title:first-child{margin-top: 0;}
.input-info .info-item {margin-bottom: 10px;}
.info-item .remarks{width: 200px;margin-left: 85px;color: #999;}
.input-info .info-other{font-size: 16px;color: #666;line-height: 26px;margin-bottom: 10px;padding-left: 130px;}
.input-info .info-item span{font-size: 14px;color: #666;}
.input-info .info-item input,.input-info .info-item select{width: 200px;height: 35px;box-sizing: border-box;border:1px solid #e6e6e6;margin-left: 15px;margin-right: 10px;padding-left: 8px;}
.input-info .info-item select{margin-left: 12px;}
.calculation-box{width: 108px;float: left;margin: 56px 36px;}
.calculation-box .line{width: 1px;height: 180px;background: #e6e6e6;margin: 0 auto;}
.calculation-bg{width: 108px;height: 108px;background: url(/assets/home/tools/img/tool-btn.jpg) no-repeat;overflow: hidden;margin: 20px 0;}
.calculation-bg:hover .calculation-btn{background: #fc9004;}
.calculation-bg .calculation-btn{width: 90px;height: 90px;background: #eb8b38;border-radius: 50%;overflow: hidden;margin: 9px auto;text-align: center;cursor: pointer;}
.calculation-bg .calculation-btn span{color: #fff;font-size: 18px;margin-top: 17px;display: block}
.result-info{width:362px;float: right;margin-right: 30px;margin-top: 84px;}
.result-info .result-title{font-size: 18px;text-align: center;line-height: 18px;margin-bottom: 30px;}
.result-info .result-num,.result-info .result-money{font-size: 16px;color: #666;text-align: center;}
.result-info .result-num span,.result-info .result-money span{font-size: 34px;color: #fb8920;line-height: 50px;}
.result-info .result-tip{font-size: 14px;color: #999999;margin-top: 34px;}
.result-info .result-baojia{width: 362px;height: 175px;background: #59caff;border-radius: 10px;overflow: hidden;margin-top: 65px;text-align: center;cursor: pointer;display: none;}
.result-info .result-baojia:hover{background: #71d2ff;}
.result-baojia .result-get{font-size: 20px;color: #fff;text-align: center;line-height: 20px;margin: 30px auto;}
.result-baojia .result-click{font-size: 26px;color: #fff;text-align: center;line-height: 26px;position: relative}
.result-baojia img{margin-top: 11px;}
.result-baojia .result-click img{position: absolute;margin-top: 0;top: 14px;right: 72px;}
.tool .tool-baojia{width: 450px;height: 370px;margin: auto;position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: #fff;border-radius: 8px;overflow: hidden;z-index: 100;text-align: center;display: none}
.tool .tool-baojia-title{font-size: 18px;color: #333;line-height: 18px;margin-top: 54px;margin-bottom: 24px;text-align: center;}
.tool-baojia .tool-baojia-select{width: 250px;margin: 0 auto;overflow: hidden;margin-bottom: 20px;}
.tool-baojia .tool-baojia-select select{width: 120px;height: 35px;border:1px solid #e3e3e3;box-sizing: border-box;float: left;color: #333;}
.tool-baojia .tool-baojia-select select:first-child{margin-right: 10px;}
.tool-baojia input{width: 250px;height: 35px;border:1px solid #e3e3e3;box-sizing: border-box;padding-left: 20px;color: #333;margin-bottom: 20px;}
.tool-baojia input::-webkit-input-placeholder{color: #999;}
.tool-baojia .get-submit{width: 250px;height: 35px;background: #ff5353;line-height: 35px;color: #fff;font-size: 14px;margin: 0 auto;cursor: pointer;}
.tool-baojia i.fa-close{font-size: 24px;position: absolute;top: 14px;right: 15px;cursor: pointer;color: #999;-webkit-text-stroke:3px #fff;}
.tool .tool-baojia-ok{width: 450px;height: 200px;margin: auto;position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: #fff;border-radius: 8px;overflow: hidden;z-index: 100;display: none}
.tool .tool-baojia-ok .tool-baojia-title{color: #ff5353;line-height: 24px;margin-top:40px;margin-bottom: 25px;}
.tool .tool-baojia-ok .tool-baojia-title i{margin-right: 10px;font-size: 24px;}
.tool .tool-baojia-ok .tool-baojia-tip{width: 355px;margin:0 auto;color: #333;font-size: 14px;}
.tool .mark{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);position: fixed;margin: auto;left: 0;top: 0;right: 0;bottom: 0;z-index: 99;display: none;}

.recommend{overflow: hidden}
.recommend-head{border-bottom: 1px solid #e3e3e3;line-height: 24px;padding-bottom: 10px;margin-bottom: 14px;}
.recommend-head span{font-size: 24px;}
.recommend-head a{float: right;font-size: 14px;line-height: 42px;}
ul.recommend-list li{overflow: hidden;margin-bottom: 40px;}
ul.recommend-list li:last-child{margin-bottom: 0;}
ul.recommend-list li .item-img-box{width: 230px;height: 173px;overflow: hidden;float: left;margin-right: 30px;}
ul.recommend-list li .item-img-box img{width: 100%;height: 100%;}
.item-info-box{margin-top: 20px;width: 950px;float: right;}
.item-info-box p.item-title{width:100%;height: 18px;font-size: 18px;color: #333;line-height: 18px;overflow: hidden;margin-bottom: 20px;}
.item-info-box p.item-time{font-size: 14px;color: #999;line-height: 14px;margin-bottom: 30px;}
.item-info-box p.item-time span:first-child{margin-right: 110px;}
.item-info-box p.item-time span i{margin-right: 3px;}
.item-info-box p.item-text{font-size: 14px;color: #333;}
.show{display: block;}
.err_item{margin-left: 84px;color: #ff5353}
.info-box input:focus{border-color: #ff5353;}