.box1,.box2{overflow: hidden;}
.gonglue1,.gonglue2{height: auto;overflow: hidden;}
.titlebt{padding: 15px 0 0 15px;font-size: 20px;font-weight: 700;}
.content{padding-top: 0;color: #333;}
.mokuaititle{font-size: 16px;margin: 10px 0 0 10px;}
.selecttime{margin: 15px 0 0 10px;vertical-align: middle;clear: both;overflow: hidden;}
.selecttime .sptit{font-size: 15px;float: left;}
.selecttime select{width: 60px;float: left;}
.selecttime span{float: left;}
.selecttime .titjvli{margin-left: 5px;}
.selecttime .jianjv{margin-left:10px;}
.selecttime .xiankz{float: left;}
.selecttime .xian{width: 25px;height: 1px;background: #ccc;display: inline-block;vertical-align: middle;
margin: 0 10px 0 10px;float: none;}
.selecttime .fabzanbibt{margin-left: 25px;}
.selecttime .baifb{float: left;}
.selecttime .baifb span{float: none;position: relative;top: 3px;}
.selecttime .fabzanbi{width: 50px;height: 23px;line-height: 23px;margin-right: 2px;float: left;}
.selecttime .addtj{width: 24px;height: 24px;background: url(../img/u59.png) no-repeat;
display: inline-block;cursor: pointer;vertical-align: middle;margin-left: 35px;}
.selecttime .removetj{width: 24px;height: 24px;background: url(../img/u91.png) no-repeat;
display: inline-block;cursor: pointer;vertical-align: middle;margin-left: 10px;}
.queren{clear: both;margin-top: 17px;margin-bottom: 20px;}
.queren .anniu{display: inline-block;padding: 8px 23px;background: #1d9ed7;color: #fff;border-radius: 5px;
margin-left:596px;cursor: pointer;}

.gonglue2 .timecj{overflow: hidden;margin-top: 10px;}
.gonglue2 input{outline: none;text-indent: 0.3em;}
.gonglue2 .xuanztime1{width: 100px;height: 25px;line-height: 25px;margin-left: 10px;}
.gonglue2 .xuanztime2{width: 100px;height: 25px;line-height: 25px;}
.gonglue2 .xian02{width: 25px;height: 1px;background: #ccc;display: inline-block;vertical-align: middle;
margin: 0 10px 0 10px;}
.show-count-info{
    width: 520px;
    display: inline-block;
}
.data-main-param-wrap{
    margin: 15px 0 0 10px;
    vertical-align: middle;
    clear: both;
    overflow: hidden;
    font-size: 15px;
}
.data-main-param-wrap input{
    width: 100px;
    margin-left: 0 !important;
}
