.shorttop { height: 35px;min-width:1210px; line-height:35px;font-family: "Microsoft YaHei"; border-bottom:2px solid #de4348;z-index: 999;position: absolute;position:fixed;top: 0px;right:0px;left:0px;background: #fff;}

.login{ float:right;}
.login li{ float:left; width:auto; padding:0 5px}
.login li a{ color:#888}
.topnav{ float:left}
.topnav li{ float:left; margin-right:20px}
.topnav li a:hover{ text-decoration:none}
.topnav li.active a{ color:#ea3d3d}
.clear {CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 0}
.mt40 {margin-top:40px;}

.meitu-bread{ background:#f7f7f7; height:40px;font-family: "Microsoft YaHei"; border-bottom:1px solid #f1f1f1; padding:0 20px;margin-top:36px;}
.meitu-bread dl{ line-height:40px}
.meitu-bread dl dt.bread-nav ul{ display:none; position:absolute; top:30px; border:1px solid #eee; background:#fff; padding:20px; line-height:30px; width:644px; overflow:hidden; padding-right:10px}
.meitu-bread dl dt.bread-nav ul h1{ font-size:12px}
.meitu-bread dl dt.bread-nav ul li{ width:140px; border-right:1px dotted #eee; overflow:hidden; float:left; margin-right:20px}
.meitu-bread dl dt.bread-nav ul li a{ display:block; float:left; width:60px; margin-right:10px}
.meitu-bread dl dt.bread-nav ul li.last{ margin-right:0; border-right:0}
.meitu-bread dl dt.bread-nav:hover ul{ display:block; z-index:99}
.meitu-bread dl dd,.meitu-bread dl dt{ float:left}
.meitu-bread dl dt.bread-nav{ position:relative; padding-right:10px}
.meitu-bread dl dt.bread-nav i{ position:absolute;border-top: 3px solid #888;border-left: 3px dashed transparent;border-right: 3px dashed transparent;margin-top: 8px;margin-left: 3px;right:0; top:10px}
.meitu-bread dl dd{ margin:0 5px;color:#888}
.meitu-bread dl dt a{ color:#888}
.meitu-bread dl dt a:hover{ color:#ea3d3d; text-decoration:none}

.meitu-wechat{ margin-right:160px;background:url(../img/wechat.jpg) no-repeat 0 8px; float:right; padding-left:30px; line-height:40px; color: #32A064; cursor:pointer; position:relative}
.meitu-wechat .dmap{ display:none; position:absolute;width:170px; border:1px solid #eee; background:#fff; text-align:center; padding:10px; right:0; top:35px; z-index:99}
.meitu-wechat .dmap h1{ color:#888; font-size:14px; position:relative}
.meitu-wechat:hover .dmap{ display:block}
.meitu-wechat span{ display:block; position:absolute; background:url(../img/uptip.png); width:15px; height:8px; top:-18px; right:10px}

.meitu-wrap{top:78px;}
.left-sider{ width:276px; margin:0 10px;float:left;padding-right:4px;}
.right-sider{position:absolute; right:0; left:310px; top:80px; bottom:0;margin-right:20px;min-width:870px;}
.right-box{ border:1px solid #f1f1f1; padding:10px;font-family:Microsoft YaHei;}
.wait-ask li{ padding-left:25px; line-height:30px; background:url(../img/liststyle-qa.gif) no-repeat 0px 5px; height:30px; overflow:hidden}
.right-tit{ font-size:16px; border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px}
.bq-list li{ float:left; margin-right:20px; line-height:25px; margin-bottom:5px}
.bq-list li a{ color:#888}

.left-sider::-webkit-scrollbar-track{ background:#f7f7f7}
.left-sider::-webkit-scrollbar{ height:10px; width:8px; position:absolute}
.left-sider::-webkit-scrollbar-thumb { border-radius:50px; border:1px solid #f7f7f7; background:#e1e1e1; margin:1px; }

.right-sider .main{ position:relative; height:100%; width:100%}

/*本站通用*/
.clearborderright{border-right:none !important;}
.none{display:none;}
.margintop20{margin-top:20px;}
.color1{color:White;}
.color2{color:#333333;}
.piccontext img:hover{background: white;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8; opacity: 0.8;}
/*图片特效*/
.piccontext{ position:absolute; width:100%; min-width:880px;background:white;overflow:hidden; bottom:0; top:0}
.piccontext h2{min-width:880px;height:46px;line-height:46px;overflow:hidden;font-size:20px;color:#2c2c2c;margin-top:18px;margin-left:25px;font-weight:normal;}
.source{min-width:880px;height:20px;line-height:20px;overflow:hidden;margin-left:25px; font-family:"宋体";}
.source_left{float:left;height:20px;color:#666666;}
.source_left a{color:#666666;}
.source_left a:hover{color:#ff5d11; text-decoration:underline;}
.source_left span{color:#ababab;padding-left:15px; font-family:Arial, Helvetica, sans-serif;}
.source_right{float:right;height:22px;color:#666666;}
.source_right a{color:#666666; display:inline-block}
.source_right span{padding:0px 10px;}
.source_right1{float:right;height:20px;color:#666666;display:none;}
.support{float:left;height:20px;overflow:hidden;}
.support img{padding:0px 5px;}
.spell{background:url("../img/spel.jpg") 0px 3px no-repeat;padding-left:23px;}
a.spell:hover{background:url("../img/spel_1.jpg") 1px 3px no-repeat;}
.list{background:url("../img/list.jpg") 1px 4px no-repeat;padding-left:23px;}
a.list:hover{background:url("../img/list_1.jpg") 0px 3px no-repeat;}

/*大图展示*/
.picshow{ position:absolute; left:0; right:0;top:2px; bottom:100px;min-width:880px;}
.picshowtop {vertical-align:middle;display:table-cell;text-align:center;overflow:hidden;z-index:1;}
.picshowtop a{max-height:100%; top:0; bottom:0;}
.picshowtop img{ max-height:100%;max-width:100%;}
.picshowtop >a.bigshow {display:none;vertical-align:middle;}


#preArrow{left:10%;display:block;top:0; bottom:0; height:100%}
#nextArrow{right:10%;display:block;top:0; bottom:0; height:100%}
.contextDiv{cursor:pointer;height:100%;width:40%;position:absolute;top:0px;z-index:5;}
.contextDiv span{position:absolute;top:50%;margin-top:-10%;width:46px;height:80px;}
#preArrow_A{left:0px;background:url('../img/left.png') 0px 0px no-repeat;display:none;}
#nextArrow_A{right:0px;background:url('../img/right.png') 0px 0px no-repeat;display:none;}

.picshowtxt {width:90%;padding-left:20px;min-height:36px;_height:30px;position:fixed; bottom:90px;overflow:hidden;left:300px;}
.picshowtxt_left{float:left;line-height:30px; font-family:Georgia, "Times New Roman", Times, serif;}
.picshowtxt_left span{color:#e55656;font-size:30px;}
.picshowtxt_left i{color:#666666;font-size:20px;}
.picshowtxt_right{float:left;margin-left:10px;display:inline;line-height:35px;color:#666666;font-size:14px;width:70%; font-family:"宋体";}

.picshowlist{ position: absolute;  bottom:-90px; z-index:100;width:100%;overflow:hidden; }
.picshowlist_left{float:left;width:120px;overflow:hidden;overflow:hidden;}
.picleftimg{width:120px;height:71px;background:url('../img/photo.jpg') no-repeat;padding-top:9px;padding-left:5px;overflow:hidden;}
.picleftimg img{width:106px;height:66px;}
.piclefttxt{width:120px;line-height:20px; font-family:"宋体";}
.piclefttxt a{color:#444444;}
.piclefttxt a:hover{color:#ff5d11; text-decoration:underline;}
.picshowlist_mid{background:#f1f1f1; position:absolute; left:135px; right:135px;display: block;overflow:hidden;height:80px;}
.picmidleft{float:left;width:24px;height:76px;overflow:hidden;}
.picmidleft a{display:block;width:24px;height:76px; margin-top:3px}
.picmidmid{ position: absolute;overflow:hidden;height:80px; left:30px; right:30px}
.picmidmid ul{ width:100%; position:relative;overflow:hidden;height:80px;}
.picmidmid ul li{float:left;margin-left:8px;display:inline;width:116px;text-align:center;overflow:hidden;position:relative;height:80px;}
.picmidmid ul li img{max-width:106px;height:80px;}
.selectpic{border:5px solid #ea3d3d;height:70px !important;}
.picmidright{float:right;width:24px;height:76px;overflow:hidden;}
.picmidright a{display:block;width:24px;height:76px; margin-top:3px}
.picshowlist_right{float:left;width:120px;float:right;overflow:hidden;}
/*列表展示*/
.piclistshow{width:930px;overflow:hidden;border-top:1px solid #e4e4e4;margin-top:10px;display:none;}
.piclistshow ul li{width:310px;height:274px;float:left;overflow:hidden;cursor:pointer;padding-top:40px;}
.piclistshow .picimg{width:310px;height:160px;overflow:hidden;display:table-cell;vertical-align:middle;text-align:center;padding:0px 10px;}
.picimg img{max-width:250px;max-height:160px;}
.pictxt{padding:15px 20px 0;line-height:25px;text-align:center; height:80px; overflow:hidden;}
.pictxt h3{font-size:14px;font-weight:normal;}
.gaoqing{background:url("../img/gaoqing.jpg") 1px 0px no-repeat;padding-left:26px;}
a.gaoqing:hover{background:url("../img/gaoqing_1.jpg") 1px 0px no-repeat;color:#FF702D;text-decoration:underline;}
/*弹出层*/
.bodymodal{width:100%;height:100%;overflow:hidden;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;z-index:110;position:fixed;top:0px;left:0px;display:none;}
.firsttop_left{width:300px;height:250px;margin-right:30px;overflow:hidden;float:left;}
.firsttop_right{float:left;width:270px;overflow:hidden;}
.close2{height:17px;}
.close2 a{background:url('../img/close.jpg') 0px 0px no-repeat;width:15px;height:15px;display:block;float:right;}
.replay{height:24px;margin-top:20px;overflow:hidden;}
.replay h2{float:left;font-size:16px;}
.replay p{float:left;margin-left:15px;display:inline;line-height:24px;padding-right:25px;background:url('../img/replay.png') right no-repeat;}
.replay p a{color:white;font-size:14px;}
.replay p a:hover{color:#FF702D;text-decoration:underline;}
.pictwo{width:270px;height:88px;overflow:hidden;margin-top:20px;}
.pictwo ul li{width:120px;height:88px;float:left;margin-right:15px;position:relative;overflow:hidden;}
.pictwo ul li img{width:120px;height:88px;}
.imgdivtext{position:absolute;bottom:0px;height:25px;width:120px;background:rgba(0, 0, 0, 0.6);line-height:25px;text-align:center;left:0px;z-index:4;*background:#000;*filter:alpha(opacity=50);}
.imgdivtext a{color:White;font-size:14px;font-weight:bold;}
.imgdivtext a:hover{color:#FF702D;text-decoration:underline;}
.returnbtn {margin-top:35px;margin-left:50px;}
.returnbtn a{width:115px;height:22px;border:1px solid #ccc;padding:5px 15px;line-height:22px;text-align:center;color:White;font-size:16px;display:block;}
.returnbtn a:hover{color:#FF702D;text-decoration:none;border:1px solid #8d5a00;}
.firsttop{width:600px;padding:20px;background:#1C1C1C;position:fixed;top:170px;left:0px;z-index:120;color:White;display:none;}
.endtop{width:600px;padding:20px;background:#1C1C1C;position:fixed;top:170px;left:0px;z-index:120;color:White;display:none;}
.leftsider{float: left; width: 930px;}
.rightsider{ float:right; width:260px;}

.de-hot-diary { margin: 0 20px; padding-bottom: 20px ;padding-top:10px;}
.de-hot-diary li { border-bottom: 1px dotted #f1f1f1; padding-bottom: 6px; margin-top: 6px;height:100%; }
.de-hot-diary li a:hover { text-decoration: none; opacity:0.8}
.de-hot-diary li .img {float:left;}
.de-hot-diary li .title {font-size:15px;font-weight:100;font-family:Microsoft YaHei;padding-left:15px;}
.de-hot-diary li img { height: 70px; width:70px; margin-right: 15px; }

.comp{ border:1px solid #f1f1f1; width: 250px; padding:5px; background:url(/assets/home/meitu/img/wenzbg.gif) repeat;margin-bottom: 20px}
.comp h1{ font-size:16px;font-family:"Microsoft YaHei"; line-height:30px; height:30px}
.comp p.ico{ line-height:20px; padding:10px 0; height:20px}
.comp p.ico span{margin-right:3px}
.comp p.ico i{ border-radius:3px; color:#fff; display:inline-block; padding:0 3px 0 4px; text-shadow:1px 0 0 rgba(0,0,0,.15); margin-right:3px}
.comp p.ico i.ico1{ background:#ffc600;border-right:1px solid #F90;border-bottom:1px solid #F90}
.comp p.ico i.ico2{ background:#ff6600;border-right:1px solid #e00;border-bottom:1px solid #e00}
.comp p.ico i.ico3{ background:#00a8ff;border-right:1px solid #006397;border-bottom:1px solid #006397}
.comp p.ico i.ico4{ background:#1ab628;border-right:1px solid #076f11;border-bottom:1px solid #076f11}
.comp p.ico i.ico5{ background:#00bbcc;border-right:1px solid #00828e;border-bottom:1px solid #00828e}
.comp .btn{ background:#e76363; color:#fff; display:block; text-align:center; line-height:30px; height:30px;border-radius: 2px; font-size:14px; font-weight:bold; margin-top:20px}
.comp .btn:hover{ text-decoration:none;background: #FE5458;}

.comp ul li{ line-height:30px; height:30px; font-size:14px}.comp ul li i{ color:#888; width:70px; display: inline-block}
.meitu-collect{float:right;height:40px; line-height:40px; margin-right:10px;}

.mid-txt{position: absolute;display: none; width: 40px; height: 20px; left: 5px; line-height: 20px; bottom: 8px;background:rgba(0,0,0,0.6); color: #FFF;font-size: 12px;}
.picmidmid ul li a{position: relative;  height: 80px;max-width: 106px; width: auto;}
.selectli .mid-txt{display: block;}


.wlmain { margin:0 auto; margin-top:20px; border-top:1px solid #eee; overflow:hidden; width:930px}
.wlmain .more-tit p{ float:left}
.wlmain .more-tit ul{ font-size:14px; float:right}
.wlmain .more-tit ul li{ float: left; margin-left:50px;}
.wlmain .more-tit ul li a{ color:#aaa}
.wlmain .more-tit ul li a:hover{ text-decoration:none; color:#f00}


.wlmain .more-tit{ font-size:28px; font-family:"Microsoft YaHei"; line-height:30px; margin:40px 0px 20px 0px; overflow:hidden}
.wlmain .about-img{ overflow:hidden; width:950px}
.wlmain .about-img dt{ float:left; width:180px; position:relative; margin-right:20px;height:125px;}
.wlmain .about-img dt img{ width:180px; height:125px;}
.wlmain .about-img dt p{ position:absolute; background:rgba(0,0,0,.5); left:0; bottom:0; padding:0 10px; line-height:25px; height:30px; text-align:center; right:0;}
.wlmain .about-img dt p a{ color:#fff}
.wlmain .about-img dd{float:left; width:245px; line-height:25px; margin-right:20px; overflow:hidden}
.wlmain .about-img dd a{ display:block; padding-left:20px; height:25px; overflow:hidden; background:url(/assets/common/pic/liststyle.gif) no-repeat left center}

.wlmain .wl-wd{ overflow:hidden}
.wlmain .wl-wd .wl-aw{ height:215px; line-height:25px; width:400px; float:left; margin-right:20px; border-right:1px dotted #ccc}
.wlmain .wl-wd .wl-aw dt,.wlmain .wl-wd .wl-qu dt{ font-size:16px; color:#FC0; font-family:"Microsoft YaHei"; margin-bottom:10px; text-shadow:-1px 0px 0px #F78911; text-align:center}
.wlmain .wl-wd .wl-aw dd{ color:#aaa; line-height:30px; height:60px; overflow:hidden; }
.wlmain .wl-wd .wl-aw dd p span{color:#0C9}
.wlmain .wl-wd .wl-aw dd a span{ color:#F60}
.wlmain .wl-wd .wl-qu{ width:490px; line-height:30px; overflow:hidden}
.wlmain .wl-wd .wl-qu dd{ float:left; width:225px; margin-right:20px;height:30px; overflow:hidden}

.wlmain .img-l{ overflow:hidden; width:948px; overflow:hidden}
.wlmain .img-l li{ float:left; width:217px; height:150px;margin-right:20px; position:relative}
.wlmain .img-l li img{ width:217px; height:150px}
.wlmain .img-l li p{position:absolute; background:rgba(0,0,0,.5); left:0; bottom:0; padding:0 10px; line-height:25px; height:30px; text-align:center; right:0;}
.wlmain .img-l li p a{ color:#fff}

/* 信赖公司 */
.index_rank_r{width: 260px;}
.index_rank_tab{width: 260px;height: 38px;margin-top: 20px;border-bottom: 3px solid #ebebeb;}
.index_rank_tab li{float: left;width: 130px;text-align: center;font-size: 18px;color: #333;}
.ielt7 .index_rank_tab li{position: relative;margin-bottom: -3px;z-index: 10;}
.index_rank_tab .on{height: 38px;border-bottom: 3px solid #01af63;}
.index_rank_tab .on span{color: #01af63;}
.index_rank_tab li span{display: inline-block;height: 38px;cursor: pointer;}
.index_rank_credit,.index_rank_liveness{width: 238px;overflow: hidden;}
.index_rank_credit li,.index_rank_liveness li{float: left;width: 238px;height: 57px;padding: 14px 0 13px;border-bottom: 1px dotted #e8e8e8;overflow: hidden; padding-left:10px}
.index_rank_credit .no_b{border-bottom: 0;}
.index_rank_credit .num,.index_rank_liveness .num{float: left;width: 20px;font-size: 24px;font-family: 'Arial';line-height: 57px;color: #bbb;}
.index_rank_credit .index_rank_credit_logo,.index_rank_liveness .index_rank_liveness_logo{float: left;display: inline;width: 84px;height: 42px;margin-left: 5px;border: 1px solid #eee;}
.index_rank_credit .index_rank_credit_logo img,.index_rank_liveness .index_rank_liveness_logo img{display: block;}
.index_rank_credit_box{float: left;display: inline;width: 120px;margin-left: 5px;}
.index_rank_credit_box a{display: block;width: 120px;margin: 5px 0 12px;font-size: 12px;line-height: 12px;color: #333;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.index_rank_credit_box p i{float: left;display: inline;width: 14px; height: 12px;margin-right: 3px;}
.ico_crown{background-position: -41px -46px;width: 13px; height: 12px; margin-left:2px;}
.ico_diamond1{background-position: -56px -46px;}
.ico_heart{background-position: -73px -46px; width: 14px; height: 13px; margin-left:2px;*vertical-align:middle;overflow: hidden;}
.index_rank_credit_box .rank_credit_scroe{float: left;margin-top: -4px;color: #999;font-size: 12px;}
.index_rank_liveness .no_b{border-bottom: 0;}
.index_rank_liveness .index_rank_credit_box p{color: #999999;}
.index_rank_liveness .index_rank_credit_box a{margin-bottom: 6px;}
.inlink-a-left-1{ width:258px; border:1px solid #f1f1f1; font-family:"Microsoft YaHei"; padding-bottom:10px}

/*内链样式*/
.inlink-tit{ font-size:18px; font-weight:100; height:40px; line-height:40px; border-bottom:1px dotted #f1f1f1; padding:0 20px; margin-bottom:10px; background-color:#F7F7F7}
.inlink-a-left{ width:258px; border:1px solid #f1f1f1; font-family:"Microsoft YaHei"; padding-bottom:10px}
.inlink-a-left li{ height:auto;line-height:25px;  background: url(/assets/common/pic/liststyle1.gif) no-repeat 8px 20px;}


/*最新点评*/
.inlink-a-left_box{float: left;display: inline;width: 220px;margin-left: 5px;}
.inlink-a-left_box .inlink-a-left_scroe{margin-top: -4px;color: #999;font-size: 12px;}
.inlink-a-left_box a {display: block;width: 220px;margin: 15px 0 8px;font-size: 14px;line-height: 14px;color: #333;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.inlink-a-left_box p i{float: left;display: inline;width: 14px; height: 12px;margin-right: 3px;}

/*装修百科*/
.inlink-a-left-2{float: left;display: inline;width: 220px;margin-left: 5px;}
.inlink-a-left-2 .inlink-a-left_scroe{float: left;margin-top: -4px;color: #999;font-size: 12px;}
.inlink-a-left-2 a{display: block;width: 220px;margin: 5px 0 12px;font-size: 12px;line-height: 12px;color: #333;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.inlink-a-left-2 p i{float: left;display: inline;width: 14px; height: 12px;margin-right: 3px;}

.wlmain .wl-bkrj { overflow:hidden}
.wlmain .wl-bkrj dt{ font-size:28px; font-family:"Microsoft YaHei"; margin-bottom:10px;}
.wlmain .wl-bkrj .wl-aw{width:450px;float:left; margin-right:10px; border-right:1px dotted #ccc}
.wlmain .wl-bkrj .wl-aw dd{float:left; width:205px;margin-right:20px; height:25px; overflow:hidden}
.wlmain .wl-bkrj .wl-qu {width:465px;overflow:hidden;}
.wlmain .wl-bkrj .wl-qu dd{float:left;width:220px;margin-right:10px; height:25px; overflow:hidden}

/*相关图册*/
.you_like { width:258px; border:1px solid #f1f1f1; font-family:"Microsoft YaHei"; padding-bottom:10px}
.you_like .like_list{margin-left:15px;width:231px;overflow:hidden;}
.you_like .like_list a{float:left;width:70px;height:70px;border:3px solid #fafafa;overflow:hidden;position:relative;_display:block;}
.you_like .like_list a span{width:30px;position:absolute;right:0;bottom:0;text-align:center;font-size:11px;height:13px;line-height:13px;color:#fff;background:#000;opacity:.7;filter:alpha(opacity=70);}
.you_like .like_list a:hover{border:3px solid #01a469;}

