<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/colorpicker/spectrum.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header">
            <h1>订单渠道来源标识添加</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
                <li class="active"><a href="/ordersource">订单渠道来源标识</a></li>
            </ol>
        </section>
        <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom" >
                <form id="form1" action="" method="POST">
                <div class="tab-content" style="min-width:800px;max-width:800px">
                    <!-- 常规 -->
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title">标记代号</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                    <input type="input" class="form-control" name="src" placeholder="指?src=后面跟的字符串" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title">来源名称</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                    <input type="input" class="form-control" name="name" placeholder="来源名称" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" >
                                <label for="sort">所属来源组</label>
                                <div class="row" id="categoryWrap">
                                    <div class="col-xs-4">
                                        <select class="form-control category" id="category" name="category">
                                            <option value="1">装修</option>
                                            <option value="2">家具</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control groupid" id="groupid" name="groupid">
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control sub_groupid" id="groupid" name="sub_groupid">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sort">所属部门</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control" name="dept" id="dept">
                                        <volist name="info.dept" id="v">
                                        <option value="{$v.id}">{$v.name}</option>
                                        </volist>
                                        </select>
                                    </div>
                                     <div class="col-xs-8">
                                        <button type="button" class="btn btn-block btn-default btn-flat addRedirect"><i class="fa fa-chain"></i>&nbsp;添加跳转URL</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort">是否付费</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control" name="charge" id="charge">
                                            <option value="">请选择</option>
                                            <option value="1">免费</option>
                                            <option value="2">收费</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8" style="line-height:32px">
                                        此项为必填项，免费/付费正确选择才能保证数据统计的准确性
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort">是否屏蔽自动弹框</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control" name="isshow" id="isshow">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8" style="line-height:32px">
                                        此项为必填项，关联网站PC/移动首页发单弹窗是否显示
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort">描述</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                    <textarea class="form-control" rows="3" placeholder="来源描述，选填" name="description"></textarea></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a href="javascript:void(0)" id="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i>&nbsp;添加</a>
                    <button type="button" class="btn btn-default" onclick="history.back(-1)"><i class="fa fa-mail-reply"></i>&nbsp;返回</button>
                </div>
                </form>
            </div>
        </div>
        </div>
        </section>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/cxselect/jquery.cxselect.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#categoryWrap').cxSelect({
                selects: ['groupid', 'sub_groupid'],
                jsonValue: 'id',
                jsonName: 'name',          // 数据标题字段名称
                jsonSub: 'children',       // 子集数据字段名称
                required:true,
                data: {$info.group}
            });
            $(".addRedirect").click(function(event){
                var ids = $(this).parent().html('<input type="input" class="form-control" name="redirect" placeholder="跳转URL" value="">');
            });

            $("#submit").click(function(event){

                if(trim($("select[name=charge]").val()) === ''){
                    alert("请选择是否付费！");
                    return false;
                }

                if(trim($("input[name=src]").val()) === ''){
                    $("input[name=src]").focus().addClass('focus');
                    alert("请填写标记代号~ ");
                    return false;
                }

                if(trim($("input[name=name]").val()) === ''){
                    $("input[name=name]").focus().addClass('focus');
                    alert("请填写来源名称~ ");
                    return false;
                }

                if(trim($("select[name=groupid]").val()) === ''){
                    alert("请选择来源组~ ");
                    return false;
                }

                if(trim($("select[name=dept]").val()) === ''){
                    alert("请选择所属部门~ ");
                    return false;
                }
                //验证 标记代号是否重复
                checkSrc(trim($("input[name=src]").val()));
            });
        });

        function checkSrc(src) {
            $.ajax({
                url: '/ordersource/checkSrc',
                type: 'get',
                dataType: 'JSON',
                data: {src}
            })
                .done(function(data) {
                    if(data.status == 0){
                        alert(data.info);
                        return false;
                    }else {
                        if(confirm('标记代号确认后将不可进行修改操作，是否确认？')){
                            //如果不存在 则提交
                            $("#form1").submit();
                        }
                    }
                });
        }

        //筛选渠道来源时,获取对应渠道的来源组(装修/家具)
        $(".category").on('change', function () {
            var category = $(this).val();
            $.ajax({
                url: '/ordersource/getSourceGroupByCategory',
                type: 'POST',
                dataType: 'JSON',
                data: {category: category}
            })
                .done(function (data) {
                    $('#categoryWrap').cxSelect({
                        selects: ['groupid', 'sub_groupid'],
                        jsonValue: 'id',
                        jsonName: 'name',          // 数据标题字段名称
                        jsonSub: 'children',       // 子集数据字段名称
                        required: true,
                        data: data.info
                    });
                });
        });
    </script>
</block>