/*本站通用*/
.clearborderright{border-right:none !important;}
.none{display:none;}
.margintop20{margin-top:20px;}
.color1{color:white;}
.color2{color:#333333;}
.piccontext img:hover{background: white;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8; opacity: 0.8;}
/*图片特效*/
.piccontext{width:930px;border:1px solid #f1f1f1;margin:0px auto 0px;background:white;overflow:hidden;}
.piccontext h2{width:880px;height:46px;line-height:46px;overflow:hidden;font-size:20px;color:#2c2c2c;margin-top:18px;margin-left:25px;font-weight:normal;}
.source{width:880px;height:20px;line-height:20px;overflow:hidden;margin-left:25px; font-family:"宋体";}
.source_left{float:left;height:20px;color:#666666;}
.source_left a{color:#666666;}
.source_left a:hover{color:#ff5d11; text-decoration:underline;}
.source_left span{color:#ababab;padding-left:15px; font-family:Arial, Helvetica, sans-serif;}
.source_right{float:right;height:22px;color:#666666;}
.source_right a{color:#666666; display:inline-block}
.source_right span{padding:0px 10px;}
.source_right1{float:right;height:20px;color:#666666;display:none;}
.support{float:left;height:20px;overflow:hidden;}
.support img{padding:0px 5px;}
.spell{background:url("/assets/common/pic/spel.jpg") 0px 3px no-repeat;padding-left:23px;}
a.spell:hover{background:url("/assets/common/pic/spel_1.jpg") 1px 3px no-repeat;}
.list{background:url("/assets/common/pic/list.jpg") 1px 4px no-repeat;padding-left:23px;}
a.list:hover{background:url("/assets/common/pic/list_1.jpg") 0px 3px no-repeat;}
/*大图展示*/
.picshow{width:880px;margin-top:20px;margin-left:25px;overflow:hidden;}
.picshowtop{width:880px;text-align:center;position:relative;z-index:1;overflow:hidden; min-height:300px}
.picshowtop >a.bigshow {display: none;}
.picshowtop >a.bigshow:first-child{display: block;}
#pic1{max-width:930px;}
#preArrow{left:0px;}
#nextArrow{right:0px;}
.contextDiv{cursor:pointer;height:100%;width:50%;position:absolute;top:0px;z-index:5;}
.contextDiv span{position:absolute;top:50%;margin-top:-10%;width:46px;height:80px;}
#preArrow_A{left:0px;background:url('/assets/common/pic/left.png') 0px 0px no-repeat;display:none;}
#nextArrow_A{right:0px;background:url('/assets/common/pic/right.png') 0px 0px no-repeat;display:none;}
.picshowtxt{width:910px;min-height:40px;_height:40px;margin-top:20px;}
.picshowtxt_left{float:left;width:50px; height:50px; line-height:30px; font-family:Georgia, "Times New Roman", Times, serif;}
.picshowtxt_left span{color:#e55656;font-size:30px;}
.picshowtxt_left i{color:#666666;font-size:20px;}
.picshowtxt_right{float:left;margin-left:10px;display:inline;line-height:35px;color:#666666;font-size:14px;width:700px; font-family:"宋体";}
.picshowlist{width:880px;margin-top:20px;padding-bottom:20px;overflow:hidden;}
.picshowlist_left{float:left;width:120px;overflow:hidden;overflow:hidden;}
.picleftimg{width:120px;height:80px;background:url('/assets/common/pic/photo.jpg') no-repeat;padding-top:9px;padding-left:5px;overflow:hidden;}
.picleftimg img{width:106px;height:66px;}
.piclefttxt{width:120px;line-height:20px; font-family:"宋体";}
.piclefttxt a{color:#444444;}
.piclefttxt a:hover{color:#ff5d11; text-decoration:underline;}
.picshowlist_mid{float:left;width:600px;margin-left:15px;display:inline;overflow:hidden;height:76px;}
.picmidleft{float:left;width:24px;height:76px;overflow:hidden;}
.picmidleft a{display:block;width:24px;height:76px;}
.picmidmid{float:left;width:550px;overflow:hidden;height:76px;padding-left:2px;}
.picmidmid ul{width:590px;overflow:hidden;position:relative;height:76px;}
.picmidmid ul li{float:left;margin-left:8px;display:inline;width:116px;text-align:center;overflow:hidden;position:relative;height:76px;}
.picmidmid ul li img{max-width:106px;height:76px;}
.selectpic{border:5px solid #cacaca;height:66px !important;}
.picmidright{float:left;width:24px;height:76px;overflow:hidden;}
.picmidright a{display:block;width:24px;height:76px;}
.picshowlist_right{float:left;width:120px;float:right;overflow:hidden;}
/*列表展示*/
.piclistshow{width:930px;overflow:hidden;border-top:1px solid #e4e4e4;margin-top:10px;display:none;}
.piclistshow ul li{width:310px;height:274px;float:left;overflow:hidden;cursor:pointer;padding-top:40px;}
.piclistshow .picimg{width:310px;height:160px;overflow:hidden;display:table-cell;vertical-align:middle;text-align:center;padding:0px 10px;}
.picimg img{max-width:250px;max-height:160px;}
.pictxt{padding:15px 20px 0;line-height:25px;text-align:center; height:80px; overflow:hidden;}
.pictxt h3{font-size:14px;font-weight:normal;}
.gaoqing{background:url("/assets/common/pic/gaoqing.jpg") 1px 0px no-repeat;padding-left:26px;}
a.gaoqing:hover{background:url("/assets/common/pic/gaoqing_1.jpg") 1px 0px no-repeat;color:#FF702D;text-decoration:underline;}
/*弹出层*/
.bodymodal{width:100%;height:100%;overflow:hidden;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;z-index:1100;position:fixed;top:0px;left:0px;display:none;}
.firsttop_left{width:300px;height:250px;margin-right:10px;overflow:hidden;float:right;}
.firsttop_right{float:left;width:270px;overflow:hidden;}
.close2{height:17px;}
.close2 a{background:url('/assets/common/pic/close.jpg') 0px 0px no-repeat;width:15px;height:15px;display:block;float:right;}
.replay{height:24px;margin-top:20px;overflow:hidden;}
.replay h2{float:left;font-size:16px;}
.replay p{float:left;margin-left:15px;display:inline;line-height:24px;padding-right:25px;background:url('/assets/common/pic/replay.png') right no-repeat;}
.replay p a{color:white;font-size:14px;}
.replay p a:hover{color:#FF702D;text-decoration:underline;}
.pictwo{width:270px;height:88px;overflow:hidden;margin-top:20px;}
.pictwo ul li{width:120px;height:88px;float:left;margin-right:15px;position:relative;overflow:hidden;}
.pictwo ul li img{width:120px;height:88px;}
.imgdivtext{position:absolute;bottom:0px;height:25px;width:120px;background:rgba(0, 0, 0, 0.6);line-height:25px;text-align:center;left:0px;z-index:4;*background:#000;*filter:alpha(opacity=50);}
.imgdivtext a{color:white;font-size:14px;font-weight:bold;}
.imgdivtext a:hover{color:#FF702D;text-decoration:underline;}
.returnbtn {margin-top:35px;margin-left:50px;}
.returnbtn a{width:115px;height:22px;border:1px solid #ccc;padding:5px 15px;line-height:22px;text-align:center;color:white;font-size:16px;display:block;}
.returnbtn a:hover{color:#FF702D;text-decoration:none;border:1px solid #8d5a00;}
.firsttop{width:600px;padding:20px;background:#1C1C1C;position:fixed;top:170px;left:0px;z-index:1200;color:white;display:none;}
.endtop{width:600px;padding:20px;background:#1C1C1C;position:fixed;top:50%;left:0px;z-index:1200;color:white;display:none;}
.rightsider{float: right; width: 930px;}
.leftsider{ float:left; width:260px;}
.leftsider .zxbj{ background: url(/assets/sub/case/img/tel.png) 10px center no-repeat; height: 50px; line-height: 50px; border:1px solid #F1F1F1; display: block;
padding-left: 60px; font-size: 20px; font-weight: bold; text-decoration: none;letter-spacing: 2px;font-family:"Microsoft YaHei";color: #FFF;  background-color:#E76363;  }
.leftsider .zxbj:hover{background-color:#FE5458 ;}
.r_title{ font-size:18px;font-family:"Microsoft YaHei"; line-height:45px; height:45px; }
.plmain { margin-top:20px; border-top:1px solid #eee; overflow:hidden}
.plmain h1{ font-size:14px; line-height:35px; color:#888}
.plmain .userhead{ width:60px; height:60px; float:left }.plmain .userhead img{ width:100%; height:100%;}
.plmain .usersend{ line-height:20px; float:right; width:830px; background:#f7f7f7; padding:10px}
.plmain .usersend .name,.plmain .usersend .timer{ color:#888}
.plold{ overflow:hidden; margin-top:20px}
.plnew{ margin-top:30px; border-top:1px solid #eee}
.allsend{ text-align:center; line-height:30px; margin-top:20px; border:1px dashed #f1f1f1}
.textinput { float:right; width:850px; height:102px}
.textinput .send{ text-align:left; line-height:30px; height:30px; margin-top:10px}
.textinput .send input{color: #666; border:1px solid #ccc; width:70px; height:28px;text-align: center;}
.textinput .send a{ display:inline-block; padding:0 20px; background:#de4348; color:#FFF;}
.textinput .t1{color: #666; padding-left: 3px; resize:none; border:1px solid #ccc; width:844px; line-height:20px; height:58px}


.comp{ border:1px solid #f1f1f1; padding:10px; background:#f7f7f7}
.comp h1{ font-size:16px;font-family:"Microsoft YaHei"; line-height:30px; height:30px}
.comp p.ico{ line-height:20px; padding:10px 0; height:20px}
.comp p.ico span{margin-right:3px}
.comp p.ico i{ border-radius:3px; color:#fff; display:inline-block; padding:0 3px 0 4px; text-shadow:1px 0 0 rgba(0,0,0,.15); margin-right:3px}
.comp p.ico i.ico1{ background:#ffc600;border-right:1px solid #F90;border-bottom:1px solid #F90}
.comp p.ico i.ico2{ background:#ff6600;border-right:1px solid #e00;border-bottom:1px solid #e00}
.comp p.ico i.ico3{ background:#00a8ff;border-right:1px solid #006397;border-bottom:1px solid #006397}
.comp p.ico i.ico4{ background:#1ab628;border-right:1px solid #076f11;border-bottom:1px solid #076f11}
.comp p.ico i.ico5{ background:#00bbcc;border-right:1px solid #00828e;border-bottom:1px solid #00828e}
.comp .btn{ background:#e76363; color:#fff; display:block; text-align:center; line-height:30px; height:30px;border-radius: 2px; font-size:14px; font-weight:bold; margin-top:20px}
.comp .btn:hover{ text-decoration:none;background: #FE5458;}

.comp ul li{ line-height:30px; height:30px; font-size:14px}.comp ul li i{ color:#888; width:70px; display: inline-block}
.rtel{ padding:10px; margin-top:20px; border:2px dotted #f7f7f7; background: url(/assets/sub/case/img/lphx.jpg) no-repeat; padding-top:100px}
.rtel .int{ margin-top:10px; overflow:hidden; height:32px}
.rtel .int input{color: #666; width:224px; width: 220px\0; border:1px solid #ccc; height:30px; line-height:30px\0; text-align:left; display:block; padding:0 5px; height:29px\9;width:228px\9;}
.rtel .int select{color: #666; width:100%; border:1px solid #ccc; height:30px; line-height:30px; text-align:left; display:block;  height:29px\9;width:228px\9;}
.rtel .int a{ display:block; line-height:30px; color:#fff; background:#E76363; border:1px solid #FF5868; font-size:14px; text-align:center;border-radius: 2px;}
.rtel .int a:hover{ text-decoration:none; color:#fff; background:#FF5458}
.w_top_img{background: url(/assets/common/pic/caseinfo.jpg) no-repeat; width:300px; height:250px; position: relative;}
.w_top_img a{position: absolute; padding:5px 10px; color:#DE4348; font-weight: bold; font-size:14px;top:89px; left:36px; text-decoration: underline;}
.w_top_img a:hover{color: #D0383E; }
.w_top_img span{position: absolute; padding:5px 10px; color:#DE4348; font-weight: bold; font-size:12px;top:91px; right:55px;}
.uplold{padding:15px; border-color:#faebcc;  text-align:center;color:#666; background:#fcf8e3;}
.uplold > i{display:inline-block; *display:inline}
.uplold > i >i,.uplold > i >em{float: left;}
.uplold > i >i{background:url(/assets/common/img/global.png) no-repeat; width:21px;height:18px;background-position:-8px -123px; display:block;}
.send *{float: left;}
.send .error{color: #DE4348;font-weight: bold; margin-left:10px;font-size: 14px;}
.send .info{float:right; color:#c3c3c3;}
.send .info i{float: none; color:#666;font-size:14px; font-weight:bold; margin:0 3px;}

.send a.verify{margin:0 5px;background-color: #FFF; padding:0;}
.xgt_hd_logo{background-color: #fff; background:url(/assets/common/pic/iamtired.png) 10px center no-repeat; height: 60px; line-height: 60px; padding-left:100px; font-size: 14px; width: 1110px;}
.xgt_hd_logo a{color: #FF3600; font-size: 16px; text-decoration: none; margin-right: 10px;}
.xgt_hd_logo span{color: #FF3600;}
#xgt_hd_logo.fixed{background-color: #FFF; float: none; display: none; width: 1210px;left:50%; top:0; margin-left: -605px; margin-top: -100px; border:0;}




