<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{$keys.title}</title>
    <meta name="keywords" content="{$keys.keywords}" />
    <meta name="description" content="{$keys.description}" />
    <include file="Index:css_resource" />
    <link rel="stylesheet" type="text/css" href="/assets/sub/ppb/css/ppb.css?v={:C('STATIC_VERSION')}" />
    <include file="Index:base_javascript" />
</head>

<body>
    <include file="Index:header" />
    <!-- S 品牌榜box-->
    <div class="ppb-bg">
        <div class="wrap ofw">
            <!-- S 知名装修公司-->
            <div class="ppb-hot">
                <div class="ppb-hot-tit">{$cityInfo["name"]}知名装修公司</div>
                <ul class="ppb-hot-ul">
                    <volist name="info.famous" id="vo">
                    <if condition="$key ELT 2">
                      <li>
                          <div class="ppb-hot-tip1">{$key+1}</div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.company_id}" class="ppb-hot-logo" target="_blank">
                            <img src="http://{:OP('QINIU_DOMAIN')}/{$vo.img_url}-w240.jpg" width="126" height="63" alt="" />
                          </a>
                          <h5><a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.company_id}" target="_blank">{$vo.company_name}</a></h5>
                          <p>{$vo.value}</p>
                          <span>综合评分&nbsp;&nbsp;<strong>{$vo.check_score}</strong></span>
                      </li>
                    <else/>
                       <li>
                          <div class="ppb-hot-tip2">{$key+1}</div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.company_id}" class="ppb-hot-logo" target="_blank">
                            <img src="http://{:OP('QINIU_DOMAIN')}/{$vo.img_url}-w240.jpg" width="126" height="63" alt="" />
                          </a>
                          <h5><a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.company_id}">{$vo.company_name}</a></h5>
                          <p>{$vo.value}</p>
                          <span>综合评分&nbsp;&nbsp;<strong>{$vo.check_score}</strong></span>
                      </li>
                    </if>
                    </volist>
                </ul>
            </div>
            <!-- E 知名装修公司-->
            <!-- S 签单-->
            <div class="order-box validate">
                <h2>免费设计与报价</h2>
                <h3>4套设计全面PK，让你的装修决不后悔</h3>
                <div class="box-line">
                  <input class="edit-text" type="text" placeholder="请输入您的称呼" name="name">
                </div>
                <div class="box-line">
                  <input class="edit-text" type="text" placeholder="请输入您的手机号" name="tel">
                </div>
                <div class="box-line">
                  <select class="edit-city" name="cs">
                  </select>
                </div>
                <button id="btnSubmit" type="button">立即申请</button>
            </div>
            <!-- E 签单-->
        </div>
        <!-- S 折叠列表 排行榜-->
        <div class="wrap ofw mt-60">
            <div class="ppb-list-box">
                <div class="ppb-list">
                    <div class="ppb-list-tit"> 设计水平排行榜 </div>
                    <div class="ppb-list-top"> <span>排行</span><span>评分</span> </div>
                    <ul class="ppb-list-ul">
                        <volist name="info.sj" id="vo">
                        <if condition="$key EQ 0">
                        <li class="active">
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        <else/>
                        <li>
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        </if>
                        </volist>
                    </ul>
                </div>
                <div class="ppb-list">
                    <div class="ppb-list-tit"> 施工质量排行榜 </div>
                    <div class="ppb-list-top"> <span>排行</span><span>评分</span> </div>
                    <ul class="ppb-list-ul">
                        <volist name="info.sg" id="vo">
                        <if condition="$key EQ 0">
                        <li class="active">
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        <else/>
                        <li>
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        </if>
                        </volist>
                    </ul>
                </div>
                <div class="ppb-list">
                    <div class="ppb-list-tit"> 服务态度排行榜 </div>
                    <div class="ppb-list-top"> <span>排行</span><span>评分</span> </div>
                    <ul class="ppb-list-ul">
                        <volist name="info.fw" id="vo">
                        <if condition="$key EQ 0">
                        <li class="active">
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        <else/>
                        <li>
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        </if>
                        </volist>
                    </ul>
                </div>
                <div class="ppb-list">
                    <div class="ppb-list-tit"> 信赖榜 </div>
                    <div class="ppb-list-top"> <span>排行</span><span>评分</span> </div>
                    <ul class="ppb-list-ul">
                        <volist name="info.trust" id="vo">
                        <if condition="$key EQ 0">
                        <li class="active">
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        <else/>
                        <li>
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        </if>
                        </volist>
                    </ul>
                </div>
                <div class="ppb-list">
                    <div class="ppb-list-tit"> 活跃榜 </div>
                    <div class="ppb-list-top"> <span>排行</span><span>发布量</span> </div>
                    <ul class="ppb-list-ul">
                        <volist name="info.activity" id="vo">
                        <if condition="$key EQ 0">
                        <li class="active">
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        <else/>
                        <li>
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        </if>
                        </volist>
                    </ul>
                </div>
                <div class="ppb-list">
                    <div class="ppb-list-tit"> 人气榜 </div>
                    <div class="ppb-list-top"> <span>排行</span><span>人气</span> </div>
                     <ul class="ppb-list-ul">
                        <volist name="info.popularity" id="vo">
                        <if condition="$key EQ 0">
                        <li class="active">
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        <else/>
                        <li>
                          <span class="ppb-list-num">{$key+1}</span>
                          <div class="ppb-logo">
                              <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank"><img src="{$vo.logo}" alt="{$vo.jc}" /></a>
                          </div>
                          <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" class="ppb-info" target="_blank">{$vo.jc}</a>
                          <p>
                            <span class="ppb-list-ico s1">设</span>{$vo.teamcount}名
                            <span class="ppb-list-ico s2">评</span>{$vo.count}条
                          </p>
                          <div class="ppb-star">
                            <for start="0" end="$vo.star">
                              <span></span>
                            </for>
                          </div>
                        </li>
                        </if>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <!-- E 折叠列表 排行榜-->
        <!-- S 热心+新-->
        <div class="wrap ofw">
            <div class="ppb-bot">
                <div class="ppb-bot-tit">热心装修公司</div>
                <ul class="ppb-bot-list">
                    <volist name="info.enthusiastic" id="vo">
                    <li>
                        <div class="ppb-com-img">
                            <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}">
                                <img src="{$vo.logo}" alt="{$vo.jc}" target="_blank"/>
                            </a>
                        </div>
                        <div class="ppb-com-name">
                            <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank">{$vo.jc}</a>
                        </div>
                        <div class="ppb-com-info">
                            <p><i class="fa fa-commenting"></i>近30天的回答&nbsp;{$vo.count|default=0}</p>
                            <p><i class="fa fa-user"></i>已帮助业主&nbsp;{$vo.views|default=0}</p>
                        </div>
                    </li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="wrap ofw mt-50">
            <div class="ppb-bot">
                <div class="ppb-bot-tit">新签单公司</div>
                <ul class="ppb-bot-list">
                    <volist name="info.latest" id="vo">
                    <li>
                        <div class="ppb-com-img">
                            <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank">
                                <img src="{$vo.logo}" alt="{$vo.jc}" target="_blank"/>
                            </a>
                        </div>
                        <div class="ppb-com-name">
                            <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}" target="_blank">{$vo.jc}</a>
                        </div>
                        <div class="ppb-com-info">
                            <p><i class="fa fa-commenting"></i>好评数:&nbsp;{$vo.count}</p>
                            <p><i class="fa fa-user"></i>综合评价:&nbsp;{$vo.check_score}</p>
                        </div>
                    </li>
                    </volist>
                </ul>
            </div>
        </div>
        <!-- E 最热心+最新-->
        <!-- S 底部图片-->
        <div class="ppb-bot-img"></div>
        <!-- E 底部图片-->
    </div>
    <include file="Index/footer" />
    <include file="Index:javascript_resource" />
    <script>
    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
    App.citys.init(".order-box [name=cs]", null, shen, shi,"{$cityInfo.id}");
    $(document).ready(function() {
        $(".ppb-list-ul li").hover(function() {
            $(this).parent(".ppb-list-ul").find("li").each(function() {
                $(this).removeClass("active");
            });
            $(this).addClass("active");
        });

        $("#btnSubmit").click(function(event) {
            var container = $(".order-box");
            var data = {
                name:$("[name=name]",container).val(),
                tel:$("[name=tel]",container).val(),
                cs:$("[name=cs]",container).val(),
                step:2,
                source:112
            }
            $(".focus", container).removeClass('focus');
            $(".height_auto", container).removeClass('height_auto');
            $(".valdate-info", container).remove();

            window.order({
                extra:data,
                error:function(){},
                success:function(data, status, xhr){
                    if(data.status == 1){
                        $("body").append(data.data.tmp);
                    } else {
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    if ('name' == item) {
                        $("[name=name]",container).parent().addClass('height_auto');
                        $("[name=name]",container).addClass('focus').focus();
                        var span = $("<span class='valdate-info'></span>");
                        span.html(info);
                        $("[name=name]",container).parent().append(span);
                        return false;
                    };
                    if ('tel' == item) {
                        $("[name=tel]",container).parent().addClass('height_auto');
                        $("[name=tel]",container).addClass('focus').focus();
                        var span = $("<span class='valdate-info'></span>");
                        span.html(info);
                        $("[name=tel]",container).parent().append(span);
                        return false;
                    };
                    return true;
                }
            });
        });
    });
    </script>
</body>

</html>