/*
* @Author: qz_dc
* @Date:   2018-07-23 10:47:07
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-07 16:21:09
*/
.h40 {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
select {
    width: 200px;
    height: 34px;
}
input[type='text'] {
    height: 34px;
    width: 200px;
}
input[type='radio'] {
    cursor: pointer;
}
.daima {
    margin-bottom: 10px;
}
.js-daima{
    margin-bottom: 20px;
}
.baocun {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    background: #1d9ed7;
    color: #fff;
    margin-left: 60px;
    border-radius: 5px;
    cursor: pointer;
}
.biaoji {
     margin-bottom: 10px;
}
.select2-container {
    width: 583px;
}
.select2-input {
    width: 100%;
}