a{transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}

a:hover{transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}



.loginbg{
-webkit-backface-visibility:visible;
-webkit-transform-origin:center center;
-webkit-animation:loginbg 40s infinite 0s ease-out alternate both ;
} @-webkit-keyframes loginbg{
0%{
 background-position: top left;

} 100%{
background-position: bottom right;
}
}
.loginbg{
-moz-backface-visibility:visible;
-moz-transform-origin:center center;
-moz-animation:loginbg 40s infinite 0s ease-out alternate both ;
} @-moz-keyframes loginbg{
0%{
 background-position:100%
} 100%{
 background-position:120%
}
}



.loginbg {
    width: 100%;
    min-height: 530px;
    min-width: 1210px;
    position: relative;
}
.loginbg .loginbgby {
    float:left;
    margin-top:75px;
    margin-left:75px;
    width: 540px;
    height: 340px;
}

.loginbg .loginbgby .zhezhao {
    margin-top:75px;
    margin-left:75px;
    background: url(/assets/common/img/zhezhao.png);
    position: absolute;
    width: 540px;
    height: 340px;
    left: 0;
    top: 0;
}

.loginbg .loginbgby a {
    color: #fff;
    text-decoration: underline;
}

.loginbg .logintips{ position:absolute; top:20px; left:10%; background:url(../images/logintips.png); width:298px; height:120px}
.loginlogo{ height:100px}


.loginbox{
    border: 2px solid #eee;
    background:#FFF; float:right;font-family:"Microsoft YaHei";
    width: 298px;
    margin-top:10px; padding:10px 30px; min-height:300px; padding-bottom:30px}


.loginbox .logintit{   display:block; margin:20px 0; line-height:20px; height:20px}
.loginbox .logintit h1{font-weight:normal; font-size:20px; float:left}
.loginbox .logintit i{ float:right}


.loginbox .tips{ color:#e95252; line-height:20px;}
.loginbox .loginput{ border-top:1px solid #ddd;}
.loginbox .loginput input{ border:1px solid #ddd; border-top:0; height:50px; line-height:50px; width:308px; padding-left:50px; margin-top:0}
.loginbox .loginput input:focus {outline:none;}
.loginbox .loginput input.log{ background:url(../pic/loginboxbg.png) no-repeat 10px 0; }
.loginbox .loginput input.res{ background:url(../pic/loginboxbg.png) no-repeat 10px -50px; }
.loginbox .btn { line-height:40px; margin-top:20px; height:40px; font-size:14px; padding-left:120px}
.loginbox a{ display: inline-block;  text-align:center; border-radius:3px; text-decoration:underline; color:#f24b4b;}
.loginbox .btn a.logbtn{ width:120px; height:40px; background:#44b549; color:#fff; margin-right:20px; text-decoration:none;}
.loginbox .btn a.logbtn:hover{ text-decoration:none; background:#08be77}
.loginbox .other{ margin-top:20px; padding-top:20px;border-top:1px dotted #f1f1f1; overflow:hidden}
.loginbox .other a{ display:block; width:120px; color:#FFF; height:35px; line-height:35px; padding-left:50px; border-radius:3px; text-align:center;}.loginbox .other a.qqlogin{ background:url(../pic/otherlogin.png) no-repeat 10px -5px #3bc9f7; float:left}
.loginbox .other a:hover{ text-decoration:none; opacity:0.8}.loginbox .other a i{ border-left:1px #eee dotted; display:inline-block; width:100%}.loginbox .other a.weibologin{ background:url(../pic/otherlogin.png) no-repeat 10px -58px #e15050; float:right}


/*******注册页*******/
.loginbox .tab-nav{ overflow:hidden;}
.loginbox .tab-nav a{ width:99px; float:left; display:block; height:40px; line-height:40px; text-decoration:none; font-size:14px; color:#3c3c3c; border-bottom:2px solid #f1f1f1; border-radius:0}
.loginbox .tab-nav a.current{ border-bottom:2px #ee4040 solid; color:#ee4040}
.loginbox .tab-con-item{ display:none}
.loginbox .other1{ border-top:#e6e6e6 1px dashed; margin-top:20px; padding-left:20px; line-height:20px; padding-top:20px; color:#888888}
.loginbox .other1 img{ float:left; margin:0 10px; }
.loginbox .other1 a{ display: inline}
.loginbox .other1 p{ display:block; width:100%; overflow:hidden}
.loginbox .other1 em{ float:left;display:block}
.loginbox .tab-con-item ul { margin-top:20px}
.loginbox .tab-con-item ul li{ overflow:hidden}
.loginbox .tab-con-item ul li  input:focus,.loginbox .tab-con-item ul li select:focus{outline:none;border: 1px solid #EE4040;}
.loginbox .tab-con-item ul li .full{color: #666; width:271px; height:35px; line-height:35px\0; border:1px solid #ddd; padding:0 10px}
.loginbox .tab-con-item ul li input.half{width:122px; float:left; margin-right:10px;}
.loginbox .tab-con-item ul li .half{color: #666; width:115px; height:35px; line-height:35px\0; border:1px solid #ddd; padding:0 10px; float:left; margin-right:16px;text-decoration: none;}
.loginbox .tab-con-item ul li button.half{font-size: 12px; width: 120px; margin-right: 0; height: 37px; padding: 0; background:#EEE; border-radius: 0; cursor: pointer;}
.loginbox .tab-con-item ul li button.half:hover{background: #e6e6e6;}
.loginbox .tab-con-item ul li button.half[disabled]{color: #999;}
.loginbox .tab-con-item ul li img{ float:left}
.loginbox .tab-con-item ul li .registertips{height:20px; color:#ee4040; clear:both;padding-left: 5px;}
.loginbox .registerbtn{ height:35px; line-height:35px; width:100%; margin:0 auto; text-align:center; background:#44b549; color:#FFF;text-decoration:none; font-size:14px; display:block; margin-top:20px}
.loginbox .registerbtn:hover{ text-decoration:none;background:#08be77}

.loginbox .registerbtn_no{background-color: #ccc;cursor: no-drop;}
.loginbox .registerbtn_no:hover{background-color: #ccc;}


.loginbox .tab-con-item ul li select{float: left; color: #666;
width: 143px;
padding-left: 10px;
height: 34px;
margin-right: 10px;
display: inline;border:1px solid #ddd;padding-left: 5px;}
.loginbox .tab-con-item ul li select option{padding-left: 5px;}

/***********找回密码************/
.helpstep { width:800px; margin:0 auto; overflow:hidden; margin-top:50px}
.helpstep span{ border-radius:20px; height:30px; width:80px;color:#666; float:left; display:block; background:#f7f7f7; line-height:30px; text-align:center}.helpstep em{ float:left; display:block; width:100px; height:5px;background:#f7f7f7; margin:0 10px; margin-top:12px}
.helpstep span.active,.helpstep em.active{ color:#fff; background:#44b549}

.gpmain { width:500px; margin:0 auto ; margin-top:100px; font-family:"Microsoft YaHei"; }
.gpmain input{ color: #666; padding-left:5px;  border:1px solid #ccc; height:28px; line-height:28px; width:300px; float:left}
.gpmain input.half{ color: #666; width:100px; margin-right:10px; padding-left: 5px;}
.gpmain input:focus{border-color: #EE4040;}
.gpmain p{ color: #666; overflow:hidden; height:30px; margin-bottom:5px; line-height:30px}
.gpmain h1{ font-size:22px; color:#44b549; text-align:center}
.gpmain p.tit{ font-size:16px;}
.gpmain a{ color:#e95252;}
.gpmain p i{  color: #666; width:50px; float:left}
.gpmain p i img{ float:left; vertical-align: middle;}
.gpmain p em{margin-right: 10px;}
.gpmain a.btn,.gpmain button.btn{  height:30px; line-height:30px;width:140px; text-align:center; background:#44b549; color:#FFF;text-decoration:none; font-size:14px; display:block; margin:20px 0; margin-left:50px; padding:0 20px}
.gpmain button.button{margin:0 auto; margin-bottom: 10px; cursor: pointer; width: 200px;}
.gpmain button.button[disabled]{background: #ddd}
.gpmain .mode{color: #666;}
.box2{ text-align:center}
.box2 a.btn{ margin:20px auto 20px  auto}
.gpmain .verify img{vertical-align: middle;}
.gpmain .tips{height: 20px; margin-bottom: 5px;padding-left: 50px;color: #EE4040;}
.gpmain .mode{display: none; text-align: center;}
.gpmain .active{display: block;}
.gpmain .time{display: none;}

.success{padding:20px 0;  padding:20px 50px; width: 600px; margin:0 auto;}
.success .loginlogo{text-align: center;}
.success h2{border-bottom: 1px dashed #ccc;padding: 20px 0; color: #666; text-align: center;margin-bottom: 20px;}
.success .info{margin-top: 10px; border:1px dashed #ccc; padding: 10px; }
.success .info p{font-size: 14px; line-height: 30px;}

.repass{background:#fff; color: #4C9ED9; cursor: pointer; margin-top: 1px;}
.repass[disabled]{color: #999;}

a.resetTel{color: #999;}
a.red{color: #E95252;}

.simpleTips{float:left;width:120px; padding-left:5px;color:red; height: 20px; line-height: 20px;}