.new-box-l { width: 932px; float:left }
.new-bread { line-height: 35px; }
.comp-chouse { border: 1px solid #d8d8d8; position: relative; margin-bottom: 30px; }
.comp-chouse dl:last-of-type { border-bottom: 0 }
.comp-chouse-list { overflow: hidden }
.comp-chouse-list dl { overflow: hidden; line-height: 40px; padding: 0 20px; border-bottom: 1px solid #d8d8d8; position: relative }
.comp-chouse-list dl dd, .comp-chouse-list dl dt { float: left; }
.comp-chouse-list dl dt { font-weight: bold; }
.comp-chouse-list dl dd { font-family: "Microsoft Yahei"; font-size: 14px; padding: 0 10px }
.comp-chouse-more { position: absolute; width: 100px; height: 30px; line-height: 30px; background: #fff; left: 50%; margin-left: -50px; text-align: center; cursor: pointer; border: 1px solid #d8d8d8; border-top: 0; bottom: -31px; color: #666 }
.comp-chouse-more i { margin-left: 5px }
.shop-list-tab { line-height: 40px; margin-top: 50px; border: 1px solid #d8d8d8; height: 40px; background: #f4f4f4 }
.shop-list-tab .shop-list-tab-check{ float:right; padding-right:20px}
.shop-list-tab .shop-list-tab-check input[type=checkbox]{ margin:0 10px 0 20px; display:inline-block; vertical-align:-3px}
.shop-list-tab>ul { float: left; overflow: hidden; }
.shop-list-tab>ul li { float: left; border-right: 1px solid #ddd }
.shop-list-tab>ul li a { display: block; width: 80px; text-align: center }
.shop-list-tab>ul li a.active { color: #FF5659 }
.shop-list-tab>ul li a.active i { transform: rotate(180deg); -ms-transform: rotate(180deg);		/* IE 9 */ -webkit-transform: rotate(180deg);	/* Safari and Chrome */ -o-transform: rotate(180deg);		/* Opera */ -moz-transform: rotate(180deg);		/* Firefox */ }
.shop-list-tab>ul li a i { margin-left: 0.5em }
.shop-list-pagenum { float: right; border-left: 1px solid #d8d8d8; padding: 0 20px }
.comp-list-ul { margin-top: 20px }
.comp-list-ul li { border: 1px solid #e1e1e1; padding: 20px; overflow: hidden; height: 148px; margin-bottom: 20px }
.comp-list-ul li:hover { border: 1px solid #666 }
.comp-list-ul li .comp-list-img { float: left; margin-top: 40px; margin-left: 30px }
.comp-list-ul li .comp-list-info { float: left; margin-left: 50px }
.comp-list-ul li .comp-list-info p { background: url(../images/comp-ico.png) no-repeat -50px -2px; height: 30px; line-height: 30px; padding-left: 30px; margin-top: 30px }
.comp-list-ul li .comp-list-link { float: right; border-left: 1px dashed #e1e1e1; width: 235px; padding: 0 50px; height: 148px }
.comp-list-ul li .comp-list-link dl { width: 105px; float: left; text-align: center; font-size: 14px; overflow: hidden; margin: 20px 0; line-height: 30px; color: #666; margin-left: 8px }
.comp-list-ul li .comp-list-link dd { color: #ff5659; font-weight: bold }
.comp-list-ul li .comp-list-link dd.star { padding-left: 23px; padding-top: 9px }
.comp-list-ul li .comp-list-link dd.star span { background: url(../images/ppb.png) 51px 0; width: 12px; height: 12px; display: inline-block; float: left }
.comp-list-ul li .comp-list-link .comp-list-button { background: #ff5659; color: #fff; display: block; margin: 0 30px; clear: both; text-align: center; height: 36px; line-height: 36px; font-family: "Microsoft Yahei"; font-size: 18px }
.comp-list-ul li .comp-list-info h3 { font-family: "Microsoft Yahei"; font-size: 18px; line-height: 25px; height: 25px; font-weight: 100 }
.comp-list-ul li .comp-list-info h3 em { vertical-align: -3px; height: 25px; width: 30px; background: url(../images/comp-ico.png) -7px -5px; display: inline-block }
.comp-list-icon { margin-top: 25px }
.comp-list-icon span { margin-right: 5px }
.comp-list-icon i { border-radius: 3px; color: #fff; display: inline-block; padding: 0 3px 0 4px; text-shadow: 1px 0 0 rgba(0, 0, 0, .15); margin-right: 5px; font-style: normal; }
.comp-list-icon i.ico1 { background: #ffc600; border-right: 1px solid #F90; border-bottom: 1px solid #F90 }
.comp-list-icon i.ico2 { background: #ff6600; border-right: 1px solid #e00; border-bottom: 1px solid #e00 }
.comp-list-icon i.ico3 { background: #00a8ff; border-right: 1px solid #006397; border-bottom: 1px solid #006397 }
.comp-list-icon i.ico4 { background: #1ab628; border-right: 1px solid #076f11; border-bottom: 1px solid #076f11 }
.comp-list-icon i.ico5 { background: #00bbcc; border-right: 1px solid #00828e; border-bottom: 1px solid #00828e }
.page-link { border-left:1px solid #d8d8d8; overflow:hidden; margin:50px auto; width:435px}
.page-link li{ float:left; border:1px solid #d8d8d8; border-left:0; line-height:38px; text-align:center; min-width:38px;}
.page-link li:hover{ background:#ff5659;}
.page-link li:hover a{ background:#ff5659; color:#fff; display:block}
.page-link li.active{ background:#ff5659; color:#fff}
.page-link li.page-ud{ padding:0 20px} 

.new-box-r{float: right;width: 260px;}
.new-favo{ border:1px solid #d8d8d8; padding:10px; padding-bottom:0}
.new-favo h4{ border-bottom:1px solid #d8d8d8; font-weight:100; font-family: "Microsoft Yahei"; font-size: 16px; text-align:center; padding-bottom:10px}
.new-favo ul li{ border-bottom:1px dashed #d8d8d8; background:url(../images/comp-ico.png)  no-repeat -50px 8px; height:50px; line-height:50px; padding-left:30px}
.new-favo ul li:last-of-type { border-bottom: 0 }
