<form id="myForm" class="form-horizontal" onsubmit="return false">
    <div class="form-group">
        <h5 class="col-sm-3 text-right"><span>公司名称/ID:</span></h5>
        <div class="col-sm-8">
            <h5>{$info.company_name}/{$info.company_id}</h5>
        </div>
    </div>
    <div class="form-group">
        <h5 class="col-sm-3 text-right"><span>广告图片:</span></h5>
        <div class="col-sm-8">
            <img src="http://{:C('QINIU_DOMAIN')}/{$info.img}"  style="width: 100%" />
        </div>
    </div>
    <div class="form-group">
        <h5 class="col-sm-3 text-right"><span>广告标题:</span></h5>
        <div class="col-sm-8">
            <h5>{$info.title}</h5>
        </div>
    </div>
    <div class="form-group">
        <h5 class="col-sm-3 text-right"><span>广告链接:</span></h5>
        <div class="col-sm-8">
            <h5>{$info.url|default='默认主页链接'}</h5>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-3">
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="1" checked>
                        &nbsp;&nbsp;&nbsp;符合规定,予以通过
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="2">
                    不符合规定,不通过，发送通知
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-3">
            <textarea class="form-control" name="remark"></textarea>
        </div>
        <input type="hidden" name="id" value="{$info.audit_id}" />
    </div>
</form>