.ht-yes a {
    padding-left:7px;
    margin-top:20px;
    line-height:26px;
    width: auto;
    padding: 0 50px;
}
.moreshops input{
    float: left;
}
.moreshops i{
    clear: both;
    display: block;
    float: left;
    margin-left: 90px;
}
.moreshops li{
    float: left;
}