.ht-main,.ht-main-audited,.ht-main-audited-ok{
    float: right;
    width: 870px;
    padding: 20px;
    border: 1px solid #eee;
    min-height: 505px;
    background: #fafafa;
}
.ht-main-audited-ok p{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    margin-top: 130px;
}
.c-comp-img1,.c-comp-img2,.c-comp-img3 {
    padding: 0 70px;
    margin-top: 12px;
    position: relative;
}

.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}


.c-comp-img1 li,.c-comp-img2 li,.c-comp-img3 li{
    width: 118px;
    float: left;
    margin: 0;
    height: 80px;
    position: relative;
}

.c-comp-img1 li img,.c-comp-img2 li img,.c-comp-img3 li img {
    width: 100%;
    max-height: 100%;
    height: auto
}

.c-comp-img2 .c-fend-tit,.c-comp-img3 .c-fend-tit{
    line-height: 14px;
    margin-bottom: 12px;
    font-size: 14px;
}

.icon-remove {
    color: #fff;
    background: #ff5659 !important;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    right: -6px;
    top: -10px;
    display: block;
    position: absolute;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #EB3336;
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
}

.filelist .file-item .file-content{
    overflow: visible;
}

.c-comp-up-btn {
    line-height: 30px;
    border: 0;
    margin-top: 12px;
    margin-bottom: 30px;
}

.c-comp-up-btn div#chose1,.c-comp-up-btn div#chose2,.c-comp-up-btn div#chose3 {
    width: 108px;
    height: 70px;
    background: url(/assets/user/companyinfo/img/pic-btn.png);
    border: 1px dashed #dfdfdf;
    outline: none;
}

.c-comp-up-btn div#chose1 .webuploader-pick,.c-comp-up-btn div#chose2 .webuploader-pick,.c-comp-up-btn div#chose3 .webuploader-pick {
    width: 100%;
    height: 100%;
}

.c-comp-up-btn button div{
    width: 100%;
    height: 100%;
}

.block{
    display: block;
}

.c-fend-tit{
    font-size: 14px;
}

.c-fend-tit span{
    color: #ff5353;
    font-size: 14px;
    margin-left: 30px;
}

.btn-save-wrap{
    width: 136px;
    height: 40px;
    background: #ff5353;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 40px;
}

.btn-save{
    width: 100%;
    height: 100%;
    background: #ff5353;
    border-radius: 4px;
    line-height: 40px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.waring-info{
    color: #ff6060;
    position: absolute;
    right: 42px;
    top: 56px;
    line-height: 14px;
    font-size: 14px;
}

.c-comp-img2 .waring-info,.c-comp-img3 .waring-info{
    margin-top: 35px;
}

.ht-comp-phot {
    padding:20px 5px;
}
.ht-comp-phot {
    max-height:490px;
}
.queuelist {
    width:820px;
    height:auto !important;
    border: 0;
    border-bottom: 0px;
    margin-bottom:0px;
    padding: 0;
}

.upload-buttons{
    display: none;
}
.webuploader-pick {
    padding:8.5px 15px;
}
.filelist .file-item {
    width:108px;
    height:70px;
    border:1px solid #dfdfdf;
    padding:0 !important;
    margin-right: 10px;
}
.filelist .file-item .imgWrap {
    width:108px;
    height:70px;
}
.filelist .file-item .file-content {
    width:108px;
    height:70px;
}
.filelist .file-item .file-panel {
    width:auto;
}
.ht-yes {
    padding-left:7px;
    margin-top:20px;
}
/*审核中*/
.img-list{
    width: 100%;
    overflow: hidden;
}
.img-list li{
    width: 110px;
    height: 72px;
    float: left;
    margin-right: 12px;
    position: relative;
}
.img-list li img{
    width: 100%;
    height: 100%;
}
.img-list li div.audited{
    width: 100%;
    height: 100%;
    background: url(/assets/common/img/bg-black.png);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 72px;
    color: #fff;
}

.filelist .file-item {overflow: visible;}

.img-remove{
    border: 1px dashed #dfdfdf;
    width: 108px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    display: block;
    line-height:70px;
    font-size:30px;
    cursor: pointer;
    color: #999999;
    background: inherit;
    outline:none;
}