.c-comp-img {
    padding: 20px;
    min-height: 180px;
    overflow-y: auto
}

.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}


.c-comp-img li {
    width: 118px;
    float: left;
    margin: 0 10px;
    margin-bottom: 20px;
    height: 80px;
    position: relative;
}

.c-comp-img li img {
    width: 100%;
    max-height: 100%;
    height: auto
}

.icon-remove {
    color: #fff;
    background: #ff5659 !important;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    right: -6px;
    top: -10px;
    display: block;
    position: absolute;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #EB3336;
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
}

.filelist .file-item .file-content{
    overflow: visible;
}

.c-comp-up-btn {
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 0px;
    padding-bottom: 30px;
}

.c-comp-up-btn button {
    border: 1px solid #D52124;
    background: #ff5659;
    color: #fff;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;
}

.block{
    display: block;
}

.c-fend-tit{
    font-size: 18px;
}

.btn-save-wrap{
    padding: 0px 20px 30px 20px;
    font-size: 18px;
}

.upload-waring-info{
    color: #ff6060;
    padding: 0px 20px 10px 20px;
    font-size: 12px;
}

.btn-save{
    line-height: 28px;
    border: 1px solid #D52124;
    background: #ff5659;
    color: #fff;
    padding: 0px 70px;
    cursor: pointer;
    border-radius: 2px;
    display: block
}

.waring-info{
    color: #ff6060
}

.ht-comp-phot {
    padding:20px 5px;
}
.ht-comp-phot {
    max-height:490px;
}
.queuelist {
    width:820px;
    height:480px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    margin-bottom:0px;
}

.upload-buttons{
    display: none;
}
.webuploader-pick {
    padding:8.5px 15px;
}
.filelist .file-item {
    width:120px;
    height:120px;
    padding:12px;
}
.filelist .file-item .imgWrap {
    width:120px;
    height:120px;
}
.filelist .file-item .file-content {
    width:120px;
    height:120px;
}
.filelist .file-item .file-panel {
    width:auto;
}
.ht-yes {
    padding-left:7px;
    margin-top:20px;
}
