
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>齐装网 - 404</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="applicable-device" content="mobile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="full-screen" content="yes" />
    <meta name="browsermode" content="application" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="x5-page-mode" content="app" />
    <link href="http://m.qizuang.com/assets/mobile/common/css/m-reset.css" rel="stylesheet" type="text/css" />
<link href="http://m.qizuang.com/assets/mobile/common/css/m-public.new.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/common/css/m-public.new.css">
<link rel="stylesheet" href="/assets/plugins/iconfont/iconfont.css">
<link rel="stylesheet" href="http://m.qizuang.com/assets/mobile/common/fonts/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="http://m.qizuang.com/assets/mobile/common/css/404.css?v=20170829">

</head>
<body>
    <div class="m-wrap">
    <!-- 公共头部 -->
    <header>
        <div class="public-head-left">
            <a href="javascript:history.go(-1)" class="go-back"><i class="iconfont">&#xe600;</i></a>
        </div>
        <div class="public-head-center">
             <div class="head-title-text">家居商城</div>
        </div>
        <div class="public-head-right">
            <a class="user" href="{:url('jiajum/user/index')}"><i class="iconfont">&#xe62d;</i></a>
        </div>
    </header>
<div class="ntf-main">
<div class="content">
<div class="info">你别找我啦,我已经飞走啦/(ToT)/~~</div>
<img class="logo404" src="http://m.qizuang.com/assets/mobile/images/m-logo404.png" alt="" rel="nofollow">
<div class="nav">
    <a rel="nofollow" href="http://tb.53kf.com/code/client/10032978/1">联系我们</a>
    <a class="" href="http://m.qizuang.com">返回首页</a>
</div>
</div>
</div>


            <footer id="footer">
    <p class="footer-tel">
        <span>装修咨询热线:</span>
        <a href="tel:4008-659-600" class="hot"><span class="phone-box"><i class="fa fa-phone"></i></span>4008-659-600</a>
    </p>
    <p class="footer-title">轻松装修乐无忧</p>
    <p class="footer-webadress">
        手机齐装网：m.qizuang.com&nbsp;&nbsp;苏ICP备12045334号    </p>
    <p>苏州云网通信息科技有限公司</p>
    <script>
        window.onload=function(){
            var prevUrl=document.referrer;
            console.log(prevUrl);
            var romainUrl=new RegExp("http://m.qizuang.com");
            $(".m-header-his").click(function(){
                if($(this).length>0){
                    if(!romainUrl.test(prevUrl)){
                        window.location.href="http://m.qizuang.com";
                    }else{
                        window.history.back();
                    }
                }
            });
        }
    </script>
</footer>

    </div>
    <script type="text/javascript" src="http://m.qizuang.com/assets/mobile/common/js/jquery.min.js"></script>
<script type="text/javascript" src="http://m.qizuang.com/assets/common/js/order.js?v=20180119145701"></script>
<script type="text/javascript" src="http://m.qizuang.com/assets/common/js/App.js?v=1.0"></script>
<script type="text/javascript" src="http://m.qizuang.com/assets/mobile/common/js/common.js"></script>
<script type="text/javascript" src="http://m.qizuang.com/assets/mobile/common/js/fixed.js"></script>
        </body>
</html>