.left-sider { width: 930px; float: left }
.right-sider { width: 260px; float: right }
.mr10{ margin-right:10px}
.ml10{ margin-left:10px}
.pull-left{ float:left}
.pull-right{ float:right}
.search-add{  background:#fff; line-height:30px; border-bottom:1px solid #eee; border-top:1px solid #eee; border-right: 1px solid #eee; overflow:hidden;font-family:"Microsoft YaHei"}
.search-add dd{  float:left; padding:10px 15px}
.search-add dd.active a{ color:#de4348}
.search-add dt{  background:#f7f7f7;float:left; border-right:1px solid #eee; border-left:1px solid #eee;padding:10px 20px}
.search-lp{ background:#f7f7f7; float: right; border-right:1px solid #eee; border-left:1px solid #eee; height:50px; padding:0 20px}
.search-lp input[type=text]{ height:28px; margin-top:10px; vertical-align:10px; border:1px solid #cfcfcf; border-right:0;}
.search-lp a{ text-align:center; border:1px solid #cfcfcf; display:inline-block; height:28px; width:28px; margin-top:10px;  vertical-align:10px; background:#fff}
.search-lp input:focus{ outline:0}
.search-lp a:hover{ text-decoration:none; background:#f1f1f1}
.red{color:#de4348}
.orange{ color:#F77602}
.search-tips{ text-align:center; background:#FCFBE9; line-height:30px; padding:0 10px; border:1px solid #FCF0D1; margin-top:20px}
.xq-info{font-family:"Microsoft YaHei"; overflow:hidden; position:relative; padding-top:20px;}
.xq-info>a img{ float:left; width:200px; height:150px; margin-right:20px}
.xq-info h1{ font-size:18px; font-weight:100}
.xq-info span{ font-size:18px; font-weight:100}
.xq-info p{ color:#aaa; margin-top:30px;}
.xq-info-add{ position:absolute; left:220px; bottom:0; border:1px solid #f1f1f1; border-radius:2px;padding:5px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
}
.xq-info-add:hover{ text-decoration:none;background: rgb(241,241,241);
background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );}

.xq-map-add{ left:220px; bottom:0; border:1px solid #f1f1f1; border-radius:2px;padding:5px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
}
.xq-map-add:hover{ text-decoration:none;background: rgb(241,241,241);
background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );}

.xq-info-tips{ position:absolute; right:0; top:20px; text-align:right; line-height:20px}
.xq-info-main .tab-con{ position: relative; overflow:hidden; height:224px; margin-top:20px}
.xq-info-main .j-tab-case{ width:100%}
.xq-info-main .tab-con .tab-case-item{ width:100%}
.xq-info-main { margin:20px 0}
.xq-info-main .xq-info-button{ border-bottom:1px solid #cfcfcf; line-height:40px; font-size:16px;font-family:"Microsoft YaHei"; height:40px }
.xq-info-main .xq-info-button .current{color:#de4348; border:1px solid #cfcfcf; display: inline-block;position:relative; border-bottom:0; background:#fff}
.xq-info-main .xq-info-button a{ padding:0 20px; border:1px solid #fff; }
.xq-info-main .xq-info-button a:hover{ text-decoration:none}
.xq-info-main .tab-case-item{ display:none; text-align:center}
.xq-info-main .tab-case-item table tr td{ height:50px; border-bottom:1px dashed #eee}
.xq-info-main .tab-case-item .xq-info-tit td{ height:40px; background:#f7f7f7; border-bottom:0}
.xq-info-main .tab-case-item tr td a.btn{ background:#dc4146; display:inline-block; color:#fff; padding:5px; font-weight:bold}
.xq-info-main .tab-case-item tr td a.btn:hover{ text-decoration:none; background: #FF3C41}
.xq-info-main .xq-info-more{ text-align:right; line-height:30px; border-bottom:1px solid #eee}
.xq-info-main .xq-info-more a{color:#de4348;}

.xq-right-fadan{margin-bottom: 10px}
.xq-right-map{ position:relative; height:300px}
.xq-right-map .btn{ box-shadow:0px 0px 10px rgba(0,0,0,.1);position:absolute;z-index:10 ;left:5px; top:5px; border:1px solid #ccc; border-radius:2px;padding:5px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
}
.xq-right-map .btn:hover{box-shadow:0px 0px 5px rgba(0,0,0,.1); text-decoration:none;background: rgb(241,241,241);
background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );}

.xxq-info h1{ font-family:"Microsoft YaHei";font-size:20px; line-height:40px; font-weight:100; margin-bottom:20px}
.xxq-info ul{ line-height:30px; color:#888}
.xxq-info img{ height:250px; font-family: 18px; float:left; margin-bottom:20px; margin-right:20px}
.xxq-info p{ padding:10px; background:#f7f7f7; line-height:24px; clear:both;}

.xxq-info-main{ margin-top:20px}
.xxq-info-main .xxq-info-button{font-family:"Microsoft YaHei"; height:40px; line-height:40px; font-size:16px; background:#f1f1f1}
.xxq-info-main .xxq-info-button a{ padding:0 20px; display:block; float:left; margin-left:1px}
.xxq-info-main .xxq-info-button a:hover{ text-decoration:none}
.xxq-info-main .xxq-info-button a.active{ background:#fff; border-top:2px solid #de4348; line-height:38px}
.xxq-info-main ul{ overflow:hidden}
.xxq-info-main ul li{ width:290px;float:left; margin:0 10px; margin-top:20px}
.xxq-info-main ul li img{ width:290px; height:200px}
.xxq-info-main ul li div{ border:1px solid #f1f1f1; border-top:0; background:#f7f7f7; color:#888; padding:10px}
.xxq-info-main ul li div h2{ font-size:14px; line-height:25px; margin-bottom:10px}
.xxq-info-main ul li div h2 a{ color:#666}
.xxq-info-main ul li div span.jia-title{ font-size:14px; line-height:25px; margin-bottom:10px}
.xxq-info-main ul li div span.jia-title a{ color:#666;font-weight: bold;}
.xxq-info-main ul li div a.pull-right{ color: #F90}

/***********/
.shorttop { height: 35px; border-bottom: 1px solid #eee;  min-width:1210px; line-height:35px;font-family: "Microsoft YaHei"; border-bottom:2px solid #de4348}
.login{ float:right;}
.login li{ float:left; width:auto; padding:0 5px}
.login li a{ color:#888}
.topnav{ float:left}
.topnav li{ float:left; margin-right:20px}
.topnav li a:hover{ text-decoration:none}
.topnav li.active a{ color:#ea3d3d}

.meitu-bread{ background:#f7f7f7; height:40px;font-family: "Microsoft YaHei"; border-bottom:1px solid #f1f1f1; padding:0 20px; margin-bottom:20px}
.meitu-bread dl{ line-height:40px}
.meitu-bread dl dt.bread-nav ul{ display:none; position:absolute; top:30px; border:1px solid #eee; background:#fff; padding:20px; line-height:30px; width:644px; overflow:hidden; padding-right:10px}
.meitu-bread dl dt.bread-nav ul h1{ font-size:12px}
.meitu-bread dl dt.bread-nav ul li{ width:140px; border-right:1px dotted #eee; overflow:hidden; float:left; margin-right:20px}
.meitu-bread dl dt.bread-nav ul li a{ display:block; float:left; width:60px; margin-right:10px}
.meitu-bread dl dt.bread-nav ul li.last{ margin-right:0; border-right:0}
.meitu-bread dl dt.bread-nav:hover ul{ display:block; z-index:99999}
.meitu-bread dl dd,.meitu-bread dl dt{ float:left}
.meitu-bread dl dt.bread-nav{ position:relative; padding-right:10px}
.meitu-bread dl dt.bread-nav i{ position:absolute;border-top: 3px solid #888;border-left: 3px dashed transparent;border-right: 3px dashed transparent;margin-top: 8px;margin-left: 3px;right:0; top:10px}
.meitu-bread dl dd{ margin:0 5px;color:#888}
.meitu-bread dl dt a{ color:#888}
.meitu-bread dl dt a:hover{ color:#ea3d3d; text-decoration:none}

.meitu-wechat{ background:url(../img/wechat.jpg) no-repeat 0 8px; float:right; padding-left:30px; line-height:40px; color: #32A064; cursor:pointer; position:relative}
.meitu-wechat .dmap{ display:none; position:absolute;width:170px; border:1px solid #eee; background:#fff; text-align:center; padding:10px; right:0; top:35px; z-index:9999}
.meitu-wechat .dmap h1{ color:#888; font-size:14px; position:relative}
.meitu-wechat:hover .dmap{ display:block}
.meitu-wechat span{ display:block; position:absolute; background:url(../img/uptip.png); width:15px; height:8px; top:-18px; right:10px}

.meitu-wrap{ padding:0 20px; position: absolute; bottom:0; top:78px; overflow:hidden}
.left-sider2{ width:268px; height:100%; overflow:auto;float:left; padding-right:4px; bottom:0}
.right-sider2{ position:absolute; right:0; left:310px; top:98px; bottom:0;margin-right:20px;min-width:870px}
.right-box{ border:1px solid #f1f1f1; padding:10px;font-family:Microsoft YaHei;}
.wait-ask li{ padding-left:25px; line-height:30px; background:url(../img/liststyle-qa.gif) no-repeat 0px 5px; height:30px; overflow:hidden}
.right-tit{ font-size:16px; border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px}
.bq-list li{ float:left; margin-right:20px; line-height:25px; margin-bottom:5px}
.bq-list li a{ color:#888}


.left-sider2::-webkit-scrollbar-track{ background:#f7f7f7}
.left-sider2::-webkit-scrollbar{ height:10px; width:8px; position:absolute}
.left-sider2::-webkit-scrollbar-thumb { border-radius:50px; border:1px solid #f7f7f7; background:#e1e1e1; margin:1px; }

.right-sider2 .main{ position:relative; height:100%; width:100%}

/*本站通用*/
.clearborderright{border-right:none !important;}
.none{display:none;}
.margintop20{margin-top:20px;}
.color1{color:White;}
.color2{color:#333333;}
.mid_h{height: 30px;}
.j-tab-case .page{padding-top: 20px;}

/*地图*/
.house-list li{ padding:10px; line-height:25px; position:relative}
.house-list li:hover{ background:#f7f7f7}
.house-list li h1 a{ color:#15AAE9; font-size:12px; line-height:25px}
.house-list li .dizhi{ height:25px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.house-list li p{ width:145px;height:25px;overflow:hidden;}
.house-list li p span{ color:#888; padding-right:20px; box-sizing:border-box; width:50%;  text-overflow:ellipsis;white-space:nowrap; display:inline-block }
.house-list li img{ position:absolute; right:10px; top:10px; width:100px; height:80px}

/*小区相册*/
.xiangce {max-width: 49%; float: left; margin-right: 0.5%; text-align: center}
.xiangce a { color: black; text-decoration: none}
.xiangce a:hover img { opacity:0.7}
.xiangce a h2, a span { display: none}