.page-box{padding:15px;background: white;margin:10px auto;font-size: 14px;}
.page-box-container{border:1px solid #ECECEC;display: flex;border-radius:6px;}
.page-box-container div{flex-grow: 1;text-align: center;line-height: 40px;}
#prev-page{border-right:1px solid #ECECEC;}
#next-page{border-left:1px solid #ECECEC;}
.gray-active{color: #B8B8B8;}
.red-active{color: #FF5353}
.goto-page{font-size:16px;}
#page-count span{padding:0px 2px;}
#mask1{width:100%; height: 100%; position: fixed;left: 0px; top:0px; background-color: rgba(0,0,0,0.3); display: none; z-index: 999;}