/*
* @Author: qz_dc
* @Date:   2018-09-06 13:19:22
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-09-11 15:56:59
*/
body{
    margin-bottom: 0.5rem;
}
.top_fadan {
    text-align: center;
    padding-top: 0.128rem;
    padding-bottom: 0.085rem;
    font-size: 0.15rem;
    color: #333;
    position: relative;
}
.top_fadan i {
    display: block;
    width: 0.29rem;
    height: 0.13rem;
    position: absolute;
}
.top_fadan .left-img {
    background: url(../img/left-img.png) no-repeat;
    background-size: 50% 50%;
    left: 0.55rem;
    top: 0.2rem;
    width: 0.5rem;
}
.top_fadan .right-img {
    background: url(../img/right-img.png) no-repeat;
    background-size: 50% 50%;
    right: 0.3rem;
    top: 0.2rem;
    width: 0.5rem;
}
.top_banner {
    position: relative;
}
.relative {
    position: absolute;
    top: 1.78rem;
    width: 100%;
    height: 1rem;
}
@-moz-keyframes numscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@-ms-keyframes numscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@-webkit-keyframes numscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes numscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
.top_banner .remain_num {
    position: absolute;
    top: 0.06rem;
    left: 1.14rem;
    font-size: 0.3rem;
    color: #fff;
}
.top_banner .remain_num .numitem {
    float:  left;
    margin-right: 0.2rem;
    -webkit-animation:numscale 500ms linear infinite alternate;
    animation:numscale 500ms linear infinite alternate;
}
.top_banner img {
    display: block;
    width: 100%;
}
.form {
    position: relative;
    background: #fff;
    top: -0.45rem;
    width: 2.94rem;
    margin: 0 auto;
    box-shadow:0px 0px 8px #DEDEDE;
    padding-bottom: 0.2rem;
}
.form select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #ddd;
    width: 100%;
    height: 48px;
    font-size: 1em;
    color: #999;
    padding: 5px;
    background: #fff;
}
.m-bj-edit button {
    color: #333!important;
}
.fa-caret-down {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
}
@-moz-keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@-ms-keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@-webkit-keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@keyframes fingerscale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
.finger {
    position: absolute;
    right: 0.45rem;
    bottom: 0.15rem;
    width: 0.239rem;
    -webkit-animation: fingerscale 500ms linear infinite alternate;
    animation: fingerscale 500ms linear infinite alternate;
}
.finger img {
    display: block;
    width: 100%;
}
/*--------------------------------------量房陷阱----------------------*/
.trap {
    margin-bottom: 0.1rem;
}
.trap .trap-title {
    position: relative;
    height: 0.18rem;
    background: url(../img/trap-bg.png);
    background-size: 100% 100%;
    width: 1.664rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0.256rem;
}
.trap .trap-title span {
    position: absolute;
    top: -0.08rem;
    left: 0.18rem;
    color: #333;
    font-size: 0.128rem;
}
.trap .t-title {
    font-size: 0.1536rem;
    font-weight: bold;
    color:#6b1c18;
    text-align: center;
    margin-bottom: 0.17rem;
}
.pic {
    margin:0 0.128rem 0.17rem;
}
.pic .bg-img {
    width: 0.94rem;
    height: 1.39rem;
    float: left;
}
.pic .img1 {
    background: url(../img/trap1.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right: 0.042rem;
}
.pic .bg-img .msg {
    margin-top: 0.58rem;
}
.pic .bg-img .msg .t-info {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.pic .bg-img .msg .t-text {
    font-size: 11px;
    color: #fff;
    width: 0.72rem;
    margin: 0 auto;
}
.pic .img2 {
    background: url(../img/trap2.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right: 0.042rem;

}
.pic .img3 {
    background: url(../img/trap3.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.maoni {
    text-align: center;
    color: #333;
    font-size: 0.128rem;
    margin-bottom: 0.426rem;
}
.bg {
    height: 10px;
    background:#efefef;
}
/*-------------------------------------------安心量房--------------------------*/
.anxin {
    margin-top: 0.426rem;
    margin-bottom: 0.426rem;
}
.anxin .a-title {
    font-size: 0.1536rem;
    font-weight: bold;
    color: #6b1c18;
    text-align: center;
    margin-bottom: 0.17rem;
}
.anxin .youshi {
    font-size: 0.128rem;
    font-weight: bold;
    color: #6699ff;
    text-align: center;
    margin-bottom: 0.17rem;
}
.five {
    width: 2.94rem;
    margin: 0 auto;
}
.five ul li {
    background:#fff7ef;
    height: 0.213rem;
    line-height: 0.213rem;
    margin-bottom: 5px;
    position: relative;
}
.five ul li i {
    display: block;
    width: 0.136rem;
    height: 0.136rem;
    margin-left: 0.256rem;
    float: left;
    margin-top: 0.035rem;
}
.five ul li .t1 {
    background: url(../img/t1.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.five ul li .t2 {
    background: url(../img/t2.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.five ul li .t3 {
    background: url(../img/t3.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.five ul li .t4 {
    background: url(../img/t4.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.five ul li .t5 {
    background: url(../img/t5.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.five ul li span {
    float: left;
}
.five ul li .span1 {
    width: 0.7rem;
    margin-left: 0.213rem;
    font-size:12px;
    font-weight: bold;
    color: #333;
}
.five ul li .span2 {
    margin-left: 0.426rem;
    font-size:12px;
    color: #333;
}
/*-----------------------------------------量房体验---------------------------*/
.experience {
    margin-top: 0.426rem;
    margin-bottom: 0.426rem;
}
.experience .e-title{
    font-size: 0.1536rem;
    font-weight: bold;
    color: #6b1c18;
    text-align: center;
    margin-bottom: 0.17rem;
}
/*------------------------------------------服务流程------------------------*/
.flow {
    margin-top: 0.426rem;
    margin-bottom: 0.8rem;
}
.flow .f-title{
    font-size: 0.1536rem;
    font-weight: bold;
    color: #6b1c18;
    text-align: center;
    margin-bottom: 0.213rem;
}
.service {
    width: 0.34rem;
    height: 0.34rem;
    float: left;
}
.service .img img {
    display: block;
    width: 100%;
}
.service .f-text {
    font-size: 12px;
    color: #333;
    margin-top: 5px;
    width: 90%;
    text-align: center;
}
.flow ul li {
    position: relative;
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding-left:0.128rem;
}
.triangle {
    position: absolute;
    top: 0.08rem;
    left: 0.58rem;
    width: 0;
    height: 0;
    border-width: 0.08rem 0.08rem;
    border-style: solid;
    border-color: transparent transparent transparent #6699ff;
}
/*------------------------------------------------关于齐装网-------------------*/
.about {
    margin-top: 0.426rem;
    margin-bottom: 0.213rem;
}
.about-title {
    font-size: 0.1536rem;
    font-weight: bold;
    color: #6b1c18;
    text-align: center;
    margin-bottom: 0.17rem;
}
.about ul.first {
    margin-left: 0.234rem;
    margin-bottom: 10px;
}
.about ul.second {
    margin-left: 0.733rem;
}
.about ul li {
    width: 0.733rem;
    height: 0.733rem;
    border-radius: 50%;
    background: #fff7ef;
    float: left;
    margin-right: 0.25rem;
}
.about ul li .info {
    margin-top: 0.23rem;
    text-align: center;
}
.about ul li .info .num {
    font-size: 0.128rem;
    font-weight: bold;
    color: #6699ff;
}
.about ul li .info .a-text {
    font-size: 12px;
}

/*-------------------------------------悬浮框--------------*/
.fix {
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,.7);
    height: 0.512rem;
    width: 100%;
    padding-top: 0.11rem;
    box-sizing: border-box;
}
.fix .left {
    float: left;
    color: #fff;
    font-size:15px;
    margin-left: 0.469rem;
    margin-right: 0.384rem;
}
.fix .left .sheng {
    color:#ffbb47;
    font-weight: bold;
    text-align: center;
}
.fix .right {
    float: left;
    position: relative;
}
.fix .right button{
    width: 0.94rem;
    height: 0.3rem;
    background: #ff5659;
    border-radius: 5px;
    text-align: center;
    font-size:15px;
    color: #fff;
    border:none;
    outline: none;
}
.fix .right .dianji {
    position: absolute;
    right: -8px;
    bottom: -5px;
    width: 0.256rem;
    -webkit-animation: fingerscale 500ms linear infinite alternate;
    animation: fingerscale 500ms linear infinite alternate;
}
.fix .right .dianji img {
    display: block;
    width: 100%;
}
.shenming {
    line-height: 20px;
}

/*----------------------------------预约弹框---------------*/
.fixed {
    position: fixed;
    width: 100%;
    height: 1000%;
    z-index: 9999;
    top: 0px;
    display: none;
}
.rel {
    position: relative;
}
.mask {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1000%;
    background:rgba(0,0,0,.5);
    z-index: 1;
    display: none;
}
.yuyue-box {
    position: absolute;
    top:1.3rem;
    left: 0.128rem;
    width: 2.94rem;
    height: auto;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
    /*display: none;*/
}
.form-box {
    margin-bottom: 0.2rem;
}
.form-box p {
    text-align: center;
}
.form-box .thank {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}
.form-box .top-more {
    width: 1.75rem;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
}
.pingfang {
    position: absolute;
    right: 6px;
    top: 15px;
}

.success {
    position: fixed;
    top:1.56rem;
    left: 0.128rem;
    width: 2.94rem;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: none;
}
.success p {
    text-align: center;
}
.success .success-title {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.success button {
    height: 50px;
    width: 1.024rem;
    border-radius: 5px;
    background: #ff5659;
    border: none;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0.36rem;
    margin-left: 1rem;
}
.swiper-container {
    border-top: 0;
}
.swiper-wrapper {
    height: 1.3824rem;
}
.swiper-slide {
    width: 80%;
    height: 1.27rem;
    background-position: center;
    background-size: 130% 120%;
    opacity: .7;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    padding-top: 2%;
}
.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
    height: 100%;
    padding-top: 0;

}
.swiper-slide img {
    display: block;
    height: 1.27rem;
}
.swiper-slide-active img {
    height: 100%;
}
.swiper-slide-prev {
    height: 1.27rem;
    padding-top: 2%;
}
.swiper-slide-prev img {
    height: 100%;
    width: 100%;
}
.swiper-slide-next {
    height: 1.27rem;
    padding-top: 2%;
}
.swiper-slide-next img {
    height: 100%;
}

