html,body{height: 100%}
@font-face {
  font-family: 'select_font';  /* project id 569944 */
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.select_font{
    font-family:"select_font" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .m_select_box{
    position: relative !important;
    cursor: pointer;
    width:100%;
    height: 35px;
    border:1px solid #dedede;
    font-size: 16px;
    line-height: 35px;
  }
  .m_select_box p{
    height: 100%;
    padding-left: 5px;
    line-height: 48px;
  }
  .m_select_box i.select_font{
    position: absolute;
    height: 100%;
    line-height: 48px;
    top:0px;
    right: 8px;
  }
  .m_select_mask{
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top:0px;
    display: none;
    overflow-x: hidden;
  }
  .m_select_container{
    width: 100%;
    height: 100%;
    overflow:hidden;
    position: relative;
  }
  .m_select_fixed{
    overflow:hidden;
    position: fixed !important;
    cursor: pointer;
  }
   .m_select_mask .m_select_list{
     /* height: 100%;
     width:50%;
     margin-left:100%;
     position: relative;
     */
     overflow-y:auto;
     position: absolute;
     background: #fff;
     bottom:-100%;
     min-height: 250px;
     height: 40%;
     width:100%;
   }
   .m_select_item{
    height: 0.4rem;
    margin:0px 10px;
    border-bottom: 1px solid #DEDEDE;
    font-size:0.13rem;
    color: #333;
    text-align: center;
    line-height: 0.4rem;
    cursor: pointer;
   }