/*
* @Author: qz_dc
* @Date:   2018-06-06 09:48:02
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-02 13:18:02
*/
header .m-header-city {
    font-size: 0.24rem;
}
.banner {
    background: url(../img/zxlxldy.jpg) no-repeat;
    width: 100%;
    height: 2.5rem;
    background-size: 100%;
}
.main {
    width: 7rem;
    margin: 0 auto;
}
.main .money-title {
    text-align: center;
    font-weight: bold;
    font-size: 0.36rem;
    color: #000;
    height: 0.13rem;
    line-height: 0.25rem;
    border-bottom: 2px solid #bfbfbf;
    width: 85%;
    margin: 0 auto;
}
.main .money-title span {
    padding-left: 11px;
    background: #fff;
}
.money-box{
    border: 1px solid #dedee0;
    border-radius: 5px;
    margin-top: 15px;
    padding:0.1rem 0.05rem;
    padding-top: 0.3rem;
    box-shadow:0px 0px 8px #DEDEDE;
}
.money-main{
    margin: 15px 8px;
    overflow: hidden;
}
.money-img{
    height: 40px;
    margin-top: 7px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 5px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(/assets/mobile/baojia/img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.home-style span{
    display: block;
    float: left;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    margin: 14px auto;
    /*background: blue;*/
    overflow: hidden;
}
.m-bj-edit button,.m-bj-edit input{
    border-radius: 0 !important;
    outline: none;
}
.m-bj-edit button,.m-bj-edit i{
    color: #333 !important;
}
.fa-map-marker {
    margin-right: 5px;
}
.form-once select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline:none;
    border:1px solid #ddd;
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    padding: 5px;
    background: #fff;
}
.c-zb-city {
    height: 0.88rem;
    font-size: 0.3rem;
}
.m-bj-edit li .m-bj-edit-list {
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.3rem;
}
.m-bj-edit li span.dw {
    font-size: 0.3rem;
    color: #999;
    line-height: 0.88rem;
}
.m-b-btn {
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.3rem;
}
.fa-caret-down {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
}
.triangle {
    border: 1px solid;
    border-width: 8px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 0.32rem;
    right: 0.1rem;
    z-index: 9;
}
/*----------------------------------扇形------------------------------------*/
.type {
    margin-top: 0.4rem;
    height: 1.5rem;
}
.type .quan {
    width: 0.93rem;
    height: 0.92rem;
    border-radius:50%;
    background:rgb(103,119,153);
    float: left;
    margin-left: 0.53rem;
}
.type .ban {
    width: 0.93rem;
    height: 0.92rem;
    border-radius:50%;
    background:rgb(133,156,198);
    float: left;
    margin-left: 1.58rem;
}
.type .qing {
    width: 0.93rem;
    height: 0.92rem;
    border-radius:50%;
    background:rgb(194,198,206);
    float: left;
    margin-left: 1.58rem;
}
.type .type1 {
    font-size: 0.28rem;
    font-weight: 700;
    color: #fff;
    text-align:center;
    line-height: 0.92rem;
}
.type .info {
    width: 1rem;
    font-size:0.24rem;
    color:rgb(51,51,51);
    text-align:center;
    margin-top: 0.16rem;
}
.pie-chart {
    margin-top: 0.5rem;
    margin-bottom: 0.56rem;
}
.pie-chart .pie-bg {
    background: url(../img/pie.png) no-repeat;
    width: 2.76rem;
    height: 2.86rem;
    background-size: 100%;
    float: left;
    margin-left: 10px;
    position: relative;
    font-size: 0.25rem;
    color: #fff;
}
.pie-chart .pie-bg .quanbao {
    position: absolute;
    top:0.5rem;
    left:1.8rem;
}
.pie-chart .pie-bg .quanbao-bili {
    position: absolute;
    top:1rem;
    left:2.05rem;
    font-size: 0.24rem;
}
.pie-chart .pie-bg .banbao {
    position: absolute;
    top:1.28rem;
    left:0.14rem;
}
.pie-chart .pie-bg .banbao-bili {
    position: absolute;
    top:1.75rem;
    left:0.14rem;
}
.pie-chart .pie-bg .qingbao {
    position: absolute;
    bottom:0.6rem;
    left:1.7rem;
    color: #677799;
}
.pie-chart .pie-bg .qingbao-bili {
    position: absolute;
    bottom:0.3rem;
    left:1.5rem;
    color: #677799;
}
.text {
    float: left;
    width: 3.3rem;
    font-size:0.18rem;
    color: rgb(102,102,102);
    margin-left: 0.4rem;
    padding-top: 0.12rem;
}
.rec {
    width: 0.6rem;
    height: 0.6rem;

    float: left;
    margin-right: 0.2rem;
}
.msg {
    font-size:0.16rem;
    padding-top: 0.05rem;
}
.quan-msg {
    margin-bottom: 0.42rem;
}
.quan-msg .rec {
    background:rgb(103,119,153);
}
.ban-msg .rec {
    background:rgb(133,156,198);
}
.ban-msg {
    margin-bottom: 0.42rem;
}
.qing-msg .rec {
    background:rgb(194,198,206);
}
/*---------------------------------------担心----------------------------*/
.worry {
    background: url(../img/worry-bg.png) no-repeat;
    width: 100%;
    background-size:100%;
}
.worry h3 {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.36rem;
    font-weight: 700;
    text-align:center;
    color: rgb(51,51,51);
    margin: 0.4rem auto;
}
.worry .main ul li {
    height: 1.37rem;
    width: 7rem;
    background: #fff;
    margin-bottom: 0.2rem;
}
.worry .main ul li:last-child {
    margin-bottom: 0.34rem;
}
.worry .main ul li img {
    width: 1.6rem;
    display: inline-block;
    margin-left: 0.17rem;
    margin-top: 0.09rem;
    padding-right: 0.44rem;
    float: left;
    border-right: 1px dashed #ccc;
}
.worry .main ul li .w-info {
    float: left;
    padding-left: 0.41rem;
}
.worry .main ul li .w-info .w-title {
    font-size: 0.3rem;
    color: rgb(51,51,51);
    padding-top: 0.2rem;
    margin-bottom: 0.1rem;
}
.worry .main ul li .w-info .w-msg {
    font-size: 0.24rem;
    color: rgb(102,102,102);
}
/*-------------------------------------服务-----------------------------*/
.fuwu h3 {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.36rem;
    font-weight: 700;
    text-align:center;
    color: rgb(51,51,51);
    margin: 0.4rem auto;
}
.fuwu ul li {
    width: 2.19rem;
    height: 2.4rem;
    float: left;
    margin-right: 0.2rem;
    position: relative;
}
.fuwu ul li:nth-child(3n) {
    margin-right: 0;
}
.fuwu ul li img {
    width: 100%;
    height: 1.67rem;
    display: block;
}
.fuwu ul li span {
    display: inline-block;
    width: 1.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left:0.2rem;
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    top: 0.16rem;
    left: 0;
    background:rgba(0,0,0,.7);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    font-size: 0.22rem;
}
.fuwu ul li .f-title {
    font-size: 0.3rem;
    text-align:center;
    height: 0.73rem;
    line-height: 0.73rem;
}
/*-------------------------------------------七步----------------------------*/
.qibu {
    margin-top: 0.5rem;
    background: url(../img/qibu-bg.png) no-repeat;
    width: 100%;
    background-size:100%;
    height: 4.64rem;
}
.qibu h3 {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.36rem;
    font-weight: 700;
    text-align:center;
    color: #fff;
    margin: 0.4rem auto;
}
.qibu .main ul li {
    float: left;
    border: 1px solid #fff;
    width: 1.11rem;
    height: 1.28rem;
    box-sizing: border-box;
    margin-bottom: 0.4rem;
}
.qibu .main ul li.five {
    margin-left: 0.89rem;
}
.qibu .main ul li.four img {
    width: 0.44rem;
    margin-top: 0.14rem;
}
.qibu .main ul li.six img {
    width: 0.36rem;
}
.qibu .main ul li.seven img {
    width: 0.41rem;
}
.qibu .main ul li img {
    width: 0.48rem;
    margin-top: 0.2rem;
    margin-left:0.32rem;
}
.qibu .main .jiantou {
    width: 0.8rem;
    float: left;
    height: 1.28rem;
    color: #fff;
    position: relative;
}
.qibu .main .jiantou img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.22rem;
}

.qibu .main .q-text {
    color: #fff;
    margin-top: 0.16rem;
    font-size:0.2rem;
    text-align:center;
}
/*-------------------------------------案例-------------------------------*/
.example {
    margin-bottom:0.23rem;
}
.swiper-container {
    height: 5rem;
    border-top: 0;
    width: 100%;
}
.example h3 {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.36rem;
    font-weight: 700;
    text-align:center;
    color: rgb(51,51,51);
    margin: 0.4rem auto;
}
.swiper-wrapper {
    width: 600%;
}
.example .swiper-slide {
    height: 4.6rem;
    margin-right: 0.1rem;
    box-shadow: 0px 0px 8px #DEDEDE;
    margin-left: 0.1rem;
}
.swiper-slide:nth-child(1) {
    margin-left: -0.35rem;
}

.example .swiper-slide .img img {
    width: 100%;
}
.example .swiper-slide .e-info {
    font-size: 0.26rem;
    margin-top: 0.23rem;
    margin-left: 0.18rem;
    margin-bottom: 0.22rem;
}
.example .swiper-slide .e-info span {
    border-right: 1px solid;
    padding-right: 0.05rem;
}
.example .swiper-slide .e-info span:last-child {
    border-right: none;
}
.example .swiper-slide .e-text {
    margin-left: 0.18rem;
    font-size: 0.22rem;
    color: rgb(102,102,102);
}
.choose {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 0.86rem;
    line-height: 44px;
    text-align: center;
    background: #677799;
    color: #fff;
}
.choose img {
    display: block;
    width: 0.34rem;
    height: 0.3rem;
    position: absolute;
    top: 0.27rem;
    left: 1.02rem;
}
.choose span {
    font-size: 0.26rem;
    font-weight: 700;
    margin-left: 0.5rem;
}
/*------------------------------------发单弹窗样式-------------------------*/
#calculator {
    display: none;
}
.calculator-area {
    width: 7rem!important;
    height: 8rem!important;
}
.closed {
    font-size:0.5rem!important;
}
.calculator-item .calculator-title span {
    font-size: 0.45rem!important;
}
.calculator-item .input-box {
    margin: 0.25rem auto!important;
    height: 1rem!important;
    line-height: 1rem!important;
}
#btnSave {
    line-height: 1rem!important;
}


/*--------------------免责申明-------------------*/
#shenming {
    color: #999;
    text-align: left;
    border:none;
    margin: 0 auto;
    font-size: 0.25rem;
    margin-top: 1px;
}
#shenming a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: 4px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#shenming a span {
    width: 6em;
    text-indent: -0.6em;
    color: #468dcc;
}
#shenming span {
    display: inline-block;
    color: #999;
}
#mianze {
    display: none;
}
#mianze + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -1px;
}
#mianze:checked + label{
    background-color: #fff;
    color:#468dcc;
}

#shenming2 {
    color: #999;
    text-align: left;
    border:none;
    width: 80%;
    margin: 0 auto;
    font-size: 0.25rem;
}
#shenming2 a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#shenming2 span {
    color: #999;
    display: inline-block;
}
#shenming2 a span {
    color: #468dcc;
    width: 6em;
    text-indent: -0.5em;
}
#mianze2 {
    display: none;
}
#mianze2 + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
}
#mianze2:checked + label{
    background-color: #fff;
    color:#468dcc;
}
footer {
    padding-bottom: 0.86rem;
}
/*成功发单弹出样式*/
.tjsuccess {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 89.3%;
    height: 5.5rem;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
    display: none;
}
.tjsuccess .tjcgbt {
    font-size: 0.5rem;
    color: #2cce4a;
    text-align: center;
    margin-top: 0.3rem;
}
.tjsuccess .chengglogo {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: url(/assets/mobile/company/img/successlogo.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 0.03rem;
}
.tjsuccess .tjcgbt2 {
    font-size: 0.25rem;
    color: #666;
    text-align: center;
    margin-top: 0.25rem;
}
.tjsuccess .erweima {
    width: 96%;
    height: 3rem;
    background: url(/assets/mobile/company/img/sucesserwm.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 1.93rem;
}
  .guanbiniu {
    width: 0.8rem;
    height: 0.8rem;
    background: url(/assets/mobile/company/img/guanbianiu.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -1.2rem;
}
.tjsuccess .erweima .erweimatw {
    width: 2.6rem;
    height: 3rem;
    overflow: hidden;
    text-align: center;
    margin-left: 0.045rem;

}
.tjsuccess .erweima .erweimatw img{
    width:100%;
    margin-top: 0.1rem;
}
.tjsuccess .erweima .erweimatw span {
    font-size: 0.12rem;
    color: #ff5353;
    margin-top: 0.025rem;
}
.beijyiny {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    display: none;
}
#footer p {
    font-size: 10px;
    color: #3c3c3c;
}
footer .foot-discliamer {
    font-size: 10px;
    color: #3c3c3c;
}
.detail-text {
    font-size: 0.25rem;
    position: absolute;
    left: 3rem;
    top: 0.1rem;
    border: 1px dashed #ff5353;
    width: 3.22rem;
    height: 2.64rem;
    line-height: 0.5rem;
    padding-top: 0.12rem;
    box-sizing: border-box;
    padding-left: 0.2rem;
    background: #fff;
}