/*
* @Author: qz_xsc
* @Date:   2018-02-26 14:35:42
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-06-01 15:30:58
*/

.m-container{padding:0px 0.1rem; background: #fff; }
.sheji-banner img{width:100%;}
.white_bg{background: #fff;padding-top: 0.18rem}
.get-design-title{border:0.02rem solid #FF5353; width:90%; margin:0px auto; height: 0.272rem; text-align: center; margin-bottom: 0.18rem; position: relative;}
.get-design-title div{position: absolute; text-align: center; width:100%; font-weight: bold;}
.get-design-title span{background: #fff;padding:0px 0.07rem; }
.get-design-title .title_top{ color:#FF5353; font-size: 0.177rem; top:-0.118rem; }
.get-design-title .title_bottom {font-size: 0.12rem; color:#333333; bottom:-0.08rem;}
.get-design-box li{border:1px solid #ddd; height: 48px; position: relative; margin-bottom: 0.1rem}
/*.get-design-box li span{position: absolute; right: 10px; line-height: 48px; color: #848486}*/
.get-design-box li button{border:none; outline: none; color: rgb(51,51,51,);}
.get-design-box li input{width:100%; height: 46px; font-size:0.13rem;padding-left: 5px; border:none; outline: none; color:rgb(51,51,51);}
.get-design-box li a{display: block; width:100%; height: 48px; color: #fff;}
.c-zb-city{height:46px; font-size:0.13rem;}
.m-b-btn{margin:0px;}
.swiper-slide{line-height:0.2rem !important}
footer .footer-tel .phone-box {line-height: 20px;}
.swiper-button-prev{background:none; color: #ff5353;text-align: left; line-height: 44px; left: 0px;}
.swiper-button-next{background: none;color: #ff5353;text-align: right;line-height: 44px; right:0px;}
.swiper-container {margin-bottom: 0.15rem;margin-top:-0.05rem;}
.c-zb-city{color: rgb(51,51,51)}
.c-zb-city i.fa{color: rgb(51,51,51)}

.item_box{padding-bottom: 0.263rem}
.item_box_title{padding-top: 0.17rem; background: url('/assets/mobile/zb/images/bt_bg.png') no-repeat; background-size:100% auto; background-position: bottom center; text-align: center;}
.item_box_title .red_title{font-size: 0.177rem; font-weight: bold; color:#ff5353; padding-bottom: 0.02rem;}
.item_box_title .black_title{padding-bottom: 0.04rem;font-size: 0.12rem}
.liangfang{padding-top:0.135rem;}
.liangfang ul{overflow: hidden;}
.liangfang ul li{float: left; height:1.11rem; width:0.935rem;}
.liangfang ul li img{width:100%; height: 100%}
.fuzhuxian{width:0.095rem !important; text-align: center; line-height: 0.95rem;}
.fuzhuxian img{width:auto !important; height: 50% !important;}
.blue_bg{background: #F0F9FD;}
.fangan ul{ overflow: hidden;padding-top: 0.0557rem; }
.fangan ul li{float: left; width:1.47rem; height:1.132rem; margin-top:0.0557rem; position: relative;}
.fangan ul li:nth-child(2n-1){margin-right: 0.0557rem}
.fangan ul li img{width:100%; height: 100%}
.fangan ul li .to-design{position: absolute; right: 0px; top:0px; color:#fff; font-size: 0.1rem; background: #ff5353; padding:0.05rem;}
.fangan ul li .bottom_info{position: absolute; bottom:0px; width:100%;left:0px; color: #fff;background: url('../img/bg_bottom_info.png'); height: 0.8rem; background-position: bottom left;}
.fangan ul li div span{padding-left: 0.05rem; font-size: 0.08rem;}
.bottom_info .bottom_text{bottom:6px; position: absolute;}
.gujia_yusuan li{width: 0.968rem !important; }
.gujia_yusuan li:nth-child(2){margin:0px 0.046rem;}
.no_bg{background: none;margin-bottom: 0.177rem}
.tese_box{background: #fff; padding:15px 0px;}
.tese_box table{width: 100%;text-align: center;table-layout : fixed;margin-bottom: 0.1rem;font-weight: bold}
.tese_box table td:nth-child(3){padding-right: 0.2rem}
.tese_list li{padding:0px 0.06rem; padding-bottom: 1px; position: relative; height: 0.528rem}
.tese_list li table{position: absolute; width:100%;top: 0px; height:100%; font-size:0.012rem;}
.tese_list li table td:nth-child(1){text-align: right; color:#757575;}
.tese_list li table td:nth-child(2){ color:white; text-align: left; text-indent: 0.212rem}
.tese_list li table td:nth-child(3){text-align: left; text-indent: -0.2rem; color:#fff;}
.tese_list li img{width:100%;}
.red_color{color:#ff5353;}

.title_left{padding-left: 0.27rem}
.title_right{padding-right: 0.22rem}
#houseType{width:100%; height: 100%; border:none; font-size: 0.13rem;}
.size{position: relative;}
.size i{position: absolute; right:0.05rem;top:0px; height: 48px; line-height: 48px;}
#calculator{display: none;}