body{position: absolute !important;}
.zxgsldy01{width: 100%;height:1.94rem;background: url(/assets/mobile/company/img/zxgsldy01.jpg) no-repeat;background-size: 100% 100%;}
.zxgsldy02{width: 100%;height:2.4rem;position: relative;text-align: center;
	background: url(/assets/mobile/company/img/zxgsldy02.jpg) no-repeat;background-size: 100% 100%;}
.zxgsldy02 .headertb{color: #3b94e0;font-size: 0.16rem;font-weight: bold;letter-spacing:-1.2px;position:relative;
left: 0;right: 0;top: 0.2rem;margin: auto;}
.zxgsldy02 .headertb:after{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;right: -47px;}
.zxgsldy02 .headertb:before{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;left: -47px;}

.zxgsldy02 ul{width: 100%;height: auto;overflow: hidden;position: absolute;bottom: 0.17rem;}
.zxgsldy02 ul li{width: 0.85rem;text-align: left;display: inline-block;float: left;margin-left: 0.16rem;}
.zxgsldy02 ul li .bigtitle{font-size: 0.15rem;color: #333;font-weight: bold;}
.zxgsldy02 ul li .bigtitle span{color: #ff5353;}
.zxgsldy02 ul li .smtitle{text-align: center;font-size: 0.115rem;color: #666;}
.zxgsldy03{width: 100%;height:2.75rem;position: relative;
	background: url(/assets/mobile/company/img/zxgsldy03.jpg) no-repeat;background-size: 100% 100%;}
.zxgsldy03 .huoqubj{background: #ff5353;border-radius: 10px;color: #fff;font-size: 0.11rem;
position: absolute;left: 0;right: 0;margin: auto;display: inline-block;width: 0.95rem;height:0.25rem;line-height: 0.25rem;
text-align: center;bottom: 0.18rem;}
.zxgsldy04{width: 100%;height:0.51rem;text-align: center;line-height: 0.51rem;vertical-align: middle;
	background: #f5f5f5;background-size: 100% 100%;}
.zxgsldy04 .headertb{color: #3b94e0;font-size: 0.16rem;font-weight: bold;letter-spacing:-1.2px;position: relative;}
.zxgsldy04 .headertb:after{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;right: -47px;}
.zxgsldy04 .headertb:before{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;left: -47px;}

.zxgsldy05{width: 100%;height:1.42rem;background: url(/assets/mobile/company/img/zxgsldy05.jpg) no-repeat;background-size: 100% 100%;}
.zxgsldy06{width: 100%;height:0.52rem;text-align: center;line-height: 0.52rem;vertical-align: middle;
	background: #fff;}
.zxgsldy06 .headertb{color: #3b94e0;font-size: 0.16rem;font-weight: bold;letter-spacing:-1.2px;position: relative;}
.zxgsldy06 .headertb:after{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;right: -47px;}
.zxgsldy06 .headertb:before{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;left: -47px;}

.zxgsldy07{height:2.06rem;overflow: hidden;}
#wrapper{display: block;}
.zxgsldy07 ul{width: 5.4rem;;overflow: hidden;}
.zxgsldy07 ul li{width: 1.3rem;height:1.975rem;float: left;overflow: hidden;position: relative;
margin-right: 0.05rem;}
.zxgsldy07 ul li .paiming{width: 0.18rem;height:0.2rem;display: inline-block;position: absolute;
left: 0.05rem;top: 0;overflow: hidden;}
.zxgsldy07 ul li .paiming img{width: 100%;}
.zxgsldy07 ul li .zxgsbjtp{width: 100%;height:0.9rem; }
.zxgsldy07 ul li .zxgsbjtp2{width: 0.65rem;height:0.65rem;border-radius: 50%;overflow: hidden;position: absolute;
left: 0;right: 0;top: 0.35rem;margin: auto;background: #fff;border: 1px solid #ffe0a6;}
.zxgsldy07 ul li .zxgsbjtp2 img{width: 100%;margin-top: 21%;}
.zxgsldy07 ul li .zxgsms{text-align: center;font-size: 0.13rem;margin-top: 0.175rem;}
.zxgsldy07 ul li .pingankz{text-align: center;}
.zxgsldy07 ul li .pingkz{display: inline-block;font-size: 0.1rem;color: #666;margin-right: 0.1rem;}
.zxgsldy07 ul li .pingkz span{display: inline-block;background: #01bace;color: #fff;padding: 2px;border-radius: 3px;}
.zxgsldy07 ul li .ankz{display: inline-block;font-size: 0.1rem;color: #666;}
.zxgsldy07 ul li .ankz span{display: inline-block;background: #3db7f8;color: #fff;padding: 2px;border-radius: 3px;}
.zxgsldy07 ul li .dianjitj{background: #ff5353;color: #fff;font-size:0.11rem;width: 0.75rem;height:0.25rem;line-height: 0.25rem;
text-align: center;border: none;margin-top: 0.1rem;outline: none;}

.zxgsldy07 .swiper-slide{width: 1.3rem !important;height:1.975rem;float: left;overflow: hidden;
	background: url(/assets/mobile/company/img/zxgsldy07z.jpg) no-repeat;background-size: 100% 100%; }
.zxgsldy08{width: 100%;height:0.465rem;text-align: center;}
.zxgsldy08 a{font-size: 0.11rem;color: #999;text-align: center;}
.zxgsldy09{width: 100%;height:0.56rem;text-align: center;line-height: 0.56rem;
	vertical-align: middle;
	background: #f6f6f6;}
.zxgsldy09 .headertb{color: #3b94e0;font-size: 0.16rem;font-weight: bold;letter-spacing:-1.2px;position: relative;}
.zxgsldy09 .headertb:after{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;right: -47px;}
.zxgsldy09 .headertb:before{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;left: -47px;}

.zxgsldy10{width: 100%;height:1.865rem;background: #f5f5f5;}
.zxgsldy10 .huadong{width: 100%;height:1.55rem;margin: 0 auto;}
  .swiper-container {
      width: 96%;
      height: 100%;
    }
    .swiper-slide {
      position: relative;
      text-align: center;
      font-size: 18px;
      background: #fff;
      padding: 0.1rem;
      padding-bottom: 0 !important;
      box-sizing: border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      overflow: hidden;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-pagination{width: 100% !important;margin: 0 auto;display: block;}
    .swiper-pagination .swiper-pagination-bullet{margin-right: 5px;}
    .swiper-pagination-bullet-active{background: #ff5353 !important;}
    .swiper-pagination-bullet{width: 0.15rem !important;height: 0.015rem !important;border-radius: 0 !important;}
    .touxkz{width: 0.3rem;height: 0.3rem;overflow: hidden;position: absolute;top: 0.1rem;left: 0.1rem;
    	border-radius: 50%;}
    .touxkz img{height: 100%;}
    .zxtitle{position: absolute;top: 0.125rem;left: 0.5rem;font-size: 0.11rem;color: #333;}
    .zxtitle2{position: absolute;top: 0.285rem;left: 0.5rem;font-size: 0.11rem;color: #999;}
    .zxtitle2 span{margin-right: 0.14rem;}
    .neirong{font-size: 0.11rem;color: #666;height:auto;overflow: hidden;position: absolute;top: 0.53rem;
    	width: 90%;text-align:justify;line-height: 0.18rem;padding-bottom: 0.03rem;left: 0;right: 0;margin: auto;
    }


.zxgsldy11{width: 100%;height:0.525rem;text-align: center;line-height: 0.525rem;
	vertical-align: middle;
	background: #fff;}
.zxgsldy11 .headertb{color: #3b94e0;font-size: 0.16rem;font-weight: bold;letter-spacing:-1.2px;position: relative;}
.zxgsldy11 .headertb:after{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;right: -47px;}
.zxgsldy11 .headertb:before{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;left: -47px;}

.zxgsldy12{width: 100%;height:1.885rem;position: relative;
/*background: url(/assets/mobile/company/img/zxgsldy12.jpg) no-repeat;background-size: 100% 100%;*/}
.zxgsldy12 .jingpaltp{width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;margin: auto;}

.swiper-container2{width: 100%;height: 100%;}
.swiper-container2 .swiper-slide{padding-top: 0 !important;}
.swiper-container2 .swiper-slide .item{height: 1.6rem;width: 100%;overflow: hidden;position: relative;top: -10px;}
.swiper-container2 .swiper-slide .item a{height: 100%;display: inline-block;}
.swiper-container2 .swiper-slide .item .dibuyiny{background: rgba(0,0,0,0.7);height: 0.2rem;width: 100%;
line-height: 0.2rem;position: absolute;bottom: 0;color: #fff;font-size: 0.11rem;}
.swiper-container2 .swiper-slide .item .dibuyiny .ms_left{display: inline-block;float: left;margin-left: 0.01rem;}
.swiper-container2 .swiper-slide .item .dibuyiny .ms_right{display: inline-block;float: right;margin-right: 0.01rem;}
.swiper-container2 .swiper-slide .item .ztzxlj{background: #ff5353;color: #fff;font-size: 0.11rem;width: 0.6rem;
height: 0.2rem;line-height: 0.2rem;text-align: center;display: inline-block;position: absolute;right: 0;
top: 0;}
.swiper-container2 .swiper-slide .item img{width: 100%;height: 100%;}
.zxgsldy13{width: 100%;height:0.515rem;text-align: center;line-height: 0.515rem;vertical-align: middle;
	background: #f5f5f5;}
.zxgsldy13 .headertb{color: #3b94e0;font-size: 0.16rem;font-weight: bold;letter-spacing:-1.2px;position: relative;}
.zxgsldy13 .headertb:after{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;right: -47px;}
.zxgsldy13 .headertb:before{content:'';width: 40px;height: 2px;position: absolute;top: 0.1rem;background: #3b94e0;left: -47px;}

.zxgsldy14{width: 100%;height:2.455rem;position: relative;
	background: #f6f6f6;background-size: 100% 100%;}
.zxgsldy14 .tu01{width: 1.02rem;height: 1rem;overflow: hidden;margin-top: 0.035rem;
margin-left: 0.23rem;float: left;}
.zxgsldy14 .tu02{width: 1rem;height: 1rem;position:absolute;overflow: hidden;top: 1.2rem;
right: 0.23rem;}
.zxgsldy14 .gfjianguan{overflow: hidden;width: 1.7rem;font-size: 0.11rem;color: #666;
position: absolute;left: 1.36rem;top: 0.05rem;}
.zxgsldy14 .gfjianguan .titbt{color: #333;font-size:0.14rem;font-weight:900; }
.zxgsldy14 .gfjianguan span{color: #ff5353;}
.zxgsldy14 .gfjianguan2{overflow: hidden;width: 1.7rem;font-size: 0.11rem;color: #666;
position: absolute;right: 1.38rem;bottom: 0.45rem;}
.zxgsldy14 .gfjianguan2 li{text-align: right;}
.zxgsldy14 .gfjianguan2 .titbt2{color: #333;font-size:0.14rem;font-weight:900; }
.zxgsldy14 .gfjianguan2 span{color: #ff5353;}
.zxgsldy15{width: 100%;height:2.455rem;background: url(/assets/mobile/company/img/zxgsldy15.jpg) no-repeat;background-size: 100% 100%;
position: relative;}
.zxgsldy15 .guwenlj{width: 1rem;height:0.3rem;background: url(/assets/mobile/company/img/zhuanyeguwen.png) no-repeat;
background-size: 100% 100%;display: inline-block;position: absolute;bottom:0.13rem;left: 0.12rem;}
.zxgsldy16{width: 100%;height:0.575rem;text-align: center;font-weight: bold;letter-spacing: -1.2px;
	margin-top: 4px;
	background: url(/assets/mobile/company/img/zxgsldy16.jpg) no-repeat;background-size: 100% 100%;}
.zxgsldy16 .kaopuzxgs{width: 100%;font-size: 0.19rem;color: #333;display: inline-block;}
.zxgsldy16 .kaopuzxgs span{color: #ff5353;}
.form-once{margin-top:0.1rem;margin-bottom: 0.13rem;}
.form-once2{position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 96%;height:3.2rem;background: #fff;
z-index: 999;display: none;}
#calculator{display: none;}
.beijyiny{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
z-index: 999;display: none;}
.tjsuccess{position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 89.3%;height:2.5rem;background: #fff;
border-radius: 5px;z-index: 999;display: none;}
.tjsuccess .tjcgbt{font-size: 0.2rem;color: #2cce4a;text-align: center;margin-top: 0.3rem;}
.tjsuccess .chengglogo{width: 0.22rem;height: 0.22rem;display: inline-block;background: url(/assets/mobile/company/img/successlogo.png) no-repeat;
background-size: 100% 100%;vertical-align: middle;margin-right: 0.03rem;
}
.tjsuccess .tjcgbt2{font-size: 0.09rem;color: #666;text-align: center;margin-top: 0.05rem;}
.tjsuccess .tjcgbt2 span{color: red;}
.tjsuccess .erweima{width: 96%;height:1.365rem;background: url(/assets/mobile/company/img/sucesserwm.png) no-repeat;background-size: 100% 100%;
position: absolute;left: 0;right: 0;margin: auto;top: 0.93rem; }
.tjsuccess .erweima .erweimatw{width:0.875rem;height: 1.365rem;overflow: hidden;text-align: center;
margin-left: 0.045rem;}
.tjsuccess .erweima .erweimatw img{width: 100%;height: auto;margin-top: 0.14rem;}
.tjsuccess .erweima .erweimatw span{font-size: 0.12rem;color: #ff5353;margin-top: 0.025rem;}
.tjsuccess .guanbiniu{width:0.3rem;height: 0.3rem;background: url(/assets/mobile/company/img/guanbianiu.png) no-repeat;
background-size: 100% 100%;position: absolute;left: 0;right: 0;margin: auto;bottom: -0.55rem;}
.c-zb-city{color: #333 !important;outline: none;}
.tjsuccess  .detail-text{
     float: right;
    margin-top: -1.2rem;
    margin-right: 0.45rem;
    line-height: 0.20rem;
    color: #666;
    font-size: 0.1rem;
}