/*
* @Author: qz_xsc
* @Date:   2017-12-07 14:04:31
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-12-09 14:20:35
*/
.step7 input{height: 31px;}
.step7 .label_name{width: 126px;}
.step7 .jingao{padding-left: 5px;}
.step7 .to_center{width: 720px;}
.pt10{padding-top: 26px;}
.bhgl{border:1px solid #DEDEDE; height: 150px; overflow-y: auto; width:1050px; margin:0px auto; padding:15px 0px;}
.noRadius{border-radius: 0px !important; padding:2px 6px;}
.three_item{width:33.3333333%; margin-bottom: 10px; text-align: center;}
.three_item span{padding-right: 10px}
.pt20{padding-top: 25px;}
.get-contract-code-select{
    width: 110px;
    height: 29px;
    outline: none;
    margin-right: 10px;
    background-color: #fff;
}