.stockapproval-wrap{
    margin-top: 45px;
    height: 370px;
}
.margin-bottom-xs{
    margin-bottom:5px;
}
.stock-approval-info{
    margin: 5px 0px;
}
.stock-approval-btn-wrap{
    padding-left: 108px;
}
