.upload-document-select-wrap{
    width: 110px;
    height: 29px;
    outline: none;
    margin-right: 10px;
    background-color: #fff
}

.upload-document-input-wrap{
    margin-left: 0px !important;
    background-color: #fff !important;
}
.upload-document-input-wrap:disabled{
    background-color: #F4F4F4 !important;
}

.upload-document-search-button{
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #aaa;
    background: none;
    outline: none;
}
.upload-document-search-contract-info, .upload-document-search-piaoju-info{
    margin-left: 10px;
    color:#FF5353
}
.step_item_box .kaipiaosc .label_name{
    margin-left: 70px !important;
}
.upload_input_box{
    margin-left: 0px !important;
}
.img_box_container{
    width: 80px;
    margin-right: 10px;
}