/**博客文章**/
.ht-aticle-change{ margin-top:50px}
.ht-aticle-change li span{ font-size:14px; font-weight:bold; display:inline-block; width:90px; line-height:30px}
.ht-aticle-change li { margin-bottom:20px}
.ht-aticle-change li input[type=text]{ padding-left: 5px; color: #666; border:1px solid #ccc; height:28px; line-height:30px; width:200px}
.ht-aticle-change li .chouse{ width: 120px; color: #666; border:1px solid #ccc; height:30px}

.list-tb {color: #666; width:100%; text-align:center; margin-top:10px}
.list-tb .ht-article-tit td{line-height:30px; background:#f7f7f7;font-size:14px; font-weight:bold}
.list-tb .main-list td {border-bottom:1px solid #eee}
.list-tb .main-list td{ line-height:32px;height:32px;}
.list-tb .main-list td a{ font-size:15px;}
.list-tb .main-list td p {margin:0px;padding:0px;font-size:14px;color:#999;line-height:28px;}

.add-btn{ display:block; padding:10px 20px; line-height:30px;  border:2px dashed #f1f1f1;color:#38b47e; font-size:18px; text-align:center;margin-top:20px}
.add-btn:hover{ background:#8ad9b7; color:#fff; text-decoration:none; border:2px dashed #fff;}

