html {
    -webkit-text-size-adjust: none
}
html{font-size: 100px;}/*iphone 4/5*/
body{font-size: 0.126rem /*实际相当于14px*/}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}
}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
@media (min-device-width : 411px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 129.06px;}
}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a9a9a9;
}

input:-ms-input-placeholder{
    color: #a9a9a9;
}

input::-webkit-input-placeholder{
    color: #a9a9a9;
}






.m-wrap{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	overflow:hidden;}
header{ height:50px; line-height:50px; background:#fff;  /*position:relative;*/ z-index:2}
header .m-header-left,header .m-header-right{ position:absolute;  top:0;width:50px; text-align:center; font-size:24px; color:#666}
header .m-header-tit{ text-align:center; margin-left: 1em;}
header .m-header-left{ display:block; margin-left:0.22rem;height:50px; background:url(../img/logonew.png) no-repeat; width:30%; background-size:auto 50px;}
header .m-header-right{ right:0; height:50px}
header .m-header-city{ position:absolute;  font-size:0.8em;  top:0; left:32%; margin-left: 0.25rem}
header .m-header-city i.fa:before{ font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden;    position: relative; z-index: 1;}
.under-line{border-top: 1px solid #CFCFCF}
.gl-logo{margin-left: 10px !important;}
.m-img-box-a img{ width:100%; height:auto; display:block}
.m-b-btn{ height:50px; margin:10px; background:#ff5659; display:block; color:#fff; line-height:50px; text-align:center; font-size:1.2em;}
.m-b-btn-f{font-size:1.2em; width:100%; margin:10px 0; color:#fff; background:#fb8486; height:50px; display:block; text-align: center; line-height:50px
}
footer{ text-align:center; width:100%; background:#eee; padding:1em 0; font-size:0.6em; }
footer .hot{ color:#FF5255}
footer .links{ font-size:1.8em}
/*底部公共*/
footer .footer-tel{
    font-size: 16px;
}
footer .footer-tel .phone-box{
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 1.5px solid #ff5353;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    /*margin:0 6px;*/
    margin-right: 5px;
}
footer .footer-title{
    font-size: 14px;
    margin-top: 10px;
}
footer .footer-webadress{
    font-size: 10px;line-height: 0.2rem
}
/*头部导航公共*/
header .new-kefu-erji{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top:0;
}
header .new-kefu-erji .new-kefu-icon{
    width: 20px;
    height: 26px;
    margin-left: 26px;
    margin-top: 10px;
    background: url(/assets/mobile/common/img/common-icon.png);
    background-size: 100%;
}
#nav-close-cha{
    display: none;
}
.close-cha-icon{
    width: 26px;
    height: 26px;
    display: block;
    margin-left: 12px;
    margin-top: 12px;
    background: url(/assets/mobile/common/img/header-close.png) no-repeat;
    background-size: 100%;
}
.new-nav-m{
    width: 45%;
    position: absolute;
    right: -50%;
    top: 44px;
    border-radius: 4px;
    background: #fff;
    z-index: 4;
    display: none;
    line-height: 44px;
    /*transition: all .5s ease;*/
}
.new-nav-m:before{
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    position: absolute;
    right: 11px;
    top: -7px;
    z-index: 4;
}
.new-nav-m li{
    margin-left: 10px;
    margin-right: 10px;

}
.new-nav-m li a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    height: 44px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.new-nav-m li:last-child a{
    border-bottom: 0;
}
.nav-fixed-box{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
    transition: all .5s ease;
}
.mask-ticket{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
    transition: all .5s ease;
}
.home-nav-icon{
    width: 16px;
    height: 21px;
    display: block;
    float: left;
    background: url(/assets/mobile/common/img/common-icon.png?v=201808061407) no-repeat;
    background-size: 100%;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 5px;
}
.new-nav-m  li .nav-home-icon{background-position: 0px -23px;}
.new-nav-m  li .nav-huxing-icon{background-position: 0px -45px;}
.new-nav-m  li .nav-baojia-icon{background-position: 0px -67px;}
.new-nav-m  li .nav-company-icon{background-position: 0px -268px;}
.new-nav-m  li .nav-gonglue-icon{background-position: 0px -288px;}
.new-nav-m  li .nav-xiaoguo-icon{background-position: 0px -90px;}
.new-nav-m  li .nav-anli-icon{background-position: 0px -113px;}
.new-nav-m  li .nav-jiaju-icon{background-position: 0px -312px;}
.new-nav-m  li .nav-ruzhu-icon{background-position: 0px -332px;}
/*新客服弹框*/
.new-kefu{
    width: 80%;height: 180px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    position: fixed;
    left: 0;top: 0;
    right: 0;bottom: 0;
    z-index: 4;
    display: none;
}
.new-kefu-main{
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
    margin-top:44px;
}
.new-kefu-fl{
    float: left;
    width: 80px;
}
.contact-btn{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background: url(/assets/mobile/common/img/contact-icon.png) no-repeat;
    background-size: 100%;
}
.contact-text{
    text-align: center;
    font-size: 15px;
    color: #333;
}
.new-huo-text{
    float: left;
    width: 50px;
    text-align: center;
}
.new-huo-text .huo-text{
    font-size: 14px;
    line-height: 66px;
    color: #999;
}
.new-kefu-fl .phone-contact{
    background-position: 0 -60px;
}
.new-kefu-close{
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;right: 0;
    color: #999;
}
.new-kefu-close i{
    text-stroke:2px #fff;
    -webkit-text-stroke:2px #fff;
}

/*报价表单*/
.m-font-red{ color:#ff5659}
.m-t1{ text-align:center; line-height:3em}
.m-bj-edit{ margin:0 10px}
.m-bj-edit li{ overflow:hidden; box-sizing: border-box; margin-bottom:10px; position: relative}
.m-bj-edit li span.dw{ position:absolute; right:5px; top:2px; line-height:48px;}
.m-bj-edit li.noline{ border:0}
.m-bj-edit li .m-bj-edit-list{color: #333; appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari 和 Chrome */
border:0; border-radius:0; margin:0; display:block; height:48px; line-height:38px; box-sizing:border-box; padding:5px; background:#fff; border:1px solid #ddd;}

.m-bj-edit li .m-row{float: left; width: 49%; position: relative;}
.m-bj-edit li .m-row:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}

.m-bj-edit li .m-row-int1{position: relative; width:100%; font-size:1em}
.m-bj-edit li .m-row-int2{position: relative; width:100%; font-size:1em; box-sizing: border-box;}

.col-x-6{width:49% !important;}

.m-bj-edit li .m-row-int2:first-of-type{ float:left;  }
.m-bj-edit li .m-row-int2:last-of-type{ float:right;}

.m-bj-edit li .m-row-int3{ width:32%; display:inline-block; text-align:center}
.m-bj-edit li input[type=radio]{ margin-right:5px}
.m-bj-edit li input[type=radio]::-webkit-check {
    color: #ff5659;
    background: #a0b3d6;
    padding: .5em;
}
.m-bj-description{font-size: 0.9em; padding:1.2em 1em; color: #999; background: #FFF; font-family: Microsoft yahei;}
.m-bj-description i{color: #FF464E; width: 1.2em; height: 1.2em; line-height: 1.3em;  text-align: center; font-size: 1em; display: inline-block; border:1px solid #FF464E; border-radius: 30px;}

.m-bj-title{ font-size: 1.2em; text-align: center; display: block;margin: 1.2em 0;}
.m-bj-info{font-size: 1em; padding:0 1em; display: block; margin-bottom: 2em; color: #666;}
.m-bj-info em{color: #FF464E;}
.m-bj-edit li .m-bj-half {width: 100%; float: left;}
.m-bj-edit li .m-bj-right {float: right;}
.m-nav ul{position:absolute;width:200px;top:48px;right:0;height:auto;line-height:50px;display:none;z-index:9999;}
.m-nav ul li a{color:#fff;background:rgba(29,36,75,.95);display:block;margin-top:0px;border-top:1px #fff solid;}
.m-nav.active{background:#262C51;color:#fff;border-top-left-radius:30px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}

.m-bj-edit li .m-bj-edit-right {float: right;}


.c-zb-city{padding:5px; box-sizing: border-box;height:48px ; width:100%; text-align:left;
    border:1px solid #ddd; background:#fff; font-size:1em; color:#a9a9a9;white-space: nowrap;overflow:hidden;
text-overflow: ellipsis;}
.c-zb-city i.fa{ color:#333;}
.mui-btn{background:#D8D8D8; border:0}
.mui-btn-blue{ background:#00CFA5; color:#fff}
/*头部导航弹层*/
.full-nav{ position:fixed; left:0; right:0; background:rgba(255,255,255,.95); z-index:9999;opacity:0;  overflow:hidden;top:0; bottom:0; height:0 ;-webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in; }

.full-nav #full-nav-shut{ width:50px; height:50px; top:0; right:0; position:absolute;}

.full-nav #full-nav-shut:before,.full-nav #full-nav-shut:after{ content:""; width:36px; height:2px; background:#ff5659; position:absolute; top:25px; right:5px}
.full-nav #full-nav-shut:before{
	-webkit-transform: rotate(45deg);
          transform: rotate(45deg);}
.full-nav #full-nav-shut:after{
	-webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);}
.full-nav.shut-buff{ opacity:1;  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in; height:100%}
.full-nav ul{ padding:5em 2em}
.full-nav ul li{ width:29%; margin:0 2%; float:left; font-size:.8em; text-align:center}
.full-nav ul li a{ display:block}
.full-nav ul li img{ width:80%; height:auto; margin:0 auto; display:block}


.m-more{ text-align:center; font-size:0.8em; border-top:1px dashed #ddd; height:3em; line-height:3em; display:block; margin-top:.8em; color:#999}


.zb-link-bottom{ bottom:0; position:fixed; height:60px; width:100%; box-sizing:border-box;padding-left:25%; background:rgba(0,0,0,.7); color:#fff }
.zb-link-bottom .tit{ color:#f0d190; margin-top:8px}
.zb-link-bottom p{font-size:0.8em}
.zb-link-bottom img{ bottom:0; height:80px; width:auto; left:15px; position:absolute}
.zb-link-bottom a{ display:block; position:absolute; height:30px; color:#fff; border-radius:3px; padding:0 .5em; background:#ff5659; right:15px; line-height:30px; top:15px}
.select{ position:relative}
.select:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}
/*S-回到顶部*/
#gotop{z-index: 99; position:fixed; background:rgba(255,255,255,.8); color:#999; border:1px solid #ddd; border-radius:50%; width:50px; height:50px; text-align:center; bottom: 70px; right:10px; font-size:0.8em; line-height:18px; padding-top:3px; box-sizing:border-box}
/*E-回到顶部*/

.m-header-his{ position:absolute; z-index:9999; top:0;width:0.2rem; text-align:center; font-size:1.5em; color:#666; height:50px; }

/*S-在线客服挂件*/
#zxkf {
    position: fixed;
    width: 50px;
    bottom: 125px;
    right: 10px;
}
#zxkf img{
    width: 100%;
}
/*E-在线客服挂件*/

/*公共分页*/
.page{
    display: block;
    text-align: center;
    background-color: #fff;
    width: 90%;
    font-size: .6em;
    line-height: 2em;
    margin: 2em auto;
    border: 1px solid #ccc;
}
.page a{
    display: inline-block;
    width: 31.5%;
    height: 2em;
    color:#666666;
    font-size: 1.5em;
    line-height: 2em;
}
.page span{
    font-size: 1.5em;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: inline-block;
    width: 31.5%;
}
.ph{
    color:#FF6664 !important;
}

/**/
.col-xf-6{
    position: relative;
    width: 49%;
    font-size: 1em;
    box-sizing: border-box;
}

/*分页开始*/
.page-box {
    padding: 15px;
    background: white;
    font-size: 14px;
}
.page-box-container {
    border: 1px solid #ECECEC;
    display: flex;
    border-radius: 6px;
}
.page-box-container div {
    flex-grow: 1;
    text-align: center;
    line-height:30px;
}
.loading-more a{
    border-top:none !important;
    border-left:none !important;
    border-bottom:none !important;
}
#prev-page{
    border-right:1px solid #ECECEC;
}
#next-page a{
    border-right:none !important;
}
/*分页结束*/
.disclamer-check {
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 2px;
    margin-top: 3px !important;
    margin-right: 5px !important;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
/*免责申明*/
.shenming {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
}
.shenming i.fa {
    position: absolute;
    top: 0px;
    color: #468dcc!important;
}
.shenming a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
/*    width: 5em;*/
    height: 14px;
}
.shenming a span {
/*    width: 6em;
    text-indent: -0.5em;*/
    color: #468dcc;
}
.shenming span {
    display: inline-block;
    color: #999;
}
.mianze {
    display: none;
}
.mianze + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
    color:#468dcc;
}
.mianze:checked + label {
    color:#468dcc;
}
/*免责申明*/
#shenming {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
}
#shenming a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#shenming a span {
    width: 6em;
    text-indent: -0.5em;
    color: #468dcc;
}
#shenming span {
    display: inline-block;
    color: #999;
}
#mianze {
    display: none;
}
#mianze + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
    color:#468dcc;
}
/*#mianze:checked + label:after{
    content:"\2714";
}*/
#mianze:checked + label {
    /*background-color: white;*/
    color:#468dcc;
}
#shenming2 {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
}
#shenming2 a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#shenming2 a span {
    width: 6em;
    text-indent: -0.5em;
    color: #468dcc;
}
#shenming2 span {
    display: inline-block;
    color: #999;
}
#mianze2 {
    display: none;
}
#mianze2 + label {
    background-color: white!important;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
}
#mianze2:checked + label{
    background-color: #fff;
    color:#468dcc;

}
.foot-discliamer{font-size: 10px; padding:0px 0.2rem; color: #999; line-height: 0.2rem}
/*#mianze2:checked + label:after{
    content:"\2714";
}*/
