.m-wrap {
	max-width:750px;
	min-width:320px;
	margin:auto;
}
/*页头*/
header {
	height:50px;
	line-height:50px;
	background:#fff;
	box-shadow:0 3px 5px rgba(0,0,0,.2);
	position:relative;
	z-index:2
}
header .m-header-left,header .m-header-right {
	position:absolute;
	top:0;
	width:50px;
	text-align:center;
	font-size:26px;
	color:#666
}
header .m-header-tit {text-align:center;font-size: 17px;}
header .m-header-left {
	display:block;
	width:50%;
	height:50px;
	background:url(../img/logonew.png) no-repeat left;
	background-size:auto 50px
}
header .m-header-right {
	height:50px;
	right:0
}
header .m-header-kefu{
	width: 50px;
	height: 50px;
	text-align: right;
	position: absolute;
	top: 0;
	right:50px;
}
header .navbar-icon {
	display: inline-block;
	background: url(../img/common-icon.png) no-repeat;
}
header .contact-kefu{
	width: .4rem;
    height: .5rem;
    display: block;
    background-position: 0 0;
    background-size: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
header .m-header-city a{
	right:4.25rem;
	position:absolute;
	font-size:.28rem;
	top:0;
}
header .m-header-city i.fa:before {
	font-size:0.24rem;
	margin-left:5px;
	vertical-align:4px;
}
header .m-header-his {
	position:absolute;
	top:0;
	width:50px;
	text-align:center;
	font-size:0.45rem;
	color:#666;
	left:0;
	height:50px
}
article {overflow:hidden}
/*页脚*/
footer {
	text-align:center;
	width: 7.5rem;
	height: 3.5rem;
	background:#eee;
	margin: 0 auto;
}
footer .footer-tel{
	font-size: .3rem;
	padding-top: .5rem;
}
footer .footer-title{
	font-size: .28rem;
	margin-top: .3rem;
	margin-bottom: .1rem;
}
footer .footer-webadress{font-size: .2rem;}
footer .hot {color:#FF5255}
footer .links {font-size:.3rem}
footer .phone-box{
	width: .5rem;
	height: .5rem;
	margin: 0 .1rem;
	display: inline-block;
	border:1px solid #FF5255;
	border-radius: 50%;
	text-align: center;
	line-height: .5rem
}
/*悬浮导航*/
#full-navbar {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.1);
	position:fixed;
	top:0;
	z-index:999;
	display: none;
}
#full-navbar ul {
	width:2.6rem;
	height:4.4rem;
	border-radius:0.05rem;
	box-sizing:border-box;
	position:absolute;
	top:46px;
	right:0.14rem;
	background-color:#fff;
}
#full-navbar ul::before {
	content:"";
	width:.2rem;
	height:.2rem;
	position:absolute;
	right:0.24rem;
	top:-.1rem;
	background-color:#fff;
	transform:rotate(45deg);
}
#full-navbar ul li a {
	width:2.2rem;
	height:0.87rem;
	line-height:0.87rem;
	font-size:0.3rem;
	margin:0 auto;
	padding-left:0.1rem;
	border-bottom:1px solid #e0e0e0;
	display:block;
}
#full-navbar ul li a span {margin-left:.2rem;}
#full-navbar ul li:last-child a {border:none;}

#full-navbar .navbar-icon{
	width: .36rem;
	height: .5rem;
	float: left;
	display: block;
	margin-top: .22rem;
	text-align: center;
	background: url(../img/common-icon.png) no-repeat;
	background-size: 100%;
}
#full-navbar .home-icon{
	background-position: 0 -.5rem;
}
#full-navbar .huxing-icon{
	background-position: 0 -1rem;
}
#full-navbar .baojia-icon{
	background-position: 0 -1.5rem;
}
#full-navbar .meitu-icon{
	background-position: 0 -2rem;
}
#full-navbar .anli-icon{
	background-position: 0 -2.5rem;
}
/*联系客服方式*/
.contact-way{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.contact-way .contact-box{
	width: 6.2rem;
	height: 4.08rem;
	background-color: #fff;
	border-radius: .15rem;
	position: fixed;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.contact-way .contact-box-container{
	width: 3.8rem;
	height: 1.85rem;
	margin: 0 auto;
	margin-top: 1.12rem;
}
.contact-way .online-zixun,.contact-way .tel-zixun{
	font-size: .28rem;
	color: #333;
	line-height:0.28rem;
}
.contact-way .online-zixun{
	float: left;
}
.contact-way .tel-zixun{
	float: right;
}
.contact-way .tit-huo{
	width: 1.4rem;
	height: 1.2rem;
	font-size: 0.24rem;
	color: #999;
	line-height: 1.2rem;
	float: left;
	text-align: center;
}
.contact-way .online-icon,.contact-way .tel-icon{
	width: 1.2rem;
	height: 1.2rem;
	margin-bottom: .38rem;
	background: url(../img/contact-icon.png) no-repeat;
}
.contact-way .online-icon{
	background-size: 100%;
}
.contact-way .tel-icon{
	background-position: 0 -1.2rem;
	background-size: 100%;
}
/*装修报价*/
.m-bj-edit{
	width: 7.1rem;
	margin: 0 auto;
	margin-top: .15rem;
}
.m-bj-edit li {
	width: 7.1rem;
	height: .88rem;
	margin-bottom: .2rem;
	border: 1px solid #dedee0;
}
.m-bj-edit li .m-bj-edit-list {
	width: 7.1rem;
	height: .5rem;
	display: block;
	/*border: 1px solid #dedee0;*/
	box-sizing: border-box;
	padding-left: 0.2rem;
	border: 0;
	margin-top: .19rem;
	font-size: .3rem;
	outline: none;
}
.m-bj-edit li .m-row-int1 {
	position: relative;
}
.m-bj-city {
    padding-left: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    height: .88rem;
    text-align: left;
    font-size: .3rem;
    /*border: 1px solid #dedee0;*/
    background: #fff;
    color: #a9a9a9;
	display: block;
	border: 0;
}
.m-bj-btn {
	width: 7.1rem;
    height: .88rem;
    margin: 0 auto;
    color: #fff;
    line-height: .88rem;
    text-align: center;
    font-size: .34rem;
    background: #ff5659;
    display: block;
    letter-spacing: .04rem;
}
/*获取报价*/
.zb-link-bottom{
	bottom:0;
	position:fixed;
	height:1.2rem;
	width:100%;
	box-sizing:border-box;
	padding-left:25%;
	background:rgba(0,0,0,.7);
	color:#fff;
	z-index: 4;
}
.zb-link-bottom .tit{
	color: #f0d190;
    margin-top: .16rem;
    font-size: .3rem;
}
.zb-link-bottom p{font-size:0.24rem}
.zb-link-bottom img{
	bottom: 0;
    height: 1.6rem;
    width: auto;
    left: .25rem;
    position: absolute;
}
.zb-link-bottom a{
	display: block;
    position: absolute;
    height: .6rem;
    color: #fff;
    border-radius: 3px;
    padding: 0 .5rem;
    background: #ff5659;
    right: .3rem;
    line-height: .6rem;
    top: 0.3rem;
    font-size: .3rem;
}
/*S-在线客服挂件*/
#zxkf {
    position: fixed;
    width: 1rem;
    bottom: 1.25rem;
    right: .2rem;
    z-index: 4;
}
#zxkf img{
    width: 100%;
}