body {
  font-size: 0.108rem;
}
.m-wrap {
  background-color: #020935;
}
.top-banner {
  background: url('http://staticqn.qizuang.com/custom/20190107/FigtQ5DRpgYnZlW5fQ-5FVoIDyNf') no-repeat;
  background-size: 100%;  
  background-position: top; 
  height: 3.8rem;
}
.top-msg {
  width: 2.825rem;
  margin: 0 auto;
}
.top-msg .m-box img {
  display: block;
  width: 100%;
  height: 100%;
}

.form {
  width: 2.825rem;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}
.r-title {
  width: 2.8rem;
  margin: 20px auto 8px;
}
.r-title img {
  display: block;
  width: 100%;
}
.form .people {
  color: #BC9E7E;
  font-size: 0.108rem;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.04rem;
}
.form .people span {
  font-weight: bold;
  font-size: 15px;
}
.form input {
  width: 100%;
  height: 45px;
  text-indent: 1em;
  outline: none;
  border: 1px solid #BC9E7E;
}
.submit {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  color: #040B2F;
  background: #BC9E7E;
}
.r-msg {
  width: 2.8rem;
  padding-left: 0.22rem;
  padding-right: 0.22rem;
  border: 1px solid #BC9E7E;
  border-left:none;
  border-right:none;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: #BC9E7E;
}
.r-msg .r-box {
  margin: 10px auto;
  text-indent: 3em;
  font-size: 0.108rem;
  letter-spacing: 0.015rem;
}
.r-msg .r-box span {
  color: #E61717;
}
.five {
  color: #BC9E7E;
}
.five .f-img {
  width: 2.8rem;
  margin: 0 auto;
}
.five .f-img img {
  display: block;
  width: 100%;
}
.five ul {
  margin-top: 0.2rem;
}
.five ul li {
  height: 0.25rem;
  line-height: 0.25rem; 
  padding-left: 0.25rem;
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #BC9E7E;
}
.five ul li .b {
  font-weight: bold;
  color: #BC9E7E;
  margin-left: 0.05rem;
  letter-spacing: 0.02rem;
}
.five ul li span {
  color: #E61717;
}
.five .f-info {
  margin: 0 auto;
  width: 2rem;
  text-align: center;
  color: #BC9E7E;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  letter-spacing: 0.01rem;
}
.five .f-info p {
  margin-bottom: 0.1rem;
}
.five .f-info span {
  color: #E61717;
}
.jianjie .j-img {
  width: 2.8rem;
  margin: 0 auto;
}
.jianjie .j-img img {
  display: block;
  width: 100%;
}
.j-intro {
  width: 2.8rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  margin-bottom: 0.1rem;
}
.j-intro img {
  display: block;
  width: 100%;
}
.j-msg {
  width: 2.8rem;
  margin: 0 auto;
  color: #BC9E7E;
}
.j-msg p {
  font-size: 0.108rem;
  letter-spacing: 0.005rem;
  margin-bottom: 0.01rem;
}
.fenxiang .fen-img {
  width: 2.8rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.fenxiang .fen-img img {
  display: block;
  width: 100%;
}
.fenxiang .ceo {
  margin-right: 0.05rem;;
}
.fenxiang .right .ceo p.bold {
  margin-bottom: 0.1rem;
}
.fenxiang .text p {
  margin-bottom: 0.01rem;
  letter-spacing: 0.01rem;
}
.fenxiang .text p.bold {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.pxs .bold {
  margin-bottom: 0.3rem;
  margin-top: 0.1rem;
}
.pxs .text p {
  text-align: right;
}
.pxs.intro-peo {
  border-bottom: none;
}
.intro-peo {
  width: 2.8rem;
  margin: 0 auto;
  color: #BC9E7E;
  font-size: 0.108rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px dashed #bc9e7e;
  margin-bottom: 0.1rem;
}
.intro-peo .left {
  float: left;
}
.intro-peo .right {
  float: right;
}
.know {
  color: #BC9E7E;
  background: url('http://staticqn.qizuang.com/custom/20190107/Fhx5vjswlYqLcMTe6CBnDvXCu_07') no-repeat;
  background-size: 100%;  
  background-position: center; 
}
.know .bd {
  font-weight: bold;
  font-size: 15px;
}
.know .k-img {
  width: 2.8rem;
  margin: 0 auto;
}
.know .k-img img {
  display: block;
  width: 100%;
}
.know .k-info {
  float: left;
  padding-left: 0.25rem;
  margin-top: 0.2rem;
}
.know .k-info p {
  margin-bottom: 0.1rem;
}
.know .k-msg {
  float: left;
  text-align: left;
  padding-right: 0.25rem;
  margin-bottom: 0.2rem;
  margin-left: 0.25rem;
  margin-top: 0.2rem;
}
.know .k-msg p {
  margin-bottom: 0.1rem;
}
.address {
  border: 1px solid #BC9E7E;
  padding: 0.1rem;
  color: #BC9E7E;
  margin-bottom: 0.2rem;
  border-left: none;
  border-right: none;
}
.address p {
  letter-spacing: 0.008rem;
  margin-bottom: 0.015rem;
}
.address p span {
  display: inline;
}
.address p .block {
  display: block;
  float: left;
}
.address p .span {
  height: 0.25rem;
  display: block;
  float: left;
}
.address p.time {
  font-size: 12px;
  margin-top: 0.1rem;
}
.get {
  margin-bottom: 0.2rem;
}
.gongtong {
  width: 2.8rem;
  margin: 0 auto;
}
.gongtong img {
  display: block;
  width: 100%;
}
.gongtong p {
  width: 2.8rem;
  text-align: center;
  margin: 0.1rem 0;
  font-size: 0.135rem;
  color: #BC9E7E;
  letter-spacing: 0.04rem;
}
.get .g-img {
  width: 2.8rem;
  margin: 0 auto;
}
.get .g-img img {
  display: block;
  width: 100%;
}
.g-info {
  width: 2.35rem;
  margin: 0 auto; 
  font-size: 0.108rem;
  margin-top: 0.2rem;
  color: #BC9E7E;
}
.g-info p {
  margin-bottom: 0.05rem;
}
.yuyue .form {
  margin-top: 0.2rem;
}
.yuyue .y-img {
  width: 2.8rem;
  margin-bottom: 0.1rem;
}
.yuyue .y-img img {
  display: block;
  width: 100%;
}
.yuyue .form .tijiao {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  background: #DF751F;
  color: #fff;
}

.qzw {
  margin: 0 auto;
  width: 2.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.qzw p {
  font-size: 18px;
  font-weight: bold;
  color: #BC9E7E;
  text-align: center;
}
.qzw .qizhuang {
  font-size: 24px;
  margin-bottom: 0.1rem;
}
.right-now .left {
  width: 17px;
  height: 13px;
  float: left;
  margin-top: 0.1rem;
}
.right-now .left img {
  display: block;
  width: 100%;
}
.right-now .right {
  float: right;
}
#scrollDiv{width:2.6rem;height:25px;min-height:25px;line-height:25px;overflow:hidden;color: #BC9E7E;}
#scrollDiv li{height:25px;padding-left:10px;list-style: none;margin-top: 0.05rem;}
#scrollDiv li span.fl {margin-right: 0.4rem;}
#scrollDiv li span.fr {float: right;}


.yuyue .left {
  width: 17px;
  height: 13px;
  float: left;
  margin-top: 0.1rem;
}
.yuyue .left img {
  display: block;
  width: 100%;
}
.yuyue .right {
  float: right;
}
#scrollDiv2{width:2.6rem;height:25px;min-height:25px;line-height:25px;overflow:hidden;color: #BC9E7E;}
#scrollDiv2 li{height:25px;padding-left:10px;list-style: none;margin-top: 0.05rem;}
#scrollDiv2 li span.fl {margin-right: 0.4rem;}
#scrollDiv2 li span.fr {float: right;}

.fa-star {
  color: #BC9E7E;
}
.bg1 {
  background: url('http://staticqn.qizuang.com/custom/20190107/Fm_DaHRffenxZq5iMNSneBBB1pR-') no-repeat;
  background-size: 100%;  
  background-position: bottom; 
}
.error-code{
  color:#E61717;
  height:0.18rem;
  line-height: 0.18rem;
}