.tiaoj {
    float: left;
    width: 930px;
    border: #f1f1f1 1px solid
}
.tiaoj dl {
    width: 910px;
    display: block;
    overflow: hidden;
    padding-left: 20px;
    border-bottom: 1px dotted #f1f1f1
}
.tiaoj dt, .tiaoj dd {
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
}
.tiaoj dd a {
    display: inline-block;
    padding: 0 5px
}
.tiaoj dd a:hover {
    background: #ed5a6b;
    color: #fff;
    text-decoration: none
}
.tiaoj dt {
    font-weight: bold
}
.tiaoj dd {
    width: auto;
    margin: 0 5px
}
.tiaoj dd a.current {
    background: #ED5A6B;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #FFF;
}
.tiaoj .tit {
    height: 30px;
    line-height: 30px;
    margin-top: 10px
}
.tiaoj .tit span i {
    color: #c03
}
.tiaoj .tit h1 {
    float: left;
    margin: 0 20px;
    font-size: 18px;
    font-family: Microsoft Yahei
}
.tiaoj .tit span {
    float: left;
    display: block
}
.rtel {
    float: right;
    width: 240px;
    background: #fff;
    height: 190px;
    padding: 10px;
    border-top: 2px solid #ed5a6b;
    text-align: center;
    font-family: "Microsoft YaHei";
    padding-top: 20px
}
.rtel h1 {
    font-size: 18px;
    line-height: 25px;
    color: #3c3c3c;
    font-weight: bold
}
.rtel h2 {
    font-size: 14px;
    line-height: 25px;
    color: #888;
}
.rtel .int {
    margin-top: 10px;
    overflow: hidden;
    width: 240px;
    height: 32px
}
.rtel .int input {
    width: 218px;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px\0;
    *line-height: 30px;
    text-align: left;
    display: block;
    padding: 0 5px;
    height: 29px\9;
    width: 228px\9;
    color: #666;
}
.rtel .int a {
    display: block;
    width: 228px;
    line-height: 30px;
    color: #fff;
    background: #ed5a6b;
    border: 1px solid #ff5868;
    font-size: 14px
}
.rtel .int a:hover {
    text-decoration: none;
    color: #fff;
    background: #de4348
}
.complist {
    width: 930px;
    float: left;
    margin-top: 20px;
}
.complist li {
    padding: 18px;
    border: 2px solid #fff;
    overflow: hidden;
    height: 180px;
    border-bottom: 2px dotted #f7f7f7
}
.complist li:hover {
    border: 2px solid #f7f7f7
}
.complist li .tu {
    width: 180px;
    height: 180px;
    float: left;
    display: table;
}
.complist li .tu a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.complist li .tu img {
    width: 126px;
}
.complist li .content {
    float: left;
    margin-left: 20px;
    width: 450px
}
.complist li .content h1 {
    line-height: 30px;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    font-weight: 100
}
.complist li .content p {
    height: 30px;
    line-height: 28px;
    display: block
}
.complist li .content p.diz {
   background: url(/assets/common/pic/tag.png) no-repeat left;
    padding-left: 20px;
    color: #888;
    margin: 5px 0;
}
.complist li .content p.diz a{
    padding:5px;
    text-decoration: underline;
    font-size: 14px;
}
.complist li .content p.combtn a {
    display: block;
    padding: 0 10px;
    margin-right: 20px;
    width: 100px;
    float: left;
    border: #e76363 1px solid;
    height: 28px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    color: #e76363;
    text-align: center
}
.complist li .content p.combtn a.first {
    background: #e76363;
    color: #fff;
}
.complist li .content p.combtn a:hover {
    background: #e76363;
    color: #fff;
    text-decoration: none
}
.complist li .content p.sended {
    margin-top: 10px;
    color: #888
}
.complist li .btn {
    float: left;
    margin-left: 20px;
    height: 140px;
    border-left: 1px dashed #eee;
    padding: 20px;
    width: 179px;
    background: #f7f7f7
}
.complist li .btn a {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 159px;
    margin-top: 20px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    padding-left: 20px;
    color: #FFF;
    border-radius: 2px
}
.complist li .btn a.b1 {
    background: #e76363 url(/assets/common/pic/compbtn.png) no-repeat 10px 0
}
.complist li .btn a.b2 {
    background: #e76363 url(/assets/common/pic/compbtn.png) no-repeat 12px -35px
}
.complist li .btn a:hover {
    text-decoration: none
}
.complist li .content p.ico {
    line-height: 20px;
    padding: 10px 0;
    height: 20px
}
.complist li .content p.ico span {
    margin-right: 5px
}
.complist li .content p.ico i {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 0 3px 0 4px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, .15);
    margin-right: 5px
}
.complist li .content p.ico i.ico1 {
    background: #ffc600;
    border-right: 1px solid #F90;
    border-bottom: 1px solid #F90
}
.complist li .content p.ico i.ico2 {
    background: #ff6600;
    border-right: 1px solid #e00;
    border-bottom: 1px solid #e00
}
.complist li .content p.ico i.ico3 {
    background: #00a8ff;
    border-right: 1px solid #006397;
    border-bottom: 1px solid #006397
}
.complist li .content p.ico i.ico4 {
    background: #1ab628;
    border-right: 1px solid #076f11;
    border-bottom: 1px solid #076f11
}
.complist li .content p.ico i.ico5 {
    background: #00bbcc;
    border-right: 1px solid #00828e;
    border-bottom: 1px solid #00828e
}


.rightsider {
    float: right;
    width: 260px;
}
.r_title {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    line-height: 45px;
    height: 45px;
}
.complv li {
    line-height: 30px;
    height: 30px;
    background: url(/assets/common/pic/complist.gif) left no-repeat;
    font-size: 14px;
    padding-left: 20px
}
.yzdp {
    padding: 10px;
    border: 1px solid #f1f1f1
}
.yzdp li {
    border-bottom: 1px dotted #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 10px
}
.yzdp li i {
    background: url(/assets/common/pic/yezhupj.png) no-repeat left;
    padding-left: 20px;
    margin-right: 5px;
    color: #3c3c3c;
    width: 100px;
}
.yzdp li i, .yzdp li span {
    color: #3c3c3c;
    float: left;
    display: block;
    overflow: hidden
}
.yzdp li p {
    min-height: 25px;
    line-height: 25px;
    color: #888;
    max-height:100px;
    overflow: hidden;

}
.yzdp li span a {
    font-weight: bold
}
.yzdp li span {
    width: 150px;
    overflow: hidden
}
.yzdp li:last-of-type {
    border: 0;
    padding: 0;
    margin: 0;
}
.complist li.no-item{background:url(/assets/common/img/notfound.jpg) no-repeat;}
.complist li.no-item:hover{border: 2px solid #fff; border-bottom: 2px dotted #f7f7f7;}
.tiaoj dt:first-child i{color: #888;font-style: normal;}
.banner{float: left; width: 930px; height: 120px; border: 1px solid #f1f1f1;background:url(/assets/sub/index/img/bannerbg.png) center center no-repeat;}
.banner img{width: 100%; height: 100%;}
.rmtj{float: left; width: 930px; background: url(/assets/common/pic/hot1.png) no-repeat;}
.rmtj h2{ float: left; height: 38px; display: block; width: 110px; line-height: 38px;padding-left: 24px;}
.rmtj ul{float: left; margin-left:10px;  border:1px solid #f1f1f1;}
.rmtj ul li{float: left; border-left:1px solid #f1f1f1; padding:10px 20px; font-size: 14px;color: #666; }
.rmtj ul li:first-child{border-left: 0;}
.zbhd {height: 60px; margin-top: 0;}
.zbhd p{width: 870px; background: url(/assets/common/img/xiong.png) 0 center no-repeat; background-color: #fff;color: #666; padding-left: 70px;height: 60px; font-size: 16px; line-height: 60px; font-family: "Microsoft Yahei";}
.zbhd p a{color: #ED5A6B; font-size: 18px;}
.zbhd p span{color:#ED5A6B;}
#zbhd.fixed{margin-left:-605px; top:0px; left:50%; margin-top: -60px}

.zxfw{font-size: 14px; width: 236px; border:1px solid #f1f1f1; padding:15px 10px; font-family: "Microsoft Yahei";}
.zxfw dt {text-align: center; font-size: 17px; font-weight: bold; margin-bottom: 10px; white-space:nowrap;}
.zxfw dt dl dd{padding-left: 8px; font-size: 14px; font-weight: bold; color: #444; font-family: "Microsoft Yahei";}

.zxfw dl ul li{position: relative; padding-left: 50px; padding-top: 10px; border-top: 1px solid #f1f1f1; margin-bottom: 5px;}
.zxfw dl ul li:first-child{border-top:  0;}
.zxfw .icon{background:url(/assets/common/img/global.png) no-repeat;display: block; position: absolute;left:0; top:15px;}
.zxfw .icon1{width:46px;height:34px;background-position:-306px -206px; }
.zxfw .icon2{width:46px;height:34px;background-position:-351px -204px;}
.zxfw .icon3{width:46px;height:34px;background-position:-307px -247px;}
.zxfw .icon4{width:46px;height:34px;background-position:-354px -244px;}
.zxfw .icon5{width:46px;height:34px;background-position:-262px -244px;}
.zxfw dl dd em{display: block; color: #444; margin-bottom: 3px;}
.zxfw dl dd span{display: block; color: #999; line-height: 18px; font-size: 12px;}
.zxfw dd a{display: block; padding:10px 20px; text-align: center; color: #FFF; background:#E76363; font-size: 14px; text-decoration: none; }

.leftsilder{float: left;width:930px; }


.zuijin{ background:url(/assets/common/img/fujinbg.jpg) no-repeat; width:218px;  padding:20px; border:1px solid #f54d4d; text-align:center; overflow:hidden; padding-bottom:5px}
.zuijin h1{ font-size:18px; font-family:"Microsoft YaHei"; color:#f54d4d;}
.zuijin h2{font-size:16px; font-family:"Microsoft YaHei"; font-weight:100; color:#f54d4d; margin-bottom:15px}
.zuijin p input[type=text]{padding-left: 3px; color: #666; height:28px; border:1px solid #ccc;line-height: 28px\0;}
.zuijin p .full{ width:216px;}
.zuijin p .half{color: #666; height:28px; border:1px solid #ccc; width:80px; margin-right:16px;line-height: 28px\0;}
.zuijin p .half option{padding-left: 3px;}
.zuijin p{ margin-bottom:15px; width:150%; text-align:left}
.zuijin p a{ width:216px; border:#e53434 1px solid; background:#E76363; line-height:30px; display:block; text-align:center; color:#fff; font-size:14px}
.zuijin p a:hover{ text-decoration:none; background:#e53434}
.zuijin p em{color: #666; text-align: left; display: block; padding-left: 30px; padding-top: 10px;}