.zxbanner .fadankz{filter:alpha(opacity=70) !important;background: rgba(0,0,0,1) !important;background: #000 !important;}
.beijingyiny{filter:alpha(opacity=70) !important;background: rgba(0,0,0,1) !important;background: #000 !important;}
.listxz_title .sort_right .noselect{top: -6px !important;}
.listxz_title .sort_right input[type='checkbox']{top: 4px !important;}

.new-box-l .conpany_xuanz dl dt{position: relative !important;}
.new-box-l .conpany_xuanz dl dt span{position: absolute;display: inline-block;top: 50%;margin-top: -10px;
left: 50%;margin-left: -30px;}
.new-box-l .conpanygm dl dt{position: relative !important;}
.new-box-l .conpanygm dl dt span{position: absolute;display: inline-block;top: 50%;margin-top: -10px;
left: 50%;margin-left: -30px;}
.new-box-l .fuwubaoz dl dt{position: relative !important;}
.new-box-l .fuwubaoz dl dt span{position: absolute;display: inline-block;top: 50%;margin-top: -10px;
left: 50%;margin-left: -30px;}