/*
* @Author: qz_php3
* @Date:   2018-05-02 11:51:13
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-16 15:51:11
*/
.head  {
    background-color: #eee;
    height: 0.4rem;
}
.head .head-search {
    padding: 0.01rem 0.1rem;
    height: 0.3rem;
    box-sizing: border-box;;
}
.head .head-search input {
    width: 100%;
    height: 0.25rem;
    margin-top: 0.05rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 2em;
    font-size: 0.13rem;
}
.cur {
    color:#ff5353;
}
.head-search {
    position: relative;
}
.fa-search {
    position: absolute;
    top: 0.13rem;
    left: 0.18rem;
    color: #ccc;
}
#tab {
    height: 0.3rem;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: white;
    z-index: 1;
}
#tab .tab-menus {
    position: relative;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}
#menuTitle {
    width: 9.4rem;
    height: 0.3rem;
    margin-left: 0.1rem;
}
#menuTitle li {
    float: left;
    /*width: 0.6rem;*/
    margin-right: 0.35rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
}
#menuTitle li:last-child {
    margin-right: 0;
}
/*#menuTitle li:nth-child(5) {
    width: 0.4rem;
}
#menuTitle li:nth-child(6) {
    width: 0.4rem;
}
#menuTitle li:nth-child(7) {
    width: 0.4rem;
}
#menuTitle li:nth-child(8) {
    width: 0.4rem;
}
#menuTitle li:nth-child(9) {
    width: 0.4rem;
}
#menuTitle li:nth-child(10) {
    width: 0.4rem;
}
#menuTitle li:nth-child(13) {
    width: 0.7rem;
}*/
.main {
    padding: 0;
    margin-top: 0.3rem;
}
.list-box {
    padding: 0 0.1rem;
    height: 1rem;
}
.list-box .list {
    border-top:1px solid #ccc;
    padding-top: 0.1rem;
    height: 100%;
    box-sizing: border-box;
}
.list-box:last-child .list {
    border-bottom: 1px solid #ccc;
}
.list-box .list a {
    display: block;
    width: 100%;
    height: 100%;
}
.list-box .list .img {
    float: left;
    width: 1rem;
    height: 0.8rem;
    margin-right: 0.1rem;
}
.list-box .list .img img {
    width: 100%;
    height: 100%;
}
.list-box .list .info {
    float: left;
    width: 1.9rem;
    height: 100%;
    position: relative;
}
.list-box .list .info .title {
    font-size: 0.125rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #000;
    font-size:14px;
    margin-bottom: 10px;
}
.page {
    height: 100%;
    margin: 0 auto;
    border: none;
    width: 94%;
    padding: 0;
    background: #f4f4f4;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}
.list-box .list .info .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #808080;
    font-size: 12px;
    margin-bottom: 10px;
}
.list-box .list .info  .icon {
    color: #ccc;
    position: absolute;
    bottom: 0.1rem;
}
.current {
    color:#ff5353;
}
.page a:first-child {
    border-right: none;
}