/*
* @Author: qz_dc
* @Date:   2018-05-05 09:06:28
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-05-11 11:32:36
*/
.baojia {
    height: 0.3rem;
    line-height: 0.3rem;
    margin: 0 auto;
    width: 90%;
}
.baojia .free-sj, .free-bj {
    float: left;
    width: 48%;
    height: 100%;
    text-align: center;
    background: #ff565d;
    color: #fff;
    border-radius: 5px;
}
.free-bj {
    float: right;
}
.other-article-box {
    padding-right: 0.2rem;
}
.other-article-item {
    position: relative;
    height: 0.65rem;
}
.other-article-item a {
    display: block;
}
.other-article-item .sj {
    display: block;
    width: 5.5em;
    height: 2.3em;
    line-height: 0.3rem;
    border-radius: 5px;
    background: #ff565d;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0.3rem;
    right: 0;
}
.other-article-text {
    font-size: 14px;
}
.exchange {
    display: inline-block;
    border-bottom: 1px solid #ff5353;
}
.more {
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background: #f4f4f4;
}
.more a {
    display: block;
}
.text-name {
    width: 92%;
    height: 0.4rem;
    margin: 0 auto;
    line-height: 0.2rem;
    margin-top: 0.1rem;
}
.text-name .type {
    display: inline-block;
    float: left;
}
.text-name .fenye {
    float: right;
}