/*
* @Author: qz_dc
* @Date:   2018-05-02 17:38:41
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-16 15:17:20
*/
/*#calculator {*/
    /*display: none;*/
/*}*/
.head  {
    background-color: #eee;
    height: 0.4rem;
}
.head .head-search {
    padding: 0.01rem 0.1rem;
    height: 0.3rem;
    box-sizing: border-box;
}
.head .head-search input {
    width: 100%;
    height: 0.25rem;
    margin-top: 0.05rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 2em;
    font-size: 0.13rem;
}
.cur {
    color:#ff5353;
}
.head-search {
    position: relative;
}
.fa-search {
position: absolute;
    top: 0.13rem;
    left: 0.18rem;
    color: #ccc;
}
#tofixed {
    height: 0.3rem;
    border-bottom: 1px solid #eee;
}
.box-title {
    padding: 0;
    height: 0.3rem;
    border-bottom: none;
}
.box-title ul li {
    margin-top: 0.1rem;
    font-size: 0.15rem;
    /*color: #000;*/
    line-height: 0.15rem;
}
.menu-list {
    top: 0.3rem;
}
.main {
    height: 7.47rem;
    margin: 0.1rem;
    position: relative;
}
.position {
    background: #fff;
}
.main .group {
    height: 1.6rem;
    width: 1.45rem;
    float: left;
    margin-bottom: 0.1rem;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.main .group > a {
    display: block;
}
.main .group:nth-child(2n+1) {
    margin-right: 0.1rem;
}
.main .group:nth-child(1) {
    top: 0;
    left:0;
}
.main .group:nth-child(2) {
    height:2.37rem;
    top: 0;
    left:1.55rem;
}
.main .group:nth-child(3) {
    top: 1.7rem;
    left:0;
}
.main .group:nth-child(4) {
    top: 2.47rem;
    left:1.55rem;
}
.main .group:nth-child(5) {
    height:2.37rem;
    top: 3.4rem;
    left:0;
}
.main .group:nth-child(6) {
    top: 4.17rem;
    left:1.55rem;
}
.main .group:nth-child(7) {
    width: 100%;
    margin-right: 0.1rem;
    top: 5.87rem;
    left: 0;
}
.main .group .group-img  {
    height: 1.25rem;
}
.main .group .group-img img {
    width: 100%;
    height: 1.25rem;
    display: block;
}
.main .group:nth-child(2) .group-img {
    height:1.9rem;
}
.main .group:nth-child(2) .group-img img {
    height:1.9rem;
}
.main .group:nth-child(2) .group-info .title {
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .group:nth-child(2) .group-info {
    height: 0.47rem;
}
.main .group:nth-child(2) .group-info .icon {
    bottom: 5px;
}
.main .group:nth-child(5) .group-img {
    height:1.9rem;
}
.main .group:nth-child(5) .group-img img {
    height:1.9rem;
}
.main .group:nth-child(5) .group-info .title {
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .group:nth-child(5) .group-info {
    height: 0.47rem;
}
.main .group:nth-child(5) .group-info .icon {
    bottom: 5px;
}
.main .group .group-info .title {
    font-size: 12px;
    font-weight: 400;
    padding-left: 0.05rem;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-top: 0.02rem;
}
.main .group .group-info {
    position: relative;
}
.main .group .group-info .icon {
    padding-left: 0.9rem;
    position: absolute;
    color: #ccc;
}
.main .group:nth-child(7) .group-info .icon {
    padding-left: 2.4rem;
}
.main .group .group-info .icon i {
    margin-right: 0.05rem;
}
.current {
    color:#ff5353;
}
article {
    background: #fff;
}
.page {
    height: 100%;
    margin: 0 auto;
    border: none;
    width: 94%;
    padding: 0;
    background: #f4f4f4;
    margin-bottom: 0.1rem;
}
.meitu-list-wrap {
    background: #eee;
}
.box-body ul li {
    margin: 10px auto;
    padding: 10px;
    background: #fff;
}
/*.box-body ul li:first-child {
    padding-top: 0;
    margin-top: 0;
}*/
.box-body ul li a.imgs-box {
    width: 100%;
    height: 211px;
    overflow: hidden;
    display: block;
    position: relative;
}
.box-body ul li img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.details {
    margin-top: 10px;
}
.details p {
    font-size: 15px;
}
.details-content {
    margin-top: 5px;
    overflow: hidden;
    color: #999999;
}
.details-content span {
    float: left;
    margin-right: 10px;
    font-size: 14px;
}
.details-content .rightIcon {
    float: right;
    margin-top: -2px;
    cursor: pointer;
}
.rightIcon span {
    float: right;
    margin-top: 2px;
    padding-left: 5px;
}
.sleep {
    background:#eee;
}
.rightIcon.zan {
    color: #ff5659;
}
.menu-list ul li {
    height: 28px;
}
.menu-list ul li a {
    display: block;
    width: 85%;
    height: 100%;
    line-height: 28px;
    margin: 0px auto;
}