.gl-atl{width:92%;margin:0 auto;font-family:'Microsoft YaHei';}
.gl-atl .atl-tit h1{text-align:center;font-size:1em;font-weight:bold;margin-top:1.2em;}
.gl-atl .atl-bread{font-size:1em;height:1.5em;line-height:1.5em;margin-top:0.8em;margin-bottom: 10px;}
.gl-atl .atl-bread .atl-bd{float:left;}
.gl-atl .atl-bread .atl-time{float:right;}
.gl-atl .img-wrap img{width:100%;margin:0.6em auto;}
.gl-atl .img-wrap p{line-height: 25px; color:#666;padding-bottom: 15px;}
.gl-atl .assist{width:4.5em;height:1.5em;border-radius:0.9em;border:1px solid #ff565d;background:#fff;margin:0 auto;text-align:center;line-height:1.5em;margin-top:1em;}
.gl-atl .assist i{display:block;width:1.55em;height:1.5em;border-radius:50%;background:#ff565d;float:left;text-align:center;line-height:1.4em;color:#fff;margin-left: -1px;}
.gl-atl .assist span{font-size:0.9em;color:#ff565d;}
.atl-list{width:100%;margin-top:1.2em;height:13.3em;background:#fff;margin-bottom:1em;}
.atl-list .atl-list-other{width:100%;height:2.2em;background:#fff;box-shadow:1px 1px 1px #ccc;line-height:2.2em;}
.atl-list .atl-list-other i{width:2%;height:100%;background:#ff565d;display:block;float:left;}
.atl-list .atl-list-other span{margin-left:0.5em;}
.atl-list ul{width:92%;margin:0.5em auto;}
.atl-list ul li{
    height:2em;
    line-height:2em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
.atl-list ul li i{margin-right:0.5em;color:#ffa080;font-size:1.2em;}