.m-header-city{left: 35%;}
.swiper-wrapper{width: 100%;}
.swiper-slide img{width: 100%;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 0px!important;}
.swiper-pagination-bullet-active{
	background: #f85455!important;
}
.gl-slide{
	height:auto;
	margin-bottom:0.8em;
}
.gl-option{
	width:100%;
	height: 9em;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5em;
	overflow: hidden;
}
.gl-option .option-tab{
	width:92%;
	margin:0 auto;
}
.gl-option .tab-tit{
	height:2em;
	margin-top:0.5em;
}
.gl-option .tab-tit ul li{
	width:28%;
	height:2em;
	border:1px solid #ccc;
	float:left;
	margin-right:6.8%;
	line-height:2em;
	font-size:0.95em;
}
.gl-option .tab-tit ul li:last-child{
	margin-right: 0;
}
.gl-option .tab-tit ul li a{
	display: block;height: 100%;width:100%;
	text-align: left;
}
.gl-option .tab-tit ul li a i{
	width:1.5em;
	height:1.5em;
	display:block;
	float: left;
	margin-top:0.4em;
	margin-left: 12%;

}
.gl-option .tab-tit ul li a i.t1{background:url(../img/before.png) no-repeat;background-size:88%;}
.gl-option .tab-tit ul li a i.t2{background:url(../img/ing.png) no-repeat;background-size:88%;}
.gl-option .tab-tit ul li a i.t3{background:url(../img/after.png) no-repeat;background-size:88%;}
.gl-option .tab-main ul li{
	width: 25%;
	text-align: center;
	float: left;font-size: 0.8em;line-height: 3.2em;
}
.gl-option .tab-main{
	position: relative;
	width:99.3%;
	height:2.5em;
	border:1px solid #ccc;
	margin-top:1em;
}
.hidetab{display: none;}
.tab-main ul i{
	position: absolute;
	top:-0.4em;
	width: 0.6em;
	height: 0.6em;
	background: #fff;
	display: block;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	transform: rotate(45deg);
}
.tab-main ul i.s1{left: 13%;}
.tab-main ul i.s2{left: 49%;}
.tab-main ul i.s3{left: 84%;}
.step-list-more{
	width:100%;
	border-top:1px dashed #ccc;
	margin-top:0.8em;
	text-align:center;
	line-height:2.6em;
	font-size:0.8em;
	letter-spacing: 0.1em;
}
.step-list-more a{color:#999;}
.step-list-more::before{
	content: "";
	width: ;
	height: ;
	clear: both;
}
.gl-main{
	width:100%;
	height:auto;
	background: #fff;
	overflow: hidden;
	margin-bottom: 0.8em;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.gl-main .main-local{
	width: 92%;
	margin: 0.8em auto;
}
.gl-main .gl-main-tit{
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 auto;

}
.fg-list-box{
	width: 100%;
	height: 6em;
    background-color: #fff;
    margin: 0.5em auto;
}
.fg-list{
    padding: 0.3em 0;
}
.fg-list .fg-img{
    width: 34%;
    height: 5.4em;
    float: left;
    position: relative;
}
.fg-list .fg-img img{
    width: 100%;
    height: 100%;
}
.fg-send{
    float: left;
    width: 62%;
    height: 5.4em;
    margin-left: 0.7em;
    position: relative;
}
.fg-send h2{
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
}
.fg-send p{
    font-size: 0.6em;
    padding-top: 0.3em;
}
.fg-send .fg-yj{
    color: #959595;
    font-size: 0.7em;
    float: right;
    position: absolute;
    right: 16px;
    bottom: 2px;
}

.fg-send p{
    color: #999;
}

.num{
    position: absolute;
    display: block;
    border: none;
    bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 13px;
    background-image: -moz-linear-gradient(90deg,rgba(0,0,0,.6) 0%,rgba(200,200,200,0) 100%);
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,.6) 0%,rgba(200,200,200,0) 100%);
    padding-left: .5em;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding-top: 3px;
}
.num em{
    font-size: 0.6em;
    position: absolute;
    right: 0.4em;
}
.zt-sent h2{
    border-bottom: 1px dashed #DFDFDF;
    display: block !important;
    height: 1.7em;
}
.zt-sent p{
    color: #808080;
    border-bottom: 1px dashed #DFDFDF;
    height: 2.4em;
    line-height: 2.1em;
}
.zt-sent em{
    color: #959595;
    font-size: 0.7em;
    position: absolute;
    left: 0;
    bottom: 2px;
}



/*修改电话模块*/
.call-tel{margin-top: 0;}

.fg-send .fa-video-camera{float: right; font-size: 0.7em; position: absolute; bottom:2px; right: 0; color: #959595; }
