
.fg-nav{
    height: 2.1em;
    background-color: #fff;
    border-bottom: 1px solid #E1E1E1;
}
.fg-nav-l{
    float: left;
    line-height: 2.3em;
    font-size: 0.95em;
    color: #4E4E4E;
}
.fg-nav-r{
    float: right;
    font-size: 0.8em;
    width: 5.8em;
    height: 1.95em;
    line-height: 2em;
    background-color: #FF5659;
    color: #fff;
    margin-top: 0.4em;
    text-align: center;
    border-radius: 3px;
    font-weight: 100;
}
.fg-hd{
    padding: 0 0.8em;
}
.fg-bd{
    position: absolute;
    width: 70%;
    z-index: 1;
    right: 0;
    display: none;
    border: 1px solid #eee;
    border-bottom: none;
}
.activ{
    display: block!important;
}
.mask{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: alpha(opacity = 40);
    background-color: black;
    position: fixed;
    top: 85px;
    left: 0;
    display: none;
}
.fg-bd p{
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 1.3em;
    background: #fff;
    border-bottom:1px solid #eee;
}
.fg-bd p i{
    float: right;
    line-height: 2.5em;
    margin-right:1em; 
}
.fg-bd ul{
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
    height: 0;
    background: #f2f2f2;
}
.fg-bd ul li{
    height: 2.4em;
    line-height: 2.4em;
}
.fg-bd ul li a{
    margin-left: 1.3em;
    height: 100%;
    display: block;
}
.fg-current{
    background-color: #fff;
}

.white{background-color: #fff;}

/*修改*/
.fl{float: left;}
.fr{float: right;}
.mr10{margin-right: 10px;}
.show{display: block;}
.hide{display: none;}
.pop-xc{
    width: 70%;
    height: auto;
    position: absolute;
    right: -1000px;
    top: 84px;
    z-index: 99999
}

#wrapper{
    width: 100%;
    height: 380px
}
.xc-list p{
    height: 40px;
    width: 100%;
    background: #fff;
    line-height: 40px;
    border-bottom: 1px solid #eee; 
}
.xc-list p span{
    padding-left: 10px;
}
.xc-list p i{
    margin-top: 12px;
}
.setH{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #eee;
    font-size: 14px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.setH .xc-nav{
    width: 45%;
    height: 100%;
    background: #eee;
    text-align: center;
}
.setH .xc-con{
    width: 55%;
    overflow: hidden;
    height: auto;
    background: #fff;
}
.setH .xc-con ul{
    padding-left: 15px;
}


