.small-nav{
    background-color: #fff;
    font-size: 0.15rem;
}
.small-nav>ul{
    height: 38px;
    padding: 0px;
    line-height: 38px;
    border-top: 1px solid #eee;
}
.nav-title{
    height: 100%;
    text-align: center;
    background-color:#fff;
    font-weight: 400;
    width: 50%;
    float: left;
    border-right: 1px solid #eee;
}
.nav-child{
    padding: 5px 0px;
    background-color: #f1f1f1;
    position: absolute;
    top:130px;
    width: 100%;
    float: left;
}
.nav-child li{
    height: 30px;
    text-align: center;
    width: 33.33333333333%;
    float: left;
}
.nav-child li a{
    display:block;
    font-weight: 100;
    width: 90%;
    background-color: #fff;
    height: 24px;
    margin: auto;
    line-height: 24px;
    font-size: 0.12rem;
}

.nav-title>a:after {
    content: "";
    display: inline-block;
    vertical-align: 3px;
    margin-left: 10px;
    border-top: 5px solid #ccc;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
}
.hidden{
    display: none;
}