.ht-order-login{ font-size:14px; margin:20px 0}
.ht-order-login input{padding-left: 5px; color: #666; border:1px solid #ccc; height: 30px; line-height:30px\0; *line-height:30px;display:inline-block;}
.ht-order-login input.focus{border: 1px solid #F15858;}
.ht-order-login .error{margin-left: 10px;}
.ht-order-check{ height:50px; background:#fff; line-height:50px; padding:0 20px; font-size:14px; position:relative; border:1px solid #f1f1f1}
.ht-order-check select{ color: #666; height:30px; width:80px; border:1px solid #ccc}
.ht-order-check .search{margin-top: 1px; position:absolute; left:150px; top:10px; background:#fff; height:28px; width:240px; border:1px solid #ccc; line-height:28px}
.ht-order-check .search input[type=text]{ padding-left: 5px; color: #666; float:left; height:28px; line-height: 28px\0; *line-height: 28px; width:150px}
.ht-order-check .search input[type=button]{ float:right; width:70px; height:28px; background:#666; color:#fff; cursor:pointer;}

.ht-order-list{margin-top:20px; width:100%; text-align:center}
.ht-order-list .order-title{ line-height:50px; font-weight:bold; font-size:14px}
.ht-order-list .order-title td{width:10%; background:#f7f7f7; border-bottom:1px solid #fff}
.ht-order-list .order-list{ line-height:60px; height: 60px;}
.ht-order-list .order-list *{line-height: 20px;}
.ht-order-list tr.unknow{ background:#fffdf3}
.ht-order-list tr.unknow:hover{ background:#fffce4}
.ht-order-list .order-list:hover{ background:#fcfcfc}
.ht-order-list .order-list td{ border-bottom:1px solid #f7f7f7}
.ht-order-list .order-list td .order-look{ background:#2fc46e; color:#fff; border:1px solid #1ba556;  display:inline-block; line-height:25px; padding:0 10px; width:48px}
.ht-order-list .order-list td .order-look:hover{ text-decoration:none;box-shadow:0px 0px 10px #2fc46e}


/***********/
.ht-order-list .order-list td .order-del{ border:1px solid #ccc; background:#fff; color:#F8696C; display:inline-block; line-height:25px; padding:0 10px; width:48px;}
.ht-order-list .order-list td .order-del:hover{ text-decoration:none; background:#F15858; color:#fff; border:1px solid #F30; box-shadow:0px 0px 5px #ff8585}
.ht-order-check .add-order{ display:block; position:absolute; line-height:28px;top:10px; height:28px; padding:0 10px; right:50px; background:#eee; border:1px outset #fff}
.ht-order-check .add-order:hover{text-decoration:none;}
.ht-order-check .add-order:active{background:#e1e1e1; border:1px inset #fff; }

/**********/
.ht-wechat{ width:250px; float:left; text-align:center; line-height:30px; margin-top:50px; margin-left:50px}
.ht-wechat h1{ font-size:16px}
.ht-wechat p img{ width:200px; height:200px; border:1px solid #f1f1f1; margin:5px}
.ht-wechat-id{ float:right; border-left:1px dashed #eee; width:300px; margin-top:70px; padding:0 20px; line-height:25px;position: relative;}

.ht-wechat-id img{width: 50px; height: 50px; vertical-align: top; display: inline-block; display: inline\9;}
.ht-wechat-id dl{ margin-bottom: 10px; position: relative;}
.ht-wechat-id dl:hover{background: #FFFDF3; cursor: pointer;}
.ht-wechat-id dt{display: inline-block; display: inline\9;vertical-align: top;}
.ht-wechat-id dd{ color: #888;width: 200px;display: inline-block; display: inline\9; vertical-align: top; }
.ht-wechat-id .menu{display: block; position: absolute; font-size: 14px; bottom: 5px; right: 5px}

/*******密码修改*******/
.compinfo-secret{ font-size:14px; line-height:30px; margin:20px 0 0 0;  border-bottom:1px dotted #f1f1f1}
.compinfo-secret li{ margin-bottom:20px; overflow:hidden}
.compinfo-secret li span{ float:left; width:90px; font-weight:bold; text-align:right; padding-right:10px}
.compinfo-secret li input{ color: #666; height:30px; line-height:30px; width:140px; padding:0 5px;border:1px solid #ccc;}
.compinfo-secret li button{border: 1px solid #ccc; color: #666; text-align: center; padding: 0 5px; cursor: pointer; height: 32px; margin-left: 5px;}
.compinfo-secret li button[disabled]{color: #999;}
.compinfo-secret .focus{border-color: #F15858;}
.ht-info{font-size: 14px;  }
.ht-info a{margin-left: 10px;}
.compinfo-secret .ht-tips{padding-left: 100px; height: 30px;}
.apply_box{display: block;}
.apply_box .win_box_content { width: 300px; height: 220px; margin-top: -110px; margin-left: -150px; }
.apply_box .win_box_content .win_box_in{width: 300px; height: 220px; margin-top: -110px; margin-left: -150px; }
.apply_box .zb_box_title .zb_box_info{text-align: left; padding-left: 10px;}
.apply_box .win_box_in .input{height: 50px; margin-bottom: 5px;}
.apply_box .win_box_in input{color:#666; border: 1px solid #DDD; height: 30px; line-height: 30px; width: 60px; margin:0 5px; padding-left: 5px; }
.apply_box .win_box_in textarea{color:#666;font-size: 12px; width: 150px; height: 50px; border: 1px solid #DDD; resize:none; margin-left: 5px; padding-left: 5px;}
.apply_box .zb_box_form{padding:20px 30px; resize:none;}
.apply_box .win_box_in .input-error{padding-left: 60px;height: 20px; color: #DE4348; }

.apply_box .win_box_in button{float: right; background: none repeat scroll 0% 0% #DE4348; border: 1px solid #FF5868; width: 60px; height: 30px; color: #FFF;font-size: 14px; margin-top: 10px; margin-right: 5px; cursor: pointer;}
.apply_box .win_box_in .cancel{background: #888; border-color: #898989}


.order_box{ display: block; font-size: 14px; color: #666;}
.order_box .win_box_content {width: 600px; height: 560px; top:50%; overflow-y:auto;  margin-top: -280px; margin-left: -300px;}
.order_box .win_box_content .win_box_in{width: 600px; height: 560px; top:50%;  overflow-y:auto;  margin-top: -280px; margin-left: -300px;}
.order_box .zb_box_title .zb_box_info{text-align: left; padding-left: 10px;}
.order_box .zb_box_form{padding:5px 20px;}
.order_box .win_box_in .input{padding:2px 0;}
.order_box .win_box_in .input p{height: 100px; overflow-y:auto; line-height: 20px;}
.order_box .win_box_in .half{display: inline-block;display: inline\9;width: 49%;}
.order_box .win_box_in button{background: #888888; border: 1px solid #898989; width: 60px; height: 30px; color: #FFF;font-size: 14px;margin:0 auto; cursor: pointer;}
.order_box .win_box_in img{width: 80px; height: 40px; margin-right: 5px; display: inline-block; display: inline/0;}
.initiative_box .win_box_content{width: 400px; margin-left: -200px; }
.initiative_box .win_box_content .win_box_in{width: 400px;margin-left: -200px;}
.initiative_box .zb_box_form{padding: 10px 20px}
.initiative_box .win_box_content,.initiative_box .win_box_content .win_box_in{height: 620px; margin-top: -310px;}
.initiative_box .win_box_content .win_box_in{height: 580px;}
.initiative_box input{border: 1px solid #DDD; height: 30px; padding-left: 5px;color: #666; width: 252px;}
.initiative_box select{ height: 30px; width: 80px; border: 1px solid #ddd;color: #666;}
.initiative_box select option{padding-left: 5px;}
.initiative_box textarea{color: #666; padding-left: 5px; border: 1px solid #DDD; width: 250px; height: 100px; resize:none;}
.initiative_box .laydate-icon{width: 80px}
.initiative_box .win_box_in .label-control{width: 60px; display: inline-block;display: inline\9; text-align: right;}
.order_box .win_box_in .button{background: #DE4348; border: 1px solid #FF5868; width: 60px; height: 30px; color: #FFF;font-size: 14px;margin:0 auto; cursor: pointer;}


.ht-line{height: 2px; background: #EFEFEF; position: relative;}
.ht-line em{color: #F16262; position: absolute; left: 30px; top: -10px; font-size: 14px;background: #FFF; padding:0 10px;}
.ht-order-table{border: 1px solid #EFEFEF; width: 100%;margin: 20px 0; }
.ht-order-table th{background: #f5f5f5;color: #444; padding:10px 5px;}
.ht-order-table td.ht-table-bg{background: #f5f5f5; width: 100px; text-align: center;}
.ht-order-table td{text-align: left;  vertical-align: middle; color: #666;padding:10px 5px; font-size: 16px; border-bottom:1px solid #EFEFEF; }
.ht-order-table td em{color: #444;}
.ht-order-table td img{margin-left: 10px;}
.ht-order-review {padding:0; margin: 0; margin-top: 20px;}
.ht-order-review li{position: relative; padding:5px 0; height: 30px; line-height: 30px; display: none;}
.ht-order-review li:first-child{display: block;}
.ht-order-review li select{border: 1px solid #EFEFEF; height: 30px; color: #666; margin-right: 10px; }
.ht-order-review li select option{padding-left: 5px;}
.ht-order-review label{font-size: 14px; margin-right: 10px;}
.ht-order-review em{margin: 0 10px;}
.ht-order-review textarea{width: 100%; height: 150px; resize:none; border: 1px solid #EFEFEF; color: #666; padding-left: 5px;}
.ht-order-table img{width: 100px; height: 60px;}
.ht-order-groups button{display: inline;}
.ht-order-groups a{display: inline-block; border-width: 2px; border-color: #FF7105; background: #FF7105; }

.review-table td{font-size: 14px; text-align: center;}

.review-table .icon-trash:hover {text-decoration: none; color: #999;}

.ht-order-info{text-align: center;padding:10px; font-size: 18px; color: #CCC; font-weight: bold; font-family: Microsoft yahei;}