body {  font-family: Microsoft YaHei;}
.login_container{margin:0 auto; width:900px;margin-top: 50px;}
.login_info{padding-left:20px; font-size: 16px;margin-bottom: 20px;}
.login_info h3 {  font-size: 26px;  font-weight: 100;color:#000;}
.login_box,.login_mark{display: inline-block; float: left\0; *float: left; width: 300px\0; height: 300px\0; vertical-align: top;}
.login_mark{color: #999; width: 80px; *width: 70px; height: 300px; position: relative; font-size:30px;text-align: center;}
.login_mark em{position: absolute; display: block; top: 50%; left:50%; margin-left: -15px; margin-top: -15px;}
.login_box{border: 1px solid #DDD; border-radius: 5px; width: 300px;height:300px;}
.login_hd{padding:10px 20px; border-bottom: 1px dashed #DDD; }
.login_hd em{display:inline-block;width:auto; height:30px; vertical-align:top; line-height:30px; font-size:14px;}
.login_hd .login_icon_sina{display: inline-block; background: #E15050 url("/assets/common/pic/otherlogin.png") no-repeat scroll center -58px; border-radius: 5px; width: 30px; height: 30px; margin-right: 10px;}
.login_hd .login_icon_qq {display: inline-block; background: #3BC9F7  url("/assets/common/pic/otherlogin.png") no-repeat scroll center -8px; border-radius: 5px; width: 30px; height: 30px; margin-right: 10px;}
.login_content{padding:20px;text-align: center;}
.login_logo{text-align: center;}
.login_logo img{width: 100px; height: 100px;}
.login_nickname{text-align: center; margin-top: 20px; font-size: 16px; }
.login_box .input{position: relative; border: 1px solid #ddd; overflow: hidden;}
.login_box .input input{height: 40px; line-height: 40px\0;  *line-height: 40px; border: 0; width: 220px; padding-left: 40px;}
.login_box .input .user{background: transparent url("/assets/common/pic/loginboxbg.png") 5px -5px  no-repeat scroll; color: #666;}

.login_box .input .pwd{background: transparent url("/assets/common/pic/loginboxbg.png") 5px -55px  no-repeat scroll; color: #666;}
.login_box  .err-tips{height: 20px; line-height: 20px;}
.login_box  .button{margin:0 auto; height: 30px; text-align: center;background: #08BE77 none repeat scroll 0% 0%; width: 100%; border-radius: 3px; color: #FFF; font-family: microsoft yahei; font-size: 14px; cursor: pointer;}

.login_box .focus{border :1px solid #F25165;}

.ht-img{
    border-radius: 20px; overflow: hidden; display: inline-block; display: inline\0; vertical-align: top;
    text-align: center; margin-right: 80px; *float: left;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}

.ht-img:hover {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
}