<div class="win_box win_zxfb">
    <div class="win_box_bg">
    </div>
    <div class="win_box_content">
        <div class="win_box_in">
            <div class="win_smsmain">
                <h2>
                    发送到手机
                    <em class="win_zxfb_close pull-right">x</em>
                </h2>
                <h3 class="mt20">为了能给您提供更快速更高效的服务，我们会给您发送相关服务免费短信，请您在下面输入框内输入您的手机号。</h3>
                <ul>
                    <li class="mob"><strong>手机号码：</strong>
                        <input name="tel" class="type" type="text" placeholder="接收短信的手机号码">
                    </li>
                    <li>
                        <div class="tip"></div>
                    </li>
                </ul>
                <a class="botton" href="javascript:void(0)">提交</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("body").keypress(function(event) {
        if (event.key == "Esc" || event.key == "Escape") {
            $(".win_zxfb").remove();
        }
    });

    $(".win_zxfb .win_box_bg,.win_zxfb_close").click(function(event) {
        $(".win_zxfb").remove();
    });
</script>
