/*
* @Author: qz_dc
* @Date:   2018-07-12 16:45:05
* @Last Modified by:   qz_chk
* @Last Modified time: 2018-07-19 09:52:07
*/

.active {
    background:rgba(217, 237, 247, 1);
    color:#6a8dc9;
}
.menu {
    height: 60px;
    line-height: 50px;
    background: #fff;
    padding: 10px;
}
.zidong{
    text-align: center;
}
.msg {
    height: 40px;
    line-height: 40px;
    background: #fff;
}
.kaiguan {
    height: 40px;
    background: #fff;
}
.box {
    margin-top: 20px;
    margin-left: 20px;
    width: 98%;
}
.title {
    height: 40px;
    line-height: 40px;
    background: #fff;
}
.reply-box {
    border-bottom: 1px solid #ccc;
    height: 30px;
    margin-bottom: 20px;
}
.guanzhu-reply,.shoudao-reply,.guanjian-reply {
    padding-left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.current {
    color:#6a8dc9;
    border-bottom: 1px solid #6a8dc9;
}
.guanzhu-reply-box {
    display: block;

}
.shoudao-reply-box {
    display: none;
}
.guanjian-reply-box {
    display: none;
}
.text-area {
    height: 120px;
    border: 1px solid #ccc;
    width: 1000px;
    margin-bottom: 20px;
}
.b-d-r {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.b-d-r .baocun {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}
.b-d-r .shanchu,.b-d-r .back {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;

}
.b-d-r .chongzhi {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.img-search {
    height: 34px;
    line-height: 34px;
    text-indent: 1em;
    border: 1px solid #ccc;
    outline: none;
}
.modal-header {
    position: relative;
}
.modal-header .fa-search {
    position: absolute;
    left: 140px;
    top: 48px;
    color: #ccc;
    font-size: 18px;
}



.cur {
    color: #fff;
    background:rgba(0, 192, 239, 1);
}
.guanjian-reply-box .search {
    width: 260px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-right: 70%;
    position:relative;
}
.guanjian-reply-box .search input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 1em;
    outline: none;
}
.search .fa-search{
    position: absolute;
    left: 220px;
    top: 10px;
    font-size: 18px;
    color: #ccc;
}
.add-reply {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    color:#fff;
    background: rgba(0, 192, 239, 1);
    cursor: pointer;
    border-radius: 5px;
    float: right;
}
.guanjian-reply-box .search-list {
    background: rgba(246, 248, 249, 1);
    min-height: 200px;
    width: 93%;
    display: block;
}
.search-box {
    display: block;
    padding:5px;
    width: 93%;
}
.modal-content {
    margin-top: 20%;
}
.modal-footer {
    text-align: center;
}
table{
    width: 100%;
}
table th,td{
    text-align:center;
}
td .fa {
    font-size: 18px;
    cursor: pointer;
}
.fa-pencil-square-o {
    margin-right:50px;
}
.guize-name,.guanjianci {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.guize-name {
    margin-bottom: 30px;
}
.tishi {
    height: 30px;
    margin-bottom: 0;
    margin-left: 90px;
    font-size: 12px;
    color: #bbb;
}
.guize-name span,.guanjianci span {
    margin-left: 5px;
    margin-right: 20px;
}
.guize-name input,.guanjianci input {
    width: 650px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    text-indent: 1em;
}
.guanjianci span {
    margin-right: 35px
}
.huifu-neirong span {
    margin-left: 5px;
    margin-right: 20px;
}
.huifu-neirong .fa-pencil-square-o,.fa-trash {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.star {
    color: #ff5353;
}
.edit-list {
    display: none;
}

.edit-na {
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
}
.edit-nr-input {
    width: 500px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    text-indent: 1em;
    margin-right: 10px;
}
.edit-del {
    float: left;
    line-height: 30px;
}
.edit-nr {
    float: left;
    margin-right: 10px;
}
.line {
    border-top: 1px solid #ccc;
    margin-left: 90px;
    margin-top: 10px;
    width: 650px;
    margin-bottom: 10px;
}
.line span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 27px;
    margin-top: 10px;
}
.guanjianci-again {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}
.again-g {
    float: left;
}
.guanjianci-again span {
    margin-left: 5px;
    margin-right: 30px;
}
.edit-div {
    margin-bottom: 10px;
}
.edit-div span {
    margin-right: 10px;
}
.textaea {
    margin-left: 80px;
}
.quanbu input,.yitiao input {
    cursor: pointer;
}
.fa-text-width{margin-left: 10px; margin-right: 10px;}
.edit-type-tab{border-bottom: 1px solid #ccc;}
.full-text-box{border:1px solid #D2D6DE; height: 342px; background: #fff; overflow-y:auto;}
.text-type{display: inline-block; width:100px;text-align: center; height:40px; line-height: 40px;cursor: pointer;}
.text-type-content{margin:0px 15px;}
.textarea{padding-left:5px;}
.textarea,.tuwen,.img{width:100%; height: 234px;display: none;margin-top: 10px;}
.tuwen{position: relative;}
.add-tuwen,.add-img{width:138px;text-align: center; color:#999; height: 128px; background: #F6F8F9; position: absolute; margin:auto; left:0px; top:0px; right:0px;bottom:0px;}
.file-box{width:40px; height: 40px; margin:25px auto 10px;background: url(../img/edit-icon.png) no-repeat 0px -40px;}
.hideNone{display: none;}
.showBlock{display: block;}
.order-sort-box{width:335px; text-align: center;}
.detail-operation-box{width: 802px; text-align: center;}
.button{padding:8px 10px; outline: none;background: none; border:1px solid #E1E1E1;  cursor: pointer; border-radius: 5px; color:#666;}
.has-children{padding:8px 22px; color:#999; font-size: 14px;}
#mask{width:100%; height: 100%; background:rgba(0,0,0,0.5); position: fixed; left:0px; top:0px; display: none;}
.select-sucai-box{width:567px; height: 463px; border-radius: 8px; background:#fff; margin:auto; left:0px;top:0px; bottom:0px; right:0px; padding:15px; position: fixed;display: none; }
.select-box-header{overflow: hidden;}
.select-search-box{margin:10px 0px;}
.select-search-box .fa-search{margin-left: -24px;color: #ccc;font-size: 18px;}
input[name=search-sucai]{width:160px; height: 28px; border:1px solid #CCCCCC; border-radius: 8px; outline: none;padding-left: 1em;}
.sucai-content{height: 300px; overflow-y: auto;}
.sucai-item{width:260px; float: left; height: auto;}
.sucai-itme-mask{width:100%; height: 100%; position: absolute; background:rgba(0,0,0,0.5); left:0px; top:0px; text-align:center; color:#fff; display: table; vertical-align: middle;}
.center-i{width:50px; height: 50px; position: absolute; left:0px; right:0px; bottom:0px; top:0px; margin:auto; }
.sucai-itme-mask i{ font-size: 40px; }

.sucai-item .sc-detail{width: 240px; border:1px solid #CCCCCC; margin:10px auto; position: relative}
.sucai-item .sc-detail img {width: 100%;display: inline-block;}
.sucai-bottom{text-align:center; }
.sucai-bottom button{margin:20px 15px;}
.confirm-box{width: 280px; height:150px; position: fixed; left:0px; top:0px; bottom:0px; right:0px; border:1px solid #CCCCCC; text-align:center; padding:20px; margin:auto;display: none; background:#fff;}
.confirm-box p{font-size:15px; line-height:28px}
.confirm-table{width:100%; height: 50px;}
.text-active{color:#6a8dc9!important;}


/*上传图片样式*/
.file-input {
    width: 100%;
}
.file-preview  {
    padding: 0;
}
.file-drop-zone {
    padding: 0;
    margin: 0;
    border:none;
    height:auto;
}
.krajee-default.file-preview-frame .kv-file-content {
    width: 170px;
}
.krajee-default.file-preview-frame {
    padding: 0;
}
.file-preview .fileinput-remove {
    display: none;
}
.file-preview-image{
    width: 100%!important;
}
.krajee-default .file-caption-info{
    height: 18px;
}
.file-upload-indicator{
    display: none;
}


#facebox {
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
}

.word {
    position: absolute;
    bottom: 6px;
    left: 350px;
    color: #bbb;
}
.box1 {
    position: relative;
}
.delete {
    width: 400px;
    background: #fff;
    position: absolute;
    top: 200px;
    left: 500px;
    border: 1px solid #ccc;
    height: 150px;
    display: none;
}
.delete p {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
}
.delete .d-btn button {
    width: 90px;
    height: 30px;
    margin-right: 50px;
    border: none;
    background: rgba(60, 141, 188, 1);
    color: #fff;
    margin-left: 50px;
}
.delete .d-btn .d-qx {
    background: #fff;
    border: 1px solid rgba(60, 141, 188, 1);
    color: rgba(60, 141, 188, 1);
}

div.dataTables_filter{text-align: left !important;}
.dataTables_filter{padding:5px;}
.dataTables_filter input[type=search]{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 1em;
    outline: none;
    width: 260px;
    height: 40px;
}

