/**{padding: 0;font-size: 14px;font-family: "微软雅黑";box-sizing: border-box;}	*/
body{color: #333;}
.content ul{padding: 0;}
.content ul.ms-optgroup li.ms-elem-selectable{list-style: none;text-align: left;cursor: pointer;padding-left: 20px;}
.wrap{}
.bsf_left{width: 227px;height:387px;border: 1px solid #c9c9c9;float: left;padding-top: 16px;box-sizing: border-box;display: inline-block;margin-right: 30px;}
.bsf_right{width: 1027px; box-sizing: border-box;margin-left:260px;}
.bsf_right .rt_top{width: 100%; border: 1px solid #c9c9c9;}
.bsf_right .rt_bottom{width: 100%;height: 184px;border: 1px solid #c9c9c9;margin-top: 20px;}
.jiaod{font-size: 18px;color: #000;font-weight: bolder;}
input[type="checkbox"]{vertical-align: middle;margin-right: 10px;cursor: pointer;position: relative;top: -2px;}
.active{color: #fff;background: #169bd5;}
.anniu{width: 100%;height: auto;clear: both;margin-top: 20px;}
.anniu button{width: 103px;height: 32px;line-height: 32px;border: 0;background: #169bd5;color: #fff;border-radius: 5px;
float: left;outline: none;}
.anniu .btnan1{width: 103px;height: 32px;line-height: 32px;border: 0;background: #169bd5;color: #fff;border-radius: 5px;
float: left;outline: none;text-align: center;cursor: pointer;}
.anniu .btnan1{margin-right: 155px;}
.modal-dialog{margin-top: 90px !important;width: 816px !important;height: 654px !important;}
.modal-content{height: 100%;position: relative;}
.modal-title span{display: inline-block;padding: 2px;}
.modal-title .xinadd{margin-left: 60px;}
.modal-content table .delsc{color:red;margin-right: 30px;display: inline-block;cursor: pointer;}
.modal-content table .lwtis{color:red;margin-right: 30px;display: inline-block;cursor: pointer;}
.modal-content table .edibj{color:#50a1d6;display: inline-block;cursor: pointer;}
.modal-content .tanchuan2{width: 526px;height:300px;border: 1px solid #bcbcbc;position: absolute;z-index: 999;
display: inline-block;margin:auto;left: 0;top: 0;right: 0;bottom: 0;
-webkit-box-shadow:0 0 10px rgba(66, 65, 65, .5);
-moz-box-shadow:0 0 10px rgba(66, 65, 65, .5);
box-shadow:0 0 10px rgba(66, 65, 65, .5);background: #fff; display: none;}
.modal-content .tanchuan2 h4{text-align: center;font-size: 16px;}
.tanchuan2 .form-horizontal{margin-top: 40px;}
.tanchuan2 .zuopian{margin-left: 15px;}
.tanchuan2 .aniubq{float: right !important;text-align: right;}
.tanchuan2 .quxiao{margin-right: 78px;margin-left: 26px;}
.modal-content .tanchuan3{width: 526px;height:300px;border: 1px solid #bcbcbc;position: absolute;z-index: 999;
display: inline-block;margin:auto;left: 0;top: 0;right: 0;bottom: 0;
-webkit-box-shadow:0 0 10px rgba(66, 65, 65, .5);
-moz-box-shadow:0 0 10px rgba(66, 65, 65, .5);
box-shadow:0 0 10px rgba(66, 65, 65, .5);background: #fff; display: none;}
.modal-content .tanchuan3 h4{text-align: center;font-size: 16px;}
.tanchuan3 .form-horizontal{margin-top: 40px;}
.tanchuan3 .zuopian{margin-left: 15px;}
.tanchuan3 .aniubq{float: right !important;text-align: right;}
.tanchuan3 .quxiao{margin-right: 78px;margin-left: 26px;}
.dellts{width: 440px;height: 210px;margin:auto;position: absolute;top: 0;right: 0;bottom: 0;left: 0;border: 1px solid #bcbcbc;
z-index: 999;
display: inline-block;margin:auto;left: 0;top: 0;right: 0;bottom: 0;
-webkit-box-shadow:0 0 10px rgba(66, 65, 65, .5);
-moz-box-shadow:0 0 10px rgba(66, 65, 65, .5);
box-shadow:0 0 10px rgba(66, 65, 65, .5);background: #fff;display: none;}
.dellts .tbhead{height: 30px;line-height: 30px;margin-top: 10px;}
.dellts .tbhead .shancts{float: left;margin-left: 20px;font-size: 18px;font-weight: border;color: #333;}
.dellts .tbhead .guanbix{float: right;margin-right: 20px;width: 35px;height: 30px;text-align: center;cursor: pointer;
font-size: 18px;font-weight: border;color: #999;}
.dellts .tishineir{width: 90%;margin-left:5%;display: inline-block;margin-top: 30px;}
.dellts .aniubq{text-align: right;margin-top: 15px;}
.dellts .aniubq .quxiao{margin-right: 20px;margin-left: 26px;}
.dellts2{width: 440px;height: 210px;margin:auto;position: absolute;top: 0;right: 0;bottom: 0;left: 0;border: 1px solid #bcbcbc;
z-index: 999;
display: inline-block;margin:auto;left: 0;top: 0;right: 0;bottom: 0;
-webkit-box-shadow:0 0 10px rgba(66, 65, 65, .5);
-moz-box-shadow:0 0 10px rgba(66, 65, 65, .5);
box-shadow:0 0 10px rgba(66, 65, 65, .5);background: #fff;display: none;}
.dellts2 .tbhead{height: 30px;line-height: 30px;margin-top: 10px;}
.dellts2 .tbhead .shancts{float: left;margin-left: 20px;font-size: 18px;font-weight: border;color: #333;}
.dellts2 .tbhead .guanbix{float: right;margin-right: 20px;width: 35px;height: 30px;text-align: center;cursor: pointer;
font-size: 18px;font-weight: border;color: #999;}
.dellts2 .tishineir{width: 90%;margin-left:5%;display: inline-block;margin-top: 30px;}
.dellts2 .aniubq{text-align: right;margin-top: 15px;}
.dellts2 .aniubq .quxiao{margin-right: 20px;margin-left: 26px;}

.ms-container .ms-list{height: 500px !important;}
.ms-selected{display: block;}