<div class="col-xs-8">
    <div class="oflow">
        <div class="oflow">
        <p class="pull-left">{$info.case.title}：<a href="http://{$info.case.bm}.{:C('QZ_YUMING')}/caseinfo/{$info.case.id}.shtml" target="_blank">{$info.case.id}</a></p>
        <p class="pull-right"><span>审核状态：</span><span id="imgStatus"></span></p>
        </div>
        <div class="oflow"><p class="pull-left"><span>装修公司：</span>{$info.case.qc} ({$info.case.uid})</p><p class="pull-right"><span>会员类型：</span>
        <if condition="$info['case']['on'] EQ '-1' ">过期会员</if>
        <if condition="$info['case']['on'] EQ '0' ">注册用户</if>
        <if condition="$info['case']['on'] EQ '1' ">认证状态</if>
        <if condition="$info['case']['on'] EQ '2' ">正常会员</if>
        <if condition="$info['case']['on'] EQ '-3' ">预约会员</if>
        <if condition="$info['case']['on'] EQ '-4' ">暂停会员</if>
        </p></div>
    </div>
    <!-- 轮播图片 -->
    <div class="oflow slide-box">
        <div class="col-xs-1 left-bar" id="left-bar"><i class="fa fa-chevron-left"></i></div>
        <div class="col-xs-10 no-padding slide-item">
            <img id="slide-img" index-count="0" src="<if condition="$info['case']['img_host'] EQ 'qiniu'">http://{:C('QINIU_DOMAIN')}/{$info.case.img_path}-s3.jpg<else/>http://{:C('STATIC_HOST1')}{$info.case.img_path}m_{$info.case.img}</if>">
        </div>
        <div class="col-xs-1 right-bar" id="right-bar"><i class="fa fa-chevron-right"></i></div>
    </div>
    <div class="oflow single-img-info">
        <div class="col-xs-4 no-padding"><span>设计师：</span><span>{$info.case.designer} ({$info.case.userid})</span></div>
        <div class="col-xs-4 no-padding"><span>城市：</span><span>{$info.case.cname}</span></div>
        <div class="col-xs-4 no-padding"><span>发布时间：</span><span>{$info.case.time|date="Y-m-d H:i:s",###}</span></div>
    </div>
</div>

<div class="col-xs-4">
    <div class="col-xs-12 sel-danger-info no-padding">
        <div class="col-xs-12">
            <div id="reviewBox">
                <volist name="reson_list" id="vo">
                <p><label><input type="checkbox" name="review" class="{$vo.class}" value="{$key}">{$vo.content}</label></p>
                </volist>
                <p><textarea class="form-control other-info" id="otherReason" placeholder=""></textarea></p>
            </div>
            <span id="deleteImgBtn" style="display:none"><button class="btn btn-danger" id="deleteImg">删除</button></span>
            <span id="passImgBtn" style="display:none"><button class="btn btn-success" id="passImg">审核通过</button></span>
            <button class="btn btn-success" id="skipImg">跳过</button>
        </div>
        <div class="col-xs-6">
            <div id="appealBox" style="display:none">
            <p><span>申诉时间：</span><span class="time"></span></p>
            <p>申诉内容：</p>
            <textarea name="appeal" class="form-control contents appeal" disabled="true" placeholder=""></textarea>
            </div>
        </div>
    </div>
    <div class="tuji-box col-xs-12 no-padding">
        <div class="oflow">
            <div class="tuji-header">
                <div class="tuji-title">
                    <span class="tuji-name">{$info.case.title} 图集</span>
                    <i id="prev-tuji" class="fa fa-chevron-circle-left"></i>
                    <i id="next-tuji" class="fa fa-chevron-circle-right"></i>
                </div>
                <div class="score-star">
                    <p class="star-list">
                        <span class="star-item" index-num="1"><i class="fa fa-star-o"></i></span>
                        <span class="star-item" index-num="2"><i class="fa fa-star-o"></i></span>
                    </p>
                    <p class="star-list">
                        <span class="star-item" index-num="3"><i class="fa fa-star-o"></i></span>
                        <span class="star-item" index-num="4"><i class="fa fa-star-o"></i></span>
                    </p>
                    <p class="star-list">
                        <span class="star-item" index-num="5"><i class="fa fa-star-o"></i></span>
                        <span class="star-item" index-num="6"><i class="fa fa-star-o"></i></span>
                    </p>
                    <p class="star-list">
                        <span class="star-item" index-num="7"><i class="fa fa-star-o"></i></span>
                        <span class="star-item" index-num="8"><i class="fa fa-star-o"></i></span>
                    </p>
                    <p class="star-list">
                        <span class="star-item" index-num="9"><i class="fa fa-star-o"></i></span>
                        <span class="star-item" index-num="10"><i class="fa fa-star-o"></i></span>
                    </p>
                </div>
            </div>
            <!-- 状态：1未审核 2已审核 3审核不通过 4申诉中 -->
            <button id="deleteTuji"
            <if condition="$info['caseInfo']['on'] EQ '1' ">
            class="btn btn-danger btn-sm pull-right btn-audit" data-id="3">审核不通过</button>
            <elseif condition="$info['caseInfo']['on'] EQ '2' "/>
            class="btn btn-success btn-sm pull-right btn-audit" data-id="2">审核通过</button>
            </if>
        </div>
        <div class="oflow tuji-list">
            <volist name="info.caseList" id="v">
            <div class="col-xs-4 img-sm-item" index-count="{$i}">
                <if condition="$v['img_host'] EQ 'qiniu'">
                <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}-s3.jpg" data-id="{$v.imgid}" status="{$v.img_status}">
                <else/>
                <img src="http://{:C('STATIC_HOST1')}{$v.img_path}m_{$v.img}" data-id="{$v.imgid}" status="{$v.img_status}">
                </if>
            </div>
            </volist>
        </div>
        <input name="previd" id="previd" value="{$info.caseNav.next}" type="hidden" >
        <input name="nextid" id="nextid" value="{$info.caseNav.prev}" type="hidden" >
        <input name="caseid" id="caseid" value="{$info.case.id}" type="hidden" >
        <input name="grade" id="grade" value="{$info.caseInfo.grade}" type="hidden" >
    </div>
</div>