<div class="col-xs-8">
    <!-- 轮播图片 -->
    <div class="oflow slide-box">
        <div class="col-xs-1 left-bar" id="left-bar"><i class="fa fa-chevron-left"></i></div>
        <div class="col-xs-10 no-padding slide-item">
            <if condition="$info['case']['img_host'] EQ 'qiniu'">
                <img id="slide-img" index-count="0" src="http://{:C('QINIU_DOMAIN')}/{$info.case.img_path}-s3.jpg">
                <else/>
                <img id="slide-img" index-count="0" src="http://{:C('STATIC_HOST1')}{$info.case.img_path}m_{$info.case.img}">
            </if>
        </div>
        <div class="col-xs-1 right-bar" id="right-bar"><i class="fa fa-chevron-right"></i></div>
    </div>

</div>

<div class="col-xs-4">

    <div class="col-xs-12 threexinxi sel-danger-info no-padding">
        <div class="col-xs-6">
            <div id="threeinfo">
                <p><span>标题名称：</span><span>{$info.case.title}</span></p>
                <p><span>效果图ID：</span><span>{$info.case.id}</span></p>
                <p><span>装修公司：</span><span>{$info.case.qc}({$info.case.uid})</span></p>
                <p><span>设计师：</span><span>{$info.case.designer}（{$info.case.userid}）</span></p>
                <p><span>城市：</span><span>{$info.case.cname}</span></p>
                <p><span>发布时间：</span><span>{$info.case.time|date="Y-m-d H:i",###}</span></p>
                <p>
                    <span>审核状态：</span>
                    <if condition="$info['caseInfo']['status'] eq 1">
                        <span>待审核</span>
                    <elseif condition="$info['caseInfo']['status'] eq 2"/>
                        <span>已通过</span>
                    <else/>
                        <span>不通过</span>
                    </if>
                </p>
            </div>
        </div>

    </div>

    <div class="col-xs-12 sel-danger-info no-padding">
        <div class="col-xs-6">
            <div id="reviewBox">
                <p><label><input type="checkbox" name="review" class="has-ad" value="1">含有广告</label></p>
                <p><label><input type="checkbox" name="review" class="has-contact" value="2">含有联系方式</label></p>
                <p><label><input type="checkbox" name="review" class="has-logo" value="3">禁用的LOGO，水印</label></p>
                <p><label><input type="checkbox" name="review" class="has-yellow" value="4">涉黄</label></p>
                <p><label><input type="checkbox" name="review" class="has-strong" value="5">涉暴</label></p>
                <p><label><input type="checkbox" name="review" class="has-country" value="6">涉及国家机关或领导人</label></p>
                <p><label><input type="checkbox" name="review" class="other-input" value="7">其他原因</label></p>
                <p><textarea class="form-control other-info" id="otherReason"></textarea></p>
            </div>

        </div>
        <div class="col-xs-6">
            <div id="appealBox" style="display:none">
            <p><span>申诉时间：</span><span class="time"></span></p>
            <p>申诉内容：</p>
            <textarea name="appeal" class="form-control contents appeal" disabled="true"></textarea>
            </div>
        </div>
    </div>
    <div class="tuji-box col-xs-12 no-padding">
        <div class="oflow">
            <if condition="$info['caseInfo']['status'] NEQ '3'">
                <button id="deleteTuji" class="btn btn-danger btn-sm pull-left btn-audit" data-id="3">不通过</button>
            </if>
        </div>
        <div class="oflow tuji-list">
            <volist name="info.caseList" id="v">
            <div class="col-xs-4 img-sm-item" index-count="{$i}">
                <if condition="$v['img_host'] EQ 'qiniu'">
                    <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}-s3.jpg" data-id="{$v.imgid}" status="{$v.img_status}">
                    <else/>
                    <img src="http://{:C('STATIC_HOST1')}{$v.img_path}m_{$v.img}" data-id="{$v.imgid}" status="{$v.img_status}">
                </if>
            </div>
            </volist>
        </div>
        <input name="previd" id="previd" value="{$info.caseNav.next}" type="hidden" >
        <input name="nextid" id="nextid" value="{$info.caseNav.prev}" type="hidden" >
        <input name="caseid" id="caseid" value="{$info.case.id}" type="hidden" >
        <input name="casesstatus" id="casesstatus" value="{$info.caseInfo.status}" type="hidden">
        <input name="grade" id="grade" value="{$info.caseInfo.grade}" type="hidden" >
    </div>
</div>