


/*活动管理*/

.c-event-tit{ height:40px; line-height:40px; background:#f7f7f7}
.c-event-tit li{ float:left; width:25%; font-weight:700; text-align:center}
.c-event-info li:hover{ background:#fffff1}
.c-event-info li>*{ float:left; width:25%; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.c-event-info li{ line-height:50px; height:50px; border-bottom:1px dotted #f1f1f1}
.c-event-info li .c-timer{ color:#aaa}
.c-event-info li .c-event-op{ color:#999}
.c-event-info li .c-event-op .btn-cannl{ border-radius:2px; border:1px solid #ff5659; padding:3px 10px; background:#fff; color:#ff5659; cursor:pointer; width:6em;}
.c-event-info li .c-event-op .btn-done{width:6em; border-radius:2px; padding:3px 10px; background:#25D4B1; color:#fff;cursor:pointer; text-align:center; border:1px solid #25D4c1}
.c-event-info li .c-event-op button:hover{ opacity:0.8;}
.c-event-info li .c-event-op .btn-tab{width:6em; border-radius:2px; padding:3px 10px; background:#fff; color:#3B9FE8;cursor:pointer; text-align:center; border:1px solid #3B9FE8}

.c-event-list{height:30px; line-height:28px;margin-bottom:10px}
.c-event-list li { float:left; border:1px solid #eee; border-radius:2px; margin-right:10px; }
.c-event-list li a{ color:#aaa; display:block; padding:0 10px;}
.c-event-list li a:hover{ text-decoration:none}
.c-event-list li.active{ border:1px solid #ff5659}
.c-event-list li.active a{ color:#ff5659}

/*开关*/
.c-switch{ width:44px; background:#eee; border-radius:50px; height:24px; border:1px solid #ccc; position:relative; transition:all 0.2s; float:left;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-webkit-user-select: none}
.c-switch-on{ background: #00C798; border:1px solid #00B5C4;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
}
.c-switch-text{ float:left; font-size:12px; line-height:26px; margin-left:10px; color:#666; font-weight:700}
.c-switch .c-switch-check{ border-radius:50px; height:26px; width:26px; border:1px solid #ccc; box-sizing:border-box; background:#fff; box-shadow:0 0 3px rgba(0,0,0,.1);position:absolute; top:-1px; left:-1px;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
}
.c-switch .c-switch-check:after{ content:""; display:block; width:4px; border-radius:2px; height:10px; margin:7px auto; background:#ff5659}
.c-switch-on .c-switch-check:after{ content:"";background:#f1f1f1}
.c-switch-on .c-switch-check{ left:20px !important;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
}
.switch-on{ right:3px; left:none}
.c-switch-box{ overflow:hidden; display:inline-block;cursor:pointer;}
.c-switch-box::-moz-selection{ background: none; text-shadow: none; }
.c-switch-box::selection { background:none;text-shadow: none; }


.c-event-tit-self{ height:40px; line-height:40px; background:#f7f7f7}
.c-event-tit-self li{ float:left; width:20%; font-weight:700; text-align:center}
.c-event-info-self li{ line-height:50px; height:50px; border-bottom:1px dotted #f1f1f1}
.c-event-info-self li>*{ float:left; width:20%; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height:50px}

/* .c-event-info-self li .c-timer{ color:#aaa} */
.c-event-info-self li .c-event-op .c-switch-box{ color:#999; padding-top:12px}
/* .c-event-info-self li .c-event-op { color:#aaa} */
.c-event-info-self li .c-event-edit a{ font-size:18px; color:#999}
.c-event-info-self li .c-event-edit a:hover{ text-decoration:none; color:#ff5659}
.c-event-info-self li .c-event-edit i{ margin:0 5px}

.c-event-info-self li:hover{ background:#fffff1}
.c-event-sefl{ height:30px; line-height:30px; padding:10px; border:1px solid #f7f7f7; margin-bottom:10px}
.c-event-sefl-sel{ border:1px solid #ddd; height:28px; line-height:28px; display:block; float:left}
.c-event-sefl-new{ height:28px; border:1px solid #F42A2E; padding:0 10px; background:#ff5659; color:#fff; float:right}
.c-event-sefl-new:hover{ background:#5cca78;border:1px solid #38b47e; color:#fff; text-decoration:none; box-shadow:0px 0px 5px #5cca78}


/**/
.sale-change{ margin-top:50px}
.sale-change dt,.sale-change dd{ line-height:30px; margin-bottom:20px; position:relative;padding-left:90px}
.sale-change dt input[type=text]{ height:28px; width:360px; border:1px solid #ccc; }
.sale-change span{ font-weight:bold; position:absolute; font-size:14px; left:0; top:0; display:block;width:90px}
.sale-change ul{ display:inline-block}


/**/
.c-cont-box h1{ text-align:center; font-size:24px; font-weight:100}
.c-cont-box .c-cont-date{ text-align:right; color:#aaa}
.c-cont-box .c-cont-main{ font-size:14px; padding:20px 0; line-height:25px}
.c-cont-box .c-cont-time{ font-size:14px; border:1px dashed #FFCCCC; padding:20px; line-height:30px; background:#fffff1; color:#ff5659;font-weight:700}
.c-cont-box .c-cont-bottom{ text-align:center; margin-top:20px}
.c-cont-box .c-cont-bottom button{ height:40px; border:1px solid #F42A2E; background:#ff5659; color:#fff; font-size:14px; display:block; margin:0 auto; width:120px; font-weight:700; border-radius:2px; cursor:pointer}
.c-cont-box .c-cont-bottom button.c-cont-btn-done{background:#5cca78;border:1px solid #38b47e; color:#fff; text-decoration:none; }
.c-cont-box .c-cont-bottom button:hover{ background:#5cca78;border:1px solid #38b47e; color:#fff; text-decoration:none; box-shadow:0px 0px 5px #5cca78}
.c-cont-box .c-cont-bottom p{ color:#ff5659}


.sale-change dt input[type=text].focus, .laydate-icon.focus, .sale-change dt textarea.focus {
    border: 1px solid #F15858;
}

.over{color:#aaa}