<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <block name="title"><title>齐装网管理后台-控制台</title></block>
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/bootstrap/css/bootstrap.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/AdminLTE.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/skins/skin-blue.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
    <block name="style"></block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>&nbsp;</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>齐装网站管理系统</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="{:C('UC_URL')}/basic" target="_blank">
                                <img src="{$Think.session.uc_userinfo.logo|default='/assets/common/img/default_logo.gif'}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{:session('uc_userinfo.name')}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:C('UC_URL')}/loginout" title="退出"><i class="fa fa-sign-out fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="http://168.qizuang.com/wwgadmins/chklogin" target="_blank" title="切换老版后台(168)">
                                <i class="fa fa-home fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <block name="nav-left-menu">
        <aside class="main-sidebar">
            <section class="sidebar">
                <a href="{:C('UC_URL')}/main/">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{$Think.session.uc_userinfo.logo|default='/assets/common/img/default_logo.gif'}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{:session('uc_userinfo.name')}</p>
                            <i class="fa fa-circle text-success"></i>{:session('uc_userinfo.role_name')}
                        </div>
                    </div>
                </a>
                <ul class="sidebar-menu">
                    <li class="header">当前日期: {:date('Y-m-d')}</li>
                    <volist name="base_tree_menu" id="vo">
                    <if condition="$vo['active'] EQ 1">
                    <li class="treeview active" id="sidebar-li-1">
                    <else/>
                    <li class="treeview" id="sidebar-li-1">
                    </if>
                        <a href="javascript:void(0)">
                            <i class="{$vo.icon|default='fa fa-home'}"></i>
                            <span>{$vo.name}</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <if condition="count($vo['child']) GT 0">
                            <ul class="treeview-menu">
                            <volist name="vo.child" id="v">
                                <if condition="$v['active'] EQ 1">
                                <li class="active">
                                <else/>
                                <li>
                                </if>
                                    <a href="{$v.link}">
                                    <i class="{$v.icon|default='fa fa-circle-o'}"></i> {$v.name}
                                    &nbsp;&nbsp;&nbsp;
                                    <if condition="$v['auditCount']">
                                        <span class="label label-warning">{$v.auditCount}</span>
                                    </if>
                                    </a>
                                </li>
                            </volist>
                            </ul>
                        </if>
                    </li>
                    </volist>
                </ul>
            </section>
        </aside>
        </block>
        <div class="content-wrapper">
            <block name="content"></block>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="/assets/common/js/html5shiv/3.7.3/html5shiv.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/respond.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/placeholders.min.js?v={:C('STATIC_VERSION')}"></script>
    <![endif]-->
    <block name="script"></block>
</body>
</html>