<extend name="Main:baseTemplate" />
<block name="title">
    <title>区域城市管理 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/plugins/listnav/listnav.css?v={:C('STATIC_VERSION')}" />
</block>

<block name="content">
    <section class="content-header">
        <h1>区域城市管理</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li class="active"><a href="/city/index">区域城市管理</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
            <div class="box">
                <div class="box-body act-box">
                <form id="searchform" action="" method="get">
                    <div class="col-sm-12"  style="margin-top:10px">
            <a href="/city/addquyu" class="btn btn-success button"><i class="fa fa-plus-circle"></i> 增加分站城市</a>&nbsp;
        <a href="javascript:;" id="updateCityCache" class="btn btn-default button"><i class="fa fa-refresh"></i> 更新前台城市缓存</a>

                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools"></div>
                </div>
                <div class="box-body table-responsive no-padding">

                <ul id="demoSix" class="areaList" style="padding: 0px;padding-left:10px">
                    <volist name="quyuList" id="v">
                    <li>
                        <h2><a href="/city/quyu?id={$v.cid}">{$v.cname}</a></h2>
                        <p class="last-name">
                            <a href="http://{$v.bm}.{:C('QZ_YUMING')}" target="_blank">{$v.bm}</a>
                        </p>
                        <p>{$v.qz_province}
                        <if condition="$v['little'] eq 0 ">&nbsp;<i class="fa fa-star"></i></if>
                        </p>
                    </li>
                    </volist>
                </ul>

                </div>
                <div class="box-footer clearfix" style="border-top:none">&nbsp;</div>

              </div>
            </div>
          </div>
    </section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding:11%;">
        <div class="modal-dialog " style="width:1235px;height:425px">
            <div class="modal-content">
                <div class="modal-body"><img src="" id="Preview" width="1205" height="405"></div>
            </div>
        </div>
    </div>
</block>
<block name="script">

<script charset="utf-8" src="{:C('168NEW_URL')}/assets/common/plugins/listnav/listnav.js?v={:C('STATIC_VERSION')}"></script>


<script type="text/javascript">
$('#demoSix').listnav({
    filterSelector: '.last-name',
    includeNums: true,
    removeDisabled: true,
    includeOther: true,
    //initLetter: 'a',
    allText: '全部'
});

$('#updateCityCache').click(function(){
    if(confirm("您确定要更新前台缓存吗？不要随意操作！")){
        location.href="/city/updatecitycache";
    }
})
</script>
</block>