<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/colorpicker/spectrum.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header">
            <h1>增加分站城市</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
                <li class="active"><a href="/city/index">区域城市管理</a></li>
            </ol>
        </section>
        <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <form id="form1" action="" method="POST">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-body">
                        <h4 style="margin:0;">{$quyuInfo.cname}
                        <if condition="$quyuInfo.little eq 0 ">&nbsp;<i title="地级城市" class="fa fa-star"></i></if>&nbsp;
                        </h4>

                        <p><h5><a target="_blank" style="border-bottom:1px #666 solid;color:#333" href="http://{$quyuInfo.bm}.{:C('QZ_YUMING')}/">{$quyuInfo.bm}.qizuang.com&nbsp;<i style="font-size:12px;color:#666"  class="fa fa-external-link"></i></a> ，区划代码：{$quyuInfo.cid} ，下辖区域：{$quyuInfo.count}</h5>
                        </p>
                        <a href="/city/editquyu?id={$quyuInfo.cid}" class="btn btn-default "><i class="fa fa-pencil"></i> 编辑此城市</a>&nbsp;
                        <a href="javascript:;" class="btn btn-default button"><i class="fa fa-magnet"></i> 设置相邻城市</a>

                        <ul id="demoSix" class="areaList" style="padding: 0px;">
                            <volist name="areaList" id="v">
                            <li>
                                <h2><a href="/city/area?id={$v.qz_areaid}">{$v.qz_area}</a></h2>
                                <p><span>排序：</span>{$v.orders}</p>
                            </li>
                            </volist>
                        </ul>
                    </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <form id="form1" action="" method="POST">
                    <div class="box-body">
                            <div class="form-group">
                                <label for="title"><h4 style="margin:0;">批量添加辖区</h4></label>
                                <div class="row">
                                    <div class="col-xs-4">
                                    <textarea name="qz_area_all" id="qz_area_all" placeholder="多个区域可用逗号，顿号、和空格分割" style="height:80px;width:600px;" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="areaListBox">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-3">
                                    <input name="qz_area[]" type="text" placeholder="区域名" value="" style="width:250px;" class="form-control">
                                    </div>
                                </div>
                            </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a href="javascript:;" id="createArea" class="btn btn-info button" style="width:250px;"><i class="fa fa-angle-double-down"></i> 更多</a>
                                    </div>
                                </div>
                            </div>


                    </div>
                <div class="box-footer">
                    <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;保存</button>
                    <button type="button" class="btn btn-default" onclick="history.back(-1)"><i class="fa fa-mail-reply"></i>&nbsp;返回</button>
                </div>
                </form>
            </div>
        </div>
        </div>


        </section>
</block>
<block name="script">
<script type="text/javascript">
$(document).ready(function(){

    $("#cname").blur(function(){
        var cname = $("#cname").val();
        if(cname == ''){
            return false;
        }
        $.ajax({
            url: '/city/ishavecname',
            type: 'GET',
            dataType: 'JSON',
            data: {
                cname : $("#cname").val()
            },
        })
        .done(function(data) {
            if(data.status == 1){
                alert('此城市分站已存在');
            }
        }).fail(function(xhr){
            alert(xhr.responseText);
        });
    });

    $("#cid").blur(function(){
        var cid = $("#cid").val();
        if(cid == ''){
            return false;
        }
        $.ajax({
            url: '/city/ishavecid',
            type: 'GET',
            dataType: 'JSON',
            data: {
                cid : $("#cid").val()
            },
        })
        .done(function(data) {
            if(data.status == 1){
                alert('区划代码已存在');
            }
        }).fail(function(xhr){
            alert(xhr.responseText);
        });
    });

    $("#bm").blur(function(){
        var bm = $("#bm").val();
        if(bm == ''){
            return false;
        }
        $.ajax({
            url: '/city/ishavebm',
            type: 'GET',
            dataType: 'JSON',
            data: {
                bm : $("#bm").val()
            },
        })
        .done(function(data) {
            if(data.status == 1){
                alert('二级域名已存在');
            }
        }).fail(function(xhr){
            alert(xhr.responseText);
        });
    });

    var areaNums = 1;
    $("#createArea").click(function(event){
        if(areaNums <= 15){
            var content  = '<div class="form-group"><div class="row"><div class="col-xs-3"><input name="qz_area[]" type="text" placeholder="区域名" value="" style="width:250px;" class="form-control"></div></div></div>';
            $("#areaListBox").append(content);
            areaNums ++;
        }else{
            alert('已达系统支持的最大数！');
        }
    });

    $("#submit").click(function(event){
        $("#form1").submit();
    });

});
</script>
</block>


