<extend name="Main:baseTemplate" />
<block name="title">
    <title>齐装网后台 - 控制台</title>
</block>
<block name="style">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
</block>

<block name="content">
    <section class="content-header">
        <h1>文章内链关键字</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li><a href="/wwwarticlekeywords/">文章内链关键字</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tag"></i> 批量上传</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <form id="form" action="javascript:void(0)" method="POST">
                            <div class="tab-content">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>批量上传：EXCEL表结构（关键字名称/关键字地址/模块），请按照此结构设置批量数据，勿调整该结构</label>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input id="excel" type="file" multiple/>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="uploadDatePreviewWrap" class="form-group hidden">
                                        <label>预览</label>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>链接名称</th>
                                                            <th>链接地址</th>
                                                            <th>模块</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="uploadDatePreview">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" class="btn btn-success btn-save">
                                        <i class="fa fa-save"></i>&nbsp;保存
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="history.back(-1)">
                                        <i class="fa fa-mail-reply"></i>&nbsp;返回
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        var uploadDate;
        $("#excel").fileinput({
            language: 'zh', //设置语言,
            uploadUrl:"/wwwarticlekeywords/uploadarticlekeywords/",
            showCaption:true,
            browseClass:"btn btn-primary",
            allowedFileExtensions : ['xls','xlsx'],
            maxFileCount:1,
            uploadClass:"btn btn-info",
            removeClass:"btn btn-danger",
            uploadAsync:true,
            dropZoneEnabled:false
        }).on('fileuploaded', function(event, data) {
            if(1 == data.response.status){
                uploadDate = data.response.data;
                var content = '';
                $.each(uploadDate, function(index, val) {
                    content = content + '<tr><td>' + val.name + '</td><td>' + val.href + '</td><td>' + val.keyword_module + '</td></tr>';
                });
                $('#uploadDatePreview').html(content);
                $('#uploadDatePreviewWrap').removeClass('hidden');
            }else{
                var d = dialog({
                    title: '消息',
                    content: data.response.info,
                    okValue: '确 定',
                    quickClose: true,
                    ok: function () {
                    }
                });
                d.show();
                return false;
            }
        }).on("fileuploaderror",function(event, data){
            var e = dialog({
                title: '消息',
                content: '文件上传失败,请检查文件格式，规格是否符合要求，或联系技术部门！',
                okValue: '确 定',
                quickClose: true,
                ok: function () {}
            });
            e.show();
            return false;
        }).on("fileclear",function(){
            $("input[name=face]").val("");
            $(".img-upload .fileinput-upload-button").removeClass('disabled');
        });

        $('.btn-save').click(function(){
            if (uploadDate == '') {
                var e = dialog({
                    title: '消息',
                    content: '操作失败,关键词内链为空！',
                    okValue: '确 定',
                    quickClose: true,
                    ok: function () {}
                });
                e.show();
                return false;
            };
            $.ajax({
                url: '/wwwarticlekeywords/uploadarticlekeywords/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    data:uploadDate
                }
            })
            .done(function(data) {
                if(data.status == '1'){
                    window.location.href = '/wwwarticlekeywords/';
                }else{
                    var e = dialog({
                        title: '消息',
                        content: data.info,
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                }
            })
            .fail(function(xhr) {
                var e = dialog({
                    title: '消息',
                    content: '操作失败,请联系技术部门！',
                    okValue: '确 定',
                    quickClose: true,
                    ok: function () {}
                });
                e.show();
            })
        })
    </script>
</block>