::-ms-clear, ::-ms-reveal{display: none;}
input::-webkit-input-safebox-button {
    display: none;
}
.win_box {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
}

.win_box .win_box_content {
    position: absolute;
    width: 646px;
    /*height: 388px;*/
    top: 50%;
    left: 50%;
    margin-top: -194px;
    margin-left: -323px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, .5);
    z-index:2000;
}
.win_box .zb_box_title {
    position: relative;
    color: #333;
    margin-bottom: 40px;
}

.win_box .zb_box_title .zb_box_hd {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.zb_box_title .zb_box_info{
    margin-left: 24px;
    border-bottom:1px solid #e6e6e6;
    font-size:16px;
    color: #333333;
    font-family:"Microsoft YaHei";
}
.win_box_close {
    background: url(../../img/global.png) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -7px -6px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    cursor: pointer;

}

.bind_box .zb_box_form {
    padding: 0 60px;
}
.sj-infotitle{
    text-indent: 20px;
    margin-left: 70px;
    background: url("../../img/warn1.png") no-repeat;
    background-size: 16px 16px;
    padding-bottom: 8px;
}
.bind_box .input {
    margin-top: 20px;
    font-size: 14px;
    width: 500px;
}
.win_box_content .label-control {
    color: #333;
    font-size: 14px;
    text-align: right;
    margin-top: 5px;
    vertical-align: middle;
    line-height: 30px;
    width: 100px;
    min-width: 80px;
    float: left;
    font-family: "Microsoft YaHei";
}
.bind_box select.input-control {
    margin: 0 5px 0 10px;
    width: 210px;
    height: 30px;
}
.win_box_content .input-control {
    margin: 0 10px;
    color: #666;
    border: 1px solid #DDD;
    height: 40px;
    line-height: 40px;
    width: 248px;
    padding-left: 5px;
    border-radius: 5px;
    float: left;
    vertical-align: middle;
}
.bind_box .input-button {
    background: #ffff;
    border: 1px solid #1890ff;
    width: 90px;
    height: 40px;
    color: #1890ff;
    cursor: pointer;
    border-radius: 5px;
    font-family:"Microsoft YaHei";
}
.win_box_content .input .button {
    background: #ff5353;
    border: 1px solid #ff5353;
    width: 140px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.sj-sureBtn{
    text-align: center;
    margin-bottom: 30px;
}
.sj-lxkf{
    height: 50px;
    line-height:50px;
    border-top:1px solid #e0e0e0;
    text-align: center;
}
.sj-infostatus{
    height: 20px;
    text-align: left;
    margin:8px 0 0px 110px;
    font:14px/12px "Microsoft YaHei";
    color: #666666;
}
.sj-infostatus p{
    display: none;
}
.sj-tipBlue{
    color: #1890ff;
}

