

.sj-querydate{
    margin:0 24px;
    padding-top: 24px;

}
.sj-leftDate{
    float: left;
    margin-bottom: 24px;
}
.sj-datetext{
    font:14px/14px "Microsoft YaHei";
    color: #999999;
}
.sj-dateInput{
    width: 160px;
    height:38px;
    border:1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 40px;
    color: #666666;
}
.sj-rightDateBtn{
    float: right;
    width: 100px;
    height: 40px;
    background: #FF5353;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family:"Microsoft YaHei";
    border-radius: 5px;
    cursor: pointer;

}
.sj-accoutTotal{
    padding:24px 0;
}
.sj-accountdetail{
    margin-left: 20px;
}
.sj-accountdetail li{
    float: left;
    margin-right: 40px;
}
.sj-accountdetail li span:first-child{
    font:bold 14px/14px "Microsoft YaHei";
    color: #333333;
}
.sj-accountdetail li span:last-child{
    font: 22px/14px "Microsoft YaHei";
    color: #ff5353;
}
.sj-tableList thead{
    background: #e6e6e6;
}
th,td{
    width: 200px;
    height: 45px;
    line-height: 35px;
    text-align: center;
}
.sj-tableList tbody tr{
    border-bottom:1px solid #e0e0e0;
}
