<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="{$keys.keywords}">
        <meta name="description" content="{$keys.description}">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>{$keys.title}-{$title}</title>
        <include file="Index:resource" />
        <include file="User:resource" />
        <link rel="stylesheet" href="/assets/user/need/css/yh-need.css?v={:C('STATIC_VERSION')}">
    </head>
<body>
    <include file="User:header" />
    <div class="ht-wrap oflow">
        <include file="User:usernavleft" />
        <form id="myForm" onsubmit="return false;">
        <div class="yh-main">
            <h1 class="yh-tit">发布装修需求</h1>
            <ul class="yh-need">
                <li><span><i class="red">*</i>装修类型：</span>
                    <input name="lx" type="radio" class="icheck" value="1" checked><em>家装</em>
                    <input name="lx" type="radio"  class="icheck" value="2"><em>公装</em>
                </li>
                <li><span><i class="red">*</i>所属区域：</span>
                    <select name="cs">
                        <option value="{$info.citys.shen.id}">{$info.citys.shen.oldname}</option>
                    </select>
                    <select name="qx">
                        <volist name="info.citys.shi" id="vo">
                             <option value="{$vo.qz_areaid}">{$vo.oldName}</option>
                        </volist>
                    </select>
                </li>
                <li><span><i class="red">*</i>联系人：</span>
                    <input class="write" name="name" type="text" placeholder="联系人">
                    <em class="red err-tips"></em>
                </li>
                <li><span><i class="red">*</i>联系电话：</span>
                    <input class="write" name="tel" type="text" placeholder="联系电话">
                    <em class="red err-tips"></em>
                </li>
                <li><span>小区名称：</span>
                    <input class="write" name="xiaoqu" type="text" placeholder="小区名称">
                </li>
                <li><span>房屋面积：</span>
                    <input class=" hlaf" name="mianji" type="text" placeholder="面积">㎡
                    <em class="red err-tips"></em>
                </li>
                <li><span>详细地址：</span>
                    <input class="write" name="dz" type="text" placeholder="详细地址">
                </li>
                <li><span>户型结构：</span>
                    <select name="huxing">
                       <volist name="info.huxing" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </volist>
                    </select>
                    <select name="shi">
                        <volist name="info.shi" id="vo">
                            <option value="{$vo}">{$vo}</option>
                        </volist>
                    </select>
                    室
                    <select name="ting">
                        <volist name="info.ting" id="vo">
                            <option value="{$vo}">{$vo}</option>
                        </volist>
                    </select>
                    厅
                    <select name="wei">
                        <volist name="info.wei" id="vo">
                            <option value="{$vo}">{$vo}</option>
                        </volist>
                    </select>
                    卫
                    <select name="chu">
                        <volist name="info.chu" id="vo">
                            <option value="{$vo}">{$vo}</option>
                        </volist>
                    </select>
                    厨
                    <select name="yangtai">
                        <volist name="info.yangtai" id="vo">
                            <option value="{$vo}">{$vo}</option>
                        </volist>
                    </select>
                    阳台
                </li>
                <li>
                    <span>喜欢风格：</span>
                    <select name="fengge">
                        <volist name="info.fengge" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </volist>
                    </select>
                </li>
                <li><span>装修方式：</span>
                    <select name="fangshi">
                        <volist name="info.fangshi" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </volist>
                    </select>
                </li>
                <li><span>装修预算：</span>
                    <select name="yusuan">
                        <volist name="info.jiage" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </volist>
                    </select>
                </li>
                <li><span>开工时间：</span>
                    <select name="start" class="input-control">
                        <option>半个月内</option>
                        <option>1个月</option>
                        <option>2个月</option>
                        <option>2个月以上</option>
                    </select>
                </li>
                <li><span class="pull-left">装修要求：</span>
                    <textarea name="text" placeholder="装修要求"></textarea>
                </li>
            </ul>
            <div class="ht-yes">
                <a href="javascript:void(0)" ><i class="icon-ok mr10"></i>确认发布</a>
                <em class="red err-tips"></em>
            </div>
        </div>
        </form>
    </div>
    <include file="Index:footer" />
</body>
<script type="text/javascript">
    $('.icheck').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red',
        increaseArea: '' // optional
      });

    $(".ht-yes a").click(function(event) {
        $(".err-tips").html("");
        $(".focus").removeClass('focus');
        var _this = $(this);
        if(!App.validate.run($("input[name=name]").val())){
            $("input[name=name]").focus().addClass('focus').parent().find(".err-tips").html("请输入联系人的名称");
            return false;
        }

        if(!App.validate.run($("input[name=name]").val(),"specialchar")){
            $("input[name=name]").focus().addClass('focus').parent().find(".err-tips").html("无效的用户名");
            return false;
        }

        if(!App.validate.run($("input[name=tel]").val())){
            $("input[name=tel]").focus().addClass('focus').parent().find(".err-tips").html("请输入联系人的名称");
            return false;
        }

        if(!App.validate.run($("input[name=tel]").val(),"tel")){
            $("input[name=tel]").focus().addClass('focus').parent().find(".err-tips").html("无效的电话！");
            return false;
        }

        if(App.validate.run($("input[name=mianji]").val())){
            if(!App.validate.run($("input[name=mianji]").val(),"decimal")){
                $("input[name=mianji]").focus().addClass('focus').parent().find(".err-tips").html("无效的面积！");
                return false;
            }
        }
        var data = $("#myForm").serializeArray();
        data.push({name:"safecode",value:"{$safecode}"});
        data.push({name:"safekey",value:"{$safekey}"});
        data.push({name:"ssid",value:"{$ssid}"});
        data.push({name:"source",value:"107"});
        data.push({name:"userid",value:"{$info.user.id}"});
        $.ajax({
            url: '/fb_order/',
            type: 'POST',
            dataType: 'JSON',
            data: data
        })
        .done(function(data) {
            if(data.status == 1){
               window.location.href="/success/order/";
            }else{
                _this.parent().find(".err-tips").html(data.info);
            }
        })
        .fail(function() {
            _this.parent().find(".err-tips").html("发生了未知的错误,请刷新重试！");
        });
    });
</script>
</html>
