/*
* @Author: qz_xsc
* @Date:   2018-10-16 09:48:21
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-10-23 14:51:55
*/

*{ list-style:none; font-style:normal; border:0; margin:0; padding:0;}
body{
font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; color:#333;
-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;
box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
input,select{outline: none;font-size: 14px;}
html{font-size: 100px; height: 100%; width:100%; }/*iphone 4/5*/
body{font-size: 0.126rem; width:100%; height: 100%;}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}
}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
@media (min-device-width : 411px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 129.06px;}
}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}
}
.fl{float: left;}
.fr{float: right;}
.owf{
    overflow: hidden;
}
.articel-detail img{
    width: 100%;
    padding:8px 0px;
    display: block;
    margin: 0px auto;
  }