<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关注齐装网装修设计微信公众号领装修礼包活动-齐装网</title>
    <meta name="applicable-device" content="mobile" />
    <meta name="keywords" content="装修微信活动,齐装网装修设计" />
    <meta name="description" content="关注齐装网装修设计微信公众号赢双重好礼，免费领取装修报价，4份设计方案任您选，更有非常实用的装修技巧等你get" />
    <link href="http://{:C('QZ_YUMINGWWW')}/" rel="canonical"/>
    <link href="/assets/mobile/common/css/m-reset.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/css/m-public.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/special/weixinhuodong/css/index.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="m-wrap">
    <img src="/assets/mobile/special/weixinhuodong/img/banner.jpg" alt="" class="block img-responsive">
    <div class="wxguide-container">
        <div class="wxguide-block">
            <img src="/assets/mobile/special/weixinhuodong/img/b1.png" alt="" class="block img-responsive wxguide-title" style="width: 50%;">
            <img src="/assets/mobile/special/weixinhuodong/img/c1.png" alt="" class="block img-responsive">
        </div>
        <div class="wxguide-block">
            <div class="clearfix">
                <img src="/assets/mobile/special/weixinhuodong/img/b2.png" alt="" class="r img-responsive" style="width: 55%;">
            </div>
            <img src="/assets/mobile/special/weixinhuodong/img/c2.png" alt="" class="block img-responsive">
        </div>
        <div class="wxguide-block" style="margin-bottom: 0.3rem;">
            <img src="/assets/mobile/special/weixinhuodong/img/b3.png" alt="" class="block img-responsive wxguide-title" style="width: 80%;">
            <img src="/assets/mobile/special/weixinhuodong/img/c3.png" alt="" class="block img-responsive">
        </div>
        <div class="follow">
            <div class="caption"><img src="/assets/mobile/special/weixinhuodong/img/follow-caption.png" alt="" class="block img-responsive"></div>
            <div class="step-one">
                <div class="captipon-table">
                    <div>
                        <img src="/assets/mobile/special/weixinhuodong/img/step1.png" alt="" class="block img-responsive">
                    </div>
                    <div>
                        <span>关注微信公众号“齐装网装修设计”</span>
                    </div>
                </div>
                <div class="wxguide-video">
                    <img src="/assets/mobile/special/weixinhuodong/img/vbg.jpg" alt="" class="block img-responsive">
                    <img src="/assets/mobile/special/weixinhuodong/img/play.png" alt="" class="play" data-type="play">
                </div>
                <div class="or-operator">或</div>
                <div class="wxguide-qrcode-table">
                    <div style="text-align: right; padding-right: 0.1rem;">
                        <img src="/assets/mobile/special/weixinhuodong/img/qrcode.png" alt="" class="img-responsive">
                    </div>
                    <div style="text-align: left; padding-left: 0.1rem;">
                        <img src="/assets/mobile/special/weixinhuodong/img/tips.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="step-two">
                <div class="captipon-table">
                    <div>
                        <img src="/assets/mobile/special/weixinhuodong/img/step2.png" alt="" class="block img-responsive">
                    </div>
                    <div>
                        <span>领取1份装修报价和4份设计方案！</span>
                    </div>
                </div>
                <div class="follow-rights">
                    <div style="padding-right: 0.1rem;">
                        <img src="/assets/mobile/special/weixinhuodong/img/r1.png" alt="" class="img-responsive" style="margin-bottom: 0.08rem;">
                        <p>“装修报价”领取入口</p>
                    </div>
                    <div style="padding-left: 0.1rem;">
                        <img src="/assets/mobile/special/weixinhuodong/img/r2.png" alt="" class="img-responsive" style="margin-bottom: 0.08rem;">
                        <p>“1份设计方案”领取入口</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video" data-type="video-box">
    <span class="close" data-type="close">×</span>
    <video src="//staticqn.qizuang.com/webstatic/video/20180815/FrDC8vY4MYZis3DZE7KZwj4RnRbG.mp4" controls="controls"></video>
</div>
<script type="text/javascript" src="/assets/mobile/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
<script>
    $(function () {
        var $play = $("img[data-type='play']"),
            $videoBox = $("div[data-type='video-box']"),
            $video = $videoBox.find("video"),
            $close = $("span[data-type='close']");
        $play.on("click",function () {
            $videoBox.css("display","block");
            $video[0].play();
        });
        $close.on("click",function () {
            $videoBox.css("display","none");
            $video[0].pause();
        });
    });
</script>

  <!-- baidu AB 测试代码  检查到此模板没有继承basic  2018/9/20/14:42-->
    <script>
        var baiduAB = baiduAB || {};
        window.baiduAB = baiduAB;
        (function(){
            baiduAB.endTime = 1543507200000;
            baiduAB.date = new Date();
            baiduAB.time = baiduAB.date.getTime();
            if (baiduAB.time <= baiduAB.endTime) {
            baiduAB.newScript = document.createElement('script');
            baiduAB.newScript.setAttribute('charset', 'utf-8');
            baiduAB.newScript.src = 'https://zz.bdstatic.com/abtest/abtest-zy-wall.js';
            baiduAB.first = document.body.firstChild;
            document.body.insertBefore(baiduAB.newScript, baiduAB.first);
            };
        })();
    </script>
</body>
</html>