<extend name="Common:basic"/>
<block name="link">
	<link href="http://{:C('QZ_YUMINGWWW')}/" rel="canonical"/>
	<link href="/assets/mobile/common/css/m-reset.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
	<link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
	<link href="/assets/mobile/zhuli/css/zhuli.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>

<block name="top">
	<a href="http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/" class="m-header-left"></a>
	<div class="m-header-city" style="left: 35%;"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>
</block>

<block name="content">
    <div id="mask"></div>
    <div id="mask1"></div>
    <div id="mask2"></div>
    <img src="/assets/mobile/zhuli/images/home.png" alt="助我一臂之力" class="home-area">
    <div class="tanchuang" id="tanchuang-one">

    </div>

    <div class="tanchuang" id="fadan">
    <div class='close-box'><i class='fa fa-close closed'></i></div>
        <p>完善信息，领取奖品</p>
            <ul class="formbt">
              <li>
                <div>
                     <button id="showCityPicker2" class="c-zb-city" type="button">
                        <i class="fa fa-map-marker">
                        </i>&nbsp;
                        <empty name="info.cityarea">
                        请选择您所在的区域
                        <else />
                        {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                        </empty>
                      </button>
                      <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                      <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                      <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                  </div>
              </li>
              <li class="jvli">
                <input type="tel" name="tel" maxlength="11" placeholder="请输入手机号方便与您联系">
              </li>
              <li class="jvli">
                <input type="text" name="name" placeholder="怎么称呼您">
              </li>
              <button class="submit">提交信息</button>
            </ul>
            <input type="hidden" name="edit_id" value="{$info.id}">
    </div>





    <div class="tanchuang" id="result">
    <div class='close-box'><i class='fa fa-close closed'></i></div>
        <div class="gongxi">恭喜您提交成功</div>
        <div class="lianxi">稍后会有客服联系您，确认您的联系信息，奖品将以邮寄的方式送到您的手中，请注意查收。</div>
        <div class="tuijian">您还可以参与下面的活动哦</div>
        <div class="huodong"><a href="/act/guoqing" class="to-huodong">点我参与“迎中秋庆国庆，赢取好礼”</a></div>
    </div>

    <div class="tanchuang" id="is_end">
        <div class='close-box'><i class='fa fa-close closed'></i></div>
        <div class="gongxi">对不起，本期奖品已经被领完！</div>
        <div class="tuijian">您还可以参与下面的活动哦</div>
        <div class="huodong"><a href="/act/guoqing" class="to-huodong">点我参与“迎中秋庆国庆，赢取好礼”</a></div>
    </div>

    <img src="/assets/mobile/zhuli/images/yindao1.png" alt="" class="fx-arrow">
    <div class="arrow-text">点击分享</div>

    <div class="three-box">
        <div class="three-box-container">
            <div class="btn active">已充值金额{$info.integral_amount}元</div>
            <div class="btn "><span id="yqhy">邀请好友助力</span></div>
            <div class="btn"><a href="/act/guoqing">齐装网双节100%有奖活动</a></div>
            <p>数量有限。<a href="/act/rules">点击查看活动规则>>></a></p>
        </div>
    </div>
     <!--<div class="friend-list">-->
           <!--<span>好友助力情况</span>-->
           <!--<table>-->
               <!--<tr>-->
                   <!--<td>张三</td><td>助力<span>100</span>元</td>-->
               <!--</tr>-->
               <!--<tr>-->
                   <!--<td>张三</td><td>助力<span>100</span>元</td>-->
               <!--</tr>-->
               <!--<tr>-->
                   <!--<td>张三</td><td>助力<span>100</span>元</td>-->
               <!--</tr>-->
               <!--<tr>-->
                   <!--<td>张三</td><td>助力<span>100</span>元</td>-->
               <!--</tr>-->
               <!--<tr>-->
                   <!--<td>张三</td><td>助力<span>100</span>元</td>-->
               <!--</tr>-->
           <!--</table>-->
        <!--</div>-->
</block>

<block name="script">
	<script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
	<script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
	<script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
	<script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js?v={:C('STATIC_VERSION')}"></script>
	<script>
        $(document).ready(function(){
            var isFirsrt = '{$info.is_first}'; //是否第一次打开
            var is_winning = '{$info.is_winning}'; //是否获奖
            var zhulijiangjin = '{$info.zhuli}'; //已经得到的助力金
            var zlws = '{$info.zlws}'; //是否 资料完善
            var is_end = '{$info.is_end}'; //是否 活动奖品领完
            selectQz.init({
                  province: $("input[name=province]").attr("data-id"),
                  city: $("input[name=city]").attr("data-id"),
                  area: $("input[name=area]").attr("data-id")
            });
            $("#tanchuang-one").css("display","block");
            //是否第一次进来
            if(isFirsrt == 1){
                    $("#tanchuang-one").html(" 恭喜您获得<span>1000元</span>的助力金额！");
                    $("#mask").fadeIn();
                    setTimeout(fadeout,2000);
                    return
            }else if(isFirsrt == 0){
                //是否获奖
                if(is_winning == 1){
                    //判断是否完善过资料 (获奖的情况下)
                    if(zlws != 1){
                        $("#tanchuang-one").css({"padding-top":"0.15rem","height":"1.2rem"});
                        $("#tanchuang-one").html("<div class='close-box'><i class='fa fa-close closed'></i></div><span>恭喜您！</span><div style='text-align:left;padding:10px;line-height:0.2rem'>充值成功，可领取价值3680元的云南双人游套餐</div><div class='getTaocan'>立即领取</div>");
                        $(".friend-list").css("display","block");
                    }else if(zlws != 1){
                        $("#tanchuang-one").css({"display":"none"});
                        $("#mask").hide()
                    }
                }else if(is_winning == 0){
                    //判断是否已经有9个人获奖
                    if(is_end == 1){
                        $("#is_end").css("display", "block");
                        $("#mask2").css("display", "block");
                    }else if(is_end == 0){
                        $("#tanchuang-one").css({"padding-top":"0.1rem","height":"0.5rem"});
                        $("#tanchuang-one").html("<span>恭喜您！</span><div>好友已为您助力充值" + zhulijiangjin +"元</div>");
                        $(".friend-list").css("display","block");
                    }
                    setTimeout(fadeout,2000);
                }
            }
        });
        function fadeout(){
            $("#mask,#tanchuang-one").fadeOut();

        }
        $("#tanchuang-one").on("click",".getTaocan", function(){
            $("#tanchuang-one").css("display","none");
            $("#fadan").css("display","block");
        });

        $(".submit").click(function(){
            var data = {};
            data.edit_id = $("input[name=edit_id]").val();
            data.tel = $("input[name=tel]").val();
            data.name = $("input[name=name]").val();
            data.province = $('input[name=province]').attr('data-id');
            data.city = $('input[name=city]').attr('data-id');
            data.area = $('input[name=area]').attr('data-id');
            if (!App.validate.run(data.city)) {
                $("input[name=city]").focus();
                alert("请选择您所在的城市 ≧▽≦");
                return false;
            }
            if (!App.validate.run(data.area)) {
                $("input[name=area]").focus();
                alert("请选择您所在的区域 ≧▽≦");
                return false;
            }
            //检查手机号
            if (!App.validate.run(data.tel)) {
                $("input[name=tel]").focus();
                $("input[name=tel]").val('');
                alert("请输入您的手机号码 ^_^!");
                return false;
            } else {
                var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                if (!reg.test(data.tel)) {
                    $("input[name=tel]").focus();
                    $("input[name=tel]").val('');
                    alert("请填写正确的手机号码 ^_^!");
                    return false;
                }
            }
            //检查姓名
            if (!App.validate.run(data.name)) {
                $("input[name=name]").focus();
                $("input[name=name]").val('');
                alert("请填写您的称呼");
                return false;
            } else {
                var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                if (!reg.test(data.name)) {
                    $("input[name=name]").focus();
                    $("input[name=name]").val('');
                    alert("请输入正确的名称，只支持中文和英文");
                    return false;
                }
            }
            $.ajax({
                url: '/act/updateUserInfo',
                type: 'POST',
                dataType: 'JSON',
                data: data
            })
                .done(function (data, status, xhr) {
                    if (data.status == 1) {
                        $("#fadan").css("display", "none");
                        $("#result").css("display", "block");
                    } else {
                        alert(data.info);
                    }

                })
                .fail(function (xhr, status, error) {
                    //请求失败回调函数
                    params.error && params.error(xhr, status, error);
                });
        });

        $(".tanchuang").on("click",".closed",function(){
             $(".tanchuang,#mask,#mask2").fadeOut();
        });

        $("#yqhy").click(function(){
           $("#mask1").fadeIn();
           $(".fx-arrow").fadeIn();
           $(".arrow-text").fadeIn();
        });

        $("#mask1").click(function(){
          $("#mask1").fadeOut();
           $(".fx-arrow").fadeOut();
           $(".arrow-text").fadeOut();
        });
        wx.config({
            debug: false,
            appId: '{$saveConfig.appid}',
            timestamp: '{$saveConfig.timestamp}',
            nonceStr: '{$saveConfig.nonceStr}',
            signature: '{$saveConfig.signature}',
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
            ]
        });
        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: '齐装网双节活动-助力抢双人游', // 分享标题
                link: 'http://m.qizuang.com/act/friend/?openid={$info.openid}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://staticqn.qizuang.com/file/20170928/FrhstuRc4BGW9yaIncoXEbXeD-Al.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: '齐装网双节活动-助力抢双人游', // 分享标题
                desc: '快来帮我抢双人游！好友力大爆发', // 分享描述
                link: 'http://m.qizuang.com/act/friend/?openid={$info.openid}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://staticqn.qizuang.com/file/20170928/FrhstuRc4BGW9yaIncoXEbXeD-Al.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    </script>
</block>