<extend name="Common:basic"/>
<block name="title"><title>{$head.title}</title></block>
<block name="keywords"><meta name="keywords" content="{$head.keywords}" /></block>
<block name="description"><meta name="description" content="{$head.description}" /></block>
<block name="link">
    <link href="http://{:C('QZ_YUMINGWWW')}/" rel="canonical"/>
    <link href="/assets/mobile/special/hd2w/css/hd2w_a18049.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="content">
    <div class="top_banner">
        <img src="/assets/mobile/special/hd2w/img/2w-banner_a18049.jpg" alt="">
    </div>

    <div class="quan-box">
        <div class="quan-item">
            <div class="quan-left">建材</div>
            <div class="quan-center">
                <p>金牌厨柜</p>
                <p>3000</p>
                <p>满3万减3000</p>
            </div>
            <div class="quan-right">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
                <div class="circle6"></div>
                <div class="circle7"></div>
                <div class="circle8"></div>
                <div class="circle9"></div>
                <div class="shu-text" id="jpcg">立即领取</div>
                <div class="circle10"></div>
                <div class="circle11"></div>
                <div class="circle12"></div>
                <div class="circle13"></div>
                <div class="circle14"></div>
                <div class="circle15"></div>
                <div class="circle16"></div>
                <div class="circle17"></div>
                <div class="circle18"></div>
            </div>
        </div>
        <div class="quan-item">
            <div class="quan-left">建材</div>
            <div class="quan-center">
                <p>迪玛卫浴</p>
                <p>3000</p>
                <p>满3万减3000</p>
            </div>
            <div class="quan-right juhuang">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
                <div class="circle6"></div>
                <div class="circle7"></div>
                <div class="circle8"></div>
                <div class="circle9"></div>
                <div class="shu-text" id="dmwy">立即领取</div>
                <div class="circle10"></div>
                <div class="circle11"></div>
                <div class="circle12"></div>
                <div class="circle13"></div>
                <div class="circle14"></div>
                <div class="circle15"></div>
                <div class="circle16"></div>
                <div class="circle17"></div>
                <div class="circle18"></div>
            </div>
        </div>
        <div class="quan-item">
            <div class="quan-left">家具</div>
            <div class="quan-center">
                <p>新居源</p>
                <p>3000</p>
                <p>满3万减3000</p>
            </div>
            <div class="quan-right green">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
                <div class="circle6"></div>
                <div class="circle7"></div>
                <div class="circle8"></div>
                <div class="circle9"></div>
                <div class="shu-text">立即领取</div>
                <div class="circle10"></div>
                <div class="circle11"></div>
                <div class="circle12"></div>
                <div class="circle13"></div>
                <div class="circle14"></div>
                <div class="circle15"></div>
                <div class="circle16"></div>
                <div class="circle17"></div>
                <div class="circle18"></div>
            </div>
        </div>
<!--         <div class="quan-item">
    <div class="quan-left">家电</div>
    <div class="quan-center">
        <p>苏宁易购</p>
        <p>2000</p>
        <p>满2万减2000</p>
    </div>
    <div class="quan-right">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
        <div class="circle6"></div>
        <div class="circle7"></div>
        <div class="circle8"></div>
        <div class="circle9"></div>
        <div class="shu-text">立即领取</div>
        <div class="circle10"></div>
        <div class="circle11"></div>
        <div class="circle12"></div>
        <div class="circle13"></div>
        <div class="circle14"></div>
        <div class="circle15"></div>
        <div class="circle16"></div>
        <div class="circle17"></div>
        <div class="circle18"></div>
    </div>
</div> -->
        <div class="quan-item">
            <div class="quan-left">装修</div>
            <div class="quan-center">
                <p>装修设计礼包</p>
                <p>10000</p>
                <p>报价与4份户型设计</p>
            </div>
            <div class="quan-right">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
                <div class="circle6"></div>
                <div class="circle7"></div>
                <div class="circle8"></div>
                <div class="circle9"></div>
                <div class="shu-text">立即领取</div>
                <div class="circle10"></div>
                <div class="circle11"></div>
                <div class="circle12"></div>
                <div class="circle13"></div>
                <div class="circle14"></div>
                <div class="circle15"></div>
                <div class="circle16"></div>
                <div class="circle17"></div>
                <div class="circle18"></div>
            </div>
        </div>
        <div class="quan-item">
            <div class="quan-left">增值包</div>
            <div class="quan-center">
                <p>惊喜好礼</p>
                <p>1000</p>
                <p>卧室除螨除菌服务1次</p>
            </div>
            <div class="quan-right green">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
                <div class="circle6"></div>
                <div class="circle7"></div>
                <div class="circle8"></div>
                <div class="circle9"></div>
                <div class="shu-text" id="jxhl">立即领取</div>
                <div class="circle10"></div>
                <div class="circle11"></div>
                <div class="circle12"></div>
                <div class="circle13"></div>
                <div class="circle14"></div>
                <div class="circle15"></div>
                <div class="circle16"></div>
                <div class="circle17"></div>
                <div class="circle18"></div>
            </div>
        </div>
    </div>
    <a class="tobaojia" href="http://{:C('MOBILE_DONAMES')}/baojia/"><img src="/assets/mobile/special/hd2w/img/2w-hd.png"></a>
    <div class="shuoming_box">
        <div class="libao hd-shuoming">活动说明</div>
        <div class="modal_box">
            <div class="modal_wrap">
                <div class="hz_box">
                    <div class="hz_xz">
                        <div class="fangjiao left_top"></div>
                        <div class="fangjiao right_top"></div>
                        <p>1、金牌橱柜提供的满 3 万减 3000 优惠券（价值 3000元）</p>
                        <p>2、迪马卫浴提供的满 3 万减 3000 优惠券（价值 3000元）</p>
                        <p>3、新居源提供的满 3 万减 3000 优惠券（价值 3000 元）</p>
                        <p>4、舒敏怡提供的怡家安睡权卧室除螨除菌服务 1 次（价值 1000 元）</p>
                        <p>5、齐装网提供的免费量房 +4 套户型设计 +1 份报价 服务（价值1万元）</p>
                        <p>有效期截止：2018.12.31</p>
                        <p>详情可通过关注微信公众号：府院装修，回复“礼包”获得品牌全新折扣优惠资格</p>
                        <div class="fangjiao left_bottom"></div>
                        <div class="fangjiao right_bottom"></div>
                    </div>
                </div>

                <div id="bototm_img">
                    <img src="/assets/mobile/special/spree/images/bottom_ewm.png" alt="" style="width:100%">
                    <div class="right_sao">
                        <img src="/assets/mobile/special/hd2w/img/2w-sao.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgfadan">
        <div class="fadan-box">
            <i class="fa fa-times closegb" style="position: absolute;right: 10px;top: 8px;color: #999;"></i>
            <div class="fadan-title">填写信息，领取价值<span class="redcolor">2万元</span>大礼包</div>
            <div class="fadan-tip">已有<span class="redcolor">2351</span>位业主申请</div>
            <ul class="">
                <li>
                    <gt name="mapUseInfo.vipcount" value="0">
                        <button id="showCityPicker2" class="city-btn" type="button">
                            <i class="fa fa-map-marker"></i>
                            <empty name="info.cityarea">
                            请选择您所在的区域
                            <else />
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    <else />
                        <button id="showCityPicker2" class="city-btn" type="button">
                            <i class="fa fa-map-marker"></i>
                            请选择您所在的区域
                        </button>
                        <input type="hidden" name="province" data-id="">
                        <input type="hidden" name="city" data-id="">
                        <input type="hidden" name="area" data-id="">
                    </gt>
                </li>
                <li class="input-li">
                    <input class="" type="text" name="name" maxlength="13" placeholder="怎么称呼您">
                </li>
                <li class="input-li">
                    <input class="" type="tel" name="tel" maxlength="11" placeholder="输入手机号获取装修服务">
                </li>
                <li class="input-li" id="shenming">
                    <input type="checkbox" checked="checked" id="mianze">
                    <label for="mianze" id="check" class="fa fa-check"></label>
                    <span>我已阅读并同意齐装网的</span>
                    <a href="http://{:C('MOBILE_DONAMES')}/about/disclaimer"><span>《免责申明》</span></a>
                </li>
            </ul>
            <a href="javascript:void(0)" class="submit-btn">立即领取</a>
            <input type="hidden" name="source" value="17121159">
        </div>
    </div>
    <div class="success_bg">
        <div class="success_box">
            <div class="success_head">
                <i class="fa fa-check-circle"></i><span class="gx_title">恭喜您领取成功</span>
            </div>
            <div class="success_neck">
                稍后会有客服人员联系，请注意接听
            </div>
            <div class="success_body">
                <img src="/assets/mobile/special/spree/images/tc_ewm.png" alt="">
                <div class="guanzhu-box">
                    <p class="redcolor">关注公众号</p>
                    <p>回复：“礼包”</p>
                    <p style="font-size: 12px;">获取2万元装修大礼包详情</p>
                </div>
            </div>
            <p class="shuom">长按二维码保存，微信扫一扫从相册选取二维码识别标注</p>
            <div class="success_foot">
                我知道了
            </div>
        </div>
    </div>
    <div class="float-libao"><i class="fa fa-hand-o-right"></i><span>一键领取价值2万元装修大礼包</span></div>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/mobile/sub/js/TouchSlide.1.1.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        //切换免责对勾
        $("#check").click(function(){
            $(this).toggleClass('fa-check');
        });
        var flag = '';
        $('.shu-text,.float-libao').on('click',function(){
            $('.bgfadan').show();
            $('.float-libao').hide();
            $('body').css({'position':'fixed','width':'100%'});
            flag = $(this).attr('id');
        });
        $(".submit-btn").click(function(event) {

            var name = $("input[name=name]").val();
            var tel = $("input[name=tel]").val();

            var cs = $('input[name=city]').attr('data-id');
            var qx = $('input[name=area]').attr('data-id');


            if (!App.validate.run(name)) {
                alert("请输入您的称呼");
                return false;
            }else{
                var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                if(!reg.test(name)){
                    alert("请输入正确的名称，只支持中文和英文");
                    return false;
                }
            }

            if (!App.validate.run(tel)) {
                $("input[name=tel]").val('');
                alert("请填写正确的手机号码 ^_^!");
                return false;
            }else{
                var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                if(!reg.test(tel)){
                    $("input[name=tel]").val('');
                    alert("请填写正确的手机号码 ^_^!");
                    return false;
                }
            }

            if('' == cs || '' == qx){
                alert('请选择您所在的区域 ≧▽≦')
                return false;
            }
            var checked = $("#mianze").is(':checked');
            if(!checked){
                alert('请勾选我已阅读并同意齐装网的《免责申明》！')
                return false;
            }
            //分别统计发单标识
            var sourceId = '';
            if(flag == 'jpcg'){
                sourceId = 18010505;
            }else if(flag == 'dmwy'){
                sourceId = 18010543;
            }else if(flag == 'jxhl'){
                sourceId = 18010955;
            }else{
                sourceId = 17122952;
            }

            window.order({
                extra:{
                    cs: cs,
                    qx: qx,
                    name:$("input[name=name]").val(),
                    tel:$("input[name=tel]").val(),
//                    source: $("input[name=source]").val(),
                    source:sourceId,
                },
                error:function(){},
                success:function(data, status, xhr){
                    if(data.status == 1){
                        $('.bgfadan').hide();
                        $('body').css('position','relative');
                        $('.float-libao').show();
                        if(flag == 'jpcg'){
                            window.location.href = 'http://www.g1999.com/design/m/qzw/';
                        }else if(flag == 'dmwy'){
                            window.location.href = 'https://dima.tmall.com/';
                        }else if(flag == 'jxhl'){
                            window.location.href = 'https://a.eqxiu.com/s/67DE53p6';
                        }else{
                             window.location.href = '/activity/result';
                        }
                    }else{
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    return true;
                }
            });
        });

        $('.fadan-box .closegb').click(function(){
            $('.bgfadan').hide();
            $('.float-libao').show();
            $('body').css('position','relative');
        })

        $(".success_foot").click(function(){
            $(".success_bg").fadeOut();
            window.location.href = window.location.href;
        });

        window.onload = function(){
            setTimeout(function(){
                selectQz.init({
                    province: $("input[name=province]").attr("data-id"),
                    city: $("input[name=city]").attr("data-id"),
                    area: $("input[name=area]").attr("data-id")
                });
            }, 500);
        }
    </script>
</block>