<extend name="Main:baseTemplate" />
<block name="title">
	<title>城市会员数完成率 - 控制台</title>
	<style>
		.gangwei-icon{background-position:-150px -240px !important;}
		.key{color:red; }
		.from-item{position: relative;}
		.fa-calendar{position: absolute;top: 5px;right: 8px;}
        table#reset-table thead tr th{line-height: 45px !important;}
	</style>
</block>
<block name="style">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
	<link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
	<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
	<link rel="stylesheet" type="text/css" href="/assets/home/css/xs-gangwei.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="overflow-x">
                        <div class="overflow-box" style="width: 1710px;">
                            <div class="box-header">
                                <h3><i class="xs-icon gangwei-icon"></i>城市会员数完成率</h3>
                                <form id="searchform" action="" method="get" class="form-horizontal">
                                    <div class="from-list" id="searchBox">
                                        <div class="max-width-1352 height-45 oflow" >
                                            <div class="from-item">
                                                <span>部门：</span>
                                                <select type="text" class="info-item" name="dept">
                                                    <switch name="department">
                                                        <case value="0">
                                                            <option value="">请选择</option>
                                                            <option value="1">商务</option>
                                                            <option value="2">外销</option>
                                                        </case>
                                                        <case value="1">
                                                            <option value="">请选择</option>
                                                            <option value="1">商务</option>
                                                        </case>
                                                        <case value="2">
                                                            <option value="">请选择</option>
                                                            <option value="2">外销</option>
                                                        </case>
                                                    </switch>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>拓师长：</span>
                                                <select name="dev_division" class="managerList">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.dev_division" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>拓团长：</span>
                                                <select name="dev_regiment" class="managerList">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.dev_regiment" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>城市经理：</span>
                                                <select name="dev_manage" class="managerList">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.dev_manage" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item" style="margin-right:50px;">
                                                <span class="timer-tit">查询月份：</span>
                                                <input type="text" name="date" class="form-control datepicker timer-input" placeholder="选择月份" value="{$info.date}"><i class="fa fa-calendar timer-icon"></i>
                                            </div>
                                        </div>
                                        <div class="max-width-1352 height-45 oflow">
                                            <div class="from-item">
                                                <span>城市：</span>
                                                <select name="city">
                                                <option value="">请选择</option>
                                                <volist name="cityList" id="v">
                                                <option value="{$v.id}">{$v.city}</option>
                                                </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>品师长：</span>
                                                <select name="brand_division" class="managerList">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.brand_division" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>品团长：</span>
                                                <select name="brand_regiment" class="managerList">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.brand_regiment" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>品牌师：</span>
                                                <select name="brand_manage" class="managerList">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.brand_manage" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <input type="hidden" value="0" name="dl">
                                                <button type="submit" class="search-btn xs-btn pull-right" style="margin: 0;margin-left: 110px;">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="select-role-input" style="margin-left: 25px;margin-top: 20px;">显示：
                                    品师长<input type="checkbox" value="品师长">
                                    品团长<input type="checkbox" value="品团长">
                                    品牌师<input type="checkbox" value="品牌师">
                                    拓师长<input type="checkbox" value="拓师长">
                                    拓团长<input type="checkbox" value="拓团长">
                                    城市经理<input type="checkbox" value="城市经理">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="todo-item">
                                    <button class="xs-btn hideLoading" id="exportExcel">导出</button>
                                    <div class="pull-right position-relative">
                                        <i class="xs-icon zhushi-icon"></i>
                                        <div class="zhushi-info">
                                            <p>输入人注意事项：本页数据以城市为唯一标识，其他数据均为附属信息，
                                            <span class="key">默认显示数据为：</span>城市重点系数降序排列，+置顶（鼠标悬浮在记录的城市上方时显示置顶按钮，点击置顶，则记录显示在首页的第一条）
                                            名词解释：（当月的数据：当月1日凌晨0.10到当日凌晨0:10，之前月数据：统计当月1日凌晨0.10到次月1日凌晨0：10）</p>
                                            <p>所有百分比类型的是指全部为：XX.X%，即取值小数点后1位，比如：90.17%取值90.2%，90.14%取值90.1%四舍五入，90%取值90.0%。</p>
                                            <p>品师长等岗位：读取《岗位城市权限》设置中城市所对应的岗位取会员的各种数值，根据会员ID号取值。</p>
                                            <p>部门：读取《岗位城市权限》中城市对应的部门</p>
                                            <p>1、会员指标：统计月份内《城市会员指标》中的该城市会员指标</p>
                                            <p>2、实际总会员数：统计次月1日凌晨0：10的单倍会员数+（多倍会员数*多倍）的总和</p>
                                            <p>3、会员数完成率：实际总会员数/会员指标*100%</p>
                                            <p>4、多倍会员数：统计次月1日凌晨0：10的多倍会员数，2倍会员为2个，以此类推。分段多倍的按照分段期计算多倍，比如：合作6个月，其中前2个月为多倍的，则多倍只计算前2个月。比如：本次合作时间3月10日-9月9日共6个月，其中3月10-5月9日为2倍会员，则3月10-5月9日时间段为2个会员数，其他时间为1个会员数。</p>
                                            <p>5、战略会员数：读取，在上会员时，按照收款金额或者按照讨论组报备，勾选<span class="key">“战略类型”</span>会员</p>
                                            <p>6、暂停会员数：当月1日凌晨0：10到次月1日凌晨0：10的操作暂停的会员数，会员数=单倍数+多倍数*多倍的倍数）；多次暂停会员当月只计算一次。</p>
                                            <p>7、退费会员数：当月1日凌晨0：10到次月1日凌晨0：10的操作退费的会员数，会员数=单倍数+多倍会员折算为单倍后的数量）</p>
                                            <p>8、城市QQ群名称、实际群成员数：读取《城市QQ群》中数值。</p>
                                            <p>9、成员数完成率：读取《城市QQ群》中，=实际群成员数/群成员数指标*100%</p>
                                            <p>10、当月数据显示：以当日凌晨0:10的数值显示，比如4月16日当天数据显示为4月16日凌晨0：00的数值，分析折线图不显示4月数值。</p>
                                            <p>11、所有统计数值，取次月1日凌晨0：10的数值定格保存。</p>
                                            <p>12、默认排序：按照城市重点系数进行降序排列(可以选择性的置顶显示某条记录)</p>
                                        </div>
                                    </div>
                                </div>
                                <table id="reset-table" class="table table-bordered table-hover dataTable no-footer" role="grid" >
                                    <thead class="thead1" style="width: 1710px;">
                                        <tr role="row">
                                            <th title="城市">城市</th>
                                            <th title="部门">部门</th>
                                            <th title="城市重点系数">城市重点系数</th>
                                            <th class="role-hide" title="品师长">品师长</th>
                                            <th class="role-hide" title="品团长">品团长</th>
                                            <th class="role-hide" title="品牌师">品牌师</th>
                                            <th class="role-hide" title="拓师长">拓师长</th>
                                            <th class="role-hide" title="拓团长">拓团长</th>
                                            <th class="role-hide" title="城市经理">城市经理</th>
                                            <th title="会员指标">会员指标</th>
                                            <th title="实际总会员数">实际总会员数</th>
                                            <th title="会员数完成率">会员数完成率</th>
                                            <th title="多倍会员数">多倍会员数</th>
                                            <th title="战略会员数">战略会员数</th>
                                            <th title="暂停会员数">暂停会员数</th>
                                            <th title="退费会员数">退费会员数</th>
                                            <th title="城市QQ群名称">城市QQ群名称</th>
                                            <th title="实际群成员数">实际群成员数</th>
                                            <th title="成员数完成率">成员数完成率</th>
                                        </tr>
                                    </thead>
                                    <thead class="thead2" style="width: 1710px;">
                                        <tr role="row">
                                            <th title="城市">城市</th>
                                            <th title="部门">部门</th>
                                            <th title="城市重点系数">城市重点系数</th>
                                            <th class="role-hide" title="品师长">品师长</th>
                                            <th class="role-hide" title="品团长">品团长</th>
                                            <th class="role-hide" title="品牌师">品牌师</th>
                                            <th class="role-hide" title="拓师长">拓师长</th>
                                            <th class="role-hide" title="拓团长">拓团长</th>
                                            <th class="role-hide" title="城市经理">城市经理</th>
                                            <th title="会员指标">会员指标</th>
                                            <th title="实际总会员数">实际总会员数</th>
                                            <th title="会员数完成率">会员数完成率</th>
                                            <th title="多倍会员数">多倍会员数</th>
                                            <th title="战略会员数">战略会员数</th>
                                            <th title="暂停会员数">暂停会员数</th>
                                            <th title="退费会员数">退费会员数</th>
                                            <th title="城市QQ群名称">城市QQ群名称</th>
                                            <th title="实际群成员数">实际群成员数</th>
                                            <th title="成员数完成率">成员数完成率</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <volist name="list" id="v">
                                        <tr role="row" class="odd">
                                            <td><span>{$v.city}</span><i class="fa fa-arrow-up paixu" title="置顶" data-id="{$v.id}"></i></td>
                                            <td><span><if condition="$v.dept EQ '1' ">商务<else />外销</if></span></td>
                                            <td><span>{$v.ratio}</span></td>
                                            <td class="role-hide"><span>{$v.brand_division|getSaleUserName}</span></td>
                                            <td class="role-hide"><span>{$v.brand_regiment|getSaleUserName}</span></td>
                                            <td class="role-hide"><span>{$v.brand_manage|getSaleUserName}</span></td>
                                            <td class="role-hide"><span>{$v.dev_division|getSaleUserName}</span></td>
                                            <td class="role-hide"><span>{$v.dev_regiment|getSaleUserName}</span></td>
                                            <td class="role-hide"><span>{$v.dev_manage|getSaleUserName}</span></td>
                                            <td><span>{$v.hyzb|default="-"}</span></td>
                                            <td><span>{$v.vipcnt}</span></td>
                                            <td><span>{$v.hywcl|default='0.0'} %</span></td>
                                            <td><span>{$v.doublecnt|default='0'}</span></td>
                                            <td><span>-</span></td>
                                            <td><span>{$v.pause|default='0'}</span></td>
                                            <td><span>{$v.refund|default='0'}</span></td>
                                            <td><span>{$v.qqname}</span></td>
                                            <td><span>{$v.qqpoint|default='0'}</span></td>
                                            <td><span>{$v.qqwcl|default='0.0'} %</span><input name="theid" value="{$v.id}" type="hidden"></td>
                                        </tr>
                                        </volist>
                                        <tr role="row" class="odd">
                                            <td><span>本页合计</span></td>
                                            <td><span>{$heji.dept|default="-"}</span></td>
                                            <td><span>{$heji.level|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_division|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_regiment|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_manage|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_division|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_regiment|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_manage|default="-"}</span></td>
                                            <td><span>{$heji.hyzb|default="-"}</span></td>
                                            <td><span>{$heji.vipcnt|default="0"}</span></td>
                                            <td><span>{$heji.hywcl|default="0.00%"}</span></td>
                                            <td><span>{$heji.doublecnt|default="0"}</span></td>
                                            <td><span>{$heji.zt|default="-"}</span></td>
                                            <td><span>{$heji.pause|default="0"}</span></td>
                                            <td><span>{$heji.refund|default="0"}</span></td>
                                            <td><span>{$heji.qqname|default="-"}</span></td>
                                            <td><span>{$heji.qqpoint|default='0'}</span></td>
                                            <td><span>{$heji.qqwcl|default='0.00%'}</span></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><span>本项合计</span></td>
                                            <td><span>{$total.dept|default="-"}</span></td>
                                            <td><span>{$total.level|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.brand_division|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.brand_regiment|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.brand_manage|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.dev_division|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.dev_regiment|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.dev_manage|default="-"}</span></td>
                                            <td><span>{$total.hyzb|default="-"}</span></td>
                                            <td><span>{$total.vipcnt|default="0"}</span></td>
                                            <td><span>{$total.hywcl|default="0.00%"}</span></td>
                                            <td><span>{$total.doublecnt|default="0"}</span></td>
                                            <td><span>{$total.zt|default="-"}</span></td>
                                            <td><span>{$total.pause|default="0"}</span></td>
                                            <td><span>{$total.refund|default="0"}</span></td>
                                            <td><span>{$total.qqname|default="-"}</span></td>
                                            <td><span>{$total.qqpoint|default='0'}</span></td>
                                            <td><span>{$total.qqwcl|default='0.00%'}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="city-list-pop">
                                    <volist name="list" id="v">
                                        <div>{$v.city}</div>
                                    </volist>
                                    <div>本项合计</div>
                                    <div>本页合计</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">{$page}</div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
	<script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
	<script src="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
	<script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
	<script type="text/javascript">
		$(function() {

			//填充帐号
            // $('#searchBox .managerList').html('<option value="">请选择</option><volist name="saleUsers" id="v"><option value="{$v.id}">{$v.name}</option></volist>');

            $('#exportExcel').on('click', function(){
                $('input[name="dl"]').val('1');
                $('#searchform').submit();
                $('input[name="dl"]').val('0');
            });


            {$info.cityinfo}
            {$info.deptinfo}
            {$info.manageinfo}

			// 注释信息
            $('.zhushi-icon').click(function() {
                if($(this).attr('show') == 'show'){
                    $('.zhushi-info').hide();
                    $(this).removeAttr('show')
                }else{
                    $('.zhushi-info').show();
                    $(this).attr('show','show');
                }
            });
            // 竖向滚动时，表格头部悬浮
            var x = 0,y = 0;
            $(document).on('scroll',function(){
                y = $(this).scrollTop();
                $('.city-list-pop').css({'top':386-y});
                if($(document).scrollTop() >= 321){
                    $('.thead1').show();
                    $('.thead2').css({'position':'fixed','top':0,'left':$('.sidebar').width()+26-x,'z-index':10});
                }else{
                    $('.thead1').hide();
                    $('.thead2').css({'position':'relative',left:0});
                }
            });
            // 横向滚动时，表格头部悬浮
            $('.overflow-x').on('scroll',function(){
                if($(this).scrollLeft()>130){
                    $('.city-list-pop').show();
                }else{
                    $('.city-list-pop').hide();
                }
                x = $(this).scrollLeft();
                $('.thead2').css({'left':$('.sidebar').width()+26-$(this).scrollLeft()});
                $('.city-list-pop').css({'left':$('.sidebar').width()});

            });
            // 岗位选择
            var arr =[0,1,2,3,4,5],
                allheight = 1710,
                selectLen = 0;
            $('.select-role-input input').on('click',function(){
                $('#reset-table tbody tr').each(function(index, el) {
                    for(var i = 0;i<arr.length;i++){
                        $(el).find('td').eq(arr[i]+3).hide();
                    }
                });
                for(var i = 0;i<arr.length;i++){
                    $('#reset-table .thead1 tr th').eq(arr[i]+3).hide();
                    $('#reset-table .thead2 tr th').eq(arr[i]+3).hide();
                }

                $('.overflow-box,#reset-table .thead1,#reset-table .thead2').width(1710);
                if($(this).prop('checked')){
                    $(this).attr('show','show');
                    selectLen = $('.select-role-input input[show="show"]').length;
                }else{
                    $(this).removeAttr('show');
                    selectLen = $('.select-role-input input[show="show"]').length;
                }
                $('.overflow-box,#reset-table .thead1,#reset-table .thead2').width(allheight + selectLen*130);

                $('.select-role-input input[show="show"]').each(function(index, el) {
                    if($(el).val() == '品师长'){
                         autoSelect(3);
                     }else if($(el).val() =='品团长'){
                         autoSelect(4);
                     }else if($(el).val() =='品牌师'){
                         autoSelect(5);
                     }else if($(el).val() =='拓师长'){
                         autoSelect(6);
                     }else if($(el).val() =='拓团长'){
                         autoSelect(7);
                     }else if($(el).val() =='城市经理'){
                         autoSelect(8);
                     }
                });
            });
            function autoSelect(num){
                $('#reset-table .thead1 tr th').eq(num).css('display','block');
                $('#reset-table .thead2 tr th').eq(num).css('display','block');
                $('#reset-table tbody tr').each(function(index, el) {
                    $(el).find('td').eq(num).show();
                });
            }
			// 时间选择
			$(".datepicker").datetimepicker({
				startView:3,
				minView:'decade',
				format:"yyyy-mm",
				autoclose:true,
				pickerPosition: "bottom-left"
			});
            //置顶
            $(".paixu").on('click',function(){
                var paixu = $(this).attr('data-id');
                $.ajax({
                    url: '/salesetting/ordernewpaixu/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id : paixu ,
                        type : 1
                    }
                })
                .done(function(data) {
                    if (data.success == 1) {
                        alert('置顶成功，刷新页面后生效！');
                    } else {
                        alert('操作失败，请稍后重试！');
                    }
                })
                .fail(function(xhr){
                    alert(xhr.responseText);
                });
            });
            

       	});
	</script>
</block>