<extend name="Main:baseTemplate" />
<block name="title">
    <title>会员分单量满足率 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/home/css/xs-gangwei.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <style type="text/css">table#reset-table thead tr th{line-height: 45px;}</style>
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="overflow-x">
                        <div class="overflow-box" style="width: 1710px;">
                            <div class="box-header">
                                <h3><i class="xs-icon gangwei-icon"></i> 会员分单量满足率</h3>
                                <form id="searchform" action="" method="get" class="form-horizontal">
                                    <div class="from-list" id="searchBox">
                                        <div style="width: 1400px;height: 45px;overflow: hidden;">
                                            <div class="from-item">
                                                <span>会员ID：</span>
                                                <input style="width: 130px;" name="user" placeholder="&nbsp;通过ID查询" value="{$search.user}">
                                            </div>
                                            <div class="from-item">
                                                <span>会员名称：</span>
                                                <input style="width: 130px;" name="user_name" placeholder="通过公司名称查询" value="{$search.user_name}">
                                            </div>
                                            <div class="from-item">
                                                <span>拓师长：</span>
                                                <select name="dev_division" class="managerList" id="dev_division">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.dev_division" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>拓团长：</span>
                                                <select name="dev_regiment" class="managerList"  id="dev_regiment">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.dev_regiment" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>城市经理：</span>
                                                <select name="dev_manage" class="managerList" id="dev_manage">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.dev_manage" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>

                                        <div style="width: 1400px;height: 45px;overflow: hidden;">
                                            <div class="from-item">
                                                <span>部门：</span>
                                                <select type="text" class="info-item" name="dept" id="dept">
                                                    <switch name="department">
                                                        <case value="0">
                                                            <option value="">请选择</option>
                                                            <option value="1">商务</option>
                                                            <option value="2">外销</option>
                                                        </case>
                                                        <case value="1">
                                                            <option value="">请选择</option>
                                                            <option value="1">商务</option>
                                                        </case>
                                                        <case value="2">
                                                            <option value="">请选择</option>
                                                            <option value="2">外销</option>
                                                        </case>
                                                    </switch>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>城市：</span>
                                                <select name="city" id="city">
                                                <option value="">请选择</option>
                                                <volist name="cityList" id="v">
                                                <option value="{$v.id}">{$v.city}</option>
                                                </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>品师长：</span>
                                                <select name="brand_division" class="managerList" id="brand_division">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.brand_division" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>品团长：</span>
                                                <select name="brand_regiment" class="managerList" id="brand_regiment">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.brand_regiment" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span>品牌师：</span>
                                                <select name="brand_manage" class="managerList" id="brand_manage">
                                                    <option value="">请选择</option>
                                                    <volist name="saleUsers.brand_manage" id="v">
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>

                                        <div style="width: 1400px;height: 45px;overflow: hidden;">
                                            <!-- <div class="from-item">
                                                <span>会员状态：</span>
                                                <select name="dev_manage" id="dev_manage">
                                                    <option value="">请选择</option>
                                                    <option value="0">有效</option>
                                                    <option value="1">暂停</option>
                                                    <option value="2">退费</option>
                                                    <option value="3">延期</option>
                                                    <option value="4">转让</option>
                                                    <option value="5">过期</option>
                                                </select>
                                            </div> -->
                                            <div class="from-item">
                                                <span>查询月份：</span>
                                                <input type="text" name="date" class="datepicker" style="width: 130px;border:1px #aaa solid" placeholder="选择月份" value="{$search.date}">
                                            </div>
                                            <div class="from-item" style="margin-left: 660px;">
                                                <button type="submit" class="search-btn xs-btn pull-right" style="margin: 0;margin-left: 114px;">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="select-role-input" style="margin-left: 25px;margin-top: 20px;">显示：
                                    品师长<input type="checkbox" value="品师长">
                                    品团长<input type="checkbox" value="品团长">
                                    品牌师<input type="checkbox" value="品牌师">
                                    拓师长<input type="checkbox" value="拓师长">
                                    拓团长<input type="checkbox" value="拓团长">
                                    城市经理<input type="checkbox" value="城市经理">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="todo-item">
                                    <div class="pull-right position-relative">
                                        <a href="/salesetting/downloadmodule?type=17&data=1" style="color: #FFF;"><button class="xs-btn hideLoading">导出Excel</button></a>
                                        <i class="xs-icon zhushi-icon"></i>
                                        <div class="zhushi-info">
                                            <p>1、本页数据以城市为唯一标识，其他数据均附属信息。本页数据来源为“销售系统设置”中内数据和后台提取数据</p>
                                            <p>2、搜索栏：</p>
                                            <p>2.1搜索栏中的“部门”选项包含商务，外销，营销中心三个选项，军长及以下员工登录，对应的员工显示对应的“部门”</p>
                                            <p>3 表格</p>
                                            <p>+置顶（鼠标悬浮在记录的城市上方时显示置顶按钮，点击置顶，则记录显示在首页的第一条）</p>
                                            <p>3.0表格默认显示20行数值，默认显示当日数据。默认“城市重点系数”降序</p>
                                            <p>3.1显示财年12行，每行代表1个月，2017财年为2017-02开始到2018-01，显示已过月份的数值，未来月数值为空，已过月份为空则说明数据源未导入。</p>
                                            <p>3.2数值取值：为数点后6位的，实际显示1位数（四舍五入）</p>
                                            <p>名词解释：（当月的数据：当月1日凌晨0.10到当日凌晨0:10，之前月数据：统计当月1日凌晨0.10到次月1日凌晨0：10）</p>
                                            <p>全月会员：当月合作天数≥20天。</p>
                                            <p>本页以会员取值</p>
                                            <p>2、计划月分单数：读取设置中的该会员的“计划月分单数”</p>
                                            <p>3、实际月分单数：实际累计月分单数</p>
                                            <p>4、时间进度比：当日日期/30天*100%</p>
                                            <p>5、分单满足率：实际月分单数/计划月分单数/时间进度比*100%</p>
                                            <p>6、当月数据显示：按照日期节点显示，未到日期节点不显示，显示以日期节点当日凌晨0:0</p><p>0的数值，比如4月16日当天数据显示为4月15日凌晨0：00的数值，不显示4月20日的数值。</p>
                                            <p>7、所有统计数值，取次月1日凌晨0：10的数值定格保存。</p>
                                            <p>8、本月缺单数：读取当月1日凌晨0：10到次月1日凌晨0：10的实际月份单数-相同时间的计划分单数，数值为正负整数。</p>
                                            <p>9、当前累计合作天数：当月1日-当日在合作的天数</p>
                                            <p>10、表格中列项的数值为访问页面角色管辖城市的合计数值，其中“XX率”为XX合计值/XX合计值*100%，角色对应的管辖城市由“销售管理系统”中“权限设置”获取。</p>
                                            <p>11、所有列项都以表内容中最大字节尺寸为标准尺寸（字体标准11号），所有的表格每列平均尺寸，不因为显示器大小，字体的变化而改变，如果出现文字较多的表头可最多分两行显示，或表头字体变小，表内容尺寸全部一致只显示一行，文字较多的表格往右延伸。比如，表内容名字“西门吹雪”，则所有的格子列项为四个字节大小。</p>
                                        </div>
                                    </div>
                                </div>
                                <table id="reset-table" class="table table-bordered table-hover dataTable no-footer" role="grid" >
                                    <thead class="thead1" style="width: 1710px;">
                                        <tr role="row">
                                            <th title="会员ID">会员ID</th>
                                            <th title="会员简称">会员简称</th>
                                            <th title="部门">部门</th>
                                            <th title="城市">城市</th>
                                            <th class="role-hide" title="品师长">品师长</th>
                                            <th class="role-hide" title="品团长">品团长</th>
                                            <th class="role-hide" title="品牌师">品牌师</th>
                                            <th class="role-hide" title="拓师长">拓师长</th>
                                            <th class="role-hide" title="拓团长">拓团长</th>
                                            <th class="role-hide" title="城市经理">城市经理</th>
                                            <th title="会员状态">会员状态</th>
                                            <th title="计划月分单数">计划月分单数</th>
                                            <th title="实际月分单数">实际月分单数</th>
                                            <th title="当前累计合作天数">当前累计合作天数</th>
                                            <th title="时间进度">时间进度</th>
                                            <th title="分单满足率">分单满足率</th>
                                            <th title="本月缺单数">本月缺单数</th>
                                            <th title="本次合同开始">本次合同开始</th>
                                            <th title="本次合同结束">本次合同结束</th>
                                        </tr>
                                    </thead>
                                    <thead class="thead2" style="width: 1710px;">
                                        <tr role="row">
                                            <th title="会员ID">会员ID</th>
                                            <th title="会员简称">会员简称</th>
                                            <th title="部门">部门</th>
                                            <th title="城市">城市</th>
                                            <th class="role-hide" title="品师长">品师长</th>
                                            <th class="role-hide" title="品团长">品团长</th>
                                            <th class="role-hide" title="品牌师">品牌师</th>
                                            <th class="role-hide" title="拓师长">拓师长</th>
                                            <th class="role-hide" title="拓团长">拓团长</th>
                                            <th class="role-hide" title="城市经理">城市经理</th>
                                            <th title="会员状态">会员状态</th>
                                            <th title="计划月分单数">计划月分单数</th>
                                            <th title="实际月分单数">实际月分单数</th>
                                            <th title="当前累计合作天数">当前累计合作天数</th>
                                            <th title="时间进度">时间进度</th>
                                            <th title="分单满足率">分单满足率</th>
                                            <th title="本月缺单数">本月缺单数</th>
                                            <th title="本次合同开始">本次合同开始</th>
                                            <th title="本次合同结束">本次合同结束</th>
                                        </tr>
                                    </thead>

                                    <tbody id="tableList">
                                        <volist name="list" id="v">
                                        <tr role="row" class="odd">
                                            <td><span>{$v.uid}</span></td>
                                            <td><span>{$v.jc}</span></td>
                                            <td><span><if condition="$v.dept EQ '1' ">商务<else />外销</if></span></td>
                                            <td><span>{$v.city}</span></td>
                                            <td class="role-hide"><span>{$v.brand_division}</span></td>
                                            <td class="role-hide"><span>{$v.brand_regiment}</span></td>
                                            <td class="role-hide"><span>{$v.brand_manage}</span></td>
                                            <td class="role-hide"><span>{$v.dev_division}</span></td>
                                            <td class="role-hide"><span>{$v.dev_regiment}</span></td>
                                            <td class="role-hide"><span>{$v.dev_manage}</span></td>
                                            <td><span>-</span></td>
                                            <td><span>{:number_format($v['planFendan'],1,'.','')}</span></td>
                                            <td><span>{$v.fendan|default="0"}</span></td>
                                            <td><span>{$v.coopDays|default="0"}</span></td>
                                            <td><span>{$v.timeProgress} %</span></td>
                                            <td><span>{$v.fdmzl} %</span></td>
                                            <td>{$v.byqds}</td>
                                            <td><span>{$v.allstart}</span></td>
                                            <td><span>{$v.allend}</span></td>
                                        </tr>
                                        </volist>
                                        <tr role="row" class="odd">
                                            <td><span>{$heji.uid}</span></td>
                                            <td><span>{$heji.jc}</span></td>
                                            <td><span>{$heji.dept}</span></td>
                                            <td><span>{$heji.city}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_division}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_regiment}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_manage}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_division}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_regiment}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_manage}</span></td>
                                            <td><span>-</span></td>
                                            <td><span>{:number_format($heji['planFendan'],1,'.','')}</span></td>
                                            <td><span>{$heji.fendan|default="0"}</span></td>
                                            <td><span>{$heji.coopDays|default="0"}</span></td>
                                            <td><span>{$heji.timeProgress} %</span></td>
                                            <td><span>{$heji.fdmzl} %</span></td>
                                            <td>{$heji.byqds}</td>
                                            <td><span>{$heji.allstart}</span></td>
                                            <td><span>{$heji.allend}</span></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><span>{$total.uid}</span></td>
                                            <td><span>{$total.jc}</span></td>
                                            <td><span>{$total.dept}</span></td>
                                            <td><span>{$total.city}</span></td>
                                            <td class="role-hide"><span>{$total.brand_division}</span></td>
                                            <td class="role-hide"><span>{$total.brand_regiment}</span></td>
                                            <td class="role-hide"><span>{$total.brand_manage}</span></td>
                                            <td class="role-hide"><span>{$total.dev_division}</span></td>
                                            <td class="role-hide"><span>{$total.dev_regiment}</span></td>
                                            <td class="role-hide"><span>{$total.dev_manage}</span></td>
                                            <td><span>-</span></td>
                                            <td><span>{:number_format($total['planFendan'],1,'.','')}</span></td>
                                            <td><span>{$total.fendan|default="0"}</span></td>
                                            <td><span>{$total.coopDays|default="0"}</span></td>
                                            <td><span>{$total.timeProgress} %</span></td>
                                            <td><span>{$total.fdmzl} %</span></td>
                                            <td>{$total.byqds}</td>
                                            <td><span>{$total.allstart}</span></td>
                                            <td><span>{$total.allend}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="city-list-pop">
                                    <volist name="list" id="v">
                                        <div>{$v.city}</div>
                                    </volist>
                                    <div>本项合计</div>
                                    <div>本页合计</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">{$page}</div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script charset="utf-8" src="{:C('168NEW_URL')}/assets/common/js/bootstrap.autocomplete.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function() {
            //填充帐号
            // $('#searchBox .managerList').html('<option value="">请选择</option><volist name="saleUsers" id="v"><option value="{$v.id}">{$v.name}</option></volist>');

            {$info.searchSelect}

            $("#dev_division").val({$search.dev_division});
            $("#dev_regiment").val({$search.dev_regiment});
            $("#dev_manage").val({$search.dev_manage});
            $("#city").val({$search.city});
            $("#dept").val({$search.dept});
            $("#brand_division").val({$search.brand_division});
            $("#brand_regiment").val({$search.brand_regiment});
            $("#brand_manage").val({$search.brand_manage});

            $(".datepicker").datetimepicker({
                startView:3,
                minView:'decade',
                format:"yyyy-mm",
                autoclose:true,
                pickerPosition: "bottom-left"
            });

            // 注释信息
            $('.zhushi-icon').click(function() {
                if($(this).attr('show') == 'show'){
                    $('.zhushi-info').hide();
                    $(this).removeAttr('show')
                }else{
                    $('.zhushi-info').show();
                    $(this).attr('show','show');
                }
            });
            // 竖向滚动时，表格头部悬浮
            var x = 0,y = 0;
            $(document).on('scroll',function(){
                y = $(this).scrollTop();
                $('.city-list-pop').css({'top':423-y});
                if($(document).scrollTop() >= 380){
                    $('.thead1').show();
                    $('.thead2').css({'position':'fixed','top':0,'left':$('.sidebar').width()+26-x,'z-index':10});
                }else{
                    $('.thead1').hide();
                    $('.thead2').css({'position':'relative','left':0});
                }
            });
            // 横向滚动时，表格头部悬浮
            $('.overflow-x').on('scroll',function(){
                if($(this).scrollLeft()>130){
                    $('.city-list-pop').show();
                }else{
                    $('.city-list-pop').hide();
                }
                x = $(this).scrollLeft();
                $('.thead2').css({'left':$('.sidebar').width()+26-$(this).scrollLeft()});
                $('.city-list-pop').css({'left':$('.sidebar').width()});

            });
            // 岗位选择
            var arr =[0,1,2,3,4,5],
                allheight = 1710,
                selectLen = 0;
            $('.select-role-input input').on('click',function(){
                $('#reset-table tbody tr').each(function(index, el) {
                    for(var i = 0;i<arr.length;i++){
                        $(el).find('td').eq(arr[i]+4).hide();
                    }
                });
                for(var i = 0;i<arr.length;i++){
                    $('#reset-table .thead1 tr th').eq(arr[i]+4).hide();
                    $('#reset-table .thead2 tr th').eq(arr[i]+4).hide();
                }

                $('.overflow-box,#reset-table .thead1,#reset-table .thead2').width(1710);
                if($(this).prop('checked')){
                    $(this).attr('show','show');
                    selectLen = $('.select-role-input input[show="show"]').length;
                }else{
                    $(this).removeAttr('show');
                    selectLen = $('.select-role-input input[show="show"]').length;
                }
                $('.overflow-box,#reset-table .thead1,#reset-table .thead2').width(allheight + selectLen*130);

                $('.select-role-input input[show="show"]').each(function(index, el) {
                    if($(el).val() == '品师长'){
                         autoSelect(4);
                     }else if($(el).val() =='品团长'){
                         autoSelect(5);
                     }else if($(el).val() =='品牌师'){
                         autoSelect(6);
                     }else if($(el).val() =='拓师长'){
                         autoSelect(7);
                     }else if($(el).val() =='拓团长'){
                         autoSelect(8);
                     }else if($(el).val() =='城市经理'){
                         autoSelect(9);
                     }
                });
            });
            function autoSelect(num){
                $('#reset-table .thead1 tr th').eq(num).css('display','block');
                $('#reset-table .thead2 tr th').eq(num).css('display','block');
                $('#reset-table tbody tr').each(function(index, el) {
                    $(el).find('td').eq(num).show();
                });
            }

        })
    </script>
</block>