::-moz-placeholder { color: #999; font-family: "Microsoft Yahei"; }
::-webkit-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }
:-ms-input-placeholder { color:#999; font-family: "Microsoft Yahei"; }

.clearfix{margin-bottom: 45px;}
.smalltitle .hotcaidan{color: #ff5353 !important;}
.disclamer-line{margin-top: 0 !important;}
a:hover{color: #ff5353 !important;}
.fg_left{width: 270px;height: auto;float: left;overflow: hidden;}
.fg_left .leftitemwk{border: 1px solid #eee;width: 268px;height: auto;}
.leftitemwk .bigtitle{
    background: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;}
.leftitemwk .bigtitle p{
	display: inline-block;
	width: 87px;
    background: url(/assets/home/zixun/img/zhunavbj02.png) no-repeat center bottom;
    position: relative;
    text-align: center;
    bottom: -1px;margin-left: 20px;font-size: 16px;
}
.leftitemwk .smalltitle{overflow: hidden;margin-left: 35px;padding: 10px 0;}
.leftitemwk .smalltitle li{font-size: 14px;height: 40px;line-height: 40px;}

.mianfbaojia{width: 100%;height: auto;background: #f5f5f5;overflow: hidden;margin-top: 30px;color: #333;padding-bottom: 25px;}
.mianfbaojia .mianfbaojia_title{font-size: 20px;color: #333;font-weight: bold;text-align: center;margin-top: 27px;}
.mianfbaojia .fubiaoti{font-size: 14px;color: #333;text-align: center;margin-top: 10px;}
.mianfbaojia .fadanmid{width: 230px;margin:auto;overflow: hidden;margin-top: 24px;}
.fadanmid .fadanmid_hang{overflow: hidden;}
.fadanmid_hang select{width: 110px;height: 35px;float: left;color: #333;}
.fadanmid_hang select.citycs{margin-right: 10px;}
.tishixx{height: 18px;line-height: 18px;font-size: 12px;color: #ff5353;}
.fadanmid_hang input{width: 230px;height: 35px;line-height: 35px;text-indent: 0.5em;font-size: 14px;}
.fadanmid .lijisqniu{width: 100%;height: 35px;line-height: 35px;text-align: center;color: #fff;font-size: 14px;
background: #ff5353;outline: none;cursor: pointer;}
.fadanmid .fdfoot{width: 100%;font-size: 14px;color: #333;margin-top: 22px;}
.fdfoot .lefcount{display: inline-block;float: left;}
.fdfoot .lefcount span{color: #ff5353;}
.fdfoot .rigzhineng{color: #ff5353;display: inline-block;float: right;}

.htocompany{width: 268px;height: auto;overflow: hidden;margin-top: 30px;border: 1px solid #eee;}
.htocompany .htocompany_title{width: 100%;height: 40px;background: #e6e6e6;color: #333;font-size: 16px;
line-height: 40px;}
.htocompany_title .gongsttlef{float: left;margin-left: 10px;}
.htocompany_title .gongsttrig{float: right;color: #999;font-size: 14px;margin-right: 10px;}
.htocompany .sortcompany{overflow: hidden;}
.sortcompany li{border-bottom: 1px solid #e6e6e6;text-align: center;padding-top: 20px;}
.sortcompany li .logoshow{width: 126px;height: 63px;overflow: hidden;margin:auto;}
.sortcompany li .logoshow img{width: 100%;height: 100%;}
.sortcompany li .gongname{text-align: center;font-size: 14px;color: #333;margin-top: 14px;}
.titlehot{color: #ff5353;}
.sortcompany li .zhuanshiwk{overflow: hidden;vertical-align:middle;margin-top: 10px;margin-bottom: 15px;}
.zhuanshiwk .zhuanshi01{width: 16px;height: 15px;display: inline-block;}
.zhuanshiwk .zhuanshi02{width: 16px;height: 15px;display: inline-block;margin-left: 5px;}

.hotanli{width: 268px;height: auto;overflow: hidden;margin-top: 30px;border: 1px solid #eee;}
.hotanli .hotanli_title{width: 100%;height: 40px;background: #e6e6e6;color: #333;font-size: 16px;
line-height: 40px;}
 .hotanli_title .anlilef{float: left;margin-left: 10px;}
 .hotanli_title .anlirit{float: right;color: #999;font-size: 14px;margin-right: 10px;}
.hotanli .anliulwk{overflow: hidden;}
.hotanli .anliulwk li{padding: 16px;width: 236px;height: auto;}
.hotanli .anliulwk li a{overflow: hidden;}
.hotanli .anliulwk li .anlitupianwk{width: 236px;height: 177px;overflow: hidden;position: relative;}
.hotanli .anliulwk li img{width: 100%;height: 100%;}
.anliulwk li .anlifootms{position: absolute;bottom: 0;left: 0;height: 30px;line-height: 30px;
width: 100%;background: rgba(0,0,0,0.7);color: #fff;font-size: 14px;text-indent:0.5em;background: #000\0;
filter:alpha(opacity=70)\0;}


.fg_right{width: 880px;float: left;margin-left: 30px;overflow: hidden;}
.bread{font-size: 12px;}

.fg_right .nojieguo{overflow: hidden;}
.nojieguo .nopicwk{text-align: center;margin-top: 110px;margin-bottom: 50px;}
.nojieguo .nopicwk img{width: 200px;height: 200px;}
.nojieguo .nopicwk .noshujvms{font-size: 18px;color: #333;text-align: center;}

.fg_right .itemwaik{overflow: hidden;margin-top: -30px;}
.fg_right .fg_right_item{overflow: hidden;border-bottom: 1px solid #eee;padding: 30px 0;}
.fg_right_item .tuwenpic{display: inline-block;float: left;width: 200px;height: 172px;overflow: hidden;position: relative;}
.tuwenpic .tuijianlg{    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 21px;
    line-height: 21px;
    color: #fff;
    font-size: 12px;
    background: url(/assets/home/zixun/img/recommendbj.png) no-repeat;
    display: inline-block;
    text-align: center;}
.tuwenpic img{width: 100%;height: 100%;}
.fg_right_item .tuwenmswk{width: 660px;float: right;}
.tuwenmswk .tuwen_title{
     font-size: 24px;
    font-weight: normal;
    margin-top: 0px;
    font-family: "Microsoft YaHei";color: #656565;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tuwenmswk .tuwen_fubms{height: 68px;overflow: hidden;font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #656565;
    margin-top: 20px;}
 .tuwenmswk .tuwen_guanggaoms{
 	height: 45px;overflow: hidden;font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #656565;
    margin-top: 20px;
 }
.tuwenmswk .tuwen_bottom{overflow: hidden;font-size: 15px;color: #999;margin-top: 33px;}
.tuwen_bottom .lookleft{display: inline-block;float: left;}
.lookleft .fa-eye{margin-right: 5px;}
.tuwen_bottom .time_right{display: inline-block;float: right;}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity:0.8;
    filter:alpha(opacity=80);
    background: black;
    z-index: 99999;
    display: none;
}
.fd-success{
    width: 634px;
    height: 432px;
    border-radius: 10px;
    border: 10px solid #ffe6d2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -216px;
    margin-left: -317px;
    z-index: 999999;
    background: #fff;
    display: none;
}
.fd-success .close {
    width: 39px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    background: url(/assets/common/img/guanbianniu.png) no-repeat !important;
    position: absolute;
    right: 10px;
    top: -66px;
}
.fd-success .tjcgbt{font-size: 26px;text-align: center;}
.fd-success .tjcgbt2{text-align: center;font-size: 22px;color: #FF5353;font-weight:bold;letter-spacing: 1px;margin-top:50px;}
.fd-success .tjcgbt2 span{color: #ff5353;}
.fd-success .erweima1{width: 100%;height: auto;overflow: hidden;margin-top:15px;position: relative;}
.fd-success .erweima1 .weima{float: left;width: 175px;height: 174px;display: inline-block;}
.fd-success .erweima1 .meinvts{float: right;width: 212px;height: 160px;display: inline-block;position: relative;top: 7px;}
.fd-success .erweima1 .fd-tips{ position: absolute; width: 180px; height: 140px; top: 17px; right: 5px; z-index: 99; font-size: 14px;}
.fd-success .erweima1 .fd-tips p{ color: #666; line-height: 28px; }
.fd-success .erweima1 .fd-tips p i{ margin-right: 5px; color: #FF5353;}
.hotactive{color: #ff5353 !important;}
