/*报价表单修改·*/
.f_t_box h3 i{
    color: #dd6b1d;
}
.wrap .breads{
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
}
.wrap .breads li{
    float: left;
    margin-right: 10px;
    display: inline;
    height: 20px;
}
/*右边*/
.gl_fixed {
    top: -30px;
    position: fixed;
    margin-left: 950px;
}
#Q-nav {
    z-index: 999;
    width: 260px;
    float: right;
    margin-top: 55px;
}
/*S-表单*/
.gl_box_form{
    width: 258px;
    height: auto;
    background: #FFD181;
    overflow: hidden;
    position: relative;
}
.gl_box_form .gl_item{
    padding: 0;
    width: 258px;
}
.gl_box_form .gl_item .gl_t{
    text-align: center;
    font-size: 15px;
    font-family: microsoft yahei;
    padding: 15px 0 5px;
}
.gl_box_form .gl_item .gl_t span{
    display: block;
    color: #A94200;
    font-weight: 600;
    font-size: 15px;
}
.gl_box_form .gl_item .gl_t span i{
    color: #FE5552;
}
.gl_box_form .gl_t_box{
    padding: 0 15px;
}
.gl_box_form .gl_t_box .inputs,
.gl_vb
{
    margin-bottom: 10px;
    background: inherit;
    color: #FFF;
    height: 35px;
    font-size: 12px;
}
.gl_t_box .inputs input[type=text] {
    height: 33px;
    border: 1px solid #DAD9D7;
    width: 221px;
    padding-left: 5px;
    color: #666;color: #666;
}
.gl_t_box .inputs select {
    color: #000;;
    height: 33px;
    padding: 5px;
    width: 228px;
    border: 1px solid #DAD9D7;
    float: left;color: #666;
}


.gl_t_box .inputs input[type=text].focus,.gl_t_box .inputs select.focus{
    border-color:#dd6b1d; background: #EDEDED;
}

.gl_vb select{
    width: 108px;
    margin-bottom: 10px;
    height: 35px;
    color: #666;
    font-size: 12px;
    border: 1px solid #DAD9D7;
}
.gl_right{
    float: right !important;
}

.gl_t_box button {
    width: 228px;
    height: 35px;
    background-color: #FF7A01;
    color: #fff;
    border-radius: 5px;
    font-family: SimHei;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
/*E—表单结束*/
/*S-更多标签*/
.gl_biaoqian{
    width: 256px;
    border: 1px solid #E5E5E5;
    margin: 20px 0;
}
.gl_ess_tle{
    font-size: 19px;
    padding: 5px 10px 5px 15px;
    display: inline-block;
    width: 100%;
    font-family: SimHei;
}
.gl_biaoqian ul{
    margin-bottom: 5px;
}
.gl_biaoqian ul li{
    float: left;
    width: 100%;
    color: #ABABAB;
    text-align: center;
    line-height: 22px;
    padding: 5px;
}
.gl_biaoqian ul li a{
    float: left;
    margin-right: 5px;
}
/*E—更多标签结束*/

/*左边部分*/
.right-sider{
    width: 930px;
    position: relative;
}
.right-sider .main{
    width: 928px;
    border: 1px solid #E3E3E3;
    margin: 20px 0;
}
.right-sider .main .gl_tle{
    padding: 14px 15px 5px 15px;
}
.right-sider .main .gl_tle h1{
    font-size: 32px;
    font-weight: bold;
    color: #333;
    font-family: Microsoft Yahei;
}
.right-sider .main .gl_tm{
    padding-left: 15px;
    height: 32px;
}
.right-sider .main .gl_tm span{
    display: inline-block;
    float: left;
    color: #8d8d8d;
    margin-right: 25px;
}
.right-sider .main .gl_tm .gl_fx{
    display: inline-block;
    margin-left: -15px;
    margin-top: -3px;
}
.right-sider .main .gl_tm .gl_d{
    float: right;
    margin-right: 15px;
}
.right-sider .main .gl_tm .gl_xh,
.right-sider .main .gl_tm .gl_sc{
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0px;
    margin-top: -10px;
}
.right-sider .main .gl_tm .gl_xh{
    color: #FF7170;
    border: 1px solid #FF7170;
}
.right-sider .main .gl_tm .gl_xh:hover,.right-sider .main .gl_tm .gl_xh.active{
    background-color: #FF7170;
    color: #fff;
}
.right-sider .main .gl_tb{
    margin: 0 15px;
    height: 23px;
    border-bottom: 1px dashed #CBCBCB;
}
.right-sider .main .gl_tb span{
    font-size: 13px;
}
.right-sider .main .gl_tb span a{
    font-weight: 800;
}
.gl_f_left{
    float: left;
}
.gl_f_right{
    float: right;
}

.sp_hf{
    height: 120px;
    width: 930px;
    margin-bottom: 20px;
}
.sp_hf img{
    width: 100%;
    height: 100%;
}
/*更多评论*/
.pl_more p{
    text-align: right;
    color: #666;
    font-size: 14px;
    font-family: Microsoft Yahei;
    cursor: pointer;
}

/*内链字体颜色*/
.works_p a{
    color: #dc4146;
}
.inlink-word-color{
    color: #dc4146;
}