
/*报价表单修改·*/
.f_t_box h3 i{
    color: #dd6b1d;
}
.mb15{
    margin-bottom: 15px !important;
}
.gl_essay{
    width: 256px;
    border: 1px solid #E5E5E5;
    margin: 20px 0;
}

.gl_essay ul{
    margin: -5px 0 5px 17px;
}

.gl_essay  li{
    color: #666666;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gl_essay .icon_point {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    border-radius: 2px;
    background: #989898;
}

.right-sider .main .gl_tm .gl_sc{
    color: #FEC56E;
    border: 1px solid#FEC56E;
    margin-left: 8px;

}
.right-sider .main .gl_tm .gl_sc:hover,.right-sider .main .gl_tm .gl_sc.active{
    color: #fff;
    background-color: #FFC46D;
}
.gl_works{
   text-align: center;
}
.works_p{
    margin: 0 15px;
    font-size: 16px;
    text-align: left;
}
.in25{
    text-indent: 25px;
}
.gl_works p{
    text-align: left;
    color: #333;
    line-height: 28px;
    margin-bottom: 10px;
}
.gl_works p img{
    margin: auto;
    display: block;
}
.gl_works .p1{
    width: 873px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    color: #666666;
}
.gl_works .gl_tupian{
    width: 620px;
    height: 417px;
    display: inline-block;
}
.gl_works .gl_tupian img{
    width: 100%;
    height: 100%;
}
.gl_works .p2{
    margin-top: 40px;
}
.gl_tb{
    border:none !important;
}
.gl_uls .hk{
    padding: 15px 0 10px 15px;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    font-family: Microsoft Yahei;
}
.gl_uls .gl_wz a{
    float: left;
    margin-left: 20px;
    color: #666666;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    width: 30%;
}
.gl_uls .gl_wz span:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #666666;
    position: absolute;
    top: 8px;
    left: -9px;
    border-radius: 4px;
}
.gl_uls .gl_wz a + a{

}

.works_subtitle { padding: 16px 15px 0; font-family: Microsoft Yahei; }
.works_subtitle p{border-bottom: 1px solid #e6e6e6; padding-bottom: 10px; font-size: 14px; font-style: italic; color: #8d8d8d; text-align: left; margin-bottom: 20px;}


