.wrap .breads {
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
}
.wrap .breads li {
    float: left;
    margin-right: 10px;
    display: inline;
    height: 20px;
}

.xj_main{
    width: 1210px;
    height: 415px;
    overflow: hidden;
    margin-top: 5px;
    position: relative;
}
.xj_main img{
    width: 100%;

}
.xj_main .e_bg_flt {
    position: absolute;
    left: 25%;
    top: 63px;
    width: 600px;
    height: 270px;
    border: 10px solid rgba(255,255,255,0.7);
}
.xj_main .e_bg_flt .e_flt_inf {
    width: 580px;
    margin-left: 8px;
    height: 255px;
    margin-top: 8px;
    text-align: center;
    background-color: rgba(255,255,255,.7);
}
.xj_main .e_bg_flt .e_flt_inf h1 {
    font-size: 40px;
    padding-top: 40px;
}
.xj_main .e_bg_flt .e_flt_inf .txt-p {
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;
    font-family: SimHei;
}
.xj_main  .e_bg_flt .e_flt_inf .e_flt_txt {
    border-top: 1px solid #000;
    width: 505px;
    font-size: 13px;
    display: inline-block;
}
.xj_main .e_bg_flt .e_flt_inf .e_flt_txt p {
    padding-top: 25px;
    width: 378px;
    display: inline-block;
}

.xj_step{
position: relative;
}
.xj_title{
    position: relative;
    margin-top: 40px;
    font-size: 30px;
    font-family: SimHei;
}
.xj_title h2{
    margin-left: 25px;
}
.xj_title:before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 0;
    background-color: #F3AF30;
    border-radius: 10px;
}
.xj_title:after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 25px;
    left: 0;
    background-color: #FD565D;
    border-radius: 10px;
}
.xj_box{
   position: relative;
}
.xj_box .xj_b1{
    width: 592px;
    height: 173px;
}
.xj_box .xj_b1 {
    width: 592px;
    float: left;
    height: 185px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    border: 1px solid #E3E3E3;
}
.xj_box .xj_b1:before{
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: -1px;
    width: 27px;
    height: 3px;
    background-color: #FF565D;
}
.xj_box .xj_b1:after{
    content: "";
    display: inline-block;
    width: 3px;
    height: 27px;
    background-color: #FF565D;
    position: absolute;
    right: -1px;
    top: 0;
}
.xj_box .xj_b1:hover{
    box-shadow: 3px 4px 6px #B7B5B6;
}
.xj_box .xj_b1 a p{
    padding: 12px 0 20px 20px;
    font-size: 17px;
    color: #000;
    font-family: SimHei;
    font-weight: 500;
    position: relative;
}
.xj_box .xj_b1 a p:before{
    content: "";
    display: inline-block;
    width: 30px;
    background-color: #CCCCCC;
    height: 2px;
    position: absolute;
    top: 60px;
}
.xj_box .xj_b1 span{
    display: inline-block;
    width: 347px;
    padding: 20px;
    color: #666666;
}
.xj_box .xj_b2{
    display: inline-block;
    width: 200px;
    height: 156px;
    top: 15px;
    right: 15px;
    position: absolute;
}
.xj_box .xj_b2 img{
    width: 100%;
    height: 100%;
}
.xj_hf{
    width: 1210px;
    margin-top: 30px;
    height: 130px;
}
.xj_hf img{
    width: 100%;
    height: 100%;
}

/*底部轮播*/
.designer{
    width: 1210px;
    float: left;
    padding: 10px 0;
    margin-bottom: 30px;
}
.scroll-img {
    width: 1111px;
    height: 235px;
    overflow: hidden;
    font-size: 0;
    margin: 0 50px;
}
.scroll-img ul {
    width: 900px;
    height: 600px;
    margin: 0
}
.scroll-img ul li {
    height: 150px;
    display: inline-block;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #DDD;
}
.scroll-img ul li:hover{
    box-shadow: 3px 4px 6px #B7B5B6;
}
.scroll-img ul li a.comp-name{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
}
.scroll-img ul li span i{ float:right; font-style:normal;font-size:12px; padding-right:10px}
.scroll-img ul li img{
    width: 163px;
    height: 115px;
}
#disigner.scroll-img ul {width: 3000px;}
#disigner-btn {width: 960px;}
.text-center{ position:relative; height:0; width:100%}
#disigner-backward{
    position: absolute;
    background: url(../img/bannerBtn.png) left rgba(0,0,0,0.4);
    width: 40px;
    height: 88px;
    top: -195px;
    cursor: pointer;
}
#disigner-forward{
    background: url(../img/bannerBtn.png) right rgba(0,0,0,0.4);
    right: -250px;
    position: absolute;
    width: 40px;
    height: 88px;
    top: -195px;
    cursor: pointer;
    border-radius: 2px;
}


