
body{ min-width:1210px; position:relative; height:100vh}
/*清除浮动*/
.gl_fixed {
    top: -30px;
    position: fixed;
    margin-left: 950px;
}
#Q-nav {
    width: 260px;
    float: right;
    margin-top: 40px;
}

.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.wrap .breads{
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
}
.wrap .breads li{
    float: left;
    margin-right: 10px;
    display: inline;
    height: 20px;
}
/*热门专题页，视频标题页公共部分*/
 .lingqu{
    width: 250px;
    height: 120px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px dotted #ccc;
    background-color: #fff;
    border-radius: 6px;

}
 .lingqu .lq-text{
    width: 230px;
    margin-top: 9px;
    display: inline-block;
}
 .lingqu .lq-text img{
    width: 100%;
}
 .lingqu a{
    width: 48px;
    height: 48px;
    display: inline-block;
}
 .lingqu a img{
    width: 100%;
}
/*报价表单修改·*/
.f_t_box h3 i{
    color: #dd6b1d;
}
/*头部轮播*/
.right-sider{
    width: 930px;
    margin-top: 6px;
}
.right-sider .main{ position:relative; width: 930px;}
.all{
    width:  930px;
    height: 345px;
    position: relative;
}
.all ul{ position:relative; z-index:1;}
.all ul li{
    position: absolute;
    width:  930px;
    height: 340px;
    left: 0;
    display: inline-block;
    top: 0;
}
.all ul li img{
    width: 100%;
    height: 100%;
}
.all ul .current{ z-index:10;}

.all ol{
    position: absolute;
    bottom: 14px;
    left: 45%;
    z-index: 2;
}
.all ol li{
    width: 12px;
    height: 12px;
    float: left;
    border-radius: 12px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    background-color: #CBCBCB;
}
.all ol .current{background: #FD565D;}
.all span{ width:40px; height:70px;
    background:url(/assets/home/zixun/img/arr.png) 0 0; position:absolute; left:0; top:50%;
    margin-top:-35px; z-index:11; cursor:pointer;}
.all .right{ left:auto; right:0; background-position:right 0;}
.all ul li .e_bg_flt {
    position: absolute;
    left: 20%;
    top: 17px;
    width: 557px;
    height: 270px;
    border: 10px solid rgba(255,255,255,0.7);
}
.all ul li .e_bg_flt .e_flt_inf{
    width: 540px;
    margin-left: 8px;
    height: 255px;
    margin-top: 8px;
    text-align: center;
    background-color: rgba(255,255,255,.7);
}
.all ul li .e_bg_flt .e_flt_inf h1{
    font-size: 40px;
    padding-top: 40px;
}
.all ul li .e_bg_flt .e_flt_inf .txt-p{
    font-size: 24px;
    color: #000;
    padding-bottom: 15px;
    font-family: SimHei;
}
.all ul li .e_bg_flt .e_flt_inf .e_flt_txt{
    border-top: 1px solid #000;
    width: 505px;
    font-size: 13px;
    display: inline-block;
}
.all ul li .e_bg_flt .e_flt_inf  .e_flt_txt p{
    padding-top: 25px;
    width: 378px;
    display: inline-block;
}


.gl_home .home_title{
    position: relative;
    margin-top: 50px;
}
.gl_home .home_title:before{
    content: "";
    display: inline-block;
    width: 370px;
    height: 1px;
    background-color: #999999;
    position: absolute;
    top: 30px;

}
.gl_home .home_title:after{
    content: "";
    display: inline-block;
    width: 303px;
    margin-right: 67px;
    height: 1px;
    background-color: #999999;
    position: absolute;
    top: 30px;
    right: 0;
}
.gl_home .home_title .title_name{
    text-align: center;
}
.gl_home .home_title .title_name:before{
    content: "";
    position: absolute;
    left: 346px;
    top: 8px;
    border-top: 0;
    transform: rotate(450deg);
    border-bottom: transparent 15px solid;
    border-right: 32px solid #999999;
    border-left: 0;
}
.gl_home .home_title .title_name:after{
    content: "";
    position: absolute;
    right: 355px;
    top: -1px;
    border-top: 0;
    transform: rotate(-180deg);
    border-bottom: transparent 32px solid;
    border-right: 15px solid #999999;
    border-left: 0;
}

.gl_home .home_title .title_name span{
    width: 190px;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 30px;
    font-family: "黑体";
    position: relative;
    border: 1px solid #999999;
}
.gl_home .home_title .title_name span:after{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 3px;
}
.gl_home .home_title .title_name span:before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 3px;
}
.gl_home .home_title .title_name .mores{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20px;
}

.home_img_box{
    margin-top: 20px;
    width: 930px;
    display: inline-block;
    position: relative;
}
.home_img_box .home_left{
    float: left;
    height: 440px;
    width: 440px;
    border: 1px solid #D4D4D4;
}
.home_img_box .home_left .home_img{
    width: 440px;
    height: 310px;
    display: inline-block;
}
.home_img_box .home_left .home_img img{
    width: 100%;
    height: 100%;
}

.home_img_box .home_left .home_txt{
     margin-top: 10px;
     text-align: center;
}
.home_img_box .home_left .home_txt span.h1{
    text-align: center;
    font-size: 22px;
}

.home_img_box .home_left .home_txt p{
    padding: 10px;
    color: #666666;
    text-align: left;
}
.home_img_box .home_right{
    float: left;
    width: 468px;
    margin-left: 18px;
    height: 440px;
}
.home_img_box .home_right .home_sug{
    display: inline-block;
    width: 220px;
    height: 210px;
    margin-right: 12px;
}
.home_img_box .home_right .home_sug:hover{
    color: #000;
    opacity: .7;
    box-shadow: 3px 4px 6px #B7B5B6;
}
.home_img_box .home_right .home_sug a:hover{
    color:#000;
}
.home_img_box .home_right .home_r1{
    height: 172px;
    width: 220px;
}
.home_img_box .home_right .home_r1 img{
    width: 100%;
    height: 100%;
}
.home_img_box .home_right .home_t2{
    text-align: center;
    line-height: 36px;
    font-size: 13px;
    height: 36px;
    border: 1px solid #D4D4D4;
    border-top: none;
}
/*底部轮播*/
.designer{
    width: 930px;
    float: left;
    padding: 10px 0;
    margin-bottom: 30px;
}
.scroll-img {
    width: 833px;
    height: 180px;
    overflow: hidden;
    font-size: 0;
    padding: 0 45px;
}
.scroll-img ul {
    width: 900px;
    height: 600px;
    margin: 0
}
.scroll-img ul li {
    height: 133px;
    font-size: 1px;
    display: inline-block;
    margin: 8px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #DDD;
}
.scroll-img ul li:hover a{
    color:#dc4146;
}
.scroll-img ul li a.comp-name{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    font-size: 14px;
    text-align: center;
    display: block;
    line-height: 28px;
    height: 28px;
}
.scroll-img ul li span i{ float:right; font-style:normal;font-size:12px; padding-right:10px}
.scroll-img ul li img{
    width: 150px;
    height: 106px;}
#disigner.scroll-img ul {width: 3000px;}
#disigner-btn {width: 960px;}
.text-center{ position:relative; height:0; width:100%}
#disigner-backward{
    position: absolute;
    background: url(/assets/home/zixun/img/bannerBtn.png) left rgba(0,0,0,0.4);
    width: 40px;
    height: 88px;
    top: -153px;
    cursor: pointer;
}
#disigner-forward{
    position: absolute;
    background: url(/assets/home/zixun/img/bannerBtn.png) right rgba(0,0,0,0.4);
    width: 40px;
    height: 88px;
    top: -153px;
    right: 30px;
    cursor: pointer;
}
.footer{
    z-index: -1;
}


























