
/*弹窗·*/
.wrap-posi { position: relative; }
.zb_footer_box1 { position: fixed; left: 0; bottom: 0; width: 100%; height: 230px; z-index: 10001; display: none; }
.zb_footer_box1 .zb_footer_bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.7; filter: alpha(opacity=70); }
.zb_footer_box1 .zb_l_bg2 { position: absolute; left: 0px; top: -29px; width: 450px; height: 239px; background: url(/assets/home/zixun/img/tanchuang1.png) no-repeat; }
.zb_footer_box1 .zb_m_container { position: absolute; padding: 0 20px; right: 250px; top: 0; width: 660px; height: 230px; background: #1C2837; color:#fff }
.zb_footer_box1 .zb_m_container p{ clear:both}
.zb_footer_box1 .zb_m_container:before{ content:""; position:absolute; left:-30px; border-top:0; border-bottom:transparent 230px solid; border-right:30px solid #1C2837; border-left:0}
.zb_footer_box1 .zb_m_container:after{ content:""; position:absolute; right:-30px; border-bottom:0; border-top:transparent 230px solid; border-left:30px solid #1C2837; border-right:0; top:0}
.zb_footer_box1 .zb_m_container .zb_m_tit { color: #FFF; font-size: 18px; padding: 15px 0; letter-spacing: 2px; font-weight: 400; text-align: center; font-family: microsoft yahei; }
.zb_footer_box1 .zb_m_container .zb_m_tit p { font-size: 23px; }
.zb_footer_box1 .zb_m_container .zb_m_tit span { font-size: 15px; display: block; }
.zb_footer_box1 .zb_m_container .zb_m_tit span a { color: #ff5353; }
.zb_footer_box1 .zb_m_container .zb_m_input { padding: 10px 0; text-align: center; color: #666; }
.zb_footer_box1 .zb_m_container .zb_m_input >* { display: inline-block;  *display:inline;
    vertical-align: top; }
.zb_footer_box1 .zb_m_container .zb_m_input input[type=text] { color: #666; border: 1px solid #FFF; height: 33px; padding-left: 5px; width: 185px; line-height: 35px; }
.zb_footer_box1 .zb_m_container .zb_m_input button { width: 80px; height: 35px; cursor: pointer; text-align: center; background: #FF8400; font-size: 16px; font-weight: bold; color: #fff; border: none; margin-left: 9px; border-radius: 11px; }
.zb_footer_box1 .zb_close { position: absolute; cursor: pointer; right: 0px; top: 10px; background: url(/assets/home/zixun/img/close.png) no-repeat; width: 44px; height: 42px; }
.zb_footer_box_little { display: none; width: 155px; height: 215px; position: fixed; left: -155px; bottom: 0px; cursor: pointer; }
.zb-leftsider{width:248px; float:left;margin-top: 25px}
.zb-rightsider{ margin-top: 35px; width:280px; float:right}
.zb-rightsider dt{ font-size:14px;font-family: "Microsoft Yahei"; margin-top:10px; padding-bottom:10px}
.zb-rightsider dt em{ color:#ff5659; padding:0 5px}
.zb-rightsider dt a{
    display: inline-block;
    width: 73px;
    height: 20px;
    background-color: #FF8400;
    margin-left: 15px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}
.zb-rightsider dd{ line-height:43px; float:left; width:50%}
.zb-userlength{ font-size:14px; margin-top:10px; padding-bottom:10px}
.zb-userlength em{ color:#ff5659}
.zb_m_container_edit li{ height:36px; position:relative; margin-bottom:10px}
.zb_m_container_edit li span{ color:#999; position:absolute; right:10px; line-height:36px }
.zb_m_container_edit li input{ height:36px; border:1px solid #ddd; box-sizing:border-box; padding: 5px; width:248px}

.bj_btn{ background:url(/assets/home/zixun/img/button1.png) no-repeat; width:73px; height:68px; border:0; cursor:pointer; margin-top:90px; margin-left:20px; float:left}
.bj_btn:focus{ outline:none}
.bj_btn:hover{ background:url(/assets/home/zixun/img/button2.png) no-repeat;}
.s-p{position: relative;height: 50px;display: none;margin-top: 178px;}


