.wrap .breads{
    display: inline-block;
    margin-top: 12px;
    font-size: 12px;
}
.wrap .breads li{
    float: left;
    margin-right: 10px;
    display: inline;
    height: 20px;
}
.saomang{
   /* position: relative;
    z-index: -1;*/
}
.saomang:after{clear: both; content: ""; display: block;}
.saomang .saomang_title{
    width: 928px;
    height: 60px;
    border-bottom: 2px solid #EAEAEA;
}
.saomang .saomang_title h1{
    height: 60px;
    line-height: 70px;
    font-size: 30px;
    font-family: SimHei;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #FF565D;
}
.saomang .saomang_title h1:before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 2px solid transparent;
    border-left-color: #FF565D;
    border-bottom-color: #FF565D;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    background-color: #fff;
    bottom: -9px;
    left: 53px;
}

.saomang_main .saomang_box{
    margin: 20px 0px;
    width: 928px;
    height: 218px;
    background-color: #F0F0F0;
}
.saomang_main .saomang_box .saomang_img{
    width: 245px;
    height: 190px;
    float: left;
    padding: 14px 20px;
}

 .saomang_box .saomang_img img{
    width: 100%;
    height: 100%;
}
 .saomang_box .saomang_bt{
     float: left;
     display: inline-block;
     width: 630px;
     padding: 40px 0;
}
.saomang_main .saomang_box .saomang_bt h3{
    font-size: 24px;
    color: #000;
    height: 40px;
    border-bottom: 1px dashed #CCCCCC;
}
.saomang_main .saomang_box .saomang_bt h3:hover{
    color:#FF565D;
}
.saomang_main .saomang_box .saomang_bt a:hover +p a{
    color:#FF565D;
}
.saomang_main .saomang_box .saomang_bt p{
    color: #666666;
    font-size: 13px;
    margin-top: 10px;
}
.saomang_main .saomang_box .saomang_bt span{
    color: #666666;
    margin-top: 30px;
    font-size: 14px;
    display: inline-block;
}
.saomang_main .saomang_hf{
    margin: 20px 30px;
    width: 1150px;
    height: 120px;
}
.saomang_main .saomang_hf .hf_l{
    float: left;
    width: 49.1%;
    height: 120px;
}
.saomang_main .saomang_hf .hf_r{
    float: left;
    width: 49.1%;
    margin-left: 20px;
    height: 120px;
}
.saomang_main .saomang_hf img{
    width: 100%;
    height: 100%;
}
.saomang_fenye{
    margin: 35px 0 50px 0;
}
.footer{
    z-index: -1;
}

.saomang .fg-ad img{margin: 20px 0;  width: 928px;}

.tuijian-wrap{width:258px;height:346px;border:1px solid #d7d7d7;margin-top:20px;}
.tuijian{margin:0 auto;padding:20px 20px 10px 20px;}
.tuijian-line{width:243px;height:1px;border-bottom:1px solid #d7d7d7;margin:0 auto}
.tuijian-list{margin:0 auto;padding:10px 20px 10px 20px;text-align:left;font-size:14px;line-height:27px;}
.tuijian-list p:hover{color:#ff8589;}
