.bread{font-size: 12px;margin-bottom: 0;}
.fl{float: left;}
.fr{float: right;}
.mt30{margin-top: 30px;}
.mt5{margin-top: 5px;}
.no-border{border:0 !important;}

/*banner img stylesheet*/
.special-banner{width: 1210px;height: 415px;overflow: hidden;}
.special-tit{width: 1210px;height: 30px;margin-top: 47px;margin-bottom: 22px;line-height: 30px;}
.special-point{float: left;margin-right: 16px;}
.special-point li{width: 10px;height: 10px;border-radius: 50%;}
.special-point .point-yellow{background-color: #f3fa30;margin-bottom: 5px;}
.special-point .point-red{background-color: #fd5353;}
.tit-text{color: #333;font-size: 30px;line-height: 27px;}

.special-text-part{width: 100%;height: auto;background-color: #357366;border: 14px solid #d6892f;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	box-shadow: inset 0 0 10px 10px #1c6355;
	-webkit-box-shadow: inset 0 0 10px 10px #1c6355;
	-moz-box-shadow: inset 0 0 10px 10px #1c6355;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow: hidden;
}
.special-text-part p{margin: 34px 26px;font-size: 16px;color: #fff;line-height: 28px;}

.special-text-bottom{width: 100%;height: 32px;border-bottom: 1px solid #603d15;}
.text-bottom-box{width: 70px;height: 100%;background-color: #724c1f;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.text-bottom-box:first-child{margin-left: 266px;}
.text-bottom-box:last-child{margin-right: 266px;}

/*special-imgs-list stylesheet*/
.special-imgs{height: 332px;overflow: hidden;}
.imgs-big{width: 412px;height: 332px;float: left;margin-right: 20px;overflow: hidden;}
.imgs-list{}
.imgs-list .imgs-item{width: 246px;height: 156px;float: left;margin-right:20px;margin-bottom: 20px;overflow: hidden;}
.imgs-big , .imgs-item{position: relative;}
.imgs-big img, .imgs-item img{width: 100%; height: 100%;}
.imgs-list .imgs-item:nth-child(3), .imgs-list .imgs-item:nth-child(6){margin-right: 0;}
.imgs-big .imgs-tit{width: 100%;height: 52px;background:rgba(0, 0, 0, .5);display:block;position: absolute;left: 0;bottom: 0;line-height: 52px;color: #fff;font-size: 18px;text-align: center;}
.imgs-list .imgs-item .imgs-tit{width: 100%;height: 34px;background:rgba(0, 0, 0, .5);display:block;position: absolute;left: 0;bottom: 0;line-height: 34px;color: #fff;font-size: 14px;text-align: center;}
.imgs-big .imgs-tit a, .imgs-item .imgs-tit a{color: #fff;margin:0 5px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.imgs-big .imgs-tit a, .imgs-item .imgs-tit a:hover{color: #fff;}

/*special-article module1 stylesheet*/
.special-article{height: 240px;overflow: hidden;}
.article-main{float: left;margin-right: 26px;overflow: hidden;}
.article-main .imgs-item{width: 270px;height: 240px;margin-right: 20px;float: left;overflow: hidden;}
.article-main .imgs-item .imgs-tit{width: 100%;height: 42px;background:rgba(0, 0, 0, .5);display:block;position: absolute;left: 0;bottom: 0;line-height: 42px;color: #fff;font-size: 16px;text-align: center;}
.article-list{width: 288px;float: left;}
.article-item{margin-bottom: 44px;}
.article-tit{color: #333;font-size: 18px;line-height: 18px;margin-bottom: 10px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.article-item p{color: #999;font-size: 12px;line-height: 20px;}
.article-item p a{color: #ff5353;}
.xj_hf{margin-top: 50px;}

/*special-article module2 stylesheet*/
.special-article2{height: 332px;}
.article2-item{width: 226px;height: 332px;float: left;border: 1px solid #ccc;margin-right: 20px;}
.article2-item:last-child{margin: 0;}
.article2-item-con{margin: 10px;}
.article2-item .imgs-item{width: 204px;height: 156px;}
.article2-info{margin-top: 20px;}
.article2-info .article-tit{margin-bottom: 10px;}

/*special-article module3 stylesheet*/
.special-article3{height: 373px;}
.article3-item {width: 595px;height: 176px;float: left;border: 1px solid #ccc;margin-right: 20px;margin-bottom: 20px;}
.article3-item-con{margin:20px 20px 20px 10px;}
.article3-item .imgs-item{width: 230px;height: 134px;float: left;margin-right: 20px;overflow: hidden;}
.article3-item:nth-child(even){margin: 0;}
.article-style p{color: #999;font-size: 12px;line-height: 20px;}
.article-style p a{color: #ff5353;}
.article-style{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.article-style:hover{
	box-shadow: 0 0 8px 2px #ccc;
	-webkit-box-shadow: 0 0 8px 2px #ccc;
	-moz-box-shadow: 0 0 8px 2px #ccc;
}
.imgs-item img{width: 100%;height: 100%;}
/*special-wenda module stylesheet*/
.special-wenda{height: 409px;overflow: hidden;position: relative;}
.wenda-item{width: 345px;height: 94px;float: left;overflow: hidden;margin-right: 80px;margin-bottom: 20px;padding-bottom: 28px;border-bottom: 1px solid #ccc;}
.wenda-icon{width: 24px;height: 22px;display: inline-block;margin-right: 10px;float: left;
    background: url(http://www.qizuang.com/assets/home/zixun/img/ask-list.png) no-repeat;
}
.wenda-item:nth-child(3),.wenda-item:nth-child(6),.wenda-item:nth-child(9){margin-right: 0;}
.wenda-info .wenda-icon{background-position: 0 -22px;}
.wenda-info p{width: 310px;float: left;line-height: 20px;}
.special-wenda::before{content: '';width: 1px;height: 408px;background-color: #ccc;position: absolute;top: 0;left: 385px;}
.special-wenda::after{content: '';width: 1px;height: 408px;background-color: #ccc;position: absolute;top: 0;left: 810px;}


/*special-video module stylesheet*/

.special-video{overflow: hidden;}
.video-item{width: 226px;}
.video-item .imgs-item{width: 226px;height: 146px;overflow: hidden;position: relative;cursor: pointer;}
.video-item .imgs-item::before{content: '';width: 46px;height: 46px;background-color: rgba(0,0,0,.5);display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: absolute;
	margin: auto; left: 0;top: 0;right: 0;bottom: 0;
	background: -webkit-radial-gradient(rgba(204,204,204,.6), rgba(51,51,51,.6), rgba(0,0,0,.6)); /* Safari 5.1 - 6.0 */
	background: -moz-radial-gradient(rgba(204,204,204,.6), rgba(51,51,51,.6), rgba(0,0,0,.6)); /* Firefox 3.6 - 15 */
	background: radial-gradient(rgba(204,204,204,.6), rgba(51,51,51,.6), rgba(0,0,0,.6)); /* 标准的语法 */

}
.video-item:hover .imgs-item::before{
	background: -webkit-radial-gradient(rgba(102,102,102,.9) 10%, rgba(51,51,51,.9) 55%, rgba(0,0,0,.9) 100%); /* Safari 5.1 - 6.0 */
	background: -moz-radial-gradient(rgba(102,102,102,.9) 10%, rgba(51,51,51,.9) 55%, rgba(0,0,0,.9) 100%); /* Firefox 3.6 - 15 */
	background: radial-gradient(rgba(102,102,102,.9) 10%, rgba(51,51,51,.9) 55%, rgba(0,0,0,.9) 100%); /* 标准的语法 */
}
.video-item .imgs-item::after{content: '';width: 0;height: 0;display: block;
    border-top: 9px solid transparent;
    border-left: 16px solid rgba(255,255,255,.9);
    border-bottom: 9px solid transparent;
	position: absolute;
	margin: auto; left: 5px;top: 0;right: 0;bottom: 0;
}
.video-item{float: left;margin-right: 20px;}
.video-item:last-child{margin-right: 0;}
.video-item .video-tit{text-align: center;}
.video-item .video-tit a{font-size: 14px;color: #9a9a9a;line-height: 25px;}

/*special-more module stylesheet*/
.special-more{width: 1210px;height: 148px;}
.special-more-con{margin-top: -20px;}
.special-more .imgs-item{width: 1080px;height: 180px;margin: 0 auto;overflow: hidden;}
.special-more .imgs-item ul{width: 3000px;}
.special-more .imgs-item li{width: 163px;height: 148px;float: left;margin-top:20px;margin-right: 20px;overflow: hidden;border: 1px solid #ccc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.special-more .imgs-item li:hover{
	box-shadow: 0 0 8px 2px #ccc;
	-webkit-box-shadow: 0 0 8px 2px #ccc;
	-moz-box-shadow: 0 0 8px 2px #ccc;
}
.special-more .imgs-item li a.article-tit{font-size: 14px;text-align: center;line-height: 20px;}
.special-btn{position: relative;}
.special-backward {
    position: absolute;
    background: url(../img/bannerBtn.png) left rgba(0,0,0,0.4);
    width: 40px;
    height: 88px;
    top: -130px;
    cursor: pointer;
}
.special-forward {
    background: url(../img/bannerBtn.png) right rgba(0,0,0,0.4);
    right: 0;
    position: absolute;
    width: 40px;
    height: 88px;
    top: -130px;
    cursor: pointer;
    border-radius: 2px;
}

