<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="{$keys.keywords}">
        <meta name="description" content="{$keys.description}">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>{$keys.title}-{$title}</title>
        <include file="Index:resource" />
        <include file="Home:resource" />
        <link rel="stylesheet" href="{$static_host}/assets/user/home/css/ht-info.css?v={:C('STATIC_VERSION')}"/>
        <link href="{$static_host}/assets/common/js/baidu/css/upload.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
        <link href="{$static_host}/assets/user/companyinfo/css/businesslicenc.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet"  href="{$static_host}/assets/user/companyinfo/css/zoom.css?v={:C('STATIC_VERSION')}" media="all" />
        <link rel="stylesheet" href="{$static_host}/assets/user/comment/font/font-awesome.min.css?v={:C('STATIC_VERSION')}">
    </head>
    <body>
        <include file="Home:header" />
        <div class="ht-wrap oflow ht-relative">
            <include file="Home:comnavleft" />
            <include file="Companyinfo:tab_header" />
            <div class="ht-main">
                <div class="c-fend-tit">
                证件图片：营业执照<span>*此项为必上传项</span>
                </div>
                <if condition="$info['child']['1']['step'] EQ 3">
                <div class="c-comp-img1">
                    <ul class="img-list">
                        <volist name="info.child.1.child" id="vo">
                        <li>
                            <div class="audited">审核通过</div>
                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo}">
                        </li>
                        </volist>
                        <li>
                            <button type="button" class="img-remove" title="删除营业执照图片" data-type="1">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <elseif condition="$info['child']['1']['step'] EQ 4"/>
                <div class="c-comp-img1">
                    <ul class="img-list">
                        <volist name="info.child.1.child" id="vo">
                        <li>
                            <div class="audited">审核不通过</div>
                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo}">
                        </li>
                        </volist>
                        <li>
                            <button type="button" class="img-remove" title="删除营业执照图片" data-type="1">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <elseif condition="$info['child']['1']['step'] EQ 1"/>
                <div class="c-comp-img1">
                    <ul class="img-list">
                        <volist name="info.child.1.child" id="vo">
                        <li>
                            <div class="audited">审核中</div>
                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo}">
                        </li>
                        </volist>
                    </ul>
                </div>
                <else/>
                <div class="c-comp-img1">
                    <div id="uploader" class="uploader" data-data='{$img_list}'></div>
                    <span class="waring-info block">（最多上传4张图片，每张图片小于3M）</span>
                    <div class="c-comp-up-btn">
                        <div id="chose1"></div>
                    </div>
                </div>
                </if>
                <input type="hidden" name="imgs1" data-state="{$info.child.1.state}" value="{$info['child']['1']['images']}"/>
                <if condition="$info['child']['3']['step'] EQ 3">
                <div class="c-comp-img3">
                    <div class="c-fend-tit">装修资质</div>
                    <ul class="img-list">
                        <volist name="info.child.3.child" id="vo">
                        <li>
                            <div class="audited">审核通过</div>
                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo}">
                        </li>
                        </volist>
                        <li>
                            <button type="button" class="img-remove" title="删除装修资质图片" data-type="3">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <elseif condition="$info['child']['3']['step'] EQ 4"/>
                <div class="c-comp-img3">
                    <div class="c-fend-tit">装修资质</div>
                    <ul class="img-list">
                        <volist name="info.child.3.child" id="vo">
                        <li>
                            <div class="audited">审核不通过</div>
                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo}">
                        </li>
                        </volist>
                        <li>
                            <button type="button" class="img-remove" title="删除装修资质图片" data-type="3">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <elseif condition="$info['child']['3']['step'] EQ 1"/>
                <div class="c-comp-img3">
                    <div class="c-fend-tit">装修资质</div>
                    <ul class="img-list">
                        <volist name="info.child.3.child" id="vo">
                        <li>
                            <div class="audited">审核中</div>
                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo}">
                        </li>
                        </volist>
                    </ul>
                </div>
                <else/>
                <div class="c-comp-img3">
                    <div class="c-fend-tit">装修资质</div>
                    <div id="uploader" class="uploader" data-data='{$img_list}'></div>
                    <span class="waring-info block">（最多上传4张图片，每张图片小于3M）</span>
                    <div class="c-comp-up-btn">
                        <div id="chose3"></div>
                    </div>
                </div>
                </if>
                <input type="hidden" name="imgs3" data-state="{$info.child.3.state}"  value="{$info['child']['3']['images']}"/>
                <if condition="$info['isSave'] EQ 1">
                <div class="btn-save-wrap">
                    <button id="btnSave" class="btn-save" type="button">提交</button>
                    <i class="red err-tips " style="margin-left: 0;"></i>
                </div>
                </if>
            </div>
        </div>
        <include file="Index:footer" />
        <script type="text/javascript" src="{$static_host}/assets/common/js/baidu/uploader/dist/webuploader.js?v={:C('STATIC_VERSION')}"></script>
        <script charset="utf-8" src="{$static_host}/assets/common/js/baidu/uploader/businessimg.js?v={:C('STATIC_VERSION')}"></script>
        <script type="text/javascript">
            $(function() {
                //加载图片上传控件
                $(".c-comp-img1").uploader({
                    host: "{:C('QINIU_DOMAIN')}",
                    old_host: "{:C('STATIC_HOST1')}",
                    server: "/uploader/",
                    pick:{
                        id:"#chose1",
                        multiple: true
                    },
                    accept: {
		                title: "Images",
		                extensions: 'gif,jpg,jpeg,bmp,png'
		            },
                    drag: false,
                    fileNumLimit: 4,
                    threads: 4,
                    prefix: "yyzz",
                    formData: {
                        prefix: "yyzz"
                    },
                    callback: function(res,file,uploader) {
                        if (res.status == 1) {
                            var ids = $("input[name=imgs1]").val();
                            ids += res.data.key+",";
                            $("input[name=imgs1]").val(ids);
                            file.imgPath = res.data.key;
                        }else if (res.status == 99){
                            var ids = $("input[name=imgs1]").val();
                            ids = ids.replace(file.imgPath+",","");
                            $("input[name=imgs1]").val(ids);
                        }
                    }
                });
                $(".c-comp-img2").uploader({
                    host: "{:C('QINIU_DOMAIN')}",
                    old_host: "{:C('STATIC_HOST1')}",
                    server: "/uploader/",
                    pick:{
                        id:"#chose2",
                        multiple: true
                    },
                    accept: {
		                title: "Images",
		                extensions: 'gif,jpg,jpeg,bmp,png'
		            },
                    drag: false,
                    fileNumLimit: 4,
                    threads: 4,
                    prefix: "yyzz",
                    formData: {
                        prefix: "yyzz"
                    },
                    callback: function(res,file,uploader) {
                        if (res.status == 1) {
                            var ids = $("input[name=imgs2]").val();
                            ids += res.data.key+",";
                            $("input[name=imgs2]").val(ids);
                            file.imgPath = res.data.key;
                        }else if (res.status == 99){
                            var ids = $("input[name=imgs2]").val();
                            ids = ids.replace(file.imgPath+",","");
                            $("input[name=imgs2]").val(ids);
                        }
                    }
                });
                $(".c-comp-img3").uploader({
                    host: "{:C('QINIU_DOMAIN')}",
                    old_host: "{:C('STATIC_HOST1')}",
                    server: "/uploader/",
                    pick:{
                        id:"#chose3",
                        multiple: true
                    },
                    accept: {
		                title: "Images",
		                extensions: 'gif,jpg,jpeg,bmp,png'
		            },
                    drag: false,
                    fileNumLimit: 4,
                    threads: 4,
                    prefix: "yyzz",
                    formData: {
                        prefix: "yyzz"
                    },
                    callback: function(res,file,uploader) {
                        if (res.status == 1) {
                            var ids = $("input[name=imgs3]").val();
                            ids += res.data.key+",";
                            $("input[name=imgs3]").val(ids);
                            file.imgPath = res.data.key;
                        }else if (res.status == 99){
                            var ids = $("input[name=imgs3]").val();
                            ids = ids.replace(file.imgPath+",","");
                            $("input[name=imgs3]").val(ids);
                        }
                    }
                });

                //点击保存后触发的事件
                $(".btn-save").click(function(event) {
                    if ($("input[name=imgs1]").val() == "") {
                        $(".err-tips").html("请上传营业执照！");
                        return false;
                    }
                    var data = new Array();
                    data.push({"name":"img1","value":$("input[name=imgs1]").val()});
                    data.push({"name":"img2","value":$("input[name=imgs2]").val()});
                    data.push({"name":"img3","value":$("input[name=imgs3]").val()});

                    data.push({"name":"img_state1","value":$("input[name=imgs1]").attr("data-state")});
                    data.push({"name":"img_state2","value":$("input[name=imgs2]").attr("data-state")});
                    data.push({"name":"img_state3","value":$("input[name=imgs3]").attr("data-state")});

                    $.ajax({
                        url: '/info/businesslicence/',
                        type: 'POST',
                        dataType: 'json',
                        data: data
                    })
                    .done(function(data) {
                        if (data.status == 1) {
                            window.location.href = window.location.href;
                        } else {
                           $(".err-tips").html(data.info);
                        }
                    })
                    .fail(function() {
                        $(".err-tips").html("网络传输异常,请稍后再试！");
                    });
                });
            });

            $(".img-remove").click(function(event) {
                if (confirm("删除后您将重新需要上传并审核，是否确认?")) {
                    var _this = $(this);
                    $.ajax({
                        url: '/info/delbusinesslicence/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {type: _this.attr("data-type")}
                    })
                    .done(function(data) {
                        if (data.status == 1) {
                            window.location.href = window.location.href;
                        } else {
                           $(".err-tips").html(data.info);
                        }
                    })
                    .fail(function() {
                         $(".err-tips").html("网络传输异常,请稍后再试！");
                    });
                }
            });
        </script>
    </body>
</html>