/*
* @Author: qz_xsc
* @Date:   2017-08-21 09:33:30
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-08-22 15:54:14
*/
*{padding:0px;margin:0px;}
ul li{list-style: none;}
.search-list{
    padding:15px 15px 0 15px;
}
.list-header{border-top:2px solid #d2d6de;border-bottom:1px solid #d2d6de; text-align: center;}
.list-body{text-align: center;}
.alginLeft{text-align: left;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.alginCenter{text-align: center;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.delete{color: red;cursor: pointer;font-weight: bold;}
.delete:hover{opacity: 0.6}
.operation a{font-weight: bold;padding:5px;}
.enable{font-size: 26px; }
.enable a{color:#199ED8;}
.icon-img img{width:70%; margin:0 auto;}
.list-body ul li{line-height: 82px;padding:15px 0px; border-top:1px solid #d2d6de;}

.list-body ul .row{margin:0px;}
.fa{cursor: pointer;}
.confirm{
    width:439px;height:172px; border:1px solid rgba(204, 204, 204, 1); position: fixed;display: none; z-index: 99;
    margin:auto;left:0px;right: 0px;top:0px;bottom:0px;background: white;padding:15px;
}
.confirm p{overflow: hidden; font-weight: bold;font-size:18px;}
.confirm p span{float: left;}
.confirm p i{float: right}
.confirm-content{
    line-height: 80px; padding-left: 10px;
}
.button-box{text-align: right;}
.button-box button{border:1px solid rgba(121, 121, 121, 1); border-radius: 5px;background: none;padding:3px 12px;margin:5px;outline: none;}
.input-item{

}
.must{color: red;padding:2px;}
.upload{
   overflow: hidden;
}
.img-box {
    border:1px solid #d2d6de;min-width:260px;min-height:292px; float: left;
}
.img-box img{width:750px;height:292px;}
#chose-img{width:780px;border-radius: 5px;color: white; line-height: 35px; cursor: pointer;position: relative;}
#chose-img input{background: none;border:none;position: absolute;left:0px;top:0px;opacity: 0;}
.file-preview-frame{width:750px;height:292px;}
#chose-img:hover{opacity: 0.8}
.input-item{padding-left: 15px;margin-bottom: 15px;}
.input-item-title{font-weight: bold;line-height: 40px;}
.input-body input[name='content']{
    width:60%;height:37px;padding-left: 8px;
}
.input-body input[name='order']{
    width:130px;height:37px;text-align: center;
}
.input-body input[type='radio']{
    padding:5px;
}
select{
    width:250px; height:37px;
}
select option{
    height: 37px;height:150px;
}
input[name='inputAddr']{
    height: 37px;width:calc(60% - 310px);padding-left: 8px;
}
.btn{margin-right:50px;}
.save{background: #169BD5}
.error{color: red;padding-left:10px;}
