
.fl{
  float: left;
}
.fr{
  float: right;
}
.tar{
  text-align: right;
}
.tal{
  text-align: left;
}

.m-fadan-content{
  position: relative;
  background: #fafafa;
}

.m-img-box img {
  width: 100%;
  height: auto;
}
.box{
  margin: 0 22px;
  border: 1px solid #dedee0;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: -10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.form-title .znbj{
  height: 0.3rem;
  margin: 0 auto;
  margin-top: 0.12rem;
  text-align: center;
  font-size: 0.14rem;
  position: relative;
  font-weight: normal;

}
.money-main{
  background: #D1D1D1;
  height: 0.51rem;
  padding: 0.04rem;
  border-radius: 10px;
  margin: 0 8px;
  margin-top: 10px;
  overflow: hidden;
}
.money-img{
  margin: 0;
  height: 0.45rem;
  border: 3px solid #000;
  border-radius: 5px;
  background:rgba(209,209,209,1);
  box-shadow: 5px 5px 5px #999 inset;
}
.money-box{
  border: none;
  margin-top: 0;
  position: relative;
  top: 9px;
  margin: 0 22px;
  margin-right: 10px;
}
.money-box span{
  color: #333333;
  display: inline-block;
  margin-top: 16px;
  margin-right: 6px;
  margin-left: 2px;
}
.m-bj-edit li .m-row-int1 {
  background: #EBEBEB;
  border-radius: 5px !important;
  font-size: 14px;
  text-indent: 1em;
}
.m-bj-edit li span.sort {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 10px;
  height: 10px;
}
.m-bj-edit li span.sort img {
  width: 100%;
}
.num{
  width: 24px;
  height: 36px;
  background: url(/assets/mobile/baojia/img/num-pic.png) no-repeat;
  /*background-size: 100%;*/
  float: left;
  margin-right: 2px;
  margin-top: 0;
}
.num-gray{background-position: -24px -14px !important;}
.num-0{background-position: -55px -14px !important;}
.num-1{background-position: -88px -14px !important;}
.num-2{background-position: -117px -14px !important;}
.num-3{background-position: -146px -14px !important;}
.num-4{background-position: -177px -14px !important;}
.num-5{background-position: -206px -14px !important;}
.num-6{background-position: -238px -14px !important;}
.num-7{background-position: -268px -14px !important;}
.num-8{background-position: -296px -14px !important;}
.num-9{background-position: -329px -14px !important;}
.baomi{text-align: center;color: #999;font-size: 12px;margin-bottom: 10px;}
.home-style {
  height: 0.5rem;
  padding-left: 0.2rem;
  margin-top: 0.1rem;
}
.home-style span {
  display: block;
  float: left;
  width: 33%;
  font-size: 14px;
  line-height: 14px;
  margin: 4px auto;
  overflow: hidden;
}
.t1 {
  text-indent: 0.3em;
}
.mt20 {
  margin-top: 26px;
}
.s-title{
  height: 0.3rem;
  margin: 0 auto;
  margin-top: 0.12rem;
  text-align: center;
  font-size: 0.14rem;
  position: relative;
  font-weight: bold;
  color: #333;
}
.lunbo-banner {
  width: 90%;
  padding-bottom: 30px;
}
.swiper-slide img {
  width: 100%;
  height: 1.5rem;
}
.w33 {
  width: 33.33%;
  float: left;
}
.w33 .img {
  position: relative;
  height: 80px;
}
.w33 .img img {
  display: block;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.orange {
  color: #F1B941;
}
.text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #666;
}
.ljjs {
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 5px;
}
.m-info {
  position: absolute;
  top: 0%;
  left: 0;
  background: rgba(0,0,0,.35);
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.m-info .address {
  margin-top: 0.3rem;
}
.m-info .address .img {
  width: 12px;
}
.m-info .address span {
  display: inline-block;
  height: 14px;
  margin-right: 5px;
}
.m-info .address span img {
  display: block;
  width: 100%;
  height: 100%;
}
.mj {
  margin-top: 0.1rem;

}
.jiage {
  margin-top: 0.1rem;
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border-radius: 20px;
  background: rgba(255,255,255,.3);
  margin-left: 0.75rem;
  /* font-weight: bold; */
  font-size: 24px;
}

.choose-box {
  width: 80%;
  background: #fff;
  position: fixed;
  top: 25%;
  left: 10%;
  border: 1px solid #eee;
  border-radius: 3px;
  z-index: 999;
  display: none;
}
.w25 {
  width: 25%;
  float: left;
}
.style {
  text-align: center;
  margin-bottom: 10px;
}
.s-num {
  padding-left: 30%;
}
.s-num li {
  width: 25px;
  height: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sure button {
  width: 1rem;
  height: 0.25rem;
  color: #fff;
  background: #F53E3E;
  outline: none;
  border: none;
  margin-left: 0.85rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  border-radius: 20px;
}
.s-num li.active {
  background: #FFCCCC;
  color: #F53E3E;
  border: 1px solid #FFCCCC;
}

}

/*报价详情*/
.rel{
    position: relative;
}
.price-detail-caption{
    color: #FFBE55;
    font-weight: bold;
    margin: 0.06rem;
}
.price-detail-box{
    padding: 0 0.08rem 0.08rem;
}
.price-detail-box .bd1{
    border-bottom: 1px solid #666;
}
.price-detail{
    width: 100%;
    border:1px solid #666;
    border-right: none;
    border-bottom: none;
    text-align: center;
}
.price-detail th, .price-detail td{
    line-height: 2.5;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}
.price-detail-tips{
    line-height: 2.5;
    color: #999;
    text-align: center;
}
.slogan-box{
    padding: 0.06rem 0.18rem;
}
.slogan-box .r{
    float: right;
}
.slogan-box .l{
    float: left;
}
.slogan{
    width: 45%;
    padding: 0.04rem;
    background-color: white;
    border-radius: 0.04rem;
}
.slogan .bdr{
    border:1px dashed #FFBE55;
    border-radius: 0.04rem;
    padding: 0.04rem;
}
.slogan .text{
    width: 50%;
    font-weight: bold;
    text-align: left;
    font-size: 0.135rem;
}
.slogan .yellow{
    color: #FFBE55;
}
.total-price{
    position: absolute;
    bottom: 0.05rem;
    left: 0.05rem;
    font-size: 0.16rem;
    font-weight: bold;
}
.bg {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background:rgba(191,191,191,1);
  opacity: 1;
}
.swiper-pagination-bullet {
  background: #fff;
  border-color: #BFBFBF;
  opacity: 1;
  border: 1px solid #BFBFBF;
  width: 6px;
  height: 6px;
}
.m-b-btn {
  border-radius: 5px;
  background: #F53E3E;
}
.m-bj-edit li .c-zb-city {
  text-indent:0.5em;
  color: #333!important;
}