<extend name="Main:baseTemplate" />
<block name="title">
    <title>在线客服数据统计-控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
    <link href="/assets/common/phpexcel/phpexcel.css?v={:C('STATIC_VERSION')}" rel="stylesheet">
    <link href="/assets/common/phpexcel/handsontable.full.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/dataTables/dataTables.bootstrap.min.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <section class="content-header">
        <h1>在线客服数据统计</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info" aria-label="Left Align">按人统计</button>
                                <a type="button" class="btn btn-default" aria-label="Center Align" href="/order/countadorderday/">每日汇总</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">条件查询</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal" method="GET" action="/order/countadorder/">
                                <div class="col-xs-2">
                                    客服:<br/>
                                     <select id="user" name="kfname" class="select2">
                                        <option value="">请选择客服</option>
                                        <volist name="zhuanfaren" id="v">
                                            <option value="{$v.name}" <if condition="$thing['kfname'] eq $v['name']">selected="selected"</if>>{$v.name}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    开始时间:<br/>
                                    <input type="text" name="start" class="form-control datepicker" placeholder="开始时间" value="{$thing['start']}">
                                </div>
                                <div class="col-xs-2">
                                    结束时间:<br/>
                                    <input type="text" name="end" class="form-control datepicker" placeholder="结束时间" value="{$thing['end']}">
                                </div>
                                <div class="col-xs-1">
                                    <br/>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</button>
                                </div>
                                <div class="col-xs-2 col-md-offset-3">
                                    <div>&nbsp;</div>
                                    <a href="/order/editkefuusers"><button type="button" class="btn btn-success col-xs-12">编辑客服人员</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box box-default" style="overflow: auto;">
                    <table id="myTable" class="table table-bordered table-hover dataTable" style="width:1920px;">
                        <thead >
                            <tr>
                                <th style="text-align: center;">日期</th>
                                <th>在线客服</th>
                                <th>总积分</th>
                                <th>分</th>
                                <th>赠</th>
                                <th>发单合计（分）</th>
                                <th>发单合计（赠）</th>
                                <th>53发单（分）</th>
                                <th>53发单（赠）</th>
                                <th>QQ发单（分）</th>
                                <th>QQ发单（赠）</th>
                                <th>400发单（分）</th>
                                <th>400发单（赠）</th>
                                <th>订单合计（分）</th>
                                <th>订单合计（赠）</th>
                                <th>53订单（分）</th>
                                <th>53订单（赠）</th>
                                <th>QQ订单（分）</th>
                                <th>QQ订单（赠）</th>
                                <th>400订单（分）</th>
                                <th>400订单（赠）</th>
                            </tr>
                        </thead>
                        <tbody id="dataLists">
                        <volist name="info" id="v">
                            <tr>
                                <td>{$time}</td>
                                <td>{$v.name}</td>
                                <td>{$v.zong|default="0"}</td>
                                <td>{$v.fen|default="0"}</td>
                                <td>{$v.zeng|default="0"}</td>
                                <td>{$v.houtai_fen_zong}</td>
                                <td>{$v.houtai_zeng_zong}</td>
                                <td>{$v.53_houtai_fen}</td>
                                <td>{$v.53_houtai_zeng}</td>
                                <td>{$v.QQ_houtai_fen}</td>
                                <td>{$v.QQ_houtai_zeng}</td>
                                <td>{$v.400_houtai_fen}</td>
                                <td>{$v.400_houtai_zeng}</td>
                                <td>{$v.qiantai_fen_zong}</td>
                                <td>{$v.qiantai_zeng_zong}</td>
                                <td>{$v.53_qiantai_fen}</td>
                                <td>{$v.53_qiantai_zeng}</td>
                                <td>{$v.QQ_qiantai_fen}</td>
                                <td>{$v.QQ_qiantai_zeng}</td>
                                <td>{$v.400_qiantai_fen}</td>
                                <td>{$v.400_qiantai_zeng}</td>
                            </tr>
                        </volist>
                        </tbody>
                        <tr>
                            <td>合计</td>
                            <td> - </td>
                            <td>{$heji.zong|default="0"}</td>
                            <td>{$heji.fen|default="0"}</td>
                            <td>{$heji.zeng|default="0"}</td>
                            <td>{$heji.houtai_fen_zong}</td>
                            <td>{$heji.houtai_zeng_zong}</td>
                            <td>{$heji.53_houtai_fen}</td>
                            <td>{$heji.53_houtai_zeng}</td>
                            <td>{$heji.QQ_houtai_fen}</td>
                            <td>{$heji.QQ_houtai_zeng}</td>
                            <td>{$heji.400_houtai_fen}</td>
                            <td>{$heji.400_houtai_zeng}</td>
                            <td>{$heji.qiantai_fen_zong}</td>
                            <td>{$heji.qiantai_zeng_zong}</td>
                            <td>{$heji.53_qiantai_fen}</td>
                            <td>{$heji.53_qiantai_zeng}</td>
                            <td>{$heji.QQ_qiantai_fen}</td>
                            <td>{$heji.QQ_qiantai_zeng}</td>
                            <td>{$heji.400_qiantai_fen}</td>
                            <td>{$heji.400_qiantai_zeng}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/Alert.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/plugins/dataTables/jquery.dataTables.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/phpexcel/handsontable.full.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/phpexcel/phpexcel.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $("#user").select2({
          allowClear: true,
          placeholder: "选择客服"
        });
        $("#user").select2("val", "{$thing.kfname}");
        /*$(".datepicker").datepicker({
              format:"yyyy-mm-dd"//,
              //minViewMode:0
        });*/
        $(".datepicker").datepicker({
            format:"yyyy-mm-dd",
            minViewMode:0
        });

        /*$('#myTable').DataTable({
           paging:false,
           searching:false,
           language:{
                zeroRecords: "没有内容",
                info:""
           },
            scrollY:"600px",
        });*/
    </script>
</block>
