<extend name="Common:basic"/>
<block name="keywords">
<meta name="keywords" content="{$ask.title}" />
<notempty name="info.header.canonical">
<link rel="canonical" href="{$info.header.canonical}"/>
</notempty>
</block>
<block name="description">
<meta name="description" content="齐装网装修问答平台为网友提供各种{$ask.title}问题解答。齐装网装修问答汇集众多业主的装修经验，迅速解决您的装修困惑。" />
</block>
<block name="title">
	<title>{$ask.title}-齐装网装修问答</title>
</block>
<block name="link">
	<link rel="stylesheet" type="text/css" href="/assets/mobile/wenda/css/index.css?v={:C('STATIC_VERSION')}">
	<link href="/assets/mobile/css/top-sj-bj.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
</block>
<block name="top">
	<div class="m-header-his" >
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit">装修问答</div>
</block>
<block name="content">
	<div class="search-box">
		<form id="searchform" action="/wenda/search" method="get">
		<div class="search-content oflow">
			<div class="search-input fl">
				<input id="search-input" type="text" name="keyword" placeholder="请输入您的装修问题">
			</div>
			<div class="search-btn fl" id="search-btn">
				<div><i class="fa fa-search"></i></div>
			</div>
		</div>
		</form>
	</div>
	<div class="zx-ask-list">
		<div class="zx-ask-item no-border">
			<div class="item-content">
				<div class="item-top oflow">
					<div class="user-img fl">
						<img src="{$ask.logo}">
					</div>
					<div class="user-name fl">{$ask.username}</div>
				</div>
				<p class="item-body">
					<a>{$ask.title}</a>
				</p>
				<div class="item-foot">
					<span class="fl">{$ask.post_time}</span>
					<span class="fr"><a href="/wenda/ask-{$ask.sub_category}">{$ask.sub_category_name}</a><i class="sm-line-y"></i><i>{$ask.anwsers}</i>人回答</span>
				</div>
				<if condition="(!empty($ask['content'])) OR (!empty($ask['img'])) ">
				<div class="current-content">
					<p>{$ask.content}</p>
					<volist name="ask.img" id="vo">
			            <a href="http://{:C('QINIU_DOMAIN')}/{$vo.path}" target="_blank" title="{$ask.title}">
			            <img width="100%" src="http://{:C('QINIU_DOMAIN')}/{$vo.path}" alt="{$ask.title}" ></a>
			        </volist>
				</div>
				</if>
			</div>
		</div>
		<div class="lucky-img">
			<a href="/huangli/"><img src="/assets/mobile/wenda/img/jiri.jpg"></a>
        </div>

        <notempty name="anwserList">
        <div class="ask-title">
        	<div class="ask-text"><span class="line-y"></span>回答</div>
        </div>

        <present name="bestAnwser">
        <div class="ask-recommend">
        	<div class="ask-recommend-main">
        		<i class="tuijian-icon"></i><span>推荐回答</span>
        	</div>
        </div>
        <!-- 推荐回答 -->
		<div class="zx-ask-item hot-ask">
			<div class="item-content oflow">
				<div class="item-top oflow">
					<div class="user-img fl"><img src="{$bestAnwser.logo}" /></div>
					<div class="user-name fl">{$bestAnwser.name}</div>
				</div>
				<p class="item-body recommend-text">
					{$bestAnwser.content}
					<volist name="bestAnwser['img']" id="vo">
					<a href="http://{:C('QINIU_DOMAIN')}/{$vo.path}" target="_blank" title="{$ask.title}">
					<img width="100%" src="http://{:C('QINIU_DOMAIN')}/{$vo.path}" alt="{$ask.title}" ></a>
					</volist>
				</p>
				<div class="item-foot hide">
					<span class="fl">{$bestAnwser.post_time}</span>
					<span class="fr"><i>{$bestAnwser.agree}</i>人赞同</span>
				</div>
				<div class="read-all">
					<span><a>全文</a><i class="fa fa-angle-down"></i></span>
				</div>
			</div>
		</div>
        </present>

        <!-- 其他回答 -->
		<div class="other-ask-title">
        	<div class="other-ask-text">其他回答</div>
        </div>

		<div class="other-ask-list">
			<volist name="anwserList" id="v">
			<div class="zx-ask-item">
				<div class="item-content oflow">
					<div class="item-top oflow">
						<div class="user-img fl"><img src="{$v.logo}" /></div>
						<div class="user-name fl">{$v.name}</div>
					</div>
					<p class="item-body recommend-text">
						{$v.content}
						<volist name="v.img" id="vo">
		                <a href="http://{:C('QINIU_DOMAIN')}/{$vo.path}" target="_blank" title="{$ask.title}">
		                <img width="100%" src="http://{:C('QINIU_DOMAIN')}/{$vo.path}" alt="{$ask.title}" ></a>
		                </volist>
					</p>
					<div class="read-all"><span><a>全文</a><i class="fa fa-angle-down"></i></span></div>
					<div class="item-foot">
						<span class="fl">{$v.post_time}</span>
						<span class="fr"><i class="fa fa-thumbs-up"></i><i class="fanum">{$v.agree}</i></span>
					</div>
				</div>

			</div>
			</volist>
		</div>
		</notempty>
	</div>

	<div class="about-ask">
		<div class="about-ask-main">
			<div class="about-ask-title">相关问题</div>
			<div class="about-ask-list">
				<volist name="related" id="v">
				<a href="/wenda/x{$v.id}.html">
					<span class="fl">{$v.title|mbstr=0,15}</span><span class="fr"><i>{$v.anwsers}</i>人回答</span>
				</a>
				</volist>
			</div>
		</div>
	</div>

	<div class="tuijian-ask">
		<div class="tuijian-ask-main">
			<div class="tuijian-ask-title">为您推荐</div>
			<div class="tuijian-ask-video">
				<a href="/video/v{$video.id}.html">
					<img src="http://{:C('QINIU_DOMAIN')}/{$video.cover_img}">
					<p>
						<span class="fl">{$video.title|mbstr=0,20}</span>
						<span class="fr">第<i>{$video.time|timeFormat}</i>期</span>
					</p>
				</a>
			</div>
		</div>
	</div>
	<include file="Common/footfadantc"/>
</block>

<block name="script">
	<script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
	<script>
		$(function(){
			$('.recommend-text').each(function(index, el) {
				if($(this).text().length<90){
					$(this).css({'height':'auto'})
					$(this).siblings('.read-all').hide()
				}
			});
			// 阅读全文---收起
			$('.read-all span').click(function() {
				if($(this).find('i').hasClass('fa-angle-down')){
					$(this).find('a').html('收起')
					$(this).find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
					$(this).parent().parent().find('.item-body').removeClass('recommend-text');

				}else{
					$(this).find('a').html('全文')
					$(this).find('i').removeClass('fa-angle-down').addClass('fa-angle-down');
					$(this).parent().parent().find('.item-body').removeClass('recommend-text').addClass('recommend-text');
				}
			});
			// 搜索内容
			$('#search-btn').click(function(){
				var inputvalue = $('#search-input').val();
				if(inputvalue){
					// $('#search-input').val('');
					// do something ...
					$('#searchform').submit();
				}else{
					alert('请输入内容...');
				}

			});
		});
	</script>
	<script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "http://{$_SERVER['SERVER_NAME']}{$_SERVER["REQUEST_URI"]}",
            "appid": "1575859058891466",
            "title": "{$ask.title}-齐装网装修问答",
            "images": [],
            "pubDate": "{$baidu['optime']}"
        }
    </script>

</block>