



/******基本资料*******/
.ht-normal-form{ float:left; width:420px; line-height:30px}
.normal-info span{ font-size:14px; width:80px; display:inline-block;font-weight:bold; text-align:right; padding-right:10px}
.normal-info li{ margin-bottom:20px; overflow:hidden}
.normal-info input[type=text],.normal-info select{ color: #666; border:1px solid #ccc; line-height:30px;display:inline-block;padding-left:5px;}
.normal-info .full{width:310px; height:30px }
.normal-info .half{ width:140px; height:30px}
.normal-info .shorted{width:80px; height:30px\0}
.ht-map{ height:300px; float:right; width:400px}
.ht-userhead-up { margin-left:80px}
.ht-userhead-up .userhead{ width:126px; height:63px; border:2px solid #eee; overflow:hidden; background:#f7f7f7}
.ht-userhead-up{ padding:50px 0; overflow:hidden; line-height:25px}
.ht-userhead-up dl dd { height:37px}
.ht-userhead-up dl dd span{ border:1px solid #ccc; height:25px; padding:5px; width:200px; display:inline-block; overflow:hidden}
.ht-userhead-up dl dd span .btn{ height:25px; line-height:25px; padding:0 10px; cursor:pointer;  color:#555; border:1px outset #fff}
.ht-userhead-up dl dd span .btn:active{ border:1px inset #fff}
.ht-userhead-up dl dd a{ display:inline-block; height:35px; width:80px; text-align:center; font-size:16px; background:#f1f1f1; margin-left:20px; color:#666; line-height:32px; border:1px solid #eee}.ht-userhead-up dl dd a:hover{ text-decoration:none; background:#F15858;border:1px solid #ed3232; color:#fff}



/***详细信息****/
.ht-moreinfo{ font-size:14px; line-height:30px; margin-top:50px}
.ht-moreinfo li{ margin-bottom:20px; overflow:hidden}
.ht-moreinfo li span{ float:left; width:80px; font-weight:bold; text-align:right; padding-right:10px}
.ht-moreinfo li ul{ width:770px; overflow:hidden}
.ht-moreinfo li ul li{ float:left; width:100px; }
.ht-moreinfo li ul li input[type=checkbox]{ margin-right:10px}
.ht-moreinfo li input[type=text]{ border:1px solid #ccc; line-height:30px;display:inline-block; margin-right:20px; width:169px; height:30px\0}
.ht-moreinfo li .select{ border:1px solid #ccc; height:30px; width:171px}
.jianjiemain{ height:100px; line-height:20px; border:1px solid #ccc;resize:none; width:480px}


/*****企业照片******/
.ht-comp-phot { padding:50px 90px; overflow:hidden; max-height:324px}
.ht-comp-phot li{ float:left; width:150px; height:150px; border:1px solid #f1f1f1; margin-right:20px; margin-bottom:20px}
.ht-comp-phot li.uplord a{ width:150px; text-align:center; color:#ccc; font-size:16px; padding-top:40px; display:block; background:#f1f1f1; height:110px}
.ht-comp-phot li.uplord a:hover{ text-decoration:none; color:#888; background:#ccc}
.ht-comp-phot li.uplord a i{ display:block; width:150px}
.ht-comp-phot li .phot{ text-align:center; height:120px; width:150px; line-height:120px; background:#f7f7f7; position:relative}
.ht-comp-phot li .phot .del{ background:rgba(0,0,0,.6); background:#000\0; position:absolute; top:0; right:0; height:20px; color:#fff; width:30px; height:30px; line-height:30px; font-size:20px; cursor:pointer}
.ht-comp-phot li .phot img { width: 100%; height:auto;vertical-align:middle }.ht-comp-phot li input[type=text]{ height:30px; line-height:30px; width:140px; padding:0 5px}


/******横幅管理******/

.ht-banner-img{ width:850px; background:#f7f7f7; height:140px; margin:20px 0; line-height:140px; text-align:center; font-size:36px; color:#ccc}
.ht-banner-img img{ width:100%; height:100%}
.ht-banner-uplord{ height:37px; margin:20px 0;}
.ht-banner-uplord span{ border:1px solid #ccc; height:25px; padding:5px; width:300px; display:inline-block; overflow:hidden;}
.ht-banner-uplord .btn{ height:25px; line-height:25px; padding:0 20px; cursor:pointer;  color:#555; border:1px outset #fff}
.ht-banner-uplord .btn:active{ border:1px inset #fff}
.ht-banner-uplord a{ display:inline-block; height:35px; width:80px; text-align:center; font-size:16px; background:#f1f1f1; margin-left:20px; color:#666; line-height:32px; border:1px solid #eee}.ht-banner-uplord a:hover{ text-decoration:none; background:#F15858;border:1px solid #ed3232; color:#fff}


/*******分店管理*******/

.addshop a{ color:#38b47e; font-size:18px; border:1px dashed #f1f1f1; padding:10px 20px; display: inline-block;  text-align:center; margin:20px 0; margin-left:90px; margin-bottom:40px}
.addshop a:hover{ background:#8ad9b7; color:#fff; text-decoration:none}
.moreshops{ font-size:14px; line-height:30px; margin:20px 0; padding-bottom:20px; border-bottom:1px dotted #f1f1f1}
.moreshops li{ margin-bottom:20px; overflow:hidden}
.moreshops li input[type=text]{ height:30px; line-height:30px; width:140px; padding:0 5px;border:1px solid #ccc;}
.moreshops li input[type=text].full{ width:312px}
.moreshops li span{ float:left; width:80px; font-weight:bold; text-align:right; padding-right:10px}
.moreshops li a.del{ font-size:18px; border:1px dashed #f1f1f1; padding:10px 20px; display: inline-block; text-align:center;  margin-left:90px;color:#F15858}
.moreshops li a.del:hover{ background:#ffa8a8; color:#fff; text-decoration:none}


/*******密码修改*******/
.compinfo-secret{ font-size:14px; line-height:30px; margin:20px 0; padding-bottom:20px; border-bottom:1px dotted #f1f1f1}
.compinfo-secret li{ margin-bottom:20px; overflow:hidden}
.compinfo-secret li span{ float:left; width:90px; font-weight:bold; text-align:right; padding-right:10px}
.compinfo-secret li input[type=password]{ height:30px; line-height:30px; width:140px; padding:0 5px;border:1px solid #ccc;}