
*{ padding:0;margin:0; border:0; list-style:none; font-style:normal}
::-moz-selection{ background: #ff8589; color:#fff; text-shadow: none; }
::selection { background:#ff8589; color:#fff; text-shadow: none; }
body{
font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; font-size:12px; color:#666}
input:focus {outline:none;}
.ht-wrap{ width:1210px; margin:0 auto;z-index: 10; position:relative}
.oflow{ overflow:hidden}
.ml10{ margin-left:10px}
.ml20{ margin-left:20px}
.ml100{ margin-left:100px}
.mr10{ margin-right:10px}
.mr20{ margin-right:20px}
.mt20{ margin-top:20px}
.gray{ color:#888}
.moregray{ color:#ccc}
.red{ color:#F15858}
.green{ color:#55cf86}
.green_1{ color: #00b254}
.orange{color: orange;}
.blue{color: #4C9ED9;}
a{ color:#333;text-decoration: none;}
a:hover{ color:#dc4146;text-decoration: underline;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}
.ht-relative{ min-height:560px}

.ht-top{ height:40px; background:#f7f7f7; line-height:40px; font-size:14px}

.ht-pull-right{ float:right}
.ht-pull-left{ float:left}
.ht-top h2{ font-size:18px; float:left; color:#888; font-weight:normal}

.ht-top .info-box{ position:relative; float:right; cursor:pointer; padding:0 10px;border:#f7f7f7 solid 1px; border-top:0; border-bottom:0; height:40px}
.ht-top .info-box:hover{ background:#eee;border:#eee solid 1px; border-top:0; border-bottom:0;}

.ht-top .info-box .info{ position: absolute; top:40px; left:-1px; display:none; border:#eee solid 1px; border-top:0; width:100%; text-align:center; background:#fff}
span.tips{ border-radius:10px; display:inline; background:#F15858;  color:#fff; padding:1px 6px; font-size:0.8em}
.ht-top .info-box:hover .info{ display:block}

.ht-top .info-box:hover .info ul li a{ display:block; padding:0 10px; text-align:left}
.ht-top .info-box:hover .info ul li a:hover{ background:#f7f7f7; text-decoration:none}
.ht-top .ht-link li{ float:left; padding:0 10px}
.ht-top .ht-link a{ color:#888}

.ht-tit{ margin:0 auto; width:1210px; font-size:36px; height:100px; line-height:100px; text-shadow:1px 1px 0 #ccc}
.ht-nav {
top: 0px; width:280px;}
.ht-nav ul li a:hover span.tips,.ht-nav ul li.active a span.tips{ background:#fff; color:#F15858}
.ht-nav ul li{ overflow:hidden}
.ht-nav ul{ font-size:16px; line-height:40px; overflow:hidden}
.ht-nav ul li a{ display:block; background:#f7f7f7; padding:0 20px; margin-bottom:1px}
.ht-nav ul li a:hover,.ht-nav ul li.active a{ text-decoration:none; background:#f16262; color:#fff}
.ht-nav ul li a .pull-right{ display: inline-block; margin-top:10px; *display:none}
.ht-main{ float:right; width:870px; padding:20px; border:1px solid #eee; min-height:550px}

.ht-nav-tit { float:right; display:block; width:912px}
.ht-nav-tit li{ float:left; margin-bottom:0px; width:auto; text-align:center; font-size:16px; height:40px; line-height:40px; position:relative; font-weight:bold; margin-right:10px}.ht-nav-tit li a{ display:block; height:39px; line-height:39px; padding:0 20px ; border:1px solid #fff; border-bottom:0}.ht-nav-tit li.active a,.ht-nav-tit li a:hover{ background:#fff; border:1px solid #f1f1f1; border-bottom:0; text-decoration:none; color:#dc4146; border-top:2px solid #dc4146;}

.subMenu {
	position: absolute;
	top: 0px;
	z-index: 1000;

}


/****分页****/
.page{ padding:20px; line-height:25px;  max-width:1210px; margin:0 auto}
.page a,.page strong {display: inline-block;
border: 1px solid #fff;
color: #505050;
padding: 0px 8px;
vertical-align: middle;
margin-left: 3px;}
.page a:hover, .page a.current, .page strong {
color: white!important;
text-decoration: none;
background:#F15858;
border: 1px solid #e54646;
}.page input{ height:15px; border:1px solid #eee}.page em{ margin:0  5px; display:inline-block; line-height:27px}



/****确定按钮*****/
.ht-yes{ clear:both; padding-left:90px; margin-bottom:50px; }
.ht-yes button{cursor: pointer;}
.ht-yes a,.ht-yes button{  background:#F15858;border:1px solid #ed3232; color:#fff; line-height:45px; display:inline-block; width:150px; text-align:center; font-size:16px}
.ht-yes a:hover,.ht-yes button:hover{ background:#5cca78;border:1px solid #38b47e; color:#fff; text-decoration:none; box-shadow:0px 0px 5px #5cca78}


.login_box .zb_box_title{background: url(/assets/user/user/img/welcom.png) no-repeat; height: 100px;}
.login_box .zb_box_form{padding:25px 50px; }
.login_box .zb_box_form .button{margin: 25px 0; border-radius: 5px; width: 150px; height: 50px; font-size: 20px; font-family: Microsoft YaHei;}
.login_box .input-msg{text-align: center;font-size: 14px; font-family: Microsoft YaHei; margin: 20px 0; display: block;}

.err-tips{display: inline;}