/*
* @Author: qz_dc
* @Date:   2018-08-16 08:52:36
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-29 14:19:48
*/

/*------------------------------账号基本信息------------------------*/
.identity-info {
    background: #fff;
}
.title {
    padding-left: 10px;
    height: 48px;
    line-height: 48px;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 20px;
}
.dizhi {
    width: 66%;
}
.address {
    width: 80%;
}
/*------------------------------团队信息---------------------------*/
.team-info {
    margin-top: 20px;
    background: #fff;
}
.table table {
    width: 98%;
    margin: 0 auto;
}
.table table thead {
    background: rgb(235, 235, 235);
}
.table table thead tr {
    height: 30px;
}
.table table thead .touxiang {
    width: 100px;
}
.table table tbody tr {
    border-bottom: 1px solid #ccc;
}
.table table tbody tr td {
    padding: 10px 0;
}
.table table tbody .avator {
    width: 100%;
    height: 70px;
    padding: 5px;
    position: relative;
}
.table table tbody .avator img {
    border: 1px solid #ccc;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40px;
    background: #eee;
}
/*---------------------------------施工组信息---------------------------*/
.construction-info {
    margin-top: 20px;
    background: #fff;
}
.construction-info .group {
    padding-left: 1%;
    margin-bottom: 10px;
}
.table table tbody .avator .fa-user {
    position: absolute;
    left: 10px;
    font-size: 30px;
    top: 15px;
}
.job {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    font-size: 12px;
}