.select2-container .select2-choice{border-radius: 5px;width: 240px;height: 40px;display: inline-block;}
.select2-container .select2-choice div{border: 0 !important;}
.select2-container .select2-choice span{height: 40px;line-height: 35px;}
#s2id_city{display: inline-block;width: 240px;height: 40px;}
.big_title{color: #333;font-weight: 400;font-size: 18px;}
.hangwaik{overflow: hidden;}
.jianjv_time{margin-top: 20px;}
.jianju_gongs{margin-top: 10px;display: inline-block;}
.gongsjianjiewk01,.gongsjianjiewk02{display: inline-block;width: 450px;}
.gongsjianjiewk01{float: left;}
.gongsjianjiewk02{margin-left: 172px;}
.hangwaik input{width: 240px;height: 40px;line-height: 40px;outline: none;text-indent: 0.5em;
color: #333;border: 1px solid #cccccc;border-radius: 5px;display: inline-block;}
.hangwaik input.companyall{width: 480px;}
.hangwaik input.companyaddress{width: 480px;}
.hangwaik select{width: 240px;height: 40px;border: 1px solid #cccccc;border-radius: 5px !important;}
.hangwaik .hangwaik_title{color: #333;width: 70px;text-align: right;height: 40px;line-height: 40px;display: inline-block;
float: left;}
.red_xing{color: #ff5353;}
.bottomborwk{overflow: hidden;border-bottom: 1px solid #ebebeb;padding-left: 20px;padding-bottom: 20px;}
.niufootwk{overflow: hidden;padding-left: 20px;padding-bottom: 20px;}
.hangwaik .jiangebj{margin: 0 10px;font-weight: bold;}
.hangwaik .createniu{width: 100px;height: 40px;background: #108ee9;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .cancelniu{width: 98px;height: 38px;line-height: 38px;text-align: center;background: #f3f3f3;color: #333;display: inline-block;
border-radius: 5px;border: 1px solid #d9d9d9;cursor:pointer;}
.tishi{height: 20px;line-height: 20px;text-align: left;padding-left: 75px;font-size: 12px;color: #ff5353;
width: 480px;}
.date_tishi{width: 586px;height: 20px;}
.date_tishi .riqitishi01{height: 100%;width: 240px;text-align: left;display: inline-block;float: left;}
.date_tishi .riqitishi02{height: 100%;width: 300px;text-align: left;margin-left: 30px;display: inline-block;}
.datetimepicker table td,.datetimepicker table th{border: 1px solid #ebebeb !important;}

.successyingy{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;}
.successbox{width: 388px;height: 198px;background: #fff;border: 1px solid #ccc;position: fixed;top: 0;bottom: 0;left: 0;
right: 0;margin: auto;border-radius: 5px;display: none;}
.successbox .successbox_title{margin-top: 35px;margin-left: 40px;font-size: 14px;font-weight: 400;color: #666;
line-height: 18px;vertical-align: middle;}
.successbox .successbox_title .fa-check-circle{font-size: 30px;color: #88d068;vertical-align: middle;margin-right: 16px;}
.successbox .successbox_title2{margin-top:;margin-left: 84px;font-size: 14px;font-weight: 400;color: #666;
line-height: 18px;vertical-align: middle;}
.successbox .passwordbox{color: #9f9f9f;font-size: 12px;margin-left: 84px;margin-top: 18px;}
.passwordbox .copyfuzhi{font-size: 14px;color: #ff9f3f;margin-left: 55px;cursor: pointer;}
.surebox{overflow: hidden;text-align: center;margin-top: 20px;}
.surebox .surequed{background: #108ee9;width:63px;height:30px;line-height:30px;text-align:center;font-size: 14px;color: #fff;display: inline-block;
border-radius: 5px;cursor: pointer;outline: none;border: 0;}
.surebox input[disabled="disabled"]{background: #999 !important;outline: none;}
.datedwwk{position: relative;display: inline-block;}
.datedwwk .fa-calendar{position: absolute;right: 10px;top: 14px;}