.select2-container .select2-choice{border-radius: 5px;width: 240px;height: 40px;display: inline-block;}
.select2-container .select2-choice div{border: 0 !important;}
.select2-container .select2-choice span{height: 40px;line-height: 35px;}
.box{overflow: hidden !important;margin-bottom: 10px !important;}

table,table tr th, table tr td { border:1px solid #e9e9e9 !important;background: #fff;font-weight: normal;}
#tablelist{text-align: center; border-collapse: collapse;width:720px !important;background: #fff;}
table thead tr th{background: #f4f4f4 !important;color: #333;}

#s2id_city{display: inline-block;width: 240px;height: 40px;}
.big_title{color: #333;font-weight: 400;font-size: 18px;}
.hangwaik{overflow: hidden;}
.jianjv_time{margin-top: 20px;}
.jianju_gongs{margin-top: 10px;}
.hangwaik input{width: 240px;height: 40px;line-height: 40px;outline: none;text-indent: 0.5em;
color: #333;border: 1px solid #cccccc;border-radius: 5px;display: inline-block;}
.hangwaik input.companyall{width: 480px;}
.hangwaik input.companyaddress{width: 480px;}
.hangwaik textarea{width: 514px;height: 110px;outline: none;border-radius: 5px;}
.hangwaik select{width: 240px;height: 40px;border: 1px solid #cccccc;border-radius: 5px !important;}
.hangwaik .hangwaik_title{color: #333;width: 70px;text-align: right;height: 40px;line-height: 40px;display: inline-block;
float: left;}
.remarksbz{margin-bottom: 20px;}
.red_xing{color: #ff5353;}
.hangwaik .resetmm{display: inline-block;padding: 10px 26px;background: #ff9900;color: #fff;font-size: 14px;border-radius: 5px;
cursor: pointer;}
.jianjureset{margin-bottom: 20px;}
.bottomborwk{overflow: hidden;border-bottom: 11px solid #ecf0f5;padding-left: 20px;padding-bottom: 20px;}
.niufootwk{overflow: hidden;padding-left: 20px;padding-bottom: 20px;border-top: 3px solid #ccc;}
.hangwaik .jiangebj{margin: 0 10px;font-weight: bold;}
.hangwaik .createniu{width: 100px;height: 40px;background: #108ee9;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .savebaocun{width: 100px;height: 40px;background: #108ee9;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .canquxiao{width: 98px;height: 38px;line-height: 38px;text-align: center;background: #f3f3f3;color: #333;display: inline-block;
border-radius: 5px;border: 1px solid #d9d9d9;cursor:pointer;}
.hangwaik .cancelniu{width: 98px;height: 38px;line-height: 38px;text-align: center;background: #f3f3f3;color: #333;display: inline-block;
border-radius: 5px;border: 1px solid #d9d9d9;cursor:pointer;}
.hangwaik .cancelniu2{width: 98px;height: 38px;line-height: 38px;text-align: center;background: #f3f3f3;color: #333;display: inline-block;
border-radius: 5px;border: 1px solid #d9d9d9;cursor:pointer;}
.hangwaik .stopzz{width: 100px;height: 40px;background: #c62f2f;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .applykaitong{width: 100px;height: 40px;background: #108ee9;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .xufei{width: 100px;height: 40px;background: #108ee9;color: #fff;line-height: 40px;text-align: center;display: inline-block;
	border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .cancelapply{width: 100px;height: 40px;background: #c62f2f;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .adopttongg{width: 100px;height: 40px;background: #108ee9;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.hangwaik .rejectbohui{width: 100px;height: 40px;background: #c62f2f;color: #fff;line-height: 40px;text-align: center;display: inline-block;
border-radius: 5px;margin-right: 60px;cursor: pointer;}
.tishi{height: 20px;line-height: 20px;text-align: left;padding-left: 75px;font-size: 12px;color: #ff5353;
width: 480px;}
.jiajie_tishi,.gongshiid_tishi{width: 100% !important;}
.gongsjianjiewk01,.gongsjianjiewk02{display: inline-block;width: 450px;}
.gongsjianjiewk01{float: left;}
.gongsjianjiewk02{margin-left: 172px;}
.date_tishi{width: 586px;height: 20px;}
.date_tishi .riqitishi01{height: 100%;width: 240px;text-align: left;display: inline-block;float: left;}
.date_tishi .riqitishi02{height: 100%;width: 300px;text-align: left;margin-left: 30px;display: inline-block;}
.datetimepicker table td,.datetimepicker table th{border: 1px solid #ebebeb !important;}

.successyingy{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;}
.successbox{width: 388px;height: 198px;background: #fff;border: 1px solid #ccc;position: fixed;top: 0;bottom: 0;left: 0;
right: 0;margin: auto;border-radius: 5px;display: none;}
.successbox .successbox_title{margin-top: 35px;margin-left: 40px;font-size: 14px;font-weight: 400;color: #666;
line-height: 18px;vertical-align: middle;}
.successbox .successbox_title .fa-check-circle{font-size: 30px;color: #88d068;vertical-align: middle;margin-right: 16px;}
.successbox .successbox_title2{margin-top:;margin-left: 84px;font-size: 14px;font-weight: 400;color: #666;
line-height: 18px;vertical-align: middle;}
.successbox .passwordbox{color: #9f9f9f;font-size: 12px;margin-left: 84px;margin-top: 18px;}
.passwordbox .copyfuzhi{font-size: 14px;color: #ff9f3f;margin-left: 55px;cursor: pointer;}
.surebox{overflow: hidden;text-align: center;margin-top: 20px;}
.surebox .surequed{background: #108ee9;width:63px;height:30px;line-height:30px;text-align:center;font-size: 14px;color: #fff;display: inline-block;
border-radius: 5px;cursor: pointer;outline: none;border: 0;}
.surebox input[disabled="disabled"]{background: #999 !important;outline: none;}
.createbox{display: none;}
.totalday,.totalmon,.moreday{display: inline-block;font-size: 14px;color: #666;}
.totalday span,.totalmon span,.moreday span{margin-left: 10px;}
.totalday{margin-left: 55px;}
.totalmon{margin-left: 130px;}
.moreday{margin-left: 130px;}

.datedwwk{position: relative;display: inline-block;}
.datedwwk .fa-calendar{position: absolute;right: 10px;top: 14px;}
.hideyc{display: none;}

.caozuotank{width: 520px;height: 250px;background: #fff;border: 1px solid #c7c7c7;border-radius: 5px;
position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin:auto;display: none;}
.caozuotank .caozuotank_waik{width: 100%;height: 50px;line-height: 50px;font-size: 14px;color: #666;background: #f3f3f3;
border-bottom: 1px solid #ebebeb;}
.caozuotank_waik .sure_title{float: left;margin-left: 17px;font-weight: bold;}
.caozuotank_waik .fa-close{float: right;font-size: 20px;padding: 13px 16px;cursor: pointer;}
.caozuotank .caozuobox{width: 100%;height: 120px;text-align: center;line-height: 120px;font-size:18px;color: #666;
border-bottom: 1px solid #ebebeb;}
.tancfootwk{width: 100%;overflow: hidden;font-size: 14px;text-align: center;margin-top: 20px;}
.tancfootwk .tanchuang_sure{background: #108ee9;color: #fff;padding: 10px 18px;display: inline-block;border-radius: 5px;
cursor: pointer;}
.tancfootwk .tanchuang_cancel{background: #fff;color: #666;padding: 10px 18px;display: inline-block;border-radius: 5px;
margin-left: 100px;border: 1px solid #d9d9d9;cursor: pointer;}

.caozsuccesswk{width: 300px;height: 104px;background: #fff;border: 1px solid #ccc;position: fixed;top: 0;bottom: 0;left: 0;
right: 0;margin: auto;border-radius: 5px;display: none;text-align: center;}
.caozsuccesswk .caozsuccesswk_title{margin-top: 35px;font-size: 14px;font-weight: 400;color: #666;
line-height: 18px;vertical-align: middle;}
.caozsuccesswk_title .successpicbj{display: inline-block;width: 32px;height: 32px;
	background: url(/assets/home/erp/img/successpic.png) no-repeat center center;vertical-align: middle;}
.caozsuccesswk_title .successmiaos{display: inline-block;line-height: 32px;vertical-align: middle;margin-left: 30px;
color: #333;font-size: 16px;}

.historywk{overflow: hidden;background: #fff;}
.historywk .historywk_title{height: 47px;line-height: 47px;background: #ecf0f5;}
.historywk .historywk_title .tabqiehuan{height: 100%;width: 88px;display: inline-block;background: #f3f3f3;text-align: center;
line-height: 47px;color: #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border: 1px solid #d9d9d9;cursor: pointer;}
.historywk .historywk_title .tabqiehuan01{border-left: 0;border-right: 0;}
.tabcurr{background: #fff !important;border-bottom: 0 !important;color: #108ee9 !important;}
.border_top{border-top: 0px solid #ebebeb !important;border: 1px solid #d9d9d9;}
.historywk .historybox{width: 100%;background: #fff;overflow:hidden;height: auto;padding:26px 90px;
	font-size: 14px;height: 500px;overflow-y: auto;}
.historywk .historybox2{display: none;}
.historybox .jiluhang{height: auto;width: 100%;border-left: 1px solid #d9d9d9;position: relative;padding-left: 15px;
padding-bottom: 30px;}
.jiluhang .circlepic{width: 10px;height: 10px;border-radius: 50%;border:1px solid #1490e8;display: inline-block;
position: absolute;top: -5px;left: -6px;background: #fff;}
.jiluhang .graycolor{border-color: #d9d9d9 !important;}
.jiluhang .clearfudong{overflow: hidden;}
.jiluhang .history_date{font-size: 14px;color: #656565;position: absolute;top: -8px;}
.jiluhang .namecaozuo{margin-top: 32px;}
.namecaozuo .caozuoren{margin-right: 150px;}
.jiluhang .caozuotype{margin-top: 26px;}
.jiluhang .divremark{width: 566px;min-height: 122px;border: 1px solid #ccc;border-radius: 5px;margin-top: 13px;padding: 10px;
height: auto;}

.yanse_success{color: #00a65a;}
.yanse_red{color: #c62f2f;}
.yanse_yelleow{color: #ff9900;}

