/*
* @Author: qz_dc
* @Date:   2018-08-14 15:43:34
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-09-29 11:20:52
*/
.content-header {padding-bottom: 50px;}
/*-------------------------订单基本信息-------------------*/
.order-info {
    background: #fff;
}
.order-info .order-title {
    padding-left: 10px;
    height: 48px;
    line-height: 48px;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 20px;
}
/*--------------------------业主信息----------------------*/
.owner-info {
    margin-top: 20px;
    background: #fff;
}
.owner-info .owner-title {
    padding-left: 10px;
    height: 48px;
    line-height: 48px;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 20px;
}
/*---------------------接单信息---------------------------*/
.order-taking {
    margin-top: 20px;
    background: #fff;
}
.order-taking .order-taking-title {
    padding-left: 10px;
    height: 48px;
    line-height: 48px;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 20px;
}
/*---------------------流程阶段-----------------------*/
.flow {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.flow .jieduan {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 150px;
}
.flow .jieduan div {
    width: 190px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    position: absolute;
     background: url(../img/gray.png);
}
.flow .jieduan .jiedan {
    left: 0;
    z-index: 10;
}
.flow .jieduan .gendan {
    left: 175px;
    z-index: 9;
}
.flow .jieduan .qiandan {
    left: 350px;
    z-index: 8;
}
.flow .jieduan .shigong {
    left: 525px;
    z-index: 7;
}
.flow .jieduan .shouwei {
    left: 700px;
    z-index: 6;
}
.flow .jieduan .wancheng {
    left: 875px;
    z-index: 5;
}
.flow .jieduan div.current {
    background: url(../img/blue.png);
    color: #fff;
}
.flow .jieduan-info {
    height: 60px;
    margin-left: 150px;
    position: relative;
}
.flow .jieduan-info > div {
    height: 60px;
    width: 190px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    float: left;
}
.flow .jieduan-info .jiedan-n-t > div {
    width: 190px;
    position: absolute;
    z-index: 10;
    display: none;
}
.flow .jieduan-info .gendan-n-t > div {
    width: 190px;
    position: absolute;
    z-index: 9;
    display: none;
}
.flow .jieduan-info .qiandan-n-t > div {
    width: 190px;
    position: absolute;
    z-index: 8;
    display: none;
}
.flow .jieduan-info .shigong-n-t > div {
    width: 190px;
    position: absolute;
    z-index: 7;
    display: none;
}
.flow .jieduan-info .shouwei-n-t > div {
    width: 190px;
    position: absolute;
    z-index: 6;
    display: none;
}
.flow .jieduan-info .wancheng-n-t > div {
    width: 190px;
    position: absolute;
    z-index: 5;
    display: none;
}
.flow .jieduan-info .jiedan-n-t .jiedan-name {
    left: 0;
    top: 0px;
}
.flow .jieduan-info .jiedan-n-t .jiedan-time {
    top: 30px;
    left: 0;
}
.flow .jieduan-info .gendan-n-t .gendan-name {
    left: 175px;
}
.flow .jieduan-info .gendan-n-t .gendan-time {
    left: 175px;
    top: 30px;
}
.flow .jieduan-info .qiandan-n-t .qiandan-name {
    left: 350px;
    z-index: 8;
}
.flow .jieduan-info .qiandan-n-t .qiandan-time {
    top: 30px;
    left: 350px;
    z-index: 8;
}
.flow .jieduan-info .shigong-n-t .shigong-name {
    left: 525px;
    z-index: 7;
}
.flow .jieduan-info .shigong-n-t .shigong-time {
    top: 30px;
    left: 525px;
    z-index: 7;
}
.flow .jieduan-info .shouwei-n-t .shouwei-name {
    left: 700px;
    z-index: 6;
}
.flow .jieduan-info .shouwei-n-t .shouwei-time {
    top: 30px;
    left: 700px;
    z-index: 6;
}
.flow .jieduan-info .wancheng-n-t .wancheng-name {
    left: 875px;
}
.flow .jieduan-info .wancheng-n-t .wancheng-time {
    top: 30px;
    left: 875px;
}

/*-----------------------------------订单动态---------------------*/
.order-trends {
    margin-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
.order-trends .order-trends-title {
    padding-left: 10px;
    height: 48px;
    line-height: 48px;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 20px;
}
.order-trends .trends {
    height: 34px;
    line-height: 34px;
    width: 140px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 20px;
}
.order-trends .prev {
    margin-right: 30px;
}
.order-trends .zhuangtai div {
    display: none;
}
.order-trends .next {
    margin-left: 30px;
}
.order-trends .zhuangtai div.cur {
    display: block;
    color:rgb(16, 142, 233);
    font-weight: 700;
}
.part .active {
    display: block;
}
.bl {
    margin-left: 70px;
    border-left: 1px solid #ccc;
    display: none;
}
.status {
    position: relative;
}
.time-people {
    position: absolute;
    top: -5px;
}
.time-people .yuan {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid rgb(16, 142, 233);
    position: absolute;
    left: -6px;
    margin-top: 5px;
}
.time-people .status-time {
    margin-right: 80px;
    float: left;
    margin-top: 4px;
    margin-left: 20px;
}
.time-people .job {
    margin-right: 40px;
    float: left;
    margin-top: 4px;
}
.time-people .name {
    float: left;
    margin-top: 4px;
}
.status-content {
    padding-left: 20px;
    margin-bottom: 15px;
}
.status-content .status-log {
    padding-top: 30px;
}
.status-content .beizhu {
    border: 1px solid #ccc;
    min-height: 91px;
    width: 700px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.status-content .img ul {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0;
}
.status-content .img ul li {
    list-style: none;
    width: 120px;
    height: 90px;
    margin-right:10px;
    float: left;
    border-radius: 5px;
    position: relative;
}
.status-content .img ul li .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 10;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.status-content .img ul li img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/*---------------------------缩略图模态框-------------------*/
#myModal .modal-dialog {
    width:50%;
    height:500px
}
#myModal .modal-body {
    padding: 10px
}
#myModal .modal-body img {
    width: 100%;
    height: 480px;
    border: 10px solid white;
    border-top:none;
    border-bottom:none;
}

.back {
    padding: 0;
    height: 34px;
    line-height: 34px;
}
.back a {
    display: block;
    width: 100%;
    height: 100%;
}