/*
* @Author: qz_dc
* @Date:   2018-08-14 08:50:16
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-09-29 11:45:15
*/

.select2-container {
    width: 200px;
}
.select2-container .select2-choice span {
    width: 56px;
    text-align: left;
}
.search {
    width: 65px;
    height: 32px;
    background:rgb(16, 142, 233);
    text-align: center;
    color: #fff;
    margin-right: 20px;
}
.reset {
    width: 65px;
    height: 32px;
    text-align: center;
    border: 1px solid #ccc;
}
.w25 select,input {
    width: 200px;
    height: 34px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

.w50 input {
    padding-left: 5px;
}
.w25 input {
    padding-left: 5px;
}
input::-webkit-input-placeholder{
    color:#ccc;
}
input::-moz-placeholder {   /* Mozilla Firefox 19+ */
    color:#ccc;
}
input:-moz-placeholder {    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
}
input:-ms-input-placeholder {  /* Internet Explorer 10-11 */
    color:#ccc;
}
.w25 span {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.w50 span {
    display: inline-block;
    width: 100px;
    text-align: right;
    line-height: 34px;
    margin-right: 5px;
}
.w50 .to {
    display: block;
    height: 34px;
    line-height: 34px;
    margin: 0 10px;
}
.w50 .start {
    position: relative;
}
.w50 .start .fa-calendar {
    position: absolute;
    top: 10px;
    right: 10px;
}
.w50 .end {
    position: relative;
}
.w50 .end .fa-calendar {
    position: absolute;
    top: 10px;
    right: 10px;
}
table {
    width: 100%;
}
table th,td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 0;
}
table th {
    background:#eee;
}
.data-num {
    margin-top: 10px;
    line-height: 25px;
}
.relative {
    position: relative;
    min-width: 100px;
}
.fa-sort-desc {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.fa-sort-asc {
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.bianhao {
    min-width: 100px;
}