#article-height{
	background:#f5f5f5;
	min-height: 32.5em;
}
.success-ok-img {
	width: 100%;
	height: auto;
	text-align:center;
	padding:1em 0;
	color:#30cc4c;
	font-size: 1.5em;
	font-weight: 700;
}
.success-ok-img i.fa{
	vertical-align:-0.15em;
	margin-right:5px;
	font-size:1.8em;
	color:#5fbd05;
}
.accordion{
	margin: 0 12.5px;
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.baojia-list ul li {
	height: 2.6em;
	line-height: 2.6em;
	font-size: .95em;
	overflow: hidden;
	margin: 0 5%;
}
.accordion .half-baojia{
	border-top:1px #ccc solid;
}
.accordion .half-baojia .baojia-text{
	font-weight: 700;
}
.baojia-list ul li div:first-child {
	float: left;
}
.baojia-list ul li div.baojia-money {
	float: right;
	color: #ff5659;
	font-weight: 700;
}
.baojia-list ul li.baojia-item .baojia-money span {
	color: #333;
	font-weight: normal;
}
.baojia-list ul li div.baojia-money i {
	margin-left: 0.5em;
	color: #000;
	font-weight: normal;
}
.baojia-list ul .half-baojia div.baojia-money i{
	font-weight: 700;
}
.baojia-list .disclaimer {
	margin: 0 3% 0.1rem 3%;
	font-size: 13px;
	color: #666;
}