.decorate-baojia{
	margin-left: 0.22rem;
}

.m-img-box-a img{
	width:100%;
}
.m-fadan-content {
    position: relative;
    /*background:#3C46A6 url("/assets/mobile/baojia/newbaojia/baojia-bg.png") repeat-y;*/
    /*background:#3C46A6 url("\/\/staticqn.qizuang.com/custom/20181114/FmWlYpt9cbUrOPBjUdsAuE8-ieAZ") repeat-y;*/
    background: #FFD874;
}


.box{
	position: relative;
	width:100%;
	/*background: #3C46A6;*/
	padding-bottom: 0.2rem;
}
.box-top{
	height: 4rem;
	background: #fff;
	border-radius:15px;
	margin: 0 0.2rem;
	padding: 0 0.09rem;
    position: relative;
    top: -10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.box-top-baojia{
	padding:14px 0;
	margin-bottom: 32px;
	position: relative;
}
.box-top .box-top-baojia span{
	height: 0.3rem;
	text-align: center;
	display:block;
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	line-height: 0.3rem;
	font-size:20px;
	font-weight:700;
}
.box-second{
	margin:auto;
    background:rgba(209,209,209,0.8);
	position: relative;
	border-radius: 5px;
	padding: 0.05rem 0.05rem;
}
.box-second .box-second-content{
	height: 0.51rem;
	border:2px #313131 solid;
	border-radius: 5px;
    background:#D1D1D1;
	position: relative;
}
.box-second .box-second-content span{
	display: inline-block;
	position: absolute;
    bottom: 0.08rem;
}
.box-second .box-second-content .banbaojia{
    left: 0.09rem;

}
.box-second .box-second-content span:nth-child(2){
	position: absolute;
    right: 0.3rem;
    font-size: 52px;
}
.box-second .box-second-content span:nth-child(3){
	right: 0.1rem;
}
.box-second .box-second-content .yuan{
    right: 0.15rem;
}
#total{
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
}
#total div{
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    width: 0.14rem;
    height: 0.29rem;
}
#total img{
    width: 100%;
    height: 100%;
}
.box-third{
	height: 2.3rem;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	padding: 0.15rem 0.2rem;
}
.box-third ul li{
	display: block;
	height: 0.35rem;
	line-height: 0.35rem;
	border-bottom: 1px #ccc solid;
}
.box-third ul li span{
	display: inline-block;
}
.box-third ul li span:nth-child(2){
	float: right;
}
.box>p{
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left: 0.3rem;
	color:#fff;
	font-size:12px;
}
.box a{
	width:87%;
	height:0.4rem;
	line-height:0.4rem;
	text-align: center;
	background:#F53E3E;
	color:#fff;
	border:none;
	border-radius:5px;
	display: block;
	margin: 0 auto;
	margin-bottom:0.2rem;
}
.box-weixin{
	background: #fff;
	border-radius: 15px;
	margin: 0 0.2rem;
	padding: 0 0.2rem;
	padding-bottom:0.2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.box-weixin p{
	padding-top: 0.15rem;
	font-size:0.1rem;
}
.box-weixin .weixin-img{
	margin:0 auto;
	margin-top: 0.1rem;
}
.weixin-img ul li{
	display:inline-block;
	width: 31%;
}
.weixin-img ul .jiantou{
	position: relative;
	bottom: 30px;
}
.weixin-img ul .jiantou img:nth-child(1){
	margin-bottom: 8px;
	margin-left: 0.2rem;
}
.weixin-img ul .jiantou img:nth-child(2){
	margin-bottom: 4px;
}
.box-weixin .guanzhu-weixin{
	text-align: center;
}
.box-weixin .guanzhu-weixin span{
	color:#3dfcfe;
}
.box-weixin .guanzhu-fangfa{
	font-size:11px;
	color:#B3B3B3;
}
/*底部*/
/*#footer{
	background:#3C46A6 url("/assets/mobile/baojia/newbaojia/footerImg.png") no-repeat center bottom;
	background-size:110% 0.37rem;
	border: none;
	color: #fff;
	position: relative;
	top: -5px;
	background-position-y: 148px;
	padding-bottom: 50px;
}
#footer .hot{
	color:#3dfcfe;
}
#footer .footer-tel .phone-box{
	border: 1.5px solid #3dfcfe;
}*/
#footer{
    display: none;
}
#footer-container{
    text-align: center;
    width: 100%;
    padding: 1em 0;
    font-size: 0.6em;
    color: #808080;
    background: url("/assets/mobile/baojia/newbaojia/footerImg1.png") no-repeat center bottom;
    background-size:110% 0.5rem;
    position: relative;
    background-position-y: 120px;
    padding-bottom: 30px;
}
#footer-container .footer-tel {
    font-size: 16px;
    color: #333;
}
#footer-container,.foot-discliamer{
    color: #808080;
}
.hot{
    color: #ff5353;
}
.phone-icon{
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    background: url("/assets/mobile/baojia/newbaojia/phone-icon1.png");
    background-size:100% ;
}
.footer-title{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333;
}

/*隐藏客服按钮*/
header .new-kefu-erji{
	display: none;
}
/*隐藏导航按钮*/
#m-nav-switch{
	display: none;
}
