
.fl{
    float: left;
}
.fr{
    float: right;
}
.tar{
    text-align: right;
}
.tal{
    text-align: left;
}

.m-fadan-content{
    position: relative;
    /*background:#3C46A6 url("/assets/mobile/baojia/newbaojia/baojia-bg.png") repeat-y;*/
    background:#3C46A6 url("\/\/staticqn.qizuang.com/custom/20181114/FmWlYpt9cbUrOPBjUdsAuE8-ieAZ") repeat-y;
}

.m-img-box img{
    width: 100%;
    height: auto;
    display: block;
}
.form-box{
    margin: 0 22px;
    border: 1px solid #dedee0;
    border-radius: 10px;
    /*margin-top: 15px;*/
    background: #fff;
    position: relative;
    top: -5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.form-title .znbj{
    /*width: 0.75rem;*/
    /*width: 30%;*/
    height: 0.3rem;
    margin: 0 auto;
    margin-top: 0.12rem;
    text-align: center;
    font-size: 0.14rem;
    position: relative;
    font-weight: normal;

}
/*.form-title h3:after{
    content: '';
    width: 0.12rem;
    height: 1px;
    background: #666666;
    position: absolute;
    top: 0.10rem;
    right: 0.70rem;
}
.form-title h3:before{
    content: '';
    width: 0.12rem;
    height: 1px;
    background: #666666;
    position: absolute;
    top: 0.10rem;
    left: 0.70rem;
}*/
.money-main{
    background: #D1D1D1;
    height: 0.51rem;
    padding: 0.04rem;
    border-radius: 10px ;
}
.money-img{
    margin: 0;
    height: 0.45rem;
    border: 3px solid #000;
    border-radius: 5px;
    background:rgba(209,209,209,1);
}
.money-box{
    border: none;
    margin-top: 0;
    position: relative;
    top: 9px;
}
.money-box span{
    color: #333333;
}
.num{
    width: 24px;
    height: 36px;
    background: url(/assets/mobile/baojia/img/num-pic.png) no-repeat;
    /*background-size: 100%;*/
    float: left;
    margin-right: 2px;
    margin-top: 0;
}
.num-gray{background-position: -24px -14px !important;}
.num-0{background-position: -55px -14px !important;}
.num-1{background-position: -88px -14px !important;}
.num-2{background-position: -117px -14px !important;}
.num-3{background-position: -146px -14px !important;}
.num-4{background-position: -177px -14px !important;}
.num-5{background-position: -206px -14px !important;}
.num-6{background-position: -238px -14px !important;}
.num-7{background-position: -268px -14px !important;}
.num-8{background-position: -296px -14px !important;}
.num-9{background-position: -329px -14px !important;}


.form-once{
    margin-top: 10px;
}
#shenming{
    padding-top: 3px;
}
.m-b-btn {
    margin-left: 10px !important;
    margin-right: 10px !important;
    background: #F53E3E;
}
.m-zxbj-edit  li {
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
}
.m-bj-edit{
    margin: 0 10px ;
}
.m-bj-edit li .c-zb-city, .m-bj-edit li .m-bj-edit-list{
    height: 0.51rem;
}

.datashow{
    width: 94px;
    margin: 0 auto;
    padding: 1em 0;
}
.baodan{
    margin: 0 22px;
    margin-top: 15px;
}

.baodan .swiper-container{
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.baodan .swiper-container{
    border-top: none;
}
.baodan .swiper-slide{
    width: 1.25rem !important;
}
.baodan .swiper-slide img{
    width: 100% ;
}


.baodan .arrow-baodan{
    width: 1.90rem;
    margin: 15px auto;
}
.arrow-baodan:before{
    content: '';
    display: inline-block;
    width: 0.60rem;
    height: 0.13rem;
    background: url("/assets/mobile/baojia/newbaojia/baojia-arrow-left.png") no-repeat ;
    background-size: 100%;
    position: absolute;
    top: 0.04rem;
    left: -0.55rem;
}
.arrow-baodan:after{
    content: '';
    display: inline-block;
    width: 0.60rem;
    height: 0.13rem;
    background: url("/assets/mobile/baojia/newbaojia/baojia-arrow-right.png") no-repeat ;
    background-size: 100%;
    position: absolute;
    top: 0.04rem;
    right: -0.55rem;
}
.swiper-container{
    border: none;
}
.baodan-item{
    /*height: 3rem;*/
    margin-right: 0.15rem;
}
.baodan-item img{
    width: 100%;
}


.data-title{
    margin: 15px;
    text-align: center;
    font-size: 0.13rem;
    font-weight: bold;
    font-family: 'PingFang';
    color: #ffff;
    position: relative;
}

.data-source{
    margin: 0 22px
}
.data-source .arrow{
    width: 0.60rem;
    margin: 15px auto;
}
.arrow:before{
    content: '';
    display: inline-block;
    width: 0.58rem;
    height: 0.10rem;
    background: url("/assets/mobile/baojia/newbaojia/baojia-arrow-left.png") no-repeat ;
    background-size: 100%;
    position: absolute;
    top: 0.04rem;
    left: -0.60rem;
}
.arrow:after{
    content: '';
    display: inline-block;
    width: 0.58rem;
    height: 0.10rem;
    background: url("/assets/mobile/baojia/newbaojia/baojia-arrow-right.png") no-repeat ;
    background-size: 100%;
    position: absolute;
    top: 0.04rem;
    right: -0.6rem;
}
.data-group{
    background: #fff;
    border: 1px solid #dedee0;
    border-radius: 5px;
    box-shadow:0px 0px 20px rgba(0,0,0,.8)
}
.data-list {
    padding: 0.213rem 0.15rem 0.23rem 0.268rem;
}
.data-list li{
    margin-bottom: 10px;
    font-size: 0;
}
.jinyan>div, .gongsi>div{
    box-sizing: border-box;
}

.shuju>div, .fenxi>div {
    box-sizing: border-box;
}
.data-left,.data-right{
    display: inline-block;
    vertical-align: middle;
}
.jinyan .data-left{
    width: 33.4%;
    padding: 0 0.11rem 0 0.03rem;
    margin-right: 0.19rem;
}
.jinyan .data-left img{
    width: 100%;
}
.jinyan .data-right{
    display: inline-block;
    width: 55.8%;
}
.shuju .data-left{
    width: 55.8%;
    margin-right: 0.10rem;
}
.shuju .data-right{
    width: 33.4%;
    padding-left: 0.09rem;
}
.shuju .data-right img{
    width: 100%;
}
.gongsi .data-left{
    width: 35.5%;
    margin-right: 0.19rem;
}
.gongsi .data-left img{
    width: 100%;
}
.gongsi .data-right{
    width: 55.8%;
}

.fenxi .data-left{
    width: 55.8%;
    margin-right: 0.19rem;
}
.fenxi .data-right{
    width: 35.5%;
}
.fenxi .data-right img{
    width: 100%;
}

.sub-title{
    color: #000;
}
.sub-title h3{
    color: #1638A9;
    font-size: 0.10rem;
    font-family: 'PingFang-SC-Bold';
    margin-top: 10px;
    margin-bottom: 10px ;
}
.sub-title p{
    font-size: 0.10rem;
    font-family: "PingFang-SC-Medium";
    color: #666666;
}
.submitBtn{
    margin: 15px 22px 0 22px;
    background: #F53E3E;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.baojia-btn{
    display: block;
    height: 50px;
    font-size: 14px;
    font-family: 'PingFang-SC-Medium';
    line-height: 50px;
    color: #ffffff;
}
#showCityPicker2{
    background:#EBEBEB;
    border-radius: 5px !important;
}
.map-marker{
    width: 0.15rem;
    height: 0.15rem;
    background: url("/assets/mobile/baojia/newbaojia/baojia-map-mark.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.m-bj-edit li .m-row-int1{
    background:#EBEBEB;
    border-radius: 5px !important;
}
.save-submit{
    border-radius: 5px;
}
/* #3C46A6*/
/*#footer{
    background:#3C46A6 url("/assets/mobile/baojia/newbaojia/baojia-bg.png") repeat-y; url("/assets/mobile/baojia/newbaojia/footerImg.png") no-repeat center bottom;
    background-size:110% 0.37rem;
    border: none;
    color: #fff;
    position: relative;
    top: -5px;
    background-position-y: 148px;
    padding-bottom: 50px;
}
#footer .hot{
    color:#3dfcfe;
}
#footer .footer-tel .phone-box{
    border: 1.5px solid #3dfcfe;
}*/

#footer{
    display: none;
}
#footer-container{
    text-align: center;
    width: 100%;
    padding: 1em 0;
    font-size: 0.6em;
    color: #999;
    background: url("/assets/mobile/baojia/newbaojia/footerImg.png") no-repeat center bottom;
    background-size:110% 0.5rem;
    position: relative;
    background-position-y: 120px;
    padding-bottom: 30px;
}
#footer-container .footer-tel {
    font-size: 16px;
    color: #fff;
}
.hot{
    color: #3DFDFF;
}
.phone-icon{
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    background: url("/assets/mobile/baojia/newbaojia/phone-icon.png");
    background-size:100% ;
}
.footer-title{
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}
