header{z-index: 3;}
footer {
	border-top:1px solid #eee;
	padding-bottom:10px;
	/*background:#fff;*/
}
.m-bj-edit{
	margin: 0 22px;/*修改*/
	margin-top: .8em;
}
.m-bj-items {
	border:1px solid #e2e2e2;
	background:#efefef;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	padding:10px 10px;
	margin:0 10px 60px 10px;
	margin-top: 50%;
	position: relative;
}
.dw{color: #ff5659;}
.model-box{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 10;
}
.close-btn{
	width: 1.8em;
	height: 1.8em;
	background: url(/assets/mobile/images/close.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute;
	right: -.3em;top: -2em;
}
.items-all-money {
	text-align:center;
	padding-bottom:10px;
}
.items-all-money p{
	font-size: 1.1em;
}
.items-all-money p>i{
	color: #ff5659;
}
.items-all-details .tel-box{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.items-all-details .tel-input{
	width: 90%;
	height: 2.5em;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #ccc;
	background: #fff;
}
.items-all-details .tel-box input{
	width: 100%;
    height: 2em;
    padding: 0.5em;
	margin-top: .65em;
    border: 0;
    outline: none;
    line-height: 2em;
    font-size: .8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.tel-box a.items-check-more{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	margin-top: 1em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	background: #ff5659;
	color: #fff;
}
.items-all-details p.tel-danger{
	font-size: .9em;
	color: #ff5659;
	margin-left: 6%;
	margin-top: .5em;
}
.items-all-details p.tel-count{
	font-size: .9em;
	text-align: center;
	margin-top: 0.6em;
}
.items-all-details p.tel-count i{
	color: #ff5659;
}
.items-check-more {
	margin-top:10px;
	color:#929292;
	display:block;
}
.kefu-back-info {
	font-size:13px;
	margin:10px 10px;
}
.kefu-back-info p {
	margin-top:5px;
}
.model {
	width: 96%;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	background:#fff;
	position:fixed;
	left:0;
	top:0;
	z-index:9999;
	margin:0 2%;
	margin-top:50%;
	box-sizing: border-box;
}
.model-btn {
	width: 80%;
	margin: 0 auto;
	color:#fff;
	margin:0 auto;
	margin-top: 1.5em;
	padding-bottom: 1.5em;
	overflow: hidden;
}
.model-btn div{
	width: 40%;
	height: 2.2em;
	float: left;
	line-height: 2.2em;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.leave-btn{margin-right: 18%;border: 1px solid #ff5659;color: #ff5659;}
.get-btn{border: 1px solid #ff5659;background: #ff5659;}
.model-info {
	font-size:1.1em;
	line-height:1.5em;
	text-align: center;
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}
.hide {
	display:none;
}
.save-submit{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.kefu-box{
	border-top: 0.5em solid #f5f5f5;
	border-bottom: 0.5em solid #f5f5f5;
	padding: 1em 0;
	overflow: hidden;
}
.kefu-tit{margin: 0 auto;
	font-size: 1.1em;
	text-align: center;
}
.kefu-info{
	width: 96%;
	margin-top: 1em;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 1em;
}
.fa-angle-right{
	font-size: 2em;
	font-weight: normal;
}
.kefu-img, .kefu-btn{
	width:32%;
	float: left;
	text-align: center;
}

.kefu-img, .kefu-btn p{
	font-size: .8em;
    margin-top: .4em;
    color: #4d4d4d;
}
.kefu-img{
	margin-left: 8%;
	position: relative;
}
.kefu-img:before{
 	width: 100%;
 	display: block;
 	position: absolute;
 	left: 0;
 	bottom: 3%;
 	color: #fff;
 	font-size: .9em;
 	line-height: 0.9em;
 	text-align: center;
}
.kefu-arrow{width: 20%;line-height: 6em;text-align: center;float: left;}
.kefu-arrow i:first-child{color: #eee;}
.kefu-arrow i:nth-child(2){color: #ccc;}
.kefu-arrow i:last-child{color: #999;}
.kefu-btn a{
	width: 90%;
	height: 2.2em;
	display: block;
	border: 1px solid #f79c33;
	color: #f79c33;
	margin-top: 1.6em;
	margin-left: 5%;
	text-align: center;
	line-height: 2em;
	line-height: 2.2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.kefu-img img{width: 100%;}
.kefu-shows{width: 94%;margin: 0 auto;padding: 1em 0; }
.kefu-shows img{width: 100%;}

/*滚动信息*/
.g-msg {
	width: 100%;
    position: fixed;
    top: 6em;
    left: 0;
    height: 3em;
    z-index: 2;
    font-size: .8em;
}
.g-msg .msg {
	width: 85%;
    position: absolute;
    top: 3em;
    top: 5em;
    background-color: rgba(0,0,0,.5);
    height: 3em;
    line-height: 3em;
    margin-left: 10px;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    color: #fff;
    display: none;
}
.msg img{
	width: 2.6em;
	height: 2.6em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	overflow: hidden;
	margin:0 1.2%;
	margin-top: .9%;
	float: left;
}

/*报价结果页*/
.baojia-list ul li{height: 2.9em;line-height: 2.9em;font-size: .95em;overflow: hidden;margin: 0 3%;}
.baojia-list ul li div:first-child{float: left;}
.baojia-list ul li div.baojia-money{float: right;color: #ff5659;}
.baojia-list ul li div.baojia-money span{color: #ff5659;font-weight: bold;}
.baojia-list ul li div.baojia-money i{margin-left: 0.5em;color: #000;}
.recount a{width: 100%;height: 2.8em;display:block;line-height: 2.8em;text-align: center;background: #ff5659;color: #fff;font-size: 1.1em;}

/*城市*/
.chengshi-box{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0,0,0,.6);
}
#box{
	width: 80%;
	height: 100%;
	background: #fff;
	float: right;
	position: relative;
}
.baojia-list ul li.baojia-item.active{height: auto; border-bottom: 0;}
.baojia-list ul li.baojia-item .baojia-money span{color: #ff5353;font-weight: bold;}

.baojia-item table{width: 100%; border:0; border-top:1px solid #ccc; display: none;}
.baojia-item table tr td{border:0; border-bottom: 1px solid #ccc; border-right:1px solid #ccc; text-align: center; vertical-align: middle;}
.baojia-item table tr td:last-child{border-left: 0;}

.baojia-total-money{
	text-align: center;
	background: #f8f8f8;
	margin:15px 12.5px 0;
	border-bottom: 1px dashed #facdcd;
	padding:10px 0;
	font-size: 0.15rem;
	font-weight: bold;
}
.baojia-total-money span{
	color: #ff5353
}

/*f3b023*/



/*新改版*/
.money-box{
	margin: 0 22px;
	border: 1px solid #dedee0;
	border-radius: 5px;
	margin-top: 15px;
}
.money-main{
	margin: 0 8px;
	overflow: hidden;
}
.money-img{
	height: 40px;
	margin-top: 8px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
	background: #555555;
}
.money-img span{
	display: inline-block;
	color: #bfbfbf;
	margin-top: 16px;
	font-size: 13px;
	margin-left: 2px;
	margin-right: 6px;
}
.num{
	width: 16px;
    height: 28px;
    background: url(/assets/mobile/baojia/img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.home-style span{
	display: block;
	float: left;
	width: 33%;
	font-size: 14px;
	line-height: 14px;
	margin: 14px auto;
	/*background: blue;*/
	overflow: hidden;
}
.home-style span:nth-child(2),.home-style span:nth-child(5){
	text-align: center;
}

.home-style span:nth-child(3),.home-style span:nth-child(6){
	text-align: right;
}
.m-bj-edit button,.m-bj-edit input{
	border-radius: 0 !important;
	outline: none;
}
.m-bj-edit button,.m-bj-edit i{
	color: #333 !important;
}
.m-b-btn{
	margin-left:22px !important;
	margin-right:22px !important;
	border-radius: 0;
}

.dw{color: #999 !important;}
.kefu-shows img{
	margin-bottom: 25px;
}
.form-again-img{width: 100%;overflow: hidden;margin: 25px auto;}
.form-again-img img{width: 100%;height: auto;}
.success-ok-img{
	width: 100%;
	height: auto;
}
.success-ok-img img{
	width: 100%;
	height: auto;
}
.accordion{
	margin: 0 12.5px;
    background: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.success-footer{
	margin: 0 12.5px;
    background: #f8f8f8;
    overflow: hidden;
    margin-bottom: 17.5px;
    padding-top: 17.5px;
    padding-bottom: 12.5px;
}
.success-tip{
	font-size: 13px;
    margin: 0 3%;
    color: #666;
    text-align: justify;
    margin-bottom: 25px;
}
.success-footer-img{width: 100%;height: auto;}
.success-footer-img img{width: 100%;height: auto;}
.gongzhonghao-text{
	text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 17px auto;
}
.guanzhu-text{
	font-size: 13px;
	line-height: 15px;
	color: #666;
	margin: 0 3%;
	text-align: justify;
}
.copy-text{font-weight: bold;}
.red-color{color: #ff5353;}
.recount{margin: 0 12.5px;margin-bottom: 20px;}
.m-bj-edit li .m-bj-edit-list{
	color: #333 !important;
}

#footer{
	position: fixed;
	bottom: 0;
}