/*
* @Author: qz_dc
* @Date:   2018-07-25 10:13:38
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-08-02 13:53:40
*/
article {
    background: url(img/zero-bg.jpg) repeat center;
}
.fl {
    float:left;
}
.fr {
    float: right;
}
.w33 {
    width: 33.33%;
}
.banner {
    width: 100%;
    height: 280px;
}
.banner img {
    display: block;
    width: 100%;
    height: 100%;
}
.style {
    background: transparent;
}
.style .img {
    height: 80px;
    position: relative;
}
.style .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 50px;
    height: 50px;
}
.style .title {
    font-size: 13px;
    font-weight: bold;
    color:#37434b;
    text-align:center;
    margin-top: -10px;
}
.top-fadan .t-title {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow:2px 2px 3px #37434e;
    font-size: 18px;
    font-weight: bold;
}
.m-bj-edit li {
    width: 85%;
    margin: 10px auto;
}
.c-zb-city {
    color: #333;
}
.c-zb-city,.m-bj-edit li .m-bj-edit-list {
    text-indent: 2em;
    border-radius:5px;
}
#showCityPicker2 i {
    display: block;
    position: absolute;
    left: 14px;
    top: 16px;
    width: 12px;
    height: 17px;
    background: url(img/dingwei.png);
    background-size: 12px 17px;
}
#showCityPicker3 i {
    display: block;
    position: absolute;
    left: 14px;
    top: 16px;
    width: 12px;
    height: 17px;
    background: url(img/dingwei.png);
    background-size: 12px 17px;
}
#showCityPicker4 i {
    display: block;
    position: absolute;
    left: 14px;
    top: 16px;
    width: 12px;
    height: 17px;
    background: url(img/dingwei.png);
    background-size: 12px 17px;
}
.fa-map-marker:before {
    content: '';
}
.icon-dingwei {
    position: absolute;
    left: 14px;
    top: 16px;
}
.icon-dingwei img {
    display: block;
    width: 12px;
}
.icon-jianzhu {
    position: absolute;
    left: 10px;
    top: 16px;
    z-index: 1;
}
.icon-jianzhu img {
    display: block;
    width: 16px;
}
.icon-wo {
    position: absolute;
    left: 10px;
    top: 16px;
    z-index: 1;
}
.icon-wo img {
    display: block;
    width: 14px;
}
.icon-dianhua {
    position: absolute;
    left: 10px;
    top: 16px;
    z-index: 1;
}
.icon-dianhua img {
    display: block;
    width: 15px;
}
.m-b-btn {
    width: 185px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    border-radius: 20px;
    background: linear-gradient(to right,#ea5e00 , #f39700);
}
.center-banner .c-banner img {
    display: block;
    width: 100%;
    height: 113px;
}
.fengge {
    background: url(img/fengge-bg.png) no-repeat;
    background-size: 100%;
    height: 350px;
    margin-top: 24px;
}
.fengge .f-title {
    text-align: center;
    font-size: 18px;
    text-shadow:2px 2px 3px #37434e;
    font-weight: bold;
}
.fengge .img ul {
    margin-top: 16px;
}
.fengge .img ul li {
    float: left;
    width: 45%;
    margin-left: 4%;
}
.fengge .img ul li img {
    display: block;
    width: 160px;
    height: 100px;
}
.fengge .img ul li .f-info {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}
.sheji .s-title {
    text-align: center;
    font-size: 18px;
    text-shadow:2px 2px 3px #37434e;
    font-weight: bold;
}
.bgyy {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    display: none;
}
.get-box {
    width: 350px;
    height: 560px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    z-index: 10;
    border-radius: 10px;
    background: url(img/money-bg.png) no-repeat center;
    background-size: 365px 585px;
    display: none;
}
.close img {
    display: block;
    width: 27px;
    height: 27px;
    float: right;
}
.success {
    padding-left: 95px;
}
.success img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.success .succ {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
.money {
    margin-top: 30px;
}
.banbao {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-left: 40px;
    margin-bottom:19px
}
.list {
    font-size: 12px;
    color: #333;
    margin-left: 40px;
    margin-bottom:19px
}
.red {
    color: #f82b2b;
    font-weight: normal;
    margin-right: 5px;
}
.black {
    margin-right: 5px;
}
.money-num {
    margin-right: 39px;
}
.msg {
    font-size: 14px;
    padding-left: 10px;
}

.get-box2 {
    width: 350px;
    height: 390px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    border-radius: 10px;
    background: url(img/get-bg.png) no-repeat center;
    background-size: 365px 395px;
    display: none;
}
.first-title {
    text-align:center;
    font-size:18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}
.two-title {
    text-align:center;
    font-size:15px;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.get-submit {
    width: 85%;
}
.chenggong {
    width: 350px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    border-radius: 10px;
    background: #fff;
    display: none;
}
#huoqu .success {
    padding-left: 0;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    text-align: center;
}
.info {
    text-align: center;
    font-size: 15px;
    color: #2e2e2e;
    margin-top:37px;
}
.swiper-pagination-bullet-active{background: #ff5353!important;}