.hl-main { width:92%; margin:0 4%; margin-top:1em}

.hl-main h1{ font-size:1.2em; line-height:1.5em; font-weight:100; border-left:3px solid #FF952D; padding-left:0.4em}
.hl-main ul{ padding:0.5em; margin-top:0.5em}
.hl-main ul li{ height:3em; margin-bottom:1em}
.hl-main ul li input,select,button{ height:3em; width:100%; box-sizing:border-box; background:#fff; border:1px solid #ccc;padding:5px;font-size: 14px;}
.hl-main ul li .yzm{ width:50% }
.hl-main ul li button{ background:#FFAB0E; border:0;color:#fff;}
.hl-main ul li .ymz-img{ float:right; display:inline-block; height:3em; overflow:hidden;width:45%}

.hl-list{ margin:0 2%; width:96%; margin-top:1em}
.hl-list li{ font-size:0.8em; margin-bottom:2px; padding:0.8em; background:#f7f7f7; line-height:1.5em; border-radius:5px}
.hl-list li span{ padding-right:1em; box-sizing:border-box}
.hl-list li span i{ margin-right:0.5em}
.hl-list li span.hl-yi{ color:#049252}
.hl-sm{ font-size:0.6em; color:#F74245; margin:1em 0}

.hl-diz {color: #666;}


/**********************************/
.win_box .form-horizontal{overflow: hidden; position: relative; width: 100%; height: 100%;}
.win_box .form-horizontal:after {
    content: "";
    display: block;
    clear: both;
}
.win_box .win_box_in .vtop{display: inline-block;display: inline;\9; vertical-align: top;}
.win_box .win_box_in .focus{border-color: #DE4348;}

.win_box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}
.win_box .win_box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.win_box .win_box_content {
    position: absolute;
    width: 518px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -290px;
}
.win_box .zb_box_out,.win_box .win_box_out {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.24;
    filter: alpha(opacity=40);
    border-radius: 10px;
}
.win_box .zb_box_in,.win_box .win_box_in {
    position: absolute;
    width: 540px;
    height: 430px;
    top: 50%;
    left: 50%;
    margin-top: -215px;
    margin-left: -270px;
    background: #fff;
}
.win_box .zb_box_title {
    position: relative;
    color: #666;
}
.win_box .zb_box_title .zb_box_hd{
    width: 100%;
    height: 83px;
    position: relative;
}
.win_box .zb_box_title .zb_box_hd_sj {
    background: url(/assets/common/img/header_sj.jpg) no-repeat;
}
.win_box .zb_box_title .zb_box_hd_bj {
    background: url(/assets/common/img/header_bj.jpg) no-repeat;
}

.win_box .zb_box_title .zb_box_hd_ys {
    background: url(/assets/common/img/header_ys.jpg) no-repeat;
}
.win_box .zb_box_title .zb_box_hd_lf {
    background: url(/assets/common/img/header_lf.jpg) no-repeat;
}

.win_box .zb_box_title .zb_box_info {
    text-align: center;
    font-size: 14px;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
    padding: 5px 0;
    background: #f2f2f2;
}


.win_box .input-msg{text-align: center; color: #666; padding:10px 0;}
.win_box .zb_box_form{padding:10px 0px 0px 20px;} /*overflow: hidde;}*/
.win_box .zb_box_tip{padding:10px 0; text-align: center; font-size: 16px; color: #DE4348;font-family: arial, microsoft yahei, "Microsoft YaHei";}
.win_box .zb_box_btn{background: #DE4348;padding:10px 15px; margin-bottom: 10px; border-radius: 30px; font-weight: bold; font-size: 14px; color: #FFF; cursor: pointer;}
.win_box .zb_box_footer .zb_box_info{color:#A5A5A5; font-size:13px; text-align: left; font-family: arial, microsoft yahei, "Microsoft YaHei"; margin-bottom: 10px; }
.win_box .zb_box_footer .zb_box_info .icon {
    background: url(/assets/common/img/global.png) no-repeat;
    width: 24px;
    height: 18px;
    background-position: -181px -7px;
    display: block;
    float: left;
}
.win_box .zb_box_footer .zb_box_msg {
    color: #A5A5A5;
    font-size: 13px;
    text-align: left;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
}
.win_box .zb_box_footer .zb_box_msg span{color: #DE4348;}
.win_box .zb_box_footer .zb_box_msg .icon {
    background: url(/assets/common/img/global.png) no-repeat;
    width: 23px;
    height: 20px;
    background-position: -215px -35px;
    display: block;
    float: left;
}
.win_box_close {
    background: url(/assets/common/img/global.png) no-repeat;
    width: 18px;
    height: 19px;
    background-position: -7px -6px;
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    cursor: pointer;
}
.win_box_err{color: #DE4348; height: 20px; font-size: 12px; font-weight: bold; font-family: arial, microsoft yahei, "Microsoft YaHei";text-align: center;}
.win_box .form-horizontal .win_box_focus{border: 1px solid #DE4348;}
.win_box .win_box_tip{color: #CB1108; margin-left: 5px; float: none; font-style: normal; text-align: center; }
.step1,.step2,.step3{background: #FFF; width: 100%; height: 100%; border: 1px solid #FFF; width: 518px; height: 398px;float: left;font-family:arial, microsoft yahei, "Microsoft YaHei"; position: relative;}
.step1{background: url(/assets/common/img/zxbj_bg.gif) repeat;}
.win_box .steptop{ width: 518px;height:72px;}
.win_box .steptop .win_line{ margin:0 15px; margin-top:15px; height: 1px; width: 548px; border-bottom: 2px dashed #C1C1C1; float: left;}
.step1 .steptop{background: url(/assets/common/img/zxbj_top.png) no-repeat;}

.step2 .steptop h2,.step3 .steptop h2{font-size: 18px;color: #9D5723;font-weight: bold; float: left; margin-top:20px; margin-left: 20px; }
.step2 .step_info,.step3 .step_info{margin:0 20px; text-align: left; font-size: 14px;}
.step3 .step_info{background: #EEEEEE; padding:10px; margin-top:30px;}
.step3 .step_info dl dt,.step3 .step_info dl dd{line-height: 26px; color: #888;}
.step_form{margin:18px 0 10px 0px; float: left;width: 100%;}
/*.step_form .line input{height: auto;}*/
.step_form .line button.verify{height: 32px; line-height: 30px; padding:0 10px; border: 1px solid #ccc; cursor: pointer; color: #666;}
.step_form .line button.verify[disabled]{color: #999; cursor:no-drop;}
.step_form .line .iradio_minimal-red{float: left; margin-top:5px;}
.step_form .line .span{font-size: 14px; font-family:arial, microsoft yahei, "Microsoft YaHei"; float: left; margin-top:3px; margin-left:5px; }
.step_form .line .step_tips{color:#DE4348; text-align: center; font-size: 14px; }
.step_form .button {
    height: 30px;
    line-height: 28px;
    width: 150px;
    background: #CE0F0F;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    border: 1px solid #BA0F0F;
    border-radius: 5px;
    font-size: 14px;
    font-family: microsoft yahei;
    margin-top:10px;
}
.step_form .buttons{ width: 100%; text-align: center; bottom: 30px;}
.step_form .buttons button.button{display: inline-block; margin:0; margin-right:5px; border: 0; cursor: pointer;}
.button:hover {
    background: #C61522
}
.win_box .zxbj-tip{float: left; margin-top:6px; font-size: 12px;}
.win_box .win_box_list{width: 1920px; overflow:hidden; position: absolute;}
.win_box .shutdown{background: url(/assets/common/img/global.png) no-repeat;width:34px;height:31px;background-position:-283px -13px; float: right; margin-right: 15px; margin-top:10px; cursor: pointer;}
.step_form .step2_tips{height: 24px; font-weight: bold;}
.step_form .btnBack{background: #FF6633;}