.m-wrap{ background-color:#f1f1f1}


.focus{ position:relative; margin-bottom:10px}
.focus .hd{ z-index:1;position:absolute; bottom:10px; font-size:0; right:5%; box-sizing:border-box;}
.focus .hd li{ border-radius:50px; width:10px; height:10px; background:rgba(49,58,87,.9); border:#fff 2px solid}
.focus .bd{position:relative; z-index:0}
.focus .bd li img{ width:100%;  height:auto;}
.focus .hd ul { width:auto; margin:auto; overflow:hidden}
.focus .hd li{ float:left; margin-right:5px}
.focus .hd ul .on{ background-color:#f75454;}


.m-index-menu{ width:96%; margin:0 2%; border-top:3px solid #ef5858;box-shadow:0 0 5px rgba(0,0,0,.2); padding:10px 0; background:#fff}
.m-index-menu ul { overflow:hidden}
.m-index-menu ul li{ float:left; width:25%; padding:0 1em; box-sizing:border-box; font-size:0.8em; text-align:center; margin-top:10px; line-height:2.5em;white-space:nowrap;}
.m-index-menu ul li span{ padding:15%; box-sizing:border-box; display:block; margin:0 auto; border-radius:40%; opacity:0.8}
.m-index-menu ul li span:active{ opacity:1}
.m-index-menu ul li span img{ width:100%; height:auto; opacity:1}
.m-index-menu ul li span.m1{ background: rgba(67,164,255,1.00);}
.m-index-menu ul li span.m2{ background: rgba(251,206,17,1.00);}
.m-index-menu ul li span.m3{ background: #06D4BE;}
.m-index-menu ul li span.m4{ background: #11B843; }
.m-index-menu ul li span.m5{ background: #3D55A2;}
.m-index-menu ul li span.m6{ background: #D7282B;}
.m-index-menu ul li span.m7{ background: #63A02B;}
.m-index-menu ul li span.m8{ background: #DC7199;}
.m-index-menu ul li span.m9{ background: #E78D3E;}
.m-index-menu ul li span.m10{ background: #36B7D1;}
.m-index-menu ul li span.m11{ background: #6AC2FB;}
.m-index-menu ul li span.m12{ background: #A78F71;}

.content-box { width:96%; margin:0 2%; margin-top:1em; background:#fff}
.content-box .box-tit{ height:2em; line-height:2em; border-left:3px solid #F05456; font-size:1.2em; padding-left:0.5em; margin-bottom:1em}
.content-box .box-tit .box-tips{ font-size:0.6em; float:right; margin-right:0.5em}
.red{ color:#F05456}
.content-box .box-more{ border-top:1px dashed #eee; height:2.5em; line-height:2.5em; text-align:center; display:block; color:#D13032; margin-top:1em}


.index-input,.new-qd,.comp-logo{ width:90%; margin:auto; overflow:hidden}
.index-input li{ width:100%; padding-bottom:1em}
.index-input li *{ text-indent:10px;width:100%; font-size:1em; height:3em; box-sizing:border-box; margin:0; padding:0;}
.index-input li button{ background:#ef5858; border:1px solid #DF2124; color:#fff}


.new-qd li{ overflow:hidden; line-height:2em; font-size:0.8em;white-space:nowrap; text-overflow:ellipsis; }
.new-qd li p{ width:25%; float:left}
.new-qd li p:last-of-type{ width:50%}

.comp-logo li{ width:33%; padding:0 10px; box-sizing:border-box; float:left; line-height:1.5em;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin-bottom:1em; font-size:0.8em}
.comp-logo li p { min-width:80px; max-width:100%;height:60px; vertical-align:middle; display:table-cell; background:#f1f1f1; text-align:center;}
.comp-logo li p img{ width:100%;max-height:60px;}

.xgt-list { padding:0 5px; overflow:hidden;}
.xgt-list dt{ width:48%; margin:0 1% ;float:left; position:relative; line-height:2em; background:#f7f7f7; text-align:center; font-size:0.8em}
.xgt-list dt img{width:100%; height:100px}
.xgt-list dt i{ bottom:2.3em; left:0.5em; color:#fff; position:absolute; display:block}
.xgt-list dd{ width:98%; margin:0 1%; padding-top:0.5em; clear:both}
.xgt-list dd a{ display:inline-block; height:2.5em;line-height:2.5em; padding:0 8px; background:#FDF2F2; color:#FF4346; margin-right:8px; border-radius:3px; margin-top:0.5em; font-size:0.8em}



.gl-list { width:96%; margin:0 2%; overflow:hidden; margin-bottom:1em}
.gl-list dt{ width:2em; height:2em; line-height:1em;padding:1em; border-radius:50%; color:#fff; float:left; margin-right:1em}.gl-list dt a{ color:#fff}
.gl-list dd { line-height:1em; width:14em; float:left}
.gl-list dd a{white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:inline-block; width:100%; line-height:1.8em}
.gl-list dd p{ padding-top:0.2em; font-size:0.8em; height:3.6em; text-overflow:ellipsis; overflow:hidden; color:#888;}
.gl-list dt.gl1{ border:0.5em #D2FFFC solid; background: #20D5D3}
.gl-list dt.gl2{ border:0.5em rgba(252,241,217,1.00) solid; background: #FFA43E}
.gl-list dt.gl3{ border:0.5em #FEFFDD solid; background: #FFD600}
.gl-list dt.gl4{ border:0.5em #D1E8F3 solid; background: #37BFF0 }




/*iphone4显示修正*/@media screen and (max-width:320px)
{
.gl-list dd { line-height:1em; width:12em; float:left}
}

/*iphone6+显示修正*/@media screen and (min-width:414px)
{
.gl-list dd { line-height:1em; width:17em; float:left}
}
/*ipad显示修正*/@media screen and (min-width:500px)
{
.m-index-menu ul li{ float:left; width:16.6666666666%; padding:0 1em; box-sizing:border-box; font-size:0.8em; text-align:center; margin-top:10px; line-height:2.5em;white-space:nowrap;}
.xgt-list dt img{width:100%; height:200px}
.gl-list dd {line-height:1em; width:30em; float:left}
}

.qz-info{ padding:1em; text-indent:2em; line-height:1.5em; font-size:0.8em}