.meitu-menu { margin-top:1em}
.meitu-menu dl{ width:96%; margin:0 2%; border-top:3px solid #ff9b9b}
.meitu-menu dl dt{ line-height:2.8em; font-size:1.5em;}
.meitu-menu dl dd { overflow:hidden; height:4.8em; position:relative}
.meitu-menu dl dd.active{ height:auto; padding-bottom:2.2em}
.meitu-menu dl dd .flexible{ position:absolute; line-height:2.2em; height:2.2em; bottom:0; left:0; background:#fff; border-top:1px dashed #eee; width:100%; text-align:center}
.meitu-menu dl dd .flexible i{ margin-left:0.2em}
.meitu-menu dl dd a{ display:block; float:left; padding:0.3em 0.5em; line-height:1.5em; height:1.5em; margin-right:0.5em; margin-bottom:0.5em; background:#f7f7f7;}

.meitu-more-img{ height:100px; overflow:hidden;-webkit-overflow-scrolling : touch; overflow-x:scroll; width:100%; margin-top:0.5em}
.meitu-more-img ul{ width:10000%}
.meitu-more-img li{ float:left; width:auto; height:100px; margin-right:15px}
.meitu-more-img li img{ width:auto; height:100%}

.meitu-gz h3{ border-left:3px solid #eee; padding-left:0.5em; margin:1em 0; font-size:1.2em; font-weight:100;}
.meitu-gz ul li { text-align:center; width:25%; box-sizing:border-box; padding:1px; float:left; height:128px; line-height:30px}
.meitu-gz ul li a{ display:block; background:#f1f1f1; box-sizing:border-box; padding:10px; }
.meitu-gz ul li .gz-img{ display:block; border-radius:1000px; overflow:hidden;width:100%;height:68px ;margin-bottom:0.5em}.meitu-gz ul li .gz-img img{width:100%;height:100%; opacity:0.8}

/*美图详情*/
.diary-main{ width:92%; margin:0 4%; box-sizing:border-box; text-align:center; border:1px solid #eee; margin-top:1em; border-radius:3px; background:#f7f7f7}
.diary-main h1{ text-align:left; padding-left:1em; font-size:1.2em; line-height:2em; font-weight:100; border-bottom:1px dashed #eee}
.diary-main img{ max-width:90%; margin:1em 0}

/*美图列表*/
.meitu-chouse { overflow:hidden}
.meitu-chouse select {-webkit-appearance: none;
-moz-appearance: none;
appearance: none;background: none; display:block; outline:0;height:3em; color:#545454; border:0; width:100%}
.meitu-chouse-row:last-of-type{ border-right:0}
.meitu-chouse-row{ padding:0 0.2em; width:25%;background:#f7f7f7;  box-sizing:border-box; float:left; border-right:1px solid #fff;margin-top:1em; position:relative}
.meitu-chouse-row:after{position: absolute;
content: "";
display: block;
border-top: 3px solid #aaa;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
bottom:40%;
right: 5px;}
.meitu-chouse-row:before{position: absolute;
content: "";
display: block;
border-bottom: 3px solid #aaa;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
top: 40%;
right: 5px;}

.meitu-list{ margin:0 4%; width:92%; box-sizing:border-box; padding-top:1em}
.meitu-list li{ box-shadow:0 0 5px rgba(0,0,0,.2); padding:0 10px 0 10px ; border-top-left-radius:3px; border-top-right-radius:3px; text-align:center; margin-bottom:1em}
.meitu-list li p{ font-size:1.2em; line-height:2em; height:2em; border-bottom:1px dashed #eee;overflow:hidden; text-overflow:ellipsis;white-space:nowrap; font-weight:100; margin-bottom:10px; text-align:left}
.meitu-list li img{ max-width:100%; height:auto}
.meitu-list-info{ text-align:left}
.meitu-list-info span{  font-size:0.8em; color:#aaa; margin:1em 1em 1em 0; display:inline-block}
.meitu-list-info span i{ margin-right:0.5em}
.meitu-list li a.meitu-click-into{ display:block; height:2em; border-top:1px dashed #eee;  width:100%; line-height:2em; color:#FB7E80}
.notfind{display: block;height: 48px;width: 100%;}