.mainBox{
    width: 100%;
}
.product{
    background: #FFFFFF;
    padding: 12px 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.cover img{
    width: 75px;
    height: 75px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
}
.info{
    margin-left: 20px;
    width: 100%;
}
.info p:first-child{
    font-size: 1.6rem;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
}
.info p:nth-child(2){
    font-size: 1.4rem;
    color: #666666;
    margin-top: 5px;
}
.info p:last-child{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 15px;
}
.info span.price{
    color: red;
}
.reason{
    width: 100%;
    height: 45px;
    padding:15px;
    box-sizing: border-box;
    display: flex;
    background-color: #fff;
    margin-top:15px;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}
.reason1{
   margin-top:0; 
   border:none;
}
.reason p{
    font-size: 1.5rem;
    color:#333;
    font-weight: 500;
    line-height: 15px;
}
.reason i{
    color: #ccc;
}
.reason .selectText{
    font-size: 1.5rem;
    color:#A6A6A6;
    font-weight: 500;
}
.reason .select{
    width: 77%;
    display: flex;
    justify-content: space-between;
}

.moneyBox{
    width: 100%;
    background: #fff;
    height: 45px;
    padding:15px;
    box-sizing: border-box;
    display: flex;
    margin-top:15px;
}
.moneyBox p{
    font-size: 1.5rem;
    color:#333;
    font-weight: 500;
}
.moneyBox p:last-child{
   margin-left:5%; 
}
.desBox{
    width: 100%;
    background-color: #fff;
    padding:15px;
    box-sizing: border-box;
    margin-top:15px;
}
.desBox p{
    font-size: 1.5rem;
    color:#333;
    font-weight: 500;
}
.desBox textarea{
    background-color: #F3F3F3;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    resize: none;
    border:none;
    margin-top:15px;
    padding:10px;
    box-sizing: border-box;
}
.desBox textarea::-webkit-input-placeholder { 
    color:#A6A6A6;
    font-size: 1.5rem;
}
.upload{
    width: 100%;
    background-color: #fff;
    padding:0 15px 15px;
    box-sizing: border-box;
    margin-top:15px;
}
.textBox{
    display: flex;
}
.textBox p:first-child{
    font-size: 1.5rem;
    color:#333;
    line-height: 40px;   
}
.textBox p:last-child{
    font-size: 1.5rem;
    color:#A6A6A6; 
    margin-left:5%;
    line-height: 40px;   
}
.mainBox button{
    width: 90%;
    height: 40px;
    padding:13px 0;
    text-align: center;
    color:#fff;
    font-size: 1.5rem;
    font-weight: 500;
    border:none;
    margin:15px auto;
    background-color: #FFA800;
    border-radius: 5px;
    display: block;
}
/* 模态窗 */
.mask{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left:0;
    top:0;
}
.mask1{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left:0;
    top:0;
}
.toast{
    width: 65%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
}
.toast1{
    top:30%;
}
.toast2{
    width: 70%;
    top:1%;
}
.toastTop{
    padding:20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.6rem;
    color:#333;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.list{
    padding:15px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    align-items: center;
}
.list p{
    font-size: 1.5rem;
    color:#333;
    font-weight: 500;  
}
.list .img{
    width: 15px;
    height: 15px;
}
.list .img img{
    width: 100%;
    height: 100%;
}
.do{
    display: flex;
    justify-content: space-between;
}
.cancle{
    width: 50%;
    font-size: 1.5rem;
    color:#999999;
    font-weight: 500;
    border-right:1px solid #ccc;
    line-height: 45px;
    text-align: center;
}
.confirm{
    width: 50%;
    font-size:1.5rem;
    color:#FFA800;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}