<extend name="Common:basic"/>
<block name="title"><title>{$head.title}</title></block>
<block name="keywords"><meta name="keywords" content="{$head.keywords}" /></block>
<block name="description"><meta name="description" content="{$head.description}" /></block>
<block name="link">
    <link href="/assets/mobile/card/css/coupontsuccess.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <div class="m-header-his">
       <i class="fa fa-angle-left"></i>
    </div>
    <a href="http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/" class="m-header-left"></a>
    <div class="m-header-city" style="left: 35%;"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>
</block>
<block name="content">
   <article>
        <div class="contentone">
            <if condition="$cardinfo['active_type'] EQ 2 ">
                <div class="youhuiqwk youhuiqwk2">
            <else/>
                <div class="youhuiqwk">
            </if>
                <div class="youhqneir">
                    <div class="youhqneir-title">{$cardinfo.jc}</div>
                    <div class="quanzhiwk">
                        <if condition="$cardinfo['active_type'] EQ 2 ">
                            <div class="pricewk">{$cardinfo.gift}</div>
                            <div class="pricems">
                                <div>满{$cardinfo.money3}元可领</div>
                            </div>
                            <else/>
                            <div class="pricewk"><span class="pricewk-danwei">￥</span>{$cardinfo.money2}</div>
                            <if condition="$cardinfo['money1'] EQ 0">
                                <div class="pricems">
                                    <div>立减{$cardinfo.money2}元</div>
                                </div>
                                <else/>
                                <div class="pricems">
                                    <div>满{$cardinfo.money1}元可用</div>
                                </div>
                            </if>
                        </if>
                    </div>
                    <div class="youohuiqtime">使用时间：<span>{$cardinfo.start|date="Y.m.d",###}</span>~<span>{$cardinfo.end|date="Y.m.d",###}</span></div>
                </div>
            </div>
            <div class="takesuccess-title">领取成功</div>
            <div class="youhuiqmh">
                <div class="youhuiqmh-title">优惠券编号</div>
                <div class="youhuiqmh-hao">{$recordinfo.card_number}</div>
            </div>
        </div>
        <div class="contentlook">
            <div class="contentlook-title">优惠券已放入您的卡券包,并发送短信至您的手机</div>
            <a class="kaquanbao" href="/card/cardbag.html">去我的卡券包查看</a>
        </div>
       <if condition="$cardinfo['rule'] NEQ ''">
           <div class="contenttwo">
               <div class="contenttwo-title">使用须知</div>
               <pre class="usemiaos">{$cardinfo.rule}</pre>
           </div>
       </if>
   </article>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

          if($("body").height()<$("html").height()){
            $("article").height($("html").height() - $("#footer").outerHeight()-$('header').outerHeight())
          }

        })
    </script>
</block>