<extend name="Main:baseTemplate" />
<block name="title">
    <title>城市新签合作时长 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/home/css/xs-gangwei.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="overflow-x">
                        <div class="overflow-box" style="width: 1450px;">
                            <div class="box-header">
                                <h3><i class="xs-icon gangwei-icon"></i> 城市新签合作时长</h3>
                                <form class="form-horizontal">
                                    <div class="from-list">
                                        <style>
                                            .box-header .select2-container{width: 130px;vertical-align: middle;}
                                            .box-header .select2-choice{height: auto !important;line-height: 17px !important;}
                                            .box-header .select2-container .select2-choice div b{background-position: 0 0 !important;}
                                            .from-list .from-item span {text-align: left;}
                                            .search-btn{margin-top: 0px;}
                                            table tbody input[type="text"] {width:50px;}
                                            .blk {display: inline-block;width: 80%;}
                                        </style>
                                        <div class="blk">
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">部门：</span>
                                                <select id="department" class="select2 select2-offscree pull-left" name="department" type="text">
                                                    <switch name="department">
                                                        <case value="0">
                                                            <option value="">请选择</option>
                                                            <option value="1">商务</option>
                                                            <option value="2">外销</option>
                                                        </case>
                                                        <case value="1">
                                                            <option value="">请选择</option>
                                                            <option value="1">商务</option>
                                                        </case>
                                                        <case value="2">
                                                            <option value="">请选择</option>
                                                            <option value="2">外销</option>
                                                        </case>
                                                    </switch>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">拓师长：</span>
                                                <select id="tshizhang" name="tshizhang" class="select2 select2-offscree pull-left">
                                                    <option value="">全部</option>
                                                    <volist name="brand.dev_division" id="vo">
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">拓团长：</span>
                                                <select id="ttuanzhang" name="ttuanzhang" class="select2 select2-offscree pull-left">
                                                    <option value="">全部</option>
                                                    <volist name="brand.dev_regiment" id="vo">
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">城市经理：</span>
                                                <select id="csjl" name="csjl" class="select2 select2-offscree pull-left">
                                                    <option value="">全部</option>
                                                    <volist name="brand.dev_manage" id="vo">
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="blk">
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">城市：</span>
                                                <select id="city" name="city" class="select2 select2-offscree pull-left">
                                                    <option value="">所属城市</option>
                                                    <volist name="citys" id="vo">
                                                        <option value="{$vo.city}">{$vo.city}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">品师长：</span>
                                                <select id="pshizhang" name="pshizhang" class="select2 select2-offscree pull-left">
                                                    <option value="">全部</option>
                                                    <volist name="brand.brand_division" id="vo">
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">品团长：</span>
                                                <select id="ptuanzhang" name="ptuanzhang" class="select2 select2-offscree pull-left">
                                                    <option value="">全部</option>
                                                    <volist name="brand.brand_regiment" id="vo">
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto;float: left;line-height: 25px;">品牌师&nbsp;&nbsp;&nbsp;&nbsp;：</span>
                                                <select id="pinpai" name="pinpai" class="select2 select2-offscree pull-left">
                                                    <option value="">全部</option>
                                                    <volist name="brand.brand_manage" id="vo">
                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                            <div class="from-item">
                                                <span style="width: auto">查询月份：</span>
                                                <input id="time" class="datepicker" type="text" name="time" placeholder="选择日期" value="{$keyword.time}">
                                            </div>
                                            <div class="from-item"><button class="search-btn xs-btn">查询</button></div>
                                        </div>
                                    </div>
                                </form>
                                <div class="select-role-input">显示：
                                    品师长<input type="checkbox" value="品师长">
                                    品团长<input type="checkbox" value="品团长">
                                    品牌师<input type="checkbox" value="品牌师">
                                    拓师长<input type="checkbox" value="拓师长">
                                    拓团长<input type="checkbox" value="拓团长">
                                    城市经理<input type="checkbox" value="城市经理">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="todo-item">
                                    <div class="pull-right position-relative">
                                        <a href="/salesetting/downloadmodule?type=11&data=1" style="color: #FFF;"><button class="xs-btn hideLoading">导出</button></a>
                                        <i class="xs-icon zhushi-icon"></i>
                                        <div class="zhushi-info">
                                            <p>1、本页数据以城市为唯一标识，其他数据均附属信息。本页数据来源为“销售系统设置”中内数据和后台提取数据</p>
                                            <p>2、搜索栏：</p>
                                            <p>2.1搜索栏中的“部门”选项包含商务，外销，营销中心三个选项，军长及以下员工登录，对应的员工显示对应的“部门”</p>
                                            <p>2.2搜索中的“财年”显示2016,2017,2018,2019，2020，每一财年12个月（固定为当年的2月到次年1月）</p>
                                            <p>3、表格</p>
                                            <p>+置顶（鼠标悬浮在记录的城市上方时显示置顶按钮，点击置顶，则记录显示在首页的第一条）</p>
                                            <p>3.1表格默认显示20行数值，默认显示当日数据。默认“实际总会员数”降序</p>
                                            <p>3.2所有“XX数”全部为整数。</p>
                                            <p>3.3所有“XX率”全部为：XX.X%，即取值小数点后1位，比如：90.17%取值90.2%，90.14%取值90.1%四舍五入，90%取值90.0%。</p>
                                            <p>3.4当月的数据：当日凌晨0:10，之前月数据：统计当次月1日凌晨0：10的数值，所有当月统计数值，取次月1日凌晨0：10的数值定格保存。</p>
                                            <p>3.5“营销中心”的“XX数”为：外销部和商务部的总计数值</p>
                                            <p>3.6“营销中心”的“XX率”为：外销部和商务部的实际总计XX数值/外销部和商务部的指标总计XX数值</p>
                                            <p>3.7“外销”的“XX数”为：外销部城市合计数值；推理“商务”相同逻辑，同样的推理3.6使用部门逻辑。</p>
                                            <p>取会员的各种数值，根据会员ID号取值。</p>
                                            <p>1、新签数≥1年：当月新签会员，本次合同开始日到本次合同结束日≥365天</p>
                                            <p>2、1年＞新签数≥0.5年：当月新签会员，本次合同开始日到本次合同结束日，365＞新签数≥182天</p>
                                            <p>3、0.5年＞新签数≥0.25年：当月新签会员，本次合同开始日到本次合同结束日，182＞新签数≥90天</p>
                                            <p>4、新签数＜0.25年：当月新签会员，本次合同开始日到本次合同结束日，新签数＜90天</p>
                                            <p>5、占比：合作时长新签数/总数*100%</p>
                                            <p>6、中途暂停：暂停期间内不计入会员数和总数</p>
                                            <p>7、退费：退费后不计入会员数和总数</p>
                                            <p>8、新签：根据会员ID号取值，本次合同开始日与上次合作的本次合同结束日间隔天数，间隔天数＞180天，或无合作过的会员属于新签</p>
                                            <p>9、续费：根据会员ID号取值，本次合同开始日与上次合作的本次合同结束日间隔天数，间隔天数≤180天的会员属于续费</p>
                                            <p>10、当月数据显示：以当日凌晨0:10的数值显示，比如4月16日当天数据显示为4月16日凌晨0：10的数值，分析折线图不显示4月数值。</p>
                                            <p>11、所有统计数值，取次月1日凌晨0：10的数值定格保存。</p>
                                            <p>12、表格中列项的数值为访问页面角色管辖城市的合计数值，其中“XX率”为XX合计值/XX合计值*100%，角色对应的管辖城市由“销售管理系统”中“权限设置”获取。</p>
                                            <p>13、所有列项都以表内容中最大字节尺寸为标准尺寸（字体标准11号），所有的表格每列平均尺寸，不因为显示器大小，字体的变化而改变，如果出现文字较多的表头可最多分两行显示，或表头字体变小，表内容尺寸全部一致只显示一行，文字较多的表格往右延伸。比如，表内容名字“西门吹雪”，则所有的格子列项为四个字节大小。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-item-count">
                                    <p>
                                        <span class="count-list">共<i>{$totalnum}</i>条</span>
                                    </p>
                                </div>
                                <table id="reset-table" class="table table-bordered table-hover dataTable no-footer" role="grid" >
                                    <thead class="thead1" style="width: 1450px;">
                                        <tr role="row">
                                            <th title="部门">部门</th>
                                            <th title="城市">城市</th>
                                            <th class="role-hide" title="品师长">品师长</th>
                                            <th class="role-hide" title="品团长">品团长</th>
                                            <th class="role-hide" title="品牌师">品牌师</th>
                                            <th class="role-hide" title="拓师长">拓师长</th>
                                            <th class="role-hide" title="拓团长">拓团长</th>
                                            <th class="role-hide" title="城市经理">城市经理</th>
                                            <th title="实际总会员数">实际总会员数</th>
                                            <th title="会员数≥1年">会员数≥1年</th>
                                            <th title="占比">占比</th>
                                            <th title="1年＞会员数≥0.5年">1年＞会员数≥0.5年</th>
                                            <th title="占比">占比</th>
                                            <th title="0.5年＞会员数≥0.25年">0.5年＞会员数≥0.25年</th>
                                            <th title="占比">占比</th>
                                            <th title="会员数＜0.25年">会员数＜0.25年</th>
                                            <th title="占比">占比</th>
                                        </tr>
                                    </thead>
                                    <thead class="thead2" style="width: 1450px;">
                                        <tr role="row">
                                            <th title="部门">部门</th>
                                            <th title="城市">城市</th>
                                            <th class="role-hide" title="品师长">品师长</th>
                                            <th class="role-hide" title="品团长">品团长</th>
                                            <th class="role-hide" title="品牌师">品牌师</th>
                                            <th class="role-hide" title="拓师长">拓师长</th>
                                            <th class="role-hide" title="拓团长">拓团长</th>
                                            <th class="role-hide" title="城市经理">城市经理</th>
                                            <th title="实际总会员数">实际总会员数</th>
                                            <th title="会员数≥1年">会员数≥1年</th>
                                            <th title="占比">占比</th>
                                            <th title="1年＞会员数≥0.5年">1年＞会员数≥0.5年</th>
                                            <th title="占比">占比</th>
                                            <th title="0.5年＞会员数≥0.25年">0.5年＞会员数≥0.25年</th>
                                            <th title="占比">占比</th>
                                            <th title="会员数＜0.25年">会员数＜0.25年</th>
                                            <th title="占比">占比</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <volist name="list" id="v">
                                        <tr role="row" class="odd">
                                            <td><span>{$v.department}</span></td>
                                            <td><span>{$v.city}</span><i class="fa fa-arrow-up paixu" title="置顶" data-id="{$v.id}"></i></td>
                                            <td class="role-hide"><span>{$v.brand_division_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$v.brand_regiment_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$v.brand_manage_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$v.dev_division_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$v.dev_regiment_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$v.dev_manage_name|default="-"}</span></td>
                                            <td><span>{$v.realvipnum}</span></td>
                                            <td><span>{$v.gtyear}</span></td>
                                            <td><span>{$v.gtyear_percent}</span></td>
                                            <td><span>{$v.gthalfyear}</span></td>
                                            <td><span>{$v.gthalfyear_percent}</span></td>
                                            <td><span>{$v.lthalfyear}</span></td>
                                            <td><span>{$v.lthalfyear_percent}</span></td>
                                            <td><span>{$v.ltmonth}</span></td>
                                            <td><span>{$v.ltmonth_percent}</span></td>
                                            <!-- <td>
                                                <span>{$v.brand_division|getSaleUserName}</span>
                                            </td>
                                            <td>
                                                <span>{$v.brand_regiment|getSaleUserName}</span>
                                            </td>
                                            <td>
                                                <span>{$v.brand_manage|getSaleUserName}</span>
                                            </td> -->
                                        </tr>
                                        </volist>
                                        <tr role="row" class="odd">
                                            <td><span>{$heji.department|default="本页合计"}</span></td>
                                            <td><span>{$heji.city|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_division_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_regiment_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.brand_manage_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_division_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_regiment_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$heji.dev_manage_name|default="-"}</span></td>
                                            <td><span>{$heji.realvipnum}</span></td>
                                            <td><span>{$heji.gtyear}</span></td>
                                            <td><span>{$heji.gtyear_percent}</span></td>
                                            <td><span>{$heji.gthalfyear}</span></td>
                                            <td><span>{$heji.gthalfyear_percent}</span></td>
                                            <td><span>{$heji.lthalfyear}</span></td>
                                            <td><span>{$heji.lthalfyear_percent}</span></td>
                                            <td><span>{$heji.ltmonth}</span></td>
                                            <td><span>{$heji.ltmonth_percent}</span></td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td><span>{$total.department|default="本页合计"}</span></td>
                                            <td><span>{$total.city|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.brand_division_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.brand_regiment_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.brand_manage_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.dev_division_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.dev_regiment_name|default="-"}</span></td>
                                            <td class="role-hide"><span>{$total.dev_manage_name|default="-"}</span></td>
                                            <td><span>{$total.realvipnum}</span></td>
                                            <td><span>{$total.gtyear}</span></td>
                                            <td><span>{$total.gtyear_percent}</span></td>
                                            <td><span>{$total.gthalfyear}</span></td>
                                            <td><span>{$total.gthalfyear_percent}</span></td>
                                            <td><span>{$total.lthalfyear}</span></td>
                                            <td><span>{$total.lthalfyear_percent}</span></td>
                                            <td><span>{$total.ltmonth}</span></td>
                                            <td><span>{$total.ltmonth_percent}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="city-list-pop">
                                    <volist name="list" id="v">
                                        <div>{$v.city}</div>
                                    </volist>
                                    <div>本页合计</div>
                                    <div>本项合计</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <div>{$page}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function() {

            $(".select2").select2();
            $("#city").select2("val","{$keyword.city}");
            $("#department").select2("val","{$keyword.department}");
            $("#tshizhang").select2("val","{$keyword.tshizhang}");
            $("#ttuanzhang").select2("val","{$keyword.ttuanzhang}");
            $("#csjl").select2("val","{$keyword.csjl}");
            $("#pshizhang").select2("val","{$keyword.pshizhang}");
            $("#ptuanzhang").select2("val","{$keyword.ptuanzhang}");
            $("#pinpai").select2("val","{$keyword.pinpai}");

            $(".datepicker").datepicker({
                language: "zh-CN",
                todayHighlight: true,
                format: 'yyyy-mm',
                autoclose: true,
                startView: 'months',
                maxViewMode:'years',
                minViewMode:'months'
            });
            // 修改 or 保存
            $('tbody').on('click', function(event){
                if(event.target.nodeName == 'I'){
                    var $a = $(event.target);
                    var val,arr=[];
                    if($a.hasClass('fa-floppy-o')){
                        var myDate = new Date();
                        var month = myDate.getMonth() - 1;
                        for(var i=0;i<$a.parent().parent().find('.info-item').length;i++){
                            val = $a.parent().parent().find('.info-item').eq(i).val();
                            arr.push(val);
                            if(val){
                                $a.parent().parent().find('td').eq(month+5).find('span').html(val);
                            }else{
                                $a.parent().parent().find('td').eq(month+5).find('select,input').focus();
                                return false;
                            }

                            if(arr.length < $a.parent().parent().find('.info-item').length){

                                for(var j=0;j<arr.length;j++){
                                    $a.parent().parent().find('td').eq(month+5).find('span').hide();
                                }
                            }else{
                                for(var j=0;j<arr.length;j++){

                                    $a.parent().parent().find('td').eq(month+5).find('span').show();

                                    $a.parent().parent().find('td').eq(month+5).find('div').hide();

                                    $a.parent().parent().removeClass('new-list');
                                }
                                for(var i=0;i<3;i++){
                                    $a.parent().parent().find('td').eq(i+2).find('div').remove()
                                }
                            }
                        }

                        var id = $a.attr("data-id");
                        var year = $("#time").val(); 
                        //ajax写入数据
                        $.ajax({
                            url: '/salesetting/editexpirepoint/',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                id:id,
                                arr:arr,
                                year:year,
                                type:1
                            }
                        })
                        .done(function(data) {
                            if(data.status == '1'){
                                alert(data.info);
                                window.location.href = window.location.href;
                            }else{
                                alert(data.info);
                            }
                        })
                        .fail(function(xhr) {
                            alert('操作失败');
                        })

                        $a.removeClass('fa-floppy-o').addClass('fa-pencil');
                        $('.add-new').attr('disabled',false).css('background','#359bed');
                        // 都修改
                        $('.table tbody tr').each(function(index, el) {
                            $(this).find('.fa').each(function(index, el) {
                                $(el).show();
                            })
                        });
                    }else{
                        var myDate = new Date();
                        var month = myDate.getMonth() - 1;
                        for(var i=0;i<12;i++){
                            if(month == i && month != 0){
                                var spanVal = $a.parent().parent().find('td').eq(i+5).find('span').html();
                                $a.parent().parent().find('td').eq(i+5).append('<div><input type="text" value="'+spanVal+'" name="" class="info-item"></div>');
                            }else if(month == 0){
                                var spanVal = $a.parent().parent().find('td').eq(16).find('span').html();
                                $a.parent().parent().find('td').eq(16).append('<div><input type="text" value="'+spanVal+'" name="" class="info-item"></div>');
                                break;
                            }
                              
                        }
                        for(var i=0;i<$a.parent().parent().find('.info-item').length;i++){

                            $a.parent().parent().find('div').eq(i).show();

                            $a.parent().parent().find('div').eq(i).siblings('span').hide();
                        }

                        $a.removeClass('fa-pencil').addClass('fa-floppy-o');

                        $('.add-new').attr('disabled',true).css('background','#ccc');
                        //选择时间
                        /*$(".edittime").datepicker({
                            language: "zh-CN",
                            todayHighlight: true,
                            format: 'yyyy-mm',
                            autoclose: true,
                            startView: 'months',
                            maxViewMode:'years',
                            minViewMode:'months'
                        });*/
                        
                        // 只能编辑当前操作一条
                        $('.table tbody tr').each(function(index, el) {
                            if($(this).find('td:last').find('i').hasClass('fa-pencil')){
                                $(this).find('td:last').find('i').hide();
                            }
                        });
                    }
                }
            });
            // 注释信息
            $('.zhushi-icon').click(function() {
                if($(this).attr('show') == 'show'){
                    $('.zhushi-info').hide();
                    $(this).removeAttr('show')
                }else{
                    $('.zhushi-info').show();
                    $(this).attr('show','show');
                }
            });
            // 竖向滚动时，表格头部悬浮
            var x = null;
            $(document).on('scroll',function(){
                $('.city-list-pop').css({'top':386-$(this).scrollTop()});
                if($(document).scrollTop() >= 321){
                    $('.thead1').show();
                    $('.thead2').css({'position':'fixed','top':0,'left':$('.sidebar').width()+26-x,'z-index':10});
                }else{
                    $('.thead1').hide();
                    $('.thead2').css({'position':'relative',left:0});
                }
            });
            // 横向滚动时，表格头部悬浮
            $('.overflow-x').on('scroll',function(){
                if($(this).scrollLeft()>130){
                    $('.city-list-pop').show();
                }else{
                    $('.city-list-pop').hide();
                }
                x = $(this).scrollLeft();
                $('.thead2').css({'left':$('.sidebar').width()+26-$(this).scrollLeft()});
                $('.city-list-pop').css({'left':$('.sidebar').width()});
            });
            // 岗位选择
            var arr =[0,1,2,3,4,5],
                allheight = 1580,
                selectLen = $('.select-role-input input[show="show"]').length;
            $('.select-role-input input').on('click',function(){
                if($(this).prop('checked')){
                    $(this).attr('show','show');
                    selectLen = $('.select-role-input input[show="show"]').length;
                }else{
                    $(this).removeAttr('show');
                    selectLen = $('.select-role-input input[show="show"]').length;
                }

                $('#reset-table tbody tr').each(function(index, el) {
                    for(var i = 0;i<arr.length;i++){
                        $(el).find('td').eq(arr[i]+3).hide();
                    }
                });
                for(var i = 0;i<arr.length;i++){
                    $('#reset-table .thead1 tr th').eq(arr[i]+3).hide();
                    $('#reset-table .thead2 tr th').eq(arr[i]+3).hide();
                }

                $('.overflow-box,#reset-table .thead1,#reset-table .thead2').width(1580);
                $('.overflow-box,#reset-table .thead1,#reset-table .thead2').width(allheight + selectLen*130);

                $('.select-role-input input[show="show"]').each(function(index, el) {
                    if($(el).val() == '品师长'){
                         autoSelect(3);
                     }else if($(el).val() =='品团长'){
                         autoSelect(4);
                     }else if($(el).val() =='品牌师'){
                         autoSelect(5);
                     }else if($(el).val() =='拓师长'){
                         autoSelect(6);
                     }else if($(el).val() =='拓团长'){
                         autoSelect(7);
                     }else if($(el).val() =='城市经理'){
                         autoSelect(8);
                     }
                });
            });
            function autoSelect(num){
                $('#reset-table .thead1 tr th').eq(num).css('display','block');
                $('#reset-table .thead2 tr th').eq(num).css('display','block');
                $('#reset-table tbody tr').each(function(index, el) {
                    $(el).find('td').eq(num).show();
                });
            }
            //置顶
            $(".paixu").on('click',function(){
                var paixu = $(this).attr('data-id');
                $.ajax({
                    url: '/salesetting/ordernewpaixu/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id : paixu ,
                        type : 3
                    }
                })
                .done(function(data) {
                    if (data.success == 1) {
                        alert('置顶成功，刷新页面后生效！');
                    } else {
                        alert('操作失败，请稍后重试！');
                    }
                })
                .fail(function(xhr){
                    alert(xhr.responseText);
                });
            });
        })
    </script>
</block>