/*
* @Author: qz_dc
* @Date:   2018-05-30 09:39:40
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-08-02 08:31:48
*/
.banner {
    background: url(../img/banner.jpg) no-repeat;
    height: 447px;
}
.c3 {
    color: #333;
}
.order-box { width: 340px; height: 375px; position: relative; top: 38px; background: #fff; z-index: 3; text-align: center;
 font-family: "Microsoft Yahei"; box-shadow: 1px 1px 10px 5px rgba(0,0,0,.2);float: right;position: relative;}
.order-box .box-shadow{position: relative; z-index: 1; padding: 15px 30px 0 30px; background-color:#FFFFFF;}
.order-box .ieShadow{
    _width:100%;
    _height:100%;
    filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
    -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=2)";
    background-color:#888\9;
    position:absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    bottom:-1px;
    z-index: 0;
}
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 10px; padding-left:7px\0; display: block; }
.order-box .h1 { font-size: 20px; font-weight: 100;display: block;font-weight: bold;}
.order-box .h2 { font-size: 14px; font-weight: 100; margin: 10px 0 10px 0;display: block;color: #333;}
.order-box .edit-city { width: 44%; height: 35px;border: 1px solid #dcd8d9;margin-right: 5%; }
.order-box .edit-quyu { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box .edit-part, .order-box .edit-style{width: 100%; height: 35px;border: 1px solid #dcd8d9;}
.order-box button { width: 100%; height: 35px;box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5);background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer;transition: all 0.5s ease;}
.order-box button:hover{box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5)}
.order-box .order-box-tip{font-size: 12px;color: #FF5353;width: 292px;position: relative;top: -4px;}
.validate .box-shadow .box-line{margin-bottom: 10px;outline: none;position: relative;}
.box-shadow .disclamer-line{margin-bottom: 10px;margin-top: 0;}
.pingfang {
    position: absolute;
    top: 5px;
    right: 5px;
}
.wrap .type {
    margin-top: 50px;
    margin-bottom: 45px;
}
.wrap .type .group {
    float: left;
    width: 380px;
    height: 92px;
    line-height: 92px;
    font-size: 28px;
    color: #fff;
    margin-right: 34px;
    text-indent: 17px;
}
.wrap .type .group.qing {
    margin-right: 0;
}
.wrap .type .group .span {
    font-size: 18px;
    margin-left: 40px;
    color:#677799;
    font-weight: bold;
}
.wrap .type .group .span2 {
    margin-left: 65px;
}
.wrap .type .group .span3 {
    margin-left: 85px;
}
.wrap .type .quan {
    background: url('../img/group1.png');
}
.wrap .type .ban {
    background: url('../img/group2.png');
}
.wrap .type .qing {
    background: url('../img/group3.png');
}
.wrap .pie-chart {
    margin-top: 45px;
    margin-bottom: 75px;
    height: 422px;
    background: url('../img/pie.png') no-repeat 34px;
    position: relative;
}
.wrap .pie-chart .info {
    position: absolute;
}
.wrap .pie-chart .info span {
    font-size: 30px;
    color:#48647c;
}
.wrap .pie-chart .info p {
    font-size: 16px;
    color:#48647c;
}
.wrap .pie-chart .info1 {
    top: 123px;
    left: 35px;
    text-align: right;
}
.wrap .pie-chart .info2 {
    top: 45px;
    right: 90px;
}
.wrap .pie-chart .info3 {
    top: 350px;
    right: 140px;
}
.wrap .shuju-text {
    text-align: center;
    color:#708292;
    font-size:16px;
    margin-bottom: 50px;
}
.wrap .shuju-text span {
    color:#ff5353;
    font-size: 18px;
}

.bg {
    height: 434px;
    background: url(../img/bg.png) no-repeat;
}
.wrap h3 {
    font-size: 36px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
}
.bg .wrap ul li {
    float: left;
    width: 249px;
    height: 249px;
    margin-right: 71px;
}
.bg .wrap ul li .info {
    margin-top: 92px;
    color: #fff;
    text-align:center;
}
.bg .wrap ul li .info span {
    font-size: 30px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 17px;
}
.bg .wrap ul li .info p {
    font-size: 16px;
}
.bg .wrap ul .xianjing {
    background: url(../img/xianjing.png) no-repeat;
}
.bg .wrap ul .zhiliang {
    background: url(../img/zhiliang.png) no-repeat;
}
.bg .wrap ul .gongqi {
    background: url(../img/gongqi.png) no-repeat;
}
.bg .wrap ul .hao {
    background: url(../img/hao.png) no-repeat;
    margin-right: 0;
}
.wrap .fuwu li {
    float: left;
    width: 374px;
    height: 378px;
    margin-right: 44px;
    margin-bottom: 44px;
    box-shadow: 0px 5px 20px 0px #dedede;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#dedede', Direction=135, Strength=5);
}
.wrap .fuwu li:hover {
    box-shadow: 0px 5px 20px 0px #666;
    cursor: pointer;
}
.wrap .fuwu li .info span {
    display: block;
    width: 271px;
    height: 62px;
    line-height: 62px;
    font-size:26px;
    color: #fff;
    text-align: center;
    margin-top: 242px;
    margin-left: 52px;
    background: transparent;
    background:rgba(0,0,0,.8);
    opacity: 0.8;
/*　　-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
}
.wrap .fuwu li .info p {
    font-size: 16px;
    color: #333;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 12px;
}
.wrap .fuwu .yange {
    background: url(../img/yange.png) no-repeat;
}
.wrap .fuwu .touming {
    background: url(../img/touming.png) no-repeat;
}
.wrap .fuwu .zhengpin {
    background: url(../img/zhengpin.png) no-repeat;
    margin-right: 0;
}
.wrap .fuwu .zhibao {
    background: url(../img/zhibao.png) no-repeat;
}
.wrap .fuwu .baozhang {
    background: url(../img/baozhang.png) no-repeat;
}
.wrap .fuwu .jiandu {
    background: url(../img/jiandu.png) no-repeat;
    margin-right: 0;
}

.bg-qibu {
    height: 310px;
    background: url(../img/bg-qibu.png) no-repeat;
}
.bg-qibu h3 {
    color: #fffefe;
    padding-top: 40px;
}
.bg-qibu ul li {
    width: 136px;
    height: 148px;
    float: left;
    border: 1px solid #fff;
    margin-right: 40px;
}
.bg-qibu ul li img {
    display: block;
    margin: 23px auto;
}
.bg-qibu ul li span {
    display: block;
    margin-top:19px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.bg-qibu ul .shouhou {
    margin-right: 0;
}
.wrap .example {
    margin-bottom: 50px;
}
.wrap .example li {
    float: left;
    height: 342px;
    margin-bottom: 8px;
    box-shadow:0px 5px 20px 0px #dedede;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#dedede', Direction=135, Strength=5);
    position: relative;
    cursor: pointer;
}
.wrap .example li .info {
    text-align: center;
    margin-top: 20px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #333;
    display: block;
}
.wrap .example li span {
    display: inline-block;
    margin: 0 5px;
}
.wrap .example .example1 {
    margin-right:8px;
}
.wrap .example .example1:hover .pinglun {
    display: block;
}
.wrap .example .example1:hover .info {
    display: none;
}
.wrap .example .example2:hover .pinglun {
    display: block;
    /*font-size: 14px;*/
}
.wrap .example .example2:hover .info {
    display: none;
}
.wrap .example .example3:hover .pinglun {
    display: block;
    /*font-size: 14px;*/
}
.wrap .example .example3:hover .info {
    display: none;
}
.wrap .example .example4:hover .pinglun {
    display: block;
}
.wrap .example .example4:hover .info {
    display: none;
}
.wrap .example .example5:hover .pinglun {
    display: block;
    /*font-size: 14px;*/
}
.wrap .example .example5:hover .info {
    display: none;
}
.wrap .example .example6:hover .pinglun {
    display: block;
}
.wrap .example .example6:hover .info {
    display: none;
}
.wrap .example .pinglun {
    display: none;
    position: absolute;
    bottom: 0px;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    padding-bottom: 5px;
}
.wrap .example .example2 {
    margin-right:6px;
}
.wrap .example .example3 {

}
.wrap .example .example4 {
    margin-right:8px;
}
.wrap .example .example5 {
    margin-right:6px;
}

.bg-dibu {
    background: url(../img/bg-dibu.png) no-repeat;
    height: 416px;
    margin-bottom: 100px;
}
.bg-dibu h3 {
    color: #fff;
}
.bg-dibu .num {
    font-size:26px;
    color: #fff;
    width: 250px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom:37px;
}
.bg-dibu .num span {
    color:#ff5353;
}
.bg-dibu .line {
    width: 129px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 38px;
}
.bg-dibu .bussiness-form-container{
    width: 812px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 11px #888888;
}
.bg-dibu .bussiness-form-container .padding-fix{
    padding:24px 83px;
    background:white;
    position:relative;
    z-index:1;
}
.bg-dibu .bussiness-form-container .bussiness-table{
    width: 100%;
    table-layout: fixed;
}
.bg-dibu .bussiness-form-container .bussiness-table td{
    width: 50%;
    text-align: center;
}
.bg-dibu .bussiness-form-container .bussiness-btn{
    margin: 0 auto;
    width: 247px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    background-color: #FF5353;
    border-radius: 0.3em;
    font-size: 18px;
    cursor: pointer;
}
.bg-dibu .sim-select{
    margin:0 auto 20px auto;
    width: 298px;
    height: 46px;
    height : 35px\0;
    border:1px solid #DDDDDD;
    border-radius: 0.3em;
    overflow:hidden;
}
.bg-dibu .bussiness-form-container select, .bg-dibu .bussiness-form-container input{
    width: 297px;
    height: 46px;
    line-height: 46px;
    height : 35px\0;
    line-height:35px\0;
    border:1px solid #DDDDDD;
    border-radius: 0.3em;
}
.bg-dibu .bussiness-form-container select{
    /*padding-left: 20px;
    display: block;
    margin: 0 auto 20px auto;*/
    width: 279px;
    height : 35px\0;
    border:none;
}
@media all and (-ms-high-contrast:none)
{
    *::-ms-backdrop,.bg-dibu .sim-select{height: 46px;}
    *::-ms-backdrop,.bg-dibu .bussiness-form-container select{ height : 46px; } /* IE11 */
    *::-ms-backdrop, .bg-dibu .bussiness-form-container input{height: 46px;line-height:46px;}
}
.bg-dibu .bussiness-form-container input{
    width: 277px;
    padding-left: 20px;
    margin-bottom: 24px;
}
.bg-dibu .warn{
    color:#DE4349;
    text-align: center;
}
.bg-dibu .ieShadow{
    _width:100%;
    _height:100%;
    filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
    -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=2)";
    background-color:#888\9;
    position:absolute;
    left:5px;
    top:5px;
    right:-1px;
    bottom:-1px;
    z-index: 0;
}


/*预约成功弹窗*/
.beijingyy{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    z-index: 99;
    margin:auto;
    display: none;
}
:root .beijingyy{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.successts{width: 634px;
    height: 432px;
    border-radius: 10px;
    border: 10px solid #ffe6d2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -216px;
    margin-left: -317px;
    z-index: 99;
    background: #fff;
    display: none;
}
.successts .guanbiniu {
    width: 39px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    background: url(/assets/common/img/guanbianniu.png) no-repeat !important;
    position: absolute;
    right: 10px;
    top: -66px;
}
.successts .tjcgbt{font-size: 26px;color: #ff5353;text-align: center;}
.successts .tjcgbt2{text-align: center;font-size: 12px;color: #333;letter-spacing: 1px;}
.successts .tjcgbt2 span{color: #ff5353;}
.successts .erweima1{width: 100%;height: auto;overflow: hidden;margin-top: 50px; position: relative}
.successts .erweima1 .weima{float: left;width: 175px;height: 174px;display: inline-block;}
.successts .erweima1 .meinvts{float: right;width: 212px;height: 160px;display: inline-block;position: relative;top: 7px;}

.nr-pa-text{position: absolute; left:220px;top:15px;z-index: 9}
.nr-pa-text p{color:#666; line-height: 28px;font-size: 14px; }
.nr-pa-text i{color:#ff5353; font-size:10px; padding-right: 10px}
.second-text{left:324px!important; top:187px!important;}