.tiaoj { float: left; width: 930px; border: #f1f1f1 1px solid }
.tiaoj .tab-nav { overflow: hidden; line-height: 35px; width: 363px; float: left; margin-bottom: 10px }
.tiaoj span { float: left; width: 537px; display: block; height: 35px; line-height: 35px; padding-left: 30px;border-bottom:#f1f1f1 1px solid; color:#888}
.tiaoj .tab-nav a { float: left; display: block; height: 35px; text-align: center; width: 120px; background: #fff; border-bottom:#f1f1f1 1px solid ; font-size:14px; font-weight:bold; color:#888; border-right:#f1f1f1 1px solid;}
.tiaoj .tab-nav a:hover{ text-decoration:none}
.tiaoj .tab-nav a.current{ background:#ed5a6b; text-decoration:none;color:#FFF;text-shadow: 1px 1px 0px rgba(0,0,0,.2);}
.tiaoj .tab-con-item { display: none; clear:both}
.tiaoj .tab-con-item dl { width: 910px; display: block; overflow: hidden; padding-left: 20px; border-bottom: 1px dotted #f1f1f1 }
.tiaoj .tab-con-item dt,.tiaoj .tab-con-item dd { float: left; height: 20px; line-height: 20px; padding: 10px 0; }
.tiaoj .tab-con-item dd a{ display:inline-block; padding:0 5px}
.tiaoj .tab-con-item dd a:hover{ background:#ed5a6b; color:#fff; text-decoration:none}
.tiaoj .tab-con-item dt { font-weight: bold }
.tiaoj .tab-con-item dd { width: auto; margin:0 5px }
/*色彩条件↓*/
.tiaoj .tab-con-item dd.c1 a{ background:#FFF; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c2 a{ background:#9c776a; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c3 a{ background:#444; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c4 a{ background:#eb5555; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c5 a{ background:#ce80da; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c6 a{ background:#ffbbce; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c7 a{ background:#8de395; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c8 a{ background:#aaa; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c9 a{ background:#e3da8d; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c10 a{ background:#ffa36c; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}
.tiaoj .tab-con-item dd.c11 a{ background:#66c6e1; padding:1px; margin:0; width:30px; height:15px; border:2px solid #eee}

.tiaoj .tab-con-item dd.active a{ border:2px solid #ed5a6b}
.imglist_box{position: relative; overflow: hidden;}
.imglist_box .fadan_button{position: absolute;color: #fff;text-align: center; height: 28px; line-height: 28px;
 bottom:-28px;width: 100%; cursor: pointer; background: rgba(255,83,81,0.7); z-index: 2;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;

}
.imglist_box:hover .fadan_button{bottom: 0px;}
/*色彩条件↑*/
.rtel{ float:right; width:240px; background:#fff; height:170px; padding:10px; border-top:2px solid #ed5a6b; text-align:center; font-family:"微软雅黑"; padding-top:20px}
.rtel h1{  font-size:18px; line-height:25px; color:#3c3c3c; font-weight: bold}
.rtel h2{ font-size:14px; line-height:25px; color:#888; }
.rtel .int{ margin-top:10px; overflow:hidden; width:240px; height:32px}
.rtel .int input{ width:218px; border:1px solid #ccc; height:30px; line-height:30px; text-align:left; display:block; padding:0 5px; height:29px\9;width:228px\9;}
.rtel .int a{ display:block; width:228px; line-height:30px; color:#fff; background:#ed5a6b; border:1px solid #ff5868; font-size:14px}
.rtel .int a:hover{ text-decoration:none; color:#fff; background:#de4348}

.content { width: 1210px; margin: 0 auto; margin-top:20px }
.content .rec_con ul li { float: left; width: 263px; padding: 5px; margin: 0 8px; height: 200px; background: #E8E8E8; border-radius: 3px; position: relative; -webkit-transition: all .45s ease-in-out; -moz-transition: all .45s ease-in-out; -ms-transition: all .45s ease-in-out; -o-transition: all .45s ease-in-out; transition: all .45s ease-in-out; }
.content .rec_con ul li.bd-1 { border: solid 1px #98D3E8; }
.content .rec_con ul li.bd-1:hover { background: #98D3E8; }
.content .rec_con ul li.bd-2 { border: solid 1px #FFCB76; }
.content .rec_con ul li.bd-2:hover { background: #FFCB76; }
.content .rec_con ul li.bd-3 { border: solid 1px #FF525A; }
.content .rec_con ul li.bd-3:hover { background: #FF525A; }
.content .rec_con ul li.bd-4 { border: solid 1px #71C46F; }
.content .rec_con ul li.bd-4:hover { background: #71C46F; }
.content .rec_con ul li img { width: 263px; height: 200px; display: block; }
.content .rec_con ul li .a-index { position: absolute; width: 262px; height: 200px; top: 5px; left: 5px; line-height: 20px; text-align: center; background: rgba(0,0,0,0.5); color: #fff; }
.content .rec_con ul li .a-index h2 { position: absolute; z-index: 20; top: 0; left: 0; font-size: 14px; line-height: 28px; text-align: center;  text-align: center; margin-top: 0px; width: 98%; height: 200px; margin-bottom: 0; display: table; padding: 0 1%; letter-spacing: 2px; }
.content .rec_con ul li .a-index h2.fc-1 { color: #98D3E8; }
.content .rec_con ul li .a-index h2.fc-2 { color: #FFCB76; }
.content .rec_con ul li .a-index h2.fc-3 { color: #FF525A; }
.content .rec_con ul li .a-index h2.fc-4 { color: #71C46F; }
.content .rec_con ul li .a-index h2 span { display: table-cell; vertical-align: middle; }
@media screen and (max-width: 1024px) {
.content { width: 97%; margin: 0 auto; }
.content .rec_con ul li { width: 225px; padding: 2px; margin: 0 6px; height: 150px; }
.content .rec_con ul li img { width: 225px; height: 150px; }
.content .rec_con ul li .a-index { width: 225px; height: 150px; top: 2px; left: 2px; line-height: 20px; }
.content .rec_con ul li .a-index h2 { top: 0; left: 0; font-size: 1.7em; line-height: 24px; width: 98%; height: 150px; }
}
@media screen and (max-width: 980px) {
.content { width: 95%; margin: 0 auto; }
.content .rec_con ul li { width: 160px; padding: 2px; margin: 0 6px; height: 140px; }
.content .rec_con ul li img { width: 160px; height: 140px; }
.content .rec_con ul li .a-index { width: 160px; height: 140px; top: 2px; left: 2px; line-height: 20px; }
.content .rec_con ul li .a-index h2 { top: 0; left: 0; font-size: 1.6em; line-height: 24px; width: 98%; height: 140px; }
}
@media screen and (max-width: 720px) {
.content { width: 94%; margin: 0 auto; }
.content .rec_con ul li { width: 255px; height: 180px; margin-top: 10px; }
.content .rec_con ul li img { width: 255px; height: 180px; }
.content .rec_con ul li .a-index { width: 255px; height: 180px; line-height: 20px; }
.content .rec_con ul li .a-index h2 { top: 0; left: 0; font-size: 1.8em; line-height: 28px; width: 98%; height: 180px; }
}
@media only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio : 1.0) and (orientation:landscape) {
.content .rec_con ul li { width: 240px; height: 180px; margin-top: 10px; }
.content .rec_con ul li img { width: 240px; height: 180px; }
.content .rec_con ul li .a-index { width: 240px; height: 180px; line-height: 20px; }
.content .rec_con ul li .a-index h2 { top: 0; left: 0; font-size: 1.8em; line-height: 28px; width: 98%; height: 180px; }
}
@media screen and (max-width: 480px) {
.content { width: 100%; }
.content .rec_con ul li { width: 45%; height: 150px; padding: 1%; margin: 10px 1% 5px; }
.content .rec_con ul li img { width: 100%; height: 150px; }
.content .rec_con ul li .a-index { width: 98%; left: 1%; top: 2%; height: 150px; line-height: 20px; }
.content .rec_con ul li .a-index h2 { top: 0; left: 0; font-size: 1.8em; line-height: 28px; width: 98%; height: 150px; }
}
@media screen and (max-width: 380px) {
.content { width: 240px; }
.content .rec_con ul li { width: 98%; height: 160px; padding: 1%; margin-top: 10px; }
.content .rec_con ul li img { width: 100%; height: 160px; }
.content .rec_con ul li .a-index { width: 98%; height: 160px; line-height: 20px; top: 1.5%; left: 1.5%; }
.content .rec_con ul li .a-index h2 { top: 0; left: 0; font-size: 1.8em; line-height: 28px; width: 98%; height: 160px; }
}
.progress_bar { width: 98%; border-radius: 4px; background-color: #C6CBCB; box-shadow: inset 0 1px 1px #c9c9c9, inset -1px 0 2px #b8b8b8; display: block; position: relative; height: 5px; padding: 0; margin: 10px auto; }
.progress_bar .progress_bar_x { display: block; width: 100%; position: absolute; z-index: 99; top: 0; bottom: 1px; opacity: 0.9; background-color: #5AB4F7; border-radius: 8px 4px 4px 8px; }
.waterfull { margin: 0 auto; }
.waterfull ul li { float: left; width: 272px; padding: 8px; margin: 0 6px 10px; background: #f7f7f7; position: relative; overflow: hidden; border: solid 1px #f1f1f1; }
.waterfull ul li:hover{opacity: 0.9;}

.waterfull ul li .a-img {display: block;color: #666;float: left}
.waterfull ul li .a-img img { width: 272px; display: block; min-height: 250px; }

.waterfull ul li .li-title { padding: 5px 0;  width: 272px; max-height: 48px; overflow: hidden; line-height: 24px; color: #888; border-bottom:dotted 1px #f1f1f1; font-size:14px ;font-weight: bold;}
.waterfull ul li .li-title:before { border-color: rgba(0,0,0,0) rgba(0,0,0,0) #f7f7f7; border-style: solid; border-width: 10px; content: ""; display: block; position: absolute; margin: -24px 0 0 10px; width: 0; }
.waterfull ul li .li-title .views {float: right; color: #898686;font-size: 12px;font-weight: normal;}
.waterfull ul li .li-title .views b { color: #5DAA21;padding: 0 5px 0; font-size: 1em; }

.waterfull ul li .description { padding: 5px 0; width: 272px;max-height: 66px; overflow: hidden; line-height: 22px; color: #898686; font-size: 1em; border-bottom: dotted 1px #f1f1f1; }
.waterfull ul li .description span{ width:90px; padding-left:20px; padding-right:5px}
.waterfull ul li .description span.des1{ background:url(/assets/common/pic/imglistico.png) no-repeat -5px -9px}
.waterfull ul li .description span.des2{ background:url(/assets/common/pic/imglistico.png) no-repeat -3px -38px}
.waterfull ul li .description span.des3{ background:url(/assets/common/pic/imglistico.png) no-repeat -3px -69px}
.waterfull ul li .qianm { background: #fff; font-size: 12px;}
.waterfull ul li .qianm .sp1 { float: right; color: #898686;  margin-right: 10px;}
.waterfull ul li .qianm .sp1 b { color: #5DAA21; font-weight: bold; padding: 0 5px 0; font-size: 1em; }
.waterfull ul li .qianm .sp2 { float: right; height: 30px; padding: 0 5px; line-height: 36px; color: #898686; }
.waterfull ul li .qianm .sp3 { float: right; height: 30px; line-height: 36px; color: #898686; }
.waterfull ul li a:hover{text-decoration: none;}

.item .itembtn{ position:absolute; display:none; width:270px; top:8px; left:8px; z-index:99}
.item:hover .itembtn{ display:block; text-align:center}
.item:hover .itembtn .hqbj{ background:#f7444f; border-radius:2px; border:1px solid #9d1318; color:#fff; margin:10px 0 0 10px; display:block; float:left; height:25px; line-height:25px; text-shadow:1px 1px 0 #9d1318 ; padding:0 10px; width:90px}
.item:hover .itembtn .sjbt{ background:#72c200; border-radius:2px; border:1px solid #579005; color:#fff; margin:10px 10px 0 0 ; display:block; float:right; height:25px; line-height:25px; text-shadow:1px 1px 0 #579005 ; padding:0 10px; width:90px }
.item:hover .itembtn .sjbt:hover{ text-decoration:none; background:#8ed22c}
.item:hover .itembtn .hqbj:hover{ text-decoration:none; background:#ff676f}


/*新增*/
.meitu-main{ border-bottom:1px solid #f1f1f1; padding:10px; font-family:Microsoft YaHei}
.meitu-main dl{ width:297px; float:left; height:130px; position:relative }
.meitu-main dl dt{ font-size:20px; color:#666; width:100px; text-align:center; float:left; padding-top:40px; border:1px dotted #ccc; height:80px}
.meitu-main dl dt span{ color:#ccc; font-size:14px; display:block}
.meitu-main dl dd{font-size: 0; width:180px; float:right; line-height:20px; height:120px; overflow:hidden}
.meitu-main dl dd:hover{ min-width:180px; line-height:20px; padding:10px; border:1px solid #f75858; top:0px; left:106px; position:absolute; background:#fff; z-index:99; height:auto; min-height: 100px; width:465px}
.meitu-main dl dd.color:hover{ width:180px; float:right; line-height:20px; height:120px; overflow:hidden; padding:0; border:none; left:117px;}
.meitu-main dl dd a{font-size: 12px; margin-right:5px; margin-bottom:5px; display: inline-block; display: block\0 ; word-spacing: nowrap; float: left\0; background:#f1f1f1; padding:0 10px; color:#555}
.meitu-main dl dd a.active{background: #F75858 ; color: #FFF;}
.meitu-main dl dd a:hover{ text-decoration:none; background:#f75858; color:#fff}
.meitu-main dl dd a span{white-space: nowrap;}
.meitu-main dl dd.meitu-color a{ width:8px; height:18px; border:1px solid #f1f1f1}
.meitu-main dl dd.meitu-color a:hover{ opacity:0.8}
.meitu-main dl dd.meitu-color a.c1{ background:#FFF;}
.meitu-main dl dd.meitu-color a.c2{ background:#9c776a; }
.meitu-main dl dd.meitu-color a.c3{ background:#444;}
.meitu-main dl dd.meitu-color a.c4{ background:#eb5555; }
.meitu-main dl dd.meitu-color a.c5{ background:#ce80da;}
.meitu-main dl dd.meitu-color a.c6{ background:#ffbbce;}
.meitu-main dl dd.meitu-color a.c7{ background:#8de395;}
.meitu-main dl dd.meitu-color a.c8{ background:#aaa;}
.meitu-main dl dd.meitu-color a.c9{ background:#e3da8d;}
.meitu-main dl dd.meitu-color a.c10{ background:#ffa36c;}
.meitu-main dl dd.meitu-color a.c11{ background:#66c6e1;}
.meitu-main .meitu-chosed{border-top:1px solid #f1f1f1; clear:both; overflow:hidden; line-height:20px; padding-top:10px}
.meitu-main .meitu-chosed h1,.mingshi-main .meitu-chosed h1{ float:left; width:120px; text-align:center; font-size:14px; color:#555}
.meitu-main .meitu-chosed span,.mingshi-main .meitu-chosed span{ margin-right: 5px; float:left; display:block; background:#f75858; color:#fff; padding:0 5px}
.meitu-main .meitu-chosed span i,.mingshi-main .meitu-chosed span i{ margin-left:5px; cursor:pointer}


.mingshi-main{ padding:10px; font-family:Microsoft YaHei; overflow: hidden;}
.mingshi-main dl{border:1px solid #f1f1f1; padding:5px; float: left; margin-bottom: 20px; position: relative; width: 1182px;}
.mingshi-main dl dt{ font-size:16px; color:#666; width:100px; text-align:center; float:left;}
.mingshi-main dl dd{float: left;width: 1010px; height: 30px; overflow: hidden;}
.mingshi-main dl dd a{float: left; padding:5px 15px; background: #f1f1f1; color: #666; margin-right: 5px; margin-bottom: 5px;}
.mingshi-main dl dd a:hover{text-decoration: none;}
.mingshi-main dl dd a.active{background: #DE4348 ; color: #FFF;}
.mingshi-main .meitu-chosed{float: left; border-top: 1px solid #F1F1F1; width: 1194px; padding-top: 10px; }
.mingshi-main .meitu-chosed span{padding: 5px 10px;}
.mingshi-main dl .more{position: absolute; width: 15px; height: 15px; border:1px solid #CCC; top:10px; cursor: pointer; background: #eee; right: 10px; display: block;}
.mingshi-main dl .more i{ display: block;background: url(/assets/common/img/global.png) no-repeat; width:7px;height:6px;background-position:-417px -150px; margin-left: 4px; margin-top: 4px;}

.mingshi-main dl.extend{height: auto;}
.mingshi-main dl.extend .color{height: auto;}
.mingshi-main dl.extend i{width:8px;height:6px;background-position:-446px -150px;}

/*美图没数据样式显示**/
.img-empty{font-family: "Microsoft Yahei";width:750px; padding-left:230px; height:376px; background:url(../img/meitilist_nodata.jpg) no-repeat; text-align:center; margin:0 auto; }
.img-empty h3{padding-top:80px; font-size:24px; font-weight:100}
.img-empty a{ display:block; border:1px solid #ff5659; color:#ff5659;font-size:18px; width:190px; margin:0 auto; line-height:40px; margin-top:30px;}
.emptu-tips{font-family: "Microsoft Yahei"; font-weight:500; width:500px;  margin:0 auto;line-height:25px;font-size: 14px;}
.emptu-tips p{ margin-top:30px;font-size:18px; line-height:40px;}
.emptu-tips p a{ padding:0 20px; margin:0 10px; background:#ff5659; color:#fff; display:inline-block}
.emptu-tips ul{ overflow:hidden; display:block; padding:0; margin:0;font-size:14px;}
.emptu-tips ul li{position:relative;float:left;overflow:hidden;margin:auto;padding:5px;padding-left:10px;width:auto;border:none;background:0 0;list-style:inside!important;}
.emptu-list{position:relative!important;width:660px!important;height:35px!important;}