
html,body{width: 100%; height: 100%}
.bjpic{width: 100%;height: 100%;}
.bjpic img{width: 100%;height: 100%;}
.footwaik{position: fixed;display: inline-block;width: 100%;height: 63px;
	background:rgba(0,0,0,0.5);bottom: 0;left: 0; z-index: 9999999999;}
.ulwaik{display: inline-block;height: 100%;margin: 0;float: left;}
.ulwaik li{list-style: none;display: inline-block;float: left;text-align: center;color: #fff;
height: 63px;vertical-align: middle;line-height: 24px;font-size: 14px;cursor: pointer;margin-left: 50px;}
.ulwaik li.dianzan{width: 42px !important;}
.ulwaik li.fenxiangwk{position: relative;}
.ulwaik li.fenxiangwk .bdsharebuttonbox{position: absolute;width: 100%;height: 100%;overflow: hidden;top: 0;right: 0;}
.bdshare-button-style0-16 .bds_more{
	width: 10px !important;opacity: 0;
    height: 40px !important;
    text-align: center;}
 .bdshare-button-style0-16 .bds_more:hover{opacity: 0;}
.bdsharebuttonbox a{color: #333;}
.hidden{display: none;}
.ulwaik li a{color: #fff;text-decoration:none;}
.ulwaik li img{display: block;margin:0 auto;margin-top: 10px;margin-bottom:5px;width: 26px;height: 26px;}
.ulwaik li img.moreged{width: 35px;height: 30px;margin-top: 5px;
    margin-bottom: 5px;}
.ulwaik li span{display: block;}
.ulright{float: right;display: inline-block;height: 100%;padding: 0;margin: 0;}
.ulright li{list-style: none;display: inline-block;float: right;text-align: center;color: #fff;
height: 63px;vertical-align: middle;line-height: 24px;font-size: 14px;cursor: pointer;margin-right: 100px;}
.ulright li img{display: block;margin:0 auto;margin-top: 10px;margin-bottom:5px;width: 26px;height: 26px;}
.cloopen{width: 97px;height: 63px;display: inline-block;position: fixed;bottom: 0;right: 0;
text-align: center;color: #fff;font-size: 14px;cursor: pointer; z-index:999999999999; }
.beijing{background:rgba(0,0,0,0.5);}
.cloopen .cloopenicon{width: 26px;height: 26px;display: block;
	vertical-align: middle;
margin: 0 auto;background-size: 100% 100%;margin-top: 10px;
    margin-bottom: 8px;}
.opendak{background: url(/assets/home/meitu/img/opendk.png) no-repeat center center;}
.closegb{background: url(/assets/home/meitu/img/closegb.png) no-repeat center center;}

.guide{width: 174px;height: 52px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;z-index: 3}
.guide .pop-shubiao{width: 27px;height: 51px;background: url(/assets/home/meitu/img/shubiao-3d.png) no-repeat;margin-right: 30px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.guide .pop-left{position: absolute;left:0;top:14px;width: 43px;height: 21px;background: url(/assets/home/meitu/img/shubiao-3d-left.png) no-repeat;}
.guide .pop-right{position: absolute;right:0;top:14px;width: 43px;height: 21px;background: url(/assets/home/meitu/img/shubiao-3d-right.png) no-repeat;}
.sheji-right-button{position: absolute; width: 40px; height: auto; right: 30px; top:105px; z-index: 3001; cursor: pointer; font-size: 14px; color: #FFF;}

.bdshare_dialog_box,.bdshare_popup_box{z-index:999999999999 !important; }


