.ml10 { margin-left: 10px }
.mr10 { margin-right: 10px }

.nav-box{width:260px; height:325px;padding:20px;font-family: Microsoft YaHei; border:1px solid #eee; background:#fff; line-height:30px; padding-bottom:0; float:left}
.nav-box .nav-list:last-of-type{ border-bottom:0}
.nav-box .nav-list{ border-bottom:1px dotted #f1f1f1;overflow:hidden; padding-bottom:10px; margin-bottom:10px }
.nav-box .nav-list dt{ font-size:16px; float:left; width:30px; height:40px; line-height:20px; padding:10px 0; background:#f1f1f1; margin-right:20px; text-align:center}
.nav-box .nav-list dd{ float:left; margin-right:20px}

.play{ float:right; width:888px; height:347px; overflow:hidden}

/*焦点图*/
.focus{ position:relative; width:888px; height:347px; float: left;}
.focus img{ width: 888px; height: 347px;}
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;}
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}
.focus .fPic{ position:absolute; left:0px; top:0px; }
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }
.focus .shadow{ width:806px; position:absolute; bottom:0; left:0px; z-index:10; height:74px; line-height: 74px; background:rgba(0,0,0,0.6);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }
.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:20px; font-family: "\5FAE\8F6F\96C5\9ED1";}
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }
.focus .fcon img{ display:block; }
.focus .fbg{bottom:25px; right:102px; position:absolute; height:21px; text-align:center; z-index: 200; }
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}
.focus .D1fBt img{display:none}
.focus .D1fBt i{display:none; font-style:normal; }
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(/assets/home/meitu/img/focus_btn.png) no-repeat;}
.focus .prev{ bottom:0; right:41px;background-position:0 0; cursor:pointer; }
.focus .next{bottom:0; right: 0;  background-position:-40px 0;  cursor:pointer;}
.focus .prev:hover{  background-position:0 -74px; }
.focus .next:hover{  background-position:-40px -74px;}


.ad-banner{ width:1230px; margin-top:50px}
.ad-banner li{ float:left; width:390px; margin-right:20px}
.ad-banner li img{ width:390px; height:126px}
.ad-banner li img:hover{ opacity:0.9}

.f-box{ width:960px; float:left; overflow:hidden}
.r-box{ width:230px; float:right}
.box-tit{font-family: Microsoft YaHei; overflow:hidden; line-height:50px}
.box-tit b{ display: block; font-size:24px; float:left; font-weight:100}
.box-tit span{ float:right; color:#aaa;font-style:italic;}
.box-tit span strong {  font-size:16px;font-style:italic;}
.box-tit span strong i{color:#ffbebe;font-style:italic;}
.box-tit a{ font-style:normal; margin-left:10px; color:#ed4849}

.big-img-list{ width:1000px;font-family: Microsoft YaHei; overflow:hidden }
.big-img-list dt{ width:600px; height:450px; float:left; border:1px solid #f1f1f1; margin-right:20px; background:#F1F1F1}
.big-img-list dd{ width:336px; float:left; height:214px; border:1px solid #f1f1f1; margin-right:20px; margin-bottom:20px; position:relative}
.big-img-list dd img{width:336px; height:214px}
.big-img-list dt b{ display: block; line-height:35px; padding-left:20px; font-size:18px; font-weight:100}
.big-img-list dt span{ line-height:20px; border-radius:3px; background:#ff8787; padding:0 5px; color:#fff; margin-left:20px}
.big-img-list dt img{ width:600px; height:380px}
.big-img-list dd:hover,.big-img-list dt:hover{ opacity:0.9;  filter: alpha(opacity=90);}
.big-img-list dd span{ display:block; position:absolute; right:0; bottom:20px; background:rgba(0,0,0,0.6);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9; color:#fff; line-height:40px; width:280px; padding-left:10px}
.big-img-list a:hover{text-decoration: none; color: #666; border:0;}

/* accordion_container */
.accordion_container { margin: 0 auto; width: 230px; padding-bottom:20px }
.accordion_container .content, .accordion_container .tab { width: 210px; }
.accordion_container .tab {height: 28px; float: left; border-bottom:1px solid #f1f1f1}
.accordion_container .tab a:hover { color: #ed4849; text-decoration: underline; }
.accordion_container .tab a { font-family: Microsoft YaHei; text-decoration: none; font-size:14px }
.accordion_container .tab span { float: left; margin-top: 10px; }
.accordion_container .tab strong { margin-left: 15px; float: left; margin-top: 10px; }
.accordion_container .tab { padding: 10px; }
.accordion_container .content { width: 230px; height: 120px;}
.accordion_container .content img { display: block; width: 200px; height: 100px; float: left; margin: 10px; }
.accordion_container .first { z-index: 7; top: 0px; }
.accordion_container .second { z-index: 6; top: 45px; }
.accordion_container .third { z-index: 5; top: 94px; }
.accordion_container .four { z-index: 4; top: 143px; }
.accordion_container .file { z-index: 3; top: 192px; }
.accordion_container .six { z-index: 2; top: 241px; }
.accordion_container .seven { z-index: 1; top: 290px; }
.accordion { position: relative; overflow: hidden; height: 452px; }
.accordion > div { position: absolute; left: 0px; border-left: 1px solid #aaa; border-right: 1px solid #aaa; left: -1px; cursor: pointer; background-color: #FFF; width: 230px; }

.cl-list{ height:452px; margin-top:1px}
.cl-list li{ height:138px; padding:0 10px; width:210px; position:relative; margin-bottom:20px;}
.cl-list li img{ width:210px; height:130px}
.cl-list li span{ display:block; position:absolute; right:0; bottom:0px; background:rgba(0,0,0,0.6);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9; color:#fff; width:210px; text-align:center; line-height:30px; margin:0 10px }
.mt-list { width:1230px;height: 223px;}
.mt-list li{ width:185px; margin-right:20px; margin-bottom: 10px; float:left;position: relative;overflow: hidden;}
.mt-list li em{ text-align: center; display: block; width: 100%; left: 0; display: none;}
.mt-list li em em{ background: #000;position: absolute;opacity: 0.6; filter:alpha(opacity=60);}
.mt-list li em i{ position: absolute; left: 50%; top:40%; height: 24px; margin-left: -50%; margin-top: -12px; width: 100%; font-size: 20px; color: #FFF; font-family: Microsoft YaHei;}
.mt-list li em i.box-subtit{top: 52%; font-family: arial; font-size: 16px;}
.mt-list li:hover em{
    bottom: 0;
    height: 100%;
    display: block;

}

.mt-list li:hover span{display: none;}

.mt-list li span{display: block;  color: #FFF; height: 24px; line-height: 24px; font-size: 14px; background: #000; background:rgba(0,0,0,0.6); position: absolute; bottom: 10px; width: 100%; text-align: center;}
.de-list{ width:1230px;}
.de-list li{ position:relative; width:226px; margin-right:20px; float:left; background:#f1f1f1}
.de-list li span{ position:absolute; bottom:10px;left:10px; width:60px; height:60px; border-radius:50px; border:3px #fff solid; overflow:hidden; z-index:10}
.de-list li p{ position:absolute; bottom:0; width:146px; padding:10px 0; line-height:25px; background:rgba(255,255,255,.8); z-index:9; padding-left:80px}
.de-list li a img{ width:226px; height:150px}
.de-list li span img{ width:60px; height:60px}

.mt-gzlist{height: 168px;}
.mt-gzlist li{background: #fff; float: left; position: relative; border-left: 1px solid #EEE; width: 150px; height: 168px;}
.mt-gzlist li:first-child{border-left: 0;}
.mt-gzlist li a{display: block; width: 100%; height: 148px; padding-top: 20px; color: #666;}
.mt-gzlist li:hover{opacity: 0.9;  filter: alpha(opacity=90);}
.mt-gzlist li:hover a{color: #999; text-decoration: none;}
.mt-gzlist li a img{width: 80px;height: 80px; margin:0 auto; display: block; position: relative; border-radius: 50px;}
.mt-gzlist li a em{ margin-top: 20px; display: block; height: 30px; font-size: 14px; text-align: center;}

.mt-jubu {height: 168px; width: 1210px;}
.mt-jubu li {background: #fff; float: left; position: relative; width: 200px; height: 168px;}
.mt-jubu li a{display: block; padding-top: 20px; height: 148px; color: #666;font-size: 14px;}
.mt-jubu li a:hover{text-decoration: none;color: #999;}
.mt-jubu li a img{width: 152px; height:85px; margin: 0 auto; display: block; }
.mt-jubu li a em{display: block; height: 30px; line-height: 30px; text-align: center;}

