/*新头部*/
.pub-top{ height:30px; background:#f8f8f8;}
.pub-top .city{ float:left; color:#666;line-height:30px;}
.pub-top .city a{float: left;color:#666;}
.pub-top .pub-city .city-link{float: left;color:#ff5353;}
.pub-top .pub-city .separator{margin:0 14px;width: 1px;height: 12px;display: block;float: left;background: #ccc;margin-top: 10px;}
.pub-top .returnhome{background:url(/assets/common/img/return.png) no-repeat; float: left;width: 14px;height: 12px;margin-top: 11px;margin-left:24px;}
.pub-top .city .location{color: #dd4248; margin-right: 4px;}
.pub-top .city strong{float: left; margin-right: 5px; color: #dd4248;}
.pub-top .city i{ font-size:16px;float: left; margin-top: 11px;}
.pub-top .pub-city i.fa-angle-right{float:left;line-height: 30px;font-size: 13px;margin:0 4px;margin-top: 0;}
.pub-top .menu{ float:right; margin-top:10px}
.pub-top .menu li{ float:left; padding:0 14px; border-right:1px solid #ccc;line-height: 12px;}
.pub-top .menu li:last-of-type{ border:0;padding-right: 0;}
.pub-top .menu li a{ color:#666}
.pub-top .menu li a:hover,.pub-top .menu li a.active{ color:#ff5353}
.pub-top .menu li span.menu-telnum{ color:#FF565D; font-size: 12px; font-weight: normal;}
.pub-top .pub-city{float: left; position: relative;}
.pub-top .pub-city.active .home-city{display: block;}

.pub-head-box{width: 100%;position: relative;background: #fff;z-index: 9;}
.pub-head{width:1210px; margin:0 auto; height:50px;}
.logo{ float:left;width:224px; margin-top: 5px;height: 45px;}
.pub-head .logo .logo-img1{margin-right: 10px;float: left;height: 39px;}
.pub-head .logo .logo-img1 img{height: 100%}
.pub-head .logo .logo-img2{float: left;margin-top: 8px;height: 28px;}
.pub-head .logo .logo-img2 img{height: 100%;width: auto;}

/*导航*/
.pub-head-nav{float: left;margin-left: 163px;width: 754px;overflow: hidden;}
.pub-head-nav .nav{width: 1000px;margin-bottom: 0;}
.pub-head-nav .nav li{float: left;height:50px;overflow:hidden;margin-right: 50px;cursor: pointer;}
.pub-head-nav .nav li a{font-size: 14px;line-height: 50px;}
.pub-head-nav .nav li.on a{color: #ff5353;}
.pub-head-nav .nav li:hover a{color: #ff5353;}
.pub-head-nav .nav li.active a{color: #ff5353;border-bottom: 2px solid #ff5353;padding-bottom: 4px;}
.pub-head-nav .nav li a i{font-size: 12px;line-height: 45px;float: right;margin-left: 5px;}
.pub-nav-hover{width: 100%;height: 69px;background: #fff;position: absolute;left: 0;top: 50px;z-index: 4;border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;display: none;box-shadow: 0 10px 15px rgba(0,0,0,.1);transition: all 0.5s ease;}
.pub-nav-hover div.active a{color: #ff5353;}
.zxmt-nav,.zxgl-nav,.more-nav{width: 1210px;margin: 0 auto;display: none;}
.zxmt-nav div,
.zxgl-nav div,
.more-nav div{float: left;margin-right: 40px;font-size: 14px;color: #666;line-height: 69px;}
.zxmt-nav .zxmt-nav-main,
.zxgl-nav .zxgl-nav-main,
.more-nav .more-nav-main{ margin-left: 454px;}
.zxmt-nav div a:hover,
.zxgl-nav div a:hover,
.more-nav div a:hover{color: #ff5353}
/*搜索框*/
.pub-search{ float:left; margin-left:150px;margin-top: 6px;display: none;}
.pub-search .search-nav{float: left;position: relative;}
.pub-search a{ float:left; margin-left:20px; display:block; margin-top:8px; color:#df4346}
.pub-search .search-form{width: 455px;}
.pub-search .search-input{float: left;height: 32px;width:316px;border-bottom: 1px solid #e5e5e5;margin-left: 18px;}
.pub-search .search-input input{font-size: 14px;margin-left: 6px;width: 282px;margin-top: 3px;border:0;outline: none;}
.pub-search .search-input input::-webkit-input-placeholder {color:#999;}
.pub-search .search-input input:-moz-placeholder {color:#999;}
.pub-search .search-input input::-moz-placeholder {color:#999;}
.pub-search .search-input input:-ms-input-placeholder {color:#999;}
.pub-search .search-input button{width: 16px;height: 16px;cursor: pointer; background: url('/assets/common/pic/sousuo.png');border:none;outline: none;margin-top:4px;}
.pub-search .search-form .first-search{width:120px;height: 24px;border-right: 1px solid #ccc;line-height: 24px;text-align: center; cursor: pointer; margin-top: 4px;font-size: 14px;float: left;}
.pub-search .search-form .first-search i{margin-right: 20px;float: right;font-size: 13px;line-height: 22px;}
.pub-search .search-close{margin-top: 10px;margin-left: 30px;float: left;cursor: pointer;}
.pub-search .search-form ul{width:120px;position: absolute;left: -13px;top:45px;z-index: 3;background: #fff;box-shadow: 0 2px 7px 0 #A0A0A0;overflow: hidden;display: none;}
.pub-search .search-form ul li{font-size: 14px;text-align: center;line-height: 16px;margin: 20px 0;cursor: pointer;}
.pub-search .search-form ul li:hover{color: #ff5353;}
.f-red{ color:#ff5353 !important;}