
.m-container{padding:0px 15px;}
.sheji-banner img{width:100%;}
.get-design-title{text-align: center; font-size: 0.2rem; margin:0.2rem auto;}
.get-design-title span{font-weight: bold; color:#ff5353;margin-left: 5px;}
.get-design-box li{border:1px solid #ddd; margin:0.1rem auto; height: 48px; position: relative;}
.get-design-box li span.span{position: absolute; right: 10px; line-height: 48px; color: #848486}
.get-design-box li button{border:none; outline: none; color: rgb(51,51,51,);}
.get-design-box li input{width:100%; height: 46px; font-size:0.13rem;padding-left: 5px; border:none; outline: none; color:rgb(51,51,51);}
.get-design-box li a{display: block; width:100%; height: 48px; color: #fff;}
.c-zb-city{height:46px; font-size:0.13rem;}
.m-b-btn{margin:0px;}
.slider-box{background: #f4f4f4;padding:10px;}
.zhuangxiu{ position: relative; height: 1.2rem;}
.pad20{padding:40px 10px;}
.zhuangxiu .left-title{width:0.1rem; position: absolute; top:18%; left:0px;}
.zhuangxiu .right-title{ width:0.1rem;position: absolute; top:18%; right:5px;}
.zhuangxiu img{ position:absolute; width:calc(100% - 0.25rem); height: 1.2rem}
.zhuangxiu span{color: #ff5353}
.left-img{ left:0.2rem; }
.right-img{right:0.2rem;}
.free-getSize{text-align: center; font-size: 0.16rem;padding-top: 0.2rem}
.free-getSize img{width:100%; margin-top: 20px; margin-bottom:20px;}
.three-chutu img{ width:100%; }
.qsj{position: fixed; bottom:0.45rem; right:0.05rem; display: none;}
.qsj img{width:0.6rem;}
.small-title span{color: #ff5353;}
.small-title{ font-size: 0.11rem;width:100%;  text-align: left; margin-top: -8px; padding-bottom: 0.2rem}
.align-right{text-align: center;}
.slider-box{position: relative;}
.slider-box ul {position: relative; height: 2.5rem;}
.slider-box ul li{float: left; width:100%;padding:0px 10px; height: 2.5rem;}
.pointLeft{position: absolute; left:0px; width:20px;height: 30px; color: #ff5353;top:45%;font-size: 0.2rem}
.pointRight{position: absolute; right: 0px; width:20px;height: 30px;color: #ff5353;top:45%; font-size: 0.2rem}
.pointLeft,.pointRight:hover{opacity: 0.8}
.slider-box ul li .half-box{float: left;margin-top:0.1rem; }
.slider-box ul li .half-box:nth-child(1){width:45%;}
.slider-box ul li .half-box:nth-child(2){width:55%;}
.touxiang{width:1rem;height:1rem; overflow: hidden;  border-radius: 0.5rem; margin: 0.15rem auto;}
.touxiang img{width:100%; height: 100%;margin:0 auto; }
.sheji-name{ margin:0.11rem auto; font-size: 0.2rem;text-align: center; }
.he-say{margin:0.08rem auto; text-align: center; color:#727272; font-size: 0.125rem}
.he-detial{margin:0.1rem auto; text-align: center;}
.he-detial span{color: #ff5353; font-size: 0.15rem;padding-right:5px;}
.hisZuopin{height: 1rem; margin:0.14rem auto; overflow: hidden;text-align: center;}
.hisZuopin img{height: 90%; width:83%;}
.swiper-slide{line-height:0.2rem !important}
footer .footer-tel .phone-box {line-height: 20px;}
.swiper-button-prev{background:none; color: #ff5353;text-align: left; line-height: 44px; left: 0px;}
.swiper-button-next{background: none;color: #ff5353;text-align: right;line-height: 44px; right:0px;}
.swiper-container {margin-bottom: 0.15rem;margin-top:-0.05rem;}
.c-zb-city{color: rgb(51,51,51)}
.c-zb-city i.fa{color: rgb(51,51,51)}

