<extend name="Index:basic"/>
<block name="meta"><title>{$article.now.title}_评论详情页-齐装网</title>
</block>
<block name="style">
<link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zxgl-comment.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zxgl-talk.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
<div class="wrap clearfix" style="margin-top:50px;">
<strong class="talk-title">标题:{$article.now.title}<a href="http://{:C('QZ_YUMINGWWW')}/gonglue/{$article.now.shortname}/{$article.now.id}.html" target="_blank">[查看原文]</a></strong>
    <div class="tk-l">
        {$reply}
        <div class="tk-list">
            <div class="list-top">
                <div class="list_topic clearfix">
                    <h1>已有回答</h1><span>跟帖<i class="redcolor">{$count|default=0}</i>条</span>
                </div>
            </div>
            <div class="list-mod clearfix">
                <div class="mod-main">
                {$comments}
                </div>
            </div>
        </div>
    </div>
    <div class="tk-r">
    {$orderTmp}
    </div>
</div>
<div class="content pageContent">
{$page}
</div>
{$zb_bottom_s}
</block>
<block name="script">
<script type="text/javascript" src="{$static_host}/assets/common/js/initcomment.js?v={:C('STATIC_VERSION')}"></script>
</block>