<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="用户中心">
    <meta name="description" content="用户中心">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>登录-齐装网</title>
    <include file="Index:resource"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet">
    <link href="{$static_host}/assets/user/index/css/default_g1101120180822.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</head>
<body>
<include file="Index:header"/>
<div class="wrap">
    <div class="loginlogo">
        <a class="logo" href="http://{:C('QZ_YUMINGWWW')}/"><img src="{$static_host}/assets/common/pic/logo.jpg"
                                                                 alt="齐装网"/></a>
    </div>
</div>
<style>
    .tab-nav {
        margin-bottom: 15px;
    }
</style>
<div class="loginbg">
    <div class="wrap">
        <div class="loginbgby">
            <img src="{$static_host}/assets/common/img/0918105202.jpg" width="540" height="340" alt="登录齐装网">
            <div class="zhezhao"></div>
        </div>
        <div class="loginbox">
            <div class="tab" id="tab">
                <div class="tab-nav j-tab-nav">
                    <a href="javascript:void(0);" class="current">帐号登录</a>
                    <a href="javascript:void(0);">验证码登录</a>
                </div>
                <div class="tab-con">
                    <div class="j-tab-con">
                        <div class="tab-con-item reg-user" style="display:block;">
                            <div class="loginput">
                                <input name="name" type="text" class="log" placeholder="用户名" value="">
                                <div class="tips nametishi"></div>
                            </div>
                            <div class="loginput">
                                <input name="password" type="password" class="res" placeholder="密码" value="">
                                <div class="tips times-tip password—tip"></div>
                            </div>
                            <div class="control-group verity" style="display: none">
                                {$verify}
                            </div>
                            <p class="yzm-tips"><i class="fa fa-check-square"></i>验证码已发送手机，有效时间为30分钟，请及时查收</p>
                            <div class="logintit">
                                <i>还没有齐装帐号？<a href="/reg/" target="_blank">点击注册»</a></i>
                            </div>
                            <div class="login-info">
                                <i><a href="/getpassword/" target="_blank">忘记密码？</a></i>
                            </div>
                            <div class="btn">
                                <button class="logbtn" id="login_show_verifysmscode" style="display: none">点击验证</button>
                                <button class="logbtn" id="login_show_login">登录</button>
                                <input type="hidden" id="but_style" value="1">
                            </div>
                            <div class="other">
                                <i>第三方帐号登录：</i>
                                <a href="http://oauthtmp.qizuang.com/loginfromqq" title="QQ登录" class="qqlogin"></a>
                                <a href="http://oauthtmp.qizuang.com/loginfromsina" title="新浪微博登录" class="weibologin"></a>
                                <a href="http://oauthtmp.qizuang.com/loginfromwechat" title="微信登录" class="tblogin"></a>
                            </div>
                        </div>
                        <div class="tab-con-item  reg-company">
                            <div class="loginput">
                                <input name="yonghuming" type="text" class="yonghuming" placeholder="用户名" value="">
                                <div class="tishi usertishi"></div>
                            </div>
                            <div class="loginput">
                                <input name="yanzhengma" type="text" class="yanzhengma" placeholder="验证码" value="">
                                <button class="getyanzcode">获取验证码</button>
                                <!-- <input class="getyanzcode" type="button" value="获取验证码"> -->
                                <div class="tishi yzmtishi"></div>
                            </div>
                            <div class="logintit">
                                <i>还没有齐装帐号？<a href="/reg/" target="_blank">点击注册»</a></i>
                            </div>
                            <div class="login-info">
                                <i><a href="/getpassword/" target="_blank">忘记密码？</a></i>
                            </div>
                            <div class="btnwaik">
                                <button class="loginniu">登录</button>
                            </div>
                            <div class="other">
                                <i>第三方帐号登录：</i>
                                <a href="http://oauthtmp.qizuang.com/loginfromqq" title="QQ登录" class="qqlogin"></a>
                                <a href="http://oauthtmp.qizuang.com/loginfromsina" title="新浪微博登录" class="weibologin"></a>
                                <a href="http://oauthtmp.qizuang.com/loginfromwechat" title="微信登录" class="tblogin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>


<div class="tips-mask">
    <div class="tips-container">
        <div class="tips-header"><i class="fa fa-close"></i></div>
        <p>为了您的账号安全,请每隔30天修改一次密码</p>
        <div class="btn-box">
            <span href="" class="btn-item btn-danger"><a href="/getpassword/">立即修改</a></span>
            <span href="" class="btn-item btn-default" id="ignore">忽略</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $("#tab").rTabs({
            bind: 'click',
            animation: 'fadein',
            auto: false
        });

        // //倒计时
        var flag = true;

        function countDown(obj, num) {
            if (num > 0) {
                obj.text(num + " 秒后重新发送");
                num--;
                setTimeout(function (obj, num) {
                    countDown(obj, num);
                }, 1000, obj, num);
            } else {
                obj.text("发送验证码");
                flag = true;
            }
        }

        function logindl() {

            var name = $.trim($("input[name=name]").val()),
                password = $.trim($("input[name=password]").val());
            if (name == "") {
                $('.tips').html("");
                $('.nametishi').html("请输入用户名");
                return false;
            }
            if (password == "") {
                $('.tips').html("");
                $('.password—tip').html("请输入密码");
                return false;
            } else {
                $('.tips').html("");
            }
            $.ajax({
                url: " /login/",
                type: "post",
                dataType: "json",
                data: {name: name, password: password},
                success: function (data) {
                    if (data.status == 1) {
                        window.location.href = "/home/";
                    } else if (data.status == 0) {
                        $('.tips').html("");
                        $('.password—tip').html(data.info);
                    }
                },
                error: function (xhr) {
                    alert("登录失败,请稍后再试！")
                }
            })
        }


        //登录按钮
        $("#login_show_login").on('click', function () {
            logindl();
        });

        $('.loginbox .loginput .getyanzcode').click(function (event) {

            var that = this, name = $.trim($("input[name=yonghuming]").val());
            if (name == "") {
                $('.tishi').html("");
                $('.loginbox .usertishi').html("请输入用户名");
                return false;
            } else {
                $('.tishi').html("");
            }
            if (flag == true) {
                flag=false;
                $.ajax({
                    url: "/login_sendsms/",
                    type: "post",
                    dataType: "json",
                    data: {name: name},
                    success: function (data) {
                        if (data.status == 1) {
                            $('.tishi').html("");

                                countDown($(that), 60);

                        } else if (data.status == 0) {
                            $('.tishi').html("");
                            $('.yzmtishi').html(data.info);
                        }
                    },
                    error: function (xhr) {
                        alert("发送失败,请稍后再试!")
                    }
                })
            }


        });

        function yanzhenglogin() {
            var yonghumingval = $.trim($("input[name=yonghuming]").val()),
                yanzhengmaval = $.trim($("input[name=yanzhengma]").val());
            if (yonghumingval == "") {
                $('.tishi').html("");
                $('.loginbox .usertishi').html("请输入用户名");
                return false;
            }
            if (yanzhengmaval == "") {
                $('.tishi').html("");
                $('.loginbox .yzmtishi').html("请输入验证码");
                return false;
            } else {
                $('.tishi').html("");
            }

            $.ajax({
                url: "/login/",
                type: "post",
                dataType: "json",
                data: {name: yonghumingval, code: yanzhengmaval},
                success: function (data) {
                    console.log(data)
                    if (data.status == 1) {
                        $('.tishi').html("");
                        window.location.href = "/home/";
                    } else if (data.status == 0) {
                        $('.tishi').html("");
                        $('.loginbox .yzmtishi').html(data.info);
                    }
                },
                error: function (xhr) {
                    alert("登录失败,请稍后再试！")
                }
            })
        }


        $('.btnwaik .loginniu').click(function (event) {
            yanzhenglogin();
        });

        //监听按键
        $(document).on("keyup", function (event) {

            if (event.keyCode == 13 && $('.reg-user').css("display") == "block") {
                logindl();
            } else if (event.keyCode == 13 && $('.reg-company').css("display") == "block") {
                yanzhenglogin();
            }
        })
    })
</script>
</html>
