/*日记首页*/
.newdairy-btn{ width:150px; height:40px; line-height:40px;background:#F15858;border:1px solid #ed3232; display:block; font-size:14px; color:#fff; text-align:center; margin:20px 0;}
.newdairy-btn:hover{ color:#fff; text-decoration:none;background:#ed3232;}
.dairy-list dl{  overflow:hidden;}
.dairy-list dd{ font-size:18px; line-height:40px; height:40px; float:left;}
.dairy-list dt{float:right; margin-top:10px}
.dairy-list dt span{ display:block; float:left; line-height:25px; text-align:center; width:80px; height:25px; padding:0 10px; color:#666; margin-right:1px;}

.dairy-list dt span.active{ color:#18c888}
.dairy-list>li{ position:relative; height:100px; padding:20px; border:1px #eee solid; border-top:3px #eee double; background:#ffffff; margin-bottom:20px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;overflow:hidden}
.dairy-list>li:hover{ border-color:#f8dfdf; background:#fffffc;}
.dairy-list>li .buff{ position:absolute; font-size:50px;color:#fff3f3; font-weight:bold; display:block; bottom:30px; height:50px; right:0; text-align:center; line-height:50px}
.dairy-list>li .finish{color:#f5f9f3;}
.dairy-list>li .btn{ font-weight:100; color:#666; font-size:14px; margin-left:20px; display:block;position:absolute;background:#ffffff; width:100%; bottom:0; height:30px; left:0; text-align:center;}
.dairy-list>li a{overflow:hidden;}
.dairy-list>li a:hover{ text-decoration:none}
.dairy-list>li ul{line-height:30px; color:#888}
.dairy-list>li ul li{ float:left; width:180px}
.dairy-list .label {color:#fff;font-size:13px;padding:2px 5px 3px 5px;border-radius:3px;}
.dairy-list .stat0 {background:#F8AC59;}
.dairy-list .stat1 {background:#1AB394;}
.dairy-list .review {background:#428BCA;}
.dairy-list .del {background:#ED5565;}
.dairy-list .reasonBox {display: none}
.dairy-list .reasoninfo {cursor:pointer;}


/*日记时间轴*/
h2.dairy-tit{ font-size:24px; font-weight:100; margin-top:20px}
h2.dairy-tit i{ color:#eee}
.dairy-main-btn{ margin-left:75px; width:150px; height:40px; display:block; line-height:40px; text-align:center; font-size:18px; margin-top:50px; border-radius:100px; background:#fff; color:#ea6262; margin-bottom:20px; border:1px solid #ed5d5d}
.dairy-main-btn:hover{ background:#ed5d5d; text-decoration:none; font-size:20px; color:#fff}
.dairy-main li{ position:relative; overflow:hidden}
.dairy-date{ position:absolute; left:0; border-right:3px dashed #eee; height:190px; width:150px}
.dairy-more{ float:right; width:610px; height:116px; border-radius:10px; border:2px solid #eee; position:relative; margin:25px 0; background:#fff; margin-right:20px; padding:10px; line-height:25px}
.dairy-more:before{ content:""; position:absolute; left:-82px; top:10px; height:30px; background:url(../img/dairystep.png) no-repeat; width:82px; line-height:30px}
.dairy-date .date{float:right; margin-right:20px; font-size:24px; font-weight:bold; text-align:right; line-height:25px; color:#b6d6f5}
.dairy-date .date i{ font-size:12px; color:#ccc}
.dairy-date .step{ margin-top:20px;margin-right:20px; display:block; font-weight:bold; color:#489ced; float:right; width:100%; text-align:right; font-size:12px}
.dairy-more h1{ font-size:18px; font-weight:100; line-height:25px; height:25px}
.dairy-more h1 span{ vertical-align: 3px;font-size:12px; display:inline-block; background:#fab228; color:#fff; padding:0 10px; margin-right:10px; border-radius:50px}
.dairy-more p{text-indent:24px;margin-top:10px; height:80px; overflow:hidden; line-height:20px; color:#888; position:relative}
.dairy-more p img{ float:left; height:80px; width:auto; margin-right:10px}
.dairy-more p a{ display:block; right:0; bottom:0; background:#fff; position:absolute; padding-left:10px; color:#ea4e4e}
.beginning{ font-size:24px; font-weight:bold; color:#eee; margin:20px 75px; width:150px; text-align:center}


/*新建日记*/
.rdo,.fuxuan { float:left; width:680px; margin-top:3px}
.rdolist, .chklist { display: none; }
.rdobox, .chkbox { display: inline-block; padding:5px 10px 5px 5px; height: 16px; line-height: 16px; background: #eee; border-radius: 3px; color: #666; font-family: 'Microsoft YaHei'; cursor: pointer; margin-right:5px; margin-bottom:10px}
.check-image { display: inline-block; width: 16px; height: 16px; margin-top: -4px; background: url(../img/input-unchecked.png) no-repeat; vertical-align: middle; }
.unchecked { background: #ECF0F1; color: #666; transition-property: background; transition-delay: 0s; transition-duration: .1s; transition-timing-function: linear;}
.unchecked:hover { background: #dedfe0; }
.checked { background: #ff6b6b; color: #fff; }
.diary-edit{ margin-top:20px}
.diary-edit li>span{ display:block; float:left; width:70px; margin-right:20px; font-size:14px; font-weight:bold; text-align:right; }
.diary-edit li{ overflow:hidden; margin-bottom:20px;line-height:30px}
.diary-edit li p{ clear:both; margin-left:90px}
.diary-edit li em{ display:block}
.diary-edit li input[type=text]{ color: #666; height:28px; border:1px solid #ccc; line-height:28px; padding-left:5px; margin-right:5px}
.diary-edit li select{ border:1px solid #ccc; height:28px; margin-right:5px;color: #666; width: 100px;}


/*添加日记*/
/*↓修改*/
.new-diary { margin-top:20px}
.new-diary dt{ height:30px; line-height:30px; font-size:16px; font-weight:bold}
.new-diary dt span{ font-size:12px; font-weight:100; color:#aaa; margin-left:20px}
.new-diary dd{ overflow:hidden; margin:10px 0; margin-bottom:30px}
.new-diary dd textarea{ color: #666; border:1px solid #ccc; resize:none; width:680px; height:200px; padding:10px}
.new-diary dd .rdo input[type=text]{color: #666;border:  1px solid #ccc; height: 30px; line-height: 30px; padding-left: 5px; width: 300px;}
.new-diary dd .rdo .r-tit{font-size: 16px; font-weight: bold; margin-right: 10px; }
.ht-moreinfo{ font-size:14px; line-height:30px; margin-top:50px}
.ht-moreinfo>li{ margin-bottom:20px; overflow:hidden}
.ht-moreinfo>li>span{ float:left; width:80px; font-weight:bold; text-align:right; padding-right:10px}
.ht-moreinfo>li .select{ border:1px solid #ccc; height:30px; width:171px}
.jianjiemain{ height:100px; line-height:20px; border:1px solid #ccc;resize:none; width:480px}
.ht-moreinfo>li select{ border:1px solid #ccc; height:30px;}

.ht-comp-phot { overflow:hidden; max-height:324px}
.ht-comp-phot li{ float:left; width:150px; height:150px; border:1px solid #f1f1f1; margin-right:20px; margin-bottom:20px}
.ht-comp-phot li.uplord a{ width:150px; text-align:center; color:#ccc; font-size:16px; padding-top:40px; display:block; background:#f1f1f1; height:110px}
.ht-comp-phot li.uplord a:hover{ text-decoration:none; color:#888; background:#ccc}
.ht-comp-phot li.uplord a i{ display:block; width:150px}
.ht-comp-phot li .phot{ text-align:center; height:150px; width:150px; line-height:116px; background:#f7f7f7; position:relative}
.ht-comp-phot li .phot .del{ background:rgba(0,0,0,.6); background:#000\0; position:absolute; top:0; right:0; height:20px; color:#fff; width:30px; height:30px; line-height:30px; font-size:20px; cursor:pointer}
.ht-comp-phot li .phot img { width:auto; max-width: 100%; height:auto;vertical-align:middle; max-height:100% }


/*↑修改*/
.ht-yes a{ display:inline-block; margin-right:10px}
.ht-yes a.disable{ background:#ccc;border:1px solid #bbb; box-shadow:none}



/*装修日记动态*/
.diary-mes,.diary-send{ margin-top:20px}
.diary-mes li { position:relative;  padding:10px; background:#f1f1f1; border-bottom:10px dotted #fff; line-height:25px; margin-bottom:20px}
.diary-mes li h2{ font-size:16px}
.diary-mes li h2 span{ color:#f53333; margin-left:10px}
.diary-mes li .date{ position:absolute; right:10px; top:10px; color:#888}
.diary-mes li .news-box{ padding:10px; background:#fff; border:1px solid #eee; border-radius:5px; overflow:hidden; position:relative; height:115px}
.diary-mes li .news-box .more{ line-height:20px; color:#3397f5; position:absolute; background:#fff; right:10px; bottom:10px; padding-left:10px}
.diary-mes li .news-box p img{ height:80px; width:auto; float:left; margin-right:10px}.diary-mes li .news-box p{ color:#888; overflow:hidden; height:80px; line-height:20px}
.diary-mes li .news-box h3{ margin-bottom:10px; font-size:16px}
.diary-mes li .news-box h3 span{ font-size:14px;border-radius:50px; background:#ffc425; border:1px solid #ffa525; font-weight:100; color:#fff; padding:0 10px; margin-right:10px}
/*评论消息*/
.diary-send li h2{ font-size:16px; margin-bottom:10px}
.diary-send li h2 span{ color:#f53333; margin-left:10px}
.diary-send li{ border-bottom:1px solid #eee; line-height:20px; padding:20px 0}
.diary-send li>p{ font-size:14px; font-weight:bold; color:#aaa}
.diary-send li p.date{font-weight:100; font-size:12px}
.diary-send li p.send{ color:#666;font-weight:100; margin-left:70px}
.diary-send li p a{ color:#3397f5;}
.diary-send li p img{ height:60px; width:60px; float:left; margin-right:10px;}
.diary-send li .mysend{ background:#f1f1f1; padding:20px; margin-left:70px; margin-top:20px; color:#666; line-height:25px; position:relative}
.diary-send li .mysend:before  {
   content:"";
   position: absolute;
   left:40px;
   top: -10px;
   width: 0;
   height: 0;
   border-top:  10px solid transparent;
   border-right: 10px solid #f1f1f1;
   border-bottom: 0px solid transparent;
}
.diary-send li .mysend:after  {
   content:"";
   position: absolute;
   left:50px;
   top: -10px;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-left: 10px solid #f1f1f1;
   border-bottom: 0px solid transparent;
}
.diary-send li .resend{ display:block; float:right; line-height:30px;color:#3397f5;}
.diary-send li .resend-box{ clear:both; margin-left:70px}
.diary-send li .resend-box textarea{ width:100%; resize:none; border:1px solid #ccc; height:80px}
.resend-btn a{ display:inline-block; width:auto; padding:0 10px; line-height:25px; border-radius:2px}
.resend-btn a:hover{ text-decoration:none; opacity:0.9}
.resend-btn a:first-of-type{ background:#ff6b6b; color:#fff; margin-right:5px;}
.resend-btn a:last-of-type{ background:#aaa; color:#fff}
.resend-btn{ text-align:right; margin-top:10px}

.isAgree {font-size:14px;margin-bottom:0px;margin-top:10px;}
.isAgree a {color:#dc4146;}