html{height: 100%;}
body{color: #333;}
.zxxianghaoli01{width: 100%;height: 1.077rem;background: url(/assets/mobile/card/img/zxxianghaoli01.jpg) no-repeat;
background-size: 100% 100%;position: relative;}
.zxxianghaoli01 .huodrule{font-size: 0.097rem;color: #333;border:1px solid #333;border-radius: 10px;display: inline-block;
padding:0.016rem 0.053rem;position: absolute;top: 0.088rem;right: 0.088rem;}
.zxxianghaoli02{width: 100%;height: 1.737rem;background: url(/assets/mobile/card/img/zxxianghaoli02.jpg) no-repeat;
    background-size: 100% 100%;}
.contentwk{width: 100%;background: #fee348;padding: 0.132rem 0.088rem;box-sizing: border-box;
overflow: hidden;padding-bottom: 0;}
.contentwk .phonewk{width: 100%;height: 1.899rem;overflow: hidden;border:1px solid #614427;border-radius: 8px;position: relative;
padding: 0.16rem 0.211rem;box-sizing: border-box;text-align: center;}
.phonewk .yuanquan{position: absolute;display: inline-block;width:0.053rem;height: 0.053rem;border-radius: 50%;border:0.009rem solid #614427;
}
.lefttop{top: 0.035rem;left: 0.035rem;}
.righttop{top: 0.035rem;right: 0.035rem;}
.leftbottom{bottom: 0.035rem;left: 0.035rem;}
.rightbottom{bottom: 0.035rem;right: 0.035rem;}
.phonewk .inputwk{margin-bottom: 0.106rem;position: relative;}
.qiehuanphone{font-size: 0.132rem;margin-bottom: 0.16rem;text-align: center;}
.qiehuanphone a{color: #f51f1f;display: inline-block;vertical-align: middle;}
.orderwk{width: 100%;height: 0.954rem;background: #feeb7f;padding: 0.088rem 0.132rem;
box-sizing: border-box;margin: 0 auto;position: relative;}
.orderwk .orderhagn{font-size: 0.106rem;padding-bottom: 0.079rem;text-align: left;overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;}
.orderwk .solidbot{border-bottom:1px solid #d6bd24;}
.orderwk .topjvli{margin-top: 0.079rem;}
.orderhagn span{font-size: 0.114rem;font-weight: bold;}
.swiper-container{border:0;}
.prevniu{position: absolute;display: inline-block;left: 0.033rem;top: 0.4rem;color: #c5ad1c;
}
.nextniu{position: absolute;display: inline;top: 0.4rem;right: 0.033rem;color: #c5ad1c;}
.phonewk .takezige{text-align: center;font-size: 0.114rem;margin-top: 0.13rem;color: #fd3b3a;}
.platformjijin{width: 100%;margin-top: 0.132rem;border-radius: 8px;border:1px solid #614427;
    box-sizing: border-box;text-align: center;}
.platformjijin .platformjijintop{width: 100%;height: 0.844rem;background: #fd3b3a;border-bottom:1px solid #614427; 
border-top-left-radius: 8px;border-top-right-radius: 8px;overflow: hidden;}
.platformjijintop-title{color: #fff;font-weight: bold;font-size: 0.22rem;margin-top: 0.068rem;}
.platformjijintop-ms{width: 1.758rem;height: 0.246rem;line-height: 0.246rem;text-align: center;font-size: 0.114rem;
color: #fff;margin:0 auto;border-radius:0.12rem;background: rgba(200,24,26,1);}
.xianding{overflow: hidden;}
.xianduse{font-size: 0.106rem;position: relative;}
.xianduse::before{content: "";height: 1px;width: 0.44rem;background: #333;position:absolute;
top: 0.064rem;left: -0.46rem;}
.xianduse::after{content: "";height: 1px;width: 0.44rem;background: #333;position:absolute;
    top: 0.064rem;right: -0.46rem;}
.companylogin{width: 100%;background: #fff;overflow: hidden;border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;}
.companylogin ul{overflow: hidden;padding-bottom: 0.176rem;padding-right: 0.176rem;box-sizing: border-box;}
.companylogin ul li{display:inline-block;width: 0.897rem;height: 0.695rem;float: left;text-align: center;
border: 1px solid #ead5c1;box-sizing: border-box;margin: 0.176rem;margin-right: 0;margin-bottom: 0;}
.companylogin .gongshilogo{width: 0.624rem;height: 0.308rem;vertical-align: top;overflow: hidden;margin: 0 auto;
margin-top: 0.123rem;}
.companylogin .gongshilogo img{width: 100%;height: 100%;}
.companylogin .companyname{font-size: 0.114rem;margin-top: 0.044rem;}

.zhuanshuyh{width: 100%;margin-top: 0.132rem;border-radius: 8px;border:1px solid #614427;
    box-sizing: border-box;text-align: center;overflow: hidden;}
.zhuanshuyh .zhuanshuyhtop{width: 100%;height: 0.844rem;background: #4d91f6;border-bottom:1px solid #614427; 
    border-top-left-radius: 8px;border-top-right-radius: 8px;overflow: hidden;}
.zhuanshuyhtop-title{color: #fff;font-weight: bold;font-size: 0.22rem;margin-top: 0.068rem;}
.zhuanshuyhtop-ms{width: 1.758rem;height: 0.246rem;line-height: 0.246rem;text-align: center;font-size: 0.114rem;
color: #fff;margin:0 auto;border-radius:0.12rem;background: rgba(27,102,213,1);}
.zhuanshuyhtop .xianding{overflow: hidden;}
.zhuanshuyhtop .xianduse{font-size: 0.106rem;position: relative;}
.zhuanshuyh .gongshiyouhui{border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;background: #fff;width: 100%;padding: 0.22rem 0.299rem;
box-sizing: border-box;padding-bottom: 0;}
.gongshiyouhui ul{overflow: hidden;}
.gongshiyouhui ul li{width: 1.09rem;border:1px solid #ead5c1;box-sizing: border-box;
display: inline-block;float: left;margin-bottom: 0.264rem;font-size: 0.106rem;}
.gongshiyouhui ul li:nth-child(odd){margin-right: 0.22rem;}
.gongshiyouhui .logodiv{width: 0.624rem;height: 0.308rem;margin: 0 auto;overflow: hidden;margin-top: 0.114rem;}
.gongshiyouhui .logodiv img{width: 100%;height: 100%;}
.gongshiyouhui .gongshi-title{padding: 0.076rem 0;border-bottom: 1px dashed #ead5c1;
    width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gongshiyouhui .manjian{color: #ff5353;
    width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.followwx{width: 100%;margin: 0.22rem 0;height: 1.055rem;vertical-align:top;}
.guanzhuwx{display: inline-block;float: left;width: 1.055rem;height: 1.055rem;margin-left: 0.431rem;}
.guanzhuwx img{width: 100%;height: 100%;}
.guanzhums{display: inline-block;margin-left: 0.11rem;}
.guanzhums .guanzhums01{font-size: 0.123rem;margin-top: 0.2rem;}
.guanzhums .guanzhums02{font-size: 0.149rem;font-weight: bold;margin-top: 0.088rem;}
.guanzhums .guanzhums03{font-size: 0.106rem;margin-top: 0.022rem;}

.rulesyiny{width: 100%;height: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
background: rgba(0,0,0,0.7);z-index: 9;display: none;}
.rulesneirogn{width: 2.814rem;height: 2.876rem;background: #fff;position: fixed;top: 0;left: 0;right: 0;bottom: 0;
margin: auto;z-index: 11;border-radius: 8px;overflow-y: auto;padding: 0 0.22rem;box-sizing: border-box;display: none;}
.rulesneirogn .rulesshowwk{overflow-y: auto;height: 1.35rem;}
.rulesneirogn .rulestitle{font-size: 0.13rem;font-weight:bold;width: 100%;text-align: justify;margin-top: 0.114rem;}
.rulesneirogn .rulesshowwk{overflow-y: auto;height: 1.35rem;}
.rulesneirogn .rules-title{text-align: center;font-size:0.167rem;font-weight: bold;margin-top: 0.325rem;margin-bottom: 0.185rem;}
.rulesneirogn .knowniu{width: 1.758rem;height: 0.352rem;margin: auto;background: #ff5353;color: #fff;
font-size: 0.132rem;text-align: center;line-height: 0.352rem;border-radius: 20px;margin-top: 0.22rem;}

.contentone{width: 100%;padding:0.132rem 4% 0;box-sizing: border-box;
overflow: hidden;background: #fff;margin:0.088rem 0;border-radius: 8px;}
.contentone .dianpudizwk{overflow: hidden;margin-bottom: 0.132rem;}
.dianpudizwk .companylogo{display: inline-block;float: left;width: 0.897rem;height: 0.58rem;
border: 1px solid #ead5c1;padding: 0.132rem;box-sizing: border-box;overflow: hidden;}
.companylogo img{width: 100%;height: 100%;}
.dianpudizwk .companyname{display: inline-block;overflow: hidden;margin-left: 0.097rem;float: left;
    width: calc(100% - 1rem);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dianpudizwk .weiliangf{display: inline-block;width: 1.143rem !important;}
.companyname .companyname-title{margin-top: 0.03rem;font-size: 0.132rem;font-weight: bold;margin-bottom: 0.132rem;
overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.companyname .noliangf{color: #808080;font-size: 0.106rem;}
.companyname .lfcolor{color: #52c41a;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.lfcolor .liangftime{margin-left: 0.132rem;}
.sureliagnfwk{display: inline-block;overflow: hidden;float: left;margin-top: 0.264rem;}
.sureliagnfwk .sureniu{width: 0.615rem;height: 0.237rem;display: inline-block;background: #fd3b3a;border-radius: 20px;
line-height: 0.237rem;text-align: center;color: #fff;font-size: 0.106rem;}

.youhuiqwk{overflow: hidden;width: 100%;background:url(/assets/mobile/card/img/couponwkx1.png) no-repeat;
background-size: 100% 100%;color: #fff;margin-bottom: 0.132rem;position: relative;padding: 0.11rem 0;
box-sizing: border-box;display: table;}
.youhuiqwk2{background:url(/assets/mobile/card/img/couponwkx2.png) no-repeat;background-size: 100% 100%;}
.youhuiqwkwx{background:url(/assets/mobile/card/img/couponwkwx.png) no-repeat;background-size: 100% 100%;}
.usewkbj{background:url(/assets/mobile/card/img/couponwkx3.png) no-repeat;background-size: 100% 100%;}
.usewkbj2{background:url(/assets/mobile/card/img/couponwkx4.png) no-repeat;background-size: 100% 100%;}
.youhuiqwk .takeendyy{width: 100%;height: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;
margin: auto;background: url(/assets/mobile/card/img/youhuiqyy.png) no-repeat;z-index: 3;border-radius: 5px;
background-size: 100% 100%;}
.takeendyy .nolftake{float: right;width:calc(100% - 2.1rem);height: 100%;
    position: absolute;top: 0;right: 0;}
.takeendyy .endtakedj{float: right;width:calc(100% - 2.1rem);height: 100%;
    position: absolute;top: 0;right: 0;}
.youhuiqwk .youhqneir{width: 2.1rem;height: 100%;padding: 0 0.12rem;box-sizing: border-box;
text-align: center;display: table-cell;}
.youhqneir .quanzhiwk{padding: 0.032rem 0;margin-bottom: 0.1rem;}
.quanzhiwk .pricewk{display: inline-block;font-size: 0.21rem;font-weight: bold;}
.quanzhiwk .pricewk-danwei{font-size: 0.162rem;}
.quanzhiwk .pricems{display: inline-block;font-size: 0.112rem;text-align: left;line-height: 0.15rem;
}
.youhqneir .youohuiqtime{font-size: 0.11rem;}
.youhuiqwk .youhuiqrightwk{
    height: 100%;font-size: 0.141rem;font-weight: bold;
text-align: center;vertical-align: middle;color: #fff;position: relative;display: table-cell;}
.youhuiqrightwk span{width: 0.3rem;display: inline-block;line-height: 0.172rem;}
.youhuiqrightwk .takeendniu{width: 0.484rem;}
.youhuiqrightwk .pleaseuse{width: 0.484rem;}

/* 确认量房弹窗 */
.surelfwk{width: 2.814rem;height: 1.099rem;border-radius: 8px;position: fixed;top: 0;bottom: 0;
left: 0;right: 0;margin: auto;background: #fff;z-index: 99;overflow: hidden;text-align: center;display: none;}
.surelfwk-title{font-size: 0.132rem;margin: 0.24rem 0;}
.sureniuwk{overflow: hidden;border-top: 1px solid #e6e6e6;}
.sureniuwk .surequeren{float: left;width: 50%;height: 0.44rem;border-right:1px solid #e6e6e6;
text-align: center;box-sizing: border-box;line-height: 0.44rem;color: #ff5353;}
.sureniuwk .consolider{float: left;width: 50%;height: 0.44rem;
    text-align: center;box-sizing: border-box;line-height: 0.44rem;}


/* 未确认量房点击立即领取弹窗 */
.nolfwk{width: 2.814rem;height: 1.723rem;background: #fff;border-radius: 8px;position: fixed;display:none;
top: 0;bottom: 0;left: 0;right: 0;margin: auto;z-index: 99;padding-top: 0.22rem;box-sizing: border-box;}
.nolfwk .pitemms{font-size: 0.132rem;padding: 0 0.22rem;box-sizing: border-box;text-align: justify;}
.nolfwk .nolfniu{width: 100%;border-top: 1px solid #e6e6e6;height: 0.44rem;text-align: center;line-height: 0.44rem;
font-size: 0.132rem;margin-top: 0.32rem;}

/* 点击已领完弹窗 */
.takeendwk{width: 2.814rem;height: 1.363rem;text-align: center;display:none;
background: #fff;position: fixed;border-radius: 8px;z-index: 99;top: 0;bottom: 0;left: 0;right: 0;
margin: auto;overflow: hidden;}
.takeendwk-title{font-size: 0.158rem;font-weight: bold;margin-top: 0.255rem;}
.takeendwk-ms{font-size: 0.114rem;color: #666;margin-top: 0.114rem;}
.takeendwk-niu{width: 100%;height: 0.44rem;line-height: 0.44rem;font-size: 0.132rem;color: #ff5353;
border-top: 1px solid #e6e6e6;margin-top: 0.17rem;}

/* 领取成功弹窗 */
.takesuccesswk{width: 2.814rem;height: 2.752rem;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
z-index: 99;text-align: center;display: none;}
.takesuccesswk .taketopwk{height: 1.292rem;background: #fff;border-radius: 8px;overflow:hidden;}
.taketopwk .taketopwk-gx{font-size: 0.132rem;margin-top: 0.255rem;}
.taketopwk-lingqu{font-size: 0.158rem;color: #ff5353;font-weight: bold;margin-top: 0.123rem;}
.taketopwk-look{font-size: 0.106rem;border-top: 1px solid #e6e6e6;height: 0.352rem;line-height: 0.352rem;
margin-top: 0.145rem;}
.gokaquanbao{width: 100%;height: 0.352rem;line-height: 0.352rem;color: #fff;font-size: 0.132rem;
border-radius: 20px;background: #ff5353;margin-top: 0.088rem;display: block;}
.takesuccesswk-close{width: 0.211rem;height: 0.211rem;border-radius: 50%;border:1px solid #fff;
line-height: 0.211rem;color: #fff;display: inline-block;margin-top: 0.22rem;}