html{height: 100%;}
.contentone{width: 100%;padding: 0 4%;box-sizing: border-box;
border-bottom:0.1rem solid #f5f5f5;overflow: hidden;border-top: 1px solid #e6e6e6;}
.youhuiqwk{overflow: hidden;width: 100%;background:url(/assets/mobile/card/img/couponwkbig1.png) no-repeat;
margin-top: 0.13188rem;background-size: 100% 100%;color: #fff;padding: 0.11rem 0;
box-sizing: border-box;}
.youhuiqwk2{overflow: hidden;width: 100%;background:url(/assets/mobile/card/img/couponwkbig2.png) no-repeat;
    margin-top: 0.13188rem;background-size: 100% 100%;color: #fff;padding: 0.11rem 0;
    box-sizing: border-box;}
.youhuiqwk .youhqneir{width: 2.58rem;height: 100%;float: left;padding: 0 0.165rem;box-sizing: border-box;
text-align: center;}
.youhqneir .youhqneir-title{font-size:0.132rem;color: #fff;padding: 0.088rem 0;border-bottom: 1px solid #fff;
width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding-bottom: 0.132rem;margin-bottom: 0.066rem;}
.youhqneir .quanzhiwk{padding: 0.012rem 0;margin-bottom: 0.1rem;}
.quanzhiwk .pricewk{display: inline-block;font-size: 0.21rem;font-weight: bold;}
.quanzhiwk .pricewk-danwei{font-size: 0.162rem;}
.quanzhiwk .pricems{display: inline-block;font-size: 0.112rem;text-align: left;line-height: 0.15rem;
}
.youhqneir .youohuiqtime{font-size: 0.11rem;}

.youhuiqmh{width: 1.829rem;height: 0.862rem;margin: 0.264rem auto;background: #fffaee;border:0.009rem dashed #fad26b;
text-align: center;color: #fcbc19;}
.youhuiqmh-title{font-size: 0.106rem;margin-top: 0.25rem;}
.youhuiqmh-hao{font-size: 0.141rem;font-weight: bold;margin-top: 0.03rem;}



.contenttwo{width: 100%;padding: 0.246rem 4%;box-sizing: border-box;overflow: hidden;}
.contenttwo .contenttwo-title{font-size: 0.132rem;font-weight: bold;color: #333;margin-bottom:0.106rem;
}
.contenttwo .usemiaos{font-size: 0.123rem;text-align:justify;color: #333;white-space: pre-wrap;}








