html{height: 100%;}
body{color: #333;}
.zxxianghaoli01{width: 100%;height: 1.077rem;background: url(/assets/mobile/card/img/zxxianghaoli01.jpg) no-repeat;
background-size: 100% 100%;position: relative;}
.zxxianghaoli01 .huodrule{font-size: 0.097rem;color: #333;border:1px solid #333;border-radius: 10px;display: inline-block;
padding:0.016rem 0.053rem;position: absolute;top: 0.088rem;right: 0.088rem;}
.zxxianghaoli02{width: 100%;height: 1.737rem;background: url(/assets/mobile/card/img/zxxianghaoli02.jpg) no-repeat;
    background-size: 100% 100%;}
.contentwk{width: 100%;background: #fee348;padding: 0.132rem 0.088rem;box-sizing: border-box;
overflow: hidden;padding-bottom: 0;}
.contentwk .phonewk{width: 100%;height: 1.899rem;overflow: hidden;border:1px solid #614427;border-radius: 8px;position: relative;
padding: 0.16rem 0.211rem;box-sizing: border-box;text-align: center;}
.phonewk .yuanquan{position: absolute;display: inline-block;width:0.053rem;height: 0.053rem;border-radius: 50%;border:0.009rem solid #614427;
}
.lefttop{top: 0.035rem;left: 0.035rem;}
.righttop{top: 0.035rem;right: 0.035rem;}
.leftbottom{bottom: 0.035rem;left: 0.035rem;}
.rightbottom{bottom: 0.035rem;right: 0.035rem;}
.phonewk .inputwk{margin-bottom: 0.106rem;position: relative;}
.qiehuanphone{font-size: 0.132rem;margin-bottom: 0.16rem;text-align: center;}
.qiehuanphone a{color: #f51f1f;display: inline-block;vertical-align: middle;}
.orderwk{width: 100%;height: 0.954rem;background: #feeb7f;padding: 0.088rem 0.132rem;
box-sizing: border-box;margin: 0 auto;}
.orderwk .orderhagn{font-size: 0.106rem;padding-bottom: 0.079rem;text-align: left;overflow: hidden;text-overflow: ellipsis;
    white-space: nowrap;}
.orderwk .solidbot{border-bottom:1px solid #d6bd24;}
.orderwk .topjvli{margin-top: 0.079rem;}
.orderhagn span{font-size: 0.114rem;font-weight: bold;}
.phonewk .takezige{text-align: center;font-size: 0.114rem;margin-top: 0.13rem;}
.platformjijin{width: 100%;margin-top: 0.132rem;border-radius: 8px;border:1px solid #614427;
    box-sizing: border-box;text-align: center;}
.platformjijin .platformjijintop{width: 100%;height: 0.844rem;background: #fd3b3a;border-bottom:1px solid #614427; 
border-top-left-radius: 8px;border-top-right-radius: 8px;overflow: hidden;}
.platformjijintop-title{color: #fff;font-weight: bold;font-size: 0.22rem;margin-top: 0.068rem;}
.platformjijintop-ms{width: 1.758rem;height: 0.246rem;line-height: 0.246rem;text-align: center;font-size: 0.114rem;
color: #fff;margin:0 auto;border-radius:0.12rem;background: rgba(200,24,26,1);}
.xianding{overflow: hidden;}
.xianduse{font-size: 0.106rem;position: relative;}
.xianduse::before{content: "";height: 1px;width: 0.44rem;background: #333;position:absolute;
top: 0.064rem;left: -0.46rem;}
.xianduse::after{content: "";height: 1px;width: 0.44rem;background: #333;position:absolute;
    top: 0.064rem;right: -0.46rem;}
.companylogin{width: 100%;background: #fff;overflow: hidden;border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;}
.companylogin ul{overflow: hidden;padding-bottom: 0.176rem;padding-right: 0.176rem;box-sizing: border-box;}
.companylogin ul li{display:inline-block;width: 0.897rem;height: 0.695rem;float: left;text-align: center;
border: 1px solid #ead5c1;box-sizing: border-box;margin: 0.176rem;margin-right: 0;margin-bottom: 0;}
.companylogin .gongshilogo{width: 0.624rem;height: 0.308rem;vertical-align: top;overflow: hidden;margin: 0 auto;
margin-top: 0.123rem;}
.companylogin .gongshilogo img{width: 100%;height: 100%;}
.companylogin .companyname{font-size: 0.114rem;margin-top: 0.044rem;
    width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.zhuanshuyh{width: 100%;margin-top: 0.132rem;border-radius: 8px;border:1px solid #614427;
    box-sizing: border-box;text-align: center;overflow: hidden;}
.zhuanshuyh .zhuanshuyhtop{width: 100%;height: 0.844rem;background: #4d91f6;border-bottom:1px solid #614427; 
    border-top-left-radius: 8px;border-top-right-radius: 8px;overflow: hidden;}
.zhuanshuyhtop-title{color: #fff;font-weight: bold;font-size: 0.22rem;margin-top: 0.068rem;}
.zhuanshuyhtop-ms{width: 1.758rem;height: 0.246rem;line-height: 0.246rem;text-align: center;font-size: 0.114rem;
color: #fff;margin:0 auto;border-radius:0.12rem;background: rgba(27,102,213,1);}
.zhuanshuyhtop .xianding{overflow: hidden;}
.zhuanshuyhtop .xianduse{font-size: 0.106rem;position: relative;}
.zhuanshuyh .gongshiyouhui{border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;background: #fff;width: 100%;padding: 0.22rem 0.299rem;
box-sizing: border-box;padding-bottom: 0;}
.gongshiyouhui ul{overflow: hidden;}
.gongshiyouhui ul li{width: 1.09rem;border:1px solid #ead5c1;box-sizing: border-box;
display: inline-block;float: left;margin-bottom: 0.264rem;font-size: 0.106rem;}
.gongshiyouhui ul li:nth-child(odd){margin-right: 0.22rem;}
.gongshiyouhui .logodiv{width: 0.624rem;height: 0.308rem;margin: 0 auto;overflow: hidden;margin-top: 0.114rem;}
.gongshiyouhui .logodiv img{width: 100%;height: 100%;}
.gongshiyouhui .gongshi-title{padding: 0.076rem 0;border-bottom: 1px dashed #ead5c1;
    width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gongshiyouhui .manjian{color: #ff5353;
    width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.followwx{width: 100%;margin: 0.22rem 0;height: 1.055rem;vertical-align:top;}
.guanzhuwx{display: inline-block;float: left;width: 1.055rem;height: 1.055rem;margin-left: 0.431rem;}
.guanzhuwx img{width: 100%;height: 100%;}
.guanzhums{display: inline-block;margin-left: 0.11rem;}
.guanzhums .guanzhums01{font-size: 0.123rem;margin-top: 0.2rem;}
.guanzhums .guanzhums02{font-size: 0.149rem;font-weight: bold;margin-top: 0.088rem;}
.guanzhums .guanzhums03{font-size: 0.106rem;margin-top: 0.022rem;}

.rulesyiny{width: 100%;height: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
background: rgba(0,0,0,0.7);z-index: 9;display: none;}
.rulesneirogn{width: 2.814rem;height: 2.876rem;background: #fff;position: fixed;top: 0;left: 0;right: 0;bottom: 0;
margin: auto;z-index: 11;border-radius: 8px;overflow-y: auto;padding: 0 0.22rem;box-sizing: border-box;display: none;}
.rulesneirogn .rulesshowwk{overflow-y: auto;height: 1.35rem;}
.rulesneirogn .rulestitle{font-size: 0.13rem;font-weight:bold;width: 100%;text-align: justify;margin-top: 0.114rem;}
.rulesneirogn .rules-title{text-align: center;font-size:0.167rem;font-weight: bold;margin-top: 0.325rem;margin-bottom: 0.185rem;}
.rulesneirogn .rulesnr{font-size: 0.114rem;width: 100%;text-align: justify;margin-top: 0.114rem;}
.rulesneirogn .knowniu{width: 1.758rem;height: 0.352rem;margin: auto;background: #ff5353;color: #fff;
font-size: 0.132rem;text-align: center;line-height: 0.352rem;border-radius: 20px;margin-top: 0.22rem;}