<extend name="Main:baseTemplate" />
<block name="title">
    <title>齐装网品牌榜编辑后台 - 控制台</title>
</block>
<block name="style">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/validation/css/validationEngine.jquery.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/jstree/themes/default/style.min.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/plugins/select2/css/select2.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/meitu.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/fileinput/fileinputLink.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datetimepicker.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <section class="content-header">
        <h1>美图操作</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li><a href="/meitu/">美图管理</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tag"></i> 美图操作</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div id="categorydetails" class="col-md-12">
                        <div class="nav-tabs-custom">
                            <form id="form" action="javascript:void(0)" method="POST">
                                <div class="tab-content">
                                    <!-- 常规 -->
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>标题</label>
                                                <div class="row">
                                                    <div class="col-xs-8" id="meitu_biaoti">
                                                        <input id="bt-title" type="input" class="form-control validate[required]" name="title" placeholder="标题" value="{$info.info.title}" v-model="message">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group attribute-wrap">
                                                <label>位置</label>
                                                <div class="row">
                                                    <div class="col-xs-12 location-wrap">
                                                        <volist name="info.attribute.location" id="vo">
                                                            <in name="vo.id" value="$info.info.location">
                                                                <button class="btn btn-info btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            <else />
                                                                <button class="btn btn-default btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            </in>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group attribute-wrap">
                                                <label>风格</label>
                                                <div class="row">
                                                    <div class="col-xs-12 fengge-wrap">
                                                        <volist name="info.attribute.fengge" id="vo">
                                                            <in name="vo.id" value="$info.info.fengge">
                                                                <button class="btn btn-info btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            <else />
                                                                <button class="btn btn-default btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            </in>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group attribute-wrap">
                                                <label>户型</label>
                                                <div class="row">
                                                    <div class="col-xs-12 huxing-wrap">
                                                        <volist name="info.attribute.huxing" id="vo">
                                                            <in name="vo.id" value="$info.info.huxing">
                                                                <button class="btn btn-info btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            <else />
                                                                <button class="btn btn-default btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            </in>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group attribute-wrap">
                                                <label>色彩</label>
                                                <div class="row">
                                                    <div class="col-xs-12 color-wrap">
                                                        <volist name="info.attribute.color" id="vo">
                                                            <in name="vo.id" value="$info.info.color">
                                                                <button class="btn btn-info btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            <else />
                                                                <button class="btn btn-default btn-sm" type="button" data-id="{$vo.id}">{$vo.name}</button>
                                                            </in>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>标签</label>
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <select name="tags" class="tags form-control" id="tags" multiple="">
                                                        <notempty name="info.info.tagname">
                                                            <volist name="info.info.tagname" id="vo">
                                                                <option value="{$vo}" selected>{$vo}</option>
                                                            </volist>
                                                        </notempty>
                                                        </select>
                                                        <input name="tagnames" id="tagnames" type="hidden">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>关键字</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                    <input id="biaoti2" type="input" class="form-control" name="keyword" placeholder="关键字" value="{$info.info.keyword}" v-model="message">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>描述</label>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <textarea id="biaoti3" class="form-control validate[required]" name="description">{$info.info.description}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>类型</label>
                                                <select name="type" d="{$info.info.type}" class="form-control" id="type" >
                                                    <neq name="info.info.type" value="2">
                                                        <option value="1" selected>标准美图</option>
                                                        <option value="2">大师美图</option>
                                                    <else />
                                                        <option value="1">标准美图</option>
                                                        <option value="2" selected>大师美图</option>
                                                    </neq>
                                                </select>
                                            </div>

                                            <div class="form-group master-wrap hidden">
                                                <label>选择大师</label>
                                                <select name="master" class="form-control" id="master" >
                                                    <volist name="info.master" id="vo">
                                                        <eq name="vo.uid" value="$info.info.master">
                                                            <option value="{$vo.uid}" selected="selected">{$vo.name}({$vo.comname})</option>
                                                        <else />
                                                            <option value="{$vo.uid}">{$vo.name}({$vo.comname})</option>
                                                        </eq>
                                                    </volist>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>是否推荐</label>
                                                <select name="istop" class="form-control" id="istop" >
                                                    <eq name="info.info.istop" value="0">
                                                        <option value="0" selected>否</option>
                                                        <option value="1">是</option>
                                                    <else />
                                                        <option value="0">否</option>
                                                        <option value="1" selected>是</option>
                                                    </eq>
                                                </select>
                                            </div>
                                            <if condition="empty($info['info']['id'])">
                                                <div class="time-wrap form-group show">
                                                    <label>预发布日期(可不填写，若填写则在填写的日期当天优先发布)</label>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <input type="input" id="time" class="form-datetime form-control" name="time" placeholder="预发布时间" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            <elseif condition="2 EQ $info['info']['state']" />
                                                <div class="time-wrap form-group show">
                                                    <label>预发布日期(可不填写，若填写则在填写的日期当天优先发布)</label>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <gt name="info.info.time" value="0">
                                                                <input type="input" id="time" class="form-datetime form-control" name="time" placeholder="预发布时间" value="{$info.info.time|date='Y-m-d',###}">
                                                            <else />
                                                                <input type="input" id="time" class="form-datetime form-control" name="time" placeholder="预发布时间" value="">
                                                            </gt>
                                                        </div>
                                                    </div>
                                                </div>
                                            </if>
                                            <div class="form-group">
                                                <label>美图列表</label>
                                                <div class="row" id="images-wrap">
                                                    <div class="col-xs-12">
                                                        <input id="images" type="file" multiple/>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success btn-save" data-operate="true" data-directpost="0">
                                                <i class="fa fa-save"></i>&nbsp;保存
                                            </button>
                                            <if condition="true EQ check_menu_auth('/meitu/directpost/')">
                                                <if condition="empty($info['info']['id'])">
                                                    <button type="button" class="btn btn-info btn-save" data-operate="true" data-directpost="1">
                                                        <i class="fa fa-save"></i>&nbsp;直接发布
                                                    </button>
                                                <elseif condition="2 EQ $info['info']['state']" />
                                                    <button type="button" class="btn btn-info btn-save" data-operate="true" data-directpost="1">
                                                        <i class="fa fa-save"></i>&nbsp;直接发布
                                                    </button>
                                                </if>
                                            </if>
                                            <button type="button" class="btn btn-default" onclick="history.back(-1)">
                                                <i class="fa fa-mail-reply"></i>&nbsp;返回
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/jstree/jstree.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/validation/js/jquery.validationEngine_zh_CN.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/validation/js/jquery.validationEngine.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/common/js/plugins/ueditor/ueditor.config.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/common/js/plugins/ueditor/ueditor.all.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/common/js/plugins/ueditor/lang/zh-cn/zh-cn.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/plugins/select2/js/select2.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/fileinput/fileinputLink.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/fileinput/fileinput_locale_zh.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/plugins/select2/js/zh-CN.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/plugins/datetimepicker/bootstrap-datetimepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $("#meitu_biaoti").on("click","li",function(){
                $("#bt-title").val($(this).text());
                $(".tishi_box").remove();
            });

            $(document).click(function(event){
                $(".tishi_box").remove();
            });

            $('#bt-title').on('keyup paste',function(){
                var that=$(this);
                var nextNode=$(this).next(".tishi_box").length;
                if(nextNode==0){
                    $(this).after("<div class='tishi_box'><ul></ul></div>");
                }
                if($(this).val()==""){
                    $(".tishi_box").remove();
                }

                var text = $(this).val();
                var type = $(this).parent().parent().find('.type').val();
                var nextUl = $(this).next().children('ul');
                if(that.val().length>0){
                    $.ajax({
                        url: "/meitu/getJiajumeituapi/",
                        dataType: 'json',
                        type: 'GET',
                        delay: 1000,
                        data: {key: that.val()},//查询参数*/
                        success:function (data) {
                            $(nextUl).html('')
                            var parsed = data.data;
                            var arr = [];
                            for(var x in parsed){
                                var text="<li>"+parsed[x].text+"</li>";
                                $(".tishi_box ul").append(text)
                            }
                        },
                        cache: true
                    })
                }
            });


            $('.form-group button').click(function(event) {
                if($(this).hasClass('btn-info')){
                    $(this).removeClass('btn-info').addClass('btn-default');
                }else{
                    $(this).removeClass('btn-default').addClass('btn-info');
                }
            });

            //初始化时间选择插件
            $(".form-datetime").datetimepicker({
                format:"yyyy-mm-dd",
                startView: 2,
                minView: 2,
                todayBtn:true,
                autoclose:true
            });

            // 自定义参数调用
            $('#form').validationEngine('attach', {
                promptPosition: 'centerRight',
                autoHidePrompt: true,
                autoHideDelay: '2000',
                scroll: true
            });

            if('{$info.info.type}' == 2){
                $(".master-wrap").removeClass('hidden').addClass('show');
            }

            //美图类型
            $("select[name=type]").change(function(event) {
                if($(this).val() == 2){
                    $(".master-wrap").removeClass('hidden').addClass('show');
                }else{
                    $(".master-wrap").removeClass('show').addClass('hidden');
                }
            });

            $(".tags").select2({
                language: "zh-CN",
                tags: false,
                multiple: true, //是否使用多个标签
                ajax: {
                    url: "/tags/gettagsapi/",
                    dataType: 'json',
                    type: 'GET',
                    delay: 1000,
                    data: function (params) {
                      return {
                        key: params.term, //查询参数
                      };
                    },
                    processResults: function (data, page) {
                        var parsed = data.data;
                        var arr = [];
                        for(var x in parsed){
                            arr.push(parsed[x]); //这个应该是个json对象
                        }
                        return {
                            results: arr
                        };
                    },
                    cache: true
                  },
                escapeMarkup: function (markup) { return markup; },
                /*最小需要输入多少个字符才进行查询，与之相关的小需要输入多少个字符才进行查询，与之相关的maximumSelectionLength表示最大输入限制*/
                minimumInputLength: 1
            });
            console.log({$info.info.previewconfig|default="''"})
            $("#images").fileinput({
                language: 'zh', //设置语言,
                uploadUrl:"/upload/uploadimg/",
                browseClass:"btn btn-primary",
                allowedFileExtensions : ['jpg','png','gif'],
                uploadClass:"btn btn-info",
                removeClass:"btn btn-danger",
                uploadAsync: true,
                dropZoneEnabled:true,
                overwriteInitial: false,
                uploadExtraData: {
                    prefix:'meitu',
                    chars:'true'
                },
                maxFileSize:1000000000,
                previewSettings:{
                    image: {width: "174px", height: "178px"}
                },
                initialPreview: {$info.info.preview|default="''"},
                initialPreviewAsData: true,
                initialPreviewFileType: 'image',
                initialPreviewConfig: {$info.info.previewconfig|default="''"}
            }).on('fileuploaded', function(event, data, id, index) {
                if(1 == data.response.status){
                    $('#images-wrap').find('#'+id).attr('data-url', data.response.data.name);
                }else{
                    var d = dialog({
                        title: '消息',
                        content: data.response.info,
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {
                        }
                    });
                    d.show();
                    return false;
                }
            }).on("fileuploaderror",function(event, data){
                var e = dialog({
                    title: '消息',
                    content: '文件上传失败,请检查文件格式，规格是否符合要求，或联系技术部门！',
                    okValue: '确 定',
                    quickClose: true,
                    ok: function () {}
                });
                e.show();
                return false;
            }).on("fileclear",function(){
                $("#images").data("data","");
                $(".img-upload .fileinput-upload-button").removeClass('disabled');
            });

            $('.btn-save').click(function(){
                if(!$('#form').validationEngine('validate')){
                    return false;
                }
                var url = '';
                if ('1' == $(this).attr('data-directpost')) {
                    url = '/meitu/directpost/';
                } else {
                    url = '/meitu/operate/';
                }
                var _this = $(this);
                var data = new Object();
                data.id="{$info.info.id}";
                data.title = $('input[name=title]').val();
                //获取位置属性
                var location = '';
                $('.location-wrap').find('.btn-info').each(function() {
                    location = location + $(this).attr('data-id') + ',';
                });
                if (location == '') {
                    var e = dialog({
                        title: '消息',
                        content: '请选择位置属性~',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                };
                data.location = location;
                //获取风格属性
                var fengge = '';
                $('.fengge-wrap').find('.btn-info').each(function() {
                    fengge = fengge + $(this).attr('data-id') + ',';
                });
                if (fengge == '') {
                    var e = dialog({
                        title: '消息',
                        content: '请选择风格属性~',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                };
                data.fengge = fengge;
                //获取户型属性
                var huxing = '';
                $('.huxing-wrap').find('.btn-info').each(function() {
                    huxing = huxing + $(this).attr('data-id') + ',';
                });
                if (huxing == '') {
                    var e = dialog({
                        title: '消息',
                        content: '请选择户型属性~',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                };
                data.huxing = huxing;
                //获取颜色属性
                var color = '';
                $('.color-wrap').find('.btn-info').each(function() {
                    color = color + $(this).attr('data-id') + ',';
                });
                if (color == '') {
                    var e = dialog({
                        title: '消息',
                        content: '请选择颜色属性~',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                };
                data.color = color;
                //获取标签属性
                var tags = $("#tags").select2("data");
                var tagnames = '';
                $.each(tags,function(n,value) {
                    tagnames = tagnames + value.text + ',';
                });
                if (tagnames == '') {
                    var e = dialog({
                        title: '消息',
                        content: '请选择标签~',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                };
                data.tagnames = tagnames;

                data.keyword = $('input[name=keyword]').val();
                data.description = $('textarea[name=description]').val();
                data.type = $('select[name=type]').val();
                data.master = $('select[name=master]').val();
                data.istop = $('select[name=istop]').val();
                data.time = $('input[name=time]').val();

                //获取上传的图片。此处只对新上传的进行处理
                var images = [];
                $("#images-wrap").find(".file-preview-success").each(function(){
                    images.push($(this).attr('data-url'));
                });
                data.images= images;
                var img_desc = [],
                    img_id=[];
                $(".file-preview-frame").each(function (k,y) {
                    var img_desc_html = $(this).find('.textarea').html(); //富文本框
                    var img_upid = $(this).attr('id');//新上传的 上传id
                    var old_img_upid = $(this).find('img').attr('data-id'); //老上传的 图片地址

                    //1.判断是否是 新上传的
                    if(!$(this).find('img').attr('data-id')){
                        img_id[k] = $(this).attr('id');
                        img_desc.push({text:img_desc_html,upId:img_upid})
                    }else {
                        img_id[k] = old_img_upid;
                        img_desc.push({text:img_desc_html,upId:old_img_upid})
                    }
                });
                data.img_id = img_id;
                data.img_desc = img_desc;
                //如果是新上传美图，判断是否有id，没有id判断images是否为空
                if(data.id == "" && data.images.length == 0){
                    var e = dialog({
                        title: '消息',
                        content: '请上传美图图片~',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                }

                var operate = _this.attr('data-operate');
                if (operate == 'false') {
                    var e = dialog({
                        title: '消息',
                        content: '您的操作太过频繁，请稍后再试！',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                    return false;
                } else {
                    _this.attr('data-operate','false');
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'JSON',
                    data: data
                })
                .done(function(data) {
                    if(data.status == '1'){
                        window.location.href = '/meitu/?p={$p}';
                    }else{
                        _this.attr('data-operate','true');
                        var e = dialog({
                            title: '消息',
                            content: data.info,
                            okValue: '确 定',
                            quickClose: true,
                            ok: function () {}
                        });
                        $("#bt-title").focus();
                        e.show();

                    }
                })
                .fail(function(xhr) {
                    _this.attr('data-operate','true');
                    var e = dialog({
                        title: '消息',
                        content: '操作失败,请联系技术部门！',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                })
            })
       //输入框值联动
        $('#bt-title').bind('input propertychange',
    function() {
    var datetime=new Date();
    var year=datetime.getFullYear();
    var x = $('#bt-title').val();
    $('#biaoti2').val(x);
    $('#biaoti3').val("齐装网装修效果图频道，提供" + year + "年" + x + "，定期更新上百套" + x + "，为您带来精彩的装修设计灵感。");
    if (x == "") {
        $('#biaoti3').val("");
    } else {
        return;
    }
})
        })
    </script>
</block>