<extend name="Main:baseTemplate" />
<block name="title">
    <title>齐装网美图榜管理后台 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/validation/css/validationEngine.jquery.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/home/css/meitu3d.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
    <section class="content-header">
        <h1>3D效果图管理</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>控制面板</a></li>
            <li><a href="/meitu/">美图管理</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div><h5>条件查询</h5></div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-8 no-padding">
                                    <span class="span-name">风格：</span>
                                    <select class="sel" name="fengge">
                                        <option value="0">请选择</option>
                                        <volist name="vars.category" id="vi">
                                            <eq name="vi.type" value="1">
                                                <eq name="vi.id" value="$Think.get.fengge">
                                                    <option selected value="{$vi.id}">{$vi.name}</option>
                                                <else />
                                                    <option value="{$vi.id}">{$vi.name}</option>
                                                </eq>
                                            </eq>
                                        </volist>
                                    </select>
                                    <span class="span-name">户型：</span>
                                    <select class="sel" name="huxing">
                                        <option value="0">请选择</option>
                                        <volist name="vars.category" id="vi">
                                            <eq name="vi.type" value="2">
                                                <eq name="vi.id" value="$Think.get.huxing">
                                                    <option selected value="{$vi.id}">{$vi.name}</option>
                                                <else />
                                                    <option value="{$vi.id}">{$vi.name}</option>
                                                </eq>
                                            </eq>
                                        </volist>
                                    </select>
                                    <input class="sel" name="condition" type="text" placeholder="输入标题/ID" value="{$Think.get.condition}">
                                    <span class="span-name">选择发布人：</span>
                                    <select class="select2 sel" name="adminuser_id">
                                        <option value="0">请选择</option>
                                        <volist name="vars.adminuser" id="vi">
                                            <eq name="vi.id" value="$Think.get.adminuser_id">
                                                <option selected value="{$vi.id}">{$vi.name}</option>
                                            <else />
                                                <option value="{$vi.id}">{$vi.name}</option>
                                            </eq>
                                        </volist>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <div class="btn btn-info pull-left btn-search">
                                        <i class="fa fa-search"></i> 搜索
                                    </div>
                                </div>
                                <a href="/meitu/threedimensionaloperate/">
                                    <div class="btn btn-info pull-right">+ 新增</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h5>数据列表</h5>
                    </div>
                    <div class="box-body">
                        <form id="form">
                            <table class="table table-hover text-center" id="tablelist">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th class="text-align-left">标题</th>
                                        <th>ID</th>
                                        <th class="text-align-left">标签</th>
                                        <th>发布人</th>
                                        <th>创建时间</th>
                                        <th>发布时间</th>
                                        <th>修改人</th>
                                        <th>修改时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="vars.info" id="vi">
                                        <tr>
                                            <td>{$key+1}</td>
                                            <td class="text-align-left">
                                                <eq name="vi.status" value="1">
                                                    <a target="_blank" href="http://meitu.{:C('QZ_YUMING')}/3d-conten{$vi.id}.html">
                                                        {$vi.title}
                                                    </a>
                                                <else />
                                                    {$vi.title}
                                                </eq>
                                            </td>
                                            <td>{$vi.id}</td>
                                            <td class="text-align-left">{$vi.tagsname}</td>
                                            <td>{$vi.adminuser}</td>
                                            <td>{$vi.create_time}</td>
                                            <td>
                                                <eq name="vi.status" value="3">
                                                    -
                                                <else />
                                                    {$vi.publish_time}
                                                </eq>
                                            </td>
                                            <td>{$vi.last_username|default="-"}</td>
                                            <td><empty name="vi.update_time">-<else />{$vi.update_time}</empty></td>
                                            <td>
                                                <switch name="vi.status">
                                                    <case value="1"><span>已发布</span></case>
                                                    <case value="2"><span class="text-yellow">不可见</span></case>
                                                    <case value="3"><span class="text-aqua">预发布</span></case>
                                                </switch>
                                            </td>
                                            <td>
                                                <a href="/meitu/threedimensionaloperate/?id={$vi.id}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a class="btn-delete" href="javascript:void(0)" data-id="{$vi.id}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-xs-12 text-center">
                        {$vars.page}
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/js/plugins/cxselect/jquery.cxselect.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // 多选select2
            $(".select2").select2();
            $('.btn-delete').click(function(event) {
                var id = $(this).attr('data-id');
                if (confirm('确定删除该条内容吗？')) {
                    $.ajax({
                        url: '/meitu/threedimensionaldelete/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            id:id
                        }
                    })
                    .done(function(data) {
                        var e = dialog({
                            title: '消息',
                            content: data.info,
                            okValue: '确 定',
                            quickClose: true,
                            ok: function () {
                                window.location.href = window.location.href;
                            }
                        });
                        e.show();
                    })
                    .fail(function(xhr) {
                        var e = dialog({
                            title: '消息',
                            content: '操作失败,请联系技术部门！',
                            okValue: '确 定',
                            quickClose: true,
                            ok: function () {}
                        });
                        e.show();
                    })
                };
            });
            $('.btn-search').click(function(event) {
                var fengge = $('select[name=fengge]').val();
                var huxing = $('select[name=huxing]').val();
                var condition = $('input[name=condition]').val();
                var adminuser_id = $('select[name=adminuser_id]').val();
                window.location.href = '/meitu/threedimensionallist/?fengge=' + fengge + '&huxing=' + huxing + '&condition=' + condition + '&adminuser_id=' + adminuser_id;
            });
        });
    </script>
</block>