.ht-comp-phot { padding: 20px 5px;}
.ht-comp-phot {max-height: 490px;}
.queuelist{width: 760px;height: 450px;}
.webuploader-pick {padding: 8.5px 15px; }
.filelist .file-item {width: 120px; height: 120px;}
.filelist .file-item .imgWrap {width: 120px; height: 120px;}
.filelist .file-item .file-content {width: 120px;height: 120px;}
.filelist .file-item .file-panel {width: auto;}
.ht-yes{padding-left: 7px;margin-top: 20px;}