.m-wrap{ overflow:visible;}
article{ background:#fff}
.m-header-city{ left:35%}
.focus{ position:relative; margin-bottom:10px}
.focus .hd{ z-index:1;position:absolute; bottom:10px; font-size:0; left:50%; box-sizing:border-box;}
.focus .hd li{ border-radius:50px; width:10px; height:10px; background:#ccc;}
.focus .bd{position:relative; z-index:0}
.focus .bd li img{ width:100%;  height:auto;}
.focus .hd ul { width:auto;margin-left:-50%; overflow:hidden}
.focus .hd li{ float:left; margin-right:5px}
.focus .hd ul .on{ background-color:#f75454;}


.xgt-list{ background:#fff; padding:4vw;}
.xgt-list-tit{ text-align:center; height:1px; border-bottom:1px solid #ddd; margin:20px 0 30px 0}
.xgt-list-tit section{ background:#fff; display:block; margin:0 auto; position: relative; width:40%; top:-20px; height:40px; line-height:40px; font-size:1.2em}
.xgt-list-tit section i{ position:absolute; width:3vw; height:3vw; }
.xgt-list-tit section i:first-of-type{ background:#ff5659; left:5px; bottom:5px}
.xgt-list-tit section i:first-of-type:before{ content:"";position:absolute; width:2vw; height:2vw; background:#ff8e90; right:-1vw; top:-5px}
.xgt-list-tit section i:last-of-type:after{ content:"";position:absolute; width:2vw; height:2vw; background:#ff5659; right:-1vw; top:-5px}
.xgt-list-tit section i:last-of-type{ background:#ff8e90; right:2vw; top:10px}


[class*="xgt-list-row"] a{ display:block; overflow:hidden; position:relative}
[class*="xgt-list-row"] a span{ position:absolute; background:rgba(0,0,0,.5); display:block; left:0; bottom:0; color:#fff; font-size:.8em; line-height:1.5em; padding:0 .2em}
[class*="xgt-list-row"] a img{width:100%; height:100%}
.xgt-list-row1 a.xgt-list-big{ width:63%; width:60vw;height:150px; height:40vw; float:left; margin:0 1.5% 0 3%; margin:0 0 4vw 0;}
.xgt-list-row1 a.xgt-list-small{width:30%; width:28vw;height:70px; height:18vw; float:right; margin:0 1.5% 3% 1.5%;margin:0 0 4vw 0}
.xgt-list-row2 a.xgt-list-small{width:30%; width:28vw;height:70px; height:18vw; float:left; margin:0 1.5%; margin:0 0 0 4vw}
.xgt-list-row2 a.xgt-list-small:first-of-type{ margin-left:3%;margin-left:0vw}

@media (min-width:640px) {
.xgt-list{ background:#fff; padding:25px;}
[class*="xgt-list-row"] { overflow:hidden}
[class*="xgt-list-row"] a{ display:block; overflow:hidden; position:relative}
[class*="xgt-list-row"] a span{ position:absolute; background:rgba(0,0,0,.5); display:block; left:0; bottom:0; color:#fff; font-size:.8em; line-height:1.5em; padding:0 .2em}
[class*="xgt-list-row"] a img{width:100%; height:100%}
.xgt-list-row1 a.xgt-list-big{ width:384px; height:256px; float:left; margin-bottom:25px}
.xgt-list-row1 a.xgt-list-small{ width:180px; height:115px; float:right; margin-bottom:25px}
.xgt-list-row2 a.xgt-list-small{ width:180px; height:115px; float:left; margin-left:25px}
.xgt-list-row2 a.xgt-list-small:first-of-type{ margin-left:0}

    }
.xgt-gz-list,.xgt-list-tag,[class*="xgt-list-row"] { overflow:hidden}
.xgt-gz-list li{ width:20%; margin:0 2.5%; float:left; text-align:center; font-size:.8em; line-height:3em; margin-bottom:10px}
.xgt-gz-list li img{  width:100%; height:auto; display:block}
.xgt-list-tag li{ margin-right:10px; margin-bottom:10px; float: left; font-size:0.8em; line-height:2.4em}
.xgt-list-tag li a{ border:1px solid #ddd; color:#ff5659; display:block; padding:0 1em}

#xgt-info{ position: absolute; top:-50px; bottom:0; left:0; right:0; z-index:-1}
#xgt-info .bd{ width:100%; overflow:hidden}
#xgt-info .bd>*{ display:inline-block;vertical-align:middle}
#xgt-info .bd ul{width:100%; height:100vh}
#xgt-info .bd li{ width:100%;  height:700px;height:100vh; vertical-align:middle !important; background:#f7f7f7}
#xgt-info .bd li img{ width:100%; height:auto;vertical-align:middle}
#xgt-info .pageState{ position:absolute; bottom:60px; height:40px;width:100%; width:100vw; z-index:888; background:rgba(255,255,255,.7); line-height:40px; text-align:right; padding:0 10px; box-sizing:border-box}
#xgt-info .pageState p{ text-align:left;float:left; font-size:0.8em; width:80%; white-space:nowrap; overflow:hidden; text-overflow: ellipsis}
#xgt-info .btn{ position:absolute; bottom:0; height:50px; background:#fff;z-index:888;width:100%; width:100vw }
#xgt-info .btn a{ display:block; height:40px; line-height:40px; margin-top:5px; float:left; text-align:center; background:#ff5659; border-radius:3px; width:47%; color:#fff}
#xgt-info .btn a img{ display:inline-block; width:1em; height:1em; vertical-align:-2px; margin-right:.5em}
#xgt-info .btn a:first-of-type{ margin-left:2%; margin-right:1%}
#xgt-info .btn a:last-of-type{ margin-left:1%; margin-right:2%}

/*红包*/
.red_box{
    width: 66px;height: 76px;
    background: url(../img/red_box.png) no-repeat center;
    position:fixed;
    right: 4px;
    bottom: 130px;
    background-size: 100%;
    display: none;
}
.red_box.show{display: block;}
.red_box i.close_red_box{
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.red_box_pop{
    width: 100%;height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0;left: 0;
    z-index: 99;
    transition: all .5s ease;
    display: none;
}
.start_box {
    width: 300px;
    height: 359px;
    background: url(../img/red_box_bg.png) no-repeat center;
    background-size: 100%;
    margin: auto;
    position: absolute;
    left: 0;top:-10px;right: 0;bottom: 0;
    overflow: hidden;
    display: none;
}
.end_box{
    width: 300px;
    height: 362px;
    background: url(../img/red_box_ok.png) no-repeat center;
    background-size: 100%;
    margin: auto;
    position: absolute;
    left: 0;top:-10px;right: 0;bottom: 0;
    overflow: hidden;
    display: none;
}
.red_box_pop.show,.start_box.show,.end_box.show{display: block;}
.start_box .close_start {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
}
.start_text {
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 46px;
    left: 63px;
    width: 180px;
    color: #fff;
    letter-spacing: 2px;
}
.home-zb {
    width: 80%;
    height: 211px;
    position: absolute;
    margin: auto;
    left: 0;top: 31%;
    right: 0;bottom: 0;
}
.get_free {
    width: 60%;
    height: 40px;
    background: #ffaa3b;
    margin: 0 20%;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.m-bj-edit li {
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
    background: #fdfadb;
    overflow: hidden;
}
.m-bj-edit li .m-bj-edit-list{
    height: 24px;
  margin-top: 9px;
  line-height: 24px;
  display: block;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
}
.c-zb-city {
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    text-align: left;
    background: #fdfadb;
    border-radius: 3px;
    font-size: 14px;
    color: #a9a9a9;
}
.fa-map-marker{
    margin-right: 4px;
}
.end_box_info{
    width: 96%;
    height: 342px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.red_logo {
    width: 20%;
    height: 22%;
    margin: 0 auto;
    margin-top: 7%;
}
.red_logo img{width: 100%;height: auto;}
.ok_text{
    text-align: center;
    font-size: 22px;
    color: #d85940;
    margin-top: 2%;
}
.ok_info {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    color: #d85940;
    margin-top: 10%;
}
.close_ok{
    width: 50%;
    height: 36px;
    background: #ffaa3b;
    margin: 0 auto;
    margin-top: 30%;
    display: block;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.end_box .close_start {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 8px;
    top: 0px;
    z-index: 888;
}

.animated{animation-duration:.75s}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  10% {
    -webkit-transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
    transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
  }

  15% {
    -webkit-transform: translate3d(-23%, 0, 0) rotate3d(0, 0, 1, -23deg);
    transform: translate3d(-23%, 0, 0) rotate3d(0, 0, 1, -40deg);
  }

  20% {
    -webkit-transform: translate3d(22%, 0, 0) rotate3d(0, 0, 1, 22deg);
    transform: translate3d(22%, 0, 0) rotate3d(0, 0, 1, 22deg);
  }

  25% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
  }

  30% {
    -webkit-transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
    transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
  }

  35% {
    -webkit-transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
    transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
  }

  40% {
    -webkit-transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 15deg);
    transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 15deg);
  }

  45% {
    -webkit-transform: translate3d(-11%, 0, 0) rotate3d(0, 0, 1, -11deg);
    transform: translate3d(-11%, 0, 0) rotate3d(0, 0, 1, -11deg);
  }
  50% {
    -webkit-transform: translate3d(11%, 0, 0) rotate3d(0, 0, 1, 11deg);
    transform: translate3d(11%, 0, 0) rotate3d(0, 0, 1, 11deg);
  }

  55% {
    -webkit-transform: translate3d(-8%, 0, 0) rotate3d(0, 0, 1, -8deg);
    transform: translate3d(-8%, 0, 0) rotate3d(0, 0, 1, -8deg);
  }

  60% {
    -webkit-transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 6deg);
    transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 6deg);
  }

  65% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  70% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  75% {
    -webkit-transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  80% {
    -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }

  85% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }


  20% {
    -webkit-transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
    transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
  }

  35% {
    -webkit-transform: translate3d(-24%, 0, 0) rotate3d(0, 0, 1, -24deg);
    transform: translate3d(-24%, 0, 0) rotate3d(0, 0, 1, -24deg);
  }

  40% {
    -webkit-transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
    transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
  }

  55% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
  }

  70% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 10deg);
  }

  85% {
    -webkit-transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
    transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
  }

  100% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

#gotop{display: none;}
#gotop.show{display: block;}
header{position: relative;}