<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>齐装云管家-登录</title>
    <link rel="stylesheet" href="/assets/pc/css/Private/login.css?v={:config('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/pc/css/Public/P_public.css?v={:config('STATIC_VERSION')}">
</head>
<body>
   <div class="loginbj">
   	   <div class="contentmid">
   	   	<div class="midneirong">
   	   	   <div class="hangitem">
   	   	   	  <span class="phototx">
   	   	   	  	 <img src="/assets/pc/img/Private/logindl.png" alt="头像">
   	   	   	  </span>
   	   	   </div>
   	   	   <div class="hangitem loginms-jianjv">
   	   	   	  <span class="loginms">齐装云管家</span>
   	   	   </div>
   	   	   <div class="hangitem">
   	   	   	  <div class="divinput">
   	   	   	  	<span class="loginbj"></span>
   	   	   	  	<input class="zhanghaonum" type="text" placeholder="请输入登录账号">
   	   	   	  </div>
   	   	   	  <div class="tishi zhanghao-tishi"></div>
   	   	   </div>
   	   	   <div class="hangitem">
   	   	   	  <div class="divinput">
   	   	   	  	<span class="loginbj2"></span>
   	   	   	  	<input class="passmima" type="password" placeholder="请输入登录密码">
   	   	   	  </div>
   	   	   	  <div class="tishi pass-tishi"></div>
   	   	   </div>
   	   	   <div class="hangitem">
   	   	   	  <div class="divinput">
   	   	   	  	<input class="loginniu" type="button" value="登录">
   	   	   	  </div>
   	   	   </div>
   	   	   <div class="hangitem">
   	   	   	  <div class="divinput forget-pass">
   	   	   	  	 <a id="wagnjipass" href="/login/reset">忘记密码</a>
   	   	   	  </div>
   	   	   </div>
   	   	 </div>
   	   </div>
   </div>
   <script type="text/javascript" src="/assets/pc/js/Common/jquery1.11.3.min.js?v={:config('STATIC_VERSION')}"></script>
   <script type="text/javascript" src="/assets/pc/js/Common/B_basic.js?v={:config('STATIC_VERSION')}"></script>
   <script type="text/javascript" src="/assets/pc/js/Private/login.js?v={:config('STATIC_VERSION')}"></script>

</body>
</html>