.block{
    display: block;
}
.img-responsive{
    max-width: 100%;
}
.r{
    float: right;
}

.m-wrap{
    background: url("../img/background.jpg") repeat-y;
    color: #333;
}
.wxguide-container{
    padding: 0.15rem;
}
.wxguide-block{
    margin-bottom: 0.2rem;
}

.follow .caption{
    margin:0 auto 0.15rem;
}
.follow .step-one{
    margin-bottom: 0.15rem;
}
.follow .step-one, .follow .step-two{
    background-color: white;
    border-radius: 0.12rem;
    padding:0.2rem 0.125rem;
}
.follow .captipon-table{
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0.1rem;
}
.follow .captipon-table>div{
    display: table-cell;
    vertical-align: middle;
    font-size: 0.13rem;
    color: #333;
}
.follow .captipon-table>div span{
    padding-left: 0.5em;
}
.follow .captipon-table>div:first-child{
    width: 20%;
}
.follow .captipon-table>div:last-child{
    width: 80%;
}
.wxguide-video{
    height: 1.5rem;
    position: relative;
}
.wxguide-video .play{
    width: 0.44rem;
    height: 0.44rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.or-operator{
    margin: 0.15rem 0;
    font-size: 0.15rem;
    color: #482019;
    font-weight: bold;
    text-align: center;
}
.wxguide-qrcode-table{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.wxguide-qrcode-table>div{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.follow-rights{
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.follow-rights>div{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.1rem;
}

.video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
    display: none;
}
.video video{
    z-index: 99;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.video .close{
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    z-index: 999;
    font-size: 0.2rem;
}