* { padding: 0; margin: 0; border: 0; list-style: none; font-style: normal }
::-moz-selection {
background: #ff8589;
color:#fff;
text-shadow: none;
}
::selection { background: #ff8589; color: #fff; text-shadow: none; }
body { font-family: Verdana, Geneva, sans-serif, "Microsoft YaHei"; font-size: 12px; color: #3c3c3c }
.wrap { width: 1210px; margin: 0 auto }
.oflow { overflow: hidden }
.mt20 { margin-top: 20px }
.mt50 { margin-top: 50px }
a { color: #333; text-decoration: none }
a:hover { color: #dc4146; text-decoration: underline }
.comptop { height: 35px; border-bottom: 1px solid #eee; background: #f1f1f1 ; min-width:1210px; line-height:35px;font-family: "Microsoft YaHei";}
.login{ float:right;}
.login li{ float:left; width:auto; padding:0 5px}
.login li a{ color:#888}
.topnav{ float:left}
.topnav li{ float:left; margin-right:20px}
.topnav li a:hover{ text-decoration:none}
.topnav li.active a{ color:#ea3d3d}
.complogo { height: 100px; padding-top: 20px; min-width:1210px; position:relative; width:1210px\9; margin:0 auto\9}
.lbg { background: url(/assets/common/img/logobg.jpg) no-repeat; color: #FFF }
.lbg1 { background: url(/assets/common/img/logobg1.jpg) no-repeat; color: #FFF }
.lbg2 { background: url(/assets/common/img/logobg2.jpg) no-repeat; color: #FFF }
.lbg3 { background: url(/assets/common/img/logobg3.jpg) no-repeat; color: #FFF }
.lbg4 { background: url(/assets/common/img/logobg4.jpg) no-repeat; color: #FFF }
.lbg5 { background: url(/assets/common/img/logobg5.jpg) no-repeat; color: #FFF }
.lbg6 { background: url(/assets/common/img/logobg6.jpg) no-repeat; color: #FFF}
.lbg7 { background: url(/assets/common/img/logobg7.jpg) no-repeat; color: #fff}
.lbg8 { background: url(/assets/common/img/logobg8.jpg) no-repeat; color: #285361}
.lbg9 { background: url(/assets/common/img/logobg9.jpg) no-repeat; color: #FFF }
.complogo h1 { font-family: "Microsoft YaHei"; font-size: 24px; margin-left: 150px; text-shadow: rgba(0,0,0,.3)0 0 2px }
.complogo h2 { font-family: "Microsoft YaHei"; font-size: 18px; margin-left: 150px; margin-top: 10px; text-shadow: rgba(0,0,0,.3)0 0 2px }
.complogo .comphead { position: absolute; width: 126px;border: 1px solid #fff; box-shadow: rgba(0,0,0,.4) 0px 0px 5px; padding: 5px; background: rgba(255,255,255,.4); text-align:center;vertical-align:middle;display:table-cell; background:#fff\9; left:10px\9; border: 1px solid #eee\9;}
.complogo .comphead img { width: 100%; height:65px;vertical-align:middle }
.compnav { height: 35px; background: #ea3d3d; min-width:1210px }
.compnav > ul { width: 1080px; margin: 0 auto; padding-left: 130px }
.compnav > ul > li { float: left; position: relative }
.compnav ul li>a { display: block; line-height: 35px; color: #FFF; font-size: 14px; font-family: "Microsoft YaHei"; padding: 0 30px ;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}


/*ie6*/
.compnav ul li a {_display: block;_line-height: 35px;_color: #FFF;_font-size: 14px;_padding:0 30px ;}
.compnav ul li a:hover, .compnav ul li.active a {_text-decoration: none;_background: #3c3c3c;_color:#fff }

.compnav ul li>a:hover, .compnav ul li.active>a { text-decoration: none; background: #3c3c3c }
.compnav ul li.allserve { width: 190px; text-align: center; background: #FFF; margin-right: 20px; cursor: pointer; float: left; height: 45px; margin-top: -10px; }
.compnav ul li.allserve:after { content: ""; position: absolute; right: -8px; top: 0; width: 0; height: 0; border-top: 10px solid transparent; border-left: 8px solid #c12525; border-bottom: 0px solid transparent; }
.compnav ul li.allserve:before { content: ""; position: absolute; right: -8px; top: 10px; width: 0; height: 0; border-top:0px solid transparent; border-left:8px solid #d62c2c; border-bottom: 36px solid transparent; }
/*.compnav ul li.allserve .btn { position: absolute; bottom: 0; width: 190px; height: 45px; display: block; right: 0 }
.compnav ul li.allserve div { position: absolute; display: none; top: 45px; text-align: left; z-index: 99999; margin-left:-1px; left:0\9}
.compnav ul li.allserve:hover div { display: block }
.compnav ul li>dl { position: absolute; display: none; text-align: center; width: 100%; background: #de4348; line-height: 45px; font-size: 14px; z-index: 99999; top: 45px; left: 0 }
.compnav ul li>dl a { color: #fff }
.compnav ul li:hover>dl { display: block; z-index: 9999 }
.compnav ul li:hover>dl dd:hover { background: #f55259 }*/
/*.fstep { width: 168px; float: left; height: 378px; border: 1px solid #ea3d3d; padding: 5px 10px; background: url(/assets/common/pic/5stepbg.jpg) bottom no-repeat #FFF; border-top:0 }
.fstep dt { height: 60px; line-height: 30px; border-bottom: 1px dotted #eee; color: #888; padding: 8px 0 }
.fstep dt i { background: url(/assets/common/pic/step.gif) no-repeat left; display: block; font-size: 14px; font-family: "Microsoft YaHei"; color: #3c3c3c; padding-left: 20px }
.fstep dd a { display: block; height: 30px; background: #de4348; color: #FFF; line-height: 30px\0; *line-height: 30px; text-align: center; margin-top: 20px; font-size: 14px; border-radius: 5px; }
.fstep dd a:hover { text-decoration: none; background: #d20 }*/


.qzvedio { width: 400px; height: 300px; float: left }
.compinfo { float: left; margin-left: 20px; width: 480px; }

.compinfo .tab1{height: 180px; }
.compinfo .tab1 .tab-nav { height: 29px; overflow: hidden; font-size: 14px; border-bottom:1px solid #f1f1f1 }
.compinfo .tab1 .tab-nav a { display: block; float: left; width: 80px; height: 27px; line-height: 27px; text-align: center; text-decoration: none; color: #888; font-weight:bold;  }
.compinfo .tab1 .tab-nav a.current { color: #ea3d3d ;border-bottom:2px solid #ea3d3d}
.compinfo .tab1 .tab-con { position: relative; height: 140px; overflow: hidden; padding-top: 10px;text-indent:30px; font-size:14px}
.compinfo .tab1 .tab-con-item { display: none; line-height: 25px; }

.comptel{  height:130px; padding:11px; line-height:20px; background:#f7f7f7}
.comptel .tab-nav { margin-bottom:10px; line-height:30px;}
.comptel .tab-nav a{ margin-right:5px; font-weight:bold; background:#ffa2a9; display:inline-block; padding:0 10px; color:#fff;  border-bottom:1px solid #ff747e;  border-right:1px solid #ff747e; border-radius:2px }
.comptel .tab-nav a:hover{ text-decoration:none}
.comptel .tab-nav a.current{  border-bottom:1px solid #ff2938;  border-right:1px solid #ff2938;background:#ea3d3d}
.comptel .tab-con-item{display: none;}
.compname{ float: right; width:290px; overflow:hidden}
.compname dl{ padding: 0px 10px 12px; border:1px solid #f1f1f1;}
.compname dt{font-size: 16px; padding: 5px 0; font-family: "Microsoft YaHei"; height:30px; line-height:30px; border-bottom:1px dotted #f1f1f1; margin-bottom:10px}
.compname dd{ background:url(/assets/common/pic/liststyle2.gif) no-repeat 5px 5px; height:20px; line-height:20px; padding-left:20px; overflow:hidden; }
.compname ul{ display:block; overflow:hidden; line-height:25px; margin-bottom:11px; margin-top: 10px; padding-left: 20px;}
.compname li { display:block; overflow:hidden;}
.compname li span{ float:left; display:block}
.compname li i{float:left; width:80px; height:16px; margin:5px 5px 0 5px; background: url(/assets/common/pic/star-off.png) 0 center repeat-x; position: relative;}
.compname li i i{position: absolute; top:0;left:0; width: 80px; height: 16px; background: url(/assets/common/pic/star-on.png) 0 center repeat-x; margin:0; }
.compname li i img{ float:left; margin-right:5px}
.compname li em{ background:#f1f1f1; color:#ff7a7a; padding:2px 5px; margin-left: 10px; border-radius:5px; margin-top:5px}
.compname .renz{ background:#f7f7f7;  height:40px; padding-left:10px}
.compname .renz p.ico{ line-height:20px; padding:10px 0; height:20px}
.compname .renz p.ico span{margin-right:5px}
.compname .renz p.ico i{ border-radius:3px; color:#fff; display:inline-block; padding:0 3px 0 4px; text-shadow:1px 0 0 rgba(0,0,0,.15); margin-right:5px}
.compname .renz p.ico i.ico1{ background:#ffc600;border-right:1px solid #F90;border-bottom:1px solid #F90}
.compname .renz p.ico i.ico2{ background:#ff6600;border-right:1px solid #e00;border-bottom:1px solid #e00}
.compname .renz p.ico i.ico3{ background:#00a8ff;border-right:1px solid #006397;border-bottom:1px solid #006397}
.compname .renz p.ico i.ico4{ background:#1ab628;border-right:1px solid #076f11;border-bottom:1px solid #076f11}
.compname .renz p.ico i.ico5{ background:#00bbcc;border-right:1px solid #00828e;border-bottom:1px solid #00828e}


.tele_r{ float:left; width:527px; border:2px solid #f1f1f1; height:229px; }
.tele_r .teltitle{ background:#f1f1f1; line-height:30px; height:30px;}
.tele_r .teltitle h1{ font-size:18px; font-weight:100 ; padding-left:40px; background: url(/assets/common/pic/tele_05.jpg) no-repeat;font-family:"Microsoft YaHei"; float:left }
.tele_r .teltitle ul{ float:right}.tele_r .teltitle ul li{ float:left; padding:0 10px}
.tele_r .yztitle{ width:507px; margin:0 10px; border-bottom:1px dotted #eee;font-weight:bold; height:30px ; margin-bottom:10px}.tele_r .yzlist{ width:507px; margin:0 10px;}.tele_r .yztitle li,.tele_r .yzlist li{ float:left; width:16.6%; text-align:center;line-height:30px; }

.yhq{ background:url(/assets/sub/company/img/zanwu1.png) no-repeat center; width:350px; height:233px; float:left; margin-left:20px; text-align:center}
.yhq-none{background:url(/assets/sub/company/img/zanwu.png) no-repeat center;}
.yhq h1{ color:#fff;font-family: "Microsoft YaHei"; margin-top:20px}
.yhq .yhqmain{ width:230px; margin:0 auto; height:60px; margin-top:10px; background:#fff; border:1px dashed #cbb00b; padding:5px 10px; line-height:20px; text-align:left; color:#a89104}
.yhq p{ color:#fff; line-height:20px}
.yhq a{ background:#FFF; display:block; width:110px; margin:0 auto; line-height:30px; margin-top:5px; color:#ea3d3d;font-family: "Microsoft YaHei"; font-size:14px}
.yhq a:hover{ color:#de4348; text-decoration:none}
.lxfs{float: right; width:290px; line-height:20px}
.lxfs h1{font-size: 16px; font-family: "Microsoft YaHei"; height:30px; line-height:30px; border-bottom:1px dotted #f1f1f1; margin-bottom:5px; font-weight:100; background:#f1f1f1; padding-left:10px}
.lxfs p {overflow:hidden;}
.lxfs p i{ display:block; font-weight:bold; margin-bottom:5px; margin-top:5px}
.lxfs p img{ float:left; margin-right:10px}
.lxfs .shenq { text-align:center; line-height:20px; padding:10px; color:#888; border-top:1px dashed #e1e1e1; margin-top:17px; background:#f1f1f1}
.lxfs .shenq p a{ height:30px; background:#ea3d3d; color:#fff; line-height:30px; display:block; width:120px; margin:0 auto;}
.lxfs .shenq p a:hover{ text-decoration:none}
.lxfs>p{ padding-left:10px}
.comptit{ overflow: hidden; margin-top:30px; border-bottom:2px solid #f1f1f1; padding-bottom:10px}
.comptit h1{ float:left;font-family: "Microsoft YaHei"; font-size:24px; font-weight:100; line-height:40px}
.comptit a{ float:right; margin-top:20px; color:#888}
.design{ width:1080px; margin:0 auto; margin-top:30px}
.design p{ line-height:25px; color:#888}
.design li { float:left; text-align:center; width:120px; margin:20px 30px}
.design li .designhead{ width:120px; height:120px; border-radius:80px; overflow:hidden; position:relative; background:#000; text-align:center}
.design li .designhead a.btn{ position:absolute; width:120px; height:120px; line-height:120px; border:2px solid #fff; top:-2px; left:-2px; border-radius:80px; color:#fff; font-size:12px;text-align:center;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */
opacity:0;
display:none\9;
background:#3c3c3c\9
}
.design li .designhead:hover img{opacity:0.5;}
.design li .designhead:hover a.anli{ position:absolute; top:30px;  width:80px; color:#fff; left:20px}
.design li .designhead:hover a.btn{ width:80px; height:25px; line-height:25px; top:59px; left:14px;
border:1px solid #fff;
display:block\9;
opacity:0.95;
border-radius:0;
background:rgba(255,87,87,.7);
transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */
padding:0 5px;

}
.design li .designhead .mengb{ position:absolute; width:120px; height:120px; background:url(/assets/sub/company/img/mengb.png)\9 ; top:0; left:0}
.design li .designhead:hover a:hover,.zxal .tab-nav a:hover,.zxal .tab-con .tab-con-item ul li .btn a:hover{ text-decoration:none}
.design li .designhead img{ width:auto; height:100%; display:block; margin:0 auto}


.zxal .tab-nav { background:#f7f7f7; border-bottom:2px solid #f1f1f1}
.zxal .tab-nav a{ text-align:center; height:50px; line-height:50px; width:200px; display:inline-block; font-size:16px;font-family: "Microsoft YaHei"; }
.zxal .tab-nav a.current{border-bottom:#ea3d3d 2px solid; margin-bottom:-2px; color:#ea3d3d; background:#f1f1f1}
.zxal .tab-con{ overflow:hidden}
.zxal .tab-con .tab-con-item{ display:none; margin-top:20px; width:1230px}
.zxal .tab-con .tab-con-item ul{ padding-bottom: 10px; height:450px; width:}
.zxal .tab-con .tab-con-item ul li{ width:222px; float:left; margin-right:22px; border:1px solid #f7f7f7; box-shadow:3px 3px 0 #eee; background:#f7f7f7; position:relative; margin-bottom:20px; height:210px}
.zxal .tab-con .tab-con-item ul li .altu{ width:222px; height:150px; overflow:hidden;text-align:center;vertical-align:middle;display:table-cell; background: url(/assets/sub/company/img/imgbg.png) center no-repeat #eee; color:#888;}
.zxal .tab-con .tab-con-item ul li .altu img{ width:auto; height:auto; max-height:100%; max-width:202px; }
.zxal .tab-con .tab-con-item ul li .anlinfo{line-height:25px; padding:5px 10px}
.zxal .tab-con .tab-con-item ul li .anlinfo span{ color:#ccc}
.zxal .tab-con .tab-con-item ul li .anlinfo span i{ color:#888; margin:0 5px}
.zxal .tab-con .tab-con-item ul li .anlinfo h1{ display:block; font-weight:normal; font-size:12px; margin-left:5px;height: 20px; overflow: hidden;}
.zxal .tab-con .tab-con-item ul li:hover img{ opacity:0.8}
.zxal .tab-con .tab-con-item ul li .btn{ position:absolute; width:80px; right:70px; top:10px; text-align:center; height:20px; line-height:20px;background:#f7444f; border-radius:2px; border:1px solid #9d1318;color:#fff; display:none; }
.zxal .tab-con .tab-con-item ul li:hover .btn{ display:block}
.zxal .tab-con .tab-con-item ul li .btn a{ color:#fff; font-weight:100}
.plbox { padding-top:20px; padding-right:20px}
.plbox li{ padding:20px 0; border-bottom:1px dashed #f1f1f1; overflow:hidden}
.plbox .userinfo{ width:150px; height:100%; line-height:20px; float:left}
.plbox .userinfo span{ display:block;width:50px; height:50px; margin:0 auto}
.plbox .userinfo span img{ width:100%; height:100%}
.plbox .userinfo i{ color:#888; display:block; text-align:center}
.plbox .plinfo{ width:1040px; float:right; line-height:20px}
.plbox .plinfo .lp{ padding:10px; background:#fff7f7; color:#888; margin-bottom:10px}
.plbox .plinfo>span{ color:#aaa; margin-top:10px; display:block}
.plbox .plinfo .yzpf { margin-bottom:10px}.plbox .plinfo .yzpf i {text-align:center;vertical-align:middle;display:table-cell; float:left; padding-top:5px; margin-right:5px}
.plbox .plinfo .yzpf em{background:#f1f1f1; color:#ff7a7a; padding:3px 5px; border-radius:5px; display:inline-block}
.plbox .plinfo .yzpf span{ line-height:25px; margin-right:10px}
.plbox .plinfo .yzpf i img,.plbox .plinfo .yzpf span{ float:left}
.plbox .plinfo .compreply{ background:#f7f7f7; padding:10px; margin-top:5px; color:#888}
.userinput { padding-top:30px}
.userinput .textinput { float:right; width:630px; height:172px; margin-right:80px}
.userinput .textinput .send{text-align:left;line-height:30px; height:30px; margin-top:10px}
.userinput .textinput .send input{text-align: center; border:1px solid #ccc; width:70px; height:28px}
.userinput .textinput .send a{ display:inline-block; padding:0 20px; background:#de4348; color:#FFF; margin-left:5px}
.userinput .textinput .t1{ resize:none; border:1px solid #ccc; width:630px; line-height:20px; height:80px;padding-left: 3px;}
.userinput .userhead{ width:60px; height:60px; float:left ; margin-left:20px}.userinput .userhead img{ width:100%; height:100%;}
.userinput .usersend{ line-height:20px; float:right; width:830px; background:#f7f7f7; padding:10px}
.userinput .usersend .name,.plmain .usersend .timer{ color:#888}
.plold{ overflow:hidden; margin-top:20px}
.plnew{ margin-top:30px; border-top:1px solid #f1f1f1; padding-top:20px}
.userinput .allsend{ text-align:center; line-height:30px; margin-top:20px; border:1px dashed #f1f1f1}
.userinput  h1{ font-size:14px; line-height:35px; color:#888; padding-left:150px}
.yzpfs{width: 80px; height: 16px;background: url(/assets/common/pic/star-off.png) 0 center repeat-x; position: relative; margin:1px 5px 0 5px; }
.yzpfs i{position: absolute; top:0;left:0; width: 80px; height: 16px; background: url(/assets/common/pic/star-on.png) 0 center repeat-x;}

/********联系我们*********/
.cpinfo{ width:300px; height:300px; float:left; text-align:center}
.cpmain img{ width:300px;  max-width:100%; max-height:100%; padding:10px; float: left;}
.cpmain { float:right; width:100%; line-height:20px; font-size:14px;font-family: "Microsoft YaHei"; }
.cpmain p{text-indent: 2em; line-height: 25px;}
.cpmain ul{ font-size:12px; margin-top:20px; margin-left: 2em;}
.abouttit{ line-height:30px; font-size:16px; border-bottom:1px solid #f1f1f1; margin-bottom:10px; font-weight:bold;font-family: "Microsoft YaHei"; }
.compfc{text-align:center; font-weight:bold;padding:0 5px;}
.compfc p{width:800px; margin-top:20px}
.compfc p em{font-weight: normal; color: #999; }
.compfc ul li{float: left;width:180px; height: 180px; padding:10px;  }
.compfc ul li img{width: 100%; height: 100%; border: 1px solid #f1f1f1; cursor: pointer;}

.compmap{ float:right; width:500px; height:300px; overflow:hidden}
.compdz{ line-height:25px; float:left; width:690px}
.compdz span{ background:#f1f1f1; display:block; padding:0 5%; float:left; width:75%}
.compdz li{ margin-bottom:10px; overflow:hidden}
.compdz li strong{ width:15%; display:block;float:left}

.userinput .send a.verify{margin:0 5px;background-color: #FFF; padding:0;}
.userinput .send .info{float:right; color:#c3c3c3;}
.userinput .send .info i{float: none; color:#666;font-size:14px; font-weight:bold; margin:0 3px;}

.uplold{padding:15px; border-color:#faebcc;  text-align:center;color:#666; background:#fcf8e3;}
.uplold > i{display:inline-block; *display:inline}
.uplold > i >i,.uplold > i >em{float: left;}
.uplold > i >i{background:url(/assets/common/img/global.png) no-repeat; width:21px;height:18px;background-position:-8px -123px; display:block;}

.plnew_star{float:left; width:250px; height:130px;padding-left:150px;}
.plnew_star ul li em{float:left; font-size:14px; padding:3px 5px;}
.plnew_star ul li .star{float:left; margin-left:5px;}

/**********设计师列表**********/
.compleft{ float:left; width:290px}
.compright{padding:10px 0; float:right; width:900px;font-family: "Microsoft YaHei"}
.designlist li{ padding-bottom:20px; overflow:hidden; border-bottom:1px dotted #f1f1f1; margin-bottom:20px}
.designlist .compdesign{ float:left; width:400px;line-height:20px }
.designlist .compdesign a:hover{ text-decoration:none}
.designlist .compdesign span{ width:80px; display:block; position:relative; height:106px; float:left;line-height:25px}
.designlist .compdesign span img{ text-align: center; width:auto; max-height:80px; max-width: 80px; }
.designlist .compdesign span .compdesign_yy{ display:block; position: absolute; bottom:0; left:0; width:80px; background:#ea3d3d; text-align:center; color:#FFF}.designlist .compdesign span a:hover{ background: #FF5559}.designlist .compdesign h1,.designlist .compdesign p{ float:right; width:300px }
.designlist .compdesign p{ max-height:40px; overflow:hidden; color:#888}
.designlist .compdesign h1{ font-size:14px}
.designlist .compdesign p i{ height:26px; line-height:26px; background:#F90; color:#FFF; display:inline; padding:0 5px}
.designphoto { float:right; width:480px}
.designphoto dd,.designphoto dt{ float: left; margin-right:10px; line-height:106px; color:#888; background:#f7f7f7; height:106px;display:table-cell;  width:150px; text-align:center;vertical-align:middle;}.designphoto dd a{ color:#aaa}
.designphoto dd:hover{ background:#f1f1f1}
.designphoto img{ width:auto; height:auto; max-height:106px;max-width:150px;vertical-align:middle}

/*翻页*/

.page{ padding:20px; line-height:25px; font-family:"Microsoft YaHei"; width:550px; max-width:1210px; margin:0 auto}
.page a,.page strong {display: inline-block;
border: 1px solid #fff;
color: #505050;
padding: 0px 8px;
vertical-align: middle;
margin-left: 3px;}
.page a:hover, .page a.current, .page strong {
color: white!important;
text-decoration: none;
background:#3c3c3c;
border: 1px solid #3c3c3c;
}.page input{ height:15px; border:1px solid #eee}.page em{ margin:0 5px}


/*面包屑*/
.bread{font-family: "Microsoft YaHei";  line-height:30px; height:30px; margin:20px 0}
.bread a{ display:inline-block; margin-right:10px}


/*************资讯列表***************/
.compzxtit {font-family: "Microsoft YaHei"; }
.compzxtit dt{border-top:1px solid #f1f1f1; height:40px; line-height:40px; font-size:18px; background:#f7f7f7; border-bottom:1px solid #f1f1f1; padding:0 10px; margin-bottom:10px}.compzxtit dd{ height:30px; line-height:30px;  font-size:14px;margin:0 10px; margin-bottom:10px}.compzxtit dd a{ padding:0 10px;display:block;}
.compzxtit dd a:hover{ background:#f7f7f7;  text-decoration:none}
.zxlist { line-height:20px;}
.zxlist li{ padding-bottom:20px; border-bottom:1px dotted #f1f1f1; margin-bottom:20px}
.zxlist span{ color:#aaa}
.zxlist p{ max-height:40px; color:#888; overflow:hidden}
.zxlist h1{ font-size:18px; line-height:30px}
/*************资讯内容***************/

.compwzmain{ padding:20px; border:1px solid #f1f1f1}
.compwzmain h1{ text-align:center; font-weight:normal; font-size:24px; margin-bottom:20px; line-height:30px}
.compwzmain span{ float:left ;  margin-left:20px}
.compwzmain  .fenx{ height:30px; line-height:30px; border-bottom:1px dashed #eee; margin-bottom:20px}.compwzmain  .fenx .fx{ float:right; width:200px}
.compwzmain .fenx .laiy{ float:left; color:#888}
.compwzmain  .wzcontent{  font-size:12px}
.compwzmain  .wzcontent p{display:inline-block; font-size: 14px; width: 100%; vertical-align: top; text-align: left; text-indent: 2em;}
.compwzmain  .wzcontent span{float: none; text-align: left; margin: 0;}

/**********案例列表***********/
.companli { width:920px}
.companli li{ float:left; width:210px; margin-right:20px; background:#f1f1f1; line-height:25px; margin-bottom:30px}
.companli li:hover{ background:#eee}
.companli li .tu{ width:210px; height:150px}.companli li .tu img{ width:100%; height:100%}
.companli li span,.companli li p{ padding:0 10px;display: block;height: 30px;
overflow: hidden;}
.companli li span a{height:20px; overflow: hidden;display: block;}
.companli li p{ color:#888}
.compzxtit em{padding:2px;font-size:12px; color:#666;margin:0 3px;}

.textinput .lp{margin-bottom: 5px; padding:5px 0;}
.textinput .lp span{font-size:14px;}
.textinput .lp input[type=text]{border: 1px solid #CCC; height: 24px; padding-left:5px; width: 150px;}

/***添加的属性***/

.comptel p strong,.comptel p a{ float:left; line-height:25px; margin-right:5px}

.lxfs p input{ line-height:25px; height:25px; border:1px solid #ccc; width:268px; margin-bottom:10px}

/***********业主评价***********/
.nofloat{ float:none}
.compscore{ line-height:40px;font-family: "Microsoft YaHei"; margin-bottom:20px; border-top:1px solid #f1f1f1; padding-top:10px}
.compscore p span{ color:#ea3d3d; font-size:24px}
.compscore p i{ width:80px; display:inline-block}
.shenq { text-align:center; line-height:20px; padding:10px; color:#888; border-top:1px dashed #e1e1e1; margin-top:17px; background:#f1f1f1}
.compleft .shenq p a{ height:30px; background:#ea3d3d; color:#fff; line-height:30px; display:block; width:120px; margin:0 auto;}
.compleft .shenq p a:hover{ text-decoration:none}
.compright .userinfo{ width:100px}
.compright .plinfo{ width:750px}
.compright .plbox{ padding-top:0; border-top:1px solid #f1f1f1}
.zxlist li h1 em{color: #AAA; font-size: 14px;}
.compzxtit dd a.active{color:#EA3D3D;}

/*******设计师博客*********/
.toprightbg{ background:url(/assets/sub/company/img/designerbg.png); width:80px; height:80px; top:-1px; right:-1px; position:absolute; z-index:99}
.designbolg{ padding:30px;overflow:hidden}
.designbolg .userhead{ float:left; clear:both;}
.designbolg .userhead img{ padding:10px; width:150px; border:1px solid #f7f7f7;box-shadow: 3px 3px 0 #eee; display:block
}
.designbolg .userhead a{ width:80px; margin:0 auto; text-align:center; line-height:30px; height:30px; margin-top:20px; background:#ea3d3d; display:block; color:#FFF; font-weight:bold}
.designbolg .designinfo{ float:left; width:480px; margin-left:30px; line-height:25px; font-size:14px;}
.designtit{ font-size:16px; margin-top:50px; margin-bottom:20px; text-align:center; border-bottom:3px double #f1f1f1; overflow:hidden; padding-bottom:5px}
.designborder{ position:relative; border:1px solid #f1f1f1 ; border-bottom:0}
.designtit a{ display:block; float:left; padding:0 10px; height:30px; line-height:30px; border-top:2px solid #fff}
.designtit a.current{ border-top:3px solid #ea3d3d}.designtit a:hover{ text-decoration:none}
.designerzp .tab-con-item{ display:none}
.designrq { color:#aaa; background:#f7f7f7; border-top:1px dashed #eee; margin-bottom:20px; margin-top:15px}
.designrq li i{ line-height:50px; font-size:24px; padding:0 10px; color:#ea3d3d}

.no-item{height: 300px; width: 100%; font-size: 20px; font-weight: bold;text-align: center; padding:20px 0; color: #e6e6e6;}

.tele_l {
    border: 1px solid #E9E4D9;
    width: 252px;
    padding: 25px 18px;
    height: 199px;
    position: relative;
    background-color: #FCF6EA;
    position: relative;
}
.tele_free{
    background: url(/assets/common/img/free.png) 0 top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width:88px;
    height: 83px;
}
.tele_l h1 {
    text-align: center;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    font-weight: 100;
    margin-bottom: 15px;
    background-color: inherit;
    border-bottom: 0;
    height: auto;
    color: #000;
    padding:0;
    margin-left:15px;
}
.tele_l .int {
    height: 40px;
    line-height: 40px;
    color: #666;
    white-space: pre-line\9;
    text-align: center;
}
.tele_l .int input {
    border: 2px solid #FF6A02;
    height: 35px;
    float: left;
    width: 136px;
    color: #888;
    padding-left: 10px;
    line-height: 35px\0;
    *line-height: 35px;
    border-radius: 5px 0 0 5px;
    margin-left: 10px;
}
.tele_l .int a {
    width: 83px;
    line-height: 37px;
    border: 1px solid #FF6A02;
    background: #FF6A02;
    color: #fff;
    font-size: 20px;
    font-family:inherit;
    display: block;
    float: left;
    text-align: center;
    border-radius:0 5px 5px 0 ;
    font-weight: bold;
    letter-spacing: 5px;
}
.tele_l .int a:hover {
    background-color: #FF6A02;
    text-decoration: none
}
.tele_l .int i {
    color: #f4455a
}

.tele_l .bottips{ position:absolute; bottom:1px; width:290px; left:1px; height:57px;}
.tele_l .bottips li{border-top: 1px solid #F0E8D5;  border-left: 1px solid #F0E8D5; margin-right:1px; float:left; width:95px; height:auto; padding-top:5px;  text-align:center; color:#888}
.tele_l .bottips .none{border-left: 0;}
.tele_l .bottips li img{ display:block; margin:0 auto;}
.tele_l .bottips li a{color: #666;}


.compzhaobiao {float: right; margin-bottom: 20px; margin-right: 30px; color: #666; width: 242px; height: 198px; overflow: hidden; border: 0;padding:0; overflow: hidden; position: relative;}
.compzhaobiao .tele_l_bg{position: relative; background: url(/assets/sub/index/img/fborder_company_index.png) no-repeat; width: 100%; height: 100%; position: absolute;}

.compzhaobiao .int{position: absolute; padding:4px 5px; width: 202px;  top:98px; left: 20px;overflow: hidden; height: 20px;}
.compzhaobiao .int input{float: left; color: #666; padding-left: 5px;  width: 144px; height:20px;line-height: 20px; border: 0; background: transparent; font-size: 14px; line-height: 20px\0;}
.compzhaobiao .int a{position: absolute; right: 5px;  top:0px; width: 48px; height: 32px; margin-left: 2px; background: none; border: 0;}
.compzhaobiao .int a:hover{background: none;}

.compzhaobiao .tele_l_info{position: absolute; top:152px; left:50px; text-align: center; line-height: 20px;}
.compzhaobiao .tele_l_info i{color: #EE7500; font-weight: bold;}
.compzhaobiao .bottips{position: absolute; left:0; bottom: 0; width: 100%; height: 30px;overflow: hidden;}
.compzhaobiao .bottips li{ float: left; display: block; width: 118px; height: 100%; text-align: center;}
.compzhaobiao .bottips li a{display: block; color: #999; height: 30px; line-height: 30px; font-size: 14px;}
.compzhaobiao .date{position: absolute; top: 144px; left: 60px; font-size: 15px; font-weight: bold; font-family: Microsoft YaHei; color: #000000;}

.compright .userinput h1,.compright .plnew_star{padding-left: 10px;}
.compright .plnew_star{width: 230px;}
.compright .userinput .userhead{margin-left: 0px;}
.compright .userinput .textinput{width: 490px;}
.compright .userinput .textinput .t1{width: 490px;}


.pricebox {font-size:16px;margin-left:60px;display:inline-block; *display: inline; height: 30px; line-height: 30px; width: 150px; background: #EA3D3D; color: #FFF; text-align: center; font-family: microsoft yahei;}
.pricebox:hover{color: #fff; text-decoration: none;}

.compwdlist li{ padding:20px; border:2px solid #fff; border-top:0; line-height:30px; border-bottom:2px dotted #eee; margin-top:2px; margin-bottom:-2px}
.compwdlist li:hover{ border:2px solid #eee; margin-top:0}
.compwdlist li h1{ font-size:16px; line-height:40px; height:40px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.compwdlist li em{ display:inline-block; margin-right:20px; color:#888}
.compwdlist li .companswer{ overflow:hidden}
.compwdlist li .companswer p{ white-space:nowrap;float:left; height:36px;line-height:36px; width:700px; overflow:hidden; text-overflow:ellipsis}
.compwdlist li .companswer span{ float: right; display:block; line-height:36px; margin-left:20px; height:36px; color:#aaa; width:50px}