.m-wrap{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	overflow:hidden;}
header{ height:50px; line-height:50px; background:#fff; box-shadow:0 3px 5px rgba(0,0,0,.2); position:relative; z-index:2}
header .m-header-left,header .m-header-right{ position:absolute;  top:0;width:50px; text-align:center; font-size:1.5em; color:#666}
header .m-header-tit{ text-align:center}
header .m-header-left{ display:block; height:50px; background:url(../img/logonew.png) no-repeat left; width:50%; background-size:auto 50px}
header .m-header-right{ right:0; height:50px}
header .m-header-city{ right:4em;position:absolute;  font-size:0.8em;  top:0;}
header .m-header-city i.fa:before{ font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden}
.m-img-box-a img{ width:100%; height:auto; display:block}
.m-b-btn{ height:50px; margin:10px; background:#ff5659; display:block; color:#fff; line-height:50px; text-align:center; font-size:1.2em;}
.m-b-btn-f{font-size:1.2em; width:100%; margin:10px 0; color:#fff; background:#fb8486; height:50px; display:block; text-align: center; line-height:50px
}
footer{ text-align:center; width:100%; background:#eee; padding:1em 0; font-size:0.6em; line-height:2em; padding-bottom:100px;}
footer .hot{ color:#FF5255}
footer .links{ font-size:1.8em}

/*报价表单*/
.m-font-red{ color:#ff5659}
.m-t1{ text-align:center; line-height:3em}
.m-bj-edit{ margin:0 10px}
.m-bj-edit li{ overflow:hidden; box-sizing: border-box; margin-bottom:10px; position: relative}
.m-bj-edit li span.dw{ position:absolute; right:5px; top:0; line-height:48px;}
.m-bj-edit li.noline{ border:0}
.m-bj-edit li .m-bj-edit-list{color: #666; appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari 和 Chrome */
border:0; border-radius:0; margin:0; display:block; height:48px; line-height:38px; box-sizing:border-box; padding:5px; background:#fff; border:1px solid #ddd;}

.m-bj-edit li .m-row{float: left; width: 49%; position: relative;}
.m-bj-edit li .m-row:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}

.m-bj-edit li .m-row-int1{position: relative; width:100%; font-size:1em}
.m-bj-edit li .m-row-int2{position: relative; width:100%; font-size:1em; box-sizing: border-box;}

.col-x-6{width:49% !important;}

.m-bj-edit li .m-row-int2:first-of-type{ float:left;  }
.m-bj-edit li .m-row-int2:last-of-type{ float:right;}

.m-bj-edit li .m-row-int3{ width:32%; display:inline-block; text-align:center}
.m-bj-edit li input[type=radio]{ margin-right:5px}
.m-bj-edit li input[type=radio]::-webkit-check {
    color: #ff5659;
    background: #a0b3d6;
    padding: .5em;
}
.m-bj-description{font-size: 0.9em; padding:1.2em 1em; color: #999; background: #FFF; font-family: Microsoft yahei;}
.m-bj-description i{color: #FF464E; width: 1.2em; height: 1.2em; line-height: 1.3em;  text-align: center; font-size: 1em; display: inline-block; border:1px solid #FF464E; border-radius: 30px;}

.m-bj-title{ font-size: 1.2em; text-align: center; display: block;margin: 1.2em 0;}
.m-bj-info{font-size: 1em; padding:0 1em; display: block; margin-bottom: 2em; color: #666;}
.m-bj-info em{color: #FF464E;}
.m-bj-edit li .m-bj-half {width: 100%; float: left;}
.m-bj-edit li .m-bj-right {float: right;}
.m-nav ul{position:absolute;width:200px;top:48px;right:0;height:auto;line-height:50px;display:none;z-index:9999;}
.m-nav ul li a{color:#fff;background:rgba(29,36,75,.95);display:block;margin-top:0px;border-top:1px #fff solid;}
.m-nav.active{background:#262C51;color:#fff;border-top-left-radius:30px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}

.m-bj-edit li .m-bj-edit-right {float: right;}


.c-zb-city{padding:5px; box-sizing: border-box;height:48px ; width:100%; text-align:left; border:1px solid #ddd; background:#fff; font-size:1em; color:#a9a9a9}
.c-zb-city i.fa{ color:#ccc}
.mui-btn{background:#D8D8D8; border:0}
.mui-btn-blue{ background:#00CFA5; color:#fff}
/*头部导航弹层*/
.full-nav{ position:fixed; left:0; right:0; background:rgba(255,255,255,.95); z-index:9999;opacity:0;  overflow:hidden;top:0; bottom:0; height:0 ;-webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in; }

.full-nav #full-nav-shut{ width:50px; height:50px; top:0; right:0; position:absolute;}

.full-nav #full-nav-shut:before,.full-nav #full-nav-shut:after{ content:""; width:36px; height:2px; background:#ff5659; position:absolute; top:25px; right:5px}
.full-nav #full-nav-shut:before{
	-webkit-transform: rotate(45deg);
          transform: rotate(45deg);}
.full-nav #full-nav-shut:after{
	-webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);}
.full-nav.shut-buff{ opacity:1;  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in; height:100%}
.full-nav ul{ padding:5em 2em}
.full-nav ul li{ width:29%; margin:0 2%; float:left; font-size:.8em; text-align:center}
.full-nav ul li a{ display:block}
.full-nav ul li img{ width:80%; height:auto; margin:0 auto; display:block}


.m-more{ text-align:center; font-size:0.8em; border-top:1px dashed #ddd; height:3em; line-height:3em; display:block; margin-top:.8em; color:#999}


.zb-link-bottom{ bottom:0; position:fixed; height:60px; width:100%; box-sizing:border-box;padding-left:25%; background:rgba(0,0,0,.7); color:#fff }
.zb-link-bottom .tit{ color:#f0d190; margin-top:8px}
.zb-link-bottom p{font-size:0.8em}
.zb-link-bottom img{ bottom:0; height:80px; width:auto; left:15px; position:absolute}
.zb-link-bottom a{ display:block; position:absolute; height:30px; color:#fff; border-radius:3px; padding:0 .5em; background:#ff5659; right:15px; line-height:30px; top:15px}

.call-tel{ border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:1em 0; margin-top:10px; background:#fff; text-align:center}
.call-tel a{ color:#ff5659}
.call-tel a i.fa{ width:1.2em; height:1.2em; display: inline-block; margin-right:.5em ; border-radius:50%; border:2px solid #ff5659; line-height:1.4em}
.select{ position:relative}
.select:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}
/*S-回到顶部*/
#gotop{ position:fixed; background:rgba(255,255,255,.8); color:#999; border:1px solid #ddd; border-radius:50%; width:50px; height:50px; text-align:center; bottom: 70px; right:10px; font-size:0.8em; line-height:18px; padding-top:3px; box-sizing:border-box}
/*E-回到顶部*/

.m-header-his{ position:absolute;  top:0;width:50px; text-align:center; font-size:1.5em; color:#666; left:0;height:50px}

/*S-在线客服挂件*/
#zxkf {
    position: fixed;
    width: 50px;
    bottom: 125px;
    right: 10px;
}
#zxkf img{
    width: 100%;
}
/*E-在线客服挂件*/

/*公共分页*/
.page{
    display: block;
    text-align: center;
    background-color: #fff;
    width: 90%;
    font-size: .6em;
    line-height: 2em;
    margin: 2em auto;
    border: 1px solid #ccc;
}
.page a{
    display: inline-block;
    width: 31.5%;
    height: 2em;
    color:#666666;
    font-size: 1.5em;
    line-height: 2em;
}
.page span{
    font-size: 1.5em;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: inline-block;
    width: 31.5%;
}
.ph{
    color:#FF6664 !important;
}

/**/
.col-xf-6{
    position: relative;
    width: 49%;
    font-size: 1em;
    box-sizing: border-box;
}