<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telphone=no, email=no" />
    <link rel="stylesheet" href="./import/css/init.css" />
    <link rel="stylesheet" href="./import/css/index.css?v=" + Date.now() />
    <link rel="stylesheet" href="./import/css/swiper.min.css" />
    <link rel="stylesheet" href="../../import/layui/css/layui.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_999391_560e0zodez7.css?v=" + Date.now() />
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>特麦会</title>
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <div class="head">
            <!-- 轮播 -->
            <div class="swiper-container banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="item in items">
                        <img :src="item" alt="">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>

            <!-- 更多优惠 -->
            <div class="more" @click="showQrcode = 1">
                <i class="spa icon-youhuiquan"></i> 更多优惠
            </div>
        </div>

        <!-- 产品信息 -->
        <div class="goods">
            <!-- 标题 -->
            <div class="goodsName">
                <i class="spa icon-huo"></i> {{detail.title}}
            </div>

            <!-- 超值优选 -->
            <div class="marker">
                <p>
                    超值优选<span>特惠拼团盛宴</span>
                </p>
                <p @click="urlchange">
                    <i class="spa icon-zhuyi"></i> 详细规则
                </p>
            </div>

            <!-- 价格 -->
            <div class="price">
                市场价：
                <del style="color: #ccc;">￥{{detail.price}}</del>
            </div>
            <div class="price price1" v-for="(item, index) in detail.pt_price"
                v-if="Array.isArray(detail.pt_price)==true">
                {{item.title}}：<p>￥<span>{{item.money}}</span></p>
            </div>
            <div class="price price1" v-if="Array.isArray(detail.pt_price)==false">
                特卖价：<p>￥<span>{{detail.pt_price}}</span></p>
            </div>
            <!--预付款判断-->
            <div v-if="detail.prepay >0" class="price">
                <p class="advancePrice">预付款：<span>￥<i>{{detail.prepay}}</i></span></p>
            </div>
            <!--end预付款-->

            <!-- 优惠券 -->
            <!--<div class="coupons">-->
            <!--领券：-->
            <!--<p v-if="detail.coupon_id != ''">-->
            <!--<span></span>{{detail.coupon.title}}<span></span>-->
            <!--</p>-->
            <!--<p v-if="detail.coupon_id == ''">暂无优惠券</p>-->
            <!--</div>-->

            <!-- 选择套餐 -->
            <div class="package" @click="showPackage = 1">
                <span>选择套餐</span>
                <i class="spa icon-you"></i>
            </div>
        </div>

        <!-- 产品详情 -->
        <div class="detail" v-html="detail.description"></div>

        <!-- 底部购买 -->
        <div class="btm">
            <div>
                <i class="spa icon-chakantiezigengduoshoucang"></i>
                <p>收藏</p>
            </div>
            <button @click="showDetail">立即购买</button>
        </div>

        <!-- 侧边 -->
        <!-- <div class="side">
    <i class="spa icon-bazi-mubiao" @click="go('fenxiao.html?id=' + detail.id)"></i>
    <i class="spa icon-fenxiang" @click="showShare=1"></i>
    <i class="spa icon-iconfonticon5" @click="go('../my.html')"></i>
    <i class="spa icon-iconfonticon5" @click="go('../praise.html')"></i>
</div> -->

        <!-- shi.add侧导航 -->
        <div class="rightBar">
            <div class="barItem" @click="go('fenxiao.html?id=' + detail.id)" v-show="detail.user_level=='fenxiao_v2'">
                <div class="itemImg">
                    <img src="../../img/fenxiao.png" alt="" class="fenxiao">
                </div>
            </div>
            <div class="barItem" @click="go('../my.html')">
                <div class="itemImg itemImg1">
                    <img src="../../img/my.png" alt="">
                </div>
            </div>
            <div class="barItem" @click="go('../praise.html')">
                <div class="itemImg itemImg2">
                    <img src="../../img/koubei.png" alt="">
                </div>
            </div>
        </div>

        <!-- 更多优惠二维码 -->
        <div class="showQrcode" v-if="showQrcode" @click="close($event.target.className)">
            <img :src="qr_code" alt="">
        </div>

        <!-- 详细规则 -->
        <div class="rule" v-if="showRule" @click="close($event.target.className)">
            <img src="./import/img/pin.png" class="ruleimg" />
        </div>

        <!-- 分享 -->
        <div class="share" v-if="showShare" @click="showShare=0">
            <img src="./import/img/toShare.png">
            <div class="text">
                <p>请点击右上角，将它发送给好友</p>
                <p>或朋友圈分享增进感情</p>
            </div>
        </div>
        <!-- 套餐列表 -->
        <div class="chosePackage" v-if="showPackage" @click="close($event.target.className)">
            <div class="packageList">
                <div class="goodsimg">
                    <img :src="detail.banner1" />
                    <span>{{detail.title}}</span>
                </div>
                <div class="goodsSize">
                    <p>规格:</p>
                    <p>{{detail.standard}}</p>
                </div>
                <div class="goodsprice">
                    <!-- <p>市场价：￥{{detail.price}}</p> -->
                    <div class="price price1">
                        {{data.title}}：<p>￥<span>{{data.money}}</span></p>
                    </div>

                </div>
                <div class="goodsnum">
                    <p>数量:</p>
                    <p>
                        <span @click="numMinus">-</span>
                        <span>{{num}}</span>
                        <span @click="num++">+</span>
                    </p>
                </div>
                <button @click="go('../pay/orderBuy.html?id=' + detail.id + '&num=' + num + '&type=thematic')">立即购买
                </button>
            </div>
        </div>
    </div>

    <script src="./import/js/vue.min.js"></script>
    <script src="./import/js/axios.min.js?v=" +new Date()></script>
    <script src="./import/js/swiper.min.js"></script>
    <script src="./import/js/init.js"></script>
    <script type="text/javascript" src="../../import/layui/layui.all.js"></script>
    <script src="../../js/common.js?v=" +new Date()></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript" charset="utf-8"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                showQrcode: 0,
                showRule: 0,
                showShare: 0,
                showPackage: 0,
                items: [],
                detail: [],
                num: 1,
                qr_code: '',
                data: {},
                userInfo: {},
            },
            methods: {
                close: function (e) {
                    if (e.match('showQrcode')) {
                        this.showQrcode = 0;
                    } else if (e.match('ruleimg')) {
                        this.showRule = 0;
                    } else if (e.match('chosePackage')) {
                        this.showPackage = 0;
                    }
                },
                chosePackageFoo: function () {
                    this.showPackage = 1;
                },
                numMinus: function () {
                    this.num <= 1 ? alert('购买数量不能小于1') : this.num--;
                },
                showDetail: function () {
                    var that = this;
                    that.showPackage = 1;
                    $.ajax({
                        type: "GET",
                        url: window.globalResURL + "/user/get_info",
                        success: function (data) {
                            that.userInfo = data.data;
                            for (i = 0; i < that.detail.pt_price.length; i++) {
                                if (that.detail.pt_price[i].level == that.userInfo.alias) {
                                    that.data = that.detail.pt_price[i];
                                }
                            }
                        }
                    });


                }
            },
            mounted: function () {
                var that = this;
                var id = getParam('id');
                token = getData('TOKEN');
                var url = window.globalResURL + '/thematic/detail?id=' + id + '&token=' + token;
                axios.get(url).then(function (res) {
                    that.detail = res.data.data.first;
                    console.log(    )
                    that.items = res.data.data.banner_list;
                    getShare(res.data.data.first);
                    that.qr_code = res.data.data.qr_code;
                    that.qr_code = res.data.data.qr_code;
                });
                var mySwiper = new Swiper('.swiper-container', {
                    loop: true,
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    pagination: {
                        el: '.swiper-pagination',
                    }
                })
            }
        })

        //获取url参数
        function getParam(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var search = decodeURIComponent(window.location.search);
            var r = search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }

        function urlchange() {
            window.location.href = "rule.html";
        }

        //分享页面
        function getShare(detail) {
            var id = getParam('id');
            var url = window.globalResURL + '/wechat/show_share';
            var back_url = encodeURIComponent(window.location.href.split('#')[0]);
            var param = {
                params: {
                    'url': back_url
                }
            };
            axios.get(url, param).then(function (res) {
                var _data = res.data.data;
                wx.config({
                    debug: false,
                    appId: _data.appId,
                    timestamp: _data.timestamp,
                    nonceStr: _data.nonceStr,
                    signature: _data.signature,
                    jsApiList: [
                        "onMenuShareTimeline", //分享给好友
                        "onMenuShareAppMessage", //分享到朋友圈
                        "onMenuShareQQ", //分享到QQ
                        "onMenuShareWeibo" //分享到微博
                    ]
                });
                window.share_config = {
                    "share": {
                        "imgUrl": detail.share_img ? detail.share_img : detail.banner1,
                        "desc": detail.share_desc ? detail.share_desc : detail.title,
                        "title": detail.share_title ? detail.share_title : detail.title, //分享卡片标题
                        "link": detail.share_link + '&pid=' + detail.pid,
                        "success": function () { //分享成功后的回调函数
                            //addShareLog(share_title,share_url,share_desc);
                        },
                        'cancel': function () {
                            // 用户取消分享后执行的回调函数
                        }
                    }
                };
                wx.ready(function () {
                    //分享给朋友
                    wx.onMenuShareTimeline(share_config.share);
                    //分享到朋友圈
                    wx.onMenuShareAppMessage(share_config.share);
                    //分享到QQ
                    wx.onMenuShareQQ(share_config.share);
                    //QQ空间
                    wx.onMenuShareQZone(share_config.share);
                })

            });
        }
    </script>

</body>

</html>