body,html{
    margin: 0 auto;
    padding: 0;
    width: 100%;
     
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
    list-style-type: none;
}
.el-container{
    height: 100%;
}
.el-header {
    background: linear-gradient(0deg,rgba(5,118,219,1),rgba(28,141,242,1));
    color: #333;
    line-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}
.el-aside{
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    background-color: #26313c;
    width: 250px;
    z-index: 35;
}
.el-main{
    position: absolute;
    left: 250px;
    right:0;
    top: 60px;
    bottom: 0;
    padding: 40px;

}
.el-main1{
    left:700px;
    right:20px;
}
.el-aside .el-menu{
    height: 100%;
    width: 100%;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.form-align{
    text-align: left;
}
.top{
    margin-top: 20px;
}
.el-menu-item{
    text-align: left;
}
.el-menu-item *{
    padding-left: 20px;
    text-align: left;
}
.el-scrollbar__wrap {
    overflow-x: hidden;
    overflow-y: scroll;
 }
 .blue-text{
     color:#0066CC;
     font-size: 24px;
     font-weight: bold;
 }
 .el-table td{
    padding:6px 0;
 }
 .btn-bg{
     background-color: #0066CC;
 }
.check-text{
    color:#0066CC;
    font-size: 12px;
    font-weight: bold;
}
.edit-text{
    color:#FF9700;
    font-size: 12px;
    font-weight: bold;
}
.el-input__inner{
    background-color: #F8F8F8;
    border:1px solid #D7D7D7;
    color:#999;
    height: 36px;
}
.btn-mid{
    width: 120px;
    height: 38px;
    background-color: #0066CC;
}
.el-textarea__inner{
    background-color: #F8F8F8;
    border:1px solid #D7D7D7;
    color:#999;
}
.el-form-item__label{
    color:#333;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #0066CC;
    color: #fff;
}
.org{
    color:#FF9700;
}
h2,h3,h4,h5{
    font-size: 22px;
    color:#0066CC;
}

ul li span:last-child{
    color:#999;
}
/* ul li {
    font-size: 16px;
} */
.el-dialog{
    border-radius: 10px;
}
.cancel-btn{
    width: 120px;
    height: 38px;
    border:1px solid #D7D7D7;
    color:#999;
    background-color: #fff;
}
.el-tabs__item{
    font-size: 20px;
    color:#999;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
}
.el-tabs__item.is-active{
    color:#0066CC;
    font-size: 20px;
    font-weight:bold;
}
.refue-text{
    font-size: 12px;
    color:#EE1E1E;
    font-weight: bold;
}
.h-32{
    height: 36px;
    line-height: 10px;
}
.el-form-item__content{
    margin-left:0;
}
.el-dialog__footer{
    text-align:center;
}
.w-80{
    width:80px;
    height:32px;
    line-height:8px;
}
.el-tabs__active-bar{
    background-color: #0066CC;
    height: 4px;
}
input:disabled{
    background:rgba(248,248,248,1);
    border:1px solid rgba(215,215,215,1);
    border-radius:4px;
}
.el-collapse{
    border:none;
}
.el-collapse-item__header{
    border-bottom: none;
}
.el-collapse-item__wrap {
    border-bottom: none;
}
.el-collapse-item__content{
    font-size: 14px;
    color:#333;
}
.el-collapse-item__header{
    height: 30px;
    line-height: 30px;
}
.el-collapse-item__arrow{
    line-height: 30px;
}