<div class="win_box apply_box">
    <div class="win_box_bg">
    </div>
    <div class="win_box_content">
        <div class="win_box_in">
            <div class="zb_box_title">
                <div class="zb_box_info">
                取消签单
                </div>
                <span class="win_box_close" title="关闭">
                </span>
            </div>
            <div class="zb_box_form">
                <div class="input" style="font-size: 14px;text-align: center;line-height: 0px;">订单编号:{$orderid}</div>
                <div class="input" style="font-size: 18px;text-align: center;line-height: 0px;">确定取消此签单?</div>
                <div class="input">
                    <button type="button" class="cancel">取消</button>
                    <button id="btnSave" type="button">确定</button>
                    <input name="id" type="hidden" value="{$orderid}" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(".win_box_close").click(function(event) {
            $(".apply_box").remove();
        });
        $(".cancel").click(function(event) {
           $(".apply_box").remove();
        });

        $("#btnSave").click(function(event) {
            var _this = $(this);


            $.ajax({
                url: '/unqiandanorder',
                type: 'POST',
                dataType: 'JSON',
                data: {
                   id:$("input[name=id]").val()
                }
            })
            .done(function(data) {
                if(data.status == 1){
                    window.location.href = window.location.href;
                }else{
                    $.pt({
                        target: _this,
                        content:data.info,
                        width: 'auto'
                    });
                }
            })
            .fail(function(xhr) {
                $.pt({
                    target: _this,
                    content:"发生了未知不到的错误,请稍后再试！",
                    width: 'auto'
                });
            });
        });
</script>