.designlist li{ padding-bottom:20px; overflow:hidden; border-bottom:1px dotted #f1f1f1; margin-bottom:20px}
.designlist .compdesign{ float:left; width:400px;line-height:20px }
.designlist .compdesign a:hover{ text-decoration:none}
.designlist .compdesign span{ width:80px; display:block; position:relative; height:106px; float:left;line-height:25px;text-align: center;}
.designlist .compdesign span img{ width:auto; max-height:80px; max-width: 80px; margin:0 auto;}
.designlist .compdesign span a{ display:block; position: absolute; bottom:0; left:0; width:80px; background:#ea3d3d; text-align:center; color:#FFF}.designlist .compdesign span a:hover{ background: #FF5559}.designlist .compdesign h1,.designlist .compdesign p{ float:right; width:300px }
.designlist .compdesign p{ max-height:40px; overflow:hidden; color:#888}
.designlist .compdesign h1{ font-size:14px}
.designlist .compdesign p i{ height:26px; line-height:26px; background:#F90; color:#FFF; display:inline; padding:0 5px}
.designphoto { float:right; width:480px}
.designphoto dd,.designphoto dt{ float: left; margin-right:10px; line-height:106px; color:#888; background:#f7f7f7; height:106px;display:table-cell;  width:150px; text-align:center;vertical-align:middle;}.designphoto dd a{ color:#aaa}
.designphoto dd:hover{ background:#f1f1f1}
.designphoto img{ width:auto; height:auto; max-height:106px;max-width:150px;vertical-align:middle}