<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>齐装网分站导航-{$title}</title>
    <meta name="keywords" content="齐装网分站" />
    <meta name="description" content="目前齐装网已经在全国包括苏州、上海、广州、天津、重庆、杭州、南京、武汉、福州、合肥、太原等200多个城市建立了分部！">
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/index/css/home.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/city/css/city.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>
<body>
    <include file="Index:header" />
    <div class="wrap oflow">
        <div class="citytit">
            <dl class="hotcity">
                <dt>热门城市：</dt>
                    <dd><a href="http://sz.{:C('QZ_YUMING')}" target="_blank">苏州</a></dd>
                    <dd><a href="http://nj.{:C('QZ_YUMING')}" target="_blank">南京</a></dd>
                    <dd><a href="http://bj.{:C('QZ_YUMING')}" target="_blank">北京</a></dd>
                    <dd><a href="http://tj.{:C('QZ_YUMING')}" target="_blank">天津</a></dd>
                    <dd><a href="http://gz.{:C('QZ_YUMING')}" target="_blank">广州</a></dd>
                    <dd><a href="http://wh.{:C('QZ_YUMING')}" target="_blank">武汉</a></dd>
                    <dd><a href="http://xa.{:C('QZ_YUMING')}" target="_blank">西安</a></dd>
                    <dd><a href="http://cd.{:C('QZ_YUMING')}" target="_blank">成都</a></dd>
                    <dd><a href="http://hz.{:C('QZ_YUMING')}" target="_blank">杭州</a></dd>
                    <dd><a href="http://hf.{:C('QZ_YUMING')}" target="_blank">合肥</a></dd>
                    <dd><a href="http://fz.{:C('QZ_YUMING')}" target="_blank">福州</a></dd>
                    <dd><a href="http://ty.{:C('QZ_YUMING')}" target="_blank">太原</a></dd>
                    <dd><a href="http://gy.{:C('QZ_YUMING')}" target="_blank">贵阳</a></dd>
                    <dd><a href="http://zz.{:C('QZ_YUMING')}" target="_blank">郑州</a></dd>
                    <dd><a href="http://jn.{:C('QZ_YUMING')}" target="_blank">济南</a></dd>
                    <dd><a href="http://sjz.{:C('QZ_YUMING')}" target="_blank">石家庄</a></dd>
                <span style="font-size:13px">共开通 <span style="color:#de4348">200</span> 多个直营站</span>
            </dl>
            <dl class="hotcity" style="margin-top:20px;margin-bottom:15px">
                <dt>快速查找：</dt>
                <select name="provinceList" id="provinceList" class="province">
                <volist name="cityInfo.provinceBySX" id="v">
                    <option value="{$v.pid}" >{$v.abc} {$v.pname}</option>
                </volist>
                </select>
                <select name="cityList" id="cityList" class="province">
                <volist name="cityInfo.defaultCity" id="v">
                    <option value="{$v.bm}" >{$v.cname}</option>
                </volist>
                </select>
                <button class="go-btn"><i class="icon-exchange mr10"></i><em>进入<em></em></em></button>
            </dl>
            <div class="tab" id="tab">
                <div class="tab-nav j-tab-nav"><a href="javascript:void(0);" class="current">按拼音查找其他城市</a> <a href="javascript:void(0);" >按省份查找其他城市</a>
                </div>
                <div class="tab-con j-tab-con">
                     <div class="tab-con-item" style="display:block;">
                        <dl class="wordm">
                            <dt>按拼音查找其他城市：</dt>
                            <volist name="cityInfo.accordCity" id="vo">
                            <dd><a href="#{$vo.pname}" class="anchor">{$vo.pname}</a>
                            </dd>
                            </volist>
                        </dl>
                        <div class="p2">
                            <volist name="cityInfo.accordCity" id="vo">
                            <span id="{$vo.pname}">{$vo.pname}</span>
                            <ul>
                            <volist name="vo.child" id="v">
                                <li><a style="<EQ name='v.mark_red' value='1'>color: #de4348;</EQ>" href="http://{$v.bm}.{:C('QZ_YUMING')}" target="_blank">{$v.cname}</a></li>
                              </volist>
                            </ul>
                            </volist>
                        </div>
                    </div>
                    <div class="tab-con-item p1" >
                      <volist name="cityInfo.allCity" id="vo">
                        <span>{$vo.pname}</span>
                          <ul>
                          <volist name="vo.child" id="v">
                              <li>
                                <a style="<EQ name='v.mark_red' value='1'>color: #de4348;</EQ>"  href="http://{$v.bm}.{:C('QZ_YUMING')}" target="_blank">{$v.cname}</a>
                              </li>
                          </volist>
                          </ul>
                      </volist>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <include file="Index:footer"/>
    <script type="text/javascript">
    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
    $(function() {

        $("#provinceList").change(function(){
            var cid = $("#provinceList").val();
            if(cid !== '0'){
                $("#cityList").load("/city?getcity=" + cid);
            }else{
                $("#cityList").empty();
            }
        });

        $(".go-btn").click(function(event){
            var bm = $("#cityList").val();
            if(bm == 0 ){
                alert('请选择城市！');
                return false;
            }
            window.location.href = "http://" + bm + ".{:C('QZ_YUMING')}";
        });

        $("#tab").rTabs({
            bind: 'click',
            animation: 'fadein',
            auto: false
        });
        $(".anchor").click(function(event) {
            var target = $(this).attr("href");
            $(".anchor_current").removeClass('anchor_current');
            $(target).next().addClass('anchor_current');
        });
    })
    </script>
</body>

</html>
