header{
    width: 100%;
    height: 50px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
}
body{background-color: #fff !important;}
article{margin-top: 86px;}
.m-header-left {
    margin-left: 1em;
    width: 32% !important;
}

/* mobile bread */
.m-bread {
    width: 100%;
    height: 2.2em;
    overflow: hidden;
    padding-left: .85em;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    line-height: 2.2em;
    font-size: .8em;
}

.jisuanbaojai{width: 100%;height: 27.5px;line-height:27.5px;background: #fff;overflow:hidden;vertical-align: middle;
padding: 0 4%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.jisuanbaojai .sslogo{width: 25.5px;height:21.5px;background: url(/assets/mobile/article/images/sslogo.jpg) no-repeat center center;
background-size: 100% 100%;display: inline-block;vertical-align: middle;}
.jisuanbaojai .wenbsskz{height: 23px;line-height: 23px;width: 50%;border:none;border-bottom: 1px solid #ff5353; display: inline-block;
margin-left: 10px;margin-right:10px;padding-left: 2px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.wenbsskz input{border:none;width:100%;}
.jisuanbaojai .tiaozhuan{display:inline-block;background: #ff5353;color: #fff;font-size: 13px;width: 88px;height: 27px;line-height: 27px;
text-align: center;float: right;margin-top: 1px;}


/*新改版*/
.money-box{
    margin: 0 22px;
    border: 1px solid #dedee0;
    border-radius: 5px;
    margin-top: 15px;
}
.money-main{
    margin: 0 8px;
    overflow: hidden;
}
.money-img{
    height: 40px;
    margin-top: 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(/assets/mobile/baojia/img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.home-style span{
    display: block;
    float: left;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    margin: 14px auto;
    /*background: blue;*/
    overflow: hidden;
}


.m-bj-edit{
    margin: 0 22px;/*修改*/
    margin-top: .8em;
}
.m-bj-edit li {
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative !important;background: #fff !important;}
.c-zb-city {
    padding: 5px;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    background: #fff !important;
    font-size: 1em;
    color: #333;}
.m-bj-edit li .m-bj-edit-list {
    color: #666;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    display: block;
    height: 48px !important;
    line-height: 38px !important;
    box-sizing: border-box;
    padding: 5px;
    background: #fff !important;
    border: 1px solid #ddd !important;}
.m-b-btn{margin:10px 22px !important;margin-bottom: 34px !important;}
/* Articles content */
.article{width: 100%;height: auto;background-color: #fff;padding-top: .6em;padding-bottom: 1em;}
.article-info .article-tit{font-size: 1.2em;font-weight: 800;}
.article-box, .article-info{width: 92%;margin: 0 auto;}
.article-time{font-size: 0.8em;}
.article img{width: 100%;}
.article-info p {
    padding-bottom: .6em;
    text-indent: 0 !important;
}
.article-box p {
    line-height: 25px;
    color: #666;
    padding-bottom: .8em;
    text-indent: 0 !important;
}

.assist {
    width: 4.5em;
    height: 1.5em;
    border-radius: 0.9em;
    border: 1px solid #ff565d;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    margin-top: 1em;
}
.assist i {
    display: block;
    width: 1.55em;
    height: 1.5em;
    border-radius: 50%;
    background: #ff565d;
    float: left;
    text-align: center;
    line-height: 1.4em;
    color: #fff;
    margin-left: -1px;
}
.assist span {
    font-size: 0.9em;
    color: #ff565d;
}

/* baijia img */
.baojia {
    width: 100%;
    height: auto;
    margin: .3em 0;
}
.baojia img{width: 100%;height: auto;}

/* other-article */
.other-article{width: 100%;height: auto;background-color: #fff;}
.other-article-box {padding: .75em;}
.red-block{width: .2em;height: 1.2em;background-color: #ff5659;display: block;float: left;margin-right: .4em;}
.other-article-word{font-size: 1em;font-weight: 800;line-height: 1.1em;}
.other-article-list{margin-top: .6em;overflow: hidden;}
.other-article-item{width: 100%;height: 4em;padding: .5em 0;border-bottom: 1px solid #ccc;}
.other-article-item:last-child{border-bottom: 0;}
.other-article-img{width: 6em;height: 4em;float: left;margin-right: .6em;}
.other-article-img img{width: 100%;height: 100%;}

footer {
    padding-bottom: 60px;
}
