/*
* @Author: qz_dc
* @Date:   2018-06-05 09:05:44
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-06-05 09:17:22
*/
.main {
    padding: 0.1rem;
}
.main h3 {
    text-align:center;
    margin-bottom: 0.1rem;
}
.main p {
    text-indent: 2em;
    text-align:justify;
    font-size: 12px;
}
.new-kefu-erji{display: none;}
.m-header-right{display: none;}
.m-header-his{display: none;}