<extend name="Main:baseTemplate" />
<block name="title">
    <title>轮播管理 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/advbanner/css/index.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
</block>

<block name="content">
    <section class="content-header">
        <h1>轮播管理</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li class="active"><a href="/advbanner">首页轮播管理</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
            <div class="box">
                <div class="box-body act-box">
                <form id="searchform" action="" method="get" class="form-horizontal">
                    <div class="pull-left">
                        <select name="city_id" id="city_id" class="select2">
                            <option value="">所属城市</option>
                            <volist name="citys" id="vo">
                                <option value="{$vo.cid}">{$vo.cname}</option>
                            </volist>
                        </select>
                    </div>

                    <div class="pull-left">
                        <label for="" class="control-label pull-left" style="padding-right:0px">轮播标题：</label>
                        <div class="pull-left" style="padding-left:0px" >
                        <input type="text" name="title" class="form-control" placeholder="轮播标题" value="{$Think.get.title}">
                        </div>
                    </div>

                    <div class="pull-left">
                        <label for="" class="control-label pull-left" style="padding-right:0px">装修公司：</label>
                        <div class="pull-left" style="padding-left:0px">
                        <input type="text" name="company" id="company" placeholder="装修公司名称或者ID" value="{$Think.get.company}">
                        </div>
                    </div>
                    <div class="pull-left">
                        <label for="" class="control-label pull-left" style="padding-right:0px">排序：</label>
                        <select name="order" class="form-control">
                            <option value="1" <if condition="empty($_GET['order'])">selected</if>>升序</option>
                            <option value="2">降序</option>
                            <option value="3">默认排序</option>
                        </select>
                    </div>
                    <div class="pull-left">
                        <label for="" class="control-label pull-left" style="padding-right:10px">  轮播结束开始时间:</label>
                        <input type="text" name="choose_time" class="form-control datepicker"  placeholder="日期" value="{$Think.get.choose_time}">
                    </div>
                    <div class="pull-left">
                        <select name="status" class="form-control" >
                            <option value="1">启用中</option>
                            <option value="2">已停用</option>
                            <option value="">全部状态</option>
                        </select>
                    </div>
                    <div class="pull-left">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;查询</button>
                    </div>

                    <div class=" pull-right">
                        <a href="/advbanner/add?cityid={$Think.get.city_id}" id="addUrl" class="pull-right"><button type='button' class="btn btn-success normal" style="width:auto"><i class="fa fa-plus-circle"></i> 新增轮播</button></a>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title">轮播列表</h3>
                    <div class="box-tools"></div>
                </div>
                <div class="box-body table-responsive no-padding">

                    <empty name="list">
                        <div class="col-xs-12">
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-warning"></i> 提示信息!</h4>
                                没有找到您要查询的信息
                            </div>
                        </div>
                    <else/>
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr style="font-size:14px;">
                                <th width="50">ID</th>
                                <th style="text-align:left;">标题</th>
                                <th width="170">缩略图</th>
                                <th width="120">轮播位置</th>
                                <th width="170">ID|装修公司名称</th>
                                <th width="80">所属城市</th>
                                <th width="80">排序</th>
                                <th width="110">开始时间</th>
                                <th width="110">结束时间</th>
                                <th width="50">状态</th>
                                <th width="170">操作</th>
                            </tr>
                            <volist name="list" id="v">
                                <tr>
                                    <td>{$v.id}</td>
                                    <td style="text-align:left;font-size:15px">
                                        <a href="/advbanner/edit?id={$v.id}" title="{$v.title}">{$v.title}</a>
                                    </td>
                                    <td >
                                        <if condition="$v['img_url'] EQ '' AND $v['module'] EQ 'home_advbanner_a' ">
                                            <img class="thumbs" src="http://{:C('QINIU_DOMAIN')}/Public/default/images/default_logo.png" style="height:50px" data-img="{$v.img_url}" data-color="{$v.value}">
                                        <else/>
                                            <img class="thumbs" src="http://{:C('QINIU_DOMAIN')}/{$v.img_url}" style="height:50px" data-img="{$v.img_url}" data-color="{$v.value}">
                                        </if>
                                    </td>
                                    <td><if condition="$v.module EQ 'home_advbanner' ">首页</if><if condition="$v.module EQ 'home_advbanner_a' ">装修公司-全国</if></td>
                                    <td>
                                        <if condition="$v.company_name NEQ '' ">{$v.company_id}|{$v.company_name}</if>
                                    </td>
                                    <td>{$v.city_name}<if condition="$v.city_id EQ '0' ">全站</if></td>
                                    <td class="sortTd" data-id="{$v.id}">{$v.sort}</td>
                                    <td>{$v.start_time|date="Y-m-d",###}</td>
                                    <td>{$v.end_time|date="Y-m-d",###}</td>
                                    <td>
                                        <if condition="$v.status EQ '0' "><small class="label label-danger">停用</small></if>
                                        <if condition="$v.status EQ '1' "><small class="label label-success">启用</small></if>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="advEdit" data-id="{$v.id}">编辑</a> |
                                        <a href="javascript:;" class="advLog" data-id="{$v.id}" data-name="{$v.company_name}">日志</a> |
                                        <if condition="$v.status EQ '0' ">
                                            <a href="javascript:;" class="advStatus" data-id="{$v.id}">启用</a> |
                                        <else />
                                            <a href="javascript:;" class="advStatus" data-id="{$v.id}">停用</a> |
                                        </if>
                                        <a href="javascript:;" class="advDel" data-id="{$v.id}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                    </empty>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">{$page}</ul>
                </div>
              </div>
            </div>
          </div>
    </section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " style="width:100%;height:455px">
            <div class="modal-content">
                <div class="modal-body" style="padding: 10px"><img style="border: 10px solid white;border-top:none;border-bottom:none;" src="" id="Preview" width="100%" height="405"></div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/plugins/moment/js/moment.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function(){
            $(".datepicker").datepicker({
                format:"yyyy-mm-dd",
                minViewMode:0,
                autoclose:'ture'
            });
        })
        $('select[name=status]').val('{$Think.get.status}');
        $('select[name=order]').val('{$Think.get.order}');

        $("#company").select2({
            allowClear: true,
            minimumInputLength: 1,
            maximumInputLength:10,
            query: function(query) {
                var result = null;
                $.ajax({
                    url: '/api/getcasecompany',
                    type: 'GET',
                    dataType: 'JSON',
                    data: {
                        condition: query.term
                    }
                })
                .done(function(data) {
                    if(data.status == 1){
                        var result = {
                            results: []
                        };
                        var company = data.data;
                        for(var i in data.data){
                            // qc: "苏州美时装饰工程有限公司", cs: "320200", cname: "无锡"}
                            result.results.push({
                                id:data.data[i].id,
                                text: data.data[i].id + '|' + data.data[i].jc,
                                user: data.data[i].user,
                                qc: data.data[i].qc,
                                jc: data.data[i].jc,
                                cs: data.data[i].cs,
                                city_name:data.data[i].cname
                            });
                        }
                        $('#company').change(function(){
                            $('#company_id').val($("#company").select2("data").id);
                            $('#company_name').val($("#company").select2("data").jc);
                            $('#real_company_id').val($("#company").select2("data").id);
                            $('#real_company_name').val($("#company").select2("data").jc);
                            $("#city_name").val($("#company").select2("data").cs);
                            $("#city_name").select2();
                        })
                        query.callback(result);
                    }
                });
            }
        });

        function isInteger(obj) {
            if(obj%1 === 0){
                if(obj >= 0){
                    return true;
                }
            }
            return false;
        }

        $(".sortTd").click(function () {
            var td = $(this);
            var id = $(this).attr('data-id');
            var txt = $.trim(td.text());
            var input = $("<input style='width:30px' type='text' value='" + txt + "'/>");
            td.html(input);
            input.click(function () { return false; });
            //获取焦点
            input.trigger("focus");
            //文本框失去焦点后提交内容，重新变为文本
            input.blur(function () {
                var newtxt = trim($(this).val());
                if(newtxt == ''){
                    alert("请填写轮播排序~ ");
                    return false;
                }

                if(isInteger(newtxt) == false ){
                    alert("轮播排序请输入从0开始的整数~ ");
                    return false;
                }
                td.html(newtxt);
                url = "/advbanner/updateSort?id="+ id +"&sort=" + newtxt + "&date=" + new Date();
                $.get(url, function (data) {
                });
            });
        });

        $(".select2").select2();
        $(".select2").select2("val", '{$Think.get.city_id}');
        $(".orderby").select2({
            minimumResultsForSearch: Infinity
        });

        $('#city_id').change(function(){
            $('#addUrl').attr('href','/advbanner/add?cityid=' + $("#city_id").select2("data").id);
        });

        $('.advEdit').click(function(){
            location.href="/advbanner/edit?id=" + $(this).attr('data-id');
        });

        $('.thumbs').click(function(){
            var imgUrl = "http://{:C('QINIU_DOMAIN')}/" + $(this).attr('data-img');
            var backColor = $(this).attr('data-color');
            $("#Preview").attr("src",imgUrl);
            $(".modal-content").css("background-color",backColor);
            $('#myModal').modal('show');
        });

        $('.advStatus').click(function(){
            if(confirm("您确定要停用/启用吗？")){
                var id = $(this).attr('data-id');
                if(id === ''){
                    alert('数据错误');
                    return;
                }
                location.href="/advbanner/status?id="+id;
            }
        });

        $('.advDel').click(function(){
            if(confirm("您确定要删除吗？")){
                var id = $(this).attr('data-id');
                if(id === ''){
                    alert('数据错误');
                    return;
                }
                location.href="/advbanner/remove?id="+id;
            }
        });

        $('.advLog').click(function(){
            var id = $(this).attr('data-id');
            var _this = this;
            $.ajax({
                url: '/api/getlogslistbyid/',
                type: 'GET',
                dataType: 'JSON',
                data: {
                    id:id,
                    limit:10,
                    logtype:'home_advbanner'
                }
            })
            .done(function(data) {
                if(data.status == '1'){
                    var data = data.data;
                    var infos = '';
                    result ='<table class="table table-bordered"><tbody><tr><th width="180px;">操作时间</th><th>操作人</th><th>公司ID</th><th>公司名</th><th>广告开始时间</th><th>广告结束时间</th><th>操作备注</th></tr>';
                    $.each(data,function(key,info) {
                        var obj = $.parseJSON(info.info);
                        company_id = '';
                        company_name = '';
                        start_time = '';
                        end_time = '';
                        if(obj){
                            if(obj.company_id){
                                company_id = obj.company_id;
                            }
                            if(obj.company_name){
                                company_name = obj.company_name;
                            }
                            if(obj.start_time){
                                start_time = moment(obj.start_time*1000).format('YYYY-MM-DD HH:mm:ss');
                            }
                            if(obj.end_time){
                                end_time = moment(obj.end_time*1000).format('YYYY-MM-DD HH:mm:ss');
                            }
                        }
                        infos = infos + '<tr><td>'+info.time+'</td><td>'+info.username+'</td><td>'+company_id+'</td><td>'+company_name+'</td><td>'+start_time+'</td><td>'+end_time+'</td><td>'+info.remark+'</td></tr>'
                    });
                    if('' == infos){
                        result = '没有查询到相关的日志记录！';
                    }else{
                        result = result + infos + '</tbody></table>'
                    }
                    var d = dialog({
                        quickClose: true,
                        align: 'left',
                        content: result,
                        follow: _this,
                        onclose: function () {}
                    });
                    d.show();
                }else{
                    var e = dialog({
                        title: '消息',
                        content: data.info,
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                }
            })
            .fail(function(xhr) {
                var e = dialog({
                    title: '消息',
                    content: '操作失败,请联系技术部门！',
                    okValue: '确 定',
                    quickClose: true,
                    ok: function () {}
                });
                e.show();
            })
        })
    </script>
</block>