<extend name="baseTemplate" />
<block name="style">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/meitu.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
<div class="box no-border">
    <div class="box-body">
        <div class="clear-float"></div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>公司名称</th>
                <th>设计师名</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <volist name="info.list" id="vo">
                <tr>
                    <td>
                        <a href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.comid}" target="_blank">
                            {$vo.comname}
                        </a>
                    </td>
                    <td><a href="http://{$vo.bm}.{:C('QZ_YUMING')}/blog/{$vo.uid}" target="_blank">{$vo.name}</a></td>
                    <td>{$vo.time|date='Y-m-d',###}</td>
                    <td><span class="fa {$vo.toggleIcon} choice" data-id="{$vo.id}"></span></td>
                </tr>
            </volist>
        </table>
        {$info.page}
    </div>
</div>
</block>
ddd
<block name="script">
<script src="{:C('168NEW_URL')}/assets/common/js/js.cookie.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#is_choice').val('{$Think.get.is_choice|default=0}');
})
</script>
</block>