body{
    line-height: 1.5;
}
/*局部装修落地页公共样式 start*/
.common-title{
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1;
}
.white{
    color: white !important;
}
.img-responsive{
    max-width: 100%;
}
.border-white{
    border-color: white !important;
}
.mb54{
    margin-bottom: 54px !important;
}
.dn{
    display: none;
}
.l{float: left} .r{float: right;}
.c1{color: #FF5353;} .c3{color: #333;} .c6{color: #666;}
input::-webkit-input-placeholder{
    color:#999;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#999;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#999;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#999;
}
/*局部装修落地页公共样式 end*/

.outcome, .guarantee{
    padding: 40px 0px;
}
.company, .comment{
    padding: 40px 0px;
}
.about{
    padding: 40px 0px 40px;
}
.scheme{
    padding: 40px 0px 40px;
}
.company{
    background: url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bg-company.png") no-repeat;
    background-size: cover;
}
.comment{
    background: url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bg-comment.png") no-repeat;
}
.scheme{
    background: url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bg-scheme.png") no-repeat;
}

.outcome .container, .guarantee .container, .company .container, .comment .container, .about .container, .scheme .container {
    width: 1210px;
    margin: 0 auto;
}

/*局部装修效果展示*/
.outcome .tab{
    font-size: 0;
    text-align: center;
    margin-bottom: 25px;
}
.outcome .tab > div{
    font-size: 18px;
    display: inline-block;
    margin-right: 60px;
    cursor: pointer;
}
.outcome .tab > div:last-child{
    margin-right: 0;
}
.outcome .tab .icon{
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    margin-bottom: 15px;
}
.outcome .tab .tips{
    display: block;
    line-height: 1;
}
.outcome .tab .active{
    color: #FF5353;
}
.outcome .icon-kitchen{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/kitchen-white.png");
}
.outcome .active .icon-kitchen{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/kitchen.png");
}
.outcome .icon-bathroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bathroom-white.png");
}
.outcome .active .icon-bathroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bathroom.png");
}
.outcome .icon-balcony{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/balcony-white.png");
}
.outcome .active .icon-balcony{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/balcony.png");
}
.outcome .icon-dining{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/dining-white.png");
}
.outcome .active .icon-dining{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/dining.png");
}
.outcome .icon-living{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/living-white.png");
}
.outcome .active .icon-living{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/living.png");
}
.outcome .icon-bedroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bedroom-white.png");
}
.outcome .active .icon-bedroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bedroom.png");
}
.outcome .swiper-container{
    height: 461px;
    overflow: hidden;
}
.swiper-outcome{
    height: 461px;
    overflow:hidden;
}
.swiper-outcome .ieswiper-slide{
    position: relative;
}
.swiper-outcome .blank-link, .swiper-outcome .info-container{
    position: absolute;
    top: 0;
    bottom: 0;
}
.swiper-outcome .blank-link{
    left: 0;
    width: 924px;
}
.swiper-outcome .info-container{
    width: 286px;
    right: 0;
    color: white;
    background-color:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
    background-color: rgba(0,0,0,0.8);
}
:root .info-container{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.swiper-outcome .info-container .info{
    margin: 66px 0 0 32px;
}
.swiper-outcome .info-container .info-title{
    width: 141px;
    border-bottom: 1px solid white;
    margin-bottom: 36px;
}
.swiper-outcome .info-container .info-title span{
    border-top: 1px solid white;
    padding: 16px 10px 16px 0;
    font-size: 24px;
    display: inline-block;
}
.swiper-outcome .info-container .info-name{
    font-size: 20px;
    margin-bottom: 20px;
}
.swiper-outcome .info-container .info-budget{
    font-size: 16px;
    margin-bottom: 36px;
}
.swiper-outcome .info-container .btn-design{
    border:1px solid white;
    width: 170px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    border-radius: 0.3em;
    cursor: pointer;
}

/*五大筛选装修公司标准*/
.standard-container{
    font-size: 0;
    margin-bottom: 9px;
}
.standard-container .margin-fix1{
    margin: 73px 0 0 41px;
}
.standard-container .margin-fix2{
    margin: 39px 0 0 29px;
}
.standard-container .st, .standard-container .sb{
    display: inline-block;
    vertical-align: top;
}
.standard-container .st{
    height: 263px;
}
.standard-container .sb{
    width: 242px;
    height: 196px;
}
.standard-container .s1, .standard-container .s3{
    width: 350px;
    background-color: #DADBDD;
}
.standard-container .s2{
    width: 510px;
}
.standard-container .s5{
    background-color: #7A7C7F;
    color: white;
}
.standard-container .s6{
    background-color: #F5F8FF;
}
.standard-container .s7{
    background-color: #3D3E40;
    color: white;
}
.standard-container .caption{
    width: 63px;
    font-size: 24px;
    color: #333;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 22px;
    border-bottom: 1px solid #333;
}
.standard-container .desc{
    font-size: 16px;
    color: #666;
}
.company-list{
    background-color: #686A6E;
    line-height: 1;
    height: 117px;
    overflow:hidden;
}
.company-list .item{
    padding: 18px 30px 19px 14px;
    font-size: 0;
}
.company-list .item > div{
    display: inline-block;
    vertical-align: top;
    color: white;
}
.company-list .item .logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 23px;
    float: none;
    margin-top: 0;
    cursor: pointer;
}
.company-list .item .company-info{
    max-width: 800px;
}
.company-list .item .top{
    font-size: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
}
.company-list .item .top span{
    padding-right: 21px;
    margin-right: 21px;
    border-right: 1px solid white;
}
.company-list .item .top span.cases{
    border-right: none;
}
.company-list .item .top span a{
    color: white;
    cursor: pointer;
}
.company-list .item .bottom{
    font-size: 16px;
}
.company-list .item .btn-bussiness{
    margin-top: 17px;
    float: right;
    width: 198px;
    background-color: #FF5353;
    color: white;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 0.3em;
    cursor: pointer;
}
.guarantee-list .item{
    width: 320px;
    height: 364px;
    overflow: hidden;
    float: left;
    position: relative;
}
.guarantee-list .item .brief{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 0px;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    background-color: rgba(0,0,0,0.5);
}
:root .guarantee-list .item .brief{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.guarantee-list .margin-fix{
    margin: 0px 125px;
}
.guarantee-list .detail{
    position: absolute;
    left: 0;
    right: 0;
    top: 364px;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 115px 16px 0;
    background-color:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    background-color: rgba(0,0,0,0.5);
}
:root .guarantee-list .detail{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.guarantee-list .detail .caption{
    font-size: 24px;
    margin-bottom: 43px;
}
.guarantee-list .detail .desc{
    font-size: 16px;
    margin-bottom: 43px;
    line-height: 1.5
}

/*业主评论*/
.comment-list{
    height: 409px;
    overflow:hidden;
}
.comment-list .item{
    width: 599px;
    height: 409px;
    background-color: white;
    float: left;
    margin-right:12px;
}
.comment-list .margin-fix{
    margin: 26px 11px 18px 12px;
}
.comment-list .item .top{
    font-size: 0;
    margin-bottom: 5px;
}
.comment-list .item .top > div{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}
.comment-list .top .avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 22px;
    padding-top: 13px;
}
.comment-list .top .user-info{
    padding-top: 13px;
}
.comment-list .user-info .nickname{
    font-size: 20px;
    color: #333;
    margin-bottom: 19px;
    font-weight: bold;
}
.comment-list .user-info .house-info{
    color: #666;
}
.comment-list .user-info .house-info span{
    padding-right: 11px;
    margin-right: 11px;
    border-right: 1px solid #CFCFCF;
}
.comment-list .user-info .house-info span:last-child{
    border:none;
}
.comment-list .item .middle{
    margin-bottom: 21px;
    font-size: 16px;
    color: #333;
}
.comment-list .item .bottom{}
.comment-list .bottom span{
    width: 283px;
    height: 191px;
    overflow: hidden;
}
.comment-list .bottom span img{
    width: 100%;
    height: 100%;
}
.commet-prev, .commet-next{
    width: 48px;
    height: 61px;
    display:none;
}
.commet-prev{
    left: -49px;
    background-image:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/angle-left.png");
}
.commet-next{
    right: -49px;
    background-image:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/angle-right.png");
}
.comment-list:hover .commet-prev{
    display:block;
}
.comment-list:hover .commet-next{
    display:block;
}

/*关于齐装网*/
.info-container{
    font-size: 0;
}
.info-container > div{
    display: inline-block;
    height: 342px;
    vertical-align: top;
}
.info-container .video{
    width: 712px;
}
.info-container .desc{
    width: 498px;
    font-size: 16px;
    background-color:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    background-color: rgba(0,0,0,0.8);
}
:root .info-container .desc{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.info-container .desc .margin-fix{
    margin: 19px 26px 0 33px;
}
.info-container .desc .caption{
    width: 90px;
    font-size: 24px;
    color: white;
    line-height: 1;
    padding-bottom: 11px;
    margin-bottom: 16px;
    /*border-bottom: 2px solid white;*/
}
.info-container .desc .detail{
    color: white;
    margin-bottom: 13px;
}
.info-container .desc .bussiness-btn{
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    /*background-color: #FF5353;*/
    border:1px solid white;
    border-radius: 0.3em;
    float: right;
    cursor: pointer;
}

/*8秒免费获得装修方案*/
.scheme .caption{
    margin-bottom: 35px;
    line-height: 1.1;
}
.scheme .caption .second{
    font-size: 48px;
    margin-right: 20px;
}
.scheme .caption .text{
    font-size: 36px;
}
.scheme .sub-caption{
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 36px;
    font-weight: normal;
}
.scheme .sub-caption .count{
    color: #FF5353;
}
.scheme .line-fix{
    width: 129px;
    margin: 0 auto;
    border-top: 3px solid white;
    margin-bottom: 38px;
}
.scheme .bussiness-form-container{
    width: 812px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 11px #888888;
}
.scheme .bussiness-form-container .padding-fix{
    padding:24px 83px;
    background:white;
    position:relative;
    z-index:1;
}
.scheme .bussiness-form-container .bussiness-table{
    width: 100%;
    table-layout: fixed;
}
.scheme .bussiness-form-container .bussiness-table td{
    width: 50%;
    text-align: center;
}
.scheme .bussiness-form-container .bussiness-btn{
    margin: 0 auto;
    width: 247px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    background-color: #FF5353;
    border-radius: 0.3em;
    font-size: 18px;
    cursor: pointer;
}
.scheme .sim-select{
    margin:0 auto 20px auto;
    width: 279px;
    height: 46px;
    height : 35px\0;
    border:1px solid #DDDDDD;
    border-radius: 0.3em;
    padding-left: 19px;
    overflow:hidden;
}
.scheme .bussiness-form-container select, .scheme .bussiness-form-container input{
    width: 297px;
    height: 46px;
    line-height: 46px;
    height : 35px\0;
    line-height:35px\0;
    border:1px solid #DDDDDD;
    border-radius: 0.3em;
}
.scheme .bussiness-form-container select{
    /*padding-left: 20px;
    display: block;
    margin: 0 auto 20px auto;*/
    width: 279px;
    height : 35px\0;
    border:none;
}
@media all and (-ms-high-contrast:none)
{
    *::-ms-backdrop,.scheme .sim-select{height: 46px;}
    *::-ms-backdrop,.scheme .bussiness-form-container select{ height : 46px; } /* IE11 */
    *::-ms-backdrop, .scheme .bussiness-form-container input{height: 46px;line-height:46px;}
}
.scheme .bussiness-form-container input{
    width: 277px;
    padding-left: 20px;
    margin-bottom: 24px;
}
.scheme .warn{
    color:#DE4349;
    text-align: center;
}
.scheme .ieShadow{
    _width:100%;
    _height:100%;
    filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
    -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=2)";
    background-color:#888\9;
    position:absolute;
    left:5px;
    top:5px;
    right:-1px;
    bottom:-1px;
    z-index: 0;
}

.video .jwplayer .jwuniform{
    background-size:cover !important;
}

/*发单相关*/
.topbanner{width: 100%;height: 470px;background: url(//staticqn.qizuang.com/pc/assets/home/company/img/jb/banner01.jpg) no-repeat center center;
background-size: cover;overflow: hidden;max-width: 1920px;}
.topbanner .topbjnr{width: 1210px;margin: 0 auto;}

.order-box { width: 330px; height: 395px; position: relative; top: 38px; background: #fff; z-index: 3; text-align: center;
 font-family: "Microsoft Yahei"; box-shadow: 1px 1px 10px 5px rgba(0,0,0,.2);float: right;position: relative;}
.order-box .box-shadow{position: relative; z-index: 1; padding: 15px 40px 0 40px; background-color:#FFFFFF;}
.order-box .ieShadow{
    _width:100%;
    _height:100%;
    filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
    -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=2)";
    background-color:#888\9;
    position:absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    bottom:-1px;
    z-index: 0;
}
.order-box .h1 { font-size: 20px; font-weight: 100;display: block;font-weight: bold;margin-top: 15px;}
.order-box .h2 { font-size: 14px; font-weight: 100; margin: 0 0 15px 0;display: block;color: #333;}
.order-box .h2 .numberhq{color: #ff5353;}
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 10px; padding-left:7px\0; display: block; }

.order-box .edit-city,.order-box .edit-quyu { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box .edit-part, .order-box .edit-style{width: 100%; height: 35px;border: 1px solid #dcd8d9;}
.order-box button { width: 100%; height: 35px;box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5);background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer;transition: all 0.5s ease;}
.order-box button:hover{box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5)}
.order-box .order-box-tip{font-size: 12px;color: #FF5353;width: 292px;position: relative;left: -14px;top: -4px;}
.validate .box-line{margin-bottom: 20px;outline: none;}
.height_auto{height: 60px !important;margin-bottom: 0 !important;}
.focus {
    border: 1px solid #DE4349 !important;
}

/*预约成功弹窗 形式一 */
.beijingyy{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    z-index: 99;
    margin:auto;
    display: none;
}
:root .beijingyy{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.successts{width: 634px;
    height: 432px;
    border-radius: 10px;
    border: 10px solid #ffe6d2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -216px;
    margin-left: -317px;
    z-index: 99;
    background: #fff;
    display: none;
}
.successts .guanbiniu {
    width: 39px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    background: url(//staticqn.qizuang.com/pc/assets/common/img/guanbianniu.png) no-repeat !important;
    position: absolute;
    right: 10px;
    top: -66px;
}
.successts .tjcgbt{font-size: 26px;color: #ff5353;text-align: center;}
.successts .tjcgbt2{text-align: center;font-size: 12px;color: #333;letter-spacing: 1px;}
.successts .tjcgbt2 span{color: #ff5353;}
.successts .erweima1{width: 100%;height: auto;overflow: hidden;margin-top: 50px; position: relative}
.successts .erweima1 .weima{float: left;width: 175px;height: 174px;display: inline-block;}
.successts .erweima1 .meinvts{float: right;width: 212px;height: 160px;display: inline-block;position: relative;top: 7px;}


/*预约成功弹窗 形式二 */
.yuyuesuccess-bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 14;
    margin:auto;
    display: none;
}
:root .yuyuesuccess-bg{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
 .yuyuesuccess {
    width: 634px;
    height: 432px;
    border-radius: 5px;
    border:10px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    display: none;
    z-index: 16;
}
.yuyuesuccess .close_gb {
    position: absolute;
    right: 2px;
    top: -66px;
    background: url(//staticqn.qizuang.com/pc/assets/common/img/guanbianniu.png) no-repeat !important;
    width: 39px;
    height: 90px;
    cursor:pointer;
}
.yuyuesuccess .success_title {
    color: #ff5353;
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    margin-top: 40px;
}
.yuyuesuccess .success_title span {
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-right: 10px;
    background: url(//staticqn.qizuang.com/pc/assets/sub/company/img/cg.png) no-repeat center;
    vertical-align: middle;
}
.yuyuesuccess .xiaobiaoti {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    width: 560px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-top: 12px;
}
.yuyuesuccess .enterservice {
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}
.yuyuesuccess .tuwen {
    overflow: hidden;
    width: 535px;
    height: 200px;
    margin: 0 auto;
    margin-top: 16px;
}
.yuyuesuccess .tuwen li {
    display: inline-block;
    float: left;
    width: 145px;
    margin-right: 50px;
}
.yuyuesuccess .tuwen li img {
    width: 100%;
    height: 105px;
}
.yuyuesuccess .tuwen li .colortiltle {
    color: #fb8920;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
}
.yuyuesuccess .tuwen li .fulcmiaos {
    color: #333;
    font-size: 12px;
}
.yuyuesuccess .tuwen li.quxiaobj {
    margin-right: 0;
}

/*预约成功弹窗 形式三 */
.beijingyy-s3{width: 100%;height: 100%;background: rgba(0,0,0,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);position: fixed;top: 0;bottom: 0;left: 0;right: 0;
z-index: 99;margin:auto;display: none;}
:root .beijingyy-s3{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.fd-success{width: 634px;
    height: 432px;
    border-radius: 10px;
    border: 10px solid #ffe6d2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -216px;
    margin-left: -317px;
    z-index: 99;
    background: #fff;
    display: none;
}
.fd-success .guanbiniu {
    width: 39px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    background: url(//staticqn.qizuang.com/pc/assets/common/img/guanbianniu.png) no-repeat !important;
    position: absolute;
    right: 10px;
    top: -66px;
}
.fd-success .tjcgbt{font-size: 26px;text-align: center;}
.fd-success .tjcgbt2{text-align: center;font-size: 14px;color: #FF5353;font-weight:bold;letter-spacing: 1px;margin-top:50px;}
.fd-success .tjcgbt2 span{color: #ff5353;}
.fd-success .erweima1{width: 100%;height: auto;overflow: hidden;margin-top:10px;}
.fd-success .erweima1 .weima{float: left;width: 175px;height: 174px;display: inline-block;}
.fd-success .erweima1 .meinvts{float: right;width: 212px;height: 160px;display: inline-block;position: relative;top: 7px;}


/*预约弹窗 形式一*/
 .beijingyiny-s1 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 15;
}
:root .beijingyiny-s1{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.appointment-s1 {
    width: 634px;
    height: 430px;
    border-radius: 5px;
    background: #fff;
    border:7px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0 90px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    display: none;
    z-index: 16;
}
.appointment-s1 .guanbiniu {
    position: absolute;
    right: 2px;
    top: -66px;
    background: url(//staticqn.qizuang.com/pc/assets/common/img/guanbianniu.png) no-repeat !important;
    width: 39px;
    height: 90px;
    cursor:pointer;
}
.appointment-s1 .desc{
    font-size:15px;
    margin-top:10px;
    text-align: center;
}
.appointment-s1 .yuyue_title {
    font-size: 26px;
    color: #333;
    text-align: center;
    overflow: hidden;
    margin-top: 48px;
}
.appointment-s1 .yuyue_title span{
    color: #FF5353;
}
.appointment-s1 .waikuangz span {
    height: 35px;
    line-height: 35px;
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333;
    display: inline-block;
}
.appointment-s1 .waikuangz {
    margin: 20px auto 0;
    width: 335px;
}
.appointment-s1 .waikuangz .freesj_cs {
    width: 120px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.appointment-s1 .waikuangz .freesj_qy {
    width: 120px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e3e3e3;
    margin-left: 5px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.appointment-s1 .waikuangz .chenghushuru, .appointment-s1 .waikuangz .shoujihaoma {
    width: 250px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-indent: 0.5em;
}
.appointment-s1 .lijiyuyue {
    width: 322px;
    height: 35px;
    line-height: 35px;
    background: #ff5353;
    color: #fff;
    text-align: center;
    margin:20px auto 0;
}
.appointment-s1 .lijiyuyue a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
}
.appointment-s1 .zixun {
    width: 322px;
    color: #333;
    text-align: right;
    margin: 2px auto 0;
}
.appointment-s1 .zixun a {
    color: #ff5353;
    text-decoration:underline;
}
.appointment-s1 .warn{
    color:#DE4349;
    padding:2px;
    text-align: center;
    margin-top:10px;
}
/*预约弹窗 形式一*/


/*预约弹窗 形式二*/
 .beijingyiny {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 15;
}
:root .beijingyiny{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.appointment {
    width: 534px;
    height: 390px;
    border-radius: 5px;
    background: #fff;
    border:7px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0 90px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    display: none;
    z-index: 16;
}
.appointment .guanbiniu {
    position: absolute;
    right: 2px;
    top: -66px;
    background: url(//staticqn.qizuang.com/pc/assets/common/img/guanbianniu.png) no-repeat !important;
    width: 39px;
    height: 90px;
    cursor:pointer;
}
.appointment .yuyue_title {
    font-size: 26px;
    color: #333;
    text-align: center;
    overflow: hidden;
    margin-top: 48px;
}
.appointment .waikuangz span {
    height: 35px;
    line-height: 35px;
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333;
    display: inline-block;
}
.appointment .waikuangz {
    margin-top: 20px;
}
.appointment .waikuangz .freesj_cs {
    width: 120px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.appointment .waikuangz .freesj_qy {
    width: 120px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e3e3e3;
    margin-left: 5px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.appointment .waikuangz .chenghushuru, .appointment .waikuangz .shoujihaoma {
    width: 250px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-indent: 0.5em;
}
.appointment .lijiyuyue {
    width: 322px;
    height: 35px;
    line-height: 35px;
    background: #ff5353;
    color: #fff;
    text-align: center;
    margin-left: 11px;
    margin-top: 20px;
}
.appointment .lijiyuyue a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
}
.appointment .zixun {
    width: 322px;
    color: #333;
    text-align: right;
    margin-left: 11px;
    margin-top: 2px;
}
.appointment .zixun a {
    color: #ff5353;
    text-decoration:underline;
}
.appointment .warn{
    color:#DE4349;
    padding:2px;
    text-align: center;
    margin-top:10px;
}

/*预约弹窗 形式三*/
.order-bg-s3{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
    background:rgba(0,0,0,.7);
    position: fixed;
    top:0; bottom:0;
    left:0; right:0;
    z-index:99999
}
:root .order-bg-s3{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.order-s3{
    background: none !important;
    filter:alpha(opacity=100) !important;
    z-index:9999999;
    position: relative;
}
.order-s3 .ganxsq2{
    width: 634px;
    font-family: 微软雅黑;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 432px;
    padding: 45px 75px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 230, 210);
    border-image: initial;
    border-radius: 10px;
    overflow: visible;
    margin: auto;
    background: #fff;
}
.order-s3 .ganxsq2 .tit{
    font-family: "Microsoft Yahei";
    height: 50px;
    line-height: 50px;
    border-bottom: none;
    background: none;
    font-size: 26px;
    text-align: center;
}
.order-s3 .ganxsq2 .tit span{
        color: #ff5353;
}
.order-s3 .ganxsq2 p{
    font-size: 16px;
    font-family: 微软雅黑;
    text-align: center !important;
}
.order-s3 .ganxsq2 .shutdown{
    position: absolute;
    right: 10px;
    top: 0;
    color: #fff;
    text-shadow: 0 0 1px #666;
    font-size: 20px;
    cursor: pointer;
}
.order-s3 .ganxsq2 .shutdown .guanbisheji{
    width: 39px;
    height: 90px;
    display: inline-block;
    background: url(//staticqn.qizuang.com/pc/assets/common/img/guanbianniu.png) no-repeat !important;
    position: absolute;
    right: 5px;
    top: -70px;
}
.order-s3 .ganxsq2 .order-info{
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
    padding: 45px;
    padding-top: 20px;
    text-align: left;
}
.order-s3 .ganxsq2 .order-info .edit-text{
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 100%;
}
.order-s3 .ganxsq2 .order-info .box-line{
    padding-bottom: 10px;
}
.order-s3 .ganxsq2 .order-info .edit-half-left {
    width: 25%;
    float: left;
    padding-top: 8px;
}
.order-s3 .ganxsq2 .order-info .selectbox_two {
    width: 35%;
    float: right;
    height: 35px;
    border: 1px solid #dcd8d9;
    font-size: 12px;
}
.order-s3 .ganxsq2 .order-info .edit-half-left {
    width: 25%;
    float: left;
    padding-top: 8px;
}
.order-s3 .ganxsq2 .order-info .edit-half-right {
    width: 74%;
    float: right;
}
.order-s3 .ganxsq2 .order-info .edit-text input[type=text] {
    padding-left: 10px;
    display: block;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid #dcd8d9;
    font-size: 12px;
}
.order-s3 .ganxsq2 .order-info .err {
    color: #DE4349 !important;
    font-size: 12px;
    padding: 2px;
    text-align: center;
}
.order-s3 .ganxsq2 .order-info button {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    background: #ff5353;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding: 0;
    border: 0;
    cursor: pointer;
}

:root .windowbg{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.nr-pa-text{position: absolute; left:220px;top:15px;z-index: 9}
.nr-pa-text p{color:#666; line-height: 28px;font-size: 14px; }
.nr-pa-text i{color:#ff5353; font-size:10px; padding-right: 10px}
.second-text{left:324px!important; top:187px!important;}