<extend name="Common:basic" />
<block name="title">
    <title>装修免费量房_免费量房设计_免费量房报价-齐装网</title>
</block>
<block name="keywords">
    <meta name="keywords" content="免费量房,免费量房设计,免费量房报价" />
</block>
<block name="description">
    <meta name="description" content="齐装网开启“安心量房”工程，每天提供300个免费量房设计报价名额，拒绝量房猫腻和量房陷阱，抵制隐形消费，让业主不花冤枉钱。齐装网服务1500万业主，轻松装修乐无忧从免费量房开始。" />
</block>
<block name="link">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/mobile/common/js/swiper/swiper.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/mobile/company/css/liangfang.css?v={:C('STATIC_VERSION')}">
</block>
<block name="headjs">
    <script type="text/javascript">
        (function(root) {
            root._tt_config = true;
            var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true;
            ta.src = 'https://s3.pstatp.com/bytecom/resource/track_log/src/toutiao-track-log.js';
            ta.onerror = function () {
                var request = new XMLHttpRequest();
                var web_url = window.encodeURIComponent(window.location.href);
                var js_url  = ta.src;
                var url = '//ad.toutiao.com/link_monitor/cdn_failed?web_url=' + web_url + '&js_url=' + js_url + '&convert_id=1611369185153037';
                request.open('GET', url, true);
                request.send(null);
            }
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ta, s);
        })(window);
    </script>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/" class="m-header-left"></a>
    <div class="m-header-tit">免费量房设计</div>
</block>
<block name="content">

    <article>
        <div class="top_banner">
            <img src="/assets/mobile/company/img/liangfang-banner.jpg">
            <div class="relative">
                <div class="remain_num clearfix numscale">
                    <p class="numitem hundreds">0</p>
                    <p class="numitem ">3</p>
                    <p class="numitem ">9</p>
                </div>
            </div>
        </div>
        <!-- from表单填写 -->
        <div class="form">
            <div class="top_fadan">
                <i class="left-img"></i><div class="">抢领免费量房名额</div><i class="right-img"></i>
            </div>
            <ul class="m-bj-edit">
                <li id="area">
                    <div>
                        <button id="showCityPicker2" class="c-zb-city" type="button">
                            <i class="fa fa-map-marker"></i>
                            <empty name="info.cityarea">
                            请选择您所在的区域
                            <else />
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}" >
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    </div>
                </li>

                 <li>
                    <input class="m-row-int1 m-bj-edit-list" type="tel" maxlength="11" name="tel-number" placeholder="请输入您的手机号码">
                </li>
                <li>
                    <select name="lftime" id="time">
                        <option disabled selected value="预约0元上门量房时间" style='display:none;'>预约0元上门量房时间</option>
                        <option value="随时">随时</option>
                        <option value="下班后">下班后</option>
                        <option value="3天内">3天内</option>
                        <option value="周末">周末</option>
                        <option value="一周内</">一周内</option>
                        <option value="其他">其他</option>
                    </select>
                    <i class="fa fa-caret-down "></i>
                </li>
                <include file="Common:disclaimer" />
                <!--geolocation定位-->
                <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
            </ul>
            <!-- 立即计算报价按钮 -->
            <a class="m-b-btn save-submit">
                立即预约量房
            </a>
            <div class="finger">
                <img src="/assets/mobile/company/img/point.png" alt="">
            </div>
        </div>
        <div class="trap">
            <div class="trap-title"><span>量房不靠谱,装修白辛苦</span></div>
            <div class="t-title">您所不知道的量房陷阱</div>
            <div class="pic clearfix">
                <div class="bg-img img1">
                    <div class="msg">
                        <p class="t-info">刻意扩大面积</p>
                        <p class="t-text">便于装修时提高报价</p>
                    </div>
                </div>
                <div class="bg-img img2">
                    <div class="msg">
                        <p class="t-info">粗略的设计方案</p>
                        <p class="t-text">无精准的量房工序，何来匹配的设计方案</p>
                    </div>
                </div>
                <div class="bg-img img3">
                    <div class="msg">
                        <p class="t-info">无证个人服务</p>
                        <p class="t-text">非正规、非专业非品牌装饰公司的个人劣质服务</p>
                    </div>
                </div>
            </div>
            <div class="maoni">原来量房有这么多猫腻,业主如何选择？</div>
        </div>
        <div class="bg"></div>
        <div class="anxin">
            <div class="a-title">齐装网安心量房工程</div>
            <div class="youshi">五大核心优势</div>
            <div class="five">
                <ul>
                    <li>
                        <i class="t1"></i><span class="span1">提前预约</span><span class="span2">自由掌控上门时间</span>
                    </li>
                    <li>
                        <i class="t2"></i><span class="span1">0元量房</span><span class="span2">抵制收费乱象</span>
                    </li>
                    <li>
                        <i class="t3"></i><span class="span1">品质服务</span><span class="span2">优选品牌装饰公司上门</span>
                    </li>
                    <li>
                        <i class="t4"></i><span class="span1">告别面积猫腻</span><span class="span2">让业主不花冤枉钱</span>
                    </li>
                    <li>
                        <i class="t5"></i><span class="span1">专属设计方案</span><span class="span2">专属您家的设计方案</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg"></div>
        <div class="experience">
            <div class="e-title">为您带来优质的量房体验</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/assets/mobile/company/img/b1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/mobile/company/img/b2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/mobile/company/img/b3.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
        <div class="bg"></div>
        <div class="flow">
            <div class="f-title">服务流程</div>
            <div  class="clearfix">
                <ul class="clearfix">
                    <li class="clearfix">
                        <div class="service">
                            <div class="img">
                                <img src="/assets/mobile/company/img/f1.png" alt="">
                            </div>
                            <div class="f-text">在线预约</div>
                        </div>
                        <div class="triangle"></div>
                    </li>
                    <li>
                        <div class="service">
                            <div class="img">
                                <img src="/assets/mobile/company/img/f2.png" alt="">
                            </div>
                            <div class="f-text">电话确认</div>
                        </div>
                        <div class="triangle"></div>
                    </li>
                    <li>
                        <div class="service">
                            <div class="img">
                                <img src="/assets/mobile/company/img/f3.png" alt="">
                            </div>
                            <div class="f-text">上门量房</div>
                        </div>
                        <div class="triangle"></div>
                    </li>
                    <li>
                        <div class="service">
                            <div class="img">
                                <img src="/assets/mobile/company/img/f4.png" alt="">
                            </div>
                            <div class="f-text">设计报价</div>
                        </div>
                        <div class="triangle"></div>
                    </li>
                    <li>
                        <div class="service">
                            <div class="img">
                                <img src="/assets/mobile/company/img/f5.png" alt="">
                            </div>
                            <div class="f-text">签约施工</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg"></div>
        <div class="about">
            <div class="about-title">关于齐装网</div>
            <ul class="first clearfix">
                <li>
                    <div class="info">
                        <p class="num">1500万</p>
                        <p class="a-text">服务业主</p>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <p class="num">6万</p>
                        <p class="a-text">合作设计师</p>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <p class="num">86万</p>
                        <p class="a-text">业主点评</p>
                    </div>
                </li>
            </ul>
            <ul class="second clearfix">
                <li>
                    <div class="info">
                        <p class="num">500个</p>
                        <p class="a-text">开通城市分站</p>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <p class="num">6万</p>
                        <p class="a-text">合作装修公司</p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 底部悬浮框 -->
        <div class="fix">
            <div class="left">
                <p>"安心量房"工程</p>
                <p class="sheng">还剩<span>39</span>名</p>
            </div>
            <div class="right">
                <button class="yuyue-btn">预约量房</button>
                <div class="dianji">
                    <img src="/assets/mobile/company/img/point2.png" alt="">
                </div>
            </div>
        </div>

        <!-- 预约弹框 -->
        <div class="mask"></div>
        <div class="fixed">
            <div class="rel">
                <div class="yuyue-box">
                    <div class="form-box">
                        <div class="top_fadan">
                            <div class="top-info">
                                <p class="thank">感谢您的预约</p>
                                <p class="top-more">近期预约量房人数较多，完善以下信息，我们将优先为您服务！</p>
                            </div>
                        </div>
                        <ul class="m-bj-edit">
                            <li>
                                <input class="m-row-int1 m-bj-edit-list" type="text" name="chenghu" placeholder="您的称呼">
                            </li>
                            <li>
                                <input class="m-row-int1 m-bj-edit-list" type="text" name="xiaoqu"  placeholder="小区名称">
                            </li>
                            <li>
                                <input class="m-row-int1 m-bj-edit-list" type="text" name="mianji" maxlength="13" placeholder="请输入您的房屋面积">
                                <i class="pingfang">m²</i>
                            </li>
                        </ul>
                        <a class="m-b-btn liji">
                            立即预约
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 成功弹框 -->
        <div class="success">
            <p class="success-title">预约成功！</p>
            <p class="success-text">稍后客服将致电与您确认量房需求</p>
            <button class="know">知道了</button>
        </div>
    </article>


    <!--置顶-->
    <div id="gotop"><i class="fa fa-angle-up fa-lg"></i><br>置顶</div>
</block>
<block name="script">
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/company/js/liangfang.js?v={:C('STATIC_VERSION')}"></script>
    <script>

        selectQz.init({
            province:$("input[name=province]").attr("data-id"),
            city:$("input[name=city]").attr("data-id"),
            area:$("input[name=area]").attr("data-id")
        });
    </script>
</block>
