/*
* @Author: qz_xsc
* @Date:   2018-07-02 13:27:51
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-07-02 17:15:32
*/
.bearHao{
    background:#fff;
    width:100%;
    position: fixed;
    bottom:0px;
    padding:0.15rem 0px;
}
.bearHao table{
    width:100%;
    text-align: center;
}
#surplus_num{
    color:#ff5353;
    font-size: 0.14rem;
    padding:0px 0.05rem;
}
.free-get-price-xzh{
    background:#ff5353;
    color:#fff;
    padding:0.05rem 0.15rem;
    border-radius: 5px
}
.firm{padding-top: 0.2rem}