/*
* @Author: qz_php3
* @Date:   2018-04-09 15:51:01
* @Last Modified by:   qz_php3
* @Last Modified time: 2018-04-21 15:04:59
*/
.fl {
    float: left;
}
.fr {
    float: right;
}
#box-head {
    padding: 0;
}
.nav {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 20px;
    color: #000;
}
#cooperate-add label {
    width: 150px;
    text-align: right;
}
#cooperate-add input {
    width: 300px;
}

.control-group {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}
.tg-qd {
    height: 90px;
}
.beizhu {
    height: 90px;
}
.hz-lj {
    height: 90px;
}
.yy-zz {
    margin-top: 10px;
    margin-bottom: 10px;
}
.control-group .cs-date {
    height: 34px;
    line-height: 34px;
}
.control-group .hz-date {
    height: 34px;
    line-height: 34px;
}
.control-group .hz-ms {
    height: 34px;
    line-height: 34px;
}
.control-group .jk-fs {
    height: 34px;
    line-height: 34px;
}
.control-group select {
    width: 300px;
    margin-left: 4px;
}
.star {
    color: red;
}
#cooperate-add .zc-zb input {
    width: 280px;
}
#cooperate-add .tg-qd input {
    height: 70px;
}
#cooperate-add .beizhu input {
    height: 70px;
}
#cooperate-add .hz-lj input {
    height: 100px;
}
#cooperate-add .begin  {
    width: 140px;
    margin-left: 4px;
}
#cooperate-add .end {
    width: 140px;
}
.jiangegu {
    height: 34px;
    display: block;
    line-height: 34px;
    width: 20px;
    text-align: center;
}
.select2-container {
    width: 300px;
    padding: 0;
    border: none;
}
.upload {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 500px;
    margin-left: 150px;
}
.license {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.btn-save {
    margin-left: 90px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.btn-save button {
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color:rgba(22, 155, 213, 1);
    color:#fff;
}
.btn-qx button {
    border: 1px solid rgba(22, 155, 213, 1);
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: rgba(22, 155, 213, 1);
    background: #fff;
}