/*
* @Author: qz_php3
* @Date:   2018-04-10 09:27:20
* @Last Modified by:   qz_php3
* @Last Modified time: 2018-04-10 10:50:40
*/
a {
    text-decoration: none;
    color: #333;
}
.nav {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 20px;
    color: #000;
}
#box-head {
    padding: 0;
}
.tiaojian-sel {
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight:400;
    color: #666;
    border-bottom: 1px solid #ccc;
}
#tiaojian {
    height: 80px;
}
#tiaojian label {
    padding-top: 10px;
}
.select2-container {
    padding: 0;
    border: none;
}
#search button {
    margin-top: 33px;
    margin-left: 20px;
    background:rgba(60, 141, 188, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}
table {
    width: 100%;
}
#bizoshi-detail table th, td {
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
}
.b-caozuo a:nth-child(2) {
    color: red;
}
.check-data {
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    background-color: #fff;
    position: absolute;
    top:340px;
    left: 650px;
    display: none;
}
.check-data .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    color: #000;
    margin-bottom: 10px;
}
#c-closed {
    border: none;
    height: 39px;
    float: right;
    width: 40px;
    background: #fff;
    font-size: 30px;
    outline: none;
}
.c-bz {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.c-name {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;

}
.c-sj {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;

}
.fl {
    float: left;
}
.c-sj .group {
    position: relative;
}
.c-sj .group span {
    margin-left: 14px;
}
.c-sj .group1 {
    width: 60px;
}

.c-sj .group2 {
    width: 60px;

}
.c-sj .group3 {
    width: 80px;
}
.c-sj .group4 {
    width: 120px;
}
.c-sj .group1 input {
    position: absolute;
    top: 10px;
}
.c-sj .group2 input {
    position: absolute;
    top: 10px;
}
.c-sj .group3 input {
    position: absolute;
    top: 10px;
}
.c-sj .group4 input {
    position: absolute;
    top: 10px;
}
.check-data  p {
    margin-top: 20px;
    padding-left: 20px;
    color: red;
}
.check-data .c-btn button {
    width: 90px;
    height: 30px;
    margin-right: 30px;
    border: none;
    background: rgba(60, 141, 188, 1);
    color: #fff;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
}
.check-data .c-btn .c-qx {
    background: #fff;
    border: 1px solid rgba(60, 141, 188, 1);
    color:rgba(60, 141, 188, 1);
}

.delete {
    width: 400px;
    background: #fff;
    position: absolute;
    top: 400px;
    left: 750px;
    border: 1px solid;
    height: 150px;
    display: none;
}
.delete p {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
}
.delete .d-btn button {
    width: 90px;
    height: 30px;
    margin-right: 50px;
    border: none;
    background: rgba(60, 141, 188, 1);
    color: #fff;
    margin-left: 50px;
}
.delete .d-btn .d-qx {
    background: #fff;
    border: 1px solid rgba(60, 141, 188, 1);
    color:rgba(60, 141, 188, 1);
}
/*匹配标识弹框*/
.pipei {
    width: 900px;
    background: #fff;
    position: absolute;
    top: 300px;
    left: 500px;
    border: 1px solid #ccc;
    display: none;
}
.pipei .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    color: #000;
}
.pipei .p-name {
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    color: #000;
}
#p-closed {
    border: none;
    height: 39px;
    float: right;
    width: 40px;
    background: #fff;
    font-size: 30px;
    outline: none;
}
.p-table td {
    border: none;
    color: #000;
}
.p-table td input[type=checkbox] {
    float: left;
    margin-left: 23px;
}
.p-table td .span {
    display: block;
    width: 42px;
    float: left;
    margin-left: 2px;
}
.p-table td #checkbox1 {
    margin-left: 0px;
}
.p-table td .span1 {
    width: 80px;
}
.p-select {
    width: 200px;
}
.p-edit:link {
    color: green;
}
.p-edit:visited {
    color: green;
}
.p-edit:hover {
    color: green;
}
.p-edit:active {
    color: green;
}
.p-del:link {
    color: red;
}
.p-del:visited {
    color: red;
}
.p-del:hover {
    color: red;
}
.p-del:active {
    color: red;
}
.pipei .btn-jia {
    height: 50px;
}
.pipei .p-btn button {
    width: 90px;
    height: 30px;
    margin-right: 30px;
    border: none;
    background: rgba(60, 141, 188, 1);
    color: #fff;
    margin-left: 220px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
}
.pipei .p-btn .p-qx {
    background: #fff;
    border: 1px solid rgba(60, 141, 188, 1);
    color:rgba(60, 141, 188, 1);
    margin-left: 170px;
}
.pipei .zhushi {
    color: red;
    margin-left: 20px;
    height: 30px;
    line-height: 30px
}
.del-tr {
    border: none;
    background: #fff;
    font-size: 30px;
    color: orange;
    outline: none;
}
.jia-tr {
    float: right;
    margin-right: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    font-size: 30px;
    color: green;
    outline: none;
}