<extend name="Main:baseTemplate" />
<block name="style">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/order/css/index.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
<section class="content-header">
    <h1 class="">Voip电话记录</h1>
</section>
<section class="content">
    <div class="row">
        <div class="box box-default">
            <div class="box-body">
                <include file='Order/tel_history'/>
            </div>
        </div>
    </div>
</section>
</block>
