.ht-systemes { border-bottom:1px dotted #f1f1f1;}
.ht-systemes li{ padding:20px; background:#f7f7f7; line-height:20px; margin-bottom:20px}
.ht-systemes li h1{ font-size:14px}

.ht-main dl dt{text-align: center;padding:5px;}
.ht-main dl dd{text-indent: 2em; font-size:14px;}
.ht-system-check{ height:50px; background:#fff; line-height:50px; padding:0 20px; font-size:14px; position:relative; border:1px solid #f1f1f1}
.ht-system-check  input[type=text]{ border:1px solid #ccc; padding-left: 5px; color: #666; height:28px; width:150px; margin-right: 10px;}
.ht-system-check  input[type=button]{ width:70px; height:28px; background:#666; color:#fff; cursor:pointer;}
/************/
.ht-messge-czjl{ overflow:auto; height:700px; padding:10px; border:1px solid #f7f7f7; margin-bottom:20px}
.ht-messge-czjl dt{ font-size:16px; line-height:25px; border-left:2px solid #d1f1ff; padding-left:10px; margin-bottom:10px}
.ht-messge-czjl dd{ color:#888; line-height:20px; padding-left:20px; margin-bottom:20px}
.ht-messge-czjl::-webkit-scrollbar-track{ background:#eee; width:25px}
.ht-messge-czjl::-webkit-scrollbar{ height:10px; width:20px; margin:5px}
.ht-messge-czjl::-webkit-scrollbar-thumb { background:#ccc; margin:1px;  }