body{font-size: 14px;}
.user-table .label{margin-right: 5px;margin-bottom: 5px; float: left; font-size: 14px;}
.user-table tr{border-top: 1px solid #EEE; cursor: pointer;}

select.multiple-city{height:460px;display: block;}