select.multiple-table{min-height: 600px; height: 800px; max-height: 1024px; cursor: pointer; padding:0; padding:5px 0;padding-left: 5px;}
select.multiple-table option{padding:5px 0; margin-left: -5px; padding-left: 20px;}

select.multiple-table option:hover,select.multiple-table option.active{background: #2298EE; color: #FFF;}
.auth-table {border: 1px solid #EEE; border-top: 0; cursor: pointer; margin-bottom: 0; }
.auth-table:first-child{border-top: 1px solid #EEE;}
.auth-table:last-child{margin-bottom: 30px;}
.auth-table:after{clear: both; content: ""; display: block;}
.auth-table dt,.auth-table dd dl dd{padding:5px 10px; color: #666; font-size: 14px;float: left;}

.auth-table dd label{cursor: pointer;}
.auth-table .first-item{width: 100%; border: 1px  dashed #EEE;  border-left:0; border-right: 0; font-weight: bold; font-size: 20px; }
.auth-table .second-item{width: 100%; background: #EEEEFF;}
.auth-table label{cursor: pointer;}
/*.auth-table dt*/
.auth-table input[type=checkbox] {margin-right: 5px;}



.auth-nav .panel-heading{padding: 0;}
.auth-nav .panel-heading a{display: block;padding:10px 15px; font-size: 16px; font-weight: bold;}
.auth-nav .panel-heading a:hover{color: #333; background: #d9d9d9}
.auth-nav .panel-heading a:focus {color: #333;}
.auth-nav .panel-group .panel{border-radius: 0; margin-top: 0; border-bottom: 0;}
.auth-nav .panel-group .panel:last-child{border-bottom: 1px solid #ddd;}
.auth-nav .panel-body{padding:0;}
.auth-nav .list-group{margin:0;}
.auth-nav .list-group-item{border-left:0; border-right: 0; padding:0;}
.auth-nav .list-group-item:first-child{border-top:0 }
.auth-nav .list-group-item:last-child{border-bottom:0 }
.auth-nav .list-group-item a{padding:10px 15px 10px 40px; display: block; color: #666}
.auth-nav .list-group-item a:hover,.auth-nav .list-group-item.active a{background: #3c8dbc; color: #fff;}

.tab-pane .panel-group .panel{border: 0; position: relative;}
.tab-pane .panel-group{margin:0; border: 0;}
.tab-pane .panel-heading{background-color: initial; border: 0; padding: 0; }
.tab-pane .panel-heading a{display: block; padding:10px 25px; font-weight: bold; font-size: 14px; }
.tab-pane input[type=checkbox] {margin-top:2px; margin-right: 5px; vertical-align: top}
.tab-pane .panel-body{padding: 0;}
.auth-menu-list{padding: 10px 35px;}
/*.tab-pane .panel-heading a:focus {color: #333;}
.tab-pane .panel-heading a:hover{color: #333; }*/
.tab-pane .auth-menu-sub {padding:10px 60px;}
.tab-pane .auth-menu-sub-item{display: inline-block; margin-right: 15px;}
.tab-pane .all{position: absolute;left: 5px; top:9px; z-index: 999;}




