#brandlist td{
    vertical-align: middle;
}
.queuelist {
    width: 160px;
    height: 80px;
}
.filelist .file-item {
	width: 150px;
	height: 70px;
}
.form-group .fa-search{
	font-size: 20px;
	padding-top: 6px;
}
.thumb{
	width: 72px;
	height: 48px;
}
.formError .formErrorContent{
	background-color: #f5e79e;
	color:#8a6d3b;
}

.formError .formErrorArrow div{
	background-color: #f5e79e;
	color:#8a6d3b;
}