.fendan-statistics {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-padding-start: 0px;
    display: inline-block;
    padding:0;
    vertical-align: top;
    margin-left: 20px;
}
.fendan-statistics li {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #dddddd;
    text-decoration: none;
    list-style: none;
    float: left;
    vertical-align: top;
}
.activity {
    background: #00c0ef;
    color: white;
}
.fendan-statistics li:hover{
    background: #00c0ef;
    cursor: pointer;
    color: white;
}
.box-header .col-xs-2 button{
    width:85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: none;
    margin-top: 18px;
    color:#fff;
    border-radius:5px;
}
.box-header .col-xs-2 button.research-btn{
    background: #169bd5;
    margin-right:18px ;
}
.box-header .col-xs-2 button.daochu-btn{
    background: #008d4c;
}
#tab2,#tab3{
    display:none;
}
.content .zhushi{
    padding-left: 25px;
    background: #faf4d4;
}
.summary td{
    font-weight: 700;
}