.npoc-tab-wrap {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        margin: 20px 10px;
        border-radius: 5px;
        -webkit-padding-start: 0px;
        display: inline-block;
        padding:0;
        vertical-align: top;
        margin-left: 20px;
    }
    .npoc-tab {
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-left: 1px solid #dddddd;
        text-decoration: none;
        list-style: none;
        float: left;
        vertical-align: top;
    }
    .npoc-tab:first-of-type {
        border-radius: 5px 0 0 5px;
    }
    .npoc-tab:hover {
        background: #00c0ef;
        cursor: pointer;
        color: white;
    }
    .npoc-tab-active {
        background: #00c0ef;
        color: white;
    }
    .table {
        min-width: 1200px !important;
    }
    .table tr td {
        position: relative;
    }
    .table tr td:first-of-type a {
        position: absolute;
        top: 25%;
        right: 5px;
        cursor: pointer;
    }
    .table tr td:nth-of-type(4) i {
        position: absolute;
        top: 25%;
        right: 5px;
        cursor: pointer;
    }
    .btn {
        float: right;
        margin-right: 15px;
    }
    .set-mt16 {
        margin-top: 16px;
    }
    .set-mr16{
        margin-right: 15px;
    }