.style-info{display: block;line-height: 44px;}
.fa{font-size: 18px !important;}
.fa-pencil{margin-right: 10px !important;}
.modal-box{width: 500px;overflow: hidden;margin-left: 140px;}
.modal-box span{width: 80px;display: block;}
.imgtip{color: #ff5659;font-size: 12px;}
.mt20{margin-top: 20px;}
h5{font-weight: bold;padding: 0;margin:0;}
.sel{height: 34px;margin-right: 20px;width: 120px;}
input.sel{padding-left: 10px;width: 200px;}
.btn-list{margin-left: 10px;}
.box-title{line-height: 34px !important;}
.box-body .col-xs-12 h5 {
    margin-bottom: 8px;
}
.mt15{
    margin-top: 15px;
}
.text-msg{width: 40%; float: left;}
.img-msg img{
    width: 220px;
}