.search .head{
  font-weight: bolder;
  background-color: #ecf0f5;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search .head span{
  color: blue;
  cursor: pointer;
}

.searchtitle{
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 10px;
}

.box-btn button{
  margin-right: 20px;
}

.operate span{
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.operate span:last-child{
  margin: 0;
}

.select2-search{
  display: none !important;
}

.modal-footer button{
  padding: 6px 30px;
}