body{font-size: 14px;}
select.select-item{height: 400px;}
#user-group{display: none;}

.tab-group{position: relative;}
.tab-group .tab-text{border: 1px solid #DEDEDE;  height: 34px; padding-left: 10px; background: #FFF;}
.tab-group .tab-text input[type=text]{border: 0 ; height: 100%; width: 100%;}
.tab-group .tab-text input[type=text]:disabled{background: #FFF;}
.tab-group .tab-text button{display: none; position: absolute; right: 40px;top:3px; padding: 3px 20px;}
.tab-group .tab-arrow{position: absolute; right: 10px; top: 5px; z-index: 1002; cursor: pointer;}
.tab-group.active .tab-text{border-bottom: 0; height: 33px;}
.tab-group.active button{display: block;}
.tab-group.active .tab-block{display: block;}
.tab-group .tab-block{display: none; padding:5px 15px; border: 1px solid #DEDEDE;margin-top: 32px; background: #FFF; width:80%;}
.tab-group .tab-tit{padding: 5px 10px;}
.tab-group .tab-tit b {color:#000;font-size:16px;}
.tab-group .tab-content{padding:5px 15px;}
.tab-group .tab-content .checkbox{margin-right: 15px;}
.tab-group .tab-content .checkbox label{line-height: 20px; width:80px; display: block;font-weight: 700;}
.tab-group .tab-content:after{clear: both; content: ""; display: block;}
.tab-group .tab-list {margin:5px 0; }
.tab-group .tab-list li { margin-bottom: 5px; }
.tab-group .tab-list li a{display: block;background: #00ACD6; padding:5px 10px; color: #FFF;}
.tab-group .city{padding-left: 5px; margin-left: -5px; height: 29px; display: inline-block; vertical-align: top; width: 80px;  margin-right: 20px; position: relative;}
.tab-group .city > label{ cursor: pointer; padding:5px; display: block;   width: 80px; height: 28px; }
.tab-group .city .city-list{padding: 5px; z-index: 1001; background: #F3FAFF; border: 1px solid #DEDEDE; display: none; position: absolute; top: 27px;width:500px;}
.tab-group .city.active > label{border: 1px solid #DEDEDE; border-bottom: 0; background: #F3FAFF; width: 80px; position: absolute;top: 0; left: 0; z-index: 1002;}
.tab-group .city.active .city-list{display: block;}
.tab-group .city .city-list.left{left: 0;}
.tab-group .city .city-list.right{right: 0;}
.tab-group .city .city-list label{width: 80px; cursor: pointer; float: left; display: block; }
.tab-group .city .list-all{display: inline-block; width: 100%;vertical-align: top;}
.tab-group .user-content label{width: 220px;}
.tab-group .selectCity {cursor:pointer}

.notice-title{border-width: 1px 0; border-color: #DEDEDE; border-style: solid; padding:10px 15px;}
.notice-body{padding:10px 15px;}



