.width-auto{
    width: auto !important;
}

.main-city{
    width: 80%;
    margin-left: 10px;
    display: block;
    height: 34px;
    margin-top: 9px;
    font-size: 14px;
    border: 1px solid #ccc;
    bottom: 0px;
    border-radius: 4px;
}

.navbar-nav {
    font-size: 16px;
}

.listNav{
    padding-top: 10px;
}

.nav-pills {
    font-size: 16px;
}

.areaList {
    margin-top: 10px;
    left: 0px;
    padding: 0px;
}

.areaList h2 {
    font-size: 16px;
}

.areaList li {
    width: 120px;
    float: left;
    margin-top: 6px;
    margin-right: 6px;
    list-style-type: none;
    overflow: hidden;
    padding: 0.4em 0 0.4em 0.4em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: #E5E5E5 1px solid;
    opacity: .8;
    position: relative;
    left: 2px;
}

.areaList li:hover {
    background-color: #fff;
    border: #333 1px solid;
    color: inherit;
    opacity: .9;
}

.areaList h2,.areaList p {
    background: none;
    padding-bottom: 0;
    margin: 0
}

.areaList a {
    text-decoration: none;
    color: #333
}

.areaList p.last-name {
    color: #333;
}

.areaList p {
    color: #999;
}