
.width_100{width: 100px;}
.width_60{width: 60px;}
.qc-box{ padding:5px; font-size: 12px;}
.qc-header{text-align: center; padding:2px; border-bottom: 1px dashed #666; margin-bottom: 5px;}
.qc-body{padding: 5px; border-right: 1px dashed #666; margin-right: -8px; max-height: 700px; overflow-y: auto; overflow-x: none;}
/*.qc-group{margin-bottom: 5px;}*/
.qc-group:after{content: ""; clear: both;display: block;}
.qc-inline .qc-label{display: inline-block; font-weight: normal;}
.qc-inline .qc-info{margin:0;  display: inline-block; word-wrap:break-word ;}
.qc-inline .qc-select{display: inline-block;}
.qc-inline .qc-list{margin:0;}
.qc-inline .qc-list .qc-item:after{clear:both;content: "";display: block;}
.qc-inline .qc-list .qc-item .checkbox,.qc-inline .qc-list .qc-item .radiobox{margin:0; width: auto; display: inline; }
.qc-inline .qc-list .qc-item .checkbox,.qc-inline .qc-list .qc-item .radiobox-service{margin:0; width: auto; display: inline; }
.qc-inline .qc-list .qc-item .checkbox{margin-left: 20px;max-width: 317px;display: inline-flex;}
.qc-inline .qc-list .qc-item .radiobox,.qc-inline .qc-list .qc-item .radiobox-service{visibility: hidden;}
.qc-inline .qc-control{width: 100%; border: 1px solid #666; display: inline-block;}
.qc-inline .qc-table-box{display: table; width: 100%;}
.qc-inline .qc-table-box .qc-box-cell{display: table-cell;}
.qc-inline .qc-footer{border-top: 1px dashed #666; padding-top: 5px;}
.qc-group .total-score{font-weight:700;margin-top:10px;}
.checkbox label, .radio label{padding-left: 10px; width: auto; display: inline;}
.npoc-tab-wrap {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-padding-start: 0px;
    display: inline-block;
    padding:0;
    vertical-align: top;
    margin-left: 20px;
}
.npoc-tab {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #dddddd;
    text-decoration: none;
    list-style: none;
    float: left;
    vertical-align: top;
    padding: 0 5px;
}
.npoc-tab:first-of-type {
    border-radius: 5px 0 0 5px;
}
.npoc-tab:hover {
    background: #00c0ef;
    cursor: pointer;
    color: white;
}
.npoc-tab-active {
    background: #00c0ef;
    color: white;
}