.width-100{
    width: 100px;
}
.width-50{
    width: 50px;
}
.height-50{
    min-height: 50px;
}
.includerole .btn{
    margin-right: 10px;
    margin-bottom: 10px;
}

.formError .formErrorContent{
    background-color: #f5e79e;
    color:#8a6d3b;
}

.formError .formErrorArrow div{
    background-color: #f5e79e;
    color:#8a6d3b;
}

.mg-2px{
    margin: 2px;
}

.ta-none td{
    text-align: left !important;
}