.left-tree {
	width: 250px;
	height: 600px;
	overflow: auto;
}

.tree {
	width: 250px;
	overflow: auto;
}

.sale-subtitle {
	width: 300px;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	text-align: center;
	padding: 15px;
}

.sale-width-100 {
	width: 100%;
}

.sale-float-right {
	float: right;
}

.sale-float-left {
	float: left;
}

.sale-marginright-20 {
	margin-right: 20px;
}

.sale-marginleft-10 {
	margin-left: 10px !important;
}

.sale-marginright-10 {
	margin-right: 10px;
}

.sale-margintop-20 {
	margin-top: 20px;
}

.sale-marginbottom-20 {
	margin-bottom: 20px;
}

.sale-margintop-50 {
	margin-top: 50px;
}

.sale-margintop-100 {
	margin-top: 100px;
}

.cursor {
	cursor: pointer;
}

.sale-editcity {
	background: white;
	padding-top: 30px;
	height: 300px;
	overflow: auto;
}

.sale-none {
	display: none;
}

.sale-alert {
	background: white;
	overflow: auto;
	text-align: center;
}

.sale-alert-title {
	position: absolute;
	top: 10px;
	left: 10px;
}

.sale-alert-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.sale-alert-radio {
	margin-top: 30px;
	text-align: center;
}

.sale-city-select {
	height: 400px;
	overflow: auto;
	background: white;
}

.sale-cityname-align {
	width: 80px;
}

.sale-border {
	border: 1px solid black;
}

.sale-container {
	display: table;
	height: 100%;
}

.sale-row {
	display: table-cell;
	vertical-align: middle;
}

.table tr td {
	vertical-align: middle !important;
}

.sale-alert-B {
	height: 500px;
	background: white;
	overflow: auto;
	text-align: center;
}

.sale-flex-betweencenter {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.sale-alert-addCity {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -50%;
	border: 1px solid black;
	background: white;
	overflow: auto;
	text-align: center;
	z-index: 999;
}

.reset-padding .col-xs-4 {
	padding: 0 10px 0 0;
	position: relative;
}

.reset-padding .col-xs-4:last-child::after {
	content: '';
	width: 8px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 15px;
	left: -9px;
}

.set-mt16 {
	margin-top: 16px;
}

.set-pos {
	position: absolute;
	right: 0;
	top: 0;
}

.set-rel {
	position: relative;
}

.set-rel .col-xs-2 .col-xs-8,
.set-pos {
	padding: 0;
	cursor: pointer;
}

.set-rel .col-xs-2 i {
	font-size: 20px;
}

.white {
	background: #fff;
}

.set-pos .set-pos-el {
	position: absolute;
	top: 0;
	right: 15px;
}

.sale-unfold-history {
	color: blue;
	cursor: pointer;
}

.sale-alert-full {
	height: 500px;
	background: white;
	overflow: auto;
}

.shade {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	overflow: hidden;
	display: none;
}

.bf-time:before {
	content: '生效日期';
	width: 100px;
	height: 20px;
	position: absolute;
	top: 8px;
	left: -50px;
}

/*.bf-time:after {
	content: '到';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
	right: -10px;
}*/

.bf-city:before {
	content: '会员选择';
	width: 80px;
	height: 20px;
	position: absolute;
	top: 8px;
	left: -50px;
}

.city-first {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: -5px;
}

.bf-city label {
	line-height: 35px;
	margin-right: 20px;
}

.mt20 {
	margin-top: 20px;
}

.city-check div {
	width: 80px;
	float: left;
	margin-right: 10px;
}

.city-check {
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	/* you could also put this in a class */
	-webkit-user-select: none;
	/* and add the CSS class here instead */
	-ms-user-select: none;
	user-select: none;
	/**禁止选中文字*/
}

.sale-overflowhidden {
	width: 110px;
	overflow: hidden;
	padding: 0px;
}

.sale-table {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.sale-city-m {
	text-align: left !important;
}

.sale-city-m button {
	margin: 10px 10px 0 0;
}

.percent-sign {
	position: absolute;
	right: 15px;
	top: 25%;
}

.check-label {
	display: inline-block;
	width: 110px;
}

.judge-input {
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

.sale-gray {
	color: white;
	background: lightgray;
}

.percent-sign {
	position: absolute;
	right: 15px;
	top: 25%;
}

.check-label {
	display: inline-block;
	width: 110px;
}

.judge-input {
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}
/*弹出框*/
.nowrap {
	white-space: nowrap;
}

.oflow {
	overflow: auto;
}

.form-control {
	padding: 2px 6px !important;
}

.select-list .check-label {
	display: inline-block;
	width: 180px;
}

.form-control {
	padding: 2px 6px !important;
}

.nowrap {
	white-space: nowrap;
}

.oflow {
	overflow: auto;
}