html,body{height: 100%;}
.btn-add{display: block; border: 3px dashed #DDD; height: 40px; width: 100%; background: transparent; font-size: 16px; color: #DDD;}
.btn-add i{font-size: 20px; font-style: normal;}

.btn-add:hover{color: #999;border-color: #999;}
.panel-heading {position: relative;}

.tree-menu{height: 100%; border-right: 1px solid #DDD;min-height: 500px;}

.content-menu{min-height: 600px;}

.li-message{
    display: block;
    clear: both;
    padding: 5px 15px;
}

.module{display: none;  position: relative;}
.prev{position: absolute; top: 0; right:100px;}
.panel-module2{top:130px;}
.panel-module3{top:260px;}
