body{
    font-size: 14px;
}
.menu-table a{color: #666;}
.menu-table a:hover{color: #999;}
.menu-table table{width: 100%; color: #666; cursor: pointer;}
.menu-table table td:first-child{text-align: left;}

.menu-table table table{display: none;}
.menu-table table table tr {border-top: 1px dashed #EEE;}
.menu-table table table tr:hover{background: #2298EE; color: #FFF;}
.menu-table table table tr:hover a{color: #FFF;}

.menu-table table table td:first-child{padding: 5px 20px;}
.menu-table table table td:first-child i{margin-left: 12px;}
.menu-table table .third-menu td:first-child { padding-left: 60px; }

.menu-table  tr.expland table{display: block; display: table; width: 100%}


.tree-menu{margin:-15px; max-height: 400px; overflow-y:auto; }
.tree-menu li{padding:5px 15px; cursor: pointer;}
.tree-menu li:hover,.tree-menu li.active{background: #2298EE; color: #FFF; }
.tree-menu .first-item{padding:5px 15px 5px 30px; }
.tree-menu .child-item{padding:5px 15px 5px 50px; }