.cx-select-wrap{
    display: block;
}

.cx-select{
    width: 30%;
    float: left;
}
.cx-select-wrap .mg{
    margin-left: 3%;
}
table{
    min-width: initial !important;
}
.table td ,.table th{
    text-align: left;
}
.recommend-tags button{
    margin-right: 5px;
    margin-top: 5px;
}
.has-error{
    border-color: #dd4b39;
    box-shadow: none;
}

.dibu{
    margin-bottom: 65px;
}
#recommendModel h4{
    text-align: center;
}