.content{min-height: 0;}
.content-header{border-bottom: 1px dashed #ccc;padding-bottom: 10px;}
.section2{border-bottom: 1px dashed #ccc;}
.section3{background: #fff;}
.section3-sel{max-width: 1352px;}
.xs-icon{width: 30px;height: 30px;display: block;float: left; background: url(/assets/home/img/xs-icon.png) no-repeat;background-size: 600%;
vertical-align: middle;
margin-top: -3px;}
.gangwei-icon{background-position: -90px 0;background-size: 600%;vertical-align:middle;margin-top: -3px;}
.zhushi-icon{background-position: 0 -60px;background-size: 600%;vertical-align:middle;margin-top: -3px;float: right;position: relative;cursor: pointer;}
/*新增*/
.zhushi-icon:hover{background-position: -30px -60px;}
.zhushi-icon:hover:before{content: '';}
.position-relative{position: relative;}

.zhushi-icon:before{content: '释';color:#fff;position: absolute;left: 5px;top: 3px;}
.from-list{max-width: 1450px !important;}
.from-list, .search{max-width: 1352px;overflow: hidden;}
.from-list .from-item{float: left;font-size: 13px;margin-right: 20px;margin-top: 20px;}
.from-list .from-item span{width: 66px;text-align: right;display: inline-block;}
.from-list .from-item select{width: 130px;height: 25px;outline: none;}
.from-list .from-item input{width: 130px;height: 25px;outline: none;background-color: #fff;border: 1px solid #ccc;}
.xs-btn{width:84px;height: 25px;line-height: 25px;color: #fff;background-color:#359bed;border:0;font-size: 13px;}
.search-btn{margin-top: 20px;margin-bottom: 20px;}
.todo-item{margin-top: 20px;margin-bottom: 10px;}
.todo-item .xs-btn{margin-right: 16px;}
.table-item-count{font-size: 13px;}
.table-item-count span,.table-item-count a{margin-right: 20px;}
.table-item-count span i{margin: 0 10px;}
.table-item-count a{display: none;}
table{font-size: 13px;}
table thead tr th{background-color: #359bed;color: #fff;font-weight: normal;}
table thead tr th a{color: #fff;}
table thead tr th a:hover{color: #333;}
table thead tr th,table tbody tr td{height: 32px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding: 0;line-height: 32px;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border: 1px solid #ccc;
}
table tbody tr{color: #333;}
table tbody input[type="text"]{width: 80px;line-height: normal;}
table tbody tr td p{margin: 0;}
table tbody tr:nth-child(odd){background-color: #cfeafd;}table tbody tr:nth-child(even){background-color: #eff8ff;}
table tbody tr td .fa{font-size: 18px !important; color: #359bed;}
.fa-pencil{border-bottom: 2px solid;}
tbody tr td div{display: none;}
.new-list td div{display: block;}
.revise i{cursor: pointer;}
/*popbox 弹窗*/
.pop{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,.5) !important;display: none;}
.pop-boxx{width: 430px;height: 310px;background-color: #fff;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.pop-boxx .boxx-header{width: 100%;height: 56px;background-color: #359bed;text-align: center;line-height: 56px;font-size: 20px;color: #fff;position: relative;}
.fa-close{line-height: 56px;position: absolute;right: 15px;color: #000;font-size: 20px;cursor: pointer;}
.boxx-body{margin-top: 36px;color: #000;font-weight: normal;}
.boxx-body input[type="text"]{width: 230px;height: 30px;padding: 5px;}
.boxx-body span{margin-right: 20px;}
.ziduan p{margin-left: 30px;font-size: 13px;color: #aeaeae;margin-top: 5px;}
.ziduan-val{display: none;}
.ziduan-val p{font-size: 13px;margin-top: 4px;}
.boxx-footer .xs-btn:first-child{margin-right: 80px;margin-top: 20px;}
/*注释信息*/
.zhushi-info{width: 640px;padding: 20px;position: absolute;top: 30px;right: 0;display: none;background: #fff;border: 1px solid #ccc;box-shadow: 0 0 5px 0 #ccc;z-index: 5;}
.sel-add-plus label{font-weight: normal;}
.zhushi-info p{margin: 5px 0;}
/*icon图标*/
.bumenxufei-icon{background-position: -150px -60px;background-size: 600%;vertical-align:middle;margin-top: -3px;}
.quankanhyswcl-icon{background-position: -90px -240px;}
.hyfdlmzl-icon{background-position: -120px -120px;}
.csfdlmzl-icon{background-position: -120px -240px;}
.csxfyswcl-icon{background-position: -120px -90px;}
.csxfl-icon{background-position: -150px 0;}
.xfhzsc-icon{background-position: -90px -210px;}
.quankanxfl-icon{background-position:-150px -150px;}
.quankanxfyswcl-icon{background-position:-150px -210px;}
.quankanxqhzsc-icon{background-position:-120px -210px;}
.quankanfdljd-icon{background-position:-150px -120px;}
.chengshixfhzsc-icon{background-position:-120px -31px}
.chengshixqhzsc-icon{background-position:-120px -182px}
.chengshihyswcl-icon{background-position:-150px -240px}
.chengshihyshzsc-icon{background-position:-120px -30px}

/*城市选择插件dom样式修改*/
.search-city{width: 140px;height: 25px;}
.select2-container .select2-choice{height: 25px;line-height: 25px;padding: 0;border: 1px solid rgba(169,169,169,1);}

.timer-tit{float: left;line-height: 25px;display: block;}
.timer-input{width:140px;height:25px;float:left;border-radius:0 !important;border: 1px solid rgba(169,169,169,1);}
.timer-icon{width: 25px;height: 25px;display: block;float: left;line-height: 25px;text-align: center;position: absolute;top:0;right: 0;font-size: 16px;}
.from-item{position: relative;}
.canvas-height-300{height: 300px;}
.width-auto{width: auto !important;}
.oflow{overflow: hidden;}
.max-width-1352{max-width:1352px;}
.redcolor{color: red;}
.mt-20{margin-top: 20px;}
.ml-350{margin-left: 350px;}
.height-45{height: 45px;}
table tbody tr td i.fa-arrow-up{font-size: 14px !important;margin-left: 2px;margin-right: 0 !important;display: none;}
table tbody tr td:hover i.fa-arrow-up{display: inline-block;}
/*销售系统样式修改*/
.box-header{background: #ecf0f5}
.form-horizontal{border-top: 1px dashed #ccc;}
.overflow-x{overflow-x: auto;}
.overflow-box{position: relative;}
.box-footer{;margin-bottom: 20px;}
table#reset-table {display: block;overflow:hidden;border:0;}
table#reset-table .role-hide{display: none;}
table#reset-table thead tr{float: left;}
table#reset-table thead tr th{width: 130px !important;height:45px !important;line-height:23px;display: block;float: left; overflow: hidden;}
table#reset-table tbody tr td{width: 130px !important;height:33px !important;line-height:33px;padding: 0;padding-left:5px;
	display: block;float:left;overflow: hidden;text-align: left !important;line-height: auto !important;
}
.thead1,.thead2{width: 1320px;}
.thead1{display: none;}
.city-list-pop{position: fixed;left: 230px;top:366px;display: none;box-shadow: 3px 0 3px 0 rgba(0,0,0,.2)}
.city-list-pop div{width: 130px;height: 33px;padding-left:5px;border: 1px solid #ccc;border-bottom: 0;background: #fff;line-height: 33px;overflow: hidden;}
.city-list-pop div:last-child{border-bottom: 1px solid #ccc; }
.city-list-pop div:nth-child(odd) {background-color: #cfeafd;}
.city-list-pop div:nth-child(even) {background-color: #eff8ff;}
.select-role{width: 500px !important;}
.select2-container ul li a{display: inline-block;}
.select-role-input input{margin-right: 34px;margin-left: 5px;}
