/*专题导航*/
.zt-head{ height:55px; width:1210px; margin:0 auto}
.zt-head .zt-logo{ height:55px; float:left;}
.zt-head .zt-logo img{ height:55px; width:auto; display:block}
.zt-head .zt-nav{ float:left; line-height:55px}
.zt-head .zt-nav li{ float:left; position:relative}
.zt-head .zt-nav li a{ display:block; padding:0 30px;font-family: "Microsoft Yahei"; font-size:16px;}
.zt-head .zt-nav li.zt-nav-list:after{
    content: "";
    position:absolute;
    top:27px;
    right:15px;
    border-top: 4px solid #333;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;}
.zt-head .zt-nav li.zt-nav-list:hover:after{
    content: "";
    position:absolute;
    top:26px;
    right:15px;
    border-top:0;
    border-bottom: 4px solid #333;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;}
.zt-head .zt-nav li dl{ display:none; position:absolute; left:0; right:0; text-align:center; line-height:40px;z-index: 999999}
.zt-head .zt-nav li dl dd{ background:rgba(255,255,255,.9); margin-top:1px;}
.zt-head .zt-nav li dl dd:hover a{background:rgba(255,83,83,.8); color:#fff}
.zt-head .zt-nav li:hover dl{ display:block}
body{overflow-x: hidden;}
#l-nav{
    width: 200px;
    height: 324px;
    position: fixed;
    bottom: 30%;
    left:1300;
    display: none;
}
@media(min-width: 1650px) {
    #l-nav {
        left: 1480px;
    }
}
#l-nav ul{
    position: absolute;
    right: 0;
    top: 0;
}
#l-nav ul li{
    width: 78px;
    height: 78px;
    line-height:78px;
    border:1px solid #ddd;
    border-radius: 50%;
    display: block;
    margin-top: 3px;
    background:rgba(255,255,255,0.6);
    text-align: center;
    cursor: pointer;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    font-weight: 300;
    position: relative;
}
#l-nav ul li:hover{
    background-color: #de3b40;
}
#l-nav ul li:hover a{
    color: #fff;
}
#l-nav ul li .l-icon{
    width:23px;
    height:12px;
    background: url(../images/top.png) no-repeat;
    position: absolute;
    left: 28px;
    top:15px;
}
#content{
    z-index:-6;
}
.container{
    width:100%;
    margin: 0 auto;
    background: #dd4144;
}
.container .top-pic{
    width: 1600px;
    height: 1090px;
    margin: 0 auto;
    background: url(../images/bg1.jpg) no-repeat;
    background-size: 100%;
}

.container .lis{
    width: 276px;
    height: 178px;
    margin: 0 auto;
    padding-top: 250px;
    /*position: absolute;
    left:825px;
    top:400px;*/
}
.container .lis input.fal{
   margin-bottom: 10px;
}
.container .lis input{
    padding-left:10px;
    width: 246px;
    height: 36px;
    outline: none;
    border:1px red solid;
}

.container .lis .tip{
    border:1px #000 solid;
}


.container .lis img{
    display: block;
    width: 183px;
    height: 73px;
    margin-left: 36px;
    cursor:pointer;
}
.container .lis .lis-p{
    color: #fff;
}
.activity{
    font-size: 25px;
    font-family:"Microsoft YaHei";
    width: 100%;
    height:200px;
    position: relative;
    top:400px;
}
.activity .cntd{
    position: absolute;
    left: 1020px;
    top:18px;
}
.activity .cntn{
    position: absolute;
    left: 1025px;
    top:105px;
}

.activity span{
    display: inline-block;
    width:40px;
    height:60px;
    text-align: center;
    line-height: 60px;
    margin:0 5px;
    display: inline-block;
    background: #FAE9B5;
    box-shadow: 1px 1px 2px 2px #8A8164;
    border-radius:10px;
    font-size: 50px;
    color: #db4245;
}
#content .hls{
    width:100%;
    height:1089px;
    background: #ffecb7;
    margin:0 auto;
}
#content .hls .title1{
    width:100%;
    height:160px;
    margin:0 auto;
}
#content .hls .title1 img{
    width:452px;
    height:69px;
    margin:0 auto;
    padding-top:64px;
    display: block;
}
#content .hls .hls-bg{
    width:1218px;
    height: 830px;
    margin:0 auto;
    background: url(../images/bg2.jpg) no-repeat;
    position: relative;
}
#content .hls .hls-bg .addclick{
    width:44px;
    height:44px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    position: absolute;
}
#content .hls .hls-bg .addclick a{
    display: block;
    padding-top:6px;
}
#content .hls .hls-bg .option1{
    background-color:#e74253;
    left: 304px;
    top:37px;
}

#content .hls .hls-bg .option2{
    background-color: #f29700;
    left: 752px;
    top:37px;
}
#content .hls .hls-bg .option3{
    background-color:#0168b7;
    left: 1144px;
    top:37px;
}
#content .hls .hls-bg .option4{
    background-color:#009845;
    left: 304px;
    top:525px;
}
#content .hls .hls-bg .option5{
    background-color:#e4007e;
    left: 873px;
    top:525px;
}
#content .hls .hls-bg .option1 a{color:#fc9fa9;}
#content .hls .hls-bg .option2 a{color:#ffff01;}
#content .hls .hls-bg .option3 a{color:#3ca6d0;}
#content .hls .hls-bg .option4 a{color:#49bb87;}
#content .hls .hls-bg .option5 a{color:#d58fd8;}
#content .hls .hls-bg .icon{
    width:6px;
    height: 10px;
    position: absolute;
    left: 34px;
    top: 18px;
    background: url(../images/icon.png) no-repeat;
}
#content .hls .hls-bg .option1 .icon{background-position: 0px 0px;}
#content .hls .hls-bg .option2 .icon{background-position: 0px -10px;}
#content .hls .hls-bg .option3 .icon{ background-position: 0px -20px;}
#content .hls .hls-bg .option4 .icon{background-position: 0px -30px;}
#content .hls .hls-bg .option5 .icon{background-position: 0px -40px;}
#content .explain{
    width:100%;
    height: 590px;
    background-color: #fff8e5;
    margin: 0 auto;
}
#content .explain .wave1{
    width:100%;
    height: 9px;
    background: url(../images/wave1.jpg) repeat-x;
}
#content .explain .title2 img{
    width:360px;
    height:69px;
    margin:0 auto;
    padding-top:64px;
    display: block;
}
#content .explain .process{
    width:1218px;
    height: 440px;
    margin:0 auto;
}
#content .explain .process .pro-con{
    width:1024px;
    height:336px;
    padding-top:32px;
}
#content .explain .process p{
    line-height: 55px;
    font-size: 24px;
    font-family: "Microsoft YaHei";
}
.sign{
    text-decoration: underline;
    color: #db4044;
}
#content .explain .process .pro-con img{
    margin: 15px 0 15px 15px;
}
#content .explain .process .pro-con .notes{
    font-size: 14px;
}
#content .explain .wave2{
    width:100%;
    height: 9px;
    background: url(../images/wave2.jpg) repeat-x;
}
#content .ask{
    width:100%;
    height:1480px;
    background-color:#ffecb7;
    margin: 0 auto;
}
#content .ask .title3{
    width:100%;
    height:133px;
}
#content .ask .title3 img{
    width:359px;
    height:69px;
    margin:0 auto;
    padding-top:64px;
    display: block;
}
#content .ask .trouble{
    width:870px;
    height:953px;
    margin: 43px auto;
}
#content .ask .trouble .t-box{
    width:320px;
    height:452px;
    float: left;
    margin-bottom: 25px;

}
.construct,.gift{
    margin-right:230px;
}
#content .ask .trouble .t-box p{
    font-family:"Microsoft YaHei";
    font-size: 20px;
    color:#f42b3d;
    text-align:center;
    margin-bottom: 10px;
}
#content .ask .trouble .t-box span{
    font-size: 13px;
    font-family:"Microsoft YaHei";
    line-height: 30px;
    text-align:center;
    display: block;
}
#content .ask .view{
    width: 100%;
    height: 114px;
    margin: 0 auto;
}
.view-btn,.phone{
    width:196px;
    height: 36px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #fff;
    margin: 4px auto;
    text-align: center;
    line-height: 36px;
    border-radius:5px;
}
#content .ask .view .view-btn a{
    color: #fff;
}
#content .ask .view .view-btn{
    background-color:#ff5353;
    cursor: pointer;
}
#content .ask .view .phone{
    color: #ff5353;
    border: 1px solid #ff5353;
    position: relative;
}
#content .ask .view .phone span{
    margin-left: 20px;
}
#content .ask .view .phone .p-icon{
    width:20px;
    height: 20px;
    position: absolute;
    left: 29px;
    top:7px;
    display: inline-block;
    background: url(../images/phone-icon.png) no-repeat;
}


/*通栏广告*/
.wrap{
    position: relative;
}
 .zb_footer_box_event{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 160px;
     display: none;
     z-index:1000;
 }
.zb_footer_box_event .zb_footer_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);}
.zb_footer_box_event .zb_l_bg{
    position: absolute;
    left: 116px;
    top: -26px;
    width: 748px;
    height: 187px;
    cursor: pointer;
    background: url(../images/baoming.png) no-repeat;
}


.zb_footer_box_event .zb_m_container{
    position: absolute;
    padding: 0 10px;
    right: 107px;
    top: 15px;
}

.zb_footer_box_event .zb_r_qrcode{
    position: absolute;
    right: 80px;
    top: 5px;
}
.zb_footer_box_event .zb_close{
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 20px;
    background: url(../images/close.png) no-repeat;
    width: 44px;
    height: 42px;
}
.zb_footer_box_event_little{
    display: none;
    width: 158px;
    height: 111px;
    position: fixed;
    left: -155px;
    bottom: 50px;
    cursor: pointer;
}
.changebox{
    width: 100%;
}
.changebox ul li{
    display: block;
    width: 100%;
    height: 20px;
}
.changebox ul li span{
float: left;
}
.changebox ul li input{
float: right;
}

.windowbg .edit-text .textarea {
    padding-left: 10px;
    display: block;
    box-sizing: border-box;
    height: 85px;
    width:100%;
    border: 1px solid #dcd8d9;
}

.complain .ok {float:left;width:50%;}
