<div class="windowbg"></div>
<div class="windowbg baojiasq" id="quchujicheng">
    <div class="order-window big-order-window ganxsq3">
        <div class="tit">感谢您的申请！</div>
        <p>
            本服务由齐装网及具有资质合作的装修公司提供，近期申请人数较多，完善以下信息，我们将优先为您服务！
        </p>
        <div class="shutdown"><i class="guanbisheji2"></i></div>
        <div class="order-info">
            <!-- <div class="box-line"><br></div> -->
            <div class="box-line edit-text">
            <div class="edit-half-left">装修面积</div>
                <input type="text" placeholder="请填写房屋面积" name="mianji" class="edit-half-right" value="{$step.order.mianji}" />
                <i class="order-icon">㎡</i>
            </div>
            <div class="box-line edit-text">
                <div class="edit-half-left">预算期望</div>
                <select class="selectbox" name="yusuan">
                    <option value="">请选择不包括家具、电器的预算</option>
                    <volist name="step.yusuan" id="vo">
                        <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
                </select>
            </div>
            <div class="box-line edit-text ">
                <div class="edit-half-left">装修时间</div>
                <select class="selectbox" name="start">
                    <option value="">请选择开工时间</option>
                    <option value="半个月内">半个月内</option>
                    <option value="1个月">1个月</option>
                    <option value="2个月">2个月</option>
                    <option value="3个月">3个月</option>
                    <option value="3个月以上">3个月以上</option>
                    <option value="面议">面议</option>
                </select>
            </div>
            <div class="box-line edit-text">
                <div class="edit-half-left">楼盘名称</div>
                <input type="text" name="xiaoqu" class="edit-half-right" placeholder="填写小区名称以便定位" />
            </div>
            <div class="box-line">
                <div class="err"></div>
            </div>
            <button type="button">马上获取</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('input[name=mianji]').focus();
        $(".windowbg .guanbisheji2").click(function(event) {
            $(".windowbg").remove();
        });

        $(".big-order-window button").click(function(event) {
            var container = $(".big-order-window");
            $(".err").html('');

            if ($("input[name=mianji]", container).val() == '') {
                $(".err").html("您还没有填写面积哦 ^_^!");
                $("input[name=mianji]").addClass('focus').focus();
                return false;
            }
            if (isNaN($("input[name=mianji]", container).val())) {
                $(".err").html("面积只能是纯数字 ^_^!");
                $("input[name=mianji]").addClass('focus').focus();
                return false;
            }
            if ($("input[name=mianji]", container).val()>10000) {
                $(".err").html("面积不能超过10000 ^_^!");
                $("input[name=mianji]").addClass('focus').focus();
                return false;
            }
            $("input[name=mianji]", container).removeClass('focus');

            if ($("select[name=yusuan]", container).val() == '') {
                $(".err").html("您还没有选择装修预算噢 ^_^!");
                $("select[name=yusuan]", container).addClass('focus').focus();
                return false;
            }
            $("select[name=yusuan]", container).removeClass('focus');

            if ($("select[name=start]", container).val() == '') {
                $(".err").html("您还没有选择开工时间噢 ^_^!");
                $("select[name=start]", container).addClass('focus').focus();
                return false;
            }
            $("select[name=start]", container).removeClass('focus');

            if ($("input[name=xiaoqu]", container).val() == '') {
                $(".err").html("您还没有填写楼盘名称哦 ^_^!");
                $("input[name=xiaoqu]", container).addClass('focus').focus();
                return false;
            }
            if(!isNaN($("input[name=xiaoqu]", container).val())){
                $(".err").html("楼盘名称不能为纯数字 ^_^!");
                $("input[name=xiaoqu]", container).addClass('focus').focus();
                return false;
            }
            $("input[name=xiaoqu]", container).removeClass('focus');

            window.order({
                extra:{
                    name:$("input[name=name]", container).val(),
                    xiaoqu:$("input[name=xiaoqu]", container).val(),
                    text:$("textarea[name=text]", container).val(),
                    lx:$("select[name=lx]", container).val(),
                    mianji:$("input[name=mianji]", container).val(),
                    huxing:$("select[name=huxing]", container).val(),
                    fangshi:$("select[name=fangshi]", container).val(),
                    yusuan:$("select[name=yusuan]", container).val(),
                    start:$("select[name=start]", container).val(),
                    orderid:"{$step.orderid}",
                    tel:"{$step.tel}",
                    tpl:'beforesuccess',
                    cs:"{$step.cs}",
                    qx:"{$step.qx}",
                    step:3
                },
                error:function(){
                    container.remove();
                },
                success:function(data, status, xhr){
                    container.remove();
                    if (data.status == 1) {
                        $("body").append(data.data.tmp);
                    }
                },
                validate:function(item, value, method, info){

                   return true;
                }
            });
        });
        if( navigator.userAgent.indexOf("MSIE 8.0") > -1 ){
            $("input[name=mianji]").on("keyup",function () {
                $(this).val($(this).val().replace(/\s+/g,""));
            });
        }else{
            $("input[name=mianji]").on("input",function () {
                $(this).val( $(this).val().replace(/\s+/,"") );
            });
        }
    });
</script>