<link href="{$static_host}/assets/common/css/zxbjnew.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<div class="baojiawaikz">
 <div class="zxbjyinying windowbg"></div>
	<div class="zxbjwaik">
	   <div>
		<span class="newtcclose"></span>
		<div class="midzhongj">
			<div class="fastchuang">
			<img class="zxbjfastimg" src="/assets/common/img/zxnjfast.png" alt="">
			<div class="baojiashow">
				<div class="baojiashow_title">装修总价<span id="total-price" class="total-price">?</span>元</div>
				<div class="bjnewresult firsttop">
					<div class="bjnewresult_left">客厅:<span id="kt-price" class="kt-price">?</span>元</div>
					<div class="bjnewresult_right">卫生间:<span id="wsj-price" class="wsj-price">?</span>元</div>
				</div>
				<div class="bjnewresult">
					<div class="bjnewresult_left">厨房:<span id="cf-price" class="cf-price">?</span>元</div>
					<div class="bjnewresult_right">水电:<span id="sd-price" class="sd-price">?</span>元</div>
				</div>
				<div class="bjnewresult">
					<div class="bjnewresult_left">卧室:<span id="zw-price" class="zw-price">?</span>元</div>
					<div class="bjnewresult_right">其他:<span id="other-price" class="other-price">?</span>元</div>
				</div>
			</div>
		 </div>

		   <div class="fadanright">
		   	  <div class="rowdiv tcarea">
		   	  	 <span class="leftms">所在地区：</span>
		   	  	<div class="chengshidiv">
		   	  	 <select class="xuanz01" name="" id="bj-cs">
		   	  	 	<option value="">请选择</option>
		   	  	 </select>
		   	  	 <select class="xuanz02" name="" id="bj-qy">
		   	  	 	<option value="">请选择</option>
		   	  	 </select>
		   	  	 <div class="valdate-tishi"></div>
		   	  	</div>
		   	  </div>
		   	  <div class="rowdiv mianjitc">
		   	  	 <span class="leftms">房屋面积：</span>
		   	  	 <div class="tcmianji">
	                  <input class="inputysk" name="mianjiqigai" type="text" maxlength="20" placeholder="输入您的房屋面积">
	                  <span class="pingfang">㎡</span>
	                  <div class="valdate-tishi"></div>
                 </div>
		   	  </div>
		   	  <div class="rowdiv shoujitc">
		   	  	 <span class="leftms">手机号码：</span>
		   	  	 <div class="shoujiput">
	                <input class="inputysk" name="shoujiphone" type="text" maxlength="11" placeholder="输入手机号获取报价结果">
	                <div class="valdate-tishi"></div>
	             </div>
		   	  </div>
              <div style="margin-bottom: 20px">
                 <include file="Common@Order/disclamer"/>
              </div>
		   	  <button class="tancniu">立即报价</button>
		   	  <div class="lateservice">稍后客服将在24小时内给您致电，提供后续服务</div>
		   </div>
		</div>

	</div>
</div>
    <script type="text/javascript">
		$(function(){

            var ip_cityid = '{$Think.cookie.iplookup}';
            var city_id = '{$theCityId}';

            (city_id == '') ? cityId = ip_cityid : cityId = city_id;
            if(cityId == ''){
                getLocation();
            }else{
                initCity(cityId);
            }

            function initCity(cityId) {
                App.citys.init("#bj-cs", "#bj-qy", shen, shi, cityId);
            }

            $(".zxbjwaik .newtcclose").click(function(event) {
            	if(navigator.appName == "Microsoft Internet Explorer"){
	            $('.fadanright .tancniu').text("立即报价");
                $('.baojiawaikz').remove();
	        }else{
	            $(".zxbjwaik").addClass('smaller');
	            $(".zxbjyinying").fadeOut(500,function(){
	            $(".baojiawaikz").remove();
	            });
	          }
              return false;

            });


             $('.shoujiput .inputysk').focus(function(){
             	var tcmianji=$.trim($('.tcmianji .inputysk').val());
             	if ($("input[name=mianjiqigai]").val() == "") {
	            $("input[name=mianjiqigai]").focus();
	            $('.tcmianji').children('.valdate-tishi').html("请填写房屋面积噢 ^_^!");
	            return false;
		        }else if($("input[name=mianjiqigai]").val()>1000 || $("input[name=mianjiqigai]").val() <= 0){
		            $("input[name=mianjiqigai]").focus();
		            $('.tcmianji').children('.valdate-tishi').html("房屋面积请输入1-1000之间的数字 ^_^!");
		            return false;
		        }
		        var re = /^[0-9]+(.[0-9]{1,2})?$/gi;
		        if (!re.test($("input[name=mianjiqigai]").val())) {
		            $("input[name=mianjiqigai]").focus();
		            $('.tcmianji').children('.valdate-tishi').html("亲,面积只能填写纯数字 ^_^!");
		            return false;
		        }
		        $('.tcmianji').children('.valdate-tishi').html("");

             })

             $('.shoujiput').on("input propertychange",function(e){
             	var tcshouji=$.trim($('.shoujiput .inputysk').val());
             	if (tcshouji) {
    	            var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                    var reg2 = new RegExp("^174|175[0-9]{8}$");
                    if (!$("input[name=shoujiphone]").val().match(reg)) {
                        $("input[name=shoujiphone]").focus();
                        $('.shoujiput').children('.valdate-tishi').html("请填写正确的手机号码 ^_^!");
                        return false;
                    }
                    if(reg2.test(tcshouji)){
                        $("input[name=shoujiphone]").focus();
                        $('.shoujiput').children('.valdate-tishi').html("请填写正确的手机号码 ^_^!");
                        return false;
                    }
		        }
		        $('.shoujiput').children('.valdate-tishi').html("");
             })



            $('.fadanright .tancniu').click(function(event) {
           	  var tcmianji=$.trim($('.tcmianji .inputysk').val());
           	  var tcshouji=$.trim($('.shoujiput .inputysk').val());

            if ($("input[name=mianjiqigai]").val() == "") {
            $("input[name=mianjiqigai]").focus();
            $('.tcmianji').children('.valdate-tishi').html("请填写房屋面积噢 ^_^!");
            return false;
	        }else if($("input[name=mianjiqigai]").val()>1000 || $("input[name=mianjiqigai]").val() <= 0){
	            $("input[name=mianjiqigai]").focus();
	            $('.tcmianji').children('.valdate-tishi').html("房屋面积请输入1-1000之间的数字 ^_^!");
	            return false;
	        }
	        var re = /^[0-9]+(.[0-9]{1,2})?$/gi;
	        if (!re.test($("input[name=mianjiqigai]").val())) {
	            $("input[name=mianjiqigai]").focus();
	            $('.tcmianji').children('.valdate-tishi').html("亲,面积只能填写纯数字 ^_^!");
	            return false;
	        }

	        if (tcshouji == "" || tcshouji.length == 0) {
            $("input[name=shoujiphone]").focus();
            $('.tcmianji').children('.valdate-tishi').html("");
            $('.shoujiput').children('.valdate-tishi').html("亲,您还没有填写手机号码!");
            return false;
	        } else {
	            var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
	            var reg2 = new RegExp("^174|175[0-9]{8}$");
	            if (!$("input[name=shoujiphone]").val().match(reg)) {
	                $("input[name=shoujiphone]").focus();
	                $('.shoujiput').children('.valdate-tishi').html("请填写正确的手机号码 ^_^!");
	                return false;
	            }
	            if(reg2.test(tcshouji)){
	            	$("input[name=shoujiphone]").focus();
	            	$('.shoujiput').children('.valdate-tishi').html("请填写正确的手机号码 ^_^!");
	                return false;
	            }
	        }

            if(!checkDisclamer(".fadanright")){
               return false;
            }

            $('.shoujiput').children('.valdate-tishi').html("");
            $('.bjnewresult .bjnewresult_left').addClass('fixwidth');
            $('.bjnewresult .bjnewresult_right').addClass('fixwidth').addClass('leftjvli');
            $('.fastchuang .baojiashow').addClass('boxpadding');

			var data ={
				tel:$("input[name=shoujiphone]").val(),
				fb_type:'baojia',
				cs:$("#bj-cs").val(),
				qx:$("#bj-qy").val(),
				mianji:$("input[name=mianjiqigai]").val(),
				source: 18071331,
				tpl:'zxbjnew',
				step:2
			};
			window.order({
				extra:data,
				error:function(){
				    alert('网络发生错误,请稍后重试！');
				    return;
				},
				success:function(calculatePrice, status, xhr){
                    //清除提示的错误
                    $('.shoujiput').children('.valdate-tishi').html("");
                    $('.tcmianji').children('.valdate-tishi').html("");
                    //DOM加入数据
					if (calculatePrice.status == 1) {
						$('.kt-price').text(Math.round(calculatePrice.data.kt));
						$('.zw-price').text(Math.round(calculatePrice.data.zw));
						$('.wsj-price').text(Math.round(calculatePrice.data.wsj));
						$('.cf-price').text(Math.round(calculatePrice.data.cf));
						$('.sd-price').text(Math.round(calculatePrice.data.sd));
						$('.other-price').text(Math.round(calculatePrice.data.other));
						$('.total-price').text(Math.round(calculatePrice.data.total));
						$('.fadanright .tancniu').text("重新报价");
						$('.fadanright .lateservice').show();

                        // setTimeout(function(){
                        //
						// 	$("body").append(data.data.tmp);
						// 	$(".windowbg").fadeIn(400);
                        //
						// },400)
					}else{
                        alert(calculatePrice.info);
                        return;
					}
				},
				validate:function(item, value, method, info){
					return true;
				}
			});
			//防止表单提交 给一个fasle
			return false;
	   });
    	 })
    </script>