<volist name="info.cases" id="vo">
    <li>
        <a href="http://{:C('MOBILE_DONAMES')}/{$vo.bm}/caseinfo/{$vo.id}.shtml">
            <div class="zhuynr">
                <if condition="$vo['img_host'] EQ 'qiniu'">
                    <div class="imgs-box"><img class="tupdax" alt="{$vo.title}" src="http://{:C('QINIU_DOMAIN')}/{$vo.src}-w640.jpg"></div>
                <else/>
                    <div class="imgs-box"><img class="tupdax" alt="{$vo.title}" src="http://{:C('STATIC_HOST1')}{$vo.img_path}m_{$vo.img}"></div>
                </if>
                <div class="wenzi">{$vo.title}</div>
                <div class="wenzi2">
                    <span class="lfsp">{$vo.writer}<span class="xian">|</span>{$vo.zarea}㎡<span class="xian">|</span>{$vo.zstyle}</span><span class="rtsp">{$vo.zcost}</span>
                </div>
            </div>
        </a>
    </li>
</volist>