.choose .choose-tit{margin:0 auto;font-size:1em;text-align:center;}
.choose .choose-list{width: 100%;font-size:12px;margin:15px;}
.choose .choose-list p{margin-bottom: 10px;}
.remarks .remarks-tit{font-size:12px;margin-bottom: 10px;}
.remarks .remarks-con{width:96%;height: 8em;padding:5px;resize: none;outline: none;color: #969696;}
.btn{width: 94.1%;height:3em;background: #EF4646;margin:0 auto;display: block;outline: none;border: none;font-size: 16px;color:#fff;font-family: "Microsoft YaHei";}