<extend name="Main:baseTemplate"/>
<block name="style">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/erp/css/erpedit.css?v={:C('STATIC_VERSION')}">
</block>


<block name="content">
    <section class="content-header">
        <h4 class="big_title">

			<if condition="$pageType EQ 3">
				ERP账号续费
			</if>

			<if condition="$pageType EQ 5">
				查看ERP账号
			<else/>
				编辑ERP账号
			</if>

			</h4>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <form action="">
                             <div class="row">
                             	<div class="bottomborwk">
	                            	<div class="hangwaik jianju_gongs">
	                            		<div class="gongsjianjiewk01">
	                            			<span class="hangwaik_title">公司简称：</span>
		                            		<input class="jiajie_val form-control" type="text" value="{$info.jc}"  maxlength="6" disabled="disabled">
		                            		<div class="tishi jiajie_tishi"></div>
	                            		</div>
	                            		<div class="gongsjianjiewk02">
	                            			<span class="hangwaik_title">公司ID：</span>
		                            		<input class="gongshiid_val form-control" name="id" type="text" value="{$info.id}"  disabled="disabled" maxlength="12">
											<input type="hidden" name="old_type" value="{$info.type}">
											<input type="hidden" name="time_id" value="{$info.time_id}">
											<div class="tishi gongshiid_tishi"></div>
	                            		</div>

	                            	</div>
	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">所属城市：</span>
	                            		<select class="select2" id="city" name="city"  disabled="disabled">
		                                    	<option value="1">请选择</option>
												<volist name="city" id="vo">
													<if condition="$info['cs'] EQ $vo['cid']">
														<option value="{$vo.cid}" selected>{$vo.cname}</option>
														<else/>
														<option value="{$vo.cid}">{$vo.cname}</option>
													</if>
												</volist>
		                                 </select>
		                                 <span class="red_xing hideyc">*</span>
		                                 <div class="tishi city_tihsi"></div>
	                            	</div>
	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">登录账号：</span>
	                            		<input class="logname_val form-control" type="text"  maxlength="18" value="{$info.account}" disabled="disabled">
	                            		<span class="red_xing hideyc">*</span>
	                            		<div class="tishi logname_tishi"></div>
	                            	</div>
									<if condition="($pageType EQ 2) AND ($info['type'] EQ 1 OR $info['type'] EQ 11 OR $info['type'] EQ 12 OR $info['type'] EQ 13)"> <!--待审核 编辑-->
										<div class="hangwaik jianjureset">
											<span class="hangwaik_title">登录密码：</span>
											<span class="resetmm">重置</span>
										</div>
									</if>

	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">公司全称：</span>
	                            		<input class="companyall form-control" type="text"  maxlength="20" value="{$info.qc}" disabled="disabled">
	                            		<div class="tishi allname_tishi"></div>
	                            	</div>
	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">公司地址：</span>
	                            		<input class="companyaddress form-control" type="text"  value="{$info.dz}" disabled="disabled">
	                            		<div class="tishi address_tishi"></div>
	                            	</div>
	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">联系人：</span>
										<input class="contact_val form-control" type="text"  value="{$info['contact_name']}" disabled maxlength="6">
	                            		<div class="tishi contact_tishi"></div>
	                            	</div>
	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">联系电话：</span>
										<input class="phone_val form-control" type="text"  maxlength="13" value="{$info['contact_tel']}" disabled>
	                            		<div class="tishi phone_tishi"></div>
	                            	</div>
	                            	<div class="hangwaik">
	                            		<span class="hangwaik_title">微信号：</span>
										<input class="weixin_val form-control" type="text"  maxlength="20" value="{$info['contact_wx']}" disabled>

										<div class="tishi weixin_tishi"></div>
	                            	 </div>
	                            	 <!--<div class="hangwaik">-->
										 <!--<if condition="$info['type'] neq 1">-->
											 <!--<span class="savebaocun">保存</span><a href="/yxb/index/" class="canquxiao">返回</a>-->
										 <!--</if>-->
	                            	 <!--</div>-->
	                             </div>
	                             <div class="niufootwk">
	                             	 <div class="hangwaik jianjv_time">
	                             	 	<span>有效日期：</span>
	                             	 	<div class="datedwwk">
											<input type="hidden" name="type" value="{$info.type}">
											<switch name="pageType">
												<case value="3">
													<input type="text" class="datepicker time_start form-control" placeholder="请选择有效时间">
												</case>
												<case value="4">
													<input type="text" class="datepicker time_start form-control" placeholder="请选择有效时间" value="{$info['start_time']}">
												</case>
												<default />
												<input type="text" class="datepicker time_start form-control" placeholder="请选择有效时间"  value="{$info['start_time']}" disabled>
											</switch>

											<i class="fa fa-calendar" aria-hidden="true"></i>
	                             	 	</div><span class="jiangebj">~</span><div class="datedwwk">
											 <switch name="pageType">
												 <case value="3">
													 <input type="text" class="datepicker time_end form-control" placeholder="请选择有效时间">
												 </case>
												 <case value="4">
													 <input type="text" class="datepicker time_end form-control" placeholder="请选择有效时间"   value="{$info['end_time']}">
												 </case>
												 <default />
												 <input type="text" class="datepicker time_end form-control" placeholder="请选择有效时间"  value="{$info['end_time']}" disabled>
											 </switch>

											 <i class="fa fa-calendar" aria-hidden="true"></i>
	                             	 	</div><span class="red_xing">*</span>
										 <if condition="$pageType NEQ 3">
											 <div class="totalday">
												 总天数：

												 <empty name="info.sum_day">
													 <span class="daycount">--</span>
													 <else/>
													 <span class="daycount">{$info.sum_day|default='--'}</span>天
												 </empty>
											 </div>
										 </if>
										 <if condition="$pageType NEQ 3">
											 <div class="totalmon">总月数：
												 <empty name="info.sum_month">
													 <span class="monthcount">--</span>
													 <else/>
													 <span class="monthcount">{$info.sum_month|default='--'}</span>个月
												 </empty>
											 </div>
										 </if>

										<if condition="$info['type'] EQ 12 && $pageType EQ 2"> <!--状态是已开通-->
											<div class="moreday">剩余天数：<span class="dayshengyu">{$info.remain_day|default='--'}</span>天</div>
										</if>


										 <div class="date_tishi">
	                             	 		<div class="tishi riqitishi01"></div>
	                             	 		<div class="tishi riqitishi02"></div>
	                             	 	</div>
	                             	 </div>
									 <if condition="$pageType EQ 1"> <!--状态是待审核时显示-->
										 <div class="hangwaik remarksbz">
											<span class="hangwaik_title">备注：</span>
											<textarea class="form-control" name="remark" id="" cols="30" rows="10" maxlength="150" onchange="this.value=this.value.substring(0, 150)" onkeydown="this.value=this.value.substring(0, 150)" onkeyup="this.value=this.value.substring(0, 150)"></textarea>
										 </div>
									 </if>
	                             	 <div class="hangwaik createbox">
	                             	 	 <span class="createniu">创建</span><span class="cancelniu">取消</span>
	                             	 </div>
	                             	 <div class="hangwaik stoptingzhi">
										 <if condition="$pageType NEQ 5"> <!--审核-->

											 <switch name="pageType">
												 <case value="2">
													 <if condition="($info['type'] EQ 11) OR ($info['type'] EQ 12) OR ($info['type'] EQ 13) OR ($info['type'] EQ 4)">
														 <span class="stopzz">终止</span>
														 <else/>
														 <span class="cancelapply">取消申请</span>
													 </if>
												 </case>
												 <case value="3">
													 <span class="xufei">申请开通</span>
												 </case>
												 <case value="4">
													 <span class="applykaitong">申请开通</span>
												 </case>
													 <default />
											 </switch>

											 <span class="cancelniu2">取消</span>
										</if>
	                             	 </div>
	                             </div>
                             </div>
                        </form>
                    </div>

                </div>
                <div class="box border_top">

                    	<div class="historywk">
							<div class="historywk_title">
								<if condition="($info['type'] EQ 11) OR ($info['type'] EQ 12) OR ($info['type'] EQ 13) OR ($info['type'] EQ 4)">
									<span class="tabqiehuan tabcurr">开通记录</span>
									<else/>
									<span class="tabqiehuan tabqiehuan01 tabcurr">申请记录</span>
									<span class="tabqiehuan">开通记录</span>
								</if>
							</div>
                    		<div>

								<div class="historybox historybox1">
									<volist name="logList" id="vo">
										<div class="jiluhang">
											<div class="clearfudong">
												<i class="circlepic"></i>
												<div class="history_date">{$vo.time}</div>
												<div class="namecaozuo"><span class="caozuoren">{$vo.name}</span><span>{$vo.action}</span></div>
												<div class="caozuotype">{$vo.status}</div>
												<notempty name="vo.remark">
													<div class="divremark">{$vo.remark}</div>
												</notempty>
											</div>
										</div>
									</volist>
								</div>


                            <div class="historybox historybox2">
                    		    <table class="table" id="tablelist">
                    		    	<thead>
                    		    		<tr>
                    		    			<th>序号</th>
                    		    			<th>ERP状态</th>
                    		    			<th>有效日期-开始</th>
                    		    			<th>有效日期-结束</th>
                    		    			<th>总天数</th>
                    		    		</tr>
                    		    	</thead>
                    		    	<tbody>
									<volist name="timeList" key="k" id="vo">
										<tr>
											<td>{$k}</td>
											<switch name="vo.type" >
												<case value="1"><td>待审核</td></case>
												<case value="3"><td class="yanse_red">驳回</td></case>
												<case value="4"><td  class="yanse_red">已终止</td></case>
												<case value="11"><td class="yanse_yelleow">未生效</td></case>
												<case value="12"><td class="yanse_success">已开通</td></case>
												<case value="13"><td  class="yanse_red">已到期</td></case>
												<default /><td>未开通</td>
											</switch>
											<td>{$vo.start_time}</td>
											<td>{$vo.end_time}</td>
											<td>{$vo.sum_day}</td>
										</tr>
									</volist>
                    		    	</tbody>
                    		    </table>
                    	     </div>
                    	    </div>

                    	</div>



                </div>
				<if condition="$pageType EQ 5"> <!--查看-->
					<div class="hangwaik fanhuibot">
						<span class="cancelniu2"><a href="/yxb/examine/">返回</a></span>
					</div>
				</if>
            </div>
        </div>

         <div class="successyingy"></div>
        <div class="successbox">
       	  <div class="successbox_title">
       	  	 <i class="fa fa-check-circle" aria-hidden="true"></i>ERP账号创建成功！
       	  </div>
       	  <div class="successbox_title2">系统已自动生成初始密码。</div>
       	  <div class="passwordbox">初始密码：<span id="mimatext">xxx</span><span class="copyfuzhi" onclick="copyUrl2()">复制</span></div>
       	  <div class="surebox"><input type="button" class="surequed" disabled="disabled" value="确定" /></div>
       </div>

       <div class="caozuotank">
       	  <div class="caozuotank_waik"><span class="sure_title">确认框</span><i class="fa fa-close" aria-hidden="true"></i></div>
       	  <div class="caozuobox">确定要终止吗？</div>
       	  <div class="tancfootwk">
       	  	 <span class="tanchuang_sure">确定</span><span class="tanchuang_cancel">取消</span>
       	  </div>
       </div>

       <div class="caozsuccesswk">
	       	<div class="caozsuccesswk_title">
	       	  	 <span class="successpicbj"></span><span class="successmiaos"></span>
	       	</div>
       </div>
    </section>
</block>

<block name="script">
	<script>
		var tiao = '{$tiao}';
	</script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{:C('168NEW_URL')}/assets/home/erp/js/erpedit.js?v={:C('STATIC_VERSION')}"></script>

</block>