<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/plugins/daterangepicker/daterangepicker.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" media="all" href="{:C('168NEW_URL')}/assets/home/yy/css/daterangepicker-bs3.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/home/erp/css/common.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/home/erp/css/order.css?v={:C('STATIC_VERSION')}">

</block>
<block name="content">
    <section class="content-header">
        <div class="box-header">
            <h4>ERP装修订单</h4>
        </div>
        <div class="box box-body">
            <div class="row">
                <form id="dataform"  method="get">
                    <div class="col-xs-12 mb20">
                        <div class="w25 fl">
                            <span>所属城市：</span>
                            <select name="city"  class="select2">
                                <option value="">请选择</option>
                                <volist name="city" id="vo">
                                    <if condition="$_GET['city'] EQ $vo['cid']">
                                        <option value="{$vo.cid}" selected>{$vo.cname}</option>
                                        <else/>
                                        <option value="{$vo.cid}">{$vo.cname}</option>
                                    </if>
                                </volist>
                            </select>
                        </div>
                        <div class="w25 fl">
                            <span>装修订单编号：</span>
                            <input type="text" name="qz_order_id" placeholder="请输入装修订单编号" value="{$Think.get.qz_order_id}">
                        </div>
                        <div class="w25 fl">
                            <span>ERP单号：</span>
                            <input type="text" name="order_id" placeholder="请输入ERP订单编号" value="{$Think.get.order_id}">
                        </div>
                        <div class="w25 fl">
                            <span>订单类型：</span>
                            <select name="ordersource" >
                                <option value="">请选择</option>
                                <volist name="type.orderSource" id="vo">
                                    <if condition="$_GET['ordersource'] EQ $key">
                                    <option value="{$key}" selected>{$vo}</option>
                                        <else/>
                                        <option value="{$key}">{$vo}</option>
                                        </if>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 mb20">
                        <div class="w25 fl">
                            <span>订单状态：</span>
                            <select name="orderstatus" >
                                <option value="">请选择</option>
                                <volist name="type.orderStatus" id="vo">
                                    <if condition="$_GET['orderstatus'] EQ $key">
                                    <option value="{$key}" selected>{$vo}</option>
                                        <else/>
                                        <option value="{$key}">{$vo}</option>
                                    </if>
                                </volist>
                            </select>
                        </div>
                        <div class="w25 fl">
                            <span>施工状态：</span>
                            <select name="shigongstatus" id="">
                                <option value="">请选择</option>
                                <volist name="type.shiGongStatus" id="vo">
                                    <if condition="$_GET['shigongstatus'] EQ $key">
                                    <option value="{$key}" selected>{$vo}</option>
                                        <else/>
                                        <option value="{$key}">{$vo}</option>
                                        </if>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 mb20">
                        <div class="w50 fl">
                            <span class="fl">分单时间：</span>
                            <div class="start fl">
                                <input type="text" name="fa-start-time" class="fa-start-time" value="{$Think.get.fa-start-time}"><i class="fa fa-calendar"></i>
                                <input type="hidden" value="" class="fadan-start-time">
                            </div>
                            <i class="fl to">~</i>
                            <div class="end fl">
                                <input type="text" name="fa-end-time" class="fa-end-time" value="{$Think.get.fa-end-time}"><i class="fa fa-calendar"></i>
                                <input type="hidden" value="" class="fadan-end-time">
                            </div>

                        </div>
                        <div class="w50 fl">
                            <span class="fl">接单时间：</span>
                            <div class="start fl">
                                <input type="text" name="jie-start-time" class="jie-start-time" value="{$Think.get.jie-start-time}"><i class="fa fa-calendar"></i>
                                <input type="hidden" value="" class="jiedan-start-time">
                            </div>
                            <i class="fl to">~</i>
                            <div class="end fl">
                                <input type="text" name="jie-end-time" class="jie-end-time" value="{$Think.get.jie-end-time}"><i class="fa fa-calendar"></i>
                                <input type="hidden" value="" class="jiedan-end-time">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="fr">
                            <div class="search btn fl">搜索</div>
                            <div class="reset btn fl">重置</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table-hover ">
                        <thead>
                            <tr>
                                <th class="relative">
                                    <div>
                                        <span>ERP单号</span>
                                        <if condition="$_GET['ordertype'] eq 1 and $_GET['order'] eq 1">
                                            <i class="fa fa-sort-asc" data-type="1"  data-order="{$ordertype[1]|default=1}"></i>
                                            <else/>
                                            <i class="fa fa-sort-desc" data-type="1"  data-order="{$ordertype[1]|default=1}"></i>
                                        </if>

                                    </div>
                                </th>
                                <th class="relative bianhao">
                                    <div >
                                        <span>装修订单编号</span>
                                        <if condition="$_GET['ordertype'] eq 2 and $_GET['order'] eq 1">
                                            <i class="fa fa-sort-asc" data-type="2"  data-order="{$ordertype[2]|default=1}"></i>
                                            <else/>
                                            <i class="fa fa-sort-desc" data-type="2"  data-order="{$ordertype[2]|default=1}"></i>
                                        </if>
                                    </div>
                                </th>
                                <th>
                                    业主姓名
                                </th>
                                <th>
                                    所属城市
                                </th>
                                <th>
                                    装修公司
                                </th>
                                <th>
                                    订单类型
                                </th>

                                <th class="relative">
                                    <div>
                                        <span>分单时间</span>
                                        <if condition="$_GET['ordertype'] eq 5 and $_GET['order'] eq 1">
                                            <i class="fa fa-sort-asc" data-type="5"  data-order="{$ordertype[5]|default=1}"></i>
                                        <else/>
                                            <i class="fa fa-sort-desc" data-type="5"  data-order="{$ordertype[5]|default=1}"></i>
                                        </if>
                                    </div>
                                </th>

                                <th class="relative">
                                    <div>
                                        <span>接单时间</span>
                                        <if condition="$_GET['ordertype'] eq 3 and $_GET['order'] eq 1">
                                            <i class="fa fa-sort-asc" data-type="3"  data-order="{$ordertype[3]|default=1}"></i>
                                            <else/>
                                            <i class="fa fa-sort-desc" data-type="3"  data-order="{$ordertype[3]|default=1}"></i>
                                        </if>
                                    </div>
                                </th>
                                <th class="relative">
                                    <div>
                                        <span>量房时间</span>
                                        <if condition="$_GET['ordertype'] eq 4 and $_GET['order'] eq 1">
                                        <i class="fa fa-sort-asc" data-type="4"  data-order="{$ordertype[4]|default=1}"></i>
                                            <else/>
                                        <i class="fa fa-sort-desc" data-type="4"  data-order="{$ordertype[4]|default=1}"></i>
                                        </if>
                                    </div>
                                </th>
                                <th>
                                    订单状态
                                </th>
                                <th>施工状态</th>

                            </tr>
                        </thead>
                        <tbody>

                        <volist name="list" id="vo">
                            <tr>
                                <td><a href="/yxb/orderdetail/?id={$vo.order_no}&cid={$vo.company_id}" target="_blank">{$vo.order_no}</a></td>
                                <td>{$vo.qz_order}</td>
                                <td>{$vo.consumer_name}</td>
                                <td>{$vo.cname}</td>
                                <td>{$vo.company_name}</td>
                                <td>{$vo.source}</td>
                                <td>{$vo.add_time}</td>
                                <td>{$vo.reception_time}</td>
                                <td>{$vo.follow_time}</td>
                                <td>{$vo.state}</td>
                                <td>{$vo.build_state|default='--'}</td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                    <div class="data-num clearfix">
                       {$page}
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
<script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
<script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
<script src="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/jquery.dataTables.js?v={:C('STATIC_VERSION')}"></script>
<script src="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/dataTables.bootstrap.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/plugins/daterangepicker/moment.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/plugins/daterangepicker/daterangepicker.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{:C('168NEW_URL')}/assets/home/erp/js/order.js?v={:C('STATIC_VERSION')}"></script>
</block>