html,body{color: #333;font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
.ruzhuban{width: 100%;height:1.615rem;background: url(/assets/mobile/special/CompanyConsult/img/ruzhubanner.jpg) no-repeat center center;
background-size: 100% 100%;position: relative;}
.ruzhuban .sqruzniu{width:0.769rem;height:0.23rem;position: absolute;left: 0;right: 0;top: 1.2rem;margin:auto;
}
.kunjingwk{width: 100%;height: 0.64rem;line-height:0.64rem;background: #fff;}
.kunjingwk_title{text-align: center;font-size: 0.162rem;}
.kunjingwk_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.kunjingbj{width: 94.6%;height:1.55rem;margin: auto;background: url(/assets/mobile/special/CompanyConsult/img/kunjingpic.jpg) no-repeat center center;
background-size: 100% 100%;margin-bottom: 0.299rem;}
.getwaik{width: 100%;height:3.705rem;background: #f0f6fa;overflow: hidden;}
.getwaik .getwaik_title{text-align: center;font-size: 0.162rem;margin-top: 0.282rem;}
.getwaik .getwaik_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.getwaik .getnr{width: 89.3%;margin: auto;margin-top: 0.17rem;overflow: hidden;}
.getwaik .getnr .leftpic{width: 1.367rem;height: 1.367rem;float: left;
	background: url(/assets/mobile/special/CompanyConsult/img/getpic01.jpg) no-repeat center center;
background-size: 100% 100%;position: relative;text-align: center;}
.beijingtpic{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: absolute;top: 0;left: 0;background: #000\0 !important;
filter:alpha(opacity=70) !important;}
.getnr .leftpic .leftpic_ms01{font-size:0.119rem;color:#fff;position: relative;z-index: 9;margin-top: 0.47rem;}
.getnr .leftpic .leftpic_ms02{font-size:0.214rem;color:#ffab40;position: relative;z-index: 9;margin-top: 0.056rem;}
.getwaik .getnr .rightpic{width: 1.367rem;height: 1.367rem;float: right;
	background: url(/assets/mobile/special/CompanyConsult/img/getpic02.jpg) no-repeat center center;
background-size: 100% 100%;position:relative;text-align: center;}
.getnr .rightpic .rightpic_ms01{font-size:0.119rem;color:#fff;position: relative;z-index: 9;margin-top: 0.47rem;}
.getnr .rightpic .rightpic_ms02{font-size:0.214rem;color:#ffab40;position: relative;z-index: 9;margin-top: 0.056rem;}
.getwaik .getnr .cleardiv{clear: both;}
.getwaik .getnr .dingdansypic{width: 100%;height: 1.196rem;background: url(/assets/mobile/special/CompanyConsult/img/getpic03.jpg) no-repeat center center;
background-size: 100% 100%;position:relative;clear: both;margin-top: 0.128rem;overflow: hidden;text-align: center;}
.getnr .dingdansypic .dingdansypic_ms01{font-size:0.119rem;color:#fff;position: relative;z-index: 9;margin-top: 0.41rem;}
.getnr .dingdansypic .dingdansypic_ms02{font-size:0.214rem;color:#ffab40;position: relative;z-index: 9;margin-top: 0.056rem;}
.ldyouswk{width: 100%;background: #fff;overflow: hidden;}
.ldyouswk .ldyouswk_title{text-align: center;font-size: 0.162rem;margin-top: 0.282rem;}
.ldyouswk .ldyouswk_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.ldyouswk .youshibj{width: 94.6%;height:1.64rem;margin: auto;background: url(/assets/mobile/special/CompanyConsult/img/youshipic.png) no-repeat center center;
background-size: 100% 100%;margin-bottom: 0.299rem;margin-top: 0.213rem;}
.joinjiaru{width: 100%;height: 3.41rem;background: #f0f6fa;overflow: hidden;}
.joinjiaru .joinjiaru_title{text-align: center;font-size: 0.162rem;margin-top: 0.282rem;}
.joinjiaru .joinjiaru_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.joinjiaru .tablewaik{width: 96.4%;overflow: hidden;display: block;margin: auto;margin-top: 0.213rem;}
.joinjiaru .tablewaik li{width: 50%;float: left;height: 0.3rem;line-height:0.3rem;background: #fff;color: #ffab40;
font-size: 0.086rem;padding-left: 0.085rem;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.joinjiaru .tablewaik li.item01{background: #ffab40 !important;color: #fff !important;font-size: 0.119rem;}
.joinjiaru .tablewaik li.item02{background: #1e88e5 !important;color: #fff !important;font-size: 0.119rem;}
.joinjiaru .tablewaik li.item03{background: #fff5e8 !important;}
.joinjiaru .tablewaik li.item04{background: #e5f3ff !important;color: #1e88e5 !important;}
.joinjiaru .tablewaik li.item06{color: #1e88e5 !important;}
.joinjiaru .tablewaik li.item07{line-height: normal;background: #fff5e8 !important;padding-top: 0.04rem;
box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.joinjiaru .tablewaik li.item08{background: #e5f3ff !important;color: #1e88e5 !important;}
.joinjiaru .tablewaik li.item10{line-height: normal;padding-top: 0.04rem;color: #1e88e5 !important;
box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.joinjiaru .tablewaik li.item11{background: #fff5e8 !important;}
.joinjiaru .tablewaik li.item12{background: #e5f3ff !important;color: #1e88e5 !important;}
.joinjiaru .tablewaik li.item14{line-height: normal;padding-top: 0.04rem;color: #1e88e5 !important;
box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.joinjiaru .tablewaik li.item15{background: #fff5e8 !important;}
.joinjiaru .tablewaik li.item16{background: #e5f3ff !important;color: #1e88e5 !important;}
.cooperationwk{width: 100%;height:2.136rem;overflow: hidden;}
.cooperationwk .cooperationwk_title{text-align: center;font-size: 0.162rem;margin-top: 0.282rem;}
.cooperationwk .cooperationwk_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.lunbosw{width: 96.4%;margin: auto;}
.ulwaik{overflow: hidden;}
.ulwaik li{width: 0.538rem;height:0.32rem;vertical-align: middle;display: inline-block;float: left;margin-right: 0.0854rem;
margin-top: 0.128rem;overflow: hidden;}
.ulwaik .liitem05,.ulwaik .liitem10,.ulwaik .liitem15{margin-right: 0 !important;}
.ulwaik li img{width: 100%;height: 100%;vertical-align:middle;}
.ruzhulc{width: 100%;height: 1.47rem;background: #f0f6fa;overflow: hidden;}
.ruzhulc .ruzhulc_title{text-align: center;font-size: 0.162rem;margin-top: 0.282rem;}
.ruzhulc .ruzhulc_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.ruzhulc .ulliuc{overflow: hidden;width: 96.4%;margin: auto;}
.ulliuc .hezlcpicbj{width: 100%;height: 0.3247rem;background: url(/assets/mobile/special/CompanyConsult/img/heuolcpic.jpg) no-repeat center center;
background-size: 100% 100%;margin-top: 0.1rem;}
.ruzhulc .ulliuc li{display: inline-block;float: left;margin-right: 0.16rem;margin-top: 0.085rem;
font-size: 0.12rem;color: #1a8be7;}
.ruzhulc .ulliuc li.lcms05{margin-right: 0 !important;}
.joinqiz{width: 100%;height:3.205rem;background: url(/assets/mobile/special/CompanyConsult/img/footbjpic.jpg) no-repeat center center;
background-size: 100% 100%;position: relative;overflow: hidden;}
.joinqiz .footbjtm{width: 100%;height: 100%;background: rgba(0,0,0,0.6);position: absolute;top: 0;left: 0;background: #000\0;
filter:alpha(opacity=60) !important;}
.joinqiz .joinqiz_title{text-align: center;font-size: 0.162rem;margin-top: 0.282rem;position: relative;
z-index: 9;color: #fff;}
.joinqiz .joinqiz_title span{color: #ff5353;font-size:0.222rem;font-style: italic;font-weight: bold;}
.joinqiz .fadanwk{width: 96.4%;margin: auto;position: relative;z-index: 9;}
.joinqiz .fadanwk .divhang{overflow: hidden;margin-top: 0.0854rem;}
.joinqiz .fadanwk .divhang .biaotifd{display: inline-block;width: 0.512rem;height: 0.299rem;line-height: 0.299rem;
float: left;color: #fff;font-size: 0.111rem;margin-right: 8px;}
.fadanwk .divhang .biaotifd span{color: #ff5353;}
.fadanwk .divhang  .textshuru{width: 2.495rem;height: 0.299rem;float: left;border-radius: 5px;
outline: none;border: 0;text-indent: 0.5em;font-size: 0.111rem;}
.fadanwk .divhang .xuanzcity{width: 2.495rem;height: 0.299rem;float: left;border-radius: 5px;
outline: none;border: 0;}
.fadanwk .divhang .nosearch{text-align: right;text-decoration: underline;color: #fff;font-size:0.109rem;}
.fadanwk .divhang .textshurucity{width: 2.495rem;height: 0.299rem;float: right;border-radius: 5px;
outline: none;border: 0;text-indent: 0.5em;font-size: 0.111rem;display: none;}
.fadanwk .ruzhushenqniu{width: 100%;height: 0.299rem;line-height: 0.299rem;text-align: center;
color: #fff;font-size: 0.111rem;background: #ff5353;border-radius: 5px;margin-top: 0.085rem;}
.joinhezuo{font-size: 0.111rem;color: #fff;text-align: center;margin-top: 0.0845rem;}
.divhang .c-zb-city{width: 2.495rem;height: 0.299rem;float: left;border-radius: 5px;
outline: none;border: 0;font-size: 0.111rem;}
.chenggyy{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin: auto;z-index: 11;display: none;}
.chenggong{width: 2.277rem;height:1.068rem;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
background: #fff;z-index: 99;border-radius: 5px;overflow: hidden;text-align: center;display: none;}
.chenggong img{width: 1.235rem;height: 0.235rem;margin: auto;margin-top: 0.277rem;}
.chenggong .chenggms{font-size: 0.104rem;margin-top: 0.128rem;}