<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{$cityinfo.name}装修招标_{$cityinfo.name}装修报价_{$cityinfo.name}免费装修设计 - {$cityinfo.name}齐装网</title>
    <meta name="keywords" content="{$cityinfo.name}装修招标,{$cityinfo.name}装修报价,{$cityinfo.name}装修报价单" />
    <meta name="description" content="齐装网是国内领先的专业的家装、公装项目招标平台，业主可以在齐装网免费发布装修招标，提供{$cityinfo.name}装修招标、{$cityinfo.name}装修报价，免费为业主提供4份室内装修设计方案与报价，让您装修省钱省力更省心！" />
    <link rel="canonical" href="http://{$cityinfo.bm}.qizuang.com/zhaobiao/"/>
    <include file="Index:css_resource" />
    <link rel="stylesheet" type="text/css" href="/assets/home/zb/css/newzb.css?v={:C('STATIC_VERSION')}" />
    <include file="Index:base_javascript" />
</head>
<body>
    <include file="Index:header" />
    <div class="zb-bg1">
        <div class="wrap">
            <div id="tab1" class="zb-bg1-bg">
                <div class="order-box validate">
                    <h3>免费设计与报价</h3>
                    <h2>
                    <span style="color:#ff5659">4套</span>设计全面PK，让你的装修决不后悔</h2>
                    <div class="box-line">
                      <input class="edit-text" name="name" type="text" placeholder="请输入您的称呼">
                    </div>
                    <div class="box-line">
                      <input class="edit-text" type="text" name="tel" placeholder="请输入您的手机号" maxlength="11">
                      <input type="hidden" name="fb_type" value="sheji">
                    </div>
                    <div class="box-line">
                      <select id="tab-cs" name="cs" class="edit-city">
                      </select>
                    </div>
                    <button id="btnSave" type="button">立即申请</button>
                    <p>已有<strong style="color:#ff5659">{:releaseCount('fbrs')}</strong>位业主领取<a href="http://{:C('QZ_YUMINGWWW')}/zxbj/" target="_blank">智能报价</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="zb-bg2">
        <div class="wrap ofw">
            <div class="zb-tit"><img src="/assets/home/zb/img/title1.png" alt="6步详解装修流程" /></div>
            <div class="zb-bg2-bg"></div>
            <div class="step-tab" id="tab">
                <div class="j-tab-nav">
                    <a href="javascript:void(0);" class="current"><span>01</span><em>前期准备</em></a>
                    <a href="javascript:void(0);"><span>02</span><em>水电改造</em></a>
                    <a href="javascript:void(0);"><span>03</span><em>泥工瓦工</em></a>
                    <a href="javascript:void(0);"><span>04</span><em>表面刷漆</em></a>
                    <a href="javascript:void(0);"><span>05</span><em>设备安装</em></a>
                    <a href="javascript:void(0);"><span>06</span><em>购置软装</em></a>
                </div>
                <div class="tab-con">
                    <div class="j-tab-con">
                        <div class="tab-con-item tt1" style="display:block;">
                            制定预算，确定装修风格，寻找施工团队，甲方代表、乙方施工方、设计师、 监理一起核对现场项目，确认装修细节，签订合同。 到物业办理审批手续
                        </div>
                        <div class="tab-con-item tt2">
                            切割开槽，布设电/水管。进行第一次验收。工期需要3~7天（视改造项目的多少），完工回填时水路需要打压测试，电路需要通电验收
                        </div>
                        <div class="tab-con-item tt3">
                            防水和基层处理会在此阶段交叉进行，瓦工一般工期在7~30天（浮动较大，一些需要拼花斜铺的工期会很长），木工部分现在都做得少，工期一般7~20天。做好同样要验收，包括工程量核对
                        </div>
                        <div class="tab-con-item tt4">
                            包括墙顶面乳胶漆和木器漆（家具的粉饰）部分。此阶段开始前一般需要交纳中期款，按照合同或约定的比例结清之前工程部分的款项
                        </div>
                        <div class="tab-con-item tt5">
                            橱柜、灯具、开关插座面板、室内门、定制的衣柜、五金件、地板、水龙头等基础设备的安装工作。 此阶段做最后一次验收，结清尾款并索要质保单
                        </div>
                        <div class="tab-con-item tt6">
                            根据户型和装修出来的最终效果，定好家具的尺寸和摆放位置，购置相关家具软装，合理搭配室内空间
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="zb-bg3"></div>
    </div>
    <div class="zb-bg4">
        <div class="wrap">
            <div class="zb-tit">
                <img src="/assets/home/zb/img/title3.png" alt="4大免费服务" /></div>
            <ul class="bg4-ul1 ua">
                <li>
                    <span><img src="/assets/home/zb/img/mianfei1.jpg" alt="专人量房"/></span>
                    <p>专业人员上门量房，专业仪器勘察测量，将误差减小</p>
                    <em>专人量房</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/mianfei2.jpg" alt="户型设计"/></span>
                    <p>业内专业设计师4套设计方案全面PK，不满意可再次修改</p>
                    <em>户型设计</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/mianfei3.jpg" alt="预算报价"/></span>
                    <p>正规公司报价，详细报价清单，严格杜绝恶意增项</p>
                    <em>预算报价</em>
                    <u>
                      您也可以使用
                      <a href="http://{:C('QZ_YUMINGWWW')}/zxbj/" target="_blank">智能报价</a>
                    </u>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/mianfei4.jpg" alt="参观样板房"/></span>
                    <p>免费专车接送，更直观对比施工工艺及设计水平</p>
                    <em>参观样板房</em>
                </li>
            </ul>
            <div class="zb-tit">
                <img src="/assets/home/zb/img/title4.png" alt="6大诚信保障" /></div>
            <ul class="bg4-ul1 ub">
                <li>
                    <span><img src="/assets/home/zb/img/baozhang1.jpg" alt="正规公司"/></span>
                    <p>装修公司均通过第三方严格审核认证，营业执照等证件齐全，展示真实业主评价</p>
                    <em>正规公司</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/baozhang2.jpg" alt="材料正品"/></span>
                    <p>正规商家进货，装修公司提供材料清单。业主如发现劣质商品，有权要求退货并发起维权</p>
                    <em>材料正品</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/baozhang3.jpg" alt="官方监督"/></span>
                    <p>齐装网对装修公司施工实行全程监督，避免装修陷阱和猫腻，保障业主的权益</p>
                    <em>官方监督</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/baozhang4.jpg" alt="设计施工"/></span>
                    <p>材料进场，装修公司通知业主验收，签字确认后才进行施工。施工过程，接受业主监督</p>
                    <em>设计施工</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/baozhang5.jpg" alt="纠纷处理"/></span>
                    <p>免费第三方监理，工程质量有问题，监理上门调解，专业监理保证客户的利益</p>
                    <em>纠纷处理</em>
                </li>
                <li>
                    <span><img src="/assets/home/zb/img/baozhang6.jpg" alt="长久质保"/></span>
                    <p>施工完毕之后，提供五年质保。服务人员定期做回访，免客户后顾之忧</p>
                    <em>长久质保</em>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap ofw">
        <div class="scroll-list">
            <div class="zb-tit-font">
                <h3>新申请装修服务</h3>
                <p>当前已有<span style=" color:#ff5659">{:releaseCount('fbrs')}</span>位业主申请定制设计服务</p><a href="#tab1">我也要申请</a>
            </div>
            <div class="zb-scroll-box">
                <ul class="newser">
                    <li class="tlist1">业主</li>
                    <li class="tlist1">面积</li>
                    <li class="tlist1">装修类型</li>
                    <li class="tlist1">装修风格</li>
                    <li class="tlist1">预算</li>
                    <li class="tlist1">发布时间</li>
                </ul>
                <div class="maquee">
                    <ul>
                      <volist name="zbInfo.orders" id="vo">
                        <li>
                            <span class="tlist1">{$vo.name}</span>
                            <span class="tlist1">{$vo.mianji}㎡</span>
                            <span class="tlist1">{$vo.leixing}</span>
                            <span class="tlist1">{$vo.fengge}</span>
                            <span class="tlist1">{$vo.jiage}</span>
                            <span class="tlist1">{:date('n月d日')}</span>
                        </li>
                      </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="user-mes">
            <div class="zb-tit-font">
                <h3>新业主点评</h3>
            </div>
            <div class="user-mes-box">
                <div class="user-info">
                    <div class="user-head">
                        <if condition="$zbInfo['comment']['logo'] NEQ ''">
                          <img src="{$zbInfo['comment']['logo']}" alt="齐装网" />
                        <else/>
                          <img src="http://{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_LOGO')}" alt="齐装网" />
                        </if>
                    </div>
                    <ul class="zb-star">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p>
                        <span>{$zbInfo['comment']['name']}</span>{$zbInfo['comment']['uptime']}发布了
                        <br> 评价：{$zbInfo['comment']['jc']}
                    </p>
                </div>
                <div class="user-messge">{$zbInfo['comment']['text']|mbstr=0,110}</div>
            </div>
        </div>
    </div>
    <div style=" background:#eaeaea;margin-bottom: -50px;">
      <div class="wrap">
          <include file="Common@New:new" />
      </div>
    </div>
    <include file="Index/footer" />
    <include file="Index:javascript_resource" />
    <script src="/assets/home/zb/js/jquery.cxscroll.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];

    initCity('{$theCityId}');
    function initCity(cityId){
        App.citys.init("#tab-cs", "", shen, shi,cityId);
    }

    $(function() {
        $("#tab").rTabs({
              auto: true
        });

        setInterval('autoScroll(".maquee")', 500);
        $("#pic_list_1").cxScroll({
              auto: false
        });

        $(".zb-bg1 #btnSave").click(function(event) {
            var container = $(".zb-bg1 .order-box");
            var data = {
                name:$("[name=name]",container).val(),
                tel:$("[name=tel]",container).val(),
                fb_type:$("[name=fb_type]",container).val(),
                cs:$("[name=cs]",container).val(),
                step:2,
                source:163
            }
            $(".focus", container).removeClass('focus');
            $(".height_auto", container).removeClass('height_auto');
            $(".valdate-info", container).remove();

            window.order({
                extra:data,
                error:function(){},
                success:function(data, status, xhr){
                    if(data.status == 1){
                        $("body").append(data.data.tmp);
                    } else {
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    if ('name' == item) {
                        $("[name=name]",container).parent().addClass('height_auto');
                        $("[name=name]",container).addClass('focus').focus();
                        var span = $("<span class='valdate-info'></span>");
                        span.html(info);
                        $("[name=name]",container).parent().append(span);
                        return false;
                    };
                    if ('tel' == item) {
                        $("[name=tel]",container).parent().addClass('height_auto');
                        $("[name=tel]",container).addClass('focus').focus();
                        var span = $("<span class='valdate-info'></span>");
                        span.html(info);
                        $("[name=tel]",container).parent().append(span);
                        return false;
                    };
                    return true;
                }
            });
        });
  });
  function autoScroll(obj) {
      $(obj).find("ul").animate({
          marginTop: "-30px"
      }, 2000, function() {
          $(this).css({
              marginTop: "0px"
          }).find("li:first").appendTo(this);
      })
  }
</script>
</body>
</html>