<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{$info.title}</title>
<meta name="keywords" content="{$info.keywords}" />
<meta name="description" content="{$info.description}" />
<notempty name="info.header.canonical">
<link rel="canonical" href="{$info.header.canonical}"/>
</notempty>
<include file="Index:resource" />
<link rel="stylesheet" href="{$static_host}/assets/home/ask/css/ask.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/home/diary/css/font-awesome.min.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/common/css/step.css?v={:C('STATIC_VERSION')}" />
<link href="{$static_host}/assets/common/css/step.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link rel="stylesheet" href="{$static_host}/assets/home/diary/css/font-awesome-ie7.min.css?v={:C('STATIC_VERSION')}">
<![endif]-->
</head>
<body>
{$headerTmp}
<div class="wrap oflow">
	<div class="bread position"><a href="/">首页</a> &gt; <a href="/wenda/">装修问答</a> &gt; {$info.position}</div>
	<div class="leftsider">
		<ul class="ask-list">
			<volist name="qList" id="v">
			<li>
				<div class="ask-list-tit state{$v.status}"><a href="/wenda/x{$v.id}.html">[{$v.name}]{$v.title}</a></div>
				<div class="ask-list-info">{$v.description}</div>
				<p><span class="pull-left">已有 <em class="red">{$v.anwsers} </em>个回答</span>
                <span class="pull-right">{$v.last_time|timeFormat}</span></p>
			</li>
			</volist>
		</ul>
		<br>
        <div class="page">{$page}</div>
        {$leftside}
	</div>

<div class="rightsider">
    <div class="wenwen">
        <span class="h1">没有想要的回答？试试这里</span>
        <form class="form-horizontal" action="/wenda/addquestion" method="post" id="quickAskFrom">
            <textarea name="title" type="text" placeholder="快速提问，10分钟获取答案"></textarea>
            <input type="hidden" name="quickask" value="id_{$ask.id}">
            <p id="quickTextCount">还可以输入<i>30</i>字<a id="quickAsk" href="javascript:void(0)">确定</a></p>
        </form>
    </div>
    <div class="mt20">
    {$orderTmp}
    </div>
    {$rightside}
</div>
</div>
<input id="safecode" type="hidden" value="{$safecode}" />
<input id="safekey" type="hidden" value="{$safekey}" />
<include file="Index:footer" />
</body>
</html>
<script type="text/javascript">
var shen = null,
shi = null;
shen = citys["shen"];
shi = citys["shi"];

$(document).ready(function(){

    $("#quickAsk").click(function(){
        var title = $("#title").val();
        if(title == ''){
            alert('要填写标题哦');
        }else{
            $('#quickAskFrom').submit();
        }
    });

    $("textarea[name=title]").bind("input propertychange",function(){
        var length = $(this).val().length;
        if(length >30){
            var offset = 30 - length;
            $("#quickTextCount i").html('<span style="color:red"> '+offset+' </span>');
        }else{
            $("#quickTextCount i").html(30 - length);
        }
    });
});
</script>