
.citytit{ border:#f1f1f1 2px solid; padding:20px 0; font-size:14px; overflow:hidden}
.citytit  dl.hotcity{ display:block; height:30px; line-height:30px; padding:0 20px}
.citytit  dl.hotcity dd,.citytit dl.hotcity  dt{ float:left}
.citytit  dl.hotcity dt{ font-weight:bold; width:80px}
.citytit .tab .tab-nav { overflow:hidden;border-bottom:1px solid #f1f1f1; padding:0 20px; width: 100%;}
.citytit .tab .tab-nav a{ display:block; float:left; line-height:30px; margin-right:20px; background:#ccc; color:#FFF; padding:0 10px; border:1px solid #aaa; border-bottom:0; margin-top:10px; font-weight:bold; text-shadow:1px 1px 0px rgba(0,0,0,.2)}
.citytit .tab .tab-nav a:hover{ text-decoration:none}
.citytit .tab .tab-nav a.current{ background:#ed5a6b; border:1px solid #de4348; border-bottom:0 }
.citytit .tab .tab-con,.citytit .tab .tab-con-item{width: auto}
.citytit .tab .tab-con{height: 600px; overflow-y:auto; }
.citytit .tab a{height: auto;}
.citytit .tab .tab-con-item{ display:none; margin-top:20px; line-height:30px}
.citytit .tab .p1 span{ display:block; width:100px; font-weight:bold; float:left; margin:0 20px 0 10px;text-align: right;}
.citytit .tab .p1 ul{ float:left; width:1000px; margin-bottom:20px}
.citytit .tab .p2 ul{ float:left; width:1100px; margin-bottom:20px }
.citytit .tab .p1 ul li,.citytit .tab .p2 ul li{float:left;}
.citytit .tab .p1 ul li a,.citytit .tab .p2 ul li a{ padding:0 10px; width:auto; height:30px; overflow:hidden;white-space:nowrap; }
.citytit .hotcity dd,.citytit .tab .wordm dd{ margin:0 10px;}
.citytit .hotcity dd a{ color:#de4348}
.citytit .tab .p2{ height:100%;}
.citytit .tab .p2::-webkit-scrollbar-track{ background:#eee}
.citytit .tab .p2::-webkit-scrollbar{ height:10px; width:20px}
.citytit .tab .p2::-webkit-scrollbar-thumb { background:#ccc; margin:1px; }
.citytit .tab .p2 span{ display:block; width:40px; font-weight:bold; float:left; margin:0 20px; text-align:center; background:#f1f1f1; color:#de4348}
.citytit .tab .wordm{ width:100%; padding:0 20px; height:30px; overflow:hidden; margin-bottom:20px}
.citytit .tab .wordm dd,.citytit .tab .wordm dt{ float:left}
.citytit .anchor_current{background: #F1F1F1;}

.citytit .red {color: #de4348;}
.province {border:1px #ccc solid;padding:5px;width:160px;}

.citytit .go-btn{width:80px;font-size:15px;line-height:31px;text-align:center;background:#FF7B00;margin-bottom:2px; border-radius:3px; color:#fff; font-family: microsoft yahei;vertical-align:middle;}
.citytit .go-btn:hover{text-decoration:none;background: #5cca78;cursor: pointer;}

