.topjianjv{margin-top:15px;}
.topbutton{margin-top: 33px;width: 42%;margin-right: 10px;}
table .repeatys{color: #ff5353;}
.historycode{color: #3399CC;cursor: pointer;}
.addcode{color:#1ABB9C;margin-left: 15px;cursor: pointer;}
.xianshei{height: 43px;}

table th,table td{text-align: center !important;width: 1%;vertical-align: middle !important;}
.tcyinying{background: rgba(0,0,0,0.7);width: 100%;height: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin:auto;
display: none;}
.addjltc{width: 800px;height: 600px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: #fff;
border: 1px solid #ccc;border-radius: 5px;z-index: 9999;display: none; overflow-y:auto;}
.addjltc .add_guanbi{font-size: 22px;display: inline-block;padding:5px;position: absolute;top: 7px;right: 12px;cursor: pointer;}
.addjltc .add_title{height: 50px;width: 100%;border: 1px solid #e4e4e4;line-height: 50px;font-size: 18px;font-weight: 400;
padding-left: 20px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.addjltc .addinformation{margin-left: 78px;font-size: 14px;}
.addjltc .add_hang{margin-top: 15px;}
.add_hang .bufen{display: inline-block;font-weight: 400;height: 38px;line-height: 38px;}
.add_hang .dengjixz{display: inline-block;font-size: 16px;}
.add_hang .dengjixz input{margin-left: 30px;margin-right: 3px;}
.addinformation .dengjixz_ts{margin-top: 5px;color: #169BD5;text-indent: 0.8em;}
.add_hang .bufen .lefttitle{width: 70px;display: inline-block;text-align: right;}
.add_hang .bufen input{height: 38px;outline: none;border: 1px solid #e4e4e4;border-radius: 5px;text-indent: 0.5em;
margin-left: 10px;width: 184px;}
.add_hang .bufen .suoshubm{height: 38px;outline: none;border: 1px solid #e4e4e4;border-radius: 5px;text-indent: 0.5em;
margin-left: 10px;width: 184px;}
.add_hang .bufen select{height: 38px;outline: none;border: 1px solid #e4e4e4;border-radius: 5px;text-indent: 0.5em;
margin-left: 7px;width: 477px;}
.add_hang .bufen .redmember{color: #ff5353;position: relative;top: -3px;left: -3px;}
.suoshubm{margin-left: 25px;}
.add_hang .bufen .gongsinput{width: 477px;}
#saidnr{display: block;width: 544px;border: 1px solid #e4e4e4;outline: none;
border-radius: 5px;margin-left: 14px;height: 90px;text-indent: 0.5em;}
.add_hang .hezuo{display: inline-block;width: 236px;}
.add_hang .jilurqwk{display: inline-block;width: 257px;margin-left: 46px;}
.hezuo_select,.jiluriqi{display: block;width: 100%;height: 39px;line-height: 39px;margin-left: 14px;
position: relative;}
.jiluriqi .fa-calendar{position: absolute;right: 8px;top: 16px;}
.hezuo_select{border: 1px solid #e4e4e4;outline: none;}
.jiluriqi input{width: 100%;outline: none;
border: 1px solid #e4e4e4;text-indent: 0.5em;}
.tatijiaoniu{font-size: 14px;padding:8px 27px;outline: none; border: 1px solid #797979;
margin-left: 14px;}
.addjltc .closetishi{width: 400px;height: 170px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
background: #fff;overflow: hidden;border: 1px solid #e4e4e4;border-radius: 5px;margin-top: 70px;display: none;}
.addjltc .closetishi .closetishi_neir{text-align: center;margin-top: 26px;}
.addjltc .closetishi .niuwaik{text-align: center;margin-top: 50px;}
.addjltc .closetishi .niuwaik a{padding: 5px 20px;background: #fff;border: 1px solid #e4e4e4;
outline: none;display: inline-block;cursor: pointer;color: #333;}
.addjltc .closetishi .niuwaik a.cancelqux{margin-left: 40px;}

.historytank{width: 800px;height: 800px;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: #fff;
border: 1px solid #ccc;border-radius: 5px;z-index: 9999;overflow:hidden;display: none;color: #333;}
.historytank .hideover{width: 100%;height: 100%;overflow-y: auto;margin-top: 28px;}
.historytank .historytank_title{height: 50px;width: 100%;border: 1px solid #e4e4e4;line-height: 50px;font-size: 18px;font-weight: 400;
padding-left: 20px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
position: absolute;top: 0;left: 0;z-index: 9;background: #fff;}
.historytank .historytank_guanbi{font-size: 22px;display: inline-block;padding:5px;position: absolute;top: 7px;right: 19px;
border: 1px solid #797979;cursor: pointer;z-index: 9;}
.tablewaik{margin-top: 22px;}
.tablewaik .seecontent{color: #1abb9c;cursor: pointer;padding: 5px;}

.historytank .contentxqyiny{position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;
background: rgba(0,0,0,0.7);width: 100%;height: 1000%;display: none;z-index: 10;}
.historytank .contentbai{position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
background: #fff;width: 90%;height: 130px;padding: 8px 10px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border;font-style: 12px;color: #333;display: none;z-index: 11;border-radius: 5px;line-height: 25px;
overflow: auto;}
.contentbai .lookneirong{padding: 8px 10px;width: 95%;height: 130px;text-align: left;}
.contentbai .contentbai_guanbi{font-size: 22px;display: inline-block;padding:5px;position: absolute;top: 7px;right: 12px;
border: 1px solid #797979;cursor: pointer;font-weight: 100;background: #fff;}