/*body{ position: fixed; width: 100%;}*/
#parent-list ul li {
	width: 20%;
}
.type-list{background:#fff;}
.parent-list{
    height: 0.35rem; border-bottom: 1px solid #EEEEEE; position: relative;
}

.parent-list ul li{line-height: 0.38rem}
.type-list ul li{float: left;font-size: 0.13rem; width:0.7rem; text-align: center; position: relative;}

.chose-active{color: #ff5659;}
.chose-active span{display: block !important;}
.child-chose-active a{color:red ;border:1px solid red !important;}

#parent-content{height: 0.35rem}
#parent-content li{height: 0.35rem}
.children-list{border:1px solid #EEEEEE; border-top:none;}
.baike-list-box{background: #fff; margin-top: 0.1rem;}
.baike-list-box ul li{overflow: hidden;padding: 0.1rem 0.08rem;border-bottom: 1px solid #EBEBEB}
.baike-list-box .img-box{width:1rem;float:left; height: 0.74rem;margin-top: .065rem;}
.baike-list-box .img-box img{width: 100%;height: 100%}
.baike-list-content{margin-left: 1.08rem}
.children-content{padding:0px 0.08rem; font-size: 0.12rem}
.children-content span{display: inline-block; line-height: 0.17rem;margin:0.05rem 0px; width:20%; height: 0.16rem; text-align: center; overflow:hidden;}
header{position: relative;}
#home-zb {
    margin-top: 0;
}
#home-zb .today_num_box {
    margin-top: 0;
    border: 2px solid red;
    border-top: none;
    padding-top: 0.1rem;
}
#home-zb .today_num_box {
    height: 22px;
}
.num_content {
    padding: 0 0.1rem;
    background: #fff;
}
.home-sec .title {
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.2rem;
	text-align: center;
}
.home-sec .title span {
	color: #ff5353;
}
.home-sec .type {

}
.home-sec .type .style {
    width: 90%;
    margin: 0 auto;
}
#tab-menu {
    font-size: 1.3em;
}
.home-sec .example .type .style {
    width: 100%;
    height: 0.2rem;
    overflow: hidden;
}
.home-sec .type .style .active {
    color: #ff5353;
    border-bottom: 1px solid #ff5353;
}
.home-sec .type .style li {
	float: left;
	width: 20%;
	text-align: center;
            position: relative;
}
.home-sec .type .style li i {
    width: 0.15rem;
    height: 0.15rem;
    background: url(/assets/mobile/sub/img/hot.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -0.05rem;
    left: 0.43rem;
}
.home-sec .type #tab-main {
	z-index: 1;
	height: 0.3rem;
	width: 100%;
	overflow: hidden;
	-ms-touch-action: none;
}
.home-sec .type #tab-main .part {
	position: relative;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
}
.home-sec .type #tab-main .part ul {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 7rem;
        height: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
}
.home-sec .type #tab-main .part .recommand4 li {
        width: 0.7rem;
}
.home-sec .type #leixing {
	position: relative;
	z-index: 1;
	height: 0.2rem;
	width: 100%;
	/*background: #ccc;*/
	overflow: hidden;
	-ms-touch-action: none;
}
.home-sec .type #leixing .duoge {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 3.6rem;
	height: 0.2rem;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.line {
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
	margin-bottom: 0.1rem;
}
.home-sec  .type .tab .part {
	display: none;
}
.home-sec  .type .tab .selected {
	display: block;
}
.home-sec .type .tab .part .list {
	height: 0.2rem;
	overflow: hidden;
}
.home-sec .type .tab .part .list li {
	float: left;
	width: 0.5rem;
            height: 0.3rem;
	line-height: 0.3rem;
	background-color: #e6e6e6;
	color: #808080;
	margin-right: 0.05rem;
	text-align: center;
}
.home-sec .type .tab .part .list li:nth-child(8) {
    width: 0.7rem;
}
.home-sec .type .tab .part .list li:nth-child(12) {
    width: 0.7rem;
}
.home-sec .type .tab .part .list li:nth-child(15) {
    width: 0.7rem;
}
.home-sec .type .tab .part .list .cur {
	color: #fff;
	background-color: #ff5353;
}
.home-sec .contents {

}
.home-sec .contents .content {
	margin-top: 0.1rem;
	display: none;
}
.home-sec .contents .selected {
	display: block;
}
.home-sec .contents .content .box {
	height: 6.22rem;
	position: relative;
}
.home-sec .contents .content .box li {
	width: 48%;
	position: absolute;
	/*border: 1px solid #000;*/
}
.home-sec .contents .content .box .box1 {
	height: 2.3rem;
	top: 0;
	left: 0;
}
.home-sec .contents .content .box .img {
	position: relative;
    height: 100%;
    overflow: hidden;
}
.home-sec .contents .content .box img {
	transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
}
.home-sec .contents .content .box .box1 img {
	max-height: 2.3rem;

}
.home-sec .box .img p {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.1rem;
    background: rgba(0,0,0,.5);
    color: #fff;
    height: 0.25rem;
    line-height: 0.25rem;
        box-sizing: border-box;
}
.home-sec .three .box .img p {
    padding-left: 0.1rem;
}
.home-sec .effect .box .img p {
    text-align: center;
}
.home-sec .box .img p span:nth-child(1)  {
    float: left;
    margin-left: 0.1rem;
}
.home-sec .box .img p span:nth-child(2)  {
    float: right;
    margin-right: 0.1rem;
}
.home-sec .contents .content .box .box2 {
	height: 1.32rem;
	top: 0;
	left: 51%;
}
.home-sec .contents .content .box .box3 {
	height: 2.3rem;
	top: 2.4rem;
	left: 0;
}
.home-sec .contents .content .box .box4 {
	height: 2.3rem;
	top: 1.43rem;
	left: 51%;
}
.home-sec .contents .content .box .box5 {
	height: 1.32rem;
	top: 4.8rem;
	left: 0;
}
.home-sec .contents .content .box .box6 {
	height: 2.3rem;
	top: 3.83rem;
	left: 51%;
}
.bot {
	height: 0.5rem;
	width: 80%;
	margin: 0 auto;
}
.bot a {
	display: block;
}
.more {
	width: 1rem;
	height: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px #808080;
	float: left;
	box-sizing:border-box;
	margin-right: 0.15rem;
	margin-left: 0.1rem;
}
.recommend {
	width: 1rem;
	height: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	background-color: #ff5353;
	float: left;
	margin-top: 0.05rem;
}
.recommend a {
	color: #fff;
}

.home-sec .example .type .style li {
	width: 0.6rem;
            height: 0.19rem;
	margin-right: 0.1rem;
}
.home-sec .example .type .style li:nth-child(4) {
	width: 0.3rem;
}
.home-sec .example .type .style li:nth-child(5) {
	width: 0.3rem;
}
.home-sec  #tab-mains .part .box {
	position: relative;
	height: 6.5rem;
}
.home-sec  #tab-mains .part .box li .img {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.home-sec .part .box li img {
	transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
}
.home-sec #three-tab-mains .part .box {
	position: relative;
	height: 6.5rem;
}
.home-sec #three-tab-mains .part .box li .img {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.home-sec .part .box li {
	position: absolute;
}
.home-sec .part .box .box1 {
	height: 3.6rem;
	width: 100%;
    top: 0;
    left: 0;
}
.home-sec .part .box .box2 {
	width: 48%;
	height: 1.3rem;
	top: 3.7rem;
    left: 0;
    margin-right: ;
}
.home-sec .part .box .box3 {
	width: 48%;
	height: 1.3rem;
	top: 3.7rem;
    left: 52%;
}
.home-sec .part .box .box4 {
	width: 48%;
	height: 1.3rem;
	top: 5.1rem;
    left: 0;
}
.home-sec .part .box .box5 {
	width: 48%;
	height: 1.3rem;
	top: 5.1rem;
    left: 52%;
}
.pingfang {
	display: block;
	position: absolute;
	top: 0.12rem;
            right: 0.1rem;
}
.fa-map-marker:before {
    margin-right: 0.1rem;
}

#land_mask{
    position: fixed;
    width:100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    top:0px;
    left:0px;
    z-index:999;
    display: none;
}
.result{
    background: #fff;position: fixed;
    z-index:9999;
    cursor: pointer;
}
#fadan{
    width:3.17rem; height: 2.22rem;
    margin:auto; left:0px; right:0px;top:0px;bottom:0px;
    background: url(/assets/mobile/company/img/sucesserwm.png) no-repeat;
    display: none;

}
#fadan img{position: absolute; top:201px;left:112px; width:175px; height:174px;}
#close_two{width:34px; height: 34px;position: absolute; top:0px; right:39px;}

#calculator {
	display: none;
}
#calculator2 {
    display: none;
}
#fadan .bj {
	height: 100px;
}

.tjsuccess {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 89.3%;
    height: 2.5rem;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
    display: none;
}
.tjsuccess .tjcgbt {
    font-size: 0.2rem;
    color: #2cce4a;
    text-align: center;
    margin-top: 0.3rem;
}
.tjsuccess .chengglogo {
    width: 0.22rem;
    height: 0.22rem;
    display: inline-block;
    background: url(/assets/mobile/company/img/successlogo.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 0.03rem;
}
.tjsuccess .tjcgbt2 {
    font-size: 0.09rem;
    color: #666;
    text-align: center;
    margin-top: 0.05rem;
}
.tjsuccess .erweima {
    width: 96%;
    height: 1.365rem;
    background: url(/assets/mobile/company/img/sucesserwm.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.23rem auto;
    position: relative
}
.erweima .detail-text{
   position: absolute;
    left: 1.4rem;
    font-size: 0.1rem;
    color: #666;
    line-height: 0.2rem;
    top: 0.16rem;
}
  .guanbiniu {
    width: 0.3rem;
    height: 0.3rem;
    background: url(/assets/mobile/company/img/guanbianiu.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -0.55rem;
}
.tjsuccess .erweima .erweimatw {
    width: 0.875rem;
    height: 1.365rem;
    overflow: hidden;
    text-align: center;
    margin-left: 0.045rem;

}
.tjsuccess .erweima .erweimatw img{
    width:100%;
    margin-top: 0.18rem;

}
.tjsuccess .erweima .erweimatw span {
    font-size: 0.12rem;
    color: #ff5353;
    margin-top: 0.025rem;
}
.beijyiny {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    display: none;
}
#zxkf {
    z-index: 2;
}
#shenming2 {
    width: 80%;
    margin: 0 auto;
}
.border-none {
    margin-top: 2px!important;
    margin-bottom: 8px!important;
}
