body{background:#F5F5F5 !important;}
.white_bg{background: #fff;}
.m-header-city{ left:35%}
.focus{ position:relative;}
.focus .hd{ z-index:1;position:absolute; bottom:10px; font-size:0; left:50%; box-sizing:border-box;}
.focus .hd li{ border-radius:50px; width:10px; height:10px; background:#ccc;}
.focus .bd{position:relative; z-index:0}
.focus .bd li img{ width:100%;  height:auto;}
.swiper-slide img{ width:100%;  height:auto;}
.swiper-pagination-bullet-active{background:#f75454;}
.focus .hd ul { width:auto;margin-left:-50%; overflow:hidden}
.focus .hd li{ float:left; margin-right:5px}
.focus .hd ul .on{ background-color:#f75454;}

.home-nav{ width:100%; background:#fff; overflow:hidden; padding:1em .5em; padding-bottom:0; box-sizing:border-box}
.home-nav ul li{ width:25%; position:relative; float:left; text-align:center; font-size:0.125rem;}
.home-nav ul li img{ width:69%; height:auto; display:block; margin: 0 15% 5px 15%}
.home-nav ul li span{ color:#fff; position:absolute; /* background:#F61C05;  */font-size: 0.035rem; display:block; top:0; right:5px; border-radius:0.08rem;  /* border:1px solid #FFF; */  height: 0.15rem; width:0.35rem;/* line-height: 0.13rem */}
.home-nav ul li span img{width:100%; height: 100%}
.home-nav-bottom { padding:0.07rem;   overflow:hidden}
.home-nav-bottom li{ float:left; box-sizing:border-box; width:50%; height: 0.78rem; margin-bottom: 6px;overflow: hidden;}
.home-nav-bottom li a{display: block; width:100%;height: 100%}
.home-nav-bottom li:nth-child(2n){
    border-left: 3px solid #FFF;
}
.home-nav-bottom li:nth-child(2n-1){
    border-right: 3px solid #FFF;
}
.home-nav-bottom li:nth-child(1){
    background: url('../img/nav_bottom_zxsp.png') no-repeat;
    background-size: 100% 100%;
}
.home-nav-bottom li:nth-child(2){
    background: url('../img/nav_bottom_zxal.png') no-repeat;
    background-size: 100% 100%;
}
.home-nav-bottom li:nth-child(3){
    background: url('../img/nav_bottom_kgjr.png') no-repeat;
    background-size: 100% 100%;
}
.home-nav-bottom li:nth-child(4){
    background: url('../img/zsrz.jpg') no-repeat;
    background-size: 100% 100%;
}
.home-sec-title{overflow: hidden;}
.more{font-size: 0.1rem; color: #747474;margin-top: 0.05rem}
.home-nav-bottom li a{ display:block}
.home-nav-bottom .nav_bottom_content{width:50%; float: right;padding-top: 0.2rem}
.nav_title{font-size: 0.14rem;padding-bottom: 5px;}
.nav_detial{font-size: 0.1rem;color:#A2A0A0;}
.home-zb{ box-sizing:border-box; background:#fff;  margin-top:15px;  padding:10px 0.1rem 10px 0.1rem;}
.home-zb .m-bj-edit{ margin:0}
.home-zb .home-zb-tit {height: 0.13rem; line-height:0.25rem;border-bottom: 2px solid red; text-align: center;}
.home-zb .home-zb-tit span{padding:0px 0.1rem; background: #fff; font-size: 0.2rem; color: #FF5454; font-weight: bold; letter-spacing: 3px}

.today_num_box{ height:44px;text-align: center; margin-top:12px; margin-bottom: 6px;}
.num_content{height: 44px; overflow: hidden; display: inline-block;}
.left_title{float:left; height:44px; line-height:44px;}
.num_container{float: left;height:44px;overflow: hidden;  color: #fff; font-size: 0.24rem;margin:0px 0.02rem;}
.radiu{position: absolute; width:6px; height: 6px; background: #fff; border-radius: 3px; top:50%;margin-top: -3px;z-index:2;}
.at_right{right:-3px;}
.at_left{left:-3px;}
.num-item{height: 100%;width:30px; text-align: center; background: #F6BE1A; float:left; margin:0px 3px; border-radius: 5px; position: relative;}
.top_num{height:22px; position: relative;}
.inner_top{z-index: 2; position: absolute; width:30px; height:22px; top:0px; overflow: hidden; line-height:44px;}
.bottom_num{height:22px; position: relative;}
.xzt{
     width:30px;
     height: 44px;
     position: absolute;
     line-height: 44px;
     transition: all 0.6s;
     -moz-transition: all 0.6s;  /* Firefox 4 */
     -webkit-transition: all 0.6s; /* Safari 和 Chrome */
     -o-transition: all 0.6s;
}
.num_yl{height: 22px; position: absolute;bottom:0px; z-index:9; width:30px;
 border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; line-height:0px; overflow: hidden;background: #F6BE1A;}
.num_up{height: 22px; position: absolute;bottom:0px; z-index: 2;
      line-height:44px; overflow: hidden;
      background: #F6BE1A;
      width:30px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);   /* IE 9 */
      -webkit-transform: rotateX(180deg); /* Safari and Chrome */
      -o-transform: rotateX(180deg);    /* Opera */
      -moz-transform: rotateX(180deg);
}
.inner_bottom{ top:-22px; z-index: 0; }
.fan{
  transform:perspective(100px) rotateX(180deg);
  -webkit-transform: perspective(100px) rotateX(180deg);
  -moz-transform: perspective(100px) rotateX(180deg);
  z-index: 1!important;
}


.home-zb .m-b-btn{ margin:6px 0 0 0;}
.home-zb p{ font-size:.6em;}
.home-zb p i.fa{ margin-right:.5em; color:#ff5659}
.home-sec{width:100%; background:#fff; margin-top:10px; padding:6px 0.1rem;box-sizing:border-box}
.home-sec h2{ font-size:1.2em;}
.parent-list{ padding-top: 0.1rem }
.parent-list ul{width: 100%;overflow: hidden;}
.parent-list ul li{font-size: 0.12rem;width: 25%;float: left; text-align: center; padding: 2px 0px;  border-bottom: 2px solid #EEEEEE;}
.menu_active{color:#FF5353; border-bottom:2px solid #FF5353 !important;}
.children-list{padding-top: 10px;}
.list-box{height: 1.3rem; display: none}
.children-content{width:10.8rem;}
.children-content li{width:1.7rem;margin-right: 0.115rem; height:1.27rem; float: left; border-radius:5px; overflow: hidden; position: relative;}
.children-content li img{width:100%; height:100%;}
.children-content li:nth-child(6){margin-right: 0px;}
.img_detail{position: absolute; width: 100%; text-align: center; line-height: 30px; position: absolute; height: 30px; background: rgba(0,0,0,0.3); color:#fff; bottom:0px; font-size: 0.12rem; border-bottom-right-radius: 5px;  border-bottom-left-radius: 5px;}
#wrapper{display: block;}
#study_list{overflow: hidden; margin-top: 0.1rem;}
#study_list li{width: 33.33%;float: left;text-align: center;padding-bottom: 2px;border-bottom: 2px solid #EEEEEE; }
#study_list2{overflow: hidden; margin-top: 0.1rem;}
#study_list2 li{width: 33.33%;float: left;text-align: center;padding-bottom: 2px;border-bottom: 2px solid #EEEEEE; }
.study_content ul{ padding:0.1rem 0px;}
.study_content ul li{height:0.91rem; padding-top: 10px}
.study_content_zxlc li{border-bottom: 1px solid #DEDEDE;}
.zxlc_fl{color:#FB8920; padding-bottom: 10px;}
.zxlc_title{font-weight: bold; padding-bottom: 5px;}
.zxlc_content{font-size: 0.1rem;color:#6D6D6D; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2; overflow: hidden;}
.zxrj_tx{overflow: hidden; margin-bottom: 10px}
.zxrj_tx span{padding-left: 5px; color:#A3A3A3; font-size: 0.11rem;}
.tx_img{width:0.16rem;height:0.16rem; border-radius: 0.1rem;float: left; overflow: hidden;}
.baike_title{height: 0.1rem;padding: 0.07rem 0px;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.baike_detail{color:#6E6E6E; font-size: 0.1rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2; overflow: hidden;}
.zxrj_content{overflow: hidden; color: #A3A3A3; font-size: 0.09rem;padding-bottom: 10px; }
.zxrj_content div{padding:10px 5px;}
.study_content_zxrj li{border-bottom: 1px solid #DEDEDE;}
.study_content li:nth-child(3n){border:none;}
.study_content_baike li{border-bottom: 1px solid #DEDEDE; overflow: hidden;}
.baike_img{float: left; width: 0.95rem; height:0.7rem;margin-top:0.05rem; border-radius:8px; overflow: hidden; position: relative;}
.mask-start{position: absolute; top: 0px; line-height: 0.7rem; left: 0px; background: rgba(0,0,0,0.3); width:100%;height: 100%;color: #fff; text-align: center; font-size: 0.18rem}
.baike_img img{width:100%; height: 100%;}
.baike_content{padding-left: 1.05rem; margin-top: 0.05rem}
.study_item{display: none;}
.study_item2{display: none;}
.menu_chose{display: block;}
.seeMore{width: 0.7rem;font-size: 0.11rem; text-align:center; line-height:0.2rem;height:0.2rem; border:1px solid #FF5353; border-radius: 0.2rem;color:#FF5353; display: block; margin:0px auto;}
.company_box{overflow: hidden;}
.company_box_list{overflow: hidden; width:6.86rem;}
.company_box_list li{width:1.25rem; height:1.87rem; border-radius:0.1rem; overflow: hidden; position: relative; border:1px solid #DEDEDE; box-shadow: 0px 0px 8px #DEDEDE; margin:0.05rem 0.06rem 0px 0px;}
.company_box_list li:nth-child(5){margin-right: 0px;}
.company_zp{height:50%; margin-bottom: 0.24rem;}
.company_zp img{width: 100%; height:100%; overflow: hidden;}
.company_logo{position: absolute; width:0.65rem; height:0.65rem;border-radius:0.33rem; overflow: hidden; border:1px solid #DEDEDE; left:50%; margin-left: -0.325rem;top:0.52rem; text-align: center; background: #fff}
.company_logo img{ margin-left: -20%;width:130%; margin-top: 18%}
.company_info{line-height: 0.18rem; padding-top: 0.1rem;text-align: center;}
.company_name{font-size: 0.12rem}
.company_star {color:#FFD424;font-size: 0.11rem}
.company_pl{font-size: 0.1rem}
.money-box{
    border: 1px solid #dedee0;
    border-radius: 5px;
    margin-top: 6px;
    padding:9px 0.05rem;
    box-shadow:0px 0px 8px #DEDEDE;
}
.money-main{
    margin: 0 8px;
    overflow: hidden;
}
.money-img{
    height: 40px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(/assets/mobile/baojia/img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.home-style span{
    display: block;
    float: left;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    margin: 14px auto;
    /*background: blue;*/
    overflow: hidden;
}
.home-style span:nth-child(2),.home-style span:nth-child(5){
    text-align: center;
}

.home-style span:nth-child(3),.home-style span:nth-child(6){
    text-align: right;
}
.m-bj-edit button,.m-bj-edit input{
    border-radius: 0 !important;
    outline: none;
}
.m-bj-edit button,.m-bj-edit i{
    color: #333 !important;
}


.dw{color: #999 !important;}
.kefu-shows img{
    margin-bottom: 25px;
}
.form-again-img{width: 100%;overflow: hidden;margin: 25px auto;}
.form-again-img img{width: 100%;height: auto;}
.success-ok-img{
    width: 100%;
    height: auto;
}
.success-ok-img img{
    width: 100%;
    height: auto;
}
.accordion{
    margin: 0 12.5px;
    background: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.success-footer{
    margin: 0 12.5px;
    background: #f8f8f8;
    overflow: hidden;
    margin-bottom: 17.5px;
    padding-top: 17.5px;
    padding-bottom: 12.5px;
}
.success-tip{
    font-size: 13px;
    margin: 0 3%;
    color: #666;
    text-align: justify;
    margin-bottom: 25px;
}
.success-footer-img{width: 100%;height: auto;}
.success-footer-img img{width: 100%;height: auto;}
.gongzhonghao-text{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 17px auto;
}
.guanzhu-text{
    font-size: 13px;
    line-height: 15px;
    color: #666;
    margin: 0 3%;
    text-align: justify;}
.copy-text{font-weight: bold;}
.red-color{color: #ff5353;}
.recount{margin: 0 12.5px;margin-bottom: 20px;}
.c-zb-city{height: 40px;}
.m-bj-edit li {margin-bottom: 6px;}
.m-bj-edit li .m-bj-edit-list{color: #333 !important;height: 40px;}
.m-bj-edit li span.dw {line-height: 40px;}
#shengming{font-size: 12px;}
.m-b-btn{height: 40px;line-height: 40px;margin-bottom: 0;margin-top: 6px;}
.form-once{ margin-top:6px;}
.hide{display: none;}
.white-box{height: 0;}
.zb-link-bottom{z-index: 9999}


.fg-list-box{
    border-bottom: 1px solid #DEDEDE;
}
.bd_list .fg-list-box:nth-child(3){
    border-bottom: none;
}
.fg-list{  padding: 0.1rem 0;}
.fg-list .fg-img {
    width: 30%;
    height: 0.65rem;
    float: left;
    position: relative;
}
.fg-img img{width:100%; height: 100%}
.fg-send {
    float: left;
    width: 66%;
    height: 0.65rem;
    margin-left: 0.1rem;
    position: relative;
}
.fg-send p{padding-top:0.04rem;}
.date_time{text-align: right; font-size: 0.1rem; color: #999999;}
.fg-send p a{color: #999999; font-size: 0.1rem;  }
.fg-send .more{color: #FE1012 !important;}
.titlebt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-top: 8px;
}

.jiaju-item{
    width:0.95rem;
    height: 0.9rem;
    background:#F0F3F5;
    position: relative;
    border-radius: 8px;
    text-align:center;
    font-size: 0.12rem;
    margin:0px auto;
}
.jiaju-item img{
    width:0.65rem;
    position: absolute;
    left:0px;
    right: 0px;
    bottom:0px;
    top:0px;
    margin:auto;
}
.jiaju-sc{text-align:center; padding-top:0.08rem;}
.jiaju-sc p{padding-top: 0.06rem}