/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }



/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*一些全局默认样式*/

::-moz-selection{ background:#b7b59b; color:#fff; text-shadow: none; }
::selection { background:#b7b59b; color:#fff; text-shadow: none; }
body{ font-family: Tahoma, Arial, sans-serif; color:#3c3c3c; background:#fff}
a{ color:#333;}
a:hover{ color:#dc4146;text-decoration: none;}
.f-red{ color:#ff5351}
.mr-10{ margin-right:10px !important}
.mt-50{ margin-top:50px !important}
.wrap{ width:1210px; margin:0 auto}
.ofw{ overflow:hidden}


/*公共头部*/
.pub-top{ height:35px; background:#f8f8f8; border-bottom:1px solid #f3f3f3; }
.pub-top .city{ float:left; color:#666;line-height:35px;}
.pub-top .city a{float: left;color:#666;}
.pub-top .pub-city .city-link{float: left;color:#dd4248;}
.pub-top .returnhome{background:url(/assets/common/img/return.png) no-repeat; float: left;width: 14px;height: 12px;margin-top: 11px;margin-left:24px;}
.pub-top .city .location{color: #dd4248; margin-right: 4px;}
.pub-top .city strong{float: left; margin-right: 5px; color: #dd4248;}
.pub-top .city i{ font-size:16px;float: left; margin-top: 11px;}
.pub-top .menu{ float:right; margin-top:8px}
.pub-top .menu li{ float:left; padding:0 15px; border-right:1px solid #ccc}
.pub-top .menu li:last-of-type{ border:0}
.pub-top .menu li a{ color:#666}
.pub-top .menu li a:hover,.pub-top .menu li a.active{ color:#dd4248}

.pub-top .pub-city{float: left; position: relative;}
.pub-top .pub-city.active .home-city{display: block;}

/**城市切换**/
.pub-top .home-city{ z-index: 1000; display: none; border:1px solid #eceaeb; width:430px; position:absolute; left: -1px; top:35px;background: #FFF;}
.pub-top .home-city .tab-con-item{ display:none}
.pub-top .home-city .tab-nav{float: none; background:#f7f7f7; height:30px; line-height:30px; margin-bottom:2px}
.pub-top .home-city .tab-nav a{  display:block; color:#3c3c3c; width:16.6%; float:left; text-align:center}
.pub-top .home-city .tab-nav a.current{ border-bottom:2px #dd0000 solid; color:#dd0000}
.pub-top .tab-con-item a{color: #666; width:20%; float:left; display:block; text-align:center; line-height:30px;}
.pub-top .tab-con-item a:hover{color: #dd4248;}
.pub-top .tab-con-item { padding:0 20px; overflow:hidden; padding:5px 0 5px 0}
.pub-top .tab-con-item .city-more{ color:#aaa}


.pub-head{width:1210px; margin:0 auto; height:115px;}
.logo{ float:left;width:435px; height:115px; background:url(/assets/common/pic/logo.gif) no-repeat; }
.pub-search{ float:left; margin-left:70px;margin-top:35px}
.pub-search a{ float:left; margin-left:20px; display:block; margin-top:8px; color:#df4346}
.search-box{ border:2px solid #df4346; float:left; height:35px}
.search-box ul{ position:relative; width:80px; height:35px; overflow:hidden; line-height:35px; text-align:center; background:#f8f8f8; color:#999; float:left; cursor:pointer; z-index:99}
.search-box ul:hover{ height:auto !important;}
.search-box ul:after{   content: "";
    position:absolute;
    top:16px;
    right:5px;
    border-top: 4px solid #ccc;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;}
.search-box ul:hover:after{ content: "";
    position:absolute;
    top:16px;
    right:5px;
    border-top:0;
    border-bottom: 4px solid #ccc;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;}

.search-box input[type=text]{ width:300px; height:35px; outline:none; padding-left:20px; border:0; float:left; box-sizing:border-box;border-left:1px solid #ccc;}
.search-box button{ background:url(/assets/common/img/sear-btn.png) no-repeat; width:42px; height:35px; float:left; border:0; padding:0; margin:0; cursor:pointer }
.pub-nav{   background-image: -moz-linear-gradient( 90deg, rgb(64,65,69) 0%, rgb(78,78,80) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(64,65,69) 0%, rgb(78,78,80) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(64,65,69) 0%, rgb(78,78,80) 100%);
   height:45px;}
.pub-nav .nav {height:46px;margin:0 auto; width:1210px}
.pub-nav .nav li{ height:45px; float:left; position:relative}
.pub-nav .nav li dl{ position:absolute; display:none; left:0; right:0; z-index:99}
.pub-nav .nav li dl dd:hover{ background:#ef6e73}

.pub-nav .nav li.pub-nav-fe{ position:absolute; height:auto; right:0; bottom:0; width:230px;}
.pub-nav .nav li.pub-nav-fe img{ display:block}
.pub-nav .nav li.pub-nav-fe a{ padding:0}
.pub-nav .nav li.pub-nav-fe:before{ display:none}
.pub-nav .nav li.pub-nav-fe:hover {background: none}

.pub-nav .nav li:hover dl{ background:#de4349; display:block}
.pub-nav .nav li:hover{ background:#de4349}
.pub-nav .nav li a{ line-height:45px; color:#fff;  padding:0 50px;font-family: "Microsoft Yahei"; font-size:18px; display:block; text-align:center}
.pub-nav .nav li.active{ background:#de4349}
.pub-nav .nav li:before{content: ""; display:block; position:absolute;width:1px; height:25px; background:#75767b; border-right:1px solid #444; top:10px}
.pub-nav .nav li:first-of-type:before,.pub-nav .nav li:hover:before{content: ""; display:none}
.nav-list:after{
    content: "";
    position:absolute;
    top:21px;
    right:25px;
    border-top: 5px solid #fff;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;}
.nav-list:hover:after{
    content: "";
    position:absolute;
    top:21px;
    right:25px;
    border-top:0;
    border-bottom: 5px solid #fff;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;}

.validate .focus{border: 1px solid #DE4349 !important;}
.validate .valdate-info{color: #DE4349 !important; font-size: 12px; padding:2px;}
.validate .box-line{margin-bottom: 30px;}
.validate .height_auto{margin-bottom: 0 !important; height: 65px !important;}

.footer{ text-align:center; margin-top:50px;background: transparent;}
.footer .kefu-box{ background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; padding:15px 0}
.footer .kefu-box a{ display:inline-block; font-size:14px; padding:0 10px; border-radius:3px; border-top:1px solid #E42E31; background:#ff5353; font-weight:bold; color:#fff}

.footer ul{ margin: 0 auto; width:1210px; margin-top:20px; overflow:hidden}
.footer ul a{ color:#666}
.footer ul li{ float:left; width:121px; border-right:1px solid #ddd; box-sizing:border-box}
.footer ul li:last-of-type{ border-right:0}
.footer p{ margin-top:10px; color:#999}
.footer p img{ margin: 0 20px}

.go-top{ position:fixed; bottom:20px; right:20px; width:50px; height:101px; border:1px solid #ddd; cursor:pointer}
.go-top li.t1{ border-bottom:1px solid #ddd; position:relative; height:50px; background:url(/assets/common/img/weixin.png) #fff center center no-repeat}

.go-top li.t1 span{ display:none; background:#fff; position:absolute; right:51px; bottom:-1px; padding:10px; border:1px solid #ddd}
.go-top li.t1:hover span{ display:block}
.go-top li.t2{ height:50px; background:url(/assets/common/img/top.png) #fff center center no-repeat}
.go-top li.t2 a{ display:block; height:50px;}
.go-top li:hover{ background-color:#f1f1f1}

.friend{ position: relative; width: 1208px;  overflow: hidden; border:1px solid #ddd; margin:0 auto; margin-top:50px; padding-top:10px}
.friend .tab-nav { height: 30px; border: 0;}
.friend .tab-nav a {border: 0; display: block; float: left; padding:0 15px; height: 30px; line-height: 30px; text-align: center; text-decoration: none; font-size: 14px; font-family: "Microsoft Yahei";  }
.friend .tab-nav a.current { background:#fff;font-weight:bold; position:relative;}
.friend .tab-con { position: relative; overflow: hidden; height: auto; width: 100%; }
.friend .tab-con-item { display: none;  padding:15px; color:#444; overflow:hidden; height: auto; width: auto;}
.friend .tab-con-item a{ float:left; display:block; margin-right:10px;color: #999; }

.nav{border: 0;}
.pub-nav .nav li.active:before{display:none}

/*弹窗*/
.windowbg{  background:#000;background:rgba(0,0,0,.5);filter:alpha(opacity=50)\9; position: fixed; top:0; bottom:0; left:0; right:0; z-index:9999}
.windowbg .order-window{ width:330px; border-radius:3px; background:#fff; margin:0 auto; position:relative; margin-top:10%; overflow:hidden}
.windowbg .order-window .tit{ height:50px; line-height:50px;border-bottom:1px #ddd solid; background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; text-align:center}
.windowbg .order-window .shutdown{ position:absolute; right:10px; top:0; color:#fff; text-shadow:0 0 1px #666; font-size:20px; cursor:pointer}
.windowbg .order-window h3 { font-family: "Microsoft Yahei";font-size: 14px; font-weight: 100; margin-bottom:10px}
.windowbg .order-window h4 { font-family: "Microsoft Yahei";font-size: 12px; font-weight: 100; margin-bottom:10px; text-align:left}
.windowbg .order-window .edit-text { width: 100%;}
.windowbg .order-window .edit-text input[type=text]{ padding-left:20px;display: block;  box-sizing: border-box; height:35px;border: 1px solid #dcd8d9; }
.windowbg .order-window .edit-text .edit-city { width: 100%; height: 35px; margin-bottom: 30px; border: 1px solid #dcd8d9; }
.windowbg .order-window button { width: 100%; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer }
.windowbg .order-window .order-info{ padding:20px; text-align:center;}
.windowbg .order-window p{ margin-top:10px; text-align:center ; color:#666}
.windowbg .order-window .weiximg{ padding:30px 0; margin:0 auto; display:block}


/**********************************/
.win_box .form-horizontal{overflow:hidden;position:relative;width:100%;height:100%;}
.win_box .form-horizontal:after{content:"";display:block;clear:both;}
.win_box .win_box_in .vtop{display:inline-block;display:inline;\9;vertical-align:top;}
.win_box .win_box_in .focus{border-color:#DE4348;}
.form-horizontal .line{float:left;width:100%;font-size:14px;margin-bottom:10px;}
.form-horizontal .line input,.form-horizontal .line select{height:30px;border:1px solid #DDD;font-size:14px;font-family:arial,microsoft yahei,"Microsoft YaHei";line-height:30px\0;margin-left:5px;color:#666;}
.form-horizontal .line select option{padding-left:5px;}
.form-horizontal .line input{padding-left:5px;width:100%;}
.form-horizontal .line select{padding:3px 5px\0;*padding:8px 5px\0;vertical-align:top\0;}
.form-horizontal .line .label{float:left;margin-top:5px;text-align:right;font-size:15px;font-family:arial,microsoft yahei,"Microsoft YaHei";}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{float:left;}
.col-12{width:100%;}
.col-11{width:91.66666667%;}
.col-10{width:83.33333333%;}
.col-9{width:75%;}
.col-8{width:66.66666667%;}
.col-7{width:58.33333333%;}
.col-6{width:50%;}
.col-5{width:41.66666667%;}
.col-4{width:33.33333333%;}
.col-3{width:25%;}
.col-2{width:16.66666667%;}
.col-1{width:8.33333333%;}
.win_box{position:fixed;left:0;top:0;width:100%;height:100%;z-index:99999;display:none;}
.win_box .win_box_bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#666;opacity:0.5;filter:alpha(opacity=50);}
.win_box .win_box_content{position:absolute;width:518px;height:350px;top:50%;left:50%;margin-top:-235px;margin-left:-290px;}
.win_box .zb_box_out,.win_box .win_box_out{position:absolute;width:100%;height:100%;background:#666;opacity:0.24;filter:alpha(opacity=40);border-radius:10px;}
.win_box .zb_box_in,.win_box .win_box_in{position:absolute;width:540px;height:450px;top:50%;left:50%;margin-top:-215px;margin-left:-270px;background:#fff;}
.win_box .zb_box_title{position:relative;color:#666;}
.win_box .zb_box_title .zb_box_hd{width:100%;height:83px;position:relative;}
.win_box .zb_box_title .zb_box_hd_sj{background:url(/assets/common/img/header_sj.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_hd_bj{background:url(/assets/common/img/header_bj.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_hd_ys{background:url(/assets/common/img/header_ys.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_hd_lf{background:url(/assets/common/img/header_lf.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_info{text-align:center;font-size:14px;font-family:arial,microsoft yahei,"Microsoft YaHei";padding:5px 0;background:#f2f2f2;}
.win_box .input-msg{text-align:center;color:#666;padding:10px 0;}
.win_box .zb_box_form{padding:10px 0px 0px 20px;}
.win_box .zb_box_tip{padding:10px 0;text-align:center;font-size:16px;color:#DE4348;font-family:arial,microsoft yahei,"Microsoft YaHei";}
.win_box .zb_box_btn{    border: 0;background:#DE4348;padding:10px 15px;margin-bottom:10px;border-radius:30px;font-weight:bold;font-size:14px;color:#FFF;cursor:pointer;}

.win_box .zb_box_footer .zb_box_info{color:#A5A5A5;font-size:13px;text-align:left;font-family:arial,microsoft yahei,"Microsoft YaHei";margin-bottom:10px;}
.win_box .zb_box_footer .zb_box_info .icon{background:url(/assets/common/img/global.png) no-repeat;width:24px;height:18px;background-position:-181px -7px;display:block;float:left;}
.win_box .zb_box_footer .zb_box_msg{color:#A5A5A5;font-size:13px;text-align:left;font-family:arial,microsoft yahei,"Microsoft YaHei";}
.win_box .zb_box_footer .zb_box_msg span{color:#DE4348;}
.win_box .zb_box_footer .zb_box_msg .icon{background:url(/assets/common/img/global.png) no-repeat;width:23px;height:20px;background-position:-215px -35px;display:block;float:left;}
.win_box_close{background:url(/assets/common/img/global.png) no-repeat;width:18px;height:19px;background-position:-7px -6px;position:absolute;right:10px;top:5px;display:block;cursor:pointer;}
.win_box_err{color:#DE4348;height:20px;font-size:12px;font-weight:bold;font-family:arial,microsoft yahei,"Microsoft YaHei";text-align:center;}
.win_box .form-horizontal .win_box_focus{border:1px solid #DE4348;}
.win_box .win_box_tip{color:#CB1108;margin-left:5px;float:none;font-style:normal;text-align:center;}
.smaller{-webkit-backface-visibility:visible;-webkit-transform-origin:center center;-webkit-animation:smaller 0.3s 0s 1 ease-in-out normal both;-moz-backface-visibility:visible;-moz-transform-origin:center center;-moz-animation:smaller 0.3s 0s 1 ease-in-out normal both;margin-right:-1000px;}
@-webkit-keyframes smaller{0%{left:50%;}
100%{left:100%;top:85%;width:0px;height:0px;}
}
@-moz-keyframes smaller{0%{left:50%;}
100%{left:100%;top:85%;width:0px;height:0px;}
}
.step1,.step2,.step3{background:#FFF;width:100%;height:100%;border:1px solid #FFF;width:518px;height:398px;float:left;font-family:arial,microsoft yahei,"Microsoft YaHei";position:relative;}
.step1{background:url(/assets/common/img/zxbj_bg.gif) repeat;}
.win_box .steptop{width:518px;height:72px;}
.win_box .steptop .win_line{margin:0 15px;margin-top:15px;height:1px;width:548px;border-bottom:2px dashed #C1C1C1;float:left;}
.step1 .steptop,.step2 .steptop,.step3 .steptop{background:url(/assets/common/img/zxbj_top.png) no-repeat;}
.step2 .step_info,.step3 .step_info{margin:0 20px;text-align:left;font-size:14px;}
.step3 .step_info{padding:10px;margin-top:0px;}
.step3 .step_info dl dt,.step3 .step_info dl dd{line-height:26px;color:#666;}
.step3 .step_info h2{color:#FF5658;padding-bottom:20px;font-size:15px;font-weight:150}
.step_form{margin:10px 30px 10px 30px;float:left;width:100%;}
.step_form .line button.verify{height:32px;line-height:30px;padding:0 10px;border:1px solid #ccc;cursor:pointer;color:#666;}
.step_form .line button.verify[disabled]{color:#999;cursor:no-drop;}
.step_form .line .iradio_minimal-red{float:left;margin-top:5px;}
.step_form .line .span{font-size:14px;font-family:arial,microsoft yahei,"Microsoft YaHei";float:left;margin-top:3px;margin-left:5px;}
.step_form .line .step_tips{color:#DE4348;text-align:center;font-size:14px;}
.step_form .line .label{margin-right:20px;}
.step_form .line .ipt{height:34px;width:293px;}
.step_form .line .mipt{height:34px;width:293px;background:#fff url(../images/m2.jpg) no-repeat right center;}
.step_form .line .citybox{width:146.3px;}
.bjbox .line{margin-bottom:16px}
.step_form .button{height:35px;line-height:33px;width:298px;background:#FF5658;display:block;color:#fff;text-align:center;text-decoration:none;margin:0;border:1px solid #FF5658;border-radius:3px;font-size:14px;font-family:microsoft yahei;margin-top:0px;margin-left:5px;}
.step_form .buttons{width:100%;text-align:center;bottom:30px;}
.step_form .buttons button.button{display:inline-block;margin:0;margin-right:5px;border:0;cursor:pointer;}
.step_form .znbj-edit-sel{height:40px;line-height:38px;width:300px;}
.rdo{margin-left:5px;}
.rdolist,.chklist{display:none;}
.rdobox,.chkbox{text-align:center;display:inline-block;padding:5px 5px 5px 5px;width:82px;height:24px;line-height:24px;color:#666;cursor:pointer;margin-right:5px;}
.rdo .unchecked{color:#666;border:1px solid #ddd;transition-property:background;transition-delay:0s;transition-duration:.1s;transition-timing-function:linear;}
.rdo .checked{background:#ff5659;color:#fff;border:1px solid #ff5659;}
.form-horizontal .line input,.form-horizontal .line select{height:35px;border:1px solid #DDD;font-size:14px;font-family:arial,microsoft yahei,"Microsoft YaHei";line-height:35px\0;margin-left:5px;color:#666;}
.form-horizontal .line select option{padding-left:5px;}
.form-horizontal .line input{padding-left:5px;width:100%;}
.form-horizontal .line select{padding:3px 5px\0;*padding:8px 5px\0;vertical-align:top\0;}
.step_form .button:hover{background:#C61522}
.win_box .zxbj-tip{float:left;margin-top:6px;font-size:12px;}
.win_box .win_box_list{width:1920px;overflow:hidden;position:absolute;}
.win_box .shutdown{background:url(/assets/common/img/global.png) no-repeat;width:34px;height:31px;background-position:-283px -13px;float:right;margin-right:15px;margin-top:10px;cursor:pointer;}
.step_form .step2_tips{height:24px;font-weight:bold;}
.step_form .step_close{background:#6D6B6A;}
.step3 .buttons{padding-left:22px;}
.step3 .button{width:160px;margin-right:10px}



.win_box .loginbox{font-family:"Microsoft YaHei";width:460px;height:420px;margin-top:-210px;margin-left:-230px;}
.win_box .win_box_in .logintit{display:block;padding:20px 30px;line-height:20px;height:20px;position:relative;}
.win_box .loginbox a{display:inline-block;text-align:center;border-radius:3px;text-decoration:underline;color:#F24B4B;}
.win_box .loginbox .win_box_in{width:360px;height:380px;margin-top:-190px;margin-left:-210px;padding:0 30px;}
.win_box .win_box_in .logintit h1{float:left;font-weight:normal;font-size:20px;}
.win_box .win_box_in .logintit i{float:right;}
.win_box .win_box_in .logintit a{display:inline-block;text-align:center;border-radius:3px;text-decoration:underline;color:#F24B4B;}
.win_box .win_box_in .loginput{position:relative;}
.win_box .win_box_in .loginput input{font-size:14px;border:1px solid #ddd;height:50px;line-height:50px\0;width:308px;padding-left:50px;margin:0;}
.win_box .win_box_in .loginput .log{background:url(/assets/common/pic/loginboxbg.png) no-repeat 10px 0;color:#666;}
.win_box .win_box_in .loginput .res{background:url(/assets/common/pic/loginboxbg.png) no-repeat 10px -50px;color:#666;}
.win_box .win_box_in .loginput .tips{height:20px;font-size:12px;color:#F24B4B;}
.win_box .win_box_in .login-info{padding:5px;text-align:right;}
.win_box .loginbox .btn{line-height:40px;margin-top:10px;height:40px;font-size:14px;}
.win_box .loginbox .btn a.logbtn{width:100%;height:40px;background:#44b549;color:#fff;margin-right:20px;text-decoration:none;}
.win_box .loginbox .btn a.logbtn:hover{text-decoration:none;background:#08be77;}
.win_box .loginbox .other{margin-top:10px;padding-top:10px;border-top:1px dotted #f1f1f1;overflow:hidden;}
.win_box .loginbox .other a{display:block;width:50px;color:#FFF;height:50px;line-height:50px;border-radius:80px;text-align:center;float:left;margin-right:5px;}
.win_box .loginbox .other a.qqlogin{background:url(/assets/common/pic/otherlogin.png) no-repeat 10px -5px #3bc9f7;float:left;}
.win_box .loginbox .other a:hover{text-decoration:none;}
.win_box .loginbox .other a i{border-left:1px #eee dotted;display:inline-block;width:100%;}
.win_box .loginbox .other a.weibologin{background:url(/assets/common/pic/otherlogin.png) no-repeat 10px -58px #e15050;float:right;}
.win_box .loginbox .other{ margin-top:20px; padding-top:10px;border-top:1px dotted #f1f1f1; overflow:hidden;line-height:35px; width: 100%;  }
.win_box .loginbox .other a{ display:block; width:35px; color:#FFF; height:35px; border-radius:100px; text-align:center;}
.win_box .loginbox .other a.qqlogin{ background:url(/assets/common/pic/otherlogin.png) no-repeat 2px -6px #3bc9f7; float:left; margin-right:10px}
.win_box .loginbox .other a:hover{ text-decoration:none; opacity:0.8}
.win_box .loginbox .other i{ float:left; margin-right:10px}
.win_box .loginbox .other a.weibologin{ background:url(/assets/common/pic/otherlogin.png) no-repeat 2px -58px #e15050; float:left; margin-right:10px}
.loginbox .other a.tblogin{ background:url(/assets/common/pic/otherlogin.png) no-repeat 3px -156px #08BE77; float:left; margin-right:10px}
.win_box .loginbox .log-reg{float: right; margin-right: 5px; margin-top:5px; margin-bottom: 5px;}
.win_box .loginbox .log-close{background:url(/assets/common/img/global.png) no-repeat;  width:17px;height:16px;background-position:-7px -8px; position: absolute; right: 5px; top: 50%; margin-top: -8px;}
.login li a.loginout{color:#DC4146; margin-left:5px; }

/*!*S-返回顶部*!*/
.small{position:fixed;right:100px;bottom:20px;}
.small .small-top{width:60px;height:64px;margin-top:-4px;background:url(/assets/common/img/weixin2.png) no-repeat;cursor:pointer;}
.small .small-top:hover{background:url(/assets/common/img/weixin1.png) no-repeat;}
.small .mian{z-index:33;position:absolute;right:70px;}
.small .mian img{display:none;padding:5px;background-color:#fff;border:1px solid #ccc;}
.small-top:hover .mian img{display:block;}
.small .fanhui{width:60px;height:67px;margin-top:-4px;background:url(/assets/common/img/top2.png) no-repeat;cursor:pointer;}
.small .fanhui:hover{background:url(/assets/common/img/top1.png) no-repeat;}
/*!*E-返回顶部*!*/

/*S-客服挂件*/
.fix_warp{position:fixed;width:1210px;bottom:200px;margin-left:-605px;left:50%;z-index:1500;}
.fix_nav{position:absolute;width:95px;right:-105px;bottom:380px;height:340px;cursor:pointer;}
.moqu_kefu{width:76px;margin-left:11px;height:224px;margin-top:91px;background-color:#fff;border:1px solid #AE7C85;}
.moqu_kefu .moqu_header{width:146px;height:110px;position:absolute;top:0;left:-46px;display:block;background:url(/assets/common/img/xiaolu1.png) no-repeat;}
.moqu_kefu .moqu_header:hover{background:url(/assets/common/img/xiaolu2.png) no-repeat;}
.moqu_kefu .moqu_qq{margin-top:20px;border-bottom:1px solid #A6707D;}
.moqu_kefu .moqu_qq a img,.moqu_kefu .moqu_sj img{margin-left:11px;}
.moqu_kefu .moqu_sj{width:76px;position:absolute;top:156px;margin-top:20px;border-bottom:1px solid #A6707D;}
.moqu_kefu .moqu_zb{width:76px;position:absolute;top:230px;margin-top:9px;background-color:#FC5660;height:77px}
.moqu_kefu .moqu_zb img{padding-top:5px;margin-left:11px;}

/*E-客服挂件*/
/*****S-设计-底部伸缩广告*****/
.zb_footer_box{position:fixed;left:0;bottom:0;width:100%;height:160px;z-index:10001;display:none;}
.zb_footer_box .zb_footer_bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);}
.zb_footer_box .zb_l_bg{position:absolute;left:116px;top:-26px;width:450px;height:160px;background:url(/assets/common/img/xiaolu.png) no-repeat;}
.zb_footer_box .zb_m_container{position:absolute;padding:0 10px;right:107px;top:0;width:411px;height:160px;background:#1C2837;}
.zb_footer_box .zb_m_container .zb_m_tit{color:#FFF;font-size:18px;padding:15px 0;letter-spacing:2px;font-weight:400;text-align:center;font-family:microsoft yahei;}
.zb_footer_box .zb_m_container .zb_m_tit p{font-size:23px;}
.zb_footer_box .zb_m_container .zb_m_tit span{font-size:15px;display:block;}
.zb_footer_box .zb_m_container .zb_m_tit span a{color:#ff5353;}
.zb_footer_box .zb_m_container .zb_m_input{padding:10px 0;text-align:center;color:#666;}
.zb_footer_box .zb_m_container .zb_m_input >*{display:inline-block;*display:inline;vertical-align:top;}
.zb_footer_box .zb_m_container .zb_m_input input[type=text]{color:#666;border:1px solid #FFF;height:33px;padding-left:5px;width:185px;line-height:35px;}
.zb_footer_box .zb_m_container .zb_m_input button{width:80px;height:35px;cursor:pointer;text-align:center;background:#FF8400;font-size:16px;font-weight:bold;color:#fff;border:none;margin-left:9px;border-radius:11px;}
.zb_footer_box .zb_r_qrcode{position:absolute;right:80px;top:5px;}
.zb_footer_box .zb_close{position:absolute;cursor:pointer;right:0px;top:20px;background:url(/assets/common/img/close.png) no-repeat;width:44px;height:42px;}
.zb_footer_box_little{display:none;width:155px;height:215px;position:fixed;left:-155px;bottom:0px;cursor:pointer;}
/*****E-底部伸缩广告*****/

