.new-bread{ line-height:30px; margin-top:20px}

.xgt-home-nav{ background:#fff; border:1px solid #ddd; float:left; height:416px}
.xgt-home-nav dl{ border-bottom:1px dashed #ddd; padding:20px; padding-right:0; overflow:hidden;font-family: "Microsoft Yahei"}
.xgt-home-nav dl:last-of-type{ border-bottom:0;}
.xgt-home-nav dl dt,.xgt-home-nav dl dd{ float:left; height:42px; line-height:21px; overflow:hidden}
.xgt-home-nav dl dt{ border-right:1px solid #ddd; width:60px;font-size:16px; text-align:center; padding-right:20px;}
.xgt-home-nav dl dt em{ display:block; color:#aaa; }
.xgt-home-nav dl dd{ width:270px}
.xgt-home-nav dl dd a{ display:block; width:90px; text-align:center; float:left}

.xgt-focus{ float:right; width:837px; height:418px; background:#eee}

/*焦点图*/
.xgt-focus{ position:relative; width:837px; height:418px; background-color: #000; float: left;}
.xgt-focus img{ width: 837px; height: 418px;}
.xgt-focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.xgt-focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.xgt-focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;}
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }
.xgt-focus .btn a:hover,.xgt-focus .btn a.current{  cursor:pointer;background:#fc114a;}
.xgt-focus .fPic{ position:absolute; left:0px; top:0px; }
.xgt-focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }
.xgt-focus .shadow{ width:755px; position:absolute; bottom:0; left:0px; z-index:10; height:74px; line-height: 74px; background:rgba(0,0,0,0.6);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }
.xgt-focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:20px; font-family: "\5FAE\8F6F\96C5\9ED1"; font-weight:700}
.xgt-focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }
.xgt-focus .fcon img{ display:block; }
.xgt-focus .fbg{bottom:25px; right:102px; position:absolute; height:21px; text-align:center; z-index: 200; }
.xgt-focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}
.xgt-focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; }
.xgt-focus .D1fBt i:hover{color:#fc114a;}
.xgt-focus .D1fBt .current i{color: #fc114a;}
.xgt-focus .D1fBt img{display:none}
.xgt-focus .D1fBt i{ font-style:normal; color: #D9D9D9; font-size: 15px;}
.xgt-focus .prev,.xgt-focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
.xgt-focus .prev{ bottom:0; right:41px;background-position:0 0; cursor:pointer; }
.xgt-focus .next{bottom:0; right: 0;  background-position:-40px 0;  cursor:pointer;}
.xgt-focus .prev:hover{  background-position:0 -74px; }
.xgt-focus .next:hover{  background-position:-40px -74px;}


/**/
.xgt-home-body{ background:#f6f2e9}
.xgt-zb-banner{font-family: "Microsoft Yahei"; border:1px solid #ddd; background:#f8f8f8; padding:48px 36px; margin-top:30px; line-height:30px}
.xgt-zb-banner span{ font-size:24px; margin-right:30px;}
.xgt-zb-banner input,.xgt-zb-banner .sle{ width:150px; height:30px; line-height:32px; border:1px solid #ddd; margin-right:30px; padding:0 5px}
.xgt-zb-banner .sle{ height:32px; vertical-align:1px}
.xgt-zb-banner button{ border:0; background:#ff5659; color:#fff; width:164px; height:32px;cursor: pointer}
.xgt-zb-banner input.fal{ border:1px solid #ff5659}


/**/
.xgt-tj { margin-top:30px; float:left; background:#fff}
.xgt-tj .xgt-tj-row1{ height:455px; width:980px}
.xgt-tj .xgt-tj-row2{ height:235px; width:980px}
.xgt-tj li{ width:230px; height:220px; float:left; margin-bottom:15px; margin-right:15px;position:relative;  }
.xgt-tj li span{font-family: "Microsoft Yahei"; font-size:14px;display:block; position:absolute; height:30px; line-height:30px; color:#fff; padding:0 10px; right:0; bottom:10px;  background-image: -moz-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(255,255,255,0) 100%);}
.xgt-tj li img{ width:100%; height:100%;}
.xgt-tj li img:hover{ opacity:.8}
.xgt-tj li.xgt-tj-big span{ bottom:30px}
.xgt-tj li.xgt-tj-tit{ background:url(../images/4953.jpg)}
.xgt-tj li.xgt-tj-tit a{ display:block; height:220px}
.xgt-tj li.xgt-tj-big{ width:720px; height:455px; float:right;}
.xgt-tj .xgt-tj-row2 li{ margin-bottom:0}


/* accordion_container */
.accordion_container { background:#fff;  margin-top:30px;float:right; width: 230px;}
.accordion-tit{ height:43px;  font-family: Microsoft YaHei;font-size:24px; line-height:43px }
.accordion-tit span{ width:6px; height:23px; background:#ff5659; display: inline-block; position:relative; margin-left:20px; vertical-align:-2px}
.accordion-tit span:after{ content:""; position:absolute; background:#f98b8a; width:6px; height:16px; bottom:0; left:-8px}
.accordion-tit span:before{ content:""; position:absolute; background:#f98b8a; width:6px; height:10px; bottom:0; right:-8px}
.accordion_container .content, .accordion_container .tab { width: 200px; }
.accordion_container .tab {height: 50px; float: left; padding-right:10px; border-bottom:1px dashed #ddd}
.accordion_container .six .tab{ border-bottom:0}
.accordion_container .tab a:hover { color: #ed4849;}
.accordion_container .tab a { margin-left: 15px; float: left; margin-top: 10px;  font-family: Microsoft YaHei; text-decoration: none; font-size:14px; display:block}
.accordion_container .tab span { text-align:center; color:#fff; float: left; margin-top: 10px;  background:url(../images/n1.gif) no-repeat; width:21px; height:23px}
.accordion_container .tab span.other{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
opacity:.5}
.accordion_container .tab a em{ color:#999;}
.accordion_container .tab { padding: 10px; }
.accordion_container .content { width: 230px; height: 150px;}
.accordion_container .content img { display: block; width: 207px; height: 137px; float: left; margin: 10px; }
.accordion_container .first { z-index: 7; top: 0px; }
.accordion_container .second { z-index: 6; top: 81px; }
.accordion_container .third { z-index: 5; top: 162px; }
.accordion_container .four { z-index: 4; top: 243px; }
.accordion_container .file { z-index: 3; top: 324px; }
.accordion_container .six { z-index: 2; top: 405px; }
.accordion { position: relative; overflow: hidden; height: 647px; padding-right:10px}
.accordion > div { position: absolute; left: -1px; cursor: pointer; background-color: #FFF; width: 220px; }

.xgt-body-tit{ margin-top:30px; background:#fff; height:40px; line-height:40px; padding:10px}
.xgt-body-tit section{font-family: "Microsoft Yahei"; font-size:26px; float:left}
.xgt-body-tit a{ float:right}
.jbmt-top{ font-family: "Microsoft Yahei";background:#fff; overflow:hidden; padding:0 30px; padding-top:20px; border-top:1px solid #ddd; border-bottom:1px solid #ddd}
.jbmt-top li { text-align:center; width:80px; line-height:45px; float:left; margin:0 55px}
.jbmt-top li img{ width:80px; height:80px; border-radius:50%; overflow:hidden; display:block;}
.jbmt-top li:hover img{opacity: 0.8;}

.jbmt-list{ background:#fff; overflow:hidden; border-bottom:1px solid #ddd}
.jbmt-list:last-of-type{ border-bottom:0}
.jbmt-list dt{ float:left}
.jbmt-list dt img{ display:block}
.jbmt-list dd{  margin:15px;font-family: "Microsoft Yahei";float:left; width:230px; height:197px; line-height:43px; text-align:center; margin-bottom:0}
.jbmt-list dd img{ width:100%; height:154px; display:block}
.jbmt-list dd:hover{ box-shadow:5px 5px 6px #999;}

.jjfg-list{ background:#fff; overflow: hidden}
.jjfg-list li {float:left;width:185px; height:260px; margin-left:14px; margin-bottom:14px}
.jjfg-list li a{ display:block;width:185px; height:260px;  position:relative;overflow: hidden}
.jjfg-list li span{font-family: "Microsoft Yahei"; display:block; height:160px;  position:absolute; left:0; right:0; bottom:-130px; color:#fff; background:rgba(0,0,0,.5);font-size:14px; text-align:center; padding-top:0;transition: all 0.2s; -moz-transition: all 0.2s; /* Firefox 4 */ -webkit-transition: all 0.2s; /* Safari and Chrome */}
.jjfg-list li:hover span{ padding-top:100px; bottom:0;transition: all 0.2s; -moz-transition: all 0.2s; /* Firefox 4 */ -webkit-transition: all 0.2s; /* Safari and Chrome */}
.jjfg-list li span:first-line{font-size:18px;}
.jjfg-list li img{ width:100%; height:100%}

.rmzt-list { background:#fff; overflow:hidden; width:1230px;padding:0 14px;}
.rmzt-list li{overflow:hidden; width:280px; height:210px; float:left; margin-right:20px; margin-bottom:20px; position:relative}
.rmzt-list li img{ width:280px; height:210px; display:block}
.rmzt-list li:hover p{ bottom:0;transition: all 0.2s; -moz-transition: all 0.2s; /* Firefox 4 */ -webkit-transition: all 0.2s; /* Safari and Chrome */}
.rmzt-list li p{ position:absolute; bottom:-54px; line-height:42px; text-align:center;font-family: "Microsoft Yahei"; font-size:14px; color:#fff; width:100%}
.rmzt-list li p span{ display:block;font-size:18px;}/*background:url(../images/bolangx.png) top center no-repeat*/
.rmzt-list li p{ background:rgba(0,0,0,.3);}
.info-xq{line-height: 28px;font-size: 12px !important;margin:0 20px;text-align: left;}
/*.rmzt-list li:nth-of-type(1) p{ background:#d7a570}
.rmzt-list li:nth-of-type(2) p{ background:#ad81c0}
.rmzt-list li:nth-of-type(3) p{ background:#7f90c6}
.rmzt-list li:nth-of-type(4) p{ background:#d77aa9}
.rmzt-list li:nth-of-type(5) p{ background:#6eb188}
.rmzt-list li:nth-of-type(6) p{ background:#cf6b83}*/

.mszpxs-list{ background:#fff;overflow:hidden; padding-left:13px}
.mszpxs-list li{ width:226px; position:relative; height:282px; overflow:hidden; box-sizing:border-box; border:1px solid #ddd; margin-right:13px; margin-bottom:13px; float:left}
.mszpxs-list li:hover{ box-shadow:3px 3px 3px rgba(0,0,0,.5)}
.mszpxs-list li img{ width:100%; height:182px; position:absolute; z-index:1}
.mszpxs-list li a.avatar {z-index:2; overflow:hidden;display:block; width:100%; height:282px; text-align:center;font-family: "Microsoft Yahei";}
.mszpxs-list li a.avatar img{ position:relative; display:block; width:88px; height:88px; border:4px #fff solid; margin:0 auto; border-radius:50%; overflow:hidden; margin-top:120px}
.mszpxs-list li p{ font-size:16px; margin-top:5px}
.mszpxs-list li p em{ font-size:12px; margin-left:10px; color:#999}
.mszpxs-list li a:hover{ color:#333}


.gzxgt-list{ font-family: "Microsoft Yahei";background:#fff; overflow:hidden; padding-top:20px; padding-left:5px}
.gzxgt-list li { text-align:center; width:100px; line-height:45px; float:left; margin:0 25px}
.gzxgt-list li img{ width:100px; height:100px; border-radius:50%; overflow:hidden; display:block;}
.gzxgt-list li:hover img{opacity: 0.8;}
.xgt-banner-img{ margin-top:30px; display:block}

/***********美图首页菜单弹出层*************/
.xgt-home-nav dl .more{
    width: 480px;
    padding:20px 0 20px;
    position: absolute;
    left: 372px;
    background-color: #fff;
    z-index: 11;
    display: none;
}
.xgt-home-nav dl .more a{
    display: block;
    width: 90px;
    line-height: 21px;
    text-align: center;
    float: left;
}
.xgt-home-nav dl:nth-child(1):hover .more{
    top: 0;
    border-top: 1px solid #ddd;
    display: block;
}
.xgt-home-nav dl:nth-child(2):hover .more{
    top: 83px;
    display: block;
}
.xgt-home-nav dl:nth-child(3):hover .more{
    top: 166px;
    display: block;
}
.xgt-home-nav dl:nth-child(4):hover .more{
    top: 249px;
    display: block;
}
.xgt-home-nav dl:nth-child(5):hover .more{
    top: 332px;
    border-bottom: 1px solid #ddd;
    height: 45px;
    display: block;
}