body { font-family:Microsoft YaHei;}
.bq-list { overflow:hidden; font-family:Microsoft YaHei}
.bq-list dt{ font-size:20px;line-height:40px; margin-bottom:10px; border-bottom:1px solid #f1f1f1; clear:both;font-weight:110;padding-top:20px}
.bq-list dd { float:left;margin-right:6px; overflow:hidden}
.bq-list dd a {font-size:14px;display:inline;float: left;color: #999;margin:5px;padding: 4px 8px;background: #f7f7f7;border-radius: 8px;white-space: nowrap;-webkit-transition: .3s background linear;-moz-transition: .3s background linear;transition: .3s background linear;}
.bq-list dd a:hover{background:#DE4348;color:#fff;text-decoration: none}


.bq-search-box{ background:url(../images/bg.jpg) no-repeat center; height:150px; overflow:hidden; padding-top:150px}
.bq-search-main1{ background:rgba(255,255,255,.2); padding:20px; width:600px; margin: 0 auto; height:80px;}
.bq-search-main2{ background:rgba(255,255,255,.2); width:560px;height:40px; padding:20px 20px}

.search-input{ background:#fff; height:40px; border:1px solid #f1f1f1; line-height:40px}
.search-input a{ display: block;float:left;  background:#ff9870; width:98px; text-align:center; color:#FFF; font-family:Microsoft YaHei; font-size:16px}
.search-input a:hover{ background:#f96931; text-decoration:none}
.search-input input[type=text]{ display: block; float:left; height:30px; margin:5px; width:450px}
.search-input input[type=text]:focus{ outline:none}

.bq-word{ font-size:14px; color:#888; clear:both}
.bq-word span{ margin-left:20px; color:#aaa;font-size:12px }
.bd-word-list{ margin-top:20px;font-family:Microsoft YaHei; clear:both; display:block; width:100%; height:34px}
.bd-word-list li{ float:left;font-size:16px; margin-right:20px; line-height:30px}
.bd-word-list li a:hover {text-decoration: none}
.bd-word-list li.active{ border-bottom:2px solid #e75d5d}
.bd-word-list li.active a{color:#e75d5d}
.bd-word-list li span{ margin-left:5px;font-size:12px ; color:#888;}

.bd-word-list h1{float: left;font-weight:400;color: #e75d5d}

.leftsider{ float:left; margin-top:20px; width:930px;}
.bqrightsider{ float:right; width:238px; border:1px solid #f1f1f1; padding:0 10px; margin-top:20px; }

.bqrightsider dt{ font-size:16px; line-height:40px; font-family:Microsoft YaHei;clear: both;}
.bqrightsider dd{ float:left; margin-right:20px; line-height:40px}

.complist{ width:930px; float:left; margin-top:20px;}
.complist li{ padding:18px; border:2px solid #fff; overflow:hidden; height:180px; border-bottom:2px dotted #f7f7f7}
.complist li:hover{ border:2px solid #f7f7f7}
.complist li .tu{ width:180px; height:180px; float:left}.complist li .tu img{ width:100%; height:100%}
.complist li .content{ float:left; margin-left:20px; width:450px}
.complist li .content h1{ line-height:30px; font-size:18px; font-family: Microsoft Yahei; font-weight:100}
.complist li .content p{ height:30px;line-height:28px; display:block}
.complist li .content p.diz{ background:url(../pic/diz.png) no-repeat left; padding-left:20px; color:#888; margin:5px 0;}
.complist li .content p.combtn a{ display:block; padding:0 10px; margin-right:20px; width:100px; float:left; border:#e76363 1px solid; height:28px; font-family: Microsoft Yahei; font-weight: bold; color:#e76363; text-align:center}
.complist li .content p.combtn a:hover{ background:#e76363; color:#fff; text-decoration:none}
.complist li .content p.sended{ margin-top:10px; color:#888}
.complist li .btn{ float:left; margin-left:20px; height:140px; border-left:1px dashed #eee; padding:20px; width:179px; background:#f7f7f7}
.complist li .btn a{ display:block; height:35px; line-height:35px; text-align:center; width:159px; margin-top:20px; font-family: Microsoft Yahei;  font-size:14px; padding-left:20px; color:#FFF; border-radius:2px}
.complist li .btn a.b1{ background:#e76363 url(../pic/compbtn.png) no-repeat 10px 0}
.complist li .btn a.b2{ background:#e76363 url(../pic/compbtn.png) no-repeat 12px -35px}
.complist li .btn a:hover{ text-decoration:none}
.complist li .content p.ico{ line-height:20px; padding:10px 0; height:20px}
.complist li .content p.ico span{margin-right:5px}
.complist li .content p.ico i{ border-radius:3px; color:#fff; display:inline-block; padding:0 3px 0 4px; text-shadow:1px 0 0 rgba(0,0,0,.15); margin-right:5px}
.complist li .content p.ico i.ico1{ background:#ffc600;border-right:1px solid #F90;border-bottom:1px solid #F90}
.complist li .content p.ico i.ico2{ background:#ff6600;border-right:1px solid #e00;border-bottom:1px solid #e00}
.complist li .content p.ico i.ico3{ background:#00a8ff;border-right:1px solid #006397;border-bottom:1px solid #006397}
.complist li .content p.ico i.ico4{ background:#1ab628;border-right:1px solid #076f11;border-bottom:1px solid #076f11}
.complist li .content p.ico i.ico5{ background:#00bbcc;border-right:1px solid #00828e;border-bottom:1px solid #00828e}


.wzlist{ border-top:1px solid #f1f1f1;margin-bottom: 10px}
.wzlist li{ position:relative; border:1px solid #f1f1f1; border-top:0; padding:10px 20px; overflow:hidden}
.wzlist li:hover{ background:#fefef9}
.wzlist li em{  color:#888; height:20px; line-height:20px; width:70px; text-align:center; border-radius:10px; float:left; background:#eee; margin-top:5px; margin-right:5px}
.wzlist li em.t1{ background:#f6c500; color:#fff;}
.wzlist li em.t2{background:#0cc66c; color:#fff;}
.wzlist li em.t3{background:#239dfa; color:#fff;}

.wzlist li h1{ font-family:Microsoft YaHei; font-size:16px; line-height:30px; height:30px; float:left; padding-left:10px; max-width:500px; overflow:hidden}
.wzlist li h1 a{color:#545454}
.wzlist li i{ color:#888; display:block; line-height:20px; max-height:40px; overflow:hidden; width:100%}
.wzlist li span{ position:absolute; right:10px; top:15px; width:150px; text-align:center; background:#f7f7f7; border-radius:5px; height:20px; line-height:20px; color:#ff7a7a}
.wzlist li .sltimg{ height:150px; margin-top:20px; margin-bottom:10px; overflow:hidden}
.wzlist li .sltimg img{ height:100%; width:auto; margin-right:20px}

.bq-img-list li{height:150px; margin-bottom:20px; border-bottom:1px solid #f1f1f1; padding:20px 0; clear:both; overflow: hidden}
.bq-img-list li p{ font-size:12px; font-weight:600; line-height:30px}
.bq-img-list li img{ float:left; height:110px; margin-right:10px; margin-top:10px; width:auto; margin-bottom:20px}

.ask-list{ margin-bottom:10px; border-top:1px solid #f1f1f1;}
.ask-list li{ padding:20px 0; border-bottom:1px dotted #f1f1f1}
.ask-list li:hover{ background:#faffef}
.ask-list li .ask-list-tit{ font-size:18px; line-height:30px; padding-right:110px; height:30px; overflow:hidden;}
.ask-list li div.state0{ background:url(../images/ready.png) no-repeat right;}
.ask-list li div.state1{ background:url(../images/yes.png) no-repeat right;}
.ask-list li .ask-list-info{ line-height:25px; margin-top:10px; color:#888}
.ask-list li p{ color:#aaa; margin-top:10px; overflow:hidden}

.de-list-box { margin-bottom:0px }
.de-list-box>li { position: relative; padding-right: 0; padding:20px 0; padding-left: 160px; border-bottom: 1px solid #eee; overflow: hidden; padding-bottom: 40px }
.de-list-box>li .user-head img { width: 80px; height: 80px; }
.de-list-box>li .user-head img:hover { opacity: 0.8 }
.de-list-box>li .user-head { position: absolute; left: 50px; top: 60px; height: 110px; width: 80px; text-align: center; line-height: 30px }
.de-list-box>li .user-head span { width: 80px; height: 80px; overflow: hidden; border-radius: 50px; display: block }
.de-list { max-height: 350px; overflow: hidden; font-family: Microsoft YaHei; position: relative }
.de-list .de-list-info { right: 20px; top: 20px; position: absolute }
.de-list .de-list-info a i { font-size: 16px; color: #f47b7b; padding-right: 10px }
.de-list .de-list-info a { color: #888; margin-right: 20px }
.de-list h1 { font-weight: 100; line-height: 50px; margin-left: 20px }
.de-list h1 span { color: #888; font-size: 12px; margin-left: 20px }
.de-list>p { color: #888; margin-left: 20px; }
.de-list .de-list-text { font-size: 14px; margin:10px; color: #666; background: #f7f7f7; padding: 10px; line-height: 25px; overflow: hidden; margin-bottom: 10px }
.de-list .de-list-text p { max-height: 50px; overflow: hidden }
.de-list .de-list-text h3 { font-weight: 100; color: #fff; background: #b0ddff; width: 100px; text-align: center }
.de-list .de-list-text li { width: 100px; height: 100px; margin-top: 5px; float: left; margin-right: 10px; text-align: center; line-height: 120px; }
.de-list .de-list-text li img { width: 100%; height: 100%; }
.de-list .de-list-text li img:hover { opacity: 0.9; }

