@charset "utf-8";
/**{ margin: 0px; padding: 0px;}*/
a {text-decoration: none;color: #010101;cursor: pointer;}
li{ list-style-type:none}

body {font: 12px/11px "����",Verdana; color: #333;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font: 12px/18px "NotoSansCJKsc","Microsoft Yahei",Arial,Verdana,sans-serif;
}
.HeaderBg {width: 100%; height:60px;background: #2CADFF;border-bottom:1px #90A4B1 solid;}
#Header {margin: 0 auto;height:60px;  }
#TopMenu{ height:60px; position:relative; }
#Questions{ position:absolute; right:20px; bottom:8px; color:#333; font-size:14px;}
#Questions span{ font-weight:normal; text-decoration:none; color:#333; }
#Questions span em{ font-style:normal; color:#FE7D00; font-weight:bold; }
#Questions strong{ display:inline-block; background:url(img/question.gif) left 1px no-repeat; text-indent:18px;text-decoration:underline; cursor:pointer; margin:0 0 0 16px; }

.Logo{ float:left; width:466px; padding:18px 0 0 8px; }
.Logo a{ color:#FFF; font-weight:normal;font-size:26px; font-weight:100; line-height:100%; }
.Logo a:hover,.Logo a:focus {text-decoration:none;}

.TopMenuList{ float:right; padding:3px 8px 0 0; }
.TopMenuList li{ float:left;  _background-position:right 3px;}
.TopMenuList li a{ display:inline-block; height:20px; line-height:20px; margin:0 8px; padding:0 3px;color:#fff; }
.TopMenuList li.youshang a{ background:url(img/ico.gif) left -60px no-repeat; padding-left:20px; }
.TopMenuList li.Suggestion a{ background:url(img/email.png) left 3px no-repeat; padding-left:20px; }
.TopMenuList li.Quit{ background:none; }
#Menu{ height:30px; line-height:30px;  }
#Menu li{ float:left; }
#Menu li a{ display:block; color:#25465b; width:106px; text-align:center; font-size:14px; font-weight:bold; }
#Menu li a:hover{ color:#FF7700; background:url(img/hover.png) left bottom repeat-x; }
#Menu li.ActivePage{ height:34px; margin-top:-4px; _position:relative; background:url(img/Active_bg.gif) left bottom no-repeat; }
#Menu li.ActivePage a{ padding-top:4px; color:#2a457b; background:transparent; }
#Menu li.ActivePage a:hover{ background:none; }

#mainContent { margin:0 auto; float:left; margin-left:10px; width:auto;}

.SettingItems{ height:32px; border-left:1px solid #cad2d6; border-right:1px solid #cad2d6; background:url(img/Menu_hover.png) left -50px repeat-x; margin-bottom:10px; padding:0 10px;  }
.SettingItems li{ float:left; height:25px; line-height:25px; margin:3px 15px 0; }
.SettingItems li a{ padding:0 10px; display:inline-block; }
.SettingItems li a:hover{ color:#FF7700; }
.SettingSelect{ background:url(img/Tab_bg.gif) left -134px no-repeat; font-size:13px; font-weight:bold; }
.SettingItems li.SettingSelect a{ background:url(img/Tab_bg.gif) right -159px no-repeat; color:#ecf9ff; }

.tools { height: 50px; padding:9px 0 0 9px; border:1px solid #cad2d6; background:url(img/ChargeBg.gif) left -54px repeat-x; margin-bottom: 10px;}
.adduser {display:inline-block; background:url(img/ico.png) left -200px no-repeat; width:104px; height:30px; float: left; margin-right: 10px;}
.Charge { position: absolute; top:4px; right: 10px; height: 20px; line-height: 20px;}

#CustomerList{ border:1px solid #DDD; border-top:none; margin-top: 20px;}
.CustomerList h2 a{ display:block; height:21px; line-height:21px; margin-top:7px; _overflow:hidden; cursor:pointer; }
.CustomerList h2 a em{ padding:0 16px; display:block; font-style:normal; color:#1D4771; }
.CustomerList h2 a.ActiveTab{ background:url(img/Tab_bg.gif) left top no-repeat; font-weight:bold; color:#1e4570; }
.CustomerList h2 a.ActiveTab em{ background:url(img/Tab_bg.gif) right -21px no-repeat; font-weight:bold; }
/*#CustomerList table{ width:100%; }
#CustomerList table tr{ height:30px; }
#GeneralTb thead tr{ height:28px; }
#GeneralTb td, #GeneralTb th, .GeneralTb td, .GeneralTb th{ padding:0 3px 0 3px; }
#GeneralTb thead tr label, #GeneralTb thead tr label.chked{ margin:0px; }
#GeneralTb .c_dynamic{ padding:0 3px 0 0; }
#GeneralTb .CommonOperation, #GeneralTb .CarryOver{ padding:0 8px; }
.c_dynamic{ width:41%; color:#76879b; padding-right:12px; text-align:right; }
#GeneralTb thead{ border-bottom:1px solid #cbd0d4; color:#333; font-weight:bold; margin-bottom: 10px; }
#GeneralTb thead th .Charge{ font-weight:normal; }
#CustomerList table tbody tr.odd{ background:#f1f1f1; }
#CustomerList table tbody tr td { border: 0px;}*/

.btn111{ color: #1d4572; font-weight: bold; font-size: 14px; width:103px; height:28px; padding-top: 2px; line-height:27px; vertical-align: middle; text-align: center; background:url(img/btn111.png); display: block; float: left; margin-right: 10px;}

.CustomerLeft { width: 210px;float: left;margin-right: 10px;}
.CustomerRight {width: 800px;float: left;}
#footer { height:60px; background:#6cf;}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}


 .HasBorder_lr{ border-left:1px solid #DDD; border-right:1px solid #DDD; padding:4px 0 4px 8px; }
.ViewTask{ border:1px solid #DDDDDD; border-top:none; margin:0px; padding:2px 0 12px 8px;}
.ViewTask label{ display:block; margin:4px 0; }
.ViewTask .Wdate, .NoTopBorder .Wdate{ width:85px; font-size:11px; }
.NoTopBorder{ border:1px solid #DDDDDD; border-top:none; padding:2px 0 8px 8px;}
.NoTopBorder label{ display:block; margin:4px 0; }
.NoBorder_b{ border-bottom:none; }

.TextRight{ text-align:right; padding:8px 8px 8px 0; }
.TextRight span{ color:#F00; vertical-align:middle; }
.TextCenter{ text-align:center; padding:8px;}
.WeightRed{ font-weight:bold; color:#cc0000; }
.WeightGreen{ font-weight:bold; color:#09680b; }
.P_btn, .P_btn2, .P_btn3, .P_btn4, .P_btn5{ border:none; width:45px; height:21px; line-height:21px; text-align:center; background:url(img/ico.png) left -50px no-repeat; color:#1d4572; cursor:pointer; vertical-align:middle;}
.P_btn:hover{ background-position:-100px -100px; }
.P_btn2{ width:105px; background:url(img/ico.png) -190px -150px no-repeat; }
.P_btn2:hover{ background-position:-190px -171px; }
.P_btn3{ width:68px; background:url(img/ico.png) -300px -150px no-repeat; }
.P_btn3:hover{ background-position:-300px -171px; }
.P_btn4{ width:39px; background:url(img/ico.png) -368px -150px no-repeat; }
.P_btn4:hover{ background-position:-368px -171px; }
.P_btn5{ width:62px; background:url(img/ico.png) -368px -150px no-repeat; }
.P_btn5:hover{ background-position:-368px -171px; }
#PlanType, #Schedule{ width:87px; }
.btn_AddPlan{ background:url(img/ico.png) left -360px no-repeat; width:104px; height:30px; }
.btn_PullPlan{ background:url(img/ico.png) -104px -360px no-repeat; width:132px; height:30px; }
.btn_Issued, .btn_Elicit, .btn_Print{ border:none; background:url(img/ico.png) -236px -360px no-repeat; width:82px; height:30px; }
.btn_Issued{ background:url(img/ico.png) -318px -360px no-repeat; }
.btn_Issued:hover{ background-position:-318px -390px; }
.btn_Print{ background:url(img/ico.png) -400px -360px no-repeat; }
.btn_Print:hover{ background-position:-400px -390px; }
.btn_Sms{ background:url(img/sms.png); width:82px; height:30px;}
.btn_Sms:hover{background:url(img/sms_h.png);}
.ExpandPlanList{ float:left; width:97px; height:21px; background:url(img/ico.png) -400px -360px no-repeat; cursor:pointer; }
#ExpandCustomer{ display:block; border:1px solid #c3c3c3; border-top:none; overflow:hidden; padding:1px 0 1px 8px; }
#ExpandCustomer a{ display:inline-block; background:url(img/ico.png) -469px -148px no-repeat; padding-left:20px; cursor:pointer; color:#1d4572; }
.CurrentView{ font-weight:bold; color:#0e467b; }
.btn_AddLog{ background:url(img/ico.png) left -420px no-repeat; width:134px; height:30px; }
.Txt188 { width:180px; border:1px solid #c3c3c3; padding:1px; height:16px; vertical-align:middle; }
.Txt160{ width:160px; border:1px solid #c3c3c3; height:15px; padding:2px 1px 1px 1px; vertical-align:middle; }
label.Inline{ display:inline-block; margin-right:20px; }
.State_A, .State_B, .State_C{ display:inline-block; margin-left:12px; background:url(img/bt_ico.gif) -21px -95px no-repeat; padding-left:14px; }
.State_B{ background:url(img/bt_ico.gif) -21px -145px no-repeat; }
.State_C{ background:url(img/bt_ico.gif) -21px -45px no-repeat; }
.CustomerList .WhiceYear a{ display:inline-block; width:19px; height:19px; margin-top:5px; float:left; }
.WhiceYear{ padding-left:80px; }
.WhiceYear strong{ display:inline-block; float:left; margin:0 20px; }
.PreYear{ background:url(img/bt_ico.gif) left -260px no-repeat; }
.NextYear{ background:url(img/bt_ico.gif) left -279px no-repeat; }
.Staff_btn input{ margin-right:8px; }
.Staff_btn span{ float:right; vertical-align:middle; }
.Staff_btn span input{ vertical-align:middle; }
.HasBorder_LR{ border:1px solid #DDDDDD; border-top:none; padding:4px 0 4px 8px; }
.HasBorder_LR a{ cursor:pointer; }
.AddRole, .EditingRole, .DeleteRole{ background:url(img/bt_ico.gif) left -298px no-repeat; display:inline-block; height:19px; line-height:22px; padding-left:22px; margin-right:6px; }
.EditingRole{ background:url(img/bt_ico.gif) left -162px no-repeat; }
.DeleteRole{ background:url(img/bt_ico.gif) left -181px no-repeat; }
.No_MP{ margin:0px; padding:0px; height:28px; line-height:28px; vertical-align:middle; }
#AddRole, #EditingRole, #AddDepartment, #EditDepartment{ position:absolute; background:#e3f5ff url(img/DispTip.png) left top repeat-x; border:1px solid #87a1b2; z-index:100; margin-left:8px; margin-top:3px; width:190px; color:#333; display:none; }
#AddRole form, #EditingRole form, #AddDepartment form, #EditDepartment form{ padding:5px; }
#AddRole label, #EditingRole label, #AddDepartment label, #EditDepartment label{ display:block; padding:3px; }
strong.FloatLeft{ font-weight:bold; font-size:14px; padding-left:8px; }
.Summary_Tb tr td{ border-bottom:1px solid #c3c3c3; }
.Summary_Tb tr td.HasLBorder{ border-left:1px solid #c3c3c3; }

.AuditSearch{ height:30px; line-height:30px; }
.AuditSearch p{ float:right; }
.AuditSearch *{ vertical-align:middle; }
.AuditSearch input{ vertical-align:middle; }
.AuditSearch .Wdate{ width:86px; }

.GeneralRound{ background:url(img/ChargeBg.gif) left -102px repeat-x; }
.GeneralRound h2{ background:url(img/h2_bg.gif) left top no-repeat; height:28px; line-height:28px; font-weight:bold; font-size:14px; }
.GeneralRound h2 span{ display:block; background:url(img/h2_bg.gif) right -28px no-repeat;  padding:0 11px 0 9px; }
.GeneralRound h2 span.NoPadding{ padding:0; font-size:12px; }
.GeneralRound h2 a{ float:right; display:inline-block; margin:5px 0 0 0; height:16px; line-height:16px; font-weight:normal; font-size:12px; color:#666; }
.GeneralRound h2 a img{ margin-top:4px;}
.GeneralRound h2 em, .GeneralRound h2 i{ font-weight:normal; color:#666; font-size:12px; font-style:normal; }
.GeneralRound th, .GeneralRound td{ padding:0 5px 0 3px; line-height: 24px; }

#navigation{ border:1px solid #DDD; border-top:none; padding:8px 2px 8px 6px; line-height:160%; background:#FFF; }
.WorkTree #navigation{ border-bottom:none; padding:0px 12px; }
.treeview, .treeview ul { padding: 0; margin: 0; list-style: none; }
.treeview ul { background-color: white; margin-top: 4px; }
.treeview span { padding-left:3px; }
.treeview .hitarea { background: url(img/treeview-default.gif) -64px -23px no-repeat; height: 16px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }
/* fix for IE6 */
* html .hitarea { display: inline; float:none; }
.treeview li { margin: 0; padding: 2px 0pt 1px 16px; }
.treeview a.selected { font-weight:bold; background:#66abd2; color:#FFF; border-bottom:double; padding:2px; }
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: red; cursor: pointer; }
.treeview li { background: url(img/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(img/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview-red li { background-image: url(img/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(img/treeview-red.gif); }
.treeview-black li { background-image: url(img/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(img/treeview-black.gif); }
.treeview-gray li { background-image: url(img/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(img/treeview-gray.gif); }
.treeview-famfamfam li { background-image: url(img/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(img/treeview-famfamfam.gif); }
.filetree li { padding: 2px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 0 0 1px 22px; display:inline-block; }
.filetree span.folder { background: url(img/folder.gif) 2px 2px no-repeat; }
#topNav span.FirstNode { background:url(img/house.png) 2px 1px no-repeat; }
.filetree li.expandable span.folder { background: url(img/folder-closed.gif) 2px 2px no-repeat; }
.filetree span.file { background: url(img/file.gif) 0 0 no-repeat; }



.NoPadding ul li {text-align: center; float: left; }
#CustomerList ul {height:38px;}
#CustomerList ul li{ height:38px; line-height: 38px; vertical-align: middle; text-align: center; float: left; color: #333;}
#CustomerList ul.odd{ background:#f1f1f1; }
#CustomerList ul.over { background:url(img/Over.gif) left bottom repeat-x; }

#GeneralTb thead tr{ height:28px; }
#GeneralTb td, #GeneralTb th, .GeneralTb td, .GeneralTb th{ padding:0 3px 0 3px; text-align: center;vertical-align: middle; }
#GeneralTb thead tr label, #GeneralTb thead tr label.chked{ margin:0px; }
.ope_charge a{ display:inline-block; text-decoration:underline; margin:0 6px; color:#1d4771; }

.page { font-size: 13px; margin:20px auto; text-align: center; color:#6f6f6f; }
.page a{ font-size: 13px; padding: 4px 0px 6px;}
.page .current { background-color:#66abd2 ; font-size: 13px; color:#fff; padding: 2px 6px 4px; cursor: pointer;}
.page a:link, .page a:visited{ color:#6f6f6f}
.page a:hover, .page a:active{ color:#66abd2; }
.page .pagination { margin: 0; }
.pagination .next { border-bottom-right-radius: 4px; border-top-right-radius: 4px; }
.pagination .page_redirect { position: relative; margin: 4px 2px; line-height: 1.42857143; text-align: center; text-decoration: none; width: 29px; }
.pagination >li>a { display: inline; }

.btn-xs { margin: 1px; }

.winform ul li { margin-bottom: 5px;}
.winform ul li label{ width: 70px; height:20px; line-height:20px; vertical-align: middle;  text-align: right; display: block; float: left;}

.tab_menu { padding-top:10px; margin-bottom:5px; }
.tab_menu .TabClass{ width:100%; }
.tab_box { clear:both;  height:390px; }
.TabClass{ width:191px; height:23px; line-height:23px; background:url(img/Repeat_xbg.gif) 0 0 repeat-x; }
.TabClass li{ float:left; height:23px; background:url(img/Tab_bg.gif) 0 -42px; margin-right:3px; cursor:pointer; }
.TabClass li span{ display:inline-block; background:url(img/Tab_bg.gif) right -65px; padding:0 12px; }
.TabClass li.selected{ background:url(img/Tab_bg.gif) 0 -88px; }
.TabClass li.selected span{ display:inline-block; background:url(img/Tab_bg.gif) right -111px; font-weight:bold; }
.Tab_Dispbox{ border:1px solid #c6c6c6; border-top:none; height:216px; overflow:hidden; zoom:1; width:180px; padding:12px 0 12px 9px; }

/* {
.SettingItems{ height:32px; border-left:1px solid #cad2d6; border-right:1px solid #cad2d6; background:url(img/Menu_hover.png) left -50px repeat-x; margin-bottom:10px; padding:0 10px; }
.SettingItems li{ float:left; height:25px; line-height:25px; margin:3px 15px 0; }
.SettingItems li a{ padding:0 10px; display:inline-block; }
.SettingItems li a:hover{ color:#FF7700; }
.SettingSelect{ background:url(img/Tab_bg.gif) left -134px no-repeat; font-size:13px; font-weight:bold; }
.SettingItems li.SettingSelect a{ background:url(img/Tab_bg.gif) right -159px no-repeat; color:#ecf9ff; }
.H2Class{ font-weight:bold; font-size:14px; }
.H2Class span{ font-weight:normal; font-size:12px; color:#666; }
.ImgBtn{ display:inline-block; width:50px; height:25px; line-height:25px; text-align:center; background:url(img/ico.png) left -100px no-repeat; color:#1d4370; vertical-align:middle; }
.f_btn{ border:none; background:url(img/ico.png) left -150px no-repeat; width:50px; height:25px; line-height:25px; margin-left:8px; color:#1d4572; vertical-align:middle; cursor:pointer; }
.f_btn:hover, .ImgBtn:hover{ background:url(img/ico.png) -50px -100px; }
.GeneralTb{ border:1px solid #DDD; line-height:140%; }
.GeneralTb tbody tr{ height:38px; }
.GeneralTb thead tr{ height:35px; }
.Thead{ background:url(img/Over.gif) left bottom repeat-x; font-weight:bold; }
.GeneralTb tr.odd{ background:#f1f1f1; }
.GeneralTb tr.over{ background:url(img/Over.gif) left top repeat-x; }
.HighBtn, .MidBtn, .LowBtn{ border:none; width:19px; height:19px; }
.HighBtn{ background:url(img/bt_ico.gif) left -50px no-repeat; }
.MidBtn{ background:url(img/bt_ico.gif) left -69px no-repeat; }
.LowBtn{ background:url(img/bt_ico.gif) left -88px no-repeat; }
.Remind, .UnRemind, .Editing, .Delete, .Report, .Concern, .Add, .UnConcern, .Dispatching{ display:inline-block; width:19px; height:19px; margin:0 5px; vertical-align:middle; border:none; }
.Remind{ background:url(img/bt_ico.gif) left -144px no-repeat; }
.UnRemind{ background:url(img/bt_ico.gif) left -125px no-repeat; }
.Editing{ background:url(img/bt_ico.gif) left -162px no-repeat; }
.Delete{ background:url(img/bt_ico.gif) left -181px no-repeat; }
.Report{ background:url(img/bt_ico.gif) left -202px no-repeat; }
.Concern{ background:url(img/bt_ico.gif) left -221px no-repeat; }
.UnConcern{ background:url(img/bt_ico.gif) left -240px no-repeat; }
.Dispatching{ background:url(img/bt_ico.gif) left -31px no-repeat; }
.Margin4px a{ margin:0 2px 0 2px; }
 } */

.tab_menu{ float:left; width:160px; padding:20px 0 0 0; text-align:right; background:url(img/RightLine.gif) right top no-repeat; height:300px;}
.tab_menu li{ padding-right:26px; height:36px; line-height:36px; cursor:pointer; color:#2e4561; }
.tab_menu .selected{ background:url(img/current.gif) right center no-repeat; font-weight:bold; }
.tab_box{ float:left; width:790px; margin:10px 0 0 10px; }
.hide{display:none}
.EditPass, .EditPers, .integrated{ padding:30px 0 0 40px; }
.EditPass p{ height:42px; }
.EditPers p{ margin-bottom:16px; }
.EditPass label, .EditPers label{ display:inline-block; font-size:13px; width:80px; color:#2e4561; vertical-align:middle; }
.EditPers label{ width:70px; text-align:right; }
.integrated{ color:#2E4561; }
.integrated input{ margin-right:3px; vertical-align:middle; }
.integrated select{ margin-left:6px; border:1px solid #ccc; }
.integrated dt{ margin-bottom:10px; }
.integrated p{ margin-bottom:10px; }
.integrated dd{ clear:both; padding-left:30px; overflow:hidden; zoom:1; margin-bottom:10px; }
.integrated fieldset{ border:1px solid #ccc; padding:3px 6px; width:200px; float:left; margin-right:20px; height:110px; }
.integrated legend{ color:#2E4561;}
.integrated li{ margin:3px 0; }
.InputTxt{ width:180px; border:1px solid #c3c3c3; padding:2px; height:16px; vertical-align:middle; overflow:auto; }
.InputArea{ width:400px; border:1px solid #c3c3c3; padding:2px; height:60px; vertical-align:middle; overflow:auto; }
.lblCss{ padding-left: 20px; background: url(img/radio.gif) no-repeat left center; }
label.checked{ padding-left: 20px; background: url(img/radioChk.gif) no-repeat left center; }

#GeneralTb .PaddingL20, .GeneralRound .PaddingL20{ padding-left:12px; }
#GeneralTb .PaddingL8, .GeneralRound .PaddingL8, .GeneralTb .PaddingL8{ padding-left:8px; }
.PaddingL12{ padding-left:12px; }

.SettingItems{ height:32px; border-left:1px solid #cad2d6; border-right:1px solid #cad2d6; background:url(img/Menu_hover.png) left -50px repeat-x; margin-bottom:10px; padding:0 10px; }
.SettingItems li{ float:left; height:25px; line-height:25px; margin:3px 15px 0; }
.SettingItems li a{ padding:0 10px; display:inline-block; }
.SettingItems li a:hover{ color:#FF7700; }
.SettingSelect{ background:url(img/Tab_bg.gif) left -134px no-repeat; font-size:13px; font-weight:bold; }
.SettingItems li.SettingSelect a{ background:url(img/Tab_bg.gif) right -159px no-repeat; color:#ecf9ff; }
.H2Class{ font-weight:bold; font-size:14px; }
.H2Class span{ font-weight:normal; font-size:12px; color:#666; }
.ImgBtn{ display:inline-block; width:50px; height:25px; line-height:25px; text-align:center; background:url(img/ico.png) left -100px no-repeat; color:#1d4370; vertical-align:middle; }
.f_btn{ border:none; background:url(img/ico.png) left -150px no-repeat; width:50px; height:25px; line-height:25px; margin-left:8px; color:#1d4572; vertical-align:middle; cursor:pointer; }
.f_btn:hover, .ImgBtn:hover{ background:url(img/ico.png) -50px -100px; }
.GeneralTb{ border:1px solid #DDD; line-height:140%; }
.GeneralTb tbody tr{ height:38px; }
.GeneralTb thead tr{ height:35px; }
.Thead{ background:url(img/Over.gif) left bottom repeat-x; font-weight:bold; }
.GeneralTb tr.odd{ background:#f1f1f1; }
.GeneralTb tr.over{ background:url(img/Over.gif) left top repeat-x; }
.HighBtn, .MidBtn, .LowBtn{ border:none; width:19px; height:19px; }
.HighBtn{ background:url(img/bt_ico.gif) left -50px no-repeat; }
.MidBtn{ background:url(img/bt_ico.gif) left -69px no-repeat; }
.LowBtn{ background:url(img/bt_ico.gif) left -88px no-repeat; }
.Remind, .UnRemind, .Editing, .Delete, .Report, .Concern, .Add, .UnConcern, .Dispatching{ display:inline-block; width:19px; height:19px; margin:0 5px; vertical-align:middle; border:none; }
.Remind{ background:url(img/bt_ico.gif) left -144px no-repeat; }
.UnRemind{ background:url(img/bt_ico.gif) left -125px no-repeat; }
.Editing{ background:url(img/bt_ico.gif) left -162px no-repeat; }
.Delete{ background:url(img/bt_ico.gif) left -181px no-repeat; }
.Report{ background:url(img/bt_ico.gif) left -202px no-repeat; }
.Concern{ background:url(img/bt_ico.gif) left -221px no-repeat; }
.UnConcern{ background:url(img/bt_ico.gif) left -240px no-repeat; }
.Dispatching{ background:url(img/bt_ico.gif) left -31px no-repeat; }
.Margin4px a{ margin:0 2px 0 2px; }

.form-inline input.bs-date { width: 106px; }


.nav-city-left{float: left; width: 180px;margin-right: 5px; margin-top: 5px;}
.nav-city-left select{width: 100%;}
.nav-city-left button{margin-top: 10px;}
.nav-city-left .nav-city-list{position: relative; height: 860px; overflow-y: auto; margin-top: 10px; width: 100%; float: left; border:1px solid #DDD;}
.nav-city-left .nav-city-list li{font-size: 14px; padding:5px 0; padding-left: 10px; cursor: pointer;color: #666; }
.nav-city-left .nav-city-list li:hover{background: #3399ff; color: #FFF;}
.nav-city-left .nav-city-list li.selected{background: #3399ff; color: #FFF;}
.nav-city-left .nav-city-list li span{margin-left: 5px;color: #D12727;}


.c-windowbg{ position:fixed; background:rgba(0,0,0,.5); bottom:0; top:0; left:0; right:0; z-index:99999}
.c-windowbox{ min-width:500px;max-width:500px; position:relative; margin:0 auto;background:#fff; border-radius:2px;top:120px; overflow:hidden;-webkit-animation: halo 0.2s ease-out; -moz-animation: halo 0.2s  ease-out; animation: halo 0.2s ease-out; text-align:center;font-size:16px; }
@-webkit-keyframes halo { 0% { opacity: 0;top:0; }
100%{opacity: 1;top:50px; } }
@-moz-keyframes halo {0% { opacity: 0;top:0;  }
100%{ opacity: 1;top:50px;  } }
@-ms-keyframes halo {0% { opacity: 0;top:0;  }
100%{opacity: 1; top:50px; } }
@-o-keyframes halo {0% { opacity: 0;top:0;   }
100%{ opacity: 1;top:50px;  } }
@keyframes halo {0% { opacity: 0;top:0;  }
100%{opacity: 1;top:50px; } }
.c-windowbox .shutdown{position:absolute; color:#fff; width:2em; height:2em; text-align:center; line-height:2em; background:#ff5659; top:0; right:0;font-size: 15px;cursor:pointer}
.c-windowbox .shutdown:hover{ background:#DB1F22}

.window-info{ text-align:center; padding:20px}
.c-windowbox .btnbox { text-align:center; padding:20px}
.c-windowbox .title {border-bottom: 1px #ccc solid;padding:10px;color:#000;}

.c-windowbox button{margin:10px;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;background-image: none;border-radius: 3px;box-shadow: none;border: 1px solid transparent;}
.c-windowbox button.btn-yes{ background:#ff5659; color:#fff; border:1px solid #DD3E40}
.c-windowbox button.btn-no{ background:#eee; color:#999; border:1px solid #ddd}
.c-windowbox button.btn-green { background:#5CCA78; color:#fff; border:1px solid #38B47E}

.c-windowbox .btn-default {background-color: #f4f4f4;color: #444;border-color: #ddd;}
.c-windowbox .btn-default:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;}

.btn-primary{background-color:#3c8dbc;border-color:#367fa9}
.btn-primary:hover,.btn-primary:active,.btn-primary.hover{background-color:#367fa9}

.btn-success{background-color:#00a65a;border-color:#008d4c}
.btn-success:hover,.btn-success:active,.btn-success.hover{background-color:#008d4c}

.btn-info{background-color:#00c0ef;border-color:#00acd6}
.btn-info:hover,.btn-info:active,.btn-info.hover{background-color:#00acd6}

.btn-danger{background-color:#dd4b39;border-color:#d73925}
.btn-danger:hover,.btn-danger:active,.btn-danger.hover{background-color:#d73925}

.btn-warning{background-color:#f39c12;border-color:#e08e0b}
.btn-warning:hover,.btn-warning:active,.btn-warning.hover{background-color:#e08e0b}

.btn-outline{border:1px solid #fff;background:transparent;color:#fff}
.btn-outline:hover,.btn-outline:focus,.btn-outline:active{color:rgba(255,255,255,0.7);border-color:rgba(255,255,255,0.7)}




