ul li{list-style: none;}
.oflow{overflow: hidden;}
.auto-width{width: 13.42%;float: left;margin-right: 1%}
.auto-width:nth-child(7){margin-right: 0;}
.img-item{
	width: 240px;
	margin-top: 16px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.img-box{width: 100%;height:160px;position: relative;cursor: pointer;border: 1px solid #ccc;border-bottom: 0;}
.img-box img{width: 100%;height: 100%;}
.img-box .img-hover{width: 100%; position: absolute;left: 0;bottom: 0;background: rgba(0,0,0,.5);display: none;}
.img-box:hover .img-hover{opacity: 1;display: block;}
.img-hover span{margin-left: 10px;margin-right: 10px;line-height: 30px;color: #fff;}
.img-info{border: 1px solid #ccc;overflow: hidden;border-top: 0;}
.img-info p{line-height: 28px;}
.img-info p span{margin-left: 10px;margin-right: 10px;}
.other-info{display: none;}
/**/
.modal-body{overflow: hidden;}
.modal-dialog{width: 1100px;}
/*.tuji-box{margin-top: 20px;}*/
.tuji-list{
	width: 100%;
	height: 200px;
	overflow-y: auto;
	border:1px solid #f5f5f5;
	display: none;
}

.tuji-header{overflow: hidden;float: left;}
.tuji-title i{margin:0 3px; cursor: pointer;}
.tuji-name{margin-right: 10px;}
.sel-danger-info p{margin-bottom: 7px;}
.sel-danger-info p label{
	margin-bottom: 0;
	font-weight: normal;
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}
.sel-danger-info button{margin-top: 5px;}
.img-star{overflow: hidden;}
.star-list{float: left;}
.star-list .star-item{width: 10px;display: block;overflow: hidden;float: left;cursor: pointer;}
.star-list .star-item:nth-child(2){width: 10px;display: block;overflow: hidden;}
.star-list .star-item:nth-child(2) i{margin-left: -10px;}
.star-list .star-item i{font-size: 20px;}
.btn-audit{margin-top: 4px;margin-left: 16px;}
/*轮播图*/
.slide-box{
	width: 100%;
	height: 620px;
}
.slide-item{height: 100%;width: 90% !important;}
.slide-item img{width: 100%;height: 100%}
.left-bar,.right-bar{
	width: 5% !important;
	height: 620px;
	background: #f5f5f5;
	font-size: 40px;
	line-height: 620px;
	padding: 0;
	text-align: center;
}
.left-bar i,.right-bar i{cursor: pointer;color: #d8d8d8;}
.left-bar:hover i,.right-bar:hover i{color: #333;}
.img-sm-item{
	height: 100px;
	margin: 5px auto;
}
.img-sm-item img{
	width: 100%;
	height: 100%;
}
.single-img-info span{line-height: 28px;}
textarea.appeal{
	width: 100%;
	resize: none;
	height: 218px !important;
	padding: 10px;
	outline: none;
}
.threexinxi{margin-bottom: 35px !important;margin-top: 24px;}
.yingying{position: fixed;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;
background: rgba(0,0,0,0.6);display: none;}