.play { height: 400px; position: relative; background: #D9D9D9 }
.order-box { width: 250px; height: 350px; position: relative; top: 15px; background: #fff; z-index: 3; text-align: center; font-family: "Microsoft Yahei"; padding: 15px 40px 0 40px }
.order-box .h1 { font-size: 20px; font-weight: 100;display: block; }
.order-box .h2 { font-size: 14px; font-weight: 100; margin: 15px 0;display: block; }
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 20px; display: block; }
.order-box .edit-city,.order-box .edit-quyu { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box button { width: 100%; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer }
.home-slider {max-width: 1920px; width: 100%; overflow: hidden; position: absolute; z-index: 1;background-position:center; background-size:cover
}
/* 轮播图 */
.qiehuan{height: 400px;position: relative;}
.ck-slide {width:100%;height: 400px;overflow: hidden;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none; }
.ck-slide { position: relative; overflow: hidden; }
.ck-slide ul.ck-slide-wrapper { width:100%;height: 400px; position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0; }
.ck-slide ul.ck-slide-wrapper li { position: absolute;width: 100%;height: 400px; }
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s; }
.ck-slide .ck-prev { left: 330px; background: url(/assets/common/img/arrow-left.png) #000 30% no-repeat; border-top-right-radius: 100px; border-bottom-right-radius: 100px }
.ck-slide .ck-next { right: 0px; background: url(/assets/common/img/arrow-right.png) #000 70% no-repeat; border-top-left-radius: 100px; border-bottom-left-radius: 100px }
.ck-slide .ck-slidebox { position: absolute; left: 60%; bottom: 12px; z-index: 30; }
.ck-slide .ck-slidebox ul { height: 20px; padding: 0 4px; }
.ck-slide .ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px; }
.ck-slide .ck-slidebox ul li i { color: #ccc; cursor: pointer; font-size: 15px; }
.ck-slide .ck-slidebox ul li.current i { color: #ff5659; }
.ck-slide .ck-slidebox ul li i:hover { color: #ff5659; }
.ck-slide ul.ck-slide-wrapper li img{
position: absolute;width: 1920px;height: 400px; left: 50%;margin-left: -960px;
}
.box-tit { margin-top: 50px; height: 30px; padding-bottom: 20px; overflow: hidden }
.box-tit a { float: right; margin-top: 18px }
.box-tit .tit { float: left; font-size: 30px; font-family: "Microsoft Yahei"; margin-right: 10px }
.box-tit span { float: left; font-family: "Microsoft Yahei"; margin-top: 18px }
.zx-step { width: 1210px; overflow: hidden }
.zx-step ul { width: 1230px; overflow: hidden }
.zx-step ul li { float: left; height: 170px; width: 183px; margin-right: 20px; border: 1px solid #dad8d9; position: relative; text-align: center; font-size: 14px; font-family: "Microsoft Yahei"; padding-top: 10px }
.zx-step ul li:hover { background: #ff5353 }
.zx-step ul li:hover a { color: #fff }
.zx-step ul li a { display: block; height: 170px }
.zx-step ul li:after { content: ""; display: block; background: url(/assets/common/img/liucheng_free.png); position: absolute; width: 52px; height: 52px; right: 0; top: 0 }
.zx-step ul li span { width: 112px; height: 85px; display: block; margin: 20px auto }
.zx-step ul li.s1 span { background: url(/assets/common/img/liucheng_icon1.png) center center no-repeat }
.zx-step ul li:hover.s1 span { background: url(/assets/common/img/liucheng_icon11.png) center center no-repeat }
.zx-step ul li.s2 span { background: url(/assets/common/img/liucheng_icon2.png) center center no-repeat }
.zx-step ul li:hover.s2 span { background: url(/assets/common/img/liucheng_icon22.png) center center no-repeat }
.zx-step ul li.s3 span { background: url(/assets/common/img/liucheng_icon3.png) center center no-repeat }
.zx-step ul li:hover.s3 span { background: url(/assets/common/img/liucheng_icon33.png) center center no-repeat }
.zx-step ul li.s4 span { background: url(/assets/common/img/liucheng_icon4.png) center center no-repeat }
.zx-step ul li:hover.s4 span { background: url(/assets/common/img/liucheng_icon44.png) center center no-repeat }
.zx-step ul li.s5 span { background: url(/assets/common/img/liucheng_icon5.png) center center no-repeat }
.zx-step ul li:hover.s5 span { background: url(/assets/common/img/liucheng_icon55.png) center center no-repeat }
.zx-step ul li.s6 span { background: url(/assets/common/img/liucheng_icon6.png) center center no-repeat }
.zx-step ul li:hover.s6 span { background: url(/assets/common/img/liucheng_icon66.png) center center no-repeat }
/*轮播图 开始*/
.main_banner { width: 100%; height: 375px; }
.main_banner_wrap { width: 1180px; height: 375px; position: relative; margin: 0 auto; overflow: hidden; }
 @-webkit-keyframes roll {
 from {
-webkit-transform:rotate(120deg);
opacity:0;
}
 to {
-webkit-transform:rotate(0deg);
opacity:0.8;
}
}
@keyframes roll {
 from {
transform:rotate(120deg);
opacity:0;
}
 to {
transform:rotate(0deg);
opacity:0.8;
}
}
.banner_btn { 	/*a 标签 按钮*/ width: 255px; height: 240px; position: absolute; display: block; z-index: 9; top: 20px; }
.btn_next { right: 20px; }
.banner_btn span { width: 50px; height: 100px; display: block; position: absolute; left: 110px; top: 100px; opacity: 0; transition: 0.5s; background: url(/assets/common/img/bannerBtn.png) no-repeat 0 0; }
.btn_next span { background-position: -50px 0; }
.main_banner_box:hover .banner_btn_arrow { opacity: 0.6; }
.banner_btn span i { width: 50px; height: 100px; display: block; background: url(/assets/common/img/bannerBtn.png) no-repeat 0 0; }
.btn_next span i { background-position: -50px 0; }
.banner_btn:hover i { -webkit-animation: arrow 0.5s infinite alternate ease-in-out; -moz-animation: arrow 0.5s infinite alternate ease-in-out; }
@-webkit-keyframes arrow {
 from {
-webkit-transform:scale(1);
opacity:1;
}
 to {
-webkit-transform:scale(1.5);
opacity:0.2;
}
}
@-moz-keyframes arrow {
 from {
-moz-transform:scale(1);
opacity:1;
}
 to {
-moz-transform:scale(1.5);
opacity:0.2;
}
}
.main_banner_box { width: 1210px; height: 360px; position: relative; z-index: 0; }
.main_banner li { position: absolute; overflow: hidden; }
/*给每张图片初始设置不同宽高，层级，位置*/
.main_banner li#imgCard0 { width: 800px; height: 360px; z-index: 5; left: 200px; top: 0px; opacity: 1; background: #333d46; }
.main_banner li#imgCard1 { width: 580px; height: 280px; z-index: 1; left: 600px; top: 40px; opacity: 1; background: #333d46; }
.main_banner li#imgCard2 {/*初始在背后，透明度为0*/ width: 450px; height: 180px; z-index: 1; left: 0px; top: 60px; opacity: 0; background: #333d46; }
.main_banner li#imgCard3 {/*初始在背后，透明度为0*/ width: 450px; height: 180px; z-index: 1; left: 0px; top: 60px; opacity: 0; background: #333d46; }
.main_banner li#imgCard4 { width: 580px; height: 280px; z-index: 2; left: 0px; top: 40px; opacity: 1; background: #333d46; }
.main_banner li img { width: 100%; height: 100%; }
.main_banner li span {/*遮罩层*/ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; background: #000; opacity: 0; filter: alpha(opacity=0); color: #fff; font-size: 30px; line-height: 120px; text-align: center; }
.main_banner li p { width: 100%; height: 35px; position: absolute; left: 0; bottom: -50px; background: rgba(0,0,0,0.7); color: #fff; text-indent: 38px; line-height: 35px; font-size: 14px; }
/*指示器按钮*/
.btn_list { text-align: center; position: relative; left: 0; top: 6px; z-index: 10; }
.btn_list span { width: 15px; height: 15px; display: inline-block; margin: 15px 5px; background: #787d82; border-radius: 50%; cursor: pointer; }
.btn_list span.curr { background: #FFAE00; }
/*轮播图 结束*/
/*广告banner*/
.luara-top { position: relative; padding: 0; overflow: hidden; }
.luara-top ul { position: relative; padding: inherit; margin: 0; }
.luara-top ul li { padding: inherit; margin: inherit; list-style: none; }
.luara-top ul li img { width: inherit; height: inherit; }
.adbanner ol { position: absolute; height: 20px; bottom: 5px; right: 15px; width: auto; }
.adbanner ol li { float: left; width: 12px; height: 12px; margin: 5px; background: #ccc; border-radius: 50% }
.adbanner ol li.seleted { background: #fe595d; }
.adbanner2 ol { position: absolute; height: 20px; bottom: 5px; right: 15px; width: auto; }
.adbanner2 ol li { float: left; width: 12px; height: 12px; margin: 5px; background: #ccc; border-radius: 50% }
.adbanner2 ol li.seleted { background: #fe595d; }
.box-list-link { overflow: hidden }
.box-list-link li { float: left; margin-right: 20px }
.box-list-link li a { display: block; padding: 0 5px }
.box-list-link li:hover a { border-radius: 3px; background: #fd5354; color: #fff; }
.xgt-box { margin-top: 20px; overflow: hidden }
.xgt-box ul { height: 440px; float: left; overflow: hidden }
.xgt-box ul li { position: relative; overflow: hidden }
.xgt-box ul li img { display: block }
.xgt-box ul li span { position: absolute; width: 100%; background: rgba(0,0,0,.6); bottom: 0; left: 0; line-height: 40px; text-indent: 10px; font-weight: 700; color: #fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden }
.xgt-box .row-1 { width: 597px; margin-right: 10px }
.xgt-box .row-2 { width: 341px; margin-right: 10px }
.xgt-box .row-2 li { height: 215px; margin-bottom: 10px }
.xgt-box .row-3 { width: 251px; }
.xgt-box .row-3 li { height: 440px; }
/*装修攻略*/
.gl-box-left { width: 960px; overflow: hidden; position: relative;border: 1px solid #ddd9da; float:left }
.gl-box-left ul li { float: left; display: inline; height: 324px; color: #fff; position: relative; }
.gl-box-left .fold { cursor: pointer; width: 70px; height: 100%; text-align: center; position: absolute; top: 0px; left: 0px; background: #fe8a8b; box-sizing: border-box; border-right: 1px solid #fff; }
.gl-box-left .txt { font-size: 24px; font-family: "Microsoft Yahei"; display: block; width: 25px; font-weight: normal; margin: 0px auto; line-height: 50px; margin-top: 80px }
.gl-box-left .fold-tit { width: 70px; height: 100%; text-align: center; float:left; background: #e94b4a }
.gl-box-left .unfold { width: 820px; height: 100%; display: none; position: absolute; top: 0px; left: 0px; }
.gl-tab { position: relative; width: 750px; height:324px; overflow: hidden; }
.gl-tab .tab-nav { height: 40px; margin-left:-1px; border-bottom:1px solid #dcd8d9}
.gl-tab .tab-nav a { display: block; float: left; padding:0 15px; height: 40px; line-height: 40px; text-align: center; text-decoration: none; border-left:1px solid #fff; border-right:1px solid #fff;font-size: 14px; font-family: "Microsoft Yahei";  }
.gl-tab .tab-nav a.current { background:#fff;border-left:1px solid #dcd8d9; position:relative; padding-bottom:1px; border-right:1px solid #dcd8d9;}
.gl-tab .tab-con { position: relative; width: 710px; height: 283px; overflow: hidden; }
.gl-tab .tab-con-item { display: none; width: 670px; height: 243px; padding:20px; color:#444}
.gl-tab .tab-con-item .gl-img{ width:335px; float:left; height:243px; margin-right:20px}
.gl-tab .tab-con-item .gl-hot a {font-size: 16px; font-weight:100; font-family: "Microsoft Yahei";text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-bottom:10px;line-height:20px;display:block}
.gl-tab .tab-con-item .gl-hot p{ color:#666; line-height:20px; height:60px; overflow:hidden;}
.gl-tab .tab-con-item .gl-list dd{ padding-left:10px; background:url(/assets/common/img/gonglue_bg.png) no-repeat 0 13px; line-height:28px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden }
.gl-tab .tab-con-item .gl-list{ margin-top:10px}
.gl-tab .tab-con-item .gl-hot,.gl-tab .tab-con-item .gl-list { float:left; width:310px}
.gl-box{ margin-top: 20px; overflow:hidden}
.gl-box-right{ float:right; width:198px; height: 324px; border: 1px solid #ddd9da; padding:0 15px}
.gl-box-right .gl-zx{ border-bottom:1px solid #ddd9da; height:40px; line-height:40px}
.gl-box-right .gl-zx span{ float:left; font-family: "Microsoft Yahei"; font-size:16px}
.gl-box-right .gl-zx a{ float:right;height: 324px;}
.gl-box-right dl{ margin-top:15px}
.gl-box-right dd{ padding-left:10px; background:url(/assets/common/img/gonglue_bg.png) no-repeat 0 13px; line-height:28px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden }
.diary-box{ overflow:hidden ; width:960px; float:left}
.diary-img-a{ width:399px; height:310px; margin-top:20px; position:relative; float:left; margin-right:20px}
.diary-img-b{ width:288px; height:161px; position:relative; float:right}
.diary-img-b span,.diary-img-a span { position: absolute; width: 100%; background: rgba(0,0,0,.6); bottom: 0; left: 0; line-height: 40px; text-indent: 10px; font-weight: 700; color: #fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden }
.diary-box-a{ border-bottom:1px dashed #ddd; float:left; width:541px; margin:20px 0; padding-bottom:15px; overflow:hidden}
.diary-box-a dl{ float:left; width:233px}
.diary-box-a dl dt{font-family: "Microsoft Yahei"; font-size:16px; height:30px; line-height:30px; margin-bottom:10px}
.diary-box-a dl dd{ padding-left:10px; background: url(/assets/common/img/wenda_bg.png) no-repeat 0 13px; line-height:28px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden }
.diary-box-b{ float:left; width:541px; height:96px}
.diary-box-b dt{font-family: "Microsoft Yahei"; font-size:16px; height:30px; line-height:30px; margin-bottom:5px}
.diary-box-b dd{ padding:0 10px; background: url(/assets/common/img/wenda_bg.png) no-repeat 0 13px; line-height:28px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float:left; width:250px}
.quickask{ margin-top:50px; width:188px; padding:0 20px; float: right; border:1px solid #ddd; height:396px }
.quickask .quickask-tit{font-family: "Microsoft Yahei"; font-size:18px; text-align:center; height:50px; line-height:50px; border-bottom:1px solid #ddd;}
.quickask .quickask-main{ resize:none; border:1px solid #ddd; width:100%; margin-top:15px; line-height:20px; height:100px; padding:10px; box-sizing:border-box}
.quickask input{border:1px solid #ddd; height:35px; line-height:35px;width:100%; margin-top:15px;box-sizing:border-box;padding:0 10px;}
.quickask button{height:35px; line-height:35px;width:100%;  background:#ff5659; border-radius:3px; color:#fff;font-family: "Microsoft Yahei"; margin:0; border:0; cursor:pointer; margin-top:15px}
.quickask p{ margin-top:15px}
.quickask select{margin-top: 15px;width: 48%;height: 35px;border: 1px solid #dcd8d9;}
.quickask .secusess{text-align: center;}
.quickask .secusess img{margin:30px;}
.quickask .secusess h3{font-size: 14px;font-weight: 600;}
.quickask .secusess p{margin:0px 5px;margin-top: 25px; font-size: 13px;}
.ppb-box{ width:980px; border:1px solid #ddd; border-right:0; overflow:hidden; float:left}
.ppb-box .ppb-hot-new{ width:489px; height:178px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; float:left}
.ppb-box .ppb-bottom{border-right:1px solid #ddd; overflow:hidden}
.ppb-box .ppb-hot-tit{ line-height:55px;font-family: "Microsoft Yahei"; font-size:16px; padding-left:20px}
.ppb-com{ padding:20px; padding-top:0}
.ppb-com .ppb-com-img{ box-sizing:border-box; width:125px; border:1px solid #ddd; height:65px; position:relative; float:left; margin-right:20px;margin-top: 15px;
overflow: hidden;}
.ppb-com-box{overflow: hidden;}
.ppb-com .ppb-com-img img{ width:100%; height:auto; position:absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.ppb-com .ppb-com-name{ min-width:320px; line-height:16px; height:16px; float:left; font-family: "Microsoft Yahei"; font-size:16px;margin-top: 20px;margin-bottom: 5px;}
.ppb-com .ppb-com-info{ float:left; line-height:20px; color:#666}
.ppb-com .ppb-com-info i{ margin-right:5px; color:#aaa}
.ppb-com .ppb-com-renz{ float:left;height:40px;}
.ppb-com .ppb-com-renz p.ico{ line-height:20px; padding:10px 0; height:20px}
.ppb-com .ppb-com-renz p.ico span{margin-right:5px}
.ppb-com .ppb-com-renz p.ico i{  color:#fff; display:inline-block; padding:0 4px 0 4px; text-shadow:1px 0 0 rgba(0,0,0,.15); margin-right:5px; font-style:normal}
.ppb-com .ppb-com-renz p.ico i.ico1{ background:#ffdd3f;}
.ppb-com .ppb-com-renz p.ico i.ico2{ background:#fa9d64;}
.ppb-com .ppb-com-renz p.ico i.ico3{ background:#3db7f8;}
.ppb-com .ppb-com-renz p.ico i.ico4{ background:#19b524;}
.ppb-com .ppb-com-renz p.ico i.ico5{ background:#01bace;}
.hiddenMore {width: 100%; overflow: hidden; position: relative; height: 160px;}
.ppb-bottom .tab-con-item { overflow:hidden; padding-bottom:10px; width:979px;height:160px;}
.ppb-logo-list li { float:left; margin-left:13px; padding-bottom:15px}
.ppb-logo-list li img{ display:block; width:125px; height:65px; box-sizing:border-box; border:1px solid #ddd}
.ppb-logo-list li img:hover{ border:2px solid #ff5659}
/*S-走马灯样式*/
.ppb-logo-list-web-ticker li {float:left;}
.ppb-logo-list-web-ticker li a{ padding-bottom:15px;display: block; }
.ppb-logo-list-web-ticker li img{ display:block; width:125px; height:65px; box-sizing:border-box; border:1px solid #ddd}
.ppb-logo-list-web-ticker li img:hover{ border:2px solid #ff5659}
/*E-走马灯样式*/
.ppb-right .tab-nav{ height:55px; line-height:55px; font-size:16px;font-family: "Microsoft Yahei"; text-align:center;border-bottom:1px solid #ddd}
.ppb-right .tab-nav a{ height:54px; width:99px; display:block; float:left}
.ppb-right .tab-nav a.current{ color:#ff5659; border-bottom:2px solid #ff5659}
.ppb-right .tab-con-item{ display:none}
.comp-logo { width:1220px; margin-left:2px}
.comp-logo li{ width:125px; height:65px; float:left; margin-right:10px; margin-bottom:10px}
.comp-logo li img{ display:block; width:125px; height:65px; box-sizing:border-box; border:1px solid #ddd;}
.new-mes{ width:198px; height:394px; border:1px solid #ddd; border-left:0; float:right; padding:0 15px; overflow:hidden}
.ppb-right-list li{ border-bottom:1px dashed #ddd; padding:13px 0}
.ppb-right-list li:last-of-type{ border-bottom:0}
.ppb-right-list li p { line-height:20px}
.ppb-right-list li p span { width:20px; display:inline-block; text-align:center; background:#ff5659; color:#fff; font-weight:bolder; margin-right:10px}
.ppb-right-list li p.ppb-right-len{ color:#666; margin-left:30px}
/*设计师列表S*/
.designer{  border: 1px solid #ddd; float:left; width: 960px; padding:10px 0}
.scroll-img {
    width: 815px;
    height: 230px;
    overflow: hidden;
    font-size: 0;
    margin: 0 72px;
}
.scroll-img ul {
    width: 900px;
    height: 600px;
    margin: 0
}
.scroll-img ul li {
    display: inline-block;
    margin:10px;
    position:relative;
    box-sizing:border-box;
    border:1px solid #DDD;
    height:210px;
}
.scroll-img ul li span{position: absolute; width: 100%; bottom: 30px; left: 0; line-height: 30px; text-indent: 10px; text-overflow: ellipsis; font-family: "Microsoft Yahei"; white-space: nowrap; overflow: hidden;font-size:14px;color: #666 }
.scroll-img ul li .designer-company{position: absolute; left: 0; bottom: 10px; height:20px; padding-left: 8px; display: block; width: auto; z-index: 99; font-size: 14px; color: #666 }
.scroll-img ul li a:hover{color: #999;}
.scroll-img ul li span i{ float:right; font-style:normal; padding-right:5px}
.scroll-img ul li img{ width:141px; height:141px}
#disigner.scroll-img ul {width: 3000px;}
#disigner-btn {width: 960px;}
.text-center{ position:relative; height:0; width:100%}
#disigner-backward{ position:absolute; background:url(/assets/home/index/img/bannerBtn.png) left rgba(0,0,0,0.4); width:50px; height:100px; top:-165px; left:10px; cursor:pointer; border-radius:2px}
#disigner-forward{position:absolute;background:url(/assets/home/index/img/bannerBtn.png) right rgba(0,0,0,0.4); width:50px; height:100px; top:-165px; right:10px;cursor:pointer; border-radius:2px}
/*设计师列表E*/
.quickdesi{ width:188px; padding:0 20px; float: right; border:1px solid #ddd; height:250px }
.quickdesi .quickdesi-tit{font-family: "Microsoft Yahei"; font-size:18px; text-align:center; height:50px; line-height:50px; border-bottom:1px solid #ddd;}
.quickdesi .quickdesi-tel{border:1px solid #ddd; height:35px; line-height:35px;width:100%; margin-top:9px;box-sizing:border-box;padding:0 10px;}
.quickdesi select{margin-top: 9px;width: 48%;height: 35px;border: 1px solid #dcd8d9;}
.quickdesi button{height:35px; line-height:35px;width:100%;  background:#ff5659; border-radius:3px; color:#fff;font-family: "Microsoft Yahei"; margin:0; border:0; cursor:pointer; margin-top:9px}
.quickdesi p{ font-family: "Microsoft Yahei";margin-top:12px; text-align:center;font-size:14px;}
.friend{ position: relative; width: 1208px;  overflow: hidden; border:1px solid #ddd; margin:0 auto; margin-top:50px; padding-top:10px}
.friend .tab-nav { height: 30px;}
.friend .tab-nav a { display: block; float: left; padding:0 15px; height: 30px; line-height: 30px; text-align: center; text-decoration: none; font-size: 14px; font-family: "Microsoft Yahei";  }
.friend .tab-nav a.current { background:#fff;font-weight:bold; position:relative;}
.friend .tab-con { position: relative; overflow: hidden; }
.friend .tab-con-item { display: none;  padding:15px; color:#444; overflow:hidden;}
.friend .tab-con-item a{ float:left; display:block; margin-right:10px}
/*提问成功*/
.secusess-info{ background:#fff; border-radius:3px; width:500px; margin:0 auto; margin-top:10%; padding:20px; text-align:center}
.secusess-info img,.secusess-info h3{ display:inline-block}
.secusess-info h3{ vertical-align:20px; margin-left:10px; font-size:24px; color:#666;font-family: "Microsoft Yahei"; }
.secusess-info button{ display:block;width: 100px; margin:0 auto; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer; margin-top:30px}
.tit a{
    margin-top:0px;
}