*{ padding:0;margin:0; border:0; list-style:none; font-style:normal}
::-moz-selection{ background: #ff8589; color:#fff; text-shadow: none; }
::selection { background:#ff8589; color:#fff; text-shadow: none; }
body{
font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; font-size:12px; color:#3c3c3c; background:#f9f9f9}
input:focus {outline:none;}
.ht-wrap{ width:1210px; margin:0 auto;z-index: 10; position:relative}
.oflow{ overflow:hidden}
.ml10{ margin-left:10px}
.ml20{ margin-left:20px}
.mr10{ margin-right:10px}
.mr20{ margin-right:20px}
.mt20{ margin-top:20px}
.gray{ color:#888}
.moregray{ color:#ccc}
.red{ color:#F15858}
.green{ color:#55cf86}
.blue{ color: #00b254}
a{ color:#333;text-decoration: none;}
a:hover{ color:#dc4146;text-decoration: underline;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}
.ht-relative{ min-height:560px}

span.tips{ border-radius:10px; display:inline; background:#F15858;  color:#fff; padding:1px 6px; font-size:0.8em}
a:hover span.tips{ background:#fff; color:#F15858}

.ht-pull-right{ float:right}
.ht-pull-left{ float:left}
.menutop{ background:#eee; height:30px; line-height:30px}
.weiz span{ background:url(/assets/common/pic/weiz.gif) no-repeat left; padding-left:18px; font-weight:bold; color:#888}
.weiz i a{ color:#dc4146}
.weiz ,.weiz ul li,.weiz ul,.weiz i,.weiz span{ display:block;float:left;}.weiz ul li a{ color:#888;}
.weiz ul li { margin-left:10px}
.hot{ color:#F60}
.login{ float:right}
.login ul li{ float:left; min-width:100px; position:relative; text-align:center}
.login ul li strong{ color:#dc4146}
.login ul li span{ margin-right:10px}
.login ul li.line{ width:10px !important; overflow:hidden; display:block; min-width:10px; color:#ccc}

.ht-tit{  font-size:26px; height:100px; line-height:100px; text-shadow:1px 1px 0 #ccc; background:#fff; margin-bottom:20px}
.ht-tit .warp{ width:945px; margin:0 auto; background:url(/assets/common/pic/logo.jpg) no-repeat; padding-left:265px}
.yh-nav { width:280px; float:left; background:#FFF; padding-bottom:50px; margin-top:-30px}
.yh-nav dt{ font-size:16px; background:#eee; height:40px; line-height:40px; padding-left:20px;margin-top:30px}
.yh-nav dd{ font-size:14px; line-height:30px; height:30px; border-bottom:1px dotted #f1f1f1; }
.yh-nav dd i{ margin-top:8px; margin-right:40px}
.yh-nav dd a{ display:block; padding-left:40px; }
.yh-nav dd:hover,.yh-nav dd.active{  background:#f16262;border-bottom:1px dotted #F15858;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}
.yh-nav dd.active a{ color:#fff;}
.yh-nav dd a:hover{ text-decoration:none;color:#fff;}


/****分页****/
.page{ clear:both; padding:20px; line-height:25px;  max-width:1210px; margin:0 auto}
.page a,.page strong {display: inline-block;
border: 1px solid #fff;
color: #505050;
padding: 0px 8px;
vertical-align: middle;
margin-left: 3px;}
.page a:hover, .page a.current, .page strong {
color: white!important;
text-decoration: none;
background:#F15858;
border: 1px solid #e54646;
}.page input{ height:15px; border:1px solid #eee}.page em{ margin:0  5px; display:inline-block; line-height:27px}

/**没有订单**/
.order-none{ width:500px; margin:50px auto; text-align:center}
.order-none p{ font-size:26px; color:#ccc; font-weight:bold}
.order-none a{ display:block; width:280px; background:#fb7979; color:#fff; font-size:16px; font-weight:bold; margin:20px auto; border-radius:50px; line-height:35px;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}
.order-none a:hover { background:#F15858; text-decoration:none;width:320px;}

/****确定按钮*****/
.ht-yes{ clear:both; padding-left:90px; margin-bottom:50px;}
.ht-yes button,.ht-yes a{ background:#F15858;border:1px solid #ed3232; color:#fff; line-height:45px; display:block; width:150px; text-align:center; font-size:16px}
.ht-yes button:hover,.ht-yes a:hover{ background:#5cca78;border:1px solid #38b47e; color:#fff; text-decoration:none; box-shadow:0px 0px 5px #5cca78}



/********/
.yh-main{ float: right; border:1px solid #e7e7e7; width:870px; padding:20px; border-top:3px solid #e7e7e7; background:#fff; overflow:hidden}
h1.yh-tit{ font-size:18px; font-weight:100; padding-bottom:20px; border-bottom:2px dotted #f1f1f1}


.login_box .zb_box_title{background: url(/assets/user/user/img/welcom.png) no-repeat; height: 100px;}
.login_box .zb_box_form{padding:25px 50px; }
.login_box .zb_box_form .button{margin: 25px 0; border-radius: 5px; width: 150px; height: 50px; font-size: 20px; font-family: Microsoft YaHei;}
.login_box .input-msg{text-align: center;font-size: 14px; font-family: Microsoft YaHei; margin: 20px 0; display: block;}

.none-msg{font-size: 26px;color: #CCC;font-weight: bold; text-align: center; padding:10px 0;}