<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/baike/css/baike.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content">
        <div class="content-header hed">
            <h1>
                <span>
                    装修百科管理
                </span>
            </h1>
        </div>
        <div class="box tabletb">
            <div class="box-header with-border">
                <h3 class="box-title">
                    条件查询
                </h3>
            </div>
            <div class="box-body">
                <span class="pull-left lh-34">
                    分类：
                </span>
                <div id="categoryWrap">
                    <div class="col-xs-2">
                        <select data-value="{$Think.get.category}" class="category form-control" name="category"></select>
                    </div>
                    <div class="col-xs-2">
                        <select data-value="{$Think.get.sub_category}" class="sub_category form-control" name="sub_category"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <input type="text" name="keyword" class="form-control" placeholder="输入标题/ID" value="{$Think.get.keyword}">
                </div>
                <span class="pull-left lh-34">
                    发布人：
                </span>
                <div class="col-xs-1 xuanzkd">
                    <select class="form-control" name="source">
                        <option value="0">请选择</option>
                        <option value="1">注册用户</option>
                        <option value="2">系统发布</option>
                    </select>
                </div>
                <span class="pull-left lh-34">
                    状态：
                </span>
                <div class="col-xs-1 xuanzkd">
                    <select class="form-control" name="status">
                        <option value="0">请选择</option>
                        <volist name="statusArray" id="vi">
                            <option value="{$key}">{$vi.name}</option>
                        </volist>
                    </select>
                </div>
                <div class="col-xs-1 zuobjg">
                    <button type="button" class="search btn btn-block btn-primary normal">
                        <i class="fa fa-search"></i>查询
                    </button>
                </div>
                <div class="from-item pull-right">
                    <a href="/baike/operate/" target="_self" class="btn btn-primary daoru">
                        +新增百科
                    </a>
                </div>
            </div>
        </div>
        <div class="box zhuti">
            <div class="box-header with-border">
                <h3 class="box-title lhsjlb">
                    数据列表
                </h3>
                <div class="youbdyk pull-right">
                    <span class="lh-34">
                        选择显示数量：
                    </span>
                    <div class="col-xs-6 pull-right">
                        <select class="form-control" name="page_count">
                            <volist name="pageArray" id="vi">
                                <option value="{$key}">{$vi.name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="box no-border">
                    <div class="box-body no-padding">
                        <table class="table table-hover table-bordered" id="tablelist">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>百科条目(标题)</th>
                                    <th>分类</th>
                                    <th>发布人</th>
                                    <th>发布时间</th>
                                    <th>审核状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="vo">
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>
                                            <if condition="$vo.review EQ '0' ">
                                                {$vo.title}
                                                <else/>
                                                <if condition="$vo.visible EQ '2' && $vo.review EQ '1' ">
                                                    {$vo.title}
                                                    <else/>
                                                    <if condition="$vo.visible EQ '1' ">
                                                        {$vo.title}
                                                    </if>
                                                    <if condition="$vo.visible EQ '0' ">
                                                        <a target="_blank" href="http://{:C('QZ_YUMINGWWW')}/baike/{$vo.id}.html">
                                                            {$vo.title}
                                                        </a>
                                                    </if>
                                                </if>
                                            </if>
                                        </td>
                                        <td>
                                            <if condition="$vo.review EQ '0' ">
                                                {$vo.category}/{$vo.sub_category}
                                                <else/>
                                                <if condition="$vo.visible EQ '2' && $vo.review EQ '1' ">
                                                    {$vo.category}/{$vo.sub_category}
                                                    <else/>
                                                    <if condition="$vo.visible EQ '1' ">
                                                        {$vo.category}/{$vo.sub_category}
                                                    </if>
                                                    <if condition="$vo.visible EQ '0' ">
                                                        <a target="_blank" href="http://{:C('QZ_YUMINGWWW')}/baike/{$vo.category_url}" >
                                                            {$vo.category}
                                                        </a>
                                                        /
                                                        <a target="_blank" href="http://{:C('QZ_YUMINGWWW')}/baike/{$vo.sub_category_url}" >
                                                            {$vo.sub_category}
                                                        </a>
                                                    </if>
                                                </if>
                                            </if>
                                        </td>
                                        <td>
                                            <eq name="vo.source" value="1">
                                                {$vo.register_uname}
                                            <else />
                                                {$vo.system_uname}
                                            </eq>
                                        </td>
                                        <td>{:date('Y-m-d H:i:s', $vo['post_time'])}</td>
                                        <td>
                                            <if condition="$vo.review EQ '0' ">
                                                <i>待审核</i>
                                                <else/>
                                                <if condition="$vo.visible EQ '2' && $vo.review EQ '1' ">
                                                    <i style="color:navy">预发布</i>
                                                    <else/>
                                                    <if condition="$vo.visible EQ '1' "><i style="color:red">不通过审核</i>
                                                    </if>
                                                    <if condition="$vo.visible EQ '0' "><i style="color:green">通过审核</i>
                                                    </if>
                                                </if>
                                            </if>
                                        </td>
                                        <td>
                                            <span data-id='{$vo.id}' class="delsc logojg"></span>
                                            <a class="bianji logojg" href="/baike/operate/?id={$vo.id}"></a>
                                            <span data-id='{$vo.id}' data-lanmu='{$vo.lanmu}' data-baike='{$vo.baike}' data-choice='{$vo.choice}' data-recommend='{$vo.recommend}' class="tuijian logojg" data-container="body" data-toggle="popover"
                                            data-placement="left"></span>
                                            <span data-id='{$vo.id}' class="yulan logojg"></span>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="fenyewaik">
                {$show}
            </div>
        </div>
        <div class="preview-wrap"></div>
    </section>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/cxselect/jquery.cxselect.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function() {
            //初始化
            $('select[name=source]').val('{$Think.get.source|default=0}');
            $('select[name=status]').val('{$Think.get.status|default=0}');
            $('select[name=page_count]').val('{$Think.get.page_count|default=1}');
            $('#categoryWrap').cxSelect({
                selects: ['category', 'sub_category'],
                jsonValue: 'cid',
                jsonName: 'name',          // 数据标题字段名称
                jsonSub: 'children',       // 子集数据字段名称
                required:true,
                data: {$category}
            });

            //搜索按钮
            $('.search').click(function(event) {
                window.location.href = "/baike/?category=" + $('select[name=category]').val() + '&sub_category=' + $('select[name=sub_category]').val() + '&keyword=' + $('input[name=keyword]').val() + '&source=' + $('select[name=source]').val() + '&status=' + $('select[name=status]').val() + '&page_count=' + $('select[name=page_count]').val();
            });

            /*S-推荐位置选择*/
            $('.tuijian').popover({
                html: true,
                //实现对html可写
                title: '推荐位置选择',
                //标题函数
                content: function() {
                    var id = $(this).attr('data-id');
                    var choice = "1" == $(this).attr('data-choice') ? 'checked="checked"' : '';
                    var recommend = '1' == $(this).attr('data-recommend') ? 'checked="checked"' : '';
                    var hotSearch = ('1' == $(this).attr('data-baike') || '1' == $(this).attr('data-lanmu')) ? 'checked="checked"' : '';
                    if(('1' == $(this).attr('data-baike') || '1' == $(this).attr('data-lanmu'))){
                        var baike_check = '1' == $(this).attr('data-baike') ? 'checked="checked"' : '';
                        var lanmu_check = '1' == $(this).attr('data-lanmu') ? 'checked="checked"' : '';
                    }else{
                        var baike = 'style="display: none;"';
                        var lanmu = 'style="style="display: none;"';
                    }
                    var content = '<div><div class="yy"><div class="qibao"><input class="choice" type="checkbox" '+choice+' />精选百科</div><div class="qibao"><input class="recommend" type="checkbox" '+recommend+' />大家都在看(百科推荐)</div><div class="qibao"><input class="hotSearch" type="checkbox" '+hotSearch+' />百科热搜</div><div class="qibao baike" '+baike+' style="margin-left: 2em"><input class="baike_check" id="" type="checkbox" '+baike_check+' />百科首页</div><div class="qibao lanmu" '+baike+'  style="margin-left: 2em"><input class="lanmu lanmu_check" type="checkbox" '+lanmu_check+' />当前栏目页</div></div><button data-id="'+id+'" data-choice="'+$(this).attr('data-choice')+'" data-recommend="'+$(this).attr('data-recommend')+'"data-baike="'+$(this).attr('data-baike')+'"data-lanmu="'+$(this).attr('data-lanmu')+'" class="choice_and_recommend anniu2" data-container="body" >保存</button></div>';
                    return content;
                }
            });
            $(document).on('change', '.hotSearch',function() {
                var ischecked = $(this).prop("checked");
                if(ischecked){
                    $(this).parent().parent().find('.baike').show();
                    $(this).parent().parent().find('.lanmu').show();
                }else{
                    $(this).parent().parent().find('.baike').hide();
                    $(this).parent().parent().find('.lanmu').hide();
                    $(this).parent().parent().find('.baike_check').prop("checked",false);
                    $(this).parent().parent().find('.lanmu_check').prop("checked",false);
                }
            });
            $(document).on('click', '.choice_and_recommend',function() {
                var id = $(this).attr('data-id');
                var choice = true == $(this).parent().find('.choice').is(':checked') ? '1' : '2';
                var recommend = true == $(this).parent().find('.recommend').is(':checked') ? '1' : '2';
                var baike = true == $(this).parent().find('.baike_check').is(':checked') ? '1' : '2';
                var lanmu = true == $(this).parent().find('.lanmu_check').is(':checked') ? '1' : '2';
                $('.tuijian').popover('hide');
                if (choice == $(this).attr('data-choice') && recommend == $(this).attr('data-recommend') && baike == $(this).attr('data-baike') && lanmu == $(this).attr('data-lanmu')) {
                    return true;
                };
                $.ajax({
                    url: '/baike/choiceandrecommend/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id:id,
                        choice:choice,
                        recommend:recommend,
                        baike:baike,
                        lanmu:lanmu
                    }
                })
                .done(function(data) {
                    var e = dialog({
                        title: '消息',
                        content: data.info,
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {
                            window.location.href = window.location.href;
                        }
                    });
                    e.show();
                })
                .fail(function(xhr) {
                    var e = dialog({
                        title: '消息',
                        content: '操作失败,网络错误！',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                });
            });
            /*E-推荐位置选择*/

            //删除按钮
            $('.delsc').click(function() {
                if (confirm("确认删除吗")) {
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '/baike/delete/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            id:id
                        }
                    })
                    .done(function(data) {
                        var e = dialog({
                            title: '消息',
                            content: data.info,
                            okValue: '确 定',
                            quickClose: true,
                            ok: function () {
                                window.location.href = window.location.href;
                            }
                        });
                        e.show();
                    })
                    .fail(function(xhr) {
                        var e = dialog({
                            title: '消息',
                            content: '操作失败,网络错误！',
                            okValue: '确 定',
                            quickClose: true,
                            ok: function () {}
                        });
                        e.show();
                    })
                }
            })

            //预览功能
            $('table .yulan').click(function() {
                $('.popover').hide();
                var id = $(this).attr('data-id');
                $.ajax({
                    url: '/baike/preview/',
                    type: 'GET',
                    dataType: 'JSON',
                    data: {
                        id:id
                    }
                })
                .done(function(data) {
                    if ('1' == data.status) {
                        $('.preview-wrap').html(data.data);
                    } else {
                        var e = dialog({
                            title: '消息',
                            content: data.info,
                            okValue: '确 定',
                            quickClose: true,
                            ok: function () {}
                        });
                        e.show();
                    }
                })
                .fail(function(xhr) {
                    var e = dialog({
                        title: '消息',
                        content: '操作失败,网络错误！',
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                });
            });
        })
    </script>
</block>