.ht-moreinfo li .focus{border-color: #F15858}

/***上传案例****/
.ht-moreinfo{ font-size:14px; line-height:30px; margin-top:50px}
.ht-moreinfo>li{ margin-bottom:20px; overflow:hidden}
.ht-moreinfo>li>span{ float:left; width:80px; font-weight:bold; text-align:right; padding-right:10px}
.ht-moreinfo li input{ padding-left: 5px; color: #666; border:1px solid #ccc; height: 30px;line-height:30px\0; *line-height:30px;display:inline-block; margin-right:20px; width:169px;}
.ht-moreinfo li .select{color: #666; border:1px solid #ccc; height:30px; width:171px}
.jianjiemain{ height:100px; line-height:20px; border:1px solid #ccc;resize:none; width:480px}
.ht-moreinfo>li select{ border:1px solid #ccc; height:30px; color: #666; width: 40px;}
.ht-moreinfo>li select option{padding:3px;color: #666;}
.ht-moreinfo textarea{padding-left: 5px; color: #666;}
.ht-comp-phot { overflow:hidden; padding:10px;}
.ht-comp-phot li{ float:left; width:150px; height:150px; border:1px solid #f1f1f1; margin-right:20px; margin-bottom:20px}
.ht-comp-phot li.uplord a{ width:150px; text-align:center; color:#ccc; font-size:16px; padding-top:40px; display:block; background:#f1f1f1; height:110px}
.ht-comp-phot li.uplord a:hover{ text-decoration:none; color:#888; background:#ccc}
.ht-comp-phot li.uplord a i{ display:block; width:150px}
.ht-comp-phot li .phot{ text-align:center; height:120px; width:150px; line-height:116px; background:#f7f7f7; position:relative}
.ht-comp-phot li .phot .del{ background:rgba(0,0,0,.6); background:#000\0; position:absolute; top:0; right:0; height:20px; color:#fff; width:30px; height:30px; line-height:30px; font-size:20px; cursor:pointer}
.ht-comp-phot li .phot img { width:auto; max-width: 100%; height:auto;vertical-align:middle; max-height:100% }.ht-comp-phot li input[type=text]{ height:30px; line-height:30px; width:140px; padding:0 5px; z-index:99}


/*************/
.ht-team-design{ text-align:center; width:100%}
.team-list td{ width:10%; height:109px; border-bottom:1px solid #f7f7f7}
.team-title td{ font-size:14px; font-weight:bold; background:#f7f7f7; height:50px; line-height:50px}
.team-list .userhead{ width:80px; display:block; height:80px; margin:auto auto}.team-list .userhead img{ width:100%; height:100%}
.team-list td a{ text-decoration:underline}




/******audit*****/
.audit{ margin:20px 0; background:#f7f7f7; font-weight:700; padding:10px 20px; font-size:14px}.audit .select{border:1px solid #ccc; width:100px}

.ht-yes button{display: inline-block;  display: inline\9; padding:10px 20px\0;  *padding:10px 20px; }

.list-bg{background-color: #FFF4E3; }