.ht-team-design{ text-align:center; width:100%}
.team-list td{ width:12.5%; height:109px; border-bottom:1px solid #f7f7f7}
.team-title td{ font-size:14px; font-weight:bold; background:#f7f7f7; height:50px; line-height:50px}
.team-list .userhead{ width:80px; display:block; height:80px; margin:auto auto}.team-list .userhead img{ width:100%; height:100%}
.team-list .change-btn,.search-list .change-btn{background:#2fc46e; color:#fff; border:1px solid #1ba556;  display:inline-block; line-height:25px; padding:0 10px; width:48px}
.team-list .change-btn:hover,.search-list .change-btn:hover{ text-decoration:none;box-shadow:0px 0px 10px #2fc46e}
.team-list .del-btn,.team-list .uninvite-btn{border:1px solid #ccc; background:#fff; color:#F8696C; display:inline-block; line-height:25px; padding:0 10px; width:48px;}
.team-list .del-btn:hover,,.team-list .uninvite-btn:hover{ text-decoration:none; background:#F15858; color:#fff; border:1px solid #F30; box-shadow:0px 0px 5px #ff8585}


/*******/
.ht-team-search{ width:100%; text-align:center;}
.ht-team-search .search-title td{ width:16.5%; font-size:14px; font-weight:bold; background:#f7f7f7; height:50px; line-height:50px}
.ht-team-search .search-list td{ height:109px; border-bottom:1px solid #f7f7f7}
.ht-team-search .search-list .userhead{ width:80px; display:block; height:80px; margin:auto auto}.team-list .userhead img{ width:100%; height:100%}
.ht-search-design{ height:30px; padding:10px 20px; line-height:30px; background:#f1f1f1}
.ht-search-design input[type=text]{ color: #666; padding-left: 5px; height:30px; width:200px}.ht-search-design a.search-btn{  width:70px; height:28px; background:#666; color:#fff; cursor:pointer; display:inline-block; text-align:center; border:1px solid #555}
.ht-search-design a.search-btn:hover{ text-decoration:none; background-color:#555}
.ht-search-design a.search-all{ height:28px; cursor:pointer; display:inline-block; margin-left:10px; color:#F15858}


/************/
.team-add h2{ color:#F15858; font-size:18px; margin:20px 0}
.team-add dt{ margin-bottom:20px; font-size:14px}
.team-add dt a{color:#F15858; text-decoration:underline}
.team-add dd {position: relative;}
.team-add dt p{ font-size:16px;color:#F15858;}
.team-add dd ul { padding-bottom:50px}
.team-add dd ul li { margin-top:20px}
.team-add dd ul li span{ font-size:14px; font-weight:bold; display:inline-block; width:90px}
.team-add dd ul li input[type=text],.team-add dd ul li input[type=password]{font-size: 14px;width: 180px; margin-right: 5px;height:28px; border:1px solid #ccc;padding-left: 5px; color: #666;}
.team-add dd ul li select{font-size: 14px;border:1px solid #ccc; width: 120px; height: 28px;color: #666;}
.team-add dd ul li select option{padding-left: 3px;}
.team-add dd ul li textarea{font-size: 14px; padding-left: 5px; color:#666; border:1px solid #ccc; width: 300px; height: 100px; resize:none;}
.team-add .vtop{display: inline-block; display: inline\9; vertical-align: top;}
.team-add input[type="text"].long{width: 300px;}
.team-add input[type="text"].short{width: 60px;}

.team-add dd ul li input[type="text"].focus,.team-add dd ul li input[type="password"].focus{border: 1px solid #F15858;}
.team-add .userlogo{position: absolute; top:10px; right: 10px; width: 200px; height: 220px; }
.team-add .userlogo img{width: 180px; height: 180px; margin:0 auto;}
.team-add .userlogo button{display: inline-block;display: inline\9; width: 88px; height: 30px; background: #F15858; border: 1px solid  #ED3232; color: #fff; font-size: 14px;cursor: pointer;}
.team-add .userlogo button:hover{background: #5CCA78;border:1px solid #38B47E}
.team-add .userlogo button.reset{background: #5CCA78;border:1px solid #38B47E}
.ht-yes a{display: inline-block;display: inline\9;}