<div class="col-xs-12 no-padding mt3">
    <div class="col-xs-6 no-padding">
        <label>
            半包价:{$cityInfo.half_price_min}-{$cityInfo.half_price_max}
        </label>
    </div>
    <div class="col-xs-6 no-padding">
        <label>
            全包价:{$cityInfo.price_min} - {$cityInfo.price_max}
        </label>
    </div>
</div>
<div class="col-xs-12 no-padding mt3">
    <div class="col-xs-4 no-padding">
        <if condition="isset($isDocking)">
        <label>
            对接注意事项:
        </label>
        <else/>
        <label>
            拨打注意事项:
        </label>
        </if>
        <div style="width: 100px; margin-top: 50px; float: left;">
            <button id="calculator" type="button" class="btn btn-info" style="width: auto;">引导计算器</button>
        </div>
    </div>
    <div class="col-xs-8 no-padding">
        <if condition="isset($isDocking)">
        <textarea name="" style="height: 100px;">{$cityInfo.description1}</textarea>
        <else/>
        <textarea name="" style="height: 100px;">{$cityInfo.description}</textarea>
        </if>
    </div>
</div>
<script type="text/javascript">
    $("#calculator").click(function(event) {
        $("#operate").calculation({
            allPrice:'{$cityInfo.price_min}',/*全包*/
            halfPrice:'{$cityInfo.half_price_min}'/*半包*/
        });
    });

</script>
