<div class="p_domask">
    <section class="content my-dialog ">
        <div class="orderdes col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h4 class="order-title-mask">
                            受理审核
                        </h4>
                        <ul class="table-responsive no-padding order-title-edit">
                            <li class="col-xs-6">
                                <span>订单编号:</span><span>{$info.id}</span>
                            </li>
                            <li class="closeedit">
                                <a href="javascript:void(0)"></a>
                            </li>
                        </ul>
                        <div class="box-body table-responsive no-padding" style="width: 100%">
                            <!-- 第一列 -->
                            <form id="myForm" class="col-xs-6  padding5 order-minh">
                                <div class="basic_info">
                                    <div class="col-xs-12 no-padding mtb5  h15">
                                        <span class="width_size">发布时间：</span>
                                        <span>{$info.time_real}</span>
                                    </div>
                                    <div class="col-xs-12 no-padding mtb5 ">
                                        <span class="width_size">手机号码：</span>
                                        <span>{$info.tel}</span>
                                        <span style="margin-left: 12px;">
                                            <a href="javascript:void(0)" title="voip电话" data-id="{$info.id}" class="relation_icon icon_headset"></a>
                                        </span>
                                    </div>
                                    <div class="col-xs-12 no-padding mtb5 ">
                                        <span class="width_size">
                                            联系人：</span>
                                        <input class="width_120" type="text" name="name" value="{$info.name}" disabled="disabled">
                                        <select name="sex">
                                            <option value="">性别</option>
                                            <if condition="$info['sex'] EQ '女士'">
                                            <option value="先生">先生</option>
                                            <option value="女士"  selected="selected">女士</option>
                                            <else/>
                                            <option value="先生" selected="selected">先生</option>
                                            <option value="女士">女士</option>
                                            </if>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 no-padding mtb5 ">
                                        <span class="width_size">备用联系：</span>
                                        <input class="width_120" type="text" id="other_contact"
                                               name="other_contact" value="{$info.other_contact}"/>
                                    </div>
                                    <div id="order-form">
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">所属区域：</span>
                                            <select class="width_80" >
                                                <volist name="quyu" id="vo">
                                                <if condition="$vo['cid'] EQ $info['cs']">
                                                <option>{$vo.cname}</option>
                                                </if>
                                                </volist>
                                            </select>
                                            <select class="width_80" name="qx">
                                                <volist name="city" id="vo">
                                                <if condition="$vo['qz_areaid'] EQ $info['qx']">
                                                <option>{$vo.qz_area}</option>
                                                </if>
                                                </volist>
                                            </select>
                                        </div>

                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">小区名称：</span>
                                            <input class="width_120" type="text" id="village_name"
                                                   name="village_name" value="{$info.xiaoqu}">
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">
                                                <i class="red set-mr5">*</i>
                                                地图坐标：
                                            </span>
                                            <input type="text" class="width_120" value="{$vo.a.lng},{$vo.lat}" />
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">户型结构：</span>
                                            <select name="huxing" class="width_100">
                                                <volist name="huxing" id="vo">
                                                <if condition="$info['huxing'] EQ $vo['id']">
                                                <option  selected="selected">{$vo.name}</option>
                                                </if>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">面积：</span>
                                            <input class="width_60" type="text" name="mianji" placeholder="面积" value="{$info.mianji}">㎡
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">装修风格：</span>
                                            <select name="fengge" class="width_120">
                                                <volist name="fengge" id="vo">
                                                <if condition="$info['fengge'] EQ $vo['id']">
                                                <option  selected="selected">{$vo.name}</option>
                                                </if>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">装修类型：</span>
                                            <select name="lx" class="width_70">
                                                <option value="">-请选择-</option>
                                                <if condition="$info['lx'] EQ 1">
                                                <option value="2">公装</option>
                                                <option value="1" selected="selected">家装</option>
                                                <else/>
                                                <option value="2" selected="selected">公装</option>
                                                <option value="1">家装</option>
                                                </if>
                                            </select>
                                            <select name="lxs" class="width_100">
                                                <volist name="lxs" id="vo">
                                                <if condition="$info['lxs'] EQ $key">
                                                <option  selected="selected">{$vo}</option>
                                                </if>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">装修预算：</span>
                                            <select class="width_70" name="yusuan">
                                                <volist name="yusuan" id="vo">
                                                <if condition="$info['yusuan'] EQ $vo['id']">
                                                <option  selected="selected">{$vo.name}</option>
                                                </if>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">签单金额：</span>
                                            <input class="width_120" type="text" value="{$info.qiandan_jine}">万
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <span class="width_size">分配装修公司：</span>
                                        </div>
                                        <div class="col-xs-12 no-padding mtb5 ">
                                            <volist name="info.companys" id="vo">
                                            <div class="col-xs-6">
                                            {$vo}
                                            </div>
                                            <div class="col-xs-6">
                                            {$vo}
                                            </div>
                                            </volist>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- 第二列 -->
                            <div class="col-xs-6  order-minh order-mask">
                                <div class="col-xs-12 no-padding mtb5 ">
                                    <p class="width_size pull-left order-beizhu company">
                                        <span class="green companyName">装修公司</span>
                                        <span>申请签单备注:</span>
                                    </p>
                                    <div class="text-height120 mark-need">
                                        <textarea class="pull-left text-height115" name="text"
                                                  style="line-height: 20px;">{$info.qiandan_remark}</textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-padding mtb5 ">
                                    <p class="width_size pull-left order-beizhu">
                                        <span>特殊需求:</span>
                                    </p>
                                    <div class="text-height120 mark-need">
                                        <textarea class="pull-left text-height115" name="text"
                                                  style="line-height: 20px;">{$info.text}</textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-padding mt10  ">
                                    <span class="width_size order-beizhu" style="padding-top: 4px;">审核状态：</span>
                                    <label for="o-nopass" class="orderyx ">
                                        <input type="radio" name="status" class="nohave" value="0" id="o-nopass">不通过</input>
                                    </label>
                                    <label for="o-pass" class="orderyx ">
                                        <input type="radio" name="status" class="have" id="o-pass" value="1" checked>通过</input>
                                    </label>
                                    <label for="o-keep" class="orderyx ">
                                        <input type="radio" name="status" class="nohave" value="2" id="o-keep">继续跟进</input>
                                    </label>
                                </div>
                                <div class="col-xs-12 no-padding mt10  h15">
                                    <span class="width_size order-beizhu">签单最后审核时间：</span>
                                    <span>{$info.qiandan_chktime|date="Y-m-d H:i:s",###}</span>
                                </div>
                                <div class="col-xs-12 no-padding mt10  h15">
                                    <span class="width_size order-beizhu">备注最后修改时间：</span>
                                    <span>{$info.qiandan_remark_lasttime|default="-"|date="Y-m-d H:i:s",###}</span>
                                </div>
                                <div class="col-xs-12 no-padding mt10  ">
                                    <span class="width_size buyjjyx">购买家具意向：</span>
                                    <label for="have" class="orderyx">
                                        <input type="radio" name="recommend" class="have" value="1">有</input>
                                    </label>
                                    <label for="nohave" class="orderyx">
                                        <input type="radio" name="recommend" class="nohave" value="2" checked>无</input>
                                    </label>
                                </div>
                                <div class="col-xs-12 no-padding mt10 ">
                                    <button id="btnSave" type="button" class="btn btn-primary">
                                        保存审核
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    var orderid = '{$info.id}';
    $("input[name=status]").removeAttr('checked');
    $("input[name=status]").eq("{$info.qiandan_status}").attr("checked","checked").prop("checked",true);
</script>
