.select2-container .select2-choice{color: #9c9f9f;}
.chaxun_title{font-size: 14px;color: #333;}
.chaxun_title span{color: #ff5353;}
.tablelist th,table td{text-align: center !important;vertical-align: middle !important;}
.paixupic{vertical-align: top;font-size: 18px !important;margin-left: 5px;
color: #33cc00;}
.paixupic2{transform:rotate(180deg);}
.border-table td{border-left: 1px solid #dddd; border-top: none !important;}
#echarts-box{height: 400px}

.tips-title{
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.tips-list li{
    margin-left: 20px;
    font-size: 14px ;
    line-height: 20px;
}
