/*
* @Author: qz_xsc
* @Date:   2018-03-02 15:25:09
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-06 13:24:27
* 公共提示消息样式表
*/
.alert_info_mask_x150{
    position: fixed;
    margin:0px;
    left:0px;
    right: 0px;
    bottom:0px;
    top:0px;
    z-index:9999999;
    text-align: center;

}
.alert_box_x150{
    width:350px;
    height: 120px;
    border:1px solid #DEDEDE;
    box-shadow: 0px 0px 50px #a1a1a1ee;
    position: fixed;
    z-index: 99999999;
    margin:auto;
    left:0px;
    right: 0px;
    bottom:0px;
    top:0px;
    background: #fff;
}
.alert_text_x150{
    height: 70px;
    width:100%;
    text-align: center;
    font-size: 15px;
}