/*
* @Author: qz_xsc
* @Date:   2018-03-06 14:13:39
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-07 09:33:55
*/
.search_box_x150{
    text-align: center;
    margin-bottom: 55px;
}
.search_box_x150 input{width:225px;margin:0px 10px}
.search_box_x150 .serach_title_x150{font-size: 18px; font-weight:bold;}
.tab_chose_x150{width:226px; border:1px solid #359BED; height: 30px; border-radius:5px;margin:0px auto; line-height: 28px; font-size: 0px; text-align: center;}
.tab_chose_x150 span{display: inline-block;width:33.33%; height: 100%;font-size: 15px; color:#359bED; cursor: pointer;}
.search_active_x150{
    background: #359bED;
    color:#fff !important;
}
.tab_content_x150 table{
    width: 920px;
    margin:0px auto;
    text-align: center;
    margin-top: 22px;
    table-layout: fixed;
    display: none;
}

.tab_head_x150{background: #E7E5E6 !important;}
.table_active_x150{display: table !important;}
.result_title_x150{font-size: 18px; text-align: center; font-weight:bold;}