/*
* @Author: qz_xsc
* @Date:   2018-03-07 11:29:31
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-13 15:48:26
*/
.overview_box_x150 table{
    width: 100%;
    text-align: center;
    table-layout:fixed;
}
.overview_box_x150 .data_table_x150 tr{
    height: 50px;
    font-size:18px;

}
.overview_box_x150 .data_table_x150 tr td a{
    display: inline-block;
    width:calc(50% - 4px);
    color: #3B9EED;
    font-size: 14px;
}
.sign_red{color:#FF5353;}
.overview_box_x150 .data_table_x150 tr td:nth-child(2){
    border-left:1px solid #DEDEDE;
    border-right:1px solid #DEDEDE;
}
.data_title_x150{font-size: 16px;}
.data_box_x150{
    width:450px;
    height:420px;
    margin: 0px auto;
}