/*
* @Author: qz_xsc
* @Date:   2017-11-30 09:04:37
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-06 15:17:18
*/
body{color: #333333;}
.button{color: #fff; border-radius: 5px; padding:5px 15px; border: 1px solid #FB8920; background: none; outline: none; color: #FB8920;}
.hasBg{background: #FB8920; border:none; color:#fff; padding:6px 16px;}
.noChose{background: #DBDBDB;border:none; color:#fff; padding:6px 16px;}
.content-wrapper, .right-side{background: #fff !important;}
.no_right{margin-right: 0px !important;}
.main_content{width:90%; min-width: 1300px}
.owf{overflow: hidden;}
.zhushi{text-align: right; margin-bottom: 10px; padding-top: 10px; margin-bottom:10px;}
.zhushi:after{content: "";display: block; clear: both;}
.zhushi span{font-size: 20px; color:#666699; font-weight:bold;}
.step_item_box{background: #F4F4F4; box-shadow: 4px 8px 15px #DEDEDE; margin-bottom: 20px; position: relative; border-top:5px solid #FB8920; padding-bottom: 20px;}
.step_item_name{position: absolute; font-size:16px; color: #333333;width:200px; height: 35px; text-indent: 10px; line-height: 35px; font-size: 20px; font-weight: bold;}
.shenqi{font-family: 'MV Boli Bold Oblique', 'MV Boli'; color: #E4E4E4; font-size:37px; margin-top: 5px; margin-right: -18px;}
.drag_handle{position: absolute; right: 10px; top:10px; border-top:2px solid #C8C8C8; border-bottom:2px solid #C8C8C8; width:20px; height: 16px; line-height: 3px; cursor: move;}

.center_line{display: inline-block; width: 100%; height: 2px; background: #c8c8c8;}
.jindu_item{font-size: 16px;  display: inline-block; position: relative; height: 52px; width:167.5px; color: #DBDBDB;}
.jindu_item .line{position: absolute; height: 6px; background: #DBDBDB; top:50%; width:100%; left:20px; margin-top:-3px;}
.jindu_item .radius{position: absolute; width:50px; height: 50px;left: 0px; border-radius: 25px;  border:1px solid rgba(200,200,200,0);;}
.jindu_item .radius .title{margin-top: 70px; position: absolute; width: 32px; left: 8px;}
.jindu_item .radius .small_radius{width:32px; height: 32px; background: #DBDBDB; border-radius: 16px; position: absolute; margin:auto; left: 0px; right: 0px; top:0px; bottom:0px;}
.jindu_active{color:#FB8920;font-weight: bold;}
.jindu_active .line{background: #FB8920 !important; }
.jindu_active .radius{  border:1px solid #FB8920 !important;background: #F4F4F4;}
.jindu_active .small_radius{ background: #FB8920 !important; }
.search_jindu{ overflow: hidden; text-align: center; width: 512px; margin:0px auto; margin-bottom: 50px; padding-top: 14px;}
.search_name{font-size: 26px; font-weight: bold; margin-top: 5px;}
.search_jindu div{margin-right: 20px; float: left;}
.search_jindu input{height: 31px; width:300px; display: block; padding-left: 5px; outline: none;}
.search_jindu img{width:27px; margin-top: -5px; cursor: pointer;}
.jindu_box{font-size: 0px; text-align: center; height: 110px; }
#jieshi{cursor: pointer;}
.relative{position: relative; height:100%; overflow-y: auto;}
.shuoming{font-size: 20px;color: #666699;position: relative;display: inline-block;padding: 10px;}
.shuoming .zhushikz{position: absolute;height:0px;width: 370px;background: #dbdbe8;z-index: 9;
top: 36px;right: 0;overflow: hidden;
transition: all 0.5s;
-moz-transition: all 0.5s;	/* Firefox 4 */
-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
-o-transition: all 0.5s;
}
.shuoming:hover .zhushikz{ height: 720px; }
.shuoming .zhushikz .wenzizhus{color: #333;font-size: 12px;margin-left: 5px;}
.shuoming .zhushikz .wenzizhus span{color: #000;font-size: 14px;}
.to_center{margin: 20px auto; width:670px;}
.to_center button{margin-right: 15px; margin-left:5px;}
.input_box_line{overflow: hidden;height:31px; margin-bottom: 26px; }
.input_box_line span{height: 30px; line-height: 30px;padding-right: 10px; }
.input_box_line .label_name{width: 115px; text-align: right;  font-size: 15px;}
.input_box_line  input{width: 133px;   font-size: 13px; }
.no_height{height: auto; }
.no_height .label_name{margin-top: 20px;}
/* .upload_img_list{height: 76px; } */
.upload_img_list img{height: 76px; width:90px;}
.upload_input_box{ height: 76px;width:90px; background: #E0E0E0; position: relative; line-height: 70px; text-align: center; margin-left:40px;}
.upload_input_box:hover{opacity: 0.8}
.upload_input_box:after{
    content: "+";
    font-size:74px;
    color:#B7B7B7;
}
.plus_img{font-size: 30px;padding-right:6px; padding-left: 5px; display: inline-block; height: 76px; line-height: 76px;}
.upload_input_box input[type='file']{
    width:100%;height: 100%;position: absolute;
    left:0px;opacity: 0;
}
.img_box_container{position: relative; width:130px; overflow:hidden; margin-bottom: 10px;}
.img_box_container img{float: right;}
.img_box_container .remove_img{position: absolute; width: 15px; height: 15px; top:3px; right:3px; border-radius:8px; background: #FF5353; line-height: 12px;text-align: center; color:#fff; cursor: pointer;}
.mtl0{margin-left: 0px;}
