/*
* @Author: qz_xsc
* @Date:   2018-03-07 08:59:15
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-07 09:39:39
*/
.search_box_x150{
    text-align: center;
    margin-bottom: 55px;
}
.search_box_x150 input{width:225px;margin:0px 10px}
.search_box_x150 .serach_title_x150{font-size: 18px; font-weight:bold;}
.contract_manager_x150{width:380px; border:1px solid #359BED; height: 30px; border-radius:5px;margin:0px auto; line-height: 28px; font-size: 0px; text-align: center;}
.manage_tab_x150 table{display: none;}
.manage_tab_x150{width: 684px; margin:20px auto;}
.contract_manager_x150 span{display: inline-block;width:20%; height: 100%;font-size: 15px; color:#359bED; cursor: pointer;}
.search_active_x150{
    background: #359bED;
    color:#fff !important;
}
.table_active_x150{display: block !important;}