/*
* @Author: qz_xsc
* @Date:   2017-11-28 15:37:46
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-12 15:14:36
*/
.yqts{border:1px solid #FF5353;color:#FF5353; border-radius: 5px; padding:10px 30px;  position: absolute; top:-75px; width:380px; left:50%; margin-left: -150px; z-index:2; background: #fff; font-size:18px; z-index: 1;}
.yqts img{width:21px; height: 21px; margin-right: 16px;}
.yqts .close_laba{background: #FF5353;color: #fff; position: absolute; font-size: 14px; padding:1px 8px; padding-bottom: 2px; right:-45px; cursor: pointer;}
.menu_list a{color:#333333; padding-right: 11px; font-size:14px;}
.step_leftPart{margin-top:47px;}
.step_rightPart table{width:563px;text-align: center; font-size: 13px;border:1px solid #A1A1A1; }
.step_rightPart table tr{ height: 30px;}
.step_rightPart .part_title{text-align: center; position: relative; height: 40px;}
.step_rightPart .part_title button{position: absolute; right: 0px; top:-3px;}
.step_rightPart .part_title span{font-size: 19px; font-weight: bold;}
.step2 .input_box_line{margin-bottom: 10px;}
.step2 .step_rightPart{border:none; background: none;}
.jichu_x150{
    width:450px;position: fixed;margin:auto;  height: 216px;
    left:0px;right:0px; top:0px;bottom:0px;background: #fff;
    z-index: 999999;
    box-shadow: 0px 0px 25px #999;
    display: none;
}
.jichu{
     height: 216px;
     width:500px;
}
.daoruhetxz{
    height: 30px;margin-right: 20px;
}
.redColor{color:red;}
.way_title{margin-right:10px; font-size: 15px;}
.step2 .way_chose{margin-top:-4px;}
.way_chose{width: 340px; margin:26px auto;}
.button_box{text-align: center;}
.way_btn_active{background: #666699;}
.step2 .step_leftPart{margin-top: 35px;}
.step2 .step_rightPart{margin-top: 35px;}
.peisong_box{margin:10px 0px;}
.peisong_box input{width:156px;   margin:0px 10px;height: 30px}
.peisong_box span{line-height: 30px;}
.step-container{width:85%; min-width: 1100px; overflow: hidden; margin:0px auto; padding: 20px 0px; color:#333333;}
.step_item_box input{background: #F4F4F4; height: 30px; border:1px solid #A1A1A1; outline: none; padding-left: 8px; color:#999999;}
.shouhuo_box{border:1px solid #A1A1A1; padding:0px; color: #666666; height: 265px; overflow-y: auto}
.shouhuo_box li{list-style: none; border-bottom:1px dashed #A1A1A1;padding: 6px 3px; }
.shouhuo_box li .shouhuo_column{width:300px;}
.shouhuo_column_row{padding:4px 0px;}
.shouhuo_column_row span{padding-right: 10px;}
.shouhuo_column_row button{margin:5px auto;display: block;}
.shouhuo_box li .checkBox{width:10px; height: 10px; margin:5px 13px; cursor: pointer; color:#FB8920;}
.choseAll_box .checkBox{ width:10px; height: 10px; margin:0px 15px; cursor: pointer;color:#FB8920;}
.all_text{padding-top: 3px; font-size: 15px;}
.shouhuo_box li:nth-last-child(1){border-bottom:none;}
.no-boder{border:none; height: auto;}
.choseAll_box{width:1135px; margin-bottom:15px; margin-top: 30px}
.choseAll_box span{padding-top: 8px;}
input[name="step4_hetong_inCode1"]{margin-right: 60px}

.jingao{margin-top: 20px; color: #FF5353; padding-left: 15px;}
.step4{padding-top: 77px;}
#bg_mask{background: rgba(0,0,0,0.5); position: fixed; width:100%; height: 100%; left:0px; top:0px; z-index: 9; display: none;}
.win_content{width:800px; height: 70%; position: fixed; margin:auto; left:0px; right:0px; top:0px; bottom:0px; background: #fff; border-radius: 5px; overflow:hidden;display: none; z-index: 10}
.close_win{width: 27px; height: 27px; border-radius:50%;margin:6px; border:1px solid #C1C1C1;color:#C1C1C1; font-size: 14px;text-align: center; line-height: 24px; font-size: 18px; cursor: pointer; position: absolute;right: 0px; }
.close_win:hover{background: #DEDEDE;color: #fff;}
.win_header{border-bottom:1px solid #C1C1C1; font-size: 18px; padding:15px 10px; box-shadow: 1px 0px 5px #DEDEDE;}
#record_list{height: calc(100% - 85px); overflow-y: auto;}
#record_list table{width:100%; text-align: center;}
#record_list table th{text-align: center; height: 40px; background: #DEDEDE;}
#record_list table tr{height: 30px;}
.peisong_box{overflow-y: hidden;}
.change_number{color:#FB8920; border-bottom: 1px solid #FB8920; cursor: pointer; }
#kd_number{display: inline-block; width: 120px; padding-right: 10px;}
.update_peisong_box{display: none; height: 30px; margin:10px 0px; line-height: 30px;}
.center_content{position: fixed; background: #fff; margin:auto; left:0px; top:0px; right:0px; bottom:0px; padding:20px; z-index: 999}
.zuofei_hetong,.yishi_hetong,.zuofei_piaoju,.yishi_piaoju{width:567px; height: 273px;display: none; }
.center_head{font-size: 16px; height:50px;}
.button_box{text-align: center;}
#zf_ht_list{margin-left: -40px; margin-right: 20px; }
.upload_contianer{overflow-y: auto; height: 145px;}
.upload_contianer textarea{width:380px; height: 100px; margin:0px auto; display: block}

#ts_box{width: 133px; max-height: 150px;border:1px solid #DEDEDE; background: #fff; position: absolute; z-index:2; box-shadow: 0px 0px 4px 1px #DEDEDE; overflow-y: auto; display: none;}
#ts_box ul{list-style: none;margin:0px; padding:0px;}
#ts_box ul li{padding-left: 5px; cursor: pointer;}
.no_record{height: 70px; line-height: 70px; font-size: 16px; text-align: center; width:245px; margin:0px auto; padding:30px 0px;}
.no_record span{display: inline-block;height: 70px; line-height: 70px;}
.no_img{display: inline-block; background: url("../images/no-record.png"); width: 66px; height: 70px; margin-right:10px;}

/* 收货确认修改 */
.shouhuo_item_x150{width: 1020px; margin:34px auto;border:1px solid #A1A1A1; text-align: left; }
.shouhuo_item_x150 span{display: inline-block; text-align: left;}
.shouhuo_item_head_x150{font-size: 16px;font-weight:bold; position: relative; background: #F0F0F0;padding:11px 0px;padding-left: 56px;}
/*.shouhuo_item_head_x150 .all_xuanz{vertical-align: middle;display: inline;position: relative;top: -2px;width: 50px;height: 24px;
display: inline-block;}
.shouhuo_item_head_x150 .all_xuanz .quanxuan{vertical-align: middle;position: relative;top:-3px;margin-right: 3px;}*/
.record_row .all_xuanz02{vertical-align: middle;display: inline;position: relative;top: -2px;height: 24px;
display: inline-block;}
.record_row .all_xuanz02 .quanxuan02{vertical-align: middle;position: relative;top:-3px;margin-right: 3px;}
.close_button_x150{position: absolute;right: -50px;color: #359BED; font-weight:normal; font-size: 14px;padding:6px 0px; cursor: pointer;top: 12px}
.contract_status_x150{width:191px;}
.contract_code_x150{width: 296px;}
.contractid{width: 278px;}
.yishicolor{color: #fff;background: #a4a4a4;border: 1px solid #a4a4a4;}
.resender_name_x150{width:180px; font-weight: normal;}
.align_center_x150{text-align: center;}
.confirm_button_x150{/*width:156px;*/ font-weight: normal; font-size: 14px;}
.confirm_button_yishi{margin-left: 10px;}
.record_row{padding-left: 56px; font-size: 15px; padding-bottom:11px;}
.record_num{padding-top: 13px;padding-bottom: 5px !important;}
.has_end{color: #27B84E}
.no_start{color: #FF6969}
.re_write{color: #FFCE42}
.shuohuo_item_body{
    height: 0px; overflow: hidden;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -moz-transition:0.5s;
    transition: 0.5s;
}
.height_auto{height: 210px; overflow-y: auto;}
.height_auto .all_xuanz{display: block;vertical-align: middle;height: 30px;overflow: hidden;line-height: 30px;
padding-left: 56px;}
.height_auto .all_xuanz .quanxuan{vertical-align: middle;margin-right: 3px;}
.send_list_box_x150{
    width:918px;
    margin:0px auto;

}
.height_limit_x150{
    max-height: 580px;
    overflow-y: auto;
}
.scroll_table{
    width:100%; text-align: center;
}
.scroll_table thead{
    display:table;
    table-layout:fixed;
    width: calc(100% - 15px);
    position: relative;
}
.scroll_table thead td{
    background: #E7E5E6;
}
.scroll_table thead:after{
    content: "";
    display: block;
    position: absolute;
    width:15px;
    height: 40px;
    background: #E7E5E6;
    right:-15px;
    top:0px;
}
.scroll_table tbody{
    display:block;
    width:100%;
    height:200px;
    overflow-y:scroll;
}

.scroll_table tr{ height: 40px;display:table;width:100%;table-layout:fixed;}
.send_list_box_x150 table tr i{font-size: 15px; color:#399AE8;cursor: pointer;}

.scroll_table tr:nth-child(n){
    background:#FAFAFA;
}
.scroll_table tr:nth-child(2n){
    background:#F5F5F5;
}
.getAll_x150{width: 200px;}
