/*
* @Author: qz_xsc
* @Date:   2017-12-06 10:41:17
* @Last Modified by:   qz_chk
* @Last Modified time: 2017-12-16 10:51:51
*/
.content-wrapper{background:#F4F4F4 !important;}
.wrapper{width:100%; }
.mx_container{ }
.mx_header .mx_header_title{font-size: 16px; }
.search_box{padding:10px 0 0 0; }
.search_box span{padding-right:8px;}
.search_box input{width: 110px; height: 25px; }
.search_box select{width: 90px;}
.search_box .search_item{margin-right: 15px; margin-bottom: 15px}
.search_button{background: #169BD5; color: #fff; border:none; padding:3px 15px; border-radius: 5px; outline: none;}
.tab_button{padding:0px 0px 10px 0px; color: #fff;}
.tab_button span{display: inline-block; padding:5px 25px; margin-right: 6px; cursor: pointer;}
.ht_tab{background: #169BD5;}
.pj_tab{background: #800080;}
table{width: 100%; text-align: center; background: #fff; }
table th{text-align: center; font-size: 15px; height: 34px;border:1px solid #DEDEDE;}
table tr{height: 34px;}
table tr td{border:1px solid #DEDEDE;}
.log_icon{width:26px; cursor: pointer; height: 26px; background: url('../images/diary_icon.png') no-repeat; background-size: 100%; display: inline-block;}
.id_code{color:#0099CC;}
.reason{width:25%;}
.detail_box{
    width: 738px;  height:100px; position: fixed; left:50%; top:150px;  margin-left:-369px;
 }
.zheng{
    transform:perspective(1500px) rotateX(0deg);
  -webkit-transform: perspective(1500px) rotateX(0deg);
  -moz-transform: perspective(1500px) rotateX(0deg);
}
.to_top{margin-top: -50px;}
.icon_table{cursor: pointer;}
.close_box{text-align: right; padding:5px 10px; background: #fff; }
.close_box:after{clear:both; display: block; content: "";}
.icon_table{width:14px; height: 14px;background:url('../images/close_table.png') no-repeat; background-size: 100% 100%;}
.red_size{color:red;}
.hide{display: none;}