<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <present name="info.mobileagent">
        <meta name="mobile-agent" content="format=html5;url={$info.mobileagent}" />
    </present>
    <title>{$keys.title}</title>
    <meta name="keywords" content="{$keys.keywords}" />
    <meta name="description" content="{$keys.description}" />

    <link href="{$info.canonical}" rel="canonical" />
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/company/css/comp-list.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/common/css/step.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/company/css/luarabanner.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/company/css/company-foot.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/sub/company/css/animate.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
    <link href="{$static_host}/assets/sub/company/css/zxgsgaibanie8.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lte IE 9]>
    <link href="{$static_host}/assets/sub/company/css/zxgsgaibanie.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="{$static_host}/assets/sub/company/css/zxcompany.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>
<body>
<include file="Index:header" />
<div class="zxbanner">
    <div class="fadankz">
        <div class="fuwumskz">
            <div class="fuwumskz_zhuti">报名享受高品质装修服务</div>
            <div class="fuwumskz_futi">今日还剩<span>{:S('Sbu:Company:TopNum')}个</span>名额</div>
        </div>
        <span class="wenben">
            <select id="tab-cs" class="citycs">
            </select>
        </span>
        <span class="wenben">
            <select id="tab-qx" class="areadiqu">
            </select>
        </span>
        <span class="wenben">
            <input class="chenghu" name="a_name" type="text" placeholder="怎么称呼您">
        </span>
        <span class="wenben">
            <input class="shoujihao" name="a_tel" type="text" placeholder="请输入手机号码获取结果" maxlength="11">
        </span>
        <span class="baoming">立即报名</span>
    </div>
</div>

<div class="g-msg">
                <div class="msg msg1">
                    <img data-src="http://{:C('QINIU_DOMAIN')}/desLogo/201705/boy01.jpg" src="http://{:C('QINIU_DOMAIN')}/desLogo/201705/boy01.jpg">
                    <span>来自南宁的陈先生发起了申请&nbsp;&nbsp;&nbsp;&nbsp;1秒前</span>
                </div>
</div>

<div class="wrap ofw">
    <div class="new-bread">
        <a href="/">{$cityinfo.name}装修</a> >
        <a href="/company/">{$cityinfo.name}装修公司</a> <notempty name="breadcheck"> ></notempty>
        <notempty name="breadcheck.city"><a  class="keyword" href="{$companyInfo['city'][0][url]}/" rel="nofollow" >{$breadcheck.city.name}<i>x</i></a>
        </notempty>
        <notempty  name="breadcheck.guimo"><a  class="keyword" href="{$companyInfo['guimo'][0][url]}/" rel="nofollow" >{$breadcheck.guimo.name}<i>x</i></a>
        </notempty>
        <notempty  name="breadcheck.baozhang"><a  class="keyword" href="{$companyInfo['baozhang'][0][url]}/" rel="nofollow" >{$breadcheck.baozhang.name}<i>x</i></a>
        </notempty>
    </div>

    <div class="new-box-l">
        <div class="conpany_xuanz">
            <dl class="fuwuquy">
                <dt><span>服务区域：</span></dt>
                <volist name="companyInfo.city" id="vo">
                    <dd>
                        <eq name="vo.name" value="不限">
                            <if condition="$vo['checked']">
                                <a title="{$vo.name}" rel="nofollow" class="xuanzcolor" href="{$vo.url}/" >{$vo.name}</a>
                                <else/>
                                <a title="{$vo.name}" rel="nofollow" href="{$vo.url}/">{$vo.name}</a>
                            </if>
                            <else />
                            <if condition="$vo['checked']">
                                <a title="{$vo.name}" class="xuanzcolor" href="{$vo.url}/" >{$vo.name}</a>
                                <else/>
                                <a title="{$vo.name}" href="{$vo.url}/">{$vo.name}</a>
                            </if>
                        </eq>
                    </dd>
                </volist>
            </dl>
            <dl class="conpanygm">
                <dt><span>公司规模：</span></dt>
                <volist name="companyInfo.guimo" id="vo">
                    <dd>
                        <eq name="vo.name" value="不限">
                            <if condition="$vo['checked']">
                                <a title="{$vo.name}" rel="nofollow" class="xuanzcolor" href="{$vo.url}/">{$vo.name}</a>
                                <else/>
                                <a title="{$vo.name}" rel="nofollow" href="{$vo.url}/">{$vo.name}</a>
                            </if>
                            <else />
                            <if condition="$vo['checked']">
                                <a title="{$vo.name}" class="xuanzcolor" href="{$vo.url}/">{$vo.name}</a>
                                <else/>
                                <a title="{$vo.name}" href="{$vo.url}/">{$vo.name}</a>
                            </if>
                        </eq>
                    </dd>
                </volist>
            </dl>
            <dl class="fuwubaoz">
                <dt><span>服务保障：</span></dt>
                <volist name="companyInfo.baozhang" id="vo">
                    <dd>
                        <eq name="vo.name" value="不限">
                            <if condition="$vo['checked']">
                                <a title="{$vo.name}" rel="nofollow" class="xuanzcolor" href="{$vo.url}/" >{$vo.name}</a>
                                <else/>
                                <a title="{$vo.name}" rel="nofollow" href="{$vo.url}/">{$vo.name}</a>
                            </if>
                            <else />
                            <if condition="$vo['checked']">
                                <a title="{$vo.name}" rel="nofollow"  class="xuanzcolor" href="{$vo.url}/" >{$vo.name}</a>
                                <else/>
                                <a title="{$vo.name}" rel="nofollow"  href="{$vo.url}/">{$vo.name}</a>
                            </if>
                        </eq>
                    </dd>
                </volist>
            </dl>
        </div>

    <div class="listxz_title">
        <ul>
            <li class="sort">排序：</li>
            <li><a class="fa fa-exclamation-circle koubei {$orderby[1]['active']}" aria-hidden="true" href="{$orderby[1]['url']}">口碑<div class="tishi01"><div class="content_quyu"><p>口碑是装修公司服务水平得重要体现,也是业主选择装修公司的重要参考依据。</p>
            <p class="topjvli">口碑由以下三部分构成，七天动态更新。</p><p class="yuanfu"><span></span>装修公司的服务质量</p>
            <p class="yuanfu"><span></span>用户好评数</p>
            <p class="yuanfu"><span></span>装修公司的专业水平</p></div></div></a></li>
            <li><a class="fa fa-exclamation-circle shilizh {$orderby[5]['active']}" aria-hidden="true" href="{$orderby[5]['url']}">综合实力<div class="tishi02"><div class="content_quyu"><p>实力是装修公司整体能力的重要体现，也是业主选择装修公司的重要参考依据。</p>
            <p class="topjvli">实力由以下三部分构成，七天动态更新。</p><p class="yuanfu"><span></span>案例</p>
            <p class="yuanfu"><span></span>设计团队</p>
            <p class="yuanfu"><span></span>施工团队</p></div></div></a></li>
        </ul>
        <div class="sort_right">
            <label class="labelkz">
                <span class="yiselect"></span>
                <span class="noselect"></span>
                <input type="checkbox" onclick="window.location.href='{$companyInfo.saleUrl}'"><span class="huizi">惠</span>
            </label>
        </div>
    </div>
    <ul class="gongslist">
        <volist name="companyInfo.companyList" id="vo">
        <li>
            <div class="contentop">
                <a class="tuplj" rel="nofollow" href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_case/{$vo.id}/" target="_blank">
                    <img class="bjtupian" src="http://{:C('QINIU_DOMAIN')}/{$vo['img']|default='file/20180123/FsmhNCcgLnXA8gVgmUMbK2uwqlSd.jpg'}" alt="">
                </a>
                <div class="gongsjskz">
                    <div class="company_tituw f0">
                        <a class="company-link" href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.id}/" target="_blank" title="{$vo.qc}">
                            <span title="{$vo.qc}">{$vo.qc|mbstr=0,16}</span>
                        </a>
                        <span class="rel">
                            <img src="/assets/sub/company/img/cert.png" alt="" class="license mr10">
                            <span class="cert-desc">营业执照已审核</span>
                            <span class="ieShadow"></span>
                        </span>
                        <span class="rel">
                            <img src="/assets/sub/company/img/license.png" alt="" class="license">
                            <span class="cert-desc">具备装修资质</span>
                            <span class="ieShadow"></span>
                        </span>
                    </div>
                    <div class="company_Grade">
                        <for start="0" end="$vo.star"><span class="xingxing"></span></for>
                        <span class="ping_number">好评率</span>
                    </div>
                    <div class="anliteam">
                        <span class="anliteam_anli">案例数</span>
                        <span>{$vo.case_count|default=0}套</span>
                        <span class="anliteam_sheji">设计师</span>
                        <span>{$vo.team_count|default=0}</span>
                        <span class="anliteam_shigong">施工团队</span>
                        <span>{$vo.team_num|default=0}队</span>
                    </div>
                    <div class="company_address">
                        <span class="address_logo"></span>
                        <span class="address_ms" title="{$vo.dz}">{$vo.dz|mbstr=0,25}</span>
                    </div>
                    <if condition="$vo['on'] EQ 2 AND $vo['fake'] EQ 0 AND $vo['active_id'] NEQ null">
                        <div class="discount">
                            <span class="discount_hui">惠</span>
                            <a rel="nofollow" href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_event/{$vo.id}/" target="_blank" title="{$vo.active_title}">
                                <span class="discount_ms">{$vo.active_title}</span>
                            </a>
                        </div>
                    </if>
                </div>
                <div class="gongsms_right">
                    <span class="yuyue_niu" data-id="{$vo.id}" data-count="{$vo.yuyue_num}">免费预约</span>
                    <div class="yuyue_number">今日已<span>{$vo.yuyue_num}人</span>成功预约</div>
                </div>
            </div>
            <if condition="$vo['new_comment'] neq ''">
                <a target="_blank" rel="nofollow"  href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_message/{$vo.id}/" class="gongs_comment" title="{$vo.new_comment}">用户说：{$vo.new_comment|mbstr=0,50}</a>
            </if>
        </li>
        </volist>
    </ul>
    <div class="pagebox">
        {$companyInfo.page}
    </div>
  </div>
    <div class="new-box-r">
        <div class="bj-form">
            <div class="bj-content">
                <p class="bj-free-title">算算家里装修要花多少钱</p>
                <p class="jisuan_fubt">8秒即可算出</p>
                <div class="bj-box">
                      <div class="input-select jisuanjg">
                          <span class="shuzi">123456</span>
                          <span class="danweiyuan">元</span>
                      </div>
                      <div class="input-select">
                        <select id="b_cs" class="freesj_cs" name="cs"></select>
                        <select id="b_qy" class="freesj_qy" name="qx"></select>
                    </div>
                      <div class="input-select bord">
                        <input type="text" placeholder="请输入您的房屋面积" name="mianji">
                        <i class="pingfang">m²</i>
                    </div>
                    <div class="input-select bord">
                        <input type="text" placeholder="输入手机号获取计算结果" name="tel" maxlength="11">
                    </div>
                    <!--S-免责申明-->
                     <include file="Common@Order/disclamer"/>
                    <!--E-免责申明-->
                    <div class="input-select">
                        <a class="right-now-btn" href="javascript:;">立即计算</a>
                    </div>
                </div>
            </div>
        </div>


            <div class="jisuanjieguo" style="display:none;">
                <div class="kuangzi">
                    <div class="zxjgy">您的装修预算为：</div>
                    <div class="zxjgy2"><span id="total-price">6.8</span>万元</div>
                    <div class="xiangxisj">
                        <div class="xiangxisj_biaod"><span class="lf">客厅</span><span class="rt"><span id="kt-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">卧室</span><span class="rt"><span id="zw-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">厨房</span><span class="rt"><span id="cf-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">卫生间</span><span class="rt"><span id="wsj-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">水电</span><span class="rt"><span id="sd-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod otherxian"><span class="lf">其它</span><span class="rt"><span id="other-price"></span><span>元</span></span></div>
                    </div>
                </div>
                <div class="shuom"><span>*</span>因材料品牌及工程量不同,具体的价格由实际工程为准;稍后齐装网客服会给您提供更多的报价详情</div>
            </div>

            <div class="zhuagnx_process">
                <div class="zxtitle">装修流程</div>
                <ul>
                    <li class="lixian company_saixuan">
                        <a href="http://www.qizuang.com/gonglue/gongsi/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen01"></span>
                            <span class="gonggms gonggms01">1筛选公司</span>
                        </a>
                    </li>
                    <li class="company_huxing">
                        <a href="http://www.qizuang.com/gonglue/shejiyusuan/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen02"></span>
                            <span class="gonggms gonggms02">2户型设计</span>
                        </a>
                    </li>
                    <li class="lixian company_yusuan">
                        <a href="http://www.qizuang.com/gonglue/shejiyusuan/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen03"></span>
                            <span class="gonggms gonggms03">3估测预算</span>
                        </a>
                    </li>
                    <li class="company_hetong">
                        <a href="http://www.qizuang.com/baike/hetong/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen04"></span>
                            <span class="gonggms gonggms04">4签订合同</span>
                        </a>
                    </li>
                    <li class="lixian company_caigai">
                        <a href="http://www.qizuang.com/gonglue/chagai/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen05"></span>
                            <span class="gonggms gonggms05">5房屋拆改</span>
                        </a>
                    </li>
                    <li class="company_shuidian">
                        <a href="http://www.qizuang.com/gonglue/shuidian/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen06"></span>
                            <span class="gonggms gonggms06">6水电改造</span>
                        </a>
                    </li>
                    <li class="lixian company_fangshui">
                        <a href="http://www.qizuang.com/gonglue/fangshui/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen07"></span>
                            <span class="gonggms gonggms07">7防水处理</span>
                        </a>
                    </li>
                    <li class="company_niwa">
                        <a href="http://www.qizuang.com/gonglue/niwa/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen08"></span>
                            <span class="gonggms gonggms08">8泥瓦工程</span>
                        </a>
                    </li>
                    <li class="lixian company_tumu">
                        <a href="http://www.qizuang.com/gonglue/mugong/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen09"></span>
                            <span class="gonggms gonggms09">9木工工程</span>
                        </a>
                    </li>
                    <li class="company_youqi">
                        <a href="http://www.qizuang.com/gonglue/youqi/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen10"></span>
                            <span class="gonggms gonggms10">10油漆进场</span>
                        </a>
                    </li>
                    <li class="lixian company_ruanzhuang">
                        <a href="http://www.qizuang.com/baike/ruanzhuang/" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen11"></span>
                            <span class="gonggms gonggms11">11软装布置</span>
                        </a>
                    </li>
                    <li class="company_ruzhu">
                        <a href="http://www.qizuang.com/gonglue/jjsh/74353.html" rel="nofollow" target="_blank">
                            <span class="gongbu gs_screen12"></span>
                            <span class="gonggms gonggms12">12入住新屋</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="zhuagnx_process homeowner-order-container">
                <div class="zxtitle">服务状态</div>
                <div class="homeowner-scroll box">
                    <ul class="homeowner-order list">
                        <li><span class="info">{$cityinfo.name}的<i>陈先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>马女士</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>朱先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>李先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>赵先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>李小姐</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>曹小姐</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>吴先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>钱小姐</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>冯小姐</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>杨先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>周女士</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>王先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>吴先生</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                        <li><span class="info">{$cityinfo.name}的<i>冒小姐</i>签订了服务方案</span><span class="date"><php>echo rand(1,7)</php>天前</span>天前</span>
                        </li>
                    </ul>
                </div>
            </div>

            <notempty name="companyInfo.recomArticle">
            <div class="recom-article">
                <div class="zxtitle">{$cityinfo.name}装修公司资讯</div>
                <div class="zxcontent">
                    <ul>
                        <volist name="companyInfo.recomArticle" id="vo">
                            <li><a href="/zxinfo/{$vo.id}.html" title="{$vo.title}">{$vo.title}</a></li>
                        </volist>
                    </ul>
                </div>
            </div>
            </notempty>
    </div>

    <!-- 广告 -->
    <if condition="count($info['bigbanner_c']) GT 0">
        <div class="wrap mt-20">
            <div class="adbanner2">
                <ul>
                    <volist name="info.bigbanner_c" id="vo">
                        <li>
                            <if condition="$vo['company_id'] NEQ 0">
                                <a rel="nofollow" href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.company_id}" target="_blank">
                                    <img src="http://{:OP('QINIU_DOMAIN')}/{$vo.img_url}" width="1210" height="110" alt="{$vo.company_name|default='齐装网 - 行业领先的装修平台'}" />
                                </a>
                                <else/>
                                <if condition="$vo['url'] NEQ ''">
                                    <a rel="nofollow" href="{$vo.url}" target="_blank">
                                        <img src="http://{:OP('QINIU_DOMAIN')}/{$vo.img_url}/" width="1210" height="110" alt="{$vo.company_name|default='齐装网 - 行业领先的装修平台'}" />
                                    </a>
                                    <else/>
                                    <img src="http://{:OP('QINIU_DOMAIN')}/{$vo.img_url}" width="1210" height="110" alt="{$vo.company_name|default='齐装网 - 行业领先的装修平台'}" />
                                </if>
                            </if>
                        </li>
                    </volist>
                    <ol>
                        <volist name="info.bigbanner_b" id="vo">
                            <li></li>
                        </volist>
                    </ol>
                </ul>
            </div>
        </div>
    </if>
    <!-- 广告 -->

</div>

<!-- 预约弹窗 -->
   <div class="beijingyiny"></div>
   <div class="appointment">
       <div class="guanbiniu"></div>
       <div class="yuyue_title">填写您的信息</div>
       <div class="waikuangz">
           <span>所在城市：</span>
           <select id="c_cs" class="freesj_cs" name="cs"></select>
           <select id="c_qy" class="freesj_qy" name="qy"></select>
       </div>
       <div class="waikuangz">
           <span>您的称呼：</span>
           <input class="chenghushuru" type="text" name="c_name" placeholder="怎么称呼您">
       </div>
       <div class="waikuangz">
           <span>手机号码：</span>
           <input class="shoujihaoma" type="text" name="c_tel" placeholder="请输入手机号码获取结果" maxlength="11">
       </div>

       <div class="mzyz">
          <!--S-免责申明-->
            <include file="Common@Order/disclamer"/>
          <!--E-免责申明-->
       </div>


       <div class="lijiyuyue">
           <a href="#">立即预约</a>
       </div>
       <div class="zixun">
           点击进行<a href="#" onclick="open_pic_chat()">在线咨询</a>
       </div>
   </div>
<!-- 预约弹窗 -->

<!-- 预约成功弹窗 -->
   <div class="yuyuesuccess">
       <div class="close_gb"></div>
       <div class="success_title"><span></span>预约成功</div>
       <div class="xiaobiaoti">稍后齐装网管家将会致电你，请注意接听来电。</div>
       <div class="enterservice">装修公司将免费上门服务</div>
       <ul class="tuwen">
           <li>
               <img src="/assets/sub/company/img/fuwuliuc01.jpg" alt="">
               <div class="colortiltle">1、免费量房</div>
               <div class="fulcmiaos">测量全屋面积、轴线、外墙尺寸，为后续装修奠定基础</div>
           </li>
           <li>
               <img src="/assets/sub/company/img/mfsj.jpg" alt="">
               <div class="colortiltle">2、免费设计</div>
               <div class="fulcmiaos">根据你的需求改造你的户型，为你进行私人定制</div>
           </li>
           <li class="quxiaobj">
               <img src="/assets/sub/company/img/mfbj.jpg" alt="">
               <div class="colortiltle">3、免费报价</div>
               <div class="fulcmiaos">为你提供详细的预算规划表，帮你轻松了解市场行情</div>
           </li>
       </ul>

   </div>
<!-- 预约成功弹窗 -->

<!-- 报名成功弹窗 -->

    <div class="sign_success">
       <div class="close_gb"></div>
       <div class="success_title"><span></span>报名成功</div>
       <div class="xiaobiaoti">稍后齐装网管家将会致电你，请注意接听来电。</div>
       <div class="enterservice">齐装网业主专享服务</div>
       <ul class="tuwen">
           <li>
               <img src="/assets/sub/company/img/mfsj.jpg" alt="">
               <div class="colortiltle">1、免费设计</div>
               <div class="fulcmiaos">获取4份设计方案，货比四家，选择好了再动手</div>
           </li>
           <li>
               <img src="/assets/sub/company/img/mfbj.jpg" alt="">
               <div class="colortiltle">2、免费报价</div>
               <div class="fulcmiaos">算算装修要花多少钱，快速了解市场行情</div>
           </li>
           <li class="quxiaobj">
               <img src="/assets/sub/company/img/ptbz.jpg" alt="">
               <div class="colortiltle">3、平台保障</div>
               <div class="fulcmiaos">官方管控，价格公开透明，跟踪施工质量</div>
           </li>
       </ul>

   </div>

<!-- 报名成功弹窗 -->

    <!-- 底部弹窗s -->
<div class="jiadakuangz">
<div class="foottc">
    <div class="cter">
        <div class="toubu">
            <div class="tu-box">
                <div class="qzlogo"></div>
                <div class="dbwzjs"></div>
            </div>
            <div class="jiantou01 three-arrow"></div>
        </div>
        <div class="pop-step-1">
            <div class="nrkz">
                <div class="biaodanqu">
                    <div class="btwz">今日已有<span>3692</span>位业主查找了装修公司</div>
                    <ul class="btul">
                        <li>
                            <span>所在城市：</span>
                            <div class="shurudiv">
                                <select id="cs" class="freesj_cs" name="cs"></select>
                                <select id="qy" class="freesj_qy" name="qy"></select>
                            </div>

                        </li>
                        <li>
                            <span>房屋面积：</span>
                            <div class="shurudiv"><input class="mianji" type="text" placeholder="输入您的房屋面积"></div>
                        </li>
                        <li>
                            <span>手机号码：</span>
                            <div class="shurudiv"><input class="shouji" type="text" maxlength="11" placeholder="输入手机号获取推荐结果"></div>
                        </li>
                        <li>
                             <span>小区名称：</span>
                            <div class="shurudiv"><input class="xiaoqu" type="text" placeholder="输入您的小区以便准确匹配"></div>
                        </li>
                    </ul>
                    <div class="bottom_mianze">
                         <!--S-免责申明-->
                         <include file="Common@Order/disclamer"/>
                        <!--E-免责申明-->
                     </div>
                </div>
                <div class="tijiao"></div>
                <div class="bjtu"></div>
            </div>
            <div class="pop-close"><img src="/assets/home/company/img/company-pop-close.png"><span>关闭</span></div>
        </div>
        <div class="pop-step-2">
            <div class="nrkz2">
                <div class="rtt">
                    <div class="bt">正在为您挑选优质的装修公司</div>
                    <div class="bt-sm">稍后客服将与您取得联系，注意接听电话哟~</div>
                    <div class="erwma"></div>
                    <div class="wxss">微信扫一扫</div>
                    <div class="sjanli">获取<span>1000套</span>装修设计案例</div>
                </div>
            </div>
            <div class="pop-close"><img src="/assets/home/company/img/company-pop-close.png"><span>关闭</span></div>
        </div>
        <div class="pop-step-3">
             <img src="/assets/home/company/img/step-3.png">
        </div>
    </div>

</div>
</div>

 <!-- 底部弹窗e -->
<include file="Common@Friendlink/index"/>
<include file="Index:footer"/>
<input id="safecode" type="hidden" value="{$safecode}" />
<input id="safekey" type="hidden" value="{$safekey}" />
<script type="text/javascript" src="{$static_host}/assets/home/company/js/jquery.luara.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/sub/company/js/rem.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/sub/company/js/jquery.cxscroll.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    var change_cid = ''; //修改的公司id
    var change_cnum = ''; //修改的公司预约人数
    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];

    initCity('{$theCityId}');
    function initCity(cityId){
        App.citys.init("#tab-cs", "#tab-qx", shen, shi,cityId);
        App.citys.init("#b_cs", "#b_qy", shen, shi,cityId);
        App.citys.init("#cs", "#qy", shen, shi,cityId);
         App.citys.init("#c_cs", "#c_qy", shen, shi,cityId);
    }
    var cityName = '{$cityinfo.name}';
    var msgNum=0;


$(".adbanner2").luara({
    width: "1210",
    height: "110",
    interval: 2000,
    selected: "seleted",
    deriction: "top"
});

function up(){
    $('.jiantou01').animate({top:20},600,function(){
        $('.jiantou01').animate({top:41},650,function(){
            up()
        })
    });
}
$('.jiantou01').animate({top:41},600,function(){
    up();
});
    var closeTc= function(){
        a=false;
        $('.toubu').height('126px')
        $('.three-arrow').removeClass('jiantou02').addClass('jiantou01')
        $('.toubu').find('.tu-box').css({height:86,width:648,'border':'2px solid #fff','margin-top':'7px','margin-left':'0'}).find('.qzlogo').css('margin-top','10px');
        $('.toubu').find('.dbwzjs').css('margin-top','27px');
        $('.foottc').stop().animate({"bottom":"-262px"},500,function(){
            var width = -$('.foottc').width();
            $('.foottc').stop().animate({left: width}, 500 ,function(){
                $('.pop-step-3').stop().animate({left: 0}, 500)
            })
        });
    }

$(document).ready(function() {

    $('.new-box-l .conpany_xuanz .fuwuquy dt').height($('.new-box-l .conpany_xuanz .fuwuquy dt').parent('.new-box-l .conpany_xuanz .fuwuquy').height())
    $('.new-box-l .conpany_xuanz .fuwuquy dt').height($('.new-box-l .conpany_xuanz .fuwuquy dt').parent('.new-box-l .conpany_xuanz .fuwuquy').height())
    $('.new-box-l .conpany_xuanz .conpanygm dt').height($('.new-box-l .conpany_xuanz .conpanygm dt').parent('.new-box-l .conpany_xuanz .conpanygm').height())
    $('.new-box-l .conpany_xuanz .fuwubaoz dt').height($('.new-box-l .conpany_xuanz .fuwubaoz dt').parent('.new-box-l .conpany_xuanz .fuwubaoz').height())
    $('.new-box-l .conpany_xuanz .fuwuquy dd a').click(function(){
        $(this).addClass('xuanzcolor');
        $(this).parent().siblings().children('.new-box-l .conpany_xuanz .fuwuquy dd a').removeClass('xuanzcolor');
    })
    $('.new-box-l .conpany_xuanz .conpanygm dd a').click(function(){
        $(this).addClass('xuanzcolor');
        $(this).parent().siblings().children('.new-box-l .conpany_xuanz .conpanygm dd a').removeClass('xuanzcolor');
    })
    $('.new-box-l .conpany_xuanz .fuwubaoz dd a').click(function(){
        $(this).addClass('xuanzcolor');
        $(this).parent().siblings().children('.new-box-l .conpany_xuanz .fuwubaoz dd a').removeClass('xuanzcolor');
    })

    $('.listxz_title ul li a').click(function(){
        $(this).addClass('xuanzcolor');
        $(this).parent().siblings().children('.listxz_title ul li a').removeClass('xuanzcolor');
    })

    $('.zhuagnx_process ul .company_saixuan').mouseover(function() {
        $('.zhuagnx_process ul .gonggms01').html('公司口碑<br>公司实力')
    });
    $('.zhuagnx_process ul .company_saixuan').mouseout(function() {
        $('.zhuagnx_process ul .gonggms01').html('1筛选公司')
    })
    $('.zhuagnx_process ul .company_huxing').mouseover(function() {
        $('.zhuagnx_process ul .gonggms02').html('设计方案<br>施工方案')
    });
    $('.zhuagnx_process ul .company_huxing').mouseout(function() {
        $('.zhuagnx_process ul .gonggms02').html('2户型设计')
    })
    $('.zhuagnx_process ul .company_yusuan').mouseover(function() {
        $('.zhuagnx_process ul .gonggms03').html('人工、辅材<br>主材、家具等')
    });
    $('.zhuagnx_process ul .company_yusuan').mouseout(function() {
        $('.zhuagnx_process ul .gonggms03').html('3估测预算')
    })
    $('.zhuagnx_process ul .company_hetong').mouseover(function() {
        $('.zhuagnx_process ul .gonggms04').html('装修合同')
    });
    $('.zhuagnx_process ul .company_hetong').mouseout(function() {
        $('.zhuagnx_process ul .gonggms04').html('4签订合同')
    })
    $('.zhuagnx_process ul .company_caigai').mouseover(function() {
        $('.zhuagnx_process ul .gonggms05').html('拆除<br>清理')
    });
    $('.zhuagnx_process ul .company_caigai').mouseout(function() {
        $('.zhuagnx_process ul .gonggms05').html('5房屋拆改')
    })
    $('.zhuagnx_process ul .company_shuidian').mouseover(function() {
        $('.zhuagnx_process ul .gonggms06').html('开槽<br>排设')
    });
    $('.zhuagnx_process ul .company_shuidian').mouseout(function() {
        $('.zhuagnx_process ul .gonggms06').html('6水电改造')
    })
    $('.zhuagnx_process ul .company_fangshui').mouseover(function() {
        $('.zhuagnx_process ul .gonggms07').html('防水处理<br>防水测试')
    });
    $('.zhuagnx_process ul .company_fangshui').mouseout(function() {
        $('.zhuagnx_process ul .gonggms07').html('7防水处理')
    })
    $('.zhuagnx_process ul .company_niwa').mouseover(function() {
        $('.zhuagnx_process ul .gonggms08').html('墙砖、地砖<br>过门石')
    });
    $('.zhuagnx_process ul .company_niwa').mouseout(function() {
        $('.zhuagnx_process ul .gonggms08').html('8泥瓦工程')
    })
    $('.zhuagnx_process ul .company_tumu').mouseover(function() {
        $('.zhuagnx_process ul .gonggms09').html('柜子、地板<br>五金安装')
    });
    $('.zhuagnx_process ul .company_tumu').mouseout(function() {
        $('.zhuagnx_process ul .gonggms09').html('9木工工程')
    })
    $('.zhuagnx_process ul .company_youqi').mouseover(function() {
        $('.zhuagnx_process ul .gonggms10').html('墙、顶面<br>柜面')
    });
    $('.zhuagnx_process ul .company_youqi').mouseout(function() {
        $('.zhuagnx_process ul .gonggms10').html('10油漆进场')
    })
    $('.zhuagnx_process ul .company_ruanzhuang').mouseover(function() {
        $('.zhuagnx_process ul .gonggms11').html('窗帘<br>沙发、床等')
    });
    $('.zhuagnx_process ul .company_ruanzhuang').mouseout(function() {
        $('.zhuagnx_process ul .gonggms11').html('11软装布置')
    })
    $('.zhuagnx_process ul .company_ruzhu').mouseover(function() {
        $('.zhuagnx_process ul .gonggms12').html('生活用品')
    });
    $('.zhuagnx_process ul .company_ruzhu').mouseout(function() {
        $('.zhuagnx_process ul .gonggms12').html('12入住新屋')
    })

    $('.contentop .gongsms_right .yuyue_niu').click(function(){
        change_cid = $(this).attr('data-id');
        change_cnum = $(this).attr('data-count');
        $('.beijingyiny').show();
        $('.appointment').show();
    });

    //装修公司预约关闭
    $('.appointment .guanbiniu').click(function(){
        $('input[name="c_name"]').val('');
        $('input[name="c_tel"]').val('');
        $('.beijingyiny').hide();
        $('.appointment').hide();
    })

    //装修公司预约
    $('.appointment .lijiyuyue').click(function(){
        var name = $('input[name="c_name"]');
        var tel = $('input[name="c_tel"]');
        var qx = $('#c_qy');
        var cs = $('#c_cs');
        if (name.val() == "" || name.val().length == 0) {
            name.focus();
            alert("请输入您的称呼");
            return false;
        } else {
            var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
            if (!reg.test(name.val())) {
                name.focus();
                alert("请输入正确的称呼，只支持中文和英文 ^_^!");
                return false;
            }
        }
        if (qx.val() == "" || cs.val() == "") {
            alert("请选择地区");
            return false;
        }
        if (tel.val() == "" || tel.val().length == 0) {
            tel.focus();
            alert("请输入您的手机号码");
            return false;
        } else {
            var reg = new RegExp("" +
                "^(130|131|132|155|156|185|186|145|176|175" +
                "|139|138|137|136|135|134|147|150|151|152|157|158|159|178|182|183|184|187|188" +
                "|133|153|177|173|180|181|189)[0-9]{8}$");
            if (!tel.val().match(reg)) {
                tel.focus();
                alert("请填写正确的手机号码");
                return false;
            }
        }

        if(!checkDisclamer(".appointment")){
            return false;
        }
        var data = {
            tel:tel.val(),
            cs:cs.val(),
            qx:qx.val(),
            nane:name.val(),
            source: '18031925'
        };
        window.order({
            extra:data,   error:function(){alert("网络发生错误,请稍后重试！");},
            success:function(data, status, xhr){
                if (data.status == 1) {
                    //修改页面对应公司预约人数
                    $.ajax({
                        url: '/company/changePageCases/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            change_cid: change_cid,
                            change_cnum: change_cnum,
                            location: 'company',
                        }
                    })
                        .done(function (data) {
                            $('.appointment').hide();
                            $('.beijingyiny').show();
                            $('.yuyuesuccess').show();
                        });
                } else {
                    alert(data.info);
                }
            },
            validate:function(item, value, method, info){
                return true;
            }
        });
    });

    $('.yuyuesuccess .close_gb').click(function(){
        location.reload();
        $('.beijingyiny').hide();
        $('.yuyuesuccess').hide();
    });

    $('.sign_success .close_gb').click(function(){
        location.reload();
        $('.beijingyiny').hide();
        $('.sign_success').hide();
    })

    //顶部报名
    $('.fadankz .baoming').click(function(){
        var name = $('input[name="a_name"]');
        var tel = $('input[name="a_tel"]');
        var qx = $('#tab-qx');
        var cs = $('#tab-cs');
        if (name.val() == "" || name.val().length == 0) {
            name.focus();
            alert("请输入您的称呼");
            return false;
        } else {
            var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
            if (!reg.test(name.val())) {
                name.focus();
                alert("请输入正确的称呼，只支持中文和英文 ^_^!");
                return false;
            }
        }
        if (qx.val() == "" || cs.val() == "") {
            alert("请选择地区");
            return false;
        }
        if (tel.val() == "" || tel.val().length == 0) {
            tel.focus();
            alert("请输入您的手机号码");
            return false;
        } else {
            var reg = new RegExp("" +
                "^(130|131|132|155|156|185|186|145|176|175" +
                "|139|138|137|136|135|134|147|150|151|152|157|158|159|178|182|183|184|187|188" +
                "|133|153|177|173|180|181|189)[0-9]{8}$");
            if (!tel.val().match(reg)) {
                tel.focus();
                alert("请填写正确的手机号码");
                return false;
            }
        }

        var data = {
            tel:tel.val(),
            cs:cs.val(),
            qx:qx.val(),
            nane:name.val(),
            source: '18031910'
        };

        window.order({
            extra:data,   error:function(){alert("网络发生错误,请稍后重试！");},
            success:function(data, status, xhr){
                if (data.status == 1) {
                    //修改页面对应公司预约人数
                    $.ajax({
                        url: '/company/changePageCases/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            location: 'top',
                        }
                    })
                        .done(function (data) {
                            $('.beijingyiny').show();
                            $('.sign_success').show();
                        })
                }else{
                    alert("发生错误,请稍后重试！");
                }
            },
            validate:function(item, value, method, info){
                return true;
            }
        });
    });

    //优惠选中效果
    if('{$issale}' == 1){
        $('.listxz_title .sort_right .noselect').show();
    }else {
        $('.listxz_title .sort_right .noselect').hide();
    }

    var a=false;
    $('.toubu').click(function(){
        $(this).animate({top:0},550,function(){
            up();
        });
        if(a==false){
            $('.foottc').stop().animate({"bottom":"0"},500);
            $('.toubu').height('105px')
            $(this).find('.tu-box').css({'border':'none','height':100,width:652,'margin-top':'5px','margin-left':'2px'}).find('.qzlogo').css('margin-top','16px');
            $(this).find('.dbwzjs').css('margin-top','31px');
            $('.jiantou01').removeClass('jiantou01').addClass('jiantou02').stop();
            $('.jiantou02').css('top','30px')
            a=true;
       }else{
            $('.foottc').stop().animate({"bottom":"-262px"},500);
            $('.toubu').height('126px')
            $(this).find('.tu-box').css({height:86,width:648,'border':'2px solid #fff','margin-top':'7px','margin-left':'0'}).find('.qzlogo').css('margin-top','10px');
            $(this).find('.dbwzjs').css('margin-top','27px');
            $('.jiantou02').removeClass('jiantou02').addClass('jiantou01')
            a=false;
       }
    });

    $('.foottc .cter .pop-close').on('click',function(){
        closeTc();
    });
    $('.foottc .cter .pop-step-3').on('click',function(){
        $(this).stop().animate({left: '-194px'}, 500, function(){
            $('.foottc').stop().animate({left:0}, 500);
            up();
        })
    })
    var yici=false;
    $(window).scroll(function(event) {

        if($(window).scrollTop() >= 1000 && yici==false){
            $('.foottc').stop().animate({"bottom":"0"},500);
            $('.toubu').find('.tu-box').css({'border':'none','width':652,height:100,'margin-top':'17px','margin-left':'2px'});
            $('.jiantou01').removeClass('jiantou01').addClass('jiantou02')
            yici=true;
            a=true;
        }
        if( $(window).scrollTop()<1000){
            $('.foottc').stop().animate({"bottom":"-262"},500);
            $('.toubu').find('.tu-box').css({'border':'2px solid #fff','width':648,height:86,'margin-top':'7px','margin-left':'0px'});
            $('.jiantou02').removeClass('jiantou02').addClass('jiantou01')
            yici=false;
            a=false;
        }
    });

    $(".tijiao").click(function(event) {

        var cs_name=$('.btul .freesj_cs option:selected').text();
        var qy_name=$('.btul .freesj_qy option:selected').text();
        var cs = $('.freesj_cs');
        if (cs.val() == '') {
            alert("您还没有选择所在城市噢 ^_^!");
            cs.focus();
            return false;
        }

        var qy = $('.freesj_qy');
        if (qy.val() == '') {
            alert("您还没有选择所在区域噢 ^_^!");
            qy.focus();
            return false;
        }

        var mianji = $('.mianji');
        if (mianji.val() == "") {
            mianji.focus();
            alert("请输入房屋面积");
            return false;
        }
        var re = /^[0-9]+(.[0-9]{1,2})?$/gi;
        if (!re.test(mianji.val()) || mianji.val()>10000 || mianji.val()<1) {
            mianji.focus();
            alert("请输入1-10000的数字");
            return false;
        }

        var tel = $('.shouji');
        if (tel.val() == "" || tel.val().length == 0) {
            tel.focus();
            alert("请填写您的手机号");
            return false;
        } else {
            var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
            if (!tel.val().match(reg)) {
                tel.focus();
                alert("手机号错误");
                return false;
            }
        }
        var xiaoqu = $('.xiaoqu');
        if (xiaoqu.val() == "") {
            xiaoqu.focus();
            alert("请输入小区名称");
            return false;
        }else if(!isNaN(Number(xiaoqu.val()))){
            xiaoqu.focus();
            alert("小区名称不可为纯数字");
            return false;
        }
        if(!checkDisclamer(".jiadakuangz")){
            return false;
        }
        var comid = $("#companyid").val();

        var data = {
            mianji:mianji.val(),
            xiaoqu:xiaoqu.val(),
            tel:tel.val(),
            cs:cs.val(),
            qx:qy.val(),
            source: '188',
            fb_type: 'sheji'
        };

        window.order({
            extra:data,   error:function(){alert("网络发生错误,请稍后重试！");},
            success:function(data, status, xhr){
                if (data.status == 1) {
                    var pattern_char = /[a-zA-Z]/g;
                    cs_name = $.trim(cs_name.replace(pattern_char,''));
                    $("#cs_val").text(cs_name+qy_name);
                    $("#mj_val").text(mianji.val());
                    $("#xq_val").text(xiaoqu.val());
                    $('.pop-step-1').hide();
                    $('.pop-step-2').show();
                }else{
                    alert("发生错误,请稍后重试！");
                }
            },
            validate:function(item, value, method, info){
                return true;
            }
        });
        return false;


    });
    var flag=false;
    setInterval(function(){
        var aa=parseInt(Math.random() * 90000+ 30000);
        $('.jisuanjg .shuzi').html(aa);
    },300)

    //右侧计算器
    $(".right-now-btn").click(function(event) {
        var disclamer =$(".bj-form  .disclamer-check").attr("data-checked");
        var _this = $(this).parent().parent();
        var cs = $(".b_cs");
        var qy = $(".b_qy");
        if (cs.val() == '') {
            alert("您还没有选择所在城市噢 ^_^!");
            cs.focus();
            return false;
        }

        var mianji = _this.find("input[name=mianji]");
        var tel = _this.find("input[name=tel]");
        if (mianji.val() == "") {
            mianji.focus();
            alert("请输入您的房屋面积");
            return false;
        }
        if(isNaN(mianji.val())){
            mianji.focus();
            alert("请输入正确的房屋面积");
            return false;
        }

        if (tel.val() == "" || tel.val().length == 0) {
            tel.focus();
            alert("请输入您的手机号码");
            return false;
        } else {
            var reg = new RegExp("" +
                "^(130|131|132|155|156|185|186|145|176|175" +
                "|139|138|137|136|135|134|147|150|151|152|157|158|159|178|182|183|184|187|188" +
                "|133|153|177|173|180|181|189)[0-9]{8}$");
            if (!tel.val().match(reg)) {
                tel.focus();
                alert("请填写正确的手机号码");
                return false;
            }
        }
        if(disclamer=="false"){
            alert("请勾选我已阅读并同意齐装网的《免责申明》！");
            return false;
        }

        var data = {
            mianji:mianji.val(),
            tel:tel.val(),
            cs:cs.val(),
            qx:qy.val(),
            source: '18031916',
            fb_type:'baojia',
        };

        window.order({
            extra : data,
            error:function(){alert("网络发生错误,请稍后重试！");},
            success:function(data, status, xhr){
                if (data.status == 1) {
                    if (data.status == 1) {
                        $.ajax({
                            url: '/zxbj/getdetailsbyajax/',
                            type: 'GET',
                            dataType: 'JSON'
                        })
                            .done(function (data) {
                                if (data.status == 1) {
                                    calculate(data.data);
                                    $('.bj-form').hide();
                                    $('.jisuanjieguo').show()
                                } else {
                                    alert(data.info);
                                }
                            })
                            .fail(function (xhr) {
                                alert('获取报价失败,请刷新页面');
                            });
                    }
                }else{
                    alert("发生错误,请稍后重试！");
                }
            },
            validate:function(item, value, method, info){
                return true;
            }
        });
        return false;
    });
    // 设计报价滚动到1500px 悬浮
    $(window).scroll(function(event) {
        var fixHeight = 1500;
        if ($('.recom-article').length > 0 ){
            fixHeight = 2100;
        }
        if($(window).scrollTop() >= fixHeight){
            $('.bj-form').css({
                "width":"260px",
                "margin-top":"0",
                "position":"fixed",
                "top":"85px",
                "zIndex":2
            });
        }else{
            $('.bj-form').css({
                "margin-top":"15px",
                "position":"",
                "top":"",
                "zIndex":''
            });
        }
    });

    <empty name="companyInfo.gmstyle">
    $(".comp-chouse-list").css("height","81px");
    </empty>
    $(".comp-chouse-more").click(function(){
        if(flag==false){
            $(this).siblings(".comp-chouse-list").css("height","auto");
            $(this).html("收起"+"<i class='fa fa-angle-up'></i>");
            flag=true;
        }else{
            $(this).siblings(".comp-chouse-list").css("height","81px");
            $(this).html("更多"+"<i class='fa fa-angle-down'></i>");
            flag=false;
        }
    })
});

$(function(){
    if ('{$_GET["p"]}') {
        // closeTc()
    }
    $('#city').change(function(){
        var cs = $(this).children('option:selected').val();
        if(cs != ""){
            window.location.href = "/company/?cs=" + cs;
        }
    });

    $(".rtel input[name=name]").focus();

    $(".tiaoj dl dd a").click(function(event) {
        var $id = $(this).attr("data-id");
        var src = "/company/?cs="+$id;
        if("{$keyword}" != ""){
            src = src+"&keyword={$keyword}";
        }
        window.location.href=src;
    });

    $(".comp-list-ul .comp-list-button").click(function(event) {
        var cid = $(this).attr("data-id");
        $.ajax({
            url: '/dispatcher/',
            type: 'POST',
            dataType: 'JSON',
            data: {
               type:"sj",
               source:'158',
               action:"load",
               cid:cid
            }
        })
        .done(function(data) {
            if (data.status == 1) {
                $("body").append(data.data);
                $(".zb_box_sj").fadeIn(400,function(){
                    $(this).find("input[name=lf-name]").focus();
                });
            }
        });
    });

    $(".zxfw dd a").click(function(event) {
        $.ajax({
            url: '/dispatcher/',
            type: 'POST',
            dataType: 'JSON',
            data: {
               type:"fb",
               source:'171',
               action:"load",
               cs:"{$cityInfo.id}"
            }
        })
        .done(function(data) {
            if (data.status == 1) {
                $("body").append(data.data);
                $("input[name='name']").focus();
            }
        });
    });

    $(".keyword").click(function(event) {
        window.location.href ="/company/";
    });

});
function calculate(data) {
    console.log(data.zw);
    $('#kt-price').text(data.kt);
    $('#zw-price').text(data.zw);
    $('#wsj-price').text(data.wsj);
    $('#cf-price').text(data.cf);
    $('#sd-price').text(data.sd);
    $('#other-price').text(data.other);
    $('#total-price').text(data.total / 10000);
}
</script>
<script>
    // 服务状态滚动
    +function($) {
        $('.homeowner-order-container').cxScroll({
            direction: 'bottom',
            time : 2000,
            step:1
        });
    }(jQuery)
    // 设计报价滚动到1500px 悬浮
    $(window).scroll(function(event) {
        if($(window).scrollTop() >= 1820){
            $('.bj-form').css({
                "width":"260px",
                "margin-top":"0",
                "position":"fixed",
                "top":"85px",
                "zIndex":2
            });
        }else{
            $('.bj-form').css({
                "margin-top":"15px",
                "position":"",
                "top":"",
                "zIndex":''
            });
        }
    });
</script>
</body>

</html>
