<extend name="Main:baseTemplate" />
<block name="title">
    <title>合同票据总览 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/contract/css/hetongzonglan.css?v={:C('STATIC_VERSION')}">
    <style>
        .dataTables_filter {display:none}
    </style>
</block>

<block name="content">
    <section class="content-header">
        <h1>合同票据总览</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" id="box1">
                    <div class="box-body act-box" style="min-width:500px">
                        <div class="bumen">部门：</div>
                        <div class="col-sm-2">
                            <select name="dept" id="dept" class="form-control" >
                                <option value="">外销</option>
                                <option value="">商务</option>
                            </select>
                        </div>
                        <div class="jieshi">释</div>
                    </div>
                    <div class="hetong">
                        <div class="detail">
                            <div class="info">
                                <div class="title">
                                    总合同数
                                </div>
                                <div class="num">
                                    100
                                </div>
                                <div class="check">
                                    <a href="javascript:;">查看明细</a>
                                </div>
                            </div>
                        </div>
                        <div class="use">
                         <div class="info">
                                <div class="title">
                                    已使用合同数
                                </div>
                                <div class="num">
                                    100
                                </div>
                            </div>
                        </div>
                        <div class="surplus">
                         <div class="info">
                                <div class="title">
                                    剩余合同数
                                </div>
                                <div class="num">
                                    100
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box" id="box2">
                    <div class="box-body act-box" style="min-width:500px">
                        <div class="manager">城市经理：</div>
                        <div class="col-sm-2">
                            <select name="dept" id="dept" class="form-control" >
                                <option value="">全部</option>
                                <option value="">李亚北</option>
                                <option value="">张三</option>
                                <option value="">李四</option>

                            </select>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>城市经理</th>
                                <th>销售仓</th>
                                <th>归档</th>
                                <th>遗失</th>
                                <th>作废</th>
                                <th>寄出在途</th>
                                <th>寄回在途</th>
                                <th>超90天库龄</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                                 for ($i = 0; $i < 10; $i++) {?>
                                <tr>
                                    <td>李亚北</td>
                                    <td>10</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>0</td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tankuang">
               <p>部门：外销或商务人员进入该页面直接显示当前所属部门的合同数据，司令可分别查看2个部门的合同数据，默认显示外销的合同数据。</p>

                <p>总合同数：显示数据为所有审批通过的的合同数量</p>

                <p>查看明细：可以查看每一份合同的状态信息</p>

                <p>已使用合同数：销售已使用的合同数量，定义为助理已审核确认过的合同数量（签约、作废、遗失）</p>

                <p>未使用合同数：助理处申请通过还未寄出的合同+销售处助理未审核的合同</p>

                <p>销售仓：销售处助理未审核的合同（助理寄给销售且已确认收货的合同）</p>

                <p>寄出在途：助理寄给销售，销售还未确认收货的合同</p>

                <p>寄回在途：销售寄给助理，助理还未确认收货的合同</p>

                <p>助理仓：助理申请被军长审核通过且还未寄给销售的合同</p>

                <p>归档：销售确认签约后且助理审核通过的</p>

                <p>作废：销售确认作废后且助理审核通过的</p>

                <p>遗失：销售确认遗失后且助理审核通过的</p>

                <p>遗失：销售确认遗失然后助理审核通过的</p>

                <p>使用中-已签约：销售确认签约但助理还未审核通过</p>

                <p>使用中-已作废：销售确认作废但助理还未审核通过</p>

                <p>使用中-已遗失：销售确认遗失但助理还未审核通过</p>

                <p>超90天库龄：助理寄给销售确认收货之日起超过90天未寄给助理审核的合同</p>
        </div>
    </section>
</block>
<block name="script">
<script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/js/echarts.min.js?v={:C('STATIC_VERSION')}"></script>
<link href="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/metisMenu.css?v={:C('STATIC_VERSION')}" rel="stylesheet">
<link href="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/dataTables.bootstrap.css?v={:C('STATIC_VERSION')}" rel="stylesheet">
<script src="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/metisMenu.min.js?v={:C('STATIC_VERSION')}"></script>
<script src="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/jquery.dataTables.js?v={:C('STATIC_VERSION')}"></script>
<script src="{:C('168NEW_URL')}/assets/common/js/plugins/dataTables/dataTables.bootstrap.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
var pieData = [<volist name="group" id="v">{value:{$v.count}, name:'{$v.group_name}'},</volist>];
var lineItem = [<volist name="group" id="v">'{$v.group_name}',</volist>];
var lineXData = [<volist name="days" id="v">'{$key}',</volist>];
var lineData = [<volist name="group" id="v">{name:'{$v.group_name}',type:'line',smooth: true,data:[{$v.dayData}]},</volist>];
</script>
<script type="text/javascript">



$('.jieshi').click(function(){
    $('.tankuang').toggle(1000);
})


</script>
</block>