.yh-main {min-height:630px}

.add-btn {float:left;margin-right:20px;width:95%;margin-bottom:10px}
.collect-tit{ padding:0px; overflow:hidden;}
.collect-tit li{ float:left}
.collect-tit li a{ display:block; margin-right:20px;padding-bottom:4px;font-size: 18px;
  font-weight: 100; border-bottom:2px solid #fff; position:relative}
.collect-tit li a.active:after{ position:absolute;content: ""; left:36px; bottom: -5px; width: 0; height: 0; border-top:0px solid transparent; border-left:10px solid #f16262; border-bottom: 5px solid transparent; }
.collect-tit li a.active:before{ position:absolute;content: ""; left:26px; bottom: -5px; width: 0; height: 0; border-top:0px solid transparent; border-right:10px solid #f16262; border-bottom: 5px solid transparent; }
.collect-tit li a.active,.collect-tit li a:hover{ border-bottom:2px solid #f16262; text-decoration:none}


/**博客文章**/
.ht-nav-tit { float:right; display:block; width:912px}
.ht-nav-tit li{ float:left; margin-bottom:0px; width:auto; text-align:center; font-size:16px; height:40px; line-height:40px; position:relative; font-weight:bold; margin-right:10px}.ht-nav-tit li a{ display:block; height:39px; line-height:39px; padding:0 20px ; border:1px solid #fff; border-bottom:0}.ht-nav-tit li.active a,.ht-nav-tit li a:hover{ background:#fff; border:1px solid #f1f1f1; border-bottom:0; text-decoration:none; color:#dc4146; border-top:2px solid #dc4146;}


.ht-aticle-change{ margin-top:50px}
.ht-aticle-change li span{ font-size:14px; font-weight:bold; display:inline-block; width:90px; line-height:30px}
.ht-aticle-change li { margin-bottom:20px}
.ht-aticle-change li input[type=text]{ padding-left: 5px; color: #666; border:1px solid #ccc; height:28px; line-height:30px; width:200px}
.ht-aticle-change li .chouse{ width: 120px; color: #666; border:1px solid #ccc; height:30px}

.list-tb {color: #666; width:100%; text-align:center; margin-top:10px}
.list-tb .ht-article-tit td{line-height:30px; background:#f7f7f7;font-size:14px; font-weight:bold}
.list-tb .main-list td {border-bottom:1px solid #eee}
.list-tb .main-list td{ line-height:32px;height:32px;}
.list-tb .main-list td a{ font-size:15px;}
.list-tb .main-list td p {margin:0px;padding:0px;font-size:14px;color:#999;line-height:28px;}

.add-btn{ display:block; padding:10px 20px; line-height:30px;  border:2px dashed #f1f1f1;color:#38b47e; font-size:18px; text-align:center;margin-top:20px}
.add-btn:hover{ background:#8ad9b7; color:#fff; text-decoration:none; border:2px dashed #fff;}

.ht-article-tit {padding-bottom:15px;}
.list-tb .ht-article-tit td {border-bottom:1px #eee solid;border-top:1px #eee solid;}

.main-list span {font-size:14px;cursor: pointer;padding-left:3px;padding-right:3px;}

.diary-edit{ margin-top:20px}
.diary-edit li>span{ display:block; float:left; width:70px; margin-right:20px; font-size:14px; font-weight:bold; text-align:right; }
.diary-edit li{ overflow:hidden; margin-bottom:20px;line-height:30px}
.diary-edit li p{ clear:both; margin-left:90px}
.diary-edit li em{ display:block}
.diary-edit li input[type=text]{ color: #666; height:28px; border:1px solid #ccc; line-height:28px; padding-left:5px; margin-right:5px}
.diary-edit li select{ border:1px solid #ccc; height:28px; margin-right:5px;color: #666; width: 124px;}

.textarea {display: block;width: 100%;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;background-color: #fff;border: 1px solid #ccc;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
