<extend name="Common:basic"/>
<block name="link">
    <link rel="canonical" href="{$info.canonical}"/>
    <link href="/assets/common/js/tooltips/tooltips.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/css/red-packet.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css">
    <link href="/assets/mobile/meitu/css/meitu-list.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
</block>

<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a class="m-header-left" href="http://m.{:C('QZ_YUMING')}"></a>
    <div class="m-header-tit">装修效果图</div>
</block>

<block name="content">
    <div class="box">
        <div class="form_control">
            <form action="/meitu/list-l0f0h0c0/">
                <input type="text" name="keyword" value="{$search_keyword}" placeholder="请输入您想找的效果图">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <empty name="info.meitu">
        <div class="wunert"></div>
        <div class="contentnr topwu">
            <div class="tuijian">
                <span class="shuxian"></span>
                热门推荐
            </div>
            <div class="box-body">
                <ul class="contentnr_ul">
                    <volist name="info.recommend" id="v">
                        <li class="back-white">
                            <a class="imgs-box" href="/meitu/p{$v.id}.html" rel="nofollow">
                                <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}-w300.jpg" alt="{$v.title}">
                            </a>
                            <div class="details">
                                <a href="/meitu/p{$v.id}.html">
                                    <p>{$v.title}</p>
                                </a>
                                <div class="details-content">
                                    <span>{$v.wz}</span>
                                    <span>{$v.fg}</span>
                                    <span>{$v.hx}</span>
                                    <span>{$v.ys}</span>
                                    <div class="rightIcon" data-id="{$v.id}" data-on="0">
                                        <i class="fa fa fa-thumbs-up"></i><span>{$v.likes}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <else />
        <div class="position" style="">
            <div id="zzc"></div>
            <div id="tofixed">
                <div class="box-title">
                    <ul id="menuTitle">
                        <li><span>{$info.nav.fg|default="风格"}</span>&nbsp;<i class="fa fa-angle-down"></i></li>
                        <li><span>{$info.nav.hx|default="户型"}</span>&nbsp;<i class="fa fa-angle-down"></i></li>
                        <li><span>{$info.nav.wz|default="局部"}</span>&nbsp;<i class="fa fa-angle-down"></i></li>
                        <li><span>{$info.nav.ys|default="颜色"}</span>&nbsp;<i class="fa fa-angle-down"></i></li>
                    </ul>
                </div>
                <div class="menu-list back-white" >
                    <ul class="chose-list">
                        <li>
                            <a href="{$info['select']['fengge']}"  rel="nofollow" >不限</a>
                        </li>
                        <volist name="info.fg" id="v">
                            <li>
                                <empty name="v.nofollow">
                                    <if condition="$info['navParams']['fengge'] EQ $v.id ">
                                        <a href="{$v.link}" rel="nofollow"  class="now">{$v.name}</a>
                                        <else />
                                        <a href="{$v.link}" rel="nofollow">{$v.name}</a>
                                    </if>
                                    <else />
                                    <if condition="$info['navParams']['fengge'] EQ $v.id ">
                                        <a href="{$v.link}" class="now">{$v.name}</a>
                                        <else />
                                        <a href="{$v.link}">{$v.name}</a>
                                    </if>
                                </empty>
                            </li>
                        </volist>
                    </ul>
                    <ul class="chose-list">
                        <li>
                            <a href="{$info['select']['huxing']}"  rel="nofollow" >不限</a>
                        </li>
                        <volist name="info.hx" id="v">
                            <li>
                                <empty name="v.nofollow">
                                    <if condition="$info['navParams']['huxing'] EQ $v.id ">
                                        <a href="{$v.link}" rel="nofollow"  class="now">{$v.name}</a>
                                        <else />
                                        <a href="{$v.link}" rel="nofollow">{$v.name}</a>
                                    </if>
                                    <else />
                                    <if condition="$info['navParams']['huxing'] EQ $v.id ">
                                        <a href="{$v.link}" class="now">{$v.name}</a>
                                        <else />
                                        <a href="{$v.link}">{$v.name}</a>

                                    </if>
                                </empty>
                            </li>
                        </volist>
                    </ul>
                    <ul class="chose-list">
                        <li>
                            <a href="{$info['select']['location']}"  rel="nofollow" >不限</a>
                        </li>
                        <volist name="info.wz" id="v">
                            <li>
                                <empty name="v.nofollow">
                                    <if condition="$info['navParams']['location'] EQ $v.id ">
                                        <a href="{$v.link}" rel="nofollow"  class="now">{$v.name}</a>
                                        <else />
                                        <a href="{$v.link}" rel="nofollow">{$v.name}</a>
                                    </if>
                                    <else />
                                    <if condition="$info['navParams']['location'] EQ $v.id ">
                                        <a href="{$v.link}" class="now">{$v.name}</a>
                                        <else />
                                        <a href="{$v.link}">{$v.name}</a>

                                    </if>
                                </empty>
                            </li>
                        </volist>
                    </ul>
                    <ul class="chose-list">
                        <li >
                            <a href="{$info['select']['color']}" style="border:1px solid #CCC"  rel="nofollow" >不限</a>
                        </li>
                        <volist name="info.ys" id="v">
                            <li>
                                <empty name="v.nofollow">
                                    <if condition="$info['navParams']['color'] EQ $v.id ">
                                        <a href="{$v.link}" rel="nofollow"  class="now" style="{$v.style}"></a>
                                        <else />
                                        <a href="{$v.link}" rel="nofollow" style="{$v.style}"></a>
                                    </if>
                                    <else />
                                    <if condition="$info['navParams']['color'] EQ $v.id ">
                                        <a href="{$v.link}" rel="nofollow"  class="now" style="{$v.style}"></a>
                                        <else />
                                        <a href="{$v.link}" rel="nofollow"  style="{$v.style}"></a>
                                    </if>
                                </empty>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <div style="height:40px"></div>
            <div class="box-body meitu-list-body">
                <ul class="meitu-list-wrap">
                    <include file="list-content" />
                </ul>
            </div>
        </div>
    </empty>
    {$info.page}
    <!--geolocation定位-->
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">

    <!--置顶-->
    <div id="gotop"><i class="fa fa-angle-up fa-lg"></i><br>置顶</div>
    <include file="Common/footfadantc"/>
</block>
<block name="footer">
    <include file="Common:new-footer" />
</block>
<block name="script">
    <!-- <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script> -->
    <script type="text/javascript" src="/assets/mobile/common/js/red-packet.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(document).ready(function(){
            $(".chose-list").css("display","none");
            /*点赞*/
            $(".box-body").on("click",".rightIcon",function(){
                var _this = $(this);
                var on = _this.attr('data-on');
                if (on == 1) {
                    alert('您已经点过赞啦~');
                    return false;
                };
                _this.addClass('zan');
                var id = _this.attr('data-id');
                $.ajax({
                    url: '/meitu/like/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id: id
                    }
                }).done(function(data) {
                    if (data.status == 1) {
                        _this.attr('data-on', 1);
                        var num = parseInt(_this.find('span').text());
                        num++;
                        _this.find('span').text(num);
                    } else {
                        alert(data.info);
                    }
                });
            });



            /*条件选择*/
            $("#menuTitle").on('click','li', function() {
                var flag = $(".chose-list")[$(this).index()].style.display;
                if(flag == "none"){
                    for(var i=0;i< $("#menuTitle li i").length;i++){
                        $($("#menuTitle li i")[i]).removeClass("active");
                    }
                    $($(this).children('i')[0]).addClass('active');
                    $("#zzc").fadeIn();
                    $(".chose-list").css({"display":"none","margin-top":"-1000px"});
                    $($(".chose-list")[$(this).index()]).css("display","block");
                    $($(".chose-list")[$(this).index()]).animate({"margin-top": "-10px"}, 500);
                } else {
                    $("#zzc").fadeOut();
                    for(var i=0;i< $("#menuTitle li i").length;i++){
                        $($("#menuTitle li i")[i]).removeClass("active");
                    }
                    $(".chose-list").css({"display":"none","margin-top":"-1000px"});
                }
            });

            /*遮罩层点击*/
            $("#zzc").click(function(){
                $(this).fadeOut();
                for(var i=0;i< $("#menuTitle li i").length;i++){
                    $($("#menuTitle li i")[i]).removeClass("active");
                }
                $("#menuTitle li").css("color","#3c3c3c");
                $(".chose-list").css({"display":"none","margin-top":"-1000px"});
            });

            //定义固有变量
            var loading = false;
            var last_page = '{$totalpage|default=0}';
            var this_page = '{$info.pageid}';
            var alertinfo = false;
            var list_sums = '{:count($info["meitu"])}';
            var url_no_page = "{$url_no_page}"
            window.onscroll=function(){
                /*导航栏固定*/
                var top=window.pageYOffset||document.documentElement.scrollTop||document.body.scrollTop;
                if(top>103){
                    $("#tofixed").addClass('tofixed')
                }else{
                    $("#tofixed").removeClass('tofixed')
                }
                /*下拉刷新加载*/
            };
        });
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "http://{$_SERVER['SERVER_NAME']}{$_SERVER["REQUEST_URI"]}",
            "appid": "1575859058891466",
            "title": "{$basic.head.title}",
            "images": [],
            "pubDate": ""
        }
    </script>
</block>
