<volist name="info.meitu" id="v">
    <li class="back-white">
        <a href="/meitu/p{$v.id}.html" class="imgs-box" rel="nofollow">
            <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}-w300.jpg" alt="{$v.title}">
        </a>
        <div class="details">
            <a href="/meitu/p{$v.id}.html">
                <p>{$v.title}</p>
            </a>
            <div class="details-content">
                <span>{$v.wz}</span>
                <span>{$v.fg}</span>
                <span>{$v.hx}</span>
                <span>{$v.ys}</span>
                <div class="rightIcon" data-id="{$v.id}" data-on="0">
                    <i class="fa fa fa-thumbs-up"></i><span>{$v.likes}</span>
                </div>
            </div>
        </div>
    </li>
</volist>