<extend name="Common:basic"/>
<block name="link">
    <link rel="canonical" href="http://meitu.{:C('QZ_YUMING')}/"/>
    <link href="/assets/mobile/meitu/css/meitu.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/meitu/css/meituztdetails.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="top">

<div class="m-header-his">
    <i class="fa fa-angle-left"></i>
</div>
 <a href="/{$cityInfo.bm}/" class="m-header-left"></a>
<div class="m-header-tit">专题详情</div>
</block>
<block name="content">
    <article>
     	 <div class="headbf">
     	 	<div class="headbfkz">
     	 		<div class="titlems">{$info.title}</div>
     	 		<div class="headnr">{$info.description}</div>
     	 	</div>
     	 </div>
     	 <div class="xgtanli">
     	 	<div class="xgtanli_kz">
     	 		<div class="xgtj_title">效果图集</div>
     	 		<div class="xgtjjies">{$info.meitu_desc}</div>
     	 	</div>
     	 	<div class="tujikz" id="gunddd">
     	 		<ul>
					<volist name="meituList" id="v">
						<if condition="$key EQ 0 ">
							<li>
                                <a href="http://meitu.qizuang.com/p{$v.id}.html">
								    <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}" alt="">
                                </a>
							</li>
						<else />
							<li>
                                <a href="http://meitu.qizuang.com/p{$v.id}.html">
								    <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}-w300.jpg" alt="">
                                </a>
							</li>
						</if>
					</volist>
     	 		</ul>
     	 	</div>
     	 </div>

     	 <div class="xgtanli">
     	 	<div class="xgtanli_kz">
     	 		<div class="xgtj_title">装修案例</div>
     	 		<div class="xgtjjies">{$info.case_desc}</div>
     	 	</div>
     	 	<div class="tujikz" id="gunddd2">
     	 		<ul>
					<volist name="caseList" id="v">
						<li>
                            <a href="http://tj.qizuang.com/caseinfo/{$v.id}.shtml">
							    <img src="http://{:C('QINIU_DOMAIN')}/{$v.img_path}-w300.jpg" alt="">
                            </a>
						</li>
					</volist>
     	 		</ul>
     	 	</div>
     	 </div>

     	 <div class="articlekz">
     	     <div class="wenzcenter">
     	     	<div class="wenztitle">文章攻略</div>
     	     	<div class="wenzzhuti">{$info.article_desc}</div>
     	     	<ul>
					<volist name="articleList" id="v">
						<li>
							<a href="http://{:C('MOBILE_DONAMES')}/gonglue/{$v.shortname}/{$v.id}.html" target="_blank">
								<img src="http://{:C('QINIU_DOMAIN')}/{$v.face}-w300.jpg" alt="">
								<div class="wenzms">
									<div class="wenms_title">{$v.title}</div>
									<div class="wenms_js">{$v.content}</div>
								</div>

							</a>
						</li>
					</volist>
     	     	</ul>
     	     </div>

     	 </div>


    </article>

    <div id="gotop"><i class="fa fa-angle-up fa-lg"></i><br>置顶</div>
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
    <!-- <include file="Common:float-sj" /> -->
	<include file="Common/footfadantc"/>
</block>

<block name="script">
<!--     <script type="text/javascript" src="/assets/mobile/sub/js/TouchSlide.1.1.js?v={:C('STATIC_VERSION')}"></script> -->
    <script type="text/javascript">



        $(function(){
            var hongbao = localStorage.hongbao;
            if(hongbao == 1){
                $('.red_box').css('display','none');
            }
        });

        var cityId = "{$cityInfo.id}";

        // 置顶
        $(window).on("scroll", function(){
            if($(document).scrollTop()>="1000"){
                $('#gotop').addClass('show');
            }else{
                $('#gotop').removeClass('show');
            }
        });

        // 红包部分
        (function(){
            var timer = setTimeout(function(){
                $('.red_box').addClass('animated wobble show');

                var timer1 = setTimeout(function(){
                    //$('.red_box').removeClass('animated wobble');
                    clearTimeout(timer1);
                },1000)
                clearTimeout(timer);
            },800);
        })();


        (function(){
          var changdu=$('#gunddd ul li').length;
          var kuandu=$('#gunddd ul li').outerWidth(true)+5;
          var margingg=changdu*kuandu;
          $('.xgtanli #gunddd ul').width(margingg)

          var changdu2=$('#gunddd2 ul li').length;
          var kuandu2=$('#gunddd2 ul li').outerWidth(true)+5;
          var margingg2=changdu2*kuandu2;
          $('.xgtanli #gunddd2 ul').width(margingg2)


        })()

        $('.red_box').on('touchend', function(){
            $('.red_box_pop').addClass('show').find('.start_box').addClass('show')

        });
        $('.close_red_box').on('touchend', function(e){
            $('.red_box').hide();
            return false;
        });
        $('.start_box .close_start').on('touchend', function(){
            $('.start_box').removeClass('show').parent().removeClass('show');
            return false;
        });



        $('.end_box .close_start,.close_ok').on('touchend', function(){
            $('.end_box').removeClass('show').parent().removeClass('show');
            $('.red_box').css('display','none');
            return false;
        });
        // 发单
        $(function() {
            $(".home-zb .get_free").click(function(event) {
                var container = $(this).parents(".home-zb");
                var name = $(".m-bj-edit input[name=name]").val();
                var tel = $(".m-bj-edit input[name=tel]").val();
                var cs = $('input[name=city]').attr('data-id');
                var qx = $('input[name=area]').attr('data-id');
                if (!App.validate.run(name)) {
                    $(".m-bj-edit input[name=name]").focus();
                    alert("请输入您的称呼");
                    return false;
                } else {
                    var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                    if (!reg.test(name)) {
                        $(".m-bj-edit input[name=name]").focus();
                        alert("请输入正确的名称，只支持中文和英文");
                        return false;
                    }
                }
                if (!App.validate.run(tel)) {
                    $(".m-bj-edit input[name=tel]").focus();
                    alert("请填写正确的手机号码 ^_^!");
                    return false;
                } else {
                    var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                    if (!reg.test(tel)) {
                        $(".m-bj-edit input[name=tel]").focus();
                        $(".m-bj-edit input[name=tel]").val('');
                        alert("请填写正确的手机号码 ^_^!");
                        return false;
                    }
                }
                if ('' == cs || '' == qx) {
                    alert('请选择您所在的区域 ≧▽≦');
                    return false;
                }

                window.order({
                    extra:{
                        cs: cs,
                        qx: qx,
                        name: $("input[name=name]", container).val(),
                        tel: $("input[name=tel]", container).val(),
                        fb_type: $("input[name=fb_type]", container).val(),
                        source: '315'
                    },
                    error:function(){},
                    success:function(data, status, xhr){
                        if (data.status == 1) {
                            localStorage.hongbao = 1;
                            $('.start_box').removeClass('show');
                            $('.end_box').addClass('show bounceIn animated')
                            var timer2 = setTimeout(function(){
                                $('.end_box').removeClass('bounceIn animated');
                                clearTimeout(timer2)
                            },800)
                        } else {
                            alert(data.info);
                        }
                    },
                    validate:function(item, value, method, info){
                        return true;
                    }
                });
            });
        });

    </script>
    <!-- <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script> -->
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">

           new JRoll("#gunddd",{scrollX:true,scrollFree:false,});
           new JRoll("#gunddd2",{scrollX:true,scrollFree:false,});

        // 城市选择插件
        /*selectQz.init({
            province:$("input[name=province]").attr("data-id"),
            city:$("input[name=city]").attr("data-id"),
            area:$("input[name=area]").attr("data-id")
        });*/
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "http://{$_SERVER['SERVER_NAME']}{$_SERVER["REQUEST_URI"]}",
            "appid": "1575859058891466",
            "title": "{$basic.head.title}",
            "images": [],
            "pubDate": "{$baidu['optime']}"
        }
    </script>
</block>