<extend name="Common:basic"/>
<block name="link">
<notempty name="info.canonical">
<link rel="canonical" href="http://{:C('QZ_YUMINGWWW')}{$info.canonical}"/>
</notempty>
<link href="/assets/mobile/zixun/css/gl-atl-list.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<link href="/assets/mobile/zixun/css/gl-base.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<link href="/assets/mobile/zixun/css/redbox.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<link href="/assets/mobile/css/top-sj-bj.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
</block>

<block name="content">

<article>
    <div class="fg-nav">
       <div class="fg-hd clearfix">
           <span class="fg-nav-l">
              {$info.now.title}
           </span>
           <span class="fg-nav-r">
              全部筛选
           </span>
       </div>
       <div class="fg-bd clearfix">
           <ul class="clearfix">
               <volist name="info.children.child" id="vo">
               <li><a href="http://{:C('MOBILE_DONAMES')}/gonglue/{$vo.shortname}/">{$vo.classname}</a></li>
               </volist>
           </ul>
       </div>
    </div>
    <volist name="info.articles" id="vo">
        <div class="fg-list-box ">
            <div class="fg-list clearfix">
                <a href="http://{:C('MOBILE_DONAMES')}/gonglue/{$vo.shortname}/{$vo.id}.html">
                    <div class="fg-img">
                        <img src="http://{:C('QINIU_DOMAIN')}/{$vo.face}-w400.jpg" alt="{$vo.title}">
                    </div>
                    <div class="fg-send">
                        <strong>{$vo.title|mbstr=0,12}</strong>
                        <p>{$vo.jianjie|mbstr=0,28}</p>
                        <i class="fg-yj fa fa-eye"> {$vo.pv}</i>
                    </div>
                </a>
            </div>
        </div>
    </volist>
    {$info.page}
</article>

<div class="red_box_pop">
    <!--  -->
    <div class="start_box">
        <i class="close_start"></i>
        <p class="start_text">恭喜您获得价值<span style="color: #fff600;">1888元</span>四套精美设计方案</p>
        <div class="home-zb">
            <ul class="m-bj-edit">
                <li>
                    <input class="m-row-int1 m-bj-edit-list" type="text" name="name" maxlength="13" placeholder="请输入您的称呼">
                </li>
                <li>
                    <gt name="mapUseInfo.vipcount" value="0">
                        <button id="showCityPicker3" class="c-zb-city" type="button">
                            <i class="fa fa-map-marker"></i>
                            <empty name="info.cityarea">
                            请选择您所在的区域
                            <else />
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    <else />
                        <button id="showCityPicker3" class="c-zb-city" type="button">
                            <i class="fa fa-map-marker"></i>
                            请选择您所在的区域
                        </button>
                        <input type="hidden" name="province" data-id="">
                        <input type="hidden" name="city" data-id="">
                        <input type="hidden" name="area" data-id="">
                    </gt>
                </li>
                <li>
                    <input class="m-row-int1 m-bj-edit-list" type="tel" name="tel" maxlength="11" placeholder="请输入您的手机号">
                    <input type="hidden" name="fb_type" value="sheji">
                </li>
            </ul>
            <button class="get_free">免费领取</button>
        </div>
    </div>
    <div class="end_box">
        <i class="close_start"></i>
        <div class="end_box_info">
            <div class="red_logo"><img src="/assets/mobile/meitu/img/red_logo.png"></div>
            <p class="ok_text">恭喜您领取成功</p>
            <p class="ok_info">客服会在24小时内回访了解您的具体需求请保持手机畅通</p>
            <button class="close_ok">关闭</button>
        </div>
    </div>
</div>
<input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
<div id="gotop"><i class="fa fa-angle-up fa-lg"></i><br>置顶</div>
    <include file="Common/footfadantc"/>
</block>
<block name="script">
<script type="text/javascript">
    $(function(){
        $(".fg-nav-r").click(function(){
            if($(".fg-bd").css("display") == "none"){
                $(".fg-bd").addClass("activ");
                $(".mask").css("display","block");
                $("body").css("overflow","hidden");
                $('body').bind("touchmove",function(e){
                    e.preventDefault();
                });
            }else{
                $(".fg-bd").removeClass("activ");
                $(".mask").css("display","none");
                $("body").css("overflow","auto");
                $("body").unbind("touchmove");
            }
        });
        $(".mask").click(function(){
            $(".fg-bd").removeClass("activ");
            $(this).css("display","none");
            $("body").css("overflow","auto");
            $("body").unbind("touchmove");
        });
        $(".fg-bd ul li a").click(function(){
            $(this).addClass("fg-current")
                .parent("li").siblings("li").children("a").removeClass("fg-current");
        });
    });
</script>
<script language="javascript">
    $(function(){
        var hongbao = localStorage.hongbao;
        if(hongbao == 1){
            $('.red_box').css('display','none');
        }
    });
    // 置顶
    $(window).on("scroll", function(){
        if($(document).scrollTop()>="1000"){
            $('#gotop').addClass('show');
        }else{
            $('#gotop').removeClass('show');
        }
    });

    // 红包部分
    (function(){
        var timer = setTimeout(function(){
            $('.red_box').addClass('animated wobble show');

            var timer1 = setTimeout(function(){
                //$('.red_box').removeClass('animated wobble');
                clearTimeout(timer1);
            },1000)
            clearTimeout(timer);
        },800);
    })();
    $('.red_box').on('touchend', function(){
        $('.red_box_pop').addClass('show').find('.start_box').addClass('show')

    });
    $('.close_red_box').on('touchend', function(e){
        $('.red_box').hide();
        return false;
    });
    $('.start_box .close_start').on('touchend', function(){
        $('.start_box').removeClass('show').parent().removeClass('show');
        return false;
    });



    $('.end_box .close_start,.close_ok').on('touchend', function(){
        $('.end_box').removeClass('show').parent().removeClass('show');
        $('.red_box').css('display','none');
        return false;
    });
    //发单
    $(function() {
        $(".home-zb .get_free").click(function(event) {
            var container = $(this).parents(".home-zb");
            var name = $(".m-bj-edit input[name=name]").val();
            var tel = $(".m-bj-edit input[name=tel]").val();
            var cs = $('input[name=city]').attr('data-id');
            var qx = $('input[name=area]').attr('data-id');
            if (!App.validate.run(name)) {
                $(".m-bj-edit input[name=name]").focus();
                alert("请输入您的称呼");
                return false;
            } else {
                var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                if (!reg.test(name)) {
                    $(".m-bj-edit input[name=name]").focus();
                    alert("请输入正确的名称，只支持中文和英文");
                    return false;
                }
            }
            if (!App.validate.run(tel)) {
                $(".m-bj-edit input[name=tel]").focus();
                alert("请填写正确的手机号码 ^_^!");
                return false;
            } else {
                var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                if (!reg.test(tel)) {
                    $(".m-bj-edit input[name=tel]").focus();
                    $(".m-bj-edit input[name=tel]").val('');
                    alert("请填写正确的手机号码 ^_^!");
                    return false;
                }
            }
            if ('' == cs || '' == qx) {
                alert('请选择您所在的区域 ≧▽≦');
                return false;
            }

            window.order({
                extra:{
                    cs: cs,
                    qx: qx,
                    name: $("input[name=name]", container).val(),
                    tel: $("input[name=tel]", container).val(),
                    fb_type: $("input[name=fb_type]", container).val(),
                    source: '319'
                },
                error:function(){},
                success:function(data, status, xhr){
                    if (data.status == 1) {
                        localStorage.hongbao = 1;
                        $('.start_box').removeClass('show');
                        $('.end_box').addClass('show bounceIn animated')
                        var timer2 = setTimeout(function(){
                            $('.end_box').removeClass('bounceIn animated');
                            clearTimeout(timer2)
                        },800)
                    } else {
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    return true;
                }
            });
        });
    });
</script>
<!-- <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
<script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
<script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script> -->

</block>