* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: none
}
html{font-size: 100px;}/*iphone 4/5*/
body{font-size: 0.126rem /*实际相当于14px*/}
body{
    display: none;
    visibility:visible;
}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}
}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a9a9a9;
}

input:-ms-input-placeholder{
    color: #a9a9a9;
}

input::-webkit-input-placeholder{
    color: #a9a9a9;
}






.m-wrap{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	overflow:hidden;}
header{ height:50px; line-height:50px; background:#fff;  /*position:relative;*/ z-index:2}
header .m-header-left,header .m-header-right{ position:absolute;  top:0;width:50px; text-align:center; font-size:24px; color:#666}
header .m-header-tit{ text-align:center; margin-left: 1em;}
header .m-header-left{ display:block; margin-left:0.22rem;height:50px; background:url(../img/logonew.png) no-repeat; width:30%; background-size:auto 50px;}
header .m-header-right{ right:0; height:50px}
header .m-header-city{ position:absolute;  font-size:0.8em;  top:0; left:32%; margin-left: 0.25rem}
header .m-header-city i.fa:before{ font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden}
/*头部导航公共*/
header .new-kefu-erji{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top:0;
}
header .new-kefu-erji .new-kefu-icon{
    width: 20px;
    height: 26px;
    margin-left: 26px;
    margin-top: 10px;
    background: url(../img/common-icon.png);
    background-size: 100%;
}
#nav-close-cha{
    display: none;
}
.close-cha-icon{
    width: 26px;
    height: 26px;
    display: block;
    margin-left: 12px;
    margin-top: 12px;
    background: url(/assets/mobile/common/img/header-close.png) no-repeat;
    background-size: 100%;
}
.nav-fixed-box{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
    transition: all .5s ease;
}
.new-nav-m  li .nav-home-icon{background-position: 0px -23px;}
.new-nav-m  li .nav-huxing-icon{background-position: 0px -45px;}
.new-nav-m  li .nav-baojia-icon{background-position: 0px -67px;}
.new-nav-m  li .nav-company-icon{background-position: 0px -268px;}
.new-nav-m  li .nav-gonglue-icon{background-position: 0px -288px;}
.new-nav-m  li .nav-xiaoguo-icon{background-position: 0px -90px;}
.new-nav-m  li .nav-anli-icon{background-position: 0px -113px;}
.new-nav-m{
    width: 45%;
    position: absolute;
    right: -50%;
    top: 44px;
    border-radius: 4px;
    background: #fff;
    z-index: 4;
    display: none;
    line-height: 44px;
    /*transition: all .5s ease;*/
}
.new-nav-m:before{
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    position: absolute;
    right: 11px;
    top: -7px;
    z-index: 4;
}
.new-nav-m li{
    margin-left: 10px;
    margin-right: 10px;

}
.new-nav-m li a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    height: 44px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.new-nav-m li:last-child a{
    border-bottom: 0;
}



.home-nav-icon{
    width: 16px;
    height: 21px;
    display: block;
    float: left;
    background: url(/assets/mobile/common/img/common-icon.png) no-repeat;
    background-size: 100%;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 5px;
}

/*新客服弹框*/
.new-kefu{
    width: 80%;height: 180px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    position: fixed;
    left: 0;top: 0;
    right: 0;bottom: 0;
    z-index: 4;
    display: none;
}
.new-kefu-main{
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
    margin-top:44px;
}
.new-kefu-fl{
    float: left;
    width: 80px;
}
.contact-btn{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background: url(/assets/mobile/common/img/contact-icon.png) no-repeat;
    background-size: 100%;
}
.contact-text{
    text-align: center;
    font-size: 15px;
    color: #333;
}
.new-huo-text{
    float: left;
    width: 50px;
    text-align: center;
}
.new-huo-text .huo-text{
    font-size: 14px;
    line-height: 66px;
    color: #999;
}
.new-kefu-fl .phone-contact{
    background-position: 0 -60px;
}
.new-kefu-close{
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;right: 0;
    color: #999;
}
.new-kefu-close i{
    text-stroke:2px #fff;
    -webkit-text-stroke:2px #fff;
}


.m-header-his{ position:absolute; z-index:9999; top:0;width:0.2rem; text-align:center; font-size:1.5em; color:#666; height:50px; }

footer{ text-align:center; width:100%; background:#eee; padding:1em 0; font-size:0.6em; }
footer .hot{ color:#FF5255}
footer .links{ font-size:1.8em}
/*底部公共*/
footer .footer-tel{
    font-size: 16px;
}
footer .footer-tel .phone-box{
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 1.5px solid #ff5353;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    /*margin:0 6px;*/
    margin-right: 5px;
}
footer .footer-title{
    font-size: 14px;
    margin-top: 10px;
}
footer .footer-webadress{
    font-size: 10px;
}


/*改版样式从这里开始*/
.pb3{
    padding-bottom: 0.3rem;
}
.block{
    display: block !important;
}
.mr2{
    margin-right: 0.2rem;
}
.p25{
    padding: 0.25rem;
}
.text-nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search{
    background-color: #EEE;
    padding: 0.15rem 0.10rem;
    position: relative;
}

.search input{
    width: 100%;
    border:1px solid #909090;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 0.06rem;
    padding-left: 0.5rem;
}

.search input:focus{
    outline: none;
}

.search i{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.3rem;
    color: #909090;
}

.main{
    padding:0.2rem 0.25rem 0;
    background-color: white;
}

.common-title{
    font-size: 0.3rem;
    margin-bottom: 0.3rem;
}

/*首页装修流程*/
.zx-process .tab{
    width: 70%;
    margin: 0 auto;
    font-size: 0;
    padding-bottom: 0.2rem;
}

.zx-process .tab > div{
    width: 33.33%;
    display: inline-block;
    text-align: center;
    font-size: 0.126rem;
    margin-bottom: 0.1rem;
}

.zx-process .tab > div > span{
    padding-bottom: 0.1rem;
}

.zx-process .tab span.active{
    color: #FF5353;
    border-bottom: 1px solid #FF5353 !important;
}

.swiper-process{
    background-color: #F5F5F5;
}
.swiper-process a{
    width:16.66%;
    float: left;
    text-align: center;
    padding: 0.2rem; 
}
.swiper-process a > img{
    width: auto;
    height: 0.45rem;
}
.swiper-process a > span{
    display: block;
    height: 0.5rem;
    line-height: 0.5rem;
}

.swiper-process-zb a{
    width: 25%;
}
.swiper-process-sg a{
    width: 14.2%;
}
.swiper-process-rz a{
    width: 25%;
}

/*首页装修攻略*/
.zx-gonglue .tab{
    font-size: 0;
    border-bottom: 1px solid #F1F1F1;
}
.zx-gonglue .tab > div{
    width: 33.33%;
    font-size: 0.126rem;
    display: inline-block;
    text-align: center;
}
.zx-gonglue .tab > div{
    height: 0.6rem;
    line-height: 0.6rem;
}
.zx-gonglue .tab > div.active{
    border-bottom: 1px solid #FF5353 ! important;
}
.zx-guide , .free-design , .zx-material{
    display: none;
}

.zx-guide .item{
    padding: 0.4rem 0rem 0.2rem;
    border-bottom: 1px solid #E1E1E1;
}
.zx-guide .thumb-pic , .zx-guide .item-main{
    height: 1.8rem;
    overflow: hidden;
}
.zx-guide .thumb-pic{
    width: 2.5rem;
    margin-right: 0.2rem;
    float: left;
}
.zx-guide .thumb-pic img{
    max-width: 100%;
    min-height: 100%;
}
.zx-guide .item-main{
    overflow: hidden;
}
.zx-guide .item-main .title{
    font-size: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.zx-guide .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height:1.6;
    margin-bottom:0.15rem;
}
@media screen and (min-width: 375px) {
    .zx-guide .item-main .desc{
        margin-bottom:0.4rem;
    }
}
.zx-guide .item-main .action{
    color: rgb(204,204,204);
}
.zx-guide .item-main .action img{
    width: auto;
    height: 0.25rem;
    margin-right: 0.05rem;
}

.zx-gonglue .more{
    margin-top: 0.2rem;
    text-align: center;
}
.zx-gonglue .more a{
    border:1px solid #E1E1E1;
    padding: 0.1rem 0.2rem;
    display: inline-block;
}

.free-design .item{
    padding-top:0.38rem; 
}
.free-design .item .thumb-pic{
    height: 3rem;
    overflow: hidden;
}
.free-design .item .thumb-pic img{
    width: 100%;
    min-height: 3rem;
}
.free-design .item .title{
    height: 0.5rem;
    line-height: 0.5rem;
    color: black;
}
.free-design .item .tag{
    width: 60%;
    float: left;
    color: rgb(153,153,153)
}
.free-design .item .tag span{
    display: inline-block;
    width: 22%;
}
.free-design .item .collect{
    width: 40%;
    float: right;
    text-align: right;
    color: rgb(153,153,153)
}
.free-design .item .collect img{
    width: auto;
    height: 0.25rem;
}

.zx-material .item{
    padding: 0.4rem 0rem 0.2rem;
    border-bottom: 1px solid #E1E1E1;
}
.zx-material .thumb-pic , .zx-material .item-main{
    height: 1.8rem;
    overflow: hidden;
}
.zx-material .thumb-pic{
    width: 2.5rem;
    margin-right: 0.2rem;
    float: left;
}
.zx-material .thumb-pic img{
    max-width: 100%;
    min-height: 100%;
}
.zx-material .item-main{
    overflow: hidden;
}
.zx-material .item-main .title{
    font-size: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.zx-material .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height:1.6;
    margin-bottom:0.15rem;
}
@media screen and (min-width: 375px) {
    .zx-material .item-main .desc{
        margin-bottom:0.4rem;
    }
}
.zx-material .item-main .action{
    color: rgb(204,204,204);
}
.zx-material .item-main .action img{
    width: auto;
    height: 0.25rem;
    margin-right: 0.05rem;
}

/*发单连接*/
.tiny-link{
    margin:0.2rem 0 0.6rem 0;
}
.tiny-link a{
    float: left;
    width: 2.13rem;
    height: 1.2rem;
    overflow: hidden;
    position: relative;
}
.tiny-link a:nth-child(2){
    margin: 0 0.3rem;
}
.tiny-link a > span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 1.2rem;
    text-align: center;
    color: white;
}
.tiny-link a > img{
    width: 100%;
}

/* 装修视频*/
.zx-video{
    padding-bottom: 0.3rem;
}
.zx-video .preview{
    height: 3rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.26rem;
}
.zx-video .preview .thumb-pic{
    width: 100%;
    min-height: 3rem;
    z-index: 0;
}
.zx-video .preview .play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    z-index: 1;
}
.zx-video .title{
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.25rem;
    color: black;
}
.zx-video .desc{
    color: rgb(102,102,102);
}
.zx-video  .more{
    margin-top: 0.2rem;
    text-align: center;
}
.zx-video  .more a{
    border:1px solid #E1E1E1;
    padding: 0.1rem 0.2rem;
    display: inline-block;
}

/*百科*/
.baike .item{
    padding: 0.4rem 0rem 0.2rem;
    border-bottom: 1px solid #E1E1E1;
}
.baike .thumb-pic , .zx-guide .item-main{
    height: 1.8rem;
    overflow: hidden;
}
.baike .thumb-pic{
    width: 2.5rem;
    margin-right: 0.2rem;
    float: left;
}
.baike .thumb-pic img{
    max-width: 100%;
    min-height: 100%;
}
.baike .item-main{
    overflow: hidden;
    min-height: 1.8rem;
}
.baike .item-main .title{
    font-size: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.baike .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height:1.6;
    margin-bottom:0.15rem;
}
@media screen and (min-width: 375px) {
    .baike .item-main .desc{
        margin-bottom:0.4rem;
    }
}
.baike .item-main .action{
    color: rgb(204,204,204);
}
.baike .item-main .action img{
    width: auto;
    height: 0.25rem;
    margin-right: 0.05rem;
}
.baike  .more{
    margin-top: 0.2rem;
    text-align: center;
}
.baike  .more a{
    border:1px solid #E1E1E1;
    padding: 0.1rem 0.2rem;
    display: inline-block;
}

/*看问答*/
.qa .item{
    padding: 0.2rem 0  0.05rem  0;
    border-bottom: 1px solid #E1E1E1;
}
.qa .avatar-qt .avatar{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-right: 0.1rem;
}
.qa .avatar-qt .question{
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
}
.qa .answer{
    font-size: 0.25rem;
    line-height: 4;
    color: black;
}
.qa .other .date{
    width: 30%;
    float: left;
    color: rgb(105,105,105);
}
.qa .other .tag{
    width: 60%;
    float: right;
    text-align: right;
}
.qa  .more{
    margin-top: 0.2rem;
    text-align: center;
}
.qa  .more a{
    border:1px solid #E1E1E1;
    padding: 0.1rem 0.2rem;
    display: inline-block;
}

/*选材导购列表页*/
.xuancai-list .item{
    padding: 0.4rem 0rem 0.2rem;
    border-bottom: 1px solid #E1E1E1;
}
.xuancai-list .thumb-pic , .xuancai-list .item-main{
    height: 1.8rem;
    overflow: hidden;
}
.xuancai-list .thumb-pic{
    width: 2.5rem;
    margin-right: 0.2rem;
    float: left;
}
.xuancai-list .thumb-pic img{
    max-width: 100%;
    min-height: 100%;
}
.xuancai-list .item-main{
    overflow: hidden;
}
.xuancai-list .item-main .title{
    font-size: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.xuancai-list .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height:1.6;
    margin-bottom:0.1rem;
}
@media screen and (min-width: 375px) {
    .xuancai-list .item-main .desc{
        margin-bottom:0.3rem;
    }
}
.xuancai-list .item-main .action{
    color: rgb(204,204,204);
}
.xuancai-list .item-main .action img{
    width: auto;
    height: 0.25rem;
    margin-right: 0.05rem;
    vertical-align:middle;
}

.filter{
    font-size: 0;
    padding: 0.1rem 0rem;
}
.filter .item{
    font-size: 0.126rem;
    display: inline-block;
    text-align: center;
    width: 25%;
    border-right: 1px solid #E4E4E4;
}
.filter .item:last-child{
    border-right: none;
}
.filter .item.active{
    color: #FF5353;
}

.material-filter{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
    padding: 0.25rem;
    display: none;
    overflow:scroll;
}
.filter-header{
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #BABABA;
}
.filter-header .title{
    float: left;
}
.filter-header .close{
    width: 0.2rem;
    height: 0.2rem;
    float: right;
}
.classify{
    padding-top: 0.2rem;
    display: none;
}
.classify .item{
    /*margin-bottom: 0.2rem;*/
}
.classify .item-title{
    color: #9B9B9B;
    line-height: 0.6rem;
}
.classify .item-list li{
    background-color: #F4F4F4;
    color: #333;
    margin-right: 0.2rem;
    float: left;
    margin-bottom: 0.2rem;
}
.classify .item-list li a{
    padding: 0.2rem;
    display: block;
    height: 100%;
}
.classify .item-list li.on a{
    color:#FF5353;
}
/*搜索结果列表*/
.search-list .item{
    padding: 0.4rem 0rem 0.2rem;
    border-bottom: 1px solid #E1E1E1;
}
.search-list .thumb-pic , .search-list .item-main{
    height: 1.8rem;
    overflow: hidden;
}
.search-list .thumb-pic{
    width: 2.5rem;
    margin-right: 0.2rem;
    float: left;
}
.search-list .thumb-pic img{
    max-width: 100%;
    min-height: 100%;
}
.search-list .item-main{
    overflow: hidden;
}
.search-list .item-main .title{
    font-size: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.search-list .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height:1.6;
    margin-bottom:0.1rem;
}
@media screen and (min-width: 375px) {
    .search-list .item-main .desc{
        margin-bottom:0.4rem;
    }
}
.search-list .item-main .action{
    color: rgb(204,204,204);
}
.search-list .item-main .action img{
    width: auto;
    height: 0.25rem;
    margin-right: 0.05rem;
    vertical-align:middle;
}

/*无搜索结果*/
.search-none{
    background-color: #F4F4F4;
    padding: 0.6rem 0 0.9rem;
    margin:0 -0.25rem  0.3rem;
    text-align: center;
}
.search-none .icon{
    width: 0.67rem;
    height: 1rem;
    margin-right: 0.3rem;
}
.search-none .tips{
    height: 1rem;
    line-height: 1rem;
    color: #999;
}

/*搜索页推荐列表*/
.recommend-list .item{
    padding: 0.4rem 0rem 0.2rem;
    border-bottom: 1px solid #E1E1E1;
}
.recommend-list .thumb-pic , .recommend-list .item-main{
    height: 1.8rem;
    overflow: hidden;
}
.recommend-list .thumb-pic{
    width: 2.5rem;
    margin-right: 0.2rem;
    float: left;
}
.recommend-list .thumb-pic img{
    max-width: 100%;
    min-height: 100%;
}
.recommend-list .item-main{
    overflow: hidden;
}
.recommend-list .item-main .title{
    font-size: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.recommend-list .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height:1.6;
    margin-bottom:0.1rem;
}
@media screen and (min-width: 375px) {
    .recommend-list .item-main .desc{
        margin-bottom:0.4rem;
    }
}
.recommend-list .item-main .action{
    color: rgb(204,204,204);
}
.recommend-list .item-main .action img{
    width: auto;
    height: 0.25rem;
    margin-right: 0.05rem;
    vertical-align:middle;
}
.thumbnail-nav{

}

/*分页*/
.page{
    width:100%;
    text-align: center;
    background-color: #F7F7F7;
    height: 0.6rem;
    padding: 0.1rem 0rem;
    margin: 0.5rem auto;
    color: black;
    font-size: 0;
    border:none;
}
.page a{
    display: inline-block;
    width: 50%;
    font-size: 0.126rem;
    height: 0.4rem;
    line-height: 0.4rem;
}
.page a:first-child{
    border-right: 1px solid #D4D4D4;
}
.page span{
    font-size: 1.5em;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: none;
    width: 31.5%;
}
.ph{
    color:#FF6664 !important;
}

