<extend name="Index:basic"/>
<block name="meta">
<title>装修公司推荐_装修公司排名_靠谱的装修公司-齐装网</title>
<meta name="keywords" content="装修公司推荐,装修公司排名,靠谱的装修公司">
<meta name="description" content="齐装网为广大业主推荐了全国各地的知名装修公司，在这里我们为您精选靠谱的装修公司，让您的装修有保障，让您的装修费用至少省30%，找装修公司就来齐装网装修公司推荐平台吧！">
<link rel="stylesheet" href="{$static_host}/assets/home/company/css/land-page.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" href="{$static_host}/assets/home/company/css/lunboswiper.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" href="/assets/home/index/css/home.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <div class="company_land">
        <div class="banner">
            <img src="{$static_host}/assets/home/company/img/land_banner.jpg" alt="">
            <div class="wrap owf">
                <div class="order-win computed">
                    <div class="order-box validate">
                        <h3>立即获取<span class="high_light">性价比高</span>的装修公司</h3>
                        <h2>今日已有<span class="high_light">1112</span>人获取</h2>
                        <div class="box-line">
                          <select id="tab-cs" name="cs" class="edit-city">
                          </select>
                          <select id="tab-qx" name="qx" class="edit-quyu" style="float: right;">
                          </select>
                        </div>
                        <div class="box-line">
                          <input class="edit-text" name="mianji" type="text" placeholder="请输入您的房屋面积">
                          <i class="pingfang">m²</i>
                        </div>
                        <div class="box-line">
                          <input class="edit-text" type="text" name="tel" placeholder="输入手机号获取性价比高的装修公司" maxlength="11">
                        </div>
                        <!--S-免责申明-->
                        <include file="Common@Order/disclamer"/>
                        <!--E-免责申明-->
                        <button id="btnSave" type="button">马上提交查看结果</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="land_part white_bg">
                <div class="land_part_title">
                    <div>
                        <span>严格把关</span>
                    </div>
                </div>
                <div class="min-wrap with_line">
                    <table>
                        <td>
                            <img src="{$static_host}/assets/home/company/img/pzrz.png" alt="">
                            <div><span class="high_light">01</span>&nbsp;品质认证</div>
                            <p>资质证书和营业执照认证</p>
                        </td>
                        <td>
                            <img src="{$static_host}/assets/home/company/img/zysg.png" alt="">
                            <div><span class="high_light">02</span>&nbsp;专业施工</div>
                            <p>施工团队和设计师资历考察</p>
                        </td>
                        <td>
                            <img src="{$static_host}/assets/home/company/img/dzkb.png" alt="">
                            <div><span class="high_light">03</span>&nbsp;大众口碑</div>
                            <p>用户好评率高大98.72%</p>
                        </td>
                    </table>
                </div>
                <div class="min-wrap with_bg">
                    <button id="get_price">立即获取报价</button>
                </div>
            </div>
            <div class="land_part gray_bg">
                <div class="land_part_title">
                    <div>
                        <span>我们将会给您一份这样的报价</span>
                    </div>
                </div>
                <table class="price_table">
                    <td>
                        <div class="price_item">
                            <div class="price_item_head price_one">总体估价</div>
                            <img src="{$static_host}/assets/home/company/img/price_1.jpg" alt="">
                        </div>
                    </td>
                    <td>
                        <div class="price_item">
                            <div class="price_item_head price_two">空间造价占比预估</div>
                            <img src="{$static_host}/assets/home/company/img/price_2.jpg" alt="">
                        </div>
                    </td>
                    <td>
                        <div class="price_item">
                            <div class="price_item_head price_three">详细报价单</div>
                            <img src="{$static_host}/assets/home/company/img/price_3.jpg" alt="">
                        </div>
                    </td>
                </table>
            </div>
            <div class="land_part white_bg">
                <div class="land_part_title">
                    <div>
                        <span>本地口碑排行榜</span>
                    </div>
                </div>
                <table class="price_table">
                    <volist name="info.brands" id="vo">
                        <td>
                            <div class="koubei_item">
                                <div class="bg_case">
                                    <if condition="$vo['cases']['img_host'] == 'qiniu' ">
                                        <img src="http://{:C('QINIU_DOMAIN')}/{$vo['cases']['img_path']|default='file/20180123/FsmhNCcgLnXA8gVgmUMbK2uwqlSd.jpg'} "
                                             alt="{$vo['jc']}">
                                        <else/>
                                        <img src="http://{:C('QINIU_DOMAIN')}/file/20180123/FsmhNCcgLnXA8gVgmUMbK2uwqlSd.jpg"
                                             alt="{$vo['jc']}">
                                    </if>
                                    <div class="num_xh num_{$key+1}">{$key+1}</div>
                                    <div class="company_logo">
                                        <img src="http://{:C('QINIU_DOMAIN')}/{$vo.img_url}"
                                             alt="{$vo['jc']}">
                                    </div>
                                </div>
                                <div class="case_info">
                                    <p class="com_name">{$vo['jc']}</p>
                                    <table class="icon_com">
                                        <td><span class='ping_num'>评</span>{$vo.comment_count}</td>
                                        <td><span class='an_num'>案</span>{$vo.case_count}</td>
                                    </table>
                                    <div class="case_button">
                                        <a href="javascript:;">找他装修</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </volist>
                </table>
                <div class="see_more">
                    <if condition="$cityInfo['bm'] NEQ ''">
                        <a href="http://{$cityInfo['bm']}.{:C('QZ_YUMING')}/company/">查看全部></a>
                        <else/>
                        <a href="http://{:C('QZ_YUMINGWWW')}/company/">查看全部></a>
                    </if>
                </div>
            </div>
            <div class="land_part gray_bg">
                <div class="land_part_title">
                    <div>
                        <span>业主说</span>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <table class="price_table">
                                    <td>
                                        <div class="pinglun_item">
                                            <div class="yz_info">
                                                <div class="yz_img">
                                                    <img src="/assets/home/company/img/zxgsldytx1.png" alt="">
                                                </div>
                                                <div class="yz_text">
                                                    <p>冬日的阳光</p>
                                                    <span>现代简约</span><span>深圳市好新居装饰设计有限公司</span>
                                                </div>
                                            </div>
                                            <div class="pinglun_content">
                                                我是通过齐装网的推荐选择的装修公司，当时他们给我推荐了四家公司，我从价格,设计,施工,服务综合考虑选择了其中一家，是因为他们的这四项服务都达到了我们的要求，经过装修下来的过程，我们的选择是没错的，非常感谢齐装网这个平台。
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pinglun_item">
                                            <div class="yz_info">
                                                <div class="yz_img">
                                                    <img src="/assets/home/company/img/zxgsldytx2.jpg" alt="">
                                                </div>
                                                <div class="yz_text">
                                                    <p>淡淡的忧伤</p>
                                                    <span>欧式风格</span><span></span>
                                                </div>
                                            </div>
                                            <div class="pinglun_content">
                                                装修的事真是挺费心，想自己弄弄，可前前后后事真是麻烦，而且后期要是有问题自己还得找人弄，比较来比较去，无论是价格，施工方面，还有后期保障这块，在齐装网推荐的装修公司就感觉挺不错的，后面装出来也是美美的!!
                                            </div>
                                        </div>
                                    </td>
                                </table>
                            </div>
                            <div class="swiper-slide">
                                <table class="price_table">
                                    <td>
                                        <div class="pinglun_item">
                                            <div class="yz_info">
                                                <div class="yz_img">
                                                    <img src="/assets/home/company/img/zxgsldytx3.jpg" alt="">
                                                </div>
                                                <div class="yz_text">
                                                    <p>开心就好</p>
                                                    <span>田园风格</span><span></span>
                                                </div>
                                            </div>
                                            <div class="pinglun_content">
                                                开始一直犹豫是找装修公司还是找装修队，听朋友说装修队容易出问题，最后在网上发布了装修的信息，齐装网推荐了4家装修公司，通过筛选对比选择了一家装修公司，结果他们的设计师方案做的很细，很有特色，很满意齐装网推荐的这家装修公司，期待装完后的效果。
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pinglun_item">
                                            <div class="yz_info">
                                                <div class="yz_img">
                                                    <img src="/assets/home/company/img/zxgsldytx4.jpg" alt="">
                                                </div>
                                                <div class="yz_text">
                                                    <p>豆豆</p>
                                                    <span>北欧风格</span><span></span>
                                                </div>
                                            </div>
                                            <div class="pinglun_content">
                                               之前不怎么相信网站上的装修公司，但为了省事，就在网上发布了信息，没想到10分钟后装修公司就联系了我，经过对比，选择了一家装修公司，他们公司从领导到员工都非常的负责专业，也去他们公司看过啦，确实不错。谢谢齐装网给我们推荐的装修公司，实惠放心。
                                            </div>
                                        </div>
                                    </td>
                                </table>
                            </div>
                            <div class="swiper-slide">
                                <table class="price_table">
                                    <td>
                                        <div class="pinglun_item">
                                            <div class="yz_info">
                                                <div class="yz_img">
                                                    <img src="/assets/home/company/img/zxgsldytx5.jpg" alt="">
                                                </div>
                                                <div class="yz_text">
                                                    <p>东山天境</p>
                                                    <span>简约风格</span><span>深圳市好新居装饰设计有限公司</span>
                                                </div>
                                            </div>
                                            <div class="pinglun_content">
                                                在齐装网上推荐了四家公司，都来房子现场沟通了，对其中一家装修公司印象比较深刻，给我这边详细的验房，把家里的问题给我详细的指出来了，然后也是通过微信沟通方案，还是比较不错的，回来了一趟，就把合同签了.整个过程还是非常不错，非常感谢齐装网。
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pinglun_item">
                                            <div class="yz_info">
                                                <div class="yz_img">
                                                    <img src="/assets/home/company/img/zxgsldytx6.jpg" alt="">
                                                </div>
                                                <div class="yz_text">
                                                    <p>拼搏</p>
                                                    <span>欧式风格</span><span></span>
                                                </div>
                                            </div>
                                            <div class="pinglun_content">
                                                刚拿房的时候就找了齐装网，当时有4家装修公司和我们联系，我们经过对比挑选了一家.我们是婚房，对装修方面一点也不了解.所以有好多不懂的地方，这家设计师很细心而且很有耐心的帮我们设计更改.我也去过施工现场，做得还不错，效果慢慢出来了，挺满意的。
                                            </div>
                                        </div>
                                    </td>
                                </table>
                            </div>
                    </div>
                    <!-- 如果需要分页器 -->

                </div>
                <div class="pagination land_pagination"></div>
            </div>
            <div class="land_part white_bg">
                <div class="land_part_title">
                    <div>
                        <span>精品案例</span>
                    </div>
                </div>
                <div class="main_banner">
                    <div class="main_banner_wrap">
                        <div class="main_banner_box" id="m_box">
                            <a href="javascript:void(0)" class="banner_btn js_pre"> <span class="banner_btn_arrow"><i></i></span> </a>
                            <a href="javascript:void(0)" class="banner_btn btn_next js_next"> <span class="banner_btn_arrow"><i></i></span> </a>
                            <ul>
                                <volist name="info.cases" id="vo">
                                    <if condition="$key == '0' ">
                                        <li id="imgCard{$key}">
                                            <span  class="case_button no-border" style="opacity:1;">找他装修</span>
                                            <a href="{$vo.url}" target="_blank">
                                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo.img_url}-s800x360.jpg"
                                                 alt="{$vo.title}"/></a>
                                            <div class="bottom_title">
                                                <div class="pull-left">{$vo.title}</div>
                                                <div class="pull-right">{$vo.company_name}</div>
                                            </div>
                                        </li>
                                        <else/>
                                        <li id="imgCard{$key}">
                                            <span  class="case_button no-border" style="opacity:0;">找他装修</span>
                                            <a href="{$vo.url}" target="_blank">
                                            <img src="http://{:C('QINIU_DOMAIN')}/{$vo.img_url}-s800x360.jpg"
                                                 alt="{$vo.title}"/></a>
                                            <div class="bottom_title">
                                                <div class="pull-left">{$vo.title}</div>
                                                <div class="pull-right">{$vo.company_name}</div>
                                            </div>
                                        </li>
                                    </if>
                                </volist>
                            </ul>

                        </div>

                    </div>
                     <div class="btn_list">
                            <span class="curr"></span><span></span><span></span><span></span><span></span>
                     </div>

                </div>
                <div style="height: 30px;"></div>
            </div>
            <div class="land_part gray_bg">
                <div class="land_part_title">
                    <div>
                        <span>服务保障</span>
                    </div>
                </div>
                <table class="price_table">
                    <td>
                        <div class="bz_item">
                            <div class="pull-left">
                                <img src="/assets/home/company/img/gfjd.jpg" alt="">
                            </div>
                            <div class="pull-left ">
                                <div class="bz_title">官方监督</div>
                                <p><i class="fa fa-star"></i>专业人员抽样验收，防止被装修公司忽悠</p>
                                <p><i class="fa fa-star"></i>质检逐一排查，避免后期需要维护的麻烦</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="bz_item large-dis">
                            <div class="pull-left">
                                <img src="/assets/home/company/img/hqbz.jpg" alt="">
                            </div>
                            <div class="pull-left">
                                <div class="bz_title">后期保障</div>
                                <p><i class="fa fa-star"></i>全程跟踪，保障装修质量</p>
                                <p><i class="fa fa-star"></i>装修后保质期可长达5年</p>
                                <p><i class="fa fa-star"></i>保障期内提供免费的维修服务</p>
                            </div>
                        </div>
                    </td>
                </table>
            </div>
        </div>
        <div class="bg_fadan">
            <div class="min-wrap land_bottom_fadan">
                <div class="left_img pull-left">
                    <img src="/assets/home/company/img/land_fadan.png" alt="">
                    <div class="bottom_kf">
                        <div>
                             专业顾问咨询
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="bt_fd_tit">齐装网帮您<span class="high_light">8秒</span>搞定靠谱装修公司</div>
                    <div class="by_land">
                        <span>省时</span><span class="line"> </span><span>省心</span><span class="line"> </span><span>省力</span>
                    </div>
                    <div class="order-box validate computed1">
                            <div class="box-line">
                              <select  name="bt_cs" class="edit-city">
                              </select>
                              <select  name="bt_qx" class="edit-quyu" style="float: right;">
                              </select>
                            </div>
                            <div class="box-line">
                              <input class="edit-text" name="bt_name" type="text" placeholder="怎么称呼您">

                            </div>
                            <div class="box-line">
                              <input class="edit-text" type="text" name="bt_tel" placeholder="输入手机号获取靠谱装修公司" maxlength="11">
                            </div>
                             <!--S-免责申明-->
                                <include file="Common@Order/disclamer"/>
                            <!--E-免责申明-->
                            <button id="btnSave1" type="button">马上提交查看结果</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div id="land_mask"></div>
    <div id="fadan" class="result">
        <div class="result-box">
            <div class="nr-pa-text">
                <P><i class="fa fa-circle"></i>随进了解装修进程</P>
                <P><i class="fa fa-circle"></i>美女设计师1对1对答</P>
                <P><i class="fa fa-circle"></i>“2房”变“3房”秘决</P>
                <P><i class="fa fa-circle"></i>实时装修报价动态</P>
                <P><i class="fa fa-circle"></i>装修案例抢先看</P>
            </div>

            <div id="close_two"></div>
            <img src="{$wx_img}" alt="{$wx_title}">
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/home/company/js/lanren.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/home/company/js/plswiper.js?v={:C('STATIC_VERSION')}"></script>
    <script>

        $(function(){
            var shen = null,shi = null;
            shen = citys["shen"];
            shi = citys["shi"];

            initCity('{$theCityId}');
            function initCity(cityId){
                App.citys.init(".order-box .edit-city", ".order-box .edit-quyu", shen, shi,cityId);
            }

            var mySwiper = new Swiper ('.swiper-container', {
                loop: true,
                autoplay:5000,
                paginationClickable:true,
                // 如果需要分页器
                pagination : '.pagination',

              })


            $(".computed #btnSave").click(function(event){
                var container = $(".computed");
                $(".focus", container).removeClass('focus');
                $(".box-line").removeClass('height_auto');
                $(".valdate-info", container).remove();
                window.order({
                extra:{
                    mianji: $("input[name=mianji]", container).val(),
                    tel: $("input[name=tel]", container).val(),
                    cs:$("select[name=cs]", container).val(),
                    qx:$("select[name=qx]", container).val(),
                    source: '{$source}'
                },
                success:function(data, status, xhr){
                    if (data.status == 1) {
                        $("#land_mask,#fadan").fadeIn();
                    }
                },
                validate:function(item, value, method, info){
                    var size=$("input[name=mianji]",container).val();
                    if ('cs' == item && 'notempty' == method) {
                        $("select[name=cs]", container).parent().addClass('height_auto');
                        $("select[name=cs]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请选择城市~");
                        $("select[name=cs]", container).parent().append(span);
                        return false;
                    };
                    if ('mianji' == item && 'notempty' == method) {
                        $("input[name=mianji]", container).parent().addClass('height_auto');
                        $("input[name=mianji]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请输入您的房屋面积!");
                        $("input[name=mianji]", container).parent().append(span);
                        return false;
                    };
                    if(size>10000 || size==0 || isNaN(size)){
                        $("input[name=mianji]", container).parent().addClass('height_auto');
                        $("input[name=mianji]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("房屋面积请输入1-10000之间的数字^_^!");
                        $("input[name=mianji]", container).parent().append(span);
                        return false;
                    }
                    if ('tel' == item && 'ismobile' == method || 'notempty' == method) {
                        $("input[name=tel]", container).parent().addClass('height_auto');
                        $("input[name=tel]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请输入正确的手机号");
                        $("input[name=tel]", container).parent().append(span);
                        $("input[name=tel]", container).val('');
                        return false;
                    };
                    if(!checkDisclamer(".computed")){
                            return false;
                    }
                    return true;
                }
            });
            });

            $(".computed1 #btnSave1").click(function(event) {
                 var container = $(".computed1");
                    $(".focus", container).removeClass('focus');
                    $(".box-line").removeClass('height_auto');
                    $(".valdate-info", container).remove();
                    window.order({
                    extra:{
                        name:$("input[name=bt_name]", container).val(),
                        tel: $("input[name=bt_tel]", container).val(),
                        cs:$("select[name=bt_cs]", container).val(),
                        qx:$("select[name=bt_qx]", container).val(),
                        source: '{$source}'
                    },
                    success:function(data, status, xhr){
                        if (data.status == 1) {
                            $("#land_mask,#fadan").fadeIn();
                        }
                    },
                    validate:function(item, value, method, info){

                        if ('cs' == item && 'notempty' == method) {
                            $("select[name=bt_cs]", container).parent().addClass('height_auto');
                            $("select[name=bt_cs]", container).addClass('focus').focus();
                            var span = $("<i class='valdate-info'></i>");
                            span.html("请选择城市~");
                            $("select[name=bt_cs]", container).parent().append(span);
                            return false;
                        };
                        if ('name' == item && 'notempty' == method) {
                            $("input[name=bt_name]", container).parent().addClass('height_auto');
                            $("input[name=bt_name]", container).addClass('focus').focus();
                            var span = $("<i class='valdate-info'></i>");
                            span.html("姓名不能为空");
                            $("input[name=bt_name]", container).parent().append(span);
                            return false;
                        };
                        if ('name' == item && 'isword' == method) {
                            $("input[name=bt_name]", container).parent().addClass('height_auto');
                            $("input[name=bt_name]", container).addClass('focus').focus();
                            var span = $("<i class='valdate-info'></i>");
                            span.html("请输入正确的名称，只支持中文和英文 ^_^！");
                            $("input[name=bt_name]", container).parent().append(span);
                            return false;
                        };
                        if ('tel' == item && 'ismobile' == method || 'notempty' == method) {
                            $("input[name=bt_tel]", container).parent().addClass('height_auto');
                            $("input[name=bt_tel]", container).addClass('focus').focus();
                            var span = $("<i class='valdate-info'></i>");
                            span.html("请输入正确的手机号");
                            $("input[name=bt_tel]", container).parent().append(span);
                            $("input[name=bt_tel]", container).val('');
                            return false;
                        };
                        if(!checkDisclamer(".computed1")){
                            return false;
                        }

                        return true;
                    }
                });
            });

            $("#get_price").click(function(){
                var _this = $(this);
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type:"bj",
                        source: '{$source}',
                        action:"load"
                    }
                })
                .done(function(data) {
                    if (data.status == 1) {
                        $("body").append(data.data);
                        if(navigator.appName == "Microsoft Internet Explorer"){
                            $(".zxfb").show();
                        }else{
                            $(".zxfb").fadeIn(400,function(){
                                $(this).find("input[name='bj-xiaoqu']").focus();
                            });
                            $(".zxbj_content").removeClass('smaller');
                        }
                        $(".win_box .win-box-bj-mianji").addClass('focus').focus();
                    }
                });
            });

        });


        $(".case_button").click(function(){
             var _this = $(this);
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type:"sj",
                        source: '{$source}',
                        action:"load"
                    }
                })
                .done(function(data) {
                    if (data.status == 1) {
                        $("body").append(data.data);
                        if(navigator.appName == "Microsoft Internet Explorer"){
                            $(".zxfb").show();
                        }else{
                            $(".zxfb").fadeIn(400,function(){
                                $(this).find("input[name='bj-xiaoqu']").focus();
                            });
                            $(".zxbj_content").removeClass('smaller');
                        }
                        $(".win_box .win-box-bj-mianji").addClass('focus').focus();
                    }
                });
        })

        $("#close_two").click(function(){
            $("#land_mask,#fadan").fadeOut();
            window.location.href = window.location.href;
        })
        $(".bottom_kf").click(function(){
            window.open("http://www17.53kf.com/webCompany.php?arg=10032978&style=1&keyword=http%3A//www.qizuang.com/&kf=")
        });
    </script>
</block>
