<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{$head.title}</title>
    <meta name="keywords" content="{$head.keywords}" />
    <meta name="description" content="{$head.description}" />
    <meta name="mobile-agent" content="format=html5;url=http://m.{:C('QZ_YUMING')}/zhaobiao/" />
    <link rel="canonical" href="http://{:C('QZ_YUMINGWWW')}/zhaobiao/"/>
    <include file="Index:css_resource" />
    <link rel="stylesheet" type="text/css" href="/assets/home/company/css/platformlandpage.css?v={:C('STATIC_VERSION')}" />
    <script type="text/javascript" src="{$static_host}/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/order.js?v={:C('ORDER_JS_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/jQuery.rTabs.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/hm.min.js?ver=1&md={:time()}"></script>
</head>
<body>
    <include file="Index:header" />
     <div class="zb-bg1">
        <div class="wrap">
            <div id="tab1" class="zb-bg1-bg"></div>
            <div class="order-box validate">
                <h3>立即预约一站式贴心服务</h3>
                <h2>今日已有<span>1112</span>人获取</h2>
                <div class="box-line">
                  <select id="tab-cs" name="cs" class="edit-city">
                  </select>
                  <select id="tab-qx" name="qx" class="edit-city" style="float: right;">
                  </select>
                </div>
                <div class="box-line">
                  <input class="edit-text" name="mianji" type="text" placeholder="输入您的房屋面积">
                  <span>㎡</span>
                </div>
                <div class="box-line">
                  <input class="edit-text" type="text" name="tel" placeholder="输入手机号获取一站式贴心服务" maxlength="11">
                </div>
                <!--S-免责申明-->
                    <include file="Common@Order/disclamer"/>
                <!--E-免责申明-->
                <button id="btnSave" type="button">立即预约</button>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="part-item" id="one">
            <div class="part-title">六大保障</div>
            <div class="part-body">
                <table class="ldbz_table">
                    <tr>
                        <td>
                            <div><img src="/assets/home/company/img/sgbz.jpg" alt=""></div>
                            <p>施工保障</p>
                        </td>
                        <td>
                            <div><img src="/assets/home/company/img/jgtmbz.jpg" alt=""></div>
                            <p>价格透明保障</p>
                        </td>
                        <td>
                            <div><img src="/assets/home/company/img/clzpbz.jpg" alt=""></div>
                            <p>材料正品保障</p>
                        </td>
                        <td>
                            <div><img src="/assets/home/company/img/wnzb.jpg" alt=""></div>
                            <p>五年质保</p>
                        </td>
                        <td>
                            <div><img src="/assets/home/company/img/wqbz.jpg" alt=""></div>
                            <p>维权保障</p>
                        </td>
                        <td>
                            <div><img src="/assets/home/company/img/gfjg.jpg" alt=""></div>
                            <p>官方监管</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="graybg">
        <div class="wrap">
            <div class="part-item" id="two">
                <div class="part-title">售后保障</div>
                <div class="part-body">
                    <table class="shbz_table">
                        <tr>
                            <td>
                                <div class="talk-box">
                                    <div class=" clearfix">
                                        <div class="talk-item gk">
                                            <div class="middle_center">
                                                <p>
                                                     <span>您好，我在齐装网的网站上申请了装修服务，但是在装修过程中遇到了些问题，可以申请服务保障吗？</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="kf talk-item">
                                            <div class="middle_center">
                                                <p>
                                                    <span>可以的，请问您遇到了什么问题呢？</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="talk-box">
                                    <div class=" clearfix">
                                        <div class="talk-item gk">
                                            <div class="middle_center">
                                                <span>
                                                    <p>
                                                      装修公司给我提供的价格我有些疑问，自己又不懂装修，想知道我有没有受骗
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="kf talk-item st">
                                            <div class="middle_center">
                                                <p>
                                                    <span>请问装修公司是否有给您提供详细的报价明细呢？</span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="talk-box">
                                    <div class=" clearfix">
                                        <div class="talk-item gk">
                                            <div class="middle_center">
                                                <span>
                                                    <p>
                                                      有提供报价明细，可是我看不懂
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="kf talk-item">
                                            <div class="middle_center">
                                                <p>
                                                    <span>您可以参考网上相关报价的信息，看看不同装修项目的款项，做一下对比就可以知道报价是否合理了。</span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <hr class="middle_line">
                    <div class="middle_title">
                        <div>解决问题</div>
                        <p>*客服全天在线,随时随地为您排忧解难</p>
                    </div>
                    <table class="problem_resolve">
                        <tr>
                            <td>
                                <div class="pro_item">
                                    <img src="/assets/home/company/img/bj.png" alt="">
                                    <div>报价</div>
                                    <p>报价0增项</p>
                                </div>
                            </td>
                            <td>
                                <div class="pro_item">
                                     <img src="/assets/home/company/img/sj.png" alt="">
                                     <div>设计</div>
                                     <p>设计效果图完美实现</p>
                                </div>
                            </td>
                            <td>
                                <div class="pro_item">
                                    <img src="/assets/home/company/img/zl.png" alt="">
                                    <div>质量</div>
                                    <p>装修材料正规，施工质量可靠</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="part-item" id="three">
            <div class="part-title">特色服务</div>
            <div class="part-body graybg service_item">
                 <table class="service_table">
                    <tr><td>齐装网</td><td><span>对比项目</span></td><td>传统装修公司</td></tr>
                </table>
                <div><img src="/assets/home/company/img/pro_1.jpg" alt=""></div>
                <div><img src="/assets/home/company/img/pro_2.jpg" alt=""></div>
                <div><img src="/assets/home/company/img/pro_3.jpg" alt=""></div>
                <div><img src="/assets/home/company/img/pro_4.jpg" alt=""></div>
                <div><img src="/assets/home/company/img/pro_5.jpg" alt=""></div>
            </div>
        </div>
    </div>

    <div class="graybg">
        <div class="part-item" id="four">
            <div class="part-title">
                全国站点分布图
            </div>
            <div class="part-body map_box">
                <img src="/assets/home/company/img/map.png" alt="">
            </div>
        </div>
    </div>
    <div class="part-item" id="five">
        <div class="part-title">
            资质荣誉
        </div>
        <div class="part-body">
            <table class="map_table">
                <tr>
                    <td>
                        <div class="ry_box">
                            <img src="/assets/home/company/img/ryzz01.jpg" alt="">

                        </div>
                        <div class="ry_title">
                            <h2>互联网装修省心省时更省钱&nbsp;&nbsp;齐装网装修不将就</h2>
                            <p>————中国日报 中文网</p>
                        </div>
                    </td>
                    <td>
                        <div class="ry_box">
                            <img src="/assets/home/company/img/ryzz02.jpg" alt="">
                        </div>
                        <div class="ry_title">
                            <h2>齐装网，将家装 “ 嫁入各个城市 ” 口碑极佳</h2>
                            <p>————东方网 财经</p>
                        </div>
                    </td>
                    <td>
                        <div class="ry_box">
                            <img src="/assets/home/company/img/ryzz03.jpg" alt="">
                        </div>
                        <div class="ry_title">
                            <h2>齐装网,将家装O2O平台做到至臻</h2>
                            <p>————太平洋和家居网</p>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="graybg">
        <div class="part-item" id="six">
            <div class="part-title">服务流程</div>
            <div class="part-body">
                <div class="fw-step">
                            <div class="fw-step-box">
                                <div class="step-item">
                                    <div class="yuyue"></div>
                                    <p>在线预约</p>
                                </div>
                                <i class="arrow-right"></i>
                                <div class="step-item">
                                    <div class="yusuan"></div>
                                    <p>方案+预算</p>
                                </div>
                                <i class="arrow-right"></i>
                                <div class="step-item">
                                    <div class="hetong"></div>
                                    <p>签订合同</p>
                                </div>
                                <i class="arrow-right"></i>
                                <div class="step-item">
                                    <div class="shigong"></div>
                                    <p>装修施工</p>
                                </div>
                                <i class="arrow-right"></i>
                                <div class="step-item">
                                    <div class="yanshou"></div>
                                    <p>装修验收</p>
                                </div>
                                <i class="arrow-right"></i>
                                <div class="step-item">
                                    <div class="shouhou"></div>
                                    <p>售后服务</p>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="why_foot">
        <img src="/assets/home/company/img/whychose.jpg" alt="" class="foot_bg">
        <div class="wrap owf last_fadan">
            <div class="why_ly">
                <h2>为什么选择齐装网？</h2>
                <table>
                    <tr>
                        <td><img src="assets/home/company/img/bottom_fw.png" alt="">
                            <div><p class="large_title">贴心的一站式服务</p><p class="small_title">健全的服务体系 优质的服务质量</p></div></td>
                        <td><img src="assets/home/company/img/bottom_bz.png" alt=""><div><p class="large_title">靠谱的六大保障</p><p class="small_title">官方监管质量保障 装修过程0增项</p></div></td>
                    </tr>
                </table>
            </div>
            <div class="order-box bottom_fadan validate">
                <h1>立即预约服务</h1>
                <table>
                    <tr>
                        <td>省时</td><td>省心</td><td>省力</td>
                    </tr>
                </table>
                <div class="box-line">
                     <select id="bottom-cs" name="bottom_cs" class="edit-city">
                     </select>
                     <select id="bottom-qy" name="bottom_qy" class="edit-city" style="float: right;">
                     </select>
                </div>
                <div class="box-line">
                     <input class="edit-text" name="name" type="text" placeholder="怎么称呼您">
                </div>
                <div class="box-line">
                     <input class="edit-text" name="tel" type="text" placeholder="输入手机号获取优质服务" maxlength="11">
                </div>
                <!--S-免责申明-->
                    <include file="Common@Order/disclamer"/>
                <!--E-免责申明-->
                 <button id="bookNow" type="button">立即免费获取</button>
            </div>
        </div>
    </div>

    <div class="left_fixed_menu">
        <div class="left_item left_active" data-href="#one"><span>六大保障</span></div>
        <div class="left_item" data-href="#two"><span>售后保障</span></div>
        <div class="left_item" data-href="#three"><span>特色服务</span></div>
        <div class="left_item" data-href="#four"><span>全国站点</span></div>
        <div class="left_item" data-href="#five"><span>荣誉资质</span></div>
        <div class="left_item" data-href="#six"><span>服务流程</span></div>
    </div>

    <include file="Index/footer" />

<include file="Index:javascript_resource" />
    <script src="/assets/home/zb/js/jquery.cxscroll.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/jQuery.rTabs.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
      var shen = null,shi = null;
      shen = citys["shen"];
      shi = citys["shi"];


    initCity('{$theCityId}');
    function initCity(cityId){
        App.citys.init("#tab-cs", "#tab-qx", shen, shi,cityId);
        App.citys.init("#bottom-cs", "#bottom-qy", shen, shi,cityId);
    }

    $(function() {
        $("input[name='mianji']").focus();
        $("#tab").rTabs({
            auto: true
        });
        $(".user-mes-box").rTabs({
            btnClass:'.j-tab-nav',  /*按钮的父级Class*/
            conClass:'.j-tab-con',  /*内容的父级Class*/
            speed:800,
            auto:true
        });
        setInterval('autoScroll(".maquee")', 500);

        $("#pic_list_1").cxScroll({
            auto: false
        });

        $(".zb-bg1 #btnSave").click(function(event) {
            var container = $(".zb-bg1 .order-box");
            var data = {
                mianji:$("[name=mianji]",container).val(),
                tel:$("[name=tel]",container).val(),
                cs:$("[name=cs]",container).val(),
                qx:$("[name=qx]",container).val(),
                step:2,
                source:18030932
            }
            $(".focus", container).removeClass('focus');
            $(".height_auto", container).removeClass('height_auto');
            $(".valdate-info", container).remove();

            window.order({
                extra:data,
                error:function(){},
                success:function(data, status, xhr){
                    if(data.status == 1){
                        //数据置空
                        $("[name=mianji]").val('');
                        $("[name=tel]").val('');
                        $("body").append(data.data.tmp);
                        $('input[name="mianji"]').blur();// 让其失去焦点
                    } else {
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    var size=$("input[name=mianji]",container).val();
                    if ('cs' == item && 'notempty' == method) {
                        $("select[name=cs]", container).parent().addClass('height_auto');
                        $("select[name=cs]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请选择城市~");
                        $("select[name=cs]", container).parent().append(span);
                        return false;
                    };
                    if ('mianji' == item && 'notempty' == method) {
                        $("input[name=mianji]", container).parent().addClass('height_auto');
                        $("input[name=mianji]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请输入您的房屋面积!");
                        $("input[name=mianji]", container).parent().append(span);
                        return false;
                    };
                    if(size>10000 || size<1 || isNaN(size)){
                        $("input[name=mianji]", container).parent().addClass('height_auto');
                        $("input[name=mianji]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("房屋面积请输入1-10000之间的数字^_^!");
                        $("input[name=mianji]", container).parent().append(span);
                        return false;
                    }
                    if ('tel' == item && 'ismobile' == method || 'notempty' == method) {
                        $("input[name=tel]", container).parent().addClass('height_auto');
                        $("input[name=tel]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请输入正确的手机号");
                        $("input[name=tel]", container).parent().append(span);
                        $("input[name=tel]", container).val('');
                        return false;
                    };

                    if(!checkDisclamer(".zb-bg1")){
                        return false;
                    }
                    return true;
                }
            });
        });

        //光标自动定位
        $(".zb-bg1 .order-box input[name=name]").focus();

    });
    $(".to-design").on("click",function(){
        var _this = $(this);
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type:"sj",
                        source: '{$source}',
                        action:"load"
                    }
                })
                .done(function(data) {
                    if (data.status == 1) {
                        $("body").append(data.data);
                        if(navigator.appName == "Microsoft Internet Explorer"){
                            $(".zxfb").show();
                        }else{
                            $(".zxfb").fadeIn(400,function(){
                                $(this).find("input[name='bj-xiaoqu']").focus();
                            });
                            $(".zxbj_content").removeClass('smaller');
                        }
                        $(".win_box .win-box-bj-mianji").addClass('focus').focus();
                    }
                });
    });
    function autoScroll(obj) {
        $(obj).find("ul").animate({
            marginTop: "-30px"
        }, 2000, function() {
            $(this).css({
                  marginTop: "0px"
            }).find("li:first").appendTo(this);
        })
    }
    function toshenqing(){
        $("input[name=mianji]").focus();
    }



    $(".left_item").click(function(event) {
         var href=$(this).data("href");
         $("html, body").animate({
          scrollTop: $($(this).attr("data-href")).offset().top-100 + "px"
         }, 500);
    });



    var top_item=$(".left_item");
    var topArray=[500,1000,1800,2600,3341,3826];
    $(window).scroll(function(){
        var top=$(window).scrollTop();
        console.log(top)
        for(var i=0; i<top_item.length; i++){
          if(top>=(topArray[i]-80)&&top<=(topArray[i]+80)){
            $(top_item[i]).addClass('left_active');
            $(top_item[i]).siblings().removeClass("left_active");
          }
        }
    });



    $("#bookNow").click(function(event) {
            var container = $(".last_fadan .order-box");
            var name=$("input[name=name]",container);
            var data = {
                name:$("[name=name]",container).val(),
                tel:$("[name=tel]",container).val(),
                cs:$("[name=bottom_cs]",container).val(),
                qx:$("[name=bottom_qy]",container).val(),
                step:2,
                source:18030932
            }
            $(".focus", container).removeClass('focus');
            $(".height_auto", container).removeClass('height_auto');
            $(".valdate-info", container).remove();

            window.order({
                extra:data,
                error:function(){},
                success:function(data, status, xhr){
                    if(data.status == 1){
                        //数据置空
                        $("[name=name]").val('');
                        $("[name=tel]").val('');
                        $("body").append(data.data.tmp);
                        $('input[name="name"]').blur();// 让其失去焦点
                    } else {
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){

                    if ('name' == item && 'notempty' == method) {
                            name.focus().addClass('focus');
                            alert("亲,您还没有填写称呼呢!");
                            return false;
                        };
                        if ('name' == item && 'isword' == method) {
                            name.focus().addClass('focus');
                            alert("请输入正确的名称，只支持中文和英文");
                            return false;
                        };
                    if ('tel' == item && 'ismobile' == method || 'notempty' == method) {
                        $("input[name=tel]", container).parent().addClass('height_auto');
                        $("input[name=tel]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请输入正确的手机号");
                        $("input[name=tel]", container).parent().append(span);
                        $("input[name=tel]", container).val('');
                        return false;
                    };
                    if(!checkDisclamer(".why_foot")){
                        return false;
                    }
                    return true;
                }
            });
        });
    </script>
</body>

</html>