.company_land{
    background: url(../img/land_bg.jpg);
}
.company_land .owf{
    overflow:hidden;
}
.company_land .banner{
    height: 450px;position: relative;
    overflow-x: hidden;
}
.company_land .banner img{
    position: absolute;top:0px; left:50%; margin-left: -960px;
    width: 1920px;
}
.company_land .order-win{
    float: right;
}
.company_land .order-box{
    width: 250px;
    height: 390px;
    position: relative;
    top: 40px;
    background: #fff;
    z-index: 3;
    text-align: center;
    font-family: "Microsoft Yahei";
    padding: 0px 40px 0 40px;
    overflow: hidden;
}
.company_land  .order-box h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 40px;
    color: #333;
    line-height: 20px;
}
.high_light{color: #ff3535 !important;}
.company_land .order-box h2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 26px;
    line-height: 14px;
    color: #333;
}
.company_land  .box-line {
    margin-bottom: 20px !important;
    overflow: hidden;
    position: relative;
}
.pingfang{position: absolute; right:8px;top:8px;}
.company_land .order-box .edit-city {
    width: 120px;
    height: 35px;
    border: 1px solid #dcd8d9;
    box-sizing: border-box;
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
}
.company_land .order-box .edit-quyu {
    width: 120px;
    height: 35px;
    border: 1px solid #dcd8d9;
    box-sizing: border-box;
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
}
.company_land .order-box .edit-text {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcd8d9;
    padding-left: 10px;
    display: block;
    font-size: 14px;
    color: #333;
}
.company_land .order-box button {
    width: 100%;
    height: 35px;
    background: #ff5353;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding: 0;
    border: 0;
    cursor: pointer;
}
.land_part{padding:60px 0px;}
.white_bg{background: #fff;}
.land_part_title{
    text-align: center;
}
.land_part_title div{
    font-size: 34px; color:#3b94e0; font-weight:bold;
    display: inline-block;border-bottom:2px solid #3b94e0; height: 16px;
    line-height: 32px;
    padding:0px 120px;
}
.land_part_title span{background: #fff;padding:0px 20px;}
.min-wrap{
    width:1000px;margin:0px auto;

    padding-bottom: 34px;
}
.with_line{border-bottom: 1px dashed #CCCCCC;}
.min-wrap table{width:100%; text-align: center; margin-top: 40px;}
.min-wrap table td div{font-size: 24px;color: #333; padding-top: 11px; padding-bottom:1px; }
.min-wrap table td p{
    color:#666; font-size: 16px;
}
.with_bg{
    height:416px;
    background: url(../img/PK.png) no-repeat center center;
    margin-top: 20px;
    position: relative;
    margin-bottom:29px;
}
.with_bg button{
    position: absolute; bottom:-29px;
    width: 175px; height: 50px;
    background: #ff5353;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    left:50%;
    margin-left: -87px;
    outline: none;
    cursor:pointer;
}
.gray_bg{
    background: #f5f5f5;
}
.gray_bg .land_part_title span{
    background: #f5f5f5 !important;
}
.price_table{width:1160px;margin:0px auto;margin-top: 40px;}
.price_item{width:356px;height: 380px; background: #fff; margin:0px auto;}
.price_item_head{height: 62px; color: #f5f5f5;font-size: 24px;text-align: center; line-height: 62px;}
.price_table .price_one{background: #f58c6c;}
.price_table .price_two{background: #fab458;}
.price_table .price_three{background: #5ea2ee;}
.price_table .koubei_item{width:258px;height: 375px;border:1px solid #cccccc; margin:0px auto;}
.price_table .koubei_item .bg_case{height: 180px; position: relative;}
.price_table .koubei_item .bg_case .num_xh{position: absolute; width:36px; height: 40px;top:0px;left:10px;font-size: 20px;text-align: center; color: #fff;}
.bg_case img{width:100%;
    height:100%;}
.bg_case .num_1{background: url(../img/phb01.png);}
.bg_case .num_2{background: url(../img/phb02.png);}
.bg_case .num_3{background: url(../img/phb03.png);}
.bg_case .num_4{background: url(../img/phb04.png);}
.bg_case .company_logo{position: absolute;width:110px; height: 110px;left:50%; margin-left: -55px; top:90px;border-radius: 50%; background: #fff;text-align: center; line-height: 110px;overflow: hidden;border:1px solid #ccc;}
.bg_case .company_logo img{
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}
.price_table .koubei_item .case_info{height: 195px;}
.case_info .com_name{font-size: 18px; color: #333; text-align: center;padding-top: 42px; padding-bottom: 12px;}
.icon_com .ping_num{
    display: inline-block;
    width:24px;height: 24px;
    background: #01bace;
    color:#fff;
    border-radius: 3px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-right: 10px;
}
.icon_com .an_num{
    display: inline-block;
    width:24px;height: 24px;
    background: #3db7f8;
    color:#fff;
    border-radius: 3px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-right: 10px;
}
.icon_com{width:75%; text-align: center;color:#666; font-size: 15px; margin:0px auto;}
.case_button{
    border:1px solid #808080;
    width:120px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    color: #333;
    margin:20px auto;
    cursor: pointer;
}
.case_button:hover{
    background: #ff5353;
    border:1px solid #ff5353;
    color:#fff !important;
}
.case_button:hover a{

    color:#fff !important;
}
.no-border{border:none; margin:0px;}
.no-border:hover{
    border:none;
}
.pinglun_item{
    width: 490px;
    height: 179px;
    background: #fff;
    padding:30px;
    padding-bottom: 40px;
    margin:0px auto;
}
.yz_info {overflow:hidden;margin-bottom:26px;}
.yz_info .yz_img{width:60px; height: 60px; border-radius: 50%;text-align: center;overflow:hidden; float: left;
 margin-right: 20px;}
.yz_info .yz_img img{height: 100%}
.yz_text p{font-size: 16px;color: #333;padding-bottom:4px; padding-top: 5px;}
.yz_text span{font-size: 14px; color:#999; padding-right:20px; }
.pinglun_content{color: #666666; font-size: 16px; height: 96px;}
.hd_ul{overflow:hidden;}
.hd_ul table{float: left;margin-left: 20px;}
.land_pagination{width: 100%; position: relative !important; margin-top: 32px; height: 12px; text-align: center; }
.land_pagination span{width:35px; border-radius: 0px; height: 4px; margin:0px 5px; display: inline-block;background: #ccc}
.swiper-active-switch{background: #ff5353!important;}
.main_banner{margin-top: 40px;}
.main_banner_wrap {
    width: 1130px !important;
    height: 360px !important;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.banner_btn span{left:60px !important;}
.btn_next {
    right: -7px !important;
}
.main_banner li .bottom_title{
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: -50px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    line-height: 35px;
    font-size: 14px;
}
.main_banner li span{
 position: absolute;
 width:120px !important;
 height: 40px !important;
 display: block !important;
 background: #ff5353 !important;
 color:#fff;
 left: auto !important;
 font-size:20px !important;
 right:0px !important;
 line-height: 40px !important;;
 top:0px !important;
}
.main_banner li .bottom_title div{padding:0px 10px;}
.btn_list {
    text-align: center;
    position: relative;
    left: 0;
    top: 26px !important;
    z-index: 10;
}
.btn_list span {
    width: 35px !important;
    height: 4px !important;
    display: inline-block;
    background: #C4C4C4 !important;
    margin:0px 5px;
    background: #787d82;
    border-radius:0px !important;
    cursor: pointer;
}
.btn_list  .curr{
    background: #ff5353!important;
}
.bz_item{
    height: 200px;
    margin-left: 13px;

}
.bz_item img{margin-right: 20px;}
.bz_item .bz_title{
    font-size: 22px; color:#333;padding-top:28px;padding-bottom: 10px;
}
.bz_item p{
    font-size:16px !important; color:#666666;
    margin-bottom: 3px;
    width:270px;
}
.bz_item p i{color:#ff5353;}
.large-dis{margin-left: 97px}

.bg_fadan{
   height: 413px;
   background: url(../img/bg_fadan.jpg) no-repeat center center;
}
.bg_fadan .order-box{
    box-shadow:none !important;
}
.land_bottom_fadan{margin:0px auto; background: #fff; padding:35px 40px;position: relative;top:23px; height: 300px; width:920px !important;}
.land_bottom_fadan .left_img{
    width:400px;
    height: 300px;
    position: relative;
}
.land_bottom_fadan .left_img img{width:100%;height: 100%}
.bt_fd_tit{width:483px; text-align: center; color:#333; font-size:26px; font-weight:bold;padding-bottom: 7px;}
.by_land {text-align: center;}
.by_land span{color:#3b94e0; font-weight: bold;font-size: 24px; text-align: center; }
.by_land .line{display: inline-block; width:3px; height: 24px; background: #3b94e0;margin:0px 4px; position: relative; top:4px;}
.land_bottom_fadan .order-box{
    height: auto!important; top:19px;
    margin:0px auto;
}
.land_bottom_fadan .order-box button{border-radius: 0px !important}
.bottom_kf{width:124px; height: 30px;cursor:pointer;background: #ff5353;padding:10px; position: absolute; left:0px;bottom:0px;}
.bottom_kf div{width: 100%; height: 30px; background: url(../img/kf_bottom.png) no-repeat; color: #fff; ;font-size: 14px; line-height: 30px; text-indent: 40px;}
.bottom_kf div a{color:#fff; display: block; width: 100%; height: 100%}
#land_mask{
    position: fixed;
    width:100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    top:0px;
    left:0px;
    z-index:999;
    display: none;
}
.result{

    background: #fff;position: fixed;
    z-index:9999;
    cursor: pointer;
}

#fadan{
    width:634px; height: 448px;
    margin:auto; left:0px; right:0px;top:0px;bottom:0px;
    background: url(../img/result_2.png);
    display: none;

}
#fadan img{position: absolute; top:201px;left:112px; width:175px; height:174px;}
#close_two{width:34px; height: 34px;position: absolute; top:0px; right:39px;}
.swiper-pagination-switch{cursor: pointer;}
.see_more{text-align: center; margin-top: 40px;   font-size: 18px;line-height: 18px}
.see_more a{color:#666;}
.placeholdersjs{color: #999 !important;}
.validate .height_auto {
    margin-bottom: 0 !important;
    height: 65px !important;
}
.result-box{position: relative; width:100%; height: 100%;}
.nr-pa-text{position: absolute; left:343px;top:217px;}
.nr-pa-text p{color:#666; line-height: 28px;font-size: 14px; }
.nr-pa-text i{color:#ff5353; font-size:10px; padding-right: 10px}