/*
* @Author: qz_xsc
* @Date:   2018-03-13 08:46:27
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-04-08 15:02:00
*/
/*
* @Author: qz_xsc
* @Date:   2018-02-25 09:40:50
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-02-28 16:01:05
*/
body{
    overflow-x: hidden;
}
.zb-bg1{ background:#82BDFF; height:450px;}
.zb-bg1-bg{
    background: url(/assets/home/company/img/zhuangxiu-banner.jpg) no-repeat;
    width:1920px;
    height:450px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
}



/*新发单窗*/
.order-box {
    width: 250px;
    height: 350px;
    position: relative;
    top: 50px;
    background: #fff;
    z-index: 3;
    text-align: center;
    border-radius: 3px;
    font-family: "Microsoft Yahei";
    padding: 0px 30px 0 30px;
    float: right;
    overflow: hidden;
    box-shadow: 0 0 8px 0 #999;
    -webkit-box-shadow: 0 0 8px 0 #999;
    -moz-box-shadow: 0 0 8px 0 #999;
    -ms-box-shadow: 0 0 8px 0 #999;
}

.order-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 33px;
    color: #ff5353;
    line-height: 20px;
}

.order-box h2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom:30px;
    line-height: 14px;
    color: #333;
}
.order-box h2 span{
    color:#ff5353;
}
.order-box .edit-text {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcd8d9;
    padding-left: 10px;
    display: block;
    font-size: 14px;
    color: #333;
}

.order-box .edit-city {
    width: 120px;
    height: 35px;
    border: 1px solid #dcd8d9;
    box-sizing: border-box;
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
}

.order-box .yz-info {
    height: 25px;
    color: #ff5659;
    text-align: left
}

.order-box button {
    width: 100%;
    height: 35px;
    background: #ff5353;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding: 0;
    border: 0;
    cursor: pointer
}

.order-box p {
    position: absolute;
    left: 40px;
    right: 40px;
    text-align: left;
    bottom: 30px;
    font-size: 14px;
    line-height: 14px;
}

.order-box p a {
    float: right;
    display: inline-block;
    color: #ff5659
}

.order-box .box-line {
    margin-bottom: 19px;
    overflow: hidden;
}
.zhaobiao-mark{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,.5);z-index: 99;display: none;}
.box-line span {
    float: right;
    margin-top: -26px;
    margin-right: 10px;
}
.house-type{
    height: 35px;
    width:100%;
    font-size: 14px;
    color: #333;
    border: 1px solid #dcd8d9;
    box-sizing: border-box;
}
.sheji-img img{height: 100%}
.part-item{
    padding:50px 0px;
}
.part-title{
    width:372px;
    height: 60px;
    background: url("../img/btbj.png");
    margin:0px auto;
    font-size: 36px;
    color:#fff;
    text-align: center;
    line-height: 60px;
}
.ldbz_table{
    width:100%;
    margin-top: 30px;
    text-align: center;
}
.ldbz_table img{
    display: block;

    margin:0px auto;
}
.ldbz_table p{
    font-size: 22px;
    padding-top: 15px;
    color: #333333;
}
.graybg{
    background:#F5F5F5;
}
.shbz_table{
    width:1160px;margin:25px auto;
    table-layout: fixed;
}
.shbz_table td{
    border:5px solid #f5f5f5;
}
.talk-box{
    background: #fff;
    padding-top: 20px;
    height: 172px;
    padding-left:10px;
    padding-right: 10px;
}
/* .talk-box div{

 height: 50%;
} */
.talk-box div .talk-item{
    max-width:250px;
   height: 100%
}
.talk-box div .talk-item p{
    display: table-cell;

     vertical-align: middle;

}
.talk-box div .talk-item span{

    padding:5px 10px;
    display: block;
    background: #DBF0F8;
    font-size: 14px;
    border-radius: 6px;

}
.gk{float: left;margin-bottom: 40px;position: relative;margin-left: 12px}
.gk:before{
    display: block;
    content: "";
    width:12px;
    height: 15px;
    position: absolute;
    left:-12px;
    top:50%;
    margin-top: -7px;
    background: url("../img/left_icon.png");
}
.kf{float: right;position: relative;margin-right: 12px;}
.kf:after{
    display: block;
    content: "";
    width:12px;
    height: 15px;
    position: absolute;
    right:-12px;
    top:50%;
    margin-top: -7px;
    background: url("../img/right_icon.png");
}
.st{margin-top: -15px;}
.middle_center{display: table;height: 100% !important;}
.middle_line{background: #e6e6e6; height: 1px;width:1150px; margin:30px auto;}
.middle_title{text-align: center;}
.middle_title div{
    font-size: 26px;color:#333333;
}
.middle_title p{
    font-size: 14px; color: #666666
}
.problem_resolve{
    width:1185px;
    margin:20px auto;
    table-layout: fixed;
}
.problem_resolve .pro_item{
    width: 360px;
    height:210px;
    background: #fff;
    margin:0px auto;
    text-align: center;
    padding-top: 30px;
}
.problem_resolve .pro_item div{
    font-size: 22px;
    color:#333;
    margin-top: 20px;
}
.problem_resolve .pro_item p{
    color: #999;
    font-size: 16px;
    margin-top: 12px;
}
.service_item{
    text-align: center;
    padding:30px 0px;
}
.service_item table{
    width:1150px;
    margin:0px auto;
    table-layout: fixed;
    font-size:26px;
    color:#333333;
    margin-bottom: 10px;
}
.service_item div{
    margin:0px;
    padding:0px;
    height: 102px;
}
.service_item table span{
    color:#ff5353;
}
#three .part-title{
    margin-bottom: 30px
}
.map_box{
    text-align: center;
    padding-top: 30px;
}
.map_table{
    width:1210px; margin:0px auto;
    table-layout:fixed;
    margin-top: 30px;
}
.ry_box{
    width:383px;
    height:287px;
    box-sizing: border-box;
    border:10px solid #363c51;
    border-radius: 10px;
    margin:0px auto;
}
.ry_title{

    margin-top:18px;
}
.ry_title h2{
    font-size: 20px;font-weight: normal;
    width:292px;
    margin:0px auto;
    height:67px;
}
.ry_title p{text-align: right; color:#666; font-size: 15px; width:292px; margin:0px auto;}
/*服务流程模块*/
.fw-step-box{width:1036px;height:90px;margin: 0 auto; margin-top: 30px;}
.fw-step i.arrow-right{width: 38px;height: 26px;float: left;display:block;margin-top:16px;margin-left:30px;margin-right:32px;background: url(/assets/home/company/img/arrow-right.png) no-repeat;}
.fw-step .step-item{width:88px;height:90px;float: left;}
.fw-step .step-item div{width: 56px;height: 53px;margin: 0 auto;}
.fw-step .step-item p{font-size: 16px;color: #333;text-align: center;line-height: 16px;margin-top: 18px;}
.fw-step .step-item div.yuyue{background: url(/assets/home/index/img/yuyue.png) center no-repeat;}
.fw-step .step-item div.yusuan{background: url(/assets/home/index/img/yusuan.png) center no-repeat;}
.fw-step .step-item div.hetong{background: url(/assets/home/index/img/hetong.png) center no-repeat;}
.fw-step .step-item div.shigong{background: url(/assets/home/index/img/shigong.png) center no-repeat;}
.fw-step .step-item div.yanshou{background: url(/assets/home/index/img/yanshou.png) center no-repeat;}
.fw-step .step-item div.shouhou{background: url(/assets/home/index/img/shouhou.png) center no-repeat;}

.why_foot{position: relative; height: 300px;}
.foot_bg{position: absolute; left:50%; margin-left: -960px;}
.why_ly{
    width:581px;height: 144px;
    position: absolute;
    color:#fff;
    top:74px;
}
.why_ly h2{
    font-size: 32px;color:#fff;
}
.why_ly table{
    width: 100%;
    font-size:14px;
    margin-top: 18px;
}
.why_ly table .large_title{
    font-size: 22px;
    margin-bottom: 5px;
}
.why_ly table img{
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.why_ly table div{
    float: left
}
.bottom_fadan{
    float: right;
    background: #fff;
    padding:18px 25px;
    height: auto !important;
    margin-top: -35px;
}
.bottom_fadan h1{
    font-size: 22px;
    color:#ff5353;
    line-height: 100%;
}
.bottom_fadan table{
    width: 100%;font-size: 16px;
    margin:10px auto;

}
.bottom_fadan .box-line{
    width:250px;
    margin-bottom: 9px;
}

/* 左侧栏 */
.left_fixed_menu{
    width:56px;
    position: fixed;
overflow: hidden;
    top:160px;
    height: 346px;
    background:#E6E6E6;
    cursor: pointer;
}
@media screen and (max-width: 1400px) {
    .left_fixed_menu{
        left:10px;
    }
}
@media screen and (max-width: 1600px) {
    .left_fixed_menu{
        left:40px;
    }
}
@media screen and (min-width: 1601px) {
    .left_fixed_menu{
        left:10%;
    }
}
.left_item{width:100%;
 border-bottom:1px solid #fff; font-size: 14px;color:
#666; padding:10px 14px; }
.left_item span{
    width:29px;
    height:37px;
    display: block;
    line-height: 16px;

}
.left_active{
    background: #ff5353;
    color: #fff;
}