.topbanner{width: 100%;height: 450px;background: url(/assets/home/company/img/banner01.jpg) no-repeat center center;
background-size: cover;overflow: hidden;max-width: 1920px;}
.topbanner .topbjnr{width: 1210px;margin: 0 auto;}


.order-box { width: 250px; height: 355px; position: relative; top: 38px; background: #fff; z-index: 3; text-align: center;
 font-family: "Microsoft Yahei"; padding: 15px 40px 0 40px;box-shadow: 0 0 6px 0 rgba(0,0,0,.2);float: right;}
.order-box .h1 { font-size: 20px; font-weight: 100;display: block;font-weight: bold;margin-top: 15px;color: #ff5353;}
.order-box .h2 { font-size: 14px; font-weight: 100; margin: 0 0 15px 0;display: block;color: #333;}
.order-box .h2 .numberhq{color: #ff5353;}
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 20px; display: block; }
.order-box .edit-city,.order-box .edit-quyu { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box button { width: 100%; height: 35px;box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5);background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer;transition: all 0.5s ease;}
.order-box button:hover{box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5)}
.order-box .order-box-tip{font-size: 12px;color: #666;width: 292px;position: relative;left: -14px;top: -4px;}
.validate .box-line{margin-bottom: 20px;outline: none;}
.height_auto{height: 60px !important;margin-bottom: 0 !important;}
.focus {
    border: 1px solid #DE4349 !important;
}

.strictkz{overflow: hidden;width: 1210px;margin: 0 auto;}
.strictkz .strictkz_title{text-align: center;margin-top: 50px;}
.strictkz .strictkz_title span{color: #333;font-size: 36px;position: relative;}
.strictkz .strictkz_title span:before{content:"";width: 80px;height: 2px;background: #333;position: absolute;left: -94px;top: 24px;}
.strictkz .strictkz_title span:after{content:"";width: 80px;height: 2px;background: #333;position: absolute;right: -94px;top: 24px;}
.strictkz .strictkz_titlefu{font-size: 18px;color: #999;text-align: center;margin-top: 5px;}
.strictkz .selectkz{overflow: hidden;margin-top: 28px;margin-bottom: 30px;}
.strictkz .selectkz li{width: 226px;height: auto;overflow:hidden;display: inline-block;float: left;margin-right: 20px;margin-bottom: 30px;}
.strictkz .selectkz li:hover{-webkit-box-shadow:0 15px 30px rgba(0,0,0,.1);
  -moz-box-shadow:0 15px 30px rgba(0,0,0,.1);
  box-shadow:0 15px 30px rgba(0,0,0,.1); }
.strictkz .selectkz li .dingwei{position: relative;}
.strictkz .selectkz li .dingwei .bantoumbj{width: 100%;height: 240px;position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.5);line-height: 240px;
text-align: center;color: #fff;font-size: 22px;}
.strictkz .selectkz li .dingwei .bantoumbj2{width: 100%;height: 240px;position: absolute;top: 0;left: 0;line-height: 240px;
text-align: center;color: #fff;font-size: 22px;}
.strictkz .selectkz li .zhengxin{width: 100%;float: left;height: 240px;background: url(/assets/home/company/img/zx.jpg) no-repeat center center;}
.strictkz .selectkz li .tums{font-size: 14px;color: #333;padding: 15px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
display: inline-block;border:1px solid #e6e6e6;}
.strictkz .selectkz li .anli{width: 100%;float: left;height: 240px;background: url(/assets/home/company/img/al.jpg) no-repeat center center;}
.strictkz .selectkz li .koubei{width: 100%;float: left;height: 240px;background: url(/assets/home/company/img/kb.jpg) no-repeat center center;}
.strictkz .selectkz li .gongyi{width: 100%;float: left;height: 240px;background: url(/assets/home/company/img/gy.jpg) no-repeat center center;}
.strictkz .selectkz li .jiage{width: 100%;float: left;height: 240px;background: url(/assets/home/company/img/jg.jpg) no-repeat center center;}
.strictkz .selectkz li.nomargin{margin-right: 0 !important;}

.service{width: 100%;height: 880px;background: #f5f5f5;overflow: hidden;}
.service .service_content{width: 1210px;height: auto;margin:0 auto;}
.service_content .service_title{text-align: center;margin-top: 50px;}
.service_content .service_title span{color: #333;font-size: 36px;position: relative;}
.service_content .service_title span:before{content:"";width: 80px;height: 2px;background: #333;position: absolute;left: -94px;top: 24px;}
.service_content .service_title span:after{content:"";width: 80px;height: 2px;background: #333;position: absolute;right: -94px;top: 24px;}
.service_content .service_titlefu{font-size: 18px;color: #999;text-align: center;margin-top: 5px;}

.serviceul{width: 1028px;margin:0 auto;margin-top: 30px;}
.serviceul li{width: 300px;height: 300px;margin-right: 60px;display: inline-block;float: left;margin-bottom: 60px;position: relative;
color: #fff;}

/*.serviceul li:hover .showlogo{opacity: 0;}
.serviceul li:hover .hidems{left: 0;}*/

.serviceul li.nobianjv{margin-right: 0 !important;}
.serviceul .mfsj{background:url(/assets/home/company/img/mfsj.jpg) no-repeat center center;background-size: 100% 100%;}
.serviceul .mfbj{background:url(/assets/home/company/img/mfbj.jpg) no-repeat center center;background-size: 100% 100%;}
.serviceul .mfgl{background:url(/assets/home/company/img/mfgl.jpg) no-repeat center center;background-size: 100% 100%;}
.serviceul .zykf{background:url(/assets/home/company/img/zykf.jpg) no-repeat center center;background-size: 100% 100%;}
.serviceul .ptgk{background:url(/assets/home/company/img/ptgg.jpg) no-repeat center center;background-size: 100% 100%;}
.serviceul .tmyz{background:url(/assets/home/company/img/tmyz.jpg) no-repeat center center;background-size: 100% 100%;}
.serviceul li .showlogobj{position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;background: rgba(0,0,0,0.6);
opacity: 1;}
.serviceul li .showlogo{position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;opacity: 1;
/*transition: all 1s;-webkit-transition:all 1s;-moz-transition:all 1s;*/}
.serviceul li .showlogo img{margin-top: 70px;}
.serviceul li .showlogo p{font-size: 16px;margin-top: 20px;}
.serviceul li .showlogo h6{font-size: 22px;margin-top: 5px;}

/*.serviceul li .hidems{width: 100%;height: 180px;background: rgba(0,0,0,0.6);position: absolute;top: 0;bottom: 0;margin:auto;text-align: center;
overflow: hidden;left: -300px;}*/

.serviceul li .hidemsbj{width: 100%;height: 180px;background: rgba(0,0,0,0.6);position: absolute;top: 0;bottom: 0;margin:auto;text-align: center;
overflow: hidden;left:0px;opacity:0;}
.serviceul li .hidems{width: 100%;height: 180px;position: absolute;top: 0;bottom: 0;margin:auto;text-align: center;
overflow: hidden;left:0px;opacity:0;/*transition: all 1s;-webkit-transition:all 1s;-moz-transition:all 1s;*/z-index: 5;}

.serviceul li .hidems .mstitle{font-size: 18px;margin-top: 50px;}
.serviceul li .hidems .hengx{width: 30px;height: 2px;background: #fff;margin: 15px auto;}
.serviceul li .hidems .detailedms{font-size: 14px;width: 230px;margin: 0 auto;line-height: 18px;}

.aboutus{width: 1210px;margin: 0 auto;height: 412px;}
.aboutus .aboutus_content{text-align: center;margin-top: 50px;}
.aboutus .aboutus_title span{color: #333;font-size: 36px;position: relative;}
.aboutus .aboutus_title span:before{content:"";width: 80px;height: 2px;background: #333;position: absolute;left: -94px;top: 24px;}
.aboutus .aboutus_title span:after{content:"";width: 80px;height: 2px;background: #333;position: absolute;right: -94px;top: 24px;}
.aboutus .aboutus_titlefu{font-size: 18px;color: #999;text-align: center;margin-top: 5px;}

.aboutus .aboutul{overflow: hidden;height: 230px;margin-top: 10px;}
.aboutus .aboutul li{display: inline-block;float: left;text-align: center;margin-right: 86px;height: 100%;position: relative;width: 215px;}
.aboutus .aboutul li.qumargin{margin-right: 0 !important;}
.aboutus .aboutul li.jvlileft{margin-left: 40px;}
.aboutus .aboutul li img{position: absolute;bottom: 52px;left: 0;right: 0;margin:auto;}
.aboutus .aboutul li p{font-size: 16px;color: #333;margin-top: 20px;position: absolute;bottom: 10px;left: 0;right: 0;margin:auto;}

.useranli{width: 100%;height: 716px;margin: 0 auto;background:url(/assets/home/company/img/useranlibj.jpg) no-repeat center center;
	overflow: hidden;}
.useranli .useranli_cont{width: 1210px;margin: 0 auto;height: auto;overflow: hidden;}
.useranli_cont .useranli_title{text-align: center;margin-top: 50px;}
.useranli_cont .useranli_title span{color: #fff;font-size: 36px;position: relative;}
.useranli_cont .useranli_title span:before{content:"";width: 80px;height: 2px;background: #fff;position: absolute;left: -94px;top: 24px;}
.useranli_cont .useranli_title span:after{content:"";width: 80px;height: 2px;background: #fff;position: absolute;right: -94px;top: 24px;}
.useranli_cont .useranli_titlefu{font-size: 18px;color: #fff;text-align: center;margin-top: 5px;}

.useranli_cont .gundkz{width: 100%;height: 496px;margin-top: 30px;}
#focus{height: 100%;}
#focus .ieswiper-container{height: 100%;}
#focus ul li.ieswiper-slide{height: 100%;}
#focus ul li.ieswiper-slide .itembj{height: 100%;float: left;display: inline-block;width: 390px;margin-right: 20px;
overflow: hidden;}
#focus ul li.ieswiper-slide .noright{margin-right: 0 !important;}
#focus ul li.ieswiper-slide .itembj .topfgbj{width: 100%;height: 292px;float: left;}
#focus ul li.ieswiper-slide .itembj .peoplems{width: 100%;height: 82px;border-bottom: 1px solid #e6e6e6;display: inline-block;position: relative;
background: #fff;}
#focus ul li.ieswiper-slide .itembj .peoplems .touxbj{width: 50px;height: 50px;position: absolute;left: 10px;top: -15px;}
#focus ul li.ieswiper-slide .itembj .peoplems .nameage{color: #333;font-size: 16px;margin-left: 78px;margin-top: 20px;}
#focus ul li.ieswiper-slide .itembj .peoplems .nameage span{margin-left: 20px;}
#focus ul li.ieswiper-slide .itembj .peoplems .jvtims{margin-left: 78px;color: #999;margin-top: 5px;font-size: 16px;}
#focus ul li.ieswiper-slide .itembj .peoplems .jvtims span{margin-left: 10px;}
#focus ul li.ieswiper-slide .itembj .bottomjvms{text-align: justify;padding:16px 31px;font-size: 14px;color: #666;line-height: 25px;background: #fff;
height: 120px;}

#focus .prevniu01{width: 42px;height: 85px;background: url(/assets/home/company/img/prevniu.png) no-repeat center center;
position: absolute;left: 0;top: 45%;z-index: 9;}
#focus .nextniu02{width: 42px;height: 85px;background: url(/assets/home/company/img/nextniu.png) no-repeat center center;
position: absolute;right: 0;top: 45%;z-index: 9;}

.mediakz{width: 100%;height: 649px;background: #fff;overflow: hidden;}
.mediakz .media_cont{width: 1210px;height: 100%;margin: 0 auto;}
.media_cont .media_title{text-align: center;margin-top: 50px;}
.media_cont .media_title span{color: #333;font-size: 36px;position: relative;}
.media_cont .media_title span:before{content:"";width: 80px;height: 2px;background: #333;position: absolute;left: -94px;top: 24px;}
.media_cont .media_title span:after{content:"";width: 80px;height: 2px;background: #333;position: absolute;right: -94px;top: 24px;}
.media_cont .media_titlefu{font-size: 18px;color: #999;text-align: center;margin-top: 5px;}
.media_cont .meitibj{width: 100%;height: 460px;background: #f5f5f5;margin: 0 auto;margin-top: 20px;overflow: hidden;}
.media_cont .meitibj .huadongkz{width: 560px;height: 420px;margin-top: 20px;margin-left: 20px;display: inline-block;float: left;}
#focus2{height: 100%;}
#focus2 .ieswiper-container{height: 100%;}
#focus2 ul li.ieswiper-slide{height: 100%;overflow: hidden;position: relative;}
#focus2 ul li.ieswiper-slide img{width: 100%;height: 100%;}
#focus2 ul li.ieswiper-slide .mediafootms{width: 100%;height: 50px;line-height:50px;background:url(/assets/home/company/img/mediafootms.png) no-repeat center center;
position: absolute;bottom: 0;left: 0;font-size: 16px;color: #fff;text-indent: 1.5em;}
#focus2 ul li.ieswiper-slide .mediafootms .wenanms{float: left;display: inline-block;}
#focus2 ul li.ieswiper-slide .mediafootms .tupianindex{position: absolute;right: 42px;display: inline-block;text-indent: 0;text-align: right;}

#focus2 .meidiabd{position: relative;}
#focus2 .suoyinbj{position: absolute;right: 41px;bottom: 13px;color: #fff;z-index: 8;font-size: 16px;}

#focus2 .meidiabd .mediajiant01{position: absolute;width: 16px;height: 16px;background:url(/assets/home/company/img/meidajiant01.png) no-repeat center center;
bottom: 17px;right: 76px;z-index: 9; }
#focus2 .meidiabd .mediajiant02{position: absolute;width: 16px;height: 16px;background:url(/assets/home/company/img/meidajiant02.png) no-repeat center center;
bottom: 17px;right: 18px;z-index: 9; }

.media_cont .meitibj .medialogo{display: inline-block;overflow: hidden;margin-left: 50px;width: 572px;height: 312px;
background:url(/assets/home/company/img/meidaheji.png) no-repeat center center;margin-top: 77px;margin-left: 38px;}

.footfadan{width: 100%;height: 300px;background:url(/assets/home/company/img/banner02.jpg) no-repeat center center;
background-size: cover;overflow: hidden;}
.footfadan .medialogo_cont{width: 1210px;margin: 0 auto;height: 100%;overflow: hidden;}

.order-box2 { width: 250px; height: 233px; position: relative; top: 26px; background: #fff; z-index: 3; text-align: center;
 font-family: "Microsoft Yahei"; padding: 30px 40px 0 40px;box-shadow: 0 0 6px 0 rgba(0,0,0,.2);float: right;}
.order-box2 .h1 { font-size: 20px; font-weight: 100;display: block;font-weight: bold;margin-top: 15px;color: #ff5353;}
.order-box2 .h2 { font-size: 14px; font-weight: 100; margin: 0 0 15px 0;display: block;color: #333;}
.order-box2 .h2 .numberhq{color: #ff5353;}
.order-box2 .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 20px; display: block; }
.order-box2 .edit-city-qa,.order-box2 .edit-quyu-qa { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box2 button { width: 100%; height: 35px;box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5);background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer;transition: all 0.5s ease;}
.order-box2 button:hover{box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5)}
.order-box2 .order-box-tip{font-size: 12px;color: #666;width: 292px;position: relative;left: -14px;top: -4px;}

.beijingyy{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: fixed;top: 0;bottom: 0;left: 0;right: 0;
z-index: 99;margin:auto;display: none;}
.successts{width: 634px;
    height: 432px;
    border-radius: 10px;
    border: 10px solid #ffe6d2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -216px;
    margin-left: -317px;
    z-index: 99;
    background: #fff;
    display: none;
}
.successts .guanbiniu {
    width: 39px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    background: url(/assets/common/img/guanbianniu.png) no-repeat !important;
    position: absolute;
    right: 10px;
    top: -66px;
}
.successts .tjcgbt{font-size: 26px;color: #ff5353;text-align: center;}
.successts .tjcgbt2{text-align: center;font-size: 12px;color: #333;letter-spacing: 1px;}
.successts .tjcgbt2 span{color: #ff5353;}
.successts .erweima1{width: 100%;height: auto;overflow: hidden;margin-top: 50px; position: relative}
.successts .erweima1 .weima{float: left;width: 175px;height: 174px;display: inline-block;}
.successts .erweima1 .meinvts{float: right;width: 212px;height: 160px;display: inline-block;position: relative;top: 7px;}

.nr-pa-text{position: absolute; left:220px;top:15px;z-index: 9}
.nr-pa-text p{color:#666; line-height: 28px;font-size: 14px; }
.nr-pa-text i{color:#ff5353; font-size:10px; padding-right: 10px}
.second-text{left:324px!important; top:187px!important;}






