.ml10 { margin-left: 10px }
.mr10 { margin-right: 10px }

.baike-nav{ width:260px; float:left}
.baike-nav dl{border:1px solid #eee}
.baike-nav dl dd {background:url(./images/21.png); width:258px; height:124px}
.baike-nav dl dt a {color:#3587d8; display:block;line-height:40px; border-bottom:1px solid #f2f9ff; font-family:"Microsoft YaHei"; font-size:16px; padding-left:30px; font-weight:bold}
.baike-nav dl dt a i{width:20px; display:inline-block}
.baike-nav dl dt a:hover {text-decoration:none; background:url(./images/214352.png)}
.baike-nav dl dt:last-of-type a{border:0}
.baike-nav dl dt.active {background:url(./images/214352.png);}

.baike-right{ background:#fcfcfc; width:930px; float:right;font-family:"Microsoft YaHei";padding-bottom:20px;}
.baike-right dl{ padding:20px; overflow:hidden;}
.baike-right dl dt{ font-size:20px; border-bottom:1px solid #eee; line-height:30px; margin-bottom:10px; clear:both}
.baike-right dl dd { font-size:15px;float:left; margin-right:20px; line-height:25px}

.right-box{ border:1px solid #f1f1f1; padding:10px;font-family:Microsoft YaHei;}
.right-tit{ font-size:16px; border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px}
.bq-list li{ float:left; margin-right:20px; line-height:25px; margin-bottom:5px}
.bq-list li a{ color:#888}

.lr-window p.tit{ color:#aaa}
.lr-window p{margin-bottom:10px}
.lr-window p input[type=text]{ height:30px; width:226px; border:1px solid #cfcfcf; padding-left:10px}
.lr-window a{ display:block; text-align:center; height:30px; line-height:30px; color:#fff; background:#eb5858}
.lr-window a:hover{ text-decoration:none; background:#e44949}


.baike-tit{ border:1px solid #eee; background:#fcfcfc; float:right; width:888px; padding:20px;font-family:Microsoft YaHei; overflow:hidden}
.baike-tit-img{ border:1px solid #eee; padding:10px; float:left; overflow:hidden; width:150px; height:150px; background:#fff; text-align:center; margin-right:20px}
.baike-tit-img img{ height:100%; width:auto; max-width:100%}
.baike-tit-main{ float:right; width:696px; font-size:14px}
.baike-tit-main h1{ font-size:32px; font-weight:100}
.baike-tit-main p{ line-height:25px; margin-top:10px; text-indent:28px}

.baike-content{ float:right; width:910px; padding:10px; font-size:16px;font-family:Microsoft YaHei; line-height:30px}

.baike-about{font-family:Microsoft YaHei; float:right; margin-top:20px;width:908px; padding:10px; border:1px solid #eee}
.baike-about h1{ border-bottom:1px solid #eee;font-size:18px; font-weight:100; padding-bottom:10px; margin-bottom:10px}
.baike-about ul li{ float:left; margin-right:20px;}


.home-right{ width:930px; float: right;}

.home-right-f {float:left;width:665px;}
.home-right-r {float:right;}
.add-btn-box {width:259px;height:40px;border:1px #F55259 solid;line-height:40px;text-align:center;background:#ef6969;cursor:pointer}
.add-btn-box a {font-size:18px;color:#fff;}
.add-btn-box a:hover{text-decoration: none}
.add-btn-box:hover {background:#F28787;}

.home-search{padding:20px; position:relative}
.home-search input[type=text]{ border:1px solid #cfcfcf; height:30px; width:505px; border-right:0; float:left;padding-left:10px;}
.home-search input[type=text]:focus{ outline:none}
.home-search .btn{ background:#f1f1f1; border:1px solid #cfcfcf; display:block; line-height:30px; float:right; width:107px; text-align:center; font-size:14px}
.home-search .btn:hover{ text-decoration:none; background:#f7f7f7}
.home-search .home-search-hot{ clear:both; line-height:30px; color:#aaa}
.home-search .home-search-hot span{ color:#5895d5}
.home-search .home-search-hot a{ color:#aaa; margin-right:10px}

.tabwrap1 {width:660px;height:280px;overflow: hidden;margin-top:10px;float:left}
.tabwrap1 .tabtop{ position:relative; height:40px; line-height:40px; font-family:"Microsoft YaHei"; border-bottom:1px solid #f1f1f1}
.tabwrap1 .tabtop h3{ margin-left:15px; font-size:16px;font-family:"Microsoft YaHei"; font-weight:100}
.tabwrap1 .tab-nav {position:absolute;height: 10px;overflow: hidden;top:17px; right:20px;}
.tabwrap1 .tab-nav a {display: block;float: left;width: 10px;height: 10px;background:#ccc;margin-left:5px;border-radius:5px}
.tabwrap1 .tab-nav a.current {background: #ff9aa1;}

.tabwrap1 .tab-con {position:relative;width: 700px;height:250px;overflow: hidden; }
.tabwrap1 .tab-con-item {display: none;width:700px;height:250px;overflow:hidden;}
.tabwrap1 .tab-con-item ul {width:680px; padding:10px; display:block; overflow:hidden}

.tabwrap1 .tab-con-item ul li{ float:left; display:block; width:180px; height:194px; margin:5px; background:url(./images/wenzbg.gif); border:1px dashed #eee; padding:10px; line-height:25px}
.tabwrap1 .tab-con-item ul li .wenztabtu{ width:180px; height:128px;overflow:hidden;}
.tabwrap1 .tab-con-item ul li .wenztabtu img{ width:100%; height:100%}
.tabwrap1 .tab-con-item ul li .wenztabtit{ height:50px; overflow:hidden; display:block; margin:10px 0}
.tabwrap1 .tab-con-item ul li .wenztabtit a{ color:#666}
.tabwrap1 .tab-con-item ul li .wenztabtit a:hover{ text-decoration:none}
.tabwrap1 .tab-con-item ul li .wenztabtit a.wenz-main{ display:block}
.tabwrap1 .tab-con-item ul li .wenztabtit a.wenz-tit{ font-size:16px;font-family:"Microsoft YaHei"; }
.tabwrap1 .tab-con-item ul li .wenztabtit a.wenz-tips{ background:#5895d5; color:#fff; display:inline-block; padding:0 10px; float:right}

.home-title{font-size:16px; border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px;font-family:"Microsoft YaHei"; padding-left:10px }
.home-list{ clear:both; width:950px; overflow:hidden; padding-top:20px}
.home-list .home-list-box{ width:453px; float:left; border:1px solid #eee; font-family:"Microsoft YaHei"; padding-top:0px; margin-right:20px; margin-bottom:20px}
.home-list .home-list-box h1{ font-size:16px; line-height:30px; height:30px; color:#666; margin-bottom:20px; font-weight:100; background:#f7f7f7; padding-left:20px}
.home-list .home-list-box .home-list-im{ line-height:30px}
.home-list .home-list-box .home-list-im h2{ font-weight:100}
.home-list .home-list-box .home-list-im p.about-main{ height:60px; line-height:20px; color:#aaa}
.home-list .home-list-box .home-list-im p.about-word a{ margin-right:10px}
.home-list .home-list-box .home-list-im img{ float:left; width:150px; height:120px; margin-right:20px; margin-left:20px}
.home-list .home-list-box ul{ clear:both; padding:10px 20px; line-height:25px; height:75px; overflow:hidden}
.home-list .home-list-box ul strong{ margin-right:10px}

.inputbox .int{ width:210px; margin:0 auto;  height:30px;line-height:30px; margin-bottom:20px; overflow:hidden}
.inputbox .int input{ width:198px; border:0; margin:0; padding:0; height:28px; padding-left:10px; float:left; color:#888; line-height:30px;border:1px solid #ccc;}
.inputbox .int a{ width:100%; height:30px; display:block; float:left; text-align:center; color:#fff; font-size:14px; font-weight:bold ; background:#db393e }
.inputbox .int .sele{ width:96px; height:30px; line-height:30px;border:1px solid #ccc;color:#888; padding-left:10px;}
.inputbox .int a:hover{ background:#d0383e; text-decoration:none}
.inputbox .tips{width:210px; margin:20px auto; color:#888; font-size:18px;font-family:"Microsoft YaHei"; color:#db393e;  }
.inputbox .tips1{ text-align:center;}
.inputbox .tips i{ font-size:14px; font-weight:bold}

.bread a {font-size:16px;font-weight: 100;font-family:Microsoft YaHei;}

.clear-div {width: 100%; clear: both;}
.secbox_form {margin-top:20px;}

.list-box ul li {padding:20px 0; border-bottom:1px dotted #e8e8e8;}
.list-box ul li .list-item-right {float: left;_overflow:hidden;padding:10px 20px;}
.list-box ul li .list-item-right .list-item-title{color: #333333; font-size: 20px;line-height: 20px; height: 42px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.list-box ul li .list-item-right .list-item-title a{color: #333333;}
.list-box ul li .list-item-right .list-item-title a:hover{color:#f25618;}
.list-box .list-time-right{ float:right; color:#999; font-size: 12px;}
.list-box ul li .list-item-right .list-item-summary {overflow: hidden; line-height: 20px;}
