body{font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
input{outline: none !important;-webkit-appearance: none !important;appearance: none !important;}
.zhulihd_01{width: 100%;height: 113.5px;background: url(/assets/home/mobile_zhongqiu/img/zhuli_hd01.jpg) no-repeat;background-size: 100% 100%;}
.zhulihd_02{width: 100%;height: 125.5px;background: url(/assets/home/mobile_zhongqiu/img/zhuli_hd02.jpg) no-repeat;background-size: 100% 100%;}
.zhulihd_03{width: 100%;height: 125.5px;background: url(/assets/home/mobile_zhongqiu/img/zhuli_hd03.jpg) no-repeat;background-size: 100% 100%;
overflow: hidden;text-align: center;position: relative;}
.zhulihd_03 .anniudj{background: url(/assets/home/mobile_zhongqiu/img/zhuli_hd06.jpg) no-repeat;background-size: 100% 100%;display: inline-block;border: 0;width: 102.5px;height: 42px;margin:0 auto;margin-top: 80px;}
.zhulihd_03 .daojis{display: inline-block;width: 235px;height: 32px;line-height:32px;position: absolute;top: 0;left: 0;right: 0;
	margin:auto;font-size: 12px;text-align: center;}
.zhulihd_04{width: 100%;height: 81.5px;background: url(/assets/home/mobile_zhongqiu/img/zhuli_hd04.jpg) no-repeat;background-size: 100% 100%;}
.zhulihd_05{width: 100%;height: 100.5px;background: url(/assets/home/mobile_zhongqiu/img/zhuli_hd05.jpg) no-repeat;
	background-size: 100% 100%;position: relative;}
.zhulihd_05 .yingguoq{color: #fff;display:inline-block;font-size: 16px;position:absolute;right: 8.6%;top: 18%;}
.zhulihd_05 .lijicany{display:inline-block;background: #fff;padding: 7px 16px;border-radius: 10px;position:absolute;top: 52%;
right: 8.6%;}
.bantoum{background: rgba(4,4,4,0.5);position: fixed;top:0;bottom: 0;left: 0;right: 0;display: none;}
.tanclingjaing{width: 92%;height:302px;background: #fff;margin: 0 auto;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;
border-radius: 5px;padding: 0 15px;box-sizing: border-box;display: none;}
.tanclingjaing .title{text-align: center;font-size: 20px;color: #333;margin-top: 20px;margin-bottom: 20px;}
.tanclingjaing .formbt{width: 100%;margin-top: 20px;}
.tanclingjaing .formbt li{overflow: hidden;}
.tanclingjaing .formbt li.jvli{margin-top: 10px;}
.tanclingjaing .formbt li input{height: 44px;width: 100%;border: 1px solid #ddd;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;padding-left: 3px;border-radius: 0;font-size: 1em;color: #333;border-radius: 5px;}
.tanclingjaing .formbt li .lijicanyu{width: 100%;height: 44px;background: #fc0d2d;border:none;color: #fff;text-align: center;
	font-size: 15px;border-radius: 5px;}
.c-zb-city{border-radius: 5px !important;}
.tanclingjaing2{width: 92%;height:232px;background: #fff;margin: 0 auto;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;
border-radius: 5px;padding: 0 15px;box-sizing: border-box;display: none;text-align: center;}
.tanclingjaing2 .gongxtitle{color: #fc0d2d;text-align: center;font-size: 20px;margin-top: 20px;text-align: center;font-size: 22px;}
.tanclingjaing2 .zhutnr{font-size: 13px;text-align: center;line-height: 16px;margin-top: 13px;color: #666;}
.tanclingjaing2 .otherhd{font-size: 15px;color: #333;text-align: center;margin-top: 23px;}
.tanclingjaing2 .aniutijiao{text-align: center;background: #fc0d2d;color: #fff;padding:10px 15px;font-size: 15px;
border-radius: 5px;display: inline-block;margin-top: 13px;}
.tanchaugnwzj{width: 92%;height:160px;background: #fff;margin: 0 auto;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;
border-radius: 5px;padding: 0 15px;box-sizing: border-box;text-align: center;display: none;}
.tanchaugnwzj .titwzj{text-align: center;color: #333;font-size: 18px;margin-top: 25px;margin-bottom: 25px;}
.tanchaugnwzj .aniutijiao2{text-align: center;background: #fc0d2d;color: #fff;padding:10px 15px;font-size: 15px;
border-radius: 5px;display: inline-block;margin-top: 13px;}
.tanchuangzhongj{width: 92%;height:165px;background: #fff;margin: 0 auto;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;
border-radius: 5px;padding: 0 15px;box-sizing: border-box;text-align: center;display: none;}
.tanchuangzhongj .gongxi{color: #fc0d2d;font-size: 18px;margin-top: 20px;}
.tanchuangzhongj .jpjs{font-size: 15px;color: #333;margin-top: 10px;}
.tanchuangzhongj .shuagnanniu{overflow:hidden;margin-top: 14px;}
.tanchuangzhongj .shuagnanniu .getup{width: 100px;height: 40px;line-height:40px;border:1px solid #dedee0;border-radius: 5px;background: #fff;
	box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;display: inline-block;text-align:center;color: #333;}
.tanchuangzhongj .shuagnanniu .lingqujp{width: 100px;height: 40px;line-height:40px;border:1px solid #dedee0;border-radius: 5px;
	box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;display: inline-block;text-align:center;color: #fff;
background: #fc0d2d;margin-left: 50px;}
.huodwkais{width: 92%;height:93px;line-height:93px;background: #fff;margin: 0 auto;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;
border-radius: 5px;padding: 0 15px;box-sizing: border-box;text-align: center;font-size: 19px;display: none;}
.winning{width: 92%;height:110px;line-height:110px;background: #fff;margin: 0 auto;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;
	border-radius: 5px;padding: 0 15px;box-sizing: border-box;text-align: center;font-size: 19px;display: none;}
.winning .aniutijiao2{text-align: center;background: #fc0d2d;color: #fff;padding:5px 10px;font-size: 15px;
	border-radius: 5px;display: inline-block;margin-top: 13px;}