body{font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
input{outline: none !important;-webkit-appearance: none !important;appearance: none !important;}
.moon_banner{width: 100%;height: 187.5px;overflow: hidden;}
.moon_banner img{width: 100%;height: 187.5px;}
.moon_canyu{width: 100%;height: 132px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_2.jpg) no-repeat;background-size: 100% 100%;overflow: hidden;}
.moon_canyu button{background: none;border:none;width: 100%;height: 44px;line-height: 44px;text-align: center;margin-top: 14.5px;color: #fff;font-size: 15px;}
.moon_smlf{width: 100%;height: 152px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_3.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_lqsfsjfa{width: 100%;height: 55px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_4.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu1{width: 100%;height: 145px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_5.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu2{width: 100%;height: 151px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_6.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu3{width: 100%;height: 69px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_7.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu4{width: 100%;height: 144.5px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_8.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu5{width: 100%;height: 59px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_9.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu6{width: 100%;height: 144px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_10.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;position: relative;}
.moon_zstu6 .ljcanytop{width: 60px;height: 20px;background: #ff5454;line-height: 20px;text-align: center;color: #fff;
font-size: 12px;display: inline-block;position: absolute;right: 71px;top: 111px;}
.moon_zstu7{width: 100%;height: 161px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_11.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu8{width: 100%;height: 65.5px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_12.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu9{width: 100%;height: 190px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_13.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu10{width: 100%;height: 59.5px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_14.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu11{width: 100%;height:91.5px;background: #fff;padding: 0 10px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;overflow: hidden;font-size: 12px;color: #999;}
.moon_zstu11 .canyfs{margin-top: 5px;}
.moon_zstu11 .canyfs .yangszt{color: #333;}
.moon_zstu12{width: 100%;height: 6.5px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_15.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.moon_zstu13{width: 100%;height: 130px;background: #fff;
background-size: 100% 100%;overflow: hidden;padding: 0 10px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;font-size: 12px;color: #999;}
.moon_zstu13 h4{color: #333;margin-top: 9px;}
.moon_zstu13 .hdgzwz{margin-top: 1px;}
.fudongtis{width: 100%;height: 60px;background: url(/assets/home/mobile_zhongqiu/img/moonhuod_16.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;position: fixed;bottom: 0;}
.fudongtis .fudtchuagn{display: inline-block;width:81.5px;height:30px;line-height:30px;background: #fff;color: #ff663c;
	border-radius: 5px;text-align: center;margin-top: 15px;float: right;margin-right: 20px;
}
.bantoum{background: rgba(4,4,4,0.5);position: fixed;top:0;bottom: 0;left: 0;right: 0;display: none;}
.tcxzk{width: 95%;height: 283px;background: #fff;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;display: none;
padding: 0 10px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;}
.tcxzk h2{font-size: 17px;color: #ff5628;text-align: center;margin-top: 19px;}
.tcxzk .guanbi{position: absolute;top: 7px;right: 7px;font-size: 16px;color: #bdbdbd;display: inline-block;padding: 3px 5px;}
.tcxzk .formbt{width: 100%;margin-top: 20px;}
.tcxzk .formbt li{overflow: hidden;}
.tcxzk .formbt li.jvli{margin-top: 10px;}
.tcxzk .formbt li input{height: 44px;width: 100%;border: 1px solid #ddd;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;padding-left: 3px;border-radius: 0;font-size: 1em;color: #333;}
.tcxzk .formbt li .lijicanyu{width: 100%;height: 44px;background: #ff5353;border:none;color: #fff;text-align: center;font-size: 15px;}
.guanbi i{
	font-size: 26px;
	text-stroke: 4px #fff;
    -webkit-text-stroke: 4px #fff;
}
.tcxzk2{width: 95%;height:150px;line-height:76px;background: #fff;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
text-align: center;background:#fff;color: #333;font-size: 20px;display: none;}
.tcxzk2 .xiaoz{font-size: 16px;color: #5f5b5b;line-height: 26px;}
.zjjg{width:100%;}
.zjjg img{width:100%;}
.zjxx{padding:0px 10px;}

.hdlist_head{background: #FF5628;color:#FFF; font-size: 0px;}
.hdlist_head span{width:25%; text-align: center;display: inline-block; font-size: 0.8rem;height:2rem;line-height:2rem}
.ts_text{padding:10px 0px; font-size: 0.7rem;}
#marquee{height:10rem;overflow: hidden;}
.hdlist_body li span{width:25%; text-align: center;display: inline-block; font-size: 0.8rem;height:2rem;line-height:2rem}
