th{width: 19%;}
#myTable .shanchu {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    top: -2px;
    margin-left: 10px;
    background: url(/assets/home/weixin/img/delbj2.png) center center no-repeat;
}
#myTable .bianji {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    top: -3px;
    margin-left:10px;
    background: url(/assets/home/weixin/img/edit2.png) center center no-repeat;
}
.table>tbody>tr>th{vertical-align: middle;}
.wxhuoq{width: 10%;float: right;margin-right: 40px;}
.zcd{font-weight: normal;padding-top: 0 !important;padding-bottom: 0 !important;}
.zhucaidan th,.zhicaidan th{font-weight: normal;}
.zhicaidan .tab-sign {
    display: inline-block;
    margin-left: 15px;
    height: 21px;
    vertical-align: middle;
    background-image: url(/assets/common/img/tab_sign.png);
    background-repeat: no-repeat;
    width: 30px;
    background-position: 0 0;
}
.tanchaun{height: auto;border:1px solid #d7d7d7;padding-bottom: 30px;}
.modal-title{text-align: center;}
.modal-header{border-bottom: 0;}
.modal-footer{border-top: 0;}
.modal-body{width: 620px;margin: 0 auto;padding: 0;}
.modal-footer{width: 620px;margin: 0 auto;padding: 0;}
.modal-body .heg{height: 34px;padding: 6px 0;text-align:left;}
.modal-body .jianjie{height: 34px;padding: 6px 0;text-align:left;clear: both;}
.form-group{margin-bottom: 26px;overflow: hidden;}
.form-group:last-child{margin-bottom: 10px;}
.form-group .shuoming{font-size: 12px;color: #6f7474;margin-top: 10px;}
.yinyingbj{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background:rgba(4, 4, 4, 0.5);display: none;}
.tistanchuang{width: 440px;height: 155px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin:auto;
background: #fff;display: none;}
.tistanchuang .titletb{height: 30px;line-height: 30px;font-size: 16px;font-weight: bold;margin-top: 10px;}
.tistanchuang .titletb .shanlft{float: left;margin-left: 15px;}
.tistanchuang .titletb .shanrit{float: right;margin-right: 15px;cursor: pointer;}
.tistanchuang .sureshan{font-size: 14px;margin-top: 30px;margin-left: 26px;}
.tistanchuang .dibusc{margin-top: 25px;}
.tistanchuang .dibusc .sure{border:1px solid #797979;padding: 6px 20px;cursor: pointer;float: left;margin-left: 236px;}
.tistanchuang .dibusc .cancel{border:1px solid #797979;padding: 6px 20px;cursor: pointer;float: right;margin-right: 47px;
}
.lianjie{display: none;}
.xiaochegnx{display: none;}
.text-left{text-align: left !important;}
th {white-space:nowrap; text-align: left !important;}
.modal-dialog {width: 825px;}