.rbian{padding: 0 !important;width: 13%;display: inline-block;float: left;}
.rbian input{height: 25px;}
.rbiantime{padding: 0 !important;width: 14.5% !important;display: inline-block;float: left;box-shadow:none !important;
background:none !important;}
.rbiantime2{margin: 0 15px;}
.rbiantime input{height: 25px;width: 100%;font-size: 12px;}
.rbian:first-child{margin-left: 15px;}
.addgzhniu{width: 8%;display: inline-block;margin-left: 15px;position: relative;top: 5px;}
.shuruk{margin-top: 10px;}
.shuruk input{width: 90%;}
.shuruk select{width: 90%;height:25px;}
.chaxun1{padding: 0 !important;width: 5%;position: relative;top: 5px;}
.downniu{width: 8%;display: inline-block;}
.wenzbujv{text-align: right;margin-bottom: 5px;}
table th,table td{text-align: center !important;width: 1%;vertical-align: middle !important;}
table td .editbj{color: #008000;margin-right: 10px;cursor: pointer;}
table td .delshanc{color: #ff0000;cursor: pointer;}
.fenye{text-align: center;}
.fenye .diaoye{vertical-align: middle;position: relative;top: 1px;left: 10px;}
.fenye .yeshuc{width: 40px;vertical-align: middle;margin: 0 5px;}
.fenyesure{background: #347ba4;outline: none;border: none;color: #ffffff;border-radius: 5px;padding: 5px 10px;
position: relative;top: 2px;left: 15px;}

.shanchutk{width: 380px;height: 230px;background: #fff;border: 1px solid #797979;position: fixed;top: 0;left: 0;bottom: 0;
right: 0;margin: auto;z-index: 99;overflow: hidden;text-align: center;display: none;}
.shanchutk .neirong{text-align: center;margin-top: 85px;font-size: 14px;}
.shanchutk .anniu{position: absolute;bottom: 30px;text-align: center;width: 100%;}
.shanchutk .anniu .btn-primary{padding: 5px 30px;}
.shanchutk .anniu .btn-default{padding: 5px 30px;margin-left: 15px;}