<if condition="$friendLink">
<div class="wrap mt50">
  <div id="tab5" class="friendLink-wrap">
    <div class="friendLink-bg">
      <div class="j-tab-nav friendLink">
        <if condition="$friendLink['link']">
          <a href="javascript:void(0)" class="current" >友情链接{$vo.bm}</a>
        </if><if condition="$friendLink['hotCity']">
          <a href="javascript:void(0)">热门城市</a>
        </if>
      </div>
      <br style="clear:both"/>
    </div>
    <div class="j-tab-con friendLink-tab">
      <div class="tab-con-item">
          <ul>
            <volist name="friendLink.link" id="vo">
                <li><a href="{$vo.link_url}" target="_blank">{$vo.link_name}</a></li>
            </volist>
              <li><a href="http://{:C('QZ_YUMINGWWW')}/meitu/" title="装修效果图" target="_blank">装修效果图</a></li>
              <li><a href="http://{:C('QZ_YUMINGWWW')}/wenda/" title="装修问答" target="_blank">装修问答</a></li>
              <li><a href="http://{:C('QZ_YUMINGWWW')}/gonglue/" title="装修攻略" target="_blank">装修攻略</a></li>
          </ul>
      </div>
      <div class="tab-con-item" style="display:none;">
          <ul>
            <volist name="friendLink.hotCity" id="vo">
                <li><a href="http://{$vo.bm}.{:C('QZ_YUMING')}" target="_blank">{$vo.cname}装修网</a></li>
            </volist>
          </ul>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    <if condition="$friendLink['link'] AND $friendLink['hotCity']">
    $("#tab5").rTabs({
        bind: 'click',
        auto: true,
        speed:5000,
        animation: 'fadein',
        autoSpeed:10000
    });
   <else/>
     $(".friendLink a").removeClass("current").addClass('current');
      $(".friendLink-tab .tab-con-item").hide().eq({$friendLinkTab|default=0}).show();
   </if>
  </script>
</if>