/*
* @Author: Administrator
* @Date:   2017-08-08 10:37:06
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-11 10:22:51
*/
button{
    padding:0px;margin:0px;
}
.button-box{
    height: 35px; border-radius: 4px; font-size:13px; overflow: hidden;margin-bottom: 6px;float: left;
}
.button-box button{
    border:none; height: 35px;background-color:rgba(242,242,242,1);
    outline: none; text-align: center; width:80px;
}
.button{
    border:none; height: 35px;background-color:rgba(242,242,242,1);
    outline: none; text-align: center; width:80px;float: left;line-height: 35px; cursor: pointer;
}
.button:hover{
    opacity: 0.8
}
.button-box button:hover{
    opacity: 0.8
}
.button-active{
    background-color:rgba(0, 192, 239, 1) !important; color: white;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.excel{
width:80%;background-color: rgba(0, 128, 0, 1);color: white; height: 35px;
border:none; outline: none; border-radius: 4px;
}
.excel:hover{
    background-color: rgba(3,82,3,1);
}

.edit{
    font-weight: bold; color:#4695c5; padding-right: 10px; cursor: pointer;
}
.details{
    font-weight:bold; padding-left: 10px; cursor: pointer;
}
.jx-item{
    border:1px solid black; padding:10px 40px 10px 10px;margin-bottom: 20px;
}
.jx-item .col-xs-3{width:20% !important;}
.jx-nubmer{
    overflow: hidden; margin-bottom: 8px;
}
.jx-nubmer .fr{
    cursor: pointer;
}
.jx-nubmer .fr:hover{
    opacity: 0.8
}
.activity-name{margin-bottom:3px;font-size: 15px !important;}
.sort-rule{float: right}
.sort-rule .fa {
    color:silver; font-size:15px;margin:0px !important;
}