.img-1, .img-2, .img-3, .img-4,
.img-1 img,.img-2 img,.img-3 img,.img-4 img
{width: 100%;}
.input_box1,
#city_2 {
    width: 2.6rem;
    height: 0.4rem;
    background: #97227d;
    margin: 0.1rem auto;
    box-sizing: border-box;
    overflow: hidden;
}

.input_box1 input,
#city_2 button{
	width: 2.5rem;
	height: 100%;
    background: #97227d;
    border:0;
    text-align: left;
    padding-left: 0.1rem;
    color: #fff;
    font-size: 14px;
}
#city_2 button{width: 2.6rem;}
#city_2 i{margin-right: 0.05rem}
.input_box1 input:-webkit-input-placeholder{color: #fff;}
.input_box1 input::-webkit-input-placeholder{color: #fff;}
.input_box1 input:-moz-placeholder{color: #fff;}
.input_box1 input::-moz-input-placeholder{color: #fff;}
.input_box1 input::-ms-input-placeholder{color: #fff;}
#saveNow {
    width: 2.6rem;
    height: 0.4rem;
    background: #661456;
    border: 0;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.1rem;
    font-size: 14px;
}
.img-form{
	width: 100%;
	height: 2.175rem;
	position: relative;
}
.img-form img{width: 100%;height: 100%;float: left;}
.form-box{position: absolute;width: 100%;}
#showCityPicker2{color: #fff !important;}
#showCityPicker2 i{color: #fff !important;}
iframe{display: none;}
#footer{padding-bottom: 20px;}
.error{
    width: 100%;height: 100%;position: fixed;
    left: 0;top:0;
    background: rgba(0,0,0,.5);
    display: none;
}
.error .close{
    width: 2.5rem;height: 1.2rem;background: #fff;
    border-radius: 10px; position: absolute; left: 0;top: 0;right: 0;bottom: 0;margin: auto;
    box-shadow: 0 0 18px 0 #000;
}

.error .close p{
    text-align: center;
    line-height: 0.8rem;
}

.error .close .make-sure{
    width: 100%;height: 0.43rem;
    text-align: center;
    line-height: 0.4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top:1px solid #0084ff;
}