.red {
    color: red;
}

.green {
    color: green !important;
}

.mr5 {
    margin-right: 5px !important;
}

.log-info {
    margin-right: 16px;
}

.cursor {
    cursor: pointer;
}

.lh16 {
    line-height: 16px;
}

/*紫红色*/
.fuchsia {
    background-color: #FFEAFF;
}

.log-info {
    margin-right: 16px;
}

.ol-tab-wrap {
    padding: 0;
    width: 50%;
    height: 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-padding-start: 0px;
}

.ol-tab {
    width: 11.111111%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #dddddd;
    text-decoration: none;
    list-style: none;
    float: left;
}

.ol-tab:first-of-type {
    border-radius: 5px 0 0 5px;
}

.ol-tab:hover {
    background: #aaaaaa;
    cursor: pointer;
}

.ol-tab-active {
    background: #aaaaaa;
}

#tablelist {
    min-width: 1200px !important;
    font-size: 13px;
}

#tablelist tr td, #tablelist tr th {
    position: relative;
    text-align: left;
}

.table tbody {
    font-size: 13px;
}

.table tr td {
    position: relative;
}

.table tr td a {
    margin-right: 3px;
}

.table tr .fa {
    font-size: 18px;
    margin-right: 6px;
}

.table tr td:first-of-type a {
    top: 25%;
    right: 5px;
    cursor: pointer;
}

.repeat-order {
    color: #f00;
}

.table tr td:nth-of-type(4) i {
    position: absolute;
    top: 25%;
    right: 5px;
    cursor: pointer;
}

.ol-check {
    margin: 0 auto;
    float: none !important;
    height: 30px;
    line-height: 30px;
}

.ol-tips {
    color: red;
    opacity: 0;
}

.btn {
    float: right;
    margin-right: 15px;
}

.set-mt16 {
    margin-top: 5px;
}

.modal-dialog {
    width: 700px;
    margin: 30px auto;
}

textarea {
    resize: none;
    width: 100%;
}

.select2-container .select2-selection--single {
    height: 34px;
}

#repeatorder .modal-dialog, #recentorder .modal-dialog {
    width: 900px;
}

#repeatorder table, #recentorder table {
    min-width: 670px !important;
}

.ol-neworder-wrap {
    height: 34px;
    margin: 20px 11px;
    -webkit-padding-start: 0px;
}

.ol-neworder-info {
    padding: 0;
    width: auto;
    line-height: 34px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    -webkit-padding-start: 0px;
    float: left;
}

.ol-neworder-info {
    margin-right: 20px;
}

.ol-neworder-info li {
    float: left;
    list-style: none;
    padding: 0 10px;
}

.ol-neworder-info li:first-child {
    height: 34 spx;
    line-height: 34px;
    border-left: 1px solid #dddddd;
    background: #dddddd;
}

.ol-neworder-info li:nth-child(2) {
    color: red;
    font-weight: bold;
}

.ol-new-order-reset {
    padding: 6px 20px;
}

.new-order-wrap {
    display: block;
}

.ol-obtain-order {
    margin-left: 20px;
    margin-right: 26px;
}

.order-remarks-list, .order-remarks-btn {
    margin-right: 5px;
    float: left;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/**/

.common-model .modal-dialog {
    width: auto;
    max-width: 1260px;
}

.common-model tr td, .common-model tr th {
    position: relative !important;
    text-align: left !important;
}

.my-dialog .modal-dialog {
    width: 1200px;
}

.my-dialog .content {
    padding: 0;
    margin: -15px;
}

.my-dialog input, .my-dialog span, .my-dialog label, .my-dialog textarea, .my-dialog select {
    font-size: 12px !important;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    margin-top: 2px;
    color: #333;
}

.my-dialog div {
    font-size: 12px;
}

.my-dialog p {
    margin-bottom: 0px;
}

.my-dialog label {
    margin-bottom: 0;
}

.my-dialog textarea {
    border: 1px solid #ccc;
}

.my-dialog .box {
    border-top: 0;
    margin-bottom: 0;
}

.my-dialog .modal-header {
    padding: 5px;
}

.my-dialog .bootstrap-dialog-title {
}

.my-dialog .border-r {
    border-right: 1px dashed #ccc;
}

.my-dialog .border-t {
    border-top: 1px dashed #ccc;
}

.my-dialog .padtop10 {
    padding-top: 10px;
}

.my-dialog .width_40 {
    width: 40px;
}

.my-dialog .width_50 {
    width: 50px;
}

.my-dialog .width_60 {
    width: 60px;
}

.my-dialog .width_70 {
    width: 70px;
}

.my-dialog .width_80 {
    width: 80px;
}

.my-dialog .width_90 {
    width: 90px;
}

.my-dialog .width_100 {
    width: 100px;
}

.my-dialog .width_150 {
    width: 150px;
}

.my-dialog .width_80 {
    width: 80px;
}

.my-dialog .width_60 {
    width: 60px;
}

.my-dialog .text-height100 {
    width: 80%;
    height: 100px;
    margin-left: 6px;
    resize: none;
    outline: none;
}

.my-dialog .text-height120 {
    width: 80%;
    height: 120px;
    margin-left: 3px;
    resize: none;
    outline: none;
}

.my-dialog .text-height80 {
    width: 80%;
    height: 80px;
    margin-left: 6px;
    resize: none;
    outline: none;
}

.my-dialog .text-height60 {
    width: 80%;
    height: 60px;
    margin-left: 3px;
    resize: none;
    outline: none;
    max-height: 60px;
}

.my-dialog .mt3 {
    margin-top: 3px;
}

.my-dialog .ml132 {
    margin-left: 132px;
}

.my-dialog .padding10 {
    padding: 10px 10px;
}

.my-dialog .padding5 {
    padding: 5px;
}

.my-dialog .bgcolor {
    background: #0019ff;
    color: #fff;
}

.my-dialog .red {
    color: #ff5659;
}

.my-dialog .blue {
    background: blue;
}

.my-dialog .width_size {
    width: 70px;
    text-align: right;
    display: inline-block;
    font-weight: 400;
}

.my-dialog .datepicker {
    border: 1px solid #ccc;
    border-radius: 0;
}

.my-dialog input {
    height: 20px;
    border: 1px solid #ccc;
}

.my-dialog label {
    line-height: 18px;
    font-weight: normal;
    font-size: 12px;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    margin-right: 0px;
    margin-top: 0px;
    height: 20px;
}

.my-dialog label .my-dialog input[type=checkbox] {
    float: left;
    height: auto;
    margin: 0;
}

.my-dialog select {
    border: 1px solid #ccc;
}

.my-dialog select option {
    font-size: 12px;
}

.my-dialog button {
    font-size: 12px;
    border: 0;
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.my-dialog label .my-dialog span {
    float: left;
    line-height: 12px;
}

.my-dialog .fa-calendar {
    position: absolute;
    left: 140px;
    line-height: 20px;
    font-size: 14px;
    border-left: 1px solid #ccc;
    padding-left: 5px;
    top: 2px;
}

.my-dialog .relation_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(/assets/home/img/rel_icon.png) no-repeat;
}

.my-dialog .icon_baidu {
    background-position: 0 0px;
}

.my-dialog .icon_biying {
    background-position: 0 -26px;
}

.my-dialog .icon_person {
    background-position: 0 -52px;
}

.my-dialog .icon_headset {
    background-position: 0 -78px;
}

.my-dialog .icon_list {
    background-position: 0 -104px;
}

.my-dialog .icon_email {
    background-position: 0 -130px;
}

.my-dialog .icon_email_disabled {
    background-position: -16px -130px;
}

.my-dialog .icon_email_open {
    background-position: -32px -130px;
}

.my-dialog .icon_eye {
    background-position: 0 -156px;
}

.my-dialog .icon_eye_disabled {
    background-position: -16px -156px;
}

.my-dialog .icon_baidu {
    background-position: 0 0;
}

.my-dialog .icon_360{background-position: 0 -183px;}
.my-dialog .icon_sogou {background-position: 0 -287px;}
.my-dialog .icon_sm {background-position: 0 -313px;}

.my-dialog .zhuandan {
    margin-left: 45%;
    padding-left: 40px;
    padding-right: 40px;
}

.my-dialog .check_more {
    margin-left: 35%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}

.my-dialog .hide_select {
    display: none;
}

.call_pop, .show_callnum_pop {
    position: fixed;
    left: -3px;
    top: 20%;
    overflow: hidden;
    z-index: 2000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.call_pop {
    width: 100%
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1200;
    display: none;
}

.pop_set {
    left: 50%;
    margin-left: -161px;
}

.show_num_header {
    overflow: hidden;
    margin: 10px 0;
    text-align: center;
}

.show_num_body {
    overflow: hidden;
    padding: 10px 40px;
}

.show_num_body .show_num_item {
    overflow: hidden;
    margin-bottom: 10px;
}

.show_num_body textarea {
    width: 150px;
    height: 100px;
    resize: none;
    outline: none;
}

.show_num_footer {
    text-align: center;
}

.show_num_footer .btn {
    margin: 5px;
}

.my-dialog .icon_weixin1 {
    background-position: 0 -209px;
}

.my-dialog .icon_qq {
    background-position: 0 -235px;
}

.my-dialog .icon_weixin2 {
    background-position: 0 -259px;
}

.my-dialog .mr10 {
    margin-right: 10px;
}

.my-dialog .mt20 {
    margin-top: 20px;
}

.my-dialog .border-b {
    border-bottom: 1px solid #ccc
}

.my-dialog .ml10 {
    margin-left: 10px;
}

.my-dialog .mt30 {
    margin-top: 30px;
}

.my-dialog .order-tool {
    visibility: hidden;
}

.my-dialog .order-tool-open {
    visibility: inherit;
}

.fenpei-model, .weixin-model, .fenpei-success {
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -180px;
    background: #fff;
    display: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 2px #ccc;
    position: fixed;
    z-index: 9999999;
}

.fenpei-model-hd {
    height: 30px;
    background: #eee;
    line-height: 30px;
}

.notice-to-owner, .notice-to-company {
    cursor: pointer;
}

.weixin-model label span {
    color: #000;
}

.fenpei-model .btn-ok, .weixin-model .btn-ok, .fenpei-success .btn-ok, .weixin-model .btn-close {
    margin: 10px;
}

.my-dialog input[type="checkbox"] {
    margin-right: 1px !important;
}

#changecity .select {
    width: 25%;
    float: left;
    margin-right: 10px;
}

.modal-error-wrap {
    color: #ff4201;
}

/*录音管理*/
.record-operate {
    width: 150px;
}

.server-main .r .header {
    width: 847px;
    height: 40px;
}

.hidden-record {
    display: none;
}

.record-pull-right {
    float: right;
}

.background {
    background-color: rgb(235, 235, 235);
}

.background-blue {
    background-color: rgb(0, 153, 204);
}

.bg-white {
    background-color: #fff
}

.font-color-white {
    color: #fff
}

.table {
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-t-3 {
    box-sizing: border-box;
    padding-top: 3px;
}

.padding-r-3 {
    box-sizing: border-box;
    padding-right: 3px;
}

.margin-l-10 {
    margin-left: 10px;
}

.margin-l-20 {
    margin-left: 1250px;
}

.margin-t-5 {
    margin-top: 5px
}

.margin-r-5 {
    margin-right: 5px;
}

.t-align-r {
    text-align: right;
}

.title-style1 {
    border-bottom: 1px solid #ccc;
    height: 40px;
    background: url(../images/bg_1.gif);
}

.rotate-r {
    transform-origin: 50% 50%;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari and Chrome */
}

.server-main .r .header-search {
    width: 100%;
    height: 50px;
}

.btn-record {
    width: 80px;
    height: 30px;
    background-color: rgb(239, 239, 239);
    border-radius: 3px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.input-record {
    width: 138px !important;
    height: 25px;
}

.select-record {
    width: 80px;
    height: 25px;
}

.data-record {
    width: 100%;
    box-sizing: border-box;
    min-height: 500px;
    margin-bottom: 10px;
}

.data-record table {
    width: 100%;
    border-collapse: collapse;
}

.data-header, .data-main tr {
    height: 50px;
    text-align: center;
    border-bottom: solid 1px rgb(235, 235, 235);
}

.data-header {
    border-top: solid 1px rgb(235, 235, 235);
}

.paging {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding-left: 10px;
    border: solid 1px rgb(235, 235, 235);
}

.font-25 {
    font-size: 25px
}

.paging-ul-container {
    display: inline-block; /*width: 125px;如果页数大于5，宽度将置为125px*/
    min-width: 25px;
    overflow: hidden;
    height: 28px;
    position: relative;
    margin-bottom: 7px;
    box-sizing: border-box;
}

.paging ul {
    display: inline-block;
    min-width: 25px; /*width: 10000px;当页数大于5，包裹的div宽度置为10000px*/
    list-style: none;
    position: relative;
    cursor: pointer;
    padding-top: 7px;
}

.w-125 {
    width: 125px;
}

.w-10000 {
    width: 99999999999px;
}

.paging ul li {
    width: 25px;
    height: 25px;
    float: left;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
}

.paging-select {
    background-color: rgb(215, 215, 215);
    color: #fff;
}

#paging-left:hover, #paging-right:hover {
    cursor: pointer;
}

.paging-tiaozhan {
    float: right;
    margin-right: 10px;
    position: relative;
    z-index: 999
}

#paging-tiaozhan {
    width: 50px;
    height: 20px;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

#box-bg {
    width: 100%;
    height: 100%;
    background-color: rgb(121, 140, 140);
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 9999;
}

#box {
    width: 400px;
    height: 160px;
    position: relative;
    background-color: #ffffff;
    top: 150px;
    margin: 0 auto;
    z-index: 1000;
}

#box .box-prompt {
    width: 100%;
    height: 30px;
    background-color: rgb(228, 228, 228);
    font-size: 16px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
}

#box .box-prompt input {
    float: right;
    background-color: transparent;
    height: 30px;
    font-size: 30px;
    border: none;
    margin-right: 5px;
    margin-top: -5px;
}

#box #pic {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 48px;
    text-align: center;
    font-size: 16px;
}

#box button {
    width: 100px;
    height: 26px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

#box button:focus {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: rgb(0, 153, 204);
}

.box-btn {
    margin-left: 95px;
}

.play-record, .download-record, .delete-record {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

#paging-left, #paging-right {
    background-color: transparent;
}

.wzd_orrder:hover {
    cursor: pointer;
}

.wzd_orrder span i {
    font-size: 12px;
    color: #ccc;
}

.green, .red {
    cursor: pointer;
}

.tooltip {
    opacity: 1 !important;
}

.tooltip-inner {
    background: #dedede;
    color: #333;
    padding: 8px;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 1px #dedede;
    text-align: left;
    opacity: 1;
}

.tooltip-arrow {
    border-top-color: #dedede !important;
}

.furnitureCity {
    position: relative;
}

.furnitDetail {
    position: absolute;
    top: 47px;
    left: 5px;
    border: 1px solid #333333;
    padding: 5px;
    color: #333;
    font-size: 14px;
    background: #fff;
    display: none;
}
.furnitDetail span{
    margin: 0;
    font-size: 14px;
    color: #333;
}
.furnitDetail:before{
    content: '';
    display: block;
    clear: both;
    position: absolute;
    top: -23px;
    left: 97px;
    border: 11px solid transparent;
    border-bottom-color: #000;
}
.furnitDetail:after{
    content: '';
    display: block;
    clear: both;
    position: absolute;
    top: -20px;
    left: 98px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}
.furnitureTips{
    padding: 5px 5px 0 5px;
    color: #5e5e5e;
}
.furniture-class{
    float: left;
    margin-right: 15px;
}

.furniture-choice{
    display: none;
    padding-left:  60px;
}
.furniture-choice>label{
    margin-right: 10px;
}

.sub-title-change h3{
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #E5E5E5;
    border-bottom: none;
    text-align: center;
}
.sub-title-change h3.active{
    background: #fff;
}
.sub-title-change h3.active a{
    color: #3c8dbc;
}

