
.ordertype{
    padding:10px 0 0;
}
.orderlist{
    padding-left: 23px;
}
.orderlist li{
    float: left;
    border:1px solid rgba(235, 235, 235, 1);
    background-color: rgba(243, 243, 243, 1);
    border-radius: 5px 5px 0 0px;
    text-align: center;
    list-style: none;
}
.orderlist li.active{
    background: #fff;
    border-bottom: none;
}

.orderlist li.active a{
    color: #108EE9;
}
.orderlist li a{
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    display: block;
    line-height: 40px;
}


select {
    vertical-align: middle;
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #d0d0d0;
    color: #333;
    padding: 2px;
    height: 30px;
}

.input {
    padding: 5px 0;
    position: relative;
    list-style-type: none;
}
.input label {
    width: 84px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    text-align: right;
    float: left;
    vertical-align: middle;
    margin-right: 6px;
    font-weight: normal;
}

.input .select_type {
    height: 30px;
    border: 1px solid #DDD;
}
.firstdiv {
    width: 84px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    text-align: right;
    float: left;
    vertical-align: middle;
    margin-right: 6px;
    font-weight: normal;
}


.tippart {display: inline-block;position: absolute;top: 150px;right: 50px;}
.tippart .inline {display: inline-block;margin-right: 20px;}
.tippart div {margin-top: 20px;}

