.rankingwk{overflow: hidden;display:block;position: relative;left: 0;top: 4px;
clear: both;}
.rankulwk{overflow: hidden;}
.rankulwk li{display: inline-block;float: left;margin-right: 10px;}
.rankulwk li .rankulwk_title{background: #fb8920;color: #fff;display: inline-block;
width: 60px;height: 20px;line-height: 20px;text-align: center;float: left;}
.rankulwk li .rankulwk_count{color: #fb8920;display: inline-block;
border:1px solid #fb8920;width: 38px;height: 18px;line-height: 18px;text-align: center;}

.companyinfo{display: table-cell;float: left;margin-left: 10px;}

.dataperfect{display: table-cell;float: right;position: relative;top: 8px;}
.dataperfect .joinhotline{height: 24px;line-height: 24px;text-align: center;width: 160px;
background: #6a8cd9;color: #fff;font-size: 12px;border-radius: 10px;margin-top: 8px;}
.saferenzwk{
    overflow: hidden;
}
.saferenzwk .saferenzwk_title{text-align: left;font-size: 14px;font-weight: bold;}

.ht-main{width: 588px !important;display: inline-block;float: left;margin-left: 20px;}
.subMenu{display: inline-block;float: left;position: relative !important;}
.banding li .shoujilogo{display:inline-block;width: 60px;height: 60px;float: left;}
.banding li .shoujilogo img{width: 100%;height: 100%;}
.banding li .jiedanphone{display: inline-block;float: left;margin-left: 10px;font-size: 13px;}
.jvsecolor{color: #fb8920;}
.banding li.leftjianjv{margin-left: 80px;}
.banding li .safeyouxiang{display: inline-block;float: left;margin-left: 10px;font-size: 13px;}
.jvsecolor{color: #fb8920;}
.banding li .youxianglogo{display:inline-block;width: 60px;height: 60px;float: left;}
.banding li .youxianglogo img{width: 100%;height: 100%;}
.xiaotieshi{overflow: hidden;background: #f5f5f5;padding: 10px;}
.xiaotieshi_title{font-size: 12px;font-weight: bold;}
.xiaotieshi p{font-size: 12px;color: #999;line-height: 18px;}
.zhanghaowaik .bindinghao{font-size: 14px;}
.bindinghao span.jiedanwx{font-weight: bold;}
.bindinghao span{font-size: 14px;}
.bottomjianjv{margin-bottom: 15px;font-size: 14px;}
.fontweight{font-weight: bold;}
.fontnowei{font-weight: normal;}
.font400{font-weight: 400;}
.newser li{background: #f5f5f5;}

.zhanghaowaik{overflow: hidden;margin-top: 20px;}
.zhanghaowaik .zhanghaoitem{display: inline-block;vertical-align:middle;float: left;overflow: hidden;
width: 32%;margin-right: 1%;}
.zhanghaowaik .leftjvli{margin-left: 40px;}
.zhanghaoitem .zhanghaotx{display: inline-block;width: 65px;height: 65px;overflow: hidden;float: left;}
.zhanghaoitem img{width: 100%;height: 100%;}
.zhanghaoitem .weixcity{display: inline-block;vertical-align: top;font-size: 12px;text-align: left;  margin-left: 3px;
width: 120px;float: left;overflow: hidden;}
.zhanghaoitem .weixcity .weixcity_nicheng{margin-top:12px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;width: 100%;}
.zhanghaoitem .weixcity .weixcity_city{margin-top:15px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;width: 100%;}
.add-member-icon{ display: inline-block; width: 65px; height: 65px; line-height: 59px; text-align: center; font-size: 68px; font-weight: bold; background-color: #E6E6E6; color: #CCC; border-radius: 6px; cursor: pointer;user-select: none;}
.add-member-icon:hover{color: #CCC;text-decoration: none;}


.jiedan-phone-wrap{overflow: hidden;margin-left: 0;}
.jiedan-left, .jiedan-right{width: auto;}
.jiedan-right .phone01{display: inline-block;}
.jiedan-right .phone02{display: inline-block;margin-left: 10px;}
.lingxinglogo{width: 13px;height: 12px;display: inline-block;background: url(/assets/user/home/img/linglogo.png) no-repeat;
background-size: 100% 90%;vertical-align: middle;}

.sortpaiming{    
    display: inline-block;position: absolute;
    line-height: 20px;
    height: 20px;cursor: default;z-index: 9;
    padding: 10px;color: #ff5452;font-weight: bold;left: 510px;top: 81px;}
.sortbeijing{display: inline-block;width: 330px;height: 186px;background: url(/assets/user/home/img/sortbeij.png) no-repeat center center;
position: absolute;z-index: 99;top: -5px;left: 91px;display: none;
background-size: 100% 100%;padding: 10px 20px;box-sizing:border-box;}
.sortbeijing .sortbeijing_title{font-size: 16px;font-weight: bold;color: #333;margin-top: 7px;}
.sortbeijing .sortul{overflow: hidden;margin-top: 7px;}
.sortul li{font-weight: 500;margin-top: 10px;overflow: hidden;}
.sortul .sortul-title{font-size: 14px;color: #656565;float: left;}
.sortul .sortul-qianwang{float: right;color: #fca24c;font-size: 14px;text-decoration:none;}
.ht-content .companygs-title{width: 255px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.banding{padding: 10px 0;display: block;width: 100%;}
.banding li{display: inline-block;float: left;}

.threerightwk{overflow: hidden;float: left;display: inline-block;margin-left: 20px;
 width: 260px;
}
.threerightwk .quanmianjian{padding: 20px;border: 1px solid #e6e6e6;}
.lineheight20{line-height: 20px;}
.font14{font-size: 14px;}
.ht-home-tj{padding-bottom: 15px;border-bottom: 1px solid #e6e6e6;}

.ht-home-jdt .jdt-btn{border-radius: 22px;font-size: 16px;background: #ff5353;height: 36px;line-height: 36px;
margin: 0 auto;float: none;margin-top: 20px;outline: none}
.ht-home-jdt .jdt-btn:hover{background:#ff5353;font-size: 16px;}
.defenbeijing{width: 158px;height: 166px;overflow: hidden;margin: 0 auto;
background: url(/assets/user/home/img/tiyanqiu.png) no-repeat center center;
background-size: 100% 100%;
text-align: center;line-height: 166px;font-size: 60px;color: #fff;}
.tijdefen{margin-top: 10px;text-align: center;}
.ht-home-jdt .jdt{width: 100%;display: none;}
div.progressInfo{padding-left: 5px;}
.ht-home-list{padding: 0;width: 100%;margin-top: 0;}
.ht-home-list li{height:auto;}
.ht-home-list li span p{width: 125px;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ht-home-list li.warning a, .ht-home-list li.danger a{background: #ff5353;border: 1px solid #ff5353;}

.threerightwk .caozuowk{padding: 20px;border: 1px solid #e6e6e6;margin-top: 20px;}
.caozuowk .caozuowkhead{padding-bottom: 15px;border-bottom: 1px solid #e6e6e6;
margin-bottom: 15px;}
.lineheight30{line-height: 30px;}
.fontline{line-height: 18px;font-size: 14px;}
.ht-home-czjl{padding: 0;border: none;}
.ht-home-czjl dt{border-left: 2px solid #333;color: #333;font-size: 12px;line-height: 15px;
padding-left: 5px;font-weight: bold;}
.ht-home-czjl dd{color: #666;padding-left: 0;}
.ht-home-czjl dd .icon-time{font-size: 14px;}
