body {
    background: #f7f7f7 !important;
}
.c1{
	color: #3D1C4B;
}
.bc1{
	background-color: #F39B97 !important;
}
.bold{
	font-weight: bold;
}
.img-responsive{
	max-width: 100%;
}
.top_banner {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.text-center{
	text-align: center !important;
}
.h2{
	font-size:0.16rem;
	text-align: center;
	margin-bottom:0.1rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dfdfdf; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dfdfdf;opacity:1;
}

input:-ms-input-placeholder{
    color: #dfdfdf;opacity:1;
}

input::-webkit-input-placeholder{
    color: #dfdfdf;opacity:1;
}

.top_banner img {
    width: 100%;
    height: auto;
}

.tobaojia {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

.tobaojia img {
    width: 100%;
    height: auto;
}

.bgfadan {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 999;
}

.fadan1-box img{
  width:100%;
}
.hdsm img{
    width:100%;
}

.fadan-tip {
    font-size: 0.12rem;
    line-height: 0.12rem;
    color: rgb(102, 102, 102);
    text-align: center;
    font-weight: 800;
    font-family: 'microsoft yahei';
    margin-top: 0.11rem;
    margin-bottom: 0.13rem;
}

.redcolor {
    color: #ff5353;
}

.city-btn {
    width: 2.8rem;
    height: 0.4rem;
    margin: 0 auto;
    display: block;
    background: none;
    outline: none;
    border: 1px solid #ccc;
    text-align: left;
    padding-left: 10px;

}

.city-btn i {
    margin-right: 5px;

}

.fadan-box ul li {
    margin-bottom: 0.1rem;
    font-size: 14px;
}

.fadan-box ul li button {
    font-size: 14px;
    border-radius: 6px;
}

.input-li {
    width: 2.79rem;
    height: 0.4rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-li input {
    width: 2.6rem;
    margin-top: 0.12rem;
    border: none;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    color: white;
    background-color: transparent;
}

.submit-btn {
    width: 2.8rem;
    height: 0.42rem;
    background: #ff5353;
    display: block;
    color: #fff;
    line-height: 0.42rem;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 6px;
}

.fadan-box .close{
    font-size: 0.2rem;
    -webkit-text-stroke: 1px #fff;
}
.libao {
    width: 1rem;
    height: 0.4rem;
    background: url("../img/background-dot-2.png") no-repeat;
    background-size: contain;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 0.18rem;
    font-weight: 800;
    font-family: 'microsoft yahei';
    color: #fff;
    text-shadow: 2px 4px 4px #5c79fa;
}

.quan-box {
    position: relative;
}
.quan-box img{width:100%;}
.shuoming_box{
      padding:0.18rem 0px;
      background-color: #5C96FF;
      margin-top: -1px;
}
.send-need {
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.13rem;
    color: #ffbe00;
    font-weight: 800;
    font-family: 'microsoft yahei';
}

.quan-item {
    width: 1.3rem;
    /*height: 0.59rem;*/
    margin: 0 auto;
    /*background: #fff;*/
    margin-bottom: 0.085rem;
    overflow: hidden;
    position: relative;
}
.quan-item:nth-child(odd){
	float: left;
}
.quan-item:nth-child(even){
	float: right;
}
.quan-item img{
	display: block;
}
.quan-item .get{
	position: absolute;
	width:0.43rem;
	height: 0.12rem;
	left: 0.67rem;
	top: 0.23rem;
	/*outline: 1px solid black;*/
}
.quan-item .fix1{
	left: 0.75rem;
}
.quan-item .fix2{
	left: 0.7rem;
}


.shu-text{
	width: 100%;
	height: 100%;
	text-align: center;
    writing-mode:tb-rl;
}
.juhuang{
	background: #ffbe00;
}
.green{
	background: #a3ca1a;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8,
.circle9{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: -0.03rem;
	top: 0.05rem;
}
.circle10,
.circle11,
.circle12,
.circle13,
.circle14,
.circle15,
.circle16,
.circle17,
.circle18{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 50%;
	background: #EE7754;
	position: absolute;
	right: -0.03rem;
	top: 0.05rem;
}
.circle2,.circle11{
	top: 0.14rem;
}
.circle3,.circle12{
	top: 0.23rem;
}
.circle4,.circle13{
	top: 0.32rem;
}
.circle5,.circle14{
	top: 0.41rem;
}
.circle6,.circle15{
	top: 0.5rem;
}
.circle7,.circle16{
	top: 0.59rem;
}
.circle8,.circle17{
	top: 0.68rem;
}
.circle9,.circle18{
	top: 0.77rem;
}
.hd-shuoming{
	margin-bottom: 0.12rem;
}
.hz_xz,.hz_box{
	width: 2.6rem;
	margin: 0 auto;
	position: relative;
	font-size: 0.12rem;
	font-weight: 800;
	font-family: 'microsoft yahei';
	color: #fff;
	padding:0.1rem 0px;
}
.hz_box{
	padding-top: 0.09rem;
	padding-bottom: 0.09rem;
	margin-bottom: 0.43rem;
}
.hz_xz p{
	padding-left: 0.09rem;
	padding-right: 0.09rem;
	line-height: 0.2rem;
}
.hz_xz:before{
	content: "";
    width: 1px;
    height: 100%;
    background: #f3dc8f;
    position: absolute;
    left: 0;
    top: 0;
}
.hz_xz:after{
	content: "";
	width: 1px;
	height: 100%;
	background: #f3dc8f;
	position: absolute;
	right: 0;
	top: 0;
}
.hz_box:before{
	content: "";
	width: 2.43rem;
	height: 1px;
	background: #f3dc8f;
	position: absolute;
	left: 0.075rem;
	top: 0;
}
.hz_box:after{
	content: "";
	width: 2.43rem;
	height: 1px;
	background: #f3dc8f;
	position: absolute;
	left: 0.075rem;
	bottom: 0;
}
.fangjiao{width:20px; height: 20px;position: absolute; background: #fff}
.left_top{top:-20px;left: -10px;}
.right_top{top:-20px; right:-10px;}
.left_bottom{bottom:-20px; left:-10px;}
.right_bottom{bottom:-20px; right:-10px;}
#bototm_img{
	width: 1.5rem;
	margin: 0 auto;
	position: relative;
	margin-bottom: 0.2rem;
	left: 0.3rem;
}
#bototm_img img{
	width: 0.73rem;
}
.right_sao{
	width: 0.75rem;
    height: 0.57rem;
    position: absolute;
    right: -0.63rem;
    top: -0.1rem;
}
.right_sao img{
	width: 100%;
	height: 100%;
}
.success_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 3;
	display: none;
}
.success_box{
	width: 94%;
	height: 2.4rem;
	background: #fff;
	margin:auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 6px;
}
.success_head{
	font-size: 0.25rem;
	color: #ff5353;
	text-align: center;
	font-weight: 800;
	font-family: 'microsoft yahei';
	margin-top: 0.24rem;
	margin-bottom: 0.12rem;
}
.success_head i{
	color: #43df2e;
	margin-right: 0.12rem;
	font-size: 0.28rem;
}
.sub-caption{
	color: #ff5353;
	text-align: center;
	font-size: 0.2rem;
	margin-bottom: 0.2rem;
}
.success_neck{
	font-size: 0.12rem;
	text-align: center;
	line-height: 0.12rem;
	color: #333;
	margin-bottom: 0.4rem;
}
.success_body{
	width: 2.33rem;
	height: 1.09rem;
	margin: 0 auto;
	border: 1px dashed #ff5353;
}
.success_body img{
	width: 0.98rem;
    float: left;
    margin-left: 0.08rem;
    margin-top: 0.055rem;
}
.guanzhu-box{
	float: left;
	text-align: center;
	width: 1.22rem;
	margin-top: 0.2rem;
	line-height: 0.23rem;
}
.shuom{
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin-top: 0.09rem;
	margin-bottom: 0.12rem;
}

.success_foot{
	width: 1.01rem;
	height: 0.325rem;
	margin: 0 auto;
	background: #ff5353;
	text-align: center;
	line-height: 0.325rem;
	border-radius: 6px;
	color: #fff;

}
.float-libao{
	width: 100%;
	height: 0.475rem;
	background: #ff5353;
	text-align: center;
	line-height: 0.475rem;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9;
	font-size: 0.16rem;
	color: #fff;
}

.float-libao i{margin-right: 10px;}
#footer{padding-bottom: 60px;}
body{position: relative;}
.m-header-his{z-index: 99;}

.quan-box table{width:86%;height: 60%; position: absolute; margin:auto; left: 0px;right: 0px;top:0px;bottom:0px;}

.fadan-box {
    width: 3rem;
    height: 3.2rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 6px;
}

.fadan-title {
    font-size: 0.18rem;
    line-height: 0.18rem;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: 800;
    font-family: 'microsoft yahei';
    margin-top: 0.165rem;
}

.fadan-tip {
    font-size: 0.12rem;
    line-height: 0.12rem;
    color: rgb(102, 102, 102);
    text-align: center;
    font-weight: 800;
    font-family: 'microsoft yahei';
    margin-top: 0.11rem;
    margin-bottom: 0.13rem;
}

.redcolor {
    color: #ff5353;
}

.city-btn {
    width: 2.8rem;
    height: 0.4rem;
    margin: 0 auto;
    display: block;
    background: none;
    outline: none;
    border: 1px solid #ccc;
    text-align: left;
    padding-left: 10px;
}

.city-btn i {
    margin-right: 5px;
}

.fadan-box ul li {
    margin-bottom: 0.1rem;
    font-size: 14px;
}

.fadan-box ul li button {
    font-size: 14px;
    border-radius: 6px;
}

.input-li {
    width: 2.79rem;
    height: 0.4rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-li input {
    width: 2.6rem;
    margin-top: 0.12rem;
    border: none;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    color: #333;
}

.submit-btn {
    width: 2.8rem;
    height: 0.42rem;
    background: #ff5353;
    display: block;
    color: #fff;
    line-height: 0.42rem;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 6px;
}

.fadan-box .close{
    font-size: 0.2rem;
    -webkit-text-stroke: 1px #fff;
}
.libao {
    width: 1.32rem;
    height: 0.25rem;
    background: #ffbe00;
    text-align: center;
    line-height: 0.25rem;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 0.18rem;
    font-weight: 800;
    font-family: 'microsoft yahei';
    color: #fff;
    box-shadow: 0 5px 0 0 #dc8100;
}
