.clearfix:after { display: block; height: 0px; visibility: hidden; clear: both; content: "."; }

.top_rim { z-index: 99999; position: fixed; width: 55px; bottom: 35px; height: 55px; right: 10px; }
.top_rim A { text-indent: -200px; width: 55px; display: block; background: url(/assets/home/zb/img/top_ico.gif) no-repeat; height: 55px; overflow: hidden; text-decoration: none; }
.top_rim A:hover { background: url(/assets/home/zb/img/top_ico.gif) no-repeat 0px bottom; text-decoration: none; }

#home { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height: 600px; overflow: hidden; padding-top: 0px; }

#about { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height: 911px; overflow: hidden; padding-top: 0px; }
#famous { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height: 700px; overflow: hidden; padding-top: 0px; }
#news { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height: 500px; overflow: hidden; padding-top: 0px; }
#products { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height:1254px; overflow: hidden; padding-top: 0px; }
#sector { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height: 700px; overflow: hidden; padding-top: 0px; }
#contact { position: relative; padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; height: 700px; overflow: hidden; padding-top: 0px; }
.sprite { /*z-index: 200;*/ position: absolute; padding-bottom: 0px; padding-left: 0px; width: 100%; padding-right: 0px; height: 911px; top: 0px; padding-top: 0px; }
.screen { /*z-index: 201;*/ position: absolute; padding-bottom: 0px; padding-left: 0px; width: 100%; padding-right: 0px; height: 911px; top: 0px; padding-top: 0px; }
.contents { /*z-index: 202;*/ position: absolute; width: 1200px; height: 750px; margin-left: -600px; overflow: hidden; top: 200px; left: 50%; }

/*#home { background: url(/assets/home/zb/img/home_bg.jpg) fixed no-repeat center bottom; }
#home .sprite { background: url(/assets/home/zb/img/home_frei.png) fixed no-repeat center bottom; }
#home .screen { background: url(/assets/home/zb/img/home_frei01.png) no-repeat center -100px; }
#home .sprite1 { z-index: 201; position: absolute; padding-bottom: 0px; padding-left: 0px; width: 100%; padding-right: 0px; background: url(/assets/home/zb/img/home_sprite_main.png) fixed no-repeat center bottom; height: 700px; top:0px; padding-top: 0px; }

.homebg2{ background: url(/assets/home/zb/img/home1_bg.jpg) fixed no-repeat center bottom !important; }
.sprite2 { background: url(/assets/home/zb/img/about_sprite_frei.png) fixed no-repeat center !important; }
*/
#about { background:url(/assets/common/pic/PKs.jpg) no-repeat #f1f1f1 center }

#about_cont { position: relative; width: 100%; background: url(/assets/home/zb/img/about_bg_01.jpg) fixed no-repeat center 0px; height: 0px; overflow: hidden; }
#about_cont .sprite { background: url(/assets/home/zb/img/about_cont_01.png) fixed no-repeat center bottom; }

#about_cont .screen1 { width: 100%; background: url(/assets/home/zb/img/about_cont_03.png) fixed no-repeat center bottom; height: 700px; }
#famous { background: url(/assets/home/zb/img/famous_bg.jpg) fixed no-repeat center 0px; }
#famous .sprite { background: url(/assets/home/zb/img/famous_sprite_frei.png) fixed no-repeat center 411px; }
#famous .screen { background: url(/assets/home/zb/img/famous_sprite_frei.png) no-repeat center bottom; }

#news { background:#fff; }


#products { background:url(/assets/common/pic/bzbg.jpg) center no-repeat #f7f7f7}


#sector { background: url(/assets/home/zb/img/sector_bg.jpg) fixed no-repeat center 0px; }
#sector .sprite { background: url(/assets/home/zb/img/sector_sprite_frei.png) fixed no-repeat center 435px; }
#sector .screen { background: url(/assets/home/zb/img/sector_frei.png) fixed no-repeat center 300px; }
#contact { background: url(/assets/home/zb/img/technik_bg.jpg) no-repeat center top; }
#contact .sprite { background: url(/assets/home/zb/img/technik_sprite_frei.png) fixed no-repeat center 172px; }
#contact .contents { height: auto; }


.inputbox{ width:330px; height:360px; background:#fff; float:left; box-shadow:0px 0px 15px rgba(0,0,0,.2); margin-top:150px; padding:20px 0;}

/*#home .tit{  color:#fff; float:right; width:700px; height:500px; font-size:16px;  margin-top:150px;font-family:"Microsoft YaHei"; padding:0 30px; text-shadow:1px 1px 0px rgba(0,0,0,.25); margin-right:80px}
#home .tit p{ line-height:35px}
#home .tit p.lt2{ font-size:24px;font-weight: bold;}
#home .tit p a{ display:inline-block;  padding:0 10px; margin:0 10px; color:#FF3600;}
#home .tit h1{ font-size: 36px;}

*/

.zbottom{ width:100%; min-width:1210px; text-align:center; height:100px; line-height:100px; position:absolute; top:0; z-index:99999; margin:0 auto;}
.zbottom .zb_right,.zbottom .zb_left{ float:left; width:50%; display:block; height:100px}

.zbottom .zb_right{ background:url(/assets/common/pic/zbtit1.png) no-repeat center -300px #FFFFFF;box-shadow:0px 0px 15px rgba(0,0,0,.5); opacity:0.9}
.zbottom .zb_left{ background:url(/assets/common/pic/zbtit1.png) no-repeat center -100px #FFFFFF ;box-shadow:0px 0px 15px rgba(0,0,0,.5); opacity:0.9}
.zbottom .zb_left.current{  background-color:rgba(0,0,0,.0);  background-img: url(/assets/common/pic/zbtit1.png); box-shadow:none; background-repeat:no-repeat; background-position:center 0px ;background-color:#3c3c3c\9;}
.zbottom .zb_right.current{  background-color:rgba(0,0,0,.0); background-img: url(/assets/common/pic/zbtit1.png); box-shadow:none; background-repeat:no-repeat; background-position:center -200px;background-color:#3c3c3c\9;}
.zbottom .zb_right:hover,.zbottom .zb_left:hover{ opacity:1}
.tab-con-item{ display: none}
/*.inputbox .int{ width:300px; margin:0 auto;  height:36px;line-height:36px; margin-bottom:20px; overflow:hidden}
.inputbox .int input{ width:288px; border:0; margin:0; padding:0; height:34px; padding-left:10px; float:left; color:#888; line-height:30px;border:1px solid #ccc;}
.inputbox .int a{ width:100%; height:36px; line-height: 36px; display:block; float:left; text-align:center; color:#fff; font-size:14px; font-weight:bold ; background:#db393e }
.inputbox .int .sele{ width:141px; height:36px; line-height:36px;border:1px solid #ccc;color:#888; padding-left:10px;}
.inputbox .int .sele option{padding-left: 5px;}
.inputbox .int a:hover{ background:#d0383e; text-decoration:none}
.inputbox .tips{width:300px; margin:5px auto; color:#888}
.inputbox .tips i{ color:#dc4146}
*/
.newser { background:#fff; display:block; height:30px; text-align:center; line-height:30px; border-bottom:1px solid #f1f1f1; color:#888}
.newser li{ float:left}
.tlist1{ width:15%}
.tlist2{ width:25%; width:24%\9}

#news h1{ height:45px; font-size:30px;font-family:"Microsoft YaHei"; font-weight:100; margin-top:20px}
#news h1 em{font-size: 14px; margin-left: 5px;}
.maquee{ height:360px; overflow:hidden; overflow:hidden}
.maquee li{ line-height:29px; height:29px; text-align:center; border-bottom:1px dotted #f1f1f1}
.maquee li:hover{ background:#f7f7f7}
.maquee li span{ display:block; float:left}

#club{z-index:999; width:600px;height:200px;border:1px solid #f1f1f1\9;border-radius:5px; box-shadow:0px 0px 10px rgba(0,0,0,.2); padding:10px 20px; background:#fff;  margin-top:20px; bottom:60px}
#club .modle{width:600px;height:200px;float:left;}

#club .modle .modle_title{width:600px;height:29px;line-height:29px;font-size:12px;font-weight:bold;background:#f3f3f3;}
#club .modle .modle_title span{padding-left:7px;}
#club .modle .modle_con{width:600px;margin:0 auto;height:200px;overflow:hidden;}
#club .modle .modle_con .fn-clear{ padding:10px 0px; height:80px; overflow:hidden; line-height:25px}
#club .modle .modle_con .modle_img{width:50px;height:60px; float:left}
#club .modle .modle_con .modle_img img{ width:100%; height:100%}
#club .modle .modle_con .modle_text{width:540px;height:80px;overflow:hidden;padding-left:10px;float:right;}
#club .modle .modle_con .modle_text p i{color:#FE3D72;}
#club .modle .modle_con .modle_text p{color:#888; cursor: pointer;}


.zbbottom p{ font-size:30px;font-family:"Microsoft YaHei"; text-shadow:1px 1px 0px rgba(255,255,255,.8);}


#moquu_top,#moquu_wxin,#moquu_wshare,#moquu_wmaps{display: none;}
.kefu a#s-zxzb{display: none;}


/*20150524添加的*/
.zbtop1{ background:url(/assets/common/pic/zbbg1.png); height:117px}
.zbtop1 img{ display:block; margin:0 auto}

.zbtop2{ background:url(/assets/common/pic/zb3.jpg) center #e6fff8 no-repeat; height:82px}
.zbtop3{ background:url(/assets/common/pic/zb1.jpg) center no-repeat; height:527px}
.zbtop4{ background:url(/assets/common/pic/zb2.jpg) center no-repeat #eee; height:109px; margin:10px 0}

.zbtop3 .main{ float:right; width:250px; margin:50px; height:327px; background:#fff; box-shadow:3px 3px 0 rgba(129,110,183,.5); padding:25px; overflow:hidden; position:relative}

.zbtop3 .main .tab-con { width:250px; height:347px; overflow:hidden; position:relative}
.zbtop3 .main .tab-con .tab-con-item{ width:250px;}

.tab-nav{ line-height:20px; font-size:18px; font-family:Microsoft YaHei; border-bottom:#cfc7ed 1px solid; height:30px}
.tab-nav a{ position:relative; display:block; float:left; padding-bottom:4px; height:25px; font-weight:bold; width:50%; text-align:center; color:#61607d}
.tab-nav a i{ background:url(/assets/common/pic/zbtips.gif); position:absolute; right:0px; top:-7px; width:18px; height:7px}
.tab-nav a.current{ border-bottom:3px solid #ff5353; color:#434259;}
.tab-nav a:hover{ text-decoration:none; color:#f54c4c}
.tab-con-item { padding:5px 0}
.tab-con-item p{ line-height:25px; color:#666; overflow:hidden}
.tab-con-item p input[type=text]{color: #666; height:28px; border:1px solid #ccc; width:243px; padding-left:5px; margin:5px 0 10px 0; line-height:28px\0;}
.red{color:#f54c4c}
.tab-con-item p .full{ color: #666; height:28px; border:1px solid #ccc; width:100%; margin:5px 0 10px 0}
.tab-con-item p .half{color: #666; height:28px; border:1px solid #ccc; width:120px; margin:5px 0 10px 0; float:right}
.tab-con-item p option{padding-left: 5px;}
.tab-con-item p .mr10{ margin-right:10px}
.tab-con-item p .mt20{ margin-top:20px}
.tab-con-item p a.btn{ border:1px solid #fb3e3e; background:#ff5353; height:36px; display:block; width:100%; color:#fff; text-align:center; line-height:36px; font-size:14px; font-weight:bold; margin:5px 0 3px 0;}
.tab-con-item p a.btn:hover{ background:#fb3e3e; text-decoration: none;}

.anli{ width:644px; height:278px; margin:20px 0}
.anli li{position: relative;  width:160px; height:138px; margin-right:1px; margin-bottom:1px ; position:relative; overflow:hidden; float:left}
.anli li span{ left:0; line-height:25px; top:138px; width:140px; height:118px; padding:10px; background:url(/assets/common/pic/yzbg.png); position:absolute; color:#fff;transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition:  all 0.2s; /* Opera */ }
.anli li span strong{ font-weight:bold; display:block}
.anli li:hover span{ top:0;transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition:  all 0.2s; /* Opera */ }

.zbqa{ background:#f7f7f7; padding:20px; width:700px; *width: 690px; font-family:Microsoft YaHei; line-height:25px; margin-bottom:50px; height:275px}
.zbqa dt { font-size:14px; color:#666}
.zbqa dt span{ font-size:24px; color:#ff7676; margin-right:10px}
.zbqa dd{ color:#888; padding-left:30px}
h1.zbbtit{ font-family:"Microsoft YaHei"; font-weight:100; line-height:40px; margin-bottom:20px}
.pull-left{ float:left}
.pull-right{ float:right}
.zbwindow{ width:426px; border:2px solid #ff7676; padding:20px; height:271px}
.zbqa .tel{ line-height:40px; background:#fff; padding-left:10px; margin-top:20px; text-align:center; font-weight:bold; font-size:18px; color:#f25b5b}

.zbwindow p{ line-height:25px; color:#888; overflow:hidden}
.zbwindow p .mr10{ margin-right:10px}
.zbwindow p input[type=text]{ color: #666; display:block;height:38px; border:1px solid #ccc; width:410px; padding-left:5px; margin-top:10px; margin-bottom:10px; line-height:38px\0; float:left}
.zbwindow p .half{color:#666;  height:38px; border:1px solid #ccc; width:135px; margin-top:10px; margin-bottom:10px; float:right;}
.zbwindow p a.btn{ border:1px solid #fb3e3e; background:#ff5353; height:38px; display:block; width:100%; color:#fff; text-align:center; line-height:38px; font-size:14px; font-weight:bold; margin:10px 0 10px 0;}
.zbwindow p a.btn:hover{ background:#fb3e3e; text-decoration: none;}
.zbwindow p option{padding-left: 5px;}
.tab-con-item p .secbox_focus,.tab-con-item p input[type="text"].secbox_focus{border: 1px solid #DE4348;}

/*hack*/
/*分站城市,城市select去掉三角形下拉*/
.cs_select_nos {
border: 1px solid #CCC;position: absolute;overflow: hidden;margin: 5px 0 10px 0;float: left;height: 26px;
padding: 0 0 0 21px;width: 100px;
}
.cs_select_nosss {
  border: 1px solid #CCC;
  position: absolute;
  overflow: hidden;
  margin: 10px 0 10px 0;
  float: left;
  height: 36px;
  width: 144px;
}

.news-tit{ font-size:30px; font-family: "Microsoft YaHei"; line-height:60px; text-align:center; margin-top:50px}
.scroll_horizontal{position:relative;width:1190px;height:443px;padding:10px;}
.scroll_horizontal .news-box{overflow:hidden;position:relative;width:1000px;height:443px;margin:0 auto;}
.scroll_horizontal .news-list{overflow:hidden;width:9999px;}
.scroll_horizontal .news-list li{float:left; cursor: pointer; width:230px; height:413px;padding:10px; padding-top:30px; text-align:center; position:relative}
.scroll_horizontal .news-list li:hover span{ display:block}
.scroll_horizontal .news-list li span{ position:absolute; bottom:130px; right:20px; display:none; width:44px; height:44px; opacity:0.8}
.scroll_horizontal .news-list li span:hover{ opacity:1}
.scroll_horizontal .news-prev,
.scroll_horizontal .news-next{position:absolute;top:50%;margin-top:-25px;width:40px;height:50px;background-image: url(/assets/home/zb/img/control.png);background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}
.scroll_horizontal .news-prev{left:5px;background-position:0 0;z-index: 999;}
.scroll_horizontal .news-next{right:5px;background-position:-40px 0; z-index: 999;}
.scroll_horizontal .news-prev:hover{background-position:0 -50px;}
.scroll_horizontal .news-next:hover{background-position:-40px -50px;}

/*新发单窗*/
.order-box { width: 250px; height: 350px; position: relative; top: 15px; background: #fff; z-index: 3; text-align: center; border-radius:3px; font-family: "Microsoft Yahei"; padding: 15px 40px 0 40px }
.order-box h1 { font-size: 20px; font-weight: 100; margin-top:10px }
.order-box h2 { font-size: 14px; font-weight: 100; margin: 15px 0; }
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 15px; display: block;  }
.order-box .edit-city { width: 100%; height: 35px; border: 1px solid #dcd8d9; }
.order-box .yz-info{ height:25px; color:#ff5659; text-align:left}
.order-box button { width: 100%; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer }

.order-box{ float:right; margin-top:40px; box-shadow:3px 3px 0 rgba(88,38,180,0.3);border-color: #FFF;}