/*修改默认样式*/
.content {overflow-y: auto;}
.box {width: 1508px !important;border-radius: 0;}
.box-body {border-radius: 0;}
.tabnav a {
    margin: 0 20px;
}
/*页面主体样式*/
.select-option {
    margin-bottom: 32px;
    overflow: hidden;
}

.select-option input,.select-option select {
    width: 119px;
    height: 28px;
    margin-right: 9px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    outline: none;
    padding-left: 9px;
}

.set-height{
    max-height: 400px;
    line-height: 20px;
    margin-top: 50px;
    overflow-y: auto;
}
.text-danger{color: #ff5353 !important;}
.text-success{color: #0ab239 !important;}
.text-info{color: #359bed !important;}

/*修改轮播图默认样式*/
.carousel-inner .item img {
    text-align: center;
    margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
    font-size: 60px;
    color: #333
}

.all-index {
    text-align: center;
    color: #333;
    background: #fff
}

/*注释信息提示*/
.pop-notes {
    font-size: 24px;
    cursor: pointer;
}

.pop-notes-info {
    width: 279px;
    display: none;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 9px;
    top: 48px;
    box-shadow: 0 0 10px #999;
    font-size: 12px;
    background: #fff;
}
