html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


.turntable-bg {
  width: 531px;
  height: 531px;
  position: relative;
  float:right;
  background: url("/assets/home/special/img/turntable-bg2.png");
}
.turntable-bg .mask {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 116px;
  top: 60px;
  /*z-index:9;*/
}
.turntable-bg .pointer {
  width: 174px;
  height: 228px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -94px;
  margin-top: -130px;
  z-index: 8;
  cursor:pointer
}
.turntable-bg .rotate {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 40px;
  top: 38px;
}

body{ background:#ffd600; color:#114200}
.cjtit{ background: url(/assets/home/special/img/cjtit_01_01.jpg) center; height:458px}
.titwrap{ width:1200px; margin:0 auto; position:relative; height:458px}
.link1,.link2{ position:absolute; display:block}
.link1{ top:0; left:0; width:145px; height:68px}
.link2{ bottom:0px; left:151px; width:165px; height:80px}
.cjmainwrap{ background: url(/assets/home/special/img/cjtit_01_02_02.jpg) center top no-repeat; padding-top:50px}
.cjmain{ width:1120px; margin:0 auto;  border-radius:5px; background:rgba(255,245,192,.2); padding:40px; overflow:hidden; position:relative;}
.hjmes{background:#fff; border:2px solid #FFA600; left:250px; border-radius:5px;width:650px; height:80px; display:none; position: fixed; padding:40px; z-index:9998; top:40%; margin-top:-40px; opacity:0; box-shadow:0px 0px 5px rgba(0,0,0,.3)}
.hjmes p{ font-size:18px; font-family:"microsoft yahei"; text-align:center}
.hjmes p strong{ color:#FF3033}
.hjmes-sub{ cursor:pointer; background:#FF8136; color:#fff; margin:0 auto; width:100px; text-align:center; margin-top:30px; border-radius:5px; line-height:35px; height:35px;}
.hjmes-sub:hover{ background:#FF4242}

.zjlist{ width:400px; height:530px; float: left; margin-left:30px }
.zjlist .jpsd{ font-family:"microsoft yahei"; padding:0 20px;line-height:30px; font-size:18px; height:200px; margin-top:30px}.jpsd h3{ font-size:24px; line-height:50px; font-weight:100 }
.zjlist .jpsd p.tips{ font-size:14px}
.zjlist .namelist{font-family:"microsoft yahei"; height:260px; background:rgba(255,255,255,.5); padding:20px}
.zjlist .namelist h2{ font-size:24px; line-height:50px}
.zjlist .namelist .maquee{ height:210px; overflow:hidden; line-height:30px; font-size:16px}
.zjlist .namelist .maquee li span{ width:120px; display:inline-block; text-align:center}
.wrap{ width:1100px; margin:0 auto;}
.info{ margin-top:50px;font-family:"microsoft yahei";}
.info h4{ font-size:36px; font-weight:bold; line-height:80px}
.info p{ font-size:18px; line-height:30px}
.info p .red{ color:#F83030}

.erwm{ text-align:center; margin-top:50px}


.userinfo{ position:fixed; background:rgba(0,0,0,.6); top:0; bottom:0; left:0; right:0;z-index:9999;}
.userinfo-main{ position: relative; background:#ffd600; width:460px; height:350px; margin:0 auto; margin-top:100px;outline:10px solid rgba(255,214,0,.3); box-sizing:0; border:1px solid #f3ea8b; position:relative;font-family:"microsoft yahei"; line-height:30px;}
.userinfo-main h1{ font-size:18px; padding:20px}
.userinfo-main h1 span{ font-size:14px; margin-left:10px; color:#be9807}
.userinfo-main input[type=text]{color: #666;  border:0; height: 35px; line-height:35px; width:100%; padding:0 10px; box-sizing: border-box}
.userinfo-main input[type=text]:focus{ outline:none; box-shadow:0px 0px 3px #5ab345}
.userinfo-main li{ padding:0 20px; box-sizing: border-box}.userinfo-main li span{ color:#FF3F00; clear:both}
.userinfo-main li.half{ width:50%; clear: none; float:left}
.userinfo-main .userinfo-btn{ cursor:pointer; background:#FF8136; color:#fff; margin:0 auto; width:100px; display:block; border:0; position: absolute; bottom: 20px; left:50%; margin-left: -50px; border-radius:5px; line-height:35px; height:35px; font-size:16px}.userinfo-main .userinfo-btn:hover{ background:#FF4242}
.userinfo-main .userinfo-shut{ position:absolute; width:20px; height:20px; right:0; top:0; line-height:20px; text-align:center; cursor:pointer; background:#fd6533; color:#fff}
.userinfo-main .verify{margin-top: 30px; cursor: pointer;}
.userinfo-main .sms{border: 1px solid #5AB345; box-shadow: 0px 0px 3px #5AB345; height: 35px; margin-top: 30px; background: #5AB345; color: #FFF; cursor: pointer;}
.userinfo-main .sms[disabled]{background: #EFEFEF; color: #999; border: 1px solid #EFEFEF;box-shadow: 0px 0px 3px #5AB345;}