/*
* @Author: qz_xsc
* @Date:   2017-09-25 09:31:39
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-12-01 11:36:25
*/
*{ padding:0;margin:0; border:0; list-style:none; font-style:normal}
::-moz-selection{ background: #fffe8c; color:#fff; text-shadow: none; }
::selection { background:#fffe8c; color:#fff; text-shadow: none; }
body{
font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; font-size:12px;overflow-x: hidden;}
input:focus {outline:none;}
a{ color:#333;text-decoration: none;}
a:hover{ color:#dc4146;text-decoration: underline;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
}

input:-ms-input-placeholder{
    color: #999999;
}

input::-webkit-input-placeholder{
    color: #999999;
}
.oflow{overflow: hidden;}
.body-content{width: 100%;height: auto;overflow: hidden;background: url('/assets/home/special/img/activity-bg.jpg');}
.red{ color:#ff6283}
.pull-right{ float:right}
.pull-left{ float:left}
.menutop{ background:#f1f1f1; height:30px; line-height:30px}
.mt20{ margin-top:20px}
.btn:hover{opacity: 0.8}
.clear{clear:both;}

.acitvity-banner{width: 100%;height: 590px;position: relative;margin: 0 auto;}
.acitvity-banner img{width: 1920px;height: 590px;position: absolute;top: 0;left: 50%;margin-left: -960px;}
.wrap{ width:1210px; margin:0 auto;}
.body-content .wrap{margin-top: -4px;}
.body-box{width: 100%; height: 100px;}
.item-box{position:relative;}
.fa-dan-1{width:1210px;height: 80px;background: #ff2525; position:absolute; bottom:0px; left:50%; margin-left: -605px;}
.fadan-1-content .pos-input{margin-left: 350px;}
.fadan-1-content{width: 1210px; margin: 0 auto;position: relative;margin-top: 20px}
.fadan-1-content span{padding:10px;}
.pos-set{margin-top: 21px;}
.fadan-1-content span:first-child{margin-left: 100px;}
.fadan-1-content img{position: absolute;left: 0;bottom: -24px;}
.fadan-1-biaoyu{font-size:30px; color: #fff;position: absolute;left: 175px;top: -15px;}
.fadan-1-input select{ width:200px; height: 35px;color: #333333;}
.fadan-1-input input{ width:200px; height: 35px; padding-left: 8px; color: #333333;box-sizing: border-box;}
.btn-submit{height:36px;line-height:36px;background: #000;color:#fff;display: inline-block; margin-left: 15px; cursor: pointer; font-size: 14px; padding:0 33px !important;}
.act-title{width:560px;height: 77px; margin:35px auto; line-height: 80px; color:#fff; font-size: 22px; text-indent: 104px;}
.title-one{margin: 0 auto;text-align: center;margin-top: 50px;}
.festival-red{background: #fff7f2;border-radius: 8px;overflow: hidden;margin-top: 50px;box-shadow: 0 0 5px 0 #ccc;padding-bottom: 25px;}
.title-modal{
	width: 590px;height: 64px;
	background: #ff2525;margin: 0 auto;
	font-size: 30px;font-weight: bold;
	color: #fff;text-align: center;
	line-height: 64px;margin-top: 53px;
	position: relative;
}
.title-modal::before{
	content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 34px solid transparent;
    border-left: 13px solid #fff7f2;
    border-bottom: 34px solid transparent;
}
.title-modal::after{
	content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 34px solid transparent;
    border-right: 13px solid #fff7f2;
    border-bottom: 34px solid transparent;
}
.empty-box{width: 304px;height: 10px;border: 3px solid #ff2525;margin: 0 auto;border-top: 0;}
.img-info img{margin-top: 50px;margin-left: 170px;}
.red-title{width:292px;float: right;margin-right: 226px;margin-top: 90px;text-align: center;}
.red-title p{color: #333;}
.red-title .red-title-1{font-size: 30px;line-height: 30px;margin-bottom: 25px;}
.red-title .red-title-2{font-size: 24px;line-height: 24px;margin-bottom: 50px;}
.red-title span{color: #fb8920;}
.red-btn{width: 200px;height: 50px;line-height: 50px;font-size: 24px;color: #fff;background: #fb8920; cursor: pointer; text-align: center;margin: 0 auto;border-radius: 50px;box-shadow: 0 0 12px 0 #fb8920;}
.red-price{font-size: 28px;line-height: 50px;margin-left: 270px;font-weight: bold;}
.red-price span{color: #ff2525;}
.reward{background: #fff7f2;border-radius: 8px;overflow: hidden;margin-top: 20px;box-shadow: 0 0 5px 0 #ccc;padding-bottom: 25px;}
.reward-title{font-size: 22px;text-align: center;line-height: 45px;margin-top: 40px;}
.reward-title span{color: #ff2525;}
.reward-product{text-align: center;}
.activity-rules{background: #fff7f2;border-radius: 8px;overflow: hidden;margin-top: 50px;margin-bottom:60px;box-shadow: 0 0 5px 0 #ccc;}
.activity-rules p{font-size: 26px;color: #333;line-height: 30px;margin-top: 55px;margin-left: 76px; line-height: 40px;color: #333;}

.last-img{position: relative;margin-top: 50px;}
.add-newinfo{width: 746px;height: 178px;background: #ff9801;position: absolute;right: 75px;bottom: 4px;}
.add-newinfo p{color: #fff;font-size: 17px;text-align: left;line-height:34px;text-indent: 2em;padding:0 74px;font-family: 'microsoft yahei'}
.add-newinfo p.p1{margin-top: 30px;}
.add-newinfo p.p2{font-size: 24px;padding: 0 66px;}
.bottom-fendan{background: #ff2525; margin-top:20px; width:100%; height: 80px; position: fixed; bottom:0px;display: none;}
.hqbj{min-height: auto;margin-top: -2px;}
.bottom-kong{height:100px;}

.success-mark{width: 100%;height: 100%;background: rgba(0,0,0,.55);position: fixed;left: 0;top: 0;z-index: 99;display: none;}
.success{width:400px; height: 270px; background: #fff; border-radius: 5px; position: fixed; margin:auto; left:0px;top:0px;right:0px;bottom: 0px; border:1px solid #DEDEDE; text-align: center; display: block; box-sizing: border-box;}
.success .success-title{ font-size: 24px; line-height: 96px; color: #ff2525;}
.success .fa-close{position: absolute;right:10px;top: 6px;font-size: 24px;-webkit-text-stroke:3px #fff; color: #666;cursor: pointer;}
.success #success-input{width: 250px;height: 35px;border: 1px solid #ccc;color: #333;box-sizing: border-box;padding-left: 10px;font-size: 14px;}
.success .success-tip{font-size: 12px;color: #000;line-height: 30px;padding-left: 15px;}
.success #success-btn{width: 250px;height: 35px;background: #ff2525;font-size: 14px;color: #fff;display: inline-block;line-height: 35px;margin-top: 25px;cursor: pointer;}

.liangfang{margin-top: -20px;}
.get-price{margin-top: -20px;}
.zxbj{margin-top: -3px}
.hdjp{margin-top: -29px;}
.mxtb{margin-top: -18px;}
.smhd{margin-top: -69px;}





/* 公布结果 */
#marquee{height: 380px; overflow: hidden;  border:1px solid #FF2525; margin:0px 76px;}
.hdlist_head{background: #FF2525; color:white; font-size: 0px; line-height: 30px; border:1px solid #FF2525; border-bottom:none; margin:0px 76px; }
.hdlist  p{font-size: 14px; margin-bottom:5px;}
.hdlist_body li{line-height: 30px; font-size: 0px;}
.hdlist_body li span{display: inline-block;width:25%; font-size: 15px;text-align:center;line-height: 35px;}

.hdlist_head span{display: inline-block;width:25%; font-size: 16px;text-align:center;line-height: 35px;}
.small_info{margin:10px 76px; font-size: 15px;}


