* {
    margin: 0;
    padding: 0;
    color: #114200;

}
html {
    -webkit-text-size-adjust: none
}
body {
    -moz-user-select: none;
    font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #ffd600 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
ul li, ol li, dl li {
    list-style-type: none
}
img {
    border: 0;
    vertical-align: bottom;
}
em {
  font-style: normal;
  font-size: inherit;
}
a{
    text-decoration: none;
}
i{
    font-style:normal;
}


.wrap{
width: 100%;
min-height:320px;
max-height:640px;
 margin:auto;
 background:url(/assets/home/special/img/m-bg.jpg) top center no-repeat;
 background-size:100%;
 padding-top:500px;
 }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


.turntable-bg {
  width: 531px;
  height: 531px;
  position: relative;
  margin:auto;
  background: url("/assets/home/special/img/turntable-bg2.png");
}
.turntable-bg .mask {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 116px;
  top: 60px;
  /*z-index:9;*/
}
.turntable-bg .pointer {
  width: 174px;
  height: 228px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -94px;
  margin-top: -130px;
  z-index: 8;
  cursor:pointer
}
.turntable-bg .rotate {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 40px;
  top: 38px;
}
.hjmes{background:#fff; border:2px solid #FFA600; left:10%; border-radius:5px;width:80%;display:none; position: fixed; padding:40px; z-index:9998; top:40%; margin-top:-40px; opacity:0; box-shadow:0px 0px 5px rgba(0,0,0,.3); box-sizing:border-box}
.hjmes p{ font-size:18px; font-family:"microsoft yahei";}
.hjmes p strong{ color:#FF3033}
.hjmes-sub{ cursor:pointer; background:#FF8136; color:#fff; margin:0 auto; width:100px; text-align:center; margin-top:30px; border-radius:5px; line-height:35px; height:35px;}


.cjcs{ text-align:center; font-size:28px; color:#fc6533; margin:50px;}

.m-zw{ margin:50px; font-size:24px}
.m-zw h3,.m-zw h4{ font-size:36px}
.m-zw img{ margin:auto}
.m-zw .red{ color:#ff4102}

.userinfo{ position:fixed; background:rgba(0,0,0,.6); top:0; bottom:0; left:0; right:0;z-index:9999;}

.userinfo-main{ background:#ffd600; width:80%; height:auto; margin:0 auto; margin-top:20px;outline:10px solid rgba(255,214,0,.3); box-sizing:0; border:1px solid #f3ea8b; position:relative;font-family:"microsoft yahei"; line-height:30px; padding-bottom:20px}
.userinfo-main h1{ font-size:28px; padding:20px}
.userinfo-main h1 span{ font-size:18px; margin-left:10px; color:#be9807}
.userinfo-main input[type=text]{ font-size:28px; border:0; line-height:80px; height:80px; width:100%; padding:0 10px; box-sizing: border-box}
.userinfo-main input[type=text]:focus{ outline:none; box-shadow:0px 0px 3px #5ab345}
.userinfo-main li{ font-size:24px; padding:0 20px; box-sizing: border-box; margin-top:20px}
.userinfo-main li span{ color:#FF3F00; clear:both}
.userinfo-main .userinfo-btn{ cursor:pointer; background:#FF8136; color:#fff; margin:0 auto; width:100%; display:block; border:0; margin-top:30px; border-radius:5px; line-height:80px; height:80px; font-size:28px;font-weight: bold;}
.userinfo-main .userinfo-shut{ position:absolute; width:40px; height:40px; right:0; top:0; line-height:40px; text-align:center; cursor:pointer; background:#fd6533; color:#fff}
.userinfo-main .sms{border: 1px solid #5AB345; box-shadow: 0px 0px 3px #5AB345; height: 80px;
  padding:0 20px; font-size: 28px; margin-top: 30px; background: #5AB345; color: #FFF; cursor: pointer; font-weight: bold; font-family: microsoft yahei;}
.userinfo-main .sms[disabled]{background: #EFEFEF; color: #999; border: 1px solid #EFEFEF;box-shadow: 0px 0px 3px #5AB345;}
.userinfo-main .verify{display: inline-block;width: auto; margin-left: 20px;  }
.userinfo-main .half{ width:40%; clear: none; display: inline-block;  }