/*
* @Author: qz_xsc
* @Date:   2018-06-27 16:39:40
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-07-11 09:42:52
*/

*{margin:0px;}
.wrap-hgj img{display: block; margin:0px auto;}
.wrap-hgj{ margin:0px auto;background: #FFC42C }
.quan-box{position: relative; background:url("//staticqn.qizuang.com/pc/assets/home/special/img/bg-quan.png");}
.quan-table{width:1094px; margin:auto;  position: absolute; left: 50%; margin-left: -547px;top:50%; margin-top: -122.5px;}
.large-img{width:391px !important; height: 245px!important;  position: absolute; left: 0px;top:0px; }
.small-img{width:231px!important; height:118px!important;  position: absolute; left: 0px;top:0px; }
.middle-bg{width:1280px; height: 458px; background:url("//staticqn.qizuang.com/pc/assets/home/special/img/quan_bg.jpg");}
.quan-table td{position: relative;}
.quan-table div.large{width:97px; cursor: pointer; height: 245px;   top:0px; right: 0px; position: absolute;}
.quan-table div.large img{top:0px;}
.quan-table div {width:69px;cursor: pointer; height: 122px;  top:0px; right: 0px; position: absolute; overflow: hidden; }
.quan-table div img{position: absolute;right:3px;top:2px;}
.fadan_win{width:510px;margin:auto; height:360px;position: fixed; left:0px; right:0px;top:0px;bottom:0px; border:3px solid #FFCDCD; border-radius: 3px; background:#fff; display: none; z-index:18}
.box-line{width:300px; margin:15px auto;}
.box-line input{width:220px; height: 30px;margin-left: 10px; border-radius: 5px; border:1px solid #DDDDDD; text-indent:5px; }
.box-line label{font-size: 15px;}
.box-title{font-size: 28px; color: #333; text-align: center; padding-top: 30px; padding-bottom: 20px;}
.btn-get{background:#ff5353; color:#fff; width:100%;height: 35px; margin-top: 20px; border-radius: 5px; font-size: 14px}
.close_line{position: absolute; height: 80px; width:2px; background:#ddd; right: 20px; top:-60px; }
.close_line img{position: absolute;margin-left: -8px;cursor: pointer;}
.close_line i{position: absolute; bottom:-23px; font-size:50px; left:-8px;color:#DDDDDD;}
.relative-box{position: relative }
input{line-height: 30px}
.closed_box{width:30px; height: 20px; background:#ddd; position: absolute; top:-15px;right:-12px}
.success_info{width:409px; height: 268px; background:url("//staticqn.qizuang.com/pc/assets/home/special/img/success.png"); margin:50px auto;}
.top-banner{width: 1280px; height: 500px; background:url("//staticqn.qizuang.com/pc/assets/home/special/img/hgj-banner.jpg"); margin:0px auto;}
.sysdsq{width:1280px; height: 500px; background:url("//staticqn.qizuang.com/pc/assets/home/special/img/sysdsq.jpg"); margin:0px auto; cursor: pointer;}
.bgsm{width:1280px; height: 460px; background:url("//staticqn.qizuang.com/pc/assets/home/special/img/hdsm.jpg");margin:0px auto;}
.sm_bg{background:url("//staticqn.qizuang.com/pc/assets/home/special/img/bg-sm.png")}
