.zxbj{background-image: url(../img/bg2.png); height:450px;padding-top: 150px;background-repeat: no-repeat;background-position: top center;}
.zxbj-box{height: 420px;border: 1px solid #ddd; background: #fff;box-sizing: border-box;box-shadow: 0px 1px 10px 0px #ccc;}
.znbj-con {margin-top: 50px;overflow: hidden;}
.znbj-con-tit {width: 100%;height: 98px;text-align: center;overflow: hidden;line-height: 25px;}
.znbj-con-box{height: 350px;float: left;margin-left: 152px;}
.znbj-con-l{width: 258px;position: relative;margin: 0 auto;}
.znbj-con-r{width: 310px;float: left;position: relative;}
.znbj-con-m {float: left;position: relative;}
.con-l-text{color: #333;font-weight: bold;font-size: 20px;line-height: 24px;text-align: center;}
.text-con{color: #333;font-size: 12px;font-family: "Microsoft Yahei";line-height: 12px;text-align: center;margin-bottom: 17px;margin-top: 8px;}
.text-red{color: #ff7605;}
.znbj-form{margin-top: 10px;}
.znbj-form .form-line input{width: 258px;height: 38px;color: #333;padding-left: 8px;border: 1px solid #ccc;box-sizing: border-box;font-family: "Microsoft Yahei";}
.znbj-form .form-line select{width: 125px;height: 38px;color: #333;border: 1px solid #ccc;box-sizing: border-box;font-family: "Microsoft Yahei";}
.znbj-form .form-line select:first-child{margin-right: 4px;}
.znbj-form .form-line{margin-bottom: 24px;}
.znbj-form .form-line .mianji-icon {float: right;position: relative;bottom: 28px;right: 8px;}


.con-m-bgt{width: 336px;height: 330px;overflow: hidden;/*background-image: url(../img/btn-bg.png);background-repeat: no-repeat;background-position: top center;*/}
.clickbtn{width: 120px;height: 120px;box-sizing: border-box;margin:0 auto;cursor: pointer;width: 134px\0;height: 134px\0;
    margin-top:86px;background: url(../img/go_calc_btn.gif) no-repeat;overflow: hidden;background-size: 100% 100%;}
.resend{width: 120px;height: 120px;box-sizing: border-box;margin:0 auto;cursor: pointer;width: 134px\0;height: 134px\0;
   background: url(../img/go_calc_btn2.gif) no-repeat;overflow: hidden;margin-bottom: 10px;background-size: 100% 100%;}

.con-m-bgt .erweima{width: 120px;height: 120px;background: url(../img/erweima.jpg) no-repeat;margin:0 auto;
    background-size: 100% 100%;}
.cxjisuan .shaoma{text-align: center;margin-top: 10px;font-size: 14px;color: #333;}
.con-m-bgt a{width: 92px;height: 92px;margin-left: 7px;margin-top: 5.3px;display: block;box-sizing: border-box;border-radius: 50%;
    background-color: #f39801;text-align: center;overflow: hidden;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -webkit-box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -moz-box-shadow:inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}
.con-m-bgt a:hover{background-color: #f6ae2e;}
.con-m-bgt a:active{
    margin-top: 6.2px;
    box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
    -webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
    -moz-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
}
.con-m-bgt a:active i{margin-top: 18px;}
.con-m-bgt a i{display: block;color: #fff;margin-top: 16px;font-size: 24px;line-height: 32px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;}
.con-r-ul{margin-top: 24px;border: 1px solid #e6e6e6;padding:18px 50px;}
.con-r-ul li{overflow: hidden;}
.con-r-ul li span{width: 77px;line-height: 33px;text-align: left;float: left;font-size: 14px;color: #333;font-family: "Microsoft Yahei";}
.con-r-ul li div{width: 120px;height: 33px;float: left;line-height: 38px;text-align: right;box-sizing: border-box;}
.con-r-ul li div p{color: #333;font-size: 12px;}
.con-r-ul li div p i{
    margin-right: 10px;
    display: inline-block;
    width: 80px;
    color: #ff7605;
}

.znbj-info{width: 100%;height: 110px;margin-top: 27px;background-color: #f2f2f2;}
.znbj-info .znbj-info-tit{width: 50%;height: 110px;float: left;overflow: hidden;}
.znbj-info-tit p{line-height: 110px;text-align: center;font-size: 22px;}

.znbj-info .znbj-info-person{width: 50%;height: 110px;float: left;overflow: hidden;}
.znbj-info .znbj-info-person ul{height: 50px;margin-top: 28px;padding-top:8px;overflow: hidden;}
.znbj-info .znbj-info-person ul li{color: #666;text-align: center;font-size: 12px;line-height: 12px;margin-bottom: 20px;}

.znbj-info .znbj-info-person ul li span{margin-right: 10px;}


#company-video{width:690px;height:388px;margin-top:10px;margin-left:10px;background-color: #000;
    box-sizing:border-box;float: left;}
#company-video_wrapper{display: inline !important;}
.company-info{margin-top:20px;text-align:center;font-size:14px;line-height:12px;color:#666;}
.company-info p{margin-bottom: 8px;}
.con-r-hint{font-size:14px;color:#666;margin-top:20px;line-height:15px;}
.info-hint{overflow: hidden;}
.info-hint-tit{float:left;margin-left:100px;line-height:110px;font-size:18px;}
.info-hint-con{font-size: 14px;margin-top:35px;color:#333;}
.weixin .weixin-ss{text-align:center;font-size:14px;color:#333;float:left;margin-top:35px;margin-left:300px;margin-right:10px;}
.weixin .weixin-img{float:left;margin-top:16px;}

.hide{display: none;}

.shipinkz{height: 508px;background: #f7f7f7;position: relative;}
.shipinkz .shipinzt{width: 1210px;height: 408px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;background: #fff;}
.shipinkz .shipinzt .shipinwz{width: 690px;height: 388px;background: #333;margin-top: 10px;margin-left: 10px;
display: inline-block;float: left;}
.shipinkz .shipinzt .wzmsright{overflow: hidden;display: inline-block;
float: left;margin-top: 76px;margin-left: 100px;}
.shipinkz .shipinzt .wzmsright .jinbjtitle{font-size: 34px;color: #ff5353;font-weight: bold;}
.shipinkz .shipinzt .wzmsright .jinbjtitle02{font-size: 16px;color: #666;margin-top: 5px;}
.shipinkz .shipinzt .wzmsright .ulwenzi{font-size: 18px;color: #333;margin-top: 27px;}
.shipinkz .shipinzt .wzmsright .ulwenzi li{line-height: 33px;height: 30px;}
.shipinkz .shipinzt .wzmsright .ulwenzi li .fa-circle{color: #ff7605;font-size: 12px;margin-right: 10px;}

.txfwkz{background: #fff;height: 600px;position: relative;}
.txfwkz .txfwzt{width: 1210px;height:440px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;
}
.txfwkz .txfwzt a{width: 250px;height: 188px;overflow: hidden;float: left;}
.txfwkz .txfwzt .yizans{width: 504px;height: 122px;margin-left: 104px;margin-top: 34px;display: inline-block;float: left;}
.txfwkz .txfwzt .yizans02{float: right;}
.txfwkz .txfwzt .jiantou01{display: inline-block;width: 18px;height: 20px;
    background: url(../img/txfwjiantou2.png) no-repeat;position: absolute;top: 210px;left: 115px;}
.txfwkz .txfwzt .yizans03{clear: both;margin-top: 64px;}
.txfwkz .txfwzt .jiantou02{display: inline-block;width: 18px;height: 20px;
    background: url(../img/txfwjiantou.png) no-repeat;position: absolute;top: 335px;left: 276px;}
.txfwkz .txfwzt .yizans04{float:left;margin-top: 64px;margin-left: 70px;}
.txfwkz .txfwzt .jiantou03{display: inline-block;width: 18px;height: 20px;
    background: url(../img/txfwjiantou.png) no-repeat;position: absolute;top: 335px;left: 596px;}
.txfwkz .txfwzt .yizans05{float:left;margin-top: 64px;margin-left: 70px;}
.txfwkz .txfwzt .jiantou04{display: inline-block;width: 18px;height: 20px;
    background: url(../img/txfwjiantou.png) no-repeat;position: absolute;top: 335px;left: 916px;}
.txfwkz .txfwzt .yizans06{float:left;margin-top: 64px;margin-left: 70px;}
.txfwkz .txfwzt .jiantou05{display: inline-block;width: 18px;height: 20px;
    background: url(../img/txfwjiantou3.png) no-repeat;position: absolute;top: 211px;right:115px;
}
.footer{margin-top: 0 !important;}



.znbj-jrx{width: 90px; height: 35px; float: left;}
.choose input{height:35px;}
.zxbj-box .znbj-con .left{display:flex;width:600px;height:370px;float:left;position:absolute;left:150px;}
.zxbj-box .znbj-con .right{width:600px;float:right;height:370px;font-size:14px;position:relative;}
.message{font-size:14px;color:#979797;margin-bottom: 10px;}
.message .znbj-s1{font-size:18px; font-weight:700;color:#242424;}
.message .znbj-s2{color:#ff5858;}
.message span{font-size:14px;}
.choose{overflow:hidden;}
.fullname{margin-bottom:10px;}
.fullname .znbj-right{float:left;font-size:14px;font-weight:700;height:35px;line-height:35px;}
.choose .znbj-right{font-size:14px;font-weight:700;}
.fullname .mess{display:block;width:120px;height:24px!important; border:1px #ccc solid; float:left;margin-left:14px;margin-right:20px;margin-top:6px;}
.znbj-jrxsex{width:50px;float:left;}
.znbj-jrxsex input{height:35px;float:left;}
.znbj-jrxsex label{display:block;float:left;height:35px;line-height:35px;}
.zxtime input{float:left;}
.zxtime label{display:block;float:left;height:35px;line-height:35px;}
.znbj-lftime input{float:left;}
.znbj-lftime label{display:block;float:left;height: 35px; line-height: 35px;}
.prompt{margin:10px 0;color:#949494;}
.prompt span{color:#ff9900; font-weight:500}
.btn{width:104px;height:40px;background:#ff5353;color:#fff;margin-left:140px;border-radius:3px;margin-top:12px;border-radius:5px;}
#znbj-tck{width:220px;height:40px;background:black;opacity:.5;color:white;text-align:center;line-height:40px;font-size:16px;position: absolute;;right: 0;left: 0;margin: auto;display:none;margin-top:120px;}


.znbj-con .line{width:0;height:370px;position:absolute;top:25px;left:602px;border:1px #ccc dashed;}
.left-third{width:600px;float:left;}
.left-third div,.left-third h2, .left-third p{width:600px;}
.left-third div img{display:block;margin:0 auto;margin-top:50px;}
.left-third h2{font-size:22px;font-weight:700; text-align:center;margin-bottom:20px;}
.left-third p{font-size:16px; text-align:center;}
.right-third{width:600px;float:right;}
.right-third h1{font-size:22px; text-align:center; margin-bottom:14px;}
.right-third p{font-size:16px; text-align:center; margin-bottom:20px;}
.right-third p span{color:red;}
.choose-third{font-size:14px;margin-left:40px;}
.step4-jrx{width:170px;height:38px;float:left;}
.step4-jrx img{float:left;height: 13px;margin-top:10px;}
.step4-jrx label{display:block;float:left;height:38px;line-height:38px;margin-left:10px;margin-top:-2px;}
.wx img{display:block;margin:0 auto;width:140px;}