
html {
    -webkit-text-size-adjust: none
}
html{font-size: 100px;}/*iphone 4/5*/
body{font-size: 0.14rem /*实际相当于14px*/}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}

}
@media (min-device-width : 320px) and (max-device-width : 360px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}


}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}


}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}


}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}.one_body{margin:3px 0px;}
}


*{margin:0px;padding:0px;}
.body-box .imgbox{ width:100%; position: relative;height:3rem;}
.imgbox:nth-child(1){
    background: url("/assets/home/qixi/img/mweb_1.gif") no-repeat top center;
    background-size: auto 100%;
}
.imgbox:nth-child(2){
    background: url("/assets/home/qixi/img/mweb_2.gif") no-repeat top center;
    background-size: auto 100%;
}
.imgbox:nth-child(3){
    background: url("/assets/home/qixi/img/mweb_3.gif") no-repeat top center;
    background-size: auto 100%;
}
.imgbox:nth-child(4){
    background: url("/assets/home/qixi/img/mweb_4.gif") no-repeat top center;
    background-size: auto 100%;
}
.imgbox:nth-child(5){
    background: url("/assets/home/qixi/img/mweb_5.gif") no-repeat top center;
    background-size: auto 100%;
}
.imgbox:nth-child(6){
    background: url("/assets/home/qixi/img/mweb_6.gif") no-repeat top center;
    background-size: auto 100%;
}
.imgbox:nth-child(7){
    background: url("/assets/home/qixi/img/mweb_7.gif") no-repeat top center;
    background-size: auto 100%;
}
.body-box div img{height:100%; position: absolute;z-index:9;  }
.form-box{position: absolute;left:0px; width:100%; z-index: 1;height:3rem;top:2.01rem;}
.center-box{margin:0 auto;width:2.5rem;height: 100%;background: white;}
#zxkf{
    z-index:999;
}
#gotop{
    z-index:999;
}
.center-box .title{font-size: 1em; text-align: center;padding-top: 0.2rem}
.center-box p{font-size: 14px; text-align: center; line-height: 55px;}
.input-container{width:90%;margin:0 auto;}
.center-box input[type="text"],.center-box input[type="tel"]{
    padding-left: 10px; font-size: 0.7em;
    -webkit-appearance: none; width:95%; height: 100%; border:none;

}
.center-box  select{width:49%; height:0.25rem; margin-bottom: 0.12rem;  color:#757575; padding-left:8px; font-size: 0.9rem}
.center-box  select:nth-child(1){float: left;}
.center-box  select:nth-child(2){float: right;}
.center-box input[type="submit"]{width:100%; height:0.28rem; background-color:#FF5151; border:none; color: white;border-radius:3px; -webkit-appearance: none;
}
#saveNow {width:100%; height:0.3rem; background-color:#FF5151;font-size: 0.13rem; border:none; color: white;border-radius: 3px;margin-top: 0.1rem}
.c-zb-city-qixi{ padding-left: 5px; box-sizing: border-box; height:0.28rem; width: 100%; text-align: left;  background: #fff; font-size:0.7em;color: #a9a9a9;margin-bottom: 1em;border:1px solid #A9A9A9;}

.input_box1{
    width:99%; height:0.28rem; margin-bottom: 0.17rem; border:1px solid #A9A9A9;
}

.text-box{
    position: absolute;width:100%;height: 100%;
    z-index: 9;top:0px;left:0px;color: white;
}
.itemBox{position: absolute;top:1.1rem;width: 100%; text-align: center;font-family: "SimSun";}

.one_title{
   font-size:0.19rem;
}
.one_body{
   font-size:0.13rem; margin:0.06rem auto;
}
.one_bottom{font-size:0.06rem;background-color: #EE0661;padding:2px 4px;}
.itemBox_1{
    position: absolute;width: 100%; line-height: 0.2rem;
    top:1.9rem;
}
.two_title{
    color: #EE0661;text-align: center;
}
.two_body{font-size: 0.1rem;width:86%;margin:0.1rem auto;}
.two_bottom{text-align: center;font-size: 0.1rem;}
.itemBox_3{
    width: 93%;margin:0 auto;
}
.text{top:-0.22rem;}
.jxsz{
    width:50%; float: left;text-align: center;
}
.jx_title{font-size: 0.2rem}
.jx_num{ margin:0.1rem;}
.jx_num span{
    font-size:0.3rem; color: #EE0661;
}
.jx_bottom{font-size: 0.08rem}
.itemBox_4{position: absolute;text-align: center; width:100%; top:-0.25rem;
}
.itemBox_4 .two_bottom{
    color: white; font-size: 0.13rem;margin-top: 0.1rem
}
.last{
    background:#1B133E; text-align:center; color:white;padding-bottom: 0.25rem;
}
.last .jx_title{
    font-size: 0.15rem;
}
.last .two_bottom{
    margin-top: 0.1rem;font-size: 0.1rem
}