input,select{outline: none;}

.add-waik{overflow: hidden;}
.btn-addfl{background: #1890ff;color: #fff;}
.tabwaik{overflow: hidden;margin-top: 24px;border-top: 1px solid #e6e6e6;padding-top: 24px;}
.tabwaik .hangwk{overflow: hidden;}
.hangwk .wrapselect{display: inline-block;width: 352px;}
.hangwk .wrapinput{display: inline-block;width: 342px;}
.tishi{height: 24px;color: #f5222d;font-size: 12px;margin-left: 80px;}
.hangwk .hangwk-title{width: 75px;text-align: right;display: inline-block;line-height: 38px;}
.inputxing{color: #f5222d;margin-left: 14px;}
.selectxing{color: #f5222d;margin-left: 4px;}
.topjvli{margin-top: 24px;}
.tdspan{display: inline-block;width: 160px;border-bottom: 1px solid #cccccc;
padding: 12px;}
.tdspan input{border:0;}
.delquchu{color: #f5222d;cursor: pointer;}
.wrapadd{height: 38px;line-height: 38px;border:1px dashed #d6d6d6;margin-top: 30px;text-align: center;
color: #999;cursor: pointer;}
.wrapadd .fa-plus{margin-right: 15px;}
.yihanglie{display: inline-block;float: left;}
.lefjvli{margin-left: 145px;}
table.p-suppliertab tr td .tishi{height: 0 !important;width: 100%;text-align: left !important;
margin-left: 0 !important;position: relative;top: 15px;}
.selectgz-tishi{position: relative;top: 3px !important;}

.footwk{overflow: hidden;}
.cancelbtn{margin-left: 20px;background: #fff;border:0;}

.p-suppliertab tbody tr:hover{
    background: none !important;
}


