::-moz-placeholder { color: #666; font-family: "Microsoft Yahei"; }
::-webkit-input-placeholder { color:#666; font-family: "Microsoft Yahei"; }
:-ms-input-placeholder { color:#666; font-family: "Microsoft Yahei"; }
input,select{outline: none;margin: 0;}
.p-form-title{float: left;}
.p-input{float: left;}
.tabbiaot{overflow: hidden;}
.tabbiaot li{display: inline-block;float: left;font-size: 16px;color: #000;padding: 14px 24px;
font-weight: 600;}
.tabbiaot li a{color:inherit}
.active{border-bottom: 2px solid #1890ff;}
.active a{color: #1890ff!important;}
/* .add-waik{overflow: hidden;} */
.btn-addfl{background: #1890ff;color: #fff;}
.tabwaik{overflow: hidden;margin-top: 24px;border-top: 1px solid #e6e6e6;padding-top: 24px;
line-height: 38px;}
.tabwaik .hangwk{overflow: hidden;margin-top: 24px;}
.hangwk .hangitem{display: inline-block;width: 30%;float: left;}
.hangwk .hangitem .danweipf{color: #7a7a7a;margin-left: 5px;}
.colorhui{color: #7a7a7a;}
.topjvli{margin-top: 24px;}

.hangitem .hangitem-title01{color: #333;display: inline-block;width: 115px;text-align: right;float: left;}
.hangitem .hangitem-title02{color: #7a7a7a;}
.addrlength{width: 50% !important;}

.history-log a{color:#1890ff;}
.footwk{overflow: hidden;}
.cancelbtn{margin-left: 20px;border:0;}

.shejituwk{overflow: hidden;}
.shejituwk li{display: inline-block;float: left;width: 120px;height: 120px;border-radius: 5px;margin-right: 20px;overflow: hidden;
position: relative;cursor:pointer;}
.shejituwk li img{width: 100%;height: 100%;}
.shejituwk li .footbiaot{position: absolute;left:0;bottom: 0;text-align: center;line-height: 30px;
width: 100%;background: url(/assets/pc/img/Private/yinyingpic.png) no-repeat;color: #fff;}

.addhistorywk{display: inline-block;}
.add-waik .newadd{padding: 4px 14px;margin-right: 20px;position: relative;top: -5px;}
.quxiaocan{padding: 4px 14px;position: relative;top: -5px;color: #1890FF;
border:1px solid #1890FF;}
.savubaocun{padding: 4px 14px;margin-right: 20px;position: relative;top: -5px;}
.baocquxwk{display: none;}
.selectwk{display: inline-block;}
.selectwid{width: 260px;display: inline-block;}
.red{color: #ff5353;}
.gendanwk{display: inline-block;width: 92%;}
.hangitemgend{width: 100% !important;display: inline-block;}
.gendanwk .gendanxqedi{height: 108px;}
.tabwaikgd02{display: none;}
.gendan02show{height: 270px;display: none;}
.hangitemwid{width: 25% !important;}
.hangiteaddres{width: 50% !important;}
.basicinfowid{width: 180px;display: inline-block;}
.dizhiwid{width: 566px !important;display: inline-block;}
.basicinfowid input,.dizhiwid input{box-sizing: border-box;}
.hangiteaddres .copyniu{display: inline-block;width: 35px;height: 28px;
background: url(/assets/pc/img/Private/copylogo.png) no-repeat center center;
background-size: 100% 100%;vertical-align: middle;cursor: pointer;}

.hang-title{display: inline-block;width: 98px;text-align: right;vertical-align: top;line-height: 40px;}
.hangwrap .inputwk{display: inline-block;width: 348px;}
.red-xing{color: #f5222d;margin-left: 3px;}
.tishi{height: 24px;color: #ff5353;margin-left: 114px;font-size: 12px;line-height: 16px;
clear: both;}
.qiandan_jine-tishi{margin-left: 124px;}
.hangwrap .inlinelie{display: inline-block;float:left; width: 32%;}
.hangwrap .lefjvli{margin-left: 135px;}
.inlinelie .mianjiwk{position: relative;}
.mianjiwk .danwei{position: absolute;top: 12px;right: 5px;font-size: 12px;}
.qingchufu{clear: both;}
.hangwrap .widlength{width: 949px;}
.orderhang{overflow: hidden;}
.bottom-btn{text-align: right;}
.bottom-btn button{margin:0px 10px;}


.uploadpicwk{overflow: hidden;}
.uploader-demo{margin: 10px 0;}
.uploader-list{overflow:visible !important;}
#uploader-demo .thumbnail{overflow:visible !important;padding: 0 !important;}
.file-item{padding: 0;margin-bottom: 0 !important;}
.file-item .error{top: 0;right: 0;left: 0;}
.delimgbtns{position: absolute;top: -4px;right: -3px;z-index: 999;
display: inline-block;width: 18px;height: 18px;line-height: 18px;text-align: center;
border-radius: 50%;background: #000;opacity:0.7;filter:alpha(opacity=70);font-size: 12px;cursor: pointer;color: #fff}
.hengxian{width: 36px;height: 4px;display: inline-block;background: #d6d6d6;border-radius: 5px;
position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.suxian{height: 36px;width: 4px;display: inline-block;background: #d6d6d6;border-radius: 5px;
position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.uploadms{position: absolute;bottom: 10px;left: 0;text-align: center;width: 100%;font-size: 14px;color: #999;}
.webuploader-pick{border:1px dashed #d6d6d6;padding-top: 50px !important;
    width: 118px;}
.file-item div.file-panel{text-align: center;}
.inbiaoti{height: 100%;width: 100%;text-indent: 1em;background: rgba(0,0,0,0);color: #fff;
outline: none;border:0;}
.upload-state-done:after{top: 0 !important;left: 0 !important;line-height: 150px;width: 100%;text-align: center;display: none;}
.file-item .progress{position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.relative-num{color:#169BD5;padding:8px;cursor: default}
.relative-num:hover{color:#169BD5;}
.relative-num:focus{text-decoration: none;color:#169BD5;}
.order-text{display: inline-block; width: 60%;min-width: 160px; line-height: 38px; height: 38px; color:#7a7a7a; padding-left:8px;}
.p-form-box  .wrapinput{margin-top:24px; position: relative;}
.copyniu{
  width: 35px;
  height: 28px;
  background: url(/assets/pc/img/Private/copylogo.png) no-repeat center center;
  position: absolute;
  right: 1%;
  top: 5px;
  cursor: pointer;
  z-index: 9;
}
.b-bread-text {
  padding-bottom: 0 !important;
}
.width50{width: 50% !important;}

.xuantwowk{width:60%;display: inline-block;}
.select2-container .select2-selection--single{height: 38px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 38px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 35px !important;}