input,textarea{outline: none;}

.tabwaik{overflow: hidden;}
.fankuinr{width: 96%;height: 298px;outline: none;border:1px solid #d6d6d6;
border-radius: 5px;padding: 10px; resize: none}

.footwk{overflow: hidden;}
.cancelbtn{margin-left: 20px;background: #fff;border:0;}

