input,select{outline: none;}
.staffwk{overflow: hidden;}
.formwaik{overflow: hidden;}
.formdivitem{width: 20%;display: inline-block;float: left; }
.staffwk .span-title{display: inline-block; text-align: right;white-space: nowrap; min-width: 80px;}
.formdivitem .divinput{width: 58%;display: inline-block;}
.firstdiv{margin-left: 0;}
.formniuiwk .sousniu{margin-right: 20px;}
.select2-container .select2-selection--single{height: 38px !important;outline: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 38px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 36px !important;}

.panelback{background:#f0f3f5;height:auto;padding: 0;margin-bottom: 0;overflow: hidden;}
.blockleft{width: 24%;height: 100%;border-radius: 5px;background: #fff;display: inline-block;float: left;}
.blockright{width:73% ;height: 100%;border-radius: 5px;background: #fff;display: inline-block;margin-left: 1%;float: left;
padding:0 1% 24px 1%;}
.leftcontent{margin: 24px 0;}
.leftcontent .leftcontent-title{font-size: 16px;padding-bottom: 24px;padding-left: 24px;}
.leftcontent .mokuaiul{overflow: hidden;}
.mokuaiul li.itemli{position: relative;overflow: hidden;}
.mokuaiul li .contentnr{overflow: hidden;margin:0 24px;padding:24px 0;border-top: 1px solid #ebebeb;}
.mokuaiul li.itemli a.allfug{width: 100%;height: 100%;display: inline-block;overflow: hidden;}
.mokuaiul li.itemli:hover .delniu{display: inline-block;}
.mokuaiul li.itemli:hover{background: #f5faff;}
.mokuaiul li.itemli:hover .contentnr{border: none;}
.libeijing{background: #f5faff !important;}
.noborder{border-top:none !important;}
.itemli .touxiangwk{overflow: hidden;width:56px;height: 56px;display: inline-block;vertical-align: top;
float: left;border-radius: 50%;}
.itemli .touxiangwk img{width: 100%;}
.itemli .maninfo{display: inline-block;vertical-align:top;float: left;margin-left: 20px;}
.itemli .maninfo .shoujixs{margin-top: 14px;margin-bottom: 22px;}
.itemli .maninfo .logohao{margin-bottom: 12px;color: #999;}
.itemli .maninfo .latelogo{color: #999;}
.itemli .delniu{position: absolute;top: 25px;right: 8px;color: #f5222d;cursor: pointer;
 display: none;}




.blockright .constructionzu{overflow: hidden;}
.constructionzu li.shigongli{display: inline-block;width: 32%;height: 225px;
border: 1px solid #e6e6e6;border-radius: 5px;float: left;margin:24px 1% 0 0;}
.constructionzu li.addshigzu{text-align: center;}
.addshigzu .yuanwk{width: 102px;height: 102px;border-radius: 50%;border: 1px dashed #dbdbdb;display: inline-block;
margin-top: 60px;line-height: 102px;text-align: center;color: #d6d6d6;font-size: 46px;cursor: pointer;}
.shigongli .shigongli-title{height: 50px;background: #f0f0f0;line-height: 50px;padding: 0 22px;}
.shigongli-title .shigongname{float: left;font-size: 16px;font-weight: bold;}
.shigongli-title .shigongcount{float: right;}
.shigongli .sgneirong{margin: 20px;}
.sgneirong .hangwk{margin-top: 18px;color: #333;}
.sgneirong .hangwk .huizi{color: #7a7a7a;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
width: 60%;vertical-align: middle;display: inline-block;}
.sgneirong .hangwk .shig-title{vertical-align: middle;}
.sgneirong .hangwk .moregd{float: right;position: relative;top: 2px;}
.shigongli .lifoot{height: 40px;line-height: 40px;border-top: 1px solid #e6e6e6;}
.lifoot .lifoot-lef{margin-left: 22px;}
.lifoot .lifoot-rig{margin-right: 22px;}
.lifoot .lifoot-lef .yuandian{width: 6px;height: 6px;border-radius: 50%;background: #52c41a;display: inline-block;
vertical-align: middle;margin-right: 5px;}
.redhongse{background: #f5222d !important;}
.lifoot .lifoot-lef .yuandian-ms{color: #000;}
.lifoot-rig .lifoot-rig-edit{color: #1890ff;}
.lifoot-rig .lifoot-rig-del{color: #f5222d;margin-left: 15px;cursor: pointer;}

.modal-content {
  width: 600px !important;
}
.form-group label{
  text-align: right;
}
.form-group{
  margin-bottom: 0px !important;
}
.yz{
  padding-left: 15px;
}
.select2-container{
  width: 100% !important;
}

th a{
  color: #000;
}
.paixusort {
  color: #1890FF !important;
}