.add-waik{overflow: hidden;}
.btn-addfl{background: #1890ff;color: #fff;}
.tabwaik{overflow: hidden;margin-top: 24px;}
.p-suppliertab .editbj a{margin-right: 75px;color: #1890ff;}
.p-suppliertab .caozuo a{color: #f5222d;}
.addtanchuang{width: 600px;height: 294px;display: none;}
.paixu{cursor: pointer;padding: 5px;}
.p-tancfl .contentnr{padding-bottom:0 !important;}
.tishi{color: #ff5353;font-size: 12px;text-align: left;height: 20px;
margin-left: 184px;margin-bottom: 50px;}

.operationtc{width: 375px;height: 188px;text-align: center;display: none;}
.status{overflow: hidden;vertical-align: middle;margin-top: 35px;}
.status-pic{display: inline-block;width: 26px;height: 26px;background: url(/assets/pc/img/Common/errorstatus.png) no-repeat;
vertical-align: middle;margin-right: 10px;}
.status-title{color: #333;font-weight: bold;font-size: 15px;}
.cannotms{margin-top: 18px;}
.caozuosurewk{height:48px;line-height: 48px;border-top:1px solid #e6e6e6;margin-top: 40px;}
.caozuosurewk .caozuosurewk-sure{display: inline-block;color: #1890ff;padding:0 10px;cursor: pointer;}
.dept_amount{color: #1890ff;}