<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webstoem操作</title>
    <style>
        .aa{width: 200px;height: 50px;
            line-height: 50px;
            text-align: center;
            background: #00a0e9;color: #fff;}
    </style>
</head>
<body>
  <div class="aa">webstorm按钮</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
<script>
    $(function () {
        console.log(11)
    })
</script>
</html>