<!--审核-->
<link href="/assets/home/hetong/css/alert_info.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<link href="/assets/home/hetong/css/assistantreview.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<script  type="text/javascript" src="/assets/home/hetong/js/alert_info.js?v={:C('STATIC_VERSION')}"></script>
<div class="step_item_box">
    <div class="step_item_name">
        <span class="pull-left">
            审核
        </span>
    </div>
    <div class="drag_handle">
        <span class="center_line">
        </span>
    </div>
    <div class="step1 step-container kucunshenqwk">
        <div class="search_box_x150">
            <span class="serach_title_x150">条件查询：</span>
            <input type="text" id="searchForCheck" name="search" placeholder="请输入正确的编号或者销售名称">
            <button class="button searchForCheck">查询</button><br>
            <span style="color: red;margin-left: 20px; margin-top: 5px;">重要提示：输入格式为7位有效数字</span>
        </div>
        <div class="tab_chose_x150">
            <span class="search_active_x150">签约</span>
            <span>作废</span>
            <span>遗失</span>
        </div>
        <div class="tab_content_x150 exame_table">
            <table class="table_active_x150 scroll_table">
                 <thead>
                    <tr class="tab_head_x150">
                        <td>合同编号</td><td>销售人员</td><td>操作</td>
                    </tr>
                </thead>
                <tbody id="qianyuepart">
                    <volist name="qianyuelist" id="v">
                        <tr>
                            <td>{$v.contractid}</td>
                            <td>{$v.sendout|getSaleUserName}</td>
                            <td><button class="button small_button assistantCheckNow" data-beaccpet="3" data-saler="{$v.sendout}" data-id="{$v.id}" data-status='5' data-special="1" data-contractid="{$v.contractid}" <if condition="$v.type LT 6">data-type="1"<else />data-type="2"</if>>通过</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="button nobg small_button assistantCheckNow" data-beaccpet="4" data-saler="{$v.sendout}"  data-id="{$v.id}" data-status='4' data-special="2" data-contractid="{$v.contractid}" <if condition="$v.type LT 6">data-type="1"<else />data-type="2"</if>>作废</button></td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            <table class="scroll_table">
                <thead>
                    <tr class="tab_head_x150">
                        <td>合同编号</td><td>销售人员</td><td>操作</td>
                    </tr>
                </thead>
                <tbody id="zuofeipart">
                    <volist name="zuofeilist" id="v">
                        <tr>
                            <td>{$v.contractid}</td>
                            <td>{$v.sendout|getSaleUserName}</td>
                            <td><button class="button small_button assistantCheckNow"  data-beaccpet="4" data-saler="{$v.sendout}" data-id="{$v.id}" data-status='4' data-special="2" data-contractid="{$v.contractid}" <if condition="$v.type LT 6">data-type="1"<else />data-type="2"</if>>通过</button></td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            <table class="scroll_table">
                <thead>
                    <tr class="tab_head_x150">
                        <td>合同编号</td><td>销售人员</td><td>遗失原因</td><td>操作</td>
                    </tr>
                </thead>
                <tbody id="zuofeipart">
                    <volist name="yishilist" id="v">
                        <tr>
                            <td>{$v.contractid}</td>
                            <td>{$v.sendout|getSaleUserName}</td>
                            <td>{$v.reason}</td>
                            <td><button class="button small_button assistantCheckNow"  data-beaccpet="5" data-saler="{$v.sendout}" data-id="{$v.id}" data-status='4' data-special="3" data-contractid="{$v.contractid}" <if condition="$v.type LT 6">data-type="1"<else />data-type="2"</if>>确认遗失</button></td>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
        //审核界面
        $(".tab_chose_x150 span").click(function(event) {
            var index=$(this).index();
            var table_tab=$(".exame_table table");
            $(this).addClass('search_active_x150');
            $(this).siblings('span').removeClass('search_active_x150');
            $(table_tab[index]).addClass('table_active_x150');
            $(table_tab[index]).siblings("table").removeClass('table_active_x150');
        });

        // //合同/票据审核
        $(document).on('click','.assistantCheckNow',function(){
            if(confirm("确认审核该合同/票据吗？")){
                var type = $(this).attr('data-type');
                var special = $(this).attr('data-special');
                var user = $(this).attr('data-saler');
                var status = $(this).attr('data-status');
                var beaccpet = $(this).attr('data-beaccpet');

                if(type == '1'){
                    //合同编号
                    var contractStart = $(this).attr('data-contractid');
                }else if(type == '2'){
                    //票据编号
                    var ticketStart = $(this).attr('data-contractid');
                }
                $.ajax({
                    url: '/contractmanage/assistantcheck/',
                    type: 'POST',
                    dataType: 'JSON',
                    async: false,
                    data: {
                        contractStart:contractStart,
                        ticketStart:ticketStart,
                        type:type,
                        special:special,
                        user:user,
                        status:status,
                        beaccpet:beaccpet,
                        from:{$from}
                    }
                })
                .done(function(data) {
                    alert(data.info);
                    window.location.href = window.location.href;
                })
                .fail(function(xhr) {
                    alert('网络错误，请稍后重试')
                });
            }
        });

        $('.searchForCheck').click(function(){
            var keyword = $("#searchForCheck").val();
            $.ajax({
                    url: '/contractmanage/searchforcontract/',
                    type: 'POST',
                    dataType: 'JSON',
                    async: false,
                    data: {
                        keyword:keyword,
                        position:1
                    }
                })
                .done(function(data) {
                    if(data.status == 1){
                        //alert(data.data.qianyue);
                        $("#qianyuepart").html(data.data.qianyue);
                        $("#zuofeipart").html(data.data.zuofei);
                    }else{
                        alert(data.info);
                    }
                })
                .fail(function(xhr) {
                    alert('网络错误，请稍后重试')
                });
        });
    })
</script>