<extend name="Main:baseTemplate" />
<block name="title">
    <title>合同票据管理-商务经理 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/home/hetong/css/contractPublic_x150.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="/assets/home/contract/css/hetongshujvjz_x150.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <div class="relative zhutigaodu">
        <div class="main_content" id="target">
            <div class="zhushi">
                <span class="shuoming">
                    释<include file="Contractmanage:explain" />
                </span>
            </div>
            <!-- 入库审批 -->
            <include file="Contractmanage:stockapproval_x150" />
            <!-- 入库删除 -->
            <include file="Contractmanage:stockdelete_x150" />
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/home/hetong/js/dargFlex.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function() {
            $(target).dargFlex('step_item_box');
        });
    </script>
</block>