<table>
    <tr>
        <th>入库人</th>
        <th>入库时间</th>
        <th>寄出时间</th>
        <th>销售</th>
        <th>寄回时间</th>
        <th>签约时间</th>
        <th>作废时间</th>
        <th>遗失时间</th>
        <th>归档时间</th>
    </tr>
    <tr>
        <td>{$info.name|default="/"}</td>
        <td>{$info.sq_time|default="/"}</td>
        <td>{$info.out_time|default="/"}</td>
        <td>{$info.out_name|default="/"}</td>
        <td>{$info.in_time|default="/"}</td>
        <td>{$info.qy_time|default="/"}</td>
        <td>{$info.zf_time|default="/"}</td>
        <td>{$info.ys_time|default="/"}</td>
        <td>{$info.gd_time|default="/"}</td>
    </tr>
</table>