.cx-select-wrap{
    display: block;
}

.cx-select{
    width: 30%;
    float: left;
}
.cx-select-wrap .mg{
    margin-left: 3%;
}

.table td ,.table th{
    text-align: left;
}

.recommend-tags button{
    margin-right: 5px;
    margin-top: 5px;
}

.has-error{
    border-color: #dd4b39;
    box-shadow: none;
}

.kv-upload-progress{
    display: none;
}

.module-zz{
    color:#00A65A
}

.module-fz{
    color: #0099FF
}

.module-bk{
    color: #000088;
}

#reverse{
    cursor:pointer
}