.gover_search{position:relative;z-index:99;height:48px;border-bottom:0}
.gover_search_form{height:36px}
.gover_search .search_suggest{position:absolute;z-index:999;left:90px;top:31px;width:174px;border:1px solid #ccc;display:none}
.gover_search .search_suggest li{height:24px;overflow:hidden;padding-left:3px;line-height:24px;background:#FFFFFF;cursor:default}
.gover_search .search_suggest li.hover{background:#DDDDDD}
.gover_search .search_suggest li:hover{background:#DDDDDD}
#gover_search_key{display:inline-block;margin-right:20px;padding-left:5px;width:169px;height:30px;border:1px solid #ccc;color:#666;line-height:30px\0}
.gover_search span{float:left;padding-right:10px;width:80px;text-align:right;font-weight:bold}