.ht-team-design{table-layout:fixed;}
.team-hang td{padding: 12px 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.team-hang td .shanchudel{margin-left: 15px;}
.redcolor{color: #ff371f;}
.ht-main{margin-bottom: 44px;}
.biaoti{width: 130px !important;}
.remark{width: 220px !important;}