.ht-moreinfo li .select{height: 32px !important;width: 175px !important;}
.ht-moreinfo>li{margin-bottom: 0 !important;}
.ht-moreinfo li .tishi{height: 20px;color: #ff371f;vertical-align:top;font-size: 12px;line-height: 14px;
margin-left: 92px;}
.ht-comp-phot{padding-top: 0 !important;}
/*.upload-buttons .uploadBtn:hover{background: #C5C5C5;color: #FFF;}
.upload-buttons .resetBtn:hover{background: #C5C5C5;color: #FFF;}*/

*.btn-disabled, .upload-buttons button.uploadBtn[disabled]{background: #00b7ee;color: #FFF;}
*.btn-disabled, .upload-buttons button.resetBtn[disabled]{background: #FF5500;color: #FFF;}