html{
  font-size: 75px;
}
body{
  font-family: "PingFang-SC-Medium";
  color: #4F4F4F;
  background: #F3F3F3;
}
.clearfix:after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  clear:both;
  visibility:hidden;
}
.clearfix{
  zoom:1;  //因为IE6不支持:after伪类。它的效果和height:1%一样
}
.mainBox{

  >div{
    margin-bottom: 20/75rem;
    background-color: white;
  }
  .addressInfo{
    padding-top: 0.4rem;
    height: 2rem;
    padding-bottom: 0.2rem;
    >div{
      height: 100%;
      float: left;
    }
    >div:first-child{
      line-height: 2.4rem;
      width: 10%;
      text-align: center;
      i{
        font-size: 36/75rem;
      }
    }
    .dizhi{
      width: 80%;
      p{
        line-height: 0.8rem;
        font-size: 30/75rem;
        color: #808080;
        span{
          color: #3F3F3F;
        }
        i{
          color: #3F3F3F;
          font-size: 28/75rem;
          float: right;
        }
      }
      .dizhixiangqing{
        line-height: 0.8rem;
        font-size: 28/75rem;
        overflow: hidden;
        >div{
          float: left;
        }
        .left{
          width: 25%;
          color: #808080;
        }
        .right{
          width: 73%;
          height: 1.2rem;
          line-height: 0.6rem;
          font-size: 28/75rem;
        }
      }
    }
    >div:last-child{
      line-height: 2.4rem;
      width: 8%;
      text-align: center;
      i{
        font-size: 45/75rem;
      }
    }
  }
  .orderList{
    padding-left: 0.4rem;
    .imgAndInfo{
      height: 200/75rem;
      box-sizing: border-box;
      padding: 0.4rem 20/75rem;
      border-bottom: 1px solid #c4c4c4;
      >div{
        display: inline-block;
        height: 100%;
      }
      div:first-child{
        width: 20%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      div:last-child{
        width: 72%;
        padding-left: 40/75rem;
        color: #808080;
        h5{
          line-height: 0.7rem;
          font-size: 32/75rem;
          color: #3F3F3F;
        }
        p{
          line-height: 0.7rem;
          font-size: 28/75rem;
        }
        p:last-child{
          b{
            font-weight: 500;
          }
          span{
            font-size: 32/75rem;
          }
          i{
            font-size: 30/75rem;
            float: right;
          }
        }
      }
    }
    .totalPrice{
      padding-right: 0.3rem;
      overflow: hidden;
      p{
        float: left;
        width: 100%;
        height: 0.9rem;
        line-height: 0.9rem;
        color: #2a2a2a;
        font-size: 28/75rem;
        span{
          float: right;
          font-size: 24/75rem;
        }
      }
      p:last-child{
        margin-top: -0.3rem;
      }
    }
  }

  .orderAmount{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem;
    color: #1b1b1b;
    font-size: 30/75rem;
    height: 1.2rem;
    line-height: 1.2rem;
    i{
      float: right;
      display: inline-block;
      height: 0.9rem;
      line-height: 0.9rem;
      padding:  0 0.4rem;
      margin: 0.15rem 0 0 0.3rem;
      border-radius: 0.45rem;
    }
    span{
      color: #FF8F15;
    }
    .yellow{
      color: white;
      background-color: #FF8F15;
    }
    .gray{
      color: #808080;
      border: 1px solid;
    }
  }
}
.tipWindow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.5);
  .tipBox{
    margin: 50% auto 0;
    width: 60%;
    background-color: white;
    border-radius: 0.2rem;
    .tipInfo{
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      border-bottom: 1px solid #CCC;
      font-size: 30/75rem;
      i{
        font-size: 80/75rem;
        color: #ffa800;
        vertical-align: sub;
      }
    }
    .tipBtn{
      font-size: 0;
      div{
        width: 49%;
        display: inline-block;
        height: 1rem;
        text-align: center;
        line-height: 1rem;
        font-size: 30/75rem;
      }
      div:first-child{
        border-right: 1px solid #ccc;
      }
      div:last-child{
        color: #ff0000;
      }
    }
  }
}
.wuliu{
  background-color: rgba(0,0,0,0.7);
  color: #3F3F3F;
  .tipBox{
    width: 80%;
    height: 50%;
    overflow: auto;
    .top{
      padding: 0.4rem;
      border-bottom: 2px solid #808080;
      p{
        line-height: 0.8rem;
        font-size: 32/75rem;
      }
    }
    .list{
      padding: 0.4rem 0;
      ul{
        position: relative;
        li{
          position: relative;
          margin-bottom: 0.5rem;
          .round{
            position: absolute;
            left: 0.4rem;
            top: 0;
            z-index: 9;
            width: 0.4rem;
            height: 0.4rem;
            background-color: #cdcdcd;
            border-radius: 0.2rem;
          }
          .state{
            margin-left: 1.2rem;
            p{
              line-height: 0.55rem;
              font-size: 28/75rem;
              width: 95%;
            }
          }
        }
        li:first-child{
          .round{
            background-color: #1BBC1B;
          }
        }
        li:last-child{
          margin-bottom: 0;
        }
        li:last-child::after{
          content: "";
          position: absolute;
          width: 4px;
          height: 100%;
          background-color: white;
          top: 0;
          left: 0.6rem;
          z-index: 8;
        }
      }
      ul::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: 0.6rem;
        background-color: #cdcdcd;
      }
    }
  }
}
.payWindow{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  .payBox{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    .title{
      text-align: center;
      height: 1rem;
      line-height: 1rem;
      font-size: 36/75rem;
      color: #797979;
      border-bottom: 1px solid #D2D2D2;
      i{
        float: left;
        font-size: 44/75rem;
      }
    }
    .selectPay{
      padding-left: 0.2rem;
      color: #1b1b1b;
      div{
        height: 1rem;
        line-height: 1rem;
        font-size: 32/75rem;
        i{
          float: right;
          margin-right: 0.3rem;
          color: #73BA2D;
          font-size: 0.6rem;
        }
        span{
          font-size: 24/75rem;
          color: #7a7a7a;
          margin-left: 0.2rem;
        }
      }
      div:first-child{
        border-bottom: 1px solid #D2D2D2;
      }
    }
    .confirm{
      p:first-child{
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        font-size: 52/75rem;
        color: #000000;
      }
      p:nth-child(2){
        height: 1rem;
        line-height: 1rem;
        font-size: 32/75rem;
        color: #797979;
        padding-left: 0.4rem;
        span{
          float: right;
          margin-right: 0.2rem;
          color: #1b1b1b;
          i{
            color: #797979;
            margin-left: 0.1rem;
          }
        }
      }
      div{
        margin-top: 0.8rem;
        font-size: 36/75rem;
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        color: white;
        background-color: #FFA800;
      }
    }
  }
}
.color_yellow{
  color: #ffa800 !important;
}
.color_red{
  color: #ff0000 !important;
}
.hide{
  display: none !important;
}
