.head{
	background: #2D2D2D;
	display: flex;
	justify-content: space-around;
	line-height: 40px;
	padding: 10px 0;
}
.head img{
	width: 40px;
	height: 40px;
}
.head p{
	color: #FFFFFF;
}
.head p span{
	color: #FF6B2A;
	padding: 0 10px;
}
.head a{
	display: block;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	padding: 0 15px;
	border-radius: 3px;
	background: #FF6B2A;
	color: #FFFFFF;
}


.item{
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	padding: 10px 0;
}
.itemBox{
	width: 40%;
	padding: 5%;
	text-align: center;
}
.itemBox img{
	width: 80px;
}
.itemBox p{
	margin-top: 10px;
}
.itemLine{
	position: absolute;
	height: 100%;
	top: 0;
}
.itemLine img{
	height: 100%;
}
.itemLineRow{
	transform: rotate(90deg);
}


.myTask{
	margin-top: 10px;
	background: #FFFFFF;
	padding: 10px;
	line-height: 2rem;
}
.myTask p:last-child{
	color: #808080;
	font-size: 1.2rem;
}


.task{
	margin-top: 10px;
	background: #FFFFFF;
}
.taskTab{
	border-bottom: 2px solid rgba(125,125,125,0.2);
	display: flex;
	justify-content: space-around;
}
.taskTab a{
	border-bottom: 2px solid #FFFFFF;
	padding: 10px;
}
.taskTab a.active{
	color: #1BBC1B;
	border-color: #1BBC1B;
}


.commissionHead{
	text-align: center;
	background: #FFFFFF;
	padding: 20px 0;
}
.commissionHead p:last-child{
	font-size: 1.8rem;
	color: #333333;
	margin-top: 10px;
}
.commissionTime{
	background: #F3F3F3;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.commissionTime div{
	border: 1px solid rgba(125,125,125,0.3);
	border-radius: 3px;
	padding: 5px 10px;
	background: #FFFFFF;
}
.commissionTime div:nth-child(2){
	padding: 0 10px;
	border: none;
	background: none;
	line-height: 2.5rem;
}

.commissionList{
	background: #FFFFFF;
	padding-left: 10px;
}
.commissionList div.commissionBox:last-child{
	border: none;
}
.commissionBox{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	padding-left: 0;
	border-bottom: 1px solid rgba(125,125,125,0.3);
	color: #808080;
}


.timer{
	width: 100%;
	height: 300px;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 5px rgba(125,125,125,0.3);
}
.timerHead{
	background: #FAF9FE;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
.timerMain{
	width: 100%;
	height: 260px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 40px;
	left: 0;
}
.timerType{
	width: 33%;
	text-align: center;
	border-left: 1px solid rgba(125,125,125,0.1);
	font-size: 1.2rem;
	height: 260px;
	overflow-y: scroll;
	z-index: 201;
}
.timerType::-webkit-scrollbar{
	display: none;
}
.timerMain div.timerType:first-child{
	border: none;
}
.timerType p{
	height: 40px;
	line-height: 40px;
}

.timerChosed{
	width: 100%;
	height: 38px;
	border-top: 1px solid rgba(125,125,125,0.3);
	border-bottom: 1px solid rgba(125,125,125,0.3);
	position: absolute;
	top: 120px;
	z-index: 200;
}
