html {
  font-size: 75px;
}
body {
  font-family: "PingFang-SC-Medium";
  color: #4F4F4F;
  background: #F3F3F3;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.firstModule{
  width: 100%;
  background-color: #fff;
  padding:30/75rem;
  box-sizing: border-box;
  margin-bottom: 25/75rem;
  overflow: hidden;
  .goodsNum{
    color:#333;
    font-size: 36/75rem;
    font-weight: bold;
  }
  .huibaoText{
    font-size: 30/75rem;
    color:#808080;
    font-weight: 400;
    margin-top:30/75rem;
  }
  .imgBox{
    width: 180/75rem;
    height: 140/75rem;
    margin-top:20/75rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.secondModule{
  padding:30/75rem;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 25/75rem;
  .supportNum{
    display: inline-block;
    font-size: 30/75rem;
    margin-top:0;
  }
  select{
    border:none;
    font-size:30/75rem;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .sanjiao{
    width: 27/75rem;
    height: 18/75rem;
    display: inline-block;
    img{
      width: 100%;
      height: 100%;
    }
  }
  p{
    font-size: 30/75rem;
    margin-top:35/75rem;
    input{
      border:none;
      width:18%;
      font-size: 30/75rem;
    }
  }
}
.thirdModule{
  background-color: #fff;
  padding:30/75rem;
  box-sizing: border-box;
  margin-bottom: 25/75rem;
  .beizhuText{
    font-size: 30/75rem;
    color:#333;
    font-weight: 400;
  }
  .beizhuContent{
    width: 685/75rem;
    height: 170/75rem;
    background-color: #F3F3F3;
    resize: none;
    border:none;
    box-sizing: border-box;
    border-radius: 10/75rem;
    color:#999;
    font-size: 24/75rem;
    line-height: 60/75rem;
    padding-left: 20/75rem;
    margin-top:22/75rem;
  }
}
.fourthModule{
  padding:30/75rem;
  box-sizing: border-box;
  background-color: #fff;
  .tishiText{
    font-size: 30/75rem;
    color:#333;
    font-weight: 400;
  }
  .contentBox{
    margin-top: 34/75rem;
    p{
      font-size: 24/75rem;
      color:#333;
      line-height: 40/75rem;
    }
  }
}
.xieyiBox{
  width: 100%;
  height: 64/75rem;
  background-color: #F3F3F3;
  box-shadow:0px 1px 7px 0px rgba(0, 0, 0, 0.1), 0px -2px 5px 0px rgba(6,0,1,0.06);
  box-sizing: border-box;
  padding:0 30/75rem;
  overflow: hidden;
  .fangkuang{
    width: 28/75rem;
    height: 28/75rem;
    background-color: #fff;
    box-sizing: border-box;
    border:2/75rem solid #FFA800;
    border-radius: 4/75rem;
    margin-top:18/75rem;
    display: inline-block;
    i{
      display: block;
      color:#FF9000;
      text-align: center;
      line-height: 24/75rem;
    }
  }
  .xieyiText{
    display: inline-block;
    margin-left:16/75rem;
    font-size: 24/75rem;
    span{
      color:#FF9000;
    }
  }
}
footer{
  width: 100%;
  height: 98/75rem;
  background-color: #fff;
  position: fixed;
  left:0;
  bottom: 0;
  .priceBox{
    float: right;
    padding-right: 30/75rem;
    .priceText{
      display: inline-block;
      margin-right: 20/75rem;
      margin-top:32/75rem;
      span{
        color:#FF0202;
        font-size: 30/75rem;
      }
    }
    .btnBox{
      width: 140/75rem;
      height: 58/75rem;
      background-color: #FF9000;
      border-radius: 30/75rem;
      border:none;
      font-size: 28/75rem;
      color:#fff;
    }
  }

}
