html {
  font-size: 75px;
}
body {
  font-family: "PingFang-SC-Medium";
  color: #4F4F4F;
  background: rgba(0,0,0,0.1);
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
//购买后红包
.mainBox{
  position: relative;
  width: 100%;
  .packetBox{
    position: fixed;
    width: 98%;
    height: 335/75rem;
    background: url("../img/packet1.png") no-repeat center;
    background-size: cover;
    left:50%;
    transform: translateX(-50%);
    top:20%;
    .cancelBox{
      width: 36/75rem;
      height: 37/75rem;
      background: url("../img/cancel1.png") no-repeat center;
      background-size: 100%;
      position: absolute;
      right:45px;
      top:-0.6rem;
    }
    .packetInfo{
      p{
        color:#fff;
        font-size: 15/75rem;
        position: absolute;
        bottom:70/75rem;
        left:50%;
        transform: translateX(-50%);
        span{
          font-size: 48/75rem;
          color:#fff;
          font-family:'DINAlternate-Bold';
        }
      }
    }
    .searchPacket{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      bottom:35/75rem;
      font-size: 15/75rem;
      color:#FFE71F;
    }
    .line{
      width: 112/75rem;
      height: 1px;
      background-color: #FFE71F;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      bottom:34/75rem;
    }
  }
}