html{
  font-size: 75px;
}
body{
  font-family: "PingFang-SC";
  color: #4F4F4F;
  background: #F3F3F3;
}
.clearfix:after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  clear:both;
  visibility:hidden;
}
.clearfix{
  zoom:1;  //因为IE6不支持:after伪类。它的效果和height:1%一样
}
.mainBox{

}
