@charset"utf-8";
img {
    border: 0px;
}
.bannerbox {
    width: 1000px;
    height: 390px;
    overflow: hidden;
    margin: 0px auto;
}

.shoplogo {
    width: 1208px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}
.shoplogo_2 {
    width:906px;
    margin: 20px 0 0px;
}

.shoplogo ul li.placeholder{
    /*background: url(/assets/sub/index/img/lobg1.jpg) center center no-repeat;
    height: 83px;*/
}
.shoplogo ul li span {
    display: block;
    text-align: center;
    line-height: 18px
}
.shoplogo ul li a {
    color: #888;
}
.shoplogo ul li a:hover img {
    opacity: 0.6
}
.shoplogo ul li img {
    height: 63px;
    width: 126px;
    margin: 10px auto;
    display: block;
    background-image: none;
    border: 1px solid #DDD;
}
.shoplogo ul li {
    width: 150px;
    float: left;
}
.l_c {
    width: 970px;
    float: left;
    overflow: hidden
}
.r_c {
    width: 220px;
    float: right;
    overflow: hidden
}

.r_c .joinus{
    background: url(/assets/sub/index/img/r_c_d.jpg) no-repeat;
    width:218px;
    height: 269px;
    position: relative;
    border: 1px solid #454753;
}
.r_c .joinus .hd{color: #fff; padding: 10px 10px 16px 10px; font-family:microsoft yahei;}
.r_c .joinus .hd h3{font-size: 18px; margin-bottom: 5px;}
.r_c .joinus .hd em{font-weight: bold; font-size: 14px; display: block; padding-bottom: 5px; }
.r_c .joinus .bd{padding-left: 15px; margin-top: 10px; position: relative; color: #666; font-family: microsoft yahei;}
.r_c .joinus .bd a{text-decoration: none;}
.r_c .joinus .bd dl dt{font-size: 18px; }
.r_c .joinus .bd dl dd{ padding: 3px 0;}
.r_c .joinus .icon{background: url(/assets/common/img/global.png) no-repeat;display: inline-block; display: inline\9; vertical-align: top; margin-right: 5px;}
.r_c .joinus .pay{width:24px;height:26px;background-position:-91px -246px;}
.r_c .joinus .fly{width:24px;height:26px;background-position:-130px -247px;}
.r_c .joinus .des{width:26px;height:27px;background-position:-173px -247px;}
.r_c .glitem{ float:right; width:220px; height:243px; background:#fff; margin-top:30px; }
.r_c .glitem h1{line-height:20px; height:20px; font-size:18px; font-family:"Microsoft YaHei"; font-weight:100; display:block; padding-left:20px; background:url(/assets/common/pic/itme.gif) no-repeat left}
.glitem ul{ border:1px solid #f1f1f1; padding:10px; overflow:hidden}
.glitem ul li{ width:64px; line-height:30px; float:left; margin-top:10px; text-align:center}.glitem ul li span{ border-radius:5px; background:#fff; width:50px; height:45px; display:block; margin:0 auto; line-height:50px; padding-top:5px}
.r_c .glitem .bot a{ width:193px; display:block;  line-height:25px; height:25px; text-align:center; background:#e03c44; color:#FFF; border-radius:5px; margin:0 5px; margin-top:15px }.glitem .bot a:hover{background:#ec5057; text-decoration:none}
.r_c .adv{width: 218px; height: 320px;  border: 1px solid #f1f1f1;}
.r_c .adv a{display:block; height:100%; width:100%;}
.r_c .adv img{width: 100%; height: 100%;}
.r_c .yhxx{width: 198px;  border:1px solid #f1f1f1;  padding: 10px;  }
.r_c .yhxx li{height: 30px; line-height: 30px; }

.r_c .yhxx a{padding-left: 20px; border-top:1px solid #f1f1f1; display: block; background: url(/assets/common/pic/youhui.png) 0 center no-repeat; }
.r_c .yhxx li:first-child a{border-top: 0;}
/*.tele_l {
    border: 2px solid #f4455a;
    width: 375px;
    padding: 15px 20px;
    height: 169px;
    float: left
}
.tele_l h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    font-weight: 100;
    margin-bottom: 15px
}
.tele_l .int {
    height: 37px;
    line-height: 35px;
    color: #888;
    white-space: pre-line\9
}
.tele_l .int input {
    border: 1px solid #ccc;
    height: 35px;
    float: left;
    width: 268px;
    color: #888;
    padding-left: 10px;
    line-height: 35px;
}
.tele_l .int a {
    width: 93px;
    line-height: 35px;
    border: 1px solid #118f00;
    background: #23b610;
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    display: block;
    float: left;
    text-align: center
}
.tele_l .int a:hover {
    background-color: #14a701;
    text-decoration: none
}
.tele_l .int i {
    color: #f4455a
}*/
.tele_r {
    float: right;
    width: 527px;
    border: 2px solid #f1f1f1;
    height: 199px;
}
.tele_r .teltitle {
    background: #f1f1f1;
    line-height: 30px;
    height: 30px;
}
.tele_r .teltitle h1 {
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    background: url(/assets/common/pic/tele_05.jpg) no-repeat;
    font-family: "Microsoft YaHei";
    float: left
}
.tele_r .teltitle ul {
    float: right
}
.tele_r .teltitle ul li {
    float: left;
    padding: 0 10px
}
.tele_r .yztitle {
    width: 507px;
    margin: 0 10px;
    border-bottom: 1px dotted #eee;
    font-weight: bold;
    height: 30px;
    margin-bottom: 10px
}
.tele_r .yzlist {
    width: 507px;
    margin: 0 10px;
}
.tele_r .yztitle li, .tele_r .yzlist li {
    float: left;
    width: 16.6%;
    text-align: center;
    line-height: 30px;
}
.r_title {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    line-height: 45px;
    height: 45px;
}
.hotcompbox {
    overflow: hidden
}
.hotcompbox>li {
    border-bottom: solid 1px #ccc;
    height: 385px;
    width: 288px;
    padding: 10px;
    background: #FFF;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #f1f1f1
}
.hotcompbox>li .tu {
    width: 288px;
    height: 188px;
    margin-bottom: 10px;
}
.hotcompbox>li.last {
    margin-right: 0
}
.hotcompbox>li .tu img {
    width: 100%;
    height: 100%
}
.hotcompbox>li h1 {
    position: absolute;
    top: 160px;
    height: 30px;
    width: 268px;
    text-align: right;
    font-size: 14px;
    background: #545454;
    background: rgba(0, 0, 0, .7);
    font-weight: 100;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
    left: 10px
}
.hotcompbox>li p {
    font-weight: bold;
    color: #888;
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
    width: 288px;
    color: #3c3c3c ;
}
.hotcompbox>li p i {
    font-weight: 100;
}
.hotcompbox>li .botbox {
    display: none;
    width: 280px;
    top: 20px;
    position: absolute;
    left: 4px;
    z-index: 9998;
    padding: 0 10px;
}
.hotcompbox>li .botbox ul {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    display: block;
    overflow: hidden;
    padding: 0 5px;
}
.hotcompbox>li .botbox li {
    float: left;
    margin-right: 5px;
    line-height: 25px
}
.hotcompbox>li:hover .botbox {
    display: block
}
.hotcompbox>li .go {
    text-align: center;
    width: 288px;
    float: right;
    line-height: 25px;
    height: 25px;
    margin-top: 5px;
    font-weight: 100;
    color: #f55259
}
.hotcompbox>li .go:hover {
    background: #f55259;
    text-decoration: none;
    color: #fff
}
.hotcompbox>li:hover h1 {
    background: #3c3c3c;
    background: rgba(0, 0, 0, .8);
    color: #fff
}
.boxtitle {
    font-family: "Microsoft YaHei";
    border-bottom: 2px dotted #eee;
    height: 45px;
    padding: 0 10px
}
.boxtitle i {
    font-size: 30px;
    line-height: 45px;
    float: left
}
.boxtitle span {
    margin-left: 20px;
    color: #888;
    float: left;
    margin-top: 20px
}
.boxtitle ul, .boxtitle li {
    float: left
}
.boxtitle li {
    margin-left: 20px;
    font-size: 14px;
    margin-top: 17px;
}
#content {
    width: 970px;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 20px
}
.waterfall {
    width: 985px
}
.dym-dl {
    width: 231px;
    height: 900px;
    padding-right: 15px;
    float: left;
    overflow: hidden;
    position: relative
}
.dym {
    background: #fff;
    height: auto;
    padding: 10px;
    margin: 0px 15px 15px 0px;
    float: left;
    display: inline;
    width: 212px;
    background: #f7f7f7;
    position: relative;
}
.dym span {
    width: 212px;
    height: auto;
    line-height: 30px;
    color: #3c3c3c;
    border-top: rgba(255, 255, 255, .2) 1px solid;
    border-bottom: rgba(255, 255, 255, .2) 1px solid
}
.dym:hover {
    background: #f1f1f1
}
.dym .btn{
    position: absolute;
    top:20px;
    width:80px;
    height: 20px;
    left:50%;
    margin-left: -40px;
    background:#F7444F;
    color: #fff;
    text-align: center;
    border: 1px solid #9D1318;
    display: none;
    line-height: 20px;
}
.dym .btn:hover{color: #fff;text-decoration: none;}
.dym span:hover {
    text-decoration: none;
    color: #dc4146;
}
.dym img {
    width: 212px;
    _width: 212px
}
.complv li {
    line-height: 30px;
    height: 30px;
    background: url(/assets/common/pic/complist.gif) left no-repeat;
    font-size: 14px;
    padding-left: 20px
}
.gongl {
    height: 160px;
    display: block;
    overflow: hidden;
    margin-top: 20px
}
.gongl .gltit {
    width: 130px;
    height: 160px;
    float: left;
    z-index: -1;
    display: block
}
.gongl ul.gl1 {
    width: 1080px;
    float: right
}
.gongl ul.gl1 li {
    margin-left: 20px;
    width: 250px;
    float: left;
    height: 160px
}
.gongl ul.gl1 li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%
}
.gongl ul.gl1 li img {
    width: 100%;
    height: 100%
}
.gongl ul.gl1 li h1 {
    background: #3c3c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 230px;
    background: rgba(0, 0, 0, .7);
    font-size: 12px;
    color: #fff;
    font-weight: 100;
    line-height: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    padding: 0 10px
}
.gongl ul.gl1 li a:hover h1 {
    background: #3c3c3c;
    background: rgba(0, 0, 0, .8);
}
.gongl ul.gl1 li span {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    color: #f4455a;
    background: #fff;
    background: rgba(255, 255, 255, .9);
    line-height: 20px;
    padding: 0 5px
}
.gongl ul.gl2 {
    border: 2px solid #f1f1f1;
    height: 156px;
    width: 1078px;
    float: right;
    border-left: 0
}
.gongl ul.gl2>li {
    width: 339px;
    float: left;
    padding-left: 20px
}
.gongl ul.gl2>li h1 {
    font-size: 18px;
    font-weight: 100;
    height: 35px;
    line-height: 35px;
    font-family: "Microsoft YaHei";
    margin-top: 10px
}
.gongl ul.gl2>li span {
    width: 100px;
    height: 100px;
    float: left
}
.gongl ul.gl2>li ul {
    float: right;
    width: 220px;
}
.gongl ul.gl2>li ul li {
    height: 25px;
    line-height: 25px;
    width: 200px;
    overflow: hidden;
    background: url(/assets/common/pic/liststyle.gif) no-repeat left;
    padding-left: 10px
}
.design {
    margin-top: 20px;
    overflow: hidden;
    height: 202px
}
.design>li {
    float: left;
    width: 142px;
    padding: 15px;
    height: 202px;
    overflow: hidden
}
.design>li .tu {
    width: 142px;
    height: 142px;
}
.design li .tu img {
    width: 100%;
    height: 100%
}
.design>li p {
    background: #f1f1f1;
    line-height: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    padding: 0 10px
}
.design>li p a {
    margin-right: 10px;
    font-weight: bold;
    color: #6C3;
}
.design>li p a.com{color: #3C3C3C;}
.design>li p i {
    background: #F8C703;
    color: #fff;
    padding: 2px 5px;
    text-shadow: 0px 1px 0px #FF9900;
    border-radius: 5px
}
.jpyb {
    padding: 10px;
    border: 1px solid #f1f1f1
}
.jpyb ul li .tu {
    width: 200px;
    height: 120px;
    position: relative
}
.jpyb ul li .tu img {
    width: 100%;
    height: 100%
}
.jpyb ul li {
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    margin-top: 10px
}
.jpyb ul li .tu .tips {
    position: absolute;
    background: url(/assets/common/pic/hot1.png);
    width: 30px;
    height: 37px;
    top: -7px;
    left: 5px
}
.yzdp {
    padding: 10px;
    border: 1px solid #f1f1f1
}
.yzdp li {
    border-bottom: 1px dotted #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 10px
}
.yzdp li i {
    background: url(/assets/common/pic/yezhupj.png) no-repeat left;
    padding-left: 20px;
    margin-right: 5px;
    color: #3c3c3c;
    width: 100px;
}
.yzdp li i, .yzdp li span {
    color: #3c3c3c;
    float: left;
    display: block;
    overflow: hidden
}
.yzdp li p {
    min-height: 25px;
    line-height: 25px;
    color: #888;
    max-height: 100px;
    overflow: hidden
}
.yzdp li span a {
    font-weight: bold
}
.yzdp li span {
    width: 150px;
    overflow: hidden
}
.yzdp li:last-of-type {
    border: 0;
    padding: 0;
    margin: 0;
}
.scroll-img {
    width: 1204px;
    height: 464px;
    overflow: hidden;
}
.scroll-img ul {
    width: 1204px;
    height: 1720px;
    margin: 0;
}
.scroll-img ul li {
    display: inline-block;
}
.more {
    width: 100%;
    display: block;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background: #f7f7f7;
    clear: both;
    margin-top: 20px
}
a.more:hover span {
    margin-left: 20px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    /* Firefox 4 */

    -webkit-transition: all 0.2s;
    /* Safari and Chrome */

    -o-transition: all 0.2s;
    /* Opera */
}
a.more:hover {
    text-decoration: none;
}
.scollmes{position: relative;  background:url(/assets/common/pic/scollmes.gif) left no-repeat; padding-left:30px; font-size:14px; height:20px; line-height:20px}
.banner{height: 110px; background:url(/assets/sub/index/img/bannerbg.png) center center no-repeat; border: 1px solid #f1f1f1;}

.adv_banner1{background-image:url(/assets/common/img/banner_4.png);}
.adv_banner2{background-image:url(/assets/common/img/banner_2.jpg);}
.adv_banner3{background-image:url(/assets/common/img/banner_3.jpg);}

.banner a{display: block; width: 100%; height: 100%;}
.banner img{width:100%;height: 100%;}

.tele_l {float: left; color: #666; width: 356px; height: 271px; border: 0;padding:0; overflow: hidden; position: relative;}
.tele_l .tele_l_bg{background: url(/assets/common/img/getorderbosx.png) no-repeat; width: 100%; height: 100%; position: absolute;}

.tele_l .int{position: absolute; padding:6px 5px; width: 270px;  top:112px; left: 46px;overflow: hidden; height: 20px;}
.tele_l .int input{float: left; color: #666; padding-left: 5px;  width: 190px; height:20px;line-height: 20px; border: 0; background: transparent; font-size: 16px; line-height: 20px\0;}
.tele_l .int a{float: left; width: 60px; height: 32px; margin-left: 10px; background: none; border: 0;}
.tele_l .int a:hover{background: none;}

.tele_l .tele_l_info{position: absolute; top:152px; left:50px; text-align: center; line-height: 20px;}
.tele_l .tele_l_info i{color: #EE7500; font-weight: bold;}
.tele_l .bottips{position: absolute; left:0; bottom: 0; width: 100%; height: 30px;overflow: hidden;}
.tele_l .bottips li{ float: left; display: block; width: 118px; height: 100%; text-align: center;}
.tele_l .bottips li a{display: block; color: #999; height: 30px; line-height: 30px; font-size: 14px;}
.tele_r{ float:right; width:587px; border:2px solid #f1f1f1; height:267px; }
.tele_r .teltitle{ background:#f1f1f1; line-height:30px; height:30px;}
.tele_r .teltitle h1{ font-size:18px; font-weight:100 ; padding-left:40px; background: url(/assets/common/pic/tele_05.jpg) no-repeat;font-family:"Microsoft YaHei"; float:left }
.tele_r .teltitle ul{ float:right}.tele_r .teltitle ul li{ float:left; padding:0 10px}

.tele_r .teltitle ul li a{font-size: 14px; color: #999;}
.tele_r .teltitle .more{color: #666;font-weight: bold; margin:0;}
.tele_r .yztitle{ width:567px; margin:0 10px; border-bottom:1px dotted #eee;font-weight:bold; height:30px ; margin-bottom:10px}
.tele_r .yzlist{ width:567px; margin:0 10px;}
.tele_r .yztitle li,.tele_r .yzlist li{ float:left;font-size: 14px; font-family: microsoft yahei;  width:16.6%; text-align:center;line-height:30px; }

.scollmes-msg{display:none;bottom:-20px; position: absolute; left:152px; width: auto; height: 20px;}
.scollmes .current{display: block;}

/*新增部分*/
.bannerbox { width: 750px; height: 292px; overflow: hidden; margin: 0px auto; }
#focus { width:750px; height:292px; clear: both; overflow: hidden; position: relative; float: left; }
#focus ul { width: 750px; height:292px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus ul li { float: left; width: 750px; height:292px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus .preNext { width: 10%; height:292px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre { left: 0; background: url(/assets/common/pic/prev1.png) no-repeat left center; }
#focus .next { right: 0; background: url(/assets/common/pic/next1.png) no-repeat right center; }
#focus ul li img{ width:100%; height:100%}
.play{ width:750px; float:left; height:390px; margin-left:20px}

.fujin{ float: right; width:230px; height:350px; background:url(/assets/sub/index/img/fujin.jpg); color:#4b92ee; font-family:"Microsoft YaHei"; text-align:center; padding-top:40px}
.fujin a{ display:block; height:30px; color:#fff; background:#3d89ea; line-height:30px; margin:20px; border-radius:50px; font-size:14px}
.fujin a:hover{ text-decoration:none; background:#ff7646}
.fujin h1{ font-size:20px; font-weight:100}
.fujin h2{ font-size:16px; font-weight:100}
.fujin .mt{ margin-top:150px}
.fujin .yl{ color:#ff9000; font-weight:bold; font-size:1.2em}
.fujin .location{background:url(/assets/sub/index/img/aimbg.png);  height: 19px;width: 15px;display: inline-block;vertical-align: middle;margin-right: 5px;}

.treepoint { border:1px solid #f1f1f1; border-top:0; overflow:hidden;font-family:"Microsoft YaHei";}
.treepoint li{ float:left; width:141px; height:97px; padding-left:107px; color:#aaa; cursor: pointer;}
.treepoint li h1{ font-size:16px; font-weight:100; margin-top:25px; color:#666; line-height:30px}
.treepoint li.s1{ background:url(/assets/sub/index/img/threepoint.jpg) no-repeat left 0;}
.treepoint li.s2{ background:url(/assets/sub/index/img/threepoint.jpg) no-repeat left -98px}
.treepoint li.s3{ background:url(/assets/sub/index/img/threepoint.jpg) no-repeat left -196px}
.treepoint li.border{ width:1px; height:49px; margin:23px 0; background:#eee; padding:0}
.treepoint li:hover{color:#555;}
.treepoint a{text-decoration: none; color: #aaa;}
.treepoint a:hover{text-decoration: none; color: #555;}
.fujin-sider{ position:fixed; width:100%; height:100%; background:url(/assets/sub/index/img/yzbg.png); top:0; left:0; z-index:99999;font-family:"Microsoft YaHei"}
.fujin-sider .fujin-window{width:500px; height:200px; margin:0 auto; position:relative; background:url(/assets/sub/index/img/roadbg.png) no-repeat top center; padding-top:200px; margin-top:10px;}
.fujin-sider .fujin-window .aim{ position:absolute; background-image:url(/assets/sub/index/img/aim.png); width:40px; height:63px; background-repeat:no-repeat}
.fujin-sider .fujin-window .s1{ top:0; left:100px}
.fujin-sider .fujin-window .s2{ top:100px; right:100px}
.fujin-sider .fujin-window .err-tips{border: 2px solid #EC4646; height: 36px; line-height: 36px;}
.fujin-sider .fujin-window .aim{
-webkit-backface-visibility:visible;
-webkit-transform-origin:center center;
-webkit-animation:aim 0.8s infinite 0s ease-out alternate both}
@-webkit-keyframes aim{
0%{ background-position:top}
70%{ background-position:top}
100%{ background-position:bottom}
}
.fujin-sider .fujin-window .aim{
-moz-backface-visibility:visible;
-moz-transform-origisn:center center;
-moz-animation:aim 0.8s infinite 0s ease-out alternate both}
@-moz-keyframes aim{
0%{ background-position:top}
70%{ background-position:top}
100%{ background-position:bottom}
}
.fujin-sider .fujin-window .zore{ position:absolute; top:80px; right:230px; width:20px; height:20px}
.fujin-sider .fujin-window .zore em{width:20px;height:20px; margin:0 auto;display:block;position:relative; }
.fujin-sider .fujin-window .zore em:after {background:#0CF;content: ''; position: absolute; width: 120px; height: 120px; border-radius: 50%;  top: 50%; left: 50%; margin-top: -60px; margin-left: -60px; z-index: 3; opacity: 0; -webkit-animation: halo 2s 0.5s infinite ease-out; -moz-animation: halo 2s 0.5s infinite ease-out; animation: halo 2s 0.5s infinite ease-out;display:none\9; }
.fujin-sider .fujin-window .zore em:before {background:#0CF; content: ''; position: absolute; width: 120px; height: 120px; border-radius: 50%;  top: 50%; left: 50%; margin-top: -60px; margin-left: -60px; z-index: 3; opacity: 0; -webkit-animation: halo 2s 1.5s infinite ease-out; -moz-animation: halo 2s 1.5s infinite ease-out; animation: halo 2s 1.5s infinite ease-out;display:none\9; }
@-webkit-keyframes halo { 0% { opacity: 0;-webkit-transform: scale(0.1); }
50% {opacity: 0.2; }
100%{opacity: 0;-webkit-transform: scale(2); } }
@-moz-keyframes halo {0% { opacity: 0; -moz-transform: scale(0.1); }
50% { opacity: 0.2; }
100%{ opacity: 0; -moz-transform: scale(2); } }
@-ms-keyframes halo {0% { opacity: 0; }
50% { opacity: 0.2; }
100%{opacity: 0; } }
@-o-keyframes halo {0% { opacity: 0; -o-transform: scale(0.1); }
50% {opacity: 0.2; }
100%{ opacity: 0;-o-transform: scale(2); } }
@keyframes halo {0% { opacity: 0; transform: scale(0.1); }
50% {opacity: 0.2; }
100%{opacity: 0;transform: scale(2); } }

.fujin-sider .fujin-window h1{ font-size:20px; color:#fff; text-align:center; font-weight:100; text-shadow:2px 2px 0px #003; margin-bottom:30px}
.fujin-sider .fujin-window p{ height:40px; width:300px; margin:0 auto; line-height:40px; margin-bottom:15px;color:#fff; text-align:center}
.fujin-sider .fujin-window p input[type=text]{
 vertical-align: top; color: #666; height:30px; width:280px;
 border-radius:3px; background:#fff; overflow:hidden;padding:6px 10px;
 line-height:28px; float:left;font-size: 16px;}
.fujin-sider .fujin-window p input[type=text]:focus {outline:none;}
.fujin-sider .fujin-window p.half input[type=text]{ width:130px;}
.fujin-sider .fujin-window p .yzm{ float:right; width:130px;height:40px; cursor: pointer;}
.fujin-sider .fujin-window p .yzm img{ width:100%; height:100%}
.fujin-sider .fujin-window p .btn{  border-radius:3px;height:40px; width:300px; display:block; background:#ff6969; text-align:center; color:#fff; font-size:18px}
.fujin-sider .fujin-window p .btn:hover{ color:#fff; background:#ec4646; text-decoration:none}
.fujin-sider .shutdowns{
background: url(/assets/sub/index/img/shutdonw.png); width:30px; height:30px;
display:block; position:fixed; top:10px; right:10px;
transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition:  all 0.2s; /* Opera */
}
.fujin-sider .shutdowns:hover{
transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
-o-transform:rotate(90deg); /* Opera */
transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition:  all 0.2s; /* Opera */
}

.comphuoy { line-height:30px}
.comphuoy dt { font-size:14px}
.comphuoy dt span{ font-style:italic; font-weight:bold; font-size:24px; margin-right:10px; color:#ccc}
.comphuoy dd{ padding-left:18px; color:#888; border-bottom:1px dotted #eee}
.comphuoy dd span{ margin-right:20px}
.red{color:#fd7a7a !important}


/*修改部分*/
.fouce{ width: 750px; height: 292px; overflow: hidden; margin: 0px auto; }
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.banner1{width:750px; height:292px; position:relative; overflow:hidden;}

.banner-btn a{ opacity:0.2;background-color: #000; display:block;  position:absolute; top:50%; margin-top: -50px; width:47px; height:101px;overflow: hidden; z-index:4;}
/*.banner-btn a:hover{ opacity:1}*/
.prevBtn{left:5px;}
.nextBtn{right:5px;}
.banner-img{ font-size:0; *word-spacing:-1px;/* IE6、7 */ letter-spacing: -3px; position:relative;}
.banner-img li{ display:inline-block;*display:inline;*zoom:1;/* IE6、7 */ vertical-align: top; letter-spacing: normal;word-spacing: normal; font-size:12px; width:750px;height: 292px;}
.banner-img li img{ width:100%; height:100%}
.banner1 i{  width: 57px;height: 90px; cursor:pointer; display:block;}
.banner1 .nextBtn{right: 0}
.banner1 .prevBtn{left: 0}

.banner1 .nextBtn i{background:url(/assets/common/img/global.png) 0 center no-repeat;width:47px;height:101px;background-position:-459px -17px;}
.banner1 .prevBtn i{background:url(/assets/common/img/global.png) 0 center no-repeat;width:47px;height:101px;background-position:-403px -17px;}
.banner1 .nextBtn i:hover{  }
.banner1 .prevBtn i:hover{ }
.banner-circle{ position:absolute; left:50%; bottom: 15px;height: 13px;text-align: center;font-size: 0;border-radius: 10px; background:rgba(255,255,255,0.3); filter:alpha(opacity:30); }
.banner-circle li{ border-radius: 10px; margin:2px; display: inline-block; display: -moz-inline-stack; vertical-align: middle;zoom: 1; }
.banner-circle li a{ display: block;padding-top: 9px;width: 9px;height: 0;border-radius: 50%; background: #B7B7B7;overflow: hidden;}
.banner-circle .selected a{ background:#F40; }
/*修改部分*/

.askbox {margin-top:30px;}
.askbox .top_title {font-size:26px;font-weight: 100;font-family: Microsoft YaHei;height: 45px;padding:0px;}


.wenda {width:940px;float:left;font-family:"Microsoft YaHei";}
.wenda .brand {}

.wenda .brand li {float:left;width:235px;height:130px;position: relative;overflow: hidden;}
.wenda .brand li .logo {width:200px;height:100px;background:#fff;margin-top:15px;margin-left:18px;text-align: center}
.wenda .brand li div img {width:151px;height:75px;margin-top:12px;}

.wenda .brand .b1 {background:#DE4348;}
.wenda .brand .b1 em em {background:#DE4348;}
.wenda .brand .b2 {background:#DE4348;}
.wenda .brand .b2 em em {background:#FF9900;}
.wenda .brand .b3 {background:#DE4348;}
.wenda .brand .b3 em em {background:#00CC99;}
.wenda .brand .b4 {background:#DE4348;}
.wenda .brand .b4 em em {background:#ff6600;}

.wenda .brand .info {background:#DE4348;}
.wenda .brand .infobox {width:200px;height:80px;padding-left:20px;border-left:1px #fff solid;margin-top:26px;margin-left:18px;text-align:left;color:#fff;font-size:16px;font-family: Microsoft YaHei;font-weight: 100}
.wenda .brand .infobox p {margin-top:18px;}

.wenda .brand li em { text-align: center; display: none; width: 100%; left: 0;}
.wenda .brand li em em {position: absolute;opacity: 0.97; filter:alpha(opacity=97);}
.wenda .brand li em i { position: absolute;left: 50%;top:40%; margin-left: -50%; margin-top: -28px; width: 100%; font-size: 16px; color: #FFF; font-family: Microsoft YaHei;font-weight: 100}
.wenda .brand li:hover em {bottom: 0;height: 100%;display: block;}

.wenda .hot {float:left;width:50%;}
.wenda .new {float:left;width:50%;margin-top:0px;}
.wenda .title {font-size:18px;margin-bottom:10px;margin-top:10px;font-family:"Microsoft YaHei";color:#3c3c3c;}

.zj-list li{ float:left; width:400px; margin-right:10px; height:110px; padding:10px 0;line-height:20px; }
.zj-list li span{ display:block; float:left; margin-right:10px; width:150px; height:110px}
.zj-list li span img{  width:150px; height:110px}
.zj-list li p { color:#aaa; max-height:60px;margin-top:0px;overflow:hidden}
.zj-list li p a{ font-size:16px;font-weight: 130;font-family: Microsoft YaHei;color:#000;}

.dn-list {padding-top:9px;}
.dn-list li {float:left; width:400px; margin-right:20px; height:78px; margin-bottom:20px}
.dn-list li p a{ font-size:16px}
.dn-list li p{ color:#aaa; line-height:27px}
.dn-list li .answer-num-b{ width:40px; height:40px; border-top:2px solid #eee; border-bottom:2px solid #eee; border-left:1px solid #eee; border-right:1px solid #eee; float:left; text-align:center; border-radius:5px; font-size:14px; padding:5px; color:#ef6969; margin-right:20px}
.dn-list li .answer-num-b strong{ display:block}


.diary {float:left;width:230px;margin-left:19px;}
.de-hot-diary { margin:10px;padding-bottom:10px;padding-top:10px;}
.de-hot-diary li { border-bottom: 1px dotted #f1f1f1; padding-bottom:10px; margin-top:12px;height:100%; }
.de-hot-diary li a:hover { text-decoration: none; opacity:0.8}
.de-hot-diary li .img {float:left;}
.de-hot-diary li .title {font-size:14px;font-family:Microsoft YaHei;padding-left:15px;}
.de-hot-diary li img { height:58px; width:58px;margin-right: 15px;border-radius: 100px;}
.de-hot-diary p {color:#999;}


.page-auto{width:1210px;margin:0 auto;font-family:Microsoft YaHei;}

.mt20{margin-top:30px}
.xgt-box{margin-top:20px}

.xgt-info{overflow:hidden;width:1210px;margin-top:10px;}
.xgt-info{position:relative}
.xgt-info a.btn{display:none;position:absolute;top:160px;width:50px;height:60px;opacity:.8;background:url("../img/icon.png")}
.xgt-info:hover a.btn{display:block}
.xgt-info>a.left-arrow{left:0;background-position:-182px -433px}
.xgt-info>a.right-arrow{right:0;background-position:-293px -433px}
.xgt-info>a:hover{opacity:1}

.xgt-list li>div a.icobg{background:url('../img/icons-xgt.png') no-repeat;}
.xgt-list{overflow:hidden;height:375px;width:10000%;position:relative;}
.xgt-list li{float:left;position:relative;width:1210px;height:375px;}
.xgt-list li img:hover{filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9}
.xgt-list li>div{position:absolute;}
.xgt-list li>div a{color:#999;text-decoration:none}
.xgt-list li>div.t1{width:255px;height:375px;top:0;left:0}
.xgt-list li>div.t1 img{width:255px;height:375px;}
.xgt-list li>div h4{position:absolute;left:0;bottom:0;height:30px;line-height:30px;background:url("../img/MaskBgd.png");font-size:14px;font-family:"Microsoft Yahei";color:#fff;text-indent:.5em;width:100%}
.xgt-list li>div.t2{width:106px;height:50px;overflow:hidden;left:270px;top:0;border:1px solid #d9d9d9;}
.xgt-list li>div.t2 a{display:block;text-align:center;line-height:50px;font-size:14px}
.xgt-list li>div.t3{width:106px;height:110px;overflow:hidden;left:270px;top:65px;background:#fff;border:1px solid #d9d9d9;}
.xgt-list li>div a.icobg span{position:absolute;left:10px;bottom:10px}
.xgt-list li>div a.ico1{background-position:-36px -10px;width:100%;height:100%;display:block;}
.xgt-list li>div a.ico2{background-position:-36px -330px;display:block;}
.xgt-list li>div a.ico3{background-position:-36px -174px;display:block;}
.xgt-list li>div a.ico4{background-position:-36px -492px;display:block;}
.xgt-list li>div.t4{width:270px;height:180px;top:0;left:390px}
.xgt-list li>div.t4 img{width:270px;height:180px;}
.xgt-list li>div.t5{width:270px;height:180px;top:195px;left:270px}
.xgt-list li>div.t5 img{width:270px;height:180px;}
.xgt-list li>div.t6{width:106px;height:110px;overflow:hidden;left:552px;top:195px;border:1px solid #d9d9d9;}
.xgt-list li>div.t7{width:106px;height:50px;overflow:hidden;left:552px;top:323px;border:1px solid #d9d9d9;}
.xgt-list li>div.t7 a{display:block;text-align:center;line-height:50px;font-size:16px}
.xgt-list li>div.t8{width:213px;height:70px;overflow:hidden;left:675px;top:0;border:1px solid #d9d9d9;}
.xgt-list li>div.t8 a{display:block;text-align:center;line-height:70px;font-size:16px}
.xgt-list li>div.t9{width:215px;height:290px;top:90px;left:675px}
.xgt-list li>div.t9 img{width:215px;height:290px;}
.xgt-list li>div.t10{width:305px;height:206px;top:0;left:905px}
.xgt-list li>div.t10 img{width:305px;height:206px;}
.xgt-list li>div.t11{width:240px;height:156px;top:219px;left:905px}
.xgt-list li>div.t11 img{width:240px;height:156px;}
.xgt-list li>div.t12{width:50px;height:154px;top:219px;left:1158px;background:#fff;border:1px solid #d9d9d9;text-align:center}
.xgt-list li>div.t12 span{width:1em;display:block;margin:0 auto;font-size:16px;padding-top:40px}
.xgt-list li>div a.tag{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;transition:all .6s;width:100%;height:100%;display:block}
.xgt-list li>div a.tag:hover{background-color:#f25546;color:#fff;}
.xgt-list li>div a.hover{background-color:#f25546;color:#fff}
.xgt-list li>div.t3 a.hover{background-position:-168px -10px;}
.xgt-list li>div.t6 a.hover{background-position:-168px -330px;}
.xgt-list li>div.n3 a.hover{background-position:-168px -174px !important;}
.xgt-list li>div.n6 a.hover{background-position:-168px -492px !important;}

.fujin-sider .fujin-window  input[type="text"].err-bg{background: #FFFFC3;}





