.scollmes{ background:url(../pic/scollmes.gif) left no-repeat; padding-left:30px; font-size:14px; height:20px; line-height:20px}

/*翻页*/

.page{ padding:20px; line-height:25px; font-family:"微软雅黑"; width:500px; max-width:1210px; margin:0 auto}
.page a,.page strong {display: inline-block;
border: 1px solid #fff;
color: #505050;
padding: 0px 8px;
vertical-align: middle;
margin-left: 3px;box-shadow:0px 0px 2px rgba(0,0,0,.5); border-radius:2px}
.page a:hover, .page a.current, .page strong {
color: white!important;
text-decoration: none;
background:#ed5a6b;
border: 1px solid #ed5a6b;
}.page input{ height:15px;}.page em{ margin:0 5px}





/*内链样式*/
.inlink-tit{ font-size:18px; font-weight:100; height:40px; line-height:40px; border-bottom:1px dotted #f1f1f1; padding:0 20px; margin-bottom:10px}
.inlink-a-left{ width:258px; border:1px solid #f1f1f1; font-family:"Microsoft YaHei"; padding-bottom:10px}
.inlink-a-left li{ background:url(../pic/liststyle1.gif) no-repeat 8px 12px; line-height:30px; padding-left:20px; height:30px; overflow:hidden}
.inlink-a-bottom,.inlink-b-bottom,.inlink-c-bottom,.inlink-d-bottom{ width:930px; border:1px solid #f1f1f1; font-family:"Microsoft YaHei"; padding-bottom:10px; overflow:hidden}
.inlink-a-bottom li{ background:url(../pic/liststyle1.gif) no-repeat 8px 12px; line-height:30px; padding-left:20px; height:30px; overflow:hidden; float:left; width:290px}
.inlink-b-bottom li span { display: block; background:#f7f7f7; height:200px; width:100%; text-align:center}
.inlink-b-bottom li span img,.inlink-c-bottom li span img,.inlink-d-bottom dt span img{ width:auto; max-width:100%; height:auto; max-height:100%}
.inlink-b-bottom li { line-height:30px; width:290px; padding:0 10px; float:left; height:230px}
.inlink-c-bottom li { line-height:30px; width:166px; padding:0 10px; float:left; height:130px; overflow:hidden}
.inlink-c-bottom li span,.inlink-d-bottom dt span{ display: block; background:#f7f7f7; height:100px; width:100%; text-align:center}
.inlink-d-bottom dt { line-height:30px; width:166px; padding:0 10px; float:left; height:130px; overflow:hidden;text-align:center}
.inlink-d-bottom dd{ float:left; width:250px; padding-right:10px}
.inlink-d-bottom dd li { background:url(../pic/liststyle1.gif) no-repeat 8px 12px; line-height:30px; padding-left:20px; height:30px; overflow:hidden; float:left; width:220px}