.special-list{padding: 0;}
.special-list:after{display: block; content: ""; clear: both;}
.special-list li{list-style: none; padding:5px; text-align: left;}
.special-list li span{display: block; padding:5px;}
.special-list li .tips{color: #999; font-size: 12px; font-style: normal; margin-right: 5px;}
.special-list li .word-box{border:1px solid #ddd;}
.special-list li .word-box:hover{border:1px solid #999; cursor: pointer;}
.special-list li .word{font-style: normal;}

.listNav{border-bottom: 1px solid #ddd;}
.ln-letters a:hover, .ln-letters .ln-selected{background: #00c0ef; color: #fff;}
