.popOut{z-index:999999; width:160px; border: 1px solid #DDD; position: absolute; background: #F2FBF3;padding:5px; }
.popIn{position:relative; width: 100%;}
.popIn img{margin:0 5px; cursor: pointer; vertical-align: top;}
.popIn a{padding:10px 5px; font-size: 13px; color: #FF8080; text-decoration: none;}
.popIn input[type=text]{margin-top: 10px; margin-left: 5px; width: 80px;border: 1px solid #FF8080; color: #666; height: 26px;padding-left: 5px;}
.popIn button{width: 50px; padding:5px; margin-left: 5px; background: #FF8080; color: #fff; cursor: pointer;}
.popIn em{position: absolute; bottom: -24px; width: 0; height: 0; border-width: 10px; border-color: #F2FBF3 transparent transparent; border-style: solid dashed dashed; left:15px; }
.popIn em.arrar_bg{border-color:#ddd transparent  transparent;bottom: -25px;}