body{color: #333;}
input,button{outline: none;-webkit-appearance: none;outline: none;border-radius: 5px;}
::-moz-placeholder { font-size: 1em; }
::-webkit-input-placeholder { font-size: 1em; }
:-ms-input-placeholder { font-size: 1em; }
.month01{width: 100%;height:2.5rem;background: url(/assets/mobile/special/12month/img/12monthhd01.png) no-repeat;
background-size: 100% 100%;position: relative;}
.yindao{position: fixed;top: 0.05rem;right: 0.3rem;width: 0.75rem;height:0.825rem;display: none;
	background:  url(/assets/mobile/special/12month/img/yindao1.png) no-repeat;background-size: 100% 100%;
z-index: 9999;}
.fenxiangms{position: fixed;top: 1rem;right: 0.6rem;color: #fff;font-size: 0.25rem;z-index: 9999;display: none;}
.month02{width: 100%;height:0.55rem;background: url(/assets/mobile/special/12month/img/12monthhd02.png) no-repeat;
background-size: 100% 100%;position: relative;}
.month02 .soama{color: #fff;font-size: 0.125rem;text-align: center;position: absolute;top: 0.32rem;left: 0.96rem;}
.month03{width: 100%;height:1.43rem;background: url(/assets/mobile/special/12month/img/12monthhd03.png) no-repeat;
background-size: 100% 100%;}
.month04{width: 100%;height:2.34rem;background: url(/assets/mobile/special/12month/img/12monthhd04.png) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.month04 .erwmams01{width: 81.3%;margin: 0 auto;text-align: center;font-size: 0.11rem;color: #fc6a00;margin-top: 0.37rem;
}
.month04 .erwmams02{width: 81.3%;margin: 0 auto;text-align: center;font-size: 0.11rem;color: #fc6a00;margin-top:0.25rem;
}
.month04 .erwmams03{width: 81.3%;margin: 0 auto;text-align: center;font-size: 0.11rem;color: #fc6a00;margin-top: 0.15rem;
}
.month04 .fenxiang{width: 1.04rem;height: 0.475rem;background:url(/assets/mobile/special/12month/img/fxan.png) no-repeat;
background-size: 100% 100%;margin:0 auto;margin-top: 0.25rem;}
.month05{width: 100%;height: 2.245rem;background: #520d0d;overflow: hidden;}
.month05 .zjmd{width: 94.6%;height: 2.025rem;background: url(/assets/mobile/special/12month/img/12monthhd05.png) no-repeat;
background-size: 100% 100%;margin: 0 auto;margin-top: 0.15rem;margin-bottom: 0.07rem;overflow:hidden;}
.month05 .zjmd .tit{width: 100%;margin-top: 0.45rem;}
.month05 .zjmd .tit span{width: 33.3%;color: #fff;display: inline-block;text-align: center;font-size: 0.12rem;}
.month05 .zjmd #zjmd_gundong ul li{line-height:0.22rem;}
.month05 .zjmd #zjmd_gundong{color: #fff;width: 100%;height:1.18rem; overflow: hidden;margin-top: 0.08rem;}
.month05 .zjmd #zjmd_gundong ul li span{width: 33.3%;text-align: center;display: inline-block;
	font-size: 0.1rem;}
.month06{width: 100%;height:0.48rem;background: url(/assets/mobile/special/12month/img/12monthhd06.png) no-repeat;
background-size: 100% 100%;position: relative;}
.month06 .neirongms{color: #fff;font-size: 0.125rem;text-align: center;position: absolute;top: 0.24rem;left: 0.71rem;}
.month07{width: 100%;height:2.82rem;background: url(/assets/mobile/special/12month/img/12monthhd07.png) no-repeat;
background-size: 100% 100%;position: relative;}
.month07 .dalibaoms{display: inline-block;position: absolute;color: #512214;font-size: 0.11rem;top: 1.88rem;left: 1.35rem;}
.month07 .dalibaoms li{line-height: 0.17rem;}
.month08{width: 100%;height:1.77rem;background: url(/assets/mobile/special/12month/img/12monthhd08.png) no-repeat;
background-size: 100% 100%;}
.month09{width: 100%;height: auto;background: #520d0d;overflow: hidden;}
.month09 .neirongkz{width: 94.6%;background: #9c1608; padding-bottom:0.15rem;border: 2px solid #ff1915;margin:0 auto;box-sizing: border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-top: 0.15rem;margin-bottom: 0.25rem;overflow: hidden;}
.month09 .neirongkz .huodongsm{width: 2.9rem;height:0.215rem;background: url(/assets/mobile/special/12month/img/activesm.png) no-repeat;
margin:0 auto;background-size: 100% 100%;margin-top: 0.13rem;}
.month09 .neirongkz p{font-size: 0.12rem;color: #fff;padding:0 0.09rem;line-height:0.22rem; }
.month09 .neirongkz .psmall{font-size: 0.1rem;text-indent: 1em;}

/*弹窗样式*/
.yinying{position:fixed;width:100%;height:100%;top: 0;bottom: 0;left: 0;right: 0;background: rgba(4,4,4,0.5);
	display: none;overflow:scroll;}
.tanc{width: 95%;height: 2.91rem;position:fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: #fff;
border-radius: 5px;padding: 0.15rem;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
display: none;z-index: 99;overflow: hidden;}
.tanc .titxt{text-align: center;color: #c41303;font-size: 0.2rem;margin-top: 0.05rem;margin-bottom: 0.15rem;}
.fadan{font-family:"Microsoft YaHei","微软雅黑";}
.fadan li{/*overflow: hidden;*/width: 100%;height: auto;}
.jianjv{margin-top: 0.1rem;}
.yabngshi1{font-size: 0.15rem;height: 0.44rem;line-height:normal;border: 1px solid #ddd;width: 100%;padding:5px;
	box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;overflow: hidden;clear: both;}
.yabngshi2{font-size: 0.15rem;height:0.44rem;line-height:normal;border: 1px solid #ddd;width: 100%;padding: 5px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;overflow: hidden;clear: both;}
.yabngshi1,.yabngshi2{color: #333;}
.fadan li .canyuti{width: 100%;height: 0.44rem;line-height: 0.44rem;text-align: center;background: #be1d05;color: #fff;
font-size:0.15rem;margin-top: 0.1rem;border-radius: 5px;}
.tanc .closegb{position:absolute;top: 0.11rem;right: 0.09rem;display: inline-block;color: #999;font-size:0.17rem;}
.fa-map-marker{margin-right: 0.03rem}
.c-zb-city{font-size: 0.15rem !important;color: #333 !important;}
/*弹窗样式*/

.tijcg{width: 95%;height:2.32rem;position:fixed;top: 0;bottom: 0;left: 0;right: 0;margin:auto;background:#fff;border-radius: 5px;
padding: 0.15rem;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-family:"Microsoft YaHei","微软雅黑";
display: none;}
.tijcg .closegb2{position:absolute;top: 0.11rem;right: 0.09rem;display: inline-block;color: #999;font-size:0.17rem;}
.tijcg .titxt2{color: #be1d05;font-size:0.2rem;text-align: center;margin: 0.22rem 0;margin-top: 0.05rem;}
.tijcg .dizhi{width:100%;overflow: hidden;}
.tijcg .dizhi .address{width:100%;height: 0.44rem;line-height: 0.44rem;padding: 5px;box-sizing: border-box;-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;border: 1px solid #dedee0;font-size: 1em;}
.tijcg .shaohou{font-size: 0.12rem;color: #333;margin-top: 0.1rem;}
.tijcg .lingqu{font-size: 0.15rem;color: #fff;background: #be1d05;text-align: center;height: 0.44rem;line-height: 0.44rem;
border-radius: 5px;margin-top: 0.2rem;}
.c-zb-city{color: #333;}
.c-zb-city i.fa{margin-right: 3px !important;color: #333 !important;}

.baoming{width: 100%;height: 0.44rem;line-height:0.44rem;background: #be1d05;text-align: center;color: #fff;
font-size: 0.18rem;position: fixed;bottom: 0;}

footer{padding-bottom: 70px !important;}
.yinying2{position:fixed;width:100%;height:100%;top: 0;bottom: 0;left: 0;right: 0;background: rgba(4,4,4,0.5);
	display: none;overflow:scroll;}
article{overflow: visible !important;}
