
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
header .m-header-tit {
    width: 160px;
    height: 50px;
    margin-left: 35%;
    text-align: center;
    overflow: hidden;
}
#m-case{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
	overflow:hidden;
}
#m-case .m-case-tit{
    width:100%;
    margin: 0 auto;

}
.m-case-tit p{
    width:100%;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.m-case-tit p.home-tit{
    margin-top: 35px;
}
.m-case-tit p.home-tit span{
	margin:0 6px ;
}
.m-case-tit p.company-tit{
    font-size: 14px;
    margin: 20px 0px;
}
#m-case .m-case-con{
    width: 100%;
    height: auto;
}
.zxpic img{
    width: 100%;
    height: auto;
}
.zxpic .zxpic-tit{
    width: 90%;
    margin: 20px auto;
    font-size: 14px;
}
.zb-bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 70px;
    background: rgba(255,255,255,0.6);
}
.zb-bottom a{
    display:inline-block;
    width: 45%;
    height: 40px;
    border-radius: 4px;
    background: #ff5659;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    margin-top:20px;
}


