/* ::::: https://bqq.gtimg.com/qidian_huidu/chatClient/release/pc/css/chat-5bcb1d89e.css ::::: */

.chat-face, .chat-face ul, .chat-post .post-area, .sidebar .mod-desc { box-sizing: border-box; }
.page-inframe, .page-inframe .chat-list, .page-inframe .chat-post, .page-minify { visibility: visible; }
body, html { overflow: auto; width: 100%; height: 100%; min-height: 600px; }
body { font: status-bar; font-size: 14px; line-height: 1; color: rgb(47, 51, 59); }
:focus { outline: 0px none; }
body, dd, dl, form, ol, p, ul { margin: 0px; }
ol, ul { list-style-type: none; padding: 0px; }
.chat-list, .sidebar .mod-desc { border-bottom: 1px solid rgb(239, 239, 244); }
button, dialog, input, select, textarea { font-size: 100%; margin: 0px; padding: 0px; font-family: inherit; color: inherit; }
a { text-decoration: none; color: rgb(68, 68, 68); }
@font-face {
	font-family: "icomoon";
	font-style: normal;
	font-weight: 400;
	src: url('icomoon-3b56b52d9.eot') format("embedded-opentype"), url('icomoon-5bf90b864.ttf') format("truetype"), url('icomoon-1c9d0a987.woff') format("woff"), url('icomoon-b7a1b2d97.svg') format("svg");
}
[class*=" icon-"], [class^="icon-"] { font-family: icomoon !important; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; }
@media �screen,screen	 {
	[class*=" icon-"], [class^="icon-"] {  }
}
.icon-star::before { content: ""; }
.icon-bubble::before { content: ""; }
.icon-address::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-email::before { content: ""; }
.icon-tel::before { content: ""; }
.icon-face::before { content: ""; }
.icon-qq::before { content: ""; }
.icon-fail::before { content: ""; }
.icon-upload::before { content: ""; }
.icon-arrow-up::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-link::before { content: ""; }
.skin-blue .chat-post .btn-face .icon-face:hover, .skin-blue .chat-post .btn-upload.enabled.hover .icon-upload, .skin-blue .chat-post .btn-upload.enabled:hover .icon-upload, .skin-blue .mod-menu .menu-action li a, .skin-blue.page-minify .mod-title .icon-bubble { color: rgb(0, 103, 237); }
body { background: rgb(230, 231, 232) none repeat scroll 0% 0%; }
.loading { animation: 1s steps(12, end) 0s normal none infinite running msgLoading; background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll 0% 0% / 100% auto; }
.loading-b { display: inline-block; width: 50px; height: 50px; }
input[type="file"] { z-index: -1; position: absolute; left: 0px; bottom: 0px; opacity: 0; }
.hidden { display: none !important; }
.page { overflow: hidden; background-color: rgb(255, 255, 255); }
.sidebar { display: none; position: absolute; top: 0px; bottom: 0px; right: 0px; width: 200px; background: rgb(247, 247, 249) none repeat scroll 0% 0%; border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
.sidebar .corp-loading { position: absolute; top: 50%; left: 0px; width: 100%; height: 76px; margin-top: -38px; text-align: center; }
.sidebar .corp-loading .text { margin-top: 10px; }
.chat-list { position: relative; height: 373px; }
.chat-list .list-wrap div.msg-time:first-child, .chat-list .list-wrap.chat-initial div:first-child { margin-top: 25px; }
.chat-list .list-wrap { overflow: auto; position: absolute; width: 100%; max-height: 100%; bottom: 0px; }
.chat-list .list-wrap.chat-initial { height: 100%; }
.chat-list .initial-loading { position: absolute; top: 50%; left: 50%; width: 300px; height: 74px; margin: -62px 0px 0px -150px !important; text-align: center; }
.chat-list .msg-sys, .chat-list .msg-time { padding-bottom: 25px; }
.chat-list .msg-sys { text-align: center; }
.chat-list .msg-sys .text { display: inline-block; height: 22px; padding: 0px 12px; border-radius: 22px; color: rgb(255, 255, 255); font-size: 12px; line-height: 22px; background-color: rgb(189, 190, 193); }
.chat-list .msg-b2c.msg-image .image.notSupport::before, .chat-list .msg-b2c.msg-image .image.overSumLimit::before, .chat-list .msg-c2b.msg-image .image.notSupport::before, .chat-list .msg-c2b.msg-image .image.overSumLimit::before { content: "图片过大发送失败"; z-index: 5; position: absolute; width: 100%; height: 20px; line-height: 20px; top: 50%; left: 0px; margin-top: -10px; color: rgb(255, 255, 255); font-size: 12px; text-align: center; }
.chat-list .msg-b2c.msg-image .image.notSupport::after, .chat-list .msg-b2c.msg-image .image.overSumLimit::after, .chat-list .msg-c2b.msg-image .image.notSupport::after, .chat-list .msg-c2b.msg-image .image.overSumLimit::after { content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; border-radius: 14px; }
.chat-list .msg-b2c.msg-image .image.notSupport::before, .chat-list .msg-c2b.msg-image .image.notSupport::before { content: "格式不支持"; }
.chat-list .load-status .status-tip::before { content: ""; display: inline-block; position: absolute; left: 0px; bottom: 7px; width: 100%; border-bottom: 1px solid rgb(239, 239, 244); }
.chat-post { height: 110px; }
.chat-post .post-area { overflow-x: hidden; overflow-y: auto; width: 100%; height: 60px; padding: 10px; resize: none; line-height: 1.5; border: medium none; }
.chat-post .act-list { position: relative; height: 50px; padding-left: 5px; }
.chat-post .btn-face, .chat-post .btn-upload { display: block; position: relative; float: left; width: 34px; height: 30px; margin-top: 10px; }
.chat-post .btn-upload { pointer-events: none; }
.chat-post .btn-upload .icon-upload { position: absolute; left: 6px; bottom: 1px; color: rgb(228, 228, 230); font-size: 18px; }
.chat-post .btn-face .icon-face { position: absolute; left: 5px; bottom: -1px; color: rgb(133, 141, 151); font-size: 22px; }
.chat-post .btn-send { float: right; margin: 10px; width: 60px; height: 30px; text-align: center; line-height: 30px; background-color: rgb(241, 242, 245); border-radius: 5px; pointer-events: none; color: rgb(188, 193, 199); }
.chat-face { z-index: 10; position: absolute; bottom: 40px; left: 5px; width: 350px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); border-radius: 5px; }
.chat-face ul { width: 100%; padding: 14px; overflow: hidden; background: rgb(255, 255, 255) url('face-bg-adabbc6a9.png') no-repeat scroll 14px 14px; border-radius: 20px; }
.chat-face .arrow { display: none; position: absolute; left: 42px; bottom: -10px; width: 15px; height: 10px; background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll left top; }
.mod-title .title-minify, .mod-title .title-normal .btn-back { display: none; }
.page-inframe .mod-title .title-normal, .page-minify { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.page-minify { width: 360px; height: 50px; }
.page-minify .mod-title .title-normal { display: none; }
.page-minify .mod-title .title-minify { z-index: 5; position: absolute; top: 0px; left: 0px; width: 100%; height: 50px; display: block; padding-left: 55px; box-sizing: border-box; cursor: pointer; }
.page-minify .mod-title .icon-bubble { position: absolute; top: 14px; left: 16px; font-size: 25px; }
.page-minify .mod-title .text { position: relative; overflow: hidden; margin-right: 50px; line-height: 50px; font-size: 18px; }
.page-minify .mod-title .text span { float: left; display: inline-block; }
.page-minify .mod-title .text .name { max-width: 134px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-right: 7px; }
.page-minify .mod-title .num { position: absolute; top: 13px; right: 15px; display: block; min-width: 14px; height: 26px; padding: 0px 6px; text-align: center; line-height: 26px; border-radius: 26px; color: rgb(255, 255, 255); font-weight: 700; background-color: rgb(255, 66, 34); }
.page-minify .chat-list, .page-minify .chat-post { visibility: hidden; }
@media �screen,screen	 {
}
.nano { position: relative; width: 100%; height: 100%; overflow: hidden; border-radius: 5px; }
.nano > .nano-content { position: absolute; overflow-x: hidden; overflow-y: scroll; top: 0px; right: 0px; bottom: 0px; left: 0px; border-radius: 10px; }
.nano > .nano-content:focus { outline: thin dotted; }
