/*
* @Author: Administrator
* @Date:   2018-06-07 16:06:26
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-06-11 13:48:49
*/
.search_box{border-bottom: 1px solid #E6E6E6; padding:0.1rem; position: relative;}
.search_input_box{background: #F0F0F0;width: 2.47rem;margin:0px auto;height: 0.3rem;position: relative; border-radius: 5px; left: -0.07rem}
.serch_icon{position: absolute; left:0px;}
.search_input_box form{height: 100%}
.search_input_box input{border:none; background:none; width: 100%; height: 100%; outline: none;
    appearance: none;  -moz-appearance: none;
    -webkit-appearance: none;text-indent: 0.22rem;
}
input::-webkit-search-decoration,input::-webkit-search-cancel-button {display: none; }

.goback{position: absolute; left: -0.2rem; top:0.08rem;}
.serch_icon{position: absolute;font-size: 18px; left: 0.05rem; top:0.07rem; color:#999;  }
.giveup{position: absolute;right: -0.34rem;top:0.08rem; font-size: 13px;color:#333;}
.remove_text{position: absolute;right: 0.05rem; top: 0.08rem; color: #CCCCCC;display: none;}
.hot_search{padding:0px 0.1rem;}
.hot_search h3{font-size: 0.13rem;padding-top:0.10rem;padding-bottom: 0.1rem}
.hot_search_list{overflow:hidden;}
.hot_search_list a{display: block;float: left;font-size: 0.12rem; background:#F5F5F5; margin-right:0.09rem; margin-bottom: 0.09rem;border-radius: 0.2rem;padding:0.04rem 0.07rem;color:#333;}
.chose_table{width:100%; text-align: center;font-size: 0.13rem; color:#333; height: 0.4rem; border-bottom:1px solid #F5F5F5; table-layout: fixed;}
.chose_table i{color:#666666;padding-left: 3px;}
.normal_chose i{font-size: 0.14rem}
#price i{font-size: 0.10rem}
#screen {background:#F5F5F5; padding:0.06rem 0.09rem; border-radius: 4px;}
#screen i{font-size: 0.1rem;}
.search_active{color:#f21855;}
.search_active i{color:#f21855;}
.screen_list{position:fixed; width:100%; height: calc(100% - 100px ); background:rgba(0,0,0,0.5); left:0px;overflow-y:auto; display: none;}
.screen_box{background:#fff; padding:0.1rem;}
.btn_box{text-align:center; font-size: 0px;}
.btn_box span{font-size: 0.14rem;
    border-radius: 0.2rem;
    display: inline-block;
    margin:0.1rem;
    text-align:center;
    width:0.62rem; height: 0.22rem; line-height: 0.22rem; margin-top: 0.12rem;
}
.reset{border:1px solid #333;}
.okbtn{color:#fff; background:#f21855; border:1px solid #f21855;}
.select_item_box span{width:0.686rem; height: 0.24rem; background:#f5f5f5;
    border-radius: 0.3rem; display: inline-block; font-size: 0.12rem;
    text-align:center; line-height: 0.24rem; margin-right:0.04rem;
    margin-bottom: 0.07rem;
}
.select_item_box span:nth-child(4n){
    margin:0px !important;
}
.select_item_box h3{margin-bottom: 0.06rem; font-size: 0.13rem; color:#333; margin-top: 0.06rem}
.static_style{overflow:hidden; position: fixed; left: 0px;top: 0px;}
.selected{background:#f21855 !important; color: #fff;}
.search_result ul li{padding:0.08rem 0.14rem; overflow:hidden;}
.search_result ul li a{overflow: hidden;}
.goods_img{float: left; width:1.1rem; height: 1.1rem;}
.goods_img img{width:100%; height: 100%;}
.goods_text{float: left; margin-left:0.10rem;width:1.63rem;}
.goods_title{color: #333; font-size: 0.14rem;padding-top: 0.075rem; padding-bottom: 0.05rem;}
.goods_detail{color:#999; font-size: 0.12rem; margin-bottom:0.12rem;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;}
.bottom_info{overflow:hidden;}
.bottom_price{float: left; color：#333; font-size: 0.15rem; color:#f21855;}
.bottom_salenum{float: right; color:#999; font-size: 0.12rem;padding-top: 0.03rem}
.empty_box{height: 2.3rem; width:100%;background: #fff;border-bottom:0.1rem solid #F5F5F5; display: table;text-align:center;}
.cry_box{display: table-cell;vertical-align: middle;}
.cry_box img{width:0.56rem;}
.cry_box p{color: #999; font-size: 0.12rem;padding-top: 0.13rem}
.recommd_list{padding:0.11rem 0px;}
.recommd_title {text-align:center; color:#333; font-size: 0.15rem; height: 0.1rem; width:50%; border-bottom:1px solid #333; margin:0px auto;}
.recommd_title span{background:#fff; padding:0px 0.1rem;}
.recommend {overflow:hidden;margin-top:0.26rem;}
.recommend li{float: left; width:50%; margin-bottom: 0.15rem}
.recommend li .item_content{padding:0px 0.12rem;}
.recommend li .item_content img{width:100%; height: 1.26rem;}
.recommend li .item_content p{font-size: 0.12rem; padding-top: 0.06rem; height: 0.31rem; padding-bottom: 0.02rem;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}
.user{right:-0.3rem !important; font-size: 0.15rem; top:0.06rem !important;}