<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>懒人装修大法 - 专题 - 齐装网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<include file="Index:resource" />
<link rel="stylesheet" href="{$static_host}/assets/home/special/lanren/lr.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/common/css/step.css?v={:C('STATIC_VERSION')}" />
</head>
<body>
{$headerTmp}
<div class="lr-top">
<div class="lr-w">
<div class="fadan" id="free">
  <h1>立即申请所有免费服务</h1>
  <ul>
    <li class="a1"><input placeholder="您的姓名" name="name" type="text"></li>
    <li class="a2"><input placeholder="您的联系方式" name="tel" type="text"></li>
    <li class="a3"><select id="fb-cs" name="cs" class="diz"></select><select id="fb-qy" class="diz" name="qy"></select></li>
  </ul>
  <input class="lr-btn" id="btnstepSave" type="button">
</div>
</div>
</div>

<div class="lr-list-tit t1">
    <img src="{$static_host}/assets/home/special/lanren/images/m1.png" width="1200" height="275">
    <dl class=" tuij-logo">
        <dt>诚信认证公司</dt>
        <dd><a href="http://hf.{:C('QZ_YUMING')}/company_home/87397" target="_blank"><img src="http://{:C('QINIU_DOMAIN')}/logoadv/20150503/FugAtPYZspaFQ5qs6KbLVZ6pRAQf" width="126" height="63"></a></dd>
        <dd><a href="http://wuhu.{:C('QZ_YUMING')}/company_home/81085" target="_blank"><img src="http://{:C('QINIU_DOMAIN')}/logoadv/2015/03/25/14/15/41/FtXzzVD1LE0t__k9lexf555iptOi" width="126" height="63"></a></dd>
        <dd><a href="http://hf.{:C('QZ_YUMING')}/company_home/71375" target="_blank"><img src="http://{:C('QINIU_DOMAIN')}/logoadv/20150805/Fsg-BUFD7Ehot0bpl_XRYaqUzE5Q" width="126" height="63"></a></dd>
        <dd><a href="http://xm.{:C('QZ_YUMING')}/company_home/67538" target="_blank"><img src="http://{:C('QINIU_DOMAIN')}/logoadv/2014/12/FhMuDLqWvrBorWK2ZAEFu_P-ZjQX" width="126" height="63"></a></dd>
        <dd><a href="http://jiangm.{:C('QZ_YUMING')}/company_home/27086" target="_blank"><img src="http://{:C('STATIC_HOST1')}/upload/logo/51f8a7844cbf1.jpg" width="126" height="63"></a></dd>
        <dd><a href="http://www.{:C('QZ_YUMING')}/company/" target="_blank">更多认证公司>></a></dd>
    </dl>
</div>


<div class="lr-list-tit t2"><img src="{$static_host}/assets/home/special/lanren/images/m2.png" width="1200" height="275">
<dl class="lr-xc">
    <dt>现场直击</dt>
    <volist name="diary" id="v">
    <dd>
    <h3><a href="http://{:C('QZ_YUMINGWWW')}/riji/d{$v.id}.html" title="{$v.title}" target="_blank">{$v.title|mbstr=0,16}</a></h3>
    <div class="xc-img">
        <volist name="v.imgList" id="vo">
        <a href="http://{:C('QZ_YUMINGWWW')}/riji/d{$v.id}.html" target="_blank"><img src="http://{:C('QINIU_DOMAIN')}/{$vo.img_path}" width="300" height="400" alt="{$v.title}"></a>
        </volist>
    </div>
    <div class="lr-user"><span><img src="{$v.logo}" width="100" height="100"></span>{$v.name}</div>
    </dd>
    </volist>
</dl>
</div>

<div class="lr-list-tit t3"><img src="{$static_host}/assets/home/special/lanren/images/m3.png" width="1200" height="275">
<div class="yijian"><a href="http://{:C('QZ_YUMINGWWW')}/zxbj" target="_blank"><img src="{$static_host}/assets/home/special/lanren/images/yijian.png" width="230" height="110"></a></div>

</div>
<div class="lr-list-tit t4"><img src="{$static_host}/assets/home/special/lanren/images/m4.jpg" width="1200" height="275">
<div class="lr-tel">全国统一咨询热线：{:OP('QZ_CONTACT_TEL400')}</div>
</div>
<input id="safecode" type="hidden" value="{$safecode}" />
<input id="safekey" type="hidden" value="{$safekey}" />
<script type="text/javascript">
	var shen = null,shi = null;
	shen = citys["shen"];
	shi = citys["shi"];

    //请先定义citys对象
    App.citys.init("#fb-cs","#fb-qy",shen,shi,"{$cityid}");



    $("#btnstepSave").click(function(event){
        $(".input-error").html("");
        $(".focus").removeClass("focus");
        var _this = $(this);
        if(!App.validate.run($(".fadan input[name=name]").val())){
            $(".fadan input[name=name]").focus();
            $.pt({
                target: $(".fadan input[name=name]"),
                content: '请填写您的称呼',
                width: 'auto'
            });
            return false;
        }

        if(!App.validate.run($(".fadan input[name=tel]").val())){
            $(".fadan input[name=tel]").focus();
            $.pt({
                target: $(".fadan input[name=tel]"),
                content: '请填写您的电话',
                width: 'auto'
            });
            return false;
        }

        if(!App.validate.run($(".fadan input[name=tel]").val(),"moblie")){
            $(".fadan input[name=tel]").focus();
            $.pt({
                target: $(".fadan input[name=tel]"),
                content: '无效的电话',
                width: 'auto'
            });
            return false;
        }

        if(!App.validate.run($(".fadan select[name=cs]").val())){
            $(".fadan select[name=cs]").focus();
            $.pt({
                target: $(".fadan select[name=cs]"),
                content: '请选择您的所在城市',
                width: 'auto'
            });
            return false;
        }

        if(!App.validate.run($(".fadan select[name=qy]").val())){
            $(".fadan select[name=qy]").focus();
            $.pt({
                target: $(".fadan select[name=qy]"),
                content: '请选择您的所在区域',
                width: 'auto'
            });
            return false;
        }

        window.order({
            extra:{
                tel: $(".fadan input[name=tel]").val(),
                name: $(".fadan input[name=name]").val(),
                cs: $(".fadan select[name=cs]").val(),
                qx: $(".fadan select[name=qy]").val(),
                source: '401',
                safecode:$("#safecode").val(),
                safekey: $("#safekey").val(),
                ssid:"{$ssid}",
                step:2
            },
            error:function(){
                $.pt({
                    target: _this,
                    content: '发布失败,请刷新页面！',
                    width: 'auto'
                });
            },
            success:function(data, status, xhr){
                $("#safecode").val(data.data.safecode);
                $("#safekey").val(data.data.safekey);
                if (data.status == 1) {
                    $("body").append(data.data.tmp);
                } else {
                    $.pt({
                        target: _this,
                        content: data.info,
                        width: 'auto'
                    });
                }
            },
            validate:function(item, value, method, info){
                return true;
            }
        });
    });
</script>
<include file="Index:footer" />
</body>
</html>
