<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>齐装网福利！分享集赞瓜分200G流量</title>
    <meta name="keywords" content="2018装修季，享三重装修好礼，优惠不容错过。" />
    <meta name="description" content="2018装修季，报名赢取三重好礼。装修建材家具家电折扣，全新优惠，精彩不容错过。" />
    <link rel="canonical" href="http://{:C('MOBILE_DONAMES')}/activity/zxj"/>
	<include file="Index:resource" />
	<link rel="stylesheet" href="/assets/home/special/decmonth/css/decmonth.css?v={:C('STATIC_VERSION')}">
	<script src="/assets/home/guoqing/js/jquery.kxbdMarquee.js?v={:C('STATIC_VERSION')}"></script>
</head>
<body>
    <include file="Index:header"/>
    <div class="toptuban">
    </div>
    <div class="toptuban02">

    </div>
    <div class="beijing">
    	<div class="middtup01">
    		<div id="gundongzj">
    		 <div class="tit">
    		 	<span>昵称</span>
    		 	<span>手机号</span>
    		 	<span>奖品</span>
    		 </div>
    		    <div id="marquee">
    		    	<ul>
    				<li>
    					<span>迷路的男人</span>
    					<span>138****5886</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>笨小孩</span>
    					<span>183****7744</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>凭栏、浅忆君</span>
    					<span>187****5692</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>缘啶⒈玍</span>
    					<span>182****9757</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>练习忘记你</span>
    					<span>186****0586</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>一米阳光</span>
    					<span>133****0917</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>夏至流年</span>
    					<span>136****1397</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>八月未央。</span>
    					<span>183****2755</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>°缘起缘灭</span>
    					<span>132****9302</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>轻舞飞扬</span>
    					<span>135****1882</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>－情绪作怪。</span>
    					<span>181****4009</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>一海千寻</span>
    					<span>158****4374</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>小思念</span>
    					<span>182****3246</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>一个人走</span>
    					<span>181****9862</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>Me、萌兔兔</span>
    					<span>137****8090</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>ぺ灬cc草莓ル</span>
    					<span>132****4671</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>踮起脚〆亲迩</span>
    					<span>181****5642</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>莫负韶华</span>
    					<span>134****6200</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>撑一把纸伞</span>
    					<span>137****5997</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>莫韶华</span>
    					<span>134****6200</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>优雅的叶子</span>
    					<span>186****2835</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>假装不帅</span>
    					<span>152****1919</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>帥气初然</span>
    					<span>185****7954</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>纵横家</span>
    					<span>136****1461</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>若有心</span>
    					<span>159****6337</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>好久不见</span>
    					<span>138****7848</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>╰伱'卟配</span>
    					<span>134****6200</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>笑忘初</span>
    					<span>133****8505</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>有點壞</span>
    					<span>135****0887</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>薄荷糖</span>
    					<span>134****1951</span>
    					<span>200M全国通用流量</span>
    				</li>
    				<li>
    					<span>陌上花</span>
    					<span>138****6934</span>
    					<span>200M全国通用流量</span>
    				</li>




    			</ul>
    		    </div>

    		</div>
    	</div>
    	<div class="middtup02">
    		<span class="yuyueniu"></span>
    		<ul class="jiangxiang">
    			<li>★价值1万元的4份精品设计方案</li>
    			<li>★建材满3万减3000</li>
    			<li>★家具满3万减3000</li>
    			<li>★家电满2万减2000</li>
    			<li>★2000元增值礼包</li>
    		</ul>
    	</div>
    	<div class="middtup03">
    	   <div class="weizimskz">
    	   	  <p class="titlebt">1、活动时间</p>
    	   	  <p>2017.12.26-2017.12.29</p>
    	   	  <p class="titlebt">2、活动对象</p>
    	   	  <p>所有用户</p>
    	   	  <p class="titlebt">3、活动好礼</p>
    	   	  <p> 流量：提交微信朋友圈点赞截图至官方微信公众号“府院装修”，提交形式：截图+手机号，提交时间为2017.12.26-12.29，按照截图提交时间的先后顺序，取每日前200名。幸运用<br>户赠送200M全国通用流量，中奖名单请关注活动页面<br>
     预约上门量房即可获得三重好礼：一重礼——2万元装修大礼包；二重礼——健康礼包（甲醛检测仪+竹炭包）；三重礼——精品装修课程<br>领取方式：关注公众号“府院装修”，回复框输入“礼包”获得一重礼和三重礼；二重礼在2017年1月15日统一发放</p>
               <p class="titlebt">4、在法律允许的范围内，齐装网有解释权</p>
               <p class="titlebt">5、如有疑问，可致电齐装网客服4008-659-600</p>
    	   </div>

    	</div>
    </div>
    <div class="footfix">
    	<div class="footmid">
    		<img class="tuoplib" src="//{:C('QINIU_DOMAIN')}/pc/assets/home/special/decmonth/img/lipin.png">
    		<div class="wenzims">
    			<span>预约报名</span>
    			<div>即可锁定<span>三重好礼</span></div>
    		</div>
    		<span class="cityxz">
    				<select class="freesj_cs1" name="freesj_cs1"></select>
    			</span>
    			<span class="inputwaik">
    				<input name="name1" type="text" placeholder="请输入您的称呼">
    			</span>
    			<span class="inputwaik">
    				<input name="telPhone1" type="text" placeholder="输入手机号立即锁定三重好礼" maxlength="11">
    			</span>
    			<span class="lijicanyu">立即参与</span>
    	</div>
    </div>

    <div class="yinying"></div>
    <div class="fadan01">
    <i class="fa fa-close" aria-hidden="true"></i>
    	<div class="title">提交装修需求,领三重好礼</div>
    	<div class="titlefu">今日已有<span>3692</span>位业主获取</div>
    	<div class="formbd">
    		<div class="citybd">
    			<span class="chengshi">所在城市：</span>
				<select class="freesj_cs" name="freesj_cs"></select>
				<select class="freesj_qy" name="freesj_qy"></select>
    		</div>
    		<div class="putbdkz">
    			<span class="chengshi">您的称呼：</span>
    			<input name="name" type="text" placeholder="怎么称呼您">
    		</div>
    		<div class="putbdkz">
    			<span class="chengshi">手机号码：</span>
    			<input name="telPhone" type="text" placeholder="输入手机号立即领取健康礼包" maxlength="11">
    		</div>
    		<div class="tishicw show_error"></div>
    		<button class="anniulq">立即领取</button>
    	</div>
    </div>
    <div class="fadan02">
        <i class="fa fa-close" aria-hidden="true"></i>
    	<div class="title02">完善地址以便收获</div>
    	<div class="dizhi">
    		<input name="address" type="text" placeholder="请输入收件地址，以便签收">
    	</div>
    	<div class="jieting">稍后会有工作人员与您联系，请注意接听来电哦！</div>
    	 <div class="dizhitj">
    	 	<button class="success-btn">立即领取</button>
    	 </div>
    	<div class="title03">还没结束呢！98%的业主还享受了</div>
    	<div class="bjtuperwm"></div>
    </div>
	<input type="hidden" name="source" data-id="17122338" />
	<input type="hidden" name="order_id" />
	<include file="Index:footer" />
	<script>
		var error_lication = 1;//报错位置
        var shen = null,shi = null;
        shen = citys["shen"];
        shi = citys["shi"];
        App.citys.init(".freesj_cs",".freesj_qy",shen,shi,320500);
        App.citys.init(".freesj_cs1",".freesj_qy1",shen,shi,320500);
		$(function(){

           $("#marquee").kxbdMarquee({direction:"up",isEqual:false,scrollDelay:60,loop:0,});

            $('.beijing .middtup02 .yuyueniu').click(function(){
            	$('.yinying').show();
				$('.fadan01').show();
            });
			var data = {};
             $('.fadan01 .formbd .anniulq').click(function(){
                data.cs = $(".freesj_cs").val();
                data.qy = $(".freesj_qy").val();
                data.name = $("input[name=name]").val();
                data.tel = $("input[name=telPhone]").val();
                saveOrders(data);
            });

             $('.lijicanyu').click(function () {
                 error_lication = 2;
                 data.cs = $(".freesj_cs1").val();
                 data.name = $("input[name=name1]").val();
                 data.tel = $("input[name=telPhone1]").val();
                 saveOrders(data);
             });

			$('.fadan01 .fa-close').click(function(){
				$('.yinying').hide();
				$('.fadan01').hide();
			})

			$('.fadan02 .fa-close').click(function(){
				$('.yinying').hide();
				$('.fadan02').hide();
			})

		})
        function saveOrders(data) {
            if (!App.validate.run(data.cs)) {
                if(error_lication == 1){
					$(".show_error").html("请选择您所在的城市 ≧▽≦");
                    return false;
				}
                alert("请选择您所在的城市 ≧▽≦");
                return false;
            }
            if (!App.validate.run(data.name)) {
                if(error_lication == 1){
                    $("input[name=name]").focus();
                    $("input[name=name1]").focus();
                    $(".show_error").html("请填写您的称呼");
                    return false;
                }
                alert("请填写您的称呼");
                return false;
            }else {
                var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                if (!reg.test(data.name)) {
                    $("input[name=name]").focus();
                    $("input[name=name1]").focus();
                    if(error_lication == 1){
                        $(".show_error").html("请输入正确的名称，只支持中文和英文");
                        return false;
                    }
                    alert("请输入正确的名称，只支持中文和英文");
                    return false;
                }
            }
            if (!App.validate.run(data.tel)) {
                if(error_lication == 1){
                    $(".show_error").html("请填写您的手机号");
                    return false;
                }
                alert("请填写您的手机号");
                return false;
            }else {
                var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                if(!reg.test(data.tel)){
                    $("input[name=tel]").focus();
                    $("input[name=tel1]").focus();
                    $("input[name=tel]").val('');
                    $("input[name=tel1]").val('');
                    if(error_lication == 1){
                        $(".show_error").html("请填写正确的手机号码 ^_^!");
                        return false;
                    }
                    alert("请填写正确的手机号码 ^_^!");
                    return false;
                }
            }
            //发单位置标识
            data.source = $("input[name=source]").attr('data-id')
            //区分返回值
            data.step = 'activity-11yue';
            //提交
            window.order({
                extra: data,
                error: function () {
                    alert("发生了未知的错误,请稍后再试！");
                },
                success: function (data, status, xhr) {
                    if (data.status != 1) {
                        alert(data.info);
                        window.location.href = window.location.href;
                        return
                    }else {
                        $("input[name=order_id]").val(data.data.order_id);
                        $('.fadan01').hide();
                        $('.yinying').show();
                        $('.fadan02').show();
					}
                },
                validate: function (item, value, method, info) {
                    return true;
                }
            });
        }
        // 提交成功
        $(".success-btn").on('click',function(event){
            event.preventDefault();
            var address = $("input[name=address]").val();
            if(!address){
                alert('请输入收件地址，以便签收');
                return;
            }
            var data = {
                order_id:$("input[name=order_id]").val(),
                source: $("input[name=source]").attr('data-id'),
                address: address,
            }
            $.ajax({
                url: '/activity/zxj/',
                type: 'POST',
                dataType: 'JSON',
                data:data
            })
                .done(function(data) {
                    if(data.status == 0){
                        alert(data.info);
                    }
                    window.location.href = window.location.href;
                });
        });
	</script>
</body>
</html>