<extend name="Index:basic"/>
<block name="meta">
<title>{$keys.title}-齐装网</title>
<meta name="keywords" content="{$keys.keywords}">
<meta name="description" content="{$keys.description}">
<if condition="$keyword != ''">
    <meta name="robots" content="noindex,follow"/>
</if>
</block>
<block name="style">
<link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zxgl-home.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zxgl-articletopic_p2111.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
<div class="wrap clearfix">
    <div class="bread">
        <a href="http://{:C('QZ_YUMINGWWW')}/gonglue/">装修攻略</a>&nbsp;&gt;&nbsp;搜素结果页
    </div>
    <div class="fg-l">
        {$orderTmp}
        <div class="cp-box">
        <a rel="nofollow" href="http://{:C('QZ_YUMINGWWW')}/tools/qz/" target="_blank">
        <img src="/assets/home/zixun/img/zxjs.jpg" width="260" height="160" /></a>
        </div>
        <notempty name="info.hotarticles">
            <div class="hotarticles">
                <span class="hotarticles_tle">热门文章</span>
                <ul>
                    <volist name="info.hotarticles" id="vo">
                        <li>
                            <!-- <i class="icon_point"></i> -->
                            <a href="http://{:C('QZ_YUMINGWWW')}/gonglue/{$vo.shortname}/{$vo.id}.html" title="{$vo.title}" target="_blank">{$vo.title}</a>
                        </li>
                    </volist>
                </ul>
            </div>
        </notempty>
    </div>
    <div id="tab"  class="fg-r">
        <!--<div  class="fg-r-top">
            <div class="topic tab-nav j-tab-nav no-border">
                <a rel="nofollow" class="current" href="javascript:;">时间</a>
            </div>
        </div>-->
        <div class="tab-con fg-main">
            <div class="j-tab-con">
                <div class="tab-con-item" style="display:block;">

                    <if condition="$resultFlag EQ 1">
                        <!--搜索有结果页-->
                        <div class="jiegouye">
                            <volist name="listInfo.articles" id="vo" key="k">
                                <div class="fg-main-item clearfix">
                                    <div class="item-img">
                                        <if condition="$vo.istop EQ 1">
                                            <div class="tuijian">推荐</div><!-- 推荐注释 -->
                                        </if>
                                        <a target="_blank" href="http://{:C('QZ_YUMINGWWW')}/gonglue/{$vo['shortname']}/{$vo['id']}.html" rel="nofollow">
                                            <img alt="{$vo['title']}" src="http://{:C('QINIU_DOMAIN')}/{$vo['face']}-w240.jpg" >
                                        </a>
                                    </div>
                                    <div class="item-con">
                                        <p class="h1"><a href="http://{:C('QZ_YUMINGWWW')}/gonglue/{$vo['shortname']}/{$vo['id']}.html" target="_blank">{$vo['title']}</a></p>
                                        <p>{$vo['subtitle']|mbstr=0,120}<a rel="nofollow" href="http://{:C('QZ_YUMINGWWW')}/gonglue/{$vo['shortname']}/{$vo['id']}.html" target="_blank">[详情]</a></p>
                                        <div class="item-bottom">
                                            <ul>
                                                <li ><i class="fa fa-eye"></i>{$vo['pv']|default="0"}</li>
                                                <li class="item-time">{$vo['addtime']|date="Y-m-d H:i:s",###}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <if condition="$k EQ 3">
                                    <div class="fg-ad">
                                        <a rel="nofollow" href="/zhaobiao/" target="_blank"><img src="/assets/home/zixun/img/fg-ad.jpg"></a>
                                    </div>
                                    <elseif condition="$k EQ 6"/>
                                    <div class="fg-ad">
                                        <a rel="nofollow" href="/zhaobiao/" target="_blank"><img src="/assets/home/zixun/img/fg-ad1.jpg"/></a>
                                    </div>
                                </if>
                            </volist>
                        </div>
                        <!--分页-->
                        <div class="content pageContent">
                            {$listInfo.page}
                        </div>
                    <else />
                        <!--搜索无结果页-->
                        <div class="nothing">
                            <div class="nosearch">
                                <div class="resultbj">
                                    <img src="/assets/home/zixun/img/nosearchbj.png" alt="">
                                </div>
                                <div class="noresultms01">抱歉，没有搜到“装修地砖”相关装修知识</div>
                                <div class="noresultms02">下方为您推荐供参考~</div>
                            </div>

                            <div class="hotrecommend">热门推荐</div>
                            
                                <volist name="newRecommendArticles" id="vo">
                                  <div class="fg-main-item clearfix">
                                    <div class="item-img">
                                        <a target="_blank" href="/gonglue/{$vo.shortname}/{$vo.id}.html" rel="nofollow"> <img alt="装修公司的四大猫腻 你是否也被坑过?" src="http://staticqn.qizuang.com/{$vo.face}-w240.jpg" /> </a>
                                    </div>
                                    <div class="item-con">
                                        <p class="h1"><a href="/gonglue/{$vo.shortname}/{$vo.id}.html" target="_blank">{$vo.title}</a></p>
                                        <p>{$vo.content}<a rel="nofollow" href="/gonglue/{$vo.shortname}/{$vo.id}.html" target="_blank">[详情]</a></p>
                                        <div class="item-bottom">
                                            <ul>
                                                <li><i class="fa fa-eye"></i>{$vo.pv}</li>
                                                <li class="item-time">{$vo.addtime}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                    <if condition="$key EQ 1">
                                        <div class="fg-ad">
                                            <a rel="nofollow" href="/zhaobiao/" target="_blank"><img src="/assets/home/zixun/img/fg-ad.jpg" /></a>
                                        </div>

                                    </if>

                                </volist>
                            
                        </div>
                    </if>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Common@Friendlink/index"/>
</block>
<block name="script">
<script type="text/javascript" src="/assets/home/zixun/js/zxgl-slider.js?v={:C('STATIC_VERSION')}"></script>
<notempty name="keyword">
    <script type="text/javascript">
        $(function(){
            var keyword = '{$keyword}';
            $(".item-con .h1 a").html(function() {
                return $(this).text().replace(keyword,'<font style="color:#DE4348;">' + keyword + "</font>");
            });

            $('.noresultms01').text('抱歉，没有搜到“'+keyword+'”相关装修知识')
        });
    </script>
</notempty>
</block>
