.scope{min-width:320px; max-width:960px;}

/*  400 以下   400  -  480 一档  480 以上的是一档
@media screen and (max-width:399px)
{
	html{
		font-size: 15px;
	}
}
@media (min-width: 400px) and (max-width: 480px)
{
	html{
		font-size: 20px;
	}
}
@media screen and (min-width: 481px)
{
	html{
		font-size: 25px;
	}
} */

.box-width-css{
	width: 100%;
/*	overflow: hidden;*/
}
.mg-auto{margin:0 auto;}
.mar-t10{margin-top: 0.05rem;}
.mar-t20{margin-top: 0.1rem;}
.mar-b20{margin-bottom: 0.1rem;}
.mar-r10{margin-right:0.05rem;}
.mar-b10{margin-bottom: 0.05rem;}
.fl-l{float:left;}
.fl-r{float:right;}
.poa{position: absolute;}
.por{position: relative;}
.hot{color:#ef5858;}

/* 分站header部分 */
header{
	height: 0.45rem;
	line-height: 0.4rem;
	background-color: #384157;
	color:#fff;
	text-align: center;
	position: absolute;
	left: 0;
	top:0;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	z-index:88;
	font-size: 0.12rem;
}

header .back{
	width: 0.525rem;
	height: 0.25rem;
	float:left;
	text-align: center;
	padding-top:0.15rem;
	position: relative;
	color: #FFF;
}
header .back:before{
	content:"";
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	top:0.04rem;
	width: 0.18rem;
	height: 0.175rem;
	background: url(/assets/mobile/index/img/back.png) no-repeat;
	-webkit-background-size: 0.18rem 0.175rem;
	background-size: 0.18rem 0.175rem;
}
header .back span{
	font-size: 0.09rem;
	line-height: 0.09rem;

}
header>span{
	font-size: 0.12rem;
	margin-left:-0.4rem
}
header .hd-nav{
	width: 0.525rem;
	height: 0.25rem;
	float:right;
	text-align: center;
	padding-top:0.15rem;
	font-size: 0;
	position: relative;
}
header p{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size:0.12rem;
	margin-left: 0.15rem;
	position: absolute;
	left: 0;
	top:0;
}
header .location-wrap{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size:0.12rem;
	overflow: hidden;
	display:block;
	margin:0 auto;
	width: 0.5rem;
}
header .location-wrap span{
	color:#fff;
	float:left;
	height: 0.4rem;
	line-height: 0.4rem;

}
header .location-wrap .icon-arr{
	float:left;
	border-top: 0.03rem solid #fff;
	border-left:0.03rem dashed transparent;
	border-right:0.03rem dashed transparent;
	margin-top: 0.19rem;
	margin-left: 0.03rem;
}
header .hd-nav{
	width: 0.525rem;
	height: 0.25rem;
	position: absolute;
	right:0;
	top:0;
	text-align: center;
	padding-top:0.15rem;
	font-size: 62.5%;
}
header nav.active{
	background-color: #262d3e;
}
header .hd-nav:before{
	content:"";
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	top:0.04rem;
	width: 0.19rem;
	height: 0.19rem;
	background: url(/assets/mobile/index/img/nav.png) no-repeat;
	-webkit-background-size: 0.19rem 0.19rem;
	background-size: 0.19rem 0.19rem;
}
header .hd-nav span{
	font-size: 0.09rem;
	line-height: 0.09rem;
}
header .hd-nav ul.subnav{
	position: absolute;
	top:0.4rem;
	right:0;
	z-index:9999;
	width: 1.5rem;
	height: 2.4rem;
	font-size:0.12rem;
	display:none;
}
header .hd-nav .subnav li{
	height: 0.395rem;
	line-height: 0.395rem;
	border-bottom: 1px solid #fff;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}
header .hd-nav .subnav li:last-child{
	border:0;
}
header .hd-nav .subnav li a{
	color:#fff;
	line-height: 0.395rem;
}
.banxin{
	width: 2.88rem;
	margin:0 auto;
}
.title{
	height: 0.2rem;
	line-height: 0.2rem;
	border-left:0.025rem solid #ef5858;
	padding-left: 0.075rem;
	font-size: 0.12rem;
	color: #3c3c3c;
	font-weight: normal;
}

.page{ font-size:0.15rem; height:0.3rem; line-height:0.3rem; text-align:center}
.page a{ width:1.1rem; display: inline-block; float:left;}
.page span{ width:0.5rem;float:left; color:#aaa; display:inline-block}


.white-box{ background:#fff;font-size:0.2rem; }


/* 快速申请部分 */
.fastapply{
	height: 212px;
	height: 1.81rem;
	background-color: #fff;
}
.fastapply .content{
	padding:0.1rem 0.1rem 0;
	font-size: 0.1rem;
	height: 1.61rem;
}
.fastapply .content input{
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	border:1px solid #aaa;
	box-sizing: border-box;
	font-size: 0.16rem;
	color:#333;
	padding-left: 0.1rem;
	font-family: Microsoft YaHei;
	margin-bottom: 0.1rem;
}
.fastapply .content button{
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	box-sizing: border-box;
	background-color:#ef5858;
	color:#fff;
	text-align: center;
	font-size: 0.15rem;
	font-family: Microsoft YaHei;
	outline: none;
}
/* 尾部 */
footer{
	height: 0.88rem;
	text-align: center;
	color:#3c3c3c;
	font-size: 0.09rem;
	padding-top:0.1rem;
}
footer p:first-child{
	font-size: 0.12rem;
	line-height: 0.325rem;
}
footer p a.hot:hover{color:#ef5858;}

.padd{ padding:0.1rem; overflow:hidden}

.scrollLoading{background: url(/assets/common/pic/bglording.gif)  center center no-repeat; background-size:100% 100%; width: 100%; vertical-align: top;
height: 100%;}

.gl-tit{ padding:0.05rem; overflow:hidden; border-left:0.02rem solid #f05151}
.gl-tit h1{ font-size:0.12rem;}
.gl-tit span{ font-size:0.1rem; color:#aaa; margin-right:0.05rem}

.more{ padding:0.1rem; font-size:0.12rem; text-align:center; display:block}

.mfzx1{ background:rgba(0,175,255,.2); width:0.5rem;height:0.5rem; padding:0.1rem; position:fixed; left:0.05rem; bottom:0.05rem; border-radius:50%}
.mfzx1 a{ display:block; width:0.3rem; height:0.3rem;border-radius:50%; background:rgba(0,175,255,.4); color:#fff; font-size:0.12rem ; padding:0.1rem; line-height:0.15rem; text-align:center; text-shadow:1px 1px 0 background:rgba(0,175,255,.6); }

.fzf{ text-align:center; padding:0.1rem; font-size:0.15rem; }
.fzf h1{ font-size:0.5rem;text-shadow:1px 1px 0 #d92c2c; color:#eb4242}
.fzf a{ display:block; width:1.5rem; margin:0 auto; height:0.2rem; line-height:0.2rem; background:#eb5a5a; color:#fff; font-size:0.1rem; margin-top:0.1rem; border-radius:2rem}

.tooltips{position: absolute; width: auto; height: 30px;  font-size: 18px; font-family: Microsoft YaHei; color: #fff;   line-height: 30px;}
.tooltips-in{position: relative; width: 100%; height: 100%; border-radius: 4px; background:rgba(0,0,0,.7);padding:5px  15px; text-align: center; border-color: rgba(0,0,0,.8) }
.tooltips-in em{position: absolute; bottom: -20px; width: 0; height: 0; border-width: 10px; border-color: rgba(0,0,0,.7) transparent transparent; border-style: solid dashed dashed; left:15px; }
.tooltips-in em.arrar_bg{border-color:rgba(0,0,0,.1) transparent  transparent;bottom: -21px;}