/*
* @Author: Administrator
* @Date:   2015-04-21 09:46:19
* @Last Modified by:   Administrator
* @Last Modified time: 2015-04-21 13:37:27
*/
body{
	padding-top:0.4rem;
	background-color: #f1f1f1;
}
header p{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size:0.12rem;
	margin-left: 0.15rem;
	position: static;
	float:left;
}
.hd-phone{
	float: left;
	font-size: 0.09rem;
	margin-left: 0.165rem;
	overflow: hidden;
	line-height: 0.4rem;
}
.hd-phone .icon-hd-phone{
	float: left;
	width: 0.15rem;
	height: 0.115rem;
	background: url(/assets/mobile/index/img/phone.gif) no-repeat;
	-webkit-background-size: 0.15rem 0.115rem;
	background-size: 0.15rem 0.115rem;
	margin: 0.14rem 0.04rem 0 0;
}
.sec-logo-wrap{
	height: 0.49rem;
	background-color: #fff;
}
.sec-logo-wrap h1{
	float:left;
	width: 1.2rem;
	height: 0.5rem;
	background: url(/assets/mobile/images/mlogo.jpg) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	text-indent:-9999px;
	margin:-0.04rem 0 0 0.39rem;
}
.sec-logo-wrap span{
	float:left;
	width: 0.8rem;
	height: 0.3rem;
	background: url(/assets/mobile/index/img/logo_new.gif) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	margin:0.13rem 0 0 0.27rem;
}
.location{
	height: 0.28rem;
	/*line-height: 0.4rem;*/
	text-align: center;
	font-size: 0.12rem;
	position: relative;
	padding-top: 0.12rem;
}
.location em{
	color: #EF5858;
}
.location:before{
	content:"";
	width: 0.12rem;
	height: 0.185rem;
	background: url(/assets/mobile/index/img/location.png) no-repeat;
	-webkit-background-size: 0.115rem 0.185rem;
	background-size: 0.115rem 0.185rem;
	position: absolute;
	left: 0.8rem;
	top:0.1rem;
}
.hotcity{
	/* height:1.16rem; */
	background-color: #fff;
}
.hotcity ul{
	padding:0 0.075rem;
	overflow: hidden;
}
.hotcity ul li{
	float: left;
	width: 0.91rem;
	height: 0.32rem;
	line-height: 0.32rem;
	text-align: center;
	font-size: 0.12rem;
}
.word{
	background-color: #fff;
}
.word ul{
	padding:0.05rem 0;
	overflow: hidden;
}
.word ul li{
	float: left;
	font-size: 0.12rem;
	width: 0.575rem;
	height: 0.21rem;
	line-height: 0.21rem;
	text-align: center;
}
.city-word{
	background-color: #fff;
}
.city-word ul{
	padding:0 0.075rem;
	overflow: hidden;
}
.city-word ul li{
	float:left;
	font-size: 0.12rem;
	text-align: center;
	width: 0.91rem;
	height: 0.32rem;
	line-height: 0.32rem;
}
/*装修公司列表*/

.comp-search{line-height:0.31rem; padding:0.1rem; overflow:hidden}
.comp-search input[type=text]{ border:1px solid #ccc; height:0.31rem; width:2.24rem; border-right:0; float:left; padding-left:0.1rem}
.comp-search .search-btn{ width:0.33rem; background:url(/assets/mobile/index/img/button.png); display:inline-block; height:0.33rem; background-size:100%; float: right}
.comp-search .selet{ float:left; border-right:1px solid #ccc; height:0.3rem; width:0.88rem}
.comp-search .selet:last-of-type{ border-right:0}

.comp-list{background:#fff;font-size:0.2rem; margin-top:0.1rem}
.comp-list li{ overflow:hidden; border-bottom:2px dotted #eee; padding:0.1rem}
.comp-list li:last-of-type{ border-bottom:0}
.comp-list .comp-logo{ width:0.8rem; height:auto; line-height:0.8rem; background:#FFF; float:left; margin-right:0.1rem}
.comp-list .comp-logo img{font-size: 0.3em; width:100%; height:auto; vertical-align:middle}
.comp-list h1{font-size:0.15rem; font-weight:100}
.comp-list span{font-size:0.1rem; color:#888}
.comp-list p a{ display:inline-block; border:2px solid #e24f4f; color:#e24f4f;font-size:0.1rem; line-height:0.2rem; padding:0 0.1rem; margin-right:0.1rem}

.anli-info{ padding:0.1rem; line-height:0.2rem; overflow:hidden}
.anli-info dt{ font-size:0.15rem; height:0.3rem}
.anli-info dd{ float:left; width:1.2rem; font-size:0.1rem; margin-right:0.1rem}

.img-list{ padding:0.1rem; margin-top:0.1rem}
.img-list li img{ width:100%; height:auto; margin-top:0.1rem}

.wenz-text{padding:0.1rem; font-size:0.1rem; line-height:0.15rem }
.wenz-text h1{ font-size:0.15rem; line-height:0.3rem; text-align:center}
.wenz-text span{ font-size:0.1rem; color:#888; display:block; text-align:right; margin-bottom:0.05rem}
.wenz-text img{ width:100%; margin:0.1rem 0}

.tj-list{ line-height:0.2rem; font-size:0.1rem; padding:0.1rem}
.userhead{ overflow:hidden; width:0.5rem; height:0.5rem; border-radius:5rem;text-align:center; float:left; margin-right:0.1rem;}
.userhead img{ width:100%; height:100%; display:block}
.team-name{ float:left; line-height:0.2rem; font-size:0.15rem; margin-top:0.15rem}
.team-name span{ display:inline-block; margin-left:0.05rem; color:#ff7f02}

.designer-info{ font-size:0.1rem; padding:0.1rem; line-height:0.18rem}
.designer-info span{ width:0.6rem; display: inline-block; color:#888}
.designer-img{padding:0.1rem; }
.designer-img li{ margin-bottom:0.1rem}
.designer-img h1{ font-size:0.15rem; line-height:0.2rem}
.designer-img span{ font-size:0.1rem; color:#888; line-height:0.15rem}

.step-list{ padding:0.1rem;; font-size:0.12rem; line-height:0.3rem; overflow:hidden}
.step-list li{ padding-left:0.2rem; float:left; width:1.1rem; background:url(/assets/mobile/zixun/img/icon.png) left center no-repeat; background-size:0.11rem}


.wenz-list{ padding:0.1rem; line-height:0.15rem}
.wenz-list h1{ font-size:0.12rem; height:0.15rem; overflow:hidden; margin-bottom:0.05rem; font-weight:100}
.wenz-list li { overflow:hidden; border-bottom:1px dotted #f1f1f1; padding:0.1rem 0}
.wenz-list li img{ float:left; width:0.8rem; height:0.65rem; display:block; margin-right:0.1rem}
/* .wenz-list p{ font-size:0.1rem; color:#888; height:0.45rem; overflow:hidden} */
.wenz-list li:last-of-type{ padding-bottom:0; border-bottom:0}



.big-img{ position:relative; padding:0.1rem;}
.big-img img{ width:100%; height:auto}
.big-img span{ display:block; position:absolute; bottom:0.1rem; left:0.1rem; background: rgba(0,0,0,.8); height:0.2rem; line-height:0.2rem; font-size:0.12rem; color:#fff; padding:0 0.1rem; text-align:center; width:2.48rem}

.x-l{ font-size: 0.12rem;}
.wenz-list p{display:block; font-size:0.12rem; height:0.15rem; overflow:hidden; margin-bottom:0.05rem; font-weight:100}
.wenz-list span{display:block; font-size:0.1rem; color:#888; height:0.45rem; overflow:hidden}
.article-sub{min-height: 22px;}

/*S-在线客服挂件*/
#zxkf {
    position: fixed;
    width: 50px;
    bottom: 125px;
    right: 10px;
}
#zxkf img{
    width: 100%;
}
/*E-在线客服挂件*/