body{background: #f5f5f5 !important;display: none;visibility: hidden;}
/*轮播*/
.swiper-container {width: 100%;height: 2.93rem;}
.swiper-container .swiper-slide img{width: 100%;height: 2.93rem;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px!important;
}
/*老的头部与底部修改*/
header .m-header-left,header .m-header-his, header .m-header-right{
	font-size: 28px;
	line-height: 50px;
}
header .m-header-city {
    right: 4.15rem;
    position: absolute;
    font-size: 0.28rem;
    top: 0;
}
.m-bj-edit{
	width: 7.1rem;
	margin: 0 auto;
	margin-top: .15rem;
}
.m-bj-edit li {
	width: 7.1rem;
	height: .88rem;
	margin-bottom: .2rem;
	border: 1px solid #dedee0;
}
.m-bj-edit li .m-bj-edit-list {
	width: 7.1rem;
	height: .6rem;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding:0;
	padding-left: 0.2rem;
	margin-top: 0.14rem;
	border: 0;
	font-size: .3rem;
	outline: none;
	line-height: 0.6rem;
}
.m-bj-edit li .m-row-int1 {
	position: relative;
}
.m-bj-city {
    padding-left: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    height: .88rem;
    text-align: left;
    font-size: .3rem;
    background: #fff;
    color: #a9a9a9;
	display: block;
	border: 0;
}
.m-bj-btn {
	width: 7.1rem;
    height: .88rem;
    margin: 0 auto;
    color: #fff;
    line-height: .88rem;
    text-align: center;
    font-size: .34rem;
    background: #ff5659;
    display: block;
    letter-spacing: .04rem;
}
footer {
    text-align: center;
    width: 100%;
    background: #eee;
    padding: .5rem 0;
    font-size: 0.6em;
    line-height: .5rem;
    padding-bottom: 1.5rem;
}
footer .links {
    font-size: .36rem;
}
footer p:last-child {
    font-size: .28rem;
}
.zb-link-bottom{
	bottom:0;
	position:fixed;
	height:1.2rem;
	width:100%;
	box-sizing:border-box;
	padding-left:25%;
	background:rgba(0,0,0,.7);
	color:#fff;
	z-index: 4;
}
.zb-link-bottom .tit{
	color: #f0d190;
    margin-top: .16rem;
    font-size: .3rem;
}
.zb-link-bottom p{font-size:0.24rem}
.zb-link-bottom img{
	bottom: 0;
    height: 1.6rem;
    width: auto;
    left: .25rem;
    position: absolute;
}
.zb-link-bottom a{
	display: block;
    position: absolute;
    height: .6rem;
    color: #fff;
    border-radius: 3px;
    padding: 0 .5rem;
    background: #ff5659;
    right: .3rem;
    line-height: .6rem;
    top: 0.3rem;
    font-size: .3rem;
}
#zxkf {
    position: fixed;
    width: 1rem;
    bottom: 1.25rem;
    right: .2rem;
    z-index: 4;
}
#zxkf img{
    width: 100%;
}
.full-nav {
    font-size: .24rem;
}


/*导航*/
.nav-list{
	width: 100%;
	height: 2.08rem;
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
}
.nav-list ul{
	width: 6.86rem;
	height: 1.48rem;
	margin: 0 auto;
	margin-top: .2rem;
}
.nav-list ul li{
	width: 1.5rem;
	height: 1.48rem;
	float: left;
	font-size: .28rem;
	text-align: center;
	margin-right: .28rem;
}
.nav-list ul li:last-child{
	margin-right: 0;
}
.nav-list ul li a{
	width: 1.5rem;
	height: 1.48rem;
	display: block;
	line-height: .28rem;
}
.nav-list .navbarx-icon{
	width: 1.2rem;
	height: 1.2rem;
	display: block;
	background: url(/assets/mobile/index/img/navbarx-icon.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
	margin-bottom: .1rem;
}
.nav-list .baojia-icon{
	background-position: 0 -1.2rem;
}
.nav-list .meitu-icon{
	background-position: 0 -2.4rem;
}
.nav-list .anli-icon{
	background-position: 0 -3.6rem;
}
/*装修攻略*/
.nav-course{
	width: 100%;
	height: 2.53rem;
	background: #fff;
	margin-top: .2rem;
	margin-bottom: .2rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: .2rem;
}
.nav-course-list{
	width: 7.1rem;
	height:2.27rem;
	margin: 0 auto;
	margin-top: .13rem;
}
.nav-course-list ul li{
	width: 3.55rem;
	height: 1.13rem;
	float: left;
	box-sizing: border-box;
}
.nav-course-list ul li a{
	width: 2.65rem;
	height: .75rem;
	display: block;
	margin: 0 auto;
	margin-top: .17rem;
}
.nav-course-list ul li:first-child,.nav-course-list ul li:nth-child(3){
	border-right: 1px solid #e3e3e3;
}
.nav-course-list ul li:first-child,.nav-course-list ul li:nth-child(2){
	border-bottom: 1px solid #e3e3e3;
}
.nav-course-list ul li:nth-child(3) .nav-course-info,.nav-course-list ul li:nth-child(4) .nav-course-info{
	margin-top: .25rem;
}
.nav-course-info .nav-course-tit{font-size: .3rem;color: #333;line-height: .3rem;margin-bottom: .12rem;}
.nav-course-info .nav-course-des{font-size: .26rem;color: #999;line-height: .26rem;}
.nav-course-icon{
	width: .75rem;
	height: .75rem;
	display: block;
	margin-right: .32rem;
	float: left;
	background: url(/assets/mobile/index/img/nav-course-icon.png) no-repeat;
	background-size: 100%;
}
.nav-course-list .riji-icon{
	background-position: 0 -.75rem;
}
.nav-course-list .baike-icon{
	background-position: 0 -1.5rem;
}
.nav-course-list .gonglue-icon{
	background-position: 0 -2.25rem;
}
/*装修风格*/
.tab-style{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin: 0.2rem auto;
}
.tab-style .tab-menu{
	width: 7.1rem;
	height: .7rem;
	margin: 0 auto;
	box-sizing: border-box;
	font-size: .3rem;
}
.tab-style .tab-menu ul li{
	width: 25%;
	height: .7rem;
	line-height: .85rem;
	text-align: center;
	float: left;
	border-bottom: 1px solid #e3e3e3;
}
.tab-main{
	width: 7.1rem;
	height: auto;
	margin: 0 auto;
	margin-top: .1rem;
	overflow: hidden;
}
.tab-main ul li{
	float: left;
	display: none;
}
.tab-main .tab-big-img{
	width: 7.1rem;
	height: 3.55rem;
	margin-bottom: .2rem;
}
.tab-main .tab-big-img a{
	display: block;
}
.tab-main .tab-big-img img{
	width: 7.1rem;
	height: 3.55rem;
}
.tab-small-img{
	width: 6.8rem;
	height: 1.8rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: .3rem;
}
.tab-small-img .small-img-item{
	width: 1.4rem;
	height: 1.8rem;
	float: left;
	margin-right: .4rem;
}
.tab-small-img .small-img-item:last-child{
	margin-right: 0;
}
.tab-small-img .small-img-item a{
	width: 1.4rem;
	height: 1.8rem;
	display: block;
}
.tab-small-img .small-img-item i{
	width: 1.4rem;
	height: 1.4rem;
	display: block;
	border-radius: 50%;
	overflow: hidden;
}
.tab-small-img .small-img-item i img{
	width: 1.4rem;
	height: 1.4rem;
}
.tab-small-img .small-img-item span{
	font-size: .24rem;
	color: #333;
	text-align: center;
	display: block;
	margin-top: .12rem;
}
.tab-style .check-more{
	width: 7.1rem;
	height: .8rem;
	margin: 0 auto;
	border: 1px solid #e3e3e3;
	box-sizing: border-box;
	margin-bottom: .3rem;
}
.tab-style .check-more a{
	color: #ff565b;
	text-align: center;
	line-height: .8rem;
	font-size: .34rem;
	display: block;
}
/*装修报价*/
.home-bj{
	width: 100%;
	overflow: hidden;
	background: #fff;
	margin: .2rem auto;
}
.home-bj .home-bj-tit{
	font-size: .4rem;
	color: #333;
	text-align: center;
	margin-top: .3rem;
}
.home-bj .home-bj-tit .sheji{
	background-position: 0 -3rem;
	float: none;
	display: inline-block;
	margin-right: 0;
}
.home-bj .home-bj-tit .sheji::before{
	content: "4";
	font-size: .6rem;
	width: .75rem;
	height: .75rem;
	line-height: .75rem;
	text-align: center;
	color: #fff;
}
.home-bj .promise-info{
	width: 7.1rem;
	margin: 0 auto;
	font-size: .2rem;
	margin-top: .1rem;
	margin-bottom: .3rem;
}
.home-bj .promise-info i{
	font-size: .3rem;
}
.home-bj .promise-info i,.home-bj .promise-info span{
	color: #ff5659;
}
/*装修讲堂*/
.home-jt,.home-wenda,.home-sjs{
	width: 100%;
	height: auto;
	background: #fff;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: .2rem;
}
.home-jt-box,.home-wenda-box,.home-sjs-box{
	width: 7.1rem;
	height: auto;
	margin: 0 auto;
}
.home-jt-tit,.home-wendan-tit,.home-sjs-tit{
	color: #333;
	margin-top: .3rem;
	margin-bottom: .2rem;
	overflow: hidden;
}
.home-jt-tit a:first-child , .home-wendan-tit a:first-child, .home-sjs-tit a{font-size: .34rem;float: left;}

.home-jt-tit a:last-child ,.home-wendan-tit a:last-child{font-size: .26rem;float: right;margin-top: .03rem;}
.home-jt-img{
	width: 7.1rem;
	height: 3.55rem;
	position: relative;
}
.home-jt-img img{
	width:100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.home-jt-img i{
	width: 1.2rem;
	height: 1.2rem;
	display: block;
	background: url(/assets/mobile/video/img/playanniu.png) no-repeat;
	background-size: 100%;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}
.home-jt-info{
	width: 100%;
	height: .5rem;
	padding: 0 .15rem;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: .26rem;
	color: #fff;
	box-sizing: border-box;
	line-height: .5rem;
}
.home-jt-info span:first-child{
	float: left;
}
.home-jt-info span:last-child{
	float: right;
}
.home-jt-video{
	width: 7.1rem;
	height: 3.55rem;
	display: none;
}
.home-jt-video iframe{
	width: 7.1rem;
	height: 3.55rem;
}
.video-liulan{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: .1rem;
	margin-bottom: .2rem;
}
.video-liulan span{
	float: left;
	color: #999;
	font-size: .22rem;
}
.video-liulan span i{
	font-size: .26rem;
	color: #8cd2fb;
	margin-right: -.06rem;
}
/*装修问答*/
.home-wenda-search{
	width: 7.1rem;
	height: .6rem;
	margin-bottom: .3rem;
	border: 1px solid #ededed;
	border-radius: .1rem;
	overflow: hidden;
	line-height: 0;
	position: relative;
}
.home-wenda-search::before{
	content: "";
	width: 1rem;
	height: .6rem;
	display: block;
	position: absolute;
	right: 0;
	top:0;
	background: #ff5659;
	border-top: 1px solid #ff5659;
	border-bottom: 1px solid #ff5659;
	border-top-right-radius: .1rem;
	border-bottom-right-radius: .1rem;
}
.home-wenda-search .fa{
	font-size: .4rem;
	position: absolute;
	right: .3rem;
	top: 0;
	color: #fff;
	line-height: .6rem;
}
.home-wenda-search input{
	/*display: block;*/
	width: 80%;
	border:0;
	outline: none;
	margin-left: .2rem;
	font-size: .26rem;
	margin-top: .14rem;
	color: #888;
}
.home-wenda-list{
	width: 7.1rem;
	height: auto;
	overflow: hidden;
}
.home-wenda-list li{
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	margin-bottom: .3rem;
}
.home-wenda-list li:last-child{
	border-bottom: 0;
	margin-bottom: 0;
}
.home-wenda-list p{
	width: 7.1rem;
	height: auto;
}
.user-info{
	margin-bottom: .24rem;
	line-height: .4rem;
	overflow: hidden;
}
.user-info i{
	width: .4rem;
	height: .4rem;
	display: block;
	float: left;
	border-radius: 50%;
	background: #ccc;
	overflow: hidden;
	border: 0;
}
.user-info i img{
	width: 100%;
	height: 100%;
}
.user-info span{
	font-size: .24rem;
	color: #ADADAD;
	margin-left: .2rem;
	float: left;
}
.user-wenti{
	font-size: .3rem;
	color: #333;
	overflow: hidden;
}
.user-other{
	font-size: .24rem;
	color: #B0B0B0;
	float: left;
	margin-top:.3rem;
	margin-bottom:.2rem;
	line-height: .24rem;
}
.user-other .wenti-tit{
	border-right: 1px solid #B0B0B0;
	padding-right: .2rem;
}
.user-other .wenti-person{
	margin-left: .15rem;
}
.user-other .wenti-type{
	float: right;
}
.user-other .wenti-type i{
	color: #ff5659;
}
.home-sjs-list{
	width: 100%;
	margin-bottom: .3rem;
	overflow: hidden;
}
.home-sjs-list li {
	width: 2rem;
	height: 2.94rem;
	float: left;
	overflow: hidden;
	text-align: center;
	margin-right: .45rem;
}
.home-sjs-list li:first-child{
	margin-left: 0.1rem;
}
.home-sjs-list li:last-child{
	margin-right: 0;
}
.home-sjs-list .sjs-img{
	width: 2rem;
	height: 2rem;
	display: block;
}
.home-sjs-list .sjs-img img{
	width: 100%;
	height: 100%;
}
.sjs-company{
	font-size: .3rem;
	color: #333;
	margin: .18rem auto;
	line-height: .3rem;
}
.sjs-name{
	font-size: .26rem;
	color: #333;
	padding-left: .2rem;
	line-height: .26rem;
	position: relative;
}
.sjs-name span{
	float: left;
	margin-left: .28rem;
	margin-right: .1rem;
}
.sjs-lv{
	width: .3rem;
	height: .3rem;
	display: block;
	float: left;
	background: url(/assets/mobile/index/img/sjs-lv.png) no-repeat;
	background-size: 100%;
	margin-top: -.015rem;
}
.sjs-name .grade{
    background-position: 0 0;
}
.sjs-name .grade1{
    background-position: 0 -.3rem;
}
.home-about{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
}
.home-about .home-about-box .home-about-tit{
	font-size: .46rem;
	line-height: .46rem;
	color: #333;
	margin-top: .5rem;
	margin-bottom: .45rem;
	text-align: center;
}
.home-about-info{
	width: 3.93rem;
	height: 3.93rem;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	margin: 1rem auto;
}
.home-about-info ul li{
	width: 1.38rem;
	height: 1.38rem;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	box-sizing: border-box;
	z-index: 2;
}
.home-about-info ul li:nth-child(1){
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	/*bottom: 0;*/
	top: -.69rem;
}
.home-about-info ul li:nth-child(2){
	position: absolute;
    margin: auto;
    /* left: 0; */
    right: -.4rem;
    bottom: 0;
    top: -1.69rem;
}
.home-about-info ul li:nth-child(3){
	position: absolute;
    margin: auto;
    /* left: 0; */
    right: -.4rem;
    bottom: 0;
    top: 2rem;
}
.home-about-info ul li:nth-child(4){
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -4rem;
	top: 0;
}
.home-about-info ul li:nth-child(5){
	position: absolute;
    margin: auto;
    left: -.4rem;
    top: 2rem;
    bottom: 0;
}
.home-about-info ul li:nth-child(6){
    position: absolute;
    margin: auto;
    left: -.4rem;
    /* right: 0; */
    bottom: 0;
    top: -1.69rem;
}
.home-about-info ul li p:first-child{font-size: .4rem;color: #ff5659;margin-top: .22rem;}
.home-about-info ul li p:last-child{font-size: .2rem;color: #333;}
.logo-img{
	width: 2.1rem;
	height: .9rem;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.home-active{color: #ff5659 !important;border-bottom: 2px solid #ff5659 !important;}
.home-show{display: block !important;}