<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <!-- 第一列 -->
                    <form id="myForm" class="col-xs-6 border-r padding5">
                        <div class="basic_info">
                            <div class="col-xs-12 no-padding  h15">
                                <span class="width_size">发布时间：</span>
                                <span>{$info.time}</span>
                                <button id="copy" type="button" class="width_60 zclip"><i class="fa fa-files-o"></i>复制
                                </button>
                            </div>
                            <!--<div class="col-xs-12 no-padding ">-->
                                <!--<div class="col-xs-6 no-padding">-->
                                    <!--<span class="width_size">订单来源：</span>-->
                                    <!--<select name="source_type" class="width_80" disabled>-->
                                        <!--<volist name="source_in" id="vo">-->
                                            <!--<if condition="$key EQ $info['source_type']">-->
                                                <!--<option value="{$key}" selected="selected">{$vo}</option>-->
                                                <!--<else/>-->
                                                <!--<option value="{$key}">{$vo}</option>-->
                                            <!--</if>-->
                                        <!--</volist>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="col-xs-6 no-padding">-->
                                    <!--<span>支撑发单人：</span>-->
                                    <!--<select name="zhuanfaren" class="width_80" disabled>-->
                                        <!--<option value="">-请选择-</option>-->
                                        <!--<volist name="zhuanfaren" id="vo">-->
                                            <!--<if condition="$vo EQ $info['zhuanfaren']">-->
                                                <!--<option value="{$vo}" selected="selected">{$vo}</option>-->
                                                <!--<else/>-->
                                                <!--<option value="{$vo}">{$vo}</option>-->
                                            <!--</if>-->
                                        <!--</volist>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size">&nbsp;发布IP：</span>
                                <span>{$info.ip}</span>
                                <if condition="isset($ipMark)">
								<span class="green">
									重{$ipMark}
								</span>
                                </if>
                                <span>
									<a href="http://www.baidu.com/s?wd={$info.ip}&ie=utf-8"
                                       class="relation_icon icon_baidu" title="百度搜索" target="_blank"></a>
									<a href="http://www.so.com/s?q={$info.ip}" class="relation_icon icon_360"
                                       title="360搜索" target="_blank"></a>
									<a href="/order/searchrtbasia?ipstr={$info.ip}" class="relation_icon icon_person"
                                       title="ip真人率查询" target="_blank"></a>
								</span>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size">手机号码：</span>
                                <span>{$info.tel}</span>
                                <span style="margin-left: 12px;">
										<a href="javascript:void(0)" title="voip电话" data-id="{$info.id}"
                                           class="relation_icon icon_headset"></a>
										<a href="/voip/voiprecord?id={$info.id}" title="voip电话记录"
                                           class="relation_icon icon_list" target="_blank"></a>
										<if condition="$logCount GT 0">
										<a title="短信已发送" href="javascript:void(0)"
                                           class="relation_icon icon_email icon_email_disabled"></a>
										<else/>
										<a id="icon_email" title="发送短信" href="javascript:void(0)"
                                           class="relation_icon icon_email"></a>
										</if>
										<if condition="$info['openeye_st'] EQ NULL">
										<a id="icon_eye" href="javascript:void(0)" class="relation_icon icon_eye"
                                           title="申请显号"></a>
										<else/>
										<a href="javascript:void(0)" class="relation_icon icon_eye icon_eye_disabled"
                                           title="该号码已申请显号"></a>
										</if>
										<a title="百度搜索" href="/orders/tel_baidusearch?id={$info.id}"
                                           class="relation_icon icon_baidu" target="_blank"></a>
										<a title="360搜索" href="/orders/tel_360search?id={$info.id}"
                                           class="relation_icon icon_360" target="_blank"></a>
                                        <a title="搜狗搜索" href="/orders/tel_sogousearch?id={$info.id}" class="relation_icon icon_sogou"  target="_blank"></a>
                                        <a title="神马搜索" href="/orders/tel_smsearch?id={$info.id}" class="relation_icon icon_sm"  target="_blank"></a>
								</span>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size">备用联系：</span>
                                <input class="width_120" type="text" id="other_contact" name="other_contact"
                                       value="{$info['other_contact']}" disabled>
                                <span id="other_contact_span" style="color:red"></span>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size">房屋地址：</span>
                                <input class="width_120" type="text" name="dz" value="{$info.dz}" disabled>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size"><i class="red">*</i>联系人：</span>
                                <input class="width_100" type="text" name="name" value="{$info.name}" disabled>
                                <select name="sex" id="" disabled>
                                    <if condition="$info['sex'] EQ '先生'">
                                        <option value="">性别</option>
                                        <option value="先生" selected="selected">先生</option>
                                        <option value="女士">女士</option>
                                        <elseif condition="$info['sex'] EQ '女士' "/>
                                        <option value="">性别</option>
                                        <option value="先生">先生</option>
                                        <option value="女士" selected="selected">女士</option>
                                        <else/>
                                        <option value="">性别</option>
                                        <option value="先生">先生</option>
                                        <option value="女士">女士</option>
                                    </if>
                                </select>
                            </div>
                            <div id="order-form">
                                <div class="col-xs-12 no-padding ">
                                    <span class="width_size">所属区域：</span>
                                    <span>{$city[0]["cname"]}</span>
                                    <select class="width_80" name="qx" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="city" id="vo">
                                            <if condition="$vo['qz_areaid'] EQ $info['qx']">
                                                <option value="{$vo.qz_areaid}" selected="selected">{$vo.qz_area}
                                                </option>
                                                <else/>
                                                <option value="{$vo.qz_areaid}">{$vo.qz_area}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <span>小区：</span>
                                    <input class="width_90" type="text" name="xiaoqu" value="{$info.xiaoqu}" disabled>
                                    <if condition="!isset($history)">
                                        <button type="button" class="bgcolor"><i class="fa fa-tag"></i>无</button>
                                        <else/>
                                        <button id="history" type="button" class="bgcolor blue"><i
                                                class="fa fa-tag"></i>有
                                        </button>
                                    </if>
                                </div>
                                <div class="col-xs-12 no-padding ">
                                    <span class="width_size">装修类型：</span>
                                    <select name="lx" class="width_70" disabled>
                                        <option value="">-请选择-</option>
                                        <if condition="$info['lx'] EQ 2">
                                            <option value="2" selected="selected">公装</option>
                                            <option value="1">家装</option>
                                            <elseif condition="$info['lx'] EQ 1"/>
                                            <option value="2">公装</option>
                                            <option value="1" selected="selected">家装</option>
                                            <else/>
                                            <option value="2">公装</option>
                                            <option value="1">家装</option>
                                        </if>
                                    </select>
                                    <select name="lxs" class="width_80" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="lxs" id="vo">
                                            <if condition="$key EQ $info['lxs']">
                                                <option value="{$key}" selected="selected">{$vo}</option>
                                                <else/>
                                                <option value="{$key}">{$vo}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <span>用途：</span>
                                    <input class="width_90" type="text" name="yt" value="{$info.yt}" placeholder="装修用途"
                                           disabled>
                                </div>
                                <div class="col-xs-12 no-padding ">
                                    <span class="width_size">户型结构：</span>
                                    <select name="huxing" class="width_100" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="huxing" id="vo">
                                            <if condition="$vo['id'] EQ $info['huxing']">
                                                <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                <else/>
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <select name="shi" class="width_50" disabled>
                                        <volist name="shi" id="vo">
                                            <if condition="$vo EQ $info['shi']">
                                                <option value="{$key}" selected="selected">{$vo}</option>
                                                <else/>
                                                <option value="{$key}">{$vo}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <span>室</span>
                                    <span>面积：</span>
                                    <input class="width_60" type="text" name="mianji" value="{$info.mianji}" disabled>㎡
                                </div>
                                <div class="col-xs-12 no-padding ">
                                    <span class="width_size">风格：</span>
                                    <select name="fengge" class="width_70" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="fengge" id="vo">
                                            <if condition="$vo['id'] EQ $info['fengge']">
                                                <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                <else/>
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <span>预算：</span>
                                    <select class="width_70" name="fangshi" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="fangshi" id="vo">
                                            <if condition="$vo['id'] EQ $info['fangshi']">
                                                <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                <else/>
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <select class="width_70" name="yusuan" disabled>
                                        <option selected="" value="">-请选择-</option>
                                        <volist name="yusuan" id="vo">
                                            <if condition="$vo['id'] EQ $info['yusuan']">
                                                <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                <else/>
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                                <div class="col-xs-12 no-padding ">
                                    <span class="width_size">拿房时间：</span>
                                    <input type="text" name="nf_time" class="lf_datepicker inputer width_100"
                                           value="{$info['nf_time']}" disabled/>
                                    <span class="width_size">钥匙：</span>
                                    <select class="key_select width_70" name="keys" disabled>
                                        <option value="2">-请选择-</option>
                                        <volist name="keys" id="vo">
                                            <if condition="$key EQ $info['keys']">
                                                <option value="{$key}" selected="selected">{$vo}</option>
                                                <else/>
                                                <option value="{$key}">{$vo}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                                <div class="col-xs-12 no-padding ">
                                    <span class="width_size">量房时间：</span>
                                    <select class="width_100" name="lftime" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="lf_time" id="vo">
                                            <if condition="$vo EQ $info['lftime']">
                                                <option value="{$vo}" selected="selected">{$vo}</option>
                                                <else/>
                                                <option value="{$vo}">{$vo}</option>
                                            </if>
                                        </volist>
                                    </select>
                                    <span class="width_size">开工时间：</span>
                                    <select class="width_100" name="start" disabled>
                                        <option value="">-请选择-</option>
                                        <volist name="start_time" id="vo">
                                            <if condition="$vo EQ $info['start']">
                                                <option value="{$vo}" selected="selected">{$vo}</option>
                                                <else/>
                                                <option value="{$vo}">{$vo}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size pull-left">特殊需求：</span>
                                <textarea class="pull-left text-height120" name="text" style="line-height: 12px;"
                                          disabled>{$info.text}</textarea>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size pull-left">二次回访记录：</span>
                                <textarea class="pull-left text-height60"
                                          name="two_remark">{$back_info[0]['two_remark']}</textarea>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size pull-left">回访记录：</span>
                                <textarea class="pull-left text-height60" name="huifan">{$info.huifan}</textarea>
                            </div>
                            <div class="col-xs-12 no-padding " data-type="popup">
                                <span class="width_size pull-left">回访状态：</span>
                                <select name="backstatus">
                                    <option value="">请选择</option>
                                    <volist name="backstatus" id="vo">
                                        <if condition="$vo EQ $back_info[0]['back_status']">
                                            <option value="{$key}" selected="selected">{$vo}</option>
                                            <else/>
                                            <option value="{$key}">{$vo}</option>
                                        </if>
                                    </volist>
                                </select>
                                <select name="remark_status" data-mark="invalid">
                                    <option value="">请选择备注</option>
                                </select>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size">待定时间：</span>
                                <input type="text" name="visitime" class="datepicker width_120"
                                       value="{$info['visitime']}" style="height: 20px;"/>
                            </div>
                            <div class="col-xs-12 no-padding ">
                                <span class="width_size">编辑人：</span>
                                <span>{$info.customer}</span>
                                <button id="btnSave" type="button" class="btn btn-info btn-sm pull-right width_60">保存
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- 第二列 -->
                    <div class="col-xs-6 border-r padding10">
                        <div class="col-xs-12 no-padding mt3">
                            <div class="measure">
                                <p>未量房原因：</p>
                                <div class="reason">
                                    <if condition="$reason['reason'] neq null || $vo['tags'] neq ''">
                                        <volist name="reason.reason" id="vo">
                                        <span>{$key}<if condition="$vo neq 1">(<span
                                                style="color: red;border: none;padding: 0;line-height: 20px;">{$vo}</span>)</if></span>
                                        </volist>
                                    </if>
                                    <div class="note">
                                        <textarea name="notedetail" id="notedetail" cols="30" rows="10"
                                                  placeholder="详细备注" disabled>{$reason.remark}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="send-order">
                                <p style="margin-bottom: 10px;">已派单的装修公司</p>
                                <volist name="back_company" id="vo">
                                    <div class="citem">
                                        <div class="head">
                                            <input type="checkbox" name="company" class="company com_choose_{$vo.comid}"
                                                   data-id="{$vo.comid}"><label for="company">{$vo.jc}</label>
                                            <!--只能推送一次-->
                                            <if condition="$push_status NEQ 1">
                                                <span class="lf_status" style="display: none"><input type="checkbox"
                                                                                                     name="lf_status"
                                                                                                     data-id="{$vo.comid}"><label
                                                        for="lf_status">已量房</label></span>
                                                <span class="status" style="display: none"><input type="radio"
                                                                                                  name="status"
                                                                                                  data-id="{$vo.comid}"><label
                                                        for="status">已签约</label></span>
                                                <else/>
                                                <!--直接显示选中的数据-->
                                                <if condition="$push_company[$vo['comid']]['status'] EQ 1">
                                                    <input type="checkbox"
                                                           name="lf_status"
                                                           data-id="{$vo.comid}" checked><label
                                                        for="lf_status">已量房</label>
                                                </if>
                                                <if condition="$push_company[$vo['comid']]['status'] EQ 2">
                                                    <input type="radio"
                                                           name="status"
                                                           data-id="{$vo.comid}" checked><label
                                                        for="status">已签约</label>
                                                </if>
                                            </if>
                                        </div>
                                        <if condition="$vo['tags'] neq null || $vo['tags'] neq ''">
                                            <div class="ctags">
                                                <volist name="vo.tags" id="v">
                                                    <span>{$v}</span>
                                                </volist>
                                            </div>
                                        </if>
                                    </div>
                                </volist>
                                <div class="tuisong" style="display: none">
                                    <button class="send-btn">推送</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask"></div>

    <div class="show_callnum_pop pop_set">
        <div class="show_num_header"><span>申请显号</span></div>
        <div class="show_num_body">
            <div class="show_num_item"><span class="pull-left show_num_tit">申请人：</span><span class="pull-left">{$Think.session.uc_userinfo.name}</span>
            </div>
            <div class="show_num_item"><span class="pull-left show_num_tit">申请订单号：</span><span class="pull-left">{$info.id}</span>
            </div>
            <div class="show_num_item"><span class="pull-left show_num_tit">申请理由：</span>
                <textarea class="pull-left"></textarea>
            </div>
        </div>
        <div class="show_num_footer">
            <div class="btn btn-info callnum_pop_ok">确定</div>
            <div class="btn btn-default call_pop_close">关闭</div>
        </div>
    </div>
    <div class="col-xs-12 no-padding weixin-model">
        <div class="col-xs-12 no-padding fenpei-model-hd">
            <p class="ml10">发送微信</p>
        </div>
        <div class="col-xs-12 mt20 zxgs-list text-center ">
            <volist name="company" id="vo">
                <div class="col-xs-6 no-padding mt10">
                    <label>
                        <input id="wx_company_{$key}" type="checkbox" name="wx_company" data-id="{$vo.id}">
                        <label for="wx_company_{$key}" class="company-name">{$vo.jc}</label>
                    </label>
                </div>
            </volist>
        </div>
        <div class="text-center">
            <div class="btn btn-info btn-sm btn-ok">发送</div>
            <div class="btn btn-default btn-sm btn-close">关闭</div>
        </div>
    </div>
    <div class="col-xs-12 no-padding fenpei-model">
        <div class="col-xs-12 no-padding fenpei-model-hd">
            <p class="ml10">请选择分赠状态<span class="pull-right btn-close"
                                         style="line-height: 20px; margin-right: 10px; cursor: pointer;">X</span></p>
        </div>
        <div class="col-xs-12 mt20 zxgs-list zxgs-fen-list text-center">
        </div>
        <div class="text-center">
            <div id="btnUp" class="btn btn-info btn-sm btn-ok">③分配</div>
        </div>
    </div>
    <input type="hidden" name="dwz" value="{$info.dwz}"/>
</section>
<script type="text/javascript">
    var push_status = '{$push_status}';//推送状态
    tel_repeat();
    $('.datepicker').datetimepicker({
        weekStart: 1,
        todayHighlight: 1,
        todayBtn: true,
        minView: 0,
        pickerPosition: "bottom-left",
        autoclose: true
    });

    $(".lf_datepicker").datepicker({
        format: "yyyy-mm-dd",
        minViewMode: 0,
        autoclose: true
    }).on('changeDate', function (ev) {
        var val = $("textarea[name=text]").val();
        val += " " + $("input[name=nf_time]").val();
        $("textarea[name=text]").val(val);
    });

    //备用联系鼠标移出
    $("#other_contact").on('blur', function () {
        $("#other_contact_span").text('');
        tel_repeat();
    })

    function tel_repeat() {
        var other_contact = trim($("#other_contact").val());
        var phone = other_contact.replace(/[^0-9]/g, "");
        if (phone != '') {
            $.ajax({
                url: '/order/tel_repeat',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    phone: phone
                }
            })
                .done(function (data) {
                    if (data.status == 0) {
                        $("#other_contact_span").text(data.info);
                    }
                });
        }
    }

    $('#icon_eye').on('click', function () {
        $('.show_callnum_pop').fadeIn();
        $('.mask').fadeIn();
    });

    $('.call_pop_close').on('click', function () {
        $('.call_pop').fadeOut();
        $('.show_callnum_pop').fadeOut();
        $('.mask').fadeOut();
    });

    $('.callnum_pop_ok').on('click', function () {
        $.ajax({
            url: '/order/tel_openeye',
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: '{$info.id}',
                "text": $('.show_callnum_pop textarea').val()
            }
        })
            .done(function (data) {
                if (data.code == 200) {
                    $('.show_callnum_pop').fadeOut();
                    $('.mask').fadeOut();
                } else {
                    alert(data.errmsg || data.info);
                }
            });
    });

    $("#icon_email").click(function (event) {
        var _this = $(this);

        if (_this.hasClass('icon_email_disabled')) {
            return false;
        }

        if (!confirm("确定发送短信通知?")) {
            return false;
        }

        $.ajax({
            url: '/sms/sendsms/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: "{$info.id}"
            }
        })
            .done(function (data) {
                if (data.code == 200) {
                    alert("短信发送成功！");
                    _this.addClass('icon_email_disabled');
                } else {
                    alert(data.errmsg || data.info);
                }
            });
    });


    $('.select_order_state').on('change', function () {
        var id = $(this).val();
        $('.select_order_item').addClass('hide_select');
        $("#" + id).removeClass('hide_select');
        $('.order_note').show();
        if ($("#" + id).length == 0) {
            $('.order_note').hide();
        }
    });
    $('.select_order_state').trigger('change');

    // 钥匙选择字体变化
    $('.key_select').on('change', function () {
        if ($('.key_select option:selected').val() == '1') {
            $(this).removeClass('red').addClass('green').addClass('key_select_option');
        } else if ($('.key_select option:selected').val() == '0') {
            $(this).removeClass('green').addClass('red').addClass('key_select_option');
        } else {
            $(this).removeClass('green').removeClass('red').removeClass('key_select_option');
        }
    });
    $('.key_select').trigger('change');

    $(".icon_headset").click(function (event) {
        var _this = $(this);
        if (!confirm("确定IP话机拨打电话?")) {
            return false;
        }
        var orderid = '{$back_info["0"]["orderid"]}';
        $.ajax({
            url: '/voip/tel_voipcallback',
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: _this.attr("data-id"),'callback':1,'orderid':orderid
            }
        })
            .done(function (data) {
                if (data.code == 200) {
                    alert(data.errmsg);
                } else {
                    alert(data.errmsg || data.info);
                }
            });
    });


    $('.call_pop_close').on('click', function () {
        $('.call_pop').fadeOut();
        $('.show_callnum_pop').fadeOut();
        $('.mask').fadeOut();
        $('body').css('overflowY', 'auto');
    });
    //保存按钮
    $("#btnSave").on("click", function (event) {
        var data = new Object();
        data.two_remark = $("textarea[name=two_remark]").val();
        data.backstatus = $("select[name=backstatus]").val();
        data.remark = $("select[name=remark_status]").val();
        data.visitime = $("input[name=visitime]").val();
        data.huifan = $("textarea[name=huifan]").val();
        data.orderid = "{$info.id}";

        $.ajax({
            url: '/CompanyLiangFang/saveBackInfo/',
            type: 'POST',
            dataType: 'JSON',
            data: data
        })
            .done(function (data) {
                alert(data.info);
                if (data.status == 1) {
                    $(".lf_status").hide();
                    $(".status").hide();
                    //如果已经推送过 , 就不能再操作
                    if (push_status != 1) {
                        //选已量房 , 显示右侧已量房选择
                        if ($("select[name=backstatus]").val() == 1) {
                            $(".lf_status").show()
                        }
                        //选已签单 , 显示右侧已签单选择
                        if ($("select[name=backstatus]").val() == 2) {
                            $(".status").show()
                        }
                        $(".tuisong").show();
                    }
                }
            });
    });
    //推送
    $(".tuisong").on('click', function () {
        var choose_company = [];
        var choose_lf_status = [];
        var choose_status = [];
        var orderid = '{$back_info["0"]["orderid"]}';
        $("input[name='company']:checked").each(function () {
            choose_company.push($(this).attr('data-id'));
        });
        $("input[name='lf_status']:checked").each(function () {
            choose_lf_status.push($(this).attr('data-id'));
        });
        $("input[name='status']:checked").each(function () {
            choose_status.push($(this).attr('data-id'));
        });
        $.ajax({
            url: '/CompanyLiangFang/pushCompanyInfo/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                orderid: orderid,
                choose_company: choose_company,
                choose_lf_status: choose_lf_status,
                choose_qy_status: choose_status
            }
        })
            .done(function (data) {
                alert(data.info);
                $(".tuisong").hide();
            });
    });

    //已量房/已签约 操作
    $('input[name=lf_status],input[name=status]').on('click', function () {
        if($(this).attr('type') == 'radio'){
            $(".company").removeProp('checked')
        }
        if ($(this).is(':checked')) {
            $(".com_choose_" + $(this).attr('data-id')).prop('checked', 'true')
        }else {
            $(".com_choose_" + $(this).attr('data-id')).removeProp('checked')
        }
    });

    $("#btnCheck").on("click", function (event) {
        var status = $(".select_order_state").val();
        var sub_status = $("#" + status).val();
        $.ajax({
            url: '/order/orderstatus/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: "{$info.id}",
                status: status,
                sub_status: sub_status
            }
        })
            .done(function (data) {
                if (data.code == 200) {
                    alert("订单审核操作成功！");
                } else {
                    alert(data.errmsg || data.info);
                }
            });
    });

    $("#icon_weixin").click(function (event) {
        $('.weixin-model').fadeIn(200);
        $(".mask").show();
    });

    $("#icon_email_send").click(function (event) {
        if (confirm("确定发送短信吗?")) {
            $.ajax({
                url: '/order/sendsms/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    id: "{$info.id}"
                }
            })
                .done(function (data) {
                    if (data.code == 200) {
                        alert("短信发送成功！");
                    } else {
                        alert(data.errmsg || data.info);
                    }
                });
        }
        ;
    });

    $('.weixin-model').find('.btn-close').on('click', function () {
        $('.weixin-model').fadeOut(200);
        $('.mask').hide(200);
    });

    $('.weixin-model').find('.btn-ok').on('click', function () {
        var companys = new Array();
        var data = new Array();
        var _this = $(this);
        $("input[name=wx_company]").each(function () {
            if ($(this).prop("checked")) {
                companys.push($(this).attr("data-id"));
            }
            ;
        });
        data.push({
            name: "companys",
            value: companys
        });
        data.push({
            name: "id",
            value: "{$info.id}"
        });

        $.ajax({
            url: '/order/sendwx/',
            type: 'POST',
            dataType: 'JSON',
            data: data
        })
            .done(function (data) {
                alert(data.errmsg || data.info);
                if (data.code == 200) {
                    $('.weixin-model').fadeOut(200);
                    $('.mask').hide(200);
                    $("#icon_weixin").find(".icon_weixin2").addClass('icon_weixin1').removeClass('icon_weixin2');
                }
            });
    });

    // 取消分配
    $('.fenpei-model .btn-close').on('click', function () {
        $('.fenpei-model').fadeOut(200);
        $('.mask').fadeOut(200);
    });

    $("#history").click(function (event) {
        BootstrapDialog.show({
            title: "历史签单小区",
            message: function (dialog) {
                var $message = $('<div style="margin:-15px; overflow-y:auto; max-height:400px; width:400px;"></div>');
                var pageToLoad = dialog.getData('pageToLoad');
                $message.load(pageToLoad);
                return $message;
            },
            data: {
                'pageToLoad': '/order/history?xiaoqu=' + $("input[name=xiaoqu]").val() + '&cs={$info.cs}'
            },
            type: BootstrapDialog.TYPE_DEFAULT,
            onshow: function (e) {
                e.$modalDialog.css("width", "400px");
            }
        });
    });

    $("#order-form input[type=text]:not(input[name=nf_time],input[name=xiaoqu])").blur(function (event) {
        var val = $("textarea[name=text]").val();
        val += " " + $(this).val();
        $("textarea[name=text]").val(val);
    });

    $("#order-form select:not(select[name=qx])").change(function (event) {
        var val = $("textarea[name=text]").val();
        val += " " + $(this).find("option:selected").text();
        $("textarea[name=text]").val(val);
    });

    /*S-订单状态为回访失败或无效时订单备注选项切换*/
    var html = '<option value="0">请选择备注</option>';
    var backremarkfalse = {$backremarkfalse};
    var backremarkbust = {$backremarkbust};
    $("select[name=backstatus]").on("change", function () {
        html = '<option value="0">请选择备注</option>';
        if (this.value == 5) {
            //无效
            for (var k in backremarkfalse) {
                html += '<option value="' + k + '">' + backremarkfalse[k] + '</option>';
            }
        } else if (this.value == 4) {
            //回访失败
            for (var k in backremarkbust) {
                html += '<option value="' + k + '">' + backremarkbust[k] + '</option>';
            }
        }
        $("select[name=remark_status]").html(html);
    });
    //订单备注回显操作
    if ('{$back_info[0]["b_status"]}' == 5) {
        //无效
        for (var k in backremarkfalse) {
            if ('{$back_info[0]["remark_status"]}' == k) {
                html += '<option value="' + k + '" selected>' + backremarkfalse[k] + '</option>';
            } else {
                html += '<option value="' + k + '">' + backremarkfalse[k] + '</option>';
            }
        }
        $("select[name=remark_status]").html(html);
    } else if ('{$back_info[0]["b_status"]}' == 4) {
        //回访失败
        for (var k in backremarkbust) {
            if ('{$back_info[0]["remark_status"]}' == k) {
                html += '<option value="' + k + '" selected>' + backremarkbust[k] + '</option>';
            } else {
                html += '<option value="' + k + '">' + backremarkbust[k] + '</option>';
            }
        }
        $("select[name=remark_status]").html(html);
    }
</script>
