
ul{
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.position{
  position: relative;z-index: 1;overflow-y:auto;overflow-x:hidden;
}

.box{
    overflow: hidden;padding:10px;
}
.back-white{
  background: white;
}
.form_control{
   width: 100%;position: relative;
}
.form_control form{
  height: 100%
}
.form_control input[type=text]{
    width:100%; height: 30px; border:none; outline: none; text-indent: 12px; border:1px solid silver;overflow: hidden; border-radius: 5px;
}
.form_control button[type=submit]{
    position: absolute;
    right: -2px;
    top:0px;
    background-color: #ff5659;
    width:50px;
    height: 32px;
    text-align: center;
    border: 0px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

.type-list{background:#fff;}
.parent-list{
    height: 0.4rem; border-bottom: 1px solid #EEEEEE; position: relative;
}
.parent-list ul li{line-height: 0.405rem}
.type-list ul{position: absolute;}
.type-list ul li{float: left;font-size: 0.13rem; width:1rem; text-align: center; position: relative;}
.type-list ul li span{display:block;position: absolute; width:0.3rem; height:3px;background: #FF5659;bottom:0px; left:50%; margin-left: -0.15rem;display: none;}
.list-box{position: relative;display: none;height:0.4rem; }
/*.list-box:first-child{display: block;}*/
.chose-active{color: #ff5659;}
.children-list{height: 0.5rem;font-size: 0.13rem}
.chose-active span{display: block !important;}
.child-chose-active a{color:red ;border:1px solid red !important;}
#parent-content,.children-content{width:8000px;}
.children-content li{margin-top:0.1rem;}
.children-content a{border:1px solid #EBEBEB;overflow: hidden;width:0.8rem; display: inline-block; height:0.28rem; line-height: 0.28rem;}
.baike-list-box{background: #fff; margin-top: 0.1rem;}
.baike-list-box ul li{overflow: hidden;padding: 0.1rem 0.08rem;border-bottom: 1px solid #EBEBEB}
.baike-list-box .img-box{width:1rem;float:left; height: 0.74rem;margin-top: .065rem;}
.baike-list-box .img-box img{width: 100%;height: 100%}
.baike-list-content{margin-left: 1.08rem}
.list-content-title{font-weight:bold;padding-top:0.02rem; padding-bottom: 0.03rem;}
.list-content-body{font-size: 0.12rem;color: #666666;padding-bottom: 0.02rem}
.list-content-foot{font-size: 0.1rem;color:#999999; overflow: hidden;}
.foot-date{float: left;}
.foot-zan{float: right;}
.tofixed{position: fixed;top: 0px;left:0px;}
.free-design img{width:100%;}

.kong-img{width: 100%;height: 2.1rem;margin-bottom: .15rem;}
.kong-img img{width: 100%;;height: auto;margin-top: .12rem;}
.about-kong-title{font-size: .17rem;color: #333;margin-bottom: .15rem;line-height: .17rem;padding-left: .1rem;}