header{
    width: 100%;
    height: 50px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    position: relative;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
}
body{background-color: #f2f2f2 !important;}
article{margin-top: 3px;}
.m-header-left {
    margin-left: 1em;
    width: 32% !important;
}
.m-header-his {
    width: 0;
    left: .45em;
}

/* baike-mobile bread */
.m-bread {
    width: 100%;
    height: 2.2em;
    padding-left: .85em;
    /*position: fixed;*/
    /*top: 50px;*/
    /*left: 0;*/
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    box-sizing: border-box;
    line-height: 2.2em;
    font-size: .8em;
    overflow: hidden;
}

/* baike-Theme Articles */
.bk-brief {
    width: 100%;
    height: 8.5em;
    background-color: #fff;
    margin-bottom: .3em;
}
.bk-brief-main {
    padding: .8em;
    overflow: hidden;
}
.bk-brief-img {
    width: 7.5em;
    height: 7em;
    float: left;
    overflow: hidden;
}
.bk-brief-img img{width: 100%;height: auto;}
.bk-brief-info {
    height: 7em;
    margin-left: 8.4em;
    position: relative;
    overflow: hidden;
}
.bk-brief-tit {
    font-size: 1em;
    line-height: 1em;
    font-weight: 800;
}
.bk-brief-content {
    margin-top: .5em;
    font-size: .9em;
    line-height: 1.3em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}
.bk-brief-time{
    position: absolute;
    right: 0px;
    bottom:0px;
    text-align: right;color:#999999;
    font-size: 0.1rem;
}

/* baike-Articles content */
.bk-article{width: 100%;height: auto;background-color: #fff;}
.bk-article img{width: 100% !important;height: 100% !important;}
.bk-article-box{width: 92%; margin: 0 auto;padding: 20px 0px;}

/* baike-baijia */
.bk-baojia {
    width: 100%;
    height: auto;
    margin: .3em 0;
}
.bk-baojia img{width: 100%;height: auto;}

/* baike-about */
.bk-about{width: 100%;height: auto;background-color: #fff;padding: 10px 0px;}
.bk-about-box {
    padding: .75em;
}
.bk-about-word{font-size: 1em;font-weight: 800;line-height: .9em;}
.red-block{
    width: .25em;
    height: 1em;
    background: #ff5659;
    display: block;
    float: left;
    margin-right: .2em;
}
.bk-word-list{margin-top: .6em;overflow: hidden;}
.bk-word-list span {
    margin-right: .5em;
    float: left;
    font-size: 0.95em;
    line-height: 1.8em;
}
footer {
    padding-bottom: 60px;
}



<p class="bk-brief-time">2017-12-26 12:12:36</p>