<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>客服中心 - 齐装网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<include file="Index:resource" />
<link rel="stylesheet" href="{$static_host}/assets/common/css/font/font-awesome.min.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/common/css/font/iconfont.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/home/kefu/kefu.css?v={:C('STATIC_VERSION')}" />
<script src="{$static_host}/assets/home/kefu/kefunav.js?v={:C('STATIC_VERSION')}"></script>
</head>
<body>
{$headerTmp}
<!--页面内容-->
<div class="kefu-bg"></div>
<div class="kefu-wrap">
<div class="kefu-boxs">
    <ul id="kefunav" class="kefu-nav kefu-cow2">
        <li><a href="javascript:"><i class="fa fa-user"></i>业主</a></li>
        <li><a href="javascript:"><i class="iconfont">&#xe627;</i>装修公司</a></li>
    </ul>
    <div id="kefuson">
        <ul class="kefu-nav kefu-cow3">
            <volist name="category['1']['sub_cate']" id="v">
                <li><a href="/kefu/{$v.url}.html"><i class="iconfont">{$v.icon}</i>{$v.name}</a></li>
            </volist>
        </ul>
        <ul class="kefu-nav kefu-cow2">
            <volist name="category['2']['sub_cate']" id="v">
                <li><a href="/kefu/{$v.url}.html"><i class="iconfont">{$v.icon}</i>{$v.name}</a></li>
            </volist>
        </ul>
        <div class="returnbtn">返回</div>
    </div>
</div>
</div>

<input id="safecode" type="hidden" value="{$safecode}" />
<input id="safekey" type="hidden" value="{$safekey}" />
<script type="text/javascript">
var shen = null,
shi = null;
shen = citys["shen"];
shi = citys["shi"];
$(document).ready(function(){
});
</script>

<include file="Index:footer" />
</body>
</html>


