.bread{font-size: 12px;margin-bottom: 0;}
.fl{float: left;}
.fr{float: right;}
.mt30{margin-top: 30px;}
.mt5{margin-top: 5px;}
.no-border{border:0 !important;}
.jh-list{width: 350px;height: 295px;}
.jh-list ul li{width: 335px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.jh-list ul li a{font-size: 14px;font-family: 'Microsoft Yahei';line-height: 30px;}
.jh-list ul li a:hover{color: darkorange;}
.jh-list ul{padding-left: 28px;border-left: 1px solid #ccc;}
.jh-list:nth-child(1) ul{padding-left: 0;border-left: 0;}
.jh-list:nth-child(2){margin-right:28px}

.juhe-crux{border: 1px solid #ccc;overflow: hidden}
.juhe-crux-box{padding: 30px;}
.juhe-crux-tit{font-family: '微软雅黑 Bold', '微软雅黑';font-weight: 700;font-style: normal;font-size: 20px;line-height: 20px;}
.juhe-crux-text{font-family: '微软雅黑 Regular', '微软雅黑';font-size: 18px;font-weight: 400;font-style: normal;line-height: 42px;}
.juhe-img-box{width: 860px;height: 360px;margin-right: 30px;}
.juhe-img-big{width: 495px;height: 357px;margin-right: 15px;}
.juhe-img-sm{width: 350px;height: 360px;}
.juhe-img-item{width: 170px;height: 116px;float: left;box-sizing: border-box;border: 1px solid #ccc;margin-right: 5px;}

.top-hl-box {padding: 10px 18px;background: url('http://www.qizuang.com/assets/common/img/hl2.jpg');height: 80px;margin-bottom: 10px;font-family: "Microsoft YaHei";}
.top-hl-box h3 {color: #c28559;font-size: 26px;padding-bottom: 10px;}
.top-hl-box .selet {height: 30px;float: left;margin-right: 20px;width: 230px;}
.top-hl-box input[type=text] {height: 30px;padding: 0 10px;line-height: 30px;width: 230px;float: left;margin-right: 20px;}
.top-hl-box .butt {height: 30px;width: 150px;float: left;cursor: pointer;background: #ef914c;color: #fff;border: 1px solid #f7842f;font-weight: bold;}

.juhe-article-item{float: left;margin-right: 23px;}
.juhe-article-item:last-child{margin-right: 0;}
.juhe-article-item p{width: 211px;}
.juhe-article-tit{font-family: '微软雅黑 Regular', '微软雅黑';font-weight: 400;font-style: normal;font-size: 16px;line-height: 40px;}
.juhe-article-img{width: 211px;height: 141px;border: 1px solid #ccc;box-sizing: border-box;}

.juhe-qa::after{content: '';width: 1px;height: 500px;background: #ccc;display: block;position: absolute; left: 575px;top:20px;}
.juhe-qa-tit{padding-top:20px;font-family: '微软雅黑 Bold', '微软雅黑';font-weight: 700;font-style: normal;font-size: 16px;line-height: 22px;}
.juhe-qa-item i{width: 24px;height: 22px;display:inline-block;margin-right: 6px;float: left;background: url("http://www.qizuang.com/assets/home/zixun/img/ask-list.png") no-repeat}
.juhe-qa-item{float: left;border-bottom: 1px solid #ccc;}
.juhe-qa-item:nth-child(odd){margin-right: 60px;}
.juhe-qa-item:nth-child(even){margin-left: 60px;}
.juhe-qa-item:nth-child(5){border:0;}
.juhe-qa-item:nth-child(6){border:0;}
.juhe-qa-item i.juhe-answer-icon{background-position: 0 -22px;}
.juhe-answer-content{width: 512px;margin-top: 10px;padding-bottom: 30px;}
.juhe-answer-content span{width: 478px;height: 76px;display: inline-block;font-family: '微软雅黑 Regular', '微软雅黑';font-weight: 400;font-style: normal;font-size: 14px;}