<!-- S 我要设计 -->
<div class="iwantzx">
    <div class="iwantzx-box">
        <i class="fa fa-close"></i>
        <div class="left-modal">
            <div class="iwantzx-img">
                <img id="iwantPic" src="{$static_host}/assets/home/meitu/img/jz-img-top.jpg" alt="">
            </div>
            <p class="iwantzx-info"></p>
        </div>
        <div class="right-modal bj-box">
            <p class="big-title">10秒免费申请4份设计</p>
            <p class="small-info">知名设计师，为您定制4份设计方案</p>
            <p class="small-info">全面PK 不满意重新设计</p>
            <div class="form-box">
                <div class="iwantzx-sel">
                    <select class="freesj_cs" name="iwant_cs"></select>
                    <select class="freesj_qx" name="iwant_qy"></select>
                </div>
                <div class="iwantzx-input">
                    <input type="text" placeholder="怎么称呼您" name="iwant_name">
                </div>
                <div class="iwantzx-input">
                    <input type="text" placeholder="请输入手机号码获得结果" maxlength="11" name="iwant_tel">
                </div>

                   <!--S-免责申明-->
                    <include file="Common@Order/disclamer"/>
                   <!--E-免责申明-->

                <div class="iwantzx-button iwantzx-btn-1">立即获取</div>
                <input type="hidden" name="fb_type" value="sheji">
            </div>
        </div>
    </div>
</div>

<!-- S 我要装修 -->
<div class="zxmoney">
    <div class="zxmoney-box">
        <i class="fa fa-close"></i>
        <div class="left-modal">
            <div class="zxmoney-img">
                <img id="zxmoneyPic" src="{$static_host}/assets/home/meitu/img/jz-img-top.jpg" alt="">
            </div>
            <p class="zxmoney-info"></p>
        </div>
        <div class="right-modal bj-box">
            <p class="big-title">装修成这样花多少钱？</p>
            <p class="big-title1">你的装修预算为<span class="red-color"  id="total-price">？</span><span>元</span></p>
            <div class="disclaimer">*该报价为半包估算价，实际费用以上门量房实测为准。</div>
            <div class="zxmoney-result">
                <ul>
                    <li>客厅：<span id="kt-price" class="priceold">？</span><span>元</span></li>
                    <li>厨房：<span id="cf-price" class="priceold">？</span><span>元</span></li>
                    <li>卧室：<span id="zw-price" class="priceold">？</span><span>元</span></li>
                    <li>卫生间：<span id="wsj-price" class="priceold">？</span><span>元</span></li>
                    <li>水电：<span id="sd-price" class="priceold">？</span><span>元</span></li>
                    <li>其他：<span id="other-price" class="priceold">？</span><span>元</span></li>
                </ul>
            </div>
            <div class="form-box">
                <div class="zxmoney-input">
                    <input type="number" placeholder="请输入面积" name="mianji">
                    <span class="pingfang">m²</span>
                </div>
                <div class="zxmoney-sel">
                    <select class="freesj_cs" name="cs"></select>
                    <select class="freesj_qx" name="qy"></select>
                </div>
                <div class="zxmoney-input">
                    <input type="text" placeholder="怎么称呼您" name="money_name">
                </div>
                <div class="zxmoney-input">
                    <input type="text" placeholder="请输入手机号码获得结果" maxlength="11" name="money_tel">
                </div>
                <!--S-免责申明-->
                    <include file="Common@Order/disclamer"/>
                <!--E-免责申明-->
                <div class="zxmoney-button zxmoney-btn">立即获取</div>
                <input type="hidden" name="fb_type" value="baojia">
            </div>
        </div>
    </div>
</div>
<!-- E 我要装修 -->
<script type="text/javascript" >
    var Global_source1 = "{$tmpsource|default='182'}";
    var Global_source2 = "{$tmpsource1|default=158}";
</script>
<script src="{$static_host}/assets/home/meitu/js/popover_20180702.js?v={:C('STATIC_VERSION')}"></script>



