/*
* @Author: qz_dc
* @Date:   2018-09-04 10:16:59
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-09-04 10:25:41
*/
#work {
    width: 12.5rem;
    text-align: right;
    padding-left: 0.8rem;
    padding-right: 0;
    color: #999;
}