/*
* @Author: qz_dc
* @Date:   2018-09-10 10:21:29
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-09-10 10:34:31
*/
.m-main {
    background: #f8f8f8;
}
.weui-cells {
    background: #f8f8f8;
}
.weui-cells:before {
    border-top-color: #fff;
}
.weui-cells:after {
    border-bottom-color: #fff;
}
.weui-uploader__input-box:after, .weui-uploader__input-box:before {
    background-color: #999;
}
.weui-mask {
    visibility: visible;
}
.weui-dialog {
    visibility: visible;
}
a {
    width: inherit;
}
.pl1 {
    width: 100%;
}