<extend name="Main:baseTemplate" />
<block name="title">
    <title>运营系统-页面分析 - 上线分类管理</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/home/yy/css/pagecategory.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
	<section class="content-header">
        <h4>上线分类管理</h4>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12" data-id="1" data-name="顶级分类">
                            	<div class="btn btn-success add-button"><i class="fa fa-plus-circle"></i> 新增顶级分类</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-header with-border">
                                <div class="col-xs-4">分类名称</div>
                                <div class="col-xs-8">操作</div>
                            </div>
                            <div class="box-body">
                                <volist name="vars.info" id="vi">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12 no-paddding" style="padding:0;">
                                            <div class="col-xs-2 h5 no-padding master-box">
                                                <span class="list-handle">
                                                    <i class="fa fa-minus-circle"></i>
                                                    <span class="master-class class-name">{$vi.name}</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-10 h5" data-id="{$vi.id}" data-name="{$vi.name}">
                                                <span class="col-xs-2 add-button add-child-class">添加子分类</span>
                                                <span class="col-xs-2 edit-button">编辑</span>
                                                <span class="col-xs-2 del-button">删除</span>
                                            </div>
                                        </div>
                                        <div class="pagecategory-line"></div>
                                        <notempty name="vi.children">
                                            <div class="item">
                                                <volist name="vi.children" id="vj">
                                                    <div class="item-child">
                                                        <div class="col-xs-2 h5 class-name">{$vj.name}</div>
                                                        <div class="col-xs-10 h5" data-parent-id="{$vi.id}" data-parent-name="{$vi.name}" data-id="{$vj.id}" data-name="{$vj.name}">
                                                            <span class="col-xs-2"></span>
                                                            <span class="col-xs-2 edit-button">编辑</span>
                                                            <span class="col-xs-2 del-button">删除</span>
                                                        </div>
                                                    </div>
                                                    <div class="pagecategory-line"></div>
                                                </volist>
                                            </div>
                                        </notempty>
                                    </div>

                                </volist>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section name="content">
        <div class="modal fade add-wrap" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加分类</h4>
                    </div>
                    <div class="modal-body" style="overflow: hidden;">
                        <div class="col-xs-3 h5"><span class="pull-right">上级分类:</span></div>
                        <div class="col-xs-9 h5 modal-master-class parent-info">PC端</div>
                        <div class="col-xs-3 h5"><span class="pull-right">分类名称:</span></div>
                        <div class="col-xs-9"><input type="text" name="name" class="form-control"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left submit-add-button">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade edit-wrap" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">编辑分类</h4>
                    </div>
                    <div class="modal-body" style="overflow: hidden;">
                        <div class="col-xs-3 h5"><span class="pull-right">分类名称:</span></div>
                        <div class="col-xs-9"><input id="item-child-val" type="text" name="name" class="form-control"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left submit-edit-button">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade del-wrap" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">删除分类</h4>
                    </div>
                    <div class="modal-body text-center" style="overflow: hidden;">
                        <span>确认删除该分类？<br>请确认该分类下无页面!</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left submit-del-button">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script>
    	$(document).ready(function() {
            //添加子分类
            $('.add-button').click(function(event) {
                $('.add-wrap .parent-info').attr('data-parent-id', $(this).parent().attr('data-id'));
                $('.add-wrap .parent-info').text($(this).parent().attr('data-name'));
                $('.add-wrap').modal('show');
            });
            $('.submit-add-button').click(function(event) {
                $.ajax({
                    url: '/yy/pagecategory/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        type:1,
                        parent: $('.add-wrap .parent-info').attr('data-parent-id'),
                        name:$('.add-wrap input[name=name]').val()
                    }
                })
                .done(function(data) {
                    alert(data.info);
                    if ('1' == data.status) {
                        window.location.href = window.location.href;
                    };
                })
            });

            //编辑
            $('.edit-button').click(function(event) {
                $('.edit-wrap input[name=name]').attr('data-id', $(this).parent().attr('data-id'));
                $('.edit-wrap input[name=name]').val($(this).parent().attr('data-name'));
                $('.edit-wrap').modal('show');
            });
            $('.submit-edit-button').click(function(event) {
                $.ajax({
                    url: '/yy/pagecategory/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        type:2,
                        id:$('.edit-wrap input[name=name]').attr('data-id'),
                        name:$('.edit-wrap input[name=name]').val()
                    }
                })
                .done(function(data) {
                    alert(data.info);
                    if ('1' == data.status) {
                        window.location.href = window.location.href;
                    };
                })
            });
            //删除
            $('.del-button').click(function(event) {
                $('.del-wrap').attr('data-id', $(this).parent().attr('data-id'));
                $('.del-wrap').modal('show');
            });
            $('.submit-del-button').click(function(event) {
                $.ajax({
                    url: '/yy/pagecategory/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        type:3,
                        id:$('.del-wrap').attr('data-id')
                    }
                })
                .done(function(data) {
                    alert(data.info);
                    if ('1' == data.status) {
                        window.location.href = window.location.href;
                    };
                })
            });

            // 点击子分类隐藏显示
            $('.list-handle').on('click',function(){
                if( $(this).parent().parent().siblings('.item').hasClass('active')){
                    $(this).parent().parent().siblings('.item').removeClass('active');
                    $(this).find('i').removeClass('fa-plus-circle').addClass('fa-minus-circle')
                }else{
                    $(this).parent().parent().siblings('.item').addClass('active');
                    $(this).find('i').removeClass('fa-minus-circle').addClass('fa-plus-circle')
                }
            });
    	});

    </script>
</block>