<extend name="Main:baseTemplate" />
<block name="title">
<title>UV来源 - 控制台</title>
</block>
<block name="style">
<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="/assets/home/market/sc-cngl.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" href="/assets/home/yy/css/daterangepicker.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" media="all" href="/assets/home/yy/css/daterangepicker-bs3.css?v={:C('STATIC_VERSION')}"/>
<link rel="stylesheet" type="text/css" href="/assets/home/yy/css/indexoverview.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header pbootom">
        <div class="box">
            <div class="box-header boxlh with-border no-padding">
                <h3 class="box-title bxt pull-left col-xs-5"><a class="uvresourceReferrerHref" href=""></a> > UV来源</h3>
            </div>
        </div>
        <div class="box">
            <div class="box-header boxlh with-border no-padding">
                <h3 class="box-title bxt pull-left col-xs-5">&nbsp;&nbsp;{$url}</h3>
            </div>
            <div class="box-body">
                <table class="resource-table">
                    <tr>
                        <td class="v-align-center">来源类型</td>
                        <td class="v-align-center">访客数UV</td>
                    </tr>
                    <volist name="info" id="vi">
                        <tr>
                            <td class="v-align-left">{$vi.name|default="自然流量"}</td>
                            <td class="v-align-right">{$vi.uv_count}</td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script>
        $(document).ready(function() {
            //初始化导航
            if ('1' == '{$Think.get.from}') {
                localStorage.uvresourceReferrerHref = referrer();
                localStorage.uvresourceReferrerName = '页面上线分析';
            } else if ('2' == '{$Think.get.from}') {
                localStorage.uvresourceReferrerHref = referrer();
                localStorage.uvresourceReferrerName = '页面指标概览';
            }
            if ('undefined' != typeof(localStorage.uvresourceReferrerHref) && '' != localStorage.uvresourceReferrerHref) {
                $('.uvresourceReferrerHref').attr('href', localStorage.uvresourceReferrerHref);
                $('.uvresourceReferrerHref').text(localStorage.uvresourceReferrerName);
            } else {
                $('.uvresourceReferrerHref').attr('href', '/yy/indexoverview/');
                $('.uvresourceReferrerHref').text('页面指标概览');
            }
        })
    </script>
</block>