<extend name="Main:baseTemplate" />
<block name="title">
    <title>运营系统-页面分析 - 版本管理</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="/assets/home/market/sc-cngl.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/home/weixin/css/weixinlist.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/home/yy/css/daterangepicker.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/home/yy/css/daterangepicker-bs3.css?v={:C('STATIC_VERSION')}"/>
</block>
<block name="content">
    <section class="content-header">
        <h1>微信公众号管理</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- S 条件查询模块 -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">条件查询</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="rbian">
                                <div class="">公众号AppID：</div>
                                <div class="col-xs-12 no-padding shuruk">
                                    <input type="text" name="appid" value="{$keyword.appid}">
                                </div>
                            </div>
                            <div class="rbian">
                                <div class="">公众号名称：</div>
                                <div class="col-xs-12 no-padding shuruk">
                                    <input type="text" name="appsecret" value="{$keyword.appsecret}">
                                </div>
                            </div>
                            <div class="rbian">
                                <div class="">所属部门：</div>
                                <div class="col-xs-12 no-padding shuruk">
                                    <select name="dept" id="dept">
                                        <option value=''>-请选择-</option>
                                        <volist name="bumen" id='v'>
                                            <option value='{$v.id}'>{$v.name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="rbian">
                                <div class="">运营者：</div>
                                <div class="col-xs-12 no-padding shuruk">
                                    <input type="text" name="wxmanager" value="{$keyword.wxmanager}">
                                </div>
                            </div>
                            <div class="rbiantime">
                                <div class="">注册日期：</div>
                                <div class="col-xs-12 no-padding shuruk">
                                    <input id="regtime" type="text" placeholder="选择日期范围" value="{$keyword.regtime}" name="regtime">
                                </div>
                            </div>
                            <div class="rbiantime rbiantime2">
                                <div class="">认证日期：</div>
                                <div class="col-xs-12 no-padding shuruk">
                                    <input id="auttime" type="text" placeholder="选择日期范围" value="{$keyword.auttime}" name="auttime">
                                </div>
                            </div>
                            <div class="col-xs-1 chaxun1" id="search">
                                <br>
                                <button type="button" class="btn btn-block btn-primary normal" id="searchNow">
                                    <i class="fa fa-search"></i> 查询
                                </button>
                            </div>
                            <div class="addgzhniu" id="addNew">
                                <br>
                                <a href="/yy/addweixin/" target="_blank">
                                    <button type="button" class="btn btn-block btn-primary normal">
                                        <i class="fa fa-plus-circle"></i> 新增公众号
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                   <!--  <div class="box-footer">
                        <div class="row">
                           
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-xs-12 wenzbujv">
                        <div class="downniu">
                         <button type="button" class="btn btn-block btn-primary normal" id="importAct">
                                    导入
                         </button>
                     </div>
                     <div class="downniu">
                         <a href="/export/exportYYWXModule/" class="hideLoading"><button type="button" class="btn btn-block btn-primary normal">下载模板</button></a>
                     </div>
                    </div>
                </div>
                <!-- E 条件查询模块 -->
                <!-- S 表格内容模块 -->
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>公众号AppID</th>
                                                <th class="text-left">公众号名称</th>
                                                <th class="text-left">类型</th>
                                                <th>所属部门</th>
                                                <th class="text-left">运营者</th>
                                                <th class="text-left">运营者微信号</th>
                                                <th class="text-left">运营者手机号</th>
                                                <th class="text-left">注册邮箱</th>
                                                <th class="text-left">注册日期</th>
                                                <th class="text-left">认证日期</th>
                                                <th class="text-left">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <volist name="list" id="v">
                                                    <tr>
                                                        <td>{$v.xuhao} </td>
                                                        <td>{$v.appid}</td>
                                                        <td>{$v.wxname}</td>
                                                        <td>
                                                            <switch name="v.wxtype">
                                                                <case value="1">公众号</case>
                                                                <case value="2">服务号</case>
                                                                <case value="3">企业号</case>
                                                            </switch>
                                                        </td>
                                                       <td>{$v.firstname} — {$v.deptname}</td>
                                                       <td>{$v.wxmanager}</td>
                                                       <td>{$v.wx_mwx}</td>
                                                       <td>{$v.wxmobile}</td>
                                                       <td>{$v.wxmail}</td>
                                                       <td>{$v.regtime|date="Y-m-d",###}</td>
                                                       <td>{$v.auttime|date="Y-m-d",###}</td>
                                                       <td><span><a class="editbj" href="/yy/addweixin/?id={$v.id}" target="_blank">编辑</a></span><span class="delshanc" data-id="{$v.id}">删除</span></td>
                                                    </tr>
                                                </volist>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {$page}
            </div>
        </div>
        <div class="shanchutk">
            <div class="neirong">确认删除该公众号吗？</div>
            <div class="anniu">
                <button class="btn btn-primary" id="delNow">确认</button>
                <button class="btn btn-default quxiao">取消</button>
            </div>   
        </div>
        <div class="modal fade in" id="importExcel" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="" id="uploadForm" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">批量导入微信</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal .control-label">
                            <div style="overflow: hidden;">
                                <div class="col-xs-5 no-padding">
                                    <h3>导入Excel表：</h3>
                                    <input  type="file" name="excel" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="thisId" value="">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="upload">上传指标</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/cxselect/jquery.cxselect.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/home/yy/js/moment.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/home/yy/js/daterangepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(document).ready(function() {
            $("#dept").val("{$keyword.dept}");
            // 时间选择
            $('#regtime,#auttime').daterangepicker({
                timePicker: false,
                timePickerIncrement: 30,
                format: 'YYYY/MM/DD',
                timePicker12Hour: false,
                opens: "left"
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
         
            $('#searchNow').click(function(){
                var appid       = $('input[name=appid]').val();
                var appsecret   = $('input[name=appsecret]').val();
                var dept        = $('#dept').val();
                var wxmanager   = $('input[name=wxmanager]').val();
                var regtime     = $('#regtime').val();
                var auttime     = $('#auttime').val();

                window.location.href = '/yy/weixinlist/?appid='+appid+'&appsecret='+appsecret+'&dept='+dept+'&wxmanager='+wxmanager+'&regtime='+regtime+'&auttime='+auttime;
            });


            $('.shanchutk .quxiao').click(function(){
                $('.shanchutk').hide();
            });

            $('table .delshanc').click(function(){
                var id = $(this).attr('data-id');
                $("#delNow").attr('data-id',id);
                $('.shanchutk').show();
            });

            $('#delNow').click(function(){
                $.ajax({
                    url: '/yy/manageweixin/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type:3,
                        id:$(this).attr('data-id')
                    }
                })
                .done(function(data) {
                    if(data.status == '1'){
                        alert(data.info);
                        window.location.href = '/yy/weixinlist/';
                    }else{
                        alert(data.info);
                    }
                })
                .fail(function(xhr) {
                    alert('网络错误，操作失败!');
                })
            });

               
            //上传
            $('#importAct').click(function(event){
                $('#importExcel').modal('show');
            });
            $("#upload").click(function () {
                //var formData = new FormData();
                //formData.append("excelFile", document.getElementById("file1").files[0]);
                var formData = new FormData($("#uploadForm")[0]);
                $.ajax({
                    url: "/yy/uploadWXForm/",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == 1) {
                            alert("上传成功！");
                            window.location.reload();
                        }
                        if (data.status == 0) {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert("上传失败！");
                    }
                });
            });


        });

    </script>
</block>