@charset "utf-8";
*{padding:0;margin:0;}
li{list-style: none;}

#wrap{width:260px;font-family:"Microsoft YaHei"; overflow:hidden}

#kalendar{width:260px; overflow:hidden; color:#666}
/* 选择年月 的行 */
#kalendar tr#select{width:260px;height:40px;background:#ff6060;}
#kalendar tr#select td{clear:both;}
#kalendar tr#select td div{float:left;width:130px;height:40px;line-height:40px;}
#kalendar tr#select #year,#kalendar tr#select #month{width:130px;}
#select #year ul,#select #month ul{clear:both;}
#select #year ul li,#select #month ul li{float:left;width:30px; }
#select #year ul li input,#select #month ul li input{width:20px;text-align:30px;cursor:pointer;background:#fff; border:0; padding:0; margin:0 5px; height:20px}
#select #year ul li.selectChange,#select #month ul li.selectChange{width:70px;height:10px;}
#select #year ul li.selectChange select,#select #month ul li.selectChange select{width:70px;cursor:pointer;}
#select #year ul li.selectChange select option,#select #month ul li.selectChange select option{}

/* 星期表头 的行 */
#kalendar tr#week{height:36px;}
#kalendar tr#week td ul{width:259px;clear:both;}
#kalendar tr#week td ul li{float:left;width:36px;height:36px;line-height:36px;margin-right:1px;text-align:center;background:#eee;}

/* 某月具体日期 的每一行 */
#kalendar tr#day ul.dayList{width:259px;height:36px;clear:both;margin-top:1px;}
#kalendar tr#day ul.dayList li{float:left;width:36px;height:36px;line-height:36px;text-align:center;margin-right:1px;background:#f7f7f7;cursor:pointer;}
/* 日期占用行数(4-6行)，将不需要显示的行隐藏 */
#kalendar tr#day ul.hide{display:none;}
/* 周末 的特殊样式 */
#week .weekend,#day .weekend{color:#EA0000;}

/* 下面几个样式注意顺序，选择器不能简写，否则日历中 今天 的样式会被鼠标滑过的样式替换 */
/* 鼠标经过某个日期 的特殊样式 */
#kalendar tr#day td ul.dayList li.mouseFloat{background:#ff8b8b; color:#fff}
/* 当天是周末 的特殊样式 */
#kalendar tr#day td ul.dayList li.todayWeekend{color:#EA0000;background:#f1f1f1;}
/* 当天 的特殊样式 */
#kalendar tr#day td ul.dayList li.today{background:#f1f1f1;}
