/*
* @Author: qz_xsc
* @Date:   2017-10-24 09:58:36
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-11-13 09:38:42
*/
.ck-slide .ck-prev{left: 0px;}
.ck-slide .ck-slidebox{left:50%;}
.jx-list{margin-bottom:30px;}
.jx-list ul li{width:278px;height:250px; border :1px solid #d6d6d6; float:left; text-align:center;position: relative; margin-right:30px; margin-bottom:20px; overflow: hidden;}
.jx-img{ height:210px;}
.jz-title{line-height: 36px; font-size:15px; width:100%;position:absolute; bottom:0px; z-index:999; background: white;}
.jz-content{width:calc(100% -10px); height:50px; bottom:-36px; text-align: left;
position: absolute; background: rgba(0,0,0,0.6); z-index:9; padding:5px; color:#fff; font-size: 14px;
    transition: all 0.2s;
-moz-transition: all 0.2s;  /* Firefox 4 */
-webkit-transition: all 0.2s;   /* Safari 和 Chrome */
-o-transition: all 0.2s;    /* Opera */}
.jx-list ul li.selected:after{
    content: "";
    width: 56px;
    height: 51px;
    position: absolute;
    top:0px;
    left:0px;
    background: url('../images/zx-arrow.png');
}
.jx-list ul li:nth-child(4n){
    margin-right:0px;
}
.mt20{margin-top: 20px;}
.jx-list ul li:hover .jz-content{bottom:40px;}
.page a:first-child{border-left: 1px solid #d8d8d8}
.bread{font-size: 12px; }
.play{height: 360px;}
.home-slider{width: 1210px;}
.ck-slide{height:360px;}
.ck-slide ul.ck-slide-wrapper{height: 360px;}
.ck-slide ul.ck-slide-wrapper li{height: 360px;}
.ck-slide ul.ck-slide-wrapper li img{ width:1210px; height: 360px; margin-left: -605px; }