<extend name="Common:basic"/>
<block name="title"><title>装修享好礼，享20000元新优惠券福利-齐装网</title></block>
<block name="keywords"><meta name="keywords" content="装修享好礼，报名赢取20000元优惠券。装修建材家具家，全新优惠，精彩不容错过。" /></block>
<block name="description"><meta name="description" content="装修享好礼，建材家具家居优惠券，价值20000元，优惠不容错过。" /></block>
<block name="link">
    <link href="http://{:C('QZ_YUMINGWWW')}/" rel="canonical"/>
    <link href="/assets/mobile/activity/hd2w/css/hd2w_a18049.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="content">
    <div class="top_banner">
        <img src="/assets/mobile/activity/hd2w/img/banner.jpg" alt="">
    </div>

    <div class="quan-box clearfix">
        <div class="quan-item">
            <img src="/assets/mobile/activity/hd2w/img/1.png" alt="" class="img-responsive">
            <a href="#fadan-box" class="get"></a>
        </div>
        <div class="quan-item">
            <img src="/assets/mobile/activity/hd2w/img/2.png" alt="" class="img-responsive">
            <a href="#fadan-box" class="get fix1"></a>
        </div>
        <div class="quan-item">
        	<img src="/assets/mobile/activity/hd2w/img/3.png" alt="" class="img-responsive">
            <a href="#fadan-box" class="get"></a>
        </div>
        <div class="quan-item">
			<img src="/assets/mobile/activity/hd2w/img/4.png" alt="" class="img-responsive">
            <a href="#fadan-box" class="get fix2"></a>
        </div>
        <div class="quan-item">
            <img src="/assets/mobile/activity/hd2w/img/5.png" alt="" class="img-responsive">
            <a href="#fadan-box" class="get"></a>
        </div>
        <div class="quan-item">
            <img src="/assets/mobile/activity/hd2w/img/6.png" alt="" class="img-responsive">
            <a href="#fadan-box" class="get"></a>
        </div>

    </div>
    <div class="fadan-box" id="fadan-box">
        <div class="fadan-title">立即领取装修大礼包</div>
        <ul class="">
            <li>
                <gt name="mapUseInfo.vipcount" value="0">
                    <button id="showCityPicker2" class="city-btn" type="button">
                        <i class="fa fa-map-marker"></i>
                        <empty name="mapUseInfo.id">
                        请选择您所在的区域
                        <else />
                        {$mapUseInfo.provincefull} {$mapUseInfo.name} {$mapUseInfo.cityarea}
                        </empty>
                    </button>
                    <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                    <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                    <input type="hidden" name="area" data-id="{$mapUseInfo.areaid}">
                <else />
                    <button id="showCityPicker2" class="city-btn" type="button">
                        <i class="fa fa-map-marker"></i>
                        请选择您所在的区域
                    </button>
                    <input type="hidden" name="province" data-id="">
                    <input type="hidden" name="city" data-id="">
                    <input type="hidden" name="area" data-id="">
                </gt>
            </li>
            <li class="input-li">
                <input class="" type="text" name="name" maxlength="13" placeholder="怎么称呼您" autofocus="true">
            </li>
            <li class="input-li">
                <input class="" type="tel" name="tel" maxlength="11" placeholder="输入手机号领取大礼包">
            </li>
        </ul>
        <a href="javascript:void(0)" class="submit-btn"  data-setting-click="taff">立即领取</a>
        <input type="hidden" name="source" value="{$source}">
    </div>
    <div class="shuoming_box">
        <div class="libao hd-shuoming">活动说明</div>
        <div class="modal_box">
            <div class="modal_wrap">
                <div class="hz_box">
                    <div class="hz_xz">
                        <div class="fangjiao left_top"></div>
                        <div class="fangjiao right_top"></div>
                        <p class="h2 text-center">价值20000元装修大礼包</p>
                        <p>1、本次活动截止时间：2018.12.31</p>
                        <p>2、领券用户可获得齐装网提供的大礼包一份（内容如下）</p>
                        <p>A、齐装网提供1份装修报价+4套户型设计服务（价值10000元）。</p>
                        <p>B、金牌橱柜提供的满3万减3000的优惠券（价值3000元）</p>
                        <p>C、迪玛卫浴提供的满3万减3000的优惠券（价值3000元）</p>
                        <p>D、新居源提供的满3万减3000的优惠券（价值3000元）</p>
                        <p>E、舒敏怡家提供的怡家安睡权卧室除螨除菌服务1次（价值1000元）</p>
                        <p>有效期截止：2018.12.31</p>
                        <p>详情可通过关注微信公众号：府院装修，回复“礼包”获得品牌全新折扣优惠资格</p>
                        <div class="fangjiao left_bottom"></div>
                        <div class="fangjiao right_bottom"></div>
                    </div>
                </div>

                <div id="bototm_img">
                    <img src="/assets/mobile/activity/hd2w/img/bottom_ewm.png" alt="" style="width:100%">
                </div>
            </div>
        </div>
    </div>

    <div class="success_bg">
        <div class="success_box">
            <div class="success_head">
                <i class="fa fa-check-circle"></i><span class="gx_title">恭喜您获得</span>
            </div>
            <div class="sub-caption">价值20000元装修大礼包</div>
            <div class="success_neck">
                稍后会有客服人员联系您，请保持手机畅通哦~
            </div>
            <div class="success_foot">
                我知道了
            </div>
        </div>
    </div>
     <input type="hidden" name="hide_city_id" value="{$mapUseInfo.areaid}">
</block>
<block name="script">
    <script type="text/javascript" src="/assets/mobile/sub/js/TouchSlide.1.1.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="https://m.cudaojia.com/dist/effectListen/effectListen.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="http://interaction.bayimob.com/static/hdggstatistics.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//yun.tuisnake.com/h5-mami/log.js?v={:C('STATIC_VERSION')}" id="send_log"></script>
    <script type="text/javascript">
        var flag = '';

        $(".submit-btn").click(function(event) {

            // 处理软键盘弹出后导致的空白事件
            $("input[name='name']")[0].blur();
            $("input[name='tel']")[0].blur();
            //return false;

        	var name = $("input[name=name]").val();
	        var tel = $("input[name=tel]").val();

	        var cs = $('input[name=city]').attr('data-id');
	        var qx = $('input[name=area]').attr('data-id');
            if (!App.validate.run(name)) {
                alertTips("请输入您的称呼");
                return false;
            }else{
                var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                if(!reg.test(name)){
                    alertTips("请输入正确的称呼，只支持中文和英文 ^_^!");
                    return false;
                }
            }

            if (!App.validate.run(tel)) {
                alertTips("请输入您的手机号码");
                return false;
            }else{
                var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                if(!reg.test(tel)){
                    alertTips("请填写正确的手机号码");
                    return false;
                }
            }

            if('' == cs || '' == qx){
                alertTips('请选择您所在的区域 ≧▽≦');
                return false;
            }

            //分别统计发单标识
            var sourceId = '18050432';

            window.order({
                extra:{
                    cs: cs,
                    qx: qx,
                    name:$("input[name=name]").val(),
                    tel:$("input[name=tel]").val(),
                    source:sourceId,
                },
                error:function(){},
                success:function(data, status, xhr){
                    if(data.status == 1){
                        countLog.init();
                        $(".success_bg").css("display","block");
                    }else{
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    return true;
                }
            });
        });


        $(".success_foot").click(function(){
            $(".success_bg").fadeOut();
        });

        window.onload = function(){
            setTimeout(function(){
                selectQz.init({
                    province: $("input[name=province]").attr("data-id"),
                    city: $("input[name=city]").attr("data-id"),
                    area: $("input[name=area]").attr("data-id")
                });
            }, 500);
        }

        $("a[href='#fadan-box']").on("click",function(){
            setTimeout(function(){
                $("input[name='name']")[0].focus();
            },0);
        });


        function alertTips(msg){
            msg = msg ? msg : "";
            setTimeout(function(){
                alert(msg);
            },400);
        }
    </script>
</block>