header .m-header-city {
    left: 9em;
    position: absolute;
    font-size: 0.8em;
    top: 0;
}
.lucky-img{
    width: 100%;
}
.lucky-img img{
    width: 100%;
    height: auto;
}
.lucky-bd{
    background-color: #fff;
    overflow: hidden;
}
/*S-表单修改*/
.m-bj-edit {
    margin: 15px 10px;
}
.m-bj-edit li .m-row-int1 {
    color: #434343;
    font-family: "Microsoft Yahei";
}
.m-bj-edit li .m-bj-edit-list{
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
}
.m-bj-edit li button{
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    background-color: #FC891F;
    font-size: 1.05em;
    font-weight: 300;
    outline: none;
    border: none;
    color: #fff;
    font-family: "Microsoft Yahei";
}
/*E-表单结束*/
.lucky-wenda{
    background-color: #fff;
    text-align: center;
    padding-top: 0.55em;
}
.lucky-wenda .wd-tle{
    width: 9.38em;
    height: 2.56em;
    background-color: #F5E9DB;
    display: inline-block;
    position: relative;
    line-height: 2.56em;
    color: #D8594F;
    font-size: 1.1em;
    font-weight: 600;
    font-family: "SimHei";
    margin-bottom: 0.6em;
}
.lucky-wenda .wd-tle img{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 1.03em;
    height: 1.03em;
}
.lucky-wenda span:before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1em solid #FAC67D;
    border-right: 1em solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
.lucky-wenda span:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 1em solid #fff;
    border-left: 1em solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
.lucky-wenda .wd-uls{
    text-align: left;
    padding-left: 2em;
    position: relative;
    padding-bottom: 1em;
}
.lucky-wenda .wd-uls li{
    font-family: "SimHei";
    line-height: 1.9em;
}
.lucky-wenda .wd-uls li:before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #D7574E;
    position: absolute;
    border-radius: 3px;
    left: 1.2em;
    margin-top: 0.8em;
}
.call-tel{
    margin-top: 0 !important;
}
footer{
    background-color: #fff;
}

