header .m-header-city {
    left: 9em;
    position: absolute;
    font-size: 0.8em;
    top: 0;
}
.jr-box{
    background-color: #fff;
    text-align: center;
    padding: 2em 0.9em;
}
.jr-box span{
    color: #D13A30;
    font-size: 1.05em;
    font-weight: 400;
    font-family:SimHei;
}
.jr-uls{
    margin-top: 2em;
    font-size: 0.8em;
    text-align: left;
}
.jr-uls li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 3em;
    font-family: SimHei;
    color: #000;
}
.jr-box p{
    padding-top: 1.5em;
    color: #666666;
    font-size: 0.7em;
    word-spacing: 8px;
    letter-spacing: 1px;
    padding: 1.5em 1.5em 0;
    line-height: 1.7em;
}
.call-tel{
    margin-top: 0 !important;
}
footer{
    background-color: #fff;
}