<!doctype html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="mobile-agent" content="format=html5;url=http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/caseinfo/{$caseInfo.case.now.id}.shtml" />
    <title>{$keys.title}-{$title}装修效果图</title>
    <meta name="keywords" content="{$keys.keywords}" />
    <meta name="description" content="{$keys.description}" />
    <include file="Index:resource" />
    <link href="{$static_host}/assets/common/css/step.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/common/css/tanchuang.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/meitu/css/meituinfo.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$static_host}/assets/common/js/alert.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/home/meitu/js/meituinfo.js?v={:C('STATIC_VERSION')}"></script>
</head>
<body>
<script type="text/javascript">
function resize(){
    var h = $(".right-sider").height() + $('.wlmain').height();
    $(".meitu-wrap").height(h);
}
$(function() {
    window.onresize = function(){
        resize();
    }
    resize();
});
</script>
<include file="Case:header" />
<div class="meitu-bread">
    <dl>
        <dt class="bread-nav"><a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/company_case/{$caseInfo.case.now.uid}/">装修案例</a>
        </dt>
        <dd>&gt;</dd>
        <dt>
            <a href="http://{$cityInfo.bm}.{:C('QZ_YUMING')}/caseinfo/{$caseInfo.case.now.id}.shtml" title="{$caseInfo.case.now.title}">{$caseInfo.case.now.title}图集</a>
        </dt>
        <dd style="margin-left:20px">发布时间：{$caseInfo.case.now.time|date='Y-m-d H:i:s',###}</dd>
    </dl>
    <div class="meitu-wechat">收藏到微信
        <div class="dmap">
            <h1><span></span>微信扫描，看图更方便</h1>
            <img src="{$static_host}/assets/home/meitu/img/2dmap.png">
        </div>
    </div>
    <div class="meitu-collect">
        <if condition="$caseInfo['collect']">
            <a href="javascript:javascript:void(0)" data-id="{$caseInfo.case.now.id}"  class="collect collect-bind" data-on="1">已收藏</a>
            <else/>
             <a href="javascript:javascript:void(0)" data-id="{$caseInfo.case.now.id}"  class="collect" data-on="0">收藏</a>
        </if>
    </div>
</div>
<div class="meitu-wrap">
    <div class="left-sider">
        <div class="comp mt10">
            <if condition="($caseInfo['case']['now']['uid'] != '') && ($caseInfo['case']['now']['qc'] != '')">
            <h1><a href="/company_home/{$caseInfo.case.now.uid}" target="_blank">{$caseInfo.case.now.qc|mbstr=0,12}</a></h1>
            <p class="ico">
              <if condition="$caseInfo['case']['now']['on'] EQ 2 AND $caseInfo['case']['now']['fake'] EQ 0">
                <span title="该公司营业执照已认证"><i class="ico1">认</i>
                </span>
                <span title="该公司有优惠"><i class="ico2">惠</i>
                </span>
              </if>
              <span title="设计方案"><a href="/company_case/{$caseInfo.case.now.uid}" target="_blank"><i class="ico3">案</i></a>{$caseInfo.case.now.casecount|default=0}</span>
              <span title="设计师"><a href="/company_team/{$caseInfo.case.now.uid}" target="_blank"><i class="ico4">设</i></a>{$caseInfo.case.now.groupcount|default=0}</span>
              <span title="业主评价"><a href="/company_message/{$caseInfo.case.now.uid}" target="_blank"><i class="ico5">评</i></a>{$caseInfo.case.now.commentcount|default=0}</span>
            </p>
            <a href="javascript:void(0)" id="btnsj" data-id="{$caseInfo.case.now.uid}" class="btn">帮我免费设计</a>
            <ul class="mt20">
                <li><i>楼　　盘:</i>{$caseInfo.case.now.title}</li>
                <li><i>户型结构:</i>{$caseInfo.case.now.hname}</li>
                <li><i>房屋面积:</i>{$caseInfo.case.now.mianji}平米</li>
                <li><i>装修类型:</i>{$caseInfo.case.now.type}</li>
                <li>
                    <i>设计风格:</i>
                    <empty name="fenggeLink[$caseInfo['case']['now']['fengge']]">
                        {$caseInfo.case.now.fengge}
                    <else />
                        <a href="{$fenggeLink[$caseInfo['case']['now']['fengge']]}" target="_blank">{$caseInfo.case.now.fengge}</a>
                    </empty>
                </li>
            </ul>
            <else/>
                <p class="no-owner">〒_〒亲，暂时无法提供该公司信息</p>
                <a href="javascript:void(0)" id="btnsj"  class="btn">帮我免费设计</a>
                <ul class="mt20">
                    <li><i>楼　　盘:</i>{$caseInfo.case.now.title}</li>
                    <li><i>户型结构:</i>{$caseInfo.case.now.hname}{$caseInfo.case.now.shi}室{$caseInfo.case.now.ting}厅{$caseInfo.case.now.wei}卫</li>
                    <li><i>房屋面积:</i>{$caseInfo.case.now.mianji}平米</li>
                    <li><i>装修类型:</i>{$caseInfo.case.now.type}</li>
                    <li>
                        <i>设计风格:</i>
                        <empty name="fenggeLink[$caseInfo['case']['now']['fengge']]">
                            {$caseInfo.case.now.fengge}
                        <else />
                            <a href="{$fenggeLink[$caseInfo['case']['now']['fengge']]}" target="_blank">{$caseInfo.case.now.fengge}</a>
                        </empty>
                    </li>
                </ul>
            </if>
        </div>
        {$orderTmp}
        <div class="right-box mt20">
            <div class="right-tit">新标签</div>
            <ul class="bq-list oflow">
                <volist name="caseInfo.newTags" id="vo">
                    <li>
                        <a href="http://{:C('MEITU_DONAMES')}/tags/meitu{$vo.id}" title="{$vo.name}" target="_blank">{$vo.name}</a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
</div>
<div class="right-sider">
    <!--主体内容-->
    <div class="main">
        <!--图片特效内容开始-->
        <div class="piccontext">
            <!--大图展示-->
            <div class="picshow">
                <div class="picshowtop imgbox">
                    <volist name="caseInfo.case.now.child" id="vo">
                        <a class="bigshow" href="#">
                            <if condition="$vo['img_host'] EQ 'qiniu'">
                                <img id="pic1" alt="{$vo.title}{$caseInfo.case.now.fengge}装修效果图实景图" src="http://{:C('QINIU_DOMAIN')}/{$vo.img_path}-s3.jpg"  />
                                <else/>
                                <img id="pic1" alt="{$vo.title}{$caseInfo.case.now.fengge}装修效果图实景图" src="http://{:C('STATIC_HOST1')}{$vo.img_path}m_{$vo.img}"  />
                            </if>
                        </a>
                    </volist>
                    <a id="preArrow" href="javascript:void(0)" class="contextDiv" title="上一张"><span id="preArrow_A"></span></a>
                    <a id="nextArrow" href="javascript:void(0)" class="contextDiv" title="下一张"><span id="nextArrow_A"></span></a>
                </div>
                <!-- <div class="picshowtxt">
                    <div class="picshowtxt_left"><span>1</span>/<i>{$caseInfo.case.now.count}</i></div>
                    <div class="picshowtxt_right">
                        {$caseInfo['case']['now']['text']}
                    </div>
                </div> -->
                <div class="picshowlist">
                    <!--上一个图集-->
                    <div class="picshowlist_left">
                        <div class="picleftimg">
                            <if condition="$caseInfo['case']['prv'] NEQ ''">
                                <a href="/caseinfo/{$caseInfo['case']['prv']['id']}.shtml" title="{$caseInfo['case']['prv']['title']}">
                                <if condition="$caseInfo['case']['prv']['child'][0]['img_host'] EQ 'qiniu'">
                                    <img alt="{$caseInfo['case']['prv']['child'][0]['title']}" src="http://{:C('QINIU_DOMAIN')}/{$caseInfo['case']['prv']['child'][0]['img_path']}-w300.jpg"  />
                                    <else/>
                                    <img alt="{$caseInfo['case']['prv']['child'][0]['title']}" src="http://{:C('STATIC_HOST1')}{$caseInfo['case']['prv']['child'][0]['img_path']}s_{$caseInfo['case']['prv']['child'][0]['img']}"/>
                                </if>
                                </a>
                            <else /> 没有了
                            </if>
                        </div>
                    </div>
                    <div class="picshowlist_mid">
                        <div class="picmidleft">
                            <a href="javascript:void(0)" id="preArrow_B"><img src="{$static_host}/assets/home/meitu/img/left1.jpg" alt="上一个" /></a>
                        </div>
                        <div class="picmidmid">
                            <ul>
                                <volist name="caseInfo.case.now.child" id="vo">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <if condition="$vo['img_host'] EQ 'qiniu'">
                                                <img alt="{$vo.title}" src="http://{:C('QINIU_DOMAIN')}/{$vo.img_path}-w300.jpg"  bigimg="http://{:C('QINIU_DOMAIN')}/{$vo.img_path}-s3.jpg" curindex="{$key}" />
                                                <else/>
                                                <img alt="{$vo.title}" src="http://{:C('STATIC_HOST1')}{$vo.img_path}s_{$vo.img}"  bigimg="http://{:C('STATIC_HOST1')}{$vo.img_path}m_{$vo.img}" curindex="{$key}" />
                                            </if>
                                            <div class="mid-txt">
                                                {$key+1}/{$caseInfo.case.now.count}
                                            </div>
                                        </a>

                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <div class="picmidright">
                            <a href="javascript:void(0)" id="nextArrow_B"><img src="{$static_host}/assets/home/meitu/img/right1.jpg" alt="下一个" /></a>
                        </div>
                    </div>
                    <!--下一个图集-->
                    <div class="picshowlist_right">
                        <div class="picleftimg">
                            <if condition="$caseInfo['case']['next'] NEQ ''">
                                <a href="/caseinfo/{$caseInfo['case']['next']['id']}.shtml" title="{$caseInfo['case']['next']['title']}">
                                    <if condition="$caseInfo['case']['next']['child'][0]['img_host'] EQ 'qiniu'">
                                        <img alt="{$caseInfo['case']['next']['child'][0]['title']}" src="http://{:C('QINIU_DOMAIN')}/{$caseInfo['case']['next']['child'][0]['img_path']}-w300.jpg" />
                                        <else/>
                                        <img alt="{$caseInfo['case']['next']['child'][0]['title']}" src="http://{:C('STATIC_HOST1')}/{$caseInfo['case']['next']['child'][0]['img_path']}s_{$caseInfo['case']['next']['child'][0]['img']}" />
                                    </if>
                                </a>
                                <else /> 没有了
                            </if>
                        </div>
                    </div>
                </div>
            </div>
            <!--给搜索引擎看-->
            <div class="piclistshow">
                <ul>
                    <volist name="caseInfo.case.now.child" id="vo">
                        <li>
                            <a href="javascript:void(0);">
                                <if condition="$vo['img_host'] EQ 'qiniu'">
                                    <img alt="{$vo.title}{$caseInfo.case.now.fengge}装修效果图实景图" src="http://{:C('QINIU_DOMAIN')}/{$vo.img_path}-s3.jpg"  curindex="{$key}" />
                                    <else/>
                                    <img alt="{$vo.title}{$caseInfo.case.now.fengge}装修效果图实景图" src="http://{:C('STATIC_HOST1')}{$vo.img_path}m_{$vo.img}"  curindex="{$key}" />
                                </if>
                            </a>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <input id="safecode" type="hidden" value="{$safecode}" />
        <input id="safekey" type="hidden" value="{$safekey}" />
    </div>
    <div style="clear:both"></div>
    <script type="text/javascript">
        var shen, shi;
        shen = citys["shen"];
        shi = citys["shi"];

        $(function() {
            $("input[name='name']").focus();
            $(".allsend a").click(function(event) {
                var _this = $(this);
                var index = $(this).attr("data-index");
                var id = "{$caseInfo.id}";
                $.ajax({
                        url: '/getComment',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            index: index,
                            id: id
                        }
                    })
                    .done(function(data) {
                        if (data.status == 1) {
                            $(".plcontent").append($(data.data.tmp));
                            _this.attr("data-index", data.data.index);
                            if (data.data.show == false) {
                                $(".allsend").hide();

                            }
                            _this.attr("data-index", data.data.index);
                        }
                    })
                    .fail(function(xhr) {
                        $.pt({
                            target: _this,
                            content: "获取失败,请稍后再试",
                            width: 'auto'
                        });
                    });
            });
            $(".t1").bind("input propertychange", function() {
                $(".send .error").html("");
                var length = $(this).val().length;
                if (length > 200) {
                    $(".send .info i").html(200);
                    var offset = length - 200;
                    $(".send .error").html("您已经超出了 " + offset + " 字");
                } else {
                    $(".send .info i").html(200 - length);
                }
            });

            $(".verify").click(function(event) {
                $(this).find("img").attr("src", "/verify?rand=" + Math.random());
            });

            $("#btnComment").click(function(event) {
                $(".send .error").html("");
                var _this = $(this);
                if ($(".t1").val() == "") {
                    $.pt({
                        target: _this,
                        content: "亲,您怎么着的也得说点什么吧！",
                        width: 'auto'
                    });
                    return false;
                }
                if ($(".t1").val().length > 200) {
                    $.pt({
                        target: _this,
                        content: "亲,你写的太多了,少点吧！",
                        width: 'auto'
                    });
                    return false;
                }
                if ($("input[name=verifyCode]").val() == "") {
                    $.pt({
                        target: _this,
                        content: "请输入验证码",
                        width: 'auto'
                    });
                    return false;
                }

                $.ajax({
                        url: '/casecomment',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            id: "{$caseInfo.id}",
                            content: $(".t1").val(),
                            code: $("input[name=verifyCode]").val()
                        },
                    })
                    .done(function(data) {
                        if (data.status == 1) {
                            // $(".plcontent").html($(data.data.tmp));
                            $(".textinput input,.textinput textarea").val("");
                            $(".textinput .send").find("img").attr("src", "/verify?rand=" + Math.random())
                        }
                        $.pt({
                            target: _this,
                            content: data.info,
                            width: 'auto'
                        });

                    })
                    .fail(function(xhr) {
                        $.pt({
                            target: _this,
                            content: "提交失败,请稍后再试！",
                            width: 'auto'
                        });
                    });
            });

            $("#btnsj").click(function(event) {
                var cid = $(this).attr("data-id");
                $.ajax({
                        url: '/dispatcher/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            type: "sj",
                            action: "load",
                            cs: "{$cityInfo.id}",
                            source:'158',
                            select_comid : '{$caseInfo.case.now.uid}',
                            display_type : '1',
                            cid: cid
                        }
                    })
                    .done(function(data) {
                        if (data.status == 1) {
                            $("body").append(data.data);
                            $(".zb_box_sj").fadeIn(400, function() {
                                $(this).find("input[name=lf-name]").focus();
                            });
                        }
                    });
            });
        });
    </script>
    <if condition="!isset($_SESSION['u_userInfo'])">
    <script type="text/javascript">
        $(".collect").click(function(event) {
            var _this = $(this);
            $.ajax({
                url: '/login/',
                type: 'POST',
                dataType: 'JSON',
                timeOut:3000,
                data:{
                    ssid:"{$ssid}"
                }
            })
            .done(function(data) {
                if(data.status == 1){
                    $("body").append(data.data);
                    $(".win_login").fadeIn(400);
                }
            }).fail(function(xhr) {
                //显示提示
                $.pt({
                    target: _this,
                    content: '操作失败,请稍后再试！',
                    width: 'auto'
                });
            });
        });
    </script>
    <elseif condition="isset($_SESSION['u_userInfo']) AND $_SESSION['u_userInfo']['classid'] NEQ 3 AND !$caseInfo['collect']"/>
        <script type="text/javascript">
        $(".collect").click(function(event) {
            var id = $(this).attr("data-id");
            var _this = $(this);
            if(_this.attr("data-on") == 1){
                return false;
            }
            $.ajax({
                url: '/collect/',
                type: 'POST',
                dataType: 'JSON',
                data:{
                    classtype:"2",
                    classid:id,
                    ssid:"{$ssid}"
                }
            })
            .done(function(data) {
                if(data.status == 1){
                    _this.attr("data-on",1).addClass('collect-bind').html("已收藏").Alert({
                        css:{
                            "width":"200px",
                            "height":"60px",
                            "background":"#E76363",
                            "margin-left":"-100px",
                            "margin-top":"-30px",
                            "font-size":"20px",
                            "line-height":"60px"
                        },
                        text:"收藏成功 +1"
                    });
                }
            }).fail(function(xhr) {
                //显示提示
                $.pt({
                    target: _this,
                    content: '操作失败,请稍后再试！',
                    width: 'auto'
                });
            });
        });
    </script>
    </if>
</div>
<div style="clear:both"></div>
<include file="Index:footer" />
</body>
</html>