<form class="secbox_form" onsubmit="return false;">
    <div class="f_box f_white_box">
        <div class="f_top_h">
            设计与报价
        </div>
        <div class="f_container">
            <div id="tab_f">
                <div class="j-tab-nav f_h">
                    <a href="javascript:void(0)" class="current" >装修报价</a>
                    <a href="javascript:void(0)">户型设计</a>
                    <br style="clear:both"/>
                </div>
                <div class="j-tab-con">
                    <div class="tab-con-item" style="display:block;">
                        <div class="f_list">
                            <div  class="f_item active">
                                <div class="f_t">
                                    4份精准报价PK 最新行情价
                                </div>
                                <div class="input">
                                    <input type="text" name="mianji" placeholder="面积"/>
                                    <em class="tag">㎡</em>
                                </div>
                                <div class="input radio-group">
                                    <select id="f_cs" name="cs">
                                    </select>
                                    <select id="f_qx" name="qx">
                                    </select>
                                    <br style="clear:both"/>
                                </div>
                                <div class="input radio-group">
                                    <input type="text" name="tel" placeholder="获取报价的手机号"/>
                                </div>
                                <div class="input radio-group">
                                    <div class="r_s">
                                    <input name="zxdc" type="radio" id="plan1" class="f_icheck" value="1">
                                    <label for="plan1">简装</label>
                                    </div>
                                    <div class="r_s">
                                    <input name="zxdc" type="radio" class="f_icheck" id="plan2" value="2" checked>
                                    <label for="plan2">精装</label>
                                    </div>
                                    <div class="r_s">
                                    <input id="plan3" name="zxdc"  type="radio" class="f_icheck"  value="3">
                                    <label for="plan3">豪装</label>
                                    </div>
                                </div>
                                <div class="input radio-group">
                                    <button class="f_next" tab-index="0" data-type="1"  type="button">10秒免费获取报价</button>
                                </div>
                            </div>
                           <!--  <div class="f_item" >
                                <div class="f_t f_t1">
                                    为了方便您查看,计算结果将发送到您的手机。您的隐私将严格保密。
                                </div>

                                <div class="input f_tel">
                                    <input type="text" name="code" placeholder="验证码"/>
                                    <a href="javascript:void(0)">
                                        <img src="/verify"/>
                                    </a>
                                </div>
                                <div class="input radio-group mt30">
                                    <button class="f_add" tab-index="0" data-type="1" type="button">获取报价</button>
                                </div>
                            </div> -->
                            <div class="f_item " >
                                <div class="f_t f_t1">
                                    以下报价为估算价格,仅做参考,实际价格根据实际情况定制。
                                </div>
                                <div class="input">
                                    <label class="t_lab">半包价格:</label>
                                    <em class="t_info half_p"></em>
                                    <label class="t_lab">元</label>
                                </div>
                                <div class="input">
                                    <label class="t_lab">全包价格:</label>
                                    <em class="t_info all_p"></em>
                                    <label class="t_lab">元</label>
                                </div>
                                <div class="input radio-group">
                                    <p>
                                        您觉得以上报价：
                                    </p>
                                    <div class="r_s">
                                    <input name="pj" type="radio" id="plan1" class="f_icheck" value="1" checked>
                                    <label for="plan1">合理</label>
                                    </div>
                                    <div class="r_s">
                                    <input name="pj" type="radio" class="f_icheck" id="plan2" value="2" >
                                    <label for="plan2">偏低</label>
                                    </div>
                                    <div class="r_s">
                                    <input id="plan3" name="pj"  type="radio" class="f_icheck"  value="3">
                                    <label for="plan3">偏高</label>
                                    </div>
                                </div>
                                <div class="input radio-group mt30">
                                    <a class="f_details" href="http://{:C('QZ_YUMINGWWW')}/zxbj/{$cityInfo.bm}" target="_blank">获取报价明细</a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="tab-con-item" style="display:none;">
                        <div class="f_list">
                            <div  class="f_item active">
                                <div class="f_t">
                                    4份优质设计 价值万元！
                                </div>
                                <div class="input">
                                    <input type="text" name="mianji" placeholder="面积"/>
                                    <em class="tag">㎡</em>
                                </div>
                                <div class="input radio-group">
                                    <select id="f_cs_1" name="cs">
                                    </select>
                                    <select id="f_qx_1" name="qx">
                                    </select>
                                    <br style="clear:both"/>
                                </div>
                                <div class="input radio-group">
                                    <input type="text" name="tel" placeholder="获取报价的手机号"/>
                                </div>
                                <div class="input radio-group">
                                    <div class="r_s">
                                    <input name="zxdc_second" type="radio" id="plan1" class="f_icheck" value="1">
                                    <label for="plan1">简装</label>
                                    </div>
                                    <div class="r_s">
                                    <input name="zxdc_second" type="radio" class="f_icheck" id="plan2" value="2" checked>
                                    <label for="plan2">精装</label>
                                    </div>
                                    <div class="r_s">
                                    <input id="plan3" name="zxdc_second"  type="radio" class="f_icheck"  value="3">
                                    <label for="plan3">豪装</label>
                                    </div>
                                </div>
                                <div class="input radio-group">
                                    <button class="f_next" tab-index="1" data-type="2"  type="button">10秒免费获取报价</button>
                                </div>
                            </div>
                            <!-- <div  class="f_item">
                                <div class="f_t f_t1">
                                    我们承诺:免费提供该服务,绝不产生任何费用,您的隐私将绝对保密。
                                </div>

                                <div class="input f_tel">
                                    <input type="text" name="code" placeholder="验证码"/>
                                    <a href="javascript:void(0)">
                                        <img src="/verify"/>
                                    </a>
                                </div>
                                <div class="input radio-group mt30">
                                    <button class="f_add" tab-index="1" data-type="2" type="button">获取设计方案</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function(){
        //请先定义citys对象
        App.citys.init("#f_cs","#f_qx",shen,shi,"{$cityInfo.id}");
        App.citys.init("#f_cs_1","#f_qx_1",shen,shi,"{$cityInfo.id}");
        $('.f_icheck').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red',
            increaseArea: '' // optional
        });

        $(".f_tel a").click(function(event) {
            $(this).find("img").attr("src","/verify?rand="+Math.random());
        });

        $("#tab_f").rTabs({
            bind: 'click',
            auto: false,
            speed:5000,
            animation: 'fadein',
            autoSpeed:5000
        });

        // $(".f_next").click(function(event) {
        //     var _this = $(this);
        //     var i = _this.attr("tab-index");
        //     var container = $(".tab-con-item").eq(i);
        //     var index = container.find(".f_item").index(_this.parent().parent());
        //     var from = container.find(".f_item").eq(index);
        //     var to = container.find(".f_item").eq(index+1);
        //     $(".focus").removeClass("focus");
        //     if(!App.validate.run($("input[name=mianji]",container).val(),"decimal")){
        //         $("input[name=mianji]",container).focus();
        //         $("input[name=mianji]",container).addClass('focus');
        //         $.pt({
        //             target: $("input[name=mianji]",container),
        //             content: '您填写的面积不符合要求！',
        //             width: 'auto'
        //         });
        //         return false;
        //     }
        //     animate(from,to);
        // });

        function animate(from,to){
            to.css({
                "left":"258px",
                "display":"block"
            });
            from.animate({"left":"-=258px"},500,function(){
                from.hide();
            });
            to.animate({"left":0},500);
            from.parent().queue();
        }

        $(".f_next").click(function(event) {
            var _this = $(this);
            var i = _this.attr("tab-index");
            var container = $(".f_white_box .tab-con-item").eq(i);
            var index = container.find(".f_item").index(_this.parent().parent());
            var from = container.find(".f_item").eq(index);
            var to = container.find(".f_item").eq(index+1);
            var type = _this.attr("data-type");
            $(".focus").removeClass("focus");
            if(!App.validate.run($("input[name=tel]",container).val(),"moblie")){
                $("input[name=tel]",container).focus();
                $("input[name=tel]",container).addClass('focus');
                $.pt({
                    target: $("input[name=tel]",container),
                    content: '您填写的电话不符合要求！',
                    width: 'auto'
                });
                return false;
            }
            var data = {
                mianji:$("input[name=mianji]",container).val(),
                tel:$("input[name=tel]",container).val(),
                cs:$("select[name=cs]",container).val(),
                qx:$("select[name=qx]",container).val(),
                zxdc:$("input[name=zxdc]:checked",container).val(),
                safecode:$("#safecode").val(),
                safekey: $("#safekey").val(),
                ssid:"{$ssid}",
                source: '{$order_source}'
            };
            switch(type){
                case "1":
                    $.ajax({
                        url: '/fb_order/',
                        type: 'POST',
                        dataType: 'JSON',
                        data:data
                    })
                    .done(function(data) {
                        $("#safecode").val(data.data.safecode);
                        $("#safekey").val(data.data.safekey);
                        if (data.status == 1) {
                            $.ajax({
                                url: '/zbprice/',
                                type: 'POST',
                                dataType: 'JSON',
                                data:{
                                    ssid:"{$ssid}"
                                }
                            })
                            .done(function(data) {
                                if(data.status == 1){
                                    $(".half_p").html(data.data.halfTotal);
                                    $(".all_p").html(data.data.allTotal);
                                    animate(from,to);
                                }else{
                                    $.pt({
                                        target: _this,
                                        content: data.info,
                                        width: 'auto'
                                    });
                                }
                            })
                            .fail(function(xhr) {
                                $.pt({
                                    target: _this,
                                    content: '获取报价失败,请稍后再试！',
                                    width: 'auto'
                                });
                            });
                        } else {
                            $.pt({
                                target: _this,
                                content: data.info,
                                width: 'auto'
                            });
                        }
                    })
                    .fail(function(xhr) {
                        $.pt({
                            target: _this,
                            content: '发布失败,请刷新页面！',
                            width: 'auto'
                        });
                    });
                    break;
                case "2":
                     $.ajax({
                        url: '/fb_order/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            mianji:$("input[name=mianji]",container).val(),
                            tel:$("input[name=tel]",container).val(),
                            cs:$("select[name=cs]",container).val(),
                            qx:$("select[name=qx]",container).val(),
                            zxdc:$("input[name=zxdc_second]:checked",container).val(),
                            safecode:$("#safecode").val(),
                            safekey: $("#safekey").val(),
                            ssid:"{$ssid}",
                            source: '{$order_source}',
                            step:1
                        }
                    })
                    .done(function(data) {
                        $("#safecode").val(data.data.safecode);
                        $("#safekey").val(data.data.safekey);
                        if (data.status == 1) {
                            $("body").append(data.data.tmp);
                        } else {
                            $.pt({
                                target: _this,
                                content: data.info,
                                width: 'auto'
                            });
                        }
                    })
                    .fail(function(xhr) {
                        $.pt({
                            target: _this,
                            content: '发布失败,请刷新页面！',
                            width: 'auto'
                        });
                    });
                    break;
            }
        });

        $(".f_details").click(function(event) {
            $.ajax({
                url: '/feedback/',
                type: 'POST',
                dataType: 'JSON',
                data:{
                    ssid:"{$ssid}",
                    feedback:$("input[name=pj]:checked").val()
                }
            });
        });
    });
</script>