<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script  type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../import/vue/vue.js" ></script>
    <script type="text/javascript" src="../../import/layui/layui.all.js" ></script>
    <script type="text/javascript" src="../../import/axios/axios.min.js" ></script>
    <link rel="stylesheet" href="../../import/layui/css/layui.css" />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/addMoney.css" />
    <script src="../../js/common.js"></script>
    <title>充值</title>
</head>
<body>
<!--充值-->
<div id="app">
    <div class="rechargeBox">
        <span class="rechargeNum">充值金额</span>
        <div class="rechargeItem">
            <div class="imgBox" style="background: url('../../img/wei.png');background-size: cover">
                <p class="rechargePrice"><span>￥</span>50</p>
            </div>
            <div class="imgBox" style="background: url('../../img/wei.png');background-size: cover">
                <p class="rechargePrice"><span>￥</span>100</p>
            </div>
            <div class="imgBox" style="background: url('../../img/wei.png');background-size: cover">
                <p class="rechargePrice"><span>￥</span>200</p>
            </div>
            <div class="imgBox" style="background: url('../../img/wei.png');background-size: cover">
                <p class="rechargePrice"><span>￥</span>500</p>
            </div>
        </div>
        <div class="rechargeItem">
            <div class="imgBox imgBox1">
                <p class="rechargePrice rechargePrice1"><span>￥</span>1000</p>
            </div>
            <div class="imgBox imgBox1">
                <p class="rechargePrice rechargePrice1"><span>￥</span>2000</p>
            </div>
            <div class="imgBox imgBox1">
                <p class="rechargePrice rechargePrice1"><span>￥</span>3000</p>
            </div>
            <div class="imgBox imgBox1">
                <p class="rechargePrice rechargePrice1"><span>￥</span>5000</p>
            </div>
        </div>
        <p class="chongzhiDes">充值送好礼，充值1000元以下打98折，充值1000元以上有好礼相送！</p>
    </div>
</div>
<script type="text/javascript" src="../../js/addMoney.js?v=" + Date.now()></script>
</body>
</html>
