.redsitfa{width: 100%;height: 125px;}
.redsitfa img{width:100%;}
input{-webkit-appearance: none;}

.m-bj-edit{
    margin: 0 22px;/*修改*/
    margin-top: .8em;
}
.m-bj-edit li {
    height: auto !important;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative !important;background: #fff !important;}
.c-zb-city {
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    background: #fff !important;
    font-size: 1em;
    color: #333;}
.m-bj-edit li .m-bj-edit-list {
	border-radius: 5px;
    color: #333;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    display: block;
    height: 48px !important;
    line-height: 38px !important;
    box-sizing: border-box;
    padding: 5px;
    background: #fff !important;
    border: 1px solid #ddd !important;}
.m-b-btn{margin:10px 22px !important;margin-bottom: 34px !important;}

.red_box_pop{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    transition: all .5s ease;
     display: none; 
}

.end_box{
    width: 300px;
    height: 362px;
    background: url(/assets/mobile/meitu/img/red_box_ok.png) no-repeat center;
    background-size: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    top:-10px;
    right: 0;
    bottom: 0;
    overflow: hidden;
     display: none; 
}
.end_box .close_start {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 8px;
    top: 0px;
    z-index: 888;
}
.end_box_info{
    width: 96%;
    height: 342px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.red_logo {
    width: 20%;
    height: 22%;
    margin: 0 auto;
    margin-top: 7%;
}
.red_logo img{width: 100%;height: auto;}
.ok_text{
    text-align: center;
    font-size: 22px;
    color: #d85940;
    margin-top: 2%;
}
.ok_info {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    color: #d85940;
    margin-top: 10%;
}
.close_ok{
    width: 50%;
    height: 36px;
    background: #ffaa3b;
    margin: 0 auto;
    margin-top: 30%;
    display: block;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}