* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	/* IE */
	-o-box-sizing: border-box;
	/* opera */
}

.body-hidden {
	overflow: hidden;
}

.font-family-STHeiti {
	font-family: "STHeiti Light [STXihei]";
}

.hx-top-line {
	width: 100%;
	border-top: .02rem solid #b8b9ba;
}

.hx-header {
	height: .88rem;
	line-height: .88rem;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	position: relative;
	z-index: 2;
}

.hx-title {
	font-size: .21rem;
	position: absolute;
	left: 1.8rem;
	height: .88rem;
	line-height: .88rem;
}

.hx-header-left {
	width: 1.61rem;
	position: absolute;
	left: .17rem;
	top: .13rem;
}

.hx-header-right {
	height: .88rem;
	line-height: .88rem;
	color: #666666;
	font-size: .5rem;
	position: absolute;
	right: .18rem;
	top: 0;
}

.hx-num-bg{
	width: 100%;
	height: 7.6rem;
	background: url(/assets/mobile/zb/images/number.png);
	background-size: 100% 100%;
	padding-top: 4.75rem;
}
.hx-num-animate{
	animation: numA 1s infinite linear;
	-webkit-animation: numA 1s infinite linear;
}
@keyframes numA{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
}
@-webkit-keyframes numA{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
}
.hx-num-list{
	width: 1.9rem;
	height:.6rem;
	margin:0 auto;
	display: box;
	/* OLD - Android 4.4- */
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
	-webkit-align-items:center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.hx-num-wrap{
	width: .37rem;
	height:.53rem;
	background: url(/assets/mobile/zb/images/number2.png);
	background-size: 100% 100%;
	float:left;
	font-size: .3rem;
	color: white;
	display: box;
	/* OLD - Android 4.4- */
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
	-webkit-align-items:center;
	justify-content: center;
	-webkit-justify-content:center;

}
.m-bj-edit{
	font-size: .26rem;
}
.hx-baojia{
	width: 100%;
	height:6.55rem;
	background: #21c4ed;
}
.hx-bj-title{
	width: 100%;
}
.hx-bj-btn{
	width: 5.95rem;
	height: .82rem;
	line-height: .82rem;
	background: #ff565d;
	border-radius: 5px;
	margin:0 auto;
	margin-top: .2rem;
	position: relative;
	color:white;
	font-size: .34rem;
	text-align: center;
}
.hx-bj-hand{
	width:.7rem;
	position: absolute;
	top:.4rem;
	right:.35rem;
	animation: handAnimate 1.5s infinite linear;
	-webkit-animation: handAnimate 1.5s infinite linear;
}
@keyframes handAnimate{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	50%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
	100%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes handAnimate{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	50%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
	100%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

.hx-step{
	width: 100%;
	height:7rem;
	background: url(/assets/mobile/zb/images/stepBystep.png);
	background-size: 100% 100%;
	position: relative;
}
.hx-ball1{
	position: absolute;
	width: 2.23rem;
	height: 2.18rem;
	top:1.6rem;
	left:-2.23rem;
}
.hx-ball2{
	position: absolute;
	width: 2.23rem;
	height: 2.18rem;
	top:1.75rem;
	left:-2.23rem;
}
.hx-ball3{
	position: absolute;
	width: 2.23rem;
	height: 2.18rem;
	bottom:.4rem;
	left:-2.23rem;
}
.hx-ball1A{
	animation: ball1A .5s linear;
	-webkit-animation: ball1A .5s linear;
	left:.7rem;
}
@keyframes ball1A{
	0%{
		left:-2.23rem;
	}
	100%{
		left:.7rem;
	}
}
@-webkit-keyframes ball1A{
	0%{
		left:-2.23rem;
	}
	100%{
		left:.7rem;
	}
}
.hx-ball2A{
	animation: ball2A .5s linear;
	-webkit-animation: ball2A .5s linear;
	left:3.9rem;
}
@keyframes ball2A{
	0%{
		left:-2.23rem;
	}
	100%{
		left:3.9rem;
	}
}
@-webkit-keyframes ball2A{
	0%{
		left:-2.23rem;
	}
	100%{
		left:3.9rem;
	}
}
.hx-ball3A{
	animation: ball3A .5s linear;
	-webkit-animation: ball3A .5s linear;
	left:2.4rem;
}
@keyframes ball3A{
	0%{
		left:-2.23rem;
	}
	100%{
		left:2.4rem;
	}
}
@-webkit-keyframes ball3A{
	0%{
		left:-2.23rem;
	}
	100%{
		left:2.4rem;
	}
}
.hx-designer-bg{
	width: 100%;
	height: 7.5rem;
	background: url(/assets/mobile/zb/images/designer-bg.png);
	background-size: 100% 100%;
	font-size: .3rem;
	padding-top: 1rem;
}
.swiper-slide{
	text-align: center;
}
.hx-design-header{
	width: 1.65rem;
	height: : 1.65rem;
	vertical-align: middle;
}
.hx-design-header-active{
	animation: designA .3s linear;
	-webkit-animation: designA .3s linear;
	transform: scale(1.5,1.5) !important;
	-webkit-transform: scale(1.5,1.5) !important;
}
@keyframes designA{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
}
@-webkit-keyframes designA{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
}
.swiper-container{
	height: 2.48rem;
    line-height: 2.48rem;
    overflow: visible;
}
.swiper-wrapper{
	height: 2.48rem;
}
.hx-case{
	margin-top: .3rem;
}
.g-msg {
    position: fixed;
    top: 1.2rem;
    left: 0;
    width: 100%;
    height: .6rem;
    z-index: 999;
    font-size: .24rem;
}

.g-msg .msg {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    height: .6rem;
    line-height: .6rem;
    margin-left: 10px;
    -moz-border-radius: .3rem;
    border-radius: .3rem;
    display: none;
}

.g-msg .msg img {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin-left: .1rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    margin-bottom: .05rem
}

.g-msg .msg span {
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    color: #fff;
    margin-right: .2rem;
}
.animated{
	display: none;
}
.sheji-icon {
	width: .5rem;
	height: .5rem;
	border: 1px solid #ccc;
	border-radius: 50%;
	display: block;
	float: left;
	margin-left: 18%;
	margin-right: 5%;
	background: url(/assets/mobile/zb/images/sheji.png) no-repeat center;
	background-size: 100%;
}
.hx-info{
	animation:
}
@keyframes infoA{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
}
@-webkit-keyframes infoA{
	0%{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100%{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
}
#gotop {
    position: fixed;
    background: rgba(255,255,255,.8);
    color: #999;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    bottom: 70px;
    right: 10px;
    font-size: .25rem;
    line-height: 18px;
    padding-top: 3px;
    box-sizing: border-box;
    display: none;
}
.full-nav{
	font-size: .24rem;
	display: none;
}
.goto{
	position: fixed;
	 bottom: 70px;
    right: 10px;
    width: 1.2rem;
    z-index: 99;
}