#article-height{background:#f5f5f5;min-height: 31.33em;padding: 1em;}
.m-hxsj-finish{ text-align:center; padding:15px 0}
.m-font-h1{ font-size:1.5em; line-height:2em;color:#30cc4c;font-weight: 700;margin-bottom: 0.7em;margin-top:6.2em;}
.m-font-h1 i.fa{ vertical-align:-0.15em;margin-right:5px;font-size:1.8em; color:#5fbd05}
.m-box{text-align: center;}
.m-box p{font-size:0.85em;text-align: left;color:#a3a3a3;}

