header{position: fixed;width: 100%;box-shadow: none;}
footer{padding-bottom: 0;}


.m-header-his {
    width: 0;
    left: .45em;
}
.m-header-left {
    margin-left: 1em;
    width: 32%!important;
}
.tab-list{
    width: 100%;height: 2em;
    position: fixed;
    top:50px;
    border-top: 1px solid #f2f2f2;
    /*border-bottom: 1px solid #f2f2f2;*/
    z-index: 2;
}
.anli-box .tab-list a {
    width: 50%;
    height: 2.3em;
    display: block;
    float: left;
    text-align: center;
    line-height: 2.3em;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
}
.tab-list a:first-child{border-right: 1px solid #f2f2f2;}
.tab-list a i{font-size: 16px;transition: all .5s ease;}
.tab-item-main{
    width: 100%;
    position: fixed;
    left: 0;
    top: -12em;
    overflow: hidden;
    border-top:0;
    padding-bottom: 3.5%;
    background: #fff;
}
.actived{display: none;}
.tab-item-main a{
    width: 20%;
    height: 2.2em;
    display: block;
    margin-left: 3.5%;
    margin-top: 3.5%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 2.2em;
    font-size: 12px;
}
.tab-item-main a.bgred{
    color: #fff;
    background-color: #ff5659;
    border-color: #ff5659;
}
.red{color: #ff5659;}
.pic-list {
    width: 94%;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: .5em;
    overflow: hidden;
    z-index: 0;
}
.pic-item{
    width: 100%;
    max-height: 15.5em;
    position: relative;
    margin-top: .2em;
    overflow: hidden;
}
.pic-img img{width: 100%;}
.pic-info{
    width: 100%;height: 3em;
    color: #fff;
    background: rgba(0,0,0,.6);
    position: absolute;
    left: 0;
    bottom: 0;
}
.pic-tit{font-size: 1em;margin-top: .2em}
.pic-tit a{color: #fff}
.pic-tit ,.pic-more{margin-left: .5em;}
.pic-more span{font-size: .8em;margin-right: 1.5em;}
.pic-more a{color: #fff}
.free-zx{position: fixed;bottom: .75em;left: .75em;}
.free-zx {
    background: rgba(0,175,255,.4);
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.free-zx a {
    margin: 0 auto;
    display: block;
    width: 3.8em;
    height: 3.8em;
    overflow: hidden;
    border-radius: 50%;
    background: rgba(0,175,255,.4);
    color: #fff;
    font-size: .9em;
    margin-top: .6em;
    text-align: center;
    text-shadow: 1px 1px 0 background:rgba(0,175,255,.8);
}
.free-zx a i{display:inline-block;padding-top: .5em;}
#mask{
    width: 100%;height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;left: 0;
    display: none;
}
#mask.show{display: block}