/*
* @Author: Administrator
* @Date:   2015-04-21 14:09:58
* @Last Modified by:   Administrator
* @Last Modified time: 2015-04-22 14:33:15
*/
body{
    padding-top:0.4rem;
    background-color: #f1f1f1;
}
.sec-logo-wrap{
    height: 0.49rem;
    background-color: #fff;
}
.sec-logo-wrap h1{
    float:left;
    width: 1.2rem;
    height: 0.5rem;
    background: url(/assets/common/pic/logo.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    text-indent:-9999px;
    margin:-0.04rem 0 0 0.05rem;
}
.sec-logo-wrap span{
    float:left;
    width: 0.8rem;
    height: 0.3rem;
    background: url(/assets/mobile/index/img/logo_new.gif) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin:0.13rem 0 0 0.07rem;
}
.sec-logo-wrap div{
    float:left;
    padding-top: 0.075rem;
    font-size: 0.09rem;
}
.sec-logo-wrap p:first-child{
    height: 0.22rem;
    line-height: 0.22rem;
    color:#c2001b;
}
.sec-logo-wrap p:nth-child(2){
    color:#ef5858;
    height: 0.105rem;
    line-height:0.105rem;
    /* padding-left: 0.17rem; */
    overflow: hidden;
}
.sec-logo-wrap p i{
    float: left;
    width:0.15rem;
    height:  0.105rem;
    background: url(/assets/mobile/companyhome/img/phone.png) no-repeat;
    -webkit-background-size: 0.15rem 0.105rem;
    background-size: 0.15rem 0.105rem;
    margin-right: 0.015rem;
}
.sec-logo-wrap p span{
    float:left;
}
.company-hd-wrap{
    height: 0.85rem;
    background: url(/assets/mobile/companyhome/img/company-banner.png) no-repeat;
    -webkit-background-size: 3.2rem 0.85rem;
    background-size: 3.2rem 0.85rem;
    padding:0.1rem 0 0 0.16rem;
    box-sizing: border-box;
}
.company-hd-wrap .company-pho-wrap{
    width: 0.55rem;
    height: 0.55rem;
    background-color: rgba(255,255,255,0.5);
    padding:0.05rem;
    margin-right:0.085rem;
}
.company-hd-wrap .company-pho-wrap .company-pho{
    width: 0.55rem;
    height: 0.4rem;
    background-color: rgba(255,255,255,0.8);
    padding:0.075rem 0;
    font-size: 0;
}
.company-hd-wrap .company-pho-wrap .company-pho img{
    width: 100%;
}
.company-hd-wrap dd{
    float:left;
    padding-top: 0.01rem;
    width: 2rem;
    color:#fff;
}
.company-hd-wrap dd p:first-child{
    line-height: 0.20rem;
    font-size: 0.15rem;
    text-shadow:1px 1px 1px rgba(0,0,0,0.6);
}
.company-hd-wrap dd p:nth-child(2){
    font-size: 0.09rem;
    line-height: 0.09rem;
}
.company-hd-wrap dd i{
    display: block;
    width: 0.435rem;
    height: 0.15rem;
    background: url(/assets/mobile/companyhome/img/renzheng.png) no-repeat;
    -webkit-background-size: 0.435rem 0.15rem;
    background-size: 0.435rem 0.15rem;
    margin-top: 0.08rem;
}
.com-nav{
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.12rem;
    color:#fff;
    background-color: #ef5858;
    margin-top: 1px;
}
.com-nav:after{content: "";display: block; clear: both;}
.com-nav li{
    float:left;
    width: 0.8rem;
    height: 0.4rem;
    text-align: center;
}
.com-nav li.active{
    background-color: #384157;
}
.com-nav li a{
    color:#fff;
}
.pinjia{
    height: 0.41rem;
    background-color: #fff;
    padding:0.1rem;
    font-size: 0.09rem;
}
.pinjia .pinjia-left{
    width: 1.335rem;
    border-right:1px solid #eee;
}
.pinjia .pinjia-left li{
    line-height: 0.145rem;
}
.pinjia .pinjia-left li i{
    display: inline-block;
    height: 0.14rem;
    -webkit-background-size: 0.07rem 0.10rem;
    background-size: 0.07rem 0.10rem;
    margin-right:0.01rem;
    margin-top: -0.01rem;
    background-repeat:  repeat-x;
    line-height: 0.14rem;
    background-position: 0 center;
}
.pinjia .pinjia-left li i.star1{
    background-image: url(/assets/mobile/companyhome/img/star_01.png);
    position: absolute; top:0; left:0;
    width: 0.07rem;
}
.pinjia .pinjia-left li i.star2{
    background-image: url(/assets/mobile/companyhome/img/star_02.png);
    position: relative;
    overflow: hidden;
    width: 0.32rem;
    max-width: 0.32rem;
    min-width: 0.32rem;
}
.pinjia .pinjia-right{
    width: 0.95rem;
    line-height: 0.41rem;
    padding-left: 0.1rem;
}
.design{
    height: 0.3rem;
    background-color: #fff;
    padding:0.1rem 0 0.1rem 0.1rem;
    font-size: 0.12rem;
    overflow: hidden;
}
.design button,.design a{
    width: 1.29rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.12rem;
    color:#fff;
    float: left;
    font-family: Microsoft YaHei;
    text-align: center;
}
.design button:first-child,.design a:first-child{
    margin-right: 0.1rem;
    background-color: #ef5757;
}
.design button:nth-child(2),.design a:nth-child(2){
    background-color: #59576d;
}
.com-summary{
    /*height: 0.915rem;*/
    background-color: #fff;
}
.com-summary p{
    font-size: 0.09rem;
    line-height: 0.12rem;
    text-indent: 2em;
    margin:0.03rem 0.1rem 0.1rem;
    overflow: hidden;
    width: 2.68rem;
    /*height: 0.6rem;*/
    text-overflow: clip;
    padding:10px 0;
}
.com-summary p a{
    text-decoration: underline;
}
.location{
    /*height: 0.36rem;*/
    min-height: 0.20rem;
    line-height: 0.20rem;
    padding:0 0.1rem 0 0.25rem;
    font-size: 0.09rem;
    position: relative;
    background: url(/assets/mobile/index/img/location_01.png) 0.1rem center no-repeat;
    background-color: #fff;
    background-size: 0.1rem 0.16rem;
}
/*.location:before{
    content:"";
    position: absolute;
    left: 0.1rem;
    top:0.02rem;
    width: 0.1rem;
    height: 0.16rem;
    -webkit-background-size: 0.1rem 0.16rem;
    background-size: 0.1rem 0.16rem;
}*/
.com-culture{
    /*height: 4.765rem;*/
    background-color: #fff;
}
.com-culture .content{
    padding:0.1rem 0.1rem 0;
    font-size: 0;
}
.com-culture .content img{
    width: 1.695rem;
    display: block;
    margin:0.09rem auto 0;
}
.com-culture .content img:first-child{
    width: 2.68rem;
    height: 1.87rem;
}
.com-text{
    height:0.3rem;
    line-height: 0.15rem;
    background-color: #fff;
    font-size: 0.09rem;
    text-indent: 2em;
    padding:0.065rem 0.08rem;
}
/* 装修案例页面 */
.dec-case{
    height: auto;
    background-color: #fff;
    padding:0.075rem 0.1rem 0.1rem;
}
.dec-case h3{
    font-size: 0.12rem;
    font-weight: normal;
    margin: 0;
}
.dec-case p{
    font-size: 0.09rem;
    line-height: 0.15rem;
}
.dec-case img{
    width: 2.68rem;
    max-width: 2.68rem;
    height: auto;
}
.more{
    width: 0.9rem;
    height:0.1rem;
    line-height: 0.1rem;
    background-color: #fff;
    text-align: center;
    font-size: 0.12rem;
    position: fixed;
    bottom: 10px;
    left:50%;
    margin-left: -0.45rem;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    display: none;
    border-radius: 30px;
}
.team-case{
    height: 0.5rem;
    background-color: #fff;
    padding:0.2rem 0.1rem;
    margin-bottom:1px;
    font-size:0.1rem; }
.userhead{ overflow:hidden; width:0.5rem; height:0.5rem; border-radius:5rem;text-align:center; float:left; margin-right:0.1rem;}
.userhead img{ width:100%; height:100%; display:block}
.team-case .team-name{ float:left; line-height:0.2rem}
.team-case .team-name span{ display:inline-block; margin-left:0.05rem; color:#ff7f02}
.team-case .team-btn{ float:left; height:0.2rem; line-height:0.2rem; margin-top:0.05rem}
.team-case .team-btn a{ padding:0 0.05rem; margin-right:0.05rem; border:1px solid #ff4d4d; display:inline-block; background:#fb5353; color:#fff; border-radius:0.02rem}
.team-case .team-btn a:last-of-type{ border:1px solid #539afb; background:#53bafb}
.pj-case{
    background-color: #fff;
    padding:0.2rem 0.1rem;
    margin-bottom:1px;
    font-size:0.1rem;
    overflow:hidden}
.userhead1{ overflow:hidden; width:0.5rem; height:0.7rem; text-align:center; float:left; margin-right:0.05rem;}
.userhead1 span{ overflow:hidden; width:0.5rem; height:0.5rem; border-radius:5rem;display:block}
.userhead1 span img{ width:100%; height:100%; display:block}
.pj-text{ float:right; width:2.05rem}
.pj-text span{ display:block; color:#888; margin-bottom:0.1rem}
.pj-re{ float:right; width:2rem; border:1px solid #f1f1f1; background:#f7f7f7; padding:0.05rem; color:#545454}
.shaix { overflow:hidden; padding:0rem 0.1rem; padding-bottom:0.1rem}
.shaix dt{ font-size:0.12rem; clear:both; line-height:0.2rem; padding-top:0.1rem; font-weight:bold}
.shaix dd{font-size:0.1rem; float:left; margin-right:0.1rem}
.shaix dd a.active{color: #DE4348;};