/*
* @Author: qz_xsc
* @Date:   2017-08-11 08:47:44
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-08 14:50:37
*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
html,body{height: 100%}
body {
  font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
  background-color:#f5f5f5 !important;height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  color:#3c3c3c;
}
input{-webkit-appearance: none;}
::-moz-placeholder {
    color:#b8b8b8;
}
::-webkit-input-placeholder {
    color:#b8b8b8;
}
:-ms-input-placeholder {
    color:#b8b8b8;
}
ul li, ol li, dl li {
  list-style-type: none;padding:0px; margin:0px;
}
img {
  border: 0;
  vertical-align: bottom;
}
em {
  font-style: normal;
  font-size: inherit;
}
a {
  text-decoration: none;
  color:#333
}
i {
  font-style: normal;
}
.clearfix::before,
.clearfix::after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.position{
  position: relative;z-index: 1;
  overflow-y: auto;overflow-x: hidden;
}
.box{
    overflow: hidden;padding:10px;
}
.form_control{
   width: 100%;position: relative;
}
.form_control form{
  height: 100%
}
.form_control input[type=text]{
    width:100%; height: 30px; border:none; outline: none; text-indent: 12px; border:1px solid silver;overflow: hidden; border-radius: 5px;
}
.form_control button[type=submit]{
    position: absolute;
    right: -2px;
    top:0px;
    background-color: #ff5659;
    width:50px;
    height: 32px;
    text-align: center;
    border: 0px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}
.box-title{
  border-bottom:1px solid #e6e6e6;padding:10px 0px; position: absolute; width: 100%;background-color:white;z-index: 3;
}
.fa{
  transition: all 0.5s;
-moz-transition: all 0.5s;  /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari 和 Chrome */
-o-transition: all 0.5s;  /* Opera */
}
.box-title ul{
  display: flex;
}
.box-title ul li{text-align: center; flex-grow: 1; border-right: 1px solid #e6e6e6; line-height: 30px;}
.box-title ul li:nth-last-child(1){
  border:none;
}
.menu-list{position: absolute;left: 0px; top:51px;width:100%;}
.chose-list{ z-index: 2; position: absolute;margin-top: -1000px;padding-top: 20px;padding-bottom:8px;width: 100%;background-color:white;}
.menu-list ul li{ font-size: 15px;margin-top:5px;margin-bottom: 10px;float: left; width:25%; text-align:center;}
.active{
transform: rotate(-180deg);
-ms-transform: rotate(-180deg);   /* IE 9 */
-webkit-transform: rotate(-180deg); /* Safari and Chrome */
-o-transform: rotate(-180deg);    /* Opera */
-moz-transform: rotate(-180deg);
}
.tofixed{
  position: fixed; top:0px;left:0px; z-index:2; width:100%;
}
#zzc{width:100%; height: 100%; position: absolute;left: 0px; top:0px; z-index:1; background-color: rgba(0,0,0,0.3); display: none;}
.active2 {
  color:#ff5659;
}
.contentnr {
    margin:0 auto;
    height:auto;
    margin-top:50px;
}
.contentnr_ul {
    background:#f5f5f5;
    width:100%;
    overflow:hidden;
    /*border-top:20px solid #fff;*/
}
.active2 {
    color:#ff5659;
}
.contentnr_ul li {
    background:#fff;
    width:100%;
    height:auto;
    margin-top:10px;
}
.contentnr_ul li:first-child{margin-top: 0;}
.contentnr_ul li .zhuynr {
    width:96%;
    margin:0 auto;
    overflow:hidden;
}
.zhuynr .imgs-box{
  width: 100%;
  height: 211px;
  overflow:hidden;
  position: relative;
  margin-top:15px;
}
.contentnr_ul li .zhuynr .tupdax {
    width:100%;
    margin-top:10px
    /*height:auto;
    margin: auto;
    position: absolute;
    left: 0;top: 0;
    right: 0;bottom: 0;*/

}
.contentnr_ul li .zhuynr .wenzi {
    margin-top:12px;
    color: #333;
}
.contentnr_ul li .zhuynr .wenzi2 {
    /*margin-top:10px;*/
    height:45px;
    line-height:45px;
    font-size: 14px;
    color: #999;
    /*margin-bottom:25px;*/
}
.contentnr_ul li .zhuynr .wenzi2 .lfsp {
    float:left;
}
.contentnr_ul li .zhuynr .wenzi2 .xian {
    margin:0 8px;
    display:inline-block;
    text-align:center;
    width:15px;
}
.contentnr_ul li .zhuynr .wenzi2 .rtsp {
    float:right;
}
.now{color: #ff5353}
.wunert{width: 100%;height: 213px;background: url(/assets/mobile/xiaoguotu/images/kssymbj.png) no-repeat;
background-size: 100% 100%;}
.topwu{margin-top: 0;}
.tuijian{width: 100%;vertical-align: middle;background: #fff;margin-top: 10px;padding-top: 12px;}
.shuxian{display: inline-block;height: 17px;width: 2px;background: #ff5353;vertical-align: middle;margin-left: 10px;
position: relative;top: -1.5px;}
.wrapbt{width: 100%;background: #fff;height: auto;padding: 15px 0;}
.spmore{width: 90%;height: 40px;line-height: 40px;text-align: center;
background: #f7f7f7;margin:auto;border: 1px solid #ebebeb;}