.lr-top{ background:url(../images/top.jpg) center center; height:525px; overflow:hidden; width:100%}
.lr-list-tit{ text-align:center; padding:50px 0 }



.t1{ background:#7de5a4; }
.t2{ background:#d5b9ff}
.t3{ background:#e9ff9b}
.t4{ background:#f6cde7}

.tuij-logo{ padding:30px 100px; padding-left:80px; padding-top:30px; margin:0 auto; width:1020px; overflow:hidden}
.tuij-logo dt{ line-height:50px; text-align:center; font-size:18px; font-family:"microsoft yahei"; margin-bottom:20px}
.tuij-logo dd{ float:left; line-height:63px}
.tuij-logo dd{ width:126px; height:63px; padding:10px; background:#fff; margin-left:20px; box-shadow:3px 3px 0 rgba(0,0,0,.1)}
.tuij-logo dd img{ width:126px; height:63px; }
.tuij-logo dd img:hover{ opacity:0.8}
.lr-w{ width:1200px; position:relative; margin:0 auto;}

.lr-xc{ padding:30px 100px; padding-left:80px; padding-top:30px; margin:0 auto; overflow:hidden; width:990px}
.lr-xc dt{ line-height:50px; text-align:center; font-size:18px; font-family:"microsoft yahei"; margin-bottom:20px}
.lr-xc dd{ float:left; width:290px; background:#FFF; box-shadow:3px 3px 0 rgba(0,0,0,.1); border-top:2px solid #af88ea; margin:0 20px}
.lr-xc dd .lr-user span{ height:30px; width:30px; overflow:hidden; border-radius:100px; display:block; float:left; margin-right:10px}
.lr-xc dd .lr-user span img{ width:100%; height:100%}
.lr-xc dd .lr-user{ padding:10px; line-height:30px; color:#aaa; border-top:1px dotted #eee; text-align:left}
.lr-xc dd h3{ padding:0 10px; overflow:
hidden; font-weight:100; height:30px; line-height:30px; font-size:16px; margin-top:10px; text-align:left;font-family:"microsoft yahei"; }
.lr-xc dd .xc-img { overflow:hidden; height:50px; margin:10px 0;}
.lr-xc dd .xc-img img{ width:50px; height:50px; float:left; margin-left:10px}

.fadan{ position:absolute; width:360px; height:310px; right:20px; top:100px; background:#f1f1e4;border-top:3px solid #1ff23e; border-bottom-left-radius:5px; border-bottom-right-radius:5px; padding:20px}
.fadan:hover{ background:#fff;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}

.fadan ::-moz-placeholder { color: #333; }
.fadan ::-webkit-input-placeholder { color:#333; }
.fadan :-ms-input-placeholder { color:#333; }

.fadan h1{ color:#17c530; font-size:30px; height:30px;font-family: "Microsoft YaHei"; margin-bottom:28px; text-align:center}
.fadan ul { margin:0 auto; width:312px; overflow:hidden}
.fadan ul li{ border-radius:3px; height:40px; width:260px; padding-left:50px; border:1px solid #ccc}
.fadan ul li.a1{ background:url(../images/inp1.jpg) no-repeat 10px 12px #fff}
.fadan ul li.a2{ background:url(../images/inp2.jpg) no-repeat 10px 12px #fff; margin-top:20px}
.fadan ul li.a3{ background:url(../images/inp3.jpg) no-repeat 10px 12px #fff; margin-top:20px}
.fadan ul li input[type=text]{ width:250px; height:30px; margin-top:5px; line-height:30px; font-size:14px }
.fadan ul li input[type=text]:focus,.fadan ul li .diz:focus,.lr-btn:focus{ outline:none;}
.fadan ul li .diz{ height:30px; color:#aaa; width:250px; font-size:14px; margin-top:5px}
.lr-btn{ background:url(../images/btn.png); width:197px; height:56px; cursor:pointer; margin:0 auto; margin-top:20px; display:block}
.lr-tel{ line-height:50px; background:#fff; border-radius:10px; width:500px; font-size:24px; font-weight:bold; font-family: "Microsoft YaHei"; margin:0 auto; color:#cf29aa; border:5px solid #efbfde}
