/*
* @Author: qz_xsc
* @Date:   2017-09-18 10:36:56
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-09-21 08:59:20
*/
.time-box{margin-left: 16px;}
.time-box span{ padding:7px 8px; border:1px solid #d2d6de; display: inline-block; cursor: pointer; margin-left: -1px;}
.search-box{overflow: hidden;padding: 5px 0px;}
.calendar-time{display: none;}
.select-box select{height: 33px;}
.select-box-small select{width:80px; height: 33px; margin-right: 10px;}
.search-title{padding-bottom: 10px; padding-top: 10px;}
.page-addr input{height: 33px; width:350px;}
.zdy{border-top: 1px solid #f4f4f4;margin-top: 10px;}
.zdy-title{font-size: 15px; padding: 12px 28px;}
.span-box span{display: inline-block; margin-left: 28px;line-height: 20px; margin-right: 60px; overflow: hidden;}
.chose-item{display: inline-block; border:1px solid #666;width:13px;height: 13px;
 margin-top:3px; float: left; line-height: 10px; }
 .pushout{padding:12px 28px;}
 .details{padding:2px 5px; background-color: #00CCCC;color: #fff; border-radius: 5px; float: right;}
#myTable thead{border:none;}
/* #myTable td p{float: left;width:60%;} */
#myTable th{border:none;line-height: 20px;}
.right-boder{ border-right:1px solid #E4E4E4 !important;}
.right-boder a{margin-right:10px;}
.hide{display: none;}
.bxt{width:auto !important;}
.time-input{margin-left: 10px;}
.time-input input {width:400px;}
.zb-box{width:1200px; text-align: center; }
.zb-box td{padding:15px 0px; position: relative;}
.zb-box td div{font-size: 17px; margin-bottom: 10px;}
.zb-box td p{position: absolute; right: 0px; width: 1px;height: 30px; background-color: #A1A1A1;top:50%; margin-top: -15px;}

.zb-box td span{ font-size: 16px;font-weight: bold; color:#1ABB9C;}
.box-body-contaier{
   border:1px solid #D7D7D7;
}
.box-body{overflow: hidden;}
#main{
    height: 400px; width: 100%
}
.chose-stat{width:140px; margin:10px;}
.resource-table{width:600px;margin:20px; border:1px solid black;}
.resource-table tr{border-bottom:1px solid black;}
.v-align-center{text-align: center; border-right: 1px solid black;padding:5px;}
.v-align-left{text-align: left;padding:5px; border-right: 1px solid black}
.v-align-right{text-align: right;padding:3px}
#parentType{width:80px; height: 33px;}
#childrenType{width:100px; margin-left:10px; height:33px;}
.contrast{line-height:33px;text-align: center; border:1px solid #e4e4e4;box-sizing: border-box; cursor: pointer; display: inline-block;}
.contrast:nth-child(1){
    background: #e4e4e4;
}
.contrast-way:nth-child(2){
    display: none;
}
.select2-container{float: left;}
#free-start,#free-end{height: 35px;font-size: 12px;padding-left: 5px !important;}
.duibi{padding:0px 10px; line-height: 33px;}
.proportion{color: red;padding-right: 20px;}
.marginLeft{margin-left: 17px;}
.margin-left-2{margin-left: 2px;}
.change-way{margin-left: 20px;width:600px;}
.change-way .duibi{float:left;margin:0px 10px;}
.text-align-left{text-align: left !important;}
.url-short-wrap {
    max-width: 320px;
    word-wrap:break-word;
    border-right: 0px !important;
}
.time-box-chose{
    background-color:#3c8dbc;
    border-color: #3c8dbc;
    color: #fff;
}
.tiandb {padding-left: 0px;padding-bottom: 10px;}

.search-recommend-info{
    padding: 0px 10px;
    margin-left: 15px;
    color:#FF0000
}