.list-handle,.add-child-class,.edit-button,.del-button{cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}
.add-child-class{color: #FF6600;}
.edit-button{color: #006600;}
.del-button{color: #FF0000;}
.content .active{display: none;}
.modal-dialog{transform: translate(0,180px) !important;}
.pagecategory-line{
    margin: 0px;
    border-top:1px solid #D7D7D7;
    height: 0px;
    width: 100%;
    display: block;
    clear: both;
}