/*
* @Author: qz_dc
* @Date:   2018-09-03 09:51:07
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-09-03 10:02:39
*/
.group span {
    float: left;
    display: block;
    padding-right: 5%;
    height: 34px;
    line-height: 34px;
}
.group input {
    width: 70%;
    float: left;
}
.group select {
    width: 70%;
    float: left;
}
.select2-container {
    width: 70%;
    float: left;
}
.input-group-btn:last-child>.btn {
    width: 100px;
    border-radius: 5px;
}