.content-header .nav {
  height: 45px;
  line-height: 45px;
  background: rgb(242, 242, 242);
}
.nav span {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  display: inline-block;
  height: 45px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
.nav span.cur {
  background: rgba(228, 228, 228);
}
.top {
  margin-left: 20px;
}
.top .title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
#columns {
  margin: 20px;
}
#columns li {
  float: left;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  border: 1px solid #eee;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background: #f5eeff;
  margin-bottom: 10px;
}
.button {
  margin: 20px;
}
.button .btn-save {
    background: #26AB5F;
    color: #fff;
}