.content-header .nav {
    height: 45px;
    line-height: 45px;
    background: rgb(242, 242, 242);
}
.nav span {
    font-size: 18px;
    font-weight: 700;
    color: #666;
    display: inline-block;
    height: 45px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}
.nav span.cur {
    background: rgba(228, 228, 228);
}
.top {
    margin-left: 20px;
    color: #000;
}
.top .title {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.top .info {
    margin-bottom: 20px;
}
.top .info a {
    border-bottom: 1px solid;
}
.top .info span {
    margin-left: 5px;
}
.setCity-ul {
    margin-bottom: 20px;
}
.setCity-ul li {
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 20px;
}
.setCity-ul li a span {
    color: #333; 
}
.px-ul {
    margin-bottom: 20px;
}
.px-ul li {
    float: left;
    min-width: 120px;
    height: 50px;
    border: 1px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.px-ul li p {
    margin-bottom: 0;
    line-height: 25px;
}
.px-ul li p.px {
    color: #999;
}
.add-xiaqu .c-title {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background: #eee;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
}
.form-group {
    margin-left: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: #000;
}
.form-group span {
    float: left;
    width: 100px;
    text-align: right;
}
.form-group textarea {
    border-radius: 5px;
}
.form-group input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-indent: 0.5em;
    width: 200px;
}
.more {
    margin-left: 120px;
    margin-bottom: 20px;
}
.more .btn {
    width: 200px;
}
.save {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}
