<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>商务合作-{$title}</title>
    <meta name="keywords" content="商务合作" />
    <meta name="description" content="齐装网让您足不出户获得优质客户资源,轻轻松松赚钱！" />
    <include file="Index:resource" />
    <script type="text/javascript" src="{$static_host}/assets/common/js/alert.js?v={:C('STATIC_VERSION')}"></script>
    <link href="{$static_host}/assets/home/about/css/default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>

<body>
    <include file="Index:header" />
    <div class="wrap oflow">
        <div class="bread">
          <a href="/">首页</a>>关于我们
        </div>
        <include file="About:nav" />
        <div class="aboutmain">
            <div class="abouttit">商务合作<span>Development Cooperation</span></div>
            <ul class="hezuo-menu">
                <li><a href="/about/liansuo">连锁公司合作</a></li>
                <li><a href="/about/jiancai">建材合作</a></li>
                <li class="active"><a href="/about/jiaju">家具合作</a></li>
                <li><a href="/about/znju">智能家居合作</a></li>
                <li ><a href="/about/joinus">装修公司合作</a></li>
            </ul>
            <img src="{$static_host}/assets/home/about/img/jjrz.jpg">
            <div class="hzstep"></div>
            <include file="About:sq" />
        </div>
    </div>
    <include file="Index:footer" />
</body>
<script type="text/javascript">
    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];

</script>
</html>
