<extend name="Main:baseTemplate" />
<block name="title">
    <title>文章编辑 - 控制台</title>
    <style>
        input,select{width:90%; height:30px; margin-top: 6px !important;}
        .row{margin-bottom: 20px;}
        .mt10{margin-top: 10px;}
        #editor{width: 80%}
    </style>
</block>
<block name="content">
    <section class="content-header">
        <h1>文章编辑</h1>
    </section>
    <section class="content">
        <div class="box box ">
            <div class="box-header with-border">
                <h3 class="box-title">文章编辑</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div>标题：</div>
                        <div>
                            <input type="text" name="title">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div>关键词：</div>
                        <div>
                            <input type="text" name="keyword">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div>描述：</div>
                        <div>
                            <input type="text" name="descript">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div>标签：</div>
                        <div>
                            <input type="text" name="label">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div>选择分类：</div>
                        <div class="select">
                            <select name="" id="">
                                <option value="0">全部</option>
                                <option value="1">油漆涂料</option>
                                <option value="2">防水材料</option>
                                <option value="3">集成墙面</option>
                                <option value="4">机械设备</option>
                                <option value="5">建筑材料</option>
                                <option value="6">集成灶</option>
                                <option value="7">衣柜</option>
                                <option value="8">底板</option>
                                <option value="9">瓷砖</option>
                                <option value="10">卫浴</option>
                                <option value="11">橱柜</option>
                                <option value="12">吊顶</option>
                                <option value="13">硅藻泥</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div>发布位置；</div>
                        <div class="select">
                            <select name="" id="">
                                <option value="0">全部</option>
                                <option value="1">建材资讯</option>
                                <option value="2">企业动态</option>
                                <option value="3">促销活动</option>
                                <option value="4">展会报道</option>
                                <option value="5">行业精英</option>
                                <option value="6">选购知识</option>
                                <option value="7">行业资讯</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div>是否推荐到首页</div>
                        <div class="select">
                            <select name="" id="">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-xs-3">
                        <div>上传到推荐封面：</div>
                        <div tabindex="500" class="btn btn-primary btn-file mt10"><i class="glyphicon glyphicon-folder-open"></i> <span class="hidden-xs">选择 …</span><input id="img" type="file" class="form-control"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div>文章详情</div>
                        <div id="editor" name="content"></div>
                        <br>
                        <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>
                        <button type="button" class="btn btn-defaut"><i class="fa fa-mail-reply "></i> 返回</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script type="text/javascript" charset="utf-8" src="/assets/common/js/plugins/ueditor/ueditor.config.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/common/js/plugins/ueditor/ueditor.all.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/common/js/plugins/ueditor/lang/zh-cn/zh-cn.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        var ue = UE.getEditor('editor', {
            autoClearinitialContent: false,
            serverUrl: '/ueditor/upload/?ext=s3.jpg',
            toolbars: [
                ['source', '|', 'undo', 'redo', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain','|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                    'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                    'paragraph', 'fontfamily', 'fontsize', '|',
                    'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts','|','imagecenter','simpleupload','insertimage','link','unlink','searchreplace'
                ]
            ],
            maximumWords: 10000
        });
    </script>
</block>