/*
* @Author: Administrator
* @Date:   2015-04-14 14:26:58
* @Last Modified by:   Administrator
* @Last Modified time: 2015-04-21 11:00:00
*/
body{
	padding-top:0.4rem;
	background-color: #f1f1f1;
}
.advert{
	width: 3.2rem;
	height: 0.475rem;
	position: relative;
	font-size:0;
}
.advert a{
	display:block;
	width: 3.2rem;
	height: 0.475rem;
}
.advert a img{width:100%; height:auto;}
.advert .adv-del{
	position: absolute;
	right:0.065rem;
	top:0.135rem;
	width: 0.2rem;
	height: 0.2rem;
	background: url(/assets/mobile/sub/img/adv_del.png) no-repeat;
	-webkit-background-size: 0.2rem 0.2rem;
	background-size: 0.2rem 0.2rem;
}
.sec-logo-wrap{
	height: 0.49rem;
	background-color: #fff;
}
.sec-logo-wrap h1{
	float:left;
	width: 1.2rem;
	height: 0.5rem;
	background: url(/assets/common/pic/logo.jpg) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	text-indent:-9999px;
	margin:-0.04rem 0 0 0.39rem;
}
.sec-logo-wrap span{
	float:left;
	width: 0.8rem;
	height: 0.3rem;
	background: url(/assets/mobile/index/img/logo_new.gif) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	margin:0.13rem 0 0 0.27rem;
}
/* banner部分 */
.focus{ width:100%; height:1.5rem; position:relative; overflow:hidden;}
.focus .hd{   height:0.11rem; position:absolute; width: 100%; z-index:1; bottom:0.06rem; left: 50%; margin-left:-50%; font-size:0;}
.focus .hd ul{ text-align: center; overflow:hidden; height:0.11rem;}
.focus .hd ul li{ width:0.085rem; height: 0.085rem;display: inline-block; background-color: #384157; margin-right: 0.03rem; border-radius: 50%; border:2px solid #fff;}
.focus .hd ul .on{ background-color:#f75454;}
.focus .bd{ position:relative; z-index:0;}
.focus .bd li img{ width:100%;  height:auto;}
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
/* 标识部分 */
.top-btn{
	height: 1.675rem;
	border-top: 0.025rem solid #ef5858;
	background-color: #fff;
}
.top-btn li{
	float:left;
	width: 0.6rem;
	height: 0.735rem;
	padding: 0.1rem 0.18rem 0;
}
.top-btn li a{
	display:block;
	width: 0.7rem;
	height:0.235rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 0.12rem;
	color:#3c3c3c;
	padding-top: 0.5rem;
	white-space:nowrap;
}
.top-btn li a:before{
	content:"";
	position: absolute;
	top:0;
	left:0.075rem;
	width: 0.45rem;
	height: 0.45rem;
	background: url(/assets/mobile/sub/img/btn_02.png) no-repeat;
	-webkit-background-size: 0.45rem 0.45rem;
	background-size: 0.45rem 0.45rem;
}
.top-btn li:nth-child(2) a:before{
	background-image: url(/assets/mobile/sub/img/btn_03.png);
}
.top-btn li:nth-child(3) a:before{
	background-image: url(/assets/mobile/sub/img/btn_04.png);
}
.top-btn li:nth-child(4) a:before{
	background-image: url(/assets/mobile/sub/img/btn_01.png);
}
.top-btn li:nth-child(5) a:before{
	background-image: url(/assets/mobile/sub/img/btn_05.png);
}
.top-btn li:nth-child(6) a:before{
	background-image: url(/assets/mobile/sub/img/btn_06.png);
}

.newinvite{
	height: 1.655rem;
	background-color: #fff;
}
.title p:last-child{
	font-size: 0.09rem;
}
.newinvite .content{
	padding:0.1rem 0 0 0.14rem;
	font-size:0.09rem;
}
.newinvite .content li{
	height: 0.2rem;
	line-height: 0.2rem;
}
.newinvite .content li p:nth-child(1){
	width: 0.675rem;
}
.newinvite .content li p:nth-child(2){
	width: 0.62rem;
}
.newinvite .content li p:nth-child(3){
	width: 1.44rem;
}
.more{
	height:0.25rem;
	line-height: 0.254rem;
	background-color: #fff;
	border-top: 1px dashed #eee;
	text-align: center;
	font-size: 0.12rem;
}
.dec-company{
	height: 1.855rem;
	background-color: #fff;
}
.dec-company .content{
	padding:0.1rem 0 0 0.1rem;
}
.dec-company .content li{
	float:left;
	width: 0.85rem;
	height: 0.6rem;
	margin-right: 0.065rem;
	color:#3c3c3c;
	text-align: center;
	font-size: 62.5%;
}
.dec-company .content li i{
	display: block;
	width: 0.85rem;
	height: 0.4rem;
	-webkit-background-size: 0.85rem 0.4rem;
	background-size: 0.85rem 0.4rem;
}
.dec-company .content li span{
	font-size: 0.08rem;
	height:0.2rem;
	display: block;
}

.effect-image{
	height: 2.785rem;
	background-color: #fff;
}
.effect-image .content{
	padding:0.1rem 0 0 0.1rem;
}
.effect-image .content ul.photo{
	font-size: 0;
}
.effect-image .content ul.photo li{
	float: left;
	margin-right: 0.05rem;
	position: relative;
}
.effect-image .content ul.photo li a img{
	width: 0.915rem;
	height: 0.64rem;
}
.effect-image .content ul.photo li:first-child a img{
	width: 1.715rem;
	height: 1.28rem;
}
.effect-image .content ul.photo li p{
	position: absolute;
	bottom:0.05rem;
	left:0;
	width: 100%;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	background-color: rgba(255,255,255,.75);
	font-size:0.09rem;
	color:#3c3c3c;
}
.effect-image .content ul.text li{
	float: left;
	margin:0 0.05rem 0.05rem 0;
	color:#ef5858;
	height:0.19rem;
	line-height: 0.19rem;
	text-align: center;
	border:1px solid #ccc;
	background-color: #eee;
}
.effect-image .content ul.text li a{
	display:block;
	height:0.19rem;
	padding:0 0.06rem;
	font-size: 0.12rem;
	color:#ef5858;
}
.dec-strategy{
	height: 3rem;
	background-color: #fff;
}
.dec-strategy .content{
	padding:0.1rem 0 0 0.1rem;
}
.dec-strategy .content dl{
	height: 0.5rem;
	margin-bottom:0.05rem;
	/* overflow: hidden; */
}
.dec-strategy .content dl dt{
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.1rem;
}
.dec-strategy .content dl dt a{
	display: block;
	font-size: 0.5rem;

}
.dec-strategy .content dl dt a img{
	width: 0.5rem;
	height: 0.5rem;
}
.dec-strategy .content dl dt p{
	position: absolute;
	left: 0;
	top:0;
	width: 0.3rem;
	height: 0.3rem;
	background-color: rgba(56,65,87,0.3);
	padding:0.1rem;
	line-height:0.12rem;
	color:#fff;
	font-size:0.1rem;
	letter-spacing: 0.03rem;
	text-align: center;
}
.dec-strategy .content dl dd{
	width: 2.025rem;
}
.dec-strategy .content dl dd h3{
	line-height: 0.2rem;
	font-size: 0.12rem;
	color:#3c3c3c;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.dec-strategy .content dl dd p{
	line-height: 0.15rem;
	font-size: 0.09rem;
	color:#aaa;
	height: 0.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	/* white-space:nowrap; */
}
.hotcity{
	min-height: 0.3rem;
	background-color: #fff;
	border-top: 0.01rem solid #ef5858;
}
.hotcity h2{
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
	border-bottom: 1px dashed #eee;
	font-size: 0.12rem;
	color:#3c3c3c;
	font-weight: normal;
}
.hotcity ul{
	padding:0.05rem 0 0.1rem 0.1rem;
	overflow: hidden;
}
.hotcity ul li{
	float:left;
	margin-right: 0.14rem;
	font-size: 0.12rem;
	line-height: 0.18rem;
	color:#3c3c3c;
}
.hotcity ul li a{font-size: 0.05rem;}
.summary{
	height: 0.97rem;
	background-color: #fff;
	padding:0.06rem 0.1rem 0;
	line-height: 0.18rem;
	font-size: 0.12rem;
	color:#3c3c3c;
	text-indent:2em;
}