<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <script src="../../js/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../css/productList.css">
    <script type="text/javascript" src="../../import/vue/vue.js" ></script>
    <title>产品列表</title>
</head>
<body>
<div id="app">
    <!--产品列表-->
    <div class="listBox">
        <div class="boxTop">
            <div class="imgBox">
                <img src="../../img/yt.png" alt="">
            </div>
            <div class="infoBox">
                <h1 class="goodsName">西山樱桃<span>5斤装</span></h1>
                <h1 class="lastTime">西山樱桃<span>【最后两天】</span></h1>
                <p class="nowPrice">￥20.00<span class="originPrice">原价：400.00元</span></p>
                <p class="joinText">还可以<span class="joinNum">60</span>人参加</p>
            </div>
        </div>
        <div class="boxBottom">
            <span class="restTime">剩余时间：<em class="timeNum">10:10:09</em></span>
            <router-link>
            <div class="btnBox">
                <p class="kanjiaText">去砍价</p>
            </div>
            </router-link>
        </div>
    </div>
    <div class="listBox">
        <div class="boxTop">
            <div class="imgBox">
                <img src="../../img/yt.png" alt="">
            </div>
            <div class="infoBox">
                <h1 class="goodsName">西山樱桃<span>5斤装</span></h1>
                <h1 class="lastTime">西山樱桃<span>【最后两天】</span></h1>
                <p class="nowPrice">￥20.00<span class="originPrice">原价：400.00元</span></p>
                <p class="joinText">还可以<span class="joinNum">60</span>人参加</p>
            </div>
        </div>
        <div class="boxBottom">
            <span class="restTime">剩余时间：<em class="timeNum">10:10:09</em></span>
            <router-link>
                <div class="btnBox">
                    <p class="kanjiaText">去砍价</p>
                </div>
            </router-link>
        </div>
    </div>
    <div class="listBox">
        <div class="boxTop">
            <div class="imgBox">
                <img src="../../img/yt.png" alt="">
            </div>
            <div class="infoBox">
                <h1 class="goodsName">西山樱桃<span>5斤装</span></h1>
                <h1 class="lastTime">西山樱桃<span>【最后两天】</span></h1>
                <p class="nowPrice">￥20.00<span class="originPrice">原价：400.00元</span></p>
                <p class="joinText">还可以<span class="joinNum">60</span>人参加</p>
            </div>
        </div>
        <div class="boxBottom">
            <span class="restTime">剩余时间：<em class="timeNum">10:10:09</em></span>
            <router-link>
                <div class="btnBox">
                    <p class="kanjiaText">去砍价</p>
                </div>
            </router-link>
        </div>
    </div>
</div>
</body>
</html>