/* commons */

/* wrapper */
#wrapper { margin: 0 auto; width: 87% }
#wrapper #container { margin-bottom: 30px; width: 100% }

/* content */
article > p { font-size: 1.5em }

.option div { color: #444; font: bold 1.4em verdana; margin-top: 12px; letter-spacing: .7px }
.option div span { color: #888; font: 1em arial }
.option p { color: #444; font-size: 1.2em; letter-spacing: .4px; margin-top: 5px; text-align: left }

.function p { color: #444; font-size: 1.2em; letter-spacing: .4px; margin-left: 3px; margin-top: -8px; text-align: left }

.demo { margin-bottom: 10px }

.highlight { clear: both }



