        *{font-size: 0.26rem;font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
        body{background: #f5f5f5 !important; display: none;visibility: hidden;}
        .shipintuijian{width:100%;height:auto;overflow: hidden;background: #fff;}
        .shipintuijian .wrapbktp{width: 100%;height: 3.45rem;margin-bottom: 0.2rem;}
        .shipintuijian .wrapbktp a{height: 100%;display: inline-block;position: relative;}
        .shipintuijian img{height: 3.45rem;width: 100%;}
         .shipintuijian .wrapbktp a .playan{width: 1.2rem;height: 1.2rem;display: inline-block;position: absolute;margin: auto;top: 0;
         	right: 0;bottom: 0;left: 0;}
         	.shipintuijian .wrapbktp a .wrapsp{width: 100%;background: url(/assets/mobile/video/img/toumingbj.png) no-repeat;height: 0.5rem;
         		line-height:0.5rem;position: absolute;bottom: 0;}
         .shipintuijian .wrapbktp a .wrapsp .shipints{width: 96%;height: 0.5rem;line-height:0.5rem;
         	text-align: left;color: #fff;margin:0 auto;overflow: hidden;}
		.zhuagnxiuxg{width: 100%;height: auto;background: #fff;margin-top: 0.2rem;overflow: hidden;}
		.zhuagnxiuxg ul{width: 96%;margin:0 auto;display: block;height: auto;overflow: hidden;margin-top: 0.2rem;}
		.zhuagnxiuxg ul li{width: 49%;height: auto;float: left;}
		.zhuagnxiuxg ul li.zxfgjj{margin-right: 2%;margin-bottom: 0.25rem;}
		.zhuagnxiuxg ul li.zxfgjj02{margin-bottom: 0.25rem;}
		.zhuagnxiuxg ul li p{width: 100%;position:relative;}
		.zhuagnxiuxg ul li p .qishutime{position: absolute;font-size: 0.2rem;bottom: 0;right: 0;background: #000;opacity:0.6;color: #fff;display: inline-block;width: 1.6rem;height: 0.36rem;line-height: 0.36rem;text-align: center;}
		.zhuagnxiuxg ul li p img{width: 100%;height:1.95rem; }
		.zhuagnxiuxg ul li .xdjyfg{font-size: 0.26rem;margin-top: 0.16rem;overflow:hidden;height: 0.4rem;line-height: 0.4rem;color: #333;}
		.zhuagnxiuxg ul li .xdjyfg_xq{font-size: 0.22rem;overflow:hidden;color: #999;height: 0.4rem;line-height: 0.4rem}
		.fa{margin-right: 0.05rem;}
		/*老的头部与底部修改*/
header .m-header-left,header .m-header-his, header .m-header-right{
	font-size: 28px;
	line-height: 50px;
}
header .m-header-tit{
	font-size: 17px;
}
.m-bj-edit{
	width: 7.1rem;
	margin: 0 auto;
	margin-top: .15rem;
}
.m-bj-edit li {
	width: 7.1rem;
	height: .88rem;
	margin-bottom: .2rem;
	border: 1px solid #dedee0;
}
.m-bj-edit li .m-bj-edit-list {
	width: 7.1rem;
	height: .5rem;
	display: block;
	/*border: 1px solid #dedee0;*/
	box-sizing: border-box;
	padding-left: 0.2rem;
	border: 0;
	margin-top: .19rem;
	font-size: .3rem;
	outline: none;
}
.m-bj-edit li .m-row-int1 {
	position: relative;
}
.m-bj-city {
    padding-left: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    height: .88rem;
    text-align: left;
    font-size: .3rem;
    background: #fff;
    color: #a9a9a9;
	display: block;
	border: 0;
}
.m-bj-btn {
	width: 7.1rem;
    height: .88rem;
    margin: 0 auto;
    color: #fff;
    line-height: .88rem;
    text-align: center;
    font-size: .34rem;
    background: #ff5659;
    display: block;
    letter-spacing: .04rem;
}
footer {
    text-align: center;
    width: 100%;
    background: #eee;
    padding: .5rem 0;
    line-height: .5rem;
    padding-bottom: 1.5rem;
}
footer .links {
    font-size: .36rem;
}
footer p:last-child {
    font-size: .28rem;
}
.zb-link-bottom{
	bottom:0;
	position:fixed;
	height:1.2rem;
	width:100%;
	box-sizing:border-box;
	padding-left:25%;
	background:rgba(0,0,0,.7);
	color:#fff;
	z-index: 4;
}
.zb-link-bottom .tit{
	color: #f0d190;
    margin-top: .16rem;
    font-size: .3rem;
}
.zb-link-bottom p{font-size:0.24rem}
.zb-link-bottom img{
	bottom: 0;
    height: 1.6rem;
    width: auto;
    left: .25rem;
    position: absolute;
}
.zb-link-bottom a{
	display: block;
    position: absolute;
    height: .6rem;
    color: #fff;
    border-radius: 3px;
    padding: 0 .5rem;
    background: #ff5659;
    right: .3rem;
    line-height: .6rem;
    top: 0.3rem;
    font-size: .3rem;
}
#zxkf {
    position: fixed;
    width: 1rem;
    bottom: 1.25rem;
    right: .2rem;
    z-index: 4;
}
#zxkf img{
    width: 100%;
}
.full-nav {
    font-size: .24rem;
}