<extend name="Common@Common:basic" />
<block name="meta">
    <title>
        {$vars['category'][$vars['search']['fengge']]['name']}{$vars['category'][$vars['search']['huxing']]['name']} 3D效果图装修设计3D图{$vars.page}-齐装网
    </title>
    <meta name="keywords" content="{$vars['category'][$vars['search']['fengge']]['name']}{$vars['category'][$vars['search']['huxing']]['name']}3D效果图,装修效果图,装修设计3D图片">
    <meta name="description" content="齐装网装修效果图3D室内效果图专区，海量全面的{$vars['category'][$vars['search']['fengge']]['name']}{$vars['category'][$vars['search']['huxing']]['name']}3D室内效果图库，为您提供3D室内效果图和样板案例图库，找装修案例设计效果图片就上齐装网！">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/home/meitu/css/category.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <div class="wrap">
        <div class="bread">
            <a href="http://meitu.{:C('QZ_YUMING')}/">装修效果图</a> &gt; 3D效果图
        </div>
    </div>
    <div class="navigation">
        <ul class="fgstyle">
            <div class="fgstyle_fg">
                风格
            </div>
            <eq name="vars.search.fengge" value="0">
                <eq name="vars.search.huxing" value="0">
                    <a href="/3d/">
                        <li class="active">
                            全部
                        </li>
                    </a>
                <else />
                    <a href="/3d-{$vars.search.huxing}/">
                        <li class="active">
                            全部
                        </li>
                    </a>
                </eq>
            <else />
                <eq name="vars.search.huxing" value="0">
                    <a href="/3d/">
                        <li>
                            全部
                        </li>
                    </a>
                <else />
                    <a href="/3d-{$vars.search.huxing}/">
                        <li>
                            全部
                        </li>
                    </a>
                </eq>
            </eq>
            <volist name="vars.category" id="vi">
                <if condition="($vi['type'] EQ 1) AND ($vi['recommend'] EQ 1)">
                    <eq name="vi.id" value="$vars['search']['fengge']">
                        <eq name="vars.search.huxing" value="0">
                            <a href="/3d-{$vi.id}/">
                                <li class="active">{$vi.name}</li>
                            </a>
                        <else />
                            <a href="/3d-{$vi.id}-{$vars.search.huxing}/">
                                <li class="active">{$vi.name}</li>
                            </a>
                        </eq>
                    <else />
                        <eq name="vars.search.huxing" value="0">
                            <a href="/3d-{$vi.id}/">
                                <li>{$vi.name}</li>
                            </a>
                        <else />
                            <a href="/3d-{$vi.id}-{$vars.search.huxing}/">
                                <li>{$vi.name}</li>
                            </a>
                        </eq>
                    </eq>
                </if>
            </volist>
        </ul>
        <ul class="huxing">
            <div class="fgstyle_hx">
                户型
            </div>
            <eq name="vars.search.huxing" value="0">
                <eq name="vars.search.fengge" value="0">
                    <a href="/3d/">
                        <li class="active">
                            全部
                        </li>
                    </a>
                <else />
                    <a href="/3d-{$vars.search.fengge}/">
                        <li class="active">
                            全部
                        </li>
                    </a>
                </eq>
            <else />
                <eq name="vars.search.fengge" value="0">
                    <a href="/3d/">
                        <li>
                            全部
                        </li>
                    </a>
                <else />
                    <a href="/3d-{$vars.search.fengge}/">
                        <li>
                            全部
                        </li>
                    </a>
                </eq>
            </eq>
            <volist name="vars.category" id="vi">
                <if condition="($vi['type'] EQ 2) AND ($vi['recommend'] EQ 1)">
                    <eq name="vi.id" value="$vars['search']['huxing']">
                        <eq name="vars.search.fengge" value="0">
                            <a href="/3d-{$vi.id}/">
                                <li class="active">{$vi.name}</li>
                            </a>
                        <else />
                            <a href="/3d-{$vars.search.fengge}-{$vi.id}/">
                                <li class="active">{$vi.name}</li>
                            </a>
                        </eq>
                    <else />
                        <eq name="vars.search.fengge" value="0">
                            <a href="/3d-{$vi.id}/">
                                <li>{$vi.name}</li>
                            </a>
                        <else />
                            <a href="/3d-{$vars.search.fengge}-{$vi.id}/">
                                <li>{$vi.name}</li>
                            </a>
                        </eq>
                    </eq>
                </if>
            </volist>
        </ul>
    </div>
    <div class="tuwen">
        <ul>
            <volist name="vars.info" id="vi">
                <li>
                    <div class="mianfhq">
                        <a class="mianfhq_lj01" target="_blank" href="/3d-conten{$vi.id}.html">
                            <img class="list-face" src="http://{:C('QINIU_DOMAIN')}/{$vi.face}-w660.jpg" alt="{$vi.title}">
                        </a>
                        <a class="mianfhq_lj02" href="http://www.{:C('QZ_YUMING')}/zhaobiao/ " target="_blank">
                            免费获取设计与报价
                        </a>
                    </div>
                    <a target="_blank" href="/3d-conten{$vi.id}.html" class="jianjie">
                        {$vi.title}
                    </a>
                    <div class="shuagnjs">
                        <span class="dzhfg">{$vars['category'][$vi['fengge']]['name']}</span>
                        <span>{$vars['category'][$vi['huxing']]['name']}</span>
                    </div>
                    <a target="_blank" href="/3d-conten{$vi.id}.html" class="zhuantu2"></a>
                    <a target="_blank" href="/3d-conten{$vi.id}.html" class="zhuantu"></a>

                </li>
            </volist>
        </ul>
    </div>
    <div class="fenye">
        {$vars.show}
    </div>
</block>