/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }



/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*一些全局默认样式*/

::-moz-selection{ background:#b7b59b; color:#fff; text-shadow: none; }
::selection { background:#b7b59b; color:#fff; text-shadow: none; }
body{ font-family: Tahoma, Arial, sans-serif; color:#3c3c3c; background:#fff}
a{ color:#333;}
a:hover{ color:#dc4146;text-decoration: none;}
.f-red{ color:#ff5351}
.mr-10{ margin-right:10px !important}
.mt-50{ margin-top:50px !important}
.wrap{ width:1210px; margin:0 auto}
.ofw{ overflow:hidden}
/*公共头部*/
.pub-top{ height:35px; background:#f8f8f8; border-bottom:1px solid #f3f3f3; }
.pub-top .city{ float:left; color:#666;line-height:35px;}
.pub-top .city a{ color:#dd4248}
.pub-top .city i{ color:#dd4248; font-size:16px}
.pub-top .menu{ float:right; margin-top:8px}
.pub-top .menu li{ float:left; padding:0 15px; border-right:1px solid #ccc}
.pub-top .menu li:last-of-type{ border:0}
.pub-top .menu li a{ color:#666}
.pub-top .menu li a:hover,.pub-top .menu li a.active{ color:#dd4248}

.pub-head{width:1210px; margin:0 auto; height:115px;}
.logo{ float:left;width:435px; height:115px; background:url(../images/logo.gif) no-repeat; }
.pub-search{ float:left; margin-left:70px;margin-top:35px}
.pub-search a{ float:left; margin-left:20px; display:block; margin-top:8px; color:#df4346}
.search-box{ border:2px solid #df4346; float:left; height:35px}
.search-box ul{ position:relative; width:80px; height:35px; overflow:hidden; line-height:35px; text-align:center; background:#f8f8f8; color:#999; float:left; cursor:pointer; z-index:99}
.search-box ul:hover{ height:auto}
.search-box ul:after{	content: "";
	position:absolute;
	top:16px;
	right:5px;
	border-top: 4px solid #ccc;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;}
.search-box ul:hover:after{	content: "";
	position:absolute;
	top:16px;
	right:5px;
	border-top:0;
	border-bottom: 4px solid #ccc;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;}

.search-box input[type=text]{ width:300px; height:35px; outline:none; padding-left:20px; border:0; float:left; box-sizing:border-box;border-left:1px solid #ccc;}
.search-box button{ background:url(../images/sear-btn.png) no-repeat; width:42px; height:35px; float:left; border:0; padding:0; margin:0; cursor:pointer }
.pub-nav{ 
background-color:#1F1F1F;
  background-image: -moz-linear-gradient( 90deg, rgb(64,65,69) 0%, rgb(78,78,80) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(64,65,69) 0%, rgb(78,78,80) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(64,65,69) 0%, rgb(78,78,80) 100%);
   height:45px;}
.pub-nav .nav { margin:0 auto; width:1210px}
.pub-nav .nav li{ height:45px; float:left; position:relative}
.pub-nav .nav li dl{ position:absolute; display:none; left:0; right:0; z-index:99}
.pub-nav .nav li dl dd:hover{ background:#ef6e73}
.pub-nav .nav li:hover dl{ background:#de4349; display:block}
.pub-nav .nav li:hover{ background:#de4349}
.pub-nav .nav li a{ line-height:45px; color:#fff;  padding:0 50px;font-family: "Microsoft Yahei"; font-size:18px; display:block; text-align:center}
.pub-nav .nav li.active{ background:#de4349}
.pub-nav .nav li:before{content: ""; display:block; position:absolute;width:1px; height:25px; background:#75767b; border-right:1px solid #444; top:10px}
.pub-nav .nav li:first-of-type:before,.pub-nav .nav li:hover:before{content: ""; display:none}
.nav-list:after{
	content: "";
	position:absolute;
	top:21px;
	right:25px;
	border-top: 5px solid #fff;
	border-left: 5px dashed transparent;
	border-right: 5px dashed transparent;}
.nav-list:hover:after{
	content: "";
	position:absolute;
	top:21px;
	right:25px;
	border-top:0;
	border-bottom: 5px solid #fff;
	border-left: 5px dashed transparent;
	border-right: 5px dashed transparent;}

.footer{ text-align:center; margin-top:50px}
.footer .kefu-box{ background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; padding:15px 0}
.footer .kefu-box a{ display:inline-block; font-size:14px; padding:0 10px; border-radius:3px; border-top:1px solid #E42E31; background:#ff5353; font-weight:bold; color:#fff}

.footer ul{ margin: 0 auto; width:1210px; margin-top:20px; overflow:hidden}
.footer ul a{ color:#666}
.footer ul li{ float:left; width:121px; border-right:1px solid #ddd; box-sizing:border-box}
.footer ul li:last-of-type{ border-right:0}
.footer p{ margin-top:10px; color:#999}
.footer p img{ margin: 0 20px}

.go-top{ position:fixed; bottom:20px; right:20px; width:50px; height:101px; border:1px solid #ddd; cursor:pointer}
.go-top li.t1{ border-bottom:1px solid #ddd; position:relative; height:50px; background:url(/assets/common/img/weixin.png) #fff center center no-repeat}

.go-top li.t1 span{ display:none; background:#fff; position:absolute; right:51px; bottom:-1px; padding:10px; border:1px solid #ddd}
.go-top li.t1:hover span{ display:block}
.go-top li.t2{ height:50px; background:url(/assets/common/img/top.png) #fff center center no-repeat}
.go-top li.t2 a{ display:block; height:50px;}
.go-top li:hover{ background-color:#f1f1f1}

/*弹窗*/
.windowbg{  background:#000;background:rgba(0,0,0,.5);filter:alpha(opacity=50)\9; position: fixed; top:0; bottom:0; left:0; right:0; z-index:9999}
.windowbg .order-window{ width:330px; border-radius:3px; background:#fff; margin:0 auto; position:relative; margin-top:10%; overflow:hidden}
.windowbg .order-window .tit{ height:50px; line-height:50px;border-bottom:1px #ddd solid; background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; text-align:center}
.windowbg .order-window .shutdown{ position:absolute; right:10px; top:0; color:#fff; text-shadow:0 0 1px #666; font-size:20px; cursor:pointer}
.windowbg .order-window h3 { font-family: "Microsoft Yahei";font-size: 14px; font-weight: 100; margin-bottom:10px}
.windowbg .order-window .edit-text { width: 100%; height: 65px; }
.windowbg .order-window .edit-text input[type=text]{ padding-left:20px;display: block;  box-sizing: border-box; height:35px; width:100%; border: 1px solid #dcd8d9; }
.windowbg .order-window .edit-text .edit-city { width: 100%; height: 35px; margin-bottom: 30px; border: 1px solid #dcd8d9; }
.windowbg .order-window button { width: 100%; height: 35px; border-radius: 3px; background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer }
.windowbg .order-window .order-info{ padding:20px; text-align:center;}
.windowbg .order-window p{ margin-top:10px; text-align:center ; color:#666}
.windowbg .order-window .weiximg{ padding:30px 0; margin:0 auto; display:block}
