i{ font-style:normal}
.login-img{ position:relative; float:left; width:540px; height:340px; margin-top:60px; margin-left:100px}
.login-img .zhezhao{ position:absolute;width:540px; height:340px; left:0; top:0; background:url(../images/zhezhao.png)}
.login-img img{width:540px; height:340px;}
.loginbox{ width:298px; border:1px solid #ddd; min-height:340px; float:right; margin-top:50px; margin-right:60px; padding:20px;font-family:"Microsoft YaHei"}


.erweima img{ width:100px; height:100px; margin:0 auto; display:block; margin-top:60px; padding:5px; border:1px solid #f1f1f1}
.erweima p{ text-align:center; font-size:14px; line-height:30px}
.erweima a.help{ position:relative; text-align:center; display:block; font-size:12px; line-height:30px; width:80px; margin:0 auto}
.erweima a.help .tip{ display:none; width:219px; height:173px; position:absolute; bottom:30px; left:-70px; background:url(../images/845.png); border:1px solid #f1f1f1}
.erweima a.help:hover .tip{ display:block}
.loginbox .tips{ color:#e95252; line-height:20px;}
.loginbox .loginput{ margin-top:20px}
.loginbox .loginput input{ border:1px solid #ddd;height:40px; line-height:40px; width:286px; padding-left:10px; margin-top:0; }
.loginbox .loginput .yanzheng { height:20px; line-height:20px; color:#F30}
.loginbox .forgt{ text-align: right;}
.loginbox .forgt label{ float:left; display:inline-block}
.loginbox .forgt label input[type=checkbox]{ vertical-align:-2px}
.loginbox .loginput input:focus {outline:none;}
.loginbox .loginput input.log{ background:url(../pic/loginboxbg.png) no-repeat 10px 0; }
.loginbox .loginput input.res{ background:url(../pic/loginboxbg.png) no-repeat 10px -50px; }
.loginbox .loginput .tel{ height:42px}
.loginbox .loginput .tel input{ width:50%;height:42px; line-height:42px; float:left; box-sizing:border-box}
.loginbox .loginput .tel button{ width:50%;float:left;  box-sizing:border-box;text-align:center;height:42px; line-height:42px; background:#ddd; border:0; color:#666; cursor:pointer}
.loginbox .btn { line-height:40px;  height:40px; margin-top:20px}
.loginbox .btn button{ display:block;  text-align:center;  font-size:16px; font-weight:bold;text-decoration:underline; color:#f24b4b; cursor:pointer; border:0}
.loginbox .btn button.logbtn{ height:40px; background:#ff5659; border-radius:3px; color:#fff; text-decoration:none; width:100%}
.loginbox .btn button.logbtn:hover{ text-decoration:none; background:#DF3538}
.loginbox .other{ margin-top:20px; padding-top:20px;border-top:1px dotted #f1f1f1; overflow:hidden;line-height:35px;  }
.loginbox .other a{ display:block; width:35px; color:#FFF; height:35px; border-radius:100px; text-align:center;}
.loginbox .other a.qqlogin{ background:url(../pic/otherlogin.png) no-repeat 2px -6px #3bc9f7; float:left; margin-right:10px}
.loginbox .other a:hover{ text-decoration:none; opacity:0.8}
.loginbox .other i{ float:left; margin-right:10px}
.loginbox .other a.weibologin{ background:url(../pic/otherlogin.png) no-repeat 2px -58px #e15050; float:left; margin-right:10px}
.loginbox .other a.tblogin{ background:url(../pic/otherlogin.png) no-repeat 2px -155px #06BB80; float:left; margin-right:10px}
.logintit{ line-height:30px; text-align:center}

.loginbox .tab .tab-nav{ overflow:hidden;}
.loginbox .tab .tab-nav a{ width:149px; text-align:center; float:left; display:block; height:40px; line-height:40px; text-decoration:none; font-size:16px; color:#3c3c3c; border-bottom:2px solid #f1f1f1; border-radius:0}
.loginbox .tab .tab-nav a.current{ border-bottom:2px #ee4040 solid; color:#ee4040}
.loginbox .tab .tab-con-item{ display:none} 


.loginbox .tab-res .tab-nav{ overflow:hidden;}
.loginbox .tab-res  .tab-nav a{ width:99px; float:left; display:block; height:40px; line-height:40px; text-decoration:none; font-size:14px; color:#3c3c3c; border-bottom:2px solid #f1f1f1; border-radius:0}
.loginbox .tab-res  .tab-nav a.current{ border-bottom:2px #ee4040 solid; color:#ee4040}
.loginbox .tab-res  .tab-con-item{ display:none} 


.loginbox .other1{ border-top:#e6e6e6 1px dashed; margin-top:20px; padding-left:20px; line-height:20px; padding-top:20px; color:#888888}
.loginbox .other1 img{ float:left; margin:0 10px; }
.loginbox .other1 a{ display: inline}
.loginbox .other1 p{ display:block; width:100%; overflow:hidden}
.loginbox .other1 em{ float:left;display:block}
.loginbox .tab-con-item ul { margin-top:20px}
.loginbox .tab-con-item ul li{ overflow:hidden}
.loginbox .tab-con-item ul li  input:focus {outline:none;}
.loginbox .tab-con-item ul li .full{ width:276px; height:35px; line-height:35px; border:1px solid #ddd; padding:0 10px}
.loginbox .tab-con-item ul li .half{ width:120px; height:35px; line-height:35px; border:1px solid #ddd; padding:0 10px; float:left; }
.loginbox .tab-con-item ul li .half-yanz{ width:142px; height:35px; line-height:35px; border:1px solid #ddd; padding:0 10px; float:left; }
.loginbox .tab-con-item ul li img{ float:left}
.loginbox .tab-con-item ul li .registertips{ height:20px; color:#ee4040; clear:both}
.loginbox .registerbtn{ height:35px; line-height:35px; text-align:center; background:#44b549; color:#FFF;text-decoration:none; font-size:14px; display:block; margin-top:20px}
.loginbox .registerbtn:hover{ text-decoration:none;background:#08be77}
.logintit{ text-align:left; margin-top:10px}
.loginbox .tab-con-item ul li select{float: left;
width: 144px;
padding-left: 10px;
height: 34px;
margin-right: 10px;
display: inline;border:1px solid #ddd;}

.loginbox .tab-con-item ul li .mr18{ margin-right:13px}
.simpleTips{ height:20px; float:left; width:140px}

.pub-head h3{ float:left; margin-top:45px;font-family:"Microsoft YaHei"; font-size:18px; font-weight:100; }
.pub-head .back-link{ float:right; margin-top:50px; font-family:"Microsoft YaHei";font-size:14px;}
.pub-head .back-link a{ margin-left:20px}