/*新增*/
.c-news-operation{ line-height:30px; background:#f7f7f7; padding:5px 5px; margin:5px 0;}
.c-news-operation a{margin: 0 20px 0 0;}
.c-news-operation a:first-child{margin-left: 5px;}
.c-news-operation input{ margin-right:5px; vertical-align:-2px}
.c-news-operation label{margin-right:5px; cursor: pointer;}
.c-news-operation .c-news-btn-del{ height:20px; padding:0 10px; background:#fff; border:1px solid #ccc; border-radius:2px; margin-left:20px;  background-image: -moz-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(238,238,238) 0%, rgb(255,255,255) 100%); cursor:pointer}
.c-news-operation .c-news-btn-del:active{
      background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(238,238,238) 100%);}
.c-news-operation .c-news-btn-del:focus{ outline:0; border:1px solid #B0C9EB}
.c-news-ul li{ overflow:hidden; line-height:30px; height:30px; padding:10px 5px; border-bottom:1px dotted #eee;}
.c-news-ul li:first-child{border-top:1px dotted #eee}
.c-news-ul li:hover,.c-news-ul li.readed:hover{ background:#f7f7f7}
.c-news-ul li > *{ display:inline-block}

.c-news-ul li i.icon-envelope-alt{font-size:14px;vertical-align:1px; color:#ccc; margin:0 30px;}

.c-news-ul li.readed i.icon-envelope{font-size:14px;vertical-align:1px; color:#FFE500;margin:0 30px;}
.c-news-ul li i.icon-trash{line-height:30px; font-size:18px; float:right; height:30px; width:30px; box-sizing:border-box; text-align:center; border-radius:3px; border:1px solid #eee;cursor:pointer; background:transparent;}
.c-news-ul li i.icon-trash:hover{ color:#ff5659}
.c-news-ul li input{vertical-align:-1px; }
.c-news-ul li .c-news-tit{ margin-left:10px; width:670px}
.c-news-ul li .c-news-date{ color:#ccc; float:right; margin-right:10px}