.yh-need{ line-height:40px; margin:10px 0; font-size: 14px; color: #666;}
.yh-need li { overflow:hidden; width:100%; margin-bottom:10px}
.yh-need li span{ width:90px;font-size:14px; display:inline-block; font-weight:bold}
.yh-need input[type=text],.yh-need textarea,.yh-need select{ border:1px solid #ccc; display:inline-block}
.yh-need input.write{color: #666; padding-left: 5px; width:300px; line-height:30px; height:30px; margin-right:10px}
.yh-need input.hlaf{ color: #666; padding-left: 5px; width:100px; line-height:30px; height:30px; margin-right:10px}
.yh-need select{color: #666; padding:5px; margin-right:10px}
.yh-need select option{padding-left: 5px;}
.yh-need textarea{color: #666; padding-left: 5px; margin-top:10px;resize:none; width:300px; height:90px}
.yh-need li em{margin-left: 5px;}
.yh-main{ min-height:500px}
.yh-need input[type=text].focus{border:1px solid #F15858;}
/*******/
.yh-order-list{ width:100%; text-align:center; margin-top:20px}
.yh-order-list .order-title td{ width:12.5%; line-height:50px; background:#f1f1f1}
.yh-order-list .order-list td{  line-height:50px; border-bottom:1px solid #f1f1f1}
.yh-order-list .order-list td a{ padding:0 5px}

/***留言管理***/

.assess-list li{ margin-top:20px ;border:1px solid #f1f1f1; padding:10px; line-height:25px}
.assess-list li p{ overflow:hidden}
.assess-list li p strong{ float:left}


/********/
.collect-list{ overflow:hidden; margin:20px 0; width:1000px}
.collect-list li{ position:relative}
.collect-list li span.icon-ok{ background:#6C6; color:#fff; font-size:18px; position:absolute; width:30px; height:30px; line-height:30px; text-align:center; top:10px; right:10px}
.collect-list li span.icon-remove{ background:#ED3F50; color:#fff; font-size:18px; position:absolute; width:30px; height:30px; line-height:30px; text-align:center; top:10px; right:10px}
.collect-list li span.icon-eye-open{ background:#FC0; color:#fff; font-size:18px; position:absolute; width:30px; height:30px; line-height:30px; text-align:center; top:10px; right:10px}
.collect-list li:hover{ background:#f7f7f7}
.collect-list li{ float:left; width:248px; overflow:hidden;text-align: center; padding:10px; border:1px solid #f1f1f1; margin-right:30px; margin-bottom:20px; }
.collect-list li img{ height:170px; max-width:100%; width:auto; margin-bottom:10px}
.collect-list li p{ text-align:left; line-height:25px}.collect-list li p span{ color:#aaa; margin-right:20px}


.add-btn{ display:block; padding:10px 20px; line-height:30px;  border:2px dashed #f1f1f1;color:#38b47e; font-size:18px; text-align:center;margin-top:20px}
.add-btn:hover{ background:#8ad9b7; color:#fff; text-decoration:none; border:2px dashed #fff;}
/*******/
.ht-article-list{ width:100%; text-align:center; margin-top:20px}
.ht-article-list .ht-article-tit td{ height:50px; line-height:50px; background:#f7f7f7;font-size:14px; font-weight:bold}
.ht-article-list .main-list td{ height:50px; line-height:50px; border-bottom:1px solid #f7f7f7}.ht-article-list .main-list td a{ text-decoration:underline; margin:0 5px}





/*********/
.ht-moreinfo{ font-size:14px; line-height:30px; margin-top:50px}
.ht-moreinfo>li{ margin-bottom:20px; overflow:hidden}
.ht-moreinfo>li>span{ float:left; width:80px; font-weight:bold; text-align:right; padding-right:10px}
.ht-moreinfo>li input[type=text]{ border:1px solid #ccc; line-height:30px;display:inline-block; margin-right:20px; width:169px; height:30px\0}
.ht-moreinfo>li .select{ border:1px solid #ccc; height:30px; width:171px}
.jianjiemain{ height:100px; line-height:20px; border:1px solid #ccc;resize:none; width:480px}
.ht-moreinfo>li select{ border:1px solid #ccc; height:30px;}

.ht-comp-phot { overflow:hidden; max-height:324px}
.ht-comp-phot li{ float:left; width:150px; height:150px; border:1px solid #f1f1f1; margin-right:20px; margin-bottom:20px}
.ht-comp-phot li.uplord a{ width:150px; text-align:center; color:#ccc; font-size:16px; padding-top:40px; display:block; background:#f1f1f1; height:110px}
.ht-comp-phot li.uplord a:hover{ text-decoration:none; color:#888; background:#ccc}
.ht-comp-phot li.uplord a i{ display:block; width:150px}
.ht-comp-phot li .phot{ text-align:center; height:120px; width:150px; line-height:116px; background:#f7f7f7; position:relative}
.ht-comp-phot li .phot .del{ background:rgba(0,0,0,.6); background:#000\0; position:absolute; top:0; right:0; height:20px; color:#fff; width:30px; height:30px; line-height:30px; font-size:20px; cursor:pointer}
.ht-comp-phot li .phot img { width:auto; max-width: 100%; height:auto;vertical-align:middle; max-height:100% }.ht-comp-phot li input[type=text]{ height:30px; line-height:30px; width:140px; padding:0 5px; z-index:99}

/******/
.ht-aticle-change{ margin-top:50px}
.ht-aticle-change li span{ font-size:14px; font-weight:bold; display:inline-block; width:90px; line-height:30px}
.ht-aticle-change li { margin-bottom:20px}
.ht-aticle-change li input[type=text]{ border:1px solid #ccc; height:28px; line-height:30px; width:200px}
.ht-aticle-change li .chouse{ border:1px solid #ccc; height:30px}

.ht-yes a{display: inline-block;display: inline\9;}
.ht-company{display: none; text-align: left; padding:5px 0; position: relative;}
.ht-company a{margin-right: 10px;}
.ht-company .pull-right{position: absolute;right: 5px; bottom: 0;}

.comment_box{display: none;}
.comment_box .input{text-align: left;}
.comment_box  textarea{color: #666;padding-left: 5px; width: 100%; border: 1px solid #ccc;height: 200px; margin-top: 10px; resize:none;}
.comment_box .input .close{background: #c6c6c6;color: #fff; border-color: #c9c9c9;}