<div class="menutop">
    <div class="wrap">
        <div class="weiz"><span>{$area.cname}</span><i><a href="http://{$area.bm}.{:C('QZ_YUMING')}/" target="_blank">[进入]</a><a href="http://{:C('QZ_YUMINGWWW')}/city/">[切换城市]</a></i>
        </div>
        <div class="login">
            <ul>
                <li><a href="http://{$info.user.bm}.{:C('QZ_YUMING')}/zhaobiao/" class="hot" target="_blank">免费招标</a> </li>
                <li class="line">|</li>
                <li><a href="http://{$info.user.bm}.{:C('QZ_YUMING')}/xgt/" target="_blank">装修案例</a> </li>
                <li> 全国统一服务热线：<strong>{:OP('QZ_CONTACT_TEL400')}</strong> </li>
                <li class="line">|</li>
                <li>
                    <a class="loginout" href="/loginout/">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="ht-tit"><div class="warp">用户管理中心</div></div>
<if condition="$citytmp">
    {$citytmp}
</if>