.weui-cells_form{
    position: absolute;
    width: 2rem;
    top: 0.3rem;
    left: 50%;
    z-index: 9999;
    background-color: transparent;
    opacity: 1;
    border-color: transparent;
    margin: 0px;
}
#uploaderCustomInput{
    background-color: green;
    opacity: 0;
}
.weui-uploader__input-box{
    border-color: transparent;
}
.weui-uploader__input{
    opacity: 1;
}
.weui-uploader__input{
    height: auto;
}
.weui-cells{
    background-color: transparent;
}
.weui-cells:before{
    border-top-color: transparent;
}
.weui-cells:after{
    border-bottom-color: transparent;
}
.weui-cell{
    padding: 0;
}
.weui-uploader__input-box:active{
    border-color: transparent;
}
.weui-uploader__input-box:after, .weui-uploader__input-box:before{
    background-color: transparent;
}
.weui-uploader__input-box:active:after, .weui-uploader__input-box:active:before{
    background-color: transparent;
}
.weui-uploader__files{
    display: none;
}
/*.weui-cells_form div, .weui-cells_form input, .weui-cells_form ul, .weui-cells_form li{*/
    /*border-color: transparent !important;*/
/*}*/
/*.weui-cells_form .weui-cell{*/
    /*padding: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
