::-moz-placeholder { color: #fff; }
::-webkit-input-placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }
body{font-size: 0 !important;}
.qzwldy01{width: 100%;height: 185px;background: url(/assets/mobile/newfadan/img/qzwldy01.jpg) no-repeat;
background-size: 100% 100%;overflow:hidden;}
.qzwldy02{width: 100%;height: 92px;background: url(/assets/mobile/newfadan/img/qzwldy02.jpg) no-repeat;
background-size: 100% 100%;overflow:hidden;}
.qzwldy03{width: 100%;height: 159px;background: url(/assets/mobile/newfadan/img/qzwldy03.jpg) no-repeat;
background-size: 100% 100%;overflow:hidden;}
.qzwldy04{width: 100%;height: 124px;background: url(/assets/mobile/newfadan/img/qzwldy04.jpg) no-repeat;
	position: relative;background-size: 100% 100%;text-align: center;}
.qzwldy04 .youhuiq01{width: 22%;height: 52px;margin-right: 36px;display: inline-block;margin-top: 7.5px;
	background: url(/assets/mobile/newfadan/img/youhuiq01.jpg) no-repeat;background-size: 100% 100%;cursor: pointer;}
.qzwldy04 .youhuiq02{width: 22%;height: 52px;margin-right: 36px;display: inline-block;margin-top: 7.5px;
	background: url(/assets/mobile/newfadan/img/youhuiq02.jpg) no-repeat;background-size: 100% 100%;cursor: pointer;}
.qzwldy04 .youhuiq03{width: 22%;height: 52px;display: inline-block;margin-top: 7.5px;
	background: url(/assets/mobile/newfadan/img/youhuiq03.jpg) no-repeat;background-size: 100% 100%;cursor: pointer;}
.qzwldy05{width: 100%;height: 262px;background: url(/assets/mobile/newfadan/img/qzwldy05.jpg) no-repeat;
	position: relative;background-size: 100% 100%;overflow:hidden;}
.qzwldy05 .toumbj{width: 94%;min-height: 226px;margin: 0 auto;background: rgba(255,255,255,0.2);margin-top: 10px;
	text-align: center;}
.qzwldy05 .toumbj .biaod01{margin: 0 auto;width: 87.7%;overflow: hidden;}
/*.qzwldy05 .toumbj .tishi01{width: 87.7%;margin: 0 auto;text-align: left;color: #ff5353;font-size: 9px;display: none;}*/
.qzwldy05 .toumbj .biaod02{margin: 0 auto;width: 87.7%;overflow: hidden;}
.qzwldy05 .toumbj .tishi02{width: 87.7%;margin: 0 auto;text-align: left;color: #ff5353;font-size: 9px;display: none;}
.qzwldy05 .toumbj .biaod01 input{width:100%;height: 39px;line-height:39px;border: 1px solid #fff;background: none;margin-top: 24px;
box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-indent: 0.8em;
font-family: "Microsoft YaHei","微软雅黑";color: #fff;outline: none;font-size: 14px;margin-bottom: 10px;}
.qzwldy05 .toumbj .biaod02 input{width:100%;height: 39px;line-height:39px;border: 1px solid #fff;background: none;margin-top: 10px;
margin-bottom: 10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-indent: 0.8em;
font-family: "Microsoft YaHei","微软雅黑";color: #fff;outline: none;font-size: 14px;}
.qzwldy05 .toumbj button{width: 87.7%;height: 44px;line-height: 44px;background: #ff5353;text-align: center;color: #fff;
border:none;margin:0 auto;display: block;margin-top: 10px;margin-bottom: 10px;outline: none;font-size: 15px;
font-family: "Microsoft YaHei","微软雅黑";letter-spacing: 1px;}
.qzwldy05 .fangwen{color: #fff;text-decoration: underline;margin: 0 auto;font-size: 10px;margin-bottom: 10px;
	display: inline-block;font-family: "Microsoft YaHei","微软雅黑";}
.qzwldy06{width: 100%;height: 105.5px;background: url(/assets/mobile/newfadan/img/qzwldy06.jpg) no-repeat;
	position: relative;background-size: 100% 100%;overflow:hidden;}
.qzwldy06 .zxrexian01{font-size: 16px;color: #fff;text-align: center;margin-top: 11px;}
.qzwldy06 .zxrexian01 a{color: #fff;}
.qzwldy06 .zxrexian01 a span{width: 23px;height: 23px;display: inline-block;border-radius: 50%;border:1px solid #fff;
line-height: 23px;text-align: center;margin: 0 6px;}
.qzwldy06 .zxrexian02{font-size: 16px;color: #fff;text-align: center;margin-top: 7px;}
.qzwldy06 .zxrexian03{font-size: 11px;color: #fff;text-align: center;margin-top: 7px;}
#footer{display: none;}
.yinying{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(4,4,4,0.8);display: none;}
.successlingqu{width: 265px;height: 200px;border-radius: 5px;background: #fff;position: fixed;top: 0;bottom: 0;
left: 0;right: 0;margin: auto;display: none;}
.successlingqu .cglq{color:#ff5353;font-size: 25px;text-align: center;font-family:"Microsoft YaHei","微软雅黑";
margin: 20px 0;font-weight: bold;}
.successlingqu .cglq2{font-size: 14px;color: #333;width: 190px;margin: 0 auto;}
.successlingqu button{height: 40px;background: #ff5353;color: #fff;font-size: 15px;line-height: 40px;text-align: center;
width: 190px;margin: 0 auto;display: block;border:none;border-radius: 5px;margin-top: 26px;outline: none;}
header .m-header-tit{font-size: 12px;}