/*
* @Author: qz_xsc
* @Date:   2017-09-25 09:31:39
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-10-16 17:12:04
*/
*{ padding:0;margin:0; border:0; list-style:none; font-style:normal}
::-moz-selection{ background: #fffe8c; color:#fff; text-shadow: none; }
::selection { background:#fffe8c; color:#fff; text-shadow: none; }
body{
font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif; font-size:12px;  background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/bc-autom.jpg") no-repeat; background-position:top center;}
input:focus {outline:none;}
a{ color:#333;text-decoration: none;}
a:hover{ color:#dc4146;text-decoration: underline;transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
}

input:-ms-input-placeholder{
    color: #999999;
}

input::-webkit-input-placeholder{
    color: #999999;
}
.red{ color:#ff6283}
.pull-right{ float:right}
.pull-left{ float:left}
.menutop{ background:#f1f1f1; height:30px; line-height:30px}
.mt20{ margin-top:20px}
.btn:hover{opacity: 0.8}
.clear{clear:both;}
.wrap{ width:1210px; margin:0 auto; }
.body-box{width: 100%; height: 100px;}
.item-box{min-height: 526px;position:relative;}
.fa-dan-1{width:1236px;height: 126px;background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/fadan-1.png"); position:absolute; bottom:0px; left:50%; margin-left: -631px;}
.fadan-1-content{position: absolute; bottom:10px; width: 1100px; left:50%; margin-left: -550px; padding:10px 20px;}
.fadan-1-content span{padding:10px;}
.fadan-1-biaoyu{font-size:25px; color: #fff;}
.fadan-1-input select{ width:200px; height: 35px;margin-left: 30px;color: #333333;}
.fadan-1-input input{ width:200px; height: 35px; padding-left: 8px; color: #333333}
.btn-submit{background: #802C14;color:#fff;display: inline-block; margin-left: 15px; cursor: pointer; font-size: 14px; padding:8px 33px !important;}
.act-title{width:560px;height: 77px; margin:35px auto; line-height: 80px; color:#fff; font-size: 22px; text-indent: 104px;}
.title-one{background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/bghd-title.png"); }
.item-number{width:1210px; height: 78px; margin:55px auto;font-size: 30px; color: #FE5629; line-height: 123px;}
.item-one{background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/bg-number.png") no-repeat center center; text-align: center; }
.item-two{background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/bg-number-2.png") no-repeat center center; text-align: center;}
.item-three{background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/bg-number-3.png") no-repeat center center; text-align: center;}
.price-title{height: 50px; color: #fff; text-align: center; font-size: 22px; line-height: 50px;}
.price-left{width:385px; background: #F5F5F5; height: 400px;}
.price-left .price-title{background: #F05C5C}
.price-center{width:385px;background: #F5F5F5; margin:0px 26px; height: 400px;}
.price-center .price-title{background: #FB9940}
.price-right{width:385px;background: #F5F5F5;  height: 400px;}
.price-right .price-title{background: #4C8EDA;}
.price-content{padding:20px 55px; text-align: center;font-size: 18px;}
.price-content table{border:1px solid #DEDEDE; background: #fff; width:300px;
    height: 260px; margin-top: 20px; font-size: 21px; padding:20px auto;}
.price-content table td span{color:#FF5255; font-weight: bold; display: block;}
.price-content table td del{padding:0px 10px; color:#999999;}
.price-content table td b{color:#FF5255;}
.price-content img{margin:35px auto;}
.order{width:300px; height: 270px;
text-align: left; line-height:23px;
 background: blue; margin-left: -10px; background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/bjd.png") no-repeat; margin-top:20px;}
 .order p{margin-bottom: 12px;}
 .item-four{background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/four.png") no-repeat center center; text-align: center; line-height: 76px;}
 .item-four_1{background: url("//staticqn.qizuang.com/pc/assets/home/guoqing/images/four_1.png") no-repeat center center; text-align: center; line-height: 76px;}
 .jp-box{border:1px solid #FED7C6; margin-top:-43px;}
 .jp-box-top{border-top: 1px solid #FED7C6;overflow: hidden; margin-top:-1px;}
 .jp-box-top .pull-left{ width: 50%; margin-left:-1px; text-align: center;}
 .jp-box-top .pull-right{width:50%; text-align: center;}
 .border-right{border-right:1px solid #FED7C6}
 .hdq{margin:30px auto;}
 .jpcontent{width:283px; margin:50px auto;}
 .jp-title{font-size: 25px; color:#FF5255; margin-bottom: 18px; padding-top: 23px;}
 .jp-nr{font-size: 22px; margin-bottom: 15px;}
 .jp-xq{font-size: 16px;}
 .btn-canyu{background: #FF5255; padding:8px 35px; color: #fff; display: inline-block; margin-top:30px; font-size: 15px; cursor: pointer;}
.jp-name{font-size: 17px;}
.tbmx{overflow: hidden; background: #F5F5F5;padding:15px; margin-top: -44px;}
.tbmx .pull-right{font-size: 17px; width:400px; margin:20px auto; text-align: center;}
.tbmx .pull-right p{text-align: left;}
.tbmx .pull-right img{margin:15px auto;}
.care{font-size: 13px;color: #999999}
.hdsm {font-size: 17px; color: #999999; line-height: 35px; margin-top: -50px;}
.hdsm span{color:black;}
.dashed{border-bottom: 1px dashed #999999;height:30px; margin-bottom: 74px;}
.bottom-fendan{background: #FE5629; margin-top:20px; width:100%; height: 80px; position: fixed; bottom:0px;}
.hqbj{min-height: auto;margin-top: -2px;}
.bottom-kong{height:100px;}
.success{width:400px; height: 200px; background: #fff; border-radius: 5px; position: fixed; margin:auto; left:0px;top:0px;right:0px;bottom: 0px; border:1px solid #DEDEDE; text-align: center; display: none; }
.success h1{ font-size: 20px; line-height: 103px; }
.success p{font-size: 15px;}
.liangfang{margin-top: -20px;}
.get-price{margin-top: -20px;}
.zxbj{margin-top: -3px}
.hdjp{margin-top: -29px;}
.mxtb{margin-top: -18px;}
.smhd{margin-top: -69px;}


#marquee{height:380px;overflow: hidden;border:1px solid #FED7C6; border-top: none; overflow: hidden;margin-bottom: 5px;}
.hdlist{width:100%;margin-top:-48px;}
.hdlist  p{font-size: 14px; margin-bottom:5px;}
.hdlist_head{background: #FF5628; color:white; font-size: 0px; line-height: 30px; border:1px solid #FED7C6; border-bottom:none;}

.hdlist_body li{line-height: 30px; font-size: 0px;}
.hdlist_body li span{display: inline-block;width:25%; font-size: 15px;text-align:center;line-height: 35px;}

.hdlist_head span{display: inline-block;width:25%; font-size: 16px;text-align:center;line-height: 35px;}



