.zxplay{ width:660px; height:384px; float:left}

.zxtright{ width:526px; height:429px; float: right;border:2px solid #f1f1f1; margin-top:25px}
.zxtright .tit{background:url(/assets/home/zixun/img/naxin.png) no-repeat #F1F1F1 35px 10px; width:235px; height:50px; border:1px solid #f1f1f1; font-size:18px; font-weight:bold; font-family:"Microsoft YaHei"; line-height:50px; padding-left:75px; margin:0 auto; margin-top:-25px; border-radius:25px; behavior: url(../css/ie-css.htc);}
.zxtright ul{ padding-top:4px}
.zxtright li { width:488px; padding:15px 20px; overflow:hidden}
.zxtright li .limg{ width:60px; height:60px; border-radius:35px; float:left; overflow: hidden; border:5px #f1f1f1 solid; margin-right:10px}
.zxtright li:hover { background:#f1f1f1}
.zxtright li:hover .limg{ border:5px #ea3d3d solid; }
.zxtright li .limg img{ width:100%; height:100%}
.zxtright li b{ line-height:25px; font-size:14px}
.zxtright li span{ float:left; width:400px; line-height:20px; color:#888}

/*装修报价*/
.atl-baojia{
    width: 932px;height: 290px;
    background-color: #fff;
    margin-top: 40px;
    border: 1px solid #e3e3e3;
    border-top: 0;
    overflow: hidden;
    position: relative;
    margin-left:-57px;
}
.atl-baojia::before{content: '';
    width: 262px;height: 1px;
    background: #e3e3e3;
    position: absolute;
    left: 0;top: 0;
}
.atl-baojia::after{content: '';
    width: 262px;height: 1px;
    background: #e3e3e3;
    position: absolute;
    right: 0;top: 0;
}
.baojia-tit{
    width: 940px;height:auto;
    text-align: center;font-size: 30px;
    color: #dfb774;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 1;
}
.atl-baojia .error-info{color: #de4349;}
.atl-baojia .focus {
    border: 1px solid #DE4349 !important;
}
.baojia-tit,.baojia-tit span{font-style: normal;font-weight: 600;}
.baojia-tit span{margin: 0 5px;}
.baojia-tit span{font-size: 36px;color: #ff5353;margin-left: 13px;}
.baojia-box{margin: 40px auto 40px 57px;}
.baojia-box{margin: 40px auto 40px 57px;}
.baojia-value,.baojia-btn,.baojia-result{float: left;}
.baojia-value{-webkit-box-shadow:0 0 10px rgba(234, 234, 234, .5);
    -moz-box-shadow:0 0 10px rgba(234, 234, 234, .5);
    box-shadow:0 0 10px rgba(234, 234, 234, .5);
    padding:20px;box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;}
.miaosuan{text-align: center;font-size: 18px;color: #333;margin-bottom: 10px;line-height: 20px;}
.miaosuan span{color: #ff5353;font-size: 26px;}
.house-input input ,.tel-num input{
    width: 248px;height: 36px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.house-input,.city-sel{margin-bottom: 10px;}
.house-input {position: relative;}
.house-input .order-icon{position: absolute; right:8px; top:10px;}
.city-sel select{
    width: 119px;height: 36px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.city-sel select:first-child{margin-right: 6px;}
.baojia-value .miaosuan_mz{margin-top:20px;}
.baojia-btn{
    width: 104px;height: 104px;
    display: block;
    /*background: url(../img/btn-img.png) no-repeat;*/
    background-size: 100%;
    /*overflow: hidden;*/
    margin: 45px  56px auto 56px;
}
.baojia-btn a {
    width: 88px;
    height: 88px;
    margin-left: 7.5px;
    margin-top: 6.5px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ff5353;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -webkit-box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255,254,255,0.8) 0 0.5em .5em, inset rgba(0,0,0,0.5) 0 -0.1em .5em, /* inner shadow */ hsl(0, 50%, 55%) 0 .1em 3px, hsl(0, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}
.baojia-btn a:hover {background-color: #f25b5b;}
.baojia-btn a:active {
    margin-top: 7.5px;
    box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
    -webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
    -moz-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
}
.baojia-btn a:active i {margin-top: 14px;}
.baojia-btn a i {
    display: block;
    color: #fff;
    margin-top: 24px;
    font-size: 19px;
    line-height: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.baojia-result{width: 334px;padding: 10px 20px;box-sizing: border-box; -webkit-box-shadow:0 0 10px rgba(234, 234, 234, .5);
    -moz-box-shadow:0 0 10px rgba(234, 234, 234, .5);
    box-shadow:0 0 10px rgba(234, 234, 234, .5); }
.result-all{color: #333;font-size: 18px;line-height: 20px;text-align: center;margin-bottom: 16px;}
.money-img{
    height: 40px;
    margin-top: 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(/assets/home/article/img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.result-all p .result-all-val{color: #f26122;font-size: 26px;margin: 0 6px;}
.result-item{width:100%;overflow: hidden;}
.result-item div{float: left;font-size: 14px;float: right;}
.result-item div:first-child{margin-right: 20px;float: left;}
.result-item div span.result-item-val {font-size: 16px;line-height: 32px;}
.result-item-val{display: inline-block;}
.result-item-left{width: auto;}


/*其他相关文章模块*/
.inlink-a-bottom{
    width: 932px;height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    margin-top: 30px;
    padding: 26px 16px 0 16px;
}
.atl-other-tit{
    font-size: 22px;
    color: #333;
    line-height: 20px;
    margin-bottom: 12px;
}
.atl-other-tit i.red-block{
    width: 4px;height: 20px;
    background-color: #ff5659;
    display: block;float: left;
    margin-right: 10px;
}
.atl-other-item{
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}
.atl-other-item:last-child{border: 0;}
.other-item-img{width: 156px;height: 127px;float: left;overflow: hidden;}
.other-item-img img{height: auto;}
.other-item-main{width: 727px;float: left; margin-left: 15px;}
.other-item-tit{color: #333;font-size: 18px;font-weight: 800;line-height: 18px;}
.other-item-info{height: 46px;color: #999;font-size: 14px;margin: 16px 0 15px 0;overflow: hidden;}
.other-item-ref{color: #999;font-size: 14px;}
.other-item-ref .add{float: left;}
.other-item-ref .time{float: right;margin-right: 12px;}

/*右侧栏装修公司口碑榜*/
.rank_credit .box{float:right;display: inline; width: 115px; margin-left: 5px;}
.rank_credit li:nth-child(5){border:none;}
.rank_credit li .paihang{
    width: 16px;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #bbb;
}

/*招标设计广告图模块*/
.sp_hf{
    margin-top:15px;
}

/*右边 最新文章*/
.atl-new, .atl-hot{
    margin-bottom: 10px;
}
.atl-hot{margin-top: 10px;}
.atl-new-head,.atl-hot-head{
    color: #333;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top:20px;
}
.atl-new-item .new-item-long p{
    overflow:hidden;
    display:block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.atl-new-item:first-child{padding-top: 0;}
.mark{
    width: 16px;
    float: left;
    text-align: center;
    position: relative;
}
.atl-new-item:nth-child(1) .mark span, .atl-new-item:nth-child(2) .mark span ,.atl-new-item:nth-child(3) .mark span{
    font-size: 22px;
    margin-left: .5px;
    margin-top: 4px;
    line-height: 20px;
    color: #f4a261;
}
.atl-new-item:nth-child(1) .mark:before ,.atl-new-item:nth-child(2) .mark:before,.atl-new-item:nth-child(3) .mark:before{
    content: '';
    width: 16px;
    height: 11px;
    background: #f4a261;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.mark:before{
    content: '';
    width: 16px;
    height: 11px;
    background: #ccc;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.mark span{
    font-size: 22px;
    margin-left: .5px;
    margin-top: 4px;
    line-height: 20px;
    color: #ccc;
}
.mark span i{
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 4px;
    top: 0;
}
.atl-new-item{padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dashed #ccc;overflow: hidden;}
.atl-new-img{
    width: 83px;height: 66px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display: none;
    overflow: hidden;
}
.new-item-long{font-size: 14px;float: left;margin-left: 5px;}
.atl-new-img img{width: 100%;height: auto;}
.atl-new-item .atl-new-main{margin-left: 26px;display: none;}
.atl-new-tit{font-size: 14px;color: #333;}
.atl-new-info{color: #999;}
.current{display: block !important;}
.hide{display: none;}
.actived{
    height: 66px;
    background: #e76f51;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.baojia-sheji,.jiri{margin: 20px 0;}







#container { width: 660px;position: relative; z-index: 0; }
#example { width: 660px;position: relative; }
#ribbon { position: absolute; top: -3px; left: -15px; z-index: 500; }

#slides { position: absolute;z-index: 100; background:#f1f1f1 }

.slides_container { width: 660px; overflow: hidden; position: relative; display: none; }

.slides_container div.slide { width: 660px; height: 384px; display: block; }

#slides .prev { position: absolute; top: 110px; left: 0px; width: 57px; height: 70px; display: block; z-index: 101; background:url(/assets/common/pic/prev.png) no-repeat }
#slides .next {position: absolute; top: 110px;  width: 57px; height: 70px; display: block; z-index: 101;  right:0px; background:url(/assets/common/pic/next.png) no-repeat}
#slides .next:hover{ background:url(/assets/common/pic/next1.png) no-repeat}
#slides .prev:hover{ background:url(/assets/common/pic/prev1.png) no-repeat}

.pagination { width: 100px; display:none }
.pagination li { float: left; margin: 0 1px; list-style: none; }
.pagination li a { display: block; width: 12px; height: 0; padding-top: 12px;  background-position: 0 0; float: left; overflow: hidden; }
.pagination li.current a { background:#F30 }

.caption { z-index: 500; position: absolute; bottom: -80px; left: 0; height:40px; width:620px; padding:20px 20px;  line-height:20px; color: #3c3c3c; color:#555}
.caption h1{ font-size:16px;font-family:"Microsoft YaHei";}
.caption p{ height:20px; overflow:hidden}

.yezbot{ height:50px; margin-top:20px; border:2px dashed #f1f1f1; background:url(/assets/home/zixun/img/bg1.jpg) no-repeat; width:656px; float:left}
.yezbot a{ background:url(/assets/home/zixun/img/yuy.png) #f15252 no-repeat 10px 0px; display:block; height:30px; line-height:30px; float:right; border-radius:15px; padding-left:30px; color:#fff; text-align: center; width:100px; font-weight:bold; margin-top:10px; margin-right:20px}.yezbot a:hover{ background-color: #FE4347; text-decoration:none}

.tab {
position: relative;
width: 1210px;
overflow: hidden;
font-family: Arial;
margin-top:30px
}
.tab .tab-nav {
height: 116px;
overflow: hidden;
background: url(/assets/home/zixun/img/zxstepbg.png) no-repeat 0 86px;
padding:0 144px;
padding-bottom:20px;

}
.tab .tab-nav a {
display: block;
float: left;
width: 156px;
height: 116px;
line-height: 80px;
text-align: center;
text-decoration: none;
color: #999;
padding:0 68px;
position:relative

}
.tab .tab-nav a img{ display:block; margin:0 auto;
transition:all 0.5s;
-moz-transition:all 0.5s; /* Firefox 4 */
-webkit-transition:all 0.5s; /* Safari and Chrome */
-o-transition:all 0.5s; /* Opera */}
.tab .tab-nav a i{ display:block; width:26px; height:26px; border:3px dotted #ea3d3d; border-radius:16px; background:#fff; position:absolute; bottom:0; left:129px}
.tab .tab-nav a.current {
}
.tab .tab-nav a.current i{  border:3px solid #ea3d3d; border-radius:16px; background: #ea3d3d;
}
.tab .tab-nav a.current img{  margin-top:15px;}
.tab .tab-con {
position: relative;
width: 1210px;
height: 400px;
overflow: hidden;
}
.tab .tab-con-item {
display: none;
width: 1210px;

}
.tab-con-item .tabtips{ text-align:center; padding-right:30px; overflow:hidden}
.tab-con-item .tabtips a{  margin-right:20px;line-height:30px; display:inline-block; border-radius:15px; height:30px; color:#3c3c3c; background:#f1f1f1; padding:0 20px; border:1px solid #eee; behavior: url(../css/ie-css.htc); }
.tab-con-item .tabtips a:hover{ text-decoration:none ;background:#ea3d3d; color:#fff; border:1px solid #de3535}
.boxtitle{font-family:"Microsoft YaHei"; border-bottom:2px dotted #eee; height:45px; padding:0 10px}.boxtitle i{ font-size:30px; line-height:45px; float:left}.boxtitle span{ margin-left:20px; color:#888; float:left; margin-top:20px}.boxtitle ul,.boxtitle li{ float:left}.boxtitle li{ margin-left:20px; font-size:14px; margin-top:17px;}


.zxlist{ width:1020px; margin:20px auto; overflow:hidden; height:350px; margin-right:100px}
.zxlist li{ width:225px; height:150px; float:left; overflow:hidden; margin-right:20px;
position:relative; margin-top:15px; padding:4px; border:1px solid #f1f1f1}
.zxlist li span{display: block; color: #FFF; font-size:12px; line-height:30px; height:30px; overflow:hidden}
.zxlist li p{color: #FFF;}
.zxlist li .tu{ background:#ccc; width:225px; height:150px;overflow:hidden}
.zxlist li .tu img{ width:100%; height:100%}
.zxlist li .zxtips{ background:rgba(0,0,0,.6); background:#444\9; height:60px; line-height:30px; color:#fff; padding:0 10px; font-size:12px; position:absolute; width:220px; overflow:hidden; bottom:-30px; left:0;-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
.zxlist li:hover .zxtips{ bottom:0px}
.btlist{ margin-top:20px; width:292px; float:left; height:175px}
.btlist li{ background:url(/assets/common/img/liststyle.gif) no-repeat 2px 7px; line-height:25px; padding-left:20px; width:272px; overflow:hidden}


.btimg{ width:282px;height:175px ; float:left; margin-right:10px; position:relative}
.btimg span{ display:block; position:absolute; bottom:-20px; left:0; height:25px; line-height:25px; padding:0 10px; width:262px; overflow:hidden; text-align:center; color:#fff; background:rgba(0,0,0,.6); background:#444\9; }
.btimg img{ width:100%; height:100%; margin-top:20px;}
.btbox{ width:585px; float:left}


/*************文章详情***************/
.article-content a,.article-content a:hover{color: #dc4146 !important}
.wenzleft{width:930px; float:left; font-family:"Microsoft YaHei";padding: 10px 0;}
.wenzright{width:260px; float:right; font-family:"Microsoft YaHei";}
.wenzrmain{ border:1px solid #eee; width:258px}

.wenzrmain .wenzhot li a{ width:238px; height:150px; display:block; overflow:hidden; padding:10px; position:relative}
.wenzhot li a img{ width:100%; height:100%}
.wenzrmain .wenzhot li a span{ display:block; position:absolute; height:25px; background:rgba(0,0,0,.6); color:#fff; line-height:25px; bottom:10px; width:238px; text-align:center; overflow:hidden}
.wenzrmain .artList {padding:10px;}
.wenzrmain .artList li {line-height:25px;padding-left:15px;height: 25px;background: url(/assets/common/pic/liststyle.gif) no-repeat left center;}

.wenzbanner{width:930px; margin-bottom:10px}
.wenzrtitle{ height:30px; line-height:30px; padding:0 12px; font-size:16px; background:#f1f1f1}
.wenz{ border:1px solid #eee; padding:20px; margin-top:20px}
.wenz dt h1{ font-weight:100; line-height:60px; font-size:2.2em}
.wenz dt .fenx{ height:30px; line-height:30px; border-bottom:1px dashed #eee; margin-bottom:20px}.wenz dt .fenx .fx{ float:right; width:200px}
.wenz dt .fenx .laiy{ float:left; color:#888}
.wenz dd{ line-height:30px; font-size:16px;/* text-indent:32px*/}
.wenz dd  img{ margin:10px auto; display:block; max-width:800px}
.wenz .article-content a{color: #ff8589}


.rtel{ float:right; width:240px; background:#fff; height:170px; padding:10px; border-top:2px solid #ed5a6b; text-align:center; font-family:"Microsoft YaHei"; padding-top:20px}
.rtel h1{  font-size:18px; line-height:25px; color:#3c3c3c; font-weight: bold}
.rtel h2{ font-size:14px; line-height:25px; color:#888; }
.rtel .int{ margin-top:10px; overflow:hidden; width:240px; height:32px}
.rtel .int input{ width:218px; border:1px solid #ccc; height:30px; line-height:30px\0; *line-height:30px;text-align:left; display:block; padding:0 5px; height:29px\9;width:228px\9; color: #666;}
.rtel .int a{ display:block; width:228px; line-height:30px; color:#fff; background:#ed5a6b; border:1px solid #ff5868; font-size:14px}
.rtel .int a:hover{ text-decoration:none; color:#fff; background:#de4348}

.wenzmore{ margin:0 auto; font-size:14px; line-height:30px; width:830px;height:30px; background:#f7f7f7; padding:0 10px;margin-top:25px;}
.wenzmore span{ margin-right:20px; display:inline-block}.wenzmore span a{ font-weight:bold}
.wenzright .rtel{float: none;}
.wenzright .adv{text-align: center;}
.plmain { margin-top:20px; border-top:1px solid #eee; overflow:hidden}
.plmain h1{ font-size:14px; line-height:35px; color:#888}
.plmain .userhead{ width:60px; height:60px; float:left }.plmain .userhead img{ width:100%; height:100%;}
.plmain .usersend{ line-height:20px; float:right; width:830px; background:#f7f7f7; padding:10px}
.plmain .usersend .name,.plmain .usersend .timer{ color:#888}
.plold{ overflow:hidden; margin-top:20px}
.plnew{ margin-top:30px; border-top:1px solid #eee}
.allsend{ text-align:center; line-height:30px; margin-top:20px; border:1px dashed #f1f1f1}
.textinput { float:right; width:850px; height:102px}
.textinput .send{ text-align:left; line-height:30px; height:30px; margin-top:10px}
.textinput .send input{text-align: center; border:1px solid #ccc; width:70px; height:26px}
.textinput .send a{padding:0 20px; display:inline-block; background:#de4348; color:#FFF; margin-left:10px}
.textinput .t1{padding-left:3px; resize:none; border:1px solid #ccc; width:844px; line-height:20px; height:58px}
.wenzbq{ padding:10px; overflow:hidden}
.wenzbq li{ float:left; margin-bottom:5px}
.wenzbq li a{ display:block; border-radius:3px; background:#e03c44; color:#fff; height:20px; line-height:20px; padding:0 5px; margin-right:10px}

.wenda {padding-bottom:15px;padding-right:7px; }
.wenda li a {display:block; overflow:hidden; padding:10px 10px 5px 10px;font-size:16px;}
.wenda li a:hover {text-decoration: none}
.wenda li p {line-height:23px;overflow:hidden;padding-left:36px;font-size:13px; color: #999;}
.wenda li span {color:red;}

/***装修流程**/
.le{ width:260px;float:left;font-family:"Microsoft YaHei"; padding-bottom:10px}
.le .tit{ height:40px; background:#eee; font-size:24px; color:#555; text-shadow:1px 1px 1px #fff; line-height:40px; text-align:center;}
.le dt{ height:30px; line-height:30px; border-bottom:1px dotted #f1f1f1; margin:0 10px; padding-left:40px; font-size:18px; margin-top:10px}
.le dl{ border:1px solid #eee; padding:20px; padding-top:0}
.le dd{ height:30px; line-height:30px; margin:0 30px; padding-left:25px; font-size:14px}.le dd.active a{ color:#C00}.le dd:hover,.le dd.active{ padding-left:30px}
.le dt.t1{ background:url(/assets/home/zixun/img/list.png) no-repeat;}
.le dt.t2{ background:url(/assets/home/zixun/img/list.png) 0px -30px no-repeat;}
.le dt.t3{ background:url(/assets/home/zixun/img/list.png) 0px -63px no-repeat;}
.ri{ width:930px; float:right;padding: 10px 0;}


.wzlist{ border-top:1px solid #f1f1f1;margin-bottom: 10px;}
.wzlist li{ position:relative; border:1px solid #f1f1f1; border-top:0; padding:10px 20px; overflow:hidden}
.wzlist li em{  color:#888; height:20px; line-height:20px; width:auto; padding:0 10px; text-align:center; border-radius:10px; float:left; background:#eee; margin-top:5px; margin-right:5px}
.wzlist li em.t1{ background:#f6c500; color:#fff;}
.wzlist li em.t2{background:#0cc66c; color:#fff;}
.wzlist li em.t3{background:#239dfa; color:#fff;}

.wzlist li .wz-tit{font-family:"Microsoft YaHei"; font-size:16px; line-height:30px; height:30px; float:left; padding-left:10px; max-width:500px; overflow:hidden}
.wzlist li .wz-tit{color:#545454}
.wzlist li i{ color:#888; display:block; line-height:20px; max-height:40px; overflow:hidden; width:100%}
.wzlist li span{ position:absolute; right:10px; top:15px; width:150px; text-align:center; background:#f7f7f7; border-radius:5px; height:20px; line-height:20px; color:#ff7a7a}
.wzlist li .sltimg{ height:150px; margin-top:20px; margin-bottom:10px; overflow:hidden}
.wzlist li .sltimg img{ height:100%; width:auto; margin-right:20px}

.uplold{padding:15px; border-color:#faebcc;  text-align:center;color:#666; background:#fcf8e3;}
.uplold > i{display:inline-block; *display:inline}
.uplold > i >i,.uplold > i >em{float: left;}
.uplold > i >i{background:url(/assets/common/img/global.png) no-repeat; width:21px;height:18px;background-position:-8px -123px; display:block;}
.send *{float: left;}
.send .error{color: #DE4348;font-weight: bold; margin-left:10px;font-size: 14px;}
.send .info{float:right; color:#c3c3c3;}
.send .info i{float: none; color:#666;font-size:14px; font-weight:bold; margin:0 3px;}

.send a.verify{margin:0 5px;background-color: #FFF; padding:0;}
.wzlist li.no-item{background:url(/assets/common/img/notfound.jpg) no-repeat;width: 757px; height: 169px; border: 0; }


.de-hot-diary { margin: 0 20px; padding-bottom: 20px ;padding-top:10px;}
.de-hot-diary li { border-bottom: 1px dotted #f1f1f1; padding-bottom: 6px; margin-top: 6px;height:100%; }
.de-hot-diary li a:hover { text-decoration: none; opacity:0.8}
.de-hot-diary li .img {float:left;}
.de-hot-diary li .title {font-size:15px;font-weight:100;font-family:Microsoft YaHei;padding-left:15px;}
.de-hot-diary li img { height: 70px; width:70px; margin-right: 15px; }

.wzlist li i.time{float: left;color: #999;margin-left: 10px; display: inline; width: auto; height: 30px; line-height: 30px;}

.article-instruction .article-footer{text-align: left;color: #999; font-size: 13px;text-indent: 32px;margin-top: 20px;padding: 0 20px;}
.article-instruction .article-footer a{color: #999;}

.zhuangxlj{width: 260px;height:auto;background: #fff;border: 1px solid #eee;margin-top: 10px;box-sizing: border-box;-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */margin-bottom: 20px;}
.zhuangxlj dl dd{width: 258px;height: 124px;background: url(/assets/common/img/21.png) no-repeat;}
.zhuangxlj dl dt{border-bottom: 1px solid #eee;}
.zhuangxlj dl dt:last-child{border-bottom: none;}
.zhuangxlj dl dt :hover{background: #d4e7fb;display: block;}
.zhuangxlj dl dt a{font-size: 16px;font-weight: bold;font-family: "Microsoft YaHei";color: #3587d8;padding-left:30px;line-height: 40px;
}
.zhuangxlj dl dt a i{width: 20px;display: inline-block !important;}
.bjyansexz{background: #d4e7fb;}