/*
* @Author: qz_xsc
* @Date:   2017-12-27 15:24:52
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-12-27 17:26:04
*/
.top_banner{height:500px; width: 100%; position: relative;  }
.top_banner > img{position: absolute;left: 50%;margin-left: -960px;}
.top_banner .banner{position: absolute; left:50%;width: 1920px; margin-left: -960px;top:0px;}
.footfix{
    position: absolute; bottom:0px; background: none;
}
.footfix .footmid {
    background: #be1d05;
    width: 1210px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}
.footfix .footmid .wenzims {
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-left: 171px;
    font-size: 22px;
    margin-top: 7px;
    float: left;
}
.wenzims span{color:#fff; font-size: 18px;}
.wenzims div{color:#ffc500; font-size: 14px;padding-top: 2px;}
.lijicanyu{color:#BB1A06 !important; background: #FFC500 !important; font-size: 14px;}
.bgtwo{background:url(//staticqn.qizuang.com/pc/assets/home/special/decmonth/img_jxz/bannerdec02.png) repeat-x; }
.act_title{
    background: #be1d05;
    width:400px;
    margin:0px auto;
    line-height: 60px;
    height: 60px;
    color:#fff;
    text-align: center;
    font-size: 24px;
}
.bgtwo .wrap{padding-top: 50px;}
.bgtwo .wrap .middtup02{ background: url(//staticqn.qizuang.com/pc/assets/home/special/decmonth/img_jxz/bg_line.png); position: relative; height: 618px;}
.bgtwo .scl{width:1146px; height: 536px; background: url(//staticqn.qizuang.com/pc/assets/home/special/decmonth/img_jxz/scl.png); position: absolute; margin:41px 32px;}
.bgtwo .scl .jiangxiang{
    position: absolute;
    top: 365px;
    left: 354px;
    color: #512214;
    font-size: 18px;

}
.middtup02 .jiangxiang li {
    line-height: 30px;
}
.bgtwo_1{background: #520D0D; padding-bottom:30px;}

.bgtwo_1 .middtup03 {
width: 1210px;
height: 467px;

margin: 0 auto;
background: url(//staticqn.qizuang.com/pc/assets/home/special/decmonth/img_jxz/bannerdec05.png) no-repeat;
background-size: 100% 100%;
margin-top: 40px;
margin-bottom: 40px;
overflow: hidden;
}
.bgtwo_1 .middtup03 .weizimskz {
    width: 1145px;
    height: auto;
    margin: 0 auto;
    margin-top: 93px;
    color: #fff;
    font-size: 14px;
}
.bgtwo_1 .middtup03 .weizimskz .titlebt {
    font-size: 18px;
}
.bgtwo_1 .middtup03 .weizimskz p {
    line-height: 24px;
}
.bgtwo_1 .middtup03 .weizimskz .titlebt{margin:17px 0px;}
.sm_content{
    padding-left: 30px; line-height: 25px;
}