.end_mask{position: absolute; width:100%;
    height: 100%; background: #000;
    left: 0px;top:0px;opacity: 0.7;
    background: #000\7;/*IE*/
    filter: alpha(opacity=70);/*IE*/
}
.end_text{font-size: 55px; font-weight: bold; color: #fff;
    text-align: center;line-height:500px; position: absolute;
    z-index: 8; top:0px; left:0px; width:100%;
}
.bottom_body{background: #520D0D; padding:50px 0px;}
.zj-tit{color:#fff;width: 400px; height: 60px;
    margin:0px auto; line-height: 60px;
    text-align: center; background: #BB1A06;
    font-size: 24px;
}
.body_center_content{ border:2px solid #FF1915;  background: #911509; padding:25px 0px; color: #fff;}
.body_center_content p{font-size: 16px; padding-left: 32px;}
.zj-table{width: 100%; font-size: 0px;padding:15px 0px; }
.zj-head{font-size: 10px;}

.body_center_content span{display: inline-block;width: 25%; font-size: 19px; text-align:center;}
.zj-head span{ font-weight: bold; color:#FBA620; line-height: 60px;}
.zj-body span{ font-size: 14px;}
.zj-body{height: 400px;overflow: hidden;}
.zj-body li{line-height: 40px;}