/*
* @Author: qz_xsc
* @Date:   2018-03-28 12:42:02
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-03-29 09:55:56
*/
*{margin:0px;}
header{ height:50px; line-height:50px; background:#fff;  /*position:relative;*/ z-index:2}
header .m-header-left,header .m-header-right{ position:absolute;  top:0;width:50px; text-align:center; font-size:24px; color:#666}
header .m-header-tit{ text-align:center; margin-left: 1em;font-size: 15px}
header .m-header-left{ display:block; margin-left:0.22rem;height:50px; background:url(../images/logonew.png) no-repeat; width:30%; background-size:auto 50px;}
header .m-header-right{ right:0; height:50px}
header .m-header-city{ position:absolute;  font-size:0.8em;  top:0; left:32%; margin-left: 0.25rem}
header .m-header-city i.fa:before{ font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden}
.under-line{border-top: 1px solid #CFCFCF}
.gl-logo{margin-left: 10px !important;}
.m-img-box-a img{ width:100%; height:auto; display:block}
.m-b-btn{ height:50px; margin:10px; background:#ff5659; display:block; color:#fff; line-height:50px; text-align:center; font-size:1.2em;}
.m-b-btn-f{font-size:1.2em; width:100%; margin:10px 0; color:#fff; background:#fb8486; height:50px; display:block; text-align: center; line-height:50px
}
a{text-decoration: none; color:#333;}
.m-header-his{ position:absolute; z-index:9999; top:0;width:0.2rem; text-align:center; font-size:1.5em; color:#666; height:50px; }

header .new-kefu-erji{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top:0;
}
header .new-kefu-erji .new-kefu-icon{
    width: 20px;
    height: 26px;
    margin-left: 26px;
    margin-top: 10px;
    background: url(../images/common-icon.png);
    background-size: 100%;
}
#nav-close-cha{
    display: none;
}
.close-cha-icon{
    width: 26px;
    height: 26px;
    display: block;
    margin-left: 12px;
    margin-top: 12px;
    background: url(../images/header-close.png) no-repeat;
    background-size: 100%;
}
.new-nav-m{
    width: 45%;
    position: absolute;
    right: -50%;
    top: 44px;
    border-radius: 4px;
    background: #fff;
    z-index: 4;
    display: none;
    line-height: 44px;
    /*transition: all .5s ease;*/
}
.new-nav-m:before{
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    position: absolute;
    right: 11px;
    top: -7px;
    z-index: 4;
}
.new-nav-m li{
    margin-left: 10px;
    margin-right: 10px;

}
.new-nav-m li a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    height: 44px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.new-nav-m li:last-child a{
    border-bottom: 0;
}
.nav-fixed-box{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
    transition: all .5s ease;
}
.home-nav-icon{
    width: 16px;
    height: 21px;
    display: block;
    float: left;
    background: url(../images/common-icon.png) no-repeat;
    background-size: 100%;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 5px;
}
.new-nav-m  li .nav-home-icon{background-position: 0px -23px;}
.new-nav-m  li .nav-huxing-icon{background-position: 0px -45px;}
.new-nav-m  li .nav-baojia-icon{background-position: 0px -67px;}
.new-nav-m  li .nav-company-icon{background-position: 0px -268px;}
.new-nav-m  li .nav-gonglue-icon{background-position: 0px -288px;}
.new-nav-m  li .nav-xiaoguo-icon{background-position: 0px -90px;}
.new-nav-m  li .nav-anli-icon{background-position: 0px -113px;}


header{z-index: 3;}
footer {
    border-top:1px solid #eee;
    padding-bottom:10px;
    /*background:#fff;*/
}
.m-bj-edit{
    margin: 0 22px;/*修改*/
    margin-top: .8em;
}
.m-bj-items {
    border:1px solid #e2e2e2;
    background:#efefef;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    padding:10px 10px;
    margin:0 10px 60px 10px;
    margin-top: 50%;
    position: relative;
}
.dw{color: #ff5659;}
.model-box{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10;
}
.close-btn{
    width: 1.8em;
    height: 1.8em;
    background: url(../images/close.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    right: -.3em;top: -2em;
}
.items-all-money {
    text-align:center;
    padding-bottom:10px;
}
.items-all-money p{
    font-size: 1.1em;
}
.items-all-money p>i{
    color: #ff5659;
}
.items-all-details .tel-box{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.items-all-details .tel-input{
    width: 90%;
    height: 2.5em;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #fff;
}
.items-all-details .tel-box input{
    width: 100%;
    height: 2em;
    padding: 0.5em;
    margin-top: .65em;
    border: 0;
    outline: none;
    line-height: 2em;
    font-size: .8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.tel-box a.items-check-more{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-top: 1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    background: #ff5659;
    color: #fff;
}
.items-all-details p.tel-danger{
    font-size: .9em;
    color: #ff5659;
    margin-left: 6%;
    margin-top: .5em;
}
.items-all-details p.tel-count{
    font-size: .9em;
    text-align: center;
    margin-top: 0.6em;
}
.items-all-details p.tel-count i{
    color: #ff5659;
}
.items-check-more {
    margin-top:10px;
    color:#929292;
    display:block;
}
.kefu-back-info {
    font-size:13px;
    margin:10px 10px;
}
.kefu-back-info p {
    margin-top:5px;
}
.model {
    width: 96%;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    background:#fff;
    position:fixed;
    left:0;
    top:0;
    z-index:9999;
    margin:0 2%;
    margin-top:50%;
    box-sizing: border-box;
}
.model-btn {
    width: 80%;
    margin: 0 auto;
    color:#fff;
    margin:0 auto;
    margin-top: 1.5em;
    padding-bottom: 1.5em;
    overflow: hidden;
}
.model-btn div{
    width: 40%;
    height: 2.2em;
    float: left;
    line-height: 2.2em;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}
.leave-btn{margin-right: 18%;border: 1px solid #ff5659;color: #ff5659;}
.get-btn{border: 1px solid #ff5659;background: #ff5659;}
.model-info {
    font-size:1.1em;
    line-height:1.5em;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.hide {
    display:none;
}
.save-submit{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}
.kefu-box{
    border-top: 0.5em solid #f5f5f5;
    border-bottom: 0.5em solid #f5f5f5;
    padding: 1em 0;
    overflow: hidden;
}
.kefu-tit{margin: 0 auto;
    font-size: 1.1em;
    text-align: center;
}
.kefu-info{
    width: 96%;
    margin-top: 1em;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 1em;
}
.fa-angle-right{
    font-size: 2em;
    font-weight: normal;
}
.kefu-img, .kefu-btn{
    width:32%;
    float: left;
    text-align: center;
}

.kefu-img, .kefu-btn p{
    font-size: .8em;
    margin-top: .4em;
    color: #4d4d4d;
}
.kefu-img{
    margin-left: 8%;
    position: relative;
}
.kefu-img:before{
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 3%;
    color: #fff;
    font-size: .9em;
    line-height: 0.9em;
    text-align: center;
}
.kefu-arrow{width: 20%;line-height: 6em;text-align: center;float: left;}
.kefu-arrow i:first-child{color: #eee;}
.kefu-arrow i:nth-child(2){color: #ccc;}
.kefu-arrow i:last-child{color: #999;}
.kefu-btn a{
    width: 90%;
    height: 2.2em;
    display: block;
    border: 1px solid #f79c33;
    color: #f79c33;
    margin-top: 1.6em;
    margin-left: 5%;
    text-align: center;
    line-height: 2em;
    line-height: 2.2em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}
.kefu-img img{width: 100%;}
.kefu-shows{width: 94%;margin: 0 auto;padding: 1em 0; }
.kefu-shows img{width: 100%;}

/*滚动信息*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 6em;
    left: 0;
    height: 3em;
    z-index: 2;
    font-size: .8em;
}
.g-msg .msg {
    width: 85%;
    position: absolute;
    top: 3em;
    top: 5em;
    background-color: rgba(0,0,0,.5);
    height: 3em;
    line-height: 3em;
    margin-left: 10px;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    color: #fff;
    display: none;
}
.msg img{
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin:0 1.2%;
    margin-top: .9%;
    float: left;
}

/*报价结果页*/
.baojia-list ul li{height: 2.9em;line-height: 2.9em;font-size: .95em;overflow: hidden;margin: 0 3%;}
.baojia-list ul li:last-child{font-size: 1.3em;}
.baojia-list ul li:last-child{border-top: 1px dashed #facdcd;}
.baojia-list ul li div:first-child{float: left;}
.baojia-list ul li div.baojia-money{float: right;color: #ff5659;}
.baojia-list ul li div.baojia-money span{color: #ff5659;font-weight: bold;}
.baojia-list ul li div.baojia-money i{margin-left: 0.5em;color: #000;}
.recount a{width: 100%;height: 2.8em;display:block;line-height: 2.8em;text-align: center;background: #ff5659;color: #fff;font-size: 1.1em;}

/*城市*/
.chengshi-box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
#box{
    width: 80%;
    height: 100%;
    background: #fff;
    float: right;
    position: relative;
}
.baojia-list ul li.baojia-item.active{height: auto; border-bottom: 0;}
.baojia-list ul li.baojia-item .baojia-money span{color: #ff5353;font-weight: bold;}

.baojia-item table{width: 100%; border:0; border-top:1px solid #ccc; display: none;}
.baojia-item table tr td{border:0; border-bottom: 1px solid #ccc; border-right:1px solid #ccc; text-align: center; vertical-align: middle;}
.baojia-item table tr td:last-child{border-left: 0;}


/*f3b023*/



/*新改版*/
.money-box{
    margin: 0 22px;
    border: 1px solid #dedee0;
    border-radius: 5px;
    margin-top: 15px;
}
.money-main{
    margin: 0 8px;
    overflow: hidden;
}
.money-img{
    height: 40px;
    margin-top: 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(../images/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.home-style span{
    display: block;
    float: left;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    margin: 14px auto;
    /*background: blue;*/
    overflow: hidden;
}
.home-style span:nth-child(2),.home-style span:nth-child(5){
    text-align: center;
}

.home-style span:nth-child(3),.home-style span:nth-child(6){
    text-align: right;
}
.m-bj-edit button,.m-bj-edit input{
    border-radius: 0 !important;
    outline: none;
}
.m-bj-edit button,.m-bj-edit i{
    color: #333 !important;
}
.m-b-btn{
    margin-left:22px !important;
    margin-right:22px !important;
    border-radius: 0;
}

.dw{color: #999 !important;}
.kefu-shows img{
    margin-bottom: 25px;
}
.form-again-img{width: 100%;overflow: hidden;margin: 25px auto;}
.form-again-img img{width: 100%;height: auto;}
.success-ok-img{
    width: 100%;
    height: auto;
}
.success-ok-img img{
    width: 100%;
    height: auto;
}
.accordion{
    margin: 0 12.5px;
    background: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.success-footer{
    margin: 0 12.5px;
    background: #f8f8f8;
    overflow: hidden;
    margin-bottom: 17.5px;
    padding-top: 17.5px;
    padding-bottom: 12.5px;
}
.success-tip{
    font-size: 13px;
    margin: 0 3%;
    color: #666;
    text-align: justify;
    margin-bottom: 25px;
}
.success-footer-img{width: 100%;height: auto;}
.success-footer-img img{width: 100%;height: auto;}
.gongzhonghao-text{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 17px auto;
}
.guanzhu-text{
    font-size: 13px;
    line-height: 15px;
    color: #666;
    margin: 0 3%;
    text-align: justify;
}
.copy-text{font-weight: bold;}
.red-color{color: #ff5353;}
.recount{margin: 0 12.5px;margin-bottom: 20px;}
.m-bj-edit li .m-bj-edit-list{
    color: #333 !important;
}


/*报价表单*/
.m-font-red{ color:#ff5659}
.m-t1{ text-align:center; line-height:3em}
.m-bj-edit{ margin:0 10px}
.m-bj-edit li{ overflow:hidden; box-sizing: border-box; margin-bottom:10px; position: relative}
.m-bj-edit li span.dw{ position:absolute; right:5px; top:0; line-height:48px;}
.m-bj-edit li.noline{ border:0}
.m-bj-edit li .m-bj-edit-list{color: #333; appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari 和 Chrome */
border:0; border-radius:0; margin:0; display:block; height:48px; line-height:38px; box-sizing:border-box; padding:5px; background:#fff; border:1px solid #ddd;}

.m-bj-edit li .m-row{float: left; width: 49%; position: relative;}
.m-bj-edit li .m-row:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}

.m-bj-edit li .m-row-int1{position: relative; width:100%; font-size:1em}
.m-bj-edit li .m-row-int2{position: relative; width:100%; font-size:1em; box-sizing: border-box;}

.col-x-6{width:49% !important;}

.m-bj-edit li .m-row-int2:first-of-type{ float:left;  }
.m-bj-edit li .m-row-int2:last-of-type{ float:right;}

.m-bj-edit li .m-row-int3{ width:32%; display:inline-block; text-align:center}
.m-bj-edit li input[type=radio]{ margin-right:5px}
.m-bj-edit li input[type=radio]::-webkit-check {
    color: #ff5659;
    background: #a0b3d6;
    padding: .5em;
}
.m-bj-description{font-size: 0.9em; padding:1.2em 1em; color: #999; background: #FFF; font-family: Microsoft yahei;}
.m-bj-description i{color: #FF464E; width: 1.2em; height: 1.2em; line-height: 1.3em;  text-align: center; font-size: 1em; display: inline-block; border:1px solid #FF464E; border-radius: 30px;}

.m-bj-title{ font-size: 1.2em; text-align: center; display: block;margin: 1.2em 0;}
.m-bj-info{font-size: 1em; padding:0 1em; display: block; margin-bottom: 2em; color: #666;}
.m-bj-info em{color: #FF464E;}
.m-bj-edit li .m-bj-half {width: 100%; float: left;}
.m-bj-edit li .m-bj-right {float: right;}
.m-nav ul{position:absolute;width:200px;top:48px;right:0;height:auto;line-height:50px;display:none;z-index:9999;}
.m-nav ul li a{color:#fff;background:rgba(29,36,75,.95);display:block;margin-top:0px;border-top:1px #fff solid;}
.m-nav.active{background:#262C51;color:#fff;border-top-left-radius:30px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}

.m-bj-edit li .m-bj-edit-right {float: right;}


.c-zb-city{padding:5px; box-sizing: border-box;height:48px ; width:100%; text-align:left;
    border:1px solid #ddd; background:#fff; font-size:1em; color:#a9a9a9;white-space: nowrap;overflow:hidden;
text-overflow: ellipsis;}
.c-zb-city i.fa{ color:#333;}
.mui-btn{background:#D8D8D8; border:0}
.mui-btn-blue{ background:#00CFA5; color:#fff}
.m-bj-edit{
    margin: 0 22px;/*修改*/
    margin-top: .8em;
}
.m-bj-items {
    border:1px solid #e2e2e2;
    background:#efefef;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    padding:10px 10px;
    margin:0 10px 60px 10px;
    margin-top: 50%;
    position: relative;
}



/*新客服弹框*/
.new-kefu{
    width: 80%;height: 180px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    position: fixed;
    left: 0;top: 0;
    right: 0;bottom: 0;
    z-index: 4;
    display: none;
}
.new-kefu-main{
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
    margin-top:44px;
}
.new-kefu-fl{
    float: left;
    width: 80px;
}
.contact-btn{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background: url(/assets/home/adv/images/contact-icon.png) no-repeat;
    background-size: 100%;
}
.contact-text{
    text-align: center;
    font-size: 15px;
    color: #333;
}
.new-huo-text{
    float: left;
    width: 50px;
    text-align: center;
}
.new-huo-text .huo-text{
    font-size: 14px;
    line-height: 66px;
    color: #999;
}
.new-kefu-fl .phone-contact{
    background-position: 0 -60px;
}
.new-kefu-close{
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;right: 0;
    color: #999;
}
.new-kefu-close i{
    text-stroke:2px #fff;
    -webkit-text-stroke:2px #fff;
}

/*底部公共*/
footer{ text-align:center; width:100%; background:#eee; padding:1em 0; font-size:0.6em; }
footer .hot{ color:#FF5255}
footer .links{ font-size:1.8em}
footer .footer-tel{
    font-size: 16px;
}
footer .footer-tel .phone-box{
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 1.5px solid #ff5353;
    text-align: center;
    border-radius: 50%;
    /*margin:0 6px;*/
    margin-right: 5px;
}
footer .footer-title{
    font-size: 14px;
    margin-top: 10px;
}
footer .footer-webadress{
    font-size: 10px;
}


/*滚动信息*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 6em;
    left: 0;
    height: 3em;
    z-index: 2;
    font-size: .8em;
}
.g-msg .msg {
    width: 85%;
    position: absolute;
    top: 3em;
    top: 5em;
    background-color: rgba(0,0,0,.5);
    height: 3em;
    line-height: 3em;
    margin-left: 10px;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    color: #fff;
    display: none;
}
.msg img{
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin:0 1.2%;
    margin-top: .9%;
    float: left;
}