html{font-size: 19.8229px;}
.guanggkz01{margin: 0 auto;max-width: 1170px;}
.iframsg{position: absolute; width: 0px; height: 0px; border: 0px none;}
#divselect .area{font-size: 13px; color: rgb(153, 153, 153);}
.wzjsbox2{background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;}
.fudongli{width: 160px;}
.fudongli a{float: left; display: block; margin-right: 4px;}
.fudongli a img{display: block; width: 76px; height: 76px;}
.font_zt{font-size: 14px;}
.subComAddr{padding-left: 60px; display: none; font-size: 14px;}
.divys{position: fixed; top: 80px; z-index: 99999; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%;}
#qidian_wpa_2852155655_61{right: 10px; top: 50%; margin-top: -82.5px; position: fixed; z-index: 2000000000; border-radius: 2px;}
#qqchat{display: none;}
#_QIDIAN_WEB_IM_IFRAME_2852155655{position: fixed; z-index: 2000000010; width: 300px; height: 50px;
 border: 1px solid rgb(218, 222, 231); bottom: 0px; right: 10px; box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15); border-radius: 6px 6px 0px 0px; display: none;}
 #_QD_STATUS_MANAGE_SOCKET_IFRAME{width: 0px; height: 0px; position: fixed; right: 0px; bottom: 0px;}
 .yincan{display: none;}
 .lxb-container{border: 0px none rgb(0, 0, 0); width: 220px; height: 100px; 
 	background: rgb(87, 158, 255) none repeat scroll 0% 0%; display: none; position: fixed; top: 696.8px; right: 0px;}
 .custom01{background: rgba(0, 0, 0, 0) url(&#39;devo_blisslin_com/1.png&#39;) no-repeat scroll center center; top: 10px; left: 10px; width: 60px; height: 44px;}
 .custom02{font-family: 微软雅黑,serif; text-decoration: none; color: rgb(0, 0, 0); height: 28px; line-height: 28px; font-size: 22px; top: 24px; left: 75px; width: 88px;}
.custom03{font-family: 微软雅黑,serif; color: rgb(255, 255, 255); width: 146px; height: 24px; line-height: 24px; font-size: 14px; top: 38px; left: 74px; display: none;}
.custom04{border: 1px solid rgb(53, 121, 212); width: 125px; height: 22px; left: 7px; top: 66px; line-height: 20px; font-size: 13px;}
.custom05{font-size: 12px; font-family: simsun; font-weight: normal; width: 76px; height: 30px; left: 139px; top: 62.5px; color: rgb(210, 228, 253); border: 0px none; line-height: 30px; background: rgb(13, 75, 159) none repeat scroll 0% 0%;}
.custom06{z-index: 2147483647; display: none;}
.custom07{left: 208px; top: 4px; width: 9px; height: 8px; background-image: url(&#39;devo_blisslin_com/close.png&#39;);}
.custom08{display: none;}
.custom09{text-align: center;font-size: 15px;line-height: 35px;display: block;}


