.m-img-box-a img{width:100%;height:auto;display:block;}
.m-img-box-a .s-h{width:100%;background-color:#F73442;}
.m-img-box-a .sp1{color:#fff;margin-left:10px;}
.m-img-box-a .sp2{color:#fff;}
@media screen and (max-width:350px){.s-h .sp1,.s-h .sp2{font-size:0.8em;margin-left:8px;}}
@media screen and (min-width:375px){.s-h .sp1{margin-left:20px;}.s-h .sp2{margin-left:8px;}}
@media screen and (min-width:410px){.s-h .sp1{margin-left:35px;}.s-h .sp2{margin-left:14px;}}
.m-img-box-a .sp2 em{margin-right:3px;margin-left:6px;}
.m-img-box-a .sp1 em{margin-right:10px;}
.m-img-box-a span em{font-style:normal;z-index:3;color:#000;position:relative;font-size:20px;line-height:30px;}
.m-img-box-a span em:before{content:"";display:inline-block;width:19px;height:12px;background-color:#ccc;z-index:-1;background-color:#DBDADB;position:absolute;left:-3px;top:1px;border-radius:4px 4px 0 0;}
.m-img-box-a span em:after{content:"";display:inline-block;width:19px;height:12px;background-color:#ccc;z-index:-1;top:13px;background-color:#F2F2F2;position:absolute;left:-3px;border-radius:0px 0px 4px 4px;}
.m-t1{line-height:3em;padding-top:1em;background-color:#F53644;}
.m-t1 a{margin-top:0.7em;display:block;text-align:center;}
.m-t1 p{text-align:center;font-size:0.9em;padding-bottom:1em;margin-top:-20px;}
.m-t1 p i{color:#FEC017;font-style:normal;}
.m-t2{width:100%;padding-bottom:2em;background-color:#FFFBED;}
.m-t2 p{padding-top:1.2em;text-align:center;width:100%;}
.m-t2 p img{width:48%;text-align:center;}
.m-t2 span{width:100%;}
.m-t2 span img{margin-top:1.2em;width:100%;}
.m-t3 .m-main .m-right .s-bottom1{width:3%;position:absolute;top:1.2em;}
@media screen and (max-width:350px){.m-t3 .m-main .m-right .s-bottom2{top:1.5em;}}
@media screen and (min-width:375px){.m-t3 .m-main .m-right .s-bottom2{top:1.5em;}}
.m-t3{width:100%;background-color:#FFFFFF;}
.m-t3 p{padding-top:0.9em;text-align:center;width:100%;}
.m-t3 p img{width:63%;text-align:center;}
.m-t3 span{width:100%;display:inline-block;text-align:center;margin-top:1.6em;}
.m-t3 span img{width:97%;}
.m-t3 .m-main{width:100%;display:inline-block;}
.m-t3 .m-main .m-left{width:20%;padding-left:0.5em;}
.m-t3 .m-main .m-left img{padding-top:1em;width:100%;}
.m-t3 .m-main .m-right{position:relative;margin-top:1.4em;font-size:0.7em;line-height:1.7em;width:78%;}
.m-t3 .m-main .m-right i{color:#F63746;font-style:normal;}
.m-t3 .m-main .m-right .s-top{display:inline-block;width:3%;top:-2.3em;left:0%;position:absolute;}
.m-t3 .m-main .m-right .s-bottom2{width:3%;position:absolute;}
@media screen and (min-width:410px){.m-t3 .m-main .m-right .s-bottom2{top:-0.4em;}}
.m-t3 .m-main .m-right .s-bottom3{width:3%;position:absolute;}
@media screen and (max-width:350px){.m-t3 .m-main .m-right .s-bottom3{width:3%;position:absolute;top:3em;}}
@media screen and (min-width:350px){.m-t3 .m-main .m-right .s-bottom3{width:3%;position:absolute;top:1.5em;}}
@media screen and (min-width:365px){.m-t3 .m-main .m-right .s-bottom3{width:3%;position:absolute;}}
.btn{padding-top:1.3em;padding-bottom:0.6em;background-color:#fff;text-align:center;}
.btn button{width:100px;height:40px;background-color:#FF5659;border:0;color:#fff;cursor:pointer;}
.btn button a{color:#fff;}
.call-tel{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:1em 0;background:#fff;text-align:center;}
.call-tel a{color:#ff5659;}
.call-tel a i.fa{width:1.4em;height:1.4em;display:inline-block;margin-right:.5em;border-radius:50%;border:2px solid #ff5659;line-height:1.3em;}


.choose .choose-tit{margin:0 auto;font-size:1em;text-align:center;}
.choose .choose-list{width: 100%;font-size:12px;margin:15px;}
.choose .choose-list p{margin-bottom: 10px;}
.remarks .remarks-tit{font-size:12px;margin-bottom: 10px;}
.remarks .remarks-con{width:96%;height: 8em;padding:5px;resize: none;outline: none;color: #969696;}
