.pbootom{padding-bottom: 1px;}
.boxlh{line-height: 55px;}
.bxt{width: 140px; line-height: 55px !important;}
.lh-34{line-height: 34px}
.lh344{line-height: 34px;margin-left: 40px;}
#canvas1{height: 300px;padding-top: 15px;}
#canvas2{height: 300px;border-right: 8px #ecf0f5 solid;}
#canvas3{height: 300px;}
.caliang{height: 300px;}
.sjxxzlh{line-height: 34px}
table.details-table,.details-table >thead > tr > th,.details-table > tbody > tr > td,.details-table > tfoot > tr > td{border: 1px solid #ccc !important;}
.ftjz{font-weight: bold !important;}
.daoru{margin-right: 5px;margin-left: 20px;}
.dqcnmb{margin: 0;letter-spacing: 1px;}
.xzfs{margin-top: 40px;}
.mgg{margin: 30px 0;}
.timeys{color: red;}
.sjlb{margin: 0;letter-spacing: 1px}
.seltp{margin-top: 20px;}
.ysgb{color: #488dbc;}
.tables{display: none;}
.table-active{display: block;}
.kuanzi{width: 580px;height: 425px;background: #fff;overflow: hidden;}
.kuanzi h4{text-align: center;color: #000;margin:30px 0 !important;}
.kuanzi .srkuangz{width: 50%;}
.kuanzi .wrapgroup{height:35px;line-height:35px;margin:0 auto !important;}
.kuanzi .youj{padding: 0 !important;text-align: right;width: 32%;}
.kuanzi .form-group{overflow: hidden;}
.kuanzi  .shipinmbz{width: 35% !important;display:block;clear: both;margin-left: 14.2%;margin-top: 25px;}
.kuanzi .srkuangz2{display: block;width: 50%;clear: both;margin-left: 32.2%;margin-top: 1%;}
.kuanzi .aniu{clear: both;display: block;margin-left: 56%;width: 100%;}
.kuanzi .yansets{color: red;}
.kuanzi .aniu_qxcc{width: 11.5%;}