.pbootom{padding-bottom: 1px;}
.boxlh{line-height: 55px;}
.bxt{width: 140px; line-height: 55px !important;}
.lh-34{line-height: 34px}
.lh344{line-height: 34px;margin-left: 40px;}
#canvas1{height: 300px;padding-top: 15px;}
#canvas2{height: 300px;border-right: 8px #ecf0f5 solid;}
#canvas3{height: 300px;}
.caliang{height: 300px;}
.sjxxzlh{line-height: 34px}
table.details-table,.details-table >thead > tr > th,.details-table > tbody > tr > td,.details-table > tfoot > tr > td{border: 1px solid #ccc !important;}
.ftjz{font-weight: bold !important;}
.daoru{margin-right: 5px;margin-left: 20px;}
.dqcnmb{margin: 0;letter-spacing: 1px;}
.xzfs{margin-top: 40px;}
.mgg{margin: 30px 0;}
.timeys{color: red;}
.sjlb{margin: 0;letter-spacing: 1px}
.seltp{margin-top: 20px;}
.ysgb{color: #488dbc;}
.tables{display: none;}
.table-active{display: block;}
.bold{font-weight: 700}