.lh-55{line-height: 55px !important;}
.lh-34{line-height: 34px;}
.sctab-tit{width: 140px;}
.sc-border-8{border-right: 8px solid #ecf0f5;}
.sc-width-160{width: 160px;}
.zhushi-box{width: 250px;height: 56px;background-color: #fff;display: none;position: absolute;right:-150px;top:0;border: 1px solid #ccc;}
.sc-font-bold{font-weight: bold;}
.canvas-height-300{height: 300px;}
.sc-position-rel{position: relative;}
.fa-question-circle:hover +.zhushi-box{display: block;}
.sc-width-20point{width: 20%}