<!--头部-->
<div class="company_box">
    <div class="company_img">
        <div class="company_size"><img src="{$info.user.logo|default='http://staticqn.qizuang.com/Public/default/images/default_logo.png'}" alt="{$info.user.qc}"></div>
    </div>
    <div class="company_title">
        <h4>{$info.user.qc} <em><img src="/assets/mobile/companyhome/img/v.jpg" alt=""></em></h4>
        <p>
            <em> <img src="/assets/mobile/companyhome/img/xian.jpg" alt=""></em>
            {$info.user.kouhao|default="为你打造更好的生活 !"}
            <em> <img src="/assets/mobile/companyhome/img/xian.jpg" alt=""></em>
        </p>
    </div>
    <div class="company_img2">
        <img src="/assets/mobile/companyhome/img/t1.jpg" alt="">
    </div>
</div>
<!--切换-->
<div class="change">
    <ul class="change_title">
        <li class="{$nav_index}"><a href="/xzh/company_home/{$info.user.id}/">首页</a></li>
        <li class="{$nav_cases}"><a href="/xzh/company_case/{$info.user.id}/">装修案例</a></li>
        <li class="{$nav_team}"><a href="/xzh/company_team/{$info.user.id}/">设计团队</a></li>
        <li class="{$nav_comment}"><a href="/xzh/company_message/{$info.user.id}/">业主牛评</a></li>
    </ul>
</div>