.comment_box{
    background-color: #fff;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}
.comment_head{
    padding-top: 0.7em;
    width: 100%;
    padding-left: 0.7em;
}
.comment_head .c_head{
    display: inline-block;
    width: 3em;
    float: left;
}
.comment_head .c_head img{
    width: 100%;
    border-radius: 50%;
}
.comment_head .c_name{
    display: inline-block;
    float: left;
    font-size: 0.9em;
    padding-top: 0.5em;
}
.comment_head .c_name em{
    font-size: 0.8em;
    color: #7B7B7B;
}
.comment_head .c_time{
    float: right;
    padding-right: 2.2em;
    padding-top: 1em;
    font-size: 0.7em;
}
.comment_box .c_content{
    width: 92%;
    text-indent: 2em;
    font-size: 0.7em;
    padding-bottom: 1em;
    border-bottom: 1px dashed #ccc;
    position: relative;
    margin-left: 5%;
}
.comment_box .c-no{
    border-bottom: none !important;
}

#prev-page{display: inline-block;width: 31.5%;}
#next-page{display: inline-block;width: 31.5%;}
.page a{width: auto !important;}


