<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{$keys.title}</title>
<meta name="keywords" content="{$keys.keywords}" />
<meta name="description" content="{$keys.description}" />
<meta name="mobile-agent" content="format=html5;url=http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/xgt/" />
<notempty name="info.head.canonical">
    <link href="{$info.head.canonical}" rel="canonical" />
</notempty>
<include file="Index:resource" />
<link href="{$static_host}/assets/sub/xiaoguotu/css/default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$static_host}/assets/sub/xiaoguotu/js/jQueryColor.js?v={:C('STATIC_VERSION')}"></script>
</head>
<body>
    <include file="Index:header" />
    <div class="wrap">
        <div class="bread">
             <if condition="$keyword"><a href="http://meitu.{:C('QZ_YUMING')}/">装修效果图</a>><a class="keyword" href="javascript:void(0)">{$keyword}相关<i>x</i></a><else/><a href="http://meitu.{:C('QZ_YUMING')}/">装修效果图</a>>装修案例</if>
        </div>
    </div>
    <div class="wrap oflow">
        <div class="tiaoj" id="tab">
            <div class="tab-nav j-tab-nav">
                <volist name="xiaoguotuInfo.tabs" id="vo">
                    <if condition="$param['classid'] EQ $vo['id']">
                        <a href="javascript:void(0);" class="current"  data-type="{$vo.id}">{$vo.name}</a>
                    <else/>
                        <a href="javascript:void(0);"  data-type="{$vo.id}">{$vo.name}</a>
                    </if>
                </volist>
            </div>
            <span>{$xiaoguotuInfo.cityName}齐装网共有<i style=" color:#e33d47"> {$xiaoguotuInfo.caseimgsCount} </i>张装修案例供您参阅！</span>
            <div class="j-tab-con">
                <!--家装案例-->
                <div class="tab-con-item tab1">
                    <dl>
                        <dt>按户型：</dt>
                        <volist name="xiaoguotuInfo.hx" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="hx" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="hx" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="hx" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="hx" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                    <dl>
                        <dt>按风格：</dt>
                        <volist name="xiaoguotuInfo.fenge" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="fengge" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="fengge" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="fengge" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="fengge" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                    <dl>
                        <dt>按造价：</dt>
                        <volist name="xiaoguotuInfo.jiage" id="vo">
                            <eq name="vo.name" value="不限">
                                <dd>
                                    <if condition="$vo['checked']">
                                        <a rel="nofollow" href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}" class="current">{$vo.name}</a>
                                    <else/>
                                         <a rel="nofollow" href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}">{$vo.name}</a>
                                    </if>
                                </dd>
                            <else />
                                <dd>
                                    <if condition="$vo['checked']">
                                        <a href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}" class="current">{$vo.name}</a>
                                    <else/>
                                         <a href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}">{$vo.name}</a>
                                    </if>
                                </dd>
                            </eq>
                        </volist>
                    </dl>
                </div>
                <!--公装案例-->
                <div class="tab-con-item tab2">
                    <dl>
                        <dt>按类型：</dt>
                        <volist name="xiaoguotuInfo.gzleixing" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="lx" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="lx" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="lx" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="lx" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                    <dl>
                        <dt>按风格：</dt>
                        <volist name="xiaoguotuInfo.gzfenge" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="fengge" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="fengge" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="fengge" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="fengge" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                    <dl>
                        <dt>按造价：</dt>
                        <volist name="xiaoguotuInfo.gzjiage" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                </div>
                <!--在建工地-->
                <div class="tab-con-item tab3">
                    <dl>
                        <dt>按户型：</dt>
                        <volist name="xiaoguotuInfo.zjhx" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="hx" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="hx" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="hx" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="hx" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                    <dl>
                        <dt>按风格：</dt>
                        <volist name="xiaoguotuInfo.zjfenge" id="vo">
                            <eq name="vo.name" value="不限">
                                <if condition="$vo['checked']">
                                     <dd><a rel="nofollow" href="{$vo.link}" data-type="fengge" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a rel="nofollow" href="{$vo.link}" data-type="fengge" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            <else />
                                <if condition="$vo['checked']">
                                     <dd><a href="{$vo.link}" data-type="fengge" data-id="{$vo.id}" class="current">{$vo.name}</a></dd>
                                <else/>
                                    <dd><a href="{$vo.link}" data-type="fengge" data-id="{$vo.id}">{$vo.name}</a></dd>
                                </if>
                            </eq>
                        </volist>
                    </dl>
                    <dl>
                        <dt>按造价：</dt>
                        <volist name="xiaoguotuInfo.zjjiage" id="vo">
                            <eq name="vo.name" value="不限">
                                <dd>
                                    <if condition="$vo['checked']">
                                        <a rel="nofollow" href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}" class="current">{$vo.name}</a>
                                    <else/>
                                         <a rel="nofollow" href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}">{$vo.name}</a>
                                    </if>
                                </dd>
                            <else />
                                <dd>
                                    <if condition="$vo['checked']">
                                        <a href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}" class="current">{$vo.name}</a>
                                    <else/>
                                         <a href="{$vo.link}" data-type="zaojia" data-id="{$vo.id}">{$vo.name}</a>
                                    </if>
                                </dd>
                            </eq>
                        </volist>
                    </dl>
                </div>
            </div>
        </div>
        <div class="top_rightslider" style="width:260px;">
        {$orderTmp}
        <dl>
            <dt>
                <h3>为什么在齐装网找设计案例</h3>
            </dt>
            <dd>
            <i class="icon">></i>
            全国5万余装修公司、50万设计师成果分享，让您快速获得现成优秀案例。
            </dd>
            <dd>
            <i class="icon">></i>
                不花一分设计费，免费获取您所在小区户型或类似户型全套高清设计方案。
            </dd>
            <dd>
            <i class="icon">></i>
                全套图纸，包含原始结构图、平面图、效果图等。
            </dd>
        </dl>
        </div>
        <div  class="xgt_hd mt10">
            <ul>
                <li>
                    <a href="/xgt/list-h0f0z0t1">{:date("Y")}家装效果图大全</a>
                    <a href="/xgt/?ys=1">实惠装修效果图</a>
                    <a href="/xgt/?ys=2">高端设计效果图</a>
                    <a href="/xgt/?sm=1">{:date("Y")}小户型家装效果图</a>
                    <a href="/xgt/list-lx0f0z0t2">公装效果图&nbsp;(美容院/服装店/写字楼/KTV/会所/商铺……)</a>
                </li>
                <li>
                    <div class="xgt_hd_logo">
                        <p>
                        懒得挑了~~ 请直接根据我的房屋结构及装修要求，免费帮我做方案，<a rel="nofollow" class="red" href="/zhaobiao/" target="_blank">我要立即申请</a>已有<span class="red">{:releaseCount("fbzrs")}</span>人提交
                        </p>
                    </div>
                </li>
            </ul>
            <ul style="padding: 0px;margin-top: 40px;">
                <li>
                    <a rel="nofollow"  href="/zhaobiao/" target="_blank" style="padding:0px;">
                        <img src="{$static_host}/assets/sub/xiaoguotu/img/4baojia.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <if condition="$xiaoguotuInfo['images']">
            <eq name="robot" value="1">
                <div class="waterfull clearfloat">
                    <ul id="wookmark">
                        <volist name="xiaoguotuInfo.images" id="vo">
                            <li class="item masonry-brick" style="">
                                <!-- S 判断图片是七牛上的还是本地的 -->
                                <eq name="vo.img_host" value="qiniu">
                                    <a href="http://{$vo.bm}.{:C('QZ_YUMING')}/caseinfo/{$vo.id}.shtml" class="a-img" target="_blank">
                                        <img alt="{$vo.title}" src="http://{:C('QINIU_DOMAIN')}/{$vo.src}-w280.jpg">
                                    </a>
                                <else />
                                    <a href="http://{$vo.bm}.{:C('QZ_YUMING')}/caseinfo/{$vo.id}.shtml" class="a-img" target="_blank">
                                        <img alt="{$vo.title}" src="http://{:C('STATIC_HOST1')}{$vo.src}s_{$vo.img}">
                                    </a>
                                </eq>
                                <!-- E 判断图片是七牛上的还是本地的 -->
                                <p class="li-title">{$vo.title}</p>
                                <p class="description">
                                    <span class="des1">{$vo.zstyle}</span>
                                    <span class="des2">{$vo.zarea}</span>
                                    <span class="des3">{$vo.zcost}</span>
                                </p>
                                <div class="qianm clearfloat">
                                    <span class="sp1">
                                        <b>{$vo.looked}</b>浏览
                                    </span>
                                    <span class="sp2">
                                        <empty name="vo.uid">
                                            <a href="javascript:void(0)" class="sp2" target="_blank">{$vo.writer}</a>
                                        <else />
                                            <a href="/company_home/{$vo.uid}" class="sp2" target="_blank">{$vo.writer}</a>
                                        </empty>
                                    </span>
                                    <span class="sp3">{$vo.writetime}&nbsp;By</span>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            <else />
                <div class="waterfull clearfloat">
                    <ul id="wookmark">
                        <volist name="xiaoguotuInfo.images" id="vo">
                            <li class="item masonry-brick" style="">
                                <!-- S 判断图片是七牛上的还是本地的 -->
                                <eq name="vo.img_host" value="qiniu">
                                    <a href="http://{$vo.bm}.{:C('QZ_YUMING')}/caseinfo/{$vo.id}.shtml" class="a-img" target="_blank">
                                        <img class="lazy" src="/assets/home/xiaoguotu/img/one.gif" alt="{$vo.title}" data-original="http://{:C('QINIU_DOMAIN')}/{$vo.src}-w280.jpg">
                                    </a>
                                <else />
                                    <a href="http://{$vo.bm}.{:C('QZ_YUMING')}/caseinfo/{$vo.id}.shtml" class="a-img" target="_blank">
                                        <img class="lazy" src="/assets/home/xiaoguotu/img/one.gif"  alt="{$vo.title}" data-original="http://{:C('STATIC_HOST1')}{$vo.src}s_{$vo.img}">
                                    </a>
                                </eq>
                                <!-- E 判断图片是七牛上的还是本地的 -->
                                <p class="li-title">{$vo.title}</p>
                                <p class="description">
                                    <span class="des1">{$vo.zstyle}</span>
                                    <span class="des2">{$vo.zarea}</span>
                                    <span class="des3">{$vo.zcost}</span>
                                </p>
                                <div class="qianm clearfloat">
                                    <span class="sp1">
                                        <b>{$vo.looked}</b>浏览
                                    </span>
                                    <span class="sp2">
                                        <empty name="vo.uid">
                                            <a href="javascript:void(0)" class="sp2" target="_blank">{$vo.writer}</a>
                                        <else />
                                            <a href="/company_home/{$vo.uid}" class="sp2" target="_blank">{$vo.writer}</a>
                                        </empty>
                                    </span>
                                    <span class="sp3">{$vo.writetime}&nbsp;By</span>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </eq>
        <else/>
            <div class="leftsilder search-none">
                <div class="search-none-b">
                    <div class="search-none-top">
                        <div class="search-none-top-l">
                            <div>

                            </div>
                        </div>
                        <div class="search-nont-top-r">
                            <dl>
                                <dt>
                                    对不起,还没有搜索到您需要的装修案例
                                </dt>
                                <dd>
                                   您搜索的关键词不匹配，您可以与<span class="red">{:releaseCount("zbrs")}</span>户业主一起参与<a class="red" href="/zhaobiao/" target="_blank">发布装修招标</a>,享受多重免费服务及装修保障，让您轻松搞定装修！
                                </dd>
                                <dd>
                                    2、由于装修效果图及案例均由装修公司自行上传，更多案例还在更新中……
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="search-none-t">
                    </div>
                     <em>【建议】由于每个房屋情况均不一致，需要根据您房屋的户型结构及具体要求，方可制定出适合您的方案，目前80%的业主选择以下操作：</em>                    <div class="search-none-tips">
                        <div class="search-none-tips-l">
                            <em>今日已有<i class="red">{:releaseCount("fbrs")}</i>人成功申请：</em>
                        </div>
                        <div class="search-none-tips-r">
                            <dl>
                            <dd>根据我的房屋情况量体裁衣，<a href="javascript:void(0)" class="red search-link" data-type="sj">免费帮我做设计方案>>我要申请</a></dd>
                            <dd>给我一个详细的预算清单，<a href="javascript:void(0)" class="red search-link" data-type="ys">免费帮我预算报价>>我要申请</a></dd>
                            <dd>杜绝施工猫腻，保质保量，<a href="javascript:void(0)" class="red search-link" data-type="lf">免费提供我第三方监管>>我要申请</a></dd>
                                <dd>
                                    装修成本降30%，<a href="javascript:void(0)" class="red search-link" data-type="zx">我要申请以上所有免费套餐服务>>立即提交</a>
                                </dd>
                            </dl>
                            <i>
                                * 为了您的利益及我们的口碑，您的资料我们将严格保密，我们将在10分钟之内及时与您联系！
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </if>
    </div>
    <!--S 翻页没有可加载的时候调用，有加载时隐藏，具体参考上述ajax-->
    <div class="content pageContent">
        {$xiaoguotuInfo.page}
    </div>
    <!--E 翻页没有可加载的时候调用-->
    <div class="wrap">
        <a rel="nofollow"  href="/zhaobiao/" target="_blank">
            <img src="/assets/home/xiaoguotu/img/imglistbt.jpg" width="1210" height="190">
        </a>
    </div>
    <notempty name="friendLink.link">
        <include file="Common@Friendlink/index"/>
    </notempty>
    <include file="Index:footer" />
    <input id="safecode" type="hidden" value="{$safecode}" />
    <input id="safekey" type="hidden" value="{$safekey}" />
    <script src="{$static_host}/assets/common/plugin/wookmark/js/wookmark.min.js?v={:C('STATIC_VERSION')}"></script>
    <eq name="robot" value="1">
        <script>
            /*必须使用onload函数，不然会出现排版问题*/
            window.onload = function () {
                var wookmark = new Wookmark('#wookmark', {
                    offset: 8,
                    fillEmptySpace: true
                });
            };
        </script>
    <else />
        <script src="{$static_host}/assets/common/plugin/lazyload/js/jquery.lazyload.min.js?v={:C('STATIC_VERSION')}"></script>
        <script>
            $(document).ready(function(){
                /*异步加载结束后调用瀑布流重新排版*/
                var browser=navigator.appName;
                function wookmarkreset(){
                    var wookmark = new Wookmark('#wookmark', {
                            offset: 8
                    });
                }
                if(browser=="Microsoft Internet Explorer"){
                    var b_version=navigator.appVersion
                    var version=b_version.split(";");
                    var trim_Version=version[1].replace(/[ ]/g,"");
                    if(trim_Version=="MSIE8.0"){
                        var lazy_list=$(".lazy");
                        for(var i=0; i<lazy_list.length;i++){
                            var imgSrc=$(lazy_list[i]).data("original");
                            $(lazy_list[i]).attr("src",imgSrc);
                        }
                        setTimeout(wookmarkreset,1500);
                    }else{
                        $('img.lazy').lazyload({
                             effect:"fadeIn",
                             load:wookmarkreset
                        });
                    }

                }else{
                    $('img.lazy').lazyload({
                         effect:"fadeIn",
                         load:wookmarkreset
                    });
                }
            })
        </script>
    </eq>
    <script type="text/javascript">
        //设置索引值
        var offset = 1;
        var shen = null,shi = null;
        shen = citys["shen"];
        shi = citys["shi"];
        $(function(){
            $(window).scrollTop(0);
            $(".rtel input[name=name]").focus();
            $("#tab").rTabs({
                        auto:false,
                        bind:'click',
                        animation : 'fadein'
                    });
            $(".tiaoj .j-tab-nav").find("a").eq({$param['classid']}-1).trigger('click');

            $(".keyword").click(function(event) {
                window.location.href ="/xgt/";
            });

            $(".search-link").click(function(event) {
                var type = $(this).attr("data-type");
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type: type,
                        action: "load",
                        cs: "{$cityInfo.id}"
                    }
                })
                .done(function(data) {
                    if (data.status == 1) {
                        $("body").append(data.data);
                        $(".zb_box_" + type).fadeIn(400,function(){
                            $(this).find("input[name=lf-name]").focus();
                        });
                    }
                });
            });
        });

        /*$(window).scroll(function(){
            var top = $(".xgt_hd_logo").offset().top + $(".xgt_hd_logo").outerHeight();
            var scrollTop = document.documentElement.scrollTop;

            if(scrollTop > top){
                if(!$("#xgt_hd_logo")[0]){
                    var div = $(".xgt_hd_logo").prop("outerHTML");
                    var _this = $(div);
                    _this.attr("id","xgt_hd_logo");
                    _this.appendTo("body");
                    _this.addClass('fixed').show().animate({"margin-top":0},500,function(){
                        $(this).stop(true,true);
                    });
                }
            }else{
               $("#xgt_hd_logo").remove();
            }
        });*/
    </script>
</body>
</html>
