<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/bootstrap-switch.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/systemmenu.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/common/css/Alert.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <section class="content-header">
        <h1 class="">菜单编辑</h1>
        <ul class="breadcrumb">
            <li></li>
        </ul>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 ">
                <form id="myForm" class="form-horizontal box" onsubmit="return false">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label col-sm-1">名称</label>
                            <div class="col-sm-3">
                                <input type="text" name="name" class="form-control" placeholder="菜单名称" value="{$auth_menu.name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">链接</label>
                            <div class="col-sm-3">
                                <input type="text" name="link" class="form-control" placeholder="菜单链接" value="{$auth_menu.link|default='#'}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">目标系统</label>
                            <div class="col-sm-2">
                                <select name="version" class="form-control">
                                    <if condition="$auth_menu['version'] EQ 2">
                                    <option value="1">老版管理后台</option>
                                    <option value="2" selected="selected">新版管理后台</option>
                                    <option value="3" >运营系统</option>
                                    <option value="4" >家具系统</option>
                                    <option value="5" >家具会员系统</option>
                                        <option value="6" >装修说管理系统</option>
                                        <elseif condition="$auth_menu['version'] EQ 3"/>
                                    <option value="1">老版管理后台</option>
                                    <option value="2">新版管理后台</option>
                                    <option value="3" selected="selected">运营系统</option>
                                    <option value="4" >家具系统</option>
                                    <option value="5" >家具会员系统</option>
                                        <option value="6" >装修说管理系统</option>
                                        <elseif condition="$auth_menu['version'] EQ 4"/>
                                    <option value="1">老版管理后台</option>
                                    <option value="2">新版管理后台</option>
                                    <option value="3">运营系统</option>
                                    <option value="4" selected="selected">家具系统</option>
                                    <option value="5" >家具会员系统</option>
                                        <option value="6" >装修说管理系统</option>
                                        <elseif condition="$auth_menu['version'] EQ 5" />
                                    <option value="1">老版管理后台</option>
                                    <option value="2">新版管理后台</option>
                                    <option value="3" >运营系统</option>
                                    <option value="4" >家具系统</option>
                                    <option value="5" selected>家具会员系统</option>
                                        <option value="6" >装修说管理系统</option>
                                        <elseif condition="$auth_menu['version'] EQ 6" />
                                    <option value="1" >老版管理后台</option>
                                    <option value="2" >新版管理后台</option>
                                    <option value="3" >运营系统</option>
                                    <option value="4" >家具系统</option>
                                    <option value="5" >家具会员系统</option>
                                        <option value="6" selected>装修说管理系统</option>
                                        <else/>
                                        <option value="1" selected>老版管理后台</option>
                                        <option value="2" >新版管理后台</option>
                                        <option value="3" >运营系统</option>
                                        <option value="4" >家具系统</option>
                                        <option value="5" >家具会员系统</option>
                                        <option value="6" >装修说管理系统</option>
                                    </if>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">父级</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" name="parent" class="form-control" placeholder="父级菜单" aria-describedby="basic-addon1" readonly="readonly" value="{$auth_menu.pname}" data-id="{$auth_menu.pid}"/>
                                    <span  class="input-group-addon" style="cursor: pointer;"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">图标</label>
                            <div class="col-sm-1">
                                <input type="text" name="icon" class="form-control" placeholder="菜单图标" value="{$auth_menu.icon}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">排序</label>
                            <div class="col-sm-1">
                                <input type="text" name="px" class="form-control" placeholder="菜单排序" value="{$auth_menu.px}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">状态</label>
                            <div class="col-sm-1">
                                <div class="switch">
                                    <if condition="$auth_menu['enabled']">
                                        <input id="switch" name="enabled" type="checkbox" checked=checked />
                                    <else/>
                                        <input id="switch" name="enabled" type="checkbox" />
                                    </if>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1">描述</label>
                            <div class="col-sm-3">
                                <textarea type="text" name="remark" class="form-control" placeholder="菜单描述">{$auth_menu.remark}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1 col-sm-offset-1">
                                <button id="btnSubmit" type="button" class="btn btn-block btn-success normal"><i class="fa fa-plus-circle"></i>保存</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择父菜单</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/home/js/bootstrap-switch.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/common/js/Alert.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
    $(function() {
        $('#switch').bootstrapSwitch({
            onText: "开启",
            offText: "关闭",
            onColor: "info",
            offColor: "danger",
            onSwitchChange:function(e, data){
                var $el = $(e.target);
                if($el.attr("checked") == "checked"){
                    $el.attr("checked",false);
                }else{
                    $el.attr("checked","checked")
                }
            }
        });

        $(".input-group-addon").click(function(event) {
            $.ajax({
                url: '/auth/tree/',
                type: 'GET',
                dataType: 'JSON',
                data:{
                    id:"{$auth_menu.id}",
                    menuid:$("select[name=version]").val()
                }
            })
            .done(function(data) {
                $(".modal-body").html(data.data);
                $("#myModal").modal();
            })
            .fail(function() {
                console.log("error");
            });
        });

        $("#btnSave").click(function(event) {
            var id = $(".tree-menu .active").attr("data-id");
            var name = $(".tree-menu .active").attr("data-name");
            $("input[name=parent]").val(name);
            $("input[name=parent]").attr("data-id",id);
        });

        $("#btnSubmit").click(function(event) {
            var _this = $(this);
            $.ajax({
                url: '/auth/menuup/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    enabled:$("input[name=enabled]").attr('checked') == "checked"?1:0,
                    name:$("input[name=name]").val(),
                    link:$("input[name=link]").val(),
                    parent:$("input[name=parent]").attr("data-id"),
                    px:$("input[name=px]").val(),
                    remark:$("textarea[name=remark]").val(),
                    icon:$("input[name=icon]").val(),
                    version:$("select[name=version]").val(),
                    id:'{$auth_menu.id}'
                }
            })
            .done(function(data) {
                if(data.status == 1){
                    window.location.href = "/auth/menu";
                }else{
                    _this.Alert({
                        msg:data.info,
                        level:2
                    });
                }
            })
            .fail(function() {
                _this.Alert({
                    msg:"操作失败,请联系技术部门！",
                    level:2
                });
            });
        });
    });
    </script>
</block>
