<extend name="Main:baseTemplate" />
<block name="title">
    <title>齐装网角色组管理后台 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/rolegroup.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
    <section class="content-header">
        <h1>角色组管理</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li>角色组管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header">
                    条件查询
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <form method="get" action="/auth/rolegroup/">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label for="exampleInputEmail1">角色名称：</label>
                                        <input type="text" class="form-control" name="name"  id="exampleInputEmail1" placeholder="角色名称" value="{$Think.get.name}">
                                    </div>
                                    <div class="col-sm-1">
                                        <label >&nbsp;</label>
                                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i>查询</button>
                                    </div>
                                    <div class="col-sm-1">
                                        <label >&nbsp;</label>
                                        <a href="/auth/rolegroupup/" class="btn btn-success btn-block"><i class="fa fa-plus-circle"></i>添加角色组</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">查询列表</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <div class="col-sm-8">
                        <table class="table table-bordered table-hover text-center" id="brandlist">
                            <thead>
                                <tr>
                                    <th>角色名称</th>
                                    <th>管辖角色</th>
                                    <th >操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="vo">
                                <tr>
                                    <td>{$vo.group_name}</td>
                                    <td><a href="/auth/rolegroupdetails/?id={$vo.id}">{$vo.count}</a></td>
                                    <td>
                                        <a href="/auth/rolegroupup/?id={$vo.id}">编辑</a>
                                        <a class="del" href="javascript:void(0)" data-id="{$vo.id}">删除</a>
                                    </td>
                                </tr>
                                </volist>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $(".del").click(function(event) {
                if (confirm("确定删除该角色组吗？")) {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url: '/auth/setRoleGroup',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {id:id}
                    })
                    .done(function(data) {
                        alert(data.info);
                        if (data.status == 1) {
                            window.location.href = window.location.href;
                        }
                    });
                }
           });
        });
    </script>
</block>