.user-head{ float:left; width:400px}
.user-head h2{ font-size:16px; line-height:30px; margin-bottom:20px}
.user-head p a{ border-radius:3px; line-height:25px; color:#3c3c3c; display:inline-block; margin-bottom:10px; padding:0 10px; border:1px solid #eee;background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

}
.user-head p a:hover{ text-decoration:none; color:#F15858;background: rgb(241,241,241); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.user-head .im img{ width:100%; height:100%;}
.user-head .im { margin-right:20px; float:left; width:100px; height:100px; position:relative; display:block; padding:10px; border:1px solid #f7f7f7}
.user-head .im .change{ position:absolute; display:none; background:rgba(0,0,0,.5); color:#fff; bottom:10px; left:0; height:20px; line-height:20px; width:100%; text-align:center}
.user-head .im:hover .change{ display:block}

.usertips{ font-size:14px;clear:both; padding:20px; background:#fffae4; margin-top:20px; line-height:25px; border:1px dashed #eee}
.usertips p a{ color:#F60}
.banding { float:right; padding:38px; border:2px dashed #ffe5e4}
.banding li{ float:left; width:150px; margin-left:20px}
.banding li h3{ font-size:14px}
.banding li p{ color:#888}
.banding li p a{ margin-left:10px; color:#F60}
.banding i{ float:left; margin-right:10px}


.yh-order-list{ width:100%; text-align:center}
.yh-order-list .tit td{ width:12.5%; line-height:50px; background:#f7f7f7; font-size:14px}
.yh-order-list .list td{ line-height:50px; border-bottom:1px solid #f1f1f1}
.yh-order-list .list td a{ padding:0 5px}

.ad{ width:912px; margin-top:20px;float:right; height:200px}
.ad a{ float:left}

.tuij{ margin-top:20px; width:900px}
.tuij li{ float:left; width:274px; overflow:hidden; margin-right:24px; font-size:14px; text-align:center}
.tuij li img{ width:274px; height:200px}

.userinfo-edit { margin-top:20px}
.userinfo-edit li span{ width:90px; display:inline-block; font-weight:bold; font-size:14px; line-height:30px; margin-bottom:20px}
.userinfo-edit li input[type=text]{ border:1px solid #ccc; height:28px; width:250px}
.userinfo-edit li select { width:120px; border:1px solid #ccc;height:28px; margin-right:8px}

.change-head { overflow:hidden; margin-bottom:20px}
.change-head span{width:90px; display:block; font-weight:bold; font-size:14px; float:left;line-height:30px; margin-bottom:20px}
.change-head .meitu{ width:100px; height:100px; overflow:hidden; float:left; padding:10px; border:1px solid #f1f1f1;}
.change-head .meitu-up{ float:left; display:block; line-height:28px; border:1px outset #fff; background:#f1f1f1; padding:0 20px; margin-left:20px}
.change-head .meitu-up:hover{ text-decoration:none}
.change-head .meitu-up:active{border:1px inset #fff;}
.change-head .meitu img{ max-width:100%; width:auto; max-height:100%; height:auto}



/**********/
.collect-tit{ padding:10px 0; line-height:30px; overflow:hidden;}
.collect-tit li{ float:left}
.collect-tit li a{ display:block; margin-right:20px; border-bottom:2px solid #fff; position:relative}
.collect-tit li a.active:after{ position:absolute;content: ""; left:36px; bottom: -5px; width: 0; height: 0; border-top:0px solid transparent; border-left:10px solid #f16262; border-bottom: 5px solid transparent; }
.collect-tit li a.active:before{ position:absolute;content: ""; left:26px; bottom: -5px; width: 0; height: 0; border-top:0px solid transparent; border-right:10px solid #f16262; border-bottom: 5px solid transparent; }
.collect-tit li a.active,.collect-tit li a:hover{ border-bottom:2px solid #f16262; text-decoration:none}

.collect-list{ overflow:hidden; margin:20px 0; width:1000px}
.collect-list li:hover{ background:#f7f7f7}
.collect-list li{ float:left; width:248px; overflow:hidden;text-align: center; padding:10px; border:1px solid #f1f1f1; margin-right:30px; margin-bottom:20px; }
.collect-list li img{ height:170px; max-width:100%; width:auto; margin-bottom:10px}
.collect-list li p{ text-align:left; line-height:25px}.collect-list li p span{ color:#aaa; margin-right:20px}




/*******message.html********/

.yh-systemes { border-bottom:1px dotted #f1f1f1; min-height:800px; margin-top:20px}
.yh-systemes li{ padding:20px; background:#f7f7f7; line-height:20px; margin-bottom:20px}
.yh-systemes li h1{ font-size:14px}
.yh-systemes li a{ color:#dc4146}

.ht-info{margin-bottom: 50px; margin-top: 20px;}
.ht-info dt{font-size: 16px; padding:5px 0;}
.ht-info dd{font-size: 14px;}

.login_box .zb_box_title{background: url(/assets/user/user/img/welcom.png) no-repeat; height: 100px;}
.login_box .zb_box_form{padding:25px 50px; }
.login_box .zb_box_form .button{margin: 25px 0; border-radius: 5px; width: 150px; height: 50px; font-size: 20px; font-family: Microsoft YaHei;}
.login_box .input-msg{text-align: center;font-size: 14px; font-family: Microsoft YaHei; margin: 20px 0; display: block;}

