.firm,
.glory{
    background-color: #fff;
}
.firm .company_text{
    color:#000;
}
.firm h4,
.glory h4
{
    width: 90%;
    margin-left: 5%;
    height: 2em;
    font-size: 0.9em;
    line-height: 2em;
}
.firm p{
    font-size: 0.8em;
    text-indent: 2em;
    width: 93%;
    padding-top: 0.5em;
    margin-left: 4%;
    border-top: 1px solid #ccc;
}
.firm p em{
    color:#FE5655;
}
.firm span{
    margin-left: 4%;
    font-size: 0.8em;
    margin-top: 0.5em;
    display: inline-block;
}
.firm span i{
    color: #FF5561;
    padding-bottom: 1.3em;
}
.glory{
    margin-top: 0.7em;
}
.swiper-container .swiper-slide{
    width: 50%;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}
.swiper-container .swiper-slide img{
    width: 78%;
}
