.queuelist{width: 760px; height: 294px;}
.filelist .file-item{width: 130px; height: 130px; margin-right: 10px; margin-bottom: 10px;}
.filelist .file-item .file-content,.filelist .file-item .imgWrap{width: 130px; height: 130px;}
.filelist .file-item .file-panel{width: 120px;}
