.ht-userhead-up dl dd {
    height: 140px;
}

.ht-comp-phot {
    padding: 5px 5px;
}

.ht-comp-phot {
    max-height: 130px;
}

.queuelist {
    width: 140px;
    height: 60px;
}

.webuploader-pick {
    padding: 5px 15px;
}

.filelist .file-item {
    width: 126px;
    height: 52px;
}

.filelist .file-item .imgWrap {
    width: 126px;
    height: 52px;
}

.filelist .file-item .file-content {
    width: 126px;
    height: 52px;
}

.filelist .file-item .file-panel {
    width: 126px;
}

.ht-userhead-up dl dd span {
    border: none;
    padding: 0px;
    width: auto;
}

.ht-yes {
    padding-left: 7px;
    margin-left: 92px;
}

.ht-yes a, .ht-yes button{
    line-height: 30px;
}

.uploader-info {
    padding: 0px !important;
}

.filelist .file-item .cancel{
    background-position: -40px -22px !important;
}

.filelist .file-item .file-panel .tag{
    margin-right: 0px;
        padding-right: 0px;
}