.ht-comp-phot { padding: 20px 5px;}
.ht-comp-phot {max-height: 200px;}
.queuelist{width: 850px;height: 140px;}
.webuploader-pick {padding: 8.5px 15px; }
.filelist .file-item {width: 840px; height: 135px;}
.filelist .file-item .imgWrap {width: 840px; height: 135px;}
.filelist .file-item .file-content {width: 840px; height: 135px;}
.filelist .file-item .file-panel {width: auto;}
.ht-yes{padding-left: 7px;margin-top: 20px;}