<extend name="Main:baseTemplate" />
<block name="title">
    <title>客服坐席数统计-控制台</title>
</block>
<block name="style">
<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-default">
	            <div class="box-header with-border">
	                <h3 class="box-title">条件查询</h3>
	            </div>
	            <div class="box-body">
	                <div class="row">
	                <form class="form-horizontal" method="GET" action="/tongji/customerseatsstat">
	                    <div class="col-xs-2">
	                        开始日期:<input type="text" name="begin" class="form-control datepicker"  placeholder="选择日期" value="{$Think.get.begin}">
	                    </div>
	                    <div class="col-xs-2">
	                        结束日期:<input type="text" name="end" class="form-control datepicker"  placeholder="选择日期" value="{$Think.get.end}">
	                    </div>
	                    <div class="col-xs-1">
                          	<br/>
                          	<button id="btnSearch" type="submit" class="btn btn-primary" data-loading-text="查询中....." ><i class="fa fa-search"></i>查询</button>
	                    </div>
	                </form>
	                </div>
	            </div>
	        </div>
	        <div class="box box-default">
	        	<table class="table table-bordered">
	        		<tr>
	        			<th></th>
	        			<th></th>
	        			<th>1团</th>
	        			<th>2团</th>
	        			<th>3团</th>
	        			<th>4团</th>
	        			<th>5团</th>
	        			<th>6团</th>
	        			<th>7团</th>
	        			<th>8团</th>
	        			<th>9团</th>
	        			<th>11团</th>
	        			<th>12团</th>
	        		</tr>
	        		<volist name="list.child" id="vo">
	        			<tr>
	        				<td>{$vo.date}</td>
	        				<th>{$vo.all}</th>
	        				<td>{$vo.group1}</td>
	        				<td>{$vo.group2}</td>
	        				<td>{$vo.group3}</td>
	        				<td>{$vo.group4}</td>
	        				<td>{$vo.group5}</td>
	        				<td>{$vo.group6}</td>
	        				<td>{$vo.group7}</td>
	        				<td>{$vo.group8}</td>
	        				<td>{$vo.group9}</td>
	        				<td>{$vo.group11}</td>
	        				<td>{$vo.group12}</td>
	        			</tr>
	        		</volist>
	        		<tr>
	        			<td><strong>团日均坐席数</strong></td>
	        			<td><strong>-</strong></td>
	        			<td><strong>{$list.date.1.avg}</strong></td>
	        			<td><strong>{$list.date.2.avg}</strong></td>
	        			<td><strong>{$list.date.3.avg}</strong></td>
	        			<td><strong>{$list.date.4.avg}</strong></td>
	        			<td><strong>{$list.date.5.avg}</strong></td>
	        			<td><strong>{$list.date.6.avg}</strong></td>
	        			<td><strong>{$list.date.7.avg}</strong></td>
	        			<td><strong>{$list.date.8.avg}</strong></td>
	        			<td><strong>{$list.date.9.avg}</strong></td>
	        			<td><strong>{$list.date.11.avg}</strong></td>
	        			<td><strong>{$list.date.12.avg}</strong></td>
        			</tr>
        			<tr>
        				<td><strong>日均总坐席数</strong></td>
        				<td colspan="9" class="text-center"><strong>{$list.all.avg}</strong></td>
        			</tr>
	        	</table>
	        </div>
		</div>
	</div>
</block>
<block name="script">
<script type="text/javascript" src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(".datepicker").datepicker({
        format:"yyyy-mm-dd",
        minViewMode:0
    });
</script>
</block>