/*
* @Author: qz_php3
* @Date:   2018-04-03 10:40:24
* @Last Modified by:   qz_chk
* @Last Modified time: 2018-04-04 15:15:16
*/
table {
        border-collapse: collapse;
        margin-left: 15px;
        margin-bottom: 15px;
 }
th ,td {
    border: 1px solid #ccc;
    text-align: center;
    height: 40px;
}
#reset {
    width:80px;
    height: 34px;
    position: absolute;
    top: 22px;
    left: 125px;
}
#search {
    width:80px;
    height: 34px;
    position: absolute;
    top: 22px;
    left: 200px;
}
#dingdan {
    height: 954px;
}
.box h3 {
    margin-left: 15px;
}
.page {
    height: 50px;
}
.row {
    position: relative;
}
.pop {
    width: 860px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left:-430px;
    display: none;
    z-index:99;
    max-height: 600px;
    overflow-y: auto;
}
.pop h3 {
    margin-top: 0;
}
.pop table {
    margin-left: 0;
}
.pop td {
    width: 150px;
}
#close1,#close2 {
    width: 60px;
    margin: 0 auto;
}
#close1 button {
    border: none;
    width: 100%;
    border-radius: 10px:
}
#close2 button {
    border: none;
    width: 100%;
    border-radius: 10px:
}
