/*
* @Author: qz_xsc
* @Date:   2018-06-11 14:55:53
* @Last Modified by:   qz_xsc
* @Last Modified time: 2018-06-13 10:56:56
*/
.table{table-layout: fixed; }
.table td h2{margin-top: 13px !important;}
.line-box{margin:10px; border:1px solid #F4F4F4; height: 124px;padding-top:10px; position:relative;}
.line-box h4{position: relative;}
.line-box .fa{color:#3C8DBC; position: absolute;top:0px; margin-left: 6px}
.red{margin-top: -8px;}
#oneWeek{height: 300px;border:1px solid #F4F4F4;}
#sixHours{height: 300px;border:1px solid #F4F4F4;}
.table_box{padding:15px;}
.border_table{border:1px solid #F4F4F4;}
.border_table td{border:1px solid #F4F4F4;}
.parm_box{padding:15px;}
.parm_list{ padding:0px 10px; border:1px solid #F4F4F4; }
.parm_title{border-bottom: 1px solid #F4F4F4;padding-top:10px; padding-bottom: 5px;}
.parm_box ol{margin-left: -20px;padding-top:10px;}
.parm_box ol li{line-height: 30px;}
.line-box .popover{width: 230px}
.edit_num_input{  outline: none; width:80px; text-align: center; border:1px solid #f4f4f4;}