/*
* @Author: qz_dc
* @Date:   2018-07-30 08:36:27
* @Last Modified by:   qz_dc
* @Last Modified time: 2018-08-07 15:17:33
*/
.input-group {
    width: 100%;
}
.select {
    width: 100%;
    height: 34px;
    outline: none;
}
.input-group .input-group-btn .btn-success {
    width: 100%;
    border-radius: 5px;
}
.border {
    border: 1px solid #ccc;
}
table {
    width: 100%;
    table-layout:fixed;
}
.table2 {
    width: 0;
}
.table2 td {
    width: 120px;
}
.xishu {
    width: 150px;
}
.red {
    width: 120px;
}
table th,td {
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#table td {
    border: none;
}
tr {
    height: 40px;
}
.table2 .bluetd{
    color:#00c0ef
}
#table .xishu {
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
}
#table .b {
    border: 1px solid #ccc;
    border-left: none;
    border-bottom: none;
}
#table .bt {
    border-top: 1px solid #ccc;
}
#table .br {
    border-right: 1px solid #ccc;
}
.bjyy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.7);
    z-index: 8;
    display: none;
}
.city-box {
    width: 500px;
    height: 500px;
    background: #fff;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
    display: none;
}
.close .button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.scroll-y {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    overflow-y: auto;
}
.scroll-y table th,td {
    border: 1px solid #ccc;
}
.city-table {
    /*height: 400px;*/
}
.city-foot {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* 城市缺单统计 */
.c-title {
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    margin-left: 20px;
}
.c-title div {
    float: left;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.c-title a {
    color: #000;
}
.c-title .old {
    border-right:0; 
}
.cur {
    background: rgb(25, 158, 216);
    color: #fff;
}
.tongji {
    margin-bottom: 10px;
}
.w11 {
    width: 11.33%;
}
select {
    width: 150px;
    height: 34px;
}
.span {
    display: block;
    margin-bottom: 5px;
}
#search {
    margin-right: 10px;
    margin-top: 20px;
}
#excel {
    margin-top: 20px;
    width: 110px;
}
.warn {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 16px;
}
.table-box {
    margin-top: 20px;
}
.orange {
    background: rgb(255, 255, 204);
}
.table>thead>tr>th,.table>tbody>tr>td {
    padding: 0;
    line-height: 42px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 0;
}
.select2-container--default .select2-selection--single {
    padding-left: 0;
}