/*
* @Author: qz_dc
* @Date:   2018-05-07 08:26:38
* @Last Modified by:   qz_chk
* @Last Modified time: 2018-05-09 15:11:14
*/
.content-wrapper {
    background: #fff;
}
.button {
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background:#359bed;
    color:#fff;
    margin-bottom: 15px;
    cursor: pointer;
}
.shuju-biao {
    padding: 0;
}
table {
  border-collapse:collapse;
}
table th {
    color: #fff;
    background:#359bed;
    height: 50px;
}
table,th, td {
  border: 1px solid #e6e6e6;
  text-align: center;
}
tbody tr:nth-child(2n) {
    background: #cfe9fd;
    height: 60px;
}
tbody tr:nth-child(2n+1) {
    background: #f0f8ff;
    height: 60px;
}
.fa-pencil {
    margin-right: 50px;
    font-size: 20px;
}
.fa-trash {
    font-size: 20px;
}
.member-box {
    width: 400px;
    height: 320px;
    background: #fff;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10% auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 2;
}
.member-box .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.member-box .group {
    margin-top: 20px;
}
.member-box .group span.group-title {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.add-member {
    display: none;
}
.edit-member {
    display: none;
}
.fa {
    cursor: pointer;
}
.mark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.anniu {
    margin-top: 20px;
}
.quxiao {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-left: 95px;
    margin-right: 40px;
    border: 1px solid #359bed;
    color: #359bed;
    cursor: pointer;
}
.baocun {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    color:#fff;
    background: #359bed;
    cursor: pointer;
}
.del {
    width: 240px;
    height: 120px;
    background: #fff;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10% auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 2;
    display: none;
}
.del  .info {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.del .d-qx {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background:#e6e6e6;
    color: #000;
    cursor: pointer;
}
.del .d-qr {
   float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff5353;
    color:#fff;
    cursor: pointer;
}
