/*
* @Author: qz_dc
* @Date:   2018-05-07 08:26:00
* @Last Modified by:   qz_chk
<<<<<<< HEAD
* @Last Modified time: 2018-05-15 12:06:09
=======
* @Last Modified time: 2018-05-15 12:04:16
>>>>>>> c44b54344011ef70c64e9e7fa62da0e908f7f81d
*/
.content-wrapper {
    background: #fff;
}
.tishi {
    height: 40px;
    line-height: 40px;
    background: #ededed;
    padding-left: 5px;
    margin-bottom: 20px;
}
.tishi span {
    color: #fb8484;
}
.content .warn-data {
    padding: 0;
    border: 1px solid #ccc;
}
.content .warn-data .data-group {
    padding: 0;
    height: 90px;
    background: #00acee;
    color: #fff;
    line-height: 90px;
    text-align: center;
    font-size: 18px;
    width:14%;
}
.content .warn-data .data-group-title{width:8.33333%;}
#other {
    padding: 0;
}
#other .data-group {
    background: #fff;
    color: #000;
    padding-top: 20px;
    font-size: 16px;
}
#other .data-group span {
    display: block;
    height: 20px;
    line-height: 20px;
}
#other .data-group .span1 {
    margin-bottom: 10px;
}
.content .warn-data .data-group1 {
    padding: 0;
    width:49%;
    height: 80px;
    background: #00acee;
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    float: left;
    margin-right: 1%;
    padding-top: 20px;
    position: relative;
}
.content .warn-data .data-group input {
    position: absolute;
    left: 38%;
    height: 30px;
    line-height: 30px;
    width: 50px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ccc;
    outline: none;
    text-align: center;
    padding-bottom: 8px;
}
.content .warn-data .data-group1 span {
    display: block;
    height: 20px;
    line-height: 20px;
}
.content .warn-data .data-group1 .span2 {
margin-bottom: 10px;
}
.other1 {
    padding: 0;
    background: #fff;
    height: 90px;
}
.fadan-tubiao {
    height: 440px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shuju-biao {
    margin-top: 20px;
    padding: 0;
}
table {
  border-collapse:collapse;
}
table th {
    color: #fff;
    background:#359bed;
    height: 50px;
}
table,th, td {
  border: 1px solid #e6e6e6;
  text-align: center;
}
tbody td input {
    width: 50px;
}
.first {
    background: #f0f8ff;
    height: 60px;
}
.second {
    background: #cfe9fd;
    height: 60px;

}
.three {
    background: #f0f8ff;
    height: 60px;

}
.four {
    background: #cfe9fd;
    height: 60px;

}
.parameter {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.canshu {
    height: 26px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #000;
}
.down {
    color:#f62424;
}
.up {
    color:#0072ff;
}
.edit {
    cursor: pointer;
}
.edit i {
    font-size: 18px;
}