<extend name="Main:baseTemplate"/>
<block name="style">
    <link href="{:C('168NEW_URL')}/assets/home/basicinfo/css/quyu.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="margin-bottom: 0">
                    <div class="box-body act-box" style="min-width:500px;padding: 0">
                        <nav class="nav">
                            <a href="/basicinfo/index/"><span>区域城市管理</span></a>
                            <a href="/basicinfo/index"><span><i class="fa fa-home"></i>&nbsp;城市管理</span></a>
                            <a href="/basicinfo/quyu/?id={$quyuInfo.cid}"><span class="cur"><i class="fa fa-sitemap"></i>&nbsp;区域管理</span></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="box">
                    <div class="box-body act-box" style="min-width:500px;padding: 0">
                        <div class="top">
                            <div class="title">{$quyuInfo.cname}</div>
                            <div class="info">
                                <a target="_blank" href="http://{$quyuInfo.bm}.{:C('QZ_YUMING')}/">二级域名：{$quyuInfo.bm}&nbsp;<i class="fa fa-share-square-o"></i></a>,<span>区划代码：{$quyuInfo.cid}，</span><span>下辖区域：{$quyuInfo.count}</span>
                            </div>
                            <ul class="setCity-ul clearfix">
                                <li>
                                    <i class="fa fa-pencil"></i>
                                    <a href="/basicinfo/edit?id={$quyuInfo.cid}"><span>编辑此城市</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-magnet"></i>
                                    <a href="/city/orderadjoincity/"><span>设置相邻城市</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-bars"></i>
                                    <a href="/basicinfo/paixu/?id={$quyuInfo.cid}"><span>区域排序</span></a>
                                </li>
                            </ul>
                            <ul class="px-ul clearfix">
                                <volist name="areaList" id="v">
                                <li>
                                    <a href="/basicinfo/editquyu?id={$v.qz_areaid}">
                                        <p>{$v.qz_area}</p>
                                        <p class="px">排序：{$v.orders}</p>
                                    </a>
                                </li>
                                </volist>
                            </ul>
                        </div>
                        <form id="form1" action="" method="POST">
                        <div class="add-xiaqu">
                            <div class="c-title">增加辖区</div>
                            <div class="form-group">
                                <span>批量添加：</span>
                                <textarea  name="qz_area_all" id="qz_area_all" cols="80" rows="5" placeholder="多个区域可用逗号（，）和顿号（、）分割"></textarea>
                            </div>
                            <div class="quyu-box">
                                <div class="form-group">
                                    <span>区域名：</span>
                                    <input name="qz_area[]" type="text" placeholder="区域名">
                                </div>
                            </div>
                            <div class="more">
                                <div class="btn btn-info" id="more"><i class="fa fa-angle-double-down"></i>&nbsp;更多</div>
                            </div>
                            <div class="save">
                                <div class="btn btn-success" id="save"><i class="fa fa-check-circle"></i>&nbsp;保存</div>
                                <input type="hidden" name="id" value="{$quyuInfo.cid}">
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</block>
<block name="script">
    <script src="{:C('168NEW_URL')}/assets/home/basicinfo/js/quyu.js?v={:C('STATIC_VERSION')}"></script>
</block>