body{font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
.phone-box .fa-phone{border-radius: 50%;width: 15px;height: 15px;text-align: center;line-height: 15px;
margin:0 5px;}
.daohangkuang{display: block;height: auto;border:1px solid #dbdbdb;}
.dhulzx{height: 43.5px; width:6.5rem; line-height: 43.5px;transform:translate(0px, 0px) translateZ(0px) scale(1);}
.dhulzx li{float:left; padding: 0 0.08rem; text-align: center;position: relative;font-size: 15px;color: #333;}
a{display: inline-block;}
.dhulzx li a {display: block;width: 100%;line-height: 42px;}
.dhulzx li span{display: block;width: 100%;}
.dhulzx li span.ask-active{color: #ff5659;border-bottom: 2px solid;}
/*.dhulzx li span.ask-active i{position: absolute;bottom: 0;left: 0;right: 0;margin:auto;display: block;width: 30px;height: 1.5px;
background: #ff5353;width: 80%;}*/
.zhuyaonr{height: auto;}
.zhuyaonr .nrul{border-bottom: 1px solid #e6e6e6;}
.zhuyaonr .nrul li{padding: 15px 10px;height: auto;overflow: hidden;border-bottom: 1px solid #e6e6e6;position: relative;}
.zhuyaonr .nrul li:last-child{border-bottom: 0; }
.zhuyaonr .nrul li > a{width: 115px;height:86px;float: left; margin-right: 10px; overflow: hidden;}
.zhuyaonr .nrul li img{width: 100%; height: 100%;}
.zhuyaonr .nrul li .tuwenjs{ overflow: hidden; }
.zhuyaonr .nrul li .tuwenjs	.titlebt{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 15px;color: #333;
    font-weight: bold;margin-top: 8px;}

.zhuyaonr .nrul li .tuwenjs	.jieshao{
    height: 34px;
    line-height: 17px;
    overflow: hidden;
    font-size: 12px;
    color:#666;
    margin-top: 9px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/*兼容uc浏览器强行添加关键词a标签换行问题*/
.zhuyaonr .nrul li .tuwenjs .jieshao a {
    display: inline-block;
    color: #666;
    overflow: initial;
}
.zhuyaonr .nrul li .tuwenjs	.yued{display: block;text-align: right;}
.zhuyaonr .nrul li .tuwenjs	.yued .yued_sl{color: #999;font-size: 11px;margin-left: 5px;}
.zhuyaonr .nrul li .tuwenjs	.yued .eyeyj{width: 11px;height: 9px;display: inline-block;
	background: url(/assets/mobile/mobilezixun/images/eye.jpg) no-repeat center center;background-size: 100% 100%;}
.fenye{width: 90%;height: 30px;border:#cccccc solid 1px;display: flex;margin: auto;margin: 15px auto;color: #333;}
.fenye li{flex-grow: 1;margin: auto;display: inline-block;text-align: center;border-right: 1px solid #cccccc;font-size:14px;}
.fenye li .dangqianye{color: #ff5353;}
.fenye li:last-child{border-right: 0;}
#feeter{display: none;}
.footer-title{margin-top: 15px;}
