body{font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
background: #f5f5f5;}
#feeter{display: none;}
img{width: 100%;margin: 10px 0;}
/* body img:last-child{width:auto;height: auto;} */
.phone-box .fa-phone{border-radius: 50%;width: 15px;height: 15px;text-align: center;line-height: 15px;
margin:0 5px;}
.footer-title{margin-top: 15px;}
.daohluyou{display: block;margin: 0 10px;background: #fff;overflow: hidden;}
.daohluyou img{width: 100% !important;height: auto !important;}
.daohluyou2{display: block;margin: 0 10px;background: #fff;overflow: hidden;}
.daohluyou ul{overflow: hidden;}
.daohluyou ul li{font-size: 11px;color: #333;float: left;padding: 5px 0;padding-right: 5px;}
.titlex{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 17px;color: #333;margin-top: 5px;}
.timetit{font-size: 12px;color: #999;margin: 3px 0;}
.xushu01{margin: 15px 0;font-size: 14px;color: #333;}
.xushu02{margin: 15px 0;font-size: 14px;color: #333;}
.zxxqbj{width: 100%;height: 266px;}
.zxxqbj02{width: 100%;height: 105.5px;}
.otherwenz{margin: 15px 0;font-size: 15px;color: #333;display: block;font-weight: bold;overflow: hidden;white-space: nowrap;
	text-overflow:ellipsis; }
.jiange{width: 100%;height: 10px;background: #f5f5f5;}
.xgwz{margin:0 10px;}
.xgwz h2{color:#ff5353;font-size: 17px;border-left: 2px solid #ff5353;padding-left: 6px;height: 17px;line-height: 17px;margin-top: 15px;}
.xgwz ul li{margin: 15px 0;font-size: 15px;color: #333;}
.m-header-his {width: 0;left: .45em;}
.m-header-left {
    margin-left: 1em;
    width: 32% !important;
}
.tuplianjie{display:block;width: 100%;}
.tuplianjie img{margin-bottom: 0;width:100%;}

/*红包*/
.red_box{
    width: 66px;height: 76px;
    background: url(../../meitu/img/red_box.png) no-repeat center;
    position:fixed;
    right: 4px;
    bottom: 130px;
    background-size: 100%;
    display: none;
}
.red_box.show{display: block;}
.red_box i.close_red_box{
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.red_box_pop{
    width: 100%;height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0;left: 0;
    z-index: 99;
    transition: all .5s ease;
    display: none;
}
.start_box {
    width: 300px;
    height: 359px;
    background: url(../../meitu/img/red_box_bg.png) no-repeat center;
    background-size: 100%;
    margin: auto;
    position: absolute;
    left: 0;top:-10px;right: 0;bottom: 0;
    overflow: hidden;
    display: none;
}
.end_box{
    width: 300px;
    height: 362px;
    background: url(../../meitu/img/red_box_ok.png) no-repeat center;
    background-size: 100%;
    margin: auto;
    position: absolute;
    left: 0;top:-10px;right: 0;bottom: 0;
    overflow: hidden;
    display: none;
}
.red_box_pop.show,.start_box.show,.end_box.show{display: block;}
.start_box .close_start {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
}
.start_text {
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 46px;
    left: 63px;
    width: 180px;
    color: #fff;
    letter-spacing: 2px;
}
.home-zb {
    width: 80%;
    height: 211px;
    position: absolute;
    margin: auto;
    left: 0;top: 31%;
    right: 0;bottom: 0;
}
.get_free {
    width: 60%;
    height: 40px;
    background: #ffaa3b;
    margin: 0 20%;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.m-bj-edit li {
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
    background: #fdfadb;
    overflow: hidden;
}
.m-bj-edit li .m-bj-edit-list{
    height: 24px;
  margin-top: 9px;
  line-height: 24px;
  display: block;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
}
.c-zb-city {
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    text-align: left;
    background: #fdfadb;
    border-radius: 3px;
    font-size: 14px;
    color: #a9a9a9;
}
.fa-map-marker{
    margin-right: 4px;
}
.end_box_info{
    width: 96%;
    height: 342px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.red_logo {
    width: 20%;
    height: 22%;
    margin: 0 auto;
    margin-top: 7%;
}
.red_logo img{width: 100%;height: auto;}
.ok_text{
    text-align: center;
    font-size: 22px;
    color: #d85940;
    margin-top: 2%;
}
.ok_info {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    color: #d85940;
    margin-top: 10%;
}
.close_ok{
    width: 50%;
    height: 36px;
    background: #ffaa3b;
    margin: 0 auto;
    margin-top: 30%;
    display: block;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.end_box .close_start {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 8px;
    top: 0px;
    z-index: 888;
}

.animated{animation-duration:.75s}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  10% {
    -webkit-transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
    transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
  }

  15% {
    -webkit-transform: translate3d(-23%, 0, 0) rotate3d(0, 0, 1, -23deg);
    transform: translate3d(-23%, 0, 0) rotate3d(0, 0, 1, -40deg);
  }

  20% {
    -webkit-transform: translate3d(22%, 0, 0) rotate3d(0, 0, 1, 22deg);
    transform: translate3d(22%, 0, 0) rotate3d(0, 0, 1, 22deg);
  }

  25% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
  }

  30% {
    -webkit-transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
    transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
  }

  35% {
    -webkit-transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
    transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
  }

  40% {
    -webkit-transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 15deg);
    transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 15deg);
  }

  45% {
    -webkit-transform: translate3d(-11%, 0, 0) rotate3d(0, 0, 1, -11deg);
    transform: translate3d(-11%, 0, 0) rotate3d(0, 0, 1, -11deg);
  }
  50% {
    -webkit-transform: translate3d(11%, 0, 0) rotate3d(0, 0, 1, 11deg);
    transform: translate3d(11%, 0, 0) rotate3d(0, 0, 1, 11deg);
  }

  55% {
    -webkit-transform: translate3d(-8%, 0, 0) rotate3d(0, 0, 1, -8deg);
    transform: translate3d(-8%, 0, 0) rotate3d(0, 0, 1, -8deg);
  }

  60% {
    -webkit-transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 6deg);
    transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 6deg);
  }

  65% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  70% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  75% {
    -webkit-transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  80% {
    -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }

  85% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }


  20% {
    -webkit-transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
    transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 25deg);
  }

  35% {
    -webkit-transform: translate3d(-24%, 0, 0) rotate3d(0, 0, 1, -24deg);
    transform: translate3d(-24%, 0, 0) rotate3d(0, 0, 1, -24deg);
  }

  40% {
    -webkit-transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
    transform: translate3d(18%, 0, 0) rotate3d(0, 0, 1, 18deg);
  }

  55% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -20deg);
  }

  70% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 10deg);
  }

  85% {
    -webkit-transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
    transform: translate3d(-16%, 0, 0) rotate3d(0, 0, 1, -16deg);
  }

  100% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

