<extend name="Common:basic"/>
<block name="pageTitle">
   <div class="m-header-tit">{$basic.body.title}</div>
</block>
<block name="link">
    <link rel="stylesheet" href="{$static_host}/assets/company/css/content.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{$static_host}/assets/company/css/company-home.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{$static_host}/assets/company/css/company_message.css?v={:C('STATIC_VERSION')}">
    <link rel="canonical" href="{$canonical}">
</block>
<block name="content">
    <include file="content" />
    <div class="grade clearfix">
        <div class="grade_gd">
            <div class="grade_left">
                <p>综合评分: <i>{$info.user.evaluation|default=0}分</i></p>
                <p class="p2">好评率: <i><if condition="$info['user']['avgsj'] NEQ 0 AND $info['user']['avgfw'] AND $info['user']['avgsg'] ">
                    {$info.user.good}%
                <else/>
                    {$info.user.oldgood}%
                </if></i></p>
            </div>
        </div>
        <div class="grade_xing">
            <div class="grade_right">
                <p>设计水平:
                    <for start="1" end="6">
                        <if condition="($i - 1) ELT ($info['user']['avgsj'] / 2)">
                            <i class="fa fa-star"></i>
                        <else/>
                            <i class="fa fa-star star-empty"></i>
                        </if>
                    </for>
                </p>
                <p>服务态度:
                    <for start="1" end="6">
                        <if condition="($i - 1) ELT ($info['user']['avgfw'] / 2)">
                            <i class="fa fa-star"></i>
                        <else/>
                            <i class="fa fa-star star-empty"></i>
                        </if>
                    </for>
                </p>
                <p>施工水平:
                    <for start="1" end="6">
                        <if condition="($i - 1) ELT ($info['user']['avgsg'] / 2)">
                            <i class="fa fa-star"></i>
                        <else/>
                            <i class="fa fa-star star-empty"></i>
                        </if>
                    </for>
                </p>
            </div>
        </div>
        <div class="btn_left">
            <a data-type="mip" rel="nofollow" href="{$global_yuming_m}/sheji?src=mip">免费帮我做设计</a>
        </div>
        <div class="btn_right">
            <a data-type="mip" rel="nofollow" href="{$global_yuming_m}/baojia?src=mip">免费帮我出报价</a>
        </div>
    </div>
    <notempty name="info.comments">
        <volist name="info.comments" id="vo">
            <div class="comment_box clearfix">
                <div class="comment_head clearfix">
                    <span class="c_head"><mip-img src="{$vo.logo}" alt="{$vo.name}"></mip-img></span>
                    <span class="c_name">{$vo.name}<br> <em>综合评分:{$vo.totalCount}分</em></span>
                    <span class="c_time"> {$vo.time|timeFormat}</span>
                </div>
                <div class="c_content">
                    {$vo.text|default="评论内容被外星人抓走啦~~"}
                </div>
            </div>
        </volist>
        {$info.page}
        <else />
        <img class="ch-blank" src="/assets/mobile/common/img/blank.png" alt="暂无相关数据">
        <p class="ch-blank-text">该公司还没有业主评论哦~</p>
    </notempty>
</block>
<block name="script">
    <script src="https://c.mipcdn.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-showmore/mip-showmore.js"></script>
</block>

