<extend name="Main:baseTemplate" />
<block name="title">
    <title>发单量数据分析-发单量总览</title>
</block>
<block name="style">
<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/select2/select2.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <section class="content-header">
        <h1>发单量数据分析</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="btn-group btn-group" role="group" aria-label="Large button group">
                            <a href="/orderstat/sendordertrend/" class="btn btn-default">发单量走势</a>
                            <button type="button" class="btn btn-info">发单量总览</button>
                            <a href="/orderstat/ordertrend/" class="btn btn-default">有效单总览</a>
                            <a href="/orderstat/fenordertrend/" class="btn btn-default">分单量总览</a>
                            <a href="/orderstat/zenordertrend/" class="btn btn-default">赠单量总览</a>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <form action="/orderstat/sendorderoverview" method="get">
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-2">
                                开始日期:<br/><input type="text" name="begin" class="form-control datepicker"  placeholder="日期" value="{$Think.get.begin}">
                            </div>
                            <div class="col-xs-2">
                                结束日期:<br/><input type="text" name="end" class="form-control datepicker"  placeholder="日期" value="{$Think.get.end}">
                            </div>
                            <div class="col-xs-2">
                                <br/>
                                <button type="submit" class="btn btn-info">查询</button>
                            </div>
                            <div class="pull-right">
                                <br/>
                                <a href="/orderstat/sendorderaveragechart/?begin={$Think.get.begin}&end={$Think.get.end}" class="btn btn-info">切换图表</a>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="box-body" style="max-width: 1680px; overflow-x: auto;">
                        <table class="table table-bordered table-hover">
                            <thead>
                                    <tr>
                                    <th>时间段</th>
                                    <th>汇总 <i class="fa fa-question-circle text-info" title="单日所有时段汇总数据"></i></th>
                                    <th>0:00-1:00</th>
                                    <th>1:00-2:00</th>
                                    <th>2:00-3:00</th>
                                    <th>3:00-4:00</th>
                                    <th>4:00-5:00</th>
                                    <th>5:00-6:00</th>
                                    <th>6:00-7:00</th>
                                    <th>7:00-8:00</th>
                                    <th>8:00-9:00</th>
                                    <th>9:00-10:00</th>
                                    <th>10:00-11:00</th>
                                    <th>11:00-12:00</th>
                                    <th>12:00-13:00</th>
                                    <th>13:00-14:00</th>
                                    <th>14:00-15:00</th>
                                    <th>15:00-16:00</th>
                                    <th>16:00-17:00</th>
                                    <th>17:00-18:00</th>
                                    <th>18:00-19:00</th>
                                    <th>19:00-20:00</th>
                                    <th>20:00-21:00</th>
                                    <th>21:00-22:00</th>
                                    <th>22:00-23:00</th>
                                    <th>23:00-24:00</th>
                                    </tr>
                            </thead>
                            <tbody>
                                <volist name="list.child" id="vo">
                                <tr>
                                    <th>{$vo.date}</th>
                                    <td>{$vo.all}</td>
                                    <td>{$vo.time1}</td>
                                    <td>{$vo.time2}</td>
                                    <td>{$vo.time3}</td>
                                    <td>{$vo.time4}</td>
                                    <td>{$vo.time5}</td>
                                    <td>{$vo.time6}</td>
                                    <td>{$vo.time7}</td>
                                    <td>{$vo.time8}</td>
                                    <td>{$vo.time9}</td>
                                    <td>{$vo.time10}</td>
                                    <td>{$vo.time11}</td>
                                    <td>{$vo.time12}</td>
                                    <td>{$vo.time13}</td>
                                    <td>{$vo.time14}</td>
                                    <td>{$vo.time15}</td>
                                    <td>{$vo.time16}</td>
                                    <td>{$vo.time17}</td>
                                    <td>{$vo.time18}</td>
                                    <td>{$vo.time19}</td>
                                    <td>{$vo.time20}</td>
                                    <td>{$vo.time21}</td>
                                    <td>{$vo.time22}</td>
                                    <td>{$vo.time23}</td>
                                    <td>{$vo.time24}</td>
                                </tr>
                                </volist>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>平均值</th>
                                    <td>{$list.avg.all}</td>
                                    <td>{$list.avg.time1}</td>
                                    <td>{$list.avg.time2}</td>
                                    <td>{$list.avg.time3}</td>
                                    <td>{$list.avg.time4}</td>
                                    <td>{$list.avg.time5}</td>
                                    <td>{$list.avg.time6}</td>
                                    <td>{$list.avg.time7}</td>
                                    <td>{$list.avg.time8}</td>
                                    <td>{$list.avg.time9}</td>
                                    <td>{$list.avg.time10}</td>
                                    <td>{$list.avg.time11}</td>
                                    <td>{$list.avg.time12}</td>
                                    <td>{$list.avg.time13}</td>
                                    <td>{$list.avg.time14}</td>
                                    <td>{$list.avg.time15}</td>
                                    <td>{$list.avg.time16}</td>
                                    <td>{$list.avg.time17}</td>
                                    <td>{$list.avg.time18}</td>
                                    <td>{$list.avg.time19}</td>
                                    <td>{$list.avg.time20}</td>
                                    <td>{$list.avg.time21}</td>
                                    <td>{$list.avg.time22}</td>
                                    <td>{$list.avg.time23}</td>
                                    <td>{$list.avg.time24}</td>
                                </tr>
                                <tr>
                                    <th>汇总 <i class="fa fa-question-circle text-info" title="多日单时段汇总数据"></i></th>
                                    <td>{$list.all.all}</td>
                                    <td>{$list.all.time1}</td>
                                    <td>{$list.all.time2}</td>
                                    <td>{$list.all.time3}</td>
                                    <td>{$list.all.time4}</td>
                                    <td>{$list.all.time5}</td>
                                    <td>{$list.all.time6}</td>
                                    <td>{$list.all.time7}</td>
                                    <td>{$list.all.time8}</td>
                                    <td>{$list.all.time9}</td>
                                    <td>{$list.all.time10}</td>
                                    <td>{$list.all.time11}</td>
                                    <td>{$list.all.time12}</td>
                                    <td>{$list.all.time13}</td>
                                    <td>{$list.all.time14}</td>
                                    <td>{$list.all.time15}</td>
                                    <td>{$list.all.time16}</td>
                                    <td>{$list.all.time17}</td>
                                    <td>{$list.all.time18}</td>
                                    <td>{$list.all.time19}</td>
                                    <td>{$list.all.time20}</td>
                                    <td>{$list.all.time21}</td>
                                    <td>{$list.all.time22}</td>
                                    <td>{$list.all.time23}</td>
                                    <td>{$list.all.time24}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
<script type="text/javascript" src="/assets/common/js/plugins/select2/select2.full.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">

    $("select[name=city]").select2({
        allowClear: true,
        placeholder: "选择城市"
    });

    $(".datepicker").datepicker({
        format:"yyyy-mm-dd",
        minViewMode:0,
        autoclose:'ture'
    });
</script>
</block>