<extend name="Common:basic"/>
<block name="title"><title>入驻齐装网装修平台-装修平台招商合作-齐装网</title></block>
<block name="keywords"><meta name="keywords" content="装修平台,入驻装修平台,装修网招商合作" /></block>
<block name="description"><meta name="description" content="齐装网装修平台每日有30000+业主发布装修需求，诚邀各地装修公司共享互联网家装亿万市场。入驻齐装网，装修公司可以一键拥有自己的装修网店，省去网络推广费，提升签单能力，提高订单收益。" /></block>
<block name="link">
    <link href="http://{:C('QZ_YUMINGWWW')}/" rel="canonical"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/company/css/swiper.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/special/CompanyConsult/css/zhaoshang.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <a href="http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/" class="m-header-left"></a>
    <div class="m-header-city" style="left: 35%;"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>
</block>
<block name="content">
   <article>
        <div class="ruzhuban">
        	<div class="sqruzniu"></div>
        </div>
        <div class="kunjingwk">
            <div class="kunjingwk_title">传统装修公司<span>困境</span></div>
        </div>
        <div class="kunjingbj"></div>
        <div class="getwaik">
        	<div class="getwaik_title">来齐装网你将<span>获得</span></div>
        	<div class="getnr">
        		<div class="leftpic">
        			<div class="beijingtpic"></div>
        			<div class="leftpic_ms01">省去您网络广告费</div>
        			<div class="leftpic_ms02">68%</div>
        		</div>
        		<div class="rightpic">
        			<div class="beijingtpic"></div>
        			<div class="rightpic_ms01">提升您团队签单能力</div>
        			<div class="rightpic_ms02">15%</div>
        		</div>
        		<div class="cleardiv"></div>
        		<div class="dingdansypic">
        			<div class="beijingtpic"></div>
        			<div class="dingdansypic_ms01">让您的订单收益</div>
        			<div class="dingdansypic_ms02">340%+</div>
        		</div>
        	</div>
        </div>
        <div class="ldyouswk">
        	<div class="ldyouswk_title">我们有<span>6&nbsp</span>大优势</div>
        	<div class="youshibj"></div>
        </div>
        <div class="joinjiaru">
        	<div class="joinjiaru_title">加入我们，即可<span>享受</span></div>
        	<ul class="tablewaik">
        		<li class="item01">享有服务</li>
        		<li class="item02">价值</li>
        		<li class="item03">详尽的公司专页展示</li>
        		<li class="item04">全方位介绍公司，展示公司实力</li>
        		<li class="item05">首页展示公司信息</li>
        		<li class="item06">增加公司曝光率，吸引业主</li>
        		<li class="item07">公司专页展示您的装修案例、装修工地信息</li>
        		<li class="item08">展示真实的优秀作品，吸引业主</li>
        		<li class="item09">公司简介、详细地址、联系方式、口碑</li>
        		<li class="item10">让业主随时发现您、联系您、建立公司口碑</li>
        		<li class="item11">享受公司服务系统</li>
        		<li class="item12">获得在线订单推送，签单效率更高</li>
        		<li class="item13">公司品牌营销</li>
        		<li class="item14">推广您的产品、极力塑造和升华公司品牌价值</li>
        		<li class="item15">免费提供专业培训</li>
        		<li class="item16">教您如何做业主分析，提升业主签单率</li>
        	</ul>
        </div>
        <div class="cooperationwk">
        	<div class="cooperationwk_title">部分<span>合作&nbsp</span>商家展示</div>
        	<div class="lunbosw">
	        		<div class="swiper-container swiper-container-horizontal">
		                <ul class="swiper-wrapper">
		                    <li class="swiper-slide">
		                        <ul class="ulwaik">
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo01.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo02.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo03.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo04.jpg" alt="">
		                        	</li>
		                        	<li class="liitem05">
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo05.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo06.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo07.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo08.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo09.jpg" alt="">
		                        	</li>
		                        	<li class="liitem10">
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo10.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo11.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo12.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo13.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo14.jpg" alt="">
		                        	</li>
		                        	<li class="liitem15">
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo15.jpg" alt="">
		                        	</li>
		                        </ul>
		                    </li>
		                     <li class="swiper-slide">
		                         <ul class="ulwaik">
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo16.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo17.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo18.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo19.jpg" alt="">
		                        	</li>
		                        	<li class="liitem05">
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo20.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo21.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo22.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo23.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo24.jpg" alt="">
		                        	</li>
		                        	<li class="liitem10">
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo25.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo26.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo27.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo28.jpg" alt="">
		                        	</li>
		                        	<li>
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo29.jpg" alt="">
		                        	</li>
		                        	<li class="liitem15">
		                        		<img src="/assets/mobile/special/CompanyConsult/img/hezuo30.jpg" alt="">
		                        	</li>
		                        </ul>
		                    </li>
		                </ul>
				   </div>
        	</div>
        </div>
        <div class="ruzhulc">
        	<div class="ruzhulc_title">商家入驻<span>流程</span></div>
        	<ul class="ulliuc">
        		<div class="hezlcpicbj"></div>
        		<li>提交申请</li>
        		<li>初步审核</li>
        		<li>确认合作</li>
        		<li>签署合同</li>
        		<li class="lcms05">正式合作</li>
        	</ul>
        </div>
        <div class="joinqiz">
        	<div class="footbjtm"></div>
        	<div class="joinqiz_title">欢迎加入<span>齐装网</span></div>
        	<div class="fadanwk">
        		<div class="divhang">
        			<span class="biaotifd"><span>*</span>公司名称</span>
        			<input type="text" class="gongshiname textshuru" placeholder="请填写装修公司名称">
        		</div>
        		<div class="divhang">
        			<span class="biaotifd"><span>*</span>联系人</span>
        			<input type="text" class="lianxiren textshuru" placeholder="请填写联系人姓名">
        		</div>
        		<div class="divhang">
        			<span class="biaotifd"><span>*</span>联系电话</span>
        			<input type="text" class="lianxidh textshuru" maxlength="11" placeholder="请填写联系电话">
        		</div>
        		<div class="divhang cityxiala">
        			<span class="biaotifd">所在区域</span>
        			<button id="showCityPicker2" class="c-zb-city" type="button">
                            <i class="fa fa-map-marker">
                            </i><!-- <i class="fa fa-caret-down"></i> -->
                            <empty name="info.cityarea">
                            请选择您所在的区域
                            <else />
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}" >
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
        		</div>
        		<div class="divhang">
        			<div class="nosearch">找不到所在区域？</div>
        			<input type="text" class="textshurucity" placeholder="请填写您公司所在区域 例：苏州市姑苏区">
        		</div>
        		<div class="ruzhushenqniu">申请入驻</div>
        		<div class="joinhezuo">加盟合作电话：4008-659-600</div>
        	</div>
        </div>
        <div class="chenggyy"></div>
        <div class="chenggong">
        	<img src="/assets/mobile/special/CompanyConsult/img/ruzhuchengg.jpg" alt="">
        	<div class="chenggms">稍后会有专业人士给您致电,为您提供后续服务！</div>
        </div>

        <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
   </article>
</block>
<block name="script">
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=12a80d1749e9de182e12c6201d5e191c"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/company/js/swiper.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
		 // 城市选择插件
    selectQz.init({
        province:$("input[name=province]").attr("data-id"),
        city:$("input[name=city]").attr("data-id"),
        area:$("input[name=area]").attr("data-id")
    });



     $(function(){

     	var qingqiuurl='/zhaoshang/consult';

       var mySwiper = new Swiper('.swiper-container', {
                //移动端轮播
                pagination : '.swiper-pagination',
                autoplayDisableOnInteraction : false, //手动滑动自动轮播
                loop : true,
                autoplay: {
                    delay: 4000,
                    stopOnLastSlide: false,
                    disableOnInteraction: false,
                  },
                initialSlide :0,
                onlyExternal:false,//禁止滑动
                observer:true,//修改swiper自己或子元素时，自动初始化swiper
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
            });


        $('.nosearch').click(function(event) {
        	$('.nosearch').hide();
        	$('.textshurucity').show();
        	$('.cityxiala').hide();
        	$('.cityxiala .xuanzcity').val("");
        });

        $('.ruzhuban .sqruzniu').click(function(event) {
            $('.gongshiname ').focus();
        });

        $('.fadanwk .ruzhushenqniu').click(function(event) {
        	var Gongshiname=$.trim($('.gongshiname ').val()),
        	    Lianxiren=$.trim($('.lianxiren').val()),
        	    Lianxidh=$.trim($('.lianxidh').val()),
        	    shicity=$("[name=city]").attr('data-id'),
        	    qucity=$("[name=area]").attr('data-id'),
        	    Shurucity=$.trim($('.textshurucity').val());
        	    if(Gongshiname==""){
                 alert("请填写装修公司名称");
                 $('.gongshiname ').focus();
                 return false;
               }
               if(Lianxiren==""){
                 alert("请填写联系人姓名");
                 $('.lianxiren').focus();

                 return false;
               }
               if(Lianxidh==""){
                 alert("请填写手机号码");
                 $('.lianxidh').focus();
                 return false;
               }else{
                 var reg = new RegExp("^(13|14|15|17|18)[0-9]{9}$");
                 var reg2 = new RegExp("^174|175[0-9]{8}$");
                 if(!reg.test(Lianxidh)){
                        alert("请填写正确的手机号码");
                        $('.lianxidh').val("");
                        $('.lianxidh').focus();
                        return false;
                    }

                   if(reg2.test(Lianxidh)){
                        alert("请填写正确的手机号码");
                        $('.lianxidh').val("");
                        $('.lianxidh').focus();
                        return false;
                    }
               }
              if(shicity=="" && Shurucity==""){
                alert("请填写所在区域");
                 return false;
               }else if(Shurucity!=""){
                 shicity="";
                 qucity="";
               }
               $.ajax({
               	url:qingqiuurl,
               	type:'post',
               	dataType:'json',
               	data:{name:Gongshiname,linkman:Lianxiren,tel:Lianxidh,cs:shicity,qx:qucity,custom_address:Shurucity,cooperation_type:2},
               	success:function(data){
                  if(data.status==1){
                  	$('.chenggyy').show();
                    $('.chenggong').show();
                    $('.divhang input').val("");
                    setTimeout(function(){
                    	$('.chenggyy').fadeOut();
                    	$('.chenggong').fadeOut();
                    },1500)
                  }
               	},
               	error:function(){
               		alert("不知道哪里出错了")
               	}
               })

        });


        });


    </script>
</block>