<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <block name="title"><title>齐装网管理后台-控制台</title></block>
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/bootstrap/css/bootstrap.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/AdminLTE.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/skins/_all-skins.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/fileinput/fileinput.min.css?v={:C('STATIC_VERSION')}" />
    <link href="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/datetimepicker.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <script src="{:C('168NEW_URL')}/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
    <block name="style"></block>
</head>
    <body id="switch-menu" class='<if condition="session('uc_userinfo.showmenu') !== false">hold-transition skin-blue sidebar-mini<else />skin-blue sidebar-mini sidebar-collapse</if>' >
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                <span class="logo-mini">QZ</span>
                <span class="logo-lg">齐装后台管理系统</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{:C('UC_URL')}/loginout" title="退出"><i class="fa fa-power-off fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="{:C('UC_URL')}/main" title="切换至用户中心">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://168.qizuang.com/wwgadmins/chklogin" target="_blank" title="切换老版后台(168)">
                                <i class="fa fa-paper-plane"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.qizuang.com" target="_blank" title="前台">
                                <i class="fa fa-home fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-magic"></i>&nbsp;换肤</a>
                        </li>
                    </ul>
                </div>


            </nav>
        </header>
        <block name="nav-left-menu">
        <aside class="main-sidebar">
            <section class="sidebar">
                <a href="{:C('UC_URL')}/main/">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{$Think.session.uc_userinfo.logo|default='/assets/common/img/default_logo.gif'}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{:session('uc_userinfo.name')}</p>
                            <i class="fa fa-circle text-success"></i>&nbsp;{:session('uc_userinfo.role_name')}
                        </div>
                    </div>
                </a>
                <ul class="sidebar-menu">

                    <volist name="base_tree_menu" id="vo">
                    <if condition="$vo['active'] EQ 1">
                    <li class="treeview active" id="sidebar-li-1">
                    <else/>
                    <li class="treeview" id="sidebar-li-1">
                    </if>
                        <a href="javascript:void(0)">
                            <i class="{$vo.icon|default='fa fa-home'}"></i>
                            <span>{$vo.name}</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <if condition="count($vo['child']) GT 0">
                            <ul class="treeview-menu">
                            <volist name="vo.child" id="v">
                                <if condition="$v['active'] EQ 1">
                                <li class="active">
                                <else/>
                                <li>
                                </if>
                                    <a href="{$v.link}">
                                    <i class="{$v.icon|default='fa fa-circle-o'}"></i> {$v.name}
                                    &nbsp;&nbsp;&nbsp;
                                    <if condition="$v['auditCount']">
                                        <span class="label label-warning">{$v.auditCount}</span>
                                    </if>
                                    </a>
                                </li>
                            </volist>
                            </ul>
                        </if>
                    </li>
                    </volist>
                </ul>
            </section>
        </aside>
        </block>
        <div class="content-wrapper">
            <block name="content"></block>
        </div>
        <div class="mask-self">
            <div class="loadingWrap" style="">
                    <div class="loding-5">

                    </div>
                    <div class="loding-5-1">

                    </div>
                    <div class="loding-5-2">

                    </div>
                    <div class="loding-5-3">

                    </div>
            </div>
        </div>


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab"></div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="{:C('168NEW_URL')}/assets/common/css/bootstrap/js/bootstrap.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/fileinput/fileinput.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/fileinput/fileinput_locale_zh.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/plugins/datetimepicker/bootstrap-datetimepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/app.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{:C('168NEW_URL')}/assets/common/js/global.js?v={:C('STATIC_VERSION')}"></script>
    <!--[if lt IE 9]>
    <script src="/assets/common/js/html5shiv/3.7.3/html5shiv.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/respond.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/placeholders.min.js?v={:C('STATIC_VERSION')}"></script>
    <![endif]-->
    <script type="text/javascript">

        var isLoading = true;
        $(document).ajaxStart(function(params){
            if (isLoading) {
                $(".mask-self").show();
            }
        }).ajaxComplete(function(){
            setTimeout(hideProgress,1000);
            $(".mask-self").hide();
        }).ajaxStop(function() {
            $(".mask-self").hide();
        });

        //链接监控
        $('[href]').on('click',function(event) {
            if($(this).attr("target") != '_blank'){
                if($(this).attr("href").substring(0,10) != 'javascript'){
                    if($(this).attr("href").substring(0,1) != '#'){
                        setTimeout(iProgress,300);
                    }
                }
            }
        });

        //表单监控
        $("form").on("submit",function(event){
            setTimeout(iProgress,300);
        });

        //手工隐藏Loading
        $('.hideLoading').on('click',function(event) {
            setTimeout(hideProgress,500);
        });

        function iProgress(){
            $(".mask-self").show();
        }
        function hideProgress(){
            $(".mask-self").hide();
        }

        //监听全局键盘事件
        $(document).ready(function(){
            document.onkeydown = function(e) {
                // 兼容FF和IE和Opera
                var theEvent = e || window.event;
                var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
                if (code == 13) {
                    var target =$('.key-down-event').attr('data-triger');
                    if (target != '') {
                        $(target).trigger('click');
                    };
                }
            }

            /*左侧菜单切换保存到服务器*/
            $('.sidebar-toggle').click(function(event) {
                var showmenu = $('#switch-menu').hasClass('sidebar-collapse');
                $.ajax({
                    url: '/api/switchmenushow/',
                    type: 'GET',
                    async:false,
                    dataType: 'JSON',
                    data: {
                        showmenu:showmenu
                    }
                })
            });
        })
    </script>
    <block name="script"></block>
</body>
</html>