.ntf-main{ height: 622px; background: url(/assets/common/img/bg404.gif); margin: 0px 0px auto;
}
.ntf-main .content{ margin: 0 auto; width: 600px;;}
.ntf-main .info{ color: #fff; font-size: 30px; padding: 173px 0 28px 0; letter-spacing: 2px;}
.ntf-main .logo404{}
.ntf-main .nav{ padding: 58px 0 0 0;}
.ntf-main .nav a{ width: 140px;
    border-radius: 3px;
    background: #ff5353;
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    padding: 0;
    cursor: pointer; height: 40px; display: inline-block;
    line-height: 40px;
    border: 0;
    margin-right: 32px;}
.fzfbg{ background:url(/assets/common/pic/fzfbg.gif) no-repeat 400px 200px; height:600px; position:relative;font-family: "Microsoft Yahei" ; }
.fzfbg h1{ position:absolute; left:550px; top:100px; font-size:42px; color:#e76363; text-shadow:1px 1px 1px rgba(192,62,62,.3)}
.fzf{ background:url(/assets/common/pic/404.jpg); width:279px; height:314px; position:absolute; left:220px; top:0}
.ycd{ line-height:35px; font-size:18px; position:absolute; right:250px; top:300px; color:#e76363}
.ycd a{ display: block; background:#e76363; color:#fff; font-weight:bold; padding:0 10px; border-radius:5px; border-bottom:5px #da5555 solid; margin-top:10px}.ycd a:hover{ text-decoration:none; background:#ef947b;border-bottom:5px #e76363 solid;}