.windowbg .big-order-window .tit{color:#ff5353;font-weight:700;}
.ganxsq3 .choose{font-size:14px; overflow:hidden;}
.ganxsq3 span{color:red;}
.beforesuccess .ganxsq3{height:640px;}
#step3-btn{width:160px;height:35px; position:absolute; left:0;right:0; margin:auto; margin-top:20px;}
.choose-time label:nth-child(3) {margin-right:28px;}
.left{font-weight:700}
#step3-tck{width:220px;height:40px;background:black;opacity:.5;color:white;text-align:center;line-height:40px;font-size:16px;position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;display:none;}
.step3-fangshi .step3-jrx:nth-child(2){margin-left:22px;}
.step3-jrx,.step3-jrx1,.step3-jrx2,.step3-jrx3,.step3-jrx4{width:165px;height:45px;float:left;}
.step3-jrx input,.step3-jrx1 input,.step3-jrx2 input,.step3-jrx3 input,.step3-jrx4 input{float:left;height:45px!important;margin-right:10px;}
.step3-jrx label,.step3-jrx1 ,.step3-jrx2 label,.step3-jrx3 label,.step3-jrx4 label{float:left;display:block;height:45px;line-height:45px;}
#step3-account{width:150px; margin-left:-90px;height:35px;line-height:35px;}
.step3-fangshi>div:first-child+div{margin-left:22px;}
.step3-fangshi>div:first-child+div+div{margin-left:0;}
.step3-tubiao{background:url("/assets/common/img/xuanzhong.jpg") no-repeat;width: 16px;height: 15px;float: left;margin-top: 15px;margin-right:10px;display:none;}
.step3-tubiao1{background:url("/assets/common/img/xuanzhong2.jpg") no-repeat;display: none;width: 15px;height: 15px;float: left;margin-top: 15px;margin-right: 10px;}