.shejiwaibaok{overflow: hidden;}
.shejiyinying{width: 100%;height: 100%;position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;
	margin: auto;background: rgba(0,0,0,0.7) no-repeat;
}
.righttanchuagn{width: 360px;height: 562px;display: inline-block;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;background: url(/assets/common/img/shejitcbjpic.png) no-repeat center center;font-family: "微软雅黑";
text-align: center;z-index: 99999;}
.righttanchuagn .shejitcgb{display: inline-block;width: 42px;height: 82px;position: absolute;right: 0;top: 0;
background: url(/assets/common/img/shejitcclose.png) no-repeat;cursor: pointer;}
.righttanchuagn .qiangsj{font-size: 32px;font-family: "微软雅黑";font-weight: bold;
text-align: center;overflow: hidden;margin-top: 300px;}
.righttanchuagn .qiangsj span{color: #ff5353;}
.righttanchuagn .mingeover{font-size: 18px;color: #333;margin-top: 5px;}
.righttanchuagn .mingeover span{color: #ff5353;}
.righttanchuagn .divwrap{overflow: hidden;margin-top: 18px;}
.righttanchuagn .divwrap .shejiphone{width: 260px;height: 40px;outline: none;border-radius: 20px;
border: 0;font-size: 16px;color: #333;text-indent:1em;text-indent:1.5em; line-height: 40px}
.righttanchuagn .divwrap .shejitctishi{text-align: left;color: #ff5353;font-size: 12px;margin-top: 3px;
margin-left: 60px;height:16px;line-height: 16px;}
.righttanchuagn .shejitijiao{overflow: hidden;margin-top: 35px;}
.righttanchuagn .shejitijiao .mashagnlingqu{width:140px;height: 40px;background: #fee101;color: #000;
font-size: 20px;border: 0;outline: none;border-radius: 5px;cursor: pointer;
}


/*设计弹窗第二个弹窗*/
.righttanchuagn2{
	width: 382px;height: 562px;position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin:auto;
	background: url(/assets/common/img/shejitcbjpic2.png) no-repeat;display: inline-block;text-align: center;
	overflow: hidden;font-family: "微软雅黑";display: none;z-index: 99999;
}
.righttanchuagn2 .sjtanc_close{display: inline-block;width: 42px;height: 82px;position: absolute;right: 0;top: 0;
background: url(/assets/common/img/shejitcclose.png) no-repeat;cursor: pointer;}
.righttanchuagn2 .kefuzlaidian{
	font-size: 18px;color: #333;font-weight: bold;margin-top: 197px;padding-left: 10px;
}
.righttanchuagn2 .kefuzlaidian2{
	font-size: 18px;color: #333;font-weight: bold;margin-top: 10px;padding-left: 10px;
}
.righttanchuagn2 .kefuzlaidian2 span{color: #ff6666;}
.righttanchuagn2 .shejitcerwm{
   width: 174px;height: 174px;margin: auto;overflow: hidden;padding-left: 10px;margin-top: 10px;
}
.righttanchuagn2 .shejitcerwm img{width: 100%;height: 100%;}
.righttanchuagn2 .shejisaomams{font-size: 16px;color: #333;padding-left: 10px;margin-top: 34px;}
.righttanchuagn2 .shejisaomams2{font-size: 16px;color: #333;padding-left: 10px;margin-top: 10px;}