/* ::::: http://syyj.qinglongdashichang.com/syyj_qinglongdashichang_com/index.css ::::: */

audio:not([controls]) { display: none; }
html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, label, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
body { background-color: rgb(255, 255, 255); }
body, textarea { font: 400 12px/1.5 Simsun,Arial; color: rgb(51, 51, 51); }
a, a:visited { text-decoration: none; color: rgb(51, 51, 51); cursor: pointer; }
a:hover { text-decoration: underline; color: rgb(6, 87, 178); }
em, i { font-style: normal; }
label, input, select { vertical-align: middle; }
img, button { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; vertical-align: middle; }
.clearall {  }
.clearall::after { content: "."; display: block; clear: both; height: 0px; visibility: hidden; }
.fl { float: left; }
:-moz-placeholder { color: rgb(153, 153, 153) !important; }
.txt, .txtarea { padding: 3px; outline: medium none; font-size: 12px; line-height: 14px; color: rgb(51, 51, 51); border: 1px solid rgb(221, 221, 221); border-radius: 3px; }
.txt { height: 14px; }
.txt:hover, .txt:focus, .txtarea:hover, .txtarea:focus { border-color: rgb(125, 189, 226); box-shadow: 0px 0px 5px rgb(125, 189, 226); }
.submit-btn, .submit-btn span, .reply-btn, .reply-btn span, .option-btn, .option-btn span, .confirm-btn, .confirm-btn span, .options-btn, .options-btn span { background: rgba(0, 0, 0, 0) url('bg_btn.png') no-repeat scroll 0% 0%; }
.confirm-btn, .options-btn, .submit-btn, .reply-btn, .option-btn { display: inline-block; padding-left: 10px; height: 25px; vertical-align: middle; overflow: hidden; }
.submit-btn, .reply-btn, .option-btn { height: 30px; }
.submit-btn:hover, .reply-btn:hover, .option-btn:hover { text-decoration: none; }
.submit-btn:hover { background-position: 0px -90px; }
.btn::-moz-focus-inner { padding: 0px; border: 0px none; }
html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, lable, textarea, p, blockquote, td { margin: 0px; padding: 0px; }
body { background-color: rgb(255, 255, 255); }
body, textarea { font: 400 12px/1.5 Simsun,Arial; color: rgb(51, 51, 51); }
a, a:visited { text-decoration: none; color: rgb(51, 51, 51); }
a:hover { color: rgb(0, 102, 153); text-decoration: underline; }
label, input, select, img { vertical-align: middle; }
img, button { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: medium none; }
.fl { float: left; }
.clearfix { overflow: hidden; }
.txt { padding: 3px; border: 1px solid rgb(226, 226, 226); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.txt:hover, #content input:focus { border-color: rgb(125, 189, 226); }
#go-allimg ul::after { content: "."; display: block; clear: both; height: 0px; visibility: hidden; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acyonym, address, big, cite, code, del, dfn, em, img, ins, kdb, q, s, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
i, em { font-style: normal; }
img { border: medium none; font-size: 0px; display: block; width: 100%; }
a:hover { text-decoration: none; }
.clearfix::after { display: table; clear: both; content: ""; }
.clearfix {  }
body { font-family: "Microsoft Yahei"; background-color: rgb(239, 239, 239); max-width: 750px; margin: 0px auto; font-size: 0.24rem; }
.swiper-container { visibility: hidden; }
.swiper-container.active { visibility: visible; }
.swiper-container, .swiper-slide { width: 100%; height: auto; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.swiper-container img { width: 100%; }
.swiper-container .vote-wrap { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.swiper-container .bm-cont { width: 100%; height: 7rem; background: rgba(0, 0, 0, 0) url('/assets/common/img/bm.jpg') no-repeat scroll center top / 100% 100%; }
.swiper-container .bm-form { padding: 0.24rem 0px 0px; }
.swiper-container .bm-bd { width: 90%; margin: 0px auto; border-radius: 10px; padding: 0.74rem 0px 0.42rem; }
.swiper-container .bm-bd dl { width: 100%; padding: 0.2rem 0px 0px; font-size: 0.35rem; line-height: 0.56rem; color: rgb(31, 31, 31); }
.swiper-container .bm-bd dl dt { padding: 0px 0px 0px 2%; width: 50%; float: left; }
.swiper-container .bm-bd dl dd { width: 70%; padding: 0px 0px 0px 2%; float: left; }
.swiper-container .bm-bd dl input { height: 0.56rem; padding: 0px 3%; width: 90%; font-size: 0.34rem; line-height: 0.56rem; color: rgb(95, 95, 95); border: 1px solid rgb(187, 187, 187); border-radius: 3px; vertical-align: bottom; }
.swiper-container .bm-bd .submit-btn { width: 82%; height: 0.76rem; background: rgb(43, 66, 130) none repeat scroll 0% 0%; border-radius: 0.35rem; text-align: center; color: rgb(255, 255, 255); font-size: 0.5rem; line-height: 0.76rem; display: block; margin: 0.36rem auto 0.16rem; }
.loading-box { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.loading-box .loading-line { width: 60%; height: 0.48rem; margin: 30% auto 0px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; line-height: 0.48rem; border-radius: 0.24rem; overflow: hidden; }
.loading-box .loading-line span { width: 0%; color: rgb(255, 255, 255); background: rgb(43, 66, 130) none repeat scroll 0% 0%; font-size: 0.24rem; line-height: 0.48rem; text-align: center; display: block; transition: all 0.3s ease 0s; border-radius: 0.24rem; }
.backtop { height: 0.72rem; width: 0.72rem; background: rgb(43, 66, 130) none repeat scroll 0% 0%; border-radius: 50%; position: fixed; bottom: 5%; right: 2%; z-index: 2; display: none; }
.backtop i { height: 0.24rem; width: 0.24rem; border-width: 0px 0px 0.1rem 0.1rem; border-style: none none solid solid; border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; transform: rotate(135deg); margin: 0.24rem auto; display: block; }
