/* ::::: http://cn.mikecrm.com/form/css/reset.css?v=170909 ::::: */

body, html { width: 100%; height: 100%; }
html { font-size: 10px; }
body { cursor: default; overflow-x: hidden; color: rgb(0, 0, 0); background-color: rgb(237, 240, 248); }
body, div, li, p, ul { margin: 0px; padding: 0px; overflow-wrap: break-word; }
a, span { word-break: initial; }
body, input, select, textarea { line-height: 1.4; font-size: 1.4rem; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",-apple-system,BlinkMacSystemFont,"Liberation Sans","Hiragino Sans GB","Microsoft YaHei","Microsoft JhengHei","Source Han Sans CN","Source Han Sans SC","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimSun,"WenQuanYi Zen Hei Sharp",sans-serif; }
a, img, input, select, textarea { outline: 0px none; border-radius: 0px; }
a, img { border: 0px none; }
a, a:hover { cursor: pointer; text-decoration: none; }
.clearB { clear: both; }
li, ul { list-style: outside none none; }
@font-face {
	font-family: "iconfont";
	font-style: normal;
	font-weight: 400;
	src: url('formicon.eot') format("embedded-opentype"), url('formicon.woff2') format("woff2"), url('formicon.woff') format("woff"), url('formicon.ttf') format("truetype");
	unicode-range: U+E60F-E900;
}
.iconfont { font: 1.6rem/1 iconfont; -moz-user-select: none; }
@font-face {
	font-family: "OCR-B";
	font-style: normal;
	font-weight: 400;
	src: local("☺︎"), url('regular.eot') format("embedded-opentype"), url('regular.woff2') format("woff2"), url('regular.woff') format("woff"), url('regular.ttf') format("truetype"), url('regular.svg') format("svg");
}
@font-face {
	font-family: "CNLicense-A";
	font-style: normal;
	font-weight: 400;
	src: local("☺︎"), url('regular_001.eot') format("embedded-opentype"), url('regular_001.woff2') format("woff2"), url('regular_001.woff') format("woff"), url('regular_001.ttf') format("truetype"), url('regular_001.svg') format("svg");
}
/* ::::: http://cn.mikecrm.com/form/css/error.css?v=1709225 ::::: */

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
.fb_sbpItem, .fbc_input { box-sizing: border-box; }
.fb_sbTitle::after, .fb_sbTitle::before { content: ""; display: block; position: absolute; top: 14px; border-bottom: 1px dashed rgb(204, 204, 204); }
.fb_sbTitle::before { left: 0px; width: 230px; }
.isMobile .fb_sbTitle::before { width: 100px; }
.fb_sbTitle::after { right: 0px; width: 230px; }
.isMobile .fb_sbTitle::after { width: 100px; }
.fbc_input, .isMobile .fb_ssItem.input, .isMobile .fbc_button { width: 100%; }
.fbc_input { padding: 5px; line-height: 1.4; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(211, 211, 211); box-sizing: border-box; }
.fbc_input:hover { border-color: rgb(170, 170, 170); }
.fbc_input:focus { border-color: rgb(45, 143, 217); }
.fbc_input:disabled { background: rgb(249, 250, 251) none repeat scroll 0% 0%; }
.fbc_input:disabled:hover { border-color: rgb(211, 211, 211); }
.fb_tvDecorate::after, .fb_tvDecorate::before { top: 0px; width: 14px; height: 15px; content: ""; bottom: 0px; }
.fb_tvDecorate::before { position: absolute; left: -5px; background: rgb(45, 143, 217) url('sprite.png') repeat scroll -259px -165px; }
.fb_tvDecorate::after { position: absolute; right: -5px; background: rgb(45, 143, 217) url('sprite.png') repeat scroll -281px -165px; }
.fb_tviStep.step0::before, .fb_tviStep.step1::before { content: ""; position: absolute; top: 28px; left: 14px; bottom: 0px; border-left: 1px dashed rgb(45, 143, 217); }
/* ::::: http://cn.mikecrm.com/form/css/formGlobal.css?v=171208 ::::: */

.wrapper { padding: 20px 10px; -moz-text-size-adjust: none; }
.h_description, .h_headline { line-height: 1.4; white-space: pre-wrap; text-align: center; }
@media screen and (max-width: 600px) {
	.wrapper { padding: 0px; }
}
.main { position: relative; width: 800px; margin-left: auto; margin-right: auto; box-shadow: 0px 2px 5px 1px rgba(124, 124, 124, 0.2); z-index: 20; }
.coverForm, .f_shareBtn { position: absolute; top: 0px; }
.f_shareBtn, .f_shareBtn > img { width: 24px; height: 24px; }
.f_shareBtn { display: inline-block; left: 100%; padding: 5px; margin-left: 5px; background-color: rgba(0, 0, 0, 0.1); border-radius: 2px; }
.header { padding: 15px 20px; color: rgb(255, 255, 255); background-color: rgb(12, 64, 103); }
.pb_caLink, .poweredBy { color: rgba(0, 0, 0, 0.5); display: inline-block; }
.h_headline { font-size: 2.4rem; font-weight: 700; }
.mj_jtInfo, .pb_caLink, .poweredBy_title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.body { min-height: 70px; background-color: rgb(255, 255, 255); border-top: 0px none; }
.copyright { margin-top: 20px; text-align: center; }
.poweredBy { height: 21px; font-size: 1.2rem; }
.poweredBy_logo { float: left; display: inline-block; width: 32px; height: 21px; background: rgba(0, 0, 0, 0) url('formcom.png') no-repeat scroll -436px center; }
.sld_cn .poweredBy_logo { background-image: url('formcom_001.png'); }
.poweredBy_title { float: left; display: inline-block; max-width: 700px; height: 16px; padding-top: 5px; padding-left: 5px; line-height: 16px; }
.aria-content, .fb_headerInfo, .fb_secondaryStatus { outline: 0px none; }
/* ::::: http://cn.mikecrm.com/css/cpCalendar.css ::::: */

.calendar_bDayItem, .calendar_bMonthItem { box-sizing: border-box; }
.calendarContainer { width: 300px; background-color: rgb(255, 255, 255); border: 1px solid rgb(193, 196, 193); }
.calendar_switcher { height: 38px; margin: -1px; background-color: rgb(38, 125, 197); }
.calendar_sTitle { cursor: pointer; line-height: 38px; text-align: center; font-size: 1.6rem; color: rgb(255, 255, 255); }
.calendar_sType { padding-right: 10px; }
.calendarWrapper { overflow: hidden; position: relative; height: 280px; transition: height 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.calendarMain, .calendar_typeList { position: absolute; left: 0px; right: 0px; }
.panel_date .calendarWrapper.calendarStatic { height: 220px; }
.calendarMain { top: 0px; bottom: 0px; }
.calendar_typeTitle::before { content: "["; padding-right: 9px; transform: translateX(20px); }
.calendar_typeTitle::after { content: "]"; padding-left: 9px; transform: translateX(-20px); }
.calendar_typeTitle::after, .calendar_typeTitle::before { opacity: 0; display: inline-block; transition: transform 0.3s ease 0s, opacity 0.2s ease 0s, -webkit-transform 0.3s ease 0s, -moz-transform 0.3s ease 0s; }
.calendar_typeItem.selected .calendar_typeTitle::after, .calendar_typeItem.selected .calendar_typeTitle::before { opacity: 1; transform: translateZ(0px); }
.calendar_header { height: 49px; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid rgb(224, 224, 224); }
.calendar_hTitle { position: relative; width: 100%; height: 49px; line-height: 49px; font-size: 1.6rem; color: rgb(45, 143, 217); }
.calendar_CurrentVal { display: inline-block; position: absolute; top: 0px; left: 20px; right: 20px; bottom: 0px; text-align: center; color: rgb(0, 0, 0); }
.calendar_hDecrease, .calendar_hIncrease { display: none; padding-left: 5px; padding-right: 5px; line-height: 49px; }
.calendar_hTitle.canSwitch .hasTopLayer { cursor: pointer; color: rgb(45, 143, 217); }
.calendar_hDecrease { float: left; color: rgb(45, 143, 217); }
.calendar_hIncrease { float: right; color: rgb(45, 143, 217); }
.calendar_hTitle.canSwitch .calendar_hDecrease, .calendar_hTitle.canSwitch .calendar_hIncrease, .calendar_time .calendar_content { display: inline-block; }
.calendar_body { position: absolute; top: 50px; left: 0px; right: 0px; bottom: 0px; }
.calendar_bMonthList, .calendar_bWeekList, .calendar_bYearList { top: 0px; left: 10px; padding-top: 10px; position: absolute; right: 0px; bottom: 0px; }
.calendar_bWeekRow { height: 20px; padding-top: 10px; }
.calendar_bDayItem { float: left; cursor: default; width: 20px; height: 20px; margin-left: 10px; margin-right: 10px; line-height: 20px; text-align: center; color: rgb(170, 170, 170); box-sizing: border-box; }
.calendar_bDayItem a, .calendar_bDayItem a:hover, .calendar_bDayItem a:visited { color: rgb(170, 170, 170); }
.calendar_bDayItem.current-month { cursor: pointer; color: rgb(82, 82, 82); }
.calendar_bDayItem.current-month a, .calendar_bDayItem.current-month a:hover, .calendar_bDayItem.current-month a:visited { color: rgb(82, 82, 82); }
.calendar_bDayItem.current-month:hover { color: rgb(45, 143, 217); font-weight: 700; }
.calendar_bDayItem.current-month:hover a, .calendar_bDayItem.current-month:hover a:hover, .calendar_bDayItem.current-month:hover a:visited { color: rgb(45, 143, 217); }
/* ::::: http://cn.mikecrm.com/form/css/form.css?v=171123 ::::: */

.cBorderbox, .fb_component { box-sizing: border-box; }
.fbc_describe, .fbc_title { white-space: pre-wrap; line-height: 1.4; }
.fb_componentWrapper { padding-bottom: 40px; }
.fb_component { float: left; width: 100%; padding: 12px 30px; box-sizing: border-box; }
.fbc_button, .fbc_widthCp { box-sizing: border-box; }
.fb_component:hover { background: rgba(0, 0, 0, 0.02) none repeat scroll 0% 0%; }
.fb_component.fb_staticComponent:hover { background: inherit; }
.fbc_title { margin-top: 4px; font-size: 16px; color: rgb(51, 51, 51); }
.fbc_required { margin-left: 5px; color: rgb(218, 40, 36); }
.fbc_content { position: relative; margin-top: 6px; padding-left: 15px; }
.fbc_widthCp { width: 80%; box-sizing: border-box; }
.fbc_btnPrimitive, .fbc_input { line-height: 1.4; box-sizing: border-box; }
.fbc_input { position: relative; width: 100%; padding: 0px; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(211, 211, 211); box-sizing: border-box; }
.fbc_input .fbi_input, .fbc_optionVal { box-sizing: border-box; }
.fbc_input.has-icon { padding-left: 22px; }
.fbc_input .fbi_input { width: 100%; height: 100%; resize: none; padding: 5px; background-color: transparent; box-sizing: border-box; border: 0px none; }
.fbc_input .fbi_icon { position: absolute; top: 1px; left: 6px; bottom: 0px; line-height: 29px; color: rgba(45, 143, 217, 0.6); }
.fbc_input::-moz-placeholder { color: rgb(153, 153, 153); }
.fbc_input:-moz-placeholder { color: rgb(153, 153, 153); }
.fbc_input:hover { border-color: rgb(170, 170, 170); }
.fbc_input.is_focus, .fbc_input:focus { border-color: rgb(45, 143, 217); }
.fbc_input.is_focus .fbi_icon, .fbc_input:focus .fbi_icon { color: rgb(45, 143, 217); }
.fbc_input:disabled { background: rgb(249, 250, 251) none repeat scroll 0% 0%; }
.fbc_input:disabled:hover { border-color: rgb(211, 211, 211); }
.fb_submitBtn, .fbc_commodityImg, .fbc_mlItem, .fbc_paItem, .fbc_pcImg, .fbc_piImg { max-width: 100%; }
.fbc_datetime { position: relative; }
.fbc_datetime .fbc_input { padding-left: 22px; }
.fbc_dtDropWrapper { z-index: 23; display: none; position: absolute; top: 100%; left: -1px; background-color: rgb(255, 255, 255); border: 1px solid rgb(45, 143, 217); }
.fbc_pcPictures, .fbc_piWrapper, .fbc_pictureImage { position: relative; }
.fb_component.staticPic { padding: 5px 0px; }
.fb_component.staticPic .fbc_foldContent, .fbc_picDescribe, .fbc_pictureWrapper { padding-left: 30px; padding-right: 30px; }
.fb_submitBtn, .fbc_authInput .fbc_aiTitle, .fbc_pcName { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.fbc_pictureImage { max-width: 100%; line-height: 0; text-align: center; overflow: hidden; }
.fb_submitBtn, .fb_submitBtn.fb_savingBtn { cursor: default; }
.fbc_imItem { position: relative; }
.btn_normal, .fb_submitBtn { box-sizing: border-box; display: inline-block; }
.submit { padding: 20px 30px; line-height: 0; text-align: center; background-color: rgb(249, 250, 253); }
.fb_submitBtn { min-width: 60px; padding: 7px 20px; line-height: 1.2; font-size: 14px; text-align: center; color: rgb(255, 255, 255); background: rgb(12, 64, 103) none repeat scroll 0% 0%; border-radius: 2px; box-sizing: border-box; }
.fb_submitBtn:hover { opacity: 0.9; }
