.iwantzx-wanshan #right-modal .big-title{color:#ff5353}
.iwantzx-wanshan #right-modal{background: white;height: 640px;width: 500px;padding:0 50px;border: 10px solid #ffe6d2;border-radius: 10px;position: absolute;top:0;bottom:0;right:0;left:0;margin:auto;}
.iwantzx-wanshan .right-modal .big-title{margin-top:40px;color:black;  }
.right-modal .small-info span{color:red;  }
.form-box .choose{font-size:14px;overflow:hidden;}
.form-box span{color:red;}
.iwantzx-wanshan i.fa-close{position:absolute;top: 2px;right:6px;}
.left{font-weight:700}
.meitustep3-jrx,.meitustep3-jrx1,.meitustep3-jrx2,.meitustep3-jrx3,.meitustep3-jrx4{width:165px;height:45px;float:left;}
.meitustep3-jrx input,.meitustep3-jrx1 input,.meitustep3-jrx2 input,.meitustep3-jrx3 input,.meitustep3-jrx4 input{float:left;height:45px!important;margin-right:10px;}
.meitustep3-jrx label,.meitustep3-jrx1 label,.meitustep3-jrx2 label,.meitustep3-jrx3 label,.meitustep3-jrx4 label{float:left;display:block;height:45px;line-height:45px;}
#meitustep3-account{width:150px; margin-left:-90px;height:35px;line-height:35px;}
.iwantzx-wanshan .right-modal .form-box .iwantzx-btn-2{font-family: "Microsoft Yahei";width:160px;height: 35px;border-radius: 3px;background: #ff5353;color: #fff;font-size: 14px;left: 0;right: 0;margin: auto;position: absolute;margin-top:20px;}
#step3-tck{width:220px;height:40px;background:black;opacity:.5;color:white;text-align:center;line-height:40px;font-size:16px;position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;display:none;}
.meitustep3-zxfangshi>div:first-child+div{margin-left:22px;}
.meitustep3-zxfangshi>div:first-child+div+div{margin-left:0;}
.step3-tubiao{background:url("/assets/common/img/xuanzhong.jpg") no-repeat;width: 16px;height: 15px;float: left;margin-top: 15px;margin-right:10px;display:none;}
.step3-tubiao1{background:url("/assets/common/img/xuanzhong2.jpg") no-repeat;display: none;width: 15px;height: 15px;float: left;margin-top: 15px;margin-right: 10px;}