.windowbg .big-order-window .tit{border-bottom: none;background: none;font-size: 26px;}
.windowbg .big-order-window .tit span{color: #ff5353;}
.windowbg .ganxsq2{width: 634px;font-family: "微软雅黑";padding: 45px 75px;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */border:10px solid #ffe6d2;
border-radius: 10px;position: fixed;overflow: visible;top: 0;bottom: 0;left: 0;right: 0;margin: auto;height: 432px;}
.windowbg .order-window p{font-size: 16px;font-family: "微软雅黑";}
.guanbisheji{width: 39px;height: 90px;display: inline-block;
	background: url(/assets/common/img/guanbianniu.png) no-repeat !important;position: absolute;right: 5px;
top: -70px;}