.baojiawaikz{overflow: hidden;}
.zxbjyinying{width: 100%;height: 100%;position: fixed;top: 0;left: 0;bottom: 0;right: 0;
background: rgba(0,0,0,0.7);z-index: 9999;
}
.zxbjwaik{width: 830px;height: 360px;position: fixed;top: 0;left: 0;right: 0;bottom: 0;
margin: auto;z-index: 99999;}
input{color: #333;}
.zxbjwaik .newtcclose{display: inline-block;width: 24px;height: 24px;position: absolute;right: -7px;top: 0;cursor: pointer;
background: url(/assets/common/img/zxbjclose.png) no-repeat center center;}
.midzhongj{width: 100%;height:340px;background: #fff;margin: 10px 0;}
.midzhongj .fadanright{display: inline-block;width: 436px;height: 100%;float: right;}
.fadanright .rowdiv{font-size: 16px;color: #333;overflow: hidden;}
.fadanright .tcarea{margin-top: 48px;}
.fadanright .tcarea .chengshidiv{overflow: hidden;vertical-align: top;display: inline-block;}
.fadanright .rowdiv .leftms{width: 80px;display: inline-block;text-align:left;float: left;height: 38px;line-height: 36px;}
.fadanright .rowdiv .xuanz01{width: 148px;height: 38px;border: 1px solid #ccc;outline: none;float: left;color: #333;}
.fadanright .rowdiv .xuanz02{width: 148px;height: 38px;border: 1px solid #ccc;outline: none;float: left;margin-left: 15px;color: #333;}
.fadanright .rowdiv .inputysk{width: 313px;height: 36px;line-height: 36px; outline: none;border: 1px solid #ccc;text-indent: 0.5em;padding: 0;}
.fadanright .rowdiv .tcmianji{overflow: hidden;display: inline-block;position: relative;vertical-align: top;}
.fadanright .rowdiv .shoujiput{overflow: hidden;display: inline-block;position: relative;vertical-align: top;}
.fadanright .rowdiv .tcmianji .pingfang{position: absolute;top: 7px;right: 8px;}
.fadanright .tancniu{width: 315px;height: 38px;line-height: 38px;text-align: center;background: #ff5353;color: #fff;
outline: none;border: 0;border-radius: 5px;cursor: pointer;margin-left: 80px;font-size: 18px;}
.valdate-tishi{color: #ff5353;height: 25px;line-height: 20px;text-align: left;font-size: 12px;clear: both;}
.fadanright .lateservice{font-size: 14px;color: #ff5353;margin-left: 80px;width: 315px;text-align: center;
margin-top: 3px;display: none;}

.leftjvli{margin-left: 11px !important;}
.boxpadding{padding: 5px 20px !important;}
.fixwidth{width: 105px !important;}



.fastchuang{width: 320px;height: 360px;background: #ffc859;float:left;margin-left: 40px;display: inline-block;
margin-top: -10px;}
.fastchuang .zxbjfastimg{margin:0 auto;margin-top:22px;display: block;width: 177px;height: 133px;}
.baojiashow{width: 270px;height: 170px;margin: 0 auto;background: #fff;margin-top: 10px;overflow: hidden;
padding:5px 30px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.baojiashow_title{font-size: 18px;font-weight: bold;color: #333;text-align: center;}
.baojiashow_title span{color: #ff5353;font-size: 24px;}
.bjnewresult{margin-top: 20px;}
.firsttop{margin-top: 10px !important;}
.bjnewresult .bjnewresult_left{display: inline-block;font-size: 14px;color: #333;}
.bjnewresult .bjnewresult_left span{color: #ff5353;}
.bjnewresult .bjnewresult_right{display: inline-block;font-size: 14px;color: #333;
margin-left:65px;}
.bjnewresult .bjnewresult_right span{color: #ff5353;}
