.baike-intro-list{ width:96%; margin:0 2%; box-sizing:border-box; margin-top:1em; border-top:1px solid #eee; padding-top:1em}
.baike-intro-list dt{ font-size:1.2em; border-left:3px solid #51bbec; padding-left:0.5em; margin-bottom:1em}
.baike-intro-list dt.hot{border-left:3px solid #E3585A;}
.baike-intro-list dd { overflow:hidden; padding-bottom:0.5em; border-bottom:1px dotted #eee; margin-bottom:0.5em; width:100%;}
.baike-intro-list dd .baike-list-img{width:80px;padding:0.3em; height:80px;margin-right:10px; text-align:center; float:left}
.baike-intro-list dd .baike-list-img img{ width:80px; height:auto; }
.baike-intro-list dd .baike-list-word{ }
.baike-intro-list dd h2,.baike-intro-list dd p{ box-sizing:border-box; line-height:30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.baike-intro-list dd h2{ font-size:1em; height:30px; font-weight:100}
.baike-intro-list dd p{ font-size:0.8em; height:50px; color:#aaa; white-space: normal; line-height:25px}
.baike-intro-list dd:last-of-type{ border-bottom:0}
.baike-intro-list dd .more-links{ display:block; width:100%;border:1px solid #eee; height:2.5em; line-height:2.5em; text-align:center; box-sizing: border-box; background:#f7f7f7; color:#179dd4}


/*百科详情页*/
.baike-content{ width:96%; margin:0 2%; margin-top:1em}
.baike-content h1{ font-size:1.5em; font-weight:100; border-top:1px dotted #cad6ff; padding-top:0.5em}
.baike-content-img{ width:left; width:40%; float: right; border:1px solid #eee; padding:0.5em; box-sizing:border-box; margin:0.3em;text-indent:0}
.baike-content-img img{ width:100%}
.baike-content-main h2{ font-size:1.1em;text-indent:0; margin:0.5em 0}
.baike-content-main{ margin-top:0.5em;text-indent:2em; line-height:1.5em}


/*详情列表*/
.baike-more-list{ width:92%; margin:0 4%}
.baike-more-list h2{ font-size:1.2em; border-left:3px solid #30b6f5; padding-left:0.5em; font-weight:100; margin-top:1em;}
.baike-more-list dl{ overflow:hidden; margin-top:1em; line-height:1.8em}
.baike-more-list dl dt{ font-weight:bold; display:block; clear:both; padding-top:1em}
.baike-more-list dl dd{ float:left; margin-right:0.8em; line-height:2em}