* {
	margin: 0;
	padding: 0;
}

body {

	font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: #fff !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	font-size: 100%;
	color:#3c3c3c;
}
ul li, ol li, dl li {
	list-style-type: none
}
img {
	border: 0;
	vertical-align: bottom;
}
em {
	font-style: normal;
	font-size: inherit;
}
a {
	text-decoration: none;
	color:#333
}
i {
	font-style: normal;
}
.m-wrap {
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	overflow:hidden;
	padding-bottom:1em;
}
.m-nav {
	width: 100%;
	height: 60px;
	background: #384157;
	position:relative;
	display:block;
	/*display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;*/
	line-height:60px;
}
.m-nav .m-back, .m-nav .m-menu {
	width: 60px;
	height: 60px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	position: relative;
}

.m-nav .m-back span {
	width:30px;
	height:30px;
	display:block;
	background:url(../images/back.png) no-repeat;
	margin:auto;
	background-size:100%;
	margin-top:5px;
}
.m-nav .m-back a{ color:#fff}
.m-nav .m-back{ float:left}
.m-nav .m-menu{ float:right}
.m-nav .m-title {
	position:absolute;
	left:60px; right:60px; top:0;
	align-self: center;
	text-align:center;
	font-size: 1.4em;
	color: #fff
}
/*城市切换*/
.m-city{ float:left; font-size:1.2em}
.m-city a{ color:#fff}
.m-city i{ margin:0 0.5em}
.m-nav .m-menu.active {
	background: #0D112B;
	border-top-left-radius:30px;
	transition:all 0.3s;
-moz-transition:all 0.3s; /* Firefox 4 */
-webkit-transition:all 0.3s; /* Safari and Chrome */
-o-transition:all 0.3s; /* Opera */
}

.m-nav .m-menu span {
	width:30px;
	height:30px;
	display: block;
	background: url(../images/nav.png) no-repeat;
	margin:auto;
	background-size:100%;
	margin-top:5px;
}
.m-nav .m-menu ul {
	position: absolute;
	width: 200px;
	top: 60px;
	right: 0;
	height: auto;
	line-height: 50px;
	display:none;
	z-index:9999;

}

.m-nav .m-menu ul li a {
	color: #fff;
	background: rgba(29,36,75,.95);
	display: block;
	margin-top: 1px
}
.m-logo {
	background: #fff;
	height: 70px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
}
.m-logo .logo-main {
	background: url(../images/logo.gif) no-repeat center;
	width: 40%;
	max-width: 194px;
	margin-left: 5%;
	background-size: 100%;
	height: 70px;
}
.m-logo .logo-s {
	background: url(../images/sale.gif) no-repeat center;
	width: 40%;
	max-width: 193px;
	align-self: center;
	height: 70px;
	background-size: 100%;
}


.neckad-into{ display:block; width:100%}
.neckad-into img{ width:100%; height:auto}



.m-ask-choes {
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,.7);
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	border-top: 1px dotted #eee;
	box-shadow: 0px 2px 2px rgba(0,0,0,.1);
	margin-bottom:-50px
}
.m-ask-choes>li {
	width: 50%;
	text-align: center;
	line-height: 50px;
	cursor:pointer
}
.m-ask-choes>li:first-of-type {
	border-right: 1px solid #eee
}
.m-ask-choes>li.switch:after {
	content: "";
	display: inline-block;
	vertical-align: 3px;
	margin-left: 10px;
	border-top: 5px solid #ccc;
	border-left: 5px dashed transparent;
	border-right: 5px dashed transparent;
}
.m-ask-choes>li.switch.active:after {
	content: "";
	display: inline-block;
	vertical-align: 3px;
	margin-left: 10px;
	border-top: 0;
	border-bottom: 5px solid #ccc !important;
	border-left: 5px dashed transparent;
	border-right: 5px dashed transparent;
}
.m-ask-choes>li.active{ background: rgba(245,245,245,.9)}
.m-ask-choes>li ul {
	position: absolute;
	display: none;
	border:1px solid #eee;
	width:100%;
	background: rgba(245,245,245,.9);
	box-sizing: border-box;
	padding:20px 10px;
	padding-bottom:10px;
}
.m-ask-choes>li ul.s1{ top:50px; left:0}
.m-ask-choes>li ul.s2{ top:50px; right:0}
.m-ask-choes>li ul li{ background:#fff; float:left; width:30%; border:1px solid #eee; box-sizing:border-box; line-height:2em; height:2em; margin:0 1.5%; margin-bottom:10px}
.m-ask-choes>li ul li a{ color:#333; display:block}
.fxd{ position: fixed; top:0; max-width:640px; width:100%; min-width:320px;}

.more-links{margin:1em 2%; border:1px solid #eee; padding:0 0.5em 0.5em 0.5em}
.more-links dt{ line-height:2em; font-size:1.2em}
.more-links dd{ line-height:1.8em;	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;}
	.more-links dd span{ color:#aaa;overflow:hidden; text-overflow:ellipsis;white-space:nowrap; width:15%; text-align:right;}
	.more-links dd a{ overflow:hidden; text-overflow:ellipsis;white-space:nowrap; width:85%; height:1.8em }



	.m-ask-search {
	background: #fff;
	height:80px;
	padding:20px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	border-top: 1px dotted #eee;
	width:100%
}
.m-ask-search input[type=text] {
	height:40px;
	line-height:40px;
	box-sizing: border-box;
	width:80%;
	border:1px solid #e1e1e1;
	border-right: 0;
	padding-left: 10px;
	background: #f9f9f9;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	display:block;
}
.m-ask-search input[type=text]:focus {
	background: #fff;
	outline: none
}
.m-ask-search button {
	box-sizing: border-box;
	width:20%;
	height: 40px;
	background: #e1e1e1;
	display:block;
	border: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	color: #888;
	font-size: 1.1em
}


.loading-more{ padding:20px; width:100%; box-sizing:border-box; text-align:center}
.loading-more a{ display:block; line-height:2.2em; height:2.2em; border:1px solid #eee; background:#f7f7f7}

footer{ text-align:center; width:100%; background:#eee; padding:1em 0; font-size:0.6em; line-height:2em; padding-bottom:100px;}
footer .hot{ color:#FF5255}
footer .links{ font-size:1.8em}

.tooltips{position: absolute; width: auto; height: 30px;  font-size: 18px; font-family: Microsoft YaHei; color: #fff;   line-height: 30px;}
.tooltips-in{position: relative; width: 100%; height: 100%; border-radius: 4px; background:rgba(0,0,0,.7);padding:5px  15px; text-align: center; border-color: rgba(0,0,0,.8) }
.tooltips-in em{position: absolute; bottom: -20px; width: 0; height: 0; border-width: 10px; border-color: rgba(0,0,0,.7) transparent transparent; border-style: solid dashed dashed; left:15px; }
.tooltips-in em.arrar_bg{border-color:rgba(0,0,0,.1) transparent  transparent;bottom: -21px;}

.btfd{ height:60px; background:rgba(0,0,0,.7); position:fixed; bottom:0; left:0; width:100%; z-index:9998}
.btfd .btfd-left{ position:relative; height:60px; width:70%; float:left}
.btfd .btfd-left p{ padding-left:100px; color:#fff; font-size:0.8em}
.btfd .btfd-left p.tit{ color:#93E7F1; margin-top:0.7em; font-size:1em}
.btfd .btfd-left img{ bottom:0; position:absolute; left:0}
.btfd .btfd-right{ display:block; width:28%; margin-right:2%; background:#F74F4F; border-radius:3px; height:40px; margin-top:10px; float:right; line-height:40px; text-align:center; color:#fff}