<ul class="ht-home-list">
<li class="sucsess" data-type="base"><span class="pull-left"><p class="pull-left">企业信息检测中...</p></span>
    </li>
    <li class="" data-type="jz"><span class="pull-left"><p class="pull-left">家装案例检测中...</p></span>

    </li>
    <li class="sucsess" data-type="gz"><span class="pull-left"><p class="pull-left">公装案例检测中...</p></span>

    </li>
    </li>
    <li class="sucsess" data-type="zj"><span class="pull-left"><p class="pull-left">在建工地案例检测中...</p></span>

    </li>
    <li class="sucsess" data-type="info"><span class="pull-left"><p class="pull-left">文章资讯检测中...</p></span>

    </li>
    <li class="sucsess" data-type="designer"><span class="pull-left"><p class="pull-left">推荐设计师检测中...</p></span>

    </li>
    <li class="sucsess" data-type="case"><span class="pull-left"><p class="pull-left">案例更新频率检测中...</p></span>

    </li>
    <if condition="$_SESSION['u_userInfo']['on'] EQ 2">
    <li class="sucsess" data-type="yhhd"><span class="pull-left"><p class="pull-left">已发布优惠活动检测中...</p></span>

    </li>
    </if>
    <li class="sucsess" data-type="safe"><span class="pull-left"><p class="pull-left">帐号安全检测中...</p></span>

    </li>
</ul>