input,button{outline: none;-webkit-appearance: none;}
::-moz-placeholder { font-size: 1em; }
::-webkit-input-placeholder { font-size: 1em; }
:-ms-input-placeholder { font-size: 1em; }
.hxj01{width: 100%;height: 1.385rem;background: url(/assets/mobile/huanxinjia/images/huanxj01.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj01 .time{width:1.85rem;height: 0.21rem;line-height:0.21rem;background: #fb9e29;margin: 0 auto;margin-top: 0.85rem;color: #fff;
font-size: 0.12rem;text-align: center;}
.hxj02{width: 100%;height: 0.9rem;background: url(/assets/mobile/huanxinjia/images/huanxj02.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj03{width: 100%;height: 1.43rem;background: url(/assets/mobile/huanxinjia/images/huanxj03.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj04{width: 100%;height: 2.26rem;background: url(/assets/mobile/huanxinjia/images/huanxj04.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;position: relative;}
.hxj04 .anniu01{width: 1rem;height: 0.3rem;line-height: 0.3rem;text-align: center;background:#fb8920;border-radius: 10px;
color: #fff;font-size: 0.12rem;display: inline-block;position:absolute;top: 1.69rem;right: 0.32rem;}
.hxj05{width: 100%;height: 1.975rem;background: url(/assets/mobile/huanxinjia/images/huanxj05.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj06{width: 100%;height: 1.62rem;background: url(/assets/mobile/huanxinjia/images/huanxj06.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj07{width: 100%;height: 1.725rem;background: url(/assets/mobile/huanxinjia/images/huanxj07.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj08{width: 100%;height: 1.815rem;background: url(/assets/mobile/huanxinjia/images/huanxj08.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.hxj09{width: 100%;height: 1.945rem;background: url(/assets/mobile/huanxinjia/images/huanxj09.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;position: relative;}
.hxj09 .wzkz{width: 1.9rem;height: 0.51rem;overflow: hidden;
	position:absolute;top: 0.95rem;right: 0.27rem;}
.hxj09 .wzkz div{color: #fff;font-size: 0.06rem;margin-top: 0.025rem;}
.hxj09 .wzkz .jianjv{margin-left: 0.12rem;margin-top: 0.115rem;}
.hxj09 .wzkz .middle{margin-left: 0.05rem;}
.hxj09 .wzkz .largeft{font-size: 0.08rem;margin-left: 0.12rem;}
.hxj10{width: 100%;height: 1.7rem;background: url(/assets/mobile/huanxinjia/images/huanxj13.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;padding: 0.22rem;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;}
.hxj10 .hdjs01{margin-top:0.65rem;color: #333;font-size:0.13rem;}
.baoming{width: 100%;height: 0.44rem;line-height:0.44rem;background: #f56200;text-align: center;color: #fff;
font-size: 0.18rem;position: fixed;bottom: 0;}
.yinying{position:absolute;width:100%;height:100%;top: 0;bottom: 0;left: 0;right: 0;background: rgba(4,4,4,0.5);
	display: none;overflow:scroll;}
.tanc{width: 95%;height: 2.91rem;position:fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: #fff;
border-radius: 5px;padding: 0.15rem;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
display: none;z-index: 99;}
.tanc .titxt{text-align: center;color: #ff5353;font-size: 0.2rem;margin-top: 0.05rem;margin-bottom: 0.15rem;}
.fadan{font-family:"Microsoft YaHei","微软雅黑";}
.fadan li{overflow: hidden;width: 100%;height: auto;}
.jianjv{margin-top: 0.1rem;}
.yabngshi1{font-size: 1em;height: 48px;line-height:normal;border: 1px solid #ddd;width: 100%;padding:5px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;overflow: hidden;clear: both;}
.yabngshi2{font-size: 1em;height: 48px;line-height:normal;border: 1px solid #ddd;width: 100%;padding: 5px;box-sizing: border-box;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;overflow: hidden;clear: both;}
.yabngshi1,.yabngshi2{color: #333;}
.fadan li .canyuti{width: 100%;height: 0.44rem;line-height: 0.44rem;text-align: center;background: #fb9e29;color: #fff;
font-size:0.15rem;margin-top: 0.1rem;}
.tanc .closegb{position:absolute;top: 0.11rem;right: 0.09rem;display: inline-block;color: #999;font-size:0.17rem;}
.tijcg{width: 95%;height:2.34rem;position:fixed;top: 0;bottom: 0;left: 0;right: 0;margin:auto;background:#fff;border-radius: 5px;
padding: 0.15rem;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-family:"Microsoft YaHei","微软雅黑";
display: none;}
.tijcg .closegb2{position:absolute;top: 0.11rem;right: 0.09rem;display: inline-block;color: #999;font-size:0.17rem;}
.tijcg .titxt2{color: #fb9e29;font-size:0.2rem;text-align: center;margin: 0.24rem 0;}
.tijcg .dizhi{width:100%;overflow: hidden;}
.tijcg .dizhi .address{width:100%;height: 48px;line-height: 48px;padding: 5px;box-sizing: border-box;-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;border: 1px solid #dedee0;font-size: 1em;}
.tijcg .shaohou{font-size: 0.12rem;color: #333;margin-top: 0.1rem;}
.tijcg .lingqu{font-size: 0.15rem;color: #fff;background: #fb9e29;text-align: center;height: 0.44rem;line-height: 0.44rem;
border-radius: 5px;margin-top: 0.2rem;}
.c-zb-city{color: #333;}
.c-zb-city i.fa{margin-right: 3px !important;color: #333 !important;}


/* 中奖结果 */

.zjjg{background: url(../images/bg_11.jpg); background-size:100%; padding:0.085rem 0.098rem;}
.main_area{background:#FBF6F2; border-radius:3px; position: relative; padding-bottom: 0.2rem}
.guanjie{position: absolute;width:0.08rem;top:-0.25rem; height: 0.36rem; background: url(../images/guajian.png) no-repeat;background-size:100%; }
.gj_left{left:0.035rem;}
.gj_right{right:0.035rem;}
.zj_title{height: 0.3rem; background: url(../images/jg_title.png) no-repeat center; background-size: 116% 73%; padding-top: 0.3rem}
.outline{border:1px dashed #FBA620; margin:0px 0.1rem; padding:0.05rem;}
.hdlist_head{border-bottom: 1px solid  #FBA620;color: #FBA620; padding-bottom: 0.05rem}
.hdlist_head span{width:25%; display: inline-block; text-align: center;}
#marquee{height: 2.2rem;overflow-y: hidden;}
.hdlist_body li span{width: 25%; display: inline-block; text-align: center;font-size: 0.1rem}
.small_info{margin:0.03rem 0.1rem; font-size: 0.1rem}