/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }



/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/*这个公司没有年终奖*/
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*一些全局默认样式*/

::-moz-selection{ background:#b7b59b; color:#fff; text-shadow: none; }
::selection { background:#b7b59b; color:#fff; text-shadow: none; }
body{ font-family: Tahoma, Arial, sans-serif; color:#3c3c3c; background:#fff}
a{ color:#333;}
a:hover{ color:#dc4146;text-decoration: none;}


/*IE 下 html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/*公共*/
.wrap{width: 1210px;margin: 0 auto;}
.mr-10{ margin-right:10px !important}
.mt-50{ margin-top:50px !important}
.c-wrap{ width:980px; margin:0 auto}
.ofw{ overflow:hidden}
.f-red{ color:#ff5353 !important;}

.mt10{margin-top: 10px;}
.mt20{ margin-top:20px}
.mt30{ margin-top:30px}
.mt40{ margin-top:40px }
.mt50{ margin-top:50px !important}
.mt80{ margin-top:80px;}
.mt100{ margin-top:100px;}
.ml20{margin-left: 20px;}
.ml70{margin-left: 70px;}
.mb30{margin-bottom: 30px;}
.mb50{margin-bottom: 50px;}
.mb100{margin-bottom: 100px;}
/*新头部*/

.pub-top{ height:30px; background:#f8f8f8;}
.pub-top .city{ float:left; color:#666;line-height:30px;}
.pub-top .city a{float: left;color:#666;}
.pub-top .pub-city .city-link{float: left;color:#ff5353;}
.pub-top .pub-city .separator{margin:0 14px;width: 1px;height: 12px;display: block;float: left;background: #ccc;margin-top: 10px;}
.pub-top .returnhome{background:url(/assets/common/img/return.png) no-repeat; float: left;width: 14px;height: 12px;margin-top: 11px;margin-left:24px;}
.pub-top .city .location{color: #dd4248; margin-right: 4px;}
.pub-top .city strong{float: left; margin-right: 5px; color: #dd4248;}
.pub-top .city i{ font-size:16px;float: left; margin-top: 11px;}
.pub-top .pub-city i.fa-angle-right{float:left;line-height: 30px;font-size: 13px;margin:0 4px;margin-top: 0;}
.pub-top .menu{ float:right; margin-top:10px}
.pub-top .menu li{ float:left; padding:0 14px; border-right:1px solid #ccc;line-height: 12px;}
.pub-top .menu li:last-of-type{ border:0;padding-right: 0;}
.pub-top .menu li a{ color:#666}
.pub-top .menu li a:hover,.pub-top .menu li a.active{ color:#ff5353}
.pub-top .menu li span.menu-telnum{ color:#FF565D; font-size: 12px; font-weight: normal;}
.pub-top .pub-city{float: left; position: relative;}
.pub-top .pub-city.active .home-city{display: block;}

.pub-head-box{width: 100%;position: relative;background: #fff;z-index: 9;}
.pub-head-empty{width: 100%;height: 50px;display: none;}
.fixed_top{position: fixed;top: 0;box-shadow: 0 10px 15px rgba(0,0,0,.1)}
.pub-head{width:1210px; margin:0 auto; height:50px;}
.logo{ float:left;width:224px; margin-top: 5px;}
.pub-head .logo .logo-img1{margin-right: 10px;float: left;height: 39px;}
.pub-head .logo .logo-img1 img{height: 100%}
.pub-head .logo .logo-img2{float: left;margin-top: 8px;height: 28px;}
.pub-head .logo .logo-img2 img{height: 100%;width: auto;}


.pub-top .menu li a span.guanzhupic{display: inline-block;width: 12px;height: 12px;
background: url(/assets/common/img/guanzhubj.png) no-repeat;margin-right: 4px;vertical-align:middle;position: relative;
top: -1px;}
.pub-top .menu li.guanzhuli a{position: relative;}
.pub-top .menu li.guanzhuli a .erweimawk{width: 150px;height: 190px;display: inline-block;background: #fff;position: absolute;top: 24px;
left: -40px;z-index: 14;text-align: center;overflow: hidden;display: none;box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);}
.pub-top .menu li .erweimawk img{width: 132px;height: 132px;margin-top: 19px;}
.pub-top .menu li .erweimawk .guanzhums{color: #333;line-height: 14px;letter-spacing:1px;}
.pub-top .menu li a:hover .erweimawk{display: block;}

/*导航*/
.pub-head-nav{float: left;margin-left: 163px;width: 754px;overflow: hidden;}
.pub-head-nav .nav{width: 1000px;}
.pub-head-nav .nav li{float: left;height:50px;overflow:hidden;margin-right: 50px;cursor: pointer;}
.pub-head-nav .nav li a{font-size: 14px;line-height: 50px;}
.pub-head-nav .nav li.on a{color: #ff5353;}
.pub-head-nav .nav li:hover a{color: #ff5353;}
.pub-head-nav .nav li.active a{color: #ff5353;border-bottom: 2px solid #ff5353;padding-bottom: 4px;}
.pub-head-nav .nav li a i{font-size: 12px;line-height: 45px;float: right;margin-left: 5px;}
.pub-nav-hover{width: 100%;height: 69px;background: #fff;position: absolute;left: 0;top: 50px;z-index: 4;border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;display: none;box-shadow: 0 10px 15px rgba(0,0,0,.1);transition: all 0.5s ease;}
.zxmt-nav,.zxgl-nav,.more-nav{width: 1210px;margin: 0 auto;display: none;}
.zxmt-nav div,
.zxgl-nav div,
.more-nav div{float: left;margin-right: 40px;font-size: 14px;color: #666;line-height: 69px;}
.zxmt-nav .zxmt-nav-main,
.zxgl-nav .zxgl-nav-main,
.more-nav .more-nav-main{ margin-left: 454px;}
.zxmt-nav div a:hover,
.zxgl-nav div a:hover,
.more-nav div a:hover{color: #ff5353}
/*搜索框*/
.pub-search{ float:left; margin-left:150px;margin-top: 6px;display: none;}
.pub-search .search-nav{float: left;position: relative;}
.pub-search a{ float:left; margin-left:20px; display:block; margin-top:8px; color:#df4346}
.pub-search .search-form{width: 432px;}
.pub-search .search-input{float: left;height: 32px;width:316px;border-bottom: 1px solid #ccc;margin-left: 18px;}
.pub-search .search-input input{font-size: 14px;margin-left: 6px;width: 282px;margin-top: 3px;border:0;outline: none;}
.pub-search .search-input button{width: 16px;height: 16px;cursor: pointer; background: url('/assets/common/pic/sousuo.png');border:none;outline: none;margin-top:4px;}
.pub-search .search-form .first-search{width:97px;height: 24px;border-right: 1px solid #ccc;line-height: 24px;text-align: center; cursor: pointer; margin-top: 4px;font-size: 14px;float: left;}
.pub-search .search-form .first-search i{margin-right: 20px;float: right;font-size: 13px;line-height: 22px;}
.pub-search .search-close{margin-top: 10px;margin-left: 30px;float: left;cursor: pointer;}
.pub-search .search-form ul{width:120px;position: absolute;left: -26px;top:45px;z-index: 3;background: #fff;box-shadow: 0 2px 7px 0 #A0A0A0;overflow: hidden;display: none;}
.pub-search .search-form ul li{font-size: 14px;text-align: center;line-height: 16px;margin: 20px 0;cursor: pointer;}
.pub-search .search-form ul li:hover{color: #ff5353;}

/*头部*/
.c-top{ height:40px; border-bottom:1px solid #999; line-height:40px;}
.c-logo{ background:url(../images/logo.png) no-repeat center center; height:40px; width:89px; display:block; float:left}
.c-top-city{float:left; margin-left:20px; color:#666}
.c-top-city a{ color:#df4249}
.c-top-nav{ margin-left:50px; float:left}
.c-top-nav li{ float:left; margin-right:25px;}

.c-top .c-login{ float:right; margin-top:12px; line-height:12px}
.c-top .c-login li{ float:left; padding:0 15px; border-right:1px solid #ccc}
.c-top .c-login li:last-of-type{ border:0}
.c-top .c-login li a{ color:#666}
.c-top .c-login li a:hover{ color:#dd4248}
.c-top .c-login span.menu-telnum{ color:#FF565D; font-size: 12px; font-weight: 700}


.c-head{ background:url(../images/bg.jpg) 0 0 fixed; height:199px; min-width:980px;}

.c-head .c-mark{ width:167px; height:111px; background:url(../images/frame.png); box-sizing:border-box; padding:18px 18px 20px 22px; margin:50px 0 0 20px; float:left}
.c-head .c-mark img{ width:129px; height:63px; border:1px solid #aaa}
.c-head .c-info-box{ width:501px; float:left; margin-left:46px;margin-top:10px;font-family: "Microsoft Yahei";}
.c-head .c-info-box .com-tit{ line-height:40px; font-size:20px;font-weight: 400;}
.c-head .c-info-box .com-tit i{ background:url(../images/icon1.png) no-repeat; width:20px; height:18px; display:inline-block; margin-left:10px; vertical-align:-2px}
.c-head .c-info-box .com-tit2{ line-height:30px; font-size:16px; color:#666}
.c-head .c-info-box .com-info{ border-top:1px dashed #999; margin-top:10px}
.c-head .c-info-box .com-star { margin-top:15px; overflow:hidden}
.c-head .c-info-box .com-star li{ font-size:14px; width:167px; float:left}
.c-head .c-info-box .com-star li span{ margin-right:10px; display:inline-block}
.c-head .c-info-box .com-star li i{ background:url(../images/star-on.png) center; width: 12px; height:16px;display:inline-block; vertical-align:-2px}
.c-head .c-info-box .com-btn{ width:130px; height:34px; border:1px solid #f15256; background:#ff5659; color:#fff;  font-size:14px; text-align:center;line-height:34px; display:block; margin-top:15px}

.c-nav-box{
	background:#fff;
   height:40px;
   box-shadow:0 3px 5px rgba(0,0,0,.15);
   min-width:980px;
   }

.c-nav-box .c-nav {height:40px; margin:0 auto; width:747px;position:relative; padding-left:233px}
.c-nav-box .c-nav li{ height:40px; float:left; position:relative}
.c-nav-box .c-nav li:hover{ background:#ff5659;}
.c-nav-box .c-nav li a{ line-height:40px; width:140px;font-family: "Microsoft Yahei"; font-size:14px; display:block; text-align:center;}
.c-nav-box .c-nav li.active{ background:#ff5659; }
.c-nav-box .c-nav li.active a,.c-nav-box .c-nav li:hover a{color:#fff}
.c-nav-box .c-nav li.active:before{display:none}
.c-nav-box .c-nav li.c-top-step{ background:url(../images/515.jpg); position:absolute; bottom:0; left:0; width:198px; height:48px}
.c-nav-box .c-nav li.c-top-step a{ width:100%}
.c-nav-box .c-nav li.c-top-step:after{
	content: "";
	position:absolute;
	top:8px;
	right:-8px;
	border-top: 0;
	border-bottom: 39px dashed transparent;
	border-left: 8px solid #ccc;
	border-right: 0;}
.c-nav-box .c-nav li.c-top-step:before{
	content: "";
	position:absolute;
	top:0;
	right:-8px;
	border-top: 4px dashed transparent;
	border-bottom: 4px solid #d95a15;
	border-left: 4px solid #d95a15;
	border-right: 4px dashed transparent;}


/*面包屑导航*/
.c-bread{ line-height:40px;}

/*分页*/
.page-link { border-left:1px solid #d8d8d8; overflow:hidden; margin:50px auto; width:435px}
.page-link li{ float:left; border:1px solid #d8d8d8; border-left:0; line-height:38px; text-align:center; min-width:38px;}
.page-link li:hover{ background:#ff5659;}
.page-link li:hover a{ background:#ff5659; color:#fff; display:block}
.page-link li.active{ background:#ff5659; color:#fff}
.page-link li.page-ud a{ padding:0 20px}
.page-link li:not(a):hover{ background:none}

.pagebox {overflow:hidden; margin:20px auto; width:700px;}
.page {text-align: center;line-height:38px; font-family:"Microsoft YaHei"; width:auto; max-width:1210px; margin:0 auto;font-size:14px;}
.page a,.page strong {display: inline-block;border: 1px solid #d8d8d8;border-left:0px;color: #505050;padding: 0px 12px;vertical-align: middle;margin-left:0px;box-shadow:none; border-radius:0px}
.page a:hover, .page a.current, .page strong {color: white!important;text-decoration: none;background:#FF5659;border: 1px solid #FF5659;border-left:0px;}
.page em{ margin:0 5px}
.page .pageheader{font-size: 14px; margin-left: 5px;}
.page a.first {border-left: 1px solid #d8d8d8;}

/*左侧*/
.c-left-nav{ border:1px solid #ddd; border-top:5px solid #ff5659; padding:0 20px 20px 20px; margin-bottom:20px}
.c-left-nav li{ border-bottom:1px dashed #ddd;font-family: "Microsoft Yahei";  line-height:30px; white-space:nowrap; text-overflow:ellipsis}
.c-left-nav li a{ display:block}
.c-left-nav li b{font-size:14px;line-height:40px;}
.c-left-nav li a.active{ color:#ff5659;}
.c-left-nav li:last-of-type{ border-bottom:0}

/*小不点招标窗*/

.c-zb{ background:#3b4d63; padding:20px}
.c-zb .c-zb-tit{font-size:14px;font-family: "Microsoft Yahei"; color:#fff; text-align:center}
.c-zb input{ line-height:30px; height:30px; padding:0 5px; width:100%; box-sizing:border-box; border:0; margin-top:10px;}
.c-zb button{ margin-top:15px; background:#ff5659; color:#fff; border:0; width:100%; height:30px;font-family: "Microsoft Yahei"; cursor:pointer}

/*横幅招标窗*/
.c-long-zb{color:#fff; background:#3b4d63 url(../images/zbbg1.png) no-repeat 8px bottom ; padding:33px 33px 0 33px; line-height:34px; margin-bottom:20px}
.c-long-zb p.form{ text-align:right;}
.c-long-zb p.form *{ margin-left:22px}
.c-long-zb p.form span{font-family: "Microsoft Yahei"; font-size:18px}
.c-long-zb p.form input{ height:34px; border:0; width:146px; padding:0 10px}
.c-long-zb p.form button{height:34px; border:0; width:156px; color:#fff; background:#ff5659; font-family: "Microsoft Yahei"; cursor:pointer; font-size:14px}
.c-long-zb p.bottom-tip{ text-align:right; }



.footer{ text-align:center; margin-top:50px;background: transparent;}
.footer .kefu-box{ background:#f3f3f3;font-family: "Microsoft Yahei"; font-size:18px; padding:15px 0}
.footer .kefu-box a{ display:inline-block; font-size:14px; font-weight:bold; color:#fff}
.footer .kefu-box a img.kefu-qq{position: relative; top: 4px;}
.footer ul{ margin: 0 auto; width:1210px; margin-top:20px; overflow:hidden}
.footer ul a{ color:#666}
.footer ul li{ float:left; width:92px; border-right:1px solid #ddd; box-sizing:border-box}
.footer ul li:last-of-type{ border-right:0}
.footer p{ margin-top:10px; color:#999}
.footer p img{ margin: 0 20px}

.go-top{ position:fixed; bottom:20px; right:20px; width:50px; height:101px; border:1px solid #ddd; cursor:pointer}
.go-top li.t1{ border-bottom:1px solid #ddd; position:relative; height:50px; background:url(/assets/common/img/weixin.png) #fff center center no-repeat}
.go-top li.t1 span{ display:none; background:#fff; position:absolute; right:51px; bottom:-1px; padding:10px; border:1px solid #ddd}
.go-top li.t1:hover span{ display:block}
.go-top li.t2{ height:50px; background:url(/assets/common/img/top.png) #fff center center no-repeat}
.go-top li.t2 a{ display:block; height:50px;}
.go-top li:hover{ background-color:#f1f1f1}


/**********************************/
.win_box .form-horizontal{overflow: hidden; position: relative; width: 100%; height: 100%;}
.win_box .form-horizontal:after {
    content: "";
    display: block;
    clear: both;
}
.win_box .win_box_in .vtop{display: inline-block;display: inline;\9; vertical-align: top;}
.win_box .win_box_in .focus{border-color: #DE4348;}
.form-horizontal .line {
    float: left;
    width: 100%;
    font-size:14px;
    margin-bottom:8px;
}
.form-horizontal .line input,
.form-horizontal .line select {
    height: 30px;
    border: 1px solid #DDD;
    font-size: 14px;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
    line-height: 30px\0;
    margin-left:5px;
    color: #666;
}
.form-horizontal .line select option{padding-left: 5px;}
.form-horizontal .line input{
    padding-left:5px;
    width: 100%;
}
.form-horizontal .line select{
    padding: 3px 5px\0;
    *padding: 8px 5px\0;
    vertical-align: top\0;
}

.form-horizontal .line .label{
    float:left;
    margin-top:5px;
    text-align: right;
    font-size: 15px;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}
.col-1 {
    width: 8.33333333%;
}
.win_box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}
.win_box .win_box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.win_box .win_box_content {
    position: absolute;
    width: 518px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -290px;
}
.win_box .zb_box_out,.win_box .win_box_out {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.24;
    filter: alpha(opacity=40);
    border-radius: 10px;
}
.win_box .zb_box_in,.win_box .win_box_in {
    position: absolute;
    width: 540px;
    height: 430px;
    top: 50%;
    left: 50%;
    margin-top: -215px;
    margin-left: -270px;
    background: #fff;
}
.win_box .zb_box_title {
    position: relative;
    color: #666;
}
.win_box .zb_box_title .zb_box_hd{
    width: 100%;
    height: 83px;
    position: relative;
}
.win_box .zb_box_title .zb_box_hd_sj {
    background: url(/assets/common/img/header_sj.jpg) no-repeat;
}
.win_box .zb_box_title .zb_box_hd_bj {
    background: url(/assets/common/img/header_bj.jpg) no-repeat;
}

.win_box .zb_box_title .zb_box_hd_ys {
    background: url(/assets/common/img/header_ys.jpg) no-repeat;
}
.win_box .zb_box_title .zb_box_hd_lf {
    background: url(/assets/common/img/header_lf.jpg) no-repeat;
}

.win_box .zb_box_title .zb_box_info {
    text-align: center;
    font-size: 14px;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
    padding: 5px 0;
    background: #f2f2f2;
}


.win_box .input-msg{text-align: center; color: #666; padding:10px 0;}
.win_box .zb_box_form{padding:10px 0px 0px 20px;}
.win_box * {
    list-style: none;
    font-style: normal;
    border: 0;
    margin: 0;
    padding: 0;}
.win_box .zb_box_form i {font-style: normal;}

.win_box .zb_box_tip{padding:10px 0; text-align: center; font-size: 16px; color: #DE4348;font-family: arial, microsoft yahei, "Microsoft YaHei";}
.win_box .zb_box_btn{background: #DE4348;padding:10px 15px; margin-bottom: 10px; border-radius: 30px; font-weight: bold; font-size: 14px; color: #FFF; cursor: pointer;}
.win_box .zb_box_footer .zb_box_info{color:#A5A5A5; font-size:13px; text-align: left; font-family: arial, microsoft yahei, "Microsoft YaHei"; margin-bottom: 10px; }
.win_box .zb_box_footer .zb_box_info .icon {
    background: url(/assets/common/img/global.png) no-repeat;
    width: 24px;
    height: 18px;
    background-position: -181px -7px;
    display: block;
    float: left;
}
.win_box .zb_box_footer .zb_box_msg {
    color: #A5A5A5;
    font-size: 13px;
    text-align: left;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
}
.win_box .zb_box_footer .zb_box_msg span{color: #DE4348;}
.win_box .zb_box_footer .zb_box_msg .icon {
    background: url(/assets/common/img/global.png) no-repeat;
    width: 23px;
    height: 20px;
    background-position: -215px -35px;
    display: block;
    float: left;
}
.win_box_close {
    background: url(/assets/common/img/global.png) no-repeat;
    width: 18px;
    height: 19px;
    background-position: -7px -6px;
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    cursor: pointer;
}
.win_box_err{color: #DE4348; height: 20px; font-size: 12px; font-weight: bold; font-family: arial, microsoft yahei, "Microsoft YaHei";text-align: center;}
.win_box .form-horizontal .win_box_focus{border: 1px solid #DE4348;}
.win_box .win_box_tip{color: #CB1108; margin-left: 5px; float: none; font-style: normal; text-align: center; }

.smaller {
    -webkit-backface-visibility: visible;
    -webkit-transform-origin: center center;
    -webkit-animation: smaller 0.3s 0s 1 ease-in-out normal both;
    -moz-backface-visibility: visible;
    -moz-transform-origin: center center;
    -moz-animation: smaller 0.3s 0s 1 ease-in-out normal both;
    margin-right: -1000px;
}

@-webkit-keyframes smaller {
        0% {
            left: 50%;
        }
        100% {
            left:100%;
            top:85%;
            width: 0px;
            height: 0px;
        }
    }

@-moz-keyframes smaller {
    0% {
        left: 50%;
    }
    100% {
        left:100%;
        top:85%;
        width: 0px;
        height: 0px;
    }
}
.step1,.step2,.step3{background: #FFF; width: 100%; height: 100%; border: 1px solid #FFF; width: 518px; height: 398px;float: left;font-family:arial, microsoft yahei, "Microsoft YaHei"; position: relative;}
.step1{background: url(/assets/common/img/zxbj_bg.gif) repeat;}
.win_box .steptop{ width: 518px;height:72px;}
.win_box .steptop .win_line{ margin:0 15px; margin-top:15px; height: 1px; width: 548px; border-bottom: 2px dashed #C1C1C1; float: left;}
.step1 .steptop,.step2 .steptop,.step3 .steptop {background: url(/assets/common/img/zxbj_top.png) no-repeat;}

.step2 .step_info,.step3 .step_info{margin:0 20px; text-align: left; font-size: 14px;}
.step3 .step_info{padding:10px; margin-top:0px;}
.step3 .step_info dl dt,.step3 .step_info dl dd{line-height: 26px; color: #666;}
.step3 .step_info h2 {color:#FF5658;padding-bottom:20px;font-size:15px;font-weight: 150}

.step_form{margin:10px 30px 10px 30px; float: left;width: 100%;}
/*.step_form .line input{height: auto;}*/
.step_form .line button.verify{height: 32px; line-height: 30px; padding:0 10px; border: 1px solid #ccc; cursor: pointer; color: #666;}
.step_form .line button.verify[disabled]{color: #999; cursor:no-drop;}
.step_form .line .iradio_minimal-red{float: left; margin-top:5px;}
.step_form .line .span{font-size: 14px; font-family:arial, microsoft yahei, "Microsoft YaHei"; float: left; margin-top:3px; margin-left:5px; }
.step_form .line .step_tips{color:#DE4348; text-align: center; font-size: 14px; }
.step_form .line .label {margin-right:20px;}
.step_form .line .ipt {height:34px;width:293px;background: #fff url(../img/m2.jpg) no-repeat right center;}

.step_form .button {
    height:35px;
    line-height: 33px;
    width: 298px;
    background: #FF5658;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border: 1px solid #FF5658;
    border-radius:3px;
    font-size: 14px;
    font-family: microsoft yahei;
    margin-top:0px;
    margin-left:5px;
}
.step_form .buttons{ width: 100%; text-align: center; bottom: 30px;}
.step_form .buttons button.button{display: inline-block; margin:0; margin-right:5px; border: 0; cursor: pointer;}
.step_form .znbj-edit-sel {height:40px;line-height: 38px;width:300px;}

.rdo { margin-left:5px;}
.rdolist, .chklist { display: none; }
.rdobox, .chkbox { text-align:center; display: inline-block; padding:5px 5px 5px 5px; width:82px; height:24px; line-height:24px; color: #666; cursor: pointer; margin-right:5px;}
.rdo .unchecked {  color: #666; border:1px solid #ddd; transition-property: background; transition-delay: 0s; transition-duration: .1s; transition-timing-function: linear;}
.rdo .checked { background: #ff5659; color: #fff;border:1px solid #ff5659;  }

.form-horizontal .line input,
.form-horizontal .line select {
    height: 35px;
    border: 1px solid #DDD;
    font-size: 14px;
    font-family: arial, microsoft yahei, "Microsoft YaHei";
    line-height: 35px\0;
    margin-left:5px;
    color: #666;
}

.form-horizontal .line select option{padding-left: 5px;}
.form-horizontal .line input{
    padding-left:5px;
    width: 100%;
}
.form-horizontal .line select{
    padding: 3px 5px\0;
    *padding: 8px 5px\0;
    vertical-align: top\0;
}


.step_form .button:hover {
    background: #C61522
}
.win_box .zxbj-tip{float: left; margin-top:6px; font-size: 12px;}
.win_box .win_box_list{width: 1920px; overflow:hidden; position: absolute;}
.win_box .shutdown{background: url(/assets/common/img/global.png) no-repeat;width:34px;height:31px;background-position:-283px -13px; float: right; margin-right: 15px; margin-top:10px; cursor: pointer;}
.step_form .step2_tips{height: 24px; font-weight: bold;}
.step_form .step_close {background:#6D6B6A;}
.step3 .buttons {padding-left:22px;}
.step3 .button {width:160px;margin-right: 10px}

.validate .focus{border: 1px solid #DE4349 !important;}
.validate .valdate-info{color: #DE4349 !important; font-size: 12px; padding:2px;}
.validate .box-line{margin-bottom: 30px;}
.validate .height_auto{margin-bottom: 0 !important; height: 65px !important;}

.win_box{position:fixed;left:0;top:0;width:100%;height:100%;z-index:99999;display:none;}
.win_box .win_box_bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#666;opacity:0.5;filter:alpha(opacity=50);}
.win_box .win_box_content{position:absolute;width:518px;height:350px;top:50%;left:50%;margin-top:-235px;margin-left:-290px;}
.win_box .zb_box_out,.win_box .win_box_out{position:absolute;width:100%;height:100%;background:#666;opacity:0.24;filter:alpha(opacity=40);border-radius:10px;}
.win_box .zb_box_in,.win_box .win_box_in{position:absolute;width:540px;height:430px;top:50%;left:50%;margin-top:-215px;margin-left:-270px;background:#fff;}
.win_box .zb_box_title{position:relative;color:#666;}
.win_box .zb_box_title .zb_box_hd{width:100%;height:83px;position:relative;}
.win_box .zb_box_title .zb_box_hd_sj{background:url(/assets/common/img/header_sj.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_hd_bj{background:url(/assets/common/img/header_bj.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_hd_ys{background:url(/assets/common/img/header_ys.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_hd_lf{background:url(/assets/common/img/header_lf.jpg) no-repeat;}
.win_box .zb_box_title .zb_box_info{text-align:center;font-size:14px;font-family:arial,microsoft yahei,"Microsoft YaHei";padding:5px 0;background:#f2f2f2;}
.win_box .loginbox{font-family:"Microsoft YaHei";width:460px;height:420px;margin-top:-210px;margin-left:-230px;}
.win_box .win_box_in .logintit{display:block;padding:20px 30px;line-height:20px;height:20px;position:relative;}
.win_box .loginbox a{display:inline-block;text-align:center;border-radius:3px;text-decoration:underline;color:#F24B4B;}
.win_box .loginbox .win_box_in{width:360px;height:380px;margin-top:-190px;margin-left:-210px;padding:0 30px;}
.win_box .win_box_in .logintit h1{float:left;font-weight:normal;font-size:20px;}
.win_box .win_box_in .logintit i{float:right;}
.win_box .win_box_in .logintit a{display:inline-block;text-align:center;border-radius:3px;text-decoration:underline;color:#F24B4B;}
.win_box .win_box_in .loginput{position:relative;}
.win_box .win_box_in .loginput input{font-size:14px;border:1px solid #ddd;height:50px;line-height:50px\0;width:308px;padding-left:50px;margin:0;}
.win_box .win_box_in .loginput .log{background:url(/assets/common/pic/loginboxbg.png) no-repeat 10px 0;color:#666;}
.win_box .win_box_in .loginput .res{background:url(/assets/common/pic/loginboxbg.png) no-repeat 10px -50px;color:#666;}
.win_box .win_box_in .loginput .tips{height:20px;font-size:12px;color:#F24B4B;}
.win_box .win_box_in .login-info{padding:5px;text-align:right;}
.win_box .loginbox .btn{line-height:40px;margin-top:10px;height:40px;font-size:14px;}
.win_box .loginbox .btn a.logbtn{width:100%;height:40px;background:#44b549;color:#fff;margin-right:20px;text-decoration:none;}
.win_box .loginbox .btn a.logbtn:hover{text-decoration:none;background:#08be77;}
.win_box .loginbox .other{margin-top:10px;padding-top:10px;border-top:1px dotted #f1f1f1;overflow:hidden;}
.win_box .loginbox .other a{display:block;width:50px;color:#FFF;height:50px;line-height:50px;border-radius:80px;text-align:center;float:left;margin-right:5px;}
.win_box .loginbox .other a.qqlogin{background:url(/assets/common/pic/otherlogin.png) no-repeat 10px -5px #3bc9f7;float:left;}
.win_box .loginbox .other a:hover{text-decoration:none;}
.win_box .loginbox .other a i{border-left:1px #eee dotted;display:inline-block;width:100%;}
.win_box .loginbox .other a.weibologin{background:url(/assets/common/pic/otherlogin.png) no-repeat 10px -58px #e15050;float:right;}
.win_box .loginbox .other{margin-top:20px;padding-top:10px;border-top:1px dotted #f1f1f1;overflow:hidden;line-height:35px;width:100%;}
.win_box .loginbox .other a{display:block;width:35px;color:#FFF;height:35px;border-radius:100px;text-align:center;}
.win_box .loginbox .other a.qqlogin{background:url(/assets/common/pic/otherlogin.png) no-repeat 2px -6px #3bc9f7;float:left;margin-right:10px}
.win_box .loginbox .other a:hover{text-decoration:none;opacity:0.8}
.win_box .loginbox .other i{float:left;margin-right:10px}
.win_box .loginbox .other a.weibologin{background:url(/assets/common/pic/otherlogin.png) no-repeat 2px -58px #e15050;float:left;margin-right:10px}
.loginbox .other a.tblogin{background:url(/assets/common/pic/otherlogin.png) no-repeat 3px -156px #08BE77;float:left;margin-right:10px}
.win_box .loginbox .log-reg{float:right;margin-right:5px;margin-top:5px;margin-bottom:5px;}
.win_box .loginbox .log-close{background:url(/assets/common/img/global.png) no-repeat;width:17px;height:16px;background-position:-7px -8px;position:absolute;right:5px;top:50%;margin-top:-8px;}

/*!*S-返回顶部*!*/
.small{
    position:fixed;
    right: 100px;
    bottom: 20px;
}
.small .small-top{
    width: 60px;
    height: 64px;
    margin-top: -4px;
    background:url(../img/weixin2.png) no-repeat;
    cursor: pointer;
}
.small .small-top:hover{
    background:url(../img/weixin1.png) no-repeat;
}
.small .mian{
    z-index: 33;
    position: absolute;
    right: 70px;
}
.small .mian img{
    display: none;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.small-top:hover .mian img{
    display: block;
}
.small .fanhui{
    width: 60px;
    height: 67px;
    margin-top: -4px;
    background: url(../img/top2.png) no-repeat;
    cursor: pointer;
}
.small .fanhui:hover{
    background: url(../img/top1.png) no-repeat;
}
/*!*E-返回顶部*!*/

/*右侧客服挂件，回到顶部等容器*/
.fix_warp {
    position: fixed;
    width: 95px;
    height: 465px;
    top:20%;
    right: 34px;
    z-index: 1500;
}

/*S-客服挂件*/
.fix_nav {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.moqu_kefu {
    width: 64px;
    margin-left: 18px;
    /*height: 290px;*/
    margin-top: 91px;
    background-color: #fff;
    /*border: 1px solid #EBEBEB;*/
    overflow: hidden;
}
.moqu_kefu .moqu_header {
    width: 146px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 8px;
    display: block;
    background: url(../img/xiaolu-s2.png) no-repeat;
}

.moqu_qq{
    border: 1px solid #EBEBEB !important;
    border-top:none !important;
}
.moqu_kefu .moqu_qq a{
    /*margin-top: 20px;*/
    /*border-bottom: 1px solid #EBEBEB;*/
    padding: 10px 0px;
}


.moqu_kefu .moqu_qq  span{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.moqu_kefu .moqu_qq .icon{
    width: 26px;
    height: 26px;
    background: url("../img/kf-avatar.png") no-repeat;
}

.moqu_kefu .moqu_qq .icon-tips{
    padding-top: 5px;
}

.moqu_kefu .moqu_qq:hover{
    border-color: #FF5353;
}

.moqu_kefu .moqu_qq:hover a{
    background-color: #FF5353;
    color: white;
}

.moqu_kefu .moqu_qq:hover .icon{
    background: url("../img/kf-avatar-white.png") no-repeat;
}


.moqu_qq a{
    display: block;
}
.moqu_kefu .moqu_sj {
    border: 1px solid #EBEBEB;
    border-top:none;
    display: block;
    padding: 11px 0px 9px 0px;
}
.moqu_kefu .moqu_sj:hover{
    background-color: #FF5353;
    color: white;
    border-color:#FF5353;
}
.moqu_kefu .moqu_sj:hover .icon{
    background: url("../img/free-design-white.png") no-repeat;
}
.moqu_kefu .moqu_sj > .icon{
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto;
    background: url("../img/free-design.png") no-repeat;
}
.moqu_kefu .moqu_sj  > .icon-tips{
    display: block;
    text-align: center;
    padding-top: 5px;
}

.moqu_kefu .moqu_zb {
    display: block;
    background-color: #FF5353;
    padding: 9px;
}
.moqu_kefu .moqu_zb .bj{
    display: block;
    margin:0 auto;
    width: 32px;
    font-size: 16px;
    color: white;
}

.moqu_kefu .moqu_zb img{
    display: block;
    margin:0 auto;
}

.moqu_kefu .moqu_assistant{
    display: block;
    padding: 13px 0px 11px 0px;
    text-align: center;
    border: 1px solid #EBEBEB;
    border-top: none;
}

.moqu_kefu .moqu_assistant > span{
    display: block;
    margin: 0 auto;
}

.moqu_kefu .moqu_assistant > .icon{
    width: 31px;
    height: 25px;
    background: url("../img/assistant.png") no-repeat;
}

.moqu_kefu .moqu_assistant > .icon-tips{
    padding-top: 5px;
}

.moqu_kefu .moqu_assistant:hover{
    background-color: #FF5353;
    color: white;
    border-color: #FF5353;
}

.moqu_kefu .moqu_assistant:hover > .icon{
    background: url("../img/assistant-white.png") no-repeat;
}

.moqu_kefu .moqu_weixin {
    height:69px;
    border-bottom: 1px solid #EBEBEB;
    background: url(../img/erweima-gif.gif) no-repeat;
    display: block;
}
.moqu_kefu .moqu_weixin img{
    display: none;
    position: relative;
    right: 132px;
    bottom: 60px;
}
.moqu_kefu .moqu_weixin:hover img{
    display: block;
}
.moqu_kefu .moqu_top {
    display: block;
    padding:15px 0px 8px 0px;
    border: 1px solid #EBEBEB;
    border-top: none;
}
.moqu_kefu .moqu_top:hover{
    background-color: #FF5353;
    color: white;
    border-color: #FF5353;
}
.moqu_kefu .moqu_top:hover .icon{
    background: #ff565d url(../img/top-new-white.png) no-repeat center center;
}
.moqu_kefu .moqu_top > span{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.moqu_kefu .moqu_top .icon{
    width: 18px;
    height: 18px;
    background: url(../img/top-new.png) no-repeat center center;
}

.moqu_kefu .moqu_top .icon-tips{
    padding-top: 5px;
}
/*E-客服挂件*/


/*装修省钱5步*/
#stepall {display:none;position:absolute;width:920px; top:48px; text-align:left; z-index:99999;}

.fstep{ width:196px; float:left; height:388px; border:1px solid #f1f1f1; background:url(/assets/common/pic/5stepbg.jpg) bottom no-repeat #FFF}
.fstep dt{cursor: pointer; height:56px; line-height:26px; border-bottom:1px dotted #eee; color:#aaa; padding:20px 10px; position:relative; text-align:center}
.fstep dt i{ background:url(/assets/common/img/step.png) no-repeat left;display:block; font-size:14px;font-family:Microsoft YaHei; color:#3c3c3c; padding-left:38px; line-height:30px; overflow:hidden; height:30px; text-align:left}
.fstep dt:hover{ background:#eee;}
/*.fstep dt:hover .fstep-int{ display:block;}*/
.fstep  .fstep-int,.fstep-content .fstep-int{ font-family:Microsoft YaHei;display:none;width:401px; height:386px; background:#fff; background:rgba(255,255,255,.98); position:absolute;left:189px; z-index:99999; border:2px solid #eee; border-right: 0;}
.fstep .fstep-int-left,.fstep-content .fstep-int-left{ float:left; width:400px; height: 288px; padding:50px 0;  background: #f1f1f1;}
.fstep-int-right{display:none;z-index: 1001; border: 2px solid #EEE; border-left: 0; position: absolute; left: 593px; width:285px; height: 368px; text-align:left; background: #FFF; padding: 9px 40px; }
.fstep .st1 .fstep-int{ top:-1px }
.fstep .st2 .fstep-int{ top:-98px}
.fstep .st3 .fstep-int{ top:-195px}
.fstep .st4 .fstep-int{ top:-292px}
.fstep .st1 i{ background-position:0 0}
.fstep .st2 i{ background-position:0 -30px}
.fstep .st3 i{ background-position:0 -60px}
.fstep .st4 i{ background-position:0 -90px}
.fstep .fstep-int .fstep-int-left img,.fstep-content .fstep-int .fstep-int-left img{ display:block; margin:0 auto}
.fstep .fstep-int h2,.fstep-content  .fstep-int h2{ font-size:18px; text-align:center; color:#545454; font-weight:100}
.fstep .fstep-int h3,.fstep-content  .fstep-int h3{ margin-top:10px; color:#666; font-weight:100;text-align: center;}
.fstep-int-right h1{ font-size:18px; font-weight:100; color:#3c3c3c; line-height:30px; margin-bottom:20px; border-bottom:1px solid #f2572e;padding-bottom:10px}
.fstep-int-right span.zbtitle{ font-size:18px; font-weight:100; color:#3c3c3c; line-height:30px; margin-bottom:20px; border-bottom:1px solid #f2572e;padding-bottom:10px;display: block;width: 100%;}
.fstep-int-right .btn{ width:100%;  color:#fff; height:40px; line-height:40px; text-align:center; background:#f44e4e; border:1px solid #de4242; display:block; margin-top: 20px; font-size:14px}
.fstep-int-right .btn:hover{ text-decoration:none; background:#de4242}
.fstep-int-right p{ line-height:20px; margin-top:30px; text-align:center}
.fstep-int-right p .red{ color:#de4242}
.fstep-int-right .sel{ width:50px; height:30px; border:1px solid #ccc; width:125px}
.fstep-int-right .mr{ margin-right:7px}
.fstep-int-right .lines {height:62px;font-size:14px; color:#3c3c3c;margin-bottom: 10px;}
.fstep-int-right .lines input[type="text"].secbox_focus{border: 1px solid #DE4348;}
.fstep-int-right .lines span{font-size:14px; display:inline-block; margin-bottom: 5px; width:70px; color:#545454}
.fstep-int-right .lines input[type=text]{ border:1px solid #ccc; color: #666; height:34px; line-height:34px\0; *line-height:34px; padding-left:5px; width:276px;}
.fstep-int-right .lines input[type=text]:focus{ outline:none}



.fstep-content{display: none; width: 770px; height: 388px; border:1px solid #EEE; border-left: 0; position: absolute; top:0px; left:191px; z-index: 998; background:  #fff;}

.fstep-content .fstep-s1{ top:0px;display: block; left:0; border: 0}
.fstep-content .fstep-s2{ top:0px;left:0;border: 0}
.fstep-content .fstep-s3{ top:0px;left:0;border: 0}
.fstep-content .fstep-s4{ top:0px;left:0;border: 0}
.fstep-content .fstep-int-right{display: block; padding:10px 30px; height: 366px; border: 0; top:0; left:406px; vertical-align: top;}

.fstep-int-right .select {height: 36px;border: 1px solid #ccc;line-height: 36px\0;color: #666;width:138px;}


.disclamer-line{color: #999; text-align: left;overflow:hidden; margin-top:-10px; margin-bottom:5px; }
.no-margin{margin-top:20px !important;}
.disclamer-line span{font-size: 12px !important}
.disclamer-line .disclamer-check{ width:10px; height: 10px; border:1px solid #999;border-radius: 2px; margin-top:3px !important; margin-right:5px !important;cursor:pointer;position:relative; display: inline-block}
.disclamer-line a{color:#1F80C7; border-bottom:1px solid #1F80C7; display: inline-block;width:63px;overflow:hidden;position:relative;height:17px;}
.disclamer-line a span{ width:72px;position:absolute; left:-4px !important;}
.disclamer-line span.disclamer-text{margin-right: 5px !important}
.disclamer-line .disclamer-check i.fa-check{position:absolute; top: -1px; color: #1F80C7;}
.foot-disclaimer{color:#666!important; margin-top:20px !important;}

.guanzhubj{position: absolute;width: 129px;height: 343px;background: url(/assets/common/img/guazhuyoulibj.png) no-repeat;
right: 76px;top: 160px;overflow: hidden;cursor: default;display: none;}
.guanzhubj .guanzhubj_left{width: 120px;height: 100%;float: left;}
.guanzhubj .weibotup{width: 100px;height: 100px;margin: auto;display: block;margin-top: 10px;}
.guanzhubj p{text-align: center;font-size: 12px;color: #666;}
.guanzhubj p.weibopbq,.guanzhubj p.weixinms{color: #ff5353;}
.guanzhubj .weixingzh{width: 100px;height: 100px;margin: auto;display: block;margin-top: 10px;}

.moqu_qq,.guanzhuyl{
    border: 1px solid #EBEBEB !important;
    border-top:none !important;
}

.moqu_kefu .moqu_qq a,.moqu_kefu .guanzhuyl a{
    /*margin-top: 20px;*/
    /*border-bottom: 1px solid #EBEBEB;*/
    padding: 10px 0px;
    display: block;
}


.moqu_kefu .moqu_qq  span,.moqu_kefu .guanzhuyl  span{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.moqu_kefu .moqu_qq .icon{
    width: 26px;
    height: 26px;
    background: url("../img/kf-avatar.png") no-repeat;
}
.moqu_kefu .guanzhuyl .icon{
    width: 26px;
    height: 26px;
    background: url("/assets/common/img/guanzhupic.png") no-repeat;
}

.moqu_kefu .moqu_qq .icon-tips{
    padding-top: 5px;
}

.moqu_kefu .moqu_qq:hover,.moqu_kefu .guanzhuyl:hover{
    border-color: #FF5353;
}

.moqu_kefu .moqu_qq:hover a,.moqu_kefu .guanzhuyl:hover a{
    background-color: #FF5353;
    color: white;
}