/*
* @Author: qz_xsc
* @Date:   2017-12-15 11:48:15
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-12-16 13:22:43
*/
body{background: #f5f5f5;}
.m-container {
    padding: 0px 15px;
}
.get-design-title {
    text-align: center;
    font-size: 0.2rem;
    margin: 0.2rem auto;
}
.get-design-title span {
    font-weight: bold;
    color: #ff5353;
    margin-left: 5px;
}
.half-box{float: left;margin-top:0.1rem; }
.shejieshi{
  overflow: hidden;
    width: 100%;
    padding: 0px 10px;
    height: 2.5rem;}
.shejishi .half-box:nth-child(1){width:45%;}
.shejishi .half-box:nth-child(2){width:55%;}
.touxiang{width:1rem;height:1rem; overflow: hidden;  border-radius: 0.5rem; margin: 0.15rem auto;}
.touxiang mip-img{width:100%; height: 100%;margin:0 auto; }
.sheji-name{ margin:0.11rem auto; font-size: 0.2rem;text-align: center; }
.he-say{margin:0.08rem auto; text-align: center; color:#727272; font-size: 0.125rem}
.he-detial{margin:0.1rem auto; text-align: center;}
.he-detial span{color: #ff5353; font-size: 0.15rem;padding-right:5px;}
.hisZuopin{height: 1rem; margin:0.14rem auto; overflow: hidden;text-align: center;}
.hisZuopin mip-img{height: 90%; width:83%;}
.mip-layout-size-defined .mip-fill-content{position: relative !important;}
.slider-box {
    position: relative;
    background: #f4f4f4;
    padding: 10px;
}
.pad20 {
    padding: 40px 10px;
}
.zhuangxiu {
    position: relative;
    height: 1.2rem;
}
.zhuangxiu .left-title {
    width: 0.1rem;
    position: absolute;
    top: 18%;
    left: 0px;
}
.zhuangxiu .right-title {
    width: 0.1rem;
    position: absolute;
    top: 18%;

}
.zhuangxiu mip-img {
    position: absolute;
    width: calc(100% - 0.25rem);
    height: 1.2rem;
}
.zhuangxiu .right-title {
    width: 0.1rem;
    position: absolute;
    top: 18%;
    right: 5px;
}
.zhuangxiu span {
    color: #ff5353;
}
.left-img {
    left: 0.2rem;
}
.right-img {
    right: 0.2rem;
}
.free-getSize {
    text-align: center;
    font-size: 0.16rem;
    padding-top: 0.2rem;
}
.free-getSize {
    text-align: center;
    font-size: 0.16rem;
    padding-top: 0.2rem;
}
.small-title {
    font-size: 0.11rem;
    width: 100%;
    text-align: left;
    margin-top: -8px;
    padding-bottom: 0.2rem;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.align-right {
    text-align: center;
}
.small-title span {
    color: #ff5353;
}
.free-getSize img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mip-carousel-nextBtn {
    right: 0;
    background-position: 100% 45%;
    background-image: url("../images/sheji/to_right.png");
}
.mip-carousel-preBtn {
    left: 0;
    background-position: 0 45%;
    background-image: url("../images/sheji/to_left.png");
}