/*
* @Author: qz_xsc
* @Date:   2017-09-26 09:58:17
* @Last Modified by:   qz_xsc
* @Last Modified time: 2017-09-27 09:21:21
*/
html {
    -webkit-text-size-adjust: none
}
html{font-size: 100px;}/*iphone 4/5*/
body{font-size: 0.14rem /*实际相当于14px*/}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}
}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a9a9a9;
}

input:-ms-input-placeholder{
    color: #a9a9a9;
}

input::-webkit-input-placeholder{
    color: #a9a9a9;
}

body{background: url(../images/bg-zhuli.png);}
#footer{display: none;}
.home-area{width:100%;}
.btn{background: #F4A016; border-radius: 3px; text-align: center; padding:0.08rem 0px; margin-bottom: 10px; font-size: 0.11rem; display:block}
#jion{width:1rem; margin:0.3rem auto;}
#jion a{color: #fff}
#mask1{width:100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; top:0px;left:0px; z-index:9; display: none;}
#mask{width:100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; top:0px;left:0px; z-index:9;display: none;}
.tanchuang{width:95%; background: #fff; border-radius: 5px; margin:auto; top:0px; left:0px; right:0px; bottom:0px;position: fixed; z-index:999; text-align: center;}
.tanchuang span{color:#F4A016; font-size: 0.16rem}
#tanchuang-one{height:0.3rem;font-size: 0.15rem; padding-top: 0.2rem;padding-bottom: 0.2rem;line-height: 0.3rem; display: none;}
.three-box{width:100%; height: 1.6rem; margin-top: 0.5rem}
.three-box .three-box-container{padding:0px 10px;}
.three-box .three-box-container p{font-size: 0.1rem;text-align: center;}
.three-box p a{color:#fff;}
.active{background: #fff; color: #F4A016}
.rules{padding:15px; color: #fff; font-size: 0.12rem}
.rules div{color:#F4A016; font-size: 0.15rem;padding-bottom: 0.05rem}
.rules ul{line-height: 0.2rem;}
.rules p{border-bottom:1px dashed #fff;margin-bottom: 0.2rem;padding-bottom:0.1rem;}
#tanchuang-two{height:0.6rem; line-height: 0.6rem; display: none;}
.friend-list{border-top:1px dashed #fff; margin-top: 30px; display: none;text-align: center; padding: 10px}
.friend-list table{width:100%; margin:10px auto; background: #fff; border-radius: 5px; padding:10px;border-spacing: 0px;}
.friend-list table td{border-bottom:1px solid #999;line-height: 0.3rem}
.friend-list table tr td:nth-child(2){text-align: right;}
.friend-list table tr:nth-last-child(1) td{border:none;}
.friend-list span{color: #F4A016;line-height: 30px;}
.getTaocan{background: #F4A016;color:#fff; width:0.8rem; margin:0 auto; border-radius: 5px;font-size: 0.08rem}
#fadan{height: 2.8rem; display: none;}
#fadan p{font-size: 0.18rem;padding-top:0.25rem;padding-bottom: 0.1rem}
#fadan ul{padding:10px;}
.formbt li{height:0.35rem; border:1px solid #ddd; margin-bottom:10px; overflow: hidden;}
.formbt li input{height: 0.35rem; width:100%; outline: none; border:none; padding-left: 8px; color: rgb(51, 51, 51); font-size: 1em}
.c-zb-city{height:0.35rem;outline: none;border:none;}
.submit{width:100%; background: #F4A016;color:#fff; border:none; outline: none; line-height: 0.35rem; border-radius: 5px;}
#result{height: 2rem;text-align: center;display: none;}
.gongxi{font-size: 0.2rem; color: #F4A016;padding: 0.2rem 0px;}
.lianxi{padding:0px 15px; color:#696969; font-size: 0.115rem}
.tuijian{padding:0.12rem 0px;}
.to-huodong{background: #F4A016;color:#fff; display: block; border-radius: 5px; text-align: center; line-height: 0.35rem;}
.huodong{padding:0px 10px;}
.close-box{  text-align: right; position: relative;}
.closed{position: absolute; right: 10px; top:-12px;}
#fadan .closed{top:8px;right:11px; }
#result .closed{top:8px;right:11px; }
.fx-arrow{position: fixed; right:0.22rem;top:0rem; z-index: 9999; width:0.6rem; display: none; width:20%}
.arrow-text{position: fixed; right:0.5rem;top:0.8rem; z-index: 9999; color: #fff; display: none; font-size: 0.2rem }
.btn-box{overflow: hidden}
.btn-box .btn{ float:left; width:48%;}
.btn-box .btn:nth-child(1){margin-right: 4%;}
#is_end{height:1.7rem;display: none}
#is_end .closed{position: absolute; right: 10px; top:6px;}
#mask2{width:100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; top:0px;left:0px; z-index:9; display: none;}