<extend name="Common:basic"/>
<block name="link">
<link href="{$static_host}/assets/mobile/zb/css/m-hxsj.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="top">
    <div class="m-header-his" >
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit">设计与报价</div>
</block>
<block name="content">
<article id="article-height">
    <div class="m-hxsj-finish">
        <div class="m-font-h1">
            <i class="fa fa-check-circle"></i>
            获取成功
        </div>
        <p>
        【齐装网】给小主请安！小齐已经接到您的装修圣旨，正马不停蹄赶来您的身边，并会在第一时间与您联系，请您注意接听哦，如有疑问请致电<span>{:OP("QZ_CONTACT_TELNUM400")}</span>
        </p>
    </div>
    <div class="m-hxsj-erweima">
        <div class="m-hxsj-erweima-img">
            <if condition="$img neq ''">
                <img src="{$img}" alt="" />
            <else/>
                <img src="{$static_host}/assets/mobile/zb/images/erweima.jpg" alt="" />
            </if>
        </div>
        <div class="m-hxsj-erweima-aside">
            <if condition="$title neq ''">
                {$title}
            <else/>
                齐装公众号
            </if>

            <br>
            <if condition="$desc neq ''">
                <?php for($i=0; $i<count($desc); $i++){echo $desc[$i];echo "<br/>"; } ?>
            <else/>
                全面的活动咨询
                <br>
                经典的装修案例
                <br>
                专业的客户服务
                <br>
            </if>
        </div>
        <p>
            关注方法：长按二维码保存，微信扫一扫点击右上角相册或从相册选取二维码，选择该二维码后关注。
        </p>
    </div>
    <div class="m-more-link">
        <div class="m-more-link-tit">
            您可以继续了解
        </div>
        <ul>
            <li>
                <a href="http://{:C('MOBILE_DONAMES')}/meitu/">
                    <span>
                        <img src="http://{:C('QINIU_DOMAIN')}/static/mobile/shejidone/xiaoguotu.png" width="80" height="80" alt="装修效果图" />
                    </span>
                    装修效果图
                </a>
            </li>
            <li>
                <empty name="cityInfo.bm">
                    <a href="http://{:C('MOBILE_DONAMES')}/xgt/">
                        <span>
                            <img src="http://{:C('QINIU_DOMAIN')}/static/mobile/shejidone/anli.png" width="80" height="80" alt="装修案例" />
                        </span>
                        装修案例
                    </a>
                    <else />
                    <a href="http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/xgt/">
                        <span>
                            <img src="http://{:C('QINIU_DOMAIN')}/static/mobile/shejidone/anli.png" width="80" height="80" alt="装修案例" />
                        </span>
                        装修案例
                    </a>
                </empty>
            </li>
            <li>
                <empty name="cityInfo.bm">
                    <a href="http://{:C('MOBILE_DONAMES')}/company/">
                        <span>
                            <img src="http://{:C('QINIU_DOMAIN')}/static/mobile/shejidone/gongsi.png" width="80" height="80" alt="装修公司" />
                        </span>
                        装修公司
                    </a>
                    <else />
                    <a href="http://{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/company/">
                        <span>
                            <img src="http://{:C('QINIU_DOMAIN')}/static/mobile/shejidone/gongsi.png" width="80" height="80" alt="装修公司" />
                        </span>
                        装修公司
                    </a>
                </empty>
            </li>
            <li>
                <a href="http://{:C('MOBILE_DONAMES')}/gonglue/">
                    <span>
                        <img src="http://{:C('QINIU_DOMAIN')}/static/mobile/shejidone/gonglue.png" width="80" height="80" alt="装修攻略" />
                    </span>
                    装修攻略
                </a>
            </li>
        </ul>
    </div>
</article>
</block>