* {
	margin: 0;
	padding: 0;
}

html,body {
	font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	font-size: 100%;
	color:#3c3c3c;
    width: 100%;
    height: 100%;
}

ul li, ol li, dl li {
	list-style-type: none
}
img {
	border: 0;
	vertical-align: bottom;
}
em {
	font-style: normal;
	font-size: inherit;
}
a {
	text-decoration: none;
	color:#333
}
i {
	font-style: normal;
}

.m-wrap {
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	overflow:hidden;
	position:relative;
	z-index:2;
}
.m-bg{background-color: #EEE;}

.logo{ margin:0 auto; margin-top:50px; background:url(/assets/muser/img/logo.png) no-repeat center; background-size: contain; width:200px; height:120px; margin-bottom:20px}

canvas {
	position:absolute;
  z-index:-1;
  left:0;
  bottom:0;
  top:0;
  right:0;
  opacity:0.5;

}



.bg{
  position:absolute;
  z-index:-2;
  left:0;
  bottom:0;
  top:0;
  right:0;
  background-image: -moz-linear-gradient( 90deg, rgb(48,65,98) 0%, rgb(33,88,130) 29%, rgb(118,173,219) 74%, rgb(62,136,174) 91%, rgb(48,65,98) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(48,65,98) 0%, rgb(33,88,130) 29%, rgb(118,173,219) 74%, rgb(62,136,174) 91%, rgb(48,65,98) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(48,65,98) 0%, rgb(33,88,130) 29%, rgb(118,173,219) 74%, rgb(62,136,174) 91%, rgb(48,65,98) 100%);
  height:100%;
-webkit-filter: blur(4px);
filter: blur(4px);}



.err{ color:#ff5659; text-align:center; height:1em; text-shadow:1px 0px 2px rgba(255,255,255,.4)}
.edit{ height:2em; margin:0.5em 5%; width:90%; box-sizing:border-box; padding:0 0.5em; margin-top:1.2em;}
.edit:after{ content:""; display:block; border:1px solid #fff; height:10px; border-top:0; margin-top:-10px}
.edit i{ color:#fff; display:inline-block; width:1.5em; text-align:center; font-size:1.5em; line-height:1.5em}
.edit input.input{ background:none; border:0; margin:0; padding:0; outline:none; vertical-align:0.4em; color:#fff; height:1.5em; line-height:1.5em; width:75%}
.edit input::-webkit-input-placeholder { font-family:"Microsoft Yahei"; color:#c4d6e2; font-size:1.2em}
.login-edit button{width:90%; margin:10% 5%; font-size:1.1em; height:2em; line-height:2em; color:#C5DFE9; background:rgba(23,53,71,.7); display:block; border:0; border-radius:50px; outline:none}
.login-edit button:focus{ background:rgba(23,53,71,.9)}
.login-edit .verify{float: right;width: 90%; margin-bottom: 0.9em; }
.login-edit .verify:after{border:0; clear: both;content: "";display: block; }
.login-edit .verify input[type=text]{float: right; width: 8em; border: 1px solid #FFF; height: 90%; padding-left: 0.3em; color: #666; margin-right: 0.5em;}
.login-edit .verify img{float: right;}
.cun{ margin:1em 7%; width:86%; color:#fff; font-size:0.8em; margin-top:2em}
.cun input{ vertical-align:-0.15em; margin-right:0.2em;}
.order-main .order-bread { border-bottom:1px solid #eee; padding-bottom:0.5em; position:relative}
.order-main .order-bread span{ margin-left:0.5em; background:#ff5659; color:#fff; padding:0 0.3em; border-radius:50px}
.order-main .order-bread label{ position:absolute; right:0; top:0; color:#478DEB}
.order-main .order-bread label input{ vertical-align:-2px}
.order-main .order-bread i{ margin:0 0.5em}.order-main .order-bread a{ color:#0B9DE4}
.order-tab{border:1px solid #eee; margin-top:0.5em; border-bottom:0}
.order-tab li{ border-bottom:1px solid #eee; line-height:2.5em; position:relative; padding-left:6em; min-height:2.5em}
.order-tab li span{ display:block; position:absolute; left:0; top:0; bottom:0; width:5.5em; text-align:center; background:#f7f7f7}
.order-tab li.chosecomp img{ padding:0.5em; width:50%; height:auto; box-sizing:border-box}
.order-tab li .calltel{ display:inline-block; background:#328ADC; color:#fff; padding:0 0.5em; margin-left:0.5em}

.order-tab li .calltel i{ margin-right:0.2em}
.order-tab li.button{ padding-left:0; padding:1em}
.order-tab li.button a{ display:block; height:3em; line-height:3em; text-align: center; width:100%; background:#ff5659; color:#fff; border:0; border-radius:30px; outline:none}

.order-list { margin-top:0.5em}
.order-list li{ background:#FFF; margin-top:1em; border-radius:5px; border:1px solid #eee; padding:0.5em}
.re{float:left}
.re i{float:left; margin-right:0.5em}
.reading i{ color:#ff5659;}
.readed{ color:#aaa; float:left}
.list-tit{ border-bottom:1px solid #FFF3EA; overflow:hidden; padding-bottom:0.5em;}
.timer{color:#aaa; float:right}
.order-list li dl{ margin-top:0.5em; overflow:hidden; line-height:2em; font-size:0.8em}
.order-list li dl dd{ float:left; width:50%}
.order-list li.no-order{background: transparent; font-size: 16px; font-weight: bold; color: #CCC; text-align: center;}
.order-btn{ color:#FF7072; padding-top:0.5em; border-top:1px solid #FFF3EA; text-align:center}

.comp{ height:50px; line-height:50px; overflow:hidden; width:100%; border-bottom:1px #3C70CB solid; background:#5A91FF; box-shadow:0px 0px 5px rgba(0,0,0,.2)}
.comp h1{ float:left; font-size:1.2em; color:#fff}
.comp h1 em{ display:block; width:30px; height:30px; border-radius:50%; margin:0 0.5em; margin-top:9px; float:left; overflow:hidden; border:1px solid #eee; line-height:23px; background:#fff}
.comp h1 em img{ width:30px; height:auto; padding:0;}
.comp a{ float:right; margin-right:1em; display:block; color:#fff; font-size:0.8em}
.order-main{ width:92%; margin:1em 4%; box-sizing:border-box; padding:0.5em; border-radius:5px}
.order-bread { border-bottom:1px solid #eee; padding-bottom:0.5em; position:relative}
.order-bread span{ margin-left:0.5em; background:#ff5659; color:#fff; padding:0 0.3em; border-radius:50px}
.order-bread a{ color:#0B9DE4}
.bg-ff{ background:#fff; border:1px solid #eee;margin-top:4em;}
.j-tab-nav{ background:#fff; overflow:hidden; line-height:3em;}
.j-tab-nav a{ display:block; float:left; width:40%; margin:0 5%; text-align:center;}
.j-tab-nav a span{ margin-left:0.5em; background:#ff5659; color:#fff; padding:0 0.3em; border-radius:50px}
.j-tab-nav a.current{ border-bottom:2px solid #3C70CB}

.loading{position: fixed; width: 100%; height: 100%; background: rgba(255,255,255,0.1); top: 0;left: 0; z-index: 999;}
.loading .bottom{position: absolute; bottom:0; background: rgba(0,0,0,0.3); left: 0; width: 100%; height: 2em; background: url(/assets/muser/img/loading.gif) center center no-repeat; }

.tips-mask{width: 100%; height: 100%; background:rgba(0,0,0,0.6); position: absolute; left: 0px;top:0px;  z-index:99; display:none;}
.tips-win{background:#fff; text-align: center; width:80%; height:8.5rem; position: absolute; margin:auto;left:0px;right:0px; bottom:0px; top:0px; border-radius: 10px}
.domain{font-family: "ArialMT";  padding-top: 1rem }
.alert-info{color: #333333;  height: 3rem; padding:0.5rem 0.5rem 0rem 0.5rem; font-size: 14px; }
.okBtn{border-top: 1px solid #cccccc; color:#ff5353; padding-top: 0.6rem }
.no-data{padding:10px; text-align: center; display: none; color: #666}
.top-fixed{ width:100%; position: fixed;top:0px; z-index: 999}
.j-tab-con{margin-top:6em;}
.yq-text{font-size:1em;width:calc(100% - 10px);border:none; font-family: 'Microsoft YaHei'; padding:5px; color:#3c3c3c;  line-height:1.6;outline: none;}