.m-wrap {
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	padding-bottom: 80px;
	height: auto;
	overflow:hidden;
	position:relative;
	z-index:2;
}
.logo{ margin:0 auto;background:url(../img/logor.png) no-repeat center;
	background-size: contain; width:210px; height:82px; margin-top:7em;}
.login-edit .btn{height: 47px;width: 90%;margin: 0 auto;}
.err{ color:#ff5659; text-align:center; height:1em; text-shadow:1px 0px 2px rgba(255,255,255,.4)}
.edit{ height:2em; margin:0.5em 5%; width:90%; box-sizing:border-box; padding:0 0.5em; margin-top:1.2em;border-bottom: 1px solid #ddd;}
.edit:after{ content:""; display:block; border:1px solid #fff; height:10px; border-top:0; margin-top:-10px}
.edit i{display:inline-block; width:1.5em; text-align:center; font-size:1.5em; line-height:1.5em}
.edit input.input{ background:none; border:0; margin:0; padding:0; outline:none; vertical-align:0.4em; color:#000; height:1.5em; line-height:1.5em; width:75%}
.edit input::-webkit-input-placeholder { font-family:"Microsoft Yahei"; color:#ddd; font-size:1.2em}
.login-edit{margin-top:3.5em;}
.login-edit .btn{ width:90%;height:2em;margin:1.5em 5%; font-size:1.4em;font-family:"Microsoft Yahei";font-style: normal;line-height:2em;background-color:#ff5659;display:block;border:0;outline:none;color:#fff;
}
.login-edit button:focus{ background:rgba(200,75,75,0.9)}

img{left:0;top:0;width:100%;height: auto;}
img.bg{
    position:absolute;left:0;top:0;width:100%;height: auto;z-index: -1
}
.verify{
	border: none;
}
.verify-img{
	height: 30px;
    width: 28%;
    float: right;
    position: relative;
    z-index: 9999
}
.verify-text{
	position: relative;
    bottom: 2px;
    left: 10px;
    height: 28px;
    width: 62%;
}
.tips-mask{width: 100%; height: 100%; background:rgba(0,0,0,0.6); position: absolute; left: 0px;top:0px;  z-index:99; display:none;}
.tips-win{background:#fff; text-align: center; width:80%; height:8.5rem; position: absolute; margin:auto;left:0px;right:0px; bottom:0px; top:0px; border-radius: 10px}
.domain{font-family: "ArialMT";  padding-top: 1rem }
.alert-info{color: #333333;  height: 3rem; padding:0.5rem 0.5rem 0rem 0.5rem; font-size: 14px; }
.okBtn{border-top: 1px solid #cccccc; color:#ff5353; padding-top: 0.6rem }