<extend name="Main:baseTemplate" />
<block name="title">
	<title>历史数据</title>
</block>
<block name="style">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
	<link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/specialarticle.css?v={:C('STATIC_VERSION')}">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/sale.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
	<!--<div class="shade"></div>-->
	<section class="content-header">
		<h1>历史数据</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/"><i class="fa fa-dashboard"></i> 权限管理</a>
			</li>
			<li class="active">
				<a href="/homecase">城市职能管辖管理</a>
			</li>
		</ol>
	</section>
	<section class="content-header">
		<div class="sale-flex-betweencenter col-lg-6 sale-marginbottom-20">
			<a href="/pubmeitu/pubimg" class="btn btn-primary col-sm-3 sale-marginright-10">商务</a>
			<a href="/pubmeitu/att?type=lx" class="btn btn-primary col-sm-3 sale-marginright-10">外销</a>
			<a href="/pubmeitu/att?type=fg" class="btn btn-primary col-sm-3 sale-marginright-10">品牌</a>
			<a href="#addCityPointContainer">
				<返回上一级</a>
		</div>
		<section class="content">
			<div class="row">
				<div class="col-xs-12 content-header">
					<div class="box box-default">
						<div class="row">
							<div class="col-sm-12 content-menu">
								<div class="box-header with-border">
									<div class="col-xs-12">
										<div class="col-xs-1 sale-float-right">
											<button id="btnSearch" type="submit" class="btn btn-primary" data-loading-text="查询中....."><i class="fa fa-search"></i>查询</button>
										</div>
										<div class="col-xs-2 sale-float-right">
											<input type="text" name="title" class="form-control" placeholder="标题" value="">
										</div>

										<span>每页显示：</span>
										<select id="search" name="position" type="text" style="display: inline-block; width: 10%;" placeholder="100" class="form-control" tabindex="-1">
											<option value="">100</option>
											<option value="100"> 200</option>
											<option value="200"> 300</option>
										</select>
										<span>条</span>

									</div>
								</div>
								<div class="col-sm-12 set-mt16">
									<table id="myTable" class="table table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="myTable_info">
										<thead>
											<tr role="row"></tr>
											<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="myTable">城市</th>
												<th class="sorting_asc" tabindex="0" aria-controls="myTable">二级</th>
												<th class="sorting" tabindex="0" aria-controls="myTable">三级</th>
												<th class="sorting" tabindex="0" aria-controls="myTable">查看所有历史记录</th>
											</tr>
										</thead>
										<tbody>
											<tr role="row" class="odd">
												<td class="sorting_1">苏州</td>
												<td>三级</td>
												<td>五级</td>
												<td data-toggle="modal" data-target="#myModal" class="sale-unfold-history">+查看</td>
											</tr>
											<tr role="row" class="even">
												<td class="sorting_1">苏州</td>
												<td>三级</td>
												<td>五级</td>
												<td data-toggle="modal" data-target="#myModal" class="sale-unfold-history">+查看</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-xs-4">总记录：<span>1500</span>条</div>
								<div class="col-xs-4">
									<div class="page">
										<ul class="pagination" style="margin: 0;">
											<li>
												<a href="javascript:void(0)" class="current">1</a>
											</li>
											<li>
												<a class="num" href="">2</a>
											</li>
											<li>
												<a class="next" href="">下一页</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe1l" aria-hidden="true">
						<div class="modal-dialog">
							<div class="  sale-alert-full">
							<table class="table table-bordered table-hover dataTable no-footer" style="min-width: initial;">
								<thead>
									<tr role="row" class="btn-primary">
										<td>
											历史记录-<span id="cfsHistoryClose" class="cursor" data-dismiss="modal">关闭</span>
										</td>
									</tr>
									<tr role="row" class="btn-info">
										<th class="sorting_asc" tabindex="0" aria-controls="myTable">商务师长</th>
										<th class="sorting_asc" tabindex="0" aria-controls="myTable">起止时间</th>
										<th class="sorting" tabindex="0" aria-controls="myTable">区域经理</th>
										<th class="sorting" tabindex="0" aria-controls="myTable">起止时间</th>
									</tr>
								</thead>
								<tbody>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									<tr role="row" class="odd">
										<td class="sorting_1">张三</td>
										<td>2015/05/07-2015/05/07</td>
										<td>李四</td>
										<td>2015/05/07-2015/05/07</td>
									</tr>
									
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
</block>
<block name="script">
	<script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
	<script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
	<script src="{:C('168NEW_URL')}/assets/home/js/sale.js?v={:C('STATIC_VERSION')}"></script>
</block>