<extend name="Main:baseTemplate" />
<block name="title">
	<title>案例管理 - 控制台</title>
</block>
<block name="style">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
	<link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}" />
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
	<link rel="stylesheet" href="{:C('168NEW_URL')}/assets/home/css/sale.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
	<section class="content-header">
		<h1>显示列表</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/"><i class="fa fa-dashboard"></i> 会员统计概览</a>
			</li>
			<li class="active">
				<a href="/homecase">会员发展</a>
			</li>
		</ol>
	</section>

	<section class="content-header">
		<a href="/pubmeitu/pubimg" class="btn btn-primary">会员发展</a>
		<a href="/pubmeitu/att?type=lx" class="btn btn-primary">会员合作</a>
		<a href="/pubmeitu/att?type=fg" class="btn btn-primary">城市分单</a>
		<a href="/pubmeitu/att?type=mj" class="btn btn-primary">会员续费</a>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-default">
					<div class="box-body">
						<div class="row">
							<form class="form-horizontal" method="GET" action="/tongji/order_tel">
								<div class="col-xs-2">
									部门：
									<select id="search" name="cs" type="text" placeholder="所属城市" class="select2-offscreen" tabindex="-1">
										<option value="">全部部门</option>
										<option value="320324"> 商务</option>
										<option value="320830"> 外销</option>
									</select>
								</div>
								<div class="col-xs-2">
									年份：
									<select id="searchCity" name="cs" type="text" placeholder="所属城市" class="select2-offscreen" tabindex="-1">
										<option value="">全部年份</option>
										<option value="320324"> 2016</option>
										<option value="320830"> 2015</option>
										<option value="341226"> 2014</option>
									</select>
								</div>
								<div class="col-xs-1">
									<br>
									<button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="查询中....."><i class="fa fa-search"></i>查询</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="box box-default">
					<center>
						<h2>每月会员发展统计表</h2></center>
					<div class="sale-table">
						<table class="table table-bordered table-hover dataTable" style="margin:0;">
							<thead>
								<tr>
									<th>时间</th>
									<th>会员指标</th>
									<th>实际会员</th>
									<th>普通会员</th>
									<th>多倍会员</th>
									<th>上会员数</th>
									<th>下会员数</th>
									<th>到期数</th>
									<th>续费率</th>
									<th>90天以下会员占比</th>
									<th>90天以下会员占比</th>
									<th>90天以下会员占比</th>
									<th>A类会员累计</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
									<td>6</td>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>6666666</td>
								</tr>
								<tr>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
									<td>6</td>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
								</tr>
								<tr>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
									<td>6</td>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
								</tr>
								<tr>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
									<td>6</td>
									<td>2016年1月</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>55</td>
									<td>66</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box box-default">
					<center>
						<h2>会员发展统计图</h2></center>
					<div id="chartWidth" class="detail-section">
						<div class="col-xs-12" style="padding-left: 0;" id="canvas">

						</div>
					</div>
				</div>
				<div class="box box-default">
					<center>
						<h2>会员续费统计图</h2></center>
					<div id="chartWidth" class="detail-section">
						<div class="col-xs-12" style="padding-left: 0;" id="canvas2">

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</block>
<block name="script">
	<script src="{:C('168NEW_URL')}/assets/common/js/plugins/select2/select2.js?v={:C('STATIC_VERSION')}"></script>
	<script src="{:C('168NEW_URL')}/assets/common/js/select2.min.js?v={:C('STATIC_VERSION')}"></script>
	<script src="http://g.tbcdn.cn/bui/acharts/1.0.32/acharts-min.js?v={:C('STATIC_VERSION')}"></script>
	//图表1
	<script type="text/javascript">
		var chart = new AChart({
			theme: AChart.Theme.SmoothBase,
			id: 'canvas',
			height: 500,
			plotCfg: {
				margin: [50, 50, 80] //画板的边距
			},
			xAxis : {
            categories: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
         	 },
			yAxis: [{
				position: 'left',
			}, {
				type: 'number',
				position: 'right',
				line: null,
				tickLine: null,
				labels: {
					label: {
						x: 12
					}
				},
				title: {
					text: '右边',
					x: 40,
					rotate: 90
				}
			}],
			seriesOptions: { //设置多个序列共同的属性
				lineCfg: { //不同类型的图对应不同的共用属性，lineCfg,areaCfg,columnCfg等，type + Cfg 标示
					smooth: true

				}
			},
			series: [{
				name: '会员指标',
				color: '#4572A7',
				type: 'column',
				yAxis: 1,
				data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
				suffix: ' mm'

			},{
				name: '实际会员',
				color: '#00FF00',
				type: 'column',
				yAxis: 1,
				data: [29.9, 31.5, 106.4, 149.2, 12.0, 136.0, 155.6, 148.5, 116.4, 294.1, 95.6, 54.4],
				suffix: ' mm'

			},{
				name: '同比',
				color: '#89A54E',
				type: 'line',
				data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
				suffix: '%'
			},{
				name: '环比',
				color: '#FF1493',
				type: 'line',
				data: [7, 6, 9.5, 34.5, 28.2, 24.5, 25.2, 26.5, 23.3, 38.3, 33.9, 39.6],
				suffix: '%'
			}]

		});

		chart.render();
	</script>
	//图表2
	<script type="text/javascript">
		var chart = new AChart({
			theme: AChart.Theme.SmoothBase,
			id: 'canvas2',
			height: 500,
			plotCfg: {
				margin: [50, 50, 80] //画板的边距
			},
			xAxis : {
            categories: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
          	},
			yAxis: [{
				position: 'left',
			}, {
				type: 'number',
				position: 'right',
				line: null,
				tickLine: null,
				labels: {
					label: {
						x: 12
					}
				},
				title: {
					text: '右边',
					x: 40,
					rotate: 90
				}
			}],
			seriesOptions: { //设置多个序列共同的属性
				lineCfg: { //不同类型的图对应不同的共用属性，lineCfg,areaCfg,columnCfg等，type + Cfg 标示
					smooth: true

				}
			},
			series: [{
				name: '到期会员',
				color: '#4572A7',
				type: 'column',
				yAxis: 1,
				data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
				suffix: ' mm'

			},{
				name: '续费会员',
				color: '#00FF00',
				type: 'column',
				yAxis: 1,
				data: [29.9, 31.5, 106.4, 149.2, 12.0, 136.0, 155.6, 148.5, 116.4, 294.1, 95.6, 54.4],
				suffix: ' mm'

			},{
				name: '到期同比',
				color: '#89A54E',
				type: 'line',
				data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
				suffix: '%'
			},{
				name: '续费环比',
				color: '#FF1493',
				type: 'line',
				data: [7, 6, 9.5, 34.5, 28.2, 24.5, 25.2, 26.5, 23.3, 38.3, 33.9, 39.6],
				suffix: '%'
			}]

		});

		chart.render();
	</script>
	<script type="text/javascript">
		$("#search").select2({
			allowClear: true,
			placeholder: "选择部门"
		});
		$("#search").select2("val", "");
		$("#searchCity").select2({
			allowClear: true,
			placeholder: "选择年份"
		});
		$("#searchCity").select2("val", "");
	</script>
</block>