article{ background:#f5f5f5}
.headbf{width: 100%;background: #fff;padding-top:0.15rem;padding-bottom:0.1rem;margin-bottom: 0.12rem;}
.headbf .headbfkz{width: 94%;margin: 0 auto;}
.headbf .headbfkz .titlems{color: #333;font-size: 0.18rem;font-weight: bold;}
.headbf .headbfkz .headnr{text-align: justify;font-size: 0.13rem;color: #999;margin-top: 0.1rem;}
.xgtanli{width: 100%;background: #fff;padding-top:0.15rem;padding-bottom:0.1rem;margin-bottom: 0.06rem;}
.xgtanli .xgtanli_kz{width: 94%;margin:0 auto;}
.xgtanli .xgtanli_kz .xgtj_title{border-left: 0.03rem solid #333;font-weight: bold;color: #333;
	height:0.15rem;line-height: 0.15rem;padding-left: 0.05rem;}
.xgtanli .xgtanli_kz .xgtjjies{font-size: 0.13rem;color: #999;text-align: justify;margin-top: 0.05rem;}
.xgtanli .tujikz{width: 94%;overflow:hidden;margin: 0 auto;}
.xgtanli .tujikz ul{overflow: hidden;margin-top: 0.1rem;}
.xgtanli .tujikz ul li{display: inline-block;float: left;width: 1.4rem;height: 0.85rem;margin-right: 0.1rem;}
.xgtanli .tujikz ul li img{width: 100%;height: 100%;}
.articlekz{width: 100%;background: #fff;overflow: hidden;}
.articlekz .wenzcenter{width: 94%;margin: 0 auto;}
.articlekz .wenzcenter .wenztitle{border-left: 0.03rem solid #333;font-weight: bold;color: #333;
	height:0.15rem;line-height: 0.15rem;padding-left: 0.05rem;margin-top: 0.05rem;}
.articlekz .wenzcenter .wenzzhuti{font-size: 0.13rem;color: #999;text-align: justify;margin-top: 0.05rem;}
.articlekz .wenzcenter ul{overflow:hidden;}
.articlekz .wenzcenter ul li{margin: 0.125rem 0;overflow: hidden;border-bottom: 0.1rem solid #fff;}
.articlekz .wenzcenter ul li a{overflow: hidden;display: inline-block;width: 100%;}
.articlekz .wenzcenter ul li a img{display: inline-block;width: 1.06rem;height:0.76rem;float: left;}
.articlekz .wenzcenter ul li a .wenzms{display: inline-block;float: left;width: calc(100% - 1.06rem);overflow: hidden;
	height: 0.76rem;padding-left: 0.1rem;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.articlekz .wenzcenter ul li a .wenzms .wenms_title{font-size: 0.13rem;color: #333;float: left;
	display: block;overflow: hidden;}
.articlekz .wenzcenter ul li a .wenzms .wenms_js{font-size: 0.12rem;color: #999;overflow: hidden;text-overflow: ellipsis;
white-space:nowrap;display: inline-block;clear: both;margin-top: 0.23rem;width: 100%;}