article{ background:#f5f5f5}
.zxwlbj{width: 100%;height:5.47rem;background: url(../img/meituzxwl.jpg) no-repeat;
background-size: 100% 100%;overflow: hidden;}
.zxwlbj .qipao{overflow: hidden;}
.zxwlbj ul.qipao li{font-size:0.11rem;margin: 0.2rem 0;background: #131432;color: #fff;opacity: 0;padding-left: 0.15rem;
box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin-left: 0.05rem;}
.zxwlbj ul.qipao li:first-child{width: 1.735rem;height:0.4rem;line-height: 0.4rem;
	background: url(../img/Dialog-box01.png) no-repeat;background-size: 100% 100%;}
.zxwlbj ul.qipao li:nth-child(2){width: 1.51rem;height:0.4rem;line-height: 0.4rem;
	background: url(../img/Dialog-box02.png) no-repeat;background-size: 100% 100%;}
.zxwlbj ul.qipao li:nth-child(3){width: 2.8rem;height:0.4rem;line-height: 0.4rem;
	background: url(../img/Dialog-box03.png) no-repeat;background-size: 100% 100%;}
.zxwlbj ul.qipao li:nth-child(4){width: 2.8rem;height:0.4rem;line-height: 0.4rem;
	background: url(../img/Dialog-box03.png) no-repeat;background-size: 100% 100%;}
.zxwlbj ul.qipao li:nth-child(5){width: 3rem;height:0.4rem;line-height: 0.4rem;
	background: url(../img/Dialog-box04.png) no-repeat;background-size: 100% 100%;}
.zxwlbj .kaiqizx{width: 94%;margin: 0 auto;background: #ff5353;color: #fff;text-align: center;
display: block;border-radius: 5px;padding: 0.122rem 0;font-size: 0.17rem;margin-top: 1.4rem;}