<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="renderer" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="mobile-agent" content="format=html5;url=http://{:C('MOBILE_DONAMES')}/" />
        <title>{$head.title}</title>
        <meta name="keywords" content="{$head.keywords}" />
        <meta name="description" content="{$head.description}" />
        <link rel="canonical" href="http://{:C('QZ_YUMINGWWW')}{$_SERVER['REQUEST_URI']}"/>
        <include file="Index:resource" />
        <link rel="stylesheet" type="text/css" href="/assets/common/plugin/bxslider/bxslider.css?v={:C('STATIC_VERSION')}">
        <link rel="stylesheet" type="text/css" href="/assets/home/video/css/index_p2101.css?v={:C('STATIC_VERSION')}" />
    </head>

    <body>
        <include file="Index:header" />
        <div class="bread"></div>
        <div class="banner">
            <div class="banner_list">
                <div class="wrap">
                    <div class="banner_tab" id="iewin_box_bg">
                        <div class="tab_list">
                            <p class="tab_active">
                                <a href="http://www.qizuang.com/video/v537.html" target="_blank">设计师大揭秘，这些事装修前一定要做好！</a>
                            </p>
                            <p>
                                <a href="http://www.qizuang.com/video/v462.html" target="_blank">网购装修材料顺序，请按照这一份装修方案进行购买哦！</a>
                            </p>
                            <p>
                                <a href="http://www.qizuang.com/video/v281.html" target="_blank">齐装网装修讲堂 ：如何装修既有品质又省钱</a>
                            </p>
                            <p>
                              <a href="http://www.qizuang.com/video/v308.html" target="_blank">【装修福利】设计师详解90㎡小三房装修案例</a>
                            </p>
                            <p>
                               <a href="http://www.qizuang.com/video/v215.html" target="_blank"> 五招帮你解决装修中的难题</a>
                            </p>
                            <p>
                                <a href="http://www.qizuang.com/video/v226.html" target="_blank">【装修知识】收房验房的具体流程你知道多少？</a>
                            </p>
                        </div>
                    </div>
                </div>
                <ul id="banner_ul">
                    <li style="display: block;">
                        <a href="http://www.qizuang.com/video/v537.html" target="_blank">
                            <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/video_banner_1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.qizuang.com/video/v462.html" target="_blank">
                            <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/video_banner_2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.qizuang.com/video/v281.html" target="_blank">
                            <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/video_banner_3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.qizuang.com/video/v308.html" target="_blank">
                            <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/video_banner_4.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.qizuang.com/video/v215.html" target="_blank">
                            <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/video_banner_5.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.qizuang.com/video/v226.html" target="_blank">
                            <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/video_banner_6.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrap clearfix">
            <div class="hot_rec">
                <ul>
                    <volist name="likes" id="vo">
                        <li>
                            <div class="rec_box">
                              <div class="rec_img">
                                  <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" >
                                   <div class="video_mask windowbg">
                                       <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a>
                                   </div>

                               </div>
                                <div class="rec_bottom">
                                    <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><p class="rec_tit">{$vo.title}</p></a>
                                    <p class="rec_desc">
                                        浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" data-id="{$vo.id}" class="dianzan" style="width:14px; height:14px;"><span>{$vo.likes}</span></span>
                                        <em>{$vo.time|date="Y-m-d", ###}</em>
                                    </p>
                                </div>
                                <div class="hot_text">热门</div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>

            <!--装修扫盲-->
            <div class="video_part saomang">
                <div class="video_part_tit">
                    <h3 data-href="" data-value="3">装修扫盲</h3>
                    <span data-href="http://{:C('QZ_YUMINGWWW')}/video/hetong/" data-value="10">合同签订</span>/<span  data-href="http://{:C('QZ_YUMINGWWW')}/video/zengjian/" data-value="11">装修增减项</span>/<span  data-href="http://{:C('QZ_YUMINGWWW')}/video/maoni/" data-value="12">装修猫腻</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/changjian/" data-value="13">常见问题</span>/
                    <a href="http://{:C('QZ_YUMINGWWW')}/video/zhuangxiusm/" target="_blank" class="flMore">查看全部</a>

                </div>
                <div class="video_list_box">
                    <ul class="zxsmChild">
                        <volist name="zxsmData" id="vo">
                            <li>
                                <div class="img_box">
                                    <div class="rec_img">
                                        <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" >
                                        <div class="video_mask windowbg">
                                            <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="rec_bottom">
                                        <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><p class="rec_tit">{$vo.title}</p></a>
                                        <p class="rec_desc">
                                            浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" data-id="{$vo.id}" class="dianzan" style="width:14px; height:14px;"><span>{$vo.likes}</span></span>
                                            <em>{$vo.time|date="Y-m-d", ###}</em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
                <a class="seeMore" href="http://{:C('QZ_YUMINGWWW')}/video/zhuangxiusm/" target="_blank">
                    查看更多<span>装修扫盲</span>
                </a>
            </div>

            <!--装修设计-->
            <div class="video_part sheji">
                <div class="video_part_tit">
                    <h3 data-href="" data-value="1">装修设计</h3>
                    <span data-href="http://{:C('QZ_YUMINGWWW')}/video/kongjian/" data-value="1">空间利用</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/dongxian/" data-value="2">动线设计</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/anli/" data-value="3">案例分享</span>/
                    <a href="http://{:C('QZ_YUMINGWWW')}/video/zhuangxiusj/" target="_blank" class="flMore">查看全部</a>

                </div>
                <div class="video_list_box">
                    <ul class="zxsjChild">
                        <volist name="zxsjData" id="vo">
                            <li>
                                <div class="img_box">
                                    <div class="rec_img">
                                        <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" >
                                        <div class="video_mask windowbg">
                                            <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="rec_bottom">
                                        <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><p class="rec_tit">{$vo.title}</p></a>
                                        <p class="rec_desc">
                                            浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" data-id="{$vo.id}" class="dianzan" style="width:14px; height:14px;"><span>{$vo.likes}</span></span>
                                            <em>{$vo.time|date="Y-m-d", ###}</em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
                <a class="seeMore" href="http://{:C('QZ_YUMINGWWW')}/video/zhuangxiusj/" target="_blank">
                    查看更多<span>装修设计</span>
                </a>
            </div>

                <img src="//{:C('QINIU_DOMAIN')}/pc/assets/home/video/img/link_banner.png" alt="" class="link_banner" onclick="open_pic_chat()">

            <!--局部设计-->
            <div class="video_part jubu">
                <div class="video_part_tit">
                    <h3 data-href="" data-value="2">局部设计</h3>
                    <span data-href="http://{:C('QZ_YUMINGWWW')}/video/keting/" data-value="4">客厅</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/weishengjian/" data-value="5">卫生间</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/chufang/" data-value="6">厨房</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/yangtai/" data-value="7">阳台</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/woshi/" data-value="8">卧室</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/jubuqita/" data-value="9">其他</span>
                    /
                    <a href="http://{:C('QZ_YUMINGWWW')}/video/jubuzx/" target="_blank" class="flMore">查看全部</a>

                </div>
                <div class="video_list_box">
                    <ul class="jbsjChild">
                        <volist name="jbsjData" id="vo">
                            <li>
                                <div class="img_box">
                                    <div class="rec_img">
                                        <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" >
                                        <div class="video_mask windowbg">
                                            <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="rec_bottom">
                                        <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><p class="rec_tit">{$vo.title}</p></a>
                                        <p class="rec_desc">
                                            浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" data-id="{$vo.id}" class="dianzan" style="width:14px; height:14px;"><span>{$vo.likes}</span></span>
                                            <em>{$vo.time|date="Y-m-d", ###}</em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
                <a class="seeMore" href="http://{:C('QZ_YUMINGWWW')}/video/jubuzx/" target="_blank">
                    查看更多<span>局部设计</span>
                </a>
            </div>


            <!--选材导购-->
            <div class="video_part daogou">
                <div class="video_part_tit">
                    <h3 data-href="" data-value="4">选材导购</h3>
                    <span data-href="http://{:C('QZ_YUMINGWWW')}/video/cailiao/" data-value="14">装修材料</span>/<span data-href="http://{:C('QZ_YUMINGWWW')}/video/ruanzhuang/" data-value="15">软装搭配</span>/
                    <a href="http://{:C('QZ_YUMINGWWW')}/video/xuancaidg/" target="_blank" class="flMore">查看全部</a>
                </div>
                <div class="video_list_box">
                    <ul class="xcdgChild">
                        <volist name="xcdgData" id="vo">
                            <li>
                                <div class="img_box">
                                    <div class="rec_img">
                                        <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" >
                                        <div class="video_mask windowbg">
                                            <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="rec_bottom">
                                        <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><p class="rec_tit">{$vo.title}</p></a>
                                        <p class="rec_desc">
                                            浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" data-id="{$vo.id}" class="dianzan" style="width:14px; height:14px;"><span>{$vo.likes}</span></span>
                                            <em>{$vo.time|date="Y-m-d", ###}</em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
                <a class="seeMore" href="http://{:C('QZ_YUMINGWWW')}/video/xuancaidg/" target="_blank">
                    查看更多<span>选材导购</span>
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <include file="Index/footer" />
        <script type="text/javascript" src="{$cityfile}"></script>
        <script src="/assets/home/video/js/index_p2101.js?v={:C('STATIC_VERSION')}"></script>

        <script>
            var shen = null,shi = null;
            shen = citys["shen"];
            shi = citys["shi"];

            //获取装修扫盲下分类的数据
            $(".saomang .video_part_tit span").click(function(){
                var cid = $(this).attr("data-value");
                var result = "";
                var that=this;
                $.ajax({
                    url : "/video/",
                    type : "GET",
                    data : {pid : '3', cid : cid},
                    success : function(data){
                        if(data.status == 1){
                            var data = data.data;
                            for(var i=0; i<data.length; i++){
                                result = result + '<li><div class="img_box"><div class="rec_img"><img src="http://staticqn.qizuang.com/' + data[i].cover_img + '" alt="" >' +
                                    '<div class="video_mask windowbg"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a></div></div><div class="rec_bottom"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><p class="rec_tit">' + data[i].title + '</p></a>' +
                                    '<p class="rec_desc"> 浏览量：<span>' + data[i].pv + '</span> <span><img class="dianzan" data-id="' + data[i].id + '" src="/assets/home/video/img/heart.png" style="width:14px; height:14px"><span>' + data[i].likes + '</span></span><em>' + data[i].time + '</em></p></div></div></li>';
                            }
                        }

                        $(that).addClass("tit_active");
                        $(that).siblings().removeClass("tit_active");
                        $(".zxsmChild").html(result);
                        $(".saomang .seeMore").attr("href",$(that).data("href"));
                        $(".saomang .seeMore span").text($(that).text());
                    }
                });
            });


            //获取装修设计下分类的数据
            $(".sheji .video_part_tit span").click(function(){
                var cid = $(this).attr("data-value");
                var result = "";
                var that=this;
                $.ajax({
                    url : "/video/",
                    type : "GET",
                    data : {pid : '1', cid : cid},
                    success : function(data){
                        if(data.status == 1){
                            var data = data.data;
                            for(var i=0; i<data.length; i++){
                                result = result + '<li><div class="img_box"><div class="rec_img"><img src="http://staticqn.qizuang.com/' + data[i].cover_img + '" alt="" >' +
                                    '<div class="video_mask windowbg"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a></div></div><div class="rec_bottom"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><p class="rec_tit">' + data[i].title + '</p></a>' +
                                    '<p class="rec_desc"> 浏览量：<span>' + data[i].pv + '</span><span><img class="dianzan" data-id="' + data[i].id + '" src="/assets/home/video/img/heart.png" style="width:14px; height:14px"><span>' + data[i].likes + '</span></span><em>' + data[i].time + '</em></p></div></div></li>';
                            }
                        }

                        $(that).addClass("tit_active");
                        $(that).siblings().removeClass("tit_active");
                        $(".zxsjChild").html(result);
                        $(".sheji .seeMore").attr("href",$(that).data("href"));
                        $(".sheji .seeMore span").text($(that).text());
                    }
                });
            });


            //获取局部装修下分类的数据
            $(".jubu .video_part_tit span").click(function(){
                var cid = $(this).attr("data-value");
                var result = "";
                var that=this;
                $.ajax({
                    url : "/video/",
                    type : "GET",
                    data : {pid : '2', cid : cid},
                    success : function(data){
                        if(data.status == 1){
                            var data = data.data;
                            for(var i=0; i<data.length; i++){
                                result = result + '<li><div class="img_box"><div class="rec_img"><img src="http://staticqn.qizuang.com/' + data[i].cover_img + '" alt="" >' +
                                    '<div class="video_mask windowbg"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a></div></div><div class="rec_bottom"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><p class="rec_tit">' + data[i].title + '</p></a>' +
                                    '<p class="rec_desc"> 浏览量：<span>' + data[i].pv + '</span><span><img class="dianzan" data-id="' + data[i].id + '" src="/assets/home/video/img/heart.png" style="width:14px; height:14px"><span>' + data[i].likes + '</span></span><em>' + data[i].time + '</em></p></div></div></li>';
                            }
                        }

                        $(that).addClass("tit_active");
                        $(that).siblings().removeClass("tit_active");
                        $(".jbsjChild").html(result);
                        $(".jubu .seeMore").attr("href",$(that).data("href"));
                        $(".jubu .seeMore span").text($(that).text());
                    }
                });
            });


            //获取选材导购下分类的数据
            $(".daogou .video_part_tit span").click(function(){
                var cid = $(this).attr("data-value");
                var result = "";
                var that=this;
                $.ajax({
                    url : "/video/",
                    type : "GET",
                    data : {pid : '4', cid : cid},
                    success : function(data){
                        if(data.status == 1){
                            var data = data.data;
                            for(var i=0; i<data.length; i++){
                                result = result + '<li><div class="img_box"><div class="rec_img"><img src="http://staticqn.qizuang.com/' + data[i].cover_img + '" alt="" >' +
                                    '<div class="video_mask windowbg"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt=""></a></div></div><div class="rec_bottom"><a href="http://{:C(\'QZ_YUMINGWWW\')}/video/v' + data[i].id + '.html" target="_blank"><p class="rec_tit">' + data[i].title + '</p></a>' +
                                    '<p class="rec_desc"> 浏览量：<span>' + data[i].pv + '</span><span><img class="dianzan" data-id="' + data[i].id + '" src="/assets/home/video/img/heart.png" style="width:14px; height:14px"><span>' + data[i].likes + '</span></span><em>' + data[i].time + '</em></p></div></div></li>';
                            }
                        }

                        $(that).addClass("tit_active");
                        $(that).siblings().removeClass("tit_active");
                        $(".xcdgChild").html(result);
                        $(".daogou .seeMore").attr("href",$(that).data("href"));
                        $(".daogou .seeMore span").text($(that).text());
                    }
                });
            });



            $(function(){
                bannerSlide(".banner_list ul li",".tab_list p",5000);

                $(".banner_win").click(function(event) {
                    var href=$(this).data("href");
                });

               $("body").on("click", ".dianzan",function(event) {
                    var num=parseInt($(this).next().text());
                    var id=$(this).data("id");
                    var classname=$(this).attr("src");
                    var that=this;
                    //点赞
                    if(classname=="/assets/home/video/img/heart.png"){

                        $.ajax({
                            url:"/video/likeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart1.png");
                                    $(that).css("color","#ff5353");
                                    $(that).next().text(++num);
                                }
                            }
                        });
                    }else{
                        //取消点赞
                        $.ajax({
                            url:"/video/nolikeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart.png");
                                    $(that).css("color","#666");
                                    $(that).next().text(--num);
                                }
                            }
                        });
                    }
                });


                $(".rec_box").hover(function() {
                   $(this).children('.rec_img').children(".video_mask").css("display","block");


                }, function() {
                    $(this).children('.rec_img').children(".video_mask").css("display","none")
                });

            })


        </script>
    </body>
</html>