<extend name="Index:basic"/>
<block name="meta">
<title>{$info.head.title}</title>
<meta name="keywords" content="{$info.head.keywords}">
<meta name="description" content="{$info.head.description}">
<link rel="canonical" href="http://{:C('QZ_YUMINGWWW')}/video/v{$info.info.id}.html"/>
</block>
<block name="style">
<link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/essay_base.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zxgl-talk.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" type="text/css" href="/assets/home/video/css/gl_essay.css?v={:C('STATIC_VERSION')}">
<link href="{$static_host}/assets/common/css/step.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="content">
<div class="wrap clearfix">
    <ul class="breads">
        <li><a href="http://{:C('QZ_YUMINGWWW')}/gonglue/">装修攻略</a></li>
        <li>> <a href="http://{:C('QZ_YUMINGWWW')}/video/{$info.link}/">{$info.type}</a></li>
        <!--<li>> <a href="javascript:void(0)">{$info.info.title}</a></li>-->
        <li>> <a href="javascript:void(0)">正文</a></li>
    </ul>
    <div class="left-sider" id="Q-nav">
        <div class="gl_cap">
            <div class="gl_cap_img">
                <if condition="$info['info']['logo'] eq ''">
                    <img src="http://{:C('QINIU_DOMAIN')}/{$info.info.tlogo}-w240.jpg" alt="{$info.info.tname}">
                <else/>
                    <img src="http://{:C('QINIU_DOMAIN')}/{$info.info.logo}-w240.jpg" alt="{$info.info.author}">
                </if>
            </div>
            <i>本期讲师:<if condition="$info['info']['author'] eq ''">{$info.info.tname}<else/>{$info.info.author}</if></i>
        </div>
        <div class="lingqu">
            <div class="lq-text">
                <img src="/assets/home/video/img/wenzi1.png" alt="设计与报价">
            </div>
            <a href="javascript:void(0)">
                <img src="/assets/home/video/img/dianji1.png" alt="设计与报价">
            </a>
        </div>
        <!--报价表单-->
        {$info.orderTmp}
        <eq name="info.tags" value="4">
            <!--通过eq条件，暂时隐藏此处标签，seo需求，20160824-->
            <div class="gl_biaoqian">
                <span class="gl_ess_tle">热门标签</span>
                <ul class="clearfix">
                    <li>
                        <volist name="info.tags" id="vo">
                            <a href="http://{:C('QZ_YUMINGWWW')}/tags/gonglue{$vo.id}" target="_blank" title="{$vo.name}">{$vo.name}</a>
                        </volist>
                    </li>
                </ul>
            </div>
        </eq>
        {$info.hlBaoJia}
        
    </div>

    <div class="right-sider">
        <!--主体内容-->
        <div class="main">
            <div class="gl_tle">
                <h1>{$info.info.title}</h1>
            </div>
            <div class="gl_tm">
                <span>{$info.info.time|date="Y-m-d H:i:s",###}</span>
                <span>浏览量: {$info.info.pv}</span>
                <span> 分享:</span>
                <div class="bdsharebuttonbox gl_fx">
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"> </a>
                    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                </div>
                <div class="gl_d">
                    <a data-id="{$info.info.id}" href="javascript:void(0)" class="like-btn">
                        <span class="gl_xh">
                            <i class="fa fa-heart"></i>&nbsp;<em>{$info.info.likes}</em>
                        </span>
                    </a>
               </div>
            </div>
            <div class="gl_print">
                <div id="videoplay">
                    <embed src="{$info.info.url}" height="480" width="900" loop=true autostart="true" quality="high" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"/>
                </div>
            </div>
            <div class="gl_tb">
                <empty name="info.prev">
                    <span class="gl_f_left">上一视频: <a href="javascript:void(0)">已经是第一个视频了</a></span>
                <else />
                    <span class="gl_f_left">
                        上一视频: <a href="/video/v{$info.prev.id}.html">{$info.prev.title}</a>
                    </span>
                </empty>
                <empty name="info.next">
                    <span class="gl_f_right">下一视频: <a href="javascript:void(0)">已经是最后一个视频了</a></span>
                <else />
                    <span class="gl_f_right">
                        下一视频: <a href="/video/v{$info.next.id}.html">{$info.next.title}</a>
                    </span>
                </empty>
            </div>
            <div class="gl_js">
                <p>本期的主要内容:</p>
                <span>{$info.info.description}</span>
            </div>
        </div>
        <div class="gl_lunbo clearfix">
            <p class="hk">看过的还在看</p>
            <div class="designer">
                <div id="disigner" class="scroll-img">
                    <ul>
                        <volist name="info.recommend" id="vo">
                            <li>
                                <img src="http://{:C('QINIU_DOMAIN')}/{$vo.cover_img}-w240.jpg" alt="{$vo.title}">
                                <a  href="javascript:void(0)" class="comp-name">{$vo.title}</a>
                                <a href="/video/v{$vo.id}.html" class="gl_mask"></a>
                            </li>
                        </volist>
                    </ul>
                </div>
                <div id="disigner-btn" class="text-center">
                    <div id="disigner-backward"></div>
                    <div id="disigner-forward"></div>
                </div>
            </div>
        </div>
        <div class="sp_hf">
            <a rel="nofollow" href="/zhaobiao/" target="_blank">
                <img src="/assets/home/video/img/hf3.png" alt="招标与设计">
            </a>
        </div>
        <!-- 评论 -->
        <div class="tk-l">
            {$reply}
            <notempty name="comments">
                <div class="tk-list">
                    <div class="list-mod clearfix">
                        <div class="mod-main">
                            {$comments}
                            <div class="main-msg">
                               <div class="pl_more">
                               <p><a rel="nofollow" href="http://{:C('QZ_YUMINGWWW')}/video/{$info.info.id}/more-review/" target="_blank"> >> 查看更多评论</a></p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </notempty>
        </div>
    </div>
</div>
<include file="Common@Friendlink/index"/>
</block>
<block name="script">
<script type="text/javascript" src="/assets/home/index/js/jquery.scrollbox.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/common/js/initcomment.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/home/zixun/js/my.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/home/video/js/index.js?v={:C('STATIC_VERSION')}"></script>
<script>
    //<!--轮播-->
    $(document).ready(function(){
        $('.like-btn').click(function(){
            $(this).unbind("click");
            $(this).find('span').addClass('like-bg');
            $(this).find('em').text({$info.info.likes}+1);
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/video/likeaction/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    id:id
                }
            })
            .done(function(data) {
            })
            .fail(function(xhr) {
            })
        });
        $('#disigner').scrollbox({
            direction: 'h',
            distance: 189
        });
        $('#disigner-backward').click(function () {
            $('#disigner').trigger('backward');
        });
        $('#disigner-forward').click(function () {
            $('#disigner').trigger('forward');
        });
        window._bd_share_config=
        {"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    })
</script>
</block>
