<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="renderer" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="mobile-agent" content="format=html5;url=http://{:C('MOBILE_DONAMES')}/" />
        <title>{$videoInfo.title}-齐装网装修讲堂</title>
        <meta name="keywords" content="" />
        <meta name="description" content="{$videoInfo.longdescription}" />
        <link rel="canonical" href="http://{:C('QZ_YUMINGWWW')}{$_SERVER['REQUEST_URI']}/"/>
        <include file="Index:resource" />
        <link rel="stylesheet" type="text/css" href="/assets/common/plugin/bxslider/bxslider.css?v={:C('STATIC_VERSION')}">
        <link rel="stylesheet" type="text/css" href="/assets/home/video/css/videolist.css?v={:C('STATIC_VERSION')}" />
        <link rel="stylesheet" type="text/css" href="/assets/home/video/css/videodetail.css?v={:C('STATIC_VERSION')}">
        <link rel="stylesheet" type="text/css" href="/assets/home/video/css/zxgl-talk.css?v={:C('STATIC_VERSION')}">
    </head>
    <body>
        <include file="Index:header"/>
        <!--下面2行为了隐藏360自动填充用户名和密码表单-->
    　　<input type="text" name="name" id="aaa" style="visibility: hidden;" />
    　　<input type="password" name="password" id="aba" style="visibility: hidden;" />
        <div class="bread">
            <div class="wrap">
                <a href="/">首页</a>><a href="/gonglue/">装修攻略</a>>装修讲堂
            </div>
        </div>
        <div class="bg_video">
            <div class="center_bg wrap">
                <div class="video_box">
                    <div class="play_box">
                       <div class="video_mb">
                            <img src="http://staticqn.qizuang.com/{$videoInfo.cover_img}" alt="" class="video_img" data-href="{$videoInfo.url}">
                            <img src="/assets/home/video/img/playIcon.png" alt="" class="video_icon">
                        </div>
                        <div class="shadow_box"></div>
                        <div class="video_info_top">
                            <div class="video_name">
                                {$videoInfo.title}
                            </div>
                            <div class="video_tool">

                               <span class="tooitem"><img src="/assets/home/video/img/eye.png" style="padding-right: 9px;"/>{$videoInfo.pv}</span>

                               <span class="tooitem" style="padding-left: 24px;"><img src="/assets/home/video/img/white_heart.png" class="dianzan1" data-id="{$videoInfo.id}" style="margin-top: 2px;margin-right: 8px; width:20px; height:18px;"/><span>{$videoInfo.likes}</span></span>

                               <span class="tooitem" style="padding-left: 27px;">
                                   <img src="/assets/home/video/img/share.png" alt=""  style="margin-top: 2px;">
                               </span>

                                <div class="bdsharebuttonbox gl_fx">
                                    <a href="#" class="bds_more" data-cmd="more">&nbsp;&nbsp;&nbsp;</a>
                                    <a href="#" class="bds_qzone hidden" data-cmd="qzone" title="分享到QQ空间"></a>
                                    <a href="#" class="bds_tsina hidden" data-cmd="tsina" title="分享到新浪微博"></a>
                                    <a href="#" class="bds_tqq hidden" data-cmd="tqq" title="分享到腾讯微博"> </a>
                                    <a href="#" class="bds_renren hidden" data-cmd="renren" title="分享到人人网"></a>
                                    <a href="#" class="bds_weixin hidden" data-cmd="weixin" title="分享到微信"></a>
                                </div>
                            </div>
                        </div>
                        <div class="shipin">
                            <embed class="play_embed" src="{$videoInfo.url}" height="479px" width="891px" loop="true" autostart="true" quality="high"  allowfullscreen="true" mode="transparent" type="application/x-shockwave-flash" flashvars ="isAutoPlay=true"/>
                        </div>

                    </div>

                    <div class="jiangshi">
                        <div class="center_js">
                            <div class="jsicon"><if condition="$videoInfo.logo NEQ ''"><img src="http://staticqn.qizuang.com/{$videoInfo.logo}" alt="" id="author_logo"><else />
                                <img src="/assets/home/video/img/xiaolu.png" ></if></div>
                            <div class="jsname">本期讲师：<span id="author_name"><if condition="$videoInfo.author NEQ ''">{$videoInfo.author}<else />小鹿老师</if></span></div>
                            <div class="askher" onclick="open_pic_chat()">找她咨询</div>
                        </div>
                    </div>
                </div>
                <div class="play_list">
                    <div class="prev_veido"><i class="fa fa-angle-left"></i></div>
                    <if condition="$lastThreeVedioFlag EQ 0">
                        <div class="item_box">
                            <ul id="video_list">
                                <a href="http://www.qizuang.com/video/v{$videoInfo.id}.html">
                                    <li class="video_active" data-href="{$videoInfo.url}" data-index="{$videoInfo.id}"  data-id="{$videoInfo.id}" data-logo="{$videoInfo.logo}" data-author="{$videoInfo.author}">
                                        <div class="item_icon">
                                            <img src="http://staticqn.qizuang.com/{$videoInfo.cover_img}" alt="">
                                        </div>
                                        <div class="item_content">
                                            <h2>{$videoInfo.title}</h2>
                                            <div class="bottom_eye"><img src="/assets/home/video/img/hyeye.png" style="padding-right: 10px;">{$videoInfo.pv}</div>
                                        </div>
                                    </li>
                                </a>

                                <volist name="nextList" id="vo">
                                    <a href="http://www.qizuang.com/video/v{$vo.id}.html">
                                        <li data-href="{$vo.url}" data-id="{$vo.id}" data-logo="{$vo.logo}" data-author="{$vo.author}" data-index="{$videoInfo.id}">
                                            <div class="item_icon">
                                                <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="">
                                            </div>
                                            <div class="item_content">
                                                <h2>{$vo.title}</h2>
                                                <div class="bottom_eye"><img src="/assets/home/video/img/hyeye.png" style="padding-right:10px;">{$vo.pv}</div>
                                            </div>
                                        </li>
                                    </a>
                                </volist>
                            </ul>
                        </div>
                    <else   />
                        <div class="item_box">
                            <ul id="video_list" data-last="1">
                                <volist name="lastThreeVedio" id="vo">
                                    <a href="http://www.qizuang.com/video/v{$vo.id}.html">
                                    <if condition="$videoInfo['id'] EQ $vo['id']">
                                        <li class="video_active" data-href="{$vo.url}" data-id="{$vo.id}" data-logo="{$vo.logo}" data-author="{$vo.author}" data-index="{$videoInfo.id}">
                                    <else />
                                        <li data-href="{$vo.url}" data-id="{$vo.id}" data-logo="{$vo.logo}" data-author="{$vo.author}" data-index="{$videoInfo.id}">
                                    </if>
                                            <div class="item_icon">
                                                <img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="">
                                            </div>
                                            <div class="item_content">
                                                <h2>{$vo.title}</h2>
                                                <div class="bottom_eye"><i class="fa fa-eye"></i>{$vo.pv}</div>
                                            </div>
                                        </li>
                                    </a>
                                </volist>
                            </ul>
                        </div>
                    </if>

                    <div class="next_veido"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>

        </div>

        <div class="wrap">
            <div class="jianjie">
                <h3>简介</h3>
                <div class="jj_text text_sl" data-text="{$videoInfo.longdescription}" data-short="{$videoInfo.description}">
                    <span class="text_box">{$videoInfo.description}</span> <span id="getAll">[展开]</span>
                </div>
                <script>
                    var txtLength= $(".text_sl").data("text");
                    if(txtLength.length<=90){
                        $("#getAll").css("display","none");
                    }else{
                        $(".text_box").append("...")
                    }
                </script>

            </div>

            <div class="noresult">
                <div class="recommend">
                    为你推荐
                </div>
                <ul class="videolist">
                     <volist name="recommend" id="vo">
                         <li>
                             <div class="video_listimg pull-left">
                                 <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html"  target="_blank"><img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" class="video_icon"></a>
                                 <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt="" class="play_icon"></a>
                             </div>
                             <div class="pull-left video_cotnent">
                                 <h3><a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank">{$vo.title}</a></h3>
                                 <div class="host">讲师：<if condition="$vo.author NEQ ''">{$vo.author}<else />小鹿老师</if></div>
                                 <div class="video_detail"><a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank">{$vo.description}[进入视频]</a></div>
                                 <p class="rec_desc">
                                     浏览量：<span>{$vo.pv}</span><span style="display:inline-block; margin-left: 10px;"><img src="/assets/home/video/img/heart.png" class="dianzan" data-id="{$vo.id}" style="float:left;margin-top:3px; margin-right: 5px;width:14px; height: 14px;"><span>{$vo.likes}</span></span>
                                     <em>{$vo.time|date="Y-m-d", ###}</em>
                                 </p>
                             </div>
                         </li>
                     </volist>
                    <div class="no-border"></div>
                </ul>

            </div>

            <!-- 评论 -->
            <div class="tk-l">
                {$reply}
                <notempty name="comments">
                    <div class="tk-list">
                        <div class="list-mod clearfix">
                            <div class="mod-main">
                                {$comments}
                                <div class="main-msg">
                                   <div class="pl_more">
                                   <p><a rel="nofollow" href="http://{:C('QZ_YUMINGWWW')}/video/{$videoInfo.id}/more-review/" target="_blank"> >> 查看更多评论</a></p>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </notempty>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="Index:footer" />
        <script type="text/javascript" src="{$static_host}/assets/common/js/initcomment.js?v={:C('STATIC_VERSION')}"></script>
        <script>

            function urlredirect() {
                    var sUserAgent = navigator.userAgent.toLowerCase();
                    if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
                        // PC跳转移动端
                        var thisUrl = window.location.href;
                        window.location.href = "http://m.qizuang.com/video/"+thisUrl.substring(29, thisUrl.length);

                    }
                }
                urlredirect();


            var shen = null,shi = null;
            shen = citys["shen"];
            shi = citys["shi"];

            /*视频轮播变量*/
            $(function(){
                var videoList=$("#video_list");
                var videoWidth=parseFloat($("#video_list li").width())+12;
                var isLast=$("#video_list").data("last");
                var isFirst="{$dataFirst}";
                if(isFirst==1){
                    $(".prev_veido").css("display","none")
                }
                if(isLast==1){
                    $(".next_veido").css("display","none")
                }
                /*视频轮播*/
                /*初始化按钮*/
                var initIndex=parseInt($("#video_list li").eq(0).attr("data-index"));
                if(initIndex==0){
                    $(".prev_veido").fadeOut();
                }
                var prevable=true,nextable=true;
                $(".prev_veido").click(function(){
                  if(prevable){
                       prevable=false;
                       var left_num=(videoList.css("left")=="auto")?0:videoList.css("left");//s兼容sougou浏览器浏览器浏览器
                       var left_length=Math.abs(parseInt(left_num)/videoWidth);//获取当前向左移动了几个
                       var index=parseInt($("#video_list li").eq(0).attr("data-index"));//第一个子节点的序号
                       if(left_length==0){
                            if(index>0){
                                index--;
                                /*ajax请求成功*/
                                var firstid=$("#video_list li").eq(0).data("id");
                                $.ajax({
                                    url : "/video/getAjaxData/",
                                    type : "GET",
                                    data : {extra: "prev", id : firstid},
                                    beforeSend:function(){
                                        $(".prev_veido").fadeOut(0);
                                    },
                                    success : function(data){
                                        if(data.status == 1){
                                            var data = data.data;
                                            var eleNode = '<a href="http://www.qizuang.com/video/v'+ data.id +'.html"><li data-index="'+data.id+'" data-href="' + data.url + '"  data-id="' + data.id + '" data-logo="' + data.logo + '" data-author="' + data.author + '"><div class="item_icon">' +
                                                '<img src="http://staticqn.qizuang.com/' + data.cover_img + '" alt=""></div><div class="item_content"><h2>' + data.title + '</h2><div class="bottom_eye"><img src="/assets/home/video/img/hyeye.png" style="padding-right:10px">' + data.pv + '</div></div></li></a>';
                                            $("#video_list li").eq(0).before(eleNode);
                                            videoList.css("left",-videoWidth+"px").animate({
                                                left:0,
                                            },200,function(){
                                                $(".prev_veido").fadeIn(0);
                                                $(".next_veido").fadeIn(0);
                                            });
                                        }else{
                                             $(".prev_veido").fadeOut();
                                        }
                                    },
                                });
                            }else{
                                 $(".prev_veido").fadeOut();
                                 $(".next_veido").fadeIn();
                            }
                       }else{
                            left_length--;
                            videoList.animate({
                                    left:-left_length*videoWidth+"px"
                            },200);
                            $(".next_veido").fadeIn();
                       }
                       setTimeout(function(){
                            prevable=true;
                        },200);
                  }
                });

                $(".next_veido").click(function(){
                    if(nextable){
                        nextable=false;
                        var length=$("#video_list li").length;//获取总共个数
                        var index=parseInt($("#video_list li").eq(length-1).attr("data-index"));//最后子节点的序号
                        var left_num=(videoList.css("left")=="auto")?0:videoList.css("left");//s兼容sougou浏览器浏览器浏览器
                        var left_length=Math.abs(parseInt(left_num)/videoWidth);//获取当前向左移动了几个
                        if(left_length<length-3){
                            left_length++;
                            videoList.animate({
                                left:-left_length*videoWidth+"px"
                            },200);
                            $(".prev_veido").fadeIn();
                        }else{
                            left_length++;
                            index++;
                            /*
                            ajax请求数据
                             */
                            var lastid=$("#video_list li").eq(length-1).data("id");
                            $.ajax({
                                url : "/video/getAjaxData/",
                                type : "GET",
                                data : {extra: "next", id : lastid},
                                beforeSend:function(){
                                    $(".next_veido").fadeOut(0);
                                },
                                success : function(data){
                                    if(data.status == 1){
                                        var data = data.data;
                                        var eleNode = '<a href="http://www.qizuang.com/video/v'+ data.id +'.html"><li data-href="' + data.url + '" data-index="'+data.id+'" data-id="' + data.id + '" data-logo="' + data.logo + '" data-author="' + data.author + '"><div class="item_icon">' +
                                            '<img src="http://staticqn.qizuang.com/' + data.cover_img + '" alt=""></div><div class="item_content"><h2>' + data.title + '</h2><div class="bottom_eye"><img src="/assets/home/video/img/hyeye.png" style="padding-right:10px;">' + data.pv + '</div></div></li></a>';
                                        $("#video_list").append(eleNode);

                                        videoList.animate({
                                            left:-left_length*videoWidth+"px"
                                        },200,function(){
                                            $(".next_veido").fadeIn(0);
                                            $(".prev_veido").fadeIn(0);
                                        });
                                    }else{
                                        $(".next_veido").fadeOut();
                                    }
                                },
                            });
                        }
                        setTimeout(function(){
                            nextable=true;
                          },200);
                    }


                });
                videoList.on("click","li",function(){
                    /*var length=$("#video_list li").length;//获取总共个数
                    var left_length=Math.abs(parseInt(videoList.css("left"))/videoWidth);//获取当前向左移动了几个
                    if(length>3){
                        var currIndex=$(this).index();//获取当前所在的位置
                        if(currIndex<length-2){
                            videoList.animate({
                                left:-videoWidth*(currIndex)+"px"
                            },200);
                        }else if(currIndex<length-1){
                             videoList.animate({
                                left:-videoWidth*(currIndex-1)+"px"
                             },200);
                        }
                    }
                    $(this).addClass('video_active');
                    $(this).siblings().removeClass('video_active');
                    var cloneEle=$(".play_embed").clone();
                    cloneEle.attr("src",$(this).data("href"));
                    $(".play_embed").remove();
                    $(".shipin").append(cloneEle);
                    var imgSrc= $(this).children('.item_icon').children('img').attr("src");
                    $(".video_img").attr("src",imgSrc);
                    $(".video_mb").css("display","block");
                    var logoSrc=$(this).data("logo");
                    var author_name=$(this).data("author");
                     if(logoSrc==""){
                        logoSrc="/assets/home/video/xiaolu.png";
                    }
                    if(author_name==""){
                        author_name="小鹿老师";
                    }
                    $("#author_logo").attr("src","http://staticqn.qizuang.com/"+logoSrc);
                    $("#author_name").text(author_name);*/

                });

                $(".video_mb").click(function(){
                    $(this).fadeOut();
                    var cloneEle=$(".play_embed").clone();
                    cloneEle.attr("src",$(this).data("href"));
                    $(".play_embed").remove();
                    $(".shipin").append(cloneEle);
                })


                /*分享*/
                window._bd_share_config=
                    {"common":{"bdSnsKey":{},"bdText":$(".video_name").text().trim()+"-装修视频-齐装网","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];


                $("body").on("click", ".dianzan",function(event) {
                    var num=parseInt($(this).next().text());
                    var id=$(this).data("id");
                    var classname=$(this).attr("src");
                    var that=this;
                    //点赞
                    if(classname=="/assets/home/video/img/heart.png"){

                        $.ajax({
                            url:"/video/likeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart1.png");
                                    $(that).css("color","#ff5353");
                                    $(that).next().text(++num);
                                }
                            }
                        });
                    }else{
                        //取消点赞
                        $.ajax({
                            url:"/video/nolikeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart.png");
                                    $(that).css("color","#666");
                                    $(that).next().text(--num);
                                }
                            }
                        });
                    }
                });

                 $("body").on("click", ".dianzan1",function(event) {
                    var num=parseInt($(this).next().text());
                    var id=$(this).data("id");
                    var classname=$(this).attr("src");
                    var that=this;
                    //点赞
                    if(classname=="/assets/home/video/img/white_heart.png"){
                        $.ajax({
                            url:"/video/likeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart1.png");
                                    $(that).css("color","#ff5353");
                                    $(that).next().text(++num);
                                }
                            }
                        });
                    }else{
                        //取消点赞
                        $.ajax({
                            url:"/video/nolikeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/white_heart.png");
                                    $(that).css("color","#666");
                                    $(that).next().text(--num);
                                }
                            }
                        });
                    }
                });

                var all=true;
                $("#getAll").click(function(event) {
                    var longText=$(".text_sl").data("text");
                    var shortText=$(".text_sl").data("short");
                     if(all){
                        $(".text_box").text(longText);
                        $(this).text("[收起]");
                     }else{
                        $(".text_box").text(shortText);
                        $(this).text("[展开]");
                        $(".text_box").append("...");
                     }
                     all=!all;

                });

            })
            $(".area_text").on("input propertychange", function() {
                var $this = $(this),
                    _val = $this.val(),
                    count = "";
                if (_val.length > 200) {
                    $this.val(_val.substring(0, 200));
                }
                count = 20 - $this.val().length;
                $("#text-count").text(count);
            });
        </script>
    </body>