<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="renderer" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="mobile-agent" content="format=html5;url=http://{:C('MOBILE_DONAMES')}/" />
        <title>{$head.title|default='专业的装饰装修公司门户网站'}</title>
        <meta name="keywords" content="{$head.keywords|default='装修网，装修公司，装饰公司，装修报价'}" />
        <meta name="description" content="{$head.description|default='齐装网专业的家居装饰装修门户网站，汇集全国具有性价比的装饰公司，为您和业内提供装修设计、装修公司、装修流程、装修知识等内容，让您的装修更安心！'}" />
        <link rel="canonical" href="http://{:C('QZ_YUMINGWWW')}{$_SERVER['REQUEST_URI']}"/>
        <include file="Index:resource" />
        <link rel="stylesheet" type="text/css" href="/assets/common/plugin/bxslider/bxslider.css?v={:C('STATIC_VERSION')}">
        <link rel="stylesheet" type="text/css" href="/assets/home/video/css/videolist.css?v={:C('STATIC_VERSION')}" />
    </head>

    <body>
        <include file="Index:header" />
        <div class="bread">
            <div class="wrap">
                <a href="/">首页</a>><a href="/gonglue/">装修攻略</a>>装修讲堂
            </div>
        </div>
        <div class="wrap">
            <div class="select_part">
               <ul>
                   <li class="type_name">设&nbsp;&nbsp;&nbsp;&nbsp;计：</li>
                   <li class="select_item active_select sel_10"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/zhuangxiusj/">全部</a></li>
                   <li class="select_item sel_11"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/kongjian/">空间利用</a></li>
                   <li class="select_item sel_12"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/dongxian/">动线设计</a></li>
                   <li class="select_item sel_13"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/anli/">案例分享</a></li>
               </ul>
               <ul>
                   <li class="type_name">局部装修：</li>
                   <li class="select_item active_select sel_20"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/jubuzx/">全部</a></li>
                   <li class="select_item sel_24"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/keting/">客厅</a></li>
                   <li class="select_item sel_25"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/weishengjian/">卫生间</a></li>
                   <li class="select_item sel_26"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/chufang/">厨房</a></li>
                   <li class="select_item sel_27"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/yangtai/">阳台</a></li>
                   <li class="select_item sel_28"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/woshi/">卧室</a></li>
                   <li class="select_item sel_29"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/jubuqita/">其他</a></li>
               </ul>
               <ul>
                   <li class="type_name">装修扫盲：</li>
                   <li class="select_item active_select sel_30"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/zhuangxiusm/">全部</a></li>
                   <li class="select_item sel_310"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/hetong/">合同签订</a></li>
                   <li class="select_item sel_311"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/zengjian/">装修增减项</a></li>
                   <li class="select_item sel_312"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/maoni/">装修猫腻</a></li>
                   <li class="select_item sel_313"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/changjian/">常见问题</a></li>
               </ul>
                <ul>
                   <li class="type_name">选材导购：</li>
                   <li class="active_select select_item sel_40"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/xuancaidg/">全部</a></li>
                   <li class="select_item sel_414"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/cailiao/">装修材料</a></li>
                   <li class="select_item sel_415"><a href="http://{:C('QZ_YUMINGWWW')}{$url}/ruanzhuang/">软装搭配</a></li>
               </ul>
               <ul>
                   <li class="type_name">其&nbsp;&nbsp;&nbsp;&nbsp;他：</li>
                   <li class="select_item active_select sel_50"><a href="http://{:C('QZ_YUMINGWWW')}/video/videolist/">全部</a></li>
               </ul>
            </div>
            <script>
                var className=".sel_"+'{$selectClassPid}'+'{$selectClassCid}';
                $(className).addClass('active_select').siblings('.select_item').removeClass('active_select');
            </script>
        </div>
        <div class="wrap">

            <!--筛选有结果-->
            <if condition="$noresult EQ 0">
                <ul class="videolist">
                    <volist name="result.list" id="vo">
                        <li>
                                <div class="video_listimg pull-left">
                                    <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" class="video_icon"></a>
                                    <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt="" class="play_icon"></a>
                                </div>
                            <div class="pull-left video_cotnent">
                                <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><h3>{$vo.title}</h3></a>
                                <div class="host">讲师：<if condition="$vo.author NEQ ''">{$vo.author}<else />小鹿老师</if></div>
                                <div class="video_detail"><a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank">{$vo.description}[进入视频]</a></div>
                                <p class="rec_desc">
                                    浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" class="dianzan" data-id="{$vo.id}"><span>{$vo.likes}</span></span>
                                    <em>{$vo.time|date="Y-m-d",###}</em>
                                </p>
                            </div>
                        </li>
                    </volist>
                    <div class="no-border"></div>
                </ul>
            </if>

            <!--筛选无结果-->
            <if condition="$noresult EQ 1">
                <div class="noresult">
                    <div class="noresult_img">
                        <img src="/assets/home/video/img/no-record.png" alt="">
                    </div>
                    <div class="recommend">
                        为你推荐
                    </div>
                    <ul class="videolist">
                        <volist name="result.list" id="vo">
                            <li>
                                <div class="video_listimg pull-left">
                                    <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="http://staticqn.qizuang.com/{$vo.cover_img}" alt="" class="video_icon"></a>
                                    <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><img src="/assets/home/video/img/playIcon.png" alt="" class="play_icon"></a>
                                </div>
                                <div class="pull-left video_cotnent">
                                    <a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank"><h3>{$vo.title}</h3></a>
                                    <div class="host">讲师：<if condition="$vo.author NEQ ''">{$vo.author}<else />小鹿老师</if></div>
                                    <div class="video_detail"><a href="http://{:C('QZ_YUMINGWWW')}/video/v{$vo.id}.html" target="_blank">{$vo.description}[进入视频]</a></div>
                                    <p class="rec_desc">
                                        浏览量：<span>{$vo.pv}</span><span><img src="/assets/home/video/img/heart.png" class="dianzan" data-id="{$vo.id}"><span>{$vo.likes}</span></span>
                                        <em>{$vo.time|date="Y-m-d",###}</em>
                                    </p>
                                </div>
                            </li>
                        </volist>
                        <div class="no-border"></div>
                    </ul>
                </div>
            </if>

        </div>

        <!--分页-->
        {$result.page}
        <br>
        <br>

        <include file="Index:footer" />

        <script>
            var shen = null,shi = null;
            shen = citys["shen"];
            shi = citys["shi"];
            $(function(){
                 $("body").on("click", ".dianzan",function(event) {
                    var num=parseInt($(this).next().text());
                    var id=$(this).data("id");
                    var classname=$(this).attr("src");
                    var that=this;
                    //点赞
                    if(classname=="/assets/home/video/img/heart.png"){

                        $.ajax({
                            url:"/video/likeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart1.png");
                                    $(that).css("color","#ff5353");
                                    $(that).next().text(++num);
                                }
                            }
                        });
                    }else{
                        //取消点赞
                        $.ajax({
                            url:"/video/nolikeAction/",
                            data:{id:id},
                            type:"post",
                            success:function(data){
                                if(data.status==1){
                                    $(that).attr("src","/assets/home/video/img/heart.png");
                                    $(that).css("color","#666");
                                    $(that).next().text(--num);
                                }
                            }
                        });
                    }
                });
            })
        </script>
    </body>