@charset "utf-8";

/**
 *
 * CSS File,created by kevin.he, on 11.10 2014
 * 
 * 最后编辑人：sisi.yuan  (每次修改本文件)
 * 
 * 可重用Class:  [container]
 *
 * ie9下兼容样式，请分别加上ielt9,ielt8,ielt7等父级前缀
 * 
 * 窄版Body增加Class:  narrow_980
 *
 */

a {
	color: #333;
}

a:hover {
	color: #f25618;
}


/*--问吧主人态和客人态公用样式--start*/

textarea {
	resize: none;
}

.lh32 {
	line-height: 32px;
}

.p20 {
	padding: 20px;
}

.ptbr20 {
	padding: 20px 20px 20px 0;
}

.pbr20 {
	padding: 0px 20px 20px 0;
}

.pt10 {
	padding-top: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pr20 {
	padding-right: 20px;
}

.ml10 {
	margin-left: 10px;
}

.mr30 {
	margin-right: 30px;
}

.ml20 {
	margin-left: 20px;
}

.mt10 {
	margin-top: 10px;
}

.mtb10 {
	margin: 10px auto;
}

.mtb20 {
	margin: 20px auto;
}

.mtb10_ptl20 {
	margin-top: 10px;
	padding: 20px 0 0 20px;
}

.f_c_f36f20 {
	color: #f36f20;
}

.f_c_01af63 {
	color: #01af63;
}

.f_c_ffc619 {
	color: #ffa415;
	font-size: 12px;
}

.b_lc_fc5f00 {
	border-left-color: #fc5f00 !important;
}


/*--问吧主人态和客人态公用样式---end*/

.ask_ico_score,
.ask_ico_search,
.ask_ico_hot,
.ask_ico_quote,
.ask_ico_li,
.ask_num_0,
.ask_num_1,
.ask_num_2,
.ask_num_3,
.ask_num_4,
.ask_num_5,
.ask_num_6,
.ask_num_7,
.ask_num_8,
.ask_num_9,
.ask_ico_state1,
.ask_ico_state2,
.ask_ico_state3,
.ask_ico_index {
	background: url(../img/lefticon.png) no-repeat;
	display: inline-block;
}

.ask_ico_score {
	background-position: -86px -24px;
	margin: 0 4px 0 10px;
	vertical-align: middle;
	width: 16px;
	height: 18px;
}

.ask_ico_search {
	width: 14px;
	height: 13px;
}

.ask_ico_hot {
	padding-left: 3px;
	line-height: 22px;
	color: #fff;
	text-align: center;
	width: 42px;
	height: 25px;
	background-position: 0 -17px;
	margin-right: 9px;
	float: left;
}

.ask_ico_quote {
	width: 19px;
	height: 16px;
	background-position: -15px 0;
}

.ask_ico_li {
	width: 5px;
	height: 5px;
	background-position: -35px 0;
	vertical-align: middle;
	margin-right: 8px;
}

.ask_num_0,
.ask_num_1,
.ask_num_2,
.ask_num_3,
.ask_num_4,
.ask_num_5,
.ask_num_6,
.ask_num_7,
.ask_num_8,
.ask_num_9 {
	width: 23px;
	height: 30px;
}

.ask_num_0 {
	background-position: 0 -43px;
}

.ask_num_1 {
	background-position: -24px -43px;
}

.ask_num_2 {
	background-position: -48px -43px;
}

.ask_num_3 {
	background-position: -72px -43px;
}

.ask_num_4 {
	background-position: -96px -43px;
}

.ask_num_5 {
	background-position: 0 -74px;
}

.ask_num_6 {
	background-position: -24px -74px;
}

.ask_num_7 {
	background-position: -48px -74px;
}

.ask_num_8 {
	background-position: -72px -74px;
}

.ask_num_9 {
	background-position: -96px -74px;
}

.ask_ico_state1,
.ask_ico_state2,
.ask_ico_state3 {
	width: 22px;
	height: 22px;
}

.ask_ico_state1 {
	background-position: -47px 0;
}

.ask_ico_state2 {
	background-position: -70px 0;
}

.ask_ico_state3 {
	background-position: -93px 0;
}

.question_state {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	padding: 0 10px 0 15px;
	position: relative;
	border-radius: 0 10px 10px 0;
	margin-left: 18px;
	z-index: -1;
}

.question_state i {
	position: absolute;
	top: 0;
	left: -11px;
}

.question_state1 {
	background-color: #d6f6e8;
	color: #01af63;
}

.question_state2 {
	background-color: #ffead9;
	color: #be895f;
}

.question_state3 {
	background-color: #f8f8f8;
	color: #999;
}

.ask_ico_index {
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.ask_index .ask_type_item .item_hd a .ask_ico_index1 {
	background-position: -2px -1px
}

.ask_index .ask_type_item .item_hd a .ask_ico_index2 {
	background-position: -2px -21px
}

.ask_index .ask_type_item .item_hd a .ask_ico_index3 {
	background-position: -2px -43px
}

.ask_index .ask_type_item .item_hd a .ask_ico_index4 {
	background-position: -2px -66px
}

.ask_index .ask_type_item .item_hd a .ask_ico_index5 {
	background-position: -2px -86px
}

.ask_index .ask_type_item .item_hd a .ask_ico_index6 {
	background-position: -2px -109px;
}

.col3_1 {
	width: 190px;
	float: left;
	margin-right: 20px;
}

.col3_2 {
	width: 760px;
	float: left;
}

.col3_3 {
	width: 240px;
	float: right
}

.col2_1 {
	width: 720px;
	float: left;
}

.col2_2 {
	width: 244px;
	float: right;
}

.ask_side {
	border: 1px solid #eee;
	padding: 0 19px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.ask_side .side_hd {
	font-size: 18px;
	color: #333;
	padding: 14px 0;
}

.ask_side .side_hd em {
	padding-left: 6px;
	font-size: 12px;
}

.ask_side .side_hd2 {
	color: #999;
}

.ask_side_opa {
	margin-bottom: 20px;
}

.ask_side_opa a {
	display: block;
	width: 240px;
	height: 130px;
	margin-bottom: 20px;
}

.container {
	padding-top: 20px;
}


/* 问答首页[[ */
.ask_index .zxbj-calc-wrap {
	margin-bottom: 20px;
}

.ask_index .ask_type {
	border: 1px solid #eee;
	padding: 0 20px;
	position: relative;
	overflow: hidden;
	height: 780px;
}

.ask_index .ask_type_item {
	border-top: 1px dotted #eee;
	margin-top: 0px;
	padding: 8px;
	background-color: #fff;
	width: 138px;
	position: absolute;
}

.ask_index .ask_type_item .item_hd {
	height: 24px;
	font-size: 14px;
	font-weight: normal;
}

.ask_index .ask_type_item .item_hd a {
	color: #000;
}

.ask_index .ask_type_item .item_bd {
	zoom: 1;
	width: 138px;
	margin-top: 5px;
}

.ask_index .ask_type_item .item_bd:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

.ask_index .ask_type_item .type_lnk {
	color: #666;
	float: left;
	margin-right: 9px;
	line-height: 24px;
	white-space: nowrap;
}

.ask_index .ask_type_item .type_lnk:hover {
	color: #ff565d;
}

.ask_search {
	height: 90px;
	background-color: #f8f8f8;
	margin-bottom: 15px;
}

.ask_search_bd {
	padding: 20px;
	height: 50px;
}

.ask_search .search_input {
	width: 602px;
	float: left;
	height: 50px;
	position: relative;
}

.ask_search .search_input .ask_ico_search {
	position: absolute;
	top: 19px;
	left: 20px;
}

.ask_search .search_input .text {
	padding: 12px 20px 12px 42px;
	border: 2px solid #01af63;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	width: 536px;
}

.ask_search .search_input .txt_lbl {
	position: absolute;
	color: #bbb;
	font-size: 14px;
	left: 42px;
	top: 15px;
}

.ask_search .search_btn {
	display: block;
	width: 118px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	background-color: #01af63;
	float: left;
	text-align: center;
}

.ask_sec {
	margin-bottom: 34px;
}

.ask_sec .sec_hd {
	border-bottom: 1px solid #eee;
	zoom: 1;
	padding-bottom: 8px;
}

.ask_sec .sec_hd:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

.ask_sec .sec_hd h2 {
	font-size: 24px;
	font-weight: normal;
	color: #333;
	float: left;
}

.ask_sec .sec_hd .hd_lnk {
	float: right;
	margin-top: 15px;
	color: #999;
}

.ask_sec .sec_hd .hd_lnk:hover {
	color: #f25618;
}

.ask_sec .sec_bd {
	zoom: 1;
}

.ask_sec .sec_bd:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

.ask_seca .sec_bd {
	padding-top: 20px;
}

.ask_seca .seca_bdl {
	display: block;
	width: 379px;
	height: 298px;
	float: left;
	position: relative;
}

.ask_seca .seca_bdl .seca_bdl_info {
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.75);
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 15px;
	width: 349px;
	z-index: 2;
}

.ask_seca .seca_bdl .ie_bg {
	height: 40px;
	background-color: #000;
	opacity: 0.75;
	filter: alpha(opacity=75);
	z-index: 1;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	display: none;
	display: block\9;
}

.ask_seca .seca_bdl .ie_bg:not(sisi) {
	display: none;
}

.ask_seca .seca_bdr {
	width: 362px;
	float: right;
}

.ask_seca .seca_bdr_top .top_hd a {
	font-size: 16px;
	display: inline-block;
	width: 305px;
	float: left;
}

.ask_seca .seca_bdr_top .top_bd {
	border-bottom: 1px dotted #e8e8e8;
	line-height: 20px;
	padding: 20px 0 20px 26px;
	height: 64px;
	overflow: hidden;
}

.ask_seca .seca_bdr_top .top_bd .ask_ico_quote {
	float: left;
	margin-left: -26px;
}

.ask_seca .seca_bdr_list li {
	border-bottom: 1px dotted #e8e8e8;
	padding: 10px 0;
}

.ask_seca .seca_bdr_list li a {
	display: block;
	width: 100%;
	font-size: 14px;
}

.ask_secb .sec_bd li {
	width: 50%;
	float: left;
	padding-top: 20px;
}

.ask_secb .sec_bd .secb_img {
	float: left;
	display: block;
	width: 155px;
	height: 107px;
}

.ask_secb .sec_bd .secb_info {
	width: 205px;
	float: left;
	color: #999;
	margin-left: 10px;
}

.ask_secb .sec_bd .secb_info a {
	display: block;
	width: 100%;
	font-size: 14px;
	margin-bottom: 5px;
}

.ask_secb .sec_bd .secb_info_des {
	margin-top: 10px;
	height: 56px;
	overflow: hidden;
}

.ask_secc .sec_bd {
	overflow: hidden;
}

.ask_secc .sec_bd ul {
	width: 760px;
}

.ask_secc .sec_bd li {
	width: 370px;
	float: left;
	padding: 18px 0;
	border-bottom: 1px dotted #e8e8e8;
}

.ask_secc .sec_bd li.one {
	margin-right: 20px;
}

.ask_secc .sec_bd .secc_lihd {
	border-left: 3px solid #01af63;
	height: 16px;
	line-height: 16px;
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 6px;
}

.ask_secc .sec_bd .secc_libd {
	zoom: 1;
	color: #999;
}

.ask_secc .sec_bd .secc_libd:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

.ask_secc .sec_bd .secc_lians {
	float: left;
	width: 290px;
}

.ask_secc .sec_bd .secc_litime {
	float: right;
}

.ask_secc .sec_bd .company_lnk {
	display: inline-block;
	width: 56px;
	float: left;
	margin-right: 7px;
}

.ask_secc .sec_bd .question_lnk {
	display: inline-block;
	width: 260px;
	color: #01af63;
	float: right;
	*margin-top: -16px;
}

.ask_secc .sec_bd .question_lnk:hover {
	color: #f25618;
}

.ask_secd .sec_bd li {
	float: left;
	width: 50%;
	padding-top: 20px;
}

.ask_secd .sec_bd .answer_num {
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	background-color: #01af63;
	float: left;
}

.ask_secd .sec_bd .answer_num em {
	display: block;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	height: 16px;
	padding-top: 2px;
}

.ask_secd .sec_bd .answer_info {
	width: 300px;
	float: left;
	margin: 0 20px;
	color: #999;
}

.ask_secd .sec_bd .answer_info a {
	display: block;
	font-size: 14px;
	width: 100%;
	margin-bottom: 3px;
}

.ask_mod_fb {
	padding-bottom: 20px;
}

.ask_mod_fb .side_hd {
	padding-bottom: 0;
}

.ask_mod_fb .side_hd2 {
	margin-bottom: 16px;
	margin-top: 2px;
}

.ask_mod_fb .mod_form_wide .text {
	width: 178px;
}

.ask_mod_fb .side_bd {
	width: 200px;
	overflow: hidden;
}

.ask_side .company_rank li {
	zoom: 1;
	border-top: 1px dotted #e8e8e8;
	padding: 16px 0;
}

.ask_side .company_rank li:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

.ask_side .company_rank .rank_num {
	float: left;
	padding-left: 6px;
	width: 29px;
	font-size: 24px;
	font-family: arial;
	color: #bbb;
	line-height: 57px;
}

.ask_side .company_rank .rank_img {
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	border: 1px solid #eee;
}

.ask_side .company_rank .rank_name {
	width: 90px;
	float: right;
	color: #999;
}

.ask_side .company_rank .rank_name a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
}

.ask_side .designer_rank .rank_img {
	border: none;
	position: relative;
	width: 60px;
	height: 60px;
}

.ask_side .designer_rank .rank_img img {
	border-radius: 30px;
}

.ask_side .designer_rank .rank_img .ico_crown {
	position: absolute;
	right: 0;
	top: 0;
}

.ask_side .designer_rank .rank_name {
	margin-top: 9px;
}

.ask_side .new_tag {
	overflow: hidden;
	border-top: 1px dotted #e8e8e8;
	padding: 20px 0;
}

.ask_side .new_tag {
	margin-bottom: 10px;
	line-height: 22px;
}

.ask_side .new_tag a {
	display: inline-block;
	color: #999;
	height: 22px;
	line-height: 22px;
	padding-right: 22px;
}

.ask_side.spceil {
	padding-right: 0;
}

.ask_side .new_tag a:hover {
	color: #f25618;
}

.ask_side .new_tag .sep {
	vertical-align: middle;
	display: inline-block;
	width: 1px;
	height: 13px;
	background-color: #e2e2e2;
	margin: 0 12px;
}

.ask_user {
	padding: 20px 19px;
}

.ask_user .ask_user_top {
	height: 112px;
}

.ask_user .user_log {
	overflow: hidden;
}

.ask_user .user_img {
	display: block;
	width: 60px;
	height: 60px;
	float: left;
}

.ask_user .user_img img {
	border-radius: 30px;
}

.ask_user .user_name {
	width: 115px;
	float: left;
	margin-left: 20px;
	color: #999;
	margin-top: 8px;
}

.ask_user .user_name a {
	display: block;
	font-size: 14px;
	width: 100%;
	margin-bottom: 4px;
}

.ask_user .ask_user_btn {
	margin-top: 16px;
}

.ask_user .ask_user_btn a {
	display: block;
	font-size: 14px;
	text-align: center;
}

.ask_user .ask_user_btn .btn_ask {
	float: left;
	width: 90px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	background-color: #f36f20;
}

.ask_user .ask_user_btn .btn_ask:hover {
	background-color: #e7691e;
	color: #fff;
}

.ask_user .ask_user_btn .btn_answer {
	border: 1px solid #f36f20;
	color: #e7691e;
	height: 38px;
	line-height: 38px;
	float: right;
	width: 88px;
}

.ask_user .user_data {
	width: 230px;
	margin-top: 12px;
}

.ask_user .user_data a {
	display: block;
	float: left;
	border-left: 1px solid #e5e5e5;
	width: 66px;
	text-align: center;
}

.ask_user .user_data a em {
	color: #999;
	display: block;
}

.ask_user .user_data a.user_data_first {
	margin-left: -1px;
}

.ask_user .user_unlog {
	padding-top: 25px;
}

.ask_user .user_unlog i {
	display: inline-block;
	*margin-right: 3px;
}

.ask_user .user_unlog .answer_sum {
	width: 208px;
	margin-left: -3px;
	text-align: center;
	font-size: 100%;
	display: inline-block;
}

.ask_user .user_unlog .answer_num_des {
	font-size: 14px;
	text-align: center;
	color: #747474;
	margin-top: 14px;
}


/* 问答首页]] */


/* 问答分类[[ */

.ask_class .mod_tab_hd ul {
	width: 721px;
}

.ask_class .ask_classtab .mod_tab_bd {
	padding: 15px 15px 5px;
}

.ask_class .ask_classtab .class_lnk {
	display: inline-block;
	padding: 0 8px;
	height: 18px;
	line-height: 18px;
	color: #666;
	margin-bottom: 10px;
	margin-right: 15px;
}

.ask_class .ask_classtab .class_lnk:hover {
	color: #f25618;
}

.ask_class .ask_classtab .class_lnk_on {
	background-color: #01af63;
	color: #fff;
}

.ask_class .ask_classtab .class_lnk_on:hover {
	color: #fff;
}

.ask_class .ask_classtab {
	margin-bottom: 14px;
}


/* 问答分类]] */


/* 问题列表[[ */

.question_list li {
	border-bottom: 1px dotted #e8e8e8;
	padding: 20px 0 18px;
}

.question_list .question_hd {
	height: 20px;
	line-height: 20px;
	border-left: 3px solid #01af63;
	padding-left: 10px;
}

.question_list .question_hd a {
	font-size: 18px;
	display: inline-block;
	float: left;
	max-width: 618px;
}

.question_list .question_hd a.col_l {
	max-width: 460px;
}

.question_list .question_hd .question_state {
	float: left;
}

.question_list .question_bd {
	width: 100%;
	margin: 14px 0 8px;
}

.question_list .question_ft {
	color: #999;
}

.question_list .question_ft .ans_num {
	color: #f36f20;
}

.ielt8 .question_list .question_hd a {
	line-height: 24px;
}





