body {font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;}
.bodybg {background: #fafafa;padding-bottom:10px;}
.kefu-bg{ background:url(sc_bg.jpg); height:530px;}
.kefu-bg1{ background:url(sc_banner.jpg); height:130px;}
.kefu-wrap{ position:relative;width:1000px;margin:0 auto;}
.kefu-boxs{ -webkit-filter:none;filter:none; height:430px; width:1000px; border-radius:20px; background:rgba(255,255,255,.8);  position:absolute; top:-480px; left:0; box-shadow:0 0 10px rgba(0,0,0,.2); overflow:hidden}
.kefu-nav li{font-size:26px; text-align:center; height:430px; box-sizing:border-box; padding-top:100px; float:left }
.kefu-nav li a{ display:block;height:430px; }
.kefu-nav li a:hover{text-decoration: none}
.kefu-nav i{ font-size:100px; display:block; height:150px; line-height:150px}
.kefu-nav i.iconfont{ line-height:160px}
.kefu-nav li:hover{  background:rgba(255,255,255,.4);}
.kefu-cow2 li{ width:50%}
.kefu-cow3 li{ width:33.333333333333333333333333333333%}
.kefu-cow5 li{ width:20%}
.kefu-nav li:nth-of-type(1) i{ color:#0CD191}
.kefu-nav li:nth-of-type(2) i{ color:#2CAFD0}
.kefu-nav li:nth-of-type(3) i{ color:#7F6FAF}
.kefu-nav li:nth-of-type(4) i{ color:#E579C0}
.kefu-nav li:nth-of-type(5) i{ color:#F15555}

.qa-main{ background:#fff; margin:30px 0;box-shadow:0 0 10px rgba(0,0,0,.05); padding:20px; font-size:18px}
.qa-main i{ margin-right:5px}
.qa-main dl dt{ line-height:40px; height:40px}
.qa-main dl dt i{ color:#FF4649;font-size:22px}
.qa-main dl dd i{ color:#aaa;}
.qa-main dl dd{ font-size:14px; border-bottom:1px dashed #eee; padding-bottom:10px; margin-bottom:50px}

#kefuson{ position:relative; overflow:hidden}
#kefuson .returnbtn{ background:#008DE7; border-radius:2px; cursor:pointer; color:#fff; line-height:30px; padding:0 30px; bottom:30px; right:50px;position:absolute}
#kefuson .returnbtn:hover{ background: #186FB7}
#kefuson ul{ display:none}

.page,.page a {font-size:12px;}

/*Ãæ°üÐ¼*/
.bread {line-height:30px; height:30px; margin-bottom:20px}
.bread a {font-size:16px;font-weight: 100;font-family:Microsoft YaHei;}