.titledd{font-size: 18px;padding: 15px 20px;display: inline-block;}
.heat_nav{background:#fff;height: 50px;line-height: 50px;margin-bottom: 16px;border-top:2px solid #ccc; }
.navli{display: inline-block;margin-bottom: 0;height: 100%;padding: 0;}
.navli li{float:left;list-style: none;border-right: 1px solid #e4e4e4;}
.navli li.first_ms{padding-left: 18px;padding-right: 60px;font-size: 18px;}
.navli li a{display: inline-block;padding: 0 30px;color: #333;}
.active{background: #ececec;}
.tjquery{height: 35px;line-height: 35px;font-size: 16px;padding-left: 18px;border-bottom: 1px solid #c9c9c9;}

.timelayer{padding-left: 18px;height: 60px;line-height: 60px;}
.timelayer .zujian{display: inline-block;height: 30px;line-height:30px;margin-right: 20px;}
.timelayer input{outline: none;height: 100%;}
.timelayer .searchcx{width: 76px;height: 30px;line-height: 30px;text-align: center;padding: 0;
background: #169bd5;color: #fff;border-radius: 5px;outline: none;}

.table th,.table td{width: 1%;vertical-align: middle !important;text-align: center;}
.table,.table tr th,.table tr td { border:1px solid #797979 !important;background: #fff;padding: 7px 0;}
.table {text-align: center; border-collapse: collapse;}

.dibufenye{text-align: center;}
.dibufenye li .suoyoujil{margin-left: 20px;}
.dibufenye .tiaozhuanyes{position: relative;top: 1px;margin-left: 5px;}
.dibufenye .tiaozhuanyes input{width: 40px;height: 30px;outline: none;margin: 0 5px;}
.dibufenye .surequed{float: right;margin-left: 5px;display: inline-block}
.dibufenye .surequed a{border-radius: 5px;background: #00cccc;color: #fff;}
.dibufenye .surequed a:hover{background: #00cccc;color: #fff;cursor: pointer;}

.tanchaungwk {
    overflow: hidden;
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    width: 700px;
    height: 766px;
    border: 1px solid #797979;
    color: #797979;
    z-index: 999;
    padding: 40px;
}

.tanchaungwk .closegb {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 26px;
    background: #f2f2f2;
    line-height: 26px;
    text-align: center;
    border: 1px solid #797979;
    color: #797979;
    border-top: 0 !important;
    border-right: 0 !important;
    cursor: pointer;
}

.tancdetail {
    width: 625px;
    height: 650px;
    overflow-y: scroll;
    margin-top: 35px;
    border: 1px solid #797979;
}

.tabletitle {
    position: absolute;
    top: 0px;
    text-align: left;
    width: 100%;
    left: 0px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #797979;
    text-indent: 1em;
}

.tancdetail table {
    width: 100%;
    border: 0 !important;
}

.tancdetail table tr td {
    height: 30px;
    line-height: 30px;
    padding: 5px;
}

.tancdetail table .leftborder {
    border-left: 0 !important;
}

.tancdetail table .rightborder {
    border-right: 0 !important;
}

.tancdetail table .tdtitle {
    border-left: 0 !important;
    border-right: 0 !important;
}

.tancdetail table .topborder {
    border-top: 0 !important;
}

.toumingdubj {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(94, 94, 94, 0.3);
    display: none;
}