.titledd{font-size: 18px;padding: 15px 20px;}
.title_ms{margin-top: 20px;margin-left: 30px;font-size: 16px;font-weight: bold;}
.waik{overflow: hidden;}
.part{height: 170px;border:1px solid #797979;margin-left: 200px;margin-top: 45px;text-align: center;
cursor: pointer;}
.part a{display: inline-block;width: 100%;height: 100%;overflow: hidden;color: #333;}
.part p{font-size:16px;}
.part p.topp{margin-top: 57px;margin-bottom: 20px;}
.foot_ms{margin-top: 220px;margin-left: 30px;font-size: 16px;clear: both;color: #ff5353;}