#chart {
    height: 360px;
}
table th, table tr{
    vertical-align: middle !important;
}

.item-parent{
    width: 80px;
}

.item-children{
    width: 140px;
}

.list-form table td{
    border: 1px solid #ddd;
}