.zxplay{ width:660px; height:384px; float:left}

.zxtright{ width:526px; height:429px; float: right;border:2px solid #f1f1f1; margin-top:25px}
.zxtright .tit{background:url(/assets/home/zixun/img/naxin.png) no-repeat #F1F1F1 35px 10px; width:235px; height:50px; border:1px solid #f1f1f1; font-size:18px; font-weight:bold; font-family:"Microsoft YaHei"; line-height:50px; padding-left:75px; margin:0 auto; margin-top:-25px; border-radius:25px; behavior: url(../css/ie-css.htc);}
.zxtright ul{ padding-top:4px}
.zxtright li { width:488px; padding:15px 20px; overflow:hidden}
.zxtright li .limg{ width:60px; height:60px; border-radius:35px; float:left; overflow: hidden; border:5px #f1f1f1 solid; margin-right:10px}
.zxtright li:hover { background:#f1f1f1}
.zxtright li:hover .limg{ border:5px #ea3d3d solid; }
.zxtright li .limg img{ width:100%; height:100%}
.zxtright li h1{ line-height:25px; font-size:14px}
.zxtright li span{ float:left; width:400px; line-height:20px; color:#888}

#container { width: 660px;position: relative; z-index: 0; }
#example { width: 660px;position: relative; }
#ribbon { position: absolute; top: -3px; left: -15px; z-index: 500; }

#slides { position: absolute;z-index: 100; background:#f1f1f1 }

.slides_container { width: 660px; overflow: hidden; position: relative; display: none; }

.slides_container div.slide { width: 660px; height: 384px; display: block; }

#slides .prev { position: absolute; top: 110px; left: 0px; width: 57px; height: 70px; display: block; z-index: 101; background:url(/assets/common/pic/prev.png) no-repeat }
#slides .next {position: absolute; top: 110px;  width: 57px; height: 70px; display: block; z-index: 101;  right:0px; background:url(/assets/common/pic/next.png) no-repeat}
#slides .next:hover{ background:url(/assets/common/pic/next1.png) no-repeat}
#slides .prev:hover{ background:url(/assets/common/pic/prev1.png) no-repeat}

.pagination { width: 100px; display:none }
.pagination li { float: left; margin: 0 1px; list-style: none; }
.pagination li a { display: block; width: 12px; height: 0; padding-top: 12px;  background-position: 0 0; float: left; overflow: hidden; }
.pagination li.current a { background:#F30 }

.caption { z-index: 500; position: absolute; bottom: -80px; left: 0; height:40px; width:620px; padding:20px 20px;  line-height:20px; color: #3c3c3c; color:#555}
.caption h1{ font-size:16px;font-family:"Microsoft YaHei";}
.caption p{ height:20px; overflow:hidden}

.yezbot{ height:50px; margin-top:20px; border:2px dashed #f1f1f1; background:url(/assets/home/zixun/img/bg1.jpg) no-repeat; width:656px; float:left}
.yezbot a{ background:url(/assets/home/zixun/img/yuy.png) #f15252 no-repeat 10px 0px; display:block; height:30px; line-height:30px; float:right; border-radius:15px; padding-left:30px; color:#fff; text-align: center; width:100px; font-weight:bold; margin-top:10px; margin-right:20px}.yezbot a:hover{ background-color: #FE4347; text-decoration:none}

.tab {
position: relative;
width: 1210px;
overflow: hidden;
font-family: Arial;
margin-top:30px
}
.tab-nav {
height: 116px;
overflow: hidden;
background: url(/assets/home/zixun/img/zxstepbg.png) no-repeat 0 86px;
padding:0 144px;
padding-bottom:20px;

}
.tab-nav a {
display: block;
float: left;
width: 156px;
height: 116px;
line-height: 80px;
text-align: center;
text-decoration: none;
color: #999;
padding:0 68px;
position:relative

}
.tab-nav a img{ display:block; margin:0 auto;
transition:all 0.5s;
-moz-transition:all 0.5s; /* Firefox 4 */
-webkit-transition:all 0.5s; /* Safari and Chrome */
-o-transition:all 0.5s; /* Opera */}
.tab-nav a i{ display:block; width:26px; height:26px; border:3px dotted #ea3d3d; border-radius:16px; background:#fff; position:absolute; bottom:0; left:129px}
.tab-nav a.current {
}
.tab-nav a.current i{  border:3px solid #ea3d3d; border-radius:16px; background: #ea3d3d;
}
.tab-nav a.current img{  margin-top:15px;}
.tab-con {
position: relative;
width: 1210px;
height: 400px;
overflow: hidden;
}
.tab-con-item {
display: none;
width: 1210px;

}
.tab-con-item .tabtips{ text-align:center; padding-right:30px; overflow:hidden}
.tab-con-item .tabtips a{  margin-right:20px;line-height:30px; display:inline-block; border-radius:15px; height:30px; color:#3c3c3c; background:#f1f1f1; padding:0 20px; border:1px solid #eee; behavior: url(../css/ie-css.htc); }
.tab-con-item .tabtips a:hover{ text-decoration:none ;background:#ea3d3d; color:#fff; border:1px solid #de3535}
.boxtitle{font-family:"Microsoft YaHei"; border-bottom:2px dotted #eee; height:45px; padding:0 10px}.boxtitle i{ font-size:30px; line-height:45px; float:left}.boxtitle span{ margin-left:20px; color:#888; float:left; margin-top:20px}.boxtitle ul,.boxtitle li{ float:left}.boxtitle li{ margin-left:20px; font-size:14px; margin-top:17px;}


.zxlist{ width:1020px; margin:20px auto; overflow:hidden; height:350px; margin-right:100px}
.zxlist li{ width:225px; height:150px; float:left; overflow:hidden; margin-right:20px;
position:relative; margin-top:15px; padding:4px; border:1px solid #f1f1f1}
.zxlist li h1{font-size:12px; line-height:30px; height:30px; overflow:hidden}
.zxlist li .tu{ background:#ccc; width:225px; height:150px;overflow:hidden}
.zxlist li .tu img{ width:100%; height:100%}
.zxlist li .zxtips{ background:rgba(0,0,0,.6); background:#444\9; height:60px; line-height:30px; color:#fff; padding:0 10px; font-size:12px; position:absolute; width:220px; overflow:hidden; bottom:-30px; left:0;-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
.zxlist li:hover .zxtips{ bottom:0px}
.btlist{ margin-top:20px; width:292px; float:left; height:175px}
.btlist li{ background:url(/assets/common/img/liststyle.gif) no-repeat 2px 7px; line-height:25px; padding-left:20px; width:272px; overflow:hidden}


.btimg{ width:282px;height:175px ; float:left; margin-right:10px; position:relative}
.btimg span{ display:block; position:absolute; bottom:-20px; left:0; height:25px; line-height:25px; padding:0 10px; width:262px; overflow:hidden; text-align:center; color:#fff; background:rgba(0,0,0,.6); background:#444\9; }
.btimg img{ width:100%; height:100%; margin-top:20px;}
.btbox{ width:585px; float:left}


/*************文章详情***************/
.wenzleft{width:930px; float:left; font-family:"Microsoft YaHei";padding: 10px 0;}
.wenzright{width:260px; float:right; font-family:"Microsoft YaHei";}
.wenzrmain{ border:1px solid #eee; width:258px}

.wenzrmain .wenzhot li a{ width:238px; height:150px; display:block; overflow:hidden; padding:10px; position:relative}
.wenzhot li a img{ width:100%; height:100%}
.wenzrmain .wenzhot li a span{ display:block; position:absolute; height:25px; background:rgba(0,0,0,.6); color:#fff; line-height:25px; bottom:10px; width:238px; text-align:center; overflow:hidden}
.wenzrmain .artList {padding:10px;}
.wenzrmain .artList li {line-height:25px;padding-left:15px;height: 25px;background: url(/assets/common/pic/liststyle.gif) no-repeat left center;}

.wenzbanner{width:930px; margin-bottom:10px}
.wenzrtitle{ height:30px; line-height:30px; padding:0 12px; font-size:16px; background:#f1f1f1}
.wenz{ border:1px solid #eee; padding:20px; margin-top:20px}
.wenz dt h1{ font-weight:100; line-height:60px; font-size:2.2em}
.wenz dt .fenx{ height:30px; line-height:30px; border-bottom:1px dashed #eee; margin-bottom:20px}.wenz dt .fenx .fx{ float:right; width:200px}
.wenz dt .fenx .laiy{ float:left; color:#888}
.wenz dd{ line-height:30px; font-size:16px;/* text-indent:32px*/}
.wenz dd  img{ margin:10px auto; display:block; max-width:800px}



.rtel{ float:right; width:240px; background:#fff; height:170px; padding:10px; border-top:2px solid #ed5a6b; text-align:center; font-family:"Microsoft YaHei"; padding-top:20px}
.rtel h1{  font-size:18px; line-height:25px; color:#3c3c3c; font-weight: bold}
.rtel h2{ font-size:14px; line-height:25px; color:#888; }
.rtel .int{ margin-top:10px; overflow:hidden; width:240px; height:32px}
.rtel .int input{ width:218px; border:1px solid #ccc; height:30px; line-height:30px\0; *line-height:30px;text-align:left; display:block; padding:0 5px; height:29px\9;width:228px\9; color: #666;}
.rtel .int a{ display:block; width:228px; line-height:30px; color:#fff; background:#ed5a6b; border:1px solid #ff5868; font-size:14px}
.rtel .int a:hover{ text-decoration:none; color:#fff; background:#de4348}

.wenzmore{ margin-top:50px; font-size:14px; line-height:30px; height:30px; background:#f7f7f7; padding:0 10px}.wenzmore span{ margin-right:20px; display:inline-block}.wenzmore span a{ font-weight:bold}
.wenzright .rtel{float: none;}
.wenzright .adv{text-align: center;}
.plmain { margin-top:20px; border-top:1px solid #eee; overflow:hidden}
.plmain h1{ font-size:14px; line-height:35px; color:#888}
.plmain .userhead{ width:60px; height:60px; float:left }.plmain .userhead img{ width:100%; height:100%;}
.plmain .usersend{ line-height:20px; float:right; width:830px; background:#f7f7f7; padding:10px}
.plmain .usersend .name,.plmain .usersend .timer{ color:#888}
.plold{ overflow:hidden; margin-top:20px}
.plnew{ margin-top:30px; border-top:1px solid #eee}
.allsend{ text-align:center; line-height:30px; margin-top:20px; border:1px dashed #f1f1f1}
.textinput { float:right; width:850px; height:102px}
.textinput .send{ text-align:left; line-height:30px; height:30px; margin-top:10px}
.textinput .send input{text-align: center; border:1px solid #ccc; width:70px; height:26px}
.textinput .send a{padding:0 20px; display:inline-block; background:#de4348; color:#FFF; margin-left:10px}
.textinput .t1{padding-left:3px; resize:none; border:1px solid #ccc; width:844px; line-height:20px; height:58px}
.wenzbq{ padding:10px; overflow:hidden}
.wenzbq li{ float:left; margin-bottom:5px}
.wenzbq li a{ display:block; border-radius:3px; background:#e03c44; color:#fff; height:20px; line-height:20px; padding:0 5px; margin-right:10px}

.wenda {padding-bottom:15px;padding-right:7px; }
.wenda li a {display:block; overflow:hidden; padding:10px 10px 5px 10px;font-size:16px;}
.wenda li a:hover {text-decoration: none}
.wenda li p {line-height:23px;overflow:hidden;padding-left:36px;font-size:13px; color: #999;}
.wenda li span {color:red;}

/***装修流程**/
.le{ width:260px;float:left;font-family:"Microsoft YaHei"; padding-bottom:10px}
.le .tit{ height:40px; background:#eee; font-size:24px; color:#555; text-shadow:1px 1px 1px #fff; line-height:40px; text-align:center;}
.le dt{ height:30px; line-height:30px; border-bottom:1px dotted #f1f1f1; margin:0 10px; padding-left:40px; font-size:18px; margin-top:10px}
.le dl{ border:1px solid #eee; padding:20px; padding-top:0}
.le dd{ height:30px; line-height:30px; margin:0 30px; padding-left:25px; font-size:14px}.le dd.active a{ color:#C00}.le dd:hover,.le dd.active{ padding-left:30px}
.le dt.t1{ background:url(/assets/home/zixun/img/list.png) no-repeat;}
.le dt.t2{ background:url(/assets/home/zixun/img/list.png) 0px -30px no-repeat;}
.le dt.t3{ background:url(/assets/home/zixun/img/list.png) 0px -63px no-repeat;}
.ri{ width:930px; float:right;padding: 10px 0;}


.wzlist{ border-top:1px solid #f1f1f1;margin-bottom: 10px;}
.wzlist li{ position:relative; border:1px solid #f1f1f1; border-top:0; padding:10px 20px; overflow:hidden}
.wzlist li em{  color:#888; height:20px; line-height:20px; width:auto; padding:0 10px; text-align:center; border-radius:10px; float:left; background:#eee; margin-top:5px; margin-right:5px}
.wzlist li em.t1{ background:#f6c500; color:#fff;}
.wzlist li em.t2{background:#0cc66c; color:#fff;}
.wzlist li em.t3{background:#239dfa; color:#fff;}

.wzlist li h1{font-family:"Microsoft YaHei"; font-size:16px; line-height:30px; height:30px; float:left; padding-left:10px; max-width:500px; overflow:hidden}
.wzlist li h1 a{color:#545454}
.wzlist li i{ color:#888; display:block; line-height:20px; max-height:40px; overflow:hidden; width:100%}
.wzlist li span{ position:absolute; right:10px; top:15px; width:150px; text-align:center; background:#f7f7f7; border-radius:5px; height:20px; line-height:20px; color:#ff7a7a}
.wzlist li .sltimg{ height:150px; margin-top:20px; margin-bottom:10px; overflow:hidden}
.wzlist li .sltimg img{ height:100%; width:auto; margin-right:20px}

.uplold{padding:15px; border-color:#faebcc;  text-align:center;color:#666; background:#fcf8e3;}
.uplold > i{display:inline-block; *display:inline}
.uplold > i >i,.uplold > i >em{float: left;}
.uplold > i >i{background:url(/assets/common/img/global.png) no-repeat; width:21px;height:18px;background-position:-8px -123px; display:block;}
.send *{float: left;}
.send .error{color: #DE4348;font-weight: bold; margin-left:10px;font-size: 14px;}
.send .info{float:right; color:#c3c3c3;}
.send .info i{float: none; color:#666;font-size:14px; font-weight:bold; margin:0 3px;}

.send a.verify{margin:0 5px;background-color: #FFF; padding:0;}
.wzlist li.no-item{background:url(/assets/common/img/notfound.jpg) no-repeat;width: 757px; height: 169px; border: 0; }


.de-hot-diary { margin: 0 20px; padding-bottom: 20px ;padding-top:10px;}
.de-hot-diary li { border-bottom: 1px dotted #f1f1f1; padding-bottom: 6px; margin-top: 6px;height:100%; }
.de-hot-diary li a:hover { text-decoration: none; opacity:0.8}
.de-hot-diary li .img {float:left;}
.de-hot-diary li .title {font-size:15px;font-weight:100;font-family:Microsoft YaHei;padding-left:15px;}
.de-hot-diary li img { height: 70px; width:70px; margin-right: 15px; }

.wzlist li i.time{float: left;color: #999;margin-left: 10px; display: inline; width: auto; height: 30px; line-height: 30px;}

.wenz dd.article-footer{text-align: center;color: #999; font-size: 13px;}

