<extend name="Main:baseTemplate" />
<block name="title">
    <title>客服错误项管理 > 新增组</title>
</block>
<block name="style">
    <link rel="stylesheet" href="/assets/home/qc/css/errorItem.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <section class="content-header">
        <div class="box">
            <div class="box-header">
                <table class="head-table">
                    <tr>
                        <td style="text-align: left; padding-left: 10px;"><h4>客服错误项管理&nbsp;>&nbsp
                            <notempty name="row.id">
                                编辑组
                                <else/>
                                新增组
                            </notempty>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
               <table class="edit-table">
                   <tr>
                       <td class="table-name">组名称:</td>
                       <td><input type="text" name="groupname" class="form-control" value="{$row.name}"></td>
                       <input type="hidden" name="groupid" value="{$row.id}">
                   </tr>
               </table>
               <br/>
               <br/>
               <div class="row" style="margin-left: 20px">
                   <div class="col-xs-1">
                       <button class="btn btn-info">&nbsp;&nbsp;确认&nbsp;&nbsp;</button>
                   </div>
                   <div class="col-xs-1">
                       <button class="btn"><a href="/qc/erroritem?type=1">&nbsp;&nbsp;取消&nbsp;&nbsp;</a></button>
                   </div>
               </div>

            </div>
        </div>
    </section>
</block>

<block name="script">
    <script type="text/javascript" src="{:C('168NEW_URL')}/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function(){

            $('.btn-info').click(function(){
                $.ajax({
                    url: '/qc/addErrorGroup/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id: $("input[name=groupid]").val(),
                        name:$("input[name=groupname]").val()
                    }
                })
                    .done(function(data) {
                        if (data.status == '1') {
                            alert( data.info);
                            window.location.href= '/qc/erroritem?type=1';
                        }else{
                            alert( data.info);
                        }
                    });
            })

        })
    </script>
</block>

