.c-blue{
    color: #409eff;
}
.c-purple{
    color: #8e71c7;
}
.c-red{
color:#ff7a7a
}
/*未处理订单提醒部分*/
.simulation-table{
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 0;
}
.simulation-table>div{
    display: table-cell;
    font-size: 14px;
    vertical-align: middle;
}
.order-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity:0.8;
    filter:alpha(opacity=80);
    background: black;
    z-index: 99999;
    display: none;
}
.sign-box-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 940px;
    height: 731px;
    margin: auto;
    opacity:0.8;
    filter:alpha(opacity=80);
    background: black;
    z-index: 9999999;
    display: none;
}
.order-remind-box{
    position: fixed;
    width: 800px;
    min-height: 250px;
    padding:60px 70px 0 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 999999;
    font-size: 14px;
    display: none;
}
.reason-item{
    display: none;
    margin-bottom: 50px;
    margin-top: 28px;
}
.reason-item>div{
    text-align: center;
    position: relative;
}
.reason-item>div span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
}
.reason-item>div:nth-child(even){
    width: 15.33%;
    text-align: left;
}
.reason-item>div:nth-child(odd){
    width: 18%;
}
.order-remind-box .caption{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: normal;
}
.order-remind-box .order-remind-msg{
    text-indent: 2em;
    margin-bottom: 30px;
}
.order-remind-reason{

}
.order-remind-reason .title{
    text-align: right;
    margin-bottom: 12px;
}
.order-remind-reason .title span{
    font-size: 14px;
    color: #FB8920;
    cursor: pointer;
}
.order-remind-items{
    max-height: 383px;
    overflow-y: auto;
    overflow-x: hidden;
}
.order-remind-items .orders{
    border:1px solid #E9E9E9;
    border-bottom: none;
}
.order-remind-items .orders:last-child{
    border-bottom:1px solid #E9E9E9;
}
.order-remind-items .head{
    padding:10px 24px;
    border-bottom: 1px solid #E9E9E9;
    height: 20px;
    line-height: 20px;
    background-color: #F5F5F5;
}
.order-remind-items .head .l{
    float: left;
}
.order-remind-items .head .r{
    float: right;
    text-align: right;
    position: relative;
}
.order-remind-items .head .ques-mark{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.order-remind-items .head .intro{
    position: absolute;
    width: 300px;
    left: -305px;
    top: 31px;
    background-color: white;
    border-radius: 0.5em;
    text-align: left;
    padding: 20px;
    line-height: 1.6;
    box-shadow: -1px 3px 3px grey;
    display: none;
}
.order-remind-items .head .rectangle-rotate{
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 92%;
    box-shadow: 2px 2px 14px grey;
    transform: translateX(-50%) rotate(45deg);
}
.order-remind-items .head .cover{
    position: absolute;
    width: 91%;
    height: 19px;
    top: 0px;
    background-color: white;
}
.order-remind-items .orders-info .owner{
    font-size: 18px;
    font-weight: bold;
    line-height: 3;
    color: #333;
}
.order-remind-items .orders-info .house-info{
    line-height: 2.5;
    white-space: nowrap;
}
.order-remind-items .orders-info .house-info span{
    margin-right: 36px;
}
.order-btn-box{
    text-align: right;
    padding:50px 0px;
}
.order-btn-box button{
    width: 150px;
    line-height: 40px;
    text-align: center;
    margin:0 15px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.order-btn-box .confirm{
    background-color: #E6E6E6;
    color: #999;
}
.order-btn-box .later-again{
    background-color: #999;
    color: white;
}
.order-btn-box .highlight{
    background-color: #FF5353;
    color: white;
}
select[name="order-status"]{
    width: 140px;
    height: 40px;
    line-height: 40px;
    border:1px solid #E5E5E5;
    padding-left: 14px;
}

.unmark-tips{
    color: red;
    margin-top: 20px;
    border:1px solid rgba(228, 228, 228, 1);
    padding:10px;
}
.unmark-tips img{
    vertical-align: text-bottom;
    margin-right: 5px;
}

/*未量房原因弹窗*/
.unmeasure-box{
    width: 549px;
    border:1px solid rgba(204, 204, 204, 1);
    background-color: white;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
    display: none;
}
.unmeasure-box .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.unmeasure-box .head{
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}
.unmeasure-box .rs{
    margin-right: -20px;
}
.unmeasure-box .rs li{
    line-height: 40px;
    width: 120px;
    text-align: center;
    border:1px solid rgba(204, 204, 204, 1);
    float: left;
    margin:0 20px 20px 0;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.unmeasure-box .rs li img{
    position: absolute;
    right: -1px;
    bottom: -1px;
    display: none;
}
.unmeasure-box textarea{
    width: 100%;
    border:1px solid rgba(204, 204, 204, 1);
    outline: none;
}
.unmeasure-box .btn-box{
    margin:20px 0;
    text-align: center;
}
.unmeasure-box .btn-box button{
    padding: 0.8em 1.8em;
    background-color: #CCC;
    text-align: center;
    color: white;
    border-radius: 0.3em;
    margin:0 15px;
    outline: none;
}
.unmeasure-box .btn-box .confirm{
    background-color: green;
}

/*量房状态选择为已签约时的价格和备注输入弹窗*/
.sign-price-box{
    position: fixed;
    width: 360px;
    height: 280px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    border:1px solid #E9E9E9;
    background-color: white;
    z-index: 99999999;
    display: none;
}
.sign-price-box .head{
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
    background-color: #F5F5F5;
    position: relative;
}
.sign-price-box .head .close{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 18px;
    cursor: pointer;
}
.sign-price-box .main{
    padding: 25px;
}
.sign-price-box .main .price, .sign-price-box .main .note{
    margin-bottom: 20px;
}
.sign-price-box .main .price input{
    border:1px solid #E5E5E5;
    outline: none;
    line-height: 35px;
}
.sign-price-box .main .note textarea{
    border:1px solid #E5E5E5;
    outline: none;
    resize: none;
}
.sign-price-box .main .action-area{
    text-align: right;
}
.sign-price-box .main .action-area button{
    line-height: 40px;
    width: 85px;
    outline: none;
    background-color: gray;
    color: white;
    margin: 0 5px;
    cursor: pointer;
}
.sign-price-box .main .action-area .confirm{
    background-color: #f16262;
}
