.month-tab{width:726px;height:460px;float:left;}
.month-tab ul li.tab_main{width:71px;height:460px;float:left;margin-right:1px;overflow: hidden;}
.month-tab .tabclick{width:71px;height:460px;background:#f3d3aa;text-align:center;line-height:460px;float:left;color:#fff;font-size:18px;font-weight:bold;font-family:'Microsoft YaHei';cursor: pointer;margin-right:1px;}
.month-tab .tabclick span{width: 25px;display: block;line-height: 48px;margin: 182px auto;}
.month-tab .tab_con{width:506px;height:458px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;margin-left: 71px;}
.month-tab .tab_con ol li{height:45px;border-bottom:1px solid #e5e5e5;text-align:left;line-height:45px;font-family:'Microsoft YaHei';}
.month-tab .tab_con ol li:hover{background:#f5e9db;}
.month-tab .tab_con ol li:hover a{text-decoration: underline;}
.month-tab .tab_con ol li a{font-size:13px;font-weight:bold;color:#cc4740;margin-left:20px;}
.month-tab .tab_con ol li span{margin-left:20px;}
.redcolor{color:#cc4740;}
.bgcolor{background:#fe6458 !important;}
.month-tab .tab_con ol li span i{font-size:13px;font-weight:bold;}
.dec{text-align:center;margin-top:20px;font-size:18px;font-family:'Microsoft YaHei';color:#999;}
.jr_ad{margin-top:20px;}