<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>用户中心-齐装网</title>
    <include file="Index:css_resources" />
</head>

<body class="m-bg">
    <div class="m-wrap">
        <div class="top-fixed">
            <include file="Index:header" />
        </div>
        <div class="order-main bg-ff">
            <div class="order-bread">
                <a href="/home">订单列表</a><i class="icon-double-angle-right"></i>订单详情
            </div>
            <ul class="order-tab">
                <li><span>订单编号:</span>{$order.id}</li>
                <li><span>发布时间:</span>{$order.time|date="Y-m-d H:i:s",###}</li>
                <li><span>联系人:</span> {$order.name}{$order.sex}</li>
                <li><span>联系电话:</span> {$order.tel8}
                    <a class="calltel" href="tel:{$order.tel8}"><i class="icon-tablet"></i>快速拨号</a>
                </li>
                <li><span>备用联系:</span>{$order.other_contact}</li>
                <li><span>所在区域:</span>{$order.qz_area}</li>
                <li><span>小区名称:</span>{$order.xiaoqu}</li>
                <li><span>详细地址:</span>{$order.dz}</li>
                <li><span>装修类型:</span>{$order.yusuan}</li>
                <li><span>房屋面积:</span> {$order.mianji}平米</li>
                <li><span>房屋户型:</span>{$order.hxname}</li>
                <li><span>喜欢风格:</span>{$order.fengge}</li>
                <li><span>装修方式: </span>{$order.fangshi}</li>
                <li><span>装修预算:</span> 面议</li>
                <li>
                    <span>是否拿钥匙:</span>
                    <if condition="$order['keys'] EQ 1">
                        <em>是</em>
                    <elseif condition="$order['keys'] EQ 3"/>
                        <em>其它</em>
                    <elseif condition="$order['keys'] EQ 2"/>
                        <em>否</em>
                    <else/>
                        -
                    </if>
                </li>
                <li><span>量房时间:</span>{$order.lftime}</li>
                <li><span>开工时间:</span>{$order.start}</li>
                <li><span>装修要求:</span>
                    <div class="yq-text" >{$order.text}</div>
                </li>
                <li>
                    <span>签单公司:</span>
                    <if condition="$order['qiandan_company_logo']">
                        <img title="{$order.qiandan_company_jc}" src="{$order.qiandan_company_logo}" >
                    <else/>
                        -
                    </if>
                </li>
                <li class="chosecomp">
                    <span>选择公司: </span>
                    <volist name="order.companys" id="vo">
                        <img title="{$vo.jc}" src="{$vo.logo}" width="121" height="60" >
                    </volist>
                <li class="button">
                    <a href="/home">返回</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
