<extend name="Main:baseTemplate" />
<block name="title">
    <title>会员操作管理 - 控制台</title>
</block>
<block name="style">
<link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="/assets/common/js/plugins/select2-42/select2.min.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">会员信息</h3>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="myForm" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">会员ID:</label>
                                    <div class="col-sm-3">
                                        <select id="search_company" class="form-control"></select>
                                    </div>
                                    <label class="col-sm-2 control-label">公司名称:</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="name" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所在城市:</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="city" class="form-control" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">销售工号:</label>
                                    <div class="col-sm-3">
                                        <select id="search_seller" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">接单人:</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="jd_name1" class="form-control" />
                                    </div>
                                    <label class="col-sm-2 control-label">手机:</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="jd_tel1" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">接单人:</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="jd_name2" class="form-control" />
                                    </div>
                                    <label class="col-sm-2 control-label">手机:</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="jd_tel2" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">会员上传执照:</label>
                                    <div class="col-sm-3" style="position: relative;">
                                        <input type="text" name="yyzz"  class="form-control" disabled value="未上传" />
                                        <button id="btnYYzz" type="button" class="btn btn-primary btn-xs show" disabled style="position: absolute; right: -30px; top:6px;z-index: 99;">查看</button>
                                    </div>
                                    <label class="col-sm-2 control-label">工商总局查询:</label>
                                    <div class="col-sm-3" style="position: relative;">
                                        <input type="text" name="gszj" class="form-control" disabled value="未上传"/>
                                        <button id="btnGszj" type="button" class="btn btn-primary btn-xs show" disabled style="position: absolute; right: -30px; top:6px; z-index: 99;">查看</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">假会员:</label>
                                    <div class="col-sm-4" style="margin-top: 7px;">
                                        <input type="checkbox" name="fake">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-2">
                                        <button id="btnSave" type="button" class="btn btn-success btn-sm"><i class="fa fa-floppy-o"></i> 保存</button>
                                    </div>
                                    <div class="col-sm-6 err-msg">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box contract_box">
            <div class="box-header with-border">
                <h3 class="box-title">会员时间</h3>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <a href="javascript:void(0)" class="panel panel-default newtmp btn-block text-center" style="border: 1px dashed #ccc;display: none; padding: 5px;">
                        <i class="fa fa-plus-square"></i> 添加总合同
                    </a>
                    <div class="panel panel-default tmp">
                        <div class="panel panel-default">
                            <form class="form-horizontal">
                                <div class="panel-heading">
                                    <div class="from-group">
                                        <label class="col-sm-2 control-label">总合同时间:</label>
                                        <div class="col-sm-2">
                                            <input id="allbegin" type="text" class="form-control datepicker" placeholder="总合同开始时间" name="allbegin" value=""  />
                                        </div>
                                        <label class="col-sm-1 control-label"  style="text-align: center;">至:</label>
                                        <div class="col-sm-2">
                                            <input id="allend" type="text" class="form-control datepicker" placeholder="总合同结束时间" name="allend" value=""  />
                                        </div>
                                        <label class="col-sm-1 control-label" style="text-align: left;" id="allday">0天</label>
                                    </div>
                                    <br style="clear: both;" />
                                </div>
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-group now">
                                                <label class="col-sm-2 control-label">本次合同时间:</label>
                                                <div class="col-sm-2">
                                                    <input id="begin" type="text" class="form-control datepicker" placeholder="本次合同开始时间" name="begin" value="{$list.now.start_time}"  />
                                                </div>
                                                <label class="col-sm-1 control-label" style="text-align: center;">至:</label>
                                                <div class="col-sm-2">
                                                    <input id="end" type="text" class="form-control datepicker" placeholder="本次合同结束时间" name="end" value="{$list.now.end_time}"   />
                                                </div>
                                                <div class="col-sm-2">
                                                    <select class="form-control" name="viptype" >
                                                        <option value="">请选择</option>
                                                        {volist name="viptype" id="vo"}
                                                        <option value="{$key}">{$vo}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                                <label class="col-sm-1 control-label" style="text-align: left;" id="day">0天</label>
                                            </div>
                                            <br style="clear: both; display: none;" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">合同预览</h4>
                </div>
                <div class="modal-body" style="max-height: 600px; overflow-y:auto;">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="preview-businesslicence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header no-border text-center"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
                <div class="modal-body">
                    <div id="businessCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner text-center">
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#businessCarousel"
                            data-slide="prev" style="font-size: 60px; color: #333;">&lsaquo;
                        </a>
                        <a class="carousel-control right" href="#businessCarousel"
                            data-slide="next" style="font-size: 60px; color: #333;">&rsaquo;
                        </a>
                        <div class="all-index text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
<script type="text/javascript" src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
<script src="/assets/common/js/plugins/select2-42/select2.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
$(function() {
    var img = [];
    $(".contract_box form *").attr("disabled","disabled");
    $("#search_company").select2({
        ajax: {
            url: "/vip/findcomnapnyinfo/",
            dataType: 'json',
            type: "post",
            data: function(params) {
                return {
                    q: params.term // search term
                };
            },
            processResults: function(data, params) {
                return {
                    results: data.items
                };
            }
        },
        escapeMarkup: function(markup) {
            return markup;
        },
        minimumInputLength: 3,
        templateResult: function(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.id + " " + repo.jc + " (" + repo.cname + ")</div>";

            return markup;
        },
        templateSelection: function(repo) {
            $("input[name=name]").val(repo.jc);
            $("input[name=city]").val(repo.cname);
            $("input[name=jd_tel1]").val(repo.jd_tel_1);
            $("input[name=jd_name1]").val(repo.jd_tel_name_1);
            $("input[name=jd_tel2]").val(repo.jd_tel_2);
            $("input[name=jd_name2]").val(repo.jd_tel_name_2);
            $("input[name=fake]").attr("checked",false);
            if (repo.fake == 1) {
                 $("input[name=fake]").attr("checked","checked").prop("checked",true);
            }

            $txt = "未上传";
            switch(repo.state) {
                case "1":
                case "2":
                case "3":
                    $txt = "审核中";
                    $disabled = false;
                    break;
                case "4":
                    $txt = "审核通过";
                    $disabled = false;
                    break;
                case "5":
                    $txt = "审核未通过";
                    $disabled = false;
                    break;
                default:
                    $disabled = "disabled";
                    break;
            }
            $("#btnYYzz").attr("data-type",1);
            $("#btnYYzz").attr("data-id",repo.id);
            $("#btnYYzz").attr("disabled",$disabled);
            $("input[name=yyzz]").val($txt);

            $("#btnGszj").attr("data-type",2);
            $("#btnGszj").attr("data-id",repo.id);
            $("#btnGszj").attr("disabled","disabled");
            $txt = "未上传";
            if (repo.img1 != "") {
                switch(repo.state) {
                    case "1":
                    case "2":
                    case "3":
                        $txt = "审核中";
                        $disabled = false;
                        break;
                    case "4":
                        $txt = "审核通过";
                        $disabled = false;
                        break;
                    case "5":
                        $txt = "审核未通过";
                        $disabled = false;
                        break;
                }
                $("#btnGszj").attr("disabled",false);
            }

            if (repo.gx_img == null) {
                $txt = "未查询";
                $("#btnGszj").attr("disabled","disabled");
            }


            $("input[name=gszj]").val($txt);

            img[1] = new Array();
            if (repo.img1 != "") {
                img[1].push(repo.img1);
            }

            if (repo.img2 != "") {
                img[1].push(repo.img2);
            }
            if (repo.img3 != "") {
                img[1].push(repo.img3);
            }
            if (repo.img4 != "") {
                img[1].push(repo.img4);
            }

            img[2] = new Array();
            if (repo.gx_img != "") {
                img[2].push(repo.gx_img);
            }

            $("#search_seller").removeAttr('disabled');
            if (repo.mark == 1) {
                $("#search_seller").attr("disabled","disabled").select2({
                  data: [
                        {
                          id: repo.saler_id,
                          text: repo.saler,
                          name: repo.saler
                        }
                      ]
                });
            }
            return repo.jc;
        }
    });

    $("#search_seller").select2({
        ajax: {
            url: "/vip/findsellerinfo/",
            dataType: 'json',
            type: "post",
            data: function(params) {
                return {
                    q: params.term // search term
                };
            },
            processResults: function(data, params) {
                return {
                    results: data.items
                };
            }
        },
        escapeMarkup: function(markup) {
            return markup;
        },
        minimumInputLength: 1,
        templateResult: function(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.name + "(" + repo.department + ")</div>";
            return markup;
        },
        templateSelection: function(repo) {
            return repo.text || repo.name;
        }
    });

    $("#btnSave").click(function(event) {
        var _this = $(this);
        var data = $("#myForm").serializeArray();
        var json = $("#search_company").select2("data");
        $("#myForm .err-msg").html("");
        if(json.length > 0){
            if(typeof $("#search_company").select2("data") == "string"){
                json = JSON.parse($("#search_company").select2("data"));
            }
            var company_id = json[0].id;
            data.push({name:"company_id",value:company_id});
            data.push({name:"company_name",value:json[0].jc});
        };

        json = $("#search_seller").select2("data");
        if(json.length > 0){
            if(typeof $("#search_seller").select2("data") == "string"){
                json = JSON.parse($("#search_seller").select2("data"));
            }
            data.push({name:"saler_id",value:json[0].id});
            data.push({name:"saler_name",value:json[0].text || json[0].name});
        }

        data.push({name:"fake",value:$("input[name=fake]:checked").val() == "on"?1:0});
        $.ajax({
            url: '/vip/extendinfo',
            type: 'post',
            dataType: 'json',
            data: data
        })
        .done(function(data) {
            if (data.code == 200) {
                _this.attr("disabled","disabled");
                $("#myForm *").attr("disabled","disabled");
                get_contact_tmp();
            } else {
                $("#myForm .err-msg").html(data.errmsg);
            }
        })
        .fail(function() {
            $("#myForm .err-msg").html("发生异常,请稍后再试！");
        });
    });

    $(".newtmp").click(function(event) {
        if ($(".newAll").length > 0) {
            alert("新合同已存在,请勿重复添加");
            return false;
        };
        $.ajax({
            url: '/vip/getcontractall/',
            type: 'get',
            dataType: 'json'
        })
        .done(function(data) {
            $(".tmp").before(data.tmp);
        });
    });

    $("body").on("click",".preview",function(event) {
        var _this = $(this);

        var parent =_this.parents("form").first();
        var data = parent.serializeArray();

        var json = $("#search_company").select2("data");
        if(json.length > 0){
            if(typeof $("#search_company").select2("data") == "string"){
                json = JSON.parse($("#search_company").select2("data"));
            }
            var company_id = json[0].id;
            data.push({name:"company_id",value:company_id});
            data.push({name:"company_name",value:json[0].jc});
        };

        json = $("#search_seller").select2("data");
        if(json.length > 0){
            if(typeof $("#search_seller").select2("data") == "string"){
                json = JSON.parse($("#search_seller").select2("data"));
            }
            data.push({name:"saler_id",value:json[0].id});
            data.push({name:"saler_name",value:json[0].text || json[0].name});
        }

        data.push({name:"jd_tel_name_1",value:$("input[name=jd_name1]").val()});
        data.push({name:"jd_tel_1",value:$("input[name=jd_tel1]").val()});
        data.push({name:"jd_tel_name_2",value:$("input[name=jd_name2]").val()});
        data.push({name:"jd_tel_2",value:$("input[name=jd_tel2]").val()});

        if (typeof(parent.attr("id")) == "undefined") {
            data.push({name:"allbegin",value:$("#allbegin").val()});
            data.push({name:"allend",value:$("#allend").val()});
        }

        $.ajax({
            url: '/vip/preview',
            type: 'post',
            dataType: 'JSON',
            data: data
        })
        .done(function(data) {
            $("#myModal .modal-body").html(data.tmp);
            $("#myModal").modal();
        });
    });

    $(".show").click(function(event) {
        var type = $(this).attr("data-type");
        var data = img[type];
        var tmp = '<div class="item"><img src="%s" style="margin:auto;" alt="First slide"></div>';
        $("#preview-businesslicence .carousel-inner").html('');
        for(var i in data) {
            var t = tmp.replace("%s","http://{:C('QINIU_DOMAIN')}/" + data[i]);
            if (i == 0) {
                t = t.replace("item","item active");
            }
            $("#preview-businesslicence .carousel-inner").append(t);
        }
        $("#preview-businesslicence").modal();
    });

    function get_contact_tmp () {
        var json = $("#search_company").select2("data");
        $.ajax({
            url: '/vip/findcontract/',
            type: 'post',
            dataType: 'json',
            data: {id: json[0].id,"fake":$("input[name=fake]:checked").val() == "on"?1:0}
        })
        .done(function(data) {
            $(".tmp").show().html(data.tmp);

            $(".newAll").remove();
            if ($("input[name=fake]:checked").val() != "on") {
                $(".newtmp").show();
            };
        });
    }
});


</script>
</block>
