<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="{$keys.keywords}">
  <meta name="description" content="{$keys.description}">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>{$keys.title}-{$title}</title>
  <include file="Index:resource" />
  <include file="Home:resource" />
  <link rel="stylesheet" href="{$static_host}/assets/user/home/css/ht-info.css?v={:C('STATIC_VERSION')}" />
  <link rel="stylesheet" type="text/css" href="{$static_host}/assets/common/js/baidu/uploader/dist/webuploader.css?v={:C('STATIC_VERSION')}">
  <link href="{$static_host}/assets/common/js/baidu/css/upload.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
  <link href="{$static_host}/assets/common/js/baidu/css/companyinfo.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{$static_host}/assets/common/js/baidu/uploader/dist/webuploader.js?v={:C('STATIC_VERSION')}"></script>
  <script charset="utf-8" src="{$static_host}/assets/common/js/baidu/uploader/upload.js?v={:C('STATIC_VERSION')}"></script>
</head>
<style type="text/css">
 /* .err-tips{margin-left: 94px;display: block;padding:10px;font-size: 16px}
*/
</style>
<body>
  <include file="Home:header" />
  <div class="ht-wrap oflow ht-relative">
    <div class="ht-nav">
      <include file="Home:comnavleft" />
    </div>
    <include file="Companyinfo:tab_header" />
    <div class="ht-main">
      <div class="ht-userhead-up">
        <div class="userhead pull-left">
          <img src="{$info.user.logo}" width="126" height="63" />
        </div>
        <dl class="pull-left ml20">
          <dd>
            <div class="ht-comp-phot">
              <div id="uploader" class="uploader" data-data=''>
              </div>
            </div>
            <input type="hidden" name="imgs"/>
          </dd>
          <dt class="red">
           <i class="icon-hand-right mr10"></i>在此上传您的企业logo标志，最好为126*63像素且为白底。
          </dt>
          <dt class="red">
           <i class="icon-warning-sign mr10"></i>提醒：标志图片上不得有联系方式及网址, 否则就会被取消上传logo权限。
          </dt>
        </dl>
      </div>
      <div class="ht-normal-form">
        <ul class="normal-info">
          <li><span><i class="red">*</i>公司全称:</span><input class="full" name="qc" type="text" placeholder="公司全称" value="{$info.user.qc}" />
          <i class="red err-tips"></i></li>
          <li><span><i class="red">*</i>公司简称:</span><input class="full" name="jc" type="text" placeholder="公司简称，最多8个中文" value="{$info.user.jc}" />
          <i class="red err-tips"></i></li>
          <li><span>公司口号:</span><input class="full" type="text" name="kouhao" placeholder="公司口号" value="{$info.user.kouhao}" />
          <i class="red err-tips"></i></li>
          <li><span>所在区域:</span>
            <select class="half mr20" name="cs">
              <volist name="city" id="s">
                <option value="{$s.id}">{$s.oldname}</option>
              </volist>
            </select>
            <select class="half" name="qx">
              <volist name="quyu" id="q">
              <option value="{$q.qz_areaid}" <if condition="$info['user']['qx'] eq $q['qz_areaid']">selected="selected"</if> >{$q.oldName}</option>
              </volist>
            </select>
          </li>
          <li>
            <span>联系人:</span><input class="half mr20" type="text" name="name" placeholder="称呼" value="{$info.user.name}" />
            <input name="sex" id="man" type="radio" value="先生" />
            <label for="man">先生</label>
            <input class="ml10" name="sex" id="woman" type="radio" value="女士" />
            <label for="woman">女士</label><br/>
            <i class="red err-tips"></i>
          </li>
          <li>
            <span>手机号:</span>
            <input class="full" type="text" name="tel" placeholder="手机号" value="{$info.user.tel}" />
            <i class="red err-tips"></i>
          </li>
          <li>
            <span>固定电话:</span>
            <input class="shorted mr20" type="text" name="cals" placeholder="区号可不填" value="{$info.user.cals}" />—
            <input class="half ml20" type="text" name="cal" placeholder="可直接输入400电话" value="{$info.user.cal}" /><br/>
            <i class="red err-tips"></i>
            </li>
          <li>
            <span>QQ客服1:</span>
            <input type="text" class="half mr20" name="nickname" placeholder="客服昵称1" value="{$info.user.nickname}" /><input type="text" class="half" placeholder="客服qq1" value="{$info.user.qq}" name="qq" />
            <i class="red err-tips"></i>
          </li>
          <li>
            <span>QQ客服2:</span>
            <input type="text" class="half mr20" name="nickname1" placeholder="客服昵称2" value="{$info.user.nickname1}" /><input type="text" class="half" name="qq1" placeholder="客服qq2" value="{$info.user.qq1}" />
            <i class="red err-tips"></i>
          </li>
          <li><span>公司地址:</span><input class="full" type="text" name="dz" placeholder="公司详细地址"  value="{$info.user.dz}" />
          <i class="red err-tips"></i></li>
        </ul>
      </div>
      <div class="ht-map">
        <h3>请在地图上设置公司的位置</h3>
        <!-- 展示地图开始 -->
          <style type="text/css">
              #stage  {
                  width:  400px;
                  height: 400px;
                  margin: 2px auto;
                  text-align: left;
              }
              .toolbox    {
                  float:  right;
                  height: 22px;
              }
              .tool   {
                  margin: 0px;
                  cursor: pointer;
                  position:   relative;
                  padding-left:   22px;
              }
              .tool > b   {
                  position:   absolute;
                  width:      7px;
                  height:     12px;
                  top:        2px;
                  left:       9px;
                  zoom:       1;
                  background: url("{$static_host}/assets/common/js/baidu_map/tools_img_yr3cul.png") no-repeat;
              }
              #container  {
                  clear:  both;
                  width:  100%;
                  height: 100%;
              }
          </style>
          <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
          <script type="text/javascript" src="{$static_host}/assets/common/js/baidu_map/DistanceTool_min.js?v={:C('STATIC_VERSION')}"></script>
          <script type="text/javascript" src="{$static_host}/assets/common/js/baidu_map/EventWrapper.min.js?v={:C('STATIC_VERSION')}"></script>
          <script type="text/javascript" src="{$static_host}/assets/common/js/baidu_map/MarkerTool.js?v={:C('STATIC_VERSION')}"></script>
          <script type="text/javascript" src="{$static_host}/assets/common/js/baidu_map/MapBaidu.js?r=2"></script>
          <div id="stage" style="">
            <span id="map_msg">如果想修改标记 请先删除已有标记</span>
            <div class="toolbox">
              <if condition="$can_make_map eq 1">
                <span class="tool"><b></b>标记</span>
              <else/>
                <span class="tool" style="display:none;"><b></b>标记</span>
              </if>
            </div>
            <div id="container"></div>
          </div>
          <script type="text/javascript">
            $(function() {
                var city    = '{$city.0.oldname}';
                var cityid  = '{$info.user.cs}';
                var marks   = {$marks};

                var map = MapBaidu('container', city);

                $('.tool > b').each(function (idx, me) {
                  idx = '-30px -183px';
                  $(me).parent().click(function() {
                      map.startMark();
                  });
                  $(me).css('background-position', idx);
                });


                // 撒点
                for (var pt, i = marks.length; i--; ) {
                    pt  = new BMap.Point(marks[i]['lng'], marks[i]['lat']);
                    map.mark(pt, marks[i]['map_info'],marks[i]['map_address'],marks[i]['id']);
                }

                // 加强
                (function() {
                var ancestor    = {
                    delMark:    MapBaidu.fn.delMark,
                    saveMark:   MapBaidu.fn.saveMark
                };
                MapBaidu.fn.delMark     = function(point, id) {
                    var me  = this;
                    ancestor.delMark.call(me, point);

                    $.post('/Companyinfo/company_map_del',{}, function(res) {
                        if (res.status!=1)
                        {
                          alert("删除失败！请立即联系客服。");
                        }else
                        {
                          ancestor.delMark.call(me, point);
                          $(".tool").show();
                        }
                    },'json');
                }
                MapBaidu.fn.saveMark    = function(point, data) {
                    var me  = this;
                    data['cityid']      = cityid;
                    $.post('/Companyinfo/company_map', data, function(res) {
                        if (res.status != 1)
                        {
                          alert("标记失败！请立即联系客服。");
                        }else
                        {
                          ancestor.saveMark.call(me, point, data);
                          $(".tool").hide();
                        }
                    },"json");
                }
                })();
            });
          </script>

        <!-- 展示地图结束 -->
      </div>
      <div class="ht-yes">
       <a href="javascript:;" id="edit_info_btn"><i class="icon-ok mr10"></i>保存资料</a>
       <i class="red err-tips"></i>
      </div>
    </div>
  </div>
  <include file="Index:footer" />
 </body>
</html>
<script type="text/javascript">

  //提交修改资料
  function submitInfo(obj){
    /* 修改资料的提交 */
    var _this=obj;
    var logo      =$("input[name='imgs']").val();       //获取logo
    var qc        =$("input[name='qc']").val();         //获取全称
    var jc        =$("input[name='jc']").val();         //获取简称
    var kouhao    =$("input[name='kouhao']").val();     //获取口号
    var cs        =$("select[name='cs']").val();        //获取城市
    var qx        =$("select[name='qx']").val();        //获取区县
    var name      =$("input[name='name']").val();       //获取联系人
    var sex       =$("input[name='sex']:checked").val();//获取性别
    var tel       =$("input[name='tel']").val();        //获取手机号
    var cals      =$("input[name='cals']").val();       //获取电话区号
    var cal       =$("input[name='cal']").val();        //获取电话号码
    var nickname  =$("input[name='nickname']").val();   //获取QQ客服1昵称
    var qq        =$("input[name='qq']").val();         //获取QQ
    var nickname1 =$("input[name='nickname1']").val();  //获取QQ客服1昵称
    var qq1       =$("input[name='qq1']").val();        //获取QQ1
    var dz       =$("input[name='dz']").val();          //获取公司地址
    //验证提交的表单信息
    $(".err-tips").html("");
    var qc_obj=$("input[name='qc']");
    var jc_obj=$("input[name='jc']");
    var kouhao_obj=$("input[name='kouhao']");
    var name_obj=$("input[name='name']");
    var tel_obj=$("input[name='tel']");
    var cal_obj=$("input[name='cal']");
    var qq_obj=$("input[name='qq']");
    var qq1_obj=$("input[name='qq1']");
    var dz_obj=$("input[name='dz']");
    if (!App.validate.run(qc_obj.val()))
    {
      qc_obj.focus();
      qc_obj.parent().find(".err-tips").html("请填写公司全称");
      return false;
    };
    if (!App.validate.run(jc_obj.val()))
    {
      jc_obj.focus();
      jc_obj.parent().find(".err-tips").html("请填写公司简称");
      return false;
    };
    if (!App.validate.run(kouhao_obj.val()))
    {
      kouhao_obj.focus();
      kouhao_obj.parent().find(".err-tips").html("请填写公司口号");
      return false;
    };
    if (!App.validate.run(name_obj.val()))
    {
      name_obj.focus();
      name_obj.parent().find(".err-tips").html("请填写联系人");
      return false;
    };
    if(!App.validate.run(tel,"moblie"))
    {
        $("input[name=tel]").addClass('focus');
        $("input[name=tel]").focus();
        $("input[name=tel]").parent().find(".err-tips").html("请填写正确的手机号码");
        return false;
    }

    if(!App.validate.run(cal_obj.val()))
    {
      cal_obj.focus();
      cal_obj.parent().find(".err-tips").html("请填写固定电话或400电话");
      return false;
    }

    if(!App.validate.run(qq_obj.val(),"num"))
    {
      qq_obj.focus();
      qq_obj.parent().find(".err-tips").html("请填写正确的QQ");
      return false;
    }
    //如果填写了第二个QQ 则格式必须正确
    if(qq1_obj.val()!="")
    {
      if(!App.validate.run(qq1_obj.val(),"num"))
      {
        qq1_obj.focus();
        qq1_obj.parent().find(".err-tips").html("请填写正确的QQ");
        return false;
      }
    }
    if (!App.validate.run(dz_obj.val()))
    {
      dz_obj.focus();
      dz_obj.parent().find(".err-tips").html("请填写公司地址");
      return false;
    };
    $.post("/Companyinfo/edit_info",
          {
            logo      :logo,
            qc        :qc,
            jc        :jc,
            kouhao    :kouhao,
            cs        :cs,
            qx        :qx,
            name      :name,
            sex       :sex,
            tel       :tel,
            cals      :cals,
            cal       :cal,
            nickname  :nickname,
            qq        :qq,
            nickname1 :nickname1,
            qq1       :qq1,
            dz        :dz
          }
          ,function(res){
            console.log(res);
          if(res.status == 0){
            _this.parent().find(".err-tips").html(res.info);
          }else{
            window.location.href=window.location.href;
          }
          },'json');
}


$(function(){
  var sex='{$info.user.sex}';
  if(sex=='先生')
  {
     $('#man').attr("checked","checked");
  }else
  {
     $('#woman').attr("checked","checked");
  }



  $("#edit_info_btn").click(function() {
    submitInfo($(this));
  });

  //加载图片上传控件
  $(".ht-comp-phot").uploader({
    host:"{:C('QINIU_DOMAIN')}",
    old_host:"{:C('STATIC_HOST1')}",
    server:"/uploader/",
    drag:false,
    fileNumLimit:1,
    threads:1,
    prefix:"logoadv",
    formData:{
        prefix:"logoadv",
        width:126,
        height:63,
        offset:10
    },
    removePath:"/Companyinfo/del_company_img/",
    callback:function(res){
        var data =  $("input[name=imgs]").data("data");
        if(typeof data == "undefined"){
            data = [];
        }
        img = {
            id:res["id"],
            img:res.data["hash"],
            path:res.data["key"],
            tabIndex:res.tabIndex
        }
        data.push(img);
        $("input[name=imgs]").data("data",data);
        $("input[name='imgs']").val(data[0].path);
        if(res.status == '1'){
          submitInfo($(this));
        }
    }
  });
});
</script>