
/*专题导航*/
.zt-head{ height:55px; width:1210px; margin:0 auto}
.zt-head .zt-logo{ height:55px; float:left;}
.zt-head .zt-logo img{ height:55px; width:auto; display:block}
.zt-head .zt-nav{ float:left; line-height:55px}
.zt-head .zt-nav li{ float:left; position:relative;z-index: 9999}
.zt-head .zt-nav li a{ display:block; padding:0 30px;font-family: "Microsoft Yahei"; font-size:16px;}
.zt-head .zt-nav li.zt-nav-list:after{
	content: "";
	position:absolute;
	top:27px;
	right:15px;
	border-top: 4px solid #333;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;}
.zt-head .zt-nav li.zt-nav-list:hover:after{
	content: "";
	position:absolute;
	top:26px;
	right:15px;
	border-top:0;
	border-bottom: 4px solid #333;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;}
.zt-head .zt-nav li dl{ display:none; position:absolute; left:0; right:0; text-align:center; line-height:40px;}
.zt-head .zt-nav li dl dd{ background:rgba(255,255,255,.9); margin-top:1px;}
.zt-head .zt-nav li dl dd:hover a{background:rgba(255,83,83,.8); color:#fff}
.zt-head .zt-nav li:hover dl{ display:block}
/**/


.zt-home-top{ height:526px; background:url(../images/elist_bg.jpg) center center}
.zt-home-order { position:relative; top:380px; margin:0 auto; width:390px; text-align:center}
.zt-home-order input{ margin:0 70px; height:48px; border:1px solid #999; display:block; width:248px;font-family: "Microsoft Yahei"; box-sizing:border-box; padding:0 20px;  font-size:18px;}
.zt-home-order button{margin:0 70px;width:248px; background:none; border:0;  height:45px; line-height:45px; margin-top:35px; border-radius:50px; cursor:pointer;font-size:22px; font-weight:bold; font-family: "Microsoft Yahei"; color:#fff}

.zt-home-right{ font-family: "Microsoft Yahei"; float:right; padding:10px; margin-right:10px; width:230px; background:#fff; border-radius:5px; text-align:center; margin-top:-50px; line-height:50px; box-shadow:0 3px 3px rgba(0,0,0,.2)}
.zt-home-right dt{font-size:30px; border-top:1px dashed #ddd; color:#ff5659}
.zt-home-right dd{font-size:16px;}
.zt-home-right h3{font-size:22px; font-weight:100; }

.zt-home-tit{ border-bottom:2px solid #ff5659; width:860px; margin:20px auto; height:20px;}
.zt-home-tit strong{ position:relative; width:340px;font-size:28px;font-family: "Microsoft Yahei"; margin:0 auto; display:block; height:40px; color:#ff5659; line-height:40px; background:#fff; text-align:center}
.zt-home-tit strong:before{ content:""; width:10px; height:10px; position:absolute; background:#ff5659; left:15px; top:15px; border-radius:50%}
.zt-home-tit strong:after{ content:""; width:10px; height:10px; position:absolute; background:#ff5659; right:15px; top:15px; border-radius:50%}
.zt-home-tab { height:50px; line-height:50px}
.zt-home-tab li{font-size:22px;font-family: "Microsoft Yahei"; float:left}
.zt-home-tab li a{padding:0 20px;display:block;}
.zt-home-tab li.active a{  border-bottom:2px solid #ff5659; color:#ff5659}
.zt-home-list { width:1240px; clear:both; margin-top:20px; overflow:hidden}
.zt-home-list li{ width:590px; float:left; margin-right:30px; margin-bottom:30px}
.zt-home-list li:hover img{ opacity:0.8}
.zt-home-list li img{ display:block; width:590px; height:265px}
.zt-home-list li p{ font-family: "Microsoft Yahei";border:1px solid #ddd; border-top:0; height:20px; line-height:20px; padding:20px; overflow:hidden}
.zt-home-list li p a{ float:left;font-size:18px;}
.zt-home-list li p span{ float:right; font-size:14px;}

.zt-gray li img{  -webkit-filter:grayscale(1);filter:grayscale(1);}

.zt-more{ border:1px solid #ddd; line-height:35px; width: 160px; text-align:center; margin:0 auto; display:block;font-size:14px; margin-bottom:30px}