
/*专题导航*/
.zt-head{ height:55px; width:1210px; margin:0 auto}
.zt-head .zt-logo{ height:55px; float:left;}
.zt-head .zt-logo img{ height:55px; width:auto; display:block}
.zt-head .zt-nav{ float:left; line-height:55px}
.zt-head .zt-nav li{ float:left; position:relative}
.zt-head .zt-nav li a{ display:block; padding:0 30px;font-family: "Microsoft Yahei"; font-size:16px;}
.zt-head .zt-nav li.zt-nav-list:after{
	content: "";
	position:absolute;
	top:27px;
	right:15px;
	border-top: 4px solid #333;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;}
.zt-head .zt-nav li.zt-nav-list:hover:after{
	content: "";
	position:absolute;
	top:26px;
	right:15px;
	border-top:0;
	border-bottom: 4px solid #333;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;}
.zt-head .zt-nav li dl{ display:none; position:absolute; left:0; right:0; text-align:center; line-height:40px;}
.zt-head .zt-nav li dl dd{ background:rgba(255,255,255,.9); margin-top:1px;}
.zt-head .zt-nav li dl dd:hover a{background:rgba(255,83,83,.8); color:#fff}
.zt-head .zt-nav li:hover dl{ display:block}
/**/



.zt-bg1{ background:url(../images/event_bg1.jpg) no-repeat center; height:1161px}
.zt-bg1 .zt-order{ width:388px; height:160px; margin:0 auto; top:360px; position:relative; padding-top:30px}
.zt-bg1 .zt-order input{ margin:0 70px; height:48px; border:1px solid #999; display:block; width:248px;font-family: "Microsoft Yahei"; box-sizing:border-box; padding:0 20px;  font-size:18px;}
.zt-bg1 .zt-order button{margin:0 70px;width:248px; background:#FC5B49; border:0; border-bottom:3px #d4362a solid; height:45px; line-height:45px; margin-top:35px; border-radius:50px; cursor:pointer;font-size:22px; font-weight:bold; font-family: "Microsoft Yahei"; color:#fff}
.zt-bg1 .libao-list{ position:relative; top:660px; margin:0 auto; width:1236px;}
.zt-bg1 .libao-list li{ width:269px; height:196px; margin:0 20px; float:left; background:url(../images/jingxi_bg.png) no-repeat; text-align:center;font-family: "Microsoft Yahei"; color:#FB420C}
.zt-bg1 .libao-list li h3{ height:48px; line-height:48px; font-size:30px;}
.zt-bg1 .libao-list li strong{ padding-top:30px;line-height:30px;font-size:18px; display:block}
.zt-bg2{ background:url(../images/event_bg2.jpg) center; height:705px;}
.zt-bg3{background:url(../images/event_bg3.jpg) center; height:618px;}
.zt-bg4{ background:url(../images/9132644.png) center 30px no-repeat #fb974c; height:525px}
.zt-bg4 .zt-com-logo{ width:1240px;position:relative;margin:0 auto;top:160px; overflow:hidden}
.zt-bg4 .zt-com-logo li{ width:280px; height:190px; float:left; background:#fff; margin:0 15px}
.zt-bg4 .zt-com-logo li img{ margin:60px auto; display:block}
.zt-bg4 .return-home-btn{ position:relative;margin:0 auto; width:218px; height:55px;line-height:55px;font-size:18px; font-family: "Microsoft Yahei"; color:#fff; background:#ff5659; display:block;top:210px; text-align:center}