<script type="text/javascript" src="{$static_host}/assets/common/js/jQuery.rTabs.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/placeholders.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/icheck/icheck.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/App.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/jquery.cookie-min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/popwin.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/tooltips/jquery.pure.tooltips.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$cityfile}"></script>
    <script type="text/javascript" src="/assets/home/about/js/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>