
.sj-infBox {
    /*margin-top: 15px;*/
}

.sj-infBox li {
    padding: 15px 0;
    height: 14px;
    font: 14px/14px "Microsoft YaHei";
}

.sj-infBox li p {
    float: left;
}

.sj-infoshow span {
    display: inline-block;
    float: left;
}

.sj-infoshow span:first-child {
    margin-right: 10px;
    color: #333333;
}

.sj-infoshow span:last-child {
    color: #666666;
}

.sj-infBox li a {
    float: right;
    color: #FF5353;
    margin-right: 30px;
}

.sj-bind {
    border-top: 1px dashed #e6e6e6;
}

.sj-bind h3 {
    font: 14px/14px "Microsoft YaHei";
    color: #333333;
    margin-top: 30px;
    margin-bottom: 16px;
}

.sj-explain {
    margin-bottom: 24px;
}
.js-thirdaccount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.js-thirdaccount p:first-child{
    padding-left: 30px;
    background: url("/assets/cpa/img/weixin.png") no-repeat;
}
.js-thirdaccount p:last-child{
    padding-right: 30px;
}
.sj-jcbind{
    color: #ff5353;
}

/*二维码弹窗*/
.sj-qrDialog{
    width: 280px;
    /*height: 351px;*/
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -140px;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    z-index: 1000;
}
.sj-qrhead{
    position: relative;
    text-align: center;
}
.sj-qrhead h3{
    font:16px/16px "Microsoft YaHei";
    color: #333333;
    padding:36px 0;
    position: relative;

}
.sj-qrclose{
    position: absolute;
    top: 0;
    right:0;
    width: 0;
    height: 0;
    border-top: 40px solid red;
    border-left: 40px solid transparent;
}
.sj-qrclose:after{
    content: 'X';
    display: block;
    position: absolute;
    top: -50px;
    left: -30px;
    width:40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    z-index: 500;
    cursor: pointer;
}
.sj-rqcode{
    text-align: center;
}
.sj-rqcode img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    padding: 25px;
    border: 1px solid #e6e6e6;
}
.sj-qrDialog p{
    font:14px/1 "Microsoft YaHei";
    color: #999999;
    text-align: center;
    margin:16px 0 36px 0;
}
