.sj-order-detail.sj-assist-detail ul{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.sj-order-detail ul{
    float: left;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}
.sj-order-detail li{
    margin-top: 32px;
    height: 14px;
    width: 100%;
    font:14px/14px "Microsoft YaHei";
    color: #666666;
}
.sj-order-detail.sj-assist-detail ul li{
    width: 33.33%;
}
.sj-order-detail li span:first-child{
    color: #333;
    font-weight:bold;
    margin-right: 10px;
}
.sj-special{
    float: left;
    font:14px/14px "Microsoft YaHei";
    color: #333;
}
.sj-special-text{
    border:1px solid #e6e6e6;
    background: #f5f5f5;
    border-radius: 4px;
    width: 870px;
    height: 100px;
    font:14px/16px "Microsoft YaHei";
    color: #666666;
    margin-left: 70px;
    margin-top: -20px;
    float: left;
    resize: none;
    outline: none;
    padding: 5px;
}
.sj-special-close{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background: #ff5353;
    color: #ffffff;
    text-align: center;
    font:14px/40px "Microsoft YaHei";
    margin:0 auto;
    margin-top: 150px;
    cursor: pointer;
}
.win_box .sj-info-detail{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, .5);
    transform: translate(-50%,-50%);
}
.line {
    width: 100%;
    border: 1px dashed #E5E5E5;
    margin-top: 30px;
    position: relative;
}
.line span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 15px;
    background: #ffffff;
}
.sj-assist-detail li {
    float: left;
}
.sj-win-close{
    position: absolute;
    right: 35px;
    top: 30px;
    padding: 5px;
}

