.sj-center {
    float: left;
}

.sj-infoBox {
    float: left;
    width: 968px;
    padding: 0 30px 50px 30px;
    border-bottom: 1px solid #e6e6e6;
}

.sj-centerT {
    width: 968px;
    border: 1px solid #e6e6e6;
    height: 288px;
    padding: 30px 30px 0 30px;
}

.sj-grInfo {

}

.sj-infoL img {
    float: left;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 20px;
}

.sj-infoDetail {
    float: left;
    margin-top: 10px;
    padding-bottom: 36px;
}

.sj-infoDetail h4 {
    padding-bottom: 3px;
    font: bold 16px/16px "Microsoft YaHei";
    color: #333333;
}

.sj-infoDetail p {
    margin-top: 24px;
}

.sj-infoDetail p span:nth-of-type(1) {
    font: 14px/12px "Microsoft YaHei";
    color: #666666;
    margin-right: 10px;
}

.sj-accountye span:nth-of-type(2) {
    font-size: 24px;
    color: #ff5353;
    line-height: 14px;
}

.sj-accountbd span:nth-of-type(2) {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("/assets/cpa/img/tel.png") no-repeat -6px -33px;
    vertical-align: middle;
}

.sj-accountLevel span:nth-of-type(2) {
    color: #333;
    font-size: 14px;

}

.sj-infoR {
    color: #ff5353;
    font-size: 14px;
    margin-top: 150px;
    margin-right: 150px;
}

.sj-grTel {
    border-top: 1px dashed #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sj-grTel p {
    margin: 36px 10px 0 10px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.sj-grTel p {
    width: 80px;
}

.sj-grTel p:nth-of-type(1) {
    font-weight: bold;
    color: #333;
    margin-right: 227px;
}

.sj-grTel p:nth-of-type(2) {
    color: #666666;
    margin-right: 227px;
}

.sj-grTel p:nth-of-type(3) a {
    color: #ff5353;
}

/*操作记录*/
.sj-centerB {
    padding: 30px;
    margin-top: 20px;
    border: 1px solid #e6e6e6;

}

.sj-centerB h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 24px;
}

.sj-recordTab tr {
    height: 45px;
    font-size: 14px;
    color: #333;
}

.sj-recordTab thead tr {
    background: #f5f5f5;
}

.sj-recordTab tr td {
    width: 222px;
    text-align: center;
}

.sj-recordTab tr td:first-child {
    position: relative;
}

.sj-recordTab tbody td:first-child:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    width: 7px;
    height: 7px;
    border: 1px solid #9acefe;
    border-radius: 50%;

}

.sj-recordTab tbody td:first-child:after {
    content: '';
    display: block;
    position: absolute;
    top: 29px;
    right: 4px;
    width: 1px;
    height: 36px;
    background: #9acefe;
}

.sj-recordTab tr td.sj-line {
    width: 70px;
}

.sj-wrong {
    color: #ff5353;
}

/*解绑弹窗*/
.sj-jb {
    width: 450px;
    height: 186px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -112px;
    margin-left: -225px;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: center;
    z-index: 500;
    padding-top: 38px;
    display: none;
}

.sj-jb h4 {
    font-size: 18px;
    color: #333;
    line-height: 20px;
    margin-bottom: 24px;
}

.sj-jb .sj-warn {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("/assets/cpa/img/warn.png") no-repeat;
}

.sj-jb p {
    color: #666;
    font-size: 14px;
    margin-bottom: 42px;
}

.sj-jbBtn {
    word-spacing: -5px;
}

.sj-jbBtn button {
    width: 138px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font: 14px/40px "Microsoft YaHei";
    cursor: pointer;
}

.sj-qxbtn {
    margin-right: 24px;
    color: #fff;
}

.sj-jxbtn {
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333;
}
