#tabContent .tab-pane{display: none;}
.active{display: block !important;}
.box-body ul li{list-style: none;}
.data-top div{border:1px solid #f2f2f2;line-height: 50px;border-bottom: 0;font-weight: 800;}
.data-top div:nth-child(2),.data-top div:nth-child(3){border-left: 0;}
.zxlc-item1 div,.zxlc-item2 div,.zxlc-item3 div{border:1px solid #f2f2f2;}
.zxlc-item1 div{height: 420px;line-height: 420px;}
.zxlc-item2 div{height: 120px;line-height: 120px;border-left: 0;}
.zxlc-item2 div:nth-child(1),.zxlc-item2 div:nth-child(2){border-bottom: 0;}
.zxlc-item2 div:nth-child(2){height: 180px;line-height: 180px;}
.zxlc-item3 div{height:30px;line-height: 30px;border-left: 0;border-bottom: 0;}
.zxlc-item3 div:last-child{border-bottom: 1px solid #f2f2f2;}
.zxstyle-item1 div{border:1px solid #f2f2f2;border-top: 0;}
.zxstyle-item1 div:nth-child(1){height: 330px;line-height: 330px;}
.zxstyle-item1 div:nth-child(2){height: 210px;line-height: 210px;}
.zxstyle-item1 div:nth-child(3){height: 270px;line-height: 270px;}
.zxstyle-item1 div:nth-child(4){height: 30px;line-height: 30px;}
.zxstyle-item2 div{height: 30px;line-height: 30px;border:1px solid #f2f2f2;border-top: 0;border-left: 0;}
.zxxc-item1 div{height: 690px;line-height: 690px;border: 1px solid #f2f2f2;border-top: 0;}
.zxxc-item2 div:nth-child(1),.zxxc-item2 div:nth-child(2),.zxxc-item2 div:nth-child(3){border: 1px solid #f2f2f2;border-top: 0;border-left: 0;}
.zxxc-item2 div:nth-child(1){height: 300px;line-height: 300px;}
.zxxc-item2 div:nth-child(2){height: 240px;line-height: 240px;}
.zxxc-item2 div:nth-child(3){height: 150px;line-height: 150px;}
.zxxc-item3 div{height: 30px;line-height: 30px;border: 1px solid #f2f2f2;border-top: 0;border-left: 0;}
.zxxc-item3 div:first-child{border-top: 1px solid #f2f2f2;}
.daochu{height: 80px;border-bottom: 5px solid #ecf0f5;}
.daochu .btn{margin-top: 20px;}
.city-list{border-top: 1px solid #ccc;border-left: 1px solid #ccc;overflow: hidden;box-sizing: border-box;}
.city-list li{float: left;list-style: none;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;height: 50px;line-height: 50px;}
.city-list li span{color:#3C8DBC;margin-left: 10px;}
.num-list{border-top: 5px solid #ecf0f5;height: 110px;}
.num-list div{border-right: 1px solid #f2f2f2;padding-top: 10px;margin-top: 20px;}
.main-box,.main-table{width: 100%;border-top: 5px solid #ecf0f5;overflow: hidden;}
#main, #main1{width:90%;height: 400px;margin: 0 auto;padding-top:20px;}
table .fa-unsorted{color: #666;}
.num-list .num {font-size:28px;}
.main-box {max-height:600px}
#mytable td{border: 0 !important;}
#searchForm .topbianjv{margin-top: 20px;}

.dibufenye{text-align: center;}
.dibufenye li .suoyoujil{margin-left: 20px;}
.dibufenye .tiaozhuanyes{position: relative;top: 1px;margin-left: 5px;}
.dibufenye .tiaozhuanyes input{width: 40px;height: 30px;outline: none;margin: 0 5px;}
.dibufenye .surequed{float: right;margin-left: 5px;display: inline-block}
.dibufenye .surequed a{border-radius: 5px;background: #00cccc;color: #fff;}
.dibufenye .surequed a:hover{background: #00cccc;color: #fff;cursor: pointer;}