.content{position: relative;}
.content-header{padding: 0;}
.hed{margin-bottom: 10px;}
.hed h1 span{font-size: 18px;font-weight: bold;}
.lh-34{line-height: 34px;}
.xuanzkd{width: 10%;}
.zuobjg{margin-left: 35px;}
.youbdyk{width: 17%;}
.lhsjlb{line-height: none !important;}
table .delsc{width: 17px;height: 18px;display: inline-block;background: url(/assets/home/baike/img/dellsc.png) no-repeat;cursor: pointer;}
table .bianji{width: 17px;height: 18px;display: inline-block;background: url(/assets/home/baike/img/bianjilogo.png) no-repeat;cursor: pointer;}
table .tuijian{width: 21px;height: 21px;display: inline-block;background: url(/assets/home/baike/img/tuijian.png) no-repeat;cursor: pointer;}
table .yulan{width: 25px;height: 25px;display: inline-block;background: url(/assets/home/baike/img/yulan.png) no-repeat;cursor: pointer;}
table .logojg{margin: 0 5px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	line-height: 2.428571;
}
table tr td.tgsh{color: #3fcd3f;}
table tr td.mytg{color: #ff0000;}
.yy .qibao{margin-left: 10px;}
.yy .qibao input{position: relative;top: 2px;margin-right: 5px;}
.anniu2{background: #fff;width: 100%;border:none;border-top: 1px solid #e4e4e4;margin-top: 5px;height:30px;line-height: 30px;}
.popover{width:auto;max-width: 500px;min-width: 200px;}
.popover-content{padding:0;padding-top: 9px;}
.yinying{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(4,4,4,0.5);z-index: 811;}
.tancleft{width: 70%;height: 700px;background: #fff;position:absolute;top: 50px;overflow-y:auto;z-index: 820;}
.tancleft .zhunr{height: auto;padding: 6px 12px;box-sizing: border-box;}
.tancleft .zhunr .jianyao{width: 100%;height:230px;border:1px solid #e4e4e4;padding:15px 20px;box-sizing: border-box;position: relative;}
.tancleft .zhunr .jianyao .tuplef{float: left; width: 200px;height: 200px;}
.tancleft .zhunr .jianyao .turight{float:left;margin-left: 34px;display: inline-block;width: calc(100% - 235px)}
.tancleft .zhunr .jianyao .turight p{display: inline-block;line-height: 24px;}
.tancleft .zhunr .jianyao .turight .timerq{position: absolute;bottom: 18px;right: 25px;}
.tancleft .zhunr  .mulujs{width: 100%;height:auto;border:1px solid #e4e4e4;padding:15px 20px;box-sizing: border-box;position: relative;
margin-top: 20px;margin-bottom: 50px;}
.tancleft .zhunr  .mulujs .ximulu{height: 80px;}
.tancleft .zhunr  .mulujs .ximulu h2{display: inline-block;
    float: left;
    font-size: 24px;
    font-family: 微软雅黑;
    width: 63px;
    height: 48px;
    text-align: center;
    margin: 28px 8px 0px 40px;color: #3c3c3c;font-weight: bold;}
.tancleft .zhunr  .mulujs .ximulu .ximulu_xx{    display: inline-block;
    width: auto;
    padding-top: 15px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: rgb(53, 135, 216);
    border-left: 1px dashed rgb(230, 230, 230);}
.tancleft .zhunr  .mulujs .ximulu .ximulu_xx ol li{line-height: 28px;}
.tancleft .zhunr  .mulujs .para_title{display: block;margin-top: 30px;
    border-left: 8px #3587d8 solid;
    height: 24px;
    line-height: 24px;
    margin-bottom: 15px;}
.tancleft .zhunr  .mulujs .para_title .title_text{display: inline-block;
    font-size: 18px;
    font-family: 微软雅黑;
    color: rgb(51, 51, 51);
    margin-left: 13px;font-weight: bold;}
.tancleft .zhunr  .mulujs .para_title .suxian_bj{
	    height: 1px;
    background: #e6e6e6;
    width:80%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    position: relative;
    top: -1px;
}
.tancleft .zhunr .mulujs .fwbnr{width: 100%;}
.tancleft .zhunr .mulujs .fwbnr h3{font-size: 18px;}
.tancleft .zhunr .mulujs .fwbnr p{text-indent: 2em;font-size: 16px;letter-spacing: 0.5px;line-height: 27px;}
.tancright{width: 22%;height: 700px;background: #fff;position:absolute;top: 50px;right:70px;z-index: 820;
padding:15px 20px;}
.tancright .tcytitl{font-size: 16px;letter-spacing: 1px;}
.tancright .ybul{list-style: none;padding-left: 0;margin-top: 20px;}
.tancright .ybul li{margin: 10px 0;}
.tancright .yydb{margin-top: 20px;}
.tancright .zongk{text-align: center;}
.tancright .zuojt{width: auto;display: inline-block;text-align: center;margin-top: 36px;margin-right: 50px;}
.tancright .zuojt .jtzb{width: 27px;height: 27px;background: url(/assets/home/baike/img/zjtlogo.png) no-repeat;display: inline-block;
cursor: pointer;}
.tancright .youjt{width: auto;display: inline-block;text-align: center;margin-top: 36px;}
.tancright .youjt .jtyb{width: 27px;height: 27px;background: url(/assets/home/baike/img/yjtlogo.png) no-repeat;display: inline-block;
cursor: pointer;}
.tancright .anniukz{text-align: center;margin-top: 50px;}
.tancright .anniukz span{padding: 8px 16px;border-radius: 5px;color: #fff;cursor: pointer;}
.tancright .anniukz .butg{background: #999;margin-right: 25px;}
.tancright .anniukz .tongg{background: #169bd5;}
.guanbi{width: 35px;height: 35px;border-radius: 50%;background:rgba(0,0,0,0.7);position: absolute;top: 8px;right: 26px;
z-index: 999;display: inline-block;cursor: pointer;color: #fff;line-height: 35px;text-align: center;font-size: 20px;}
{width:490px;height: 430px;border:1px solid #e4e4e4;}
.zhunrk{padding: 20px 55px;padding-top:10px;width: 490px;height: auto;box-sizing: border-box;}
.zhunrk .titlesh{width: 100%;text-align: center;font-size: 16px;font-weight: bold;}
.zhunrk .wenbenk{width: 100%;height: 120px;border:1px solid #a9a9a9;margin-top: 15px;outline: none;}
.zhunrk .lssrnr{width: 100%;font-size: 14px;font-weight: bold;margin-top: 26px;}
.zhunrk .lssrnrwbk{width: 100%;height: 125px;border:1px solid #a9a9a9;box-sizing: border-box;margin-top: 10px;overflow-y: auto;}
.zhunrk ul{list-style: none;padding: 0;padding-left: 5px;}
.zhunrk .anniukz{width: 100%;margin-top: 23px;text-align: right;}
.zhunrk .anniukz span{padding: 10px 25px;border-radius: 5px;color: #fff;cursor: pointer;}
.zhunrk .anniukz .quxiao{background: #999;margin-right: 15px;}
.zhunrk .anniukz .queding{background: #169bd5;}
.fenyewaik{width: 100%;text-align: center;}