.fl_l {
    float: left;
    font-family: "Libre Baskerville", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif, "Apple Color Emoji";
}

.box2 {
    border: 1px solid #e0e0e0;
    margin-top: 8px;
    width: 730px;
    margin-left: 6px;
    padding-bottom: 20px;
}

.box2 .nav {
    height: 34px;
    background-color: #dddee0;
    margin-bottom: 10px;
    padding-left: 10px;
}

.box2 .nav a {
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    float: left;
    display: block;
    padding: 0 10px;
    margin-right: 10px;
}

.box2 .nav a.on {
    color: red;
    font-weight: bold;
    background: url(/Public/useradmin/image/nav_bg2.png) repeat-x;
}

textarea, textarea.input-text, textarea.input-focus {
    font-size: 12px;
    height: auto;
    padding: 5px;
    margin: 0;
}

select {
    vertical-align: middle;
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #d0d0d0;
    border-style: solid;
    border-width: 1px;
    color: #333;
    padding: 2px;
    height: 24px;
}

.moddle2 {
    width: 718px;
    overflow: hidden;
    margin: 0px auto;
    margin-top: 10px;
    margin-left: 5px;
}

.form-div {
    width: 440px;
    padding-left: 40px;
    margin-top: 20px;
}

#form_btn {
    cursor: pointer;
}

.input {
    padding: 10px 0;
    position: relative;
}

.input input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #DDD;
    padding-left: 5px;
}

.input label {
    width: 84px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    text-align: right;
    float: left;
    vertical-align: middle;
    margin-right: 6px;
    font-weight: normal
}

.radio {
    position: absolute;
    vertical-align: middle;
}

textarea {
    width: 300px;
    height: 60px;
}

.input .select_type {
    height: 30px;
    border: 1px solid #DDD;
}

.onShow, .onFocus, .onError, .onCorrect, .onLoad, .onTime {
    zoom: 1;
    background: url(/Public/useradmin/image/msg_bg.png) no-repeat;
    color: #444;
    padding: 2px 10px 2px 23px;
    margin-left: 10px;
    _margin-left: 5px;
    margin-top: -5px;
    position: absolute;
    margin-top: 1px;
    font-size: 12px;
    line-height: 150%;
}

.onShow {
    background-position: 3px -147px;
    border-color: #40B3FF;
    color: #959595
}

.onFocus {
    background-position: 3px -147px;
    border-color: #40B3FF;
}

.onError {
    background-position: 3px -47px;
    border-color: #40B3FF;
    color: red
}

.onCorrect {
    background-position: 3px -247px;
    border-color: #40B3FF;
    color: #fff;
}

.tablebg {
    background: #F3F3F3;
}

.table .tableth {
    text-align: left;
}

.table .tableCell .input {
    float: left;
    margin: 0 5px;
    padding: 0;
}

.table .tableCell .input input[type=text] {
    width: 100px;
    height: 30px;
    border: 1px solid #c6c6c6;
    padding-left: 5px;
    border-radius: 3px;
}

.table .tableCell .input input[type=radio] {
    margin-top: 8px;
}

.table .tableCell .input select {
    border: 1px solid #c6c6c6;
    width: 50px;
    padding: 5px;
    border-radius: 3px;
}

.table .rowSpan .tableCell {
    border-top: 0;
}

.table .tableCell .input textarea {
    width: 455px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    padding-left: 2px;
    height: 60px;
    resize: none;
}

.table .tableth .input {
    padding: 0;
}

.table .tableth .span, .table .tableCell .span {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-top: 5px;
    cursor: pointer;
}

.table .tableCell:after {
    content: "";
    clear: both;
    display: block;
}

.table .tableCell .button {
    float: left;
    margin-left: 10px;
    width: 100px;
    padding: 4px 12px;
}

.table .adv_index {
    margin-right: 5px;
}

.table .adv_index:first-child {
    margin-left: 5px;
}

.table .tableCell .adv_citys {
    font-weight: normal;
    font-size: 12px;
    margin-right: 5px;
}

.table .tableCell .adv_input {
    margin: 0;
}

.table .tableCell .adv_input .span:hover {
    color: #ff0000;
}

.table .tableCell .adv_active {
    background: #428BCA;
    color: #ffffff;
}

.table .tableCell .adv_current {
    font-weight: bold;
    color: #ff0000;
}

.tags {
    margin: 0;
    padding: 0;
    width: 600px;
    float: left;
    margin-bottom: 10px;
}

.tags li {
    float: left;
    padding: 5px;
    border: 1px solid #DDD;
    background: #ECF0F1;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #666;
}

.tags li i {
    margin-right: 3px;
}

.tags .active {
    background: #FF8589;
    color: #FFF;
    border: 1px solid #FF8589;
}