.zhuti{padding: 15px;}
.content-header > h1 > small{font-size: 18px;font-weight: 700;}
.btn-primary{padding: }
table{border-bottom: 1px solid #f2f2f2;border-top: 1px solid #f2f2f2;box-sizing: border-box;}
.hbot{border-bottom: none;}

.skin-blue .content-header{padding:0;}
table th,table td{text-align: left !important;width: 1%;}
table .shuxian{margin-left: 20px;}
table .shuxian2{margin-right: 5px;}
table .logojg {
    margin: 0 5px;
}

table .bianji {
    width: 17px;
    height: 18px;
    display: inline-block;
    background: url(/assets/home/baike/img/bianjilogo.png) no-repeat;
    cursor: pointer;
}
table .delsc {
    width: 17px;
    height: 18px;
    display: inline-block;
    background: url(/assets/home/baike/img/dellsc.png) no-repeat;
    cursor: pointer;
}
table .caozuo{text-indent: 1em;}
.bootstrap-switch.bootstrap-switch-mini{float: left;margin-top: 0;margin-left: 55px;}
table .jvli{text-indent: 55px;}
.modal .xuanzefenlexl{width: 280px;height: 35px;}
.modal .kuandu{width: 280px;}
.form-group{margin-left: 90px;}
.tanchaun{height: 445px;}
.modal-footer button{padding-left: 20px;padding-right: 20px;}