.zhuti{padding-bottom: 200px;}
.hed {
    position: relative !important;
    padding:0 !important;
    margin-bottom: 10px;
}
.hdtb{padding-bottom: 15px;}
.tabletb{margin-bottom: 10px;}
.hbot{border-bottom: 1px solid #e4e4e4;padding-bottom: 15px;}
.ftjy{float: right;}
ul.liebiao{list-style: none;height: auto;overflow: hidden;-webkit-padding-start: 15px;}
.liebiao li{float: left;width: 269px;height: 352px;box-sizing: border-box;display: inline-block;
border: 1px solid #d7d7d7;margin-right: 45px;margin-bottom: 20px;position:relative;}
.liebiao li .xh{height: 40px;line-height: 40px;border-bottom: 1px solid #d7d7d7;}
.liebiao li .xh .xh_01{float: left;font-weight: bold;margin-left: 14px;}
.liebiao li .xh .xh_02{float: left;font-weight: bold;margin-left: 50px;}
.liebiao li .xh .xh_03{float: right;margin-right: 14px;}
.liebiao li .tpzs{clear: both;width: 240px;height: 150px;margin:14px;display: inline-block;}
.liebiao li .yfzcs{margin: 14px;margin-top: 0 !important;color: #333;font-weight: bold;}
.liebiao li .jvtms{color: #6a7474;font-size: 14px;margin: 14px;}
.liebiao li .db{height: 38px;line-height: 38px;border-top: 1px solid #d7d7d7;position: absolute;bottom: 0;width: 100%;
background: #f2f2f2;vertical-align: middle;}
.liebiao li .db .shanchu{width: 20px;height: 20px;display: inline-block;
	background: url(/assets/home/weixinarticle/img/delbj.png) no-repeat center center;vertical-align: middle;
cursor: pointer;position: relative;top: -2px;margin-left: 20px;}
.liebiao li .db .bianji{width: 20px;height: 20px;display: inline-block;
	background: url(/assets/home/weixinarticle/img/edit.png) no-repeat center center;vertical-align: middle;
cursor: pointer;position: relative;top: -3px;margin-left: 90px;}
.bootstrap-switch.bootstrap-switch-mini{float: right;margin-right: 10px;margin-top: 10px;min-width: 65px !important;}
.tanchaun{width: 825px;height: 634px;border:1px solid #d7d7d7;}
.modal-title{text-align: center;}
.modal-header{border-bottom: 0;}
.modal-footer{border-top: 0;}
.modal-body{width: 620px;margin: 0 auto;padding: 0;}
.modal-footer{width: 620px;margin: 0 auto;padding: 0;}
.modal-body .heg{height: 34px;padding: 6px 0;text-align:left;}
.modal-body .jianjie{height: 34px;padding: 6px 0;text-align:left;clear: both;}
.form-group{margin-bottom: 26px;overflow: hidden;}
.form-group:last-child{margin-bottom: 10px;}
.form-group .shuoming{font-size: 12px;color: #6f7474;margin-top: 10px;}
.yinyingbj{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background:rgba(4, 4, 4, 0.5);display: none;}
.tistanchuang{width: 440px;height: 155px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin:auto;
background: #fff;display: none;}
.tistanchuang .titletb{height: 30px;line-height: 30px;font-size: 16px;font-weight: bold;margin-top: 10px;}
.tistanchuang .titletb .shanlft{float: left;margin-left: 15px;}
.tistanchuang .titletb .shanrit{float: right;margin-right: 15px;cursor: pointer;}
.tistanchuang .sureshan{font-size: 14px;margin-top: 30px;margin-left: 26px;}
.tistanchuang .dibusc{margin-top: 25px;}
.tistanchuang .dibusc .sure{border:1px solid #797979;padding: 6px 20px;cursor: pointer;float: left;margin-left: 236px;}
.tistanchuang .dibusc .cancel{border:1px solid #797979;padding: 6px 20px;cursor: pointer;float: right;margin-right: 47px;
}
.alert-warning{margin:0px 15px;}