/*.middlexians{width: 1230px !important;}*/
body{color: #333;}
img{outline: none;}
.zhutigaodu{padding-bottom: 40px;}
.middlexians{margin-top: 65px;min-width:1300px;padding-bottom: 124px;height: 335px;}
.middlexians .xuanzhezuo{overflow: hidden;float: left;margin-left: 100px;}
.middlexians .xuanzhezuo input{margin-right: 2px;display: inline-block;width: 13px;height: 13px;
	appearance: none; -webkit-appearance: none;-moz-appearance:none;vertical-align: middle;
	background: url(/assets/home/contract/img/weixuanz.png) no-repeat center center;background-size: 100% 100%;
outline: none;}
.middlexians .xuanzhezuo input:checked{margin-right: 2px;display: inline-block;width: 13px;height: 13px;
	appearance: none; -webkit-appearance: none;-moz-appearance:none;vertical-align: middle;
	background: url(/assets/home/contract/img/xuanzhong.png) no-repeat center center;background-size: 100% 100%;
outline: none;}
.middlexians .xuanzhezuo .xuanzheneriyou{display: inline-block;float: left;border:1px solid #a1a1a1;padding: 10px 7px;
	height: 205px;width: 190px;overflow-y: auto;}
.middlexians .xuanzhezuo .xuanzheneriyou span{display: block;}
.middlexians .xuanzhezuo .mouveanniu{background: #fb8920;color: #fff;border-radius: 5px;display: inline-block;float: left;
font-size: 20px;padding: 6px 10px;vertical-align: middle;margin: 90px 15px;cursor: pointer;}
.middlexians .xuanzhezuo .xuanzhenerizuo{display: inline-block;float: left;border:1px solid #a1a1a1;padding: 10px 7px;
	height: 205px;width: 190px;overflow-y: auto;}
.middlexians .xuanzhezuo .xuanzhenerizuo span{position: relative;top: 3px;}
.middlexians .xuanzhezuo .hetongsp{display: inline-block;float:left; }
.middlexians .xuanzhezuo .allxuanzhe .allquanxuan{margin-left: 105px;font-size: 14px;margin-bottom: 10px;display: inline-block;
margin-right: 3px;}
.middlexians .xuanzhezuo .allxuanzhe span{position: relative;top: -2px;display: inline-block;}
.middlexians .xuanzhezuo .daishenqzs{text-align: left;display: block;clear: both;}
.middlexians .xuanzhezuo .daishenqzs span{margin-left: 180px;}
.middlexians .xuanzhezuo .shenpi{overflow: hidden;text-align: center;margin-top: 18px;}
.middlexians .xuanzhezuo .shenpi button{width: 94px;height: 27px;line-height: 24px;background: #fff;color: #fb8920;
	border: 1px solid #fb8920;border-radius: 5px;display: inline-block;text-align: center;cursor: pointer;outline: none;}
.middlexians .xuanzhezuo .shenpi .rukuanniu{margin-right: 16px;margin-left: 96px;}

.middlexians .xuanzheyou{overflow: hidden;float: right;margin-right: 34px;}
.middlexians .xuanzheyou input{margin-right: 2px;display: inline-block;width: 13px;height: 13px;
	appearance: none; -webkit-appearance: none;-moz-appearance:none;vertical-align: middle;
	background: url(/assets/home/contract/img/weixuanz.png) no-repeat center center;background-size: 100% 100%;
outline: none;}
.middlexians .xuanzheyou input:checked{margin-right: 2px;display: inline-block;width: 13px;height: 13px;
	appearance: none; -webkit-appearance: none;-moz-appearance:none;vertical-align: middle;
	background: url(/assets/home/contract/img/xuanzhong.png) no-repeat center center;background-size: 100% 100%;
outline: none;}
.middlexians .xuanzheyou .xuanzheneriyou{display: inline-block;float: left;border:1px solid #a1a1a1;padding: 10px 7px;
	height: 205px;width: 190px;overflow-y: auto;}
.middlexians .xuanzheyou .xuanzheneriyou span{display: block;}
.middlexians .xuanzheyou .mouveanniu{background: #fb8920;color: #fff;border-radius: 5px;display: inline-block;float: left;
font-size: 20px;padding: 6px 10px;vertical-align: middle;margin: 90px 15px;cursor: pointer;}
.middlexians .xuanzheyou .xuanzhenerizuo{display: inline-block;float: left;border:1px solid #a1a1a1;padding: 10px 7px;
	height: 205px;width: 190px;overflow-y: auto;}
.middlexians .xuanzheyou .xuanzhenerizuo span{position: relative;top: 3px;}
.middlexians .xuanzheyou .hetongsp{display: inline-block;float:left; }
.middlexians .xuanzheyou .allxuanzhe .allquanxuan{margin-left: 105px;font-size: 14px;margin-bottom: 10px;display: inline-block;
margin-right: 3px;}
.middlexians .xuanzheyou .allxuanzhe span{position: relative;top: -2px;display: inline-block;}
.middlexians .xuanzheyou .daishenqzs{text-align: left;display: block;clear: both;}
.middlexians .xuanzheyou .daishenqzs span{margin-left: 180px;}
.middlexians .xuanzheyou .shenpi{overflow: hidden;text-align: center;margin-top: 18px;}
.middlexians .xuanzheyou .shenpi button{width: 94px;height: 27px;line-height: 24px;background: #fff;color: #fb8920;
	border: 1px solid #fb8920;border-radius: 5px;display: inline-block;text-align: center;cursor: pointer;outline: none;}
.middlexians .xuanzheyou .shenpi .rukuanniu{margin-right: 16px;margin-left: 96px;}

.step_item_box .kucunshanchu{margin-top: 40px;min-width: 1300px !important;text-align: center;height: 185px;}
.step_item_box .kucunshanchu .jvzhongxs{margin: 0 auto;display: inline-block;}
.kucunshanchu .jvzhongxs .kcscbiaodan{height: auto;overflow: visible;}
.kcscbiaodan .dangeshuru{margin-left: 60px;}
.kcscbiaodan .shanchuanniu{padding: 12px 18px;border: 1px solid #fb8920;color: #fb8920;border-radius: 5px;
display: inline-block;width: auto;line-height: 0;margin-left: 15px;background: #fff;}
.kucunshanchu .jvzhongxs .qujiandg{text-align: center;margin-bottom: 16px;}
.jvzhongxs .qujiandg .qujian{display: inline-block;position: relative;right: 83px;color: #fb8920;}
.jvzhongxs .qujiandg .dange{display: inline-block;position: relative;left: 158px;color: #fb8920;}
.kcscbiaodan input{width: 130px;outline:none;color: #999;}


