.step_item_box{overflow:hidden;}
.step_item_box .kucunshenqwk{min-width: 1300px !important;margin-top: 19px;}
.step_item_box .daoruhetongwk{display: inline-block;float: left;margin-left: 20px;margin-top: 33px;}
/*.step_item_box .daoruhetongwk .daoruhtbh01{}*/
.daoruhetongwk .daoruhtbh01 .bianhaotx{margin-right: 26px;}
.daoruhetongwk .daoruhtbh01 input{margin-right: 14px;width: 131px;height: 28px;outline: none;
border: 1px solid #a1a1a1;color: #999;}
.daoruhetongwk .daoruhtbh01 select{width: 100px;height: 28px;margin-right: 14px;}
.daoruhetongwk .daoruhtbh01 input.shuruput{margin-left: 11px;}
.daoruhetongwk .daoruhtbh01 .tijiaoanniu{width: 58px;height: 28px;border: 1px solid #fb8920;border-radius: 5px;color: #fb8920;
background: #fff;outline: none;line-height: 24px;}
.step_item_box .daoruhetongwk .daoruhtbh02{margin-top: 25px;}
.daoruhetongwk .daoruhtbh02 .bianhaotx{margin-right: 26px;}
.daoruhetongwk .daoruhtbh02 input{margin-right: 14px;width: 131px;height: 28px;outline: none;
	border: 1px solid #a1a1a1;color: #999;}
	.daoruhetongwk .daoruhtbh02 select{width: 100px;height: 28px;margin-right: 14px;}
.daoruhetongwk .daoruhtbh02 input.shuruput{margin-left: 11px;}
.daoruhetongwk .daoruhtbh02 .tijiaoanniu02{width: 58px;height: 28px;border: 1px solid #fb8920;border-radius: 5px;color: #fb8920;
background: #fff;outline: none;line-height: 24px;}

.step_item_box .kucunshenqwk .shenqjlbg{display: inline-block;float: right;position: relative;margin-right: 36px;}
.kucunshenqwk .shenqjlbg .chakanmore{display: inline-block;background: #fff;color: #fb8920;border:1px solid #fb8920;
border-radius: 5px;height: 28px;line-height: 24px;padding: 1px 6px;cursor: pointer;position: absolute;right: 0;top: -10px;}
.kucunshenqwk .shenqjlbg .shenqjltitle{margin-bottom: 16px;font-size: 20px;font-weight: bold;}
.step_item_box .kucunshenqwk .shenqjlbg .shenqjltitle{text-align: center;}
.shenqingshujv .biankuz{border: 1px solid #a1a1a1;margin-right: 2px;}
.shenqingshujv .biankuz th,.shenqingshujv .biankuz td{padding:8px 5px;border: 0;}

.yinyingz{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.5);z-index: 99;display: none;}
.dabiaoge{width: 50%;position: fixed;top:0;bottom:0;left:0;right:0;margin:auto;background: #fafafa;height: 450px;
z-index: 9999;border: 1px solid #a1a1a1;display: none;}
.dabiaoge .biankuz2{margin-right: 2px;}
.dabiaoge .guanbidiv{text-align: right;display: block;}
.dabiaoge .biaogekz{height: 426px;overflow-y: auto;clear: both;margin-top: 40px;}
.dabiaoge .guanbidiv .guanbianniu{display: inline-block;
	margin-right: 5px;margin-top: 3px;padding: 5px;cursor: pointer;float: right;}
.dabiaoge .biankuz2 th,.dabiaoge .biankuz2 td{padding:8px 5px;border: 0;}

.step_item_box .kaipiaosc{min-width: 1300px !important;margin-top: 35px;overflow: hidden;}
.step_item_box .kaipiaosc .kpscinput{margin-top: 22px;overflow: hidden;}
.step_item_box .kaipiaosc .kpscinput input{width: 130px;height: 28px;line-height: 28px;border: 1px solid #a1a1a1;
outline: none;margin-right: 40px;margin-left: 25px;color: #999;}
.step_item_box .kaipiaosc .kpscinput .shuruhet{margin-left: 80px;}

.step_item_box .kaipiaosc .input_box_line{margin-top: 36px;}
.jingao {
    margin-top: 20px;
    color: #FF5353;
    padding-left: 15px;
}
.step_item_box .kaipiaosc .label_name{margin-left: 100px;}
.step_item_box .kaipiaosc .qurbcwaik{}
.step_item_box .kaipiaosc .qurbcwaik .baocun{padding: 11px 22px;border: 1px solid #fb8920;border-radius: 5px;
	background: #fff;color: #fb8920;outline: none;}
