.content-wrapper{background: #f2f2f2 !important;}
/*.content-wrapper .zhutigaodu{min-height: 500px;}*/
.zhutigaodu .main_content .tjchaxun{margin-top: 10px;}
.zhutigaodu .main_content .tjchaxun span{font-size: 16px;}
.zhutigaodu .main_content .chaxtime{}
.zhutigaodu .main_content .chaxtime input{width: 130px;height: 30px;line-height: 30px;outline: none;background: #fff;}
.zhutigaodu .main_content .chaxtime .kaishitime{display: inline-block;}
.zhutigaodu .main_content .chaxtime .jiesutime{display: inline-block;}
.zhutigaodu .main_content .chaxtime .bumenxz{display: inline-block;}
.zhutigaodu .main_content .chaxtime .bumenxz .xuanzbumen{width: 100px;height: 30px;}
.zhutigaodu .main_content .chaxtime .jieshuspan{margin-left: 40px;}
.zhutigaodu .main_content .chaxtime .bumenspan{margin-left: 40px;}
.topqiehuan{display: inline-block;margin-left: 35px;width: 121px;height:30px;
background: url(/assets/home/contract/img/qiehuan01.png) no-repeat;vertical-align: middle;}
.topqiehuan2{display: inline-block;margin-left: 35px;width: 121px;height:30px;
background: url(/assets/home/contract/img/qiehuan02.png) no-repeat;vertical-align: middle;}
.zhutigaodu .main_content .chaxtime .topqiehuan span{width: 48%;height: 30px;display: inline-block;line-height: 30px;
text-align: center;cursor: pointer;}
.zhutigaodu .main_content .chaxtime .topqiehuan2 span{width: 48%;height: 30px;display: inline-block;line-height: 30px;
text-align: center;cursor: pointer;}
.zhutigaodu .main_content .chaxtime .topqiehuan .anri{
color: #fff;float: left;}
.zhutigaodu .main_content .chaxtime .topqiehuan .anyue{
color: #666699;float: right;}
.zhutigaodu .main_content .chaxtime .topqiehuan2 .anri{
color: #666699;float: left;}
.zhutigaodu .main_content .chaxtime .topqiehuan2 .anyue{
color: #fff;float: right;}
.shuoming:hover .zhushikz2{ height: 174px !important;padding-top: 4px;}
.zhushi .tjitableniu{display: inline-block;float: left;vertical-align: middle;}
.zhushi .tjitableniu span{width: 140px;height: 30px;color: #fff;font-size: 14px;
text-align: center;line-height: 30px;display: inline-block;cursor: pointer;font-weight: normal;}
.zhushi .tjitableniu .pjtable{margin-left: 10px;}
.lansebj{background: #169bd5;}
.zisebj{background: #800080;}
.biaoge .bianjvpa{padding: 0 !important;}
.biaoge .bianjvpa table{border: 1px solid #e4e4e4 !important;}
.biaoge .bianjvpa table th{border: 1px solid #e4e4e4 !important;}
.biaoge .bianjvpa table tr{border: 1px solid #e4e4e4 !important;}
.biaoge .bianjvpa table td{border: 1px solid #e4e4e4 !important;width: 1% !important;}
.biaoge .bianjvpa table .huizong{font-weight: bold;}
#tablelist2{display: none;}
