.play{ width:841px; background:#eee; float:right; height:390px;border: 1px solid #f1f1f1;}
.secbox{ background: url(/assets/common/pic/secbg.gif) no-repeat; width:346px; height:286px; float:left; border:1px solid #eee; padding-top:102px; position:relative}
.secbox .int{ width:300px; margin:0 auto;  height:30px;line-height:30px; margin-bottom:20px; overflow:hidden}
.secbox .int input{ width:288px; border:0; margin:0; padding:0; height:28px; padding-left:10px; float:left; color:#888; line-height:28px\0; *line-height: 28px; border:1px solid #ccc;}
.secbox .int a{ width:100%; height:30px; display:block; float:left; text-align:center; color:#fff; font-size:14px; font-weight:bold ; background:#db393e }
.secbox .int .sele{ width:140px; height:30px; line-height:30px; +padding:5px 0; padding:5px 0\0; border:1px solid #ccc;color:#888; padding-left:10px;}
.secbox .int .sele option{padding-left: 5px;}
.secbox .int a:hover{ background:#d0383e; text-decoration:none}
.secbox .bottips{ position:absolute; bottom:1px; width:345px; left:1px; height:75px}
.secbox .bottips li{ background:#f7f7f7; margin-right:1px; float:left; width:114px; height:60px; padding-top:15px; line-height:20px; line-height:20px\0; *line-height:20px; text-align:center; color:#888}
.secbox .bottips li img{ display:block; margin:0 auto}
.secbox .tips{width:300px; margin:0 auto;}
.secbox .tips li{ margin-top:20px; font-family:"Microsoft YaHei"; font-size:14px}

.qzdata{ border:2px dashed #eee; overflow:hidden ;padding:20px 0}
.qzdata ul li{ float:left; width:201px; display:block; font-family:"Microsoft YaHei"; text-align:center; color:#666; line-height:25px; line-height:25px\0; *line-height:25px;}
.qzdata ul li img{ margin:0 auto; display:block}
.qzdata ul li h1{ font-weight:100; font-size:18px}
.qzdata ul li p{ color:#888; font-size:18px;}.qzdata ul li p span{ font-family:Impact,"Microsoft YaHei"; color:#ff7925;}
.scollmes{position: relative;  background:url(/assets/common/pic/scollmes.gif) left no-repeat; padding-left:30px; font-size:14px; height:20px; line-height:20px; line-height:20px\0; *line-height:20px;}
.scollmes-msg{display:none;bottom:-20px; position: absolute; width: auto; height: 20px; left: 152px;}
.scollmes .current{display: block;}
.c_t{ background:url(/assets/common/pic/ctbg.gif) center repeat-x; height:30px; width:1210px; text-align:center}.c_t span{ display: inline-block; margin:0 auto; padding:0 20px; font-family:"Microsoft YaHei"; font-size:24px; width:auto; background:#FFF}
.casebox{ width:980px; float:left;height:260px;overflow:hidden;}
.casebox li{ width:311px; height:258px;border:1px solid #eee; overflow:hidden; float:left; margin-left:20px}.casebox li.last{ margin:0}.casebox li .tu{width:311px; height:200px; position:relative}.casebox li .tu img{ width:100%; height:100%}.casebox li .tubt{ position:absolute; bottom:0; height:5px; width:100%; background:url(/assets/common/pic/tubg.png); left:0}
.casebox li:first-child{margin-left: 0;}
.casebox li dl{ float:left; padding:10px 20px; line-height:20px}.casebox li .bot{ float:right; height:28px; width:100px; background:#db393e; border-radius:2px; font-size:14px; color:#fff; text-align:center; line-height:28px; border:1px solid #9b1115; margin:15px 20px 0 0; text-shadow:0px -1px #9b1115}.casebox li .bot:hover{ text-decoration:none; background:#FE344E}

.citybox{ margin-top:20px; float:right; width:210px; overflow:hidden; height:260px}
.citybox dl{ width:188px; height:150px; background:#f7f7f7; border:1px solid #eee; padding:10px}.citybox dl dt{ display:block; height:25px; color:#888; line-height:25px;line-height:25px\0; *line-height:25px;} .citybox dl dd{ float:left; margin-bottom:5px} .citybox dl dd a{ display:block; border-radius:3px; background:#e03c44; color:#fff; height:20px; line-height:20px; padding:0 5px; margin-right:10px}

.miniad{ width:210px;height:68px; margin-top:20px}

.more{ width:100%; display:block; height:30px; font-size:14px;  line-height:30px; text-align:center; background:#f7f7f7; clear:both; margin-top:20px}a.more:hover span{ margin-left:20px;
transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition:  all 0.2s; /* Opera */ }a.more:hover{text-decoration:none}

.tab_l{ float:left; width:200px}
.tabtitle{ background:url(/assets/common/pic/tabtop.jpg) no-repeat #f7f7f7 20px 10px; width:100%; height:40px; padding-top:50px}.tabtitle span{ margin:0 10px; border-top:1px solid #ccc; width:180px; display:block; line-height:40px; height:40px; text-align:center; color:#888}
.tabtitle i{color: #DB393E; font-size: 14px; margin: 0 3px; font-style: italic;}
.tab-nav > div{ cursor: pointer; border:1px solid #ccc; height:88px; display:block; position:relative; margin-top:10px}
.tab-nav div span{ height:52px; position:absolute;display:block;margin-top:8px; width:170px; background:#fff; padding:10px 15px; line-height:30px; line-height:30px\0; *line-height:30px; left:-1px }
.tab-nav div span i{ font-size:24px; display:block; font-family:"Microsoft YaHei"}
.tab-nav div span a{color: #666; font-size: 12px; margin:0 1px;}
.tab-nav >div:hover a,.tab-nav >div.current a{color: #fff;}
.tab-nav >div:hover,.tab-nav >div.current{ color:#FFF; background:#e03c44; border:1px solid #e03c44}
.tab-nav div:hover span,.tab-nav div.current span{background: url(/assets/common/pic/tab1.jpg) no-repeat right}
.tab-nav div em{ color:#888}.tab-nav div:hover em,.tab-nav div.current em{ color:#fff}

.tab_r { float:right; width:990px; overflow:hidden}
.tab_r .tab-con-item{width:990px; overflow:hidden; height:490px; display:none}
.tab_r .tab-con-item ul { display:block; width:100%; height:30px}
.tab_r .tab-con-item ul li{ float:left; margin-right:20px; height:30px; line-height:30px}
.tab_r .tab-con-item ul li a{ color:#888}.tab_r .tab-con-item ul li a:hover{ color:#e03c44}
.tab_r .tab-con-item dl{ overflow:hidden}
.tab_r .tab-con-item dd,.tab-con-item dt{ position:relative}
.tab_r .tab-con-item dt{ position: relative; height:460px; width:640px; float:left;overflow: hidden;}.tab_r .tab-con-item dt img,.tab_r .tab-con-item dd img,.gltu img{ width:100%; height:100%}
.tab_r .tab-con-item dt span{ position:absolute; font-size: 18px; color: #666; padding-left: 20px; background: #F1F1F1; width: 635px; bottom: 0; left: 0; height: 70px; line-height: 70px;  overflow: hidden; }

.tab_r .tab-con-item dt span h1{ font-size:20px; font-family:"Microsoft YaHei"; font-weight:100; margin-bottom:20px}
.tab_r .tab-con-item dd{ float:right; width:330px; height:220px; margin-top:20px;}
.tab_r .tab-con-item dd:first-child{margin-top:0;}
.tab_r .tab-con-item dd span{ font-size: 16px; color: #FFF; width:250px; height:35px;  position:absolute;background:#000; background:rgba(0,0,0,.7); color:#fff; bottom:10px; right: 0; line-height:35px; padding-left: 15px;}
.tab_r .tab-con-item dd span a{color: #FFF; font-size: 14px;}
.tab_r .tab-con-item dt >a{height: 390px; display: block; width: 640px;}


.gltu{ width:495px; height:325px; margin-top:20px; position: relative; float:left}
.gltu span{width:475px;  height:60px;position:absolute; background:#000;background:rgba(0,0,0,.7); color:#fff; padding:0 10px; line-height:30px; line-height:30px\0; *line-height:30px; bottom:0; left:0}.gltu span h1{ font-size:18px; font-family:"Microsoft YaHei"}

.gllist{ float:left; margin-left:20px; margin-top:20px; width:450px}

.listtop{ height:120px;line-height:18px; line-height:18px\0; *line-height:18px;overflow:hidden; color:#888}
.listtop h1{ line-height:45px; font-size:18px; font-weight:100}.listtop span a{ color:#e03c44}
.listmenu { line-height:22px; line-height:20px; line-height:20px\0; *line-height:20px; overflow:hidden; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #ccc}
.listmenu a{ float:left; display:block; margin-right:10px; padding:0 5px; border:1px solid #fff}.listmenu a.current{ border:1px solid #e03c44; color:#e03c44}.listmenu a:hover{ text-decoration:none}
.gllist .tab-con-item{ display:none}.gllist .tab-con-item ul li{ background:url(/assets/common/pic/liststyle.gif) 3px 8px no-repeat; padding-left:15px; line-height:20px; line-height:20px\0; *line-height:20px; height:20px; width:420px; overflow:hidden}

.glitem{ float:right; width:203px; height:293px; background:#f4f4f4; border:1px solid #eee; margin-top:20px; padding:15px 10px}
.glitem h1{ line-height:20px; line-height:20px\0; *line-height:20px; height:20px; font-size:18px; font-family:"Microsoft YaHei"; font-weight:100; display:block; padding-left:20px; background:url(/assets/common/pic/itme.gif) no-repeat left}.glitem ul{ margin-top:10px; overflow:hidden}.glitem ul li{ width:67px; line-height:30px; float:left; margin-top:10px; text-align:center}.glitem ul li span{ border-radius:5px; background:#fff; width:50px; height:45px; display:block; margin:0 auto; line-height:50px; padding-top:5px}
.glitem .bot a{ width:193px; display:block;  line-height:25px; line-height:25px\0; *line-height:25px;height:25px; text-align:center; background:#e03c44; color:#FFF; border-radius:5px; margin:0 5px; margin-top:15px }.glitem .bot a:hover{background:#ec5057; text-decoration:none}



.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.banner1{width:840px; height:390px; position:relative; overflow:hidden;}
.banner-btn{ display:none;}
.banner-btn a{ display:block;  position:absolute;top:50%; margin-top: -50px; width:47px; height:101px; opacity:0.2; filter:alpha(opacity=30) color: rgb(255, 255, 255);overflow: hidden; z-index:4;}
.prevBtn{left:0px;}
.nextBtn{right:0px;}
.banner-img{ font-size:0; *word-spacing:-1px;/* IE6、7 */ letter-spacing: -3px; position:relative;}
.banner-img li{ display:inline-block;*display:inline;*zoom:1;/* IE6、7 */ vertical-align: top; letter-spacing: normal;word-spacing: normal; font-size:12px;}
.banner1 i{ width: 46px;height: 80px; cursor:pointer; display:block;}
.banner1 .nextBtn i{ background:url(/assets/common/img/global.png) 0 center no-repeat;width:47px;height:101px;background-position:-459px -17px;}
.banner1 .prevBtn i{ background:url(/assets/common/img/global.png) 0 center no-repeat;width:47px;height:101px;background-position:-403px -17px;}

.banner-circle{ position:absolute; left:50%; bottom: 15px;height: 13px;text-align: center;font-size: 0; }
.banner-circle li{ border-radius: 10px; margin:5px; display: inline-block; display: -moz-inline-stack; vertical-align: middle;zoom: 1; }
.banner-circle li a{ display: block;padding-top: 12px;width: 12px;height: 0;border-radius: 50%; background: #ccc;overflow: hidden;}
.banner-circle .selected a{ background: #FF595E; }


.askbox {margin-top:30px;}
.askbox .top_title {color:#3c3c3c;font-size:26px;font-weight: 100;font-family: Microsoft YaHei;height: 45px;padding:0px;background: #fff}

.wenda {width:940px;float:left;font-family:"Microsoft YaHei";background:#f2f2f2;}
.wenda .red {color:red}
.wenda .green {color:green}
.wenda .brand {margin:10px;padding:10px;background:#fff}
.wenda .brand li {float:left;width:235px;}
.wenda .brand li .logo {width:200px;height:100px;background:#fff;margin-top:15px;margin-left:18px;text-align: center}
.wenda .brand li img {width:150px;height:105px;margin-top:12px;}
.wenda .brand .img {padding-left:10px;width:180px;}
.wenda .brand .info {width:710px;padding-top:10px;font-family: Microsoft YaHei;color:#333;}
.wenda .brand .info .t {font-size:14px;}
.wenda .brand .info p {line-height:20px;margin-bottom:8px;font-size: 13px;}


.wenda .hot {float:left;width:48%;margin-left:10px;}
.wenda .new {float:left;width:48%;}
.wenda .title {font-size:18px;margin-bottom:10px;margin-top:10px;font-family:"Microsoft YaHei";color:#3c3c3c;}

.zj-list {margin-left:10px;padding-left:10px}
.zj-list li {margin-right:10px;line-height:26px;font-size:13px;color:#333;}

.diary {float:left;width:230px;margin-left:19px; }
.de-hot-diary { margin:10px;padding-bottom:10px;padding-top:10px;}
.de-hot-diary li { border-bottom: 1px dotted #f1f1f1; padding-bottom:10px; margin-top:12px;height:100%; }
.de-hot-diary li a:hover { text-decoration: none; opacity:0.8}
.de-hot-diary li .img {float:left;}
.de-hot-diary li .title {font-size:14px;font-family:Microsoft YaHei;padding-left:15px;}
.de-hot-diary li img { height:58px; width:58px;margin-right: 15px;border-radius: 100px;}
.de-hot-diary p {color:#999;}

.index_box .int{height: 45px;}
.index_box .int input{height: 40px;}
.index_box .int .sele{height: 40px;}
.index_box .int a{height: 40px; line-height: 40px; font-size: 16px;}


