.userhead-warp{ width:374px; overflow:hidden; margin:30px auto}
.userhead-warp dt{ padding:10px; border:1px solid #f1f1f1; width:120px; height:120px; float:left}
.userhead-warp dd{float:left; width:30px; padding:0 30px; color:#6CF; margin-top:60px}
.userhead-warp img,.complist img{ width:auto; height:auto; max-height:100%; max-width:100%}
.userhead-warp dt.compinfo{ background:#f7f7f7; text-align:center}
.userhead-warp dt.compinfo .complogo{ width:120px; height:80px; display:block}
.userhead-warp dt.compinfo p{ height:20px; line-height:20px; overflow:hidden;}
.binding-btn{ margin:0 auto; background:#F15858;border:1px solid #ed3232; color:#fff; line-height:35px; display:block; width:150px; text-align:center; font-size:14px}
.binding-btn:hover{ background:#5cca78;border:1px solid #38b47e; color:#fff; text-decoration:none; box-shadow:0px 0px 5px #5cca78}
.binding-btn-disable{margin:0 auto; background:#ccc;border:1px solid #bbb; color:#fff; line-height:35px; display:block; width:150px; text-align:center; font-size:14px; margin-bottom:20px}
.binding-btn-disable:hover{ cursor:text;color:#fff; text-decoration:none}
.yh-main{ min-height:500px}

.complist{ padding:10px; width:100%; border:1px solid #f1f1f1; margin-top:20px; text-align:center}
.complist .complogo{ width:120px; height:80px; display:block; margin:0 auto}
.complist .agree{ border-radius:3px; line-height:25px; color:#3c3c3c; display:inline-block; margin-bottom:10px; padding:0 10px; border:1px solid #eee;background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
.complist .agree:hover{text-decoration:none; color:#5cca78;background: rgb(241,241,241); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.complist .disgree{border-radius:3px; line-height:25px; color:#fff; display:inline-block; margin-bottom:10px; padding:0 10px; border:1px solid #ccc; background:#ccc}
.complist .disgree:hover{text-decoration:none; background:#F15858; border:1px solid #F15858;}



/********/
.collect-list{ overflow:hidden; margin:20px 0; width:1000px}
.collect-list li{ position:relative}
.collect-list li span.icon-ok{ background:#6C6; color:#fff; font-size:18px; position:absolute; width:30px; height:30px; line-height:30px; text-align:center; top:10px; right:10px}
.collect-list li span.icon-remove{ background:#ED3F50; color:#fff; font-size:18px; position:absolute; width:30px; height:30px; line-height:30px; text-align:center; top:10px; right:10px}
.collect-list li span.icon-exclamation-sign{ cursor: pointer; background:#FC0; color:#fff; font-size:18px; position:absolute; width:30px; height:30px; line-height:30px; text-align:center; top:10px; right:10px}
.collect-list li:hover{ background:#f7f7f7}
.collect-list li{position: relative; float:left; width:248px; overflow:hidden;text-align: center; padding:10px; border:1px solid #f1f1f1; margin-right:30px; margin-bottom:20px; }
.collect-list li img{ height:170px; max-width:100%; width:auto; margin-bottom:10px}
.collect-list li p{ text-align:left; line-height:25px}.collect-list li p span{ color:#aaa; margin-right:20px}

.add-btn{background: #f7f7f7; display:block; padding:10px 20px; line-height:30px;  border:2px dashed #f1f1f1;color:#38b47e; font-size:18px; text-align:center;margin-top:20px}
.add-btn:hover{ background:#8ad9b7; color:#fff; text-decoration:none; border:2px dashed #fff;}
/**********/
/*********/
.ht-moreinfo{ font-size:14px; line-height:30px; margin-top:50px}
.ht-moreinfo>li{ margin-bottom:20px; overflow:hidden;width: 870px;}
.ht-moreinfo>li>span{ float:left; width:80px; font-weight:bold; text-align:right; padding-right:10px}
.ht-moreinfo>li input[type=text]{ color: #666; padding-left: 5px; border:1px solid #ccc; line-height:30px;display:inline-block; margin-right:20px; width:169px; height:30px\0}
.ht-moreinfo>li .select{ color: #666; border:1px solid #ccc; height:30px; width:171px}
.ht-moreinfo>li .select option{padding-left: 5px;}
.jianjiemain{color: #666; padding-left: 5px; height:100px; line-height:20px; border:1px solid #ccc;resize:none; width:480px}
.ht-moreinfo>li select{ border:1px solid #ccc; height:30px; width: 40px;}

.ht-comp-phot { overflow:hidden;}
.ht-comp-phot li{ float:left; width:150px; height:150px; border:1px solid #f1f1f1; margin-right:20px; margin-bottom:20px}
.ht-comp-phot li.uplord a{ width:150px; text-align:center; color:#ccc; font-size:16px; padding-top:40px; display:block; background:#f1f1f1; height:110px}
.ht-comp-phot li.uplord a:hover{ text-decoration:none; color:#888; background:#ccc}
.ht-comp-phot li.uplord a i{ display:block; width:150px}
.ht-comp-phot li .phot{ text-align:center; height:120px; width:150px; line-height:116px; background:#f7f7f7; position:relative}
.ht-comp-phot li .phot .del{ background:rgba(0,0,0,.6); background:#000\0; position:absolute; top:0; right:0; height:20px; color:#fff; width:30px; height:30px; line-height:30px; font-size:20px; cursor:pointer}
.ht-comp-phot li .phot img { width:auto; max-width: 100%; height:auto;vertical-align:middle; max-height:100% }.ht-comp-phot li input[type=text]{ height:30px; line-height:30px; width:140px; padding:0 5px; z-index:99}


.ht-des-phot{width: 100%; overflow: hidden; padding:5px;}

.ht-moreinfo > li input[type="text"].focus{border: 1px solid #F15858;}

.collect-list li .collect-edit-btn{ display:block;background:#3c3c3c;background:rgba(245,75,75,.8); position:absolute; height:30px; width:123px;line-height:30px; text-align:center; top:150px; color:#fff}
.collect-list li .collect-edit-btn:hover{ text-decoration:none; background:rgba(245,75,75,.9)}
.collect-list li .b1{ left:10px;}
.collect-list li .b2{ right:10px;}
.ht-yes button{display: inline-block;  display: inline\9; padding:10px 20px\0;  *padding:10px 20px; }
